[2019-02-22 15:29] horsburgh commented on #2763
@Maurier - Can we change the text in the "Type of relationship" dropdown to match the text that is displayed on the page? Also, while you are at it, can you fix the spacing? The display of multiple items puts them too close together. See my example above.

[2019-02-22 15:30] Maurier commented on #2763
@horsburgh - Sure thing!

[2019-02-22 15:45] cuahsimarko commented on #3183
So is that a "security" feature to try to capture robot behavior (hidden field that only a script would see)?

[2019-02-22 15:46] Maurier commented on #3183
Indeed. It looks like it's handled by Mezzanine.

[2019-02-22 15:51] cuahsimarko commented on #3183
Can we just get rid of Mezzanine? (I would normally discuss this in Slack but I've been dialing down my Slack usage lately, and I've already spammed a bunch of people with e-mails today, so just going to ask the question here)

[2019-02-22 16:03] Maurier commented on #3183
Bringing in others as they might know more than me about how we use Mezzanine. @pkdash, @hyi, @sblack-usu

[2019-02-22 16:16] sblack-usu commented on #3165
The code for this THREDDS Data Service message is in hs_app_netCDF.  It's probably appropriate to leave it in because we're using THREDDS for netCDF files.

[2019-02-22 16:18] #3153 closed

[2019-02-22 16:48] Maurier commented on #2763
Change of text:
![image](https://user-images.githubusercontent.com/2448568/53257230-e068e880-3686-11e9-9e11-ee6513d77855.png)

@horsburgh Let me know if this works

Spacing:
![image](https://user-images.githubusercontent.com/2448568/53257288-fc6c8a00-3686-11e9-856b-eb243e8f7a07.png)

[2019-02-22 16:51] horsburgh commented on #2763
Yes. That looks good. @Lizabrazil - I'm assuming that this will meet our needs. All of what the user now sees should be human readable.

[2019-02-22 17:11] Maurier commented on #3157
@pkdash I will create another issue where we can document exactly where we need to get rid of page refreshes and put together a map of which components affect each other when they change.

Since we are headed in the direction of a single page application for the resource landing page, we could probably discuss SPA methodologies too.

[2019-02-22 17:15] cuahsimarko commented on #3157
If you have such a discussion please include me. I've worked on a few SPAs back in the day.

[2019-02-22 17:15] Maurier opened #3186 "Getting rid of page refresh when updating Resource Landing page items"
In this issue we will document our plan to get rid of page refreshes when updating Resource Landing page items. As of now, we have done so by using ajax calls, but this is a bit repetitive to extend.

We can also discuss the possibility of turning this form into a single page application with well known tools like Redux (https://redux.js.org/).

[2019-02-22 17:16] Maurier commented on #3157
@cuahsimarko - Awesome! I'm very glad to hear that.

[2019-02-22 17:18] Maurier commented on #3186
@cuahsimarko, any general ideas on how to proceed on this? I think this page form will be a great candidate to turn it into a SPA.

[2019-02-22 17:33] Maurier commented on #3186
We will move this conversation to Slack and post our decisions back in this issue after.
![image](https://user-images.githubusercontent.com/2448568/53259819-52dcc700-368d-11e9-97c3-58cbd967b97d.png)

[2019-02-22 17:34] Lizabrazil commented on #2763
Thanks @Maurier @horsburgh  let's close this out and maybe continue discussion on what else we can do to make it explicitly clear which one should be used for associated journal publications. Maybe we just have a separate field for Cite the associated Journal Publication: _______

[2019-02-22 17:34] #2763 closed

[2019-02-22 17:44] Lizabrazil opened #3187 "New Field for Citing Associated Journal Publication"
let's discuss adding a more explicit field that allows the user to cite an associated Journal Publication. We can still keep the Relations field as well for the other relation types, but lets elevate the Journal publication field so users are more inclined to fill it out. "Data for associated Journal Publication: Citation/URL/DOI..." or "Cite associated journal publication: ...."

[2019-02-22 17:51] Maurier commented on #3022
@alvacouch, could you confirm this fix and close if it looks right?

[2019-02-22 17:54] horsburgh commented on #3187
@Lizabrazil - I don't think we need a new field. I think we just need clear directions on how to do this. We already have this capability in the existing relations.

The following show links to published documents, one is a paper, and one is a dissertation. The full citation is given for both in a section on the page called "References". What's missing?

![image](https://user-images.githubusercont

[2019-02-22 17:55] martinseul commented on #3156
I would also challenge the need to require the URL to resolve on creation, yes it looks as if it would prevent broken links but if the URL resolves at creation time then the user moves the file, the URL is broken, so we don't actually prevent broken url's, maybe a warning to the user at creation time would be sufficient but still allow the creation.

[2019-02-22 17:57] horsburgh commented on #3156
@martinseul - fair enough. This may be the only sensible way to address this as we can't get past third party authentication systems and I don't think we want to bar users from creating their references to content. I like the validation step that @hyi has created and your suggestion that we convert this to a warning, but don't prevent the creation of the reference.

[2019-02-22 18:12] Lizabrazil commented on #3187
I'm referring to only edit mode of a user adding info. Even after seeing the section that says References, I would know to go to related resources but then I wouldn't know which to select, this content serves as the data for, described by, cites, part of. I would have to think and guess or maybe try to find the examples in the Help Page.

I would say the banner information is enough but I've often

[2019-02-22 18:34] horsburgh commented on #3187
@Lizabrazil - we've already updated the drop downs so the more informative text is now in the drop downs for the user to select and not the base semantic terms - i.e., they can now select "The content of this resource serves as the data for" instead of the base term "isDataFor". See @Maurier 's most recent post on #2763

I like the text you suggested. @Maurier - one more change, can you change the

[2019-02-22 18:52] danames commented on #3165
I agree with Dave that this needs to be refactored so that we don't have
code for specific apps as part of HydroShare, but rather use the open with
capabilities...
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
President, International Environmental Modelling

[2019-02-22 19:57] Maurier commented on #3136
@dtarb, @Lizabrazil - I'm looking for ideas on which icon to use. Let me know if something from here works: https://fontawesome.com/v4.7.0/icons/

I could also create a custom icon if you have a suggestion.

[2019-02-22 20:13] Lizabrazil commented on #3136
The only thing I can think of is a file icon. @dtarb Do you not like Hamburger menus? I feel bad that I now suggested moving all tools to the tool bar because i think it's getting crowded and because of that tools are feeling hidden. Maybe there is a better solution to make these tools more visible? @engineSound Any ideas here?

[2019-02-22 20:17] Maurier commented on #3136
I gave this one a try:
![image](https://user-images.githubusercontent.com/2448568/53268745-27b1a200-36a4-11e9-8753-8d755a109612.png)

[2019-02-22 20:35] engineSound commented on #3136
@Lizabrazil I vote for hamburger menu. It first makes the layout clean, so people feel the space to breathe. Second, hamburger menu is already a familiar symbol of entry to options.

As to confusing icons, a good practice to convey clear message is to use a button built by  icon + text. See example below. Text assists human to interpret the icon. When we combine this practice with the hamburger me

[2019-02-22 20:53] hyi commented on #3175
@zhiyuli I have created a PR https://github.com/hydroshare/hydroshare/pull/3190 to fix this. The reason is that the urlopen() is blocked by this website as web spider/bot. To work around this, a web browser 'User-Agent' has to be added into request header and pass the request object to urlopen() rather than directly opening the url. I asked you to code review that PR. I also started the process to

[2019-02-22 21:07] hyi commented on #3156
@horsburgh @martinseul @zhiyuli I think we need to add some basic url validation to catch non-resolving URLs initially, e.g., there might be a typo or copy and paste error in the input url. While working on fixing another related issue #3175, I was thinking we may need to relax the URL validation a bit. For example, for a 403 forbidden HTTPError raised from url validation, we should probably pass

[2019-02-22 21:38] martinseul commented on #3156
OK so we agree on removing the mandatory requirement and have a warning instead @zhiyuli is this something you can take on?

[2019-02-22 21:55] zhiyuli commented on #3156
@martinseul
@hyi already fixed #3175 and a PR is under review. I would leave this ticket to @hyi as well.  Just one thing: this issue was initially found out on REST API. I assume loose the restrictions on RefFileType backend would fix both REST API and UI in one shoot, is that right? @hyi  Thanks

[2019-02-22 21:58] hyi commented on #3175
@zhiyuli park is deployed with the fix and I have verified that I am able to create a composite resource with this referenced url file now with the fix. The resource is here: https://park.hydroshare.org/resource/f7ac8f79b93449319bf8aee466355024/
However, I am not able to make this resource public. It always says the resource is missing keywords although I added keywords for sure. When I went back

[2019-02-22 22:01] hyi commented on #3156
@zhiyuli I believe so. That fix should work for both UI and REST API.
@martinseul I am only suggesting to relax url validation a bit to accommodate 403 forbidden URLs. Non-resolving URLs will still be blocked which I believe is a good thing.

[2019-02-22 22:25] zhiyuli commented on #3175
@hyi
Confirmed: the url issue is fixed on park

@Maurier @horsburgh
Confirmed: keywords didnt get saved; and I dont even see the "make public" icon

[2019-02-23 19:37] horsburgh commented on #3175
@hyi and @zhiyuli - I just created a new resource on www.hydroshare.org, added a reference to a website, keywords, abstract, etc. I saved it with no problems and made it public with no problems.

The buttons to make a resource public, private, etc. are no long on the page, they are in the manage access panel. Are you looking in the right place for the button?

I don't know what to say about the ke

[2019-02-23 19:41] horsburgh commented on #3175
@hyi - I was going to try on park, but I created a new account and never got the email to activate my account. I can't remember where I'm supposed to go to get that email.

[2019-02-23 19:43] cuahsimarko commented on #3175
This confused me for a while. I think you go to https://nginx1-beta.hydroshare.org:8443/webmail/src/webmail.php e-mailed you the pw

[2019-02-23 20:26] horsburgh commented on #3175
Something is different with respect to keywords on park versus www. I successfully created a new resource with keywords and referenced content and made it public on www. Trying to do the exact same things on park the keywords aren't saved, so I can't make it public.

But, you already knew this...

[2019-02-23 20:57] cuahsimarko opened #3191 "Profile page slow load"
When a user has 400+ resources, Profile Edit page takes 35 seconds to load. Test on http://qat.hydroshare.org:8000 as user czo ask a teammate for password

[2019-02-24 01:59] cuahsimarko commented on #3191
Start with `contributions` to see if that is the cause.

[2019-02-24 03:47] dtarb commented on #3136
I suggest an iRODS icon, similar to
![image](https://user-images.githubusercontent.com/3456833/53294764-3e422100-37aa-11e9-9df4-f2691fba56b4.png) from irods.org

I prefer to avoid a hamburger menu right now.  With a button it is one click.  With a hamburger it is two clicks and you have to go there to learn what each can do.  One click button you can hover over and learn.  Only when you really can

[2019-02-24 04:30] horsburgh commented on #3136
I would also prefer to not hide buttons behind multiple clicks if we don't have to.

[2019-02-25 15:17] hyi commented on #3175
@horsburgh Not sure what happened on park either. As long as it works on www, we should be good. I used Jenkins to automatically deploy my branch to park, but since local_settings.py is not in the branch any more, automatic deploy failed initially and I had to ssh to park to create a local_settings.py and rerun database migration and collectstatic. Probably in the process something went awry altho

[2019-02-25 19:18] cuahsimarko commented on #3191
With more realistic resource collections of 40 items, page load is closer to 6 seconds. Listing with low priority.

[2019-02-25 19:20] cuahsimarko commented on #2368
With more common use-case listings of 40 resources, load time is closer to 6 seconds. Unpinning issue, but leaving priority at medium to cover edge-case users with hundreds of items.

[2019-02-25 19:20] cuahsimarko commented on #2368
@Maurier do you want to remove yourself as assignee as this is likely a backend issue?

[2019-02-25 19:22] cuahsimarko commented on #3149
400 resources is an edge case. Unpinning, though the extent and depth of the issue warrant high priority Label,.

[2019-02-25 20:25] martinseul commented on #3136
Discussed this with the team and consensus is for now to move button into the row with other icons, we can use the icon Dave suggested

[2019-02-25 20:52] cuahsimarko commented on #3167
@Maurier is this issue not resolved by https://github.com/hydroshare/hydroshare/pull/3188

[2019-02-25 21:08] Maurier commented on #3167
@cuahsimarko This issue is indeed fixed with #3188. I will address code reviews for it soon.

[2019-02-25 21:18] cuahsimarko opened #3194 "Reimplement non-transitioned work"
Assess priority of and capture any relevant knowledge from this stale PR https://github.com/hydroshare/hydroshare/pull/2976 , while revisiting the enduser needs and getting visibility to the changes across Organizations. Finally, get implemented.

[2019-02-25 21:56] sblack-usu opened #3195 "HotFix 1.191.1"
### Issues in Release
- [x] #3171 Store resource file size in db

### Beta Deployment
- [x] Tested #3171 on Beta

### Production Deployment
- [x] Deployed to Production
  * Make manual changes to files identified in Beta Deployment
- [x] Maps API key is correct and maps are displaying correctly
- [x] check_resource www results match pre-deployment www results
- [x] Review the search and discovery

[2019-02-25 23:47] dtarb opened #3196 "Delete unused profile static media files"
If a user adds their CV to their profile, it is saved as a static media file, e.g. https://www.hydroshare.org/static/media/profile/tarboton_short_resume.pdf.  If the user clicks the button to delete their CV the View CV link is removed but the file remains and the link to the CV still works.  A user complained about this.

The behavior for profile pictures is similar.

We should
1. Delete the medi

[2019-02-26 06:13] dtarb commented on #3194
See also https://docs.google.com/document/d/1TEWjijx-ZR6NR_Zy-1GIOjy9ZqGkFb64cE_2d-OevFY/edit# and #2298 where DOI functionality was worked out in quite a bit of detail.

[2019-02-26 14:55] zhiyuli commented on #3180
Only "sources" got updated in the following code snippet

metadata_dict = {'funding_agencies': [{'agency_name': "NSF",
                                    'award_title': "Cyber Infrastructure",
                                    'award_number': "NSF-101-20-6789",
                                    'agency_url': "https://www.nsf.gov",
                                    },

[2019-02-26 15:21] Lizabrazil commented on #3187
Feel free to close this out when text change is completed @Maurier

[2019-02-26 15:37] Lizabrazil opened #3198 "Add text about acknowledging CUAHSI to publication agreement pop up"
CUAHSI has acknowledgement policies so that the community remembers to cite CUAHSI in their publications. We need to add some text to the publication pop up that says:

new header after "Upon submitting..." and before "Please confirm...":
"Acknowledgements"

You are responsible for assuring acknowledgment of material based on or developed with NSF support in any publication, including web pages. T

[2019-02-26 15:52] Lizabrazil commented on #3198
One thing we need to keep track of, the NSF grant number will change soon.

[2019-02-26 17:11] #3195 closed

[2019-02-26 18:04] #3171 closed

[2019-02-26 18:32] sblack-usu opened #3199 "Release Checklist 1.20"
### Issues in Release
- [x] #3076 Fix irods containers to persist beyond a system reboot or docker comp @cuahsimarko
- [x] #3104 New dev build @cuahsimarko
- [x] #2955 pop up after keywords and abstract are included is incorrect @Maurier
- [x] #2873 Profile changes are not cancelled after cancel button click @engineSound
- [x] #2276 When creating new resources, author and owner middle initials are

[2019-02-26 18:47] dtarb commented on #3198
I am fine adding this wording.

[2019-02-26 19:31] Lizabrazil opened #3200 "Create banner to cover cookies use"
We need a banner about cookies:
Minimum that is NOT GDPR compliant:
"This website uses cookies improve your HydroShare experience. By using this website, you are agreeing to the use of cookies as explained in our privacy policy."

Better that is GDPR compliant:
If we want to be GDPR compliant we need to go further: 1. require consent via check ok or opt out in the banner 2. Provide more explicit i

[2019-02-26 21:46] sblack-usu opened #3201 "Truncate file path for open with"
Looks like an update to how we're handling the data-url for file downloads caused open-with to break for keys that involved the path.

HS_JS_AGG_KEY and HS_JS_FILE_KEY now include the full download path starting with /resource/res_id/data/contents/path/to/file.  Split the string to get everything under the contents directory.

[2019-02-26 21:50] kjlippold commented on #2992
Alright, I've tested it on www.hydroshare.org and method link will now be valid with either a url or null value as defined in the schema found here:
https://drive.google.com/drive/u/0/folders/0B8eTpsoVua0KWEp0eTBoSzlUbjg

[2019-02-26 21:50] #2992 closed

[2019-02-27 00:07] dtarb commented on #3200
@Lizabrazil you assigned this to me, but I am going to stall/punt on this a bit and pass it back to you as I am not sure what I can add.  The principle involved is that we should do what it takes to be GDPR compliant so I do not think there is any value in the minimum option.

For the more explicit option a decision to monetize the site using ads has not been made and would need to be a CUAHSI bus

[2019-02-27 01:14] aaGharib opened #3203 "jupyter.cuahsi.org server is not working"
I am trying to access my data of cuahsi jupyter notebook, but it gives me this message !

500 : Internal Server Error
Failed to start your server. Please contact admin.

[2019-02-27 15:00] martinseul commented on #3156
as expressed above a warning seems sufficient for me, we don't have restrictive enforcement in other places, also @zhiyuli mentioned the HS_restApi does not report a meaningful error message it just fails, so we have a restrictive API but no way to communicate this back to a user. As i'm all for improving the metadata for resources, in this case my vote would be a warning and not adding special ca

[2019-02-27 15:10] hyi commented on #3156
@martinseul I am not really sure how a warning would work. Do you mean just popping up a warning box indicating to users that the URL is not resolvable, and do you want to continue to create this resource with a non-resolving URL, then if the user chooses yes, the system just create the resource with this non-resolving URL, and if no is chosen, the system bails out without creating the resource? I

[2019-02-27 20:17] kjlippold opened #3204 "Editing keywords removes existing keywords and new keywords aren't added on beta."
On beta.hydroshare.org, if I try to edit the keywords of an existing resource, all keywords are removed, and new keywords aren't saved. If the resource was public, it will be made private. This makes it impossible to make a resource public. This doesn't seem to be an issue on www.

This looks like it might be related to this closed issue:

https://github.com/hydroshare/hydroshare/issues/1743

Is t

[2019-02-27 20:40] hyi commented on #3204
This looks like having connections to what I experienced on park which was deployed using code more recent than what is deployed on www. For details on the problem of adding keywords and making the resource public, see https://github.com/hydroshare/hydroshare/issues/3175 toward the end of the message thread. @sblack-usu Any idea on what code changes since www deploy could have caused this regressi

[2019-02-27 20:44] Lizabrazil opened #3205 "Issues with Last updated field on Resource landing page"
@dtarb @horsburgh @Maurier @martinseul Please add additional details.

The last updated field on the resource landing page updates each time the page is viewed and it does not account for who views the resource. For example, if Christina creates a resource and adds Liza as an author, then the resource landing page says Last Updated date/time by Christina. If Liza opens that shared resource, the La

[2019-02-27 20:58] zhiyuli commented on #3128
@dtarb @pkdash
Is this the right ticket where concerns and edge cases regarding "Generic to Composite migration" should be noted?

[2019-02-27 21:27] sblack-usu commented on #3204
Nothing comes to mind, but we should certainly work this out.  Beta currently has the generic resource migration code in #3101 , which is also caught up to develop, so it could be anything merged since 1.19.1

[2019-02-28 00:52] dtarb commented on #3128
@zhiyuli yes.  If they are ONLY for generic to composite they could be discussed in #3100.  This issue is for any type migration issue.

[2019-02-28 14:25] zhiyuli commented on #3100
[Copied from PR #3101]

@danames @martinseul @dtarb @kjlippold
Concerns regarding WebApp Res Type and Apps
1) WebApp Res Type: Remove option "Generic" from "SupportedResType" checkbox list (thanks @hyi )
![image](https://user-images.githubusercontent.com/10070599/53523030-f583b400-3a98-11e9-84b3-74e19fbb0725.png)
2) Existing WebApp resources: Replace checked "Generic" with "Composite Resource Type

[2019-02-28 15:52] pkdash commented on #3100
@dtarb Let me know if I should address @zhiyuli suggested change items 1 and 2 above as part of the current PR #3101. It probably be better to address these 2 issues in a follow up PR.

On item 3, it should be possible to make that change in REST API, but I am not sure if we should.

[2019-02-28 16:18] pkdash commented on #2405
@horsburgh and @Maurier
Currently we hitting the database 2 times for each resource - once to to get the keywords and the other one to get creators. That means if the user has 50 resources, we are querying the database 100 times. The keywords and the creator name seem to be used in resource filtering shown below.

![image](https://user-images.githubusercontent.com/2523434/53580591-f6c0e980-3b49-11

[2019-02-28 16:30] AhGharib commented on #3203
It is working now.

[2019-02-28 16:31] aaGharib commented on #3203
It is working now.

[2019-02-28 17:03] sblack-usu opened #3206 "resource updated time is updated on view and download"
With the resource landing page redesign, a view and download count was introduced to the Resource model.  These counts are updated each time the resource page is loaded or the resource is downloaded, which triggers a save that hooks into mezzanine's TimeStamp model which automatically updates the updated time.
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L1672

Proposed

[2019-02-28 17:06] sblack-usu commented on #3206
@pkdash @hyi - Please review and let me know if you agree with the proposed changes or have any other ideas.  We noticed after 1.19.1 was released that the last updated time always reflects the current time that you're viewing.  We initially thought it was due the resource size change, but after further investigation, I've found the view_count and download_count on the resource model to be the rea

[2019-02-28 17:50] pkdash commented on #3206
@sblack-usu Since we store the resource update as part of the metadata, we can use that in resource landing page.

https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/utils.py#L469
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L646

[2019-02-28 17:53] pkdash commented on #3206
Mezzanine is a big headache for HydroShare. Hope one day we can get rid of it.

[2019-02-28 17:55] sblack-usu commented on #3206
Thanks @pkdash.  I think we should be able to use that date easily.  And it will restore the actual "last updated" time... which is a pretty big win.

[2019-02-28 17:59] hyi commented on #3206
@sblack-usu @pkdash Agreed - it should be pretty easy just to use modified date type in resource metadata for display on resource landing page to address this issue.

[2019-03-01 02:03] gopalam opened #3208 "Mistaken name of a Readme.txt to Readme.md gives an error page"
I was looking to render text via readme.txt. When my file did not render after a few refresh attempts, I did not think through and renamed the file as .md file (which it was not a markdown format file), and uploaded to the resource landing page.
The mistake took down my resource landing page for this particular dataset. My apologies for the mistake. Could my archive be revived?

[2019-03-01 03:46] dtarb commented on #3100
@zhiyuli I do not think that items 1 -2 should be handled as part of the PR.   I do not think it is practical to handle them automatically, and in any event I think a separate process is needed to sort out web apps.  There are only about 60 web apps and many are obsolete, so a manual audit is necessary in any event.

For item 3 I would like @sblack-usu (as product owner for the REST API) to addres

[2019-03-01 04:26] dtarb commented on #3208
Please give the identifier of the problem resource or your name so we can find it and take a look.  You should be able to see the resource listed on My Resources and right click copy link location in the title to get the resource landing page URL without opening the landing page.

If you have the data and have not made any references to this specific resource it may be easiest to create a new reso

[2019-03-01 05:11] horsburgh commented on #3208
Also - it might be useful to have a look at the readme file you renamed. If it's small enough, I think you can just upload it in this issue. Markdown files are just text files with a .md extension. They may contain markdown formatting, but ultimately, it's just text. So, it would be useful to see if we can duplicate your error with your file so we can track down what caused this.

[2019-03-01 13:27] gopalam commented on #3208
Hi David
Thank you for this information. Here is the link to the resource identifier.
https://www.hydroshare.org/resource/252c0c060afd4d4798e78cb805e81887/
While the resource and metadata are small enough to recreate, we  linked it to a  proposal and report that we submitted right before this error occurred. So, it would be good if I can retain the identifier so that the access is not an issue for

[2019-03-01 13:39] gopalam commented on #3208
Hi Jeff.
Thank you for your efforts to fix this issue. I have attached the readme.md file with this email. I initially uploaded this text as a readme.txt file, but it failed to render .  I then mistakenly left the file in, and uploaded the same file as a renamed readme.md.  That was when the resource landing page showed the error.  The link to the resource landing page is here.
https://www.hydrosh

[2019-03-01 14:19] martinseul commented on #3180
@dtarb is this something @sblack-usu could look into, it is functionality we need to update the CZO metadata and if possible we can fix it and role out with 1.21

[2019-03-01 15:20] zhiyuli commented on #3156
I just talked to @hyi  on this issue. Since we still haven't reached an agreement on how to deal with all different kinds of "non-resolving urls" cases,  I would like to propose to add support to the "private url" case first-- a url requires for user authentication, which is currently needed by the CZO project.

We will keep this ticket open for further discussions on how to deal with other "non-r

[2019-03-01 15:38] horsburgh commented on #3208
I suspect there may be something else going on here. I copied the text in your comment above into a file called readme.md and uploaded it to a new resource on production HydroShare and the beta system. Both systems rendered the text of the readme file on the page. I also tried readme.txt on both systems, and that extension worked as well. I also tried renaming the files from .txt to .md after uplo

[2019-03-01 15:43] gopalam commented on #3208
Thank you for following up on this. I am pretty sure that the resource landing page started showing an error as soon as I uploaded the readme.md file and refreshed. Perhaps there is something else that occurred at the same time. I will go ahead and re-create my archive. If it helps, I will leave the current, non-functional one,  as is for now.
I appreciate your help.
Gopal
On 3/1/2019 10:38 AM, Je

[2019-03-01 15:46] dtarb commented on #3180
Yes.

[2019-03-01 15:49] martinseul commented on #3156
We do need a solution for this to support the CZO migration and it should go out with 1.21, if possible, so we can scope it to just that for now and use the mechanism @hyi  suggested above. How much effort is it to add the support for private urls to the validation?

[2019-03-01 15:53] hyi commented on #3156
@martinseul It'd be an easy fix if we decide to go with what I suggested above, i.e., relax URL validator a bit to allow private URLs to pass through. So I assume the answer is yes and I can go ahead to create a PR to take care of this private URL issue?

[2019-03-01 15:57] zhiyuli commented on #3156
@hyi
Great! Let's fix it. Thanks!

[2019-03-01 15:57] horsburgh commented on #3156
We can of course do whatever is needed to support the CZO people, but I still have to ask why we are creating references to content that nobody can access. I guess I still don't really understand the use case. If the files are only for internal CZO use, does a reference to them belong in a public resource in HydroShare?

In any case, our design document said that we would not preclude users from c

[2019-03-01 15:59] dtarb commented on #3156
Following the principle of putting the user in control, but keeping them informed and helping them as much as possible, I would be happy to accept the following solution
1. User enters a URL
2. HydroShare attempts to validate the URL.  If the URL validates, all is OK
3. If the URL can not be validated, HydroShare displays a message that says "Unable to validate URL Link.  This may be due to an err

[2019-03-01 16:01] dtarb commented on #3156
We would also need to address invalid URL's in the API.  I suggest an API argument (also not a default) that allows a script to bypass the URL validation associated with API reference link creation.

[2019-03-01 16:09] hyi commented on #3156
@dtarb I agree with the principle of putting the user in control, but in this case I don't see any point in allowing users to create a non-resolving URL, i.e., a URL that will not resolve even from a web browser. What happens when a user requests to open this non-resolving URL? A server error would resolve. Although we should put users in control, we should also recognize potential user errors and

[2019-03-01 16:09] zhiyuli commented on #3156
@dtarb
I agree with your suggestion as it is a comprehensive solution for long term. However, I am concerned this would complicate the development and delay the fix for "private url" case. For this stage, I would like to have @hyi  fix "private url case" as simple and quick as possible.

[2019-03-01 16:17] dtarb commented on #3156
There could be cases where the URL is a DOI.  The user knows what the DOI is but it has not been registered yet (e.g. paper not published yet).  This would allow a user to create the reference.  There could also be URL's that really do work (like were reported in #3175, but for some reason HydroShare validator does not recognize that.  This provides the user a way to get around imperfections in th

[2019-03-01 16:21] dtarb commented on #3156
I think it would be hard for @hyi to guarantee that our URL validator has addressed all possible URL behaviors and exceptions.  We did not anticipate #3175.  There may be other things we do not know.  We need to give the user an out, so that next time a tricky problem occurs we do not have to scramble to "fix" it, because the user can "fix" it.

[2019-03-01 16:27] hyi commented on #3156
@dtarb DOI example is a valid example I haven't thought of. However, issue #3175 has been fixed and the PR has been merged into develop. URL validator may still have flaws we need to fix along the way on a case by case basis, but it is always good to catch non-resolving URL from the start in my opinion. If the decision is to not validate URL at all and left it all to users with a warning, which is

[2019-03-01 16:30] horsburgh commented on #3156
@hyi - I don't think @dtarb is suggesting that we not validate the URL. He is suggesting that we try to validate the URL and if it fails, we let the user decide what they want to do. I am OK with this approach.

[2019-03-01 16:41] hyi commented on #3156
@horsburgh OK. Sorry for the confusion, but what I meant was that we would not be enforcing URL validation any more, and the user would be in control, meaning if they want to create an invalid URL, they could. On second thought, I guess the warning would be sufficient for users to take a second look at the URL, and in DOI case @dtarb brought up, they would choose just go ahead to create the resour

[2019-03-01 16:54] martinseul commented on #3156
Thanks that approach works for me.

[2019-03-01 17:26] dtarb opened #3209 "Allow publication of a resource with a validated DOI reference"
I would like to allow publication of resources that have a reference that is a validated DOI, and that meet all other metadata requirements for publication.   I do not think we should let a link preclude the publication of a resource that has otherwise publishable stuff in it.   The effect of precluding this publication would be to have users who want to publish, reduce information by deleting the

[2019-03-01 17:27] dtarb commented on #3156
Because @hyi asked the question, I would like to allow publication of resources that have a reference that is a validated DOI, and that meet all other metadata requirements for publication.  This can be put as a separate issue for future implementation (I just filed #3209), but I would not like to let a link preclude the publication of a resource that has otherwise publishable stuff in it.   The e

[2019-03-01 18:11] kjlippold commented on #3204
Just as an update, I'm still running into this issue with beta.hydroshare.org. I've tried it in Safari, Chrome, and Firefox. When I type in a keyword and click add, it's added to the list, but the banner at the top requesting keywords be added doesn't go away, and I'm not getting any error messages. The option to make the resource public also remains greyed out. When I refresh the page, the keywor

[2019-03-01 18:17] horsburgh commented on #3199
I can confirm that the keywords issue is not resolved on Beta.

[2019-03-01 18:19] horsburgh commented on #3199
Also - in testing readme functionality, I noted that new lines are not being handled correctly for readme.md files. I've reported this to @Maurier with demonstrating data.

[2019-03-01 18:22] sblack-usu commented on #3199
I was aware of the keywords issue, but haven't taken the time to look into it yet.  This could be a blocker for 1.20, so I'll take a look now.

[2019-03-01 18:23] horsburgh commented on #3199
@Maurier has fixed the larger issue with readme files, so I don't think that one is a blocking issue, but it would be great to get it fully sorted.

[2019-03-01 19:05] sblack-usu commented on #3199
I did some investigation into the keywords and nailed it down to a commit.  https://github.com/hydroshare/hydroshare/commit/e16ded601b0b81c95176f40d1d836572819b6469

I've asked @Maurier to look at it and he indicated he knows what's going and how to fix it.  He'll get time to work on it this evening.

[2019-03-01 19:07] hyi commented on #3069
@dtarb I checked with @sblack-usu that the updated hs docker base image that includes my updated irods python client library version has been included in the latest deploy, so can you check on www or beta to see whether this issue has been resolved? I cannot check it myself since the password I have does not work at more.

[2019-03-01 19:22] dtarb commented on #3069
I did not change the password, but I will check.

[2019-03-01 20:22] cuahsimarko commented on #3168
Fixed in https://github.com/hydroshare/hydroshare/pull/3114

[2019-03-01 20:22] #3168 closed

[2019-03-01 20:54] sblack-usu commented on #3204
https://github.com/hydroshare/hydroshare/issues/3199#issuecomment-468775614

[2019-03-03 16:54] pkdash opened #3211 "My resources page loading time improvement"
Optimization of database query that generates the list of resources.

[2019-03-04 01:13] cuahsimarko commented on #3211
I've added myself as additional "Assignee", because I don't know of any other way to "Watch" this issue and have it in a list of things that interest me.

[2019-03-04 15:20] pkdash commented on #3211
@cuahsimarko It seems to get a reasonable page load time we have to have pagination. I can add resource sorting to the backend so that it works with pagination. I know some people don't like pagination others may prefer pagination with faster load time. May be we  should allow the user to set that choice in their profile page.

[2019-03-04 15:22] cuahsimarko commented on #3211
@pkdash The reason why pagination isn't being used right now, is due to the changes needed to support proper sorting. Also, the status of the filtering checkboxes and refresh are not completely documented (existing bugs). The more basic elements of the page should be fixed before adding more features.

[2019-03-04 15:28] cuahsimarko commented on #3211
@pkdash The urgency for the fix also was downgraded, after splitting the high number of Resources into the proper accounts, reflecting a more realistic/majority use case. Others with performance problems are still outliers.

[2019-03-04 17:07] Maurier commented on #3136
In order for the icon to look consistent with the rest of the icons I had to also import it as a font so that it keeps the same styling as the other ones. I created font files that we can maintain with our own custom icons. It works similar to icon packages we are using like Bootstrap's glyphicons and FontAwesome.

I also added documentation on how to add new icons: https://github.com/hydroshare/h

[2019-03-04 17:12] dtarb commented on #3136
I like it.  Thanks.

[2019-03-05 05:44] hydrocheck opened #3214 "Incorrect version displayed on Beta"
Version displayed should be 1.20

[001.zip](https://github.com/hydroshare/hydroshare/files/2929469/001.zip)

[2019-03-05 05:46] hydrocheck opened #3215 "Large files are rejected, but resource creation process continues without warning"
If you upload a large file (e.g. 2GB), then click Create Resource, it appears as though everything is working fine.  However, the file is not in the resulting resource contents.  there is a red glow around the file, but better warning of the 1GB limit would be ideal here.

[002.zip](https://github.com/hydroshare/hydroshare/files/2929474/002.zip)

[2019-03-05 05:47] hydrocheck opened #3216 "Add Author text is misaligned in IE11 browser"
Click on "Add Author" on a resource page.  The text is misaligned in IE11 browser

[003.zip](https://github.com/hydroshare/hydroshare/files/2929475/003.zip)

[2019-03-05 05:48] hydrocheck opened #3217 "Can't add new Author Identifiers in IE11"
The button doesn't work when going to a resource page, then "Add Author", then the button under the Author Identifiers.

[004.zip](https://github.com/hydroshare/hydroshare/files/2929477/004.zip)

[2019-03-05 05:48] hydrocheck opened #3218 "Can't open link to author profile from resource pages in IE11"
Can't open link to author profile from resource pages in IE11.  Please see the video

[005.zip](https://github.com/hydroshare/hydroshare/files/2929478/005.zip)

[2019-03-05 05:48] hydrocheck opened #3219 "Owners modal is poorly cropped/styled in IE11"
Owners modal is poorly cropped/styled in IE11

[006.zip](https://github.com/hydroshare/hydroshare/files/2929480/006.zip)

[2019-03-05 05:49] hydrocheck opened #3220 "Subject Keywords cannot be added in IE11"
If the user navigates to a resource page in IE11, and then tries to add a subject keyword, the action will not go through.

[007.zip](https://github.com/hydroshare/hydroshare/files/2929483/007.zip)

[2019-03-05 05:50] hydrocheck opened #3221 "The navigation that usually stays at the top of the screen (for quick use) works differently in IE11"
The navigation does not move with the page (stay fixed on the screen), as is usually expected with the other browsers.  This is on the resource page.

[008.zip](https://github.com/hydroshare/hydroshare/files/2929485/008.zip)

[2019-03-05 05:51] hydrocheck opened #3222 "The "No Extended Metadata" message does not display on IE11"
Compare Chrome to IE11 images.  The "No Extended Metadata message should presumably be displayed - it is not for IE11.  Rather, just the table header is there.

[009.zip](https://github.com/hydroshare/hydroshare/files/2929488/009.zip)

[2019-03-05 05:53] hydrocheck opened #3223 "Additional metdata can't be added in IE11"
On the resource page, the additional metadata (+) button does not work.

[010.zip](https://github.com/hydroshare/hydroshare/files/2929490/010.zip)

[2019-03-05 05:53] hydrocheck opened #3224 "No handling of long keywords in resource pages"
A "..." or other truncation would generally be expected for long keywords in the resource pages.  However, there is no handling like this, and the keyword instead messes up the interface.

[011.zip](https://github.com/hydroshare/hydroshare/files/2929495/011.zip)

[2019-03-05 05:54] hydrocheck opened #3225 "Lots of save changes buttons on Web App resource page, but only in IE11"
Please compare the attached images.  In IE11, the Save Changes shows up a lot for some reason.

[012.zip](https://github.com/hydroshare/hydroshare/files/2929496/012.zip)

[2019-03-05 05:54] hydrocheck opened #3226 "Searching users to add as contributors does not work in IE11"
If you create a Web App resource, then try to add contributors, you'll find that the user search feature doesn't work like other browsers.  Namely, the search doesn't work at all.

[013.zip](https://github.com/hydroshare/hydroshare/files/2929499/013.zip)

[2019-03-05 05:55] hydrocheck opened #3227 "A couple issues with new markdown readmes for resources"
As the defacto open source git repository service, the appearance of README.md files on GitHub would be a good standard to compare our new markdown rendering system.  When doing so, using a example projects https://github.com/chjj/ttystudio/blob/master/README.md and https://github.com/Yoast/wordpress-seo/blob/trunk/README.md, a couple notable differences become evident.
1) Code blocks are not supp

[2019-03-05 05:58] hydrocheck commented on #3199
1.     https://github.com/hydroshare/hydroshare/issues/3214
2.     https://github.com/hydroshare/hydroshare/issues/3215
3.     https://github.com/hydroshare/hydroshare/issues/3216
4.     https://github.com/hydroshare/hydroshare/issues/3217
5.     https://github.com/hydroshare/hydroshare/issues/3218
6.     https://github.com/hydroshare/hydroshare/issues/3219
7.     https://github.com/hydroshare/hyd

[2019-03-05 15:12] hyi commented on #3156
@dtarb @sblack-usu @zhiyuli While working on not enforcing URL validation when creating referenced content, I will make url validation as a separate internal view function for UI to call via ajax to see whether a url is valid or not so as to show a warning dialog or not on the UI side, and make two view functions (also exposed to REST API), add reference url and edit reference url, to do what they

[2019-03-05 15:49] sblack-usu commented on #3199
What is hydrocheck???

[2019-03-05 15:50] sblack-usu commented on #3214
Updated on beta

[2019-03-05 15:50] #3214 closed

[2019-03-05 15:54] hyi commented on #3199
I believe hydrocheck is an agent user from Neil's selenium tests.

[2019-03-05 16:00] sblack-usu commented on #3156
I'm comfortable placing url validation on the rest api user.  The rest api is used for automated tasks, so it's less likely to receive an invalid url anyways.  The other option is to add a flag to skip url validation in the rest api.

[2019-03-05 16:11] hyi commented on #3156
@sblack-usu This will create inconsistency between REST API and UI since we will not enforce URL validation on UI as detailed above. In the example @dtarb brought up above, a DOI URL to be published but not yet published is treated as a non-resolving URL, so we should allow users to create a referenced content using this URL even though it is non-resolving and invalid at the time the reference con

[2019-03-05 16:16] hyi commented on #3156
@zhiyuli Thanks for the input. Yes, I'll go with that option as stated above.

[2019-03-05 20:50] hyi commented on #3156
@dtarb @horsburgh @martinseul @zhiyuli @sblack-usu I got this new workflow working for adding referenced content with a non-resolving URL. Do we need to support non-resolving URLs for editing referenced URL? I am leaning toward keeping the current behavior, i.e., always validate URL when editing an existing referenced URL, so if you try to put in a non-resolving URL when editing an existing URL, y

[2019-03-05 20:53] sblack-usu commented on #3156
I think create/edit should be consistent with validation.  If we have a reason to bypass validation with creation, that same reason is applicable for editing.

[2019-03-05 21:01] hyi commented on #3156
@sblack-usu Fair enough, I agree consistency is always a good thing. I'll just modify edit referenced url behavior to not enforce url validation then to be consistent with create referenced url.

[2019-03-05 22:39] Lizabrazil commented on #3136
@dtarb @Maurier  I think this came up on the Monday call but i cannot exactly remember. I see the copy icon (the two squares one
![image](https://user-images.githubusercontent.com/13852599/53842486-9f69b180-3f6d-11e9-984d-b3d0051d5959.png)
) on beta. Is the IRODs icon making it into 1.20? I will wait to update the documentation until the irods icon goes out so I don't do it twice.

[2019-03-05 22:42] Lizabrazil commented on #3199
@dtarb To follow up on documentation, I do not think any documentation needs to up updated with this release (besides the Irods icon which is asked about in the #3136)

[2019-03-05 22:44] Maurier commented on #3136
@Lizabrazil The code that adds the icon is pending code review. @sblack-usu might now if we can include it in 1.20.

[2019-03-05 22:48] Lizabrazil commented on #3136
@Maurier thanks!

[2019-03-06 14:32] cuahsimarko opened #3229 "Remove old NetCDF template contents"
This folder : https://github.com/hydroshare/hydroshare/tree/develop/hs_app_netCDF/static is result of creating apps from a template during the early stage of hydroshare development. We should have deleted that folder long ago.

[2019-03-06 15:41] zhiyuli commented on #3156
Tested on park. Both UI and REST api worked as expected. Thanks @hyi

[2019-03-06 20:13] dtarb commented on #3156
@hyi I am happy to leave the testing of this to others.

[2019-03-06 21:00] hyi commented on #3156
@dtarb OK. You may want to take a look at the implemented warning dialog, though, since it is not implemented exactly as you suggested above. See the screen capture below. Let me know if you have any further suggestion on this.
![invalid_url](https://user-images.githubusercontent.com/476302/53913253-ea94ca80-4028-11e9-82e0-6dff52e3009a.PNG)

[2019-03-06 21:06] dtarb commented on #3156
If you can make it harder for them to "proceed", please do.  At a minimum, make Cancel the default, so they actually need to move mouse to proceed.  Also if (without making this too much work) it was possible to force clicking on a check box "I agree to proceeding to create a link that has not been validated" before enabling proceed, then that would help ensure that the choice is deliberate.

[2019-03-06 21:25] hyi commented on #3156
@dtarb Good idea. I have made Cancel the default action button and updated park with it. See the screen capture below. Since creating a referenced content with an invalid URL is not that critical, the user can later edit/update it as needed, and we don't allow resource with referenced content to be published as of now, and even if we allow such publication later, we would ensure URL is valid befor

[2019-03-06 21:27] dtarb commented on #3156
OK.

[2019-03-07 03:39] pkdash commented on #3199
The count for 'Resources owned by me' is not correct. This is a regression issue.

[2019-03-07 15:35] Maurier commented on #3199
@sblack-usu - I'm trying to create a new account on beta, but I do not get the verification email. Has this happened to anyone else?

[2019-03-07 15:50] Maurier commented on #3199
I'm not seeing the changes in https://github.com/hydroshare/hydroshare/pull/3185 included in this release which addresses the bullet point above.

[2019-03-07 16:07] sblack-usu commented on #3199
@Maurier - I think you have to use squirrel mail for beta.  I usually just login as an admin and activate a new account if I need one so I'm not sure what the credentials are...  Maybe @phuongdm could help out there?  https://nginx1-beta.hydroshare.org:8443/webmail/src/webmail.php

[2019-03-07 16:10] Maurier commented on #3199
@sblack-usu - Thanks for the clarification. I was able to test resource access with my current account, and gave access to another developer's account. As long as account creation works in www you can disregard my message above.

[2019-03-07 21:00] cuahsimarko opened #3232 "Update for builds"
Phuong Doan [3:36 PM]
please make a small change on develop on scripts/templates/docker-compose-local-irods.template:
from `image: mjstealey/hs_postgres:9.4.7` to `image: hydroshare/hs_postgres:9.4.7`

@alvacouch @pkdash @hyi @cbcunc @sblack-usu Phuong's understanding is that this change is just for something he needs in the build system. If it impacts your local developer setup or other environme

[2019-03-07 21:09] cuahsimarko commented on #3232
I'm also going to clean up local_settings.desired, which is not used anywhere.

[2019-03-07 21:15] cuahsimarko commented on #3232
Adding some helpful error suppression, but commented in the local_settings.template so by default it won't take any action and the developer must knowingly activate the suppressions.

[2019-03-07 21:24] sblack-usu commented on #3208
@gopalam It looks like you deleted the resource, could you confirm?  I have some time to look into this issue and will try to recreate if you've already deleted the resource.

[2019-03-07 21:28] sblack-usu opened #3234 "HydroShare template rendering improvements"
- [x] stop iterating over every page to generate the nav menu

[2019-03-08 00:44] dtarb commented on #3069
Thanks @hyi.  I verified that this is fixed on beta.  I'll verify on www once 1.20 deploys then close.

[2019-03-08 15:41] Maurier commented on #3227
Initially we wanted to implement our markdown exactly like GitHub's, but while we were searching for options, the only resources we found for GitHub's was an API (https://developer.github.com/v3/markdown/). We chose our own server side solution instead in the form of a Django package based of daringfireball's (https://daringfireball.net/projects/markdown/basics) in order to avoid making requests t

[2019-03-08 18:20] cuahsimarko commented on #3232
Agreed with Scott we'll keep issues open until releases.

[2019-03-11 17:00] cuahsimarko opened #3238 "Refactor hs_core > view > __init__.py"
Refactor endpoint functions and supporting functions into separate python files, essentially cleaning out most of __init__.py

This represents years of tech debt and is inappropriate to undertake, prior to completing CZO work for My Communities preview;  this cleanup work will be attempted after the My Communities feature branch/preview is done.

Working around the pre-existing poor conditions is

[2019-03-11 17:43] #3080 closed

[2019-03-11 17:45] #2977 closed

[2019-03-11 17:47] #2638 closed

[2019-03-11 17:47] #2765 closed

[2019-03-11 17:47] #3022 closed

[2019-03-11 17:47] #3065 closed

[2019-03-11 17:47] #3091 closed

[2019-03-11 17:47] #3102 closed

[2019-03-11 21:16] sblack-usu opened #3239 "Release Checklist 1.21"
### Issues in Release
- [x] #2763 (PR #3185) Update text in Add/Edit Relation modals @Maurier
- [x] #3183 Hide items in Comments section @Maurier
- [x] #2813 (PR #3112) Resource Landing Page: File Metadata View @Maurier
- [x] #2989 Unintuitive cursor settings for various interface elements @Maurier
- [x] #2765 (PR #3108) Fix for text input auto select on Zip Folder dialog @Maurier
- [x] #3204 Edit

[2019-03-13 19:28] Lizabrazil opened #3242 ""Create" should be moved to the top navigation with a dropdown"
During breakout group in HS meeting on 3/13 we collectively decided to move the Create new button to the top navigation.
- It should say "Create"
- It should have a dropdown with the Resource, Collection, Web app connector as options
- These will navigate to the Resource Landing Page (either composite, collection, or web app landing page)
- User will then add files on the resource landing page (we

[2019-03-13 19:28] Lizabrazil commented on #3242
@Maurier let me know if this is confusing and we chat further about it. Thanks!

[2019-03-13 19:30] Maurier commented on #3242
@Lizabrazil - Thanks. I will be contacting you later on for more details.

[2019-03-13 20:20] sblack-usu opened #3243 "Toggle public button without refresh"
Currently a new resource cannot be made public unless it has a title, keywords, abstract and file(s).  I determined that if you add a file after adding the others, the public button does not enable without a refresh.  However, if you modify keywords it will enable the public button without a refresh.

Update the file add process to enable the public button on upload if appropriate.  For guidance,

[2019-03-13 20:31] horsburgh commented on #3242
@Maurier - this is part of work we want to do to streamline the resource creation process. We also plan to remove the "Create Resource" page entirely and instead just take the user to a blank resource landing page for the thing they have selected and allow them to build/edit their content there.

@dtarb and @Lizabrazil and @sblack-usu - did we decide today to move up the removal of the Create Reso

[2019-03-13 20:37] sblack-usu opened #3245 "Update modified date on discover"
The list of resources on the discover page shows the wrong updated time.  We should be using the the res_modified_date saved in metadata, not the mezzanine updated field.

[2019-03-13 20:38] sblack-usu commented on #3245
@alvacouch - I assigned you because you have the most familiarity with with solr.  If you don't have time to make the change, please leave some guidance on how to make the change.

[2019-03-13 20:38] dtarb commented on #3242
Here are my suggestions
1. Change to top menu
![image](https://user-images.githubusercontent.com/3456833/54312670-1e2da280-459d-11e9-9177-c9083c05e86a.png)

There are actually 7 items, not just 3.  As model resource types get deprecated, they will be removed, but we still need them at the moment.  I also suggest the words Resource and Web App Connector to start introducing users to these terms.

T

[2019-03-14 01:40] Maurier commented on #3215
The file will also show a more descriptive error message when hovered over.
![image](https://user-images.githubusercontent.com/2448568/54325370-6bbf0500-45c7-11e9-9f25-ceb7b1822144.png)

However, this entire page will be obsolete and removed with changes to the resource creation process in https://github.com/hydroshare/hydroshare/issues/3242 in the near future. For this reason we probably won't be

[2019-03-14 22:34] engineSound opened #3248 "Introducing Dashboard"
Dashboard will be the new home page after login.

[2019-03-14 23:42] dtarb commented on #3069
Fixed with 1.20.1

[2019-03-14 23:42] #3069 closed

[2019-03-17 21:13] pkdash commented on #3158
@dtarb I think this can be closed.

[2019-03-17 21:13] pkdash commented on #3115
This has been fixed. Closing.

[2019-03-17 21:13] #3115 closed

[2019-03-17 21:14] pkdash commented on #3119
This has been fixed. Closing

[2019-03-17 21:14] #3119 closed

[2019-03-17 21:16] pkdash opened #3249 "Migrate geographic raster resources to composite resource type"
As part of this migration, each geographic raster resource will be converted to a composite resource that would contain one geographic raster aggregation/filetype.

[2019-03-18 15:51] Lizabrazil opened #3251 "A resource that requires license agreement before downloading will not download"
Try downloading content from this resource that has the user accept agreement before downloading. I reproduced this issue.
https://www.hydroshare.org/resource/732493def7a24b5596203401a3f23706/

[2019-03-18 15:56] Lizabrazil commented on #3251
This issue and https://github.com/hydroshare/hydroshare/issues/3243 are high priority user facing issues with core functionality.

@ndebuhr Can you add this to your automated testing functions?

[2019-03-18 16:39] sblack-usu commented on #3251
Just a clarification, this is for download a file or folder, not the bag.

[2019-03-18 16:55] Lizabrazil commented on #3251
i found that both do not work with this condition of require rights pop up

[2019-03-18 17:23] sblack-usu commented on #3251
Looks like @Maurier is on it already with a commit.

[2019-03-18 17:25] Maurier commented on #3251
@sblack-usu - Yes, I have added this PR (https://github.com/hydroshare/hydroshare/pull/3252) addressing the issue.

[2019-03-18 17:44] Lizabrazil commented on #3251
@Maurier @sblack-usu Awesome, thank you!

[2019-03-19 20:40] cuahsimarko opened #3253 "Consolidate Resource Views"
Investigate and implement consolidating resource views across My Resources, Collaborate and Discovery if and where applicable. The relevant files are:

- theme/templates/pages/group.html
- hs_core/templates/pages/my-resources.html
- discovery TBD may need to remain separate

plus all the supporting backend js, python and relevant queries.

[2019-03-19 20:44] cuahsimarko commented on #3167
@Maurier is this done?

[2019-03-19 20:46] Maurier commented on #3167
@cuahsimarko - Yes, this has been deployed to www as well.

[2019-03-20 03:10] phuongdm commented on #3239
@sblack-usu ,

please remove `hydroshare/settings.py`, we won't use it while deploying anymore

[2019-03-20 13:27] hyi commented on #3239
@phuongdm ```settings.py``` is required by Django and should not be removed. Do you mean some other file?

[2019-03-20 14:52] phuongdm commented on #3239
I meant we no need to care about this file (Diff RC check list) while deploying, not while running HS :)

[2019-03-20 15:07] sblack-usu commented on #3239
oh, so just update the checklist to not include looking for changes in settings.py?

[2019-03-20 15:08] cuahsimarko commented on #3239
Seems legit

[2019-03-20 15:16] phuongdm commented on #3239
@sblack-usu yes

[2019-03-21 02:23] pkdash opened #3254 "Profile page loading time improvement"
Ref #3191

[2019-03-21 02:57] Maurier commented on #3239
@sblack-usu - I did a round of testing on beta of the issues I worked on. I checked off the ones that look good. However, I don't think the PRs for the bullet points below are included in this release candidate. Could you confirm?

- [ ] #2763 (PR #3185) Update text in Add/Edit Relation modals @Maurier
- [ ] #3251 (PR #3252) A resource that requires a license agreement will not download @Maurier

[2019-03-21 14:54] sblack-usu commented on #3239
@Maurier - You are correct that #3251 was not included, however I was hoping to include it when I put together the checklist before it was merged to develop.  It's now been pulled into the RC as well.

#2763, according to the PR was merged 20 days ago, so it should be included.  Is the functionality just not there or is there more work to be done?  I can help you hunt it down in the git history if

[2019-03-21 17:55] Maurier commented on #3239
@sblack-usu - I'm not sure why, but https://github.com/hydroshare/hydroshare/pull/3185 didn't make it into the develop branch. I see it merged, but I cannot find the commit in the history of the file. The work in this PR is missing from our develop branch. We'll have to add it back.

[2019-03-21 18:34] sblack-usu commented on #3239
It kind of looks like it was reverted.  I see the commits in develop's history, but the changes aren't there.  I'll look into it more and see if I can explain what's going on.

[2019-03-21 18:50] sblack-usu commented on #3239
@Maurier - The landing page commit shows up just fine.  https://github.com/hydroshare/hydroshare/blame/develop/theme/templates/resource-landing-page/references.html#L182

[2019-03-21 18:58] Maurier commented on #3239
@sblack-usu - I see. It seems like only the changes in https://github.com/hydroshare/hydroshare/pull/3185/commits/6f5e646dd110cbbb022efb445cc50b600320c2fb and https://github.com/hydroshare/hydroshare/pull/3185/commits/b46df2f530b2280bfe3955d53ef0367220b2219e are missing.

[2019-03-21 19:02] sblack-usu commented on #3239
I'm not exactly sure what happened there, but we can fix it with a cherry-pick of those two commits.  Here is a PR for that.
https://github.com/hydroshare/hydroshare/commit/6b09888f446df31415bdd0d43826e57a700499ee?diff=unified

[2019-03-21 19:26] cuahsimarko opened #3258 "Django Template Repetition - page and base"
DRY it up. Investigate Django template inheritance and consider removing repetition, for example page.html has {% load mezzanine_tags keyword_tags inplace_edit %} and it extends base.html, which has {% load pages_tags mezzanine_tags i18n staticfiles theme_tags hydroshare_tags %} probably harmless to repeat mezzanine_tags, but consider cleaning up.

[2019-03-22 02:58] sblack-usu commented on #3239
@Maurier - #3185 is deployed to beta and ready for you to test.

[2019-03-23 22:32] pkdash opened #3259 "Geo Feature Resource type icon missing in my resources page for RC-1.21"
This is a regression issue.

[2019-03-23 22:49] pkdash commented on #3239
My resources page missing resource type icon for geo feature resources. This is a regression issue. I have created a PR as a hotfix: #3260

[2019-03-23 23:21] pkdash commented on #3239
@sblack-usu In relation to testing issue #3101, I see there are still generic resources on beta. I assume then the management command for migrating generic resources yet to be run on beta resource.

[2019-03-24 16:42] dtarb opened #3261 "Some improvements needed to references"
This follows on from #2763 which was closed.

@horsburgh and @Lizabrazil  please take a look at this.  I think @Maurier can fix the presentation aspects of this, but the review of how metadata is handled needs design level input.

I think there is ambiguity between "Sources" and "Related resources".  In particular "Derived from" which is the only option under "Sources" is explained as "data in you

[2019-03-24 17:04] pkdash commented on #3239
Filtering on 'Author' or 'Subject' on my resources page is not working - a regression issue.

[2019-03-24 17:22] dtarb commented on #3239
@pkdash the plan for 1.21 is that while the management command is in this release that it will not be run on www.  There are a few reasons for this.
1. We need to appropriate messaging to warn users about this resource type change.
2. We need some work on apps that may still create generic resources
3. Testing of some of the problem resources in #3101 has not been fully resolved
The plan for this

[2019-03-24 17:55] hydrocheck opened #3262 "Non-utf8 characters cause issues in resource READMEs"
Intense error comes up if non-utf8 characters are used in a resource readme.

[001.zip](https://github.com/hydroshare/hydroshare/files/3000651/001.zip)

[2019-03-24 17:56] hydrocheck opened #3263 "When adding an author website, the protocol is required but that's not made clear"
When adding an author website, it will reject domains without the protocol.  For example www.example.com.  I'm not aware of a way to have a website run on something besides http/https, so the protocol seems unnecessary.  Additionally, the error message is not very helpful - just mentions the url is invalid.

[003.zip](https://github.com/hydroshare/hydroshare/files/3000653/003.zip)

[2019-03-24 17:57] hydrocheck opened #3264 "Back button odd behavior in resource content navigator"
The back button is enabled upon initial page load, which doesn't make sense because no actions have been taken yet.  Pressing the button doesn't do anything at that point.  There is some additional odd behavior where the button isn't available when it should be.

[004.zip](https://github.com/hydroshare/hydroshare/files/3000654/004.zip)

[2019-03-24 17:58] hydrocheck opened #3265 ""Old Version Of" has hardcoded production url"
Use the "create a new version of this resource" button on the resource landing page.  Even if on beta, the link will use the production url.  Naturally, clicking this link results in a 404 since the resource is on beta.

[006.zip](https://github.com/hydroshare/hydroshare/files/3000656/006.zip)

[2019-03-24 17:59] hydrocheck opened #3266 ""Is Version Of" incorrectly rendered in resource landing page"
In the References section of resource landing pages, "Derived From" is correctly rendered as human-friendly English, while "Is Version Of" is rendered in variable-like way "isVersionOf".

[007.zip](https://github.com/hydroshare/hydroshare/files/3000657/007.zip)

[2019-03-24 17:59] hydrocheck opened #3267 "Capitalization issue - "Programming language" in the resource landing page Resource Specific metadata"
All the other fields with multiple words have all words capitalized

[008.zip](https://github.com/hydroshare/hydroshare/files/3000660/008.zip)

[2019-03-24 18:00] hydrocheck opened #3268 "Without resource logos, the Discover table can look messy"
Some of the resources don't have resource type logos, which makes the table look somewhat messy.

[009.zip](https://github.com/hydroshare/hydroshare/files/3000661/009.zip)

[2019-03-24 18:01] hydrocheck opened #3269 "Temporal Coverage filter and Sort Order override Discover page filters"
If Temporal Coverage filter or Sort Order are applied, it breaks the applied filters from the left part of the interface.

[010.zip](https://github.com/hydroshare/hydroshare/files/3000662/010.zip)

[2019-03-24 18:01] hydrocheck opened #3270 "When the "About" tab is clicked, the "Help" tab is styled as active"
When the "About" tab is clicked, the "Help" tab is styled as active

[011.zip](https://github.com/hydroshare/hydroshare/files/3000663/011.zip)

[2019-03-24 18:02] hydrocheck opened #3271 "Login shown on all tabs but Help and About."
The login disappears on the Help and About tabs.

[012.zip](https://github.com/hydroshare/hydroshare/files/3000664/012.zip)

[2019-03-24 18:02] hydrocheck opened #3272 "User is logged out upon password change"
Other websites tend to keep the user logged in after they change their password.  Is there a reason we are logging users out after a password change?

[013.zip](https://github.com/hydroshare/hydroshare/files/3000665/013.zip)

[2019-03-24 18:03] hydrocheck opened #3273 "The "user type" on the hydroshare profile page is incorrectly formatted"
When using "Other" for User Type on the profile page, the field is styled with blank space before the input field.

[014.zip](https://github.com/hydroshare/hydroshare/files/3000666/014.zip)

[2019-03-24 18:04] hydrocheck commented on #3239
1. Version number incorrect on beta
2. https://github.com/hydroshare/hydroshare/issues/3262
3. https://github.com/hydroshare/hydroshare/issues/3263
4. https://github.com/hydroshare/hydroshare/issues/3264
5. https://github.com/hydroshare/hydroshare/issues/3265
6. https://github.com/hydroshare/hydroshare/issues/3266
7. https://github.com/hydroshare/hydroshare/issues/3267
8. https://github.com/hydros

[2019-03-24 19:01] dtarb commented on #3183
This was fixed in 1.20.1 so I am closing.  The reduction in the use of Mezzanine needs to be (and is) an ongoing architectural discussion.

[2019-03-24 19:01] #3183 closed

[2019-03-24 20:48] dtarb commented on #3201
Verified working on www

[2019-03-24 20:48] #3201 closed

[2019-03-24 20:52] dtarb commented on #619
Closing - no specific plans for river geometry

[2019-03-24 20:52] #619 closed

[2019-03-24 20:54] dtarb commented on #3270
If we act on #3242 suggestions to remove About, this will be moot.

[2019-03-24 21:02] dtarb commented on #3259
Per #3268 this also occurs on Discover.  @pkdash please check that the #3260 fixes Discover as well as My Resources

[2019-03-24 21:23] dtarb commented on #3262
I think this one is high priority.  I do not recall who implemented README rendering functionality so am tagging @Maurier @sblack-usu @hyi @pkdash @cuahsimarko.  I suggest that the behavior whenever a problem readme file is encountered (e.g. unable to parse the text or markdown) should be a message "Unable to parse and format readme" in the place where it would have been displayed followed by a di

[2019-03-24 23:13] Maurier commented on #3262
Could I have the file that was used to test this?

[2019-03-24 23:17] hydrocheck commented on #3262
@Maurier Sorry meant to attach that.
[readme.zip](https://github.com/hydroshare/hydroshare/files/3000984/readme.zip)

[2019-03-24 23:57] Maurier opened #3274 "[RC-1.21] Unable to search by Author or Subject in My Resources page"
@sblack-usu, @pkdash
I was able to narrow down this error to a problem with a context variable not reaching the frontend:
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/templates/pages/my-resources.html#L269

However, this only happens in our current deployment on beta. I tried to reproduce this error locally with no success. We might need to investigate directly in the VM in order

[2019-03-25 00:24] Maurier commented on #3262
@pkdash, I found that decoding as "unicode_escape" instead of "utf-8" can handle these characters, but I would like to hear your opinion on how we encode and decode these files.  Let me know if it's ok to make the switch.

[2019-03-25 01:47] Maurier commented on #3268
I believe this a duplicate of https://github.com/hydroshare/hydroshare/issues/3259

[2019-03-25 02:11] Maurier commented on #3266
@dtarb Could you provide the human friendly string to use in this case?

[2019-03-25 02:30] Maurier commented on #3266
While testing this I found another issue:
1. Make a copy of the resource.
2. Try to edit the relation "isVersionOf" that was automatically created.
3. The dropdown to select the relation type does not show an option for "isVersionOf"

![image](https://user-images.githubusercontent.com/2448568/54891594-8f116c00-4e73-11e9-8c47-8d64aa338db3.png)

It seems to me that this type of relation is not meant

[2019-03-25 02:36] Maurier commented on #3265
This needs to be looked at in the backend. It seems the issue occurs because of the way we construct the URL after the request is submitted.

[2019-03-25 02:38] Maurier commented on #3273
The idea with the indent was to make it look as a child input of the one above. But I think it doesn't really accomplish that, so I agree this would look better if we remove the blank space.

I'll wait to hear from @Lizabrazil or @dtarb on this.

[2019-03-25 12:08] dtarb commented on #2250
Has been done for a while.

[2019-03-25 12:08] #2250 closed

[2019-03-25 12:10] dtarb commented on #3273
I really do not mind on this one.  This has been there for so long.  I think there are many more important things to worry about than changing this, but then also many more important things to worry about than debating not changing this.  I would be inclined to fix higher priority things first like #3262, #3242, #3263, #3261

[2019-03-25 13:06] dtarb opened #3276 "Deleting or changing the isVersionOf relationship can create orphan resource"
If I do the following
1. Create a resource (V1)
2. Create a new version of a resource (V2)
3. Edit the "isVersionOf" relationship of V2 to "Copied from"
4. Delete resource V2.
V1 is now a dangling orphan resource.  It is not on "My Resources" and likely not discoverable.  But it exists.  An example is https://www.hydroshare.org/resource/5bf1c69009994c17af4e8ee3d99f72aa/

This appears to be a resta

[2019-03-25 13:07] dtarb commented on #3266
Wording I suggest for "isVersionOf" is: "This resource updates and replaces previous version"
Wording I suggest for "isReplacedBy" is "This resource has been replaced by newer version"

As to the question of editing and setting these relationships the intention at design was that they would be automatically set when a new version was created (e.g. using the "create new version of this resource" bu

[2019-03-25 13:54] pkdash commented on #3268
PR #3260  should also fix this issue.

[2019-03-25 14:52] pkdash commented on #3262
@Maurier We are not encoding the contents of the readme file. I guess we need to check the file content encoding first before decoding to utf-8. I will try to fix it soon.

[2019-03-25 15:14] Lizabrazil commented on #3273
Not a show stopper, when you get a chance it should be fixed to remove the blank space.

[2019-03-25 15:22] cuahsimarko commented on #3272
@ndebuhr many sites I use log me out or ask me to if I recall. Can someone else confirm?

[2019-03-25 15:24] cuahsimarko commented on #3267
@ndebuhr Let's consider consolidating some of these, when it's such a tiny change.

[2019-03-25 20:22] hyi commented on #3265
@dtarb @martinseul @ndebuhr @Maurier This is not a code issue, i.e., no url is hardcoded in the code base, but a beta configuration issue. Since beta is deployed using www database, the Site URL refers to www by default. After I change the site URL from beta admin panel to correspond to beta, i.e., beta.hydroshare.org, it works correctly. By working correctly, I meant if you create a new resource

[2019-03-25 21:18] phuongdm commented on #3265
@hyi, the beta deployment code did the change on every times.

1. Create json file (site_url.json) has with this content:
`[{"fields": {"domain": "beta.hydroshare.org", "name": "Default"}, "model": "sites.site", "pk": 1}]`
2. Run the `Site` change by this command:
`docker exec hydroshare python manage.py loaddata site_url.json`

You can check it by go to beta's admin page

[2019-03-25 21:34] hyi commented on #3265
@phuongdm Yes, I checked on beta admin panel and it showed www.hydroshare.org in Site element, so apparently that process did not work for this beta deployment, which was why versioned resource points to www. I manually updated the Site element from beta admin panel, so now it points to beta.hydroshare.org.

[2019-03-25 23:13] dtarb commented on #3265
This makes perfect sense.  I think that this should be closed when there is a procedure in place to have this be part of beta deployment, preferably automatically, but if not on a manual checklist.  I'll leave it for  @sblack-usu @phuongdm or @cbcunc to close when they are happy that this is part of the beta deployment routine.

[2019-03-25 23:27] #3158 closed

[2019-03-26 01:58] phuongdm commented on #3265
@hyi, I only know one place which has "Sites" menu on the Admin page, is that image correct? if No, please let me know where we should update. Thanks!

![image](https://user-images.githubusercontent.com/24579275/54965897-da497e80-4f48-11e9-94e8-c9b194c49478.png)

[2019-03-26 13:30] hyi commented on #3265
@phuongdm Yes, that 'Sites" menu on the Admin page was what I edited. It used to be www.hydroshare.org, and I updated it to be beta.hydroshare.org. After my update, versioning a resource created on beta is pointing to the obsoleted resource on beta, not on www anymore. That is what I meant by this issue being a configuration issue rather than a code issue.

[2019-03-26 13:58] dtarb commented on #2986
Closing this - decided not to pursue this discussion further

[2019-03-26 13:58] #2986 closed

[2019-03-26 14:27] phuongdm commented on #3265
@@ it should be the error of the deployment number #45, when the whole deploy process did not run correctly because the node connection problem :(

[2019-03-26 14:42] hyi commented on #3265
@phuongdm It is good to identify the cause of this deployment issue. I'd suggest to add an item in the release check off or beta deployment check off just to confirm the Site element is updated correctly or make sure the whole deployment process has run through successfully, just to prevent this from happening again in the future. Then I think this issue can be closed.

[2019-03-26 18:03] horsburgh commented on #3261
# In process ignore for now

Collecting some notes for this issue, but will likely split this out into multiple issues for implementation:

"Source" and "Relation" are two separate Dublin Core metadata elements. Thus, we implemented them that way in our metadata. I think we should keep this, but Dave points out a simplification that may help with semantics. Here's the definitions from Dublin Core:

[2019-03-26 20:22] dtarb commented on #3265
It would be good to have an automated test (Selenium?) that only works if this is right.  Neal @hydrocheck is doing tests on beta.  Perhaps one for this can be added.

[2019-03-26 23:41] Maurier commented on #3274
@pkdash, I was able to reproduce this issue locally today. Could you pull the most recent changes and try again? We might be able to debug and find the problem now.

[2019-03-27 01:17] pkdash commented on #3274
@Maurier I am using the RC-1.21 now locally. Not able to reproduce this issue locally.

[2019-03-27 12:40] dtarb commented on #3276
Tested and resolved in 1.21 RC so ready to close, but I would like @sblack-usu to check API functionality (see comments in #3281) and create issues to make sure API functionality is similar to UI - then close this issue..

[2019-03-27 12:43] dtarb commented on #3259
Fixed on 1.21 RC.

[2019-03-27 12:43] #3259 closed

[2019-03-27 12:44] dtarb commented on #3268
Fixed on 1.21 RC

[2019-03-27 12:44] #3268 closed

[2019-03-27 12:55] dtarb commented on #3266
@Maurier The improved terminology suggested in this issue did not make it into #3281 PR.

[2019-03-27 13:05] dtarb commented on #3274
This is still a problem on the new 1.21 beta RC just deployed.  If I create a resource with a unique keyword "kw123" on www in MyResources if I search on the MyResources search bar for kw123, I find the resource, but on beta I do not.

Also, if I add another author and on www search on that auther in the search bar, I find the resource, but do not on beta.

[2019-03-27 13:52] Maurier commented on #3266
@dtarb, this work is in another PR pending review. https://github.com/hydroshare/hydroshare/pull/3277

[2019-03-28 01:02] hydrocheck commented on #2165
See github.com/CUAHSI/QA-AutomationEngine.  Most of this is handled - others not handled due to limitations on test environments (e.g. captcha on user creation and smtp config).

[2019-03-28 01:02] #2165 closed

[2019-03-28 01:03] hydrocheck commented on #3265
Added to automated test queue

[2019-03-28 01:03] #3265 closed

[2019-03-28 01:05] hydrocheck commented on #2740
See https://github.com/CUAHSI/QA-AutomationEngine

[2019-03-28 01:05] #2740 closed

[2019-03-28 01:05] hydrocheck commented on #2739
See https://github.com/CUAHSI/QA-AutomationEngine

[2019-03-28 01:05] #2739 closed

[2019-03-28 01:54] pkdash commented on #3274
@dtarb and @Maurier I have now created a PR #3282 as a hotfix for this issue.

[2019-03-28 20:27] martinseul commented on #3274
the pr has been merged into the RC and deployed to beta., @Maurier @dtarb @pkdash, We are planning to release 1.21 on Tuesday

[2019-03-28 21:13] pkdash commented on #3274
Filtering on authors and keywords seem to work now on beta.

[2019-03-28 21:17] pkdash commented on #3274
Seems the page loading did not suffer much due to not prefetching the metadata.

[2019-03-28 21:35] cuahsimarko commented on #3253
Consider usage of Django {% blocks %} and includes to make code more readable, instead of being a thousand or thousands of lines long. This is a stop-gap until a more object-oriented, responsive, component-based framework can be supported by frontend devs, such as Vue or React.

[2019-03-28 21:46] #3232 closed

[2019-03-28 21:47] #3203 closed

[2019-03-28 21:49] #3169 closed

[2019-03-28 21:54] cuahsimarko commented on #748
Workflow Resource Type not on roadmap.

[2019-03-28 22:01] cuahsimarko commented on #958
This is too big and broad. I recommend we target select areas in smaller tickets, closing this one.

[2019-03-28 22:02] cuahsimarko commented on #1094
@hyi I believe you have done some work on this since the year 2017

[2019-03-28 22:03] cuahsimarko commented on #1142
These UI Elements no longer exist

[2019-03-28 22:03] #1142 closed

[2019-03-28 22:04] cuahsimarko commented on #1276
@hyi can you close this if Federation indeed now supports this?

[2019-03-28 22:10] cuahsimarko commented on #1411
@Maurier I think this is no longer an issue

[2019-03-28 22:13] cuahsimarko opened #3289 "Review and Close out GH Issues from 2015, 2016"
It's 2019

[2019-03-29 00:10] engineSound commented on #3270
@martinseul  The "Help" and "About" menu items are separated from the rest. The rest are built from mazzanine. So the behavior is different. With the new static link fix from @sblack-usu, where the mazzanine gear is disengaged, the behavior should be gone.

[2019-03-29 00:18] engineSound commented on #3271
The help and About are from a different domain. @dtarb Is this a designated behavior?  Launching it into a separate tab could make the hydroshare more like within itself.  @dtarb @Lizabrazil @martinseul @Maurier Please chime in.

[2019-03-29 03:00] dtarb commented on #3271
The different domain for help and about came about as a historical accident of using a separate server and plain Mezzanine CMS for this content.  It was easier to do separately than in HydroShare, but it was styled to look the same.  It does not worry me that much that there is no login button there and I think there are many more important problems on the site to fix, before I would put effort on

[2019-03-29 11:18] engineSound commented on #3271
@dtarb should I close it?

[2019-03-29 12:37] dtarb commented on #3271
If you ask me, yes.  I would not spend my money on this.  However I want to delegate, empower and trust you (@martinseul @engineSound @Lizabrazil) with the responsibility for deciding on relatively small UX questions like this.  If you have resources (time, which is money) to change and test this, that is higher priority than all the other things that need to be done, or can do this very quickly a

[2019-03-29 13:26] #1411 closed

[2019-03-29 13:36] dtarb commented on #3046
This appears to now be fixed, so closing
![image](https://user-images.githubusercontent.com/3456833/55236346-4e0fb380-51f5-11e9-9537-feb584ea64b6.png)

[2019-03-29 13:36] #3046 closed

[2019-03-29 13:36] dtarb commented on #3289
Good - but some still need action

[2019-03-29 13:42] dtarb commented on #2809
Has been fixed for a while now.

[2019-03-29 13:42] #2809 closed

[2019-03-29 13:50] dtarb commented on #1142
These UI elements are there - see below, and the problem still exists.  A filter on "Model Instance" still identifies "Model Instance", "SWAT Model Instance", "MODFLOW Model Instance" etc, resulting in a difference between the facet count and number of resources returned.  This is one of many Discovery issues, indicative of the fact that "Discover" is in need of some care.

It may be that we choos

[2019-03-29 13:50] #748 closed

[2019-03-29 14:20] hyi commented on #1094
@cuahsimarko I have not involved with Web App - OAuth work for HydroShare.

[2019-03-29 14:37] phuongdm opened #3290 "Update for local developer environment"
Need to update the Yaml file for local developer environment with a better setup and support data persist after reboot host or remove containers

[2019-03-29 14:42] dtarb commented on #1094
I am in favor of closing this.  While I am uncertain where it is documented, I know that we have had web app developers connect successfully using Oauth.  Thus in the spirit of #3289 I am closing. If new Oauth questions arise, they can get their new issues.

[2019-03-29 14:42] #1094 closed

[2019-03-29 15:18] hyi commented on #1276
@cuahsimarko I don't think we have exposed this functionality in REST API yet. We don't seem to have users request this in REST API, so it is most likely a low priority item.

[2019-03-29 16:32] martinseul opened #3292 "Search by title fails"
For the CZO we have Titles that are automatically created as a concatenation of several attributes and look like this
BCCZO - Well Water Levels - (GGU_GW_1,2,6_Pducer_Tran) - Gordon Gulch: Upper (2011-2017)
![1]
if i search for this in discover I get this error:
Field delimiter 'Gulch' is not recognized. Field delimiters include title, contributor, subject, etc. Please try again.

![Capture](https

[2019-03-29 16:39] horsburgh commented on #3292
I'm sure @alvacouch can elaborate here, but this is related to the fact that HydroShare enables search terms to be entered that search specific metadata "Fields" for specific terms where the field and terms are separated by colons. For example the following search string looks for all resources with an author of "Horsburgh" and a subject keyword of "Temperature":

author:Horsburgh subject:Temperat

[2019-03-29 16:43] martinseul opened #3293 "search by complete title returns inconsistent results"
when I search for a resource using a complete title like this:

USACE CWMS - Merrimack Watershed Lidar Extent

the search does not return the expected result as the return is empty.

If I search for a single word with a hyphen e.g.

MODFLOW-2000

it looks like it returns results for MODFLOW AND 2000 ignoring the hyphen

[2019-03-29 17:14] horsburgh commented on #3276
@dtarb - you asked me to review what should be done for this. Based on our discussions, I'm OK with the short term solutions that are being put in place by @hyi and with review of API functionality by @sblack-usu. I'm gathering some thoughts about how the relationships are expressed in metadata in the other issue (#3261), but I'm not done with that yet.

I think @Maurier has addressed the wording

[2019-03-29 22:30] sblack-usu opened #3294 "Ascii characters without a unicode mapping cause resource creation to fail"
```í```
In a name causes resource creation to fail.  Fix this and add perhaps add some useful logging within resource creation.

[2019-03-30 12:18] dtarb opened #3295 "isDerivedFrom missing in terms list"
The term hsterms:isDerivedFrom is missing in https://www.hydroshare.org/terms/ but is used in metadata when a resource has been copied, e.g.

![image](https://user-images.githubusercontent.com/3456833/55276047-04d26900-52b4-11e9-8212-4f7fc17a443f.png)

Immediate fix suggested:  Add the following to https://www.hydroshare.org/terms/

Term: isDerivedFrom
URI: http://www.hydroshare.org/terms/isDerive

[2019-03-30 12:37] dtarb opened #3296 "Inconsistency between isDerivedFrom and isCopiedFrom metadata usage and term definitions and help documentation"
The term hsterms:isCopiedFrom is described in our term definitions (https://www.hydroshare.org/terms/) and help as: "Name or URL of the source from which a resource is copied.".  However when I use the copy button to make a copy of a resource, a relationship is established using hsterms:isDerivedFrom.

I suggest that, as part of addressing broader improvements to references #3261 that hsterms:isCo

[2019-03-30 20:47] pkdash opened #3297 "Prefetch metadata for resource listing"
Should be able to prefetch metadata for resource listing - my resources and profile page which should improve page loading time

[2019-03-30 22:24] pkdash opened #3299 "Collection resource creation fails on beta (RC-1.21)"
This is a regression. Will create a hotfix PR soon.

[2019-04-01 20:54] cuahsimarko commented on #2487
@Maurier does honeypot solve this? if yes, please close this Issue, otherwise offer any insight you have.

[2019-04-01 20:55] cuahsimarko commented on #2531
@phuongdm I believe this is no longer an issue, can you close it or add updated information here?

[2019-04-01 20:59] cuahsimarko commented on #2557
@Lizabrazil will the new dashboard capture the login redirect? If so, I believe you can close this GH Issue. Otherwise, it should be coordinated with @engineSound how to redirect users to their original request OR the new dashboard, based on the page referrer.

[2019-04-01 21:01] cuahsimarko commented on #2570
@horsburgh is this obsoleted by the current roadmap?
![image](https://user-images.githubusercontent.com/45397838/55359375-b681bd80-549f-11e9-9d9b-0dd09d013802.png)

[2019-04-01 21:02] cuahsimarko commented on #2604
@zhiyuli Is this still an issue? Can you close it or add any insights you have from working on CZO?

[2019-04-01 21:06] cuahsimarko commented on #400
@pkdash can this be closed or can you provide new info?

[2019-04-01 21:08] cuahsimarko commented on #473
I am more accustomed to seeing this type of ticket in Jira/Trello and not GH Issues. The challenge with HydroShare is that it is cross-organizational (and technically open source, though we don't have any/many contributors in that regard as far as I know) and coordinating that Trello would be more meta/overhead work than value provided. I like our current way of working, sometimes chaotic but effi

[2019-04-01 21:10] cuahsimarko commented on #473
Design, Customer Support, Customer Documentation, QA Testing Frameworks and Infrastructure ....

[2019-04-01 21:15] cuahsimarko commented on #741
@Lizabrazil @Maurier do we still want the recent comments? Alva/Manish are working on Recent Activity now...

[2019-04-01 21:21] cuahsimarko commented on #890
I think this is related https://docs.djangoproject.com/en/1.10/topics/python3/

[2019-04-01 21:26] cuahsimarko commented on #1433
Unit tests don't fail regularly

[2019-04-01 21:26] #1433 closed

[2019-04-01 21:31] cuahsimarko commented on #1488
This ticket is too big to implement across the legacy codebase at this point and should be moved to a google design / developer standards document.

[2019-04-01 21:33] cuahsimarko commented on #1548
This ticket should be moved to a developer standards doc and then 1-2 specific endpoints me earmarked for fixing and opened as GH Issues,.

[2019-04-01 21:34] cuahsimarko commented on #1566
@phuongdm Please close or comment.

[2019-04-01 21:36] cuahsimarko commented on #1579
@Castronova Maybe you can start a Provenance Design/Discussion doc that includes this, and more importantly your observations from the week with Scott at the convention/hackathon

[2019-04-01 21:37] cuahsimarko commented on #1581
@Castronova I think this technically is a can of worms and could be closed in favor of a different approach, which would likely have different capabilities.

[2019-04-01 21:38] pkdash commented on #400
@cuahsimarko I have no idea what still needs to be done for this issue. I would say close it unless @dtarb says otherwise.

[2019-04-01 21:38] cuahsimarko commented on #1590
@phuongdm Please close or comment.

[2019-04-01 21:41] cuahsimarko commented on #1589
@phuongdm please close or comment

[2019-04-01 21:45] cuahsimarko commented on #1965
@alvacouch I'm closing this in favor of the more industry standard approach, going forward.

[2019-04-01 21:45] #1965 closed

[2019-04-01 21:57] cuahsimarko commented on #2774
@phuongdm Please comment or close, if you will...

[2019-04-01 23:46] martinseul commented on #3239
I did spent some time looking at creating collection resources and it looks to be working fine
@phuongdm @cbcunc @Lizabrazil @dtarb
we are still on for tomorrow.

[2019-04-02 02:44] dtarb commented on #3239
@martinseul thanks.  I tested too.  Good luck with the deploy.

[2019-04-02 02:49] dtarb commented on #1488
I think this can be closed.  @sblack-usu is now product owner for API and the REST API has advanced considerably since this discussion.  I'll leave it to you Scott to do the honors of closing after noting anything actionable in the discussion.

[2019-04-02 02:57] dtarb commented on #473
Closing.  This has drifted from the original problem which was that 4 years ago something did not work on some type of browser.  I am closing.  We can manage the browser support and other items mentioned elsewhere.

[2019-04-02 02:57] #473 closed

[2019-04-02 03:34] gantian127 commented on #400
@cuahsimarko @pkdash @dtarb All the functions in this issue have been implemented. I will close the issue. Thanks.

[2019-04-02 03:34] #400 closed

[2019-04-02 15:29] zhiyuli commented on #417
Old Reference Time Series Type issue. Closing

[2019-04-02 15:29] #417 closed

[2019-04-02 15:32] zhiyuli commented on #1093
Help pages serve the purpose for (1);
User is responsible for the validity of the url they created, HS just does some simple checks to make sure the general syntax/format of the url is correct.
Closing

[2019-04-02 15:32] #1093 closed

[2019-04-02 15:34] zhiyuli commented on #1414
taken care of in new Composite Res Type already...
closing

[2019-04-02 15:34] #1414 closed

[2019-04-02 15:35] zhiyuli commented on #1421
implemented a while ago. Closing

[2019-04-02 15:35] #1421 closed

[2019-04-02 15:50] zhiyuli commented on #2057
The doc is there. Closing
![image](https://user-images.githubusercontent.com/10070599/55416781-ac59d080-552c-11e9-99a1-002ed41ad9df.png)

[2019-04-02 15:50] #2057 closed

[2019-04-03 15:25] Maurier commented on #3239
I tested my tickets on production and it all seems in order.

[2019-04-03 18:53] alvacouch commented on #3292
I will ignore bad search terms and treat them as plaintext. This is easy. Other changes are much harder.

[2019-04-03 19:46] pkdash commented on #3299
This has been resolved. Closing.

[2019-04-03 19:46] #3299 closed

[2019-04-03 19:47] pkdash commented on #3274
@Maurier I think this can be closed.

[2019-04-03 19:51] pkdash commented on #3211
This improvement has been implemented and works on www. Closing.

[2019-04-03 19:51] #3211 closed

[2019-04-03 20:04] #3274 closed

[2019-04-03 20:45] Maurier commented on #2624
This has been deployed to www and is working as intended.

[2019-04-03 20:45] #2624 closed

[2019-04-03 20:58] horsburgh commented on #3292
@alvacouch - that seems like a reasonable approach. For what it's worth - I really like the ability to do the search using the *{field}:{value}* syntax and so would be sad to see it go.

[2019-04-05 12:59] Lizabrazil commented on #3078
all listed here are removed.

[2019-04-05 12:59] #3078 closed

[2019-04-05 13:34] dtarb commented on #2478
Resolved in 1.15 release so closing.

[2019-04-05 13:34] #2478 closed

[2019-04-05 13:35] dtarb commented on #966
Superceded by #2478 and resolved in 1.15 deploy so closing.

[2019-04-05 13:35] #966 closed

[2019-04-05 20:08] #329 closed

[2019-04-05 20:09] Lizabrazil commented on #624
@alvacouch Can i close this out? Is it still relevant?

[2019-04-07 21:43] pkdash opened #3310 "Spatial coverage place/area name not displayed in resource edit mode"
Can see it in view mode:

![image](https://user-images.githubusercontent.com/2523434/55690217-681b6580-595c-11e9-8fd3-d5c5a73149ea.png)

Not displayed in edit mode:

![image](https://user-images.githubusercontent.com/2523434/55690239-9600aa00-595c-11e9-96cb-6ecab1a54b2a.png)

[2019-04-08 14:44] sblack-usu commented on #1488
The endpoints described were implemented quite awhile ago.

[2019-04-08 14:44] #1488 closed

[2019-04-08 18:35] sblack-usu opened #3312 "Release Checklist 1.22"
### Issues in Release
- [x] #3262 Non-utf8 characters cause issues in resource READMEs @pkdash
- [x] #3290 Update for local developer environment @cuahsimarko
- [x] #1632 Refining group capabilities  @alvacouch
- [x] #3254 Profile page loading time improvement @pkdash
- [x] (PR #3256) Replace mezzanine routing with Django for My Resources @cuahsimarko
- [x] (PR #3280) PyTest my resource @cuahsimar

[2019-04-08 18:37] #3180 closed

[2019-04-08 20:03] cuahsimarko commented on #2831
Feature is live as of 1.21

[2019-04-08 20:03] #2831 closed

[2019-04-08 20:10] cuahsimarko commented on #2709
@engineSound Is this resolved?

[2019-04-08 20:14] cuahsimarko opened #3313 "Remove dead code from My Groups Resources page"
Lots of dead code make readability, maintenance very difficult. Refactor and cut out unused code. Use Communities as an example (preserve the divs required for datatables). Needs to happen before optimizations/DRY can be applied across My Resources listings.

[2019-04-08 20:18] #3239 closed

[2019-04-08 20:21] cuahsimarko commented on #3120
@engineSound is this deprecated by new Landing page?

[2019-04-08 20:30] cuahsimarko commented on #3071
duplicates https://github.com/hydroshare/hydroshare/issues/3070

[2019-04-08 20:42] dtarb commented on #3071
Model program and model instance are different.

[2019-04-08 20:43] dtarb commented on #2831
Is this really live.  I would be interested in seeing a demo.  I do not think this is live.

[2019-04-08 20:45] cuahsimarko commented on #2831
The support for group of groups is merged. This is a backend ticket. The UI functionality is separate. Interaction with group of groups is heavily documented as a part of the work reflected in this ticket.

[2019-04-08 20:46] cuahsimarko commented on #2831
Documentation is at hs_access_control/management/commands/README.md I think it wasn't presented as the only interest in this for now seems to be coming from communities and the consumers of this backend for now are me, Drew, Martin...

[2019-04-08 20:49] cuahsimarko commented on #2831
I think of GitHub as a code-level/repo level context. The "Product" level themed discussion/tracking should happen in Jira/Trello/google docs, design docs, and other systems. This scoping is part of managing roles/responsibilities, reducing cognitive load and having a smoother, more manageable flow across the lifecycle from bug report/feature request, design discussion, implementation detail, arch

[2019-04-08 20:56] alvacouch commented on #2531
@phuongdm @cuahsimarko This is fixed.

[2019-04-08 20:56] #2531 closed

[2019-04-08 21:00] engineSound commented on #3120
@cuahsimarko It is the current behavior of the new landing page.

[2019-04-08 21:01] engineSound commented on #2709
It's resolved.

[2019-04-08 21:01] #2709 closed

[2019-04-08 21:21] phuongdm commented on #1589
Closed becasue at least I saw 3.5.4 was used

[2019-04-08 21:21] #1589 closed

[2019-04-08 21:22] phuongdm commented on #1590
Not sure about this issue, need confirm from @hyi or @alvacouch

[2019-04-08 21:23] phuongdm commented on #1566
Yes, it's done

[2019-04-08 21:23] #1566 closed

[2019-04-08 21:24] phuongdm commented on #2774
Yes, it's wrong configuration problem, fixed

[2019-04-08 21:24] #2774 closed

[2019-04-08 23:57] alvacouch commented on #3292
Fixed in pr #3309 .

[2019-04-09 00:00] alvacouch commented on #3245
This is systemic as there are several displays thst use the last updated time. same issue with current code for communities, dashboard.

[2019-04-09 15:01] Maurier commented on #3165
@dtarb This change has been deploye to www. However, I don't think the Web App connector is in place. Could you confirm?

[2019-04-09 15:02] Maurier commented on #3165
Nevermind, I do see the connection now. Closing...

[2019-04-09 15:02] #3165 closed

[2019-04-09 15:09] Maurier commented on #3130
This has been fixed and deployed to www. Closing...

[2019-04-09 15:09] #3130 closed

[2019-04-09 15:10] Maurier commented on #3138
@dtarb This has been fixed and deployed to www. Closing...

[2019-04-09 15:10] #3138 closed

[2019-04-09 15:14] Maurier commented on #2731
@danames These changes, as discussed here, have been implemented and deployed to www. Closing...

[2019-04-09 15:14] #2731 closed

[2019-04-09 15:20] Maurier commented on #897
@Castronova Are we tracking the statistics discussed here at this point?

[2019-04-09 15:29] Maurier commented on #3136
@dtarb This has been implemented and deployed to www. Closing...

[2019-04-09 15:29] #3136 closed

[2019-04-09 15:43] horsburgh commented on #741
Sure, but I think we should likely be doing less on the profile page and more on the dashboard page. Hence - I think we should close this issue and open any appropriate issues related to recent comments on the dashboard. I'm not sure we need to display recent comments on the dashboard, but we probably should be notifying resource owners about comments that have been posted and then notifying comme

[2019-04-09 15:47] horsburgh commented on #897
These statistics are for the My Resources page. We are now tracking and displaying view and downloads for each individual resource on its landing page:

![image](https://user-images.githubusercontent.com/3485902/55814786-72e51000-5aac-11e9-8905-94f7b0a94829.png)

So, could we not add these to the table on the My Resources page to complete this issue?

[2019-04-09 15:50] Maurier commented on #897
@horsburgh I could add these to the table. Could you confirm if this is what we want?

[2019-04-09 15:50] pkdash commented on #897
@Maurier We are displaying resource download and view counts already on resource landing page. So you can easily get those on my resources page by using ```res.download_count``` and ```res.view_count```. However, these two model fields need to be selected as part of the query, otherwise it will slow down page loading.

[2019-04-09 15:59] horsburgh commented on #897
@Maurier - that was the original intent of the last item in my original issue posting above. I still think it would be useful to have these on the My Resources page, but we do risk cluttering the table of resources. I don't want to have to scroll horizontally to see these statistics. Do you think you can reasonably add them without (1) slowing down the page load and (2) messing up the table?

[2019-04-09 17:37] Lizabrazil commented on #741
Agreed, let's close this and reassess the ability to add notifications  potentially on the dashboard. Just from my intuition, I would think a user would only want to know when others comment on their resources, and not as much about the comments that they made to other resources.

[2019-04-09 17:37] #741 closed

[2019-04-09 17:48] pkdash commented on #897
@Maurier I can point you to one liner change in backend to fetch these two extra fields (download_count, view_count) if you decide to use those in my resources page. Once you make this backend change, it should not slow down page load.

[2019-04-09 19:05] hyi commented on #3175
The work has been deployed on www. Closing.

[2019-04-09 19:05] #3175 closed

[2019-04-09 19:05] hyi commented on #3156
The work has been deployed on www. Closing.

[2019-04-09 19:05] #3156 closed

[2019-04-09 19:08] hyi commented on #2276
The fix has been deployed a couple of releases back. Closing.

[2019-04-09 19:08] #2276 closed

[2019-04-09 19:24] dtarb commented on #2646
I am going to close this.  This was written May 2018.  I have done many JupyterHub opens between then and now, and others have too, with limited complaints and no specific further complaints about hanging.

[2019-04-09 19:24] #2646 closed

[2019-04-09 19:26] sblack-usu commented on #3245
we've already update resource landing page and my-resources.  Communities and Dashboard haven't been finished yet, but should use modified date as well.

[2019-04-09 19:39] engineSound commented on #3152
The old error message wasn't documented. So it is not necessary to updating help document to reflect the change. Hence, closing.

[2019-04-09 19:39] #3152 closed

[2019-04-09 19:40] engineSound commented on #3090
Consider this is unnecessary to fix. Closing.

[2019-04-09 19:40] #3090 closed

[2019-04-09 19:40] engineSound commented on #3075
In production. closing.

[2019-04-09 19:40] #3075 closed

[2019-04-09 19:42] engineSound commented on #3096
Closing to discuss offline in future.

[2019-04-09 19:42] #3096 closed

[2019-04-09 19:42] #2946 closed

[2019-04-09 20:10] cuahsimarko commented on #2987
@engineSound @Lizabrazil Looks like this is indeed separate functionality. If you agree, please close.

[2019-04-09 20:10] cuahsimarko commented on #2987
Maybe update support docs as well.

[2019-04-09 20:14] cuahsimarko commented on #2858
@dtarb Is this covered by other GitHub Issues?

[2019-04-09 20:16] cuahsimarko commented on #2844
@ChristinaB @dtarb can we consider moving this work tracking item to a different system, other than the hydroshare/hydroshare source code repo Issues?

[2019-04-09 20:20] cuahsimarko commented on #2968
@dtarb are these related? https://github.com/hydroshare/hydroshare/issues/2784

[2019-04-09 20:21] cuahsimarko commented on #2784
@dtarb are these related https://github.com/hydroshare/hydroshare/issues/2968

[2019-04-09 20:22] cuahsimarko commented on #2786
@engineSound please retest and close if no longer an issue

[2019-04-09 20:26] cuahsimarko commented on #2669
@Lizabrazil @engineSound is this deprecated by new landing page work?

[2019-04-09 20:27] cuahsimarko commented on #2662
@dtarb Is this Issue more appropriate for the JupyterHub repo? If so can it be moved to there?

[2019-04-09 20:29] cuahsimarko commented on #2643
@sblack-usu 1. I believe this belongs in the Issues for rest client 2. I believe you fixed this last month 3. if yes to either can you close this here?

[2019-04-09 20:29] cuahsimarko commented on #2635
@sblack-usu does this belong in another GH Repo?

[2019-04-09 20:30] cuahsimarko commented on #2591
I see a quota usage when I log in. Does that cover this ticket, can it be closed?

[2019-04-09 20:31] cuahsimarko commented on #2581
@rayi113 was this done?

[2019-04-09 20:32] cuahsimarko commented on #2556
Related to https://github.com/hydroshare/hydroshare/issues/2829 ?

[2019-04-09 20:33] cuahsimarko commented on #2829
Related to https://github.com/hydroshare/hydroshare/issues/2556 ?

[2019-04-09 20:33] cuahsimarko commented on #2557
https://github.com/hydroshare/hydroshare/issues/2829
https://github.com/hydroshare/hydroshare/issues/2556

[2019-04-09 20:34] cuahsimarko commented on #2556
https://github.com/hydroshare/hydroshare/issues/2557

[2019-04-09 20:36] cuahsimarko commented on #2494
@Lizabrazil can you update docs or close if irrelevant or done?

[2019-04-09 20:37] sblack-usu commented on #2643
I think he is referencing hs_rest_api, not hs_rest_client (at least the fixes issue comment would infer that).  Closing.

[2019-04-09 20:37] #2643 closed

[2019-04-09 20:37] cuahsimarko commented on #2472
@Castronova can you update or close this?

[2019-04-09 20:38] cuahsimarko commented on #2471
@Castronova are we moving forward with this?

[2019-04-09 20:38] cuahsimarko commented on #2463
close me?

[2019-04-09 20:38] cuahsimarko commented on #2462
close me?

[2019-04-09 20:38] cuahsimarko commented on #2461
close me?

[2019-04-09 20:38] cuahsimarko commented on #2460
close me?

[2019-04-09 20:38] cuahsimarko commented on #2459
close me?

[2019-04-09 20:39] cuahsimarko commented on #2428
close me?

[2019-04-09 20:39] #2460 closed

[2019-04-09 20:39] cuahsimarko commented on #2426
close me?

[2019-04-09 20:39] cuahsimarko commented on #2873
close me?

[2019-04-09 20:40] cuahsimarko commented on #2321
@zhiyuli given your familiarity from working with REST client lately, can you provide and useful details if this is a REST API repo issue or hydroshare/hydroshare issue or any other helpful info?

[2019-04-09 20:42] cuahsimarko commented on #2253
@Maurier @pkdash do recent updates to the UI handle this now?

[2019-04-09 20:47] #2463 closed

[2019-04-09 20:47] #2462 closed

[2019-04-09 20:47] #2461 closed

[2019-04-09 21:16] Lizabrazil commented on #2426
@cuahsimarko  yes, will close now

[2019-04-09 21:16] #2426 closed

[2019-04-09 21:49] engineSound commented on #2557
@cuahsimarko These issues are outside of the dashboard scope.

[2019-04-09 21:50] Lizabrazil commented on #2494
@cuahsimarko can close

[2019-04-09 21:50] #2494 closed

[2019-04-09 21:56] cuahsimarko commented on #2611
I will be looking into autocompletion for resource views (Groups, My Resources) will coordinate with you for any component/code re-use.

[2019-04-09 22:03] dtarb commented on #2662
I am OK with moving, but his is really an issue of documentation and I am not sure moving this will alter what needs to be done, or whether we decide not to do anything.

There is no enhancement or code change in what I am suggesting, just a JupyterNotebook that helps users work with iRODS from JupyterHub.  I think that this stalled out because @Castronova was in the past not supportive of this ap

[2019-04-09 22:03] cuahsimarko commented on #3186
I would like to look into Vue.js together with you, @Maurier let's talk soon

[2019-04-09 22:04] cuahsimarko commented on #3154
Is this fixed?

[2019-04-09 22:07] cuahsimarko commented on #2662
I hope to maintain documentation, project, design and non-coding task tracking out of GitHub hydroshare/hydroshare code repository Issues. Similarly, REST API Client and JupyterHub tasks should be reflected in those respective repositories in GitHub Issues or Wiki or google docs.

[2019-04-09 22:11] cuahsimarko commented on #2991
@sblack-usu does this belong in https://github.com/hydroshare/hs_restclient

[2019-04-09 22:12] dtarb commented on #2968
This and #2784 are essentially the same.  I am going to close both.  I am not able to reproduce at present and this may have been resolved by cleanups done on the institution list @sblack-usu worked on a while back.

[2019-04-09 22:12] #2968 closed

[2019-04-09 22:13] dtarb commented on #2784
Closing.  I am not able to reproduce at present and this may have been resolved by cleanups done on the institution list @sblack-usu worked on a while back.

[2019-04-09 22:13] #2784 closed

[2019-04-09 22:15] Lizabrazil commented on #2662
@dtarb May be a good time to start adding to my "to-do list" https://docs.google.com/spreadsheets/d/18zHXyJdKZTw_lerKMzj2XVI6mXcqlC-sivRl5ztScRA/edit?usp=sharing

[2019-04-09 22:16] dtarb commented on #2844
This should be part of  https://github.com/hydroshare/hydroshare-jupyterhub development.  I suggest @Castronova record the key points here in a jupyterhub issue then close this.

[2019-04-09 22:17] dtarb commented on #2858
Yes.  Closing

[2019-04-09 22:17] #2858 closed

[2019-04-09 22:17] cuahsimarko commented on #2955
@Maurier I believe you fixed this recently please close or comment

[2019-04-09 22:19] cuahsimarko commented on #898
As this is not a source code issue I hope it could be moved to a different team/organizational/project documentation area or process.

[2019-04-09 22:23] cuahsimarko commented on #3289
Closing this ticket in favor of using the "is this still a thing" GitHub Issue Label

[2019-04-09 22:23] #3289 closed

[2019-04-09 22:28] Lizabrazil commented on #1963
@dtarb can we close this? I think we are good except i do not know about the REST API issues.

[2019-04-09 22:29] dtarb commented on #2662
@Lizabrazil I have added to your to do list.  @cuahsimarko what do we want to do about addressing the problem with the corrupt resource that @ChristinaB mentioned.

[2019-04-09 22:31] Lizabrazil commented on #2016
I am closing this because it is not necessary to fix at this point we will reassess the filter panels during Discover Redesign

[2019-04-09 22:31] #2016 closed

[2019-04-09 22:33] dtarb commented on #1963
I believe that composite as currently deployed meets the needs of this case so am closing, while mentioning @alvacouch and @rphtufts.  If there are MOPEX needs not met, please reopen and indicate what the problem is.

[2019-04-09 22:33] #1963 closed

[2019-04-09 22:34] #2094 closed

[2019-04-09 22:36] cuahsimarko commented on #1863
@pkdash can we close this?

[2019-04-09 22:37] Lizabrazil commented on #2115
@hyi Can you comment on the status of this?

[2019-04-09 22:37] sblack-usu commented on #2635
This was fixed in #3089

[2019-04-09 22:37] #2635 closed

[2019-04-09 22:37] dtarb commented on #898
I am fine moving this some place else, but am not in favor of closing this until that other place is up and running and working for the developers.  Both @Maurier and @hyi have current machines checked out using this process that has served the team well since 2016.  I

[2019-04-09 22:38] sblack-usu commented on #2991
No, this belongs here.  We're still discussing when to turn off the ability to create other resource types via the api.

[2019-04-09 22:40] Lizabrazil commented on #2124
@alvacouch @dtarb @pkdash This is now resolved from what i tested. I will close out, please reopen if there is something i didn't catch

[2019-04-09 22:40] #2124 closed

[2019-04-09 22:40] horsburgh commented on #2522
Given that I posted this and that we've since completed the work on integrating the website in question with HydroShare via the REST API, I'm closing this issue.

[2019-04-09 22:40] #2522 closed

[2019-04-09 22:40] cuahsimarko commented on #2662
@dtarb @ChristinaB Ok my understanding of the situation, is we've moved the tracking of the documentation task out of GH Issues and there is still a corruption issue. Please confirm, @ChristinaB
![image](https://user-images.githubusercontent.com/45397838/55839741-f6c3ea00-5af6-11e9-917a-392bc84503f0.png)

[2019-04-09 22:44] Lizabrazil commented on #2297
We have several help articles and a pdf guide to data publishers now, closing

[2019-04-09 22:44] #2297 closed

[2019-04-09 22:45] Lizabrazil commented on #2297
Appropriate documentation will be developed when DOI work is completed.

[2019-04-10 00:13] martinseul commented on #2487
this has been resolved

[2019-04-10 00:45] ChristinaB commented on #2297
@Lizabrazil  can you give links to the help articles and pdf guide? I will share it with Waterhackweek participants as part of motivational prompts to get project work finalized. Thanks!

[2019-04-10 13:20] engineSound commented on #3186
@Maurier The direction you set is bright and promising. I am in. Thanks.

[2019-04-10 13:40] hyi commented on #2115
@Lizabrazil I think the plan for third party federated iRODS zone storage is still in the works or up in the air, looping in @dtarb and @alvacouch for comments as needed. I'll defer to @dtarb on whether we should close this issue or not.

[2019-04-10 14:54] pkdash commented on #1863
@cuahsimarko I am going to close this even though this has not been implemented. Probably this is not an issue any more.

[2019-04-10 14:54] #1863 closed

[2019-04-10 14:54] cbcunc commented on #2535
This was already accomplished via the hsmonitor@lists.renci.org email list, used by some monitor jobs. However, I just added an email forward through the Namecheap VM Cpanel for monitor@hydroshare.org forwarding to hsmonitor@lists.renci.org for cosmetic purposes.

[2019-04-10 15:05] cbcunc commented on #2535
Please note that different operational monitors have different sets of people receiving those monitors. For example, apps.hydroshare.org has @hyi and @zhiyuli on the notification list. So are core group of people are notified by monitor@hydroshare.org for every operational monitor, while other people receiving the notifications will still need to be maintained in the Jenkins configuration for each

[2019-04-10 15:13] rayi113 commented on #2115
@Lizabrazil @hyi @dtarb @alvacouch The current thinking via the RENCI HydroShare roadmap work-in-progress is to no longer pursue federation via iRODS in HydroShare.  Recommend closing this issue.

[2019-04-10 15:38] #2115 closed

[2019-04-10 16:01] cbcunc commented on #2535
An additional email forward was just added for admins@hydroshare.org to forward to hsmonitor@lists.renci.org. It didn't seem practical to maintain another list (e.g. Hydroshare-Admins@lists.renci.org) with the same members, so using the existing list seems like the best approach.

[2019-04-10 16:16] cbcunc commented on #2535
Note also that an email forward to a Mailman list must be included in List Admin -> Privacy Options -> Recipient Filters -> Acceptable Aliases in order to avoid moderation and ensure timely delivery. monitor@hydroshare.org and admins@hydroshare.org have been added to the acceptable aliases.

[2019-04-10 16:17] #2535 closed

[2019-04-10 17:16] cbcunc commented on #2534
Monitors currently in place for www (nginx1), data, users, apps, thredds, hyrax, beta (nginx1-beta). Need monitors for help and jupyter. Need to fix and re-enable beta monitor to use nginx1-beta.

[2019-04-10 19:02] dtarb commented on #2253
I just tested.  Behavior is exactly the same as Jan 8 report above.  Beta gives a bag download in a few seconds, but www gives a long line of .... that never ends.  These sort of problems make me worry about resource integrity and make me think that we perhaps need some of the debug scripts we used to have from @alvacouch .  It also makes me think of the script we used to have from @Castronova to

[2019-04-10 19:52] Lizabrazil commented on #2557
yeah not sure that this will be fixed as it is a separate application that is using oauth to sign in a hydroshare user and then needs to be redirected to the resource that the application is exporting.

[2019-04-10 19:53] Lizabrazil commented on #2669
@cuahsimarko no, we still need to fix the homepage to better educate the user before they create an account.

[2019-04-10 19:57] rajadain commented on #2557
Just to clarify, Model My Watershed (the third party application in the screenshots above) opens an iframe to HydroShare for the login part, so the interface you see in the modal is entirely HydroShare.

[2019-04-10 20:20] Lizabrazil commented on #2557
Ah, so once the modal opens it should already know to redirect to the resource which you exported from Model My Watershed. The issue has to do with account creation requiring a user to verify their account via email before having access to their account. Create account->verify via email->access HydroShare account

Unfortunately, we do not have plans to bypass the email verification requirement for

[2019-04-10 20:23] #1416 closed

[2019-04-10 20:25] Lizabrazil commented on #1479
The map has other issues, like overlapping bounding boxes and messiness in general. We will address this when we redesign the page. @martinseul closing

[2019-04-10 20:25] #1479 closed

[2019-04-10 20:30] Lizabrazil commented on #1505
@cuahsimarko will this impact the CZO work? I'm not sure if you caught this when coding for community. The recent activity lists is not in order of date.

[2019-04-10 20:33] cuahsimarko commented on #1505
That may share a backend and UI component with all Resources views. This is on my radar.

[2019-04-10 20:36] Lizabrazil commented on #1505
good good

[2019-04-10 20:38] Lizabrazil commented on #1565
@cuahsimarko completed
![image](https://user-images.githubusercontent.com/13852599/55911682-1d455c00-5baf-11e9-9152-0752758b8060.png)

[2019-04-10 20:38] #1565 closed

[2019-04-10 20:45] Lizabrazil commented on #1843
I think all of this is captured here: https://docs.google.com/document/d/1qECBlW3TJAm6AEYmThoe0Q8-LDwkXfPiWTLSc901qeE/edit?usp=sharing so i am closing

[2019-04-10 20:45] #1843 closed

[2019-04-11 12:45] dtarb commented on #2557
I would like to retain the email verification step as part of HydroShare account creation, but if there is a way to retain this and have the process work, we should try to do it.

What I think is being asked is that when a user is redirected to sign in it retains a next page parameter.  This is done on our pages such as collaborate when not signed in https://www.hydroshare.org/accounts/login/?next

[2019-04-11 12:48] cuahsimarko commented on #3293
@alvacouch hi we are discussing this right now just marking

[2019-04-11 12:48] cuahsimarko commented on #3292
@alvacouch hi we are discussing this right now just marking

[2019-04-11 13:28] cuahsimarko opened #3316 "3 Listing Pages dont behave the same over Organization as First Author"
I just created a res on QAT with account czo_boulder/123. It has only one Author which is an Organization.
http://qat.hydroshare.org:8000/resource/9cdc19783a574c289e87a4f416ef3785/
I shared this resource with CZO Boulder Group with View Permission.

Its Resource Landing Page shows Author correctly.
![image](https://user-images.githubusercontent.com/10070599/55963290-c469d800-5c2f-11e9-97b8-df9b4dc

[2019-04-11 14:03] cuahsimarko commented on #3316
"This is a systemic error. On ALL hydroshare resource listing pages, organization is not counted as author.
On ALL resource landing pages, an organization counts as an author.
This is very difficult to fix."

[2019-04-11 14:36] Maurier commented on #3316
@cuahsimarko I think this can be fixed in the frontend. We added a django filter to retrieve this field correctly. I believe we just forgot to extend it to the other pages where this is rendered.

You can use it like this:
`{{ res|resource_first_author }}`

[2019-04-11 14:38] cuahsimarko commented on #3316
@Maurier Thank you I will implement this

[2019-04-11 14:39] cuahsimarko commented on #3316
@Maurier ah I see what you're saying. The underlying query in question doesn't have that data that you're suggesting, it's deeper in the data. Alva, Drew and I are working in that deeper layer.

[2019-04-11 17:01] cuahsimarko commented on #3316
My current understanding is that this is a data issue and the fix is incumbent upon data managers. @zhiyuli if you agree can you please close this issue?

[2019-04-11 18:24] horsburgh commented on #1494
The drop down list in the "Add Relation" dialog has been modified to use the more descriptive labels of the relationship types.

![image](https://user-images.githubusercontent.com/3485902/55981582-453acb00-5c54-11e9-94a3-c04291586b96.png)

They have also been modified for display on the landing page:

![image](https://user-images.githubusercontent.com/3485902/55981652-6f8c8880-5c54-11e9-86b5-cfb48

[2019-04-11 18:24] #1494 closed

[2019-04-11 18:39] horsburgh commented on #2559
@dtarb - just to clarify here - do you think owners/editors should be able to add any type of relationship after a resource has been published, or just "Described by" and/or "Data for"? I'm leaning toward potentially leaving it a little more open because we might want to enable the following types of relationships to be added post publication:
* New resources/papers that cite the published resourc

[2019-04-11 19:01] dtarb commented on #2559
I am in favor of adding, editing or deleting any type of relationship.  Basically give people the ability to curate the relationships for their data.  It may not make sense to add a new citation that did not exist previously, but perhaps the item being cited changes and needs editing (it's URL moves).  You may not create something after it is published, but you may realize that you omitted to reco

[2019-04-11 19:33] cuahsimarko commented on #3229
was discussed via e-mail with Pabitra

[2019-04-12 13:35] dtarb commented on #2557
@rajadain we have discussed this in our team and @hyi will have some availability following April 29 to look into this issue and make small changes that may be needed.  However I do not think it is clear yet exactly what the workflow should be where account creation and email verification is involved.  It would be helpful if you could provide suggestions or specific guidance.  Would an acceptable

[2019-04-12 13:48] #923 closed

[2019-04-12 13:49] #1580 closed

[2019-04-12 13:49] #2082 closed

[2019-04-12 13:49] #2151 closed

[2019-04-12 14:06] horsburgh commented on #2557
@dtarb - this is what we did with the Monitor My Watershed data sharing portal. Users register their HydroShare account with the portal and then they can copy data to HydroShare.

[2019-04-12 18:18] rajadain commented on #2557
When we start the OAuth dance with HydroShare, the first URL we try to hit is `https://beta.hydroshare.org/o/authorize/?redirect_uri=http://localhost:8000/user/hydroshare/authorize&response_type=code&client_id=model-my-watershed`, which, if the user is not logged in to HydroShare, redirects to `https://beta.hydroshare.org/accounts/login/?next=/o/authorize/%3Fredirect_uri%3Dhttp%253A%252F%252Flocal

[2019-04-12 23:27] horsburgh opened #3319 "URL of RDF namespace in resourcemetadata.xml incorrect"
@dtarb noticed this as he was testing things related to relationship types for HydroShare resources. New resources that I am creating have the following in the XML namespace declarations at the top of their resourcemetadata.xml file:

http://www.w3.org/2001/01/rdf-schema#

This URL does not resolve. I believe the link should be:

http://www.w3.org/2000/01/rdf-schema#

Note sure what happened here

[2019-04-12 23:29] horsburgh commented on #3261
Proposed approach for handling cleanup of all related resource issues is in the following Google doc for discussion:

https://docs.google.com/document/d/1BssYnm6Taw3GVW8Qv8ldLO-H3VZqo16Kejypkrmd6KA/edit

I'm going to close the related issues and point them here because this is a comprehensive coverage of those other issues.

[2019-04-12 23:30] horsburgh commented on #3296
This will be resolved as part of #3261, so I'm going to close this one.

[2019-04-12 23:30] #3296 closed

[2019-04-12 23:31] horsburgh commented on #3295
This will be resolved by #3261, so closing this issue. See #3261 for all related discussion.

[2019-04-12 23:31] #3295 closed

[2019-04-12 23:35] horsburgh commented on #3266
@Maurier - any work on this needs to done in the context of #3261. As part of the discussion for that issue I have revised the list of relationship types, including adding some new ones and deprecating some that we should not be using. I have also revised the human-readable text for each relationship type that should be included in the drop down when selecting the relationship type and displayed o

[2019-04-12 23:35] #3266 closed

[2019-04-14 13:15] dtarb commented on #3261
#1494 (that was closed) offered the suggestion for an interface option to select or "pick" a HydroShare resource when adding a relationship (similar to the way add author gives an option to pick from existing users).  This is thus a picker or helper interface over and above the entry of content into a text box and clarification of terminology that is being addressed here.  I wanted to draw attenti

[2019-04-15 15:19] Lizabrazil commented on #3243
@Maurier This came up for pushing to 1.22, what is the status on it? thanks

[2019-04-15 15:19] Lizabrazil commented on #2873
@Lizabrazil check the status

[2019-04-15 18:35] #2873 closed

[2019-04-15 18:57] saisiddu opened #3322 "Can the 'Groups' listing be sorted by popularity?"
Hi, I am a developer of 'Landlab' (landlab.github.io). We have an active user group on Hydroshare. I was wondering if you can list the Hydroshare groups by popularity? Thanks!

[2019-04-15 19:05] cuahsimarko commented on #3322
Hi, Sai, thanks for reaching out! We're working on some bugfixes right now, but I will be sure this gets attention when we can get to it. In the meantime, I'm interested in your project and anything we can do to help interacting with the HydroShare codebase. For example, we are beta testing a new developer setup and some of your more technically advanced team mates may want to try it.

[2019-04-15 20:51] saisiddu commented on #3322
Hi Mark, Thank you for your message. Christina Bandaragoda and Tony Castranova are working with us regarding beta-testing. I wasn't able to tag them. They also asked me to tag them to this issue but I don't have permission to do so. Can you please tag them for me?

[2019-04-15 21:12] cuahsimarko commented on #3322
Yes, I work with Tony here at the office. I learned after reaching out to our team about this that you have already been connected. I will be sure to include Christina and Tony in the progress and design of this, as we discuss with you.

[2019-04-15 21:37] zhiyuli opened #3324 "Res landing page crashed with UnicodeEncodeError after being made Public"
We have a CZO resource created via hs_restclient. Everything seemed to be fine in Private mode. But once make it Public, the landing page crashed with a UnicodeEncodeError message.
As far as I can tell this resource has a special character í in Author names. But strange thing is I was able to copy this special char into other resources' authors, abstracts, keywords and made them public with no iss

[2019-04-16 00:21] Maurier commented on #3243
@Lizabrazil. The code is ready for a final review: https://github.com/hydroshare/hydroshare/pull/3246. Hopefully @sblack-usu can take a look sometime this week.

[2019-04-16 12:48] Lizabrazil commented on #3243
Great, I will tag with 1.22

[2019-04-16 13:05] cuahsimarko commented on #3258
Repetition of tags across pages is deliberate and required to function properly. This is not a case, where code cleanup will benefit.

[2019-04-16 13:05] #3258 closed

[2019-04-16 15:08] alvacouch commented on #3292
I remain convinced that I should put keywords in ALL CAPS, e.g., TITLE: AUTHOR: CONTRIBUTOR: ....
in order to avoid collision. Other than this, PR #3309 addresses this issue.

[2019-04-16 15:11] zhiyuli commented on #3294
see this one
#3324

[2019-04-16 16:44] #3234 closed

[2019-04-16 16:50] sblack-usu commented on #3324
This is the same issue, but in a different area than #3294 (user's name causes a failure in resource creation)

[2019-04-16 16:56] cuahsimarko commented on #3126
@mraocuahsi when you are ready, can you start researching this to see level-of-effort?

[2019-04-16 17:13] zhiyuli commented on #2971
closing as it has been taken care of in #3088

[2019-04-16 17:13] #2971 closed

[2019-04-16 17:19] cuahsimarko commented on #2668
Implemented
![image](https://user-images.githubusercontent.com/45397838/56230449-413eec80-604a-11e9-9e2b-694a93980fbe.png)

[2019-04-16 17:19] #2668 closed

[2019-04-16 17:30] cuahsimarko commented on #1634
@alvacouch please close this issue if the current setup meets your expectations for this issue
![image](https://user-images.githubusercontent.com/45397838/56231192-dabace00-604b-11e9-9f1a-aaa38f6f4513.png)

[2019-04-16 17:39] cuahsimarko commented on #2854
Invite non HS member to group https://github.com/hydroshare/hydroshare/issues/1243

[2019-04-16 21:34] cuahsimarko commented on #2017
Consider adding debug toolbar back in as well as cython https://django-debug-toolbar.readthedocs.io/en/latest/

[2019-04-16 21:35] cuahsimarko commented on #2017
The first step in this ticket will be a kickoff meeting TBD

[2019-04-16 22:02] cuahsimarko commented on #3166
With new performance gains, pagination seems unnecessary. I have also found a proper design pattern for infinite scroll that I am reviewing.

[2019-04-16 22:02] #3166 closed

[2019-04-16 22:04] cuahsimarko commented on #3154
Beta properly loads 16apr2019 6pm EST

[2019-04-16 22:04] #3154 closed

[2019-04-16 22:10] cuahsimarko commented on #3149
Some of the performance issues with resource-based listings have been addressed. In favor of more specific work tickets, this Issue is being closed.

[2019-04-16 22:10] #3149 closed

[2019-04-16 22:15] sblack-usu commented on #3324
Looks like it's happening here.  https://github.com/hydroshare/hydroshare/blob/develop/hs_core/search_indexes.py#L43

We should be careful to make sure we can still search by the user's name with that character.

[2019-04-17 15:46] cuahsimarko commented on #3297
@pkdash I came across something yesterday on memcached pages using the @vary_on_cookie and @cache_page decorators. Do you think this may be useful here?

[2019-04-17 15:51] cuahsimarko commented on #3186
https://github.com/hydroshare/hydroshare/issues/3120

[2019-04-17 16:10] cuahsimarko commented on #1505
![image](https://user-images.githubusercontent.com/45397838/56303404-d5bc5400-6109-11e9-84a2-c28d2e98feb8.png)

[2019-04-17 16:24] cuahsimarko commented on #3224
@mraocuahsi Let's fix this in Groups and then consider other areas it needs to be applied, because code is just repeated across a few other places.

[2019-04-17 16:31] sblack-usu commented on #3206
released in 1.20

[2019-04-17 16:31] #3206 closed

[2019-04-17 16:45] #3084 closed

[2019-04-17 16:45] #3088 closed

[2019-04-17 16:56] cuahsimarko commented on #2972
@mraocuahsi You can get clarification from Liza what page this is on and if it's intended to be "required" or not, meaning you can leave the asterisk or take it away. Backend changes may be required. We can chat after we ask Liza the intent here.

[2019-04-17 17:06] cuahsimarko commented on #3107
I believe 3095 was obsoleted

[2019-04-17 17:07] cuahsimarko commented on #3107
As a quick fix, I'd like to propose swapping locations of the log into iRODS and Cancel/Create Resource buttons. I've also noted this in the past and glad someone else feels the same way.

[2019-04-17 17:09] cuahsimarko commented on #3054
@mraocuahsi you can link this to the work you did _if it fixes it_. Add it to the GitHub Description with Fixes ....

https://github.com/hydroshare/hydroshare/pull/3325

![image](https://user-images.githubusercontent.com/45397838/56307044-fdafb580-6111-11e9-9451-b7f0f5aac6e5.png)

[2019-04-17 17:14] cuahsimarko commented on #3014
If you have questions about layout, you can ask @Lizabrazil , though Neal's suggestion seems good.

[2019-04-17 17:16] cuahsimarko commented on #2972
Note resource landing page doesn't have asterisks so wondering if this is still a thing
![image](https://user-images.githubusercontent.com/45397838/56307547-110f5080-6113-11e9-8c56-6db8abc80f85.png)

[2019-04-17 17:28] pkdash commented on #3297
@cuahsimarko I am aware of the decorator '@cache_page' and it can help in page loading time in certain scenarios. However, it also can give an impression of a bug when the user doesn't see a resource in the resource list which he/she just created due to page caching. The new resource won't appear unit the cache expires.

[2019-04-17 17:38] cuahsimarko commented on #1848
@ChristinaB Can we consider moving this to a design process (e-mails, meetings, google docs, and other tools)?

[2019-04-17 18:25] Lizabrazil commented on #3242
1. We need to fix the reroute so that it does not go to My Resources
2. Decision needs to be made for whether or not to show the dropdown. When
3. The menu nav bar should stay the same when on Help pages
4. The dropdown looks funky in the middle of the nav bar

[2019-04-17 19:38] engineSound commented on #2955
I've fixed the original issue Liza filed. Closing.

[2019-04-17 19:38] #2955 closed

[2019-04-17 21:04] cuahsimarko commented on #3322
being discussed via e-mails... still underway

[2019-04-17 21:04] Lizabrazil commented on #2822
approved

[2019-04-17 21:06] cuahsimarko commented on #2822
@Lizabrazil you can approve in the parent Pull Request after reviewing all the bugs - https://github.com/hydroshare/hydroshare/pull/3325

[2019-04-17 21:07] engineSound commented on #2756
The deletion action was done in a javascript via ajax which is clear and good. I have looked at the confirmation dialog code for file metadata deletion. The html code was generated in a python file which was challenging to tear apart for reuse.

[2019-04-17 21:09] Lizabrazil commented on #3013
approved

[2019-04-17 21:13] Lizabrazil commented on #3126
Approved

[2019-04-17 21:17] Lizabrazil commented on #3015
not completed yet

[2019-04-17 21:18] Lizabrazil commented on #3015
![image](https://user-images.githubusercontent.com/13852599/56321475-bedf2700-6134-11e9-80a9-4267c74ab5e3.png)

[2019-04-17 21:20] cuahsimarko commented on #3015
@mraocuahsi can you have another look?

[2019-04-17 21:23] Lizabrazil commented on #2826
Still get the error.

[2019-04-17 21:25] Lizabrazil commented on #2826
![image](https://user-images.githubusercontent.com/13852599/56321930-bb986b00-6135-11e9-97df-a0cd44a93393.png)

[2019-04-17 21:28] Lizabrazil commented on #3054
approved
![image](https://user-images.githubusercontent.com/13852599/56322107-2f3a7800-6136-11e9-8b03-e5d846fd44a5.png)

[2019-04-17 21:40] cuahsimarko commented on #2266
This work ticket would be more actionable if it were updated for the last year of fixes and broken into specific, outstanding issues, perhaps high qty/large files.

[2019-04-17 21:42] cuahsimarko commented on #2135
Let's design this up so it can be coded. E-mail body, subject... any standard disclaimers/unsubscribe as appropriate in the footer.

[2019-04-17 21:51] cuahsimarko commented on #2135
Note to developer, at implementation time, after you have all the design details, also follow-up with Phuong for ensuring the sender account isn't spamlisted (using proper marketing approach/service and unsubscribe capabilities)

[2019-04-17 22:12] cuahsimarko commented on #1653
I really like the idea of guided workflows through some of the more complex areas of the domain/workflow/interface

[2019-04-17 22:16] Lizabrazil commented on #1243
@ChristinaB in case you'd like to provide some beautiful verbiage here. I am going to work on the text for this and design. Right now I'm just looking at how other sites do this:
https://docs.google.com/document/d/1U6Bw8zfUIlSLkQMJzfkrj6kkk7A_kWKfc96wLU2B1cc/edit?usp=sharing

[2019-04-17 22:18] Lizabrazil commented on #1243
@mraocuahsi hold off on this for now.

[2019-04-17 22:20] Lizabrazil commented on #1653
Completely behind this and will help with design, we may want to strategize on how we avoid having to update it for every new interface change.

[2019-04-17 22:22] cuahsimarko commented on #958
I am closing this and it is definitely on my radar to tackle from first principles in the codebase. As themes emerge as actionable, I open them as GH Issues.

[2019-04-17 22:22] #958 closed

[2019-04-17 22:24] zhiyuli commented on #2137
Old issue already fixed.

[2019-04-17 22:24] #2137 closed

[2019-04-18 04:58] dtarb commented on #3242
I suggest the following

1. Create menu item does not have triangle next to it.  This is so that all menus look the same.  This addresses point 3 above.  I think it would also address 4 above in that without the triangle it would look OK where it is, though where these items are on the top menu is a lesser consideration for me.

2. When not logged in Create menu item does not have dropdown.  It be

[2019-04-18 12:24] alvacouch commented on #1034
@cuahsimarko This is in essence an obsolete issue, as the whole mechanism discussed herein has been **replaced** with the CompositeResource mechanism for file metadata.

[2019-04-18 12:27] alvacouch commented on #1765
@cuahsimarko This issue is latent and several things have been done to address parts of this. This is related to the structure imposed by proxy classes, and the composite resource model will make it possible to fix this.

[2019-04-18 12:54] #1034 closed

[2019-04-18 14:28] Lizabrazil commented on #2972
looks fixed!

[2019-04-18 14:28] #2972 closed

[2019-04-18 14:51] cuahsimarko commented on #3015
@Lizabrazil Ok I think it was just a git issue. It hopefully just won't be an issue in the future
![image](https://user-images.githubusercontent.com/45397838/56369701-da474200-61c7-11e9-9b97-2e3e238967d2.png)

approved

[2019-04-18 14:51] cuahsimarko commented on #2826
approved

[2019-04-18 14:51] #2822 closed

[2019-04-18 14:51] #2826 closed

[2019-04-18 14:51] #3013 closed

[2019-04-18 14:51] #3015 closed

[2019-04-18 14:51] #3054 closed

[2019-04-18 14:51] #3126 closed

[2019-04-18 15:05] Lizabrazil commented on #3086
looks fixed

[2019-04-18 15:05] #3086 closed

[2019-04-18 15:46] cuahsimarko commented on #2017
Add cython

[2019-04-18 16:13] cuahsimarko commented on #2017
When updating hs_docker_base also take a moment to eliminate the matplotlib error

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
docker exec -it hydroshare /bin/bash
rm -rf /root/.cache/matplotlib

[2019-04-18 16:23] sblack-usu opened #3330 "local_settings not overwriting all settings"
Looks like local_settings.py isn't behaving the way we think it is.  local_settings.py is imported into settings.py about halfway through the file so it only overwrites keys that are before local is imported.  I think we just need to drop it to the bottom.  https://github.com/hydroshare/hydroshare/blob/develop/hydroshare/settings.py#L461

[2019-04-18 18:13] cuahsimarko commented on #831
@alvacouch should we revisit this and consider raising priority slightly if it will be useful in all resource views for performance/cleaner code?

[2019-04-18 18:22] cuahsimarko commented on #967
I was thinking the same thing for anywhere we list resources, such as Groups. Let's talk. Also, is there a use-case for Signals or some sort of push notification?

[2019-04-18 19:10] Lizabrazil commented on #897
Is this the right issue to address the miscalculated Views and Downloads? I've had a user who has already noticed that we are not counting these accurately, as we are counting the creator's views and edits to the resource in the cumulative count. @alvacouch I think we chatted and you have the backend to fix this issue? Or maybe you said you were working on it in the future?

[2019-04-18 19:12] Lizabrazil commented on #897
I do not think this should be pushed to the My Resources page too until we are calculating it accurately.

[2019-04-18 20:02] Castronova commented on #856
closing due to inactivity

[2019-04-18 20:02] #856 closed

[2019-04-18 20:27] cuahsimarko commented on #2275
@Lizabrazil can you confirm the wording in the e-mail as described or offer any changes?

[2019-04-18 20:54] cuahsimarko commented on #2017
@ndebuhr do we need selenium here? I see it listed selenium==3.0.2 but suspect you import that outside this repo for use, please let me know if we can remove selenium here.

[2019-04-18 21:23] sblack-usu commented on #2017
We should be able to remove it.  There are some selenium tests in the hydroshare repo from before Neal's work, but they've never been run since I joined.

[2019-04-19 13:40] mraocuahsi commented on #3014
![Screenshot from 2019-04-19 09-20-57](https://user-images.githubusercontent.com/49655428/56426629-f827ac00-6286-11e9-935c-28f9ec2b96b8.png)
In Chrome it is looking fine.
@ndebuhr @cuahsimarko

[2019-04-19 13:58] mraocuahsi commented on #3014
Chrome and Firefox screenshots .
@ndebuhr @cuahsimarko
![Chrome](https://user-images.githubusercontent.com/49655428/56427404-bba97f80-6289-11e9-92ca-35e9b4aed7d2.png)
![Firefox](https://user-images.githubusercontent.com/49655428/56427405-bc421600-6289-11e9-82c6-4627f962d6ed.png)

[2019-04-19 15:31] #3313 closed

[2019-04-19 15:47] cuahsimarko opened #3334 "Create New Resource Version - Improve Readability"
Text needs to be more readable/possibly improve or guide the workflow or add learn more:
![image](https://user-images.githubusercontent.com/45397838/56431737-de8f6000-6298-11e9-9982-9ab9c0f575d1.png)

As a short-term fix we could just update:

New Resource Version
Creating a new version will obsolete this resource.

    - Obsoleted resource will be still available in HydroShare
    - The new versi

[2019-04-19 16:11] zhiyuli commented on #2127
fixed already

[2019-04-19 16:11] #2127 closed

[2019-04-19 16:20] #3205 closed

[2019-04-19 16:26] cuahsimarko commented on #3016
Fixed in https://github.com/hydroshare/hydroshare/pull/3325

[2019-04-19 16:26] #3016 closed

[2019-04-19 17:27] #3014 closed

[2019-04-19 18:09] cuahsimarko opened #3336 "Database Entries on Beta"
Please clear undeletable labels from the beta backend (those with "<" or ">" characters in them)

[2019-04-19 18:09] cuahsimarko commented on #2806
Interaction with beta moved to https://github.com/hydroshare/hydroshare/issues/3336

[2019-04-19 19:00] #3199 closed

[2019-04-19 19:05] cuahsimarko commented on #3199
Scott and I just chatted and our new working agreement will be I post my understanding and close the issue and he'll see the notification and if I misunderstood or have incomplete info, he'll just reopen.

[2019-04-19 19:23] cuahsimarko commented on #1369
spoke with Hong CUAHSI will take this on

[2019-04-19 20:08] cuahsimarko commented on #3155
Correct Web Apps are in Open With...
<img width="219" alt="image" src="https://user-images.githubusercontent.com/45397838/56442079-57a0ae80-62bd-11e9-9b07-c1a853b9f2da.png">

[2019-04-19 20:08] #3155 closed

[2019-04-22 15:38] hyi commented on #2557
@rajadain Agreed that UX-wise, there is not a good way around this that also keeps the email verification intact. Adding messaging/advertising on the MMW side sounds acceptable to me letting people know that they should have already signed up for HydroShare before accessing MMW resources in HydroShare. I will not do any work in HydroShare on this unless MMW team come up with specific recommendatio

[2019-04-22 15:45] sblack-usu commented on #2017
I worked on this a bit on Friday, here is my branch with initial upgrades.  https://github.com/hydroshare/hs_docker_base/commit/6ba0484a68853da3fa74bd24e6f92b1b1b643ec2

[2019-04-22 15:47] zhiyuli commented on #2777
@cuahsimarko @mraocuahsi
This is still an issue on www
I created a new composite resource and tried to set its dates as 01/01/1890 to 01/02/1890
The metadata failed to update; The whole res landing page failed to open.
![image](https://user-images.githubusercontent.com/10070599/56509224-a62f9200-64e3-11e9-94b4-b0c7a9079ddc.png)

![image](https://user-images.githubusercontent.com/10070599/56509244-

[2019-04-22 16:19] cuahsimarko commented on #1892
Per conversation with Alva not needed

[2019-04-22 16:19] #1892 closed

[2019-04-22 16:23] zhiyuli commented on #2777
@cuahsimarko @mraocuahsi
Test REST API: hs_restclient was able to update coverages with 01/01/1890 through rest api, the error only happens on resource landing page
![image](https://user-images.githubusercontent.com/10070599/56510958-95cde600-64e8-11e9-941d-a6e3fc0f2b68.png)

[2019-04-22 16:24] cuahsimarko commented on #3322
@Lizabrazil will lead the design discussion per e-mail thread just forwarded. Developers will re-engage when more is locked down.

[2019-04-22 17:23] Lizabrazil commented on #2275
@cuahsimarko Christina's wording works. I'd just add for the signature"
"Thanks,
The CUAHSI-HydroShare Team"

[2019-04-22 19:14] #3316 closed

[2019-04-22 21:06] sblack-usu opened #3338 "Management command for updating a resource id"
Setup a management command that will generate modify the resource id of a resource.

I got things started below, just needs to be put into a management command and thoroughly tested.

[code]

[2019-04-23 15:47] cuahsimarko commented on #1369
It seems that we need the following functionality

    The commentor can delete their own comment
    If an owner or anyone else does not like that comment they can not delete it but they can comment back

[2019-04-23 15:49] cuahsimarko commented on #1213
Related Issue: Edit/Delete Comments https://github.com/hydroshare/hydroshare/issues/1369

[2019-04-23 15:49] cuahsimarko commented on #1369
Related Issue: Report Inappropriate Comments https://github.com/hydroshare/hydroshare/issues/1213

[2019-04-23 15:55] cuahsimarko commented on #3120
@dtarb I'm unable to reproduce this problem. When I add an owner, I'm required to update the Quota holder, then remove myself as owner, at which time I get a warning dialog. Upon accepting consequences of removing myself as owner (assigning the new owner), it takes me to the My Resources View and the resource no longer appears in that view.

[2019-04-23 16:05] cuahsimarko commented on #1213
Related: Report this Resource https://github.com/hydroshare/hydroshare/issues/2489

[2019-04-23 16:06] cuahsimarko commented on #2489
Related: report this comment https://github.com/hydroshare/hydroshare/issues/1213

[2019-04-23 16:20] horsburgh commented on #2368
With recent enhancements, performance of the My Resources page is now workable for me.

However, it still takes over 10 seconds to load the page for me. I own 27 resources, but 241 are shared with me, so I guess I may have more resources in the system than many users would. However, even at the 6-second load time reported above, I think for frequent users of the system, this might be tedious. Ther

[2019-04-23 17:12] martinseul commented on #3001
@Lizabrazil  can you please weigh in if this needs to be fixed or put into the 'do not fix bucket'

[2019-04-23 17:15] cuahsimarko commented on #3001
@martinseul my understanding of the 'do not fix' bucket is the Delete button

[2019-04-23 17:18] Lizabrazil commented on #3001
@cuahsimarko I think you can close this if it is a large effort. Ultimately, we need a design pattern library where we can be consistent across the entire website, for instance when it comes to feedback messages.

[2019-04-23 17:31] Lizabrazil commented on #2368
I just tested and found it still to be extremely slow (16 seconds timed), however I have something like 300 resources, 169 shared with me. The common user will not encounter this problem.

[2019-04-23 17:35] cuahsimarko commented on #3021
![image](https://user-images.githubusercontent.com/45397838/56602956-a3f53280-65cc-11e9-9162-b0f6722634ed.png)

[2019-04-23 17:35] #3021 closed

[2019-04-23 17:38] Lizabrazil commented on #2556
@cuahsimarko this is pretty high priority and I do not think it needs much design. Let me know if you have questions.

[2019-04-23 17:46] #3001 closed

[2019-04-23 17:51] cuahsimarko commented on #976
Push Notifications

[2019-04-23 17:52] cuahsimarko commented on #976
Standard Toasts/Snackbars and Push Notifications need to be researched and implementation work divided into various frontend sections

[2019-04-23 17:53] cuahsimarko commented on #3001
Larger issue here: https://github.com/hydroshare/hydroshare/issues/976

[2019-04-23 18:10] cuahsimarko commented on #3267
![image](https://user-images.githubusercontent.com/45397838/56605216-99896780-65d1-11e9-86b4-3de71521e496.png)

[2019-04-23 18:33] cuahsimarko commented on #707
Unable to reproduce: added local file, selected iRODS file, was able to use the trash can and remove local file.

![image](https://user-images.githubusercontent.com/45397838/56606663-be330e80-65d4-11e9-8e2a-d14a6dfbde23.png)
@dtarb can you confirm this is no longer an issue?

[2019-04-23 18:34] Lizabrazil commented on #1243
@mraocuahsi for emails to users, we've used Mailchimp in the past as it has ability for design. Let's start with a simple email and then look into incorporating Mailchimp at a later time.
[Group invitiation to new users.docx](https://github.com/hydroshare/hydroshare/files/3109066/Group.invitiation.to.new.users.docx)

[2019-04-23 18:39] Lizabrazil commented on #1243
[Group invitiation to new users.docx](https://github.com/hydroshare/hydroshare/files/3109073/Group.invitiation.to.new.users.docx)

[2019-04-23 18:40] Lizabrazil commented on #1243
@ChristinaB I have the text in the doc attached above. Once you sign off I will assign @mraocuahsi to work on it.

[2019-04-23 19:02] engineSound commented on #3248
The work is completed. https://github.com/hydroshare/hydroshare/pull/3301

[2019-04-23 19:02] #3248 closed

[2019-04-23 19:03] engineSound commented on #2660
Fixed last year.

[2019-04-23 19:03] #2660 closed

[2019-04-23 19:09] engineSound commented on #2729
I've decided to close this one for the sole reason that the behavior doesn't exist any longer due to resource landing page redesign. However I make a note here:  other issues  #2556 and #2557 and #1099 which don't share the same root cause still exist.

[2019-04-23 19:09] #2729 closed

[2019-04-23 19:11] engineSound commented on #2732
Fix has been in production. PR #2850

[2019-04-23 19:11] #2732 closed

[2019-04-23 19:14] engineSound commented on #2823
Fix has been in production. PR #3150

[2019-04-23 19:14] #2823 closed

[2019-04-23 21:58] Lizabrazil commented on #1243
@ChristinaB @horsburgh See the low-fi design for the invitation pop up
![image](https://user-images.githubusercontent.com/13852599/56618683-55a65a80-65f1-11e9-9b5c-5c2ffb574b18.png)
with all css elements matching the existing pop up:
![image](https://user-images.githubusercontent.com/13852599/56618720-6d7dde80-65f1-11e9-81ef-4c0fff534e48.png)

[2019-04-23 22:01] Lizabrazil commented on #1243
should just say "Enter email address" -> Send Invitation

[2019-04-23 22:12] cuahsimarko commented on #2557
@Lizabrazil let's refine this

[2019-04-23 22:26] cuahsimarko commented on #3322
@Lizabrazil let's keep the thread alive here

[2019-04-23 22:35] Lizabrazil commented on #3322
Christina and Sai proposed a popularity index to define Popularity in groups:

 # members/total HS users
+
# accessed resources this week/ # of all accessed resources on Hydroshare
+
# new members in the past 12 months/total new HS members in the past 12 months
-----------
It will be a weighted average of:
1) total members
2) recent members (no. of people that joined in the last month or three mon

[2019-04-24 04:37] dtarb commented on #3120
@cuahsimarko I do not think your attempt followed what I did.  I did not describe doing anything about quota holder.  Closing based on no reading the issue properly does not seem warranted.  This may not be a high priority issue, but please look at it to get an understanding of what it actually is.

[2019-04-24 19:46] Lizabrazil commented on #3322
@cuahsimarko if we can generate a popularity index, do you know how technically feasible it would be to automatically move around the order of the groups? This seems a little more involved, do you have the bandwidth to look into this?

[2019-04-24 19:52] Lizabrazil commented on #2875
@cuahsimarko I don't see a design need here, you should be able to click one checkbox and then hold down the shift and click a lower box and have all boxes in between get checked.

[2019-04-24 19:55] dtarb commented on #2557
@cuahsimarko what does "refine this" mean in the context of this issue?

[2019-04-25 15:18] horsburgh commented on #1243
@Lizabrazil - I think your forms are fine. I also looked at your linked word document and think it's fine.

One question - will you have a different invitation for HydroShare users versus non-users with different instructions for what they need to do? Non-users will have to create an account first, so perhaps they could use some instructions on the workflow steps needed to actually get them into t

[2019-04-25 15:46] cuahsimarko commented on #2275
@mraocuahsi you need to modify both the group_membership.txt file and group_membership.html I just tested and it works.
![image](https://user-images.githubusercontent.com/45397838/56749478-cbc0d380-674f-11e9-8d3a-838932f5fcd7.png)

[2019-04-25 15:50] cuahsimarko commented on #1505
![image](https://user-images.githubusercontent.com/45397838/56749750-530e4700-6750-11e9-9004-dbe54361250d.png)

[2019-04-25 15:51] cuahsimarko commented on #2275
When you are testing, ensure the Profile of the user you "requested to join" from has the appropriate information, otherwise null/empty string will appear as "no change" in the "e-mail/console"

[2019-04-25 15:52] cuahsimarko commented on #2275
![image](https://user-images.githubusercontent.com/45397838/56749870-8f41a780-6750-11e9-95a5-6672063cf68a.png)

[2019-04-25 15:52] cuahsimarko commented on #3262
UTF-8 primer https://pythonhosted.org/kitchen/unicode-frustrations.html

[2019-04-25 16:10] cuahsimarko opened #3346 "Prevent Orphaned Metadata and File Objects at aborted res creation"
Navigating away from Resource page during creation should not result in orphaned metadata or file objects.

Currently, if you create a resource that's large or with many files and navigate away or clsoe the browser it results in unwanted artifacts.

- learn how to find the orphaned metadata in database
- learn how to find the iRODS objects
- prevent the behavior

------

If the user is creating a

[2019-04-25 16:11] cuahsimarko commented on #2871
Second phase https://github.com/hydroshare/hydroshare/issues/3346

[2019-04-25 16:11] cuahsimarko commented on #3346
Locking the UI work already done https://github.com/hydroshare/hydroshare/issues/2871

[2019-04-25 16:30] #3229 closed

[2019-04-25 16:48] #3267 closed

[2019-04-25 16:48] #2915 closed

[2019-04-25 17:55] cuahsimarko commented on #3276
@hyi are you working this?

[2019-04-25 18:03] Lizabrazil commented on #3187
closing because it can be assessed for #3261

[2019-04-25 18:03] #3187 closed

[2019-04-25 18:10] hyi commented on #3276
@cuahsimarko The fix I made has been deployed to www and @dtarb has already verified the fix. The only thing remaining to be tested before this can be closed is for @sblack-usu to check on REST API side to make sure we are good on API as well, as detailed by @dtarb above.

[2019-04-25 18:10] cuahsimarko commented on #2973
I find this disorienting too and would prefer clicking on a resource goes into edit mode

[2019-04-25 18:22] horsburgh commented on #2973
So, if I click on a resource that I have edit access to it automatically goes into edit mode (even if I don't want to edit it), but if I click on a resource that I don't have edit access to I get totally different behavior?

Editing is a deliberate action. I think we should keep it so.

[2019-04-25 18:24] cuahsimarko commented on #2973
@Lizabrazil did I misunderstand the user's intent in opening this ticket? My opinion counts for less, as I'm not a hydrologist

[2019-04-25 18:28] horsburgh commented on #2973
@cuahsimarko - certainly you don't have to be a hydrologist to have an opinion here. It's a pattern for how the site works. Your opinion is just as valid as mine.

[2019-04-25 18:28] cuahsimarko commented on #2973
@horsburgh I'm thinking more of an in-place edit, live edit mode.

[2019-04-25 18:33] horsburgh commented on #2973
@cuahsimarko - yeah, in place edit could provide some nice improvements although would probably be a pretty big change because we have two separate views now (view and edit).

My concern is just making sure edits are deliberate - and, as a user, my immediate goal in accessing a resource is not always to edit it.

[2019-04-25 18:34] cuahsimarko commented on #2751
Let's consider having progress indicators for uploads.

[2019-04-25 18:35] cuahsimarko commented on #1712
This is only for superusers

[2019-04-25 18:35] #1712 closed

[2019-04-25 18:48] Lizabrazil commented on #1243
@horsburgh Good point, see revised emails for new users and for current users
[Group.invitiation.to.new.users.docx](https://github.com/hydroshare/hydroshare/files/3118405/Group.invitiation.to.new.users.docx)
[Group.invitiation.to.current.users.docx](https://github.com/hydroshare/hydroshare/files/3118406/Group.invitiation.to.current.users.docx)

[2019-04-25 18:49] cuahsimarko commented on #2405
Related or duplicated
https://github.com/hydroshare/hydroshare/issues/2368

[2019-04-25 18:50] cuahsimarko commented on #2368
Related or duplicated
https://github.com/hydroshare/hydroshare/issues/2405

[2019-04-25 18:54] cuahsimarko commented on #1645
https://github.com/hydroshare/hydroshare/issues/1765

[2019-04-25 18:54] cuahsimarko commented on #1765
https://github.com/hydroshare/hydroshare/issues/1645

[2019-04-25 18:59] cuahsimarko commented on #1765
https://docs.google.com/document/d/1aYvFgOymrWJKv3cv8kkwXtOspdaGKSR40UgCdY4QNWU/edit?usp=sharing

[2019-04-25 18:59] cuahsimarko commented on #1645
https://docs.google.com/document/d/1aYvFgOymrWJKv3cv8kkwXtOspdaGKSR40UgCdY4QNWU/edit?usp=sharing

[2019-04-25 19:19] Lizabrazil commented on #2973
i take this back! I more recently learned about best practices with editing in context and yes I agree it should be a deliberate user action. I

[2019-04-25 19:19] #2973 closed

[2019-04-25 19:24] #2830 closed

[2019-04-25 19:24] #2874 closed

[2019-04-25 19:30] cuahsimarko commented on #975
@hyi are you working this?

[2019-04-25 19:36] pkdash commented on #3312
@sblack-usu While testing #3297 I am seeing the issue (#3259)  again for which I had made a hotfix for the last release 1.21. It seems this issues has been resolved on www. Not sure why this fix did not make into 'develop'.

[2019-04-25 19:44] cuahsimarko commented on #3062
No mobile phone support officially that will be a larger design effort in the code

[2019-04-25 19:45] cuahsimarko commented on #2874
No mobile phone support officially that will be a larger design effort in the code

[2019-04-25 19:45] cuahsimarko commented on #2830
No mobile phone support officially that will be a larger design effort in the code

[2019-04-25 19:45] cuahsimarko commented on #3062
No mobile phone support officially that will be a larger design effort in the code

[2019-04-25 19:47] hyi commented on #975
@cuahsimarko I have not worked on this, but can start to work on this after I get iRODS user zone oauth implemented and deployed. @dtarb I assume I just need to implement what you suggested above regarding the access control and notification mechanisms for authors and contributors for this issue.

[2019-04-25 19:48] cuahsimarko opened #3348 "Make Close button easier to hit"
When changing Resource permissions, the Close button is below the screen. Changing layout so scrolling isn't necessary is desirable

![image](https://user-images.githubusercontent.com/45397838/56763918-7f868b00-6771-11e9-90a0-84c6706f2c79.png)

[2019-04-25 19:48] cuahsimarko commented on #3348
![image](https://user-images.githubusercontent.com/45397838/56763953-9200c480-6771-11e9-973d-d0bb0d892c48.png)

[2019-04-25 19:49] cuahsimarko commented on #3062
This is an issue in non-mobile browsers, too

[2019-04-25 20:00] pkdash commented on #3312
While testing #3254 found that the icon for Geographic Feature resource type is missing on profile page. @sblack-usu Should I create a fix for 'develop' or 'RC 1.22'?

[2019-04-25 20:02] pkdash commented on #3312
@Maurier Would appreciate if you can test the profile page.

[2019-04-25 22:25] dtarb commented on #975
The automatic filling in has been implemented for a while.  The notifications part of this suggestion would need implementing.  But given how long this has sat, I would prefer a decision on implementing these front facing notification improvements to be deliberate on the part of CUAHSI.  This will involve additional emails that get sent to users.  Do we want to do this?  Do we have a mechanism for

[2019-04-25 23:06] sblack-usu commented on #3312
Go ahead and sumbit a PR against RC-1.22 and we can get it in, assuming it's just a frontend change.

[2019-04-26 01:18] pkdash opened #3349 "Geo Feature Resource type icon missing in profile page"

[2019-04-26 01:58] pkdash commented on #3312
Here is the PR #3350

[2019-04-26 02:17] pkdash commented on #2575
@dtarb Let me know if you want Scott to work on this.

[2019-04-26 12:10] dtarb commented on #2575
@sblack-usu is product owner for the API, so yes I would like him to work on this, or at least coordinate with you as to who is in the best position to do this.

[2019-04-26 12:13] dtarb commented on #707
Given that we are migrating away from multidimensional resources, even if this is still an issue, we do not need to address.  Closing.

[2019-04-26 12:13] #707 closed

[2019-04-26 12:33] dtarb opened #3351 "Creating a resource copying a file from iRODs results in an incomplete geographic raster aggregation"
The following resource was created using copy from iRODS on the Create Resource page.

https://www.hydroshare.org/resource/abba182072cc48b691ca61509019e9f8/

It holds a geographic raster file.  The .vrt file was created and it was placed in a folder, both steps in automatic aggregation.  However the folder that results does not appear on the UI as an aggregation and aggregation metadata is not dis

[2019-04-26 12:36] dtarb commented on #3351
I am unable to make this illustrative resource public due to
![image](https://user-images.githubusercontent.com/3456833/56807950-7cc97b80-67ed-11e9-893a-7056b1056927.png)

This is part of the problem of metadata not being set up right.  The resource is shared with HydroShare developers group so if you are a member of that group you should be able to access this.

[2019-04-26 12:50] dtarb commented on #3351
The inability to make the above resource public may be due to the nedgridb.tif file not having spatial reference information.  But it is still a problem, as it should be possible to add this information using HydroShare if it was converted fully to an aggregation.

The following resource with a different file is public, but does not have the aggregation folder properly formed
https://www.hydroshar

[2019-04-26 13:02] dtarb commented on #3351
If the create page is bypassed and the file is loaded from iRODS after the resource is created, the aggregation is properly established
Examples with the files above are
https://www.hydroshare.org/resource/ee5ac2b6e529479a97b469d21e681038/
https://www.hydroshare.org/resource/e9da177f87fd42e8922b2e4bb2ceb60d/

This appears to isolate this problem to the iRODS functionality in the Create Resource pa

[2019-04-26 13:25] hyi commented on #3351
@dtarb The only difference between loading iRODS file to create resource and adding iRODS file to an existing resource from resource landing page is where the resource is stored. In the former, the resource is stored in the user zone, hence the path is absolute that contains iRODS user zone info. I suspect the aggregation code did not account for the federation path properly, hence the folder path

[2019-04-26 13:27] dtarb commented on #3351
This is similar to #2970

[2019-04-26 13:32] zhiyuli commented on #1715
fixed a while ago

[2019-04-26 13:32] #1715 closed

[2019-04-26 13:41] dtarb commented on #2576
This is now implemented.  Closing.

[2019-04-26 13:41] #2576 closed

[2019-04-26 14:01] zhiyuli commented on #2861
@horsburgh I was referred by @martinseul to this ticket and then realized this might have been superseded by the new changes you proposed a couple of weeks ago on Wed call. Can we close this ticket? Thanks

[2019-04-26 14:20] dtarb commented on #2570
Testing this I find the following works as desired
- Multiple shapefiles can be added and they are properly auto-aggregated
- Zip files are not unzipped when they are loaded
- When a zip file that holds one shapefile is unzipped, one aggregation is created
- When a zip file that holds two shapefiles is unzipped, two aggregations are created.

In the case of two shapefiles, the aggregations are cre

[2019-04-26 14:20] #2570 closed

[2019-04-26 14:37] #2871 closed

[2019-04-26 14:45] dtarb commented on #3351
@hyi that seems like a likely explanation.  But it is a case where iRODS complexity and federation complexity has bitten us and is costing us.  We need to structure and simplify our work to avoid these occurrences.

[2019-04-26 14:57] cuahsimarko commented on #3163
Looks like this went out in 1.21

[2019-04-26 14:57] #3163 closed

[2019-04-26 15:35] cuahsimarko commented on #2844
https://github.com/hydroshare/hydroshare-jupyterhub/issues/153

[2019-04-26 15:35] #2844 closed

[2019-04-26 16:04] dtarb commented on #2575
see https://github.com/hydroshare/hydroshare/issues/2563#issuecomment-455803939

[2019-04-26 16:17] sblack-usu commented on #3312
Beta has been updated with the updated RC

[2019-04-26 16:26] horsburgh commented on #2861
@zhiyuli - yes, see the discussion in #3261. There's a link to a Google doc there where I lay out the changes that will need to be made to related resources, including addition of new relationship type terms. There are Dublin Core relationship types for "references" and "isReferencedBy" that can be used to create more generic pointers from and to external references. Also, they are Dublin Core and

[2019-04-26 16:26] #2861 closed

[2019-04-26 17:14] engineSound commented on #2792
###  Closing justification:

[2019-04-26 17:14] #2792 closed

[2019-04-26 17:59] pkdash commented on #3312
Fix for the missing icon for geo feature resource type is working now on beta.

[2019-04-27 14:28] hydrocheck opened #3352 "Contributor filter breaks for cases of no last name"
Use any of the contributors that start with a "," - presumably indicating no last name provided.  These do not filter properly (do not filter at all).

[001.zip](https://github.com/hydroshare/hydroshare/files/3123960/001.zip)

[2019-04-27 14:29] hydrocheck opened #3353 ""Show All" button is off to the side and somewhat unintuitively labeled"
To my knowledge, a "Reset Filters" label would be much more direct and intuitive for users.  Additionally, the button is not styled similarly to the filters below it, so it doesn't comfortably feel like it belongs with the filters.  Can we style this more closely to the filters below it?  For example, same width and have one "outline box" that groups together all the filters and the reset button?

[2019-04-27 14:29] hydrocheck opened #3354 "The numbers next to the filter selections don't accurately reflect the results count with the filter applied."
The numbers next to the filter options indicate to the user how many results match with that selection.  Yet, it's frequently the case that applying the filter (and that filter alone) results in more results than the filter label suggests.

[003.zip](https://github.com/hydroshare/hydroshare/files/3123966/003.zip)

[2019-04-27 14:30] hydrocheck opened #3355 "Date filters and regular filters don't work together on discover."
The date filters and regular filters don't work together, such that the user can unapply a filter, reapply it, and have different results than before.  This cycle of unclicking then reclicking a filter should fundamentally not change the results, but it does.

[004.zip](https://github.com/hydroshare/hydroshare/files/3123967/004.zip)

[2019-04-27 14:30] hydrocheck opened #3356 "Date filters persist on page reload, but do not apply after page reloads"
Apply a date filter, then reload the page.  The filter will appear to be applied, but it doesn't actually filter the results at all.

[005.zip](https://github.com/hydroshare/hydroshare/files/3123968/005.zip)

[2019-04-27 14:31] hydrocheck opened #3357 "A number of UI issues when there are no search results on Discover"
1. The filters in the sidebar can still expand and contract with the "+" and "-", but there is nothing to show.
2. We show the user four separate times that there are no results.  I would recommend removing the "Sorry, no results match those criteria. Please try broadening your search." and instead using that same message in the table (replace "No data available in table")
2.1 With the "Results 0

[2019-04-27 14:31] hydrocheck opened #3358 "When using the back/forward browser navigations, the searchbar filter sometimes doesn't work."
In particular, it's possible to have the searchbar filter applied to the results, but without it showing up in the UI as an applied filter.  Apply the filter, then remove it, then use the "Back" in the browser.

[007.zip](https://github.com/hydroshare/hydroshare/files/3123971/007.zip)

[2019-04-27 14:32] hydrocheck opened #3359 "Red "x" for clearing date filters, but no equivalent for text filters"
We have a solution which is pretty intuitive for date filters on the discover page.  However, the same solution is not applied for text searches.  There is no "clear search" button, and the user just needs to figure out that they manually remove the text with backspace, then press enter to run a search with a blank text filter.  We have some precedent for this in the resource landing page - maybe

[2019-04-27 14:32] hydrocheck opened #3360 "Interface styling abnormalities in Discover page"
There is no obvious reason for the blank space above the "Show All" button on the Discover page.  Additionally, it makes the search bar appear as though it is not a part of the core discover page interface.  Big picture, some redesign here seems valuable.
-Why are the date filters styled/treated/placed wildly differently from the other filters?
-Why is there a "Sort Order" section instead of the s

[2019-04-27 14:33] hydrocheck opened #3361 "Random unnecessary scroll bar for group titles."
In IE11 and Chrome.  See attached image to quickly understand the bug.

[010.zip](https://github.com/hydroshare/hydroshare/files/3123976/010.zip)

[2019-04-27 14:34] hydrocheck opened #3362 "For group searches with no results, no message is displayed."
If the user searches for a group, but there are no results, they will not see a message displaying that information.  For consistency with other parts of the application, and to avoid any user confusion, a message should probably be added.

[011.zip](https://github.com/hydroshare/hydroshare/files/3123977/011.zip)

[2019-04-27 14:34] hydrocheck opened #3363 ""+1" is slow and does a full page refresh"
Compared to standards like the social media giants, our "+1" is rather clunky.  The process is slow and fully refreshes the page.

[012.zip](https://github.com/hydroshare/hydroshare/files/3123979/012.zip)

[2019-04-27 14:35] hydrocheck opened #3364 "Display of multiple orgs on the profile page is unfriendly"
The use of a semicolon delimited list for multiple organizations on the profile page is not very clean, user-friendly, or attractive.  The profile edit page looks nice in the display of multiple organizations - maybe a similar approach can be taken for the profile view.

[013.zip](https://github.com/hydroshare/hydroshare/files/3123981/013.zip)

[2019-04-27 14:36] hydrocheck commented on #3312
1. - https://github.com/hydroshare/hydroshare/issues/3352
2. - https://github.com/hydroshare/hydroshare/issues/3353
3. - https://github.com/hydroshare/hydroshare/issues/3354
4. - https://github.com/hydroshare/hydroshare/issues/3355
5. - https://github.com/hydroshare/hydroshare/issues/3356
6. - https://github.com/hydroshare/hydroshare/issues/3357
7. - https://github.com/hydroshare/hydroshare/issues

[2019-04-28 13:26] dtarb commented on #2099
@alvacouch with all the work on composite resources, I think this issue is now moot.  Please close it if you agree, and/or post another issue with any remaining points to address.

[2019-04-28 13:40] dtarb commented on #3312
I tested creating and deleting an iRODS account.  I tested creating, deleting and changing ownership of a resource.  Gave stakeholder approval.

[2019-04-28 22:25] dtarb commented on #2751
We do have progress indicators for file uploads
![image](https://user-images.githubusercontent.com/3456833/56870785-f4f09680-69d1-11e9-8c7e-37e832c94513.png)

With #3242 the create page will be bypassed and all files will need to be uploaded via the interface that has this progress bar.

I think this can be closed.

[2019-04-28 22:25] #2751 closed

[2019-04-28 22:36] pkdash commented on #3319
@horsburgh I assume we need to make this correction in code. If we make this change then we need to regenerate the bag before it gets downloaded for any existing resource.

[2019-04-28 22:46] dtarb commented on #3107
This can be closed because Create page will go away with #3242

[2019-04-28 22:46] #3107 closed

[2019-04-29 00:57] pkdash commented on #2979
@dtarb This is by design for now. The reason I put such a restriction is that I did not know what should happen when unzipping such a zip file. If the folder contains an aggregation, a default zip functionality would zip the two aggregation related xml files along with other resource files inside the folder. That means the default unzip action on such a zip file would make the two xml files as res

[2019-04-29 17:33] cuahsimarko opened #3365 "Shared by filter broken"
In groups resources, the default should be "checked" to filter by "shared by". Also, clicking in the box has opposite from intended. Also, seems to just filter all items, anyway.

![image](https://user-images.githubusercontent.com/45397838/56914963-5f154400-6a83-11e9-80cd-0eb062b4609d.png)

[2019-04-29 17:33] cuahsimarko commented on #3365
![image](https://user-images.githubusercontent.com/45397838/56914994-705e5080-6a83-11e9-8790-f27d28cbf5ee.png)

[2019-04-30 12:18] Lizabrazil commented on #2751
@dtarb There are no progress indicators on the Create Resource page which was what this issue was originally for but since we are taking away that page then we do not need to worry about this.

[2019-04-30 16:19] engineSound commented on #2756
I am on my way to fix this. Another thought came up to @dtarb

@dtarb While maintaining consistency is great. I would like to know if this behavior is intended for the purpose of fast deletion. Is there a specification or style guide. If there is none, we need to have one so that we know what is expected behavior and what isn't.

[2019-04-30 16:47] dtarb commented on #2756
I am not aware of a style guide for this.  There is a balance to strike in avoiding a one click deletion that can result from an errant click in the wrong place, versus having to have the user respond "confirm" too many times.  I think there would be value in you reviewing all the places in HydroShare where we have confirms for deletes, and where we do not and then deciding in an objective way.  P

[2019-04-30 17:11] engineSound commented on #2756
@dtarb Got it. Thanks.

[2019-04-30 17:25] alvacouch commented on #1634
This is not the same thing, but it suffices and I have found no one else who likes autopep8. Closing.

[2019-04-30 17:25] #1634 closed

[2019-04-30 17:26] alvacouch commented on #1632
I am closing this, as further work on communities requires a new set of issues.

[2019-04-30 17:26] #1632 closed

[2019-04-30 17:39] pkdash commented on #3349
This has been fixed on www, Closing.

[2019-04-30 17:39] #3349 closed

[2019-04-30 17:40] pkdash commented on #3297
This has been deployed on www. Closing.

[2019-04-30 17:40] #3297 closed

[2019-04-30 17:41] pkdash commented on #3254
This has been deployed to www. Closing.

[2019-04-30 17:41] #3254 closed

[2019-04-30 17:52] cuahsimarko commented on #3290
1.22 released

[2019-04-30 17:52] #3290 closed

[2019-04-30 17:55] #3245 closed

[2019-04-30 17:55] #3294 closed

[2019-04-30 17:55] #3330 closed

[2019-04-30 21:40] engineSound commented on #2806
Apparently this didn't pass the negative testing cases. In the report, it contains multiple issues all of which are related to the labeling. To address issue, it's better to start from functional requirement. What we support and what we don't support. For the cases we don't support, we should not allow them to add the label, for example the "<" tag.

[2019-04-30 22:33] engineSound commented on #2791
This is was fixed in the latest resource landing page.
![image](https://user-images.githubusercontent.com/35352595/56997629-6e28ee80-6b76-11e9-9844-18b7d4d78ccd.png)

[2019-04-30 22:33] #2791 closed

[2019-05-01 14:57] engineSound commented on #2828
Verified working on main stream browsers.

[2019-05-01 14:57] #2828 closed

[2019-05-01 15:08] engineSound commented on #2786
In the current resource landing page, his issue is not applicable (N/A).

[2019-05-01 15:08] #2786 closed

[2019-05-01 15:51] engineSound commented on #2790
@Maurier @pkdash While UI can make duplicate name check to alert user and prevent it from flowing into backend. But I do think this should be caught by the backend and error message should also be provided by backend.

I am aware there is a balance to which place to seek an optimum solution. I appreciate if @pkdash can take a look and give some input.

[2019-05-01 17:05] pkdash commented on #2790
@engineSound I agree that the backend should check for duplicate folder. As currently implemented iRODS throws a SessionException if it finds duplicate folder and we then report that as 'INTERNAL SERVER ERROR. I think we need to check for duplicate folder name first (in the backend) then run the iRODS command to create the folder.

[2019-05-02 00:49] engineSound commented on #2790
@pkdash Do you want to put the issue in your bucket or you want reassign to some other backend colleagues?

[2019-05-02 14:29] alvacouch opened #3371 "Public presence for groups"
The recent software I wrote for exposing the public output of communities should be available for the public output of groups as well. This requires porting the public_resources method of communities to groups.

[2019-05-02 19:39] #2974 closed

[2019-05-02 20:17] Lizabrazil commented on #3198
For developers:
1. create a resource, add keywords, abstract, and content to the content section
2. make public
3. **DO NOT PUBLISH** Click publish (world icon) and see the pop up new
4. Add new header after "Upon submitting..." and before "Please confirm...":
"Acknowledgements"

You are responsible for assuring acknowledgment of material based on or developed with NSF support in any publication,

[2019-05-03 20:04] engineSound commented on #2790
@cuahsimarko @mraocuahsi

[2019-05-03 20:41] engineSound commented on #2806
During testing, I found a long tag name that is constituted with multiple words is presented well. Freedom to let user enter HTML formatted texts got gobbled.

#### Actions to take:

- HTML injection should not be allowed
- Tag name should have a length limit
- A tip showing the chopped off tag name is needed when presenting a long single word tag like ABCDEFGHIJKLMNOP
- A tag with only space(s) s

[2019-05-03 20:57] pkdash commented on #2790
@engineSound I will to fix it this weekend. If I don't get time for it then someone else can work on it.

[2019-05-06 10:42] hydrocheck opened #3376 "In IE11 and Firefox, a horizontal scroll appears on Home Page"
Please see image for location

[000.zip](https://github.com/hydroshare/hydroshare/files/3147538/000.zip)

[2019-05-06 10:43] hydrocheck opened #3377 "Improved terminology consistency on Home page."
Using consistent terminology will probably help the user better navigate and understand hydroshare.  Small changes to the Home page to consider:
1. Replace the link text for the Releases page https://help.hydroshare.org/about-hydroshare/releases/ - change "Recent upgrades" to "Recent releases"
2. Replace the link text "Browse data" to "Search for data and models", consistent with the Discover page

[2019-05-06 10:44] hydrocheck opened #3378 "Inconsistent approach for help/supporting documentation opening strategy"
Examples in same tab:
1. In the new home page, links in "Getting Started"
2. License reference links on resource pages

Examples in new tab:
1. BagIt "Learn More" button on resource pages
2. Discover page help documentation

[002.zip](https://github.com/hydroshare/hydroshare/files/3147544/002.zip)

[2019-05-06 13:06] engineSound commented on #3377
@ndebuhr The original one is "Recent Releases". I think @Lizabrazil  got some feedback to change it to "Recent Update". I am assigning this to @Lizabrazil to take a look.

[2019-05-06 13:07] engineSound commented on #3378
@Lizabrazil

[2019-05-06 14:55] #1505 closed

[2019-05-06 15:24] Lizabrazil commented on #3242
@Maurier can you comment on the status of fixing #4 in Dave's comment above?

[2019-05-06 15:55] Lizabrazil commented on #3377
@engineSound Keep this text as is on the dashboard.

I will change the Help text to say "Recent Upgrades" and "Browse data" so it is consistent.

[2019-05-06 16:38] Maurier commented on #3242
@Lizabrazil The work on the Help pages is still pending. Assuming that the bullet points you mention are our final decision on the design, I will be making the corresponding changes tomorrow to the Help pages so that it can be reviewed.

[2019-05-06 17:24] mraocuahsi commented on #3224
Not able to reproduce the error in production server
![Screenshot from 2019-05-06 13-22-21](https://user-images.githubusercontent.com/49655428/57242707-3b617900-7002-11e9-9893-dafc125bd986.png)

[2019-05-06 17:37] mraocuahsi commented on #3053
Duplicated by :

https://github.com/hydroshare/hydroshare/issues/3053

[2019-05-06 17:39] dtarb commented on #3242
On the programmer coordination call this morning there was discussion of what should go in the next release (1.23).  I am in favor of this change going in, though the concern was expressed that it may not be ready.  The code freeze deadline is 5/10/19 so @Maurier if you could work to get #3308 completed and reviewed by then, I would appreciate it.

[2019-05-06 17:40] mraocuahsi commented on #3053
Duplicate :

#3224

[2019-05-06 17:41] #3224 closed

[2019-05-06 17:41] mraocuahsi commented on #3224
Duplicated : #3053 3053

[2019-05-06 17:42] mraocuahsi commented on #2805
Not able to reproduce the error

![Screenshot from 2019-05-06 13-22-21](https://user-images.githubusercontent.com/49655428/57243715-c5124600-7004-11e9-821f-e0c5a3c77ee4.png)

[2019-05-06 18:33] Lizabrazil commented on #3120
[changed owner is not reflected on page.zip](https://github.com/hydroshare/hydroshare/files/3149338/changed.owner.is.not.reflected.on.page.zip)

[2019-05-06 18:47] Lizabrazil commented on #1759
Can we rethink this design? I believe most users want to filter by "Shared with me", "Owned by me," and "Owned by others"
Google does this:
![image](https://user-images.githubusercontent.com/13852599/57247425-d1e76780-700d-11e9-8963-ba7489c0dea1.png)
![image](https://user-images.githubusercontent.com/13852599/57247460-e3c90a80-700d-11e9-90db-0e743b544938.png)

[2019-05-06 19:56] Lizabrazil commented on #3353
closing this as it will be removed with first iteration clean up of discover

[2019-05-06 19:56] #3353 closed

[2019-05-06 21:10] sblack-usu opened #3380 "Release Checklist 1.23"
### Issues in Release
- [x] #2790 No message to user when resource folder creation fails due to duplicate name @pkdash
- [x] #1505 Order recent activity in groups from last to first @mraocuahsi
- [x] #2871 No user message during processing for resource creation/deletion @cuahsimarko
- [x] #3267 Capitalization issue - "Programming language" in the resource landing page Resource Specific metadata @c

[2019-05-07 14:18] alvacouch opened #3382 "Anomaly in community resource listing"
@cuahsimarko @martinseul @dtarb I recently discovered a dumb anomaly in the community listing.

To reproduce this, do the following:
1. Make up a resource outside the community.
2. Share with the community by some means. E.g.,
    a. Share with a member of the community, who then
    b. Shares with the community as a whole.
3. Make it public.

It's then treated as a community resource, even though

[2019-05-07 14:20] alvacouch commented on #3382
I might add that this applies also to the public listings of group resources, which are based upon the same query.

[2019-05-07 15:10] Maurier commented on #3243
These changes have been made and deployed to www.hydroshare.org

[2019-05-07 15:10] #3243 closed

[2019-05-07 15:11] Lizabrazil commented on #3362
We couldn't find anything for "user input"

Try entering a name, location, or different words.

Facebook example:
![image](https://user-images.githubusercontent.com/13852599/57311048-e7fe3200-70b8-11e9-9043-f05f0afffee9.png)

[2019-05-07 15:18] #2975 closed

[2019-05-07 15:19] Maurier commented on #3226
This bug was reintroduced recently, but caused by another issue:
![image](https://user-images.githubusercontent.com/2448568/57311608-2e4b9500-70a9-11e9-9517-dfbf9113834b.png)

I will be addressing these.

[2019-05-07 15:20] Lizabrazil commented on #2728
Closing this, as terms will change with the migration

[2019-05-07 15:20] #2728 closed

[2019-05-07 15:28] Lizabrazil commented on #2556
#2323 I am closing this related issue

[2019-05-07 15:28] dtarb commented on #3382
I feel like I am missing some of the context and not grasping the concepts you are advancing here.  If a resource has been shared with the community does it not make it a community resource.  Or are community resources only resources owned by community members.  Part of my not getting this is that I have not taken time to play with a deployment of these concepts.  I worry that these concepts are b

[2019-05-07 15:28] Lizabrazil commented on #2323
This is being fixed by https://github.com/hydroshare/hydroshare/issues/2556

[2019-05-07 15:28] #2323 closed

[2019-05-07 15:42] horsburgh commented on #1759
The "Added by me" filter already shows you resources that you have added to your My Resources, but are owned by others. The "Added by me" filter name is consistent with the action that a user takes to click the "Add to my resources" button on the landing page for a resource that they do not own.

Am I missing something?

[2019-05-07 15:54] dtarb commented on #1759
This is an issue related to facet counts.  I would discourage using it for discussions about redesign.  If there is to be a redesign discussion, it should be opened as a new issue, or as a separate redesign discussion.

With respect to correcting the facet counts, the issue is quite stale as the image for facet categories in the initial has been superseded.  Based on my testing, it seems to me tha

[2019-05-07 15:54] #1759 closed

[2019-05-07 15:59] Maurier commented on #3242
@dtarb The PR with this changes has been approved. I will now implement the navigation bar changes in the help pages. Once this is ready I will merge the work so that it is included in the next release.

[2019-05-08 00:08] alvacouch commented on #3382
@dtarb The way communities are written now, sharing a public resource with a group in the community makes it a community resource. That is the way that public resources are associated with a community.  Likewise for a group. The problem with that is that there are more use cases for sharing with a community than just publishing.

[2019-05-08 13:31] alvacouch opened #3385 "Issues with use tracking"
@dtarb @Castronova @Lizabrazil @martinseul

Some issues in the way tracking works now.
1. downloads of individual files are not accounted for. They appear as "visits" and not as "downloads". They short-circuit past the regular download mechanism and go directly to the nginx fast download mechanism.
2. there is no realistic way to count a REST conversation like a download. there are very few bag do

[2019-05-09 14:12] engineSound commented on #2669
@cuahsimarko There is some work to do. @Lizabrazil has more details coming up, I think.

[2019-05-09 17:46] engineSound opened #3388 "textual change: "Show get started" to "Show getting started" in dashboard"
@Lizabrazil requested text changes in dashboard homepage.

1. "Show get started" to "Show Getting Started"
2. "Hide get started" to" Hide Getting Started"

[2019-05-09 19:02] cuahsimarko commented on #2777
Loosely related to https://github.com/hydroshare/hydroshare/issues/2949

[2019-05-09 19:59] Lizabrazil commented on #3388
Show Getting Started
Hide Getting Started
-just putting this here for record, i know we are already figured this out together.

[2019-05-09 21:29] engineSound opened #3392 "Without user logged in, the hydroshare page url should not redirect"
In the latest dashboard implementation, when you type www.hydroshare.org, the browser is redirected to www.hydroshare.org/landingPage. @Lizabrazil said this is a negative experience. This can be changed without ambiguity. This issue can be fixed.

There is another one related to this that appears to be complex and requires extra effort.

[2019-05-10 12:31] Lizabrazil commented on #3392
I do not think the second problem with the icon url should be a show stopper for going into this release, mostly bc it does not impact the UX. Also, we can fix this at a later point without any impact to the user.

[2019-05-10 12:32] Lizabrazil commented on #3392
The first problem you describe needs to be fixed which you are already on top of

[2019-05-10 16:12] alvacouch commented on #3382
@cuahsimarko @martinseul @dtarb It seems to me that the permanent solution to this problem is that `GroupResourcePrivilege` contains an `exhibit` flag that determines whether a resource is shown on the group's public home page (along with being shared with the group). Then, the group owner can modify which resources get "exhibited".  This, in turn, will `exhibit` these same resources on the public

[2019-05-10 16:20] alvacouch commented on #3382
@dtarb A general comment: @cuahsimarko comments that we are conflating the issues of "making groups publicly accessible" (#2854)  with the "community landing pages", and that is quite true. The reason that I have opposed simply making the "my groups" pages public is that they are not written to be public. It is better to craft a different -- and much simpler -- public group page instead that is wr

[2019-05-10 17:11] dtarb commented on #3382
@alvacouch I am struggling a bit with the vision and the direction this work is going in.  We have at least 5 planning documents on this
- Groups of Groups in HydroShare https://docs.google.com/document/d/1qGh8bbTefetAbhd77ltr5dU_F2hYw69cDZBfVtsF9ds/edit
- HydroShare access control overview https://docs.google.com/document/d/1qGh8bbTefetAbhd77ltr5dU_F2hYw69cDZBfVtsF9ds/edit
- Communities of groups

[2019-05-13 14:51] cuahsimarko opened #3396 "Help Menu Nav and Hydroshare Main Nav Divergent"
Navs don't match

MAIN
![image](https://user-images.githubusercontent.com/45397838/57631178-fd69d500-756c-11e9-85f0-c9480bc82f57.png)

HELP
![image](https://user-images.githubusercontent.com/45397838/57631196-05c21000-756d-11e9-8bc1-42e7de9cfeed.png)

[2019-05-13 15:00] Maurier commented on #3396
The latest changes to the Help pages are not live yet, but they have been deployed for testing at https://pages.hydroshare.org/

Once the release is ready, these changes will be deployed to production.

[2019-05-13 15:01] cbcunc commented on #3396
What do you mean by "Main." hydroshare.org and help.hydroshare.org both match. Neither have the home or create links. Only the development server, pages.hydroshare.org, has the home land create links at present.

[2019-05-13 15:31] cuahsimarko opened #3397 "Resizing in Chrome Hides Welcome Text"
go to hydroshare.org (dev) resize to approximately 1/3 or 1/4 screen:

<img width="889" alt="image" src="https://user-images.githubusercontent.com/45397838/57634084-9bac6980-7572-11e9-9461-b77e0dfb1611.png">

[2019-05-13 17:40] #3365 closed

[2019-05-13 17:40] #3120 closed

[2019-05-13 17:47] cuahsimarko opened #3398 "First Author Improper display of non-UTF-8"
An encoding issue across Discover. Allow proper display of non-UTF8 characters

Add a non-ascii character (alt + 141) to user's name. Create a resource, make it public and ensure it shows up in Discover

[2019-05-13 17:51] engineSound commented on #2708
I felt the user's pain. Auto-save is a kind of web norm in the modern days. We should aim to autosave user input as much as possible. This impacts user experience.

[2019-05-13 18:11] cuahsimarko commented on #3238
Consider 2-3 large sections: namely My Resources/Landing Page and Groups. CollaborateView Class can be moved into its own file.

[2019-05-13 18:20] engineSound commented on #2708
temporary fix is warn when a user migrating away from the page
1. close the tab
2. loading a different url on the same tab.
3. close the browser

[2019-05-13 22:30] cuahsimarko commented on #3382
@alvacouch do you need me to update the Django template or frontend/JavaScript for the communities code to put this into effect?

[2019-05-13 22:31] cuahsimarko commented on #2949
This will wait until migrations to Composite are complete.

[2019-05-13 22:40] cuahsimarko commented on #3382
@alvacouch is this impacted by the recent code in hs_access_control/models/group.py? I will soon consume the new Q query

[2019-05-14 16:38] engineSound commented on #2708
@cuahsimarko I've started to work on this and added a label "in progress". Hopefully it doesn't step on your work to use vue to implement the resource landing page. Will this issue be automatically when vue.js is introduced?

[2019-05-15 16:58] dtarb opened #3400 "Profile picture and sign out missing on 1.23 beta"
![image](https://user-images.githubusercontent.com/3456833/57794211-6170d280-7700-11e9-8ca6-dff4e7251272.png)

[2019-05-15 17:00] dtarb commented on #3380
#3400 reports a regression that is in my opinion deploy blocking.

[2019-05-15 17:02] sblack-usu commented on #3400
@phuongdm - I think this is probably just the deployment changes with media.  I thought these were reversed, could you check to make sure?

[2019-05-15 17:08] dtarb commented on #3397
I have experienced this problem in Firefox too on beta.hydroshare.org.  I think this should be fixed before 1.23 goes out as it is a regression.

[2019-05-15 17:09] dtarb commented on #3380
#3397 is also a regression that I think should be a hotfix to beta.

[2019-05-15 17:16] phuongdm commented on #3400
@sblack-usu

Just checked on the console log:

https://new-hs-ci.hydroshare.org/view/02%20-%20Deployment/job/Beta%20deployment/job/beta-deploy-by-branch/67/console

![image](https://user-images.githubusercontent.com/24579275/57795299-9cc8cc80-7713-11e9-8451-058c41f114bc.png)

[2019-05-15 18:11] engineSound commented on #3397
@dtarb We added two new navi-menu entries 1. home 2. create
When windows downsizes, the navibar pushes down but the body doesn't react to the change. Thus  the welcome content is gobbled.

[2019-05-15 18:23] sblack-usu commented on #3400
This was a deployment problem due to a previous attempt to change the way we deploy static media files.  It has been worked out on beta, and I'm adding notes to the release checklist for 1.23 to make sure the static media files deploy correctly on the production deploy.

[2019-05-15 18:23] #3400 closed

[2019-05-15 18:24] sblack-usu commented on #3380
This has been resolved.

[2019-05-15 22:25] engineSound commented on #3397
@dtarb I am working on a solution.

[2019-05-16 02:34] engineSound commented on #3397
The solution is here
https://stackoverflow.com/questions/18192082/bootstrap-3-navbar-collapse

[2019-05-16 03:17] dtarb commented on #2949
There is no reason to wait until migrations to composite resources are complete.  This has nothing to do with the migrations.  If we are going to support these browsers, this is a bug to fix.

[2019-05-16 13:34] engineSound commented on #3397
Testing solution today. If everything looks good, PR is expected later today.

[2019-05-16 18:06] cuahsimarko opened #3401 "Address non-unique DOM elements"
![image](https://user-images.githubusercontent.com/45397838/57876596-b5a0b300-77e3-11e9-9bc8-5e06f6478118.png)

[2019-05-16 23:09] engineSound commented on #3397
Fixed. PR #3403

[2019-05-16 23:36] kbarnhart opened #3404 "Run Jupyter notebook in resource with custom conda environment"
@Castronova I'm getting ready to give a clinic next week at CSDMS. I have a [repo](https://github.com/kbarnhart/calibration_with_dakota_clinic) with my clinic materials, including a custom conda environment (for linux) (environment_linux.yml). I've tested this with Travis and have it working on Binder. I suspect that it will be better for 20 students to use Hydroshare rather than have 20 students