[2016-01-11 17:00] dtarb commented on #716
Seems to be working properly on www.

[2016-01-11 17:00] #716 closed

[2016-01-11 18:31] dtarb commented on #720
Not sure how MyResources now handles paging.  With 24 resources it is just one list.  I'll close.  If there are further problems a new issue can be created.

[2016-01-11 18:31] #720 closed

[2016-01-11 18:39] pkdash commented on #693
This has been resolved.

[2016-01-11 18:39] #693 closed

[2016-01-11 18:41] pkdash commented on #649
@dtarb This should have been resolved. Please check and close this issue.

[2016-01-11 18:43] pkdash commented on #643
This has been resolved.

[2016-01-11 18:43] #643 closed

[2016-01-11 18:53] pkdash commented on #172
@hyi I think this issue should be resolved as part of issue #15

[2016-01-11 18:53] mjstealey opened #873 "CI - jenkins build profiles to automate the build/deploy of alpha and beta"
One button builds for deploying alpha or beta
- [x] copy www resources to alpha/beta iRODS vault
- [x] copy www database and media files to alpha/beta
- [x] set DEBUG=true (alpha), set DEBUG=false (beta)
- [x] deploy

[2016-01-11 18:55] pkdash commented on #285
This has been implemented.

[2016-01-11 18:55] #285 closed

[2016-01-11 19:02] pkdash commented on #289
@jsadler2 Please close this issue.

[2016-01-11 19:09] pkdash commented on #664
@mauriel133 Wondering on the status of UI changes needed for setting the 'shareable' flag.

[2016-01-11 19:14] mauriel133 commented on #664
I didn't make progress on this issue during the break, but I'm working on it this week.

[2016-01-11 19:24] hyi commented on #172
@pkdash I am not sure whether issue https://github.com/hydroshare/hydroshare/issues/15 would resolve this issue completely. Resource publication will add a Publisher metadata element, but it may not address the user case as @dtarb stated above. @horsburgh @dtarb what do you think? Should we keep this issue as separate from the issue https://github.com/hydroshare/hydroshare/issues/15 that addresses

[2016-01-11 21:30] horsburgh commented on #172
@hyi - I think we can resolve this issue with a policy decision.  The technical implementation of publication is described in #15 and we should stick with that issue. One of the following needs to be chosen and then we need to implement it:

* HydroShare is listed as the publisher for all formally published resources for which content exists in HydroShare
**OR**
* HydroShare also allows other orga

[2016-01-12 04:11] dtarb commented on #649
Appears resolved.

[2016-01-12 04:11] #649 closed

[2016-01-12 14:50] hyi commented on #172
@horsburgh @pkdash @dtarb I agree with @horsburgh's comment above. @dtarb What do you think?  Should we resolve and close this issue and go with the first option as listed by @horsburgh above which is to be addressed when resource publication will be implemented?

[2016-01-12 15:04] mjstealey commented on #846
Completed and merged.

[2016-01-12 15:04] #846 closed

[2016-01-12 15:06] mjstealey commented on #870
Implemented as a Jenkins "housekeeping" task as defined here: http://ci.hydroshare.org:8080/view/3.%20Housekeeping/job/irods-delete-old/

[2016-01-12 15:06] #870 closed

[2016-01-12 15:07] dtarb commented on #172
@hyi please go ahead and implement this with HydroShare as the publisher.  However please have this be a metadata element that could be flexible, changed in the future, and not necessarily be the same for all resources in HydroShare.  Also I think this element should be specified before the resource is published, so that the full resource with publisher metadata element can be reviewed and seen to

[2016-01-12 15:08] mjstealey commented on #871
Implemented as Jenkins "housekeeping" tasks as implemented.

Here: http://ci.hydroshare.org:8080/view/3.%20Housekeeping/job/datasync-irods-to-local/
Here: http://ci.hydroshare.org:8080/view/3.%20Housekeeping/job/datasync-local-to-irods/
And Here: http://ci.hydroshare.org:8080/view/3.%20Housekeeping/job/datasync-production-db/

Updated weekly (every Sunday evening at 11 PM)

[2016-01-12 15:08] #871 closed

[2016-01-12 19:01] zhiyuli opened #875 "uaccess object has no attribute 'admin""
@pkdash
There is a bug at
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/utils.py#L68

the uaccess object has no attribute 'admin"

[2016-01-12 22:59] selimnairb commented on #845
@yirugi The correct syntax to filter by type is:
[code]
However this was broken.  This has been addressed in #876.

[2016-01-13 15:32] mohamedmorsy opened #878 "Typo in one of the metadata elements of the SWAT Model Instance resource type"
![image](https://cloud.githubusercontent.com/assets/5543781/12298572/c9860d9e-b9e0-11e5-9a0e-703a91866d33.png)

[2016-01-13 18:28] #827 closed

[2016-01-13 18:31] #752 closed

[2016-01-14 14:36] mohamedmorsy commented on #878
Looks good now on dev.hydroshare.org

[2016-01-14 14:36] #878 closed

[2016-01-14 14:36] hyi commented on #840
@dtarb The fix to this issue has been deployed to dev and works as expected according to my testing. Please test it on dev and see if you can close this issue.

[2016-01-14 15:36] selimnairb commented on #178
This is phase one, including the resource data model including support for model outputs.

[2016-01-15 19:01] hyi commented on #15
@dtarb @horsburgh Just to confirm: we don't require resource to be public or discoverable before the resource can be published, right? In other words, as long as the same requirements are met for making a resource public, the owner of the resource can publish a private resource, right?

[2016-01-15 19:23] selimnairb commented on #601
@horsburgh I'd like for us to reconsider this.  A REST end point that returns the names/paths of files within a resource as a simple JSON list requires much less work from third-party developers than downloading and then parsing the resource map XML.  In general, I think that we should both provide direct access to the resource map XML, and, for certain compelling use cases (such as a simple file

[2016-01-15 19:30] danames commented on #601
+1

On Fri, Jan 15, 2016, 11:23 AM Brian Miles <notifications@github.com> wrote:

[2016-01-15 19:32] horsburgh commented on #15
@hyi - Correct.

[2016-01-15 20:04] selimnairb commented on #130
OAuth 2.0 support has been addded, closing.

[2016-01-15 20:04] #130 closed

[2016-01-15 20:07] selimnairb opened #884 "Add user first and last names to /hsapi/userInfo/ end point."
User first and last names to /hsapi/userInfo/ end point.  Response should be:

[code]

[2016-01-15 20:21] horsburgh commented on #601
If it simplifies things for some applications, then, sure, write the method.  Seems like it shouldn't be that hard to get the list of files out of the resource map document though.

[2016-01-15 20:23] dtarb commented on #15
Yes, but the act of publishing should result in the resource ending up discoverable or public (with public the default).  Also in some discussions with Rick Hooper there has been suggestion of additional resource metadata completeness rules that may need to be met for publish over and above public and discoverable, so while we do not have such rules now, please recognize that we may need this in t

[2016-01-15 20:27] horsburgh commented on #15
Public and Published are effectively 2 different states.  A resource can be Public without being Published.
Both Public and Published are discoverable.

[2016-01-15 20:31] selimnairb commented on #884
@yirugi Please reference this issue and related branch and PR for the additions to the user info end point that we spoke about today.

[2016-01-15 20:38] hyi commented on #15
@dtarb @dtarb @alvacouch So once a resource is published, the resource should be set as Public by default as its sharing status? If so, I would assume it means the owner of the resource can modify the sharing status even after a resource is published. Then I guess the published resource is immutable only in terms of its content files and metadata since we still allow users to change its sharing st

[2016-01-15 20:46] horsburgh commented on #15
I think "Published" should be a sharing status. "Public" and "Published" are not exactly the same.

And yes, permissions for "Published" would be the same as "Public" but should not be revocable (or really editable except that ownership may change?).

[2016-01-15 20:52] selimnairb commented on #601
@dtarb You mentioned that this might be something @pkdash has time to do; @pkdash can you do this in the near future?

[2016-01-15 21:06] hyi commented on #15
@horsburgh @dtarb @alvacouch Making "Published" a sharing status is more complicated from implementation standpoint since access control code has to be modified to consider this additional "Published" sharing status. We can enforce more requirements for publishing a resource on top of requirements for making a resource public, and it seems simpler to make "Published" as a flag on the resource obje

[2016-01-15 21:29] mjstealey opened #886 "add reset_all option to hsctl script"
Add an option to fully reset the environment back to a clean state

- Remove any files created by the application when it was running
- Stop and remove any running containers
- Remove any hydroshare images (hydroshare, defaultworker, dockerworker)

[2016-01-15 22:26] horsburgh commented on #15
Published resources need to show up in the "Sharing Status" column in the My Resources page with a sharing status of "Published". Also, on the call this week we discussed being able to filter by SharingStatus = "Published".  Also - it would be better if it weren't a two step process to make something public and then have to take a separate step to publish.  Seems like private, public, and publishe

[2016-01-16 02:49] hyi commented on #15
@horsburgh @dtarb OK. I think I've got the point. I was confused by the comment that publishing a resource makes it public or discoverable (public by default) which made me think public or discoverable sharing status in HydroShare. Thinking "Published" as a mutually exclusive sharing status with Public, Discoverable, and Private makes sense to me now. Basically, we allow to publish a resource with

[2016-01-16 16:02] alvacouch opened #889 "return values for u.uaccess.get_resources_with_explicit_access(X)"
The code for the current get_resources_with_explicit_access is both used in the resource landing page and very confusing. It currently eliminates all immutable resources from all responses. This has to be wrong, but the question is "what is right?"

There are two main questions:
   1. Should group privilege be included? I think so.
   2. Should the responses here be sensitive to the "immutable" fl

[2016-01-16 16:10] alvacouch commented on #889
From @dtarb via email:
As I understand it this function is used to identify resources to list on the MyResources page.  I do not think that whether the resource is immutable or not should matter.  However I may not understand all that this function does, so am stating my assumption for the context of my answer.  If my assumption is wrong, then the answer may change.

My assumption is that this fun

[2016-01-16 16:16] alvacouch opened #890 "print names of resource objects"
I would like to make a simple change to BaseResource that will enhance debugging and testing.
The method __unicode__ is responsible for converting an object to a printable format in print statements, so that adding this code

[code]

to baseResource will cause a BaseResource r to be printed (via print(r)) as

[code]

This would make it much easier to debug test cases and log messages. We could put

[2016-01-16 16:21] dtarb commented on #889
See also #15

[2016-01-16 17:16] dtarb commented on #15
See my response in #889.

While formally publishing a resource, which includes setting the immutable flag, makes having change permissions moot, I do not think that the act of publishing should remove all change and view permissions. If we did this it would then result in removing a resource from a MyResources page for a user that had change permissions (i.e. it disappears from their page).  I pre

[2016-01-16 17:45] dtarb commented on #840
Looks good.

[2016-01-16 17:45] #840 closed

[2016-01-17 17:54] pkdash commented on #15
@horsburgh Question related the 'Publisher' metadata element. As per the current code base the Publisher name sub-element is set to "HydroShare" and the the url sub-element is set to 'https://hydroshare.org". It seems this needs to change. Now it seems the publisher name attribute needs to be set to "Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI)" and the url n

[2016-01-17 18:11] pkdash opened #891 "Cleanup hs_core unit tests"

[2016-01-18 11:44] alvacouch commented on #889
It turns out that this is much deeper than I thought.
   1. I think that mixing group resources and user resources on the same page is going to get very, very confusing. One needs to associate them with a group, which is -- ostensibly -- just like another user.
   2. I think that this functionality needs to be repeated for groups. There needs to be "get_resources_with_explicit_access" for groups a

[2016-01-18 15:05] dtarb commented on #889
I do not share @alvacouch 's concern over confusion.  I am quite happy for the MyResources page to intermingle resources to which I have been given access explicitly as a user, and to which I have access by virtue of being member of a group that has been given access.  I would like tools to help me organize these resources, such as being able to put them in folders, or tag them.  There may be defa

[2016-01-18 15:45] alvacouch commented on #889
But the google drive paradigm is what I am advocating. Resources show up on the group landing page because they are shared with the group; you can then favorite them to make them "yours".

[2016-01-18 16:28] dtarb commented on #889
I am happy for you to implement as you think is best.  In Google things just show up in "Shared with me" and I am OK with that.

[2016-01-18 17:00] alvacouch commented on #889
But the point is that it does not appear in "my documents" until you tell it to. It appears in a specially designated subfolder.

I think there is a semantic conflation here that we need to get past.
 * The access control system only determines what you can do with something.
 * We are using it to determine where something appears in listings.
 * Where things appear in listings is really the job o

[2016-01-18 17:16] alvacouch commented on #889
So, I still have the major quandary of what immutable should do *right now*. I still don't know the intent of the UI concerning immutable. Is the following proposal reasonable?

  real privilege   |   not immutable    | immutable
  ------------------  |  -----------------------  | ---------------
   OWNER         |  OWNER             | OWNER
   CHANGE       |  CHANGE            | VIEW
   VIEW

[2016-01-18 17:21] alvacouch commented on #889
(This routine was written specifically for @mauriel133 so I would expect that it is his final decision.)

[2016-01-18 17:29] dtarb commented on #889
I am happy to wait for @mauriel133 to weigh in.

[2016-01-18 20:39] mauriel133 commented on #889
I don't remember writing this routine so I'm assuming it was written by @pkdash when we worked together with the My Resources page. Perhaps @pkdash can answer your questions.

[2016-01-18 20:49] mauriel133 commented on #889
I think the proposal above is reasonable. If a resource becomes immutable all edit permissions (except ownership) should appear as view.

[2016-01-18 21:49] alvacouch commented on #889
The real issue here is a conflation between access control and the UI.
* The access control system should never "lie". It should report what is going on. If someone ends up with VIEW, it should report that fact.
* The UI, however, needs to categorize things in ways that are not so neatly determined. Someone may have VIEW, but also some remaining OWNER functions. And in the UI, it is important to n

[2016-01-19 00:50] horsburgh commented on #15
@dtarb - Leaving all of the access control open for editing on Published resources seems unnecessary and potentially confusing. It doesn't make sense to me that we would allow users to keep granting "edit" access to something that can't be edited. Also, why do we need to grant "view" access?  If it's published, anyone can view it and add it to their list of resources.  Also - if we disable the edi

[2016-01-19 01:01] horsburgh commented on #15
@pkdash - I made the suggestion that only resources with content files stored in HydroShare can effectively be "published" by HydroShare. The only way HydroShare can guarantee that content to which a registered DOI points does not go away is for that content to be stored in HydroShare and not elsewhere. Plus, for some types of referenced resources, the content to which they point may already be pu

[2016-01-19 02:08] horsburgh commented on #889
For the record:  @alvacouch 's proposal for how to handle immutable resources so they don’t disappear from the My Resouces page sounds reasonable.  And it’s a good switch that will have to be done automatically because our current publication workflow states that the “Edit” button for Published resources will be disabled, so users couldn’t change permissions on an published resource if they wanted

[2016-01-19 02:24] horsburgh commented on #15
@dtarb - @alvacouch 's suggestion in #889 of what to do with permissions for immutable resources seems reasonable. Since the edit page will be disabled for immutable resources, the following changes would be made to access control when resources become immutable:

real privilege   |   not immutable    | immutable
  ------------------  |  -----------------------  | ---------------
   OWNER

[2016-01-19 15:17] mjstealey opened #892 "hs_model_program - migration problem when using www resources"
@mohamedmorsy, @Castronova - Could you have a look at the console output for the migration of the build using the develop branch with www resources: http://ci.hydroshare.org:8080/view/2.%20Deployment/job/branch-builder/22/console

This is also deployed on https://riverdev.hydroshare.org if you'd like to check or test any resources in a deployed environment.

Error observed:
[code]

You can get a c

[2016-01-19 15:20] mjstealey commented on #873
Created in Jenkins as: http://ci.hydroshare.org:8080/view/2.%20Deployment/

[2016-01-19 15:20] #873 closed

[2016-01-19 15:25] mjstealey commented on #606
Email defaults to console output which can be viewed by attaching to the running hydroshare container.
`$ docker attach --sig-proxy=false hydroshare_hydroshare_1`

Developer deployment to VM has been implemented as a **Developer Build** option found here: http://ci.hydroshare.org:8080/view/4.%20Developer%20Builds/

- presently in testing phase with @mauriel133
- plan to distribute to all during ne

[2016-01-19 15:25] #606 closed

[2016-01-19 15:45] alvacouch commented on #889
For @mauriel133 : @dtarb is advocating that "my resources" should work "like Google Docs." In Google Docs, things that are shared with you don't appear in your "my documents" feed immediately. They appear in a separate folder called "Shared With Me". Then you can move them to your main documents feed by the equivalent of "claiming" them. At this point they are "unfiled documents" and you can later

[2016-01-19 15:48] mjstealey commented on #886
merged

[2016-01-19 15:48] #886 closed

[2016-01-19 16:03] horsburgh commented on #151
Didn't get any more feedback on this, so I am closing.

[2016-01-19 16:03] #151 closed

[2016-01-19 17:54] goodalljl commented on #856
@Castronova @mohamedmorsy @dtarb I agree with Mohamed that

[2016-01-19 18:11] goodalljl commented on #856
@Castronova @mohamedmorsy If the resource is a reference type like @dtarb is describing, then it is required to have some way of linking to the resource it references. So the required metadata is really a function of whether the resource is a reference, copy, or original resource type. If it is a copy or original resource type, then it requires software as Mohamed says. If it is a reference resour

[2016-01-19 21:07] dtarb commented on #856
Should not be closed until there is some code deployed that implements the solution being discussed.

[2016-01-19 22:36] hyi commented on #889
@alvacouch @dtarb @horsburgh @mauriel133 @pkdash While working on resource publication, I have changed get_resources_with_explicit_access() to remove immutable filter so that it can return published resources with ownership retained for my resources page to display published resources accordingly. I also downgraded edit permissions to view permissions for all edit users to a resource after the res

[2016-01-19 22:52] hyi commented on #15
@dtarb @horsburgh @alvacouch @mauriel133 @pkdash I have implemented resource publication in the way that after a resource is published, it is made immutable with ownership retained and edit permissions downgraded to view permissions for all edit users. The published resources appear on my resources page since it is public and discoverable with sharing status as "Published". Filters on my resources

[2016-01-20 01:06] horsburgh commented on #15
@hyi - Awesome!  I'll look forward to testing!

[2016-01-20 13:49] alvacouch opened #893 "access control changes for handling publication, groups"
As discussed with @dtarb and @horsburgh the following changes are needed to access control for handling publication and groups:
1. _Honor immutable flag system-wide_ and squash CHANGE privilege to VIEW for immutable    resources. Leave OWNER privilege alone. Thus in listings, OWNERs remain owners but all else is downgraded to VIEW.
2. _Limit active privilege to that of the last assigner._ _Last pr

[2016-01-20 13:52] alvacouch commented on #889
@hyi @pkdash @dtarb @horsburgh @mauriel133  See issue #893. In the next version of access control, simply setting the immutable flag will do everything you need. This will be forthcoming very shortly.

[2016-01-20 14:00] alvacouch commented on #15
See issue #893 for changes in access control that will benefit this -- forthcoming.

[2016-01-20 14:02] hyi commented on #889
@alvacouch Do you think you can get this done by end of next week? I have already changed access control API functions as needed in my resource publication branch, but most likely not system-wide. If you can get this done by end of next week, I will not spend time doing this duplicate work any more, but rather work on DOI assignment with crossref and other pieces for resource publication, then int

[2016-01-20 14:05] hyi commented on #15
@alvacouch If you can get this done by end of next week, that would be great. I can then integrate my resource publication work on top of your work for issue #893 without doing duplicate work to get user interface working as expected. Thanks.

[2016-01-20 15:10] hyi commented on #15
@alvacouch Based on my testing, what I have done already regarding permissions and access control for published and immutable resources worked well for resource publication purposes, so there is no rush for you to get issue #893 done for resource publication work. You can take your time to get system-wide change worked out as documented in this issue without rushing. We can always integrate our re

[2016-01-20 15:43] hyi commented on #15
@alvacouch @dtarb @horsburgh @pkdash @mauriel133 I noticed the following potential "issue" based on testing on my resource publication branch:
* Although non-owner users with edit permissions can be safely downgraded to VIEW permissions for published immutable resources, retaining ownership of a published resource means all owners have edit permissions in our current access control implementation,

[2016-01-20 17:38] hyi commented on #762
@horsburgh @dtarb First and foremost question we need to address in order to map hydroshare metadata to crossref deplosit metadata schema is content type. Which content type (Journal, Book, Conference Proceedings, Dissertation, Report-paper, Standard, Database options in crossref) should we use for HydroShare? Needs to decide on content type first since required elements for different content type

[2016-01-20 17:39] hyi commented on #762
@horsburgh @dtarb Looks like "Database" content type is most appropriate for HydroShare. Is "Database" content type what we should use for HydroShare? Need confirmation. Thanks.

[2016-01-20 17:42] alvacouch commented on #889
I can get the changes finished by the end of next week, but it will take a while for anyone to review the base PR  #867  upon which these changes depend. There are a lot of changes before this one.
(and #867 is hard enough without making it more difficult to review).

[2016-01-20 17:45] horsburgh commented on #762
@hyi and @dtarb - in my initial investigations I was leaning toward the "Database" content type.  The other options didn't seem appropriate.  And, keep in mind, this is for their meta-database, not ours.  So, "Database" may not seem, appropriate for all HydroShare resource types, but neither are the others, so I would use "Database".

[2016-01-20 17:47] hyi commented on #762
@horsburgh agreed. Will use "Database" for my initial implementation.

[2016-01-20 17:53] dtarb commented on #762
I am happy with @horsburgh 's recommendation.  Do we know what this field is used for? It seems like others (DataOne?) may have had to deal with this for data too.

[2016-01-20 17:53] hyi commented on #889
@alvacouch understood. The changes I have made so far regarding permissions and access control are sufficient for my resource publication work, so my work is not contingent upon your access control work. We can get our respective work merged with develop whenever ready. We just need to make sure whichever work that will be merged later needs to take into account the other work that was already mer

[2016-01-20 18:33] hyi commented on #15
@horsburgh Looks like http://test.crossref.org requires login to be able to do anything. Do I really need a login credential on test.crossref.org for testing purpose? I cannot find any user registration info on the site, so not sure how to obtain login account. Need to dig deeper into crossref help system to understand the process, in the meantime, asking you in case you have information handy reg

[2016-01-20 19:41] mauriel133 commented on #770
Date created
Statistics (e.g., number of views, downloads, etc.)

Should I implement some of those attributes as a table column?

[2016-01-20 19:50] horsburgh commented on #15
@hyi - I don't know if the test site requires it, but we will eventually need CUAHSI's login information.  @dtarb - can you help get the necessary details from Rick Hooper?

[2016-01-21 15:40] #884 closed

[2016-01-21 16:23] horsburgh commented on #770
@mauriel133 - as soon as the other parts of this issue have been deployed, let's close this issue and create a new issue for these enhancements.  Statistics implies that we are actually tracking information about resources. Do we have any of that information available yet that you could put in a table column (e.g., views, downloads, etc.)?

[2016-01-21 17:08] hyi commented on #762
@horsburgh @dtarb I have coded to create crossref deposit xml file programmatically for a HydroShare test resource and the generated deposit xml file passed crossref metadata quality check with no error, so the generated deposit xml file is good to go for real deposit to crossref for DOI assignment. I am pasting the generated deposit xml file here for your perusal so that you can point out anythin

[2016-01-21 17:43] mauriel133 commented on #770
The only thing I'm aware of is number of +1s. Not sure what the state of other statistics is right now. The previous items in the list have been implemented and merged into develop.

[2016-01-21 18:03] yirugi commented on #845
@selimnairb I tried the link you provided, but it produced error message.

[2016-01-21 18:14] selimnairb commented on #845
@yirugi Sorry.  This code has been merged into our development branch, but hasn't yet been deployed to www.hydroshare.org.  @mjstealey Do you know when this will be deployed?

[2016-01-21 18:15] mjstealey commented on #845
@selimnairb, @yirugi - This is working as expected on our development server

https://dev.hydroshare.org/hsapi/resourceList/?type=GenericResource

It is a nightly build server, so there are not any resources on it currently.

[2016-01-21 18:17] mjstealey commented on #845
This will be a discussion topic during todays team call.
Only pre-requisite seen before next update to www is the migrations issue denoted in #892

[2016-01-21 18:24] zhiyuli opened #894 "split PR-882 - remove unused js first"
PR #882 removed several unused 3rd party javascript libraries. Github tracks these big changes and cannot display other more meaningful changes properly that made troubles for code review. We will split PR #882 by submitting another PR that will remove those unused js first.

[2016-01-21 18:56] alvacouch commented on #889
Resolved via CHANGE squash as documented above and in issue #893.

[2016-01-21 18:57] #889 closed

[2016-01-21 19:48] horsburgh commented on #770
I'll create a new issue and close this one.

[2016-01-21 19:48] #770 closed

[2016-01-21 19:51] horsburgh opened #897 "My Resources Page: Enhancements to the Resource Listing"
Additional columns to consider for the resource listing on the My Resources page:
- [x] First Author
- [x] Date Created
- [ ] Statistics (e.g., views downloads, etc.)

This is a new enhancement/feature request, so let us know if you think these are good ideas.

[2016-01-21 19:57] horsburgh commented on #762
@hyi - a couple of questions:

1. Should the registrant and depositor name be HydroShare or CUAHSI?
2. What is the difference between the two title elements?  It looks like one is the title of a "Database" (i.e., perhaps the full set of registered HydroShare resources?) and one is the title of a "Dataset" (i.e., the resource you are currently registering).  Is that correct?
3. Is "Test resource pu

[2016-01-21 20:01] hyi commented on #762
@horsburgh The answers to questions No. 2 and No. 3 are yes. I have the same question for question No. 1, currently I am using HydroShare although I did try to choose between HydroShare or CUAHSI. Let me know if I need to change to CUAHSI as the registrant and depositor including the email address we can use for depositor if we choose CUAHSI.

[2016-01-21 20:07] horsburgh commented on #762
@hyi - perhaps we should do CUAHSI as the registrant and HydroShare as the depositor?

[2016-01-21 20:08] hyi commented on #762
@horsburgh Sounds good. Will make the change accordingly unless I hear objections from others.

[2016-01-21 22:00] mjstealey opened #898 "JENKINS CI - Developer Deployment Usage"
**Do not close this ticket. It is for tracking purposes.**

Reserve a VM for deploying your code using [Jenkins](http://ci.hydroshare.org:8080/view/4.%20Developer%20Builds/job/branch-builder/), complete this prior to deploying your work:

Check the VM you want to use, add your Github name and reserve until date (Uncheck the box when you are done with the VM)
- [x] ~~park.hydroshare.org~~: (under r

[2016-01-22 00:39] horsburgh commented on #762
@hyi - In looking at the example XML file for a dataset at http://www.crossref.org/help/samples/dataset.xml, the DOI in the "doi" element is not URL encoded.  In your example it is.  Should it be?

[2016-01-22 01:03] dtarb commented on #762
@hyi in the example above there is "localhost".  I assume that in a real deployment this will be replaced by www.hydroshare.org.

[2016-01-22 01:15] dtarb commented on #897
Yes I generally like these.  Just as we are able to list multiple owners, we should also consider listing multiple authors (not only the first author).

Also I would advocate consistency between the MyResources and Discovery page listings.  Right now Discovery uses First Author and MyResources uses Owner.  Potentially this gives both to both.  I do worry about the table getting too wide, so we nee

[2016-01-22 04:08] dtarb commented on #561
@ironfroggy this has been inactive for a long time.  I think it is not needed.  Please either close or re-motivate the need for this with specifics you had in mind.

[2016-01-22 04:13] dtarb opened #899 "Direct link to private resource should redirect to login when user is not logged in"
An attempt to open a HydroShare URL for a private resource should redirect to login, or at a minimum tell the user that login is required when a user is not logged in.

Use case.  A user emails a resource link to another user.  The 2nd user clicks on the link, but gets at present a 403 forbidden error.  It would be more friendly to post a message saying "To access this resource you need to log in"

[2016-01-22 12:23] #561 closed

[2016-01-22 14:17] hyi commented on #762
@dtarb Yes, in the real deployment localhost will be replaced by www.hydroshare.org. It is the resource URL in HydroShare the DOI will point back to as the response once DOI is registered and in effect.

[2016-01-22 14:25] hyi commented on #762
@horsburgh good catch. I changed "doi" element to be 10.4211/hs.<resource_uuid> and also validated the deposit xml file to make sure it is still valid. I also changed registrant to be CUAHSI. See the updated sample deposit xml for a sample HydroShare resource above. I do want to point out that registrant element indicates the organization that owns the information being registered, according to ht

[2016-01-22 16:26] horsburgh commented on #762
@hyi - this is a good point, and one that I hope is taken care of in the publication agreement.  In my opinion (not being a lawyer of course) we should make sure that the publication agreement grants to CUAHSI and the HydroShare team the right to publish the resource in HydroShare.  I think this constitutes effectively adding CUAHSI as an "owner" for published resources. This doesn't preclude CUAH

[2016-01-22 18:09] zhiyuli commented on #839
@danames  @SarvaPulla
If we allow a collection to hold other collections.A new situation should be handled:
If collection A is holding collection B, we should not allow collection B to hold collection A.
Further, we dont allow collection A to hold collection B if collection B itself, or its any collection-type member, or member's member already holds collection A.

[2016-01-22 18:14] danames commented on #839
OK good point. I think for starters we should not allow collections to hold
collections. This will save a lot of potential complications. If some time
down the road we need this capability then we can add it then.

On Fri, Jan 22, 2016 at 11:09 AM Drew Li <notifications@github.com> wrote:

[2016-01-22 19:07] hyi commented on #761
@dtarb @alvacouch @horsburgh Is it possible to draft the text for data publication agreement used in HydroShare now? I am currently using a place holder text for publication agreement asking users to agree before they can publish the resource, but it'd be great if I could have some draft agreement text to use before deploying to a VM for your testing.

[2016-01-22 19:15] shawncrawley opened #900 "A few small, some significant, changed to hs_tools_resource"
Even though the Web App Icon Feature branch was merged with develop a couple of days ago, there are two small errors that are actually significant and are causing the icon preview feature to not work correctly. There are no errors thrown, the layout just looks messy and lacks its intended functionality. Both happen in the .js file linked below. Line 11 should have `#tool-icon-preview` without the

[2016-01-22 19:38] horsburgh commented on #761
@dtarb and @alvacouch - it also came up on the teleconference last week that we might want to consider running the text of that document past a lawyer to make sure our bases are covered.  Here's some text I took from the iUTAH Data Publisher's Agreement and modified to perhaps get us started on this. Feel free to modify at will.

https://docs.google.com/document/d/15knK4NOl0HLXkxRNmZfPDo_VqskvBT1i

[2016-01-22 21:28] shawncrawley commented on #869
@ironfroggy Do you have any idea why this is happening? @zhiyuli Drew said the same problem is giving him issues now, too.

[2016-01-22 21:34] mauriel133 commented on #869
I think it's because we have

in our base.html

For example, when I'm testing ajax calls they fire twice and the html is included twice in the source code passed to the client.

If I remove that empty block from base.html then it will only be included once and everything works as intended.

[2016-01-22 21:35] shawncrawley commented on #869
@mauriel133 Would you mind taking care of that?

[2016-01-22 21:36] mauriel133 commented on #869
I need confirmation that this is actually the case and that it won't affect other uses. If that is the case I can take care of it.

[2016-01-22 21:44] danames commented on #761
Instead of certifying that they are the creator, I think we should have
them certify that they are either the creator of the data OR that they have
permission from the creator of the data to publish it OR that the data are
in the public domain. Otherwise this looks really good to me. - Dan

On Fri, Jan 22, 2016 at 12:38 PM Jeff Horsburgh <notifications@github.com>
wrote:

[2016-01-22 21:53] hyi commented on #15
@dtarb @horsburgh I have successfully uploaded deposit xml metadata to crossref test system programmatically using crossref https request POST API. After about 10 minutes, I received email notification from crossref indicating success. According to crossref documentation, how long requested DOI can be processed and activated depends on how many requests are in the queue at the time. Although the b

[2016-01-22 22:05] horsburgh commented on #15
@hyi - I've had this happen with journal papers before.  The publisher sent me the DOI, which hadn't been registered/activated yet, and when I tried to use the dx.doi.org resolver to access the landing page for the paper, I got the page you sent us the example for.  One option is to just notify the user at the end of the publication process that their DOI will not be available until it has been re

[2016-01-22 22:11] horsburgh commented on #15
Another option is to disable editing on the resource at the time of publication but have an offline process that monitors the DOI until it is active and then have that offline process update the metadata for the resource to use the DOI.  So, the resource landing page would show the HydroShare URL until the offline process verifies the DOI is active.

[2016-01-22 22:18] hyi commented on #15
@horsburgh I thought about this option as well, specifically using celery worker to query crossref API to check the status of DOI activation in the background thread. However, I am not sure how often we should run this background worker to achieve our purpose without impacting performance too much especially in the cases when human intervention is needed to contact crossref support if DOI activati

[2016-01-22 22:20] hyi commented on #869
@mauriel133 I'd suggest to remove the empty block from base.html if everything works as intended according to your testing. We can always patch things up if things break afterwards.

[2016-01-23 00:07] hyi commented on #15
@horsburgh @dtarb @ironfroggy @mjstealey After giving this some thoughts, I'd like to go with the option @horsburgh proposed above, i.e., notify the user at the end of the publication process that their DOI will not be available until it has been processed and activated (which can take up to X amount of time). I can write a monitoring script to run every midnight as a cron job to check all pending

[2016-01-23 14:45] dtarb commented on #15
I agree with this approach.

[2016-01-23 17:55] mauriel133 commented on #869
Check if the problem is solved now. You may close this issue if it is.

[2016-01-24 16:13] dtarb commented on #761
I have edited the HydroShare publication agreement at the Google Doc link @horsburgh provided above.  This addresses Dan's suggestion and a number of other changes to align it better with the [CUAHSI user agreement](http://hiscentral.cuahsi.org/agreement/CUAHSI user agreement 2014 final.pdf).  I will be asking Rick Hooper to have CUAHSI committees review this and address the question whether CUAHS

[2016-01-24 16:29] ironfroggy commented on #869
Removing that block from `base.html` is not the right solution. That's exactly where its supposed to be. You need the empty block in the base template so that extending templates can override it and insert your JS there.

[2016-01-24 16:32] ironfroggy commented on #15
I agree with the approach as long as this is not a CRON job but a Celery task as originally proposed.

[2016-01-24 16:57] dtarb commented on #761
I have added a Mezzanine Rich Text page https://www.hydroshare.org/publication-agreement/ with this content, so all that should be needed is links to it and adding it to the footer.  However this is on www.hydroshare.org as I did not know how to administratively add and push this through the development process so @hyi please fix any missteps I made (and let me know a better way to do this)

[2016-01-25 01:29] horsburgh commented on #761
@dtarb - I think this should be something users agree to at the time of publication. It applies to each resource. Agreeing to it should be part of publishing a resource, like agreeing to a license agreement when installing software.

An alternative would be to have them agree to it once when they create their account. But, it is something that they should specifically agree to and not something th

[2016-01-25 03:46] dtarb commented on #761
Yes I agree.  Users should click to agree to the publication agreement every time they formally publish a resource AND it should be added to the footer for all to see any time they want.

[2016-01-25 14:31] dtarb commented on #762
Is it possible for our DOI's to have a readable short pattern, e.g.
10.4211/hs.2016.1, 10.4211/hs.2016.2 etc rather than
10.4211/hs.6f33d027c0444a248ddd9a7661235974
Sometimes DOIs are read from publication citations and typed in, and the GUID pattern makes this difficult.  It also takes up a whole lot of space in the citation line each time a resource is cited.

[2016-01-25 14:41] mohamedmorsy commented on #892
@mjstealey I talked with @Castronova  about that. This problem was not there before as the Model Program is is currently deployed and working on www.hydroshare.org.  Could this have something to do with existing (old) resources?  @hyi  you did help us before to fix the migrations problems when we moved from ModelProgram version 1 to version 2. Do you think that this problem is related to the old M

[2016-01-25 14:58] mjstealey commented on #892
This could definitely be due to old resources if the migration components do not adjust old resources to comply with your newer schema.

The error looks to be related to a wrong number of constraints which could mean it's colliding with an older resource definition.

@hyi and @pkdash had to do something similar when we migrated away from using django for access control and shifted to the hs_access

[2016-01-25 15:11] hyi commented on #892
@mohamedmorsy @mjstealey @pkdash This looks like a new migration issue different from the migration issues we ran into when mp is upgraded to version 2, but looks like a conflict with existing resources that caused this migration issue as well. Last time due to big changes in mp metadata in version 2, we had to delete all old mp and its dependent resources and recreate them on the latest version,

[2016-01-25 15:19] horsburgh commented on #762
@dtarb - yes it's possible. We are in charge of constructing the DOI that gets deposited into Crossref and we must assure that each DOI is unique. But then we have to create and maintain an entirely separate identifier system for resources when we already have a unique identifier for resources.

[2016-01-25 15:19] hyi commented on #761
@dtarb @horsburgh @alvacouch @danames Here is a screen capture images of the publication dialog I have implemented to ask users to accept publication agreement before they can publish a resource in Hydroshare:
![publication_dialog](https://cloud.githubusercontent.com/assets/476302/12554912/af8c2f5c-c34c-11e5-99a7-ac3cf00636ac.png)
The users can click on the hyperlink which takes them to the rich t

[2016-01-25 15:34] dtarb commented on #761
I think that the entire publication agreement should be given in this box that pops up.  It is not that long and is more direct than asking them to click somewhere else (where they may not).

[2016-01-25 15:37] dtarb commented on #762
I think it is worth it, but would like to hear from @hyi, @ironfroggy, and @pkdash how hard it is.

[2016-01-25 15:57] hyi commented on #761
Putting the entire publication agreement in the pop up box makes the publication agreement info duplicate in two places which means if we have to change the wording, we have to remember to change it in both places to keep things in sync. Also, the entire publication agreement is pretty long for a pop up box which could obscure the important instructional messages we want users to know in the popup

[2016-01-25 16:11] shawncrawley commented on #869
@mauriel133 Yeah, @ironfroggy is right. And I actually found what the problem is. The base.html template defines the extra_js and extra_css blocks as un-nested blocks that stand alone. However, in the genericresource.html file, the extra_css and extra_js blocks were nested within the body block. Thus, their content was being duplicated (once where they were nested within the head block, and once o

[2016-01-25 16:19] hyi commented on #869
@mauriel133 @shawncrawley @ironfroggy Yeah, I agree, keeping the empty extra_js block in base.html but moving the extra_js and extra_css blocks outside the head block in genericresource.html is the right solution to resolve this issue.

[2016-01-25 16:28] shawncrawley opened #904 "Add "Open with..." dropdown button populated with relevant web apps to relevant resource landing pages"
With this functionality implemented, any resource that has a relevant web app will have an "Open with.." button on its landing page, preferrably fairly big/noticable and right at the top (maybe just to the right of the resource title?). The button's drop-down items will be populated with the names/icons of the relvant web apps, and upon click will open the resource in the corresponding web app. Bu

[2016-01-25 16:33] pkdash commented on #762
@ironfroggy and @hyi Do you see any issue with using the resource id (which I think an auto incremented sequential number) field to generate the DOI and store that in the resource doi field for a published resource?

[2016-01-25 16:41] horsburgh commented on #761
@hyi - I would put it on the pop up in a fixed height, scrollable text box. This is how many software installation programs work, even though the license agreement may be VERY long.

[2016-01-25 17:00] dtarb commented on #761
A clever programmer could figure out how to have the text in one place appear in two places to keep it in sync.

[2016-01-25 17:03] horsburgh commented on #762
@pkdash - One potential issue is that if the database has to be regenerated and those auto-incremented IDs don't end up being the same or get out of sequence, etc. that might cause some issues.  I think it would be better to use something explicit, but I don't have a feel for how likely this is to be a problem.

[2016-01-25 18:08] pkdash commented on #762
@horsburgh You are right. In case of all resources getting migrated to a blank database, the IDs will get regenerated which likely to be different from the original. That would be a problem.

[2016-01-25 18:45] hyi commented on #762
@pkdash @ironfroggy @dtarb @horsburgh Agreed that using primary key IDs to identify resources in DOI field is potentially problematic. Another option is to use <date>.<seq_no> in doi field, and generate <seq_no> dynamically each time a new resource is to be published by computing the largest sequence no in DOI field in our database and then increase it by one for the new DOI field. Not a good opti

[2016-01-25 18:59] pkdash commented on #762
As long as we handle any race condition for computing the next value for doi, it should work.

[2016-01-25 19:22] hyi commented on #762
@pkdash Good point. Handling race condition in this case may be complicated and problematic. @ironfroggy any suggestions for a better alternative than using resource uuid in the DOI field?

[2016-01-25 19:59] ironfroggy commented on #762
I don't think you should ever plan to "regenerate the database" in such a way that you change IDs which would break *lots* of things like all the foreign keys. If the database were ever lost the plan should be restoration form a full backup, which would restore the tables and rows with those existing IDs.

You should expect to and plan to rely on them.

[2016-01-25 20:06] hyi commented on #762
@ironfroggy Agreed we should not change IDs in the database in normal situations. But we did have to erase database and regenerate them a couple of times in the past due to migration issues, with the second time caused by base resource model refactoring and access control additions in which we have to regenerate database from existing bags. If we can guarantee this will not happen again, that woul

[2016-01-25 20:12] ironfroggy commented on #762
If you plan on relying on any identifiers being relied on by outside sources, then you can never do that again. As long as that would break things, and it always will, then it is better to embrace that expectation.

[2016-01-25 20:48] mjstealey commented on #892
Resolved

[2016-01-25 20:48] #892 closed

[2016-01-25 22:58] hyi commented on #761
![publication_dialog](https://cloud.githubusercontent.com/assets/476302/12567381/c5d97388-c38c-11e5-935c-31cea72f653b.png)
@dtarb @horsburgh See the screen capture above for an updated publication dialog. I managed to directly use https://www.hydroshare.org/publication-agreement page created by @dtarb in this modal dialog without duplicating the publication agreement text so that the text could be

[2016-01-26 00:42] dtarb opened #908 "My Resources page scrolling"
A change has crept into the My Resources page scrolling that is in my opinion a regression.  I do not recall there being an issue to change the scrolling of the My Resources page.

As presently deployed on Alpha.hydroshare.org My Resources are displayed in a box that limits the space that they can take up and they have their own scroll bar.  This makes it clumsy to find resources in a long list.
!

[2016-01-26 00:52] dtarb opened #909 "Use icon to indicate sharing status on My Resources"
The current alpha deploy has a new column Sharing status in My Resources.  Our column real estate is precious, and I did not see this listed in the issue #897 where additional columns were discussed.  I'd prefer not to take up so much space with this, and suggest instead an icon, e.g. a green open padlock for public, a red closed lock for private and an orange half open lock for discoverable.  Thi

[2016-01-26 01:10] dtarb commented on #761
Please change the words as follows.

Above box
_Please confirm that you accept the HydroShare Publication Agreement shown below.  Publication is **final** and once a resource has been published changes will require you create a new version of the resource._

In box include the header "HydroShare Publication Agreement"

Below box
_I accept the HydroShare Publication Agreement._

[2016-01-26 01:59] mauriel133 commented on #908
This was the 4th step outlined in this issue: https://github.com/hydroshare/hydroshare/issues/770

I will undo it tomorrow.

[2016-01-26 02:31] mauriel133 commented on #909
It was listed as part #770. Should I include the newly implemented shareable flag as an icon as well?

[2016-01-26 03:11] horsburgh commented on #908
@mauriel133 - what I was hoping for with the scrolling is not that you would implement a fixed height box within which the resource list would scroll, but rather that the box would take up the whole space available to it on the page.  So, where Dave has labeled "Useless wasted space", you should just extend the scrolling list to the border of the footer.

We definitely need to have a scrolling mec

[2016-01-26 03:25] horsburgh commented on #761
@hyi - I like @dtarb 's edits.  Otherwise, looks great.

[2016-01-26 04:54] dtarb commented on #909
I think that  icons about the same size as the star and label is about right for Shareable and Public/Discoverable/Private.  I think we need to be a bit careful about not having too many columns and having columns that are the most important.  Things like Public/Discoverable/Private and Shareable, I do not think have to be that prominent in a users display.  They are important for us now since we

[2016-01-26 13:56] hyi commented on #909
@mauriel133 @horsburgh @dtarb Now that resource publication is being implemented, we'd need a icon for published flag as well.

[2016-01-26 14:20] hyi commented on #761
![publication_dialog](https://cloud.githubusercontent.com/assets/476302/12582815/5c396e52-c40d-11e5-8454-7c998554fc07.png)
@dtarb @horsburgh Let me know if the dialog above looks good. To add the header "HydroShare Publication Agreement" into the box, I have to reduce the font of the header on publication agreement page on www from header 1 to header 2 to make it look good in the box which looks a

[2016-01-26 14:39] dtarb commented on #761
This looks good.  I suggest, if possible, to have the text in the publication agreement part wrap to a narrower column the same width as the box so a user reading it has to scroll in only one direction (up and down) and not scroll both up and down and left to right.  Make it easy for them to read.

[2016-01-26 16:03] horsburgh commented on #909
I have been to websites before with tabular displays where the user is allowed to specify which columns show up in the table. Thus, they can customize their view to what suits them best.  However, I think that while nice, this functionality is probably much less important than some of the other things that remain unimplemented in HydroShare.

[2016-01-26 16:30] dtarb commented on #909
My Resources is really nice on www as it is (without scrolling) so I agree with Jeff that there are other priorities (like the user profile editing and getting the content for the user data model in line with specifications) that should be higher.  At some point coming back to customizing the columns would certainly be appealing.

[2016-01-26 17:59] hyi commented on #761
@dtarb Good point. After spending some time tweaking the styles, I finally got rid of the horizontal scroll without affecting other display. See the screen capture below and let me know if you have any other suggestions.
![selection_001](https://cloud.githubusercontent.com/assets/476302/12589498/1dd72932-c42c-11e5-9f46-289b3b6a31f4.png)

[2016-01-26 18:40] Castronova commented on #856
@dtarb @goodalljl @mohamedmorsy: I've updated the model program resource to reflect this discussion.  It is currently deployed on http://playground.hydroshare.org/ (until 1/28/16).  Can you please test it and make sure that these modifications work as expected.  If not, I can make changes to the required metadata fields.

Summary of changes:
For a model program to be made public it must have:
* Ab

[2016-01-26 23:06] dtarb commented on #761
I guess it is sort of passable.  It still shows the horizontal bar at the bottom that does not look very attractive, but at this point there seem to be more important things to do that to worry about this.

[2016-01-27 15:17] hyi commented on #761
![publication_dialog](https://cloud.githubusercontent.com/assets/476302/12617717/dc106960-c4de-11e5-9e31-f66924037417.png)
@dtarb Agreed the disabled horizontal scroll bar should be removed. Managed to achieve this. See whether above screen capture looks good now.

[2016-01-27 16:24] zhiyuli commented on #894
merged

[2016-01-27 16:24] #894 closed

[2016-01-27 18:12] mauriel133 commented on #908
@horsburgh, @dtarb the new scrolling behavior can be tested at https://riverdev.hydroshare.org/

[2016-01-27 21:13] Castronova commented on #856
I initially thought that the following metadata *ModelVersion*, *ModelReleaseDate*, and *Model OperatingSystem* should all be required to help identify a unique release of a particular model.  While, *ModelOperatingSystem* provides information that would be useful to other HydroShare users, it is not necessarily required identify a specific "snapshot" of a model.  Additionally, since either *Model

[2016-01-27 21:22] danames commented on #856
I suggest dropping ModelReleaseDate and only using ModelVersion. Any one
posting a model should know its version. If it doesn't have a version, then
it is likely an original model and it's high-time that the programmer
assign it a version. This will encourage them to do so.

On Wed, Jan 27, 2016 at 2:13 PM Tony Castronova <notifications@github.com>
wrote:

[2016-01-28 16:01] mohamedmorsy commented on #856
I agree with Dr. Ames about making the ModelReleaseDate an optional metadata field. I still have concern about the last point (One of the following: (1) ModelWebsite, (2) either ModelEngine or ModelSoftware). When the user create a new Model Program resource type, he or she will specify a specific version of the Model Program. When the user just uses the ModelWebsite to point to the location of th

[2016-01-28 18:30] mauriel133 opened #913 "Google maps api not loading"
The google maps script is not running. I will push a hot fix for this today.

![capture](https://cloud.githubusercontent.com/assets/2448568/12654683/72b9eb10-c5b2-11e5-98bf-4c3cc4a6f7b7.PNG)

[2016-01-28 19:31] pkdash opened #914 "Add unit tests to raster resource type"
This resource types has no unit tests.

[2016-01-28 19:33] pkdash opened #915 "Add unit tests to model program resource type"
This resource type has no unit test currently.

[2016-01-28 19:34] pkdash opened #916 "Add unit tests to model instance resource type"
This resource type has no unit test currently.

[2016-01-28 19:35] pkdash opened #917 "Add unit tests to SWAT model instance resource type"
This resource type has no unit test currently.

[2016-01-28 19:42] mohamedmorsy commented on #916
Same as issue #571

[2016-01-28 19:43] mohamedmorsy commented on #917
Same as issue #572

[2016-01-28 19:55] pkdash commented on #916
Closing this one as it is a duplicate of #571

[2016-01-28 19:55] #916 closed

[2016-01-28 19:57] pkdash commented on #917
Closing this one since it is a duplicate of #572

[2016-01-28 19:57] #917 closed

[2016-01-28 20:56] Castronova commented on #856
@mohamedmorsy I understand your concern, but consider a scenario in which the model developers have their own hosting (e.g. GIT).  In this case, making the user upload source code will only deter them from using the Model Program resource.  I think that we need to allow this type of behavior, and just be clear that the preferred usage is to upload model source code when applicable.

[2016-01-28 21:32] mjstealey commented on #913
Merged as hot fix, deployed as Release 1.6.5.1 on www

[2016-01-28 21:32] #913 closed

[2016-01-29 12:31] alvacouch opened #920 "REST interface to groups is outdated"
Several routines in hs_core/hydroshare/users.py refer erroneously to the old definition of groups and are thus inconsistent with other routines _in the same file_ that refer to new group access control.
These are documented as being used in the REST interface.

[2016-01-29 14:04] selimnairb commented on #920
@alvacouch You have self-assigned this issue.  If you are intending to fix these inconsistency in the REST interface, that is fine.  If so, please develop some simple unit tests to test that the behavior is correct; we have recently added REST API tests to the main code base, which you can find [here](https://github.com/hydroshare/hydroshare/tree/develop/hs_core/tests/api/rest).

If you would like

[2016-01-29 15:46] selimnairb commented on #845
@yirugi This has been deployed to www.hydroshare.org.  Can you verify and close the issue if it has been resolved?  Thanks.

[2016-01-29 15:59] pkdash commented on #920
We need a cleanup of the internal api. Similar to hs_core/hydroshare/users.py there are issues with hs_core/hydroshare/resource.py.

[2016-01-29 19:46] dtarb commented on #856
@Castronova I have tested this.  You can see the resource I am checking at http://playground.hydroshare.org/resource/3cdb9ce252f845e88a0ccd3425cd06b1.  It can be made public now, but there is ambiguity between the website in Resource Specific and the website in Related Resources hosted by that needs to be entered to have the citation refer to the offsite website rather than a HydroShare permalink.

[2016-01-29 19:48] shawncrawley opened #921 "Clean up display of long web app titles on relevant resource landing pages"
A user can give resource names a very long title if desired. In the case of Web Apps, these titles are displayed in an "Open with..." dropdown as well as under the "Web Apps" tab on associated resource landing pages. When being displayed in these two locations, having a really long name looks funny and somewhat messes with uniformity and user-friendliness. Long Web App titles should be replaced wi

[2016-01-29 21:06] mjstealey opened #922 "Users hitting 1GB file download cap"
Issue with 1024 m cap on downloads.
- [x] up the cap on uwsgi to 4 GB (temporary fix)
- [x] configure uwsgi to run using unix sockets instead of port 8001
- [x] accommodate for this in the nginx config files

[2016-01-29 21:06] Castronova opened #923 "Model Program - Git support"
Add git support to the model program resource as a way for users to specify the software metadata.

[2016-01-29 22:42] selimnairb commented on #485
Once #924 is merged, we will need to add support to the REST API for: (1) specifying unzipping on resource creation; and (2) checking the status of unzipping.

[2016-01-29 22:56] selimnairb opened #927 "REST API code clean-up"
There is some clean-up that needs to be done to the REST API code.  This issue is a running list.

- [x] Make sure that all Mixins appear before the base class (this is not the case [here](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L95) for example)
- [x] Make hsapi/scimeta return XML instead of JSON
- [x] Add resource landing page URL to system metada

[2016-01-29 22:56] selimnairb commented on #927
@pkdash @alvacouch Can you add any recently discovered REST API code clean-up issues to this list?  Thanks.

[2016-01-30 13:56] dtarb opened #928 "Unable to add discoverable resource to My Resources"
This may be a design decision, but it warrants reconsideration.  I am unable to add a discoverable resource to My Resources.  There is no green add to My Resources on the landing page interface.  The case in point is this resource https://www.hydroshare.org/resource/285a5b5714c549ac8bba269b79863c0a/

@horsburgh @mauriel133 @alvacouch could you please comment on whether we think a user **should** b

[2016-01-30 15:02] mjstealey commented on #928
@dtarb - That resource is already shared with you and is already part of your my-resources page... Do you really want to see the green icon for a resources that is already part or your My Resources?

A user that has not had that resource shared with them will have the icon / option available. (image attached)

![screen shot 2016-01-30 at 9 59 27 am](https://cloud.githubusercontent.com/assets/53325

[2016-01-30 15:13] dtarb commented on #928
OK.  My mistake.  I'll close this.

[2016-01-30 15:13] #928 closed

[2016-01-30 15:51] alvacouch commented on #893
@pkdash @mauriel133 @dtarb @horsburgh Part of this issue is already addressed by #867 .

At this point, the following issues remain:
   1. An issue of **semantics:** eliminate multiple sharing grants to same user and resource. At any time, there is exactly one privilege grantor. That grantor or an owner can unshare. (branch 893 - a ...)
   2. An issue of **performance**: make that interpretation o

[2016-01-30 17:57] pkdash commented on #893
@alvacouch and @dtarb Since we are planning to make further changes to access control, here is a thought for your consideration:

I have looked and used the access control code probably the most. Based on my understanding of the current implementation, I feel the complexity in code (e.g. complex database queries) can be reduced quite a bit if we keep the record for provenance  in a log/history tab

[2016-01-30 17:59] alvacouch commented on #893
This is exactly the plan. However, we need to be able to query the provenance table. So the first PR will be to query into the provenance table directly, and the second PR will be to create the clean access table.

[2016-01-30 18:09] alvacouch commented on #893
@pkdash @dtarb It's really up to you whether I combine these or submit the PRs separately. This is the way I must develop in order to ensure that everything works. Development is a two step process. The first step is to change semantics, make sure that works, and then make things faster.

I can easily combine these into one PR, but the result will be more confusing to review.

[2016-01-30 18:14] pkdash commented on #893
@alvacouch Would prefer 2 PRs then.

[2016-01-31 22:18] pkdash opened #929 "Cleanup unit tests for timeseries resource"
This cleanup includes:
1. Make the skipped tests to run
2. Add additional unit tests
3. General cleanup (PEP8, mock iRODS interaction etc)

[2016-02-01 14:47] mjstealey commented on #922
has been merged

[2016-02-01 14:47] #922 closed

[2016-02-01 18:40] selimnairb commented on #927
@alvacouch Please add items for your recently discovered REST API code inconsistencies so that I an others my track them.  Please also indicate what of these items are you implementing by referencing this issue in your commits.  Thanks.

[2016-02-01 21:15] mjstealey opened #930 "Fuse mount iRODS resources as /mnt/irods_fuse"
Fuse mount iRODS resources as /mnt/irods_fuse
- [ ] Create mount when USE_NGINX = true
- [ ] Serve files from /mnt/irods_fuse using Nginx instead of from uWSGI

[2016-02-01 21:21] pkdash opened #931 "Cleanup hs_core internal api"
This involves cleaning code (primarily deleting dead code) in the following files:
hs_core\hydroshare\discovery.py
hs_core\hydroshare\hs_bagit.py
hs_core\hydroshare\resource.py
hs_core\hydroshare\social.py
hs_core\hydroshare\utils.py
hs_core\views\discovery_api.py
hs_core\views\resource_api.py
hs_core\views\utils.py
hs_core\forms.py

[2016-02-01 21:24] pkdash commented on #927
@selimnairb I see there are some 'TODO' comments in ```resource_rest_api.py``` that may need to be fixed. Apart from that I don't see any issue with the REST API as it relates to code cleanup of the existing REST API code. However, there is quite a bit of cleanup needs to be done to the internal api as per this issue #931.

[2016-02-01 21:27] selimnairb commented on #930
What is the motivation for doing this?  (to get around filesize limitations?)  If it's just performance, we should test to see if serving from a FUSE-mounted volume is actually more performant (e.g. lower latency, higher bandwidth).

[2016-02-01 21:29] mjstealey commented on #930
Exactly the reason this is being done.

[2016-02-02 03:22] dtarb commented on #930
There is also functionality associated with editing resource files (e.g. operating on a netCDF or TIFF file) that in the present implementation would require copying the file to Django, doing the work, then copying it back to iRODS that taxes Django file storage and bandwidth that we hope FUSE may get around.

[2016-02-02 13:04] ironfroggy commented on #930
FUSE iRODS is still going to require that network transfer, however, it will be more performant if the FUSE iRODS plugin is smart about how much of the file it caches and if the work that needs to be done only needs to access part of a file. If the work being done on the Hydroshare side requires consuming the entire file, then this won't be any different and still requires a copy back and forth. W

[2016-02-02 13:09] ironfroggy commented on #931
@pkdash can you detail at all

1) what sort of cleanup are you expecting to be done in these?
2) where is this list and this directive for clean up coming from?

[2016-02-02 14:12] dtarb commented on #930
With FUSE the problem is delegated to iRODS, so part of the consideration is whether the abstraction it provides is better than what we can do ourselves and have to maintain ourselves.  Given the scale of the iRODS effort compared to us delegating the problem is attractive, but we await full evaluation of performance impacts.

[2016-02-03 04:17] pkdash commented on #931
@ironfroggy The cleanup would include things like:

- Correcting implementation of some of the functions which we are currently not being used but most likely to be used (based on the api specification)
- Removing dead code
- Cleaning up dockstring

I am not sure I understand your question 2).

[2016-02-03 20:05] yirugi commented on #845
I've confirm that this has been solved.

[2016-02-03 20:05] #845 closed

[2016-02-03 20:10] yirugi opened #934 "Log In issue on hydroshare.org and www.hydroshare.org"
It seems that login session is different between hydroshare.org and www.hydroshare.org .
Even though I logged in to www.hydroshare.org, I'm not logged in on hydroshare.org, and vice versa.

This causes a problem on implementing SSO service. The SSO client side cannot decide which domain users are logged in, so users may see the login page again even though they already did.

[2016-02-03 20:12] ahmetartu opened #935 "sign-up page is not accessible (404 error) in development environment"
I wanted to create a user for testing purposes in development version. I managed to create a user in previous development version but now it fails in the new version.

I pulled the current source base using `git pull`. and then ran the docker instances via `docker compose -d`. I'm able to access to all pages including main page, my resources etc. flawlessly, but now I got the 404 (Page not found e

[2016-02-03 20:24] mjstealey commented on #935
@ahmetartu - For convenience we've put together a control script for HydroShare since it has many moving parts.

It is the `hsctl` script in the main hydroshare directory.

[code]

If you've just installed the code and are running for the first time, or want a fresh start, you'd want to use `hsctl rebuild --db`.

After that a `hsctl rebuild` call will rebuild the primary containers but keep your d

[2016-02-03 20:53] yirugi commented on #934
If a user enters 'hydroshare.org' , it is reformatted to 'www.hydroshare.org'.
But, if a user enters 'https://hydroshare.org', it cannot be reformatted.

[2016-02-04 19:47] dtarb opened #936 "Quirky behavior of scrolling in MyResources page."
When I go to the My Resources page I get two vertical scroll bars.  One just for the resource listing box and one for the whole page.  However if I resize my browser window to be wider or narrower (it works both ways) the internal scroll bar disappears and all resources are shown.

I would actually prefer to always get the display without the internal scroll bar.

[2016-02-04 20:03] horsburgh commented on #15
@hyi - some issues based on testing on dev.hydroshare.org today. Many of these would need to modified in the data publication agreement page since you are displaying that in the pop-up in the publication workflow.

* [ ] When I click on the “Terms of use” link in the data publication agreement, it puts the terms of use in the text box, but I can’t go back to the publication agreement.  I think it

[2016-02-04 20:37] ahmetartu commented on #935
Thanks Michael, I ran the following commands in order:

$ `git pull` # for fetching the latest code snapshot
$ `./hsctl rebuild`
$ `./hsctl restart`
$ `docker attach --sig-proxy=false hydroshare_hydroshare_1`

However, still getting the 404 error when I clicked on "Sign up" button

`[04/Feb/2016 20:30:21] "GET /sign-up/ HTTP/1.1" 404 1577`

Any further ideas?

[2016-02-04 20:39] horsburgh opened #937 "Resource Metadata and Landing Page: Need a Metadata Item for Funding Agency"
Users need to be able to enter information about a funding agency associated with their resource, including:

* [x] The name of the funding agency
* [x] Optional - The title of the award
* [x] Optional - The grant number associated with the resource that they have created.
* [x] Optional - A URL link to an abstract on an external website (e.g., a link to the abstract for the project on NSF's websi

[2016-02-04 20:47] mjstealey commented on #935
Use `./hsctl rebuild --db` so that the included development database is loaded and populates your base pages.
It also includes a single admin user: user: **admin**, pass: **default**

[2016-02-04 21:20] pkdash commented on #937
@horsburgh Is this new metadata be part of the science metadata document?

[2016-02-04 21:38] horsburgh commented on #937
@pkdash - yes, it should be.  I just glanced through the Dublin Core metadata terms and there are not appropriate terms to capture this information.  So, we are going to have to figure out how to encode it.

There may be some sentiment that we should make this part of an extensible metadata model using key/value pairs.  But, I think it's emerging in many of the data use cases that people are brini

[2016-02-04 21:41] horsburgh commented on #937
Actually - one could consider the funding agency as a "Contributor", but that might not be specific enough.

[2016-02-04 22:01] dtarb commented on #15
@horsburgh please also make these changes on the Google Doc publication agreement as that is what Rick Hooper has been asked to have CUAHSI approve.

[2016-02-04 22:07] dtarb commented on #937
I've been advocating for the extensible metadata model, but from a user perspective it needs to be prominent and obvious where a user should enter this information.  At the back end this may be implemented using a key value approach to give a generality to our code structures.

[2016-02-04 22:23] ahmetartu commented on #935
After passing `--db` option to `./hsctl rebuild`, it worked! Thanks Michael...

[2016-02-04 22:23] #935 closed

[2016-02-05 05:51] pkdash commented on #937
We can easily add this new metadata element similar to how all other metadata elements are currently implemented in hs_core. I assume this will be part of the core metadata. That means different resource types need no code change. Since this element has sub-elements (name, grant number, and URL) I am not sure how it can be implemented as key/value pair. But for other arbitrary metadata elements th

[2016-02-06 17:09] horsburgh commented on #937
@pkdash - your assumptions here are correct.  Does someone need to add these on the backend so that Mauriel can expose them on the landing page and the resource metadata editing page?

[2016-02-06 18:04] horsburgh commented on #15
@dtarb - I made the modifications to the Google doc.

[2016-02-06 18:57] pkdash commented on #937
@horsburgh Yes this new metadata element needs to be added at the backend first. I can do that. I  need to know how big (number of characters) the name and grant number fields have to be and how we should be encoding this element.

[2016-02-06 19:05] horsburgh commented on #936
Closing this because we will address it in #908

[2016-02-06 19:05] #936 closed

[2016-02-06 19:42] horsburgh commented on #908
From @dtarb: When I go to the My Resources page I get two vertical scroll bars. One just for the resource listing box and one for the whole page. However if I resize my browser window to be wider or narrower (it works both ways) the internal scroll bar disappears and all resources are shown.

I would actually prefer to always get the display without the internal scroll bar.

[2016-02-06 20:01] horsburgh commented on #908
@dtarb - this issue is a bit complicated. @mauriel133 is trying to keep a page styling that is responsive in web browsers and on mobile devices.  When you make the window very narrow (as would be the case in a browser window taking up less than half your screen or on a mobile device) the filters flip to the top of the table of resources, and the footer compresses in width, which makes it longer.

[2016-02-06 20:42] dtarb commented on #908
My preference is number 2 with an option as is common on these lists on shopping sites (I looked at Amazon, Orbitz, Expedia) to have at the bottom showing page x of y and an option to set how many to display if you are concerned about loading time and the length of scrolling on small screens.  I do not like number 1 because two scroll bars nested seem like poor interface design and when I use the

[2016-02-06 20:46] horsburgh commented on #908
I'm trying to get away from paging.  I don't like it and it isn't always obvious that it's an option.  Plus, it's impossible to use on a small (mobile) screen.

[2016-02-06 20:52] horsburgh commented on #937
After thinking about this a little more, it would probably be good to encode funding information at the granularity of a research award.  So, for each award I would give them the following:

* 250 characters for the name of the agency that funded the award (required)
* 250 characters for the award title (optional)
* 100 characters for the award number (optional)
* Whatever length we are using for

[2016-02-06 21:03] pkdash commented on #937
@horsburgh and @mauriel133 I will create a new branch to implement this backend support. Then @mauriel133 can use that branch to add the UI implementation.

[2016-02-06 21:12] dtarb commented on #908
Amazon, Orbitz, Expedia, Google, Bing, zions bank (among others) use paging.  How many more mainstream websites do you want me to list to convince you that it is mainstream?  I can not find another mainstream site that has nested scroll bars.

[2016-02-06 21:45] dtarb commented on #937
Please if at all possible use field types that are flexible in length rather than setting character limits.  Exceptions that exceed character limits commonly come up.  I seem to recall an earlier suggestion from @ironfroggy that was similar to this.

Also, @horsburgh in designing this functionality please consider the text I wrote in the roadmap for enhancements for credit attribution.

USE CASE (

[2016-02-06 22:00] horsburgh commented on #908
My mom always told me I shouldn't do things just because everyone else is doing them.   ;-)

I personally hate paging. I'm sure I could give you as many examples of websites that don't use paging. For example - Google Search does use paging, but Google drive (which is much more similar to our My Resources page) does not.

Don't we have more pressing issues to deal with?

[2016-02-06 22:13] horsburgh commented on #937
The metadata fields are stored in a database and have to have a length.  We can make them longer if you want.

The funding agency name should be required but ONLY IF the user wants to add award information.  The whole award information block should be optional if there is no funding acknowledgement.

I think adding the PI of a an award is overkill, but we could add that as an additional (optional)

[2016-02-06 22:27] dtarb commented on #908
We certainly do have more pressing issues to deal with.  The page was fine before the container was added.  I do not know why it had to be complicated by adding it.

[2016-02-06 22:58] horsburgh opened #939 "Navigation: Apps Link Should Open a new Window"
The link to the "Apps" page in the main navigation should open a new browser window or tab.  It's possible to go layers deep in the "Apps" stuff and then have a hard time getting back to hydroshare.org.

[2016-02-06 23:08] horsburgh opened #940 "Resource Landing Page: Need "Described By" as a term for RelationType"
When adding a related resource on the edit page for a resource, a user has asked for a term "Described By" in the "Relation type" field on the "Add relation" form.

Also - some descriptive text above the "Add Relation" button would be helpful for users.  Something like what follows:

"Click the button below to add a relationship to another resource, external website, or document. You can express t

[2016-02-06 23:45] horsburgh opened #941 "Resource Metadata: Implement Credit Mapping"
@dtarb would like to see functionality to specify the contribution of each author and/or contributor that is added to a resource. For example, see the slide below:

![untitled](https://cloud.githubusercontent.com/assets/3485902/12870076/d0094b2c-ccf0-11e5-8c12-15d2cef99634.png)

This slide is number 20 in the slide deck from Daniel S. Katz at: http://www.slideshare.net/danielskatz/metrics-citation

[2016-02-06 23:49] horsburgh opened #942 "Resource Metadata Editing: Enhance Metadata Editing with Descriptive Text"
Some of the items on the resource metadata editing page are not self explanatory.  Need some tooltip text on items that describe what they are or some text next to them on the page that describes what should be entered.  Examples include:

* Manage access
* Related resources

[2016-02-06 23:52] horsburgh opened #943 "Resource Metadata Editing: Simplify Changing Author Order"
A request has been made for a simpler way to modify the order of Authors after they have been added to a resource. For example dragging them up or down in the list.

I think this one is pretty low priority and reflects a place where some training/documentation could be used rather than modifying working functionality.

[2016-02-07 01:15] pkdash commented on #937
We can use ```TextField()``` which doesn't have a length limit.

[2016-02-08 14:43] mjstealey opened #945 "django / mezzanine / other updates"
Update components to current LTS release
- [x] Django 1.8.9
- [x] Mezzanine 4.1.0
- [x] Other items (TBD)

---

Dev Notes:

- ~~Deletes all prior migrations files and generates new ones~~
- ModelForm requires explicit **fields** or **exclude** definition in Meta class

---
1.7.8
[code]
1.8.9
[code]
[code]
---
1.7.8 (generic.GenericForeignKey, generic.GenericRelation)
[code]
1.8.9 (GenericForeignKe

[2016-02-08 16:20] hyi commented on #15
@horsburgh @dtarb I have addressed all your comments and redeployed beta.hydroshare.org for your further testing. Please test it out on beta.hydroshare.org and let me know if there are any further comments to be addressed.

[2016-02-08 18:18] hyi opened #946 "Resource versioning - creating new versions of resources"
See design specification https://docs.google.com/document/d/1tNFStpEmbB_AC2ICppVSw-024-iTrnqGK9Np7Elw2OM/edit for details on resource versioning including workflow for creating new versions of unpublished and published resources.

[2016-02-08 21:16] mauriel133 commented on #942
Could you provide the help text to go along these functions?

[2016-02-09 00:41] gantian127 opened #948 "Raster Resource File Upload for VRT Raster"
All users to upload raster resource as VRT raster. User can upload raster from their local PC to HydroShare with following ways:
1) single .tif file
2) single .zip file including one .vrt file and multiple/single .tif file

[2016-02-09 14:35] hyi opened #949 "Clean up ga_resources and ga_ows apps"
A few utility functions from ga_resources and ga_ows apps are used throughout HydroShare codebase, but most functionalities in these two apps are not complete and not used. These few utility functions being used should be moved to hs_core app as part of HydroShare utility base with these two apps removed from HydroShare project as part of code base clean up work.

[2016-02-09 15:23] mauriel133 commented on #456
The date column sorting issue has now been addressed. This issue can be closed.

[2016-02-09 15:25] horsburgh commented on #456
Agreed. Closing.

[2016-02-09 15:25] #456 closed

[2016-02-09 16:12] dtarb opened #950 "My Resources page date sorting ignores time"
When resources are sorted by last modified, the time should be considered.  If the most recent is first most recent should take into account time.  In the below 4:05 is after 4:04 so more recent and should be listed first.

![untitled](https://cloud.githubusercontent.com/assets/3456833/12922046/29a7615a-cf0d-11e5-89bd-3b85b9aa93e3.png)

[2016-02-09 21:30] mauriel133 commented on #939
@mjstealey, is there a way to set this link to open in a new tab through the admin interface?

[2016-02-09 21:37] mauriel133 commented on #664
Is there anything else that needs to be done for this functionality?

[2016-02-09 21:40] mjstealey commented on #939
@mauriel133, Not directly, but some work arounds mentioned here: https://groups.google.com/forum/#!msg/mezzanine-users/iAFF3twUajg/idEIsNsjBQAJ

[2016-02-09 21:44] mauriel133 commented on #939
I can add the target property to the link on page load as they did there, will that be ok?

[2016-02-09 21:47] mjstealey commented on #939
I'd think that would be fine so long as the Apps link is the only one that is affected.

[2016-02-09 22:30] danames commented on #939
I agree with this suggestion.

On Tue, Feb 9, 2016 at 2:47 PM Michael J. Stealey <notifications@github.com>
wrote:

[2016-02-09 22:37] horsburgh commented on #15
@hyi - I just published another resource on beta.hydroshare.org and things looked good to me. See my comments about the DOI registration stuff inline with your code. I'm excited to have this capability in HydroShare!!

[2016-02-09 22:46] dtarb commented on #664
Tested and working to my liking.

[2016-02-09 22:46] #664 closed

[2016-02-09 22:58] horsburgh commented on #908
@dtarb - @mauriel133 and I just discussed this.  He's going to revert back to the way the page was before. The whole table of resources will be rendered when the page loads. The whole page will scroll (with one scroll bar). The controls will scroll off the top of the page, but there will be an arrow button that shows up when you have scrolled down that will take you back to the top. This will be r

[2016-02-09 23:02] dtarb commented on #908
Great.  Thanks.

[2016-02-10 00:35] mauriel133 commented on #869
@shawncrawley, the fix has been merged now. Please verify and close if everything works.

[2016-02-10 15:48] ironfroggy opened #958 "Evaluate code redundancy"
I've built a report analyzing potential redundancies in the codebase. I'm hoping we can translate this to some attempts to lower redundancies and maintenance costs. I'm treating this ticket as a public working space for my own technical debt investigation, but please leave comments if you have any questions or feedback. I hope to translate from this specific tickets identifying what we can do in r

[2016-02-10 15:53] mjstealey commented on #958
Desire to purge both [`ga_ows`](https://github.com/hydroshare/hydroshare/tree/develop/ga_ows) and [`ga_resources`](https://github.com/hydroshare/hydroshare/tree/develop/ga_resources) from the repo.

Neither of these is being maintained, but there is some functionality being used that could be built into `hs_core` instead.

[2016-02-10 17:59] #869 closed

[2016-02-10 18:15] mjstealey commented on #939
@mauriel133 - Tested this on riverdev and all worked as expected, so the PR was merged.
Just deployed the same codebase on www and not seeing the expected behavior.

Ideas?

[2016-02-10 18:30] mauriel133 commented on #939
It worked for me after clearing my browser's cache.

*Maurier Ramírez*
Computer Scientist
Utah Water Research Laboratory
Utah State University
8200 Old Main Hill
Logan, UT 84322-8200
Phone: (435) 932-0727

On Wed, Feb 10, 2016 at 11:15 AM, Michael J. Stealey <
notifications@github.com> wrote:

[2016-02-10 18:35] mjstealey commented on #939
Check the edit to the [original post](https://github.com/hydroshare/hydroshare/issues/939#issuecomment-182511252)

[2016-02-10 18:40] mauriel133 commented on #939
Oh, good catch!

[2016-02-10 21:00] mjstealey commented on #930
nginx work to be picked up in new issue

[2016-02-10 21:00] #930 closed

[2016-02-11 13:04] ironfroggy commented on #958
@mjstealey thats good to know, since those both came up as potential candidates for improvement. Will dig into them both a bit more.

[2016-02-11 16:50] wzell-usgs opened #960 "Create model program resource - not added to discovery in real-time"
Cannot find newly created model program resource via 'discovery'.
Only discoverable via link.

https://www.hydroshare.org/resource/ba94cc37e8f1409d8bd515bb49bd955e/

[2016-02-11 16:53] wzell-usgs opened #961 "Retrieving password"
When I try to retrieve a password for a previously-registered (or perhaps partially registered) email, I am told 'invalid user/email.' However, if I try to register a new account with that email I am told that the email is not unique (i.e., appears to be logged somewhere in the system).

![screen shot 2016-02-11 at 11 51 49 am](https://cloud.githubusercontent.com/assets/16402586/12983172/04ba87aa-

[2016-02-11 17:06] mjstealey commented on #960
At this time our discovery page isn't updated in real-time.
There is a process that runs periodically to pick up any new or modified resource information and populate the database used to drive the discovery engine.

This is slated to be fixed in future releases, but hasn't been put into our production server just yet.

[2016-02-11 17:10] mjstealey commented on #961
@wzell-usgs - response sent via email

[2016-02-11 17:47] dtarb commented on #11
The specifications have been migrated to Google Drive and this is assigned to @ironfroggy

[2016-02-11 17:49] dtarb commented on #13
Closing.   @alvacouch and @xuezhaokun have implemented a Discovery page implemented.  Did not use exact approach envisaged in 2014.  Enhancements needed should get separate issues.

[2016-02-11 17:49] #13 closed

[2016-02-11 18:00] dtarb commented on #300
@ironfroggy this has sat for a while.  Others think this is done, but could you please verify and if there is a security issue clarify what still needs to be done.

[2016-02-11 18:11] dtarb commented on #357
Filtering has been revamped in the My Resources page.  Assigning to @horsburgh to decide if there is still an enhancement here to consider (which should be filed as a separate issue) or whether this can just be closed.

[2016-02-11 18:17] dtarb commented on #473
Title repurposed to reflect that we still need to address support for browsers, but that this is a back burner issue at present.

[2016-02-12 00:55] horsburgh commented on #357
@dtarb - I don't think this is something we should support.  The filenames are not exposed on the My Resources page. We should enable filter on the metadata items one can actually see on the page. Objections?

[2016-02-12 01:01] dtarb commented on #357
Lets close.

[2016-02-12 01:01] #357 closed

[2016-02-12 21:23] pkdash opened #963 "Resource delete bug/cleanup"
Remove code to delete access control related objects as part of the resource delete. Those objects will be automatically deleted on resource delete.

[2016-02-13 16:25] mjstealey commented on #961
Resolved via email

[2016-02-13 17:41] dtarb commented on #961
There is still a systemic problem here that needs to be addressed.  An account can be in one of two states:

A.  Active after a user has validated their email.
B.  Pending.  After a user has requested an account an email to validate their account is sent to the email provided, but the user has not yet clicked on the link in that email.

1.  If a user requests an account and provides an email for w

[2016-02-13 19:14] dtarb opened #965 "App interface enhancements"
In working on how to launch a CyberGIS app from HydroShare with @selimnairb and @ahmetartu we reviewed the app calling protocol and identified the following deficiencies/concerns.

An example app launch call is https://apps.hydroshare.org/apps/raster-viewer/?res_id=877bf9ed9e66468cadddb229838a9ced&usr=dtarb&src=hs
1. The tag res_id is limiting as the target system may have this used for another pu

[2016-02-13 19:24] mjstealey opened #966 "Account Creation - Active/Pending workflow"
An account can be in one of two states:
1.  **Active** after a user has validated their email.
2.  **Pending**  After a user has requested an account an email to validate their account is sent to the email provided, but the user has not yet clicked on the link in that email.
   - [x] Embedded link should automatically expire after 24 hours freeing the requested credentials to be used again if desi

[2016-02-13 19:25] mjstealey commented on #961
Initial user issue is resolved, subsequent work opened as new issue [#966]

[2016-02-13 19:25] #961 closed

[2016-02-14 03:21] Maurier opened #967 "Improvements and optimizations on modal windows"
As suggested by @pkdash , in resource landing page, Instead of generating a modal window for every item we can use just one and pass the corresponding variables.

This will help avoid scalebility problems with the HTML.

[2016-02-15 00:09] hyi opened #968 "Hide manage access panel for published resources"
Need to hide manage access panel for published resources disallowing users from changing access controls for published resources.

[2016-02-15 13:08] horsburgh commented on #968
@hyi - the manage access panel was on the edit page.  @mauriel133 may have moved it to the main landing page in response to earlier requests from @dtarb that would have allowed granting new permissions for published resources (which we are no longer doing).  If that is the case, I suggest just moving it back to the edit page where it was before so it will be inaccessible when you disable editing f

[2016-02-15 14:23] mauriel133 commented on #968
It is in the landing page because of the shareable flag which grants view users the ability to grant view permissions when the flag is true.

[2016-02-15 14:57] hyi commented on #968
@mauriel133 @pkdash While working on this, I found "Save changes" button does not show up for title, abstract, subject editing any more on edit mode due to the latest resource landing page refactoring merge. While working on trying to fix this issue, I found there has always been a reference error for shareable_ajax_submit not found, then I search in the code base and indeed did not find shareable

[2016-02-15 15:44] hyi commented on #968
@mauriel133 @pkdash It looks like a js file, resoruceLandingPageAjax.js, was not posted to the resource landing page refactoring branch, hence is missing. See https://github.com/hydroshare/hydroshare/blob/develop/hs_core/templates/pages/genericresource.html#L571 where this JS is referenced, but is not part of the code base. This missing js file may include that shareable_ajax_submit() js function,

[2016-02-15 15:49] hyi opened #969 "Save changes button not visible on edit mode after resource landing page refactoring"
Save changes button does not show up on edit mode for editing of title, abstract, subject, etc after resource landing page refactoring. It might just be an issue of some missing files such as resourceLandingAjax.js which is referenced here https://github.com/hydroshare/hydroshare/blob/develop/hs_core/templates/pages/genericresource.html#L571 but not present in the branch.

[2016-02-15 16:15] ironfroggy commented on #300
Has been done and merged

[2016-02-15 16:15] #300 closed

[2016-02-15 17:55] ironfroggy opened #970 "SEO Plan"
This tickets lays out problems and planned solutions for poor SEO performance on the site. Implementation tickets will be created resulting from the information gathered here.

Problems:
- There is no clear click path from the front page to *any* discoverable resources
- Existing google results appear to have been crawled from previous versions of the site and no longer work
- Some existing google

[2016-02-15 20:15] selimnairb commented on #970
Could we use the HTML view of the (resource list)[https://www.hydroshare.org/hsapi/resourceList/] REST API end point?  The listing for each resource lacks a link to the landing page for each resource, but this could easily be added.  Once we've done this, we can link to the resource list from the home page, at which point search engines should have a click path to each resource, no?

[2016-02-15 20:18] mauriel133 commented on #969
The directory \hydroshare\hydroshare\static is missing in the develop branch. Is this intended?

[2016-02-15 20:23] mjstealey commented on #969
It gets generated on the collectstatic call when all static files from all apps are collected and placed there. In some situations such as creating a copy of www the `/hydorshare/hydroshare/static` directory will be made and pre-populated with the contents of the media files (profile photos, etc.).

[2016-02-15 20:28] ironfroggy commented on #970
We still need this to be linked from the page, usually in all pages in the footer, and be well presentable to human users that stumble on it. I think we'd want it to match the site styling.

[2016-02-15 21:42] selimnairb commented on #965
Here is a proposed architecture for orienting apps around content types rather than resources:

- Currently, an App resource can be applied to one or more resource types.
- However for some resource types, e.g. the soon-to-be-written RHESSys model instance, there can be multiple data files of different types within one resource (e.g. a DEM raster, a landcover raster; climate forcing timeseries, mo

[2016-02-15 23:20] horsburgh commented on #968
@mauriel133 - Thanks for reminding me.  I remember now why we exposed the manage access panel outside of the editing page.  So, yes - as you all have discovered, it needs to be disabled when the resource is published.  Sorry for any confusion.

[2016-02-15 23:40] dtarb commented on #970
Lets get started on the planned solutions.  Having the discover page "show all" will need a bit of coordination with @alvacouch and @xuezhaokun, and will require some sort of paging option for when we have a lot of discoverable resources.   There are also plans for a geographic map on the discover page that need to be worked out.

When you say list by category this is unclear.  We have no thing ca

[2016-02-16 00:24] dtarb opened #973 "Username can be created with symbols but does not allow editing if username has symbols"
A user wrote: I logged in with my email ***@uw.edu, but then couldn't update/populate the profile because it wanted a user name without symbols.  It gave errors when I tried to change the user name to alphabetic only.   If I invite project colleague to HydroShare, I want to be sure they can smoothly update their profile. What tricks am I missing? Or did I set up the user name wrong?

[2016-02-16 00:27] dtarb opened #974 "Enhance manage access to generate invitation to join HydroShare"
A user wrote: I successfully created a generic resource and added contributors, but when I tried to 'manage access' and 'invite collaborators', it also gave me errors, and would not let me add people.  Do people I invite have to already be a HydroShare user?  My hope was that if I added someone who was not a HydroShare user, they would get an email from me about the shared resource and would follo

[2016-02-16 00:31] dtarb opened #975 "Add author and contributor to include capability identify existing HydroShare user and then automatically fill out content"
A user wrote: I tried to fill in author information, for example David Tarboton was a contributor.  I attempted to add his HydroShare URL, but could not find that information anywhere when searching his resources.  My expectation would be that if I added a resource where a HydroShare user is a author or collaborator, they would automatically be notified. Is this assumption true?   Where does someo

[2016-02-16 00:39] dtarb opened #976 "Add notifications capability"
This is motivated by the following user comment: My expectation would be that if I added a resource where a HydroShare user is a author or collaborator, they would automatically be notified. Is this assumption true?

Add the capability for the following notifications.
- Notify user when they are added (or removed) as an author or contributor to a resource
- Notify user when their access permission

[2016-02-16 01:01] hyi commented on #969
Fix merged into develop and it is working now. Closing.

[2016-02-16 01:01] #969 closed

[2016-02-16 01:09] selimnairb commented on #976
This same notification center should also support notifying users when asynchronous processes complete (either successfully or by failure), such as:

- Publishing a resource
- Uploading a zipped resource that is unzipped automatically on the server side

[2016-02-16 01:10] selimnairb commented on #976
There should be a "Notifications" section of the once-logged-in home page where these alerts are shown (à la GitHub).

[2016-02-16 01:16] selimnairb commented on #601
Need to add support for this end point to hs_restclient before closing this issue.

[2016-02-16 01:24] selimnairb opened #977 "Re-work resource file list display to handle large amounts of files"
Currently, all resource content (i.e. resource files) is loaded when the resource landing page loads.  This works fine for resources with a small amount of content.  However, some resource types (e.g. the RHESSys model instance) can have hundreds or thousands of resource files.  The resource landing pages needs to be reworked to maintain fast load times an not overwhelm the user with a large listi

[2016-02-16 01:29] selimnairb opened #978 "Update resource landing page to display file upload unzip status"
It is now possible to request that a resource file be unzipped on resource creation (though this option is currently disabled and not exposed to the user).  This unzipping is done asynchronously via a Celery task.  As the file is unzipping, status information is written to the resource stored in the Django database.  This status information should be displayed to the user on the resource landing p

[2016-02-16 17:53] ironfroggy commented on #970
@dtarb I should be able to handle the required changes to the discovery page, but will check in with Alva about it. There is already pagination there that I see.

When I referred to categories I specifically used a generic term. There are different ways to cut up resources into categories on Hydroshare and exactly which the sitemap uses isn't as important. I'll probably just go by resource type an

[2016-02-16 17:55] ironfroggy opened #979 "SEO: Default Discovery page to all resources"
Part of #970

[2016-02-16 17:56] ironfroggy opened #980 "SEO: Site Map"
* Include link in footer
* Show all resources
* Group by resource type and keyword

Part of #970

[2016-02-16 17:57] ironfroggy opened #981 "SEO: Include crawlable resource list in profile page w/o JS"
Current profile page requires Javascript to render the list of resources for a user. We need to include at least a basic list in the rendered version, so search engines crawling it without Javascript will see those resources and link profiles to resources.

Part of #970

[2016-02-16 18:52] mjstealey opened #983 "control script updates"
- [x] remove unused recaptcha links
- [x] change how solr is invoked (freeze/hang on stop)
- [x] use shorter names for containers
- [x] use docker-compose calls instead of docker where applicable
- [x] update nginx naming to coincide with hydroshare containers
- [x] general cleanup

[2016-02-16 18:56] zhiyuli opened #984 "Landing page cannot display resource-specific metadata on latest dev branch"
I checked out latest dev branch and accidentally found Ref Time Series can not display resource-specific metadata. Then I created a Raster, a Geog. Feature and a Model Program (I didn't try other res types yet). They are having the same issue. We guess this may be related to the recent refactoring of landing page. @mauriel133

![image](https://cloud.githubusercontent.com/assets/10070599/13087155/c

[2016-02-16 19:05] zhiyuli opened #985 "Ref Time Series "Download" button is not working on latest dev branch"
RefTS overrode the generic "Download" button to implement the "download time series data on the fly" feature. We just found it broke on latest dev. This may be related to #984. Will check back once @984 is fixed.

[2016-02-16 21:20] gantian127 opened #988 "netcdf unit test update"
add unit test for netcdf resource based on the template of time series resource

[2016-02-16 21:28] zhiyuli commented on #965
@selimnairb
as for the RHESSys resource type, what should the get_supported_content_types() method return?
and what should it return for the Raster resource type?

[2016-02-16 21:56] selimnairb commented on #965
@zhiyuli First, we will need to define content types supported by HydroShare; a content type is a named set of one or more MIME types.  We can start by creating content types supported by each of the current resource types.  For example, a "geographic raster" content type (not to be confused with a geographic raster resource), could be a list of MIME types supported by the as-compiled version of G

[2016-02-16 21:59] danames commented on #965
Let's assign some time at the all hands meeting to discuss this. I don't
want to add a lot of complexity at this stage but see the value in
extending apps to work on content rather than resource type.

On Tue, Feb 16, 2016 at 2:56 PM Brian Miles <notifications@github.com>
wrote:

[2016-02-16 22:03] selimnairb commented on #965
@danames Agreed that we don't want to add too much complexity and development cost.  I believe this can be done relatively simply as outlined above, with the majority of the code in the BaseResource class.  We should discuss this at a break-out group at the all-hands meeting so that we can make sure there are no special cases that add complexity that we cannot afford.  If we agree to proceed, we m

[2016-02-16 22:23] mauriel133 commented on #984
@mjstealey, it seems that  django does not process blocks in included templates. Do you know a workaround for this? Otherwise I can just move the code back to genericresource.html.

http://stackoverflow.com/questions/9633387/django-using-blocks-in-included-templates

[2016-02-17 00:50] mjstealey commented on #984
@ironfroggy would be better equipped to answer this question.

[2016-02-17 00:50] mjstealey commented on #983
merged

[2016-02-17 00:50] #983 closed

[2016-02-17 14:50] hyi commented on #984
@mauriel133 I suggest just to move the code snippet that includes ```block extended_metadata``` and ```block extra_section``` from content-tabs.html back into genericresource.html for specific resource types to extend the block content to get it work first for now with comment indicating the reason for future reference.

[2016-02-17 16:06] hyi commented on #946
@horsburgh To represent relationships between a new version and the original resource, the design spec says two pairs of terms "isVersionOf" and "isReplacedBy" and "obsoletes" and "isObsoletedBy" can be used. I am wondering whether one pair "isVersionOf" and "isRelacedBy" is sufficient since "isReplacedBy" can also mean "obsolete" relation. Currently, "isVersionOf" is the only relation term alread

[2016-02-17 17:14] pkdash opened #990 "Add unit tests for the authorize function"

[2016-02-17 20:11] hyi commented on #946
@horsburgh I am using "isVersionOf" and "isReplacedBy" pair to show releationships between a new version and the obsoleted resource, and display a link to the obsoleted version on the new version's landing page indicating this resource obsoletes the resource with a link, and display a link to the newer version on the obsoleted version's landing page indicating this resource is obsoleted by the res

[2016-02-18 00:18] horsburgh commented on #946
@hyi - Given that we have decided that versioning chains cannot split and that a new version always replaces the older version, the terms "isVersionOf" and "isReplacedBy" are adequate and we do not need the "obsoletes" and "isObsoletedBy" terms.

Before, we were considering allowing versioning chains to split and so it would be possible to have two resources that were both newer versions of an exi

[2016-02-18 17:38] horsburgh commented on #946
From @hyi:

While working on resource versioning, one question comes up: should we allow versioning for web app or tool resource type and reference time series resources? I can kind of see the value for allowing to create new version of a reference time series resource, but want to confirm with you to be sure. I cannot see the utility for allowing to create new version of a web app or tool resourc

[2016-02-18 17:39] horsburgh commented on #946
From @dtarb:

I think that versioning should be the same for all resources reference and physical just for simplicity and uniformity.  Apps will certainly be improved, so we will get new versions.  I am writing this email on Outlook version X.  The question is whether HydroShare needs to keep track of them and while the need for this is hard to anticipate I think that the same capability for all r

[2016-02-18 17:43] horsburgh commented on #946
@danames - can you review the comments above from @hyi and @dtarb about whether HydroShare needs capability for Apps and referenced resources to be versioned?  If you could weigh in, I think Hong can move forward.  Thanks!

[2016-02-19 16:31] hyi commented on #946
@horsburgh @dtarb According to the design spec, we want to remove obsoleted resources from search. I am wondering whether it is a good idea to remove obsoleted published resources from search. Since we display an informational message indicating a newer version of this resource is available with a link to its new version, perhaps it still makes sense to keep them in the search if the obsoleted res

[2016-02-19 16:36] yanliu-chn opened #993 "web app resource URL appending issue"
When I create a web app resource in hs, I need to give a URL for hs to invoke. My URL looks like:
http://gwdev8.cigi.illinois.edu:8080/home/apps.php?app=taudem

When I open a DEM resource, and open it with the web app, the full URL becomes an invalid URL:
http://gwdev8.cigi.illinois.edu:8080/home/apps.php?app=taudem/?res_id=8defcfa0edd848daaf0ef25271fc6703&usr=yanliu&src=hs

So it'd be good to par

[2016-02-19 16:44] danames commented on #993
@zhiyu - is this a relatively easy fix?

On Fri, Feb 19, 2016 at 9:37 AM Yan Liu <notifications@github.com> wrote:

[2016-02-19 16:55] zhiyuli commented on #993
@yanliu-chn @danames
how about this:
we let user input a url/string containing some pre-defined key words. like:
 http://gwdev8.cigi.illinois.edu:8080/home/apps.php?app=taudem&res-id=_HYDROSHARE_RESOURCE_ID_

Here _HYDROSHARE_RESOURCE_ID_ is a key word, we will replace it with real res id.

So the user can input any url/string, and we just search for keywords and replace them with real values.

[2016-02-19 16:58] danames commented on #993
This seems like a workable solution. We could extend it with additional
"url template terms" later as needed.

On Fri, Feb 19, 2016 at 9:55 AM Drew Li <notifications@github.com> wrote:

[2016-02-19 17:33] yanliu-chn commented on #993
Hi Drew,

It's a good solution. This solution would allow app contributor to specify their own parameter names instead of res-id defined in HS. It also allows HS to define parameters that web apps need, including data resource id, user id, and possibly authentication information, too.

Here is something in my mind from app contributor point of view:
- define "variable" form in programming fashion,

[2016-02-19 17:45] danames commented on #993
Yan for clarification, are you suggesting the URL template should be like
this:

http://my.url.com/mypage.php?myvariable=abc&myid=${HS_RES_ID}&mynewparam=${HS_XXX
}

Then our app resource code will replace the ${...} with the appropriate
metadata or variable from HydroShare?

I think this is a fine solution.

Can we discuss a list of optional template parameters?

how about:

${HS_RES_ID}

[2016-02-19 17:59] yanliu-chn commented on #993
Yes. ${...} is easier to parse using regex.

I do not know enough of HS about which attributes of a resource are defined. I know with res_id, I can go back to HS rest api to pull more info about the resource. HS_HOST may not be needed because the URL is invoked in user's browser and if the web app does not pass this back to HS, there is no way for HS to know if an app is invoked on this host. HS_R

[2016-02-20 01:19] horsburgh commented on #946
@hyi - a resource that has been replaced by a newer version is obsolete.  It still needs to be available in HydroShare if someone has cited it. But, when someone is searching, I think we should only expose the most recent resource in an obsolescence chain. They can trace back in time to previous versions if they want by clicking the links on the resource landing page to the previous version, but r

[2016-02-20 14:02] dtarb commented on #946
The thoughts I have on this are:

1.  I agree with @horsburgh that it would be better if searches return only the most recent version. By definition versions refer to different versions of the same thing, so searches one return that is in the search result listing that goes to the latest version landing page would be simplest for users.  However I am supportive of the simplicity of keeping version

[2016-02-20 16:13] hyi commented on #946
@horsburgh @dtarb Agreed it'd be better to get versioning functionality out there first, and refine it over time according to user feedback and use cases. Since @alvacouch and @xuezhaokun are revamping the current search and on-demand solr search update is not implemented yet, it is definitely better to remove all versions from searches as a separate issue to be addressed later after search is mor

[2016-02-20 16:22] dtarb commented on #946
Part of the motivation behind my suggestion for versioning functionality to be the same for all resources is that its implementation can be on the base resource class without any special handing of any resource types.  Your comment @hyi about "implement versioning for these two special resource types" makes me worried that there is separate code being written for separate resource types, which I w

[2016-02-20 17:26] hyi commented on #946
@dtarb Unfortunately, this is indeed the case due to the complexity of our current metadata structure. BaseResource metadata model handles core science metadata copying from source resource to target (new versioned) resource, but each specific resource type has to extend a BaseResource copy metadata method to copy extended metadata elements for each specific resource type. I have spent some time i

[2016-02-20 17:37] dtarb commented on #946
@ironfroggy @alvacouch could you please comment on whether there is a way to simplify @hyi having to implement functionality repeatedly for each resource type.

[2016-02-21 00:38] pkdash commented on #946
@hyi You can give the following code a try (untested code):

    def copy_all_elements_to(self, tgt_res):
	   from hydroshare.utils import current_site_url
	   from django.forms.model import model_to_dict

	   new_md = tgt_res.metadata
	   metadata_type = ContentType.objects.get_for_model(self)
	   supported_element_names = self.get_supported_element_names()
	   for element_name in supported_eleme

[2016-02-21 04:31] horsburgh commented on #942
For "Manage access" use the following:

Use this button to share your resource with specific HydroShare users. You can give other users the ability to view or edit this resource. You can also add additional owners who will have full permissions.

For "Related resources", you have already implemented text below the button, so we should be good there.

For the "Add source" button on the "Related Res

[2016-02-21 23:14] dtarb opened #995 "HTML Title element sometimes not set"
The following illustrates a resource that displays "Untitled" in the browser tab that I think comes from the HTML title element, but the resource does have a title.  This seems to occur if the Title is populated automatically from a netCDF file.
![untitled](https://cloud.githubusercontent.com/assets/3456833/13206188/3608080c-d8b6-11e5-98d4-d67c78f02f99.png)

[2016-02-21 23:17] dtarb opened #996 "THREDDS Server not opening"
The following error occurs with a netCDF resource when trying to launch the THREDDS OpenDap service.

![untitled](https://cloud.githubusercontent.com/assets/3456833/13206213/8e871a4a-d8b6-11e5-9ae0-4e748d4a4ae2.png)

[2016-02-21 23:23] dtarb opened #997 "Coverage does not display in CHROME"
For the following multidimensional resource the coverage does not display in Chrome browser, but it does in Firefox.

https://www.hydroshare.org/resource/08f6a3b78c944aeb834e009af9fbea08/

![untitled](https://cloud.githubusercontent.com/assets/3456833/13206239/33b25d4a-d8b7-11e5-9fbc-a058f0a10bce.png)
![untitled2](https://cloud.githubusercontent.com/assets/3456833/13206246/5ac1d38e-d8b7-11e5-9a98-

[2016-02-22 11:21] mjstealey commented on #997
Unless you're using Chrome in OS X?
(Version 48.0.2564.109 (64-bit))
![screen shot 2016-02-22 at 6 18 43 am](https://cloud.githubusercontent.com/assets/5332509/13216827/572d57f0-d92c-11e5-9b17-cd4ad8601dd5.png)

[2016-02-22 13:24] dtarb commented on #997
OK.  I tried again today and find that when not logged in it works, but once I log in and view this as the owner of the resource I get the problem.  @mjstealey  I added you as an owner of this resource, so please try it when logged in.

[2016-02-22 13:29] dtarb opened #998 "Discover uses incorrect title"
If you go to Discover and search on "rapid" then click David Tarboton next to filter by author, you get the following.  However if you click on the link "untitled" you see that the resource has a title.
![untitled](https://cloud.githubusercontent.com/assets/3456833/13219497/9fdc1cc4-d92d-11e5-82a9-c273e1cd8221.png)

[2016-02-22 20:52] hyi commented on #946
@pkdash Thanks for the code snippet. I finally got it working with some modification to the code snippet as well as some changes to how Coverage element is created. This will handle metadata element copying without touching specific resource types. @horsburgh @dtarb @ironfroggy @alvacouch I will deploy my branch to beta for team testing and create a PR for code review soon.

[2016-02-22 20:59] rayi113 commented on #996
Hong modified her cron job script to restart tomcat if necessary.  It will take some more time to discern why tomcat stopped in the first place.  But that said, it should be working now, and this solution will allow it remain working until we migrate to the hyrax-based solution.

[2016-02-22 21:10] gantian127 opened #1001 "Raster Resource Unit Test"
Add raster resource unite tests based on the templates from time series resource type

[2016-02-23 04:00] pkdash commented on #946
@hyi Glad to know that snippet was helpful.

[2016-02-24 14:14] #927 closed

[2016-02-24 22:49] hyi commented on #946
@horsburgh @dtarb I have finally resolved the issue that happened only on beta but not happen in my local development environment. Things appear to work as expected on https://beta.hydroshare.org. Please test the resource versioning and let me know any comments/feedback to address.

[2016-02-24 22:53] hyi commented on #946
@horsburgh @dtarb One thing I need to point out when you do testing on beta: since beta is deployed using www resources which has metadata element HydroShare Identifier pointing to www.hydroshare.org site, the URL to the obsoleted resource on the new versioned resource landing page may point to www site. This will not happen on www production site, and is expected for testing on beta.

[2016-02-25 17:47] dtarb opened #1008 "My resources horizontal scroll bar seems unnecessary"
The scroll bar at the bottom of my resources seems unnecessary
![untitled](https://cloud.githubusercontent.com/assets/3456833/13328656/16035b20-dbad-11e5-80df-b77c2971472f.png)

[2016-02-25 17:52] dtarb opened #1009 "Raster Resource Band Information box too small"
The box holding band content for raster resource specific metadata is too small.  This seems to be a new problem with the recent release.
![untitled](https://cloud.githubusercontent.com/assets/3456833/13328781/d2b9be4e-dbad-11e5-9c11-9a1f3eb53a19.png)

[2016-02-25 18:19] dtarb opened #1010 "Raster Resource Viewer fails to render a raster resource that is in geographic coordinates"
The resource https://www.hydroshare.org/resource/a94af692e2d1442cad3797d23ed7cdf8/ is natively in geographic coordinates.  Raster viewer triggers the following error
![untitled](https://cloud.githubusercontent.com/assets/3456833/13329517/8bf7c3c6-dbb1-11e5-94fb-0dcc67525476.png)

[2016-02-25 18:19] horsburgh commented on #1008
@dtarb - Can you be sure to post which browser you are using when testing?

For example, I cannot get the horizontal scroll bar to show up in Chrome until I make my window narrower than the default width of the table. Chrome will not automatically scale the width of the table columns as the window is made narrower and so the horizontal scroll bar allows you to still see the whole table in a narrow

[2016-02-25 18:41] zhiyuli commented on #1010
@dtarb
A quick test shows the error occurred at GeoServer side. Looks like this tiff is incompatible to GeoServer. I tried to manually load it from GeoServer interface and got an error:
![image](https://cloud.githubusercontent.com/assets/10070599/13330114/839cd39e-dbb4-11e5-8346-cd6c9d7a2843.png)

[2016-02-25 18:43] zhiyuli commented on #1010
@dtarb @gantian127
Can any of you tiff experts have a look at this file, is it well formatted? thanks

[2016-02-25 19:05] dtarb commented on #1008
I am using Firefox, and keep it current with the latest version (currently 44.0.2).  I also get this in Internet Explorer 11.0.9600.18204.

[2016-02-25 19:12] horsburgh commented on #1008
@dtarb - OK, so is this really an issue given that I'm assuming we still want the full table to be viewable on narrow browser windows (think mobile). At some point you can't make the table any narrower and it's going to have to scroll. The difference in scaling of the columns among browsers may not be ideal.

[2016-02-25 19:16] dtarb commented on #1010
I produced this as a subset from the national elevation dataset using ArcGIS.  You should be able to look at it in ArcGIS (I can).

[2016-02-25 19:29] zhiyuli commented on #1010
@dtarb
Yes I can open it with ArcGIS. Is it possible to send me the original tiff? thanks

[2016-02-25 19:31] dtarb commented on #1008
I am OK with this being lowish priority.  I am using github to report problems that I encounter when I do demos.  I worry that some of these are symptoms of overly complex design that is not robust for different browsers in the elements on our pages.

[2016-02-25 19:43] dtarb commented on #1010
The raw data I obtained from ftp://rockyftp.cr.usgs.gov/vdelivery/Datasets/Staged/NED/13/IMG/.  This is not in tiff format, it is IMG format.  I used ArcGIS to mosaic the various files that I wanted together.  I then clipped out the part that I want and exported from arcGIS as a tiff file.  What you have is the "raw" tiff file that is the end of this process.  You could download some of the USGS I

[2016-02-25 23:25] zhiyuli commented on #1010
@dtarb @selimnairb
This is the info exacted by gdalinfo. Do you find anything wrong?

Driver: GTiff/GeoTIFF
Files: Onion.tif
Size is 6910, 2870
Coordinate System is:
GEOGCS["GCS_North_American_1983",
    DATUM["D_North_American_1983",
        SPHEROID["GRS_1980",6378137.0,298.257222101]],
    PRIMEM["Greenwich",0.0],
    UNIT["Degree",0.0174532925199433],
    VERTCS["Unknown VCS",
        VDATUM["

[2016-02-26 00:18] selimnairb commented on #1010
@zhiyuli No off-hand.  Out of curiosity, if you re-project from NAD83 to WGS84 will GeoServer accept it?  You can do this easily with gdalwarp: `gdalwarp -t_srs EPSG:4326 src.tif dest.tif`.

[2016-02-26 01:33] #900 closed

[2016-02-26 01:33] #828 closed

[2016-02-26 01:33] #904 closed

[2016-02-26 01:33] #921 closed

[2016-02-26 19:40] zhiyuli commented on #839
@danames @dtarb @horsburgh @alvacouch @SarvaPulla

We just deployed the latest collction code on playground.  Link to a public collection resource:  https://playground.hydroshare.org/resource/7eae875268a14c9c9b0edbfad0d25f8c/

Some notes:
1) We are still using the "complex" permission rules we demo'd two weeks ago;

2) The interface has been changed based on @horsburgh suggestions. The collection

[2016-02-26 21:50] mauriel133 commented on #997
Fix can be tested at https://riverdev.hydroshare.org

[2016-02-26 21:57] danames commented on #839
Hi all, just a quick note about collections. Please test it on playground
and give feedback soon. We need this to be deployed to www sooner than
later for some real use cases and to support something new and exciting we
are going to show you at the AHM. - Dan

On Fri, Feb 26, 2016 at 12:40 PM Drew Li <notifications@github.com> wrote:

[2016-02-26 21:58] mauriel133 commented on #984
@zhiyuli, can you verify if the issue is solved?

[2016-02-26 21:58] mauriel133 commented on #950
@dtarb, can you verify that the issue has been solved?

[2016-02-26 22:00] zhiyuli commented on #984
tested on www. closed

[2016-02-26 22:00] #984 closed

[2016-02-26 22:01] zhiyuli commented on #985
tested on www. closed

[2016-02-26 22:01] #985 closed

[2016-02-26 22:11] mauriel133 commented on #942
These help text can sometimes be too long. Do you think an icon that shows the help text when hovered would be better? Something like what we have next to Select a licence dropdown.
![capture](https://cloud.githubusercontent.com/assets/2448568/13366850/22352b32-dc9b-11e5-82d7-ab0195f17aaa.PNG)

[2016-02-26 22:14] mauriel133 commented on #940
This relation type has been implemented.

[2016-02-26 22:16] mauriel133 commented on #863
@jirikadlec2, please confirm that the issue is fixed, and if so close this issue.

[2016-02-26 22:17] mauriel133 commented on #939
This issue has been fixed. Please confirm and close.

[2016-02-26 22:17] horsburgh commented on #942
Yes I think that could work.

[2016-02-26 22:18] mauriel133 commented on #744
@jcaraballo17, can you work on this issue? I think item #2 can be reproduced on Safari by scrolling to the right.

[2016-02-26 22:19] mauriel133 commented on #724
The refactoring has been implemented. Some parts of the code had to be left in the template in order to support blocks rendering.

[2016-02-26 22:19] #724 closed

[2016-02-26 22:21] mauriel133 commented on #686
@horsburgh, we need to address @dtarb's suggestions above concerning sign up workflow. Have any ideas?

[2016-02-26 22:24] mauriel133 commented on #403
@pkdash, what is the status of this issue and how can I use your previous work? Has it been merged to develop?

[2016-02-26 22:27] mauriel133 commented on #44
@horsburgh, @dtarb, @ironfroggy we need to make a decision on public vs private so that I can apply it to the new profile edit page.

[2016-02-26 22:36] mauriel133 commented on #937
@pkdash, is the back end support for this ready?

[2016-02-26 22:39] mauriel133 commented on #47
I'm assuming we are not going to use a Full Address field anymore. If that's the case this issue can be closed.

[2016-02-26 22:40] pkdash commented on #937
@mauriel133 Not yet.

[2016-02-26 22:41] mauriel133 commented on #45
The new profile page implements First Name, Middle Name and Last name fields. Are these sufficient to address this problem?

[2016-02-26 22:47] mauriel133 commented on #48
We decided to leave the resources in HydroShare, but notify the user so when the account is being deactivated.

@horsburgh, should we implement this checkbox that the user must check before deactivating the account?

[2016-02-27 00:18] mauriel133 opened #1018 "Icons for HIS Referenced Time Series and Script type resources."
As well as adding these to Profile and My Resources filters.

[2016-02-27 04:17] horsburgh commented on #48
Given that we are not actually deleting the account, but rather just disabling it, I'm assuming that the disabled user account will remain the owner of any resources they leave behind. I don't think we actually need the check box. The confirmation message we already have tells the user that if they disable their account without first deleting their resources, the resources will still be available.

[2016-02-27 04:37] horsburgh commented on #45
@mauriel133 - as I told you last week, I think you are more qualified to weigh in on this question than I am given that your name doesn't meet typical American patterns. I'm satisfied with what we have now because it meets what I think our immediate needs are.

[2016-02-27 04:41] horsburgh commented on #47
@mauriel133 - I can't remember what you've got in your latest version of the profile.  Where you you have it deployed.  I was going to have a quick look.

[2016-02-27 04:46] horsburgh commented on #44
I think we resolved this on the phone call. Everything the user enters into the user profile is public. The warning at the top that you were going to make more colorful/noticeable states this.

However, to address @selimnairb 's concern, we need to add an item "Unspecified" to the country list, and I think we need to make State optional.

[2016-02-27 05:18] horsburgh commented on #686
When a user completes the sign up form, HydroShare takes them back to the home page where a message is displayed at the top of the window that states that they should check their email. This is fine, but I suggest adding some color to the message to make it more noticeable. Right now the message could be missed by the user.

Clicking the verification link in the email currently takes the user to t

[2016-02-27 05:46] horsburgh commented on #939
Working on dev.hydroshare.org, but not on www.hydroshare.org. The production instance still opens it in the same window. I cleared my browser cache and tested in chrome and firefox.

[2016-02-27 06:42] mauriel133 commented on #939
@mjstealey, maybe the change got reverted with the last release.

[2016-02-27 12:38] mjstealey commented on #939
Yep. It was a manual change last time (and now again this time). Opened a ticket for me to automate this.

[2016-02-27 12:39] mjstealey opened #1020 "Make apps link open in new tab in production (automate)"
This [line](https://github.com/hydroshare/hydroshare/blob/2a7b1f6aee485b465ca681267538ee90a3642487/theme/static/js/custom.js#L115)

From

[code]

To

[code]

[2016-02-27 19:02] dtarb commented on #950
Tested and closing.  However we may not be done yet.  In looking at this I noticed that sorting by Owner uses the "First" name.  Is this what we want.  Filing another issue.

[2016-02-27 19:02] #950 closed

[2016-02-27 19:06] dtarb opened #1021 "Sorting by owner. Should first or last name be used?"
A sort by owner on My Resources currently prioritizes first name.  Is this what we want?

A is before D, but Y after T alphabetically.
![untitled](https://cloud.githubusercontent.com/assets/3456833/13374737/76365198-dd4a-11e5-9550-832ed984bdda.png)

[2016-02-27 19:16] dtarb commented on #997
Tested and works on riverdev.  @mauriel133 you can close this issue once the fix is merged to dev and tested there or on www.

[2016-02-27 19:30] dtarb commented on #839
I tried to write a comment on the example collection @zhiyuli provided and got the error below.  As a result I am still skeptical (based on track record and this test) of the readiness to rush this to www deploy sooner rather than later.  For something new and exciting (and mysterious and untested) for the AHM @danames I would suggest we all agree to use beta.hydroshare.org for these things so tha

[2016-02-27 19:41] zhiyuli commented on #839
@dtarb
Sorry you got an error on the comment feature, but I dont think this error is related to collection. I just tried to leave a comment for a generic resource on playground, it also failed. Anyway you could paste your comment about the collection here and we will continue improving it.

For the broken comment feature, i would like to defer to @hyi or @pkdash as they know more about it than I d

[2016-02-27 19:54] dtarb commented on #839
Consider whether "Authors" should be listed as part of the collection.  Authors are the intellectual creators of the thing being listed, so are arguably more important than Owners.  In many cases they will be the same.

Also, when some of the resources are geographic consider having a coverage element that is the union of the coverage elements of the geographic resources.

[2016-02-27 20:06] hyi commented on #839
@dtarb @zhiyuli is right, this is not a problem specific to collection implementation. I tried on playground to post a comment to https://playground.hydroshare.org/resource/1302db3c1a76475ea7e87d7ba881f549 and got the integrity error initially, then I tried to click New comment button, and the comment got posted successfully without issues. It looks like every time you post a comment, the primary

[2016-02-27 20:47] dtarb commented on #839
OK.  However I still think we should not rush untested and unseen features to www for demo purposes.  We should use beta or another testing platform.

[2016-02-27 22:00] pkdash commented on #403
@mauriel133 I think we have to start from scratch on this one. If you can start with necessary UI changes for adding existing users as creators/contributors, I can add any backend support needed.

[2016-02-28 16:40] danames commented on #839
If anyone has a legitimate reason not to graduate "collections" to www,
please let me know. I think the code is as robust and ready to go as any of
the other resource types - though I'm sure there will be opportunities to
improve it, as with other resource types.

The demo we have planned is a new experimental app that displays/views
multiple resources together - optimally read from a collection r

[2016-02-28 17:25] pkdash commented on #839
There is a PR (https://github.com/hydroshare/hydroshare/pull/1000) for this issue which is yet to be reviewed due to its WIP status. Once it is merged to develop, it would be good to stage it for testing before moving it to www.

[2016-02-28 18:32] mauriel133 commented on #909
I've small icons to indicate sharing status (including publication). Can be tested at https://riverdev.hydroshare.org/

[2016-02-29 17:09] horsburgh commented on #909
@mauriel133 - I'm not sure if it's just me, but those icons look a little fuzzy. Is that something that can be fixed in a couple of minutes?

[2016-02-29 17:47] mauriel133 commented on #909
Yes, I will fix them.

[2016-02-29 19:57] mauriel133 commented on #909
I cleaned them up now.

[2016-02-29 21:10] mauriel133 commented on #1018
Confirmed working on develop.

[2016-02-29 21:10] #1018 closed

[2016-02-29 21:46] mauriel133 commented on #764
Can be tested at https://park.hydroshare.org

[2016-02-29 21:46] mauriel133 commented on #475
Revamp can be tested at https://park.hydroshare.org

[2016-02-29 21:47] mauriel133 commented on #44
This implementation can be tested at https://park.hydroshare.org

[2016-02-29 21:49] mauriel133 commented on #45
Implementation includes First Name, Middle Name and Last Name. This should be sufficient to accommodate all users. Can be tested at https://park.hydroshare.org

[2016-02-29 21:49] mauriel133 commented on #46
Can be tested at https://park.hydroshare.org

[2016-02-29 21:49] mauriel133 commented on #48
Can be tested at https://park.hydroshare.org

[2016-02-29 21:50] mauriel133 commented on #180
Can be tested at https://park.hydroshare.org

[2016-02-29 21:51] mauriel133 commented on #47
We went with the fields specified in the user tracking document (Country and State). Can be tested at https://park.hydroshare.org

[2016-02-29 23:48] selimnairb opened #1025 "Raster Viewer, allow for external WMS"
For large raster files it is not possible to download the entire resource and create WMS/tile visualization layers.  However, it is likely for such large data that someone has already gone to the trouble of creating WMS tiles.  We should take advantage of this and allow a raster resource to provide a JSON-formatted visualization configuration, stored in the *visualization* directory of the resourc

[2016-03-01 00:56] dtarb commented on #47
I just tested this.

1.  I tested changing my email and got an email "you have changed your HydroShare account email" but there was no link to click to confirm and the email did not change.

Here are a few suggestions, to take or leave, not critical.

2.  When edit is clicked and contributions tab is at the front switch to Overview tab otherwise user does not see things on overview tab that are ed

[2016-03-01 01:53] pkdash commented on #47
@dtarb I am aware of this issue with email update. The email update is not ready for testing. For some reason sending confirmation email to the new email address doesn't work. I am working to resolve that. However, I was able to send the confirmation email to the old email address.

[2016-03-01 16:33] mohamedmorsy opened #1026 "bug in Model Program resource page_processors.py after updating to Django 1.89"
I got this bug during creating new Model Program resource type

![image](https://cloud.githubusercontent.com/assets/5543781/13433799/6e1d70f0-dfa1-11e5-94c8-07d3833c1a36.png)

[2016-03-01 19:17] mjstealey commented on #1026
Context:

Updates for hs_model_program: https://github.com/hydroshare/hydroshare/pull/1012/files#diff-42f0e0c5e10238a378bb3c2147aab8d8

In debug mode, the error will get generated when encountering the last item:

![screen shot 2016-03-01 at 2 06 06 pm](https://cloud.githubusercontent.com/assets/5332509/13438747/5434c1d6-dfb8-11e5-8cb0-9aae0c183dfa.png)

[2016-03-02 04:52] #601 closed

[2016-03-03 21:03] xuezhaokun opened #1028 "Create a map view on Discover page"
Implement a map view for showing search results with point and box coverages.

[2016-03-03 21:31] selimnairb commented on #965
@alvacouch Please comment on this issue.

[2016-03-03 21:57] zhiyuli commented on #965
One concern: HydroShare provides detailed metadata for each resource type. Apps can use these metadata directly instead of exacting them from the resource files by themselves.

If a "Composite" resource type has rasters, vectors, netcdf and timeseries, will each of their metadata be extracted by hydroshare?

[2016-03-03 22:29] zhiyuli commented on #965
The above concern also applies to issue #993 which is being addressed by PR #1003.
When launching an app, sometimes user needs to pass some resource-specific metadata in url query string. These metadata is currently retrieved from the requested resource obj  --> metadata obj.

Say we launch an raster viewer app from a "composite resource" (holds raster, vector and timeseries) landing page. The ras

[2016-03-04 00:02] selimnairb commented on #965
@zhiyuli Is a composite resource a Collection Resource (a resource that contains other resources), or is it merely a resource that contains a bunch of files?

In either case, as all resource types will support the *get_supported_content_types()* and *get_files_of_content_type(content_type)*, an App resource instance can discover what it needs by calling these functions on the object resource.  In

[2016-03-04 00:08] zhiyuli commented on #965
@selimnairb I mean a resource that contains a bunch of files. So this resource will extract metadata for each file (raster, vector and ...) it holds?

[2016-03-04 00:24] horsburgh commented on #965
@zhiyuli - The resource metadata is for the resource as a whole. So, unless we design the "composite" resource so it contains file-specific metadata for every content file, there wouldn't be specific metadata for each content file. We should discuss whether we want to have file-specific metadata (and what it should be) for each content file in a "composite" resource.

For "collection" resources, s

[2016-03-04 00:33] zhiyuli commented on #965
@horsburgh Thanks for this clarification. I am more concerned about the topic in your first paragraph, especially when a "composite" resource contains multiple resource files of different types (raster, vector and...).

[2016-03-04 00:55] selimnairb commented on #965
@zhiyuli @horsburgh Reproduced from above:

And:

[2016-03-04 01:26] horsburgh commented on #965
@selimnairb - these are great ideas, and we definitely need ways of getting at the individual files of a composite resource.

I think @zhiyuli is wondering if we will go a step further than providing access to the individual files to providing file-specific metadata. For example - if you had a time series in a composite resource, could you access all of the time series metadata?  Or, if you had a

[2016-03-04 14:03] selimnairb commented on #965
@horsburgh @zhiyuli I am thinking that we go for a light weight solution to start with with minimal metadata available for resource files.  Something like what the [resource file list](https://www.hydroshare.org/hsapi/resource/a94af692e2d1442cad3797d23ed7cdf8/file_list/) REST API returns:

[code]
However we should discuss use cases at the all-hands to make sure the simple solution supports key App

[2016-03-04 15:15] dtarb opened #1029 "Add capability to copy a resource"
I think we need a button to allow a user to copy a resource that is shareable. This would allow them to copy the content then start working on it, say if they want to adjust it for inputs to their model or workflow.

Note that this is different from versioning, in that versioning is available only to resource owners and specifically holds forwards and backwards version pointers that establish and

[2016-03-04 15:48] horsburgh commented on #1029
@dtarb - this is described by the workflow for creating derived resources in our Google doc. The Google doc specifies a "Derive Copy" button of some sort. I suggested in the comments using the term "isDerivedFrom" to capture the relationship between the source resource and the newer copy.

[2016-03-04 17:27] zhiyuli commented on #965
@horsburgh Yes, that is what I am asking. The whole planned changes here are to make apps more re-usable. Say, an app designed to work with a raster resource should also be able to work with a single raster file in a "composite" resource. The raster resource is metadata-rich (one of selling points of HS), should we make the single raster file in "composite" resource metadata-rich as well? What are

[2016-03-04 17:52] selimnairb commented on #965
@zhiyuli I understand the concern.  The metadata that HydroShare provides is important.  However I think there is a place for being able to address light weight objects within resources (i.e. resource files) that have less metadata than the heavy weight objects (i.e. HydroShare resources).  The reason is that we can't hope to model and store, within HydroShare's metadata storage, the complete meta

[2016-03-04 19:15] horsburgh commented on #965
@zhiyuli and @selimnairb - happy to chat about this next week. Given that many content files that could potentially be part of a "Composite" resource actually contain metadata (e.g., a raster has information about extents, etc. within the actual file), there is nothing precluding the App from extracting those metadata from the file itself (even if HydroShare doesn't provide those metadata).  But,

[2016-03-04 19:42] dtarb commented on #965
Lets think of the case of a raster resource.  This holds resource level metadata, such as creator, Abstract etc.  It also contains metadata specific to the raster file, such as the spatial reference and cell size.  These are extracted from the file.  It also contains content specific to the contents of the file that HydroShare has added, such as Variable Name, Units.  (A current use case is we rec

[2016-03-04 20:34] hyi commented on #968
The fix to this issue has been merged. Closing this issue.

[2016-03-04 20:34] #968 closed

[2016-03-05 13:54] dtarb opened #1030 "Script file extensions should not be limited to .r .py and .m only"
The create resource page indicates that for a script resource only files with extensions .r, .py and .m files are allowed.  I think we should allow other scripts, e.g. .sh, .bat.  In fact, for this resource I question whether we should rely on extension typing as scripts do often not follow consistent extension naming conventions.

[2016-03-07 13:01] alvacouch opened #1031 "Handle OGC CSW discovery requests"
Request from CINERGI: handle CSW requests. For more information, see https://en.wikipedia.org/wiki/Catalog_Service_for_the_Web
and attached links.

This is a service that accepts queries and returns XML catalog entries.

[2016-03-07 13:58] alvacouch commented on #965
There are several things that I notice here:

1. there are several conflated use cases

  - allowing apps to infer file types (really, using the MIME extension convention would do a lot here, as well as the 'file' command in Linux that reads file magic numbers independent of MIME type)
  - giving apps hints -- going beyond simple file type -- that would allow them to more effectively visualize con

[2016-03-07 14:08] selimnairb commented on #965
@alvacouch Thanks for your thoughts on this.  Your proposed lightweight approach is essentially the same as my proposal, with a bit more detail (e.g. having apps.hydroshare.org be the final arbiter of the tag registry), as well as allowing files to be associated with multiple tags.

[2016-03-07 14:12] alvacouch commented on #965
Yes. That is correct. I do think it's important to have a tag registry.

[2016-03-07 14:16] selimnairb commented on #965
@alvacouch My initial thought for tags is to create content types from content types supported by existing resource types.  For example, the "geographic raster" content type would be the set of MIME types supported by our version of GDAL.  Do we need to support content types that are not simple sets of MIME types?

[2016-03-07 15:46] selimnairb commented on #299
@yirugi @lanzh @vmmerwade Please update this issue with a list of missing/broken REST API end points needed by SWATShare.  If you can do this by Tues. March 8th, 2016, I can work on this during the hackathon the following day.

[2016-03-07 16:03] danames opened #1032 "Make Citation Editable"
The citation field is not editable. This should be changed to editable because the auto-generated citation is not always correct. i.e. Drew helped Lan create the SWATShare Web App and now he is listed as the first author of the citation for the SWATShare Web App and the citation is clunky looking and it would be nice to be able to clean it up manually.

[2016-03-07 16:20] horsburgh commented on #1032
The opposing argument is - when I publish a paper, I don't get to edit the citation information.  It is what it is.  It's up to me to provide the correct authorship information. What is to stop someone from editing the citation and removing HydroShare as the publisher? Removing the URL or the identifier? The current citation uses DataCite specifications for formatting the citation, so blame DataCi

[2016-03-07 16:38] danames commented on #1032
OK I've cleaned up the citation by adding/removing/reorering authors but still have a problem that there is no space between the author first and last names:

![image](https://cloud.githubusercontent.com/assets/3472628/13575889/15b10302-e459-11e5-9003-16262dad6e68.png)

[2016-03-07 16:40] horsburgh commented on #1032
That is a bug. @mauriel133 - Can you fix the space between author names quickly?

[2016-03-07 16:51] danames commented on #1032
How about automatically adding the "Last accessed March 7, 2016." at the end of the citation (with the current date...)?

[2016-03-07 18:33] yirugi commented on #209
We are still waiting for  a REST API to set resource-specific metadata, SWATModel Instance for us. Is it possible to know the current status?

[2016-03-07 19:10] #209 closed

[2016-03-07 19:12] yirugi commented on #299
We are still waiting for  a REST API to set resource-specific metadata, SWATModel Instance for us.
I guess we need  PUT /scimeta/{pid} api.

[2016-03-07 19:14] selimnairb commented on #299
@yirugi Today @vmmerwade mentioned that resource creation was failing (some metdata fields were not updated).  Could you point me to an example SWAT model that has this problem so that I can test?  Thanks.

[2016-03-07 19:23] yirugi commented on #299
@selimnairb  I actually not sure which model he created, but I have a similar problem. On HydroShare resource page, I could only see my models. And also, I tried to create a new SWAT model instance, but after file upload finished, it said 'sorry error occurred~~'.
I tried to access the model, but it also said the error message.

https://www.hydroshare.org/resource/78b6a717c0654cd78fab8cf7e486f425/

[2016-03-07 19:32] selimnairb commented on #299
@yirugi I'm not sure about this error.  I would have to see the original file you were uploading.  Can you send me a SWAT model that you can create successfully?  Thanks.

[2016-03-07 19:38] mohamedmorsy commented on #299
@selimnairb I tried to created a SWAT Model Instance resource on www.hydroshare.org but I got the following error:

![image](https://cloud.githubusercontent.com/assets/5543781/13580826/e8ad9d70-e471-11e5-816b-ed732d667233.png)

While it works fine on testservices.hydroshare.org. We did not do any new modifications for this resource type. I asked @mjstealey  to take a look on that.

[2016-03-07 19:43] yirugi commented on #299
@selimnairb  here's the model I have been used for test
https://www.dropbox.com/s/2r34r4uy0ihor3p/Flat_River.zip?dl=0

Anyway, what @vmmerwade wanted to say was about the REST API setting metadata for SWAT Model Instance resources.

[2016-03-07 21:28] selimnairb commented on #977
To accomplish this, we will need:

1 [ ] New REST API call */hsapi/resource/UUID/directory_listing/PATH* that returns a simple list of the *ils* output on */bags/UUID/data/contents/PATH*
2 [ ] Front end JS code to display top-level files and directories (i.e. non-recursive contents of /bags/UUID/data/contents/) giving the user an option to navigate to any directory at the current level.  Directory

[2016-03-07 23:09] selimnairb commented on #299
@yirugi Just so I understand what you are asking for, when you call PUT /scimeta, would you be sending an XML document representing the new science metadata?  This is how the spec is written.

[2016-03-07 23:20] yirugi commented on #299
@selimnairb I actually was guessing that the REST API could set metadata for SWAT Model Instance. So, the PUT /scimeta will set SWAT Model Instance metadata?
Sending XML doc would be fine.

[2016-03-08 00:09] alvacouch opened #1034 "File metadata for resources"
See #965 for beginning of these discussions. @ironfroggy @selimnairb

On 3/7 in the face to face meeting, we covered the issue of how apps can bind to and do things with specific files from a resource. We evaluated several possible options and settled upon a "metadata harvesting" option for each file in a resource, separately. In this option, at the time a file is uploaded, the **validator** for t

[2016-03-08 00:14] alvacouch commented on #1034
The app resource needs at least a list of tuples (Resource Type, MIME type, variable name) to inform the resource landing page that the app handles files with this metadata. This is used in hs_core to construct the resource landing page with buttons for the appropriate apps.

[2016-03-08 04:50] gantian127 opened #1035 "Hyrax OPeNDAP service URL update on resource landing page"

[2016-03-08 13:42] selimnairb commented on #299
@yirugi Unfortunately, SWAT Model Instance doesn't extract metadata on creation, so the REST API can't either (the REST API is basically a thin layer on top of various internal APIs).  I will try to get PUT /scimeta done at tomorrow's Hackathon (however there are already competing priorities, so it may not be until next week).

[2016-03-08 14:13] selimnairb commented on #977
Based on comments from the group today, this interface needs to be extended to allow the following use cases:
  - Creating a new folder at an arbitrary location in a directory hierarchy
  - Uploading a resource file to a folder at an arbitrary location in a directory hierarchy
  - Moving a file to an arbitrary location in a directory hierarchy

[2016-03-08 14:42] ironfroggy opened #1037 "Improve Logging Handling"
Going to use a Papertrailapp trial account to archive week's worth of logs from all services and machines to an easy to use web-based log analyzer. Can filter, search, and configure alerts based on logs. Will evaluate value in the future to expand to a paid account.

[2016-03-08 14:55] alvacouch commented on #977
See
https://docs.google.com/document/d/1RHiwpJ1IoyAZzmC6yHykg9vE618M67la5ZZfyKaiDRU/edit?usp=sharing

for a backend interface to folders **that already exists**. It is not in the code base now because there was not a plan for immediate use. It is completely implemented and tested as part of the labeling subsystem.

It lives in my private repo. I can put it in a HydroShare branch if you want.

It h

[2016-03-08 15:22] alvacouch commented on #977
The version of hs_labels with folders is a few commits behind the deployed version. .
A little simplification (but not much) is needed. An hour or two.....

[2016-03-08 15:25] ironfroggy commented on #1034
Proposed Roadmap:

- [ ] Refactor existing resource creation validation into utilities separate from the models
- [ ] Registry utility to configure dependencies for validators and run on a resource
- [ ] Celery tasks based execution of validation
- [ ] Identification from applications of validators that would be valuable
- [ ] Implementation of deeper content validators
- [ ] Documentation and API

[2016-03-08 17:09] ironfroggy commented on #1031
Plan:

- Add ISO Metadata Profile for CSW format to resource API serializers
- Implement endpoint wrapper around around API implement CSW full text query subset of FILTER constraint
- @alvacouch will solicit format examples for reference
- @ironfroggy will investigate serializer changes

[2016-03-08 18:34] alvacouch commented on #1031
(I'm going to OGC tomorrow, and will ask the appropriate people for examples)

[2016-03-08 19:53] selimnairb opened #1038 "Update help template to display Mezzanine content"
Current help template (hs_core/templates/pages/help.html) does not read content from Mezzanine.  This needs to be updated to allow display of help content from one or more Mezzanine help pages.

[2016-03-08 20:19] danames opened #1039 "Learn how to create "my first tethys app""
Download the 7GB image and install it in Virtual Box before Wednesday.

email Dan Ames for the FTP credentials.

[2016-03-08 20:38] #571 closed

[2016-03-08 20:46] alvacouch commented on #977
A working version of hs_labels is in my private working repository gitthub.com/HydroShare/hs_labels/hs_labels/
But alas, this won't help you.... this implements folders for resources, rather than folders inside resources. It is probably easier to use iRODS features inside a resource.

[2016-03-08 22:17] selimnairb commented on #603
Test result from 2 GB file:

[code]

[2016-03-08 22:34] gantian127 opened #1041 "raster resource migration to add .vrt to existing raster file"

[2016-03-09 14:43] mohamedmorsy commented on #1039
@danames Could you please provide the link to download the VM?

[2016-03-09 14:46] danames commented on #1039
I just emailed it to you (rather than posting the password on github...)

On Wed, Mar 9, 2016 at 9:43 AM Mohamed M. Morsy <notifications@github.com>
wrote:

[2016-03-09 14:48] pkdash opened #1042 "User group functionality"
TODO:

- [x] Implement views to support group UI functionalities (Pabitra)
   - [x] create group
   - [x] update group
   - [x] Inactive group (Phase-2)
   - [x] share group with user (adding a user to group)
   - [x] unshare group with user (removing a user from a group)
   - [x] share resource with a group
   - [x] unshare resource with a group
   - [x] make request to join a group
   - [x] acce

[2016-03-09 20:31] dtarb opened #1043 "Resource landing page warning about identity information"
Resource landing pages show the following warning about HydroShare not providing identity information when accessed using the Firefox browser on Windows.

![capture](https://cloud.githubusercontent.com/assets/3456833/13649490/3233b6ca-e5fb-11e5-8c40-dcfefd374f2e.JPG)

This is cosmetic at this stage.

[2016-03-10 15:13] mjstealey opened #1044 "Failing download when using Nginx / uWSGI"
Under current develop branch the file download handoff between Django and Nginx / uWSGI fails.
This issue is not present when using the included Django development server.

[2016-03-10 15:44] horsburgh commented on #1043
I don't think this is an appearance issue.  It's likely something to do with the security certificate and providing content over HTTPS. It may also be because there is content on the page that is referenced via HTTP.

I don't see this behavior in Firefox, Chrome, or Safari on my Mac.

[2016-03-10 15:51] mjstealey commented on #1043
This will be a browser dependent warning based on how your system is setup.

The warning refers to some element in the page referring to an external http source which is in turn being displayed within our https framework. This could be a map, an image, and external link, anything that makes reference to the web via http.

The "fix" is to only allow external references to land on https endpoints, b

[2016-03-10 17:08] hyi commented on #748
Adding functionality of workflow execution triggered by an execute button from this Workflow resource type landing page.

[2016-03-10 17:18] dtarb commented on #1043
I was hesitant to raise this as it is cosmetic.  I don't want these issues to suck up a lot of team time.  But I did notice this when we were in the meeting and asked what it was and why we got it and @mauriel133 said to record it as an issue.  @horsburgh If this does not fit the appearance category, then what category does it belong to.  As we incorporate, through reference, elements from other s

[2016-03-10 18:43] horsburgh commented on #1043
If it is as @mjstealey describes - insecure content being displayed in a secure environment - @mauriel133 may be able to fix it.  I agree about being careful about messages users are getting. I don't know that there's a better label for it at the moment.

[2016-03-10 20:54] shawncrawley opened #1045 "All "public" resources are not actually public"
This was discovered when using the REST API. I did the following:

[code]
Though `getResourceList()` should have only returned public resources, `getResourceFileList(res_id)` failed with the error: `Not authorized to perform GET on https://www.hydroshare.org/hsapi/resource/res_id/file_list`.
I tested these same resources in the "Discover" search, and though they came up in the search (as public re

[2016-03-10 21:31] pkdash commented on #1045
In case of anonymous user, ```getResourceList()``` includes both public and discoverable resources. Resource content file can be accessed for public resources only.

[2016-03-10 21:41] shawncrawley commented on #1045
Oh interesting... Okay. Good to know. Issue solved.

On Thu, Mar 10, 2016 at 2:05 PM Michael J. Stealey <notifications@github.com>
wrote:

[2016-03-10 22:57] selimnairb commented on #1044
@mjstealey I assume gunicorn fixes the problem?

[2016-03-11 00:27] mjstealey commented on #1044
Yes, the file download handoff appears to be working as expected.
The branch is deployed to https://beta.hydroshare.org for testing.

[2016-03-11 05:49] pkdash commented on #1042
@mauriel133 Can you list (as part of this issue) all the UI level functionalities related to user groups that you plan to implement? That would help me in backend implementation.

[2016-03-11 14:19] #1045 closed

[2016-03-11 14:28] hyi commented on #755
@alvacouch As we briefly discussed during all hands meeting, this could be probably done by directly calling haystack API without using celery for a specific index update. So I am re-assigning this to you (if you ask @xuezhaokun to work on it, you can then assign it to @xuezhaokun) for initial investigation. If your initial investigation indicates celery is still needed for performance concerns, y

[2016-03-11 14:36] hyi commented on #946
@horsburgh @dtarb Could you let me know whether updated date metadata element needs to be changed for the original resource when a new version has been created for this resource? I think it should since we added "isReplacedBy" relation element to the original resource, so it is indeed modified. If you all agree, the only thing I need to do is to modify updated date dublin core metadata element for

[2016-03-11 14:41] hyi commented on #19
@dtarb @rayi113 Do you think we need to close this issue since it is no longer in our to-do list?  I will  create a new issue for implementing irods user space in Hydroshare as @rayi113 presented once I have specific sequence of steps worked out.

[2016-03-11 14:43] hyi commented on #15
Closing this issue since this feature has been deployed.

[2016-03-11 14:43] #15 closed

[2016-03-11 14:43] rayi113 commented on #19
@hyi @dtarb Yes, I think it's okay to close it after the new GitHub issue is created that supersedes this one.

[2016-03-11 16:18] horsburgh commented on #946
@hyi - I did some testing of the versioning.  I have the following comments:

- [ ] 1. I would change the order of the button icons at the top.  I would make the order go Edit, Delete, Version, Publish.  It seems weird to have the delete button between version and publish.

- [ ] 2. On the first pop up that appears when you click the Version button, change to text to the following:

"Creating a ne

[2016-03-11 16:35] hyi commented on #946
@horsburgh Thanks for the comments. I can fix issues No. 1-3 quickly. No. 4 depends on implementation of on-demand search index update @alvacouch and @xuezhaokun would investigate initially as part of issue https://github.com/hydroshare/hydroshare/issues/755 to see whether celery is needed or not, and if not, they can get it done without my involvement, and if celery is needed, I can help. Only af

[2016-03-11 16:40] hyi opened #1047 "Only keep the most recent version of resources from discovery interface"
As part of the resource versioning work, https://github.com/hydroshare/hydroshare/issues/946, we need to remove original resources from searches and add the newly created version into the search. This work depends on implementation of on-demand search index update as detailed in issue  https://github.com/hydroshare/hydroshare/issues/755. After on-demand search index update is implemented, I will w

[2016-03-11 16:52] horsburgh commented on #946
@hyi and @dtarb - in the interest of keeping the My Resources page uncluttered, I vote for only displaying the most recent version of any Resource that has older versions.

[2016-03-11 17:12] hyi commented on #946
@horsburgh That is what I prefer as well. I'll go with only displaying the most recent versions on My Resources page unless I hear objections from @dtarb

[2016-03-11 17:59] hyi commented on #946
@horsburgh On No. 3 in your comment list, the current implementation only shows that congratulation message when the original resource being versioned is not private, indicating the new version is created as a private resource by default. I have modified the code to show this congratulation message for private resources being versioned as well by combining your suggested message with its existing

[2016-03-11 18:06] horsburgh commented on #946
@hyi - the message works for me.  Thanks.

[2016-03-11 18:39] mjstealey commented on #603
The biggest hurdle in this may be the docker space allocation getting in the way.
Would like to look at using an NSF mount as the temporary landing zone for servicing large file uploads.
Whether all files do this, or only files over a certain threshold would need to be determined.

Additional ideas are appreciated.

[code]

[2016-03-11 18:41] mjstealey opened #1048 "Comments - not working with Django 1.8 implementation"
@hyi - Wanted to test if comments were still working and ran into the following error.
You may know what this is off the top of your head...

[code]

[2016-03-11 18:53] rayi113 commented on #603
mv  /var to /var_old; make a symbolic link between (new) /var and somewhere on /projects/hydroshare.., then recursively copy /var_old to the new symbolic /var (preserving owner, permissions, etc) that is linked to the physical /projects/hydroshare..

[2016-03-11 18:55] hyi commented on #1048
@mjstealey Have just done some investigation, and it looks like the new Django version and Mezzanine version don't handle this setting as they used to any more. Have to modify some copied-over code from old Mezzanine to be in sync with the new updated version. Have assigned this issue to myself and will work on this once I get work done soon for follow-up resource versioning fix.

[2016-03-11 18:58] hyi commented on #1048
@mjstealey In the meantime, while you are at it testing, it'd be good to test account signup and login as well since that part of functionality is also customized from old version Mezzanine code. Let me know if anything does not work as used to so I can work on this Mezzanine-related update issues together. Thanks.

[2016-03-11 19:12] mjstealey commented on #1048
Great ideas! Will post new issues as they are discovered.
Also adding this to the [Django 1.8 update](https://github.com/hydroshare/hydroshare/milestones/Django%201.8%20update) milestone

[2016-03-11 19:41] mjstealey commented on #1026
resolved

[2016-03-11 19:41] #1026 closed

[2016-03-11 19:52] mjstealey commented on #603
Given that this is Docker, and will need to be implemented across multiple machines (production plus testing boxes), I'm unsure if we want all of `/var` to be sym-linked.

Doing something abstractly like this for say `/tmp/upload` and `/tmp/download` per VM might interesting. I'd think as long as we keep the user UID and GID consistent across the NFS mount and the Docker container we should be alr

[2016-03-11 21:29] hyi commented on #946
@horsburgh @dtarb Have addressed all further comments from @horsburgh except for removing obsoleted resources from searches which I have created a separate issue to address after on-demand solr index update for search has been addressed. Also fixed a bug along the way. I have created a PR for code review and hope it can be merged and included in the new deployment.

[2016-03-11 21:36] hyi commented on #946
@dtarb @horsburgh BTW, this PR I just created does include removing obsoleted resources from My Resources page, so only the latest version of the resource shows up on My Resources page. This removes confusion and works well in my opinion, but let me know if you have any further suggestions.

[2016-03-11 21:40] horsburgh commented on #946
@hyi - Awesome!  I'm excited to see this get merged and deployed!

[2016-03-12 01:10] danames opened #1050 "No way to discover all resources of a certain type"
testing on beta.hydroshare.org
go to discover
there should be a way to find all geographic rasters without having to type something in the search box.

[2016-03-12 01:18] danames opened #1051 "Icons on "Open With" drop down list should match those on the apps themselves"
For example the raster viewer icon should be used on the drop down list for "open with" raster viewer.

[2016-03-12 01:21] danames opened #1052 "Why is the cool "Spatial Coverage" map hidden so deeply?"
One of the most interesting parts of a resource landing page is the coverage map. Why is it at the bottom of a very long page behind a hidden tab? It should be up front and center somewhere...

[2016-03-12 01:33] danames opened #1053 "We should merge "My Resources" and "Discover""
These two pages perform extremely similar functions but behave very differently. We should merge them into a single "Resources" page with a consistent set of filters, search methods etc.

My Resources could become this single page if there was a check box for "All resources" instead of just "viewable by me" "shared with me" etc.

However the filtering options seem to be better on "Discover".

Can

[2016-03-12 03:44] horsburgh commented on #1053
I vote against this one.  I want a My Resources page and a Discover page.

My Resources = My stuff
Discover = Other people's stuff + a way for unauthenticated users to interact with the system

I want a place where I can manage all of my content separately from everyone else's.  I don't want to have to filter out all of the cruft all of the time to get to to my content.

In my opinion, this would

[2016-03-12 03:55] danames commented on #1053
What do you think about the fact that the filtering/searching methods are quite different on both pages? Is there a way to harmonize them?

[2016-03-12 04:05] horsburgh commented on #1053
It may be worth a look.  But, they are targeted at different users.  The filters on the My Resources page (including the labels that show up when I create and apply them) are for me to organize and narrow my own content (and I should already have some idea of what I've got), whereas the facets on the discover page include more comprehensive facets to help users (who may not know already what they

[2016-03-12 21:31] dtarb commented on #1053
I think that this is an issue where it is "been there, done that".  The boat has sailed.  We have vacillated on this issue enough.  You may recall endless earlier discussions on this.  I would vote that we truncate discussion on this issue and just get the pages working.   We have hydro value added functionality to serve our use cases to work on rather than this redesign.

[2016-03-12 21:38] dtarb commented on #946
I too am excited to see this deployed and move on.  One idea that occurred to me is to have an option in myResources to "Show all versions".  DropBox has something like this, but unless this is very simple and natural and quick to implement (and very little seems simple and quick to implement) I would prefer to shelve this idea and move on.  The all hands meeting this week and subsequent discussio

[2016-03-12 21:55] #19 closed

[2016-03-12 23:54] hyi commented on #946
@dtarb @horsburgh "Show all versions" may be useful on "My Resources" page, but let's shelve this idea and move on at this point. If a need arises doing so in the future, @mauriel133 can take it on to incorporate this into My Resources page.

[2016-03-14 13:47] hyi commented on #946
@pkdash I have addressed your code review comments. See if you can +1 now.

[2016-03-14 14:54] rayi113 commented on #603
Suggest changing "File size is limited to 10 GB per file"  to  "File size is limited to 1 GB per file" until large file size issue is resolved since somewhere between 1 GB and 2 GB seems to be what is consistently reliable.  Also, the "File size is limited to <n> GB per file" appears at 4 different places in the code; suggest this be referenced in 1 place in the code for all 4 places:
hs_core/temp

[2016-03-14 17:07] mauriel133 commented on #1042
These are initial use cases I think we could start with (need to confirm with @horsburgh ):
- Create group
- Delete group
- Request join group
- Invite user to group
- Leave group
- Promote member to owner
- Demote owner to member (only creators and other owners can do this)
- Share a resource with a group
- Unshare a resource with a group
- Get list of resources shared with a group
- Start a disc

[2016-03-14 20:06] mauriel133 commented on #1042
I have posted the list now after confirming with Jeff.

*Maurier Ramírez*
Computer Scientist
Utah Water Research Laboratory
Utah State University
8200 Old Main Hill
Logan, UT 84322-8200
Phone: (435) 932-0727

On Thu, Mar 10, 2016 at 10:49 PM, Pabitra Dash <notifications@github.com>
wrote:

[2016-03-14 23:04] zhiyuli opened #1055 "Anonymous users cannot open discoverable resource landing page on current dev branch"
I set a res discoverable, but other users or anonymous users cannot open its landing page (got 403). Only owner and admin can open it.
![image](https://cloud.githubusercontent.com/assets/10070599/13762704/68f8350a-ea06-11e5-996a-4552f02cf682.png)

![image](https://cloud.githubusercontent.com/assets/10070599/13762715/77ee4086-ea06-11e5-976a-b6c706ed75d7.png)

[2016-03-15 02:00] horsburgh commented on #946
@hyi and @dtarb - Dave had some interesting concerns on the pull request for this issue.  I see Dave’s points about potentially not replacing/obsoleting a resource until the new version has been made public/published, but there’s obviously some complexity there that would have to be dealt with. For example if a new version is made but not published, can I make another new version?  And, if so, how

[2016-03-15 02:35] hyi commented on #946
@horsburgh @dtarb Yes, I did handle the case where a new version is created and then deleted, exactly according to the design spec, i.e., the previous version become the latest version in the version chain again. The data discovery piece is what is missing since it is dependent on the implementation of on-demand solr index update as detailed in issue https://github.com/hydroshare/hydroshare/issues

[2016-03-15 03:12] horsburgh commented on #946
Awesome.  Thanks @hyi.

[2016-03-15 13:30] dtarb commented on #946
Thanks @hyi.  I am pasting below the gist of the comments I had on the pull request so we do not lose them, but am happy to go with what we have to get some experience with this then adjust based on the experience.

I think we need flexibility regarding the changing of relationships for published resources.  We have said that a published resource is immutable, but I think this should only pertain

[2016-03-15 15:40] danames commented on #603
I agree with @rayi113 on this. Let's limit to 1 GB and only have it
mentioned in one place so that it is easier to change in the future.

On Mon, Mar 14, 2016 at 8:54 AM rayi113 <notifications@github.com> wrote:

[2016-03-15 16:28] mjstealey opened #1057 "hydroshare container exits after running tests"
@pkdash, @hyi, @selimnairb

Have noticed that the hydroshare container exits when the `coverage run manage.py test` call is made which is causing our Jenkin's job to report a failed state.

The error I've found in the `hydroshare.log` is this:

[code]

The error also identifies @shawncrawley, which makes me wonder about the construct of what is failing if it's looking for a specific user (**scrawl

[2016-03-15 16:40] hyi commented on #1057
@mjstealey I am bringing @zhiyuli in since the error was raised from hs_tools_resource/utils.py and may be related to the new url mapping @zhiyuli implemented and got merged in recently.

[2016-03-15 16:42] zhiyuli commented on #1057
@mjstealey
This is our testing code: https://github.com/hydroshare/hydroshare/blob/develop/hs_tools_resource/tests/test_web_app.py#L214

We raise this exception on purpose by providing a unknown term "mypara=${HS_UNDEFINED_TERM}", the following function catches this exception and logs it.
https://github.com/hydroshare/hydroshare/blob/b6ef96b9e16395d9bac03ef526c70c457b0c5298/hs_tools_resource/utils

[2016-03-15 16:48] zhiyuli commented on #1057
@mjstealey I dont think hydroshare container exits was caused by this testing code.....

[2016-03-15 16:53] mjstealey commented on #1057
I'll try a different approach and run the tests individually by app name and report back with the outcome. Something is causing the container to exit when tests are run, and it's been difficult to discern exactly what it is. The error I pasted above is the only one I could find in the log files which is why it appears.

[2016-03-15 18:21] mjstealey commented on #1057
Running app tests individually by using `coverage run manage.py test APP_NAME --keepdb`

Results:
- django_docker_processes  - ran 0 tests with no exit
- django_irods  - ran 0 tests with no exit
- ga_ows  - ran 0 tests with no exit
- ga_resources  - ran 51 tests with no exit (errors=48, failures=2)
- hs_access_control - ran 119 tests with no exit
- hs_app_netCDF  - ran 0 tests with no exit
- hs_ap

[2016-03-15 18:27] zhiyuli commented on #1057
@mjstealey i have a question about the command to run testing code.
I am using
docker exec -ti hydroshare ./run-tests   --> run all testing code and show report
docker exec -ti hydroshare python manage.py test hs_geographic_feature_resource.tests.test_geo_feature  --> run individual testing code

am I doing it correctly? I never used "coverage run manage.py test APP_NAME..."

[2016-03-15 18:34] mjstealey commented on #1057
That call points to this file: https://github.com/hydroshare/hydroshare/blob/develop/run-tests#L1-L6

For testing purposes, I only issued the first line of that file manually from within the running hydroshare container.
- If everything ran as expected I would be left in the container and ready to execute the next command.
- If something failed I would be dropped from the container as it died and

[2016-03-15 18:40] mjstealey commented on #1057
@zhiyuli - You're running tests just fine. We have a couple of scripts that wrap up some reporting in the output for local use or on Jenkins, but they are same calls you are using.

I may have to run down the list of 100+ tests in hs_core like this to figure out which test(s) are causing the container to exit.

[2016-03-15 18:42] zhiyuli commented on #1057
@mjstealey got it thanks

[2016-03-15 19:43] mjstealey commented on #1057
@selimnairb - Would you mind looking into the test that causes the container to exit?

Tests run from hs_core that cause the container to exit:

- hs_core.tests.api.rest.test_create_resource.py

All tests run:
- python manage.py test hs_core.tests.api.native.test_add_resource_files.py
- python manage.py test hs_core.tests.api.native.test_bagit.py
- python manage.py test hs_core.tests.api.native.te

[2016-03-15 20:35] selimnairb commented on #1057
@mjstealey I'm working on another project.  I can look at this tonight or tomorrow.

[2016-03-16 12:58] ironfroggy commented on #1050
This will already be the case with #987 because you'll see all resources and filters by default.

[2016-03-16 13:59] selimnairb commented on #1057
@mjstealey As develop stands now (521985549efc825d32a90af5a20aad6f81d01e79) the hydroshare container fails to build because gunicorn is not installed by hs_docker_base or in the hydroshare Dockerfile.

[2016-03-16 14:11] selimnairb commented on #1057
@mjstealey Here are the results from my environment:

[code]

[2016-03-16 14:48] mjstealey commented on #1057
There seems to be an issue with docker grabbing the updated hs_docker_base:1.6.8 image

From your environment, do the following.
`$ docker pull mjstealey/hs_docker_base:1.6.8`

Then try to deploy again.

[2016-03-16 15:16] hyi opened #1059 "On demand update for netCDF resources to feed to Hyrax server"
When a private netCDF resource is made public, my script to expose public netCDF resources from iRODS vault to Hyrax server will be triggered on-demand to run on Hyrax server from HydroShare using ssh-based approach. The cron job to run that script every midnight will still be scheduled on Hyrax server to do clean up as needed in cases when a public netCDF resource is made private or deleted.

[2016-03-16 16:29] selimnairb commented on #1057
I just installed it via my Dockerfile, which leads to the above success.  Do you want me to test anything else?

[2016-03-16 20:12] mauriel133 commented on #977
@selimnairb, here is a basic implementation of what I'm going with. Let me know when the back end is ready so I can bring it together.

![capture](https://cloud.githubusercontent.com/assets/2448568/13827223/f3b76c80-eb80-11e5-82d9-94c9b36e8769.PNG)

[2016-03-16 20:23] zhiyuli commented on #977
It looks great !!! Look forward to seeing it on www

one minor comment: is it a potential issue that we allow multiple folders
to have same name?

On Wed, Mar 16, 2016 at 2:12 PM, Maurier Ramirez <notifications@github.com>
wrote:

[2016-03-16 20:26] mauriel133 commented on #977
That won't happen since we'll be showing the physical hierarchy once @selimnairb is done implementing the methods, this is just me trying out the interface so I used the same names for the folders.

[2016-03-16 23:06] mauriel133 opened #1061 "Profile link not visible for mobile devices"
When the window is narrow enough the dropdown kicks in, but the options listed do not meet the functionality needed.
![capture](https://cloud.githubusercontent.com/assets/2448568/13831512/bd337d66-eb99-11e5-9d93-91e0ed4713ef.PNG)

[2016-03-17 14:25] mjstealey commented on #1057
The issue is caused by this [line](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tests/api/rest/test_create_resource.py#L35)

[code]

[getResourceBag](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tests/api/rest/base.py#L40-L62) is defined as:

[code]

If the above line is commented out, all tests will run and the container will remain running upon completion. Expec

[2016-03-17 16:51] mauriel133 commented on #997
I found another case where the map doesn't load:
1 - Open a resource that doesn't have spatial data.
2 - Click the edit button to edit the resource.
3 - The map does not load unless the page is refreshed.

[2016-03-17 20:52] mjstealey opened #1062 "Deployment notes for release 1.6.8"
@hydroshare/extension-developers - please add your deployment notes here if you have new features in the release candidate.

---
Deployment Notes:
- Django 1.8.9 / Mezzanine 4.1.0 update (along with other related packages)
- Added gunicorn - replaced uWSGI with gunicorn due to instability.
- Resource versioning
- Raster resource supports VRT raster upload as a .zip file

[2016-03-17 21:45] #1035 closed

[2016-03-18 21:16] horsburgh opened #1063 "Collection Resource: Collected Resources Should be Stored in Resource Map"
Within a collection resource, the pointers to the collected resources should be stored in the resource map document and not in the resource metadata document. The purpose of the resource map document is to store the list objects aggregated within the resource.

[2016-03-18 21:27] zhiyuli commented on #1063
@horsburgh  are there any existing resource types already using the  "aggregation" term in "resource map" document? I need an example...

[2016-03-18 21:39] horsburgh opened #1064 "Collection Resource: How to handle a Collected Resource Deletion"
There is a question about what to do when a user who has delete access to a resource that is part of a collection chooses to delete it - when the user does not have edit permission on the collection resource. Options include:

1. We let the user delete the resource that is part of a collection and cascade deletes to the collection resource. Doing this violates our access control rules if the user

[2016-03-18 21:39] horsburgh commented on #1064
From @zhiyuli - comment on (2): we are using ManyToMany relationship to associate a collection with its contained resources (rather than storing their res_ids in collection), which is recommend by the developer team. Say, collectionA holds resB, that means collectionA object is referencing resB obj. if resB obj gets removed, the tie between colletionA and resB will be gone automatically...so there

[2016-03-18 21:40] horsburgh commented on #1064
OK - technically that may be true, but the point is that a user who doesn't have access to the collection shouldn't be able to modify it. And, deleting a resource (and thus removing it from the collection) would modify the collection. @zhiyuli - can you point me at an example collection resource? I would like to look at what's in the bag.

[2016-03-18 21:41] horsburgh commented on #1064
From @zhiyuli - @horsburgh the only "broken link" is in collectionA's bag, because every we update collectionA, we write the res_ids of all its contained resources into collectionA's bag

[2016-03-18 21:41] horsburgh commented on #1064
From @zhiyuli - @horsburgh I just realize there is no way to get the bag from the landing page!!! because in the new UI design we took over the whole "Content" block that contains "download" button and replaced it with "Contained resource list" (you suggested it I remembered....
The bag is on irods and it is getting updated as usual....

A public collection res on playground is here
https://playgr

[2016-03-18 21:42] horsburgh commented on #1064
From @zhiyuli - @horsburgh
landing page is here:
https://playground.hydroshare.org/resource/7cfafdb649f54eb1a39b3c7a0d6cc10e/

bag is here:
https://playground.hydroshare.org/django_irods/download/bags/7cfafdb649f54eb1a39b3c7a0d6cc10e.zip

[2016-03-18 21:45] horsburgh commented on #1064
@zhiyuli - I'm hoping in this issue we could get some people to weigh in on what to do about the permissions issue related to deletion of a resource in a collection.

FYI - I created a separate issue for the need to store the list of aggregated resources in a collection object within the resource map document. See #1063.

[2016-03-18 21:54] horsburgh commented on #1063
@zhiyuli - see this generic resource for example - https://www.hydroshare.org/resource/bc611bca276f40fd8c7f8a5a704236e0/. Download it and look at the resource map. It has multiple files and I just checked the resource map to make sure it's complete.  The aggregation in the resource map points at all of the files in the resource.

Basically, for the collection resource, you are doing the same thing

[2016-03-18 22:03] zhiyuli commented on #1064
a related situation: Public or discoverable collections can only hold public or discoverable resources. Say, public collectionA holds public resB. If the owner of resB downgrades resB to private, in current implementation the system downgrades collectionA to private automatically.

[2016-03-18 22:23] horsburgh commented on #1064
@zhiyuli - yes, it's really the same issue. Should a user who may not have any permissions at all on a collection resource be able to make a change to a resource within the collection that results in a modification to the collection (in this case changing its sharing status).

[2016-03-18 22:26] zhiyuli commented on #1063
@horsburgh thanks for giving me an example.
@pkdash In term of implementing it, I think all hs_core functions that manipulate resource map doc are currently triggered by actions on resource files; all functions that manipulate resource metadata doc are triggered by actions on metadata.
In the case of collection, since relationship between a collection and its contained resources is stored in metad

[2016-03-18 23:13] dtarb commented on #997
This remains a problem on the Release Candidate deployed on beta  (3/18/16).

[2016-03-18 23:24] #1053 closed

[2016-03-19 20:39] yirugi commented on #299
@selimnairb Can you let me know what's the current status?

[2016-03-21 13:52] hyi commented on #1048
@mjstealey Could you verify whether this has been fixed and close if the answer is yes?

[2016-03-21 16:40] pkdash commented on #1063
@zhiyuli I am not sure I fully understand your question. I am guessing, the create_bag_files(resource) function needs to be modified so that for a collection resource we write the url for the individual resources in the 'resourcemap.xml'

[2016-03-21 20:57] selimnairb commented on #299
@yirugi Sorry, I haven't had a chance to look at this as I have been busy with other projects.  I will try my best to get to it this week.

[2016-03-21 23:23] gantian127 opened #1065 "Beta site resource creation page can't show correct file validation information"
When a specific resource type is selected, the page shows the error info as following:
![image](https://cloud.githubusercontent.com/assets/5016511/13937238/055f5950-ef89-11e5-8c5b-d5b7610a3c39.png)

When a wrong file type is uploaded for a resource type, the page shows the error info which should not show an object but the resource name:
![image](https://cloud.githubusercontent.com/assets/5016511/

[2016-03-22 03:31] pkdash commented on #1063
@horsburgh The url that needs to be written to the resourcemap for each of the resources in the collection resource is that url for the resource bag or resource landing page?

[2016-03-22 15:11] horsburgh commented on #1063
@zhiyuli and @pkdash - Here's what the resource data model document  says about this (https://docs.google.com/document/d/1_XY7J8hXQl-w24FWyuWs7YfRHw68px1ZOB_dQOU7sCQ/edit):

1. All aggregated objects in the resource map must be expressed as a URI
2. When referencing another HydroShare resource, the URI of the resource being referenced must resolve to a resource map.

The point is that the resource

[2016-03-23 15:38] selimnairb commented on #723
This is part of #299

[2016-03-23 16:09] zhiyuli commented on #1063
@horsburgh
An example collection:
https://playground.hydroshare.org/resource/c83fa6b047bc411395e5d7f1ec79bf39/
we added the "Download" button back, you could download the bag on the landing page.

[2016-03-23 17:15] gantian127 opened #1066 "Invalid form shows up when the requried account sign up information is not completed"
@mauriel133 @pkdash I test the sign up process and found out that if I didn't enter all the required account information and click on "Join HydroShare & Start collaborating" button, it will show the following invalid form. (Testing on chrome, firefox and Microsoft Edge  )

The expected response after a user doesn't enter all the information should refresh the page and keep the original sign up for

[2016-03-23 18:10] gantian127 opened #1067 "Failed to reset password on Beta site"
@pkdash I found out that when I use the "reset password" page to reset my password https://beta.hydroshare.org/accounts/password/reset/?next=/accounts/update/ , I got the following error.

I didn't change the Username and just want to change a new password. The error info is misleading and the system makes the user unable to set a new password if the username is not changed at the same time.

The

[2016-03-23 23:25] gantian127 opened #1068 "Resource list table needs to be set with a fixed table height"
On WWW site, the resource list table shows all the resources on one page. This will be a long table list when there are many resources. It would be better to set a fixed table height and show a fixed number of resources on one page.

![image](https://cloud.githubusercontent.com/assets/5016511/14003832/31e9d34a-f11b-11e5-93a1-badc73c26ea8.png)

[2016-03-24 00:35] horsburgh commented on #1068
@gantian127 - I'm assuming this is on the My Resources page. We had tried a fixed height table that started scrolling when the list got long.  But, Dave didn't like the fact that this added an additional scroll bar to the page - you could scroll the page and the list of resource.  So, we reverted it back to just show the full list.

I was just on another website today where I had to click through

[2016-03-24 16:08] mjstealey opened #1069 "hs_core - api rest tests - failing tests after hs_docker_base refactor"
While refactoring the hs_docker_base to use Python 2.7.11 two existing tests began failing. (see below)

[code]

[2016-03-24 16:11] mjstealey opened #1070 "refactor - hs_docker_base to use Python 2.7.11"
Refactor existing hs_docker_base image

- based from python:2.7.11 official docker images (debian:jessie base)
- remove all unnecessary packages from previous ubuntu:trusty based image

[2016-03-24 16:11] mjstealey commented on #1070
refactor is causing two tests to now fail [#1069]

[2016-03-24 16:56] gantian127 commented on #1068
@horsburgh If it has been decided to keep all the resources in one page as a long list. I will just close it. Thanks.

[2016-03-24 16:56] #1068 closed

[2016-03-24 17:24] hyi commented on #603
As the first step to tackle this issue, I will try to implement chunked file uploading with the ability to resume if the upload is interrupted using django-chunked-upload https://github.com/juliomalegria/django-chunked-upload. Other things to be looked at related to this issue include docker space allocation, nginx server optimization for serving large files such as multiple worker connections, bu

[2016-03-24 17:46] jsadler2 opened #1073 "Dialogue says my resource is ready to be made 'Public and Discoverable' when it isn't"
The dialogue said that my resource was ready to be made discoverable and public after I added an abstract and key words but when I tried to make it public it said I needed to upload a content file. The logic should check to make sure the required files are satisfied not just the required metadata elements.

[2016-03-24 17:50] jsadler2 opened #1074 "Required content files should be at same level in req'd element dialogue"
Related to #1073
For clarity, the "Content files are required..." statement at the bottom should be one of the bullet points and the "Now that yoru resource has been created..." should have more generic language than "metadata" but maybe just say "...the following elements are required..."
![reqd_elements](https://cloud.githubusercontent.com/assets/6943441/14025996/168be208-f1c7-11e5-8934-6f92a1de

[2016-03-24 17:56] jsadler2 opened #1075 "'Manage access' icon more available"
Since this is Hydro _Share_ can we make the manage access button a  _sharing_ button and make it more visible like putting up with the other icons at the top of the page? something like this?
![share](https://cloud.githubusercontent.com/assets/6943441/14026193/19b8c152-f1c8-11e5-8d7b-6cc2e32f660b.png)

[2016-03-24 17:59] jsadler2 opened #1076 "Should say what is req'd for public/discoverable in "Edit" mode"
Since the user will actually be adding what is required to make a resource public and/or discoverable in "edit" mode, can we put those requirements on that page and not just the "view" mode of the resource landing page?

[2016-03-24 18:10] horsburgh commented on #1075
This makes sense - and consolidates actions for resources in one place on the page.

[2016-03-24 18:11] mauriel133 commented on #1075
I agree. This should be an easy change too. I'm assuming we are moving it and not just adding this as an extra one.

[2016-03-24 18:20] pkdash commented on #1073
@jsadler2 What resource type you used?

[2016-03-24 18:34] horsburgh commented on #1075
Yes - move. There should be only one button.

[2016-03-24 18:50] selimnairb commented on #1069
test_create_resource.py is failing because of this [bug](https://github.com/tomchristie/django-rest-framework/issues/3951) in django-rest-framework.  Working on a work around.

[2016-03-24 19:24] jsadler2 commented on #1075
Right. that's what i had in mind.

[2016-03-24 19:24] jsadler2 commented on #1073
Model Instance

[2016-03-24 19:33] jsadler2 commented on #1073
@pkdash  I just tried with a raster resource and it behaved the same

[2016-03-24 19:49] pkdash commented on #1073
@jsadler2 I think the message can be made bit clearer. But I think it says the right thing. When you complete all metadata the message says "Metadata status: "Sufficient to make publish or public". Which means metadata requirement has been met. It does not say all requirements have been met to make the resource publish or public.

[2016-03-25 13:24] selimnairb commented on #603
Or we could cap uploads at 1 GB, and let users use the iRODS user space to upload larger files (which I believe we are already doing).  We could also integrate with Dropbox and other providers for importing larger files.  In short, we have a lot of functionality to complete, and less and less time on the project to do it in.  Thoughts?

[2016-03-25 20:35] shawncrawley opened #1079 "Creation of map project file for HydroShare GIS app"
This issue is mainly the for the purpose of documenting what has already been done to create a map project file for the HydroShare GIS app. However, if there are any suggested changes or questions, please let me know.

I have created a map project file that stores the current state of a HydroShare GIS session. The idea is that a user could, at any point, click a "save" button, which would either c

[2016-03-25 20:53] shawncrawley opened #1080 "Creation of a "Map Project Resource" that stores a map project file generated by the HydroShare GIS app"
As discussed briefly in the weekly HydroShare call yesterday, the HydroShare GIS app has now been programmed to generate a map project file that essentially saves the current state of the app (this is documented in Issue #1079). Now, it is necessary to come up with the best way to enable this map project file to be stored as or connected to an official HydroShare resource type.

Some ideas that we

[2016-03-25 22:05] danames commented on #1080
I'd suggest going with the Map Project resource type. We can use it for
this app and for other apps that need a group of data resources with
symbology.

On Fri, Mar 25, 2016 at 2:53 PM shawncrawley <notifications@github.com>
wrote:

[2016-03-25 22:07] danames commented on #1079
Looks like a great start, Shawn. Is this format extensible? I.e. is it easy
enough to add more information to the file format JSON code later without
breaking apps that aren't expecting the new bits?

On Fri, Mar 25, 2016 at 2:35 PM shawncrawley <notifications@github.com>
wrote:

[2016-03-29 17:20] shawncrawley opened #1084 "Add descriptions for Script Res Type"
The Script Res Type does not currently have a description page. One must be created that describes this resource type and gives a definition of its metadata. The file will be created at this path: /hs_core/templates/pages/metadata_terms.html. This page will be rendered at www.hydroshare.org/terms.

[2016-03-29 21:53] gantian127 opened #1086 "Hide the warning info for unit test"
Hide the warning info by executing gdal command when running the unit test for raster resource. This warning info is expected but is misleading for unit test report information.

[2016-03-30 15:29] pkdash opened #1088 "The option to extract metadata is no more available for timeseries resource"
While testing timeseries resource on beta.hydroshare.org, noticed the option to extract metadata in the file add modal dialog box is no more available. This problem also exists on www. This might have been a result of the refactoring of html associated with the resource landing page that was done a while ago.

[2016-03-30 17:25] gantian127 opened #1089 "metadata extraction of title doesn't work"
the title information from netcdf file is not extracted

[2016-03-30 19:02] dtarb opened #1092 "bag download failing on recent 1.6.8 www deploy"
When I try download all contents as zipped archive for https://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b/ I get "Sorry an error occurred".  Unclear yet whether this is all bags, or just this resource or just this resource type.

[2016-03-30 19:14] gantian127 commented on #1092
@mjstealey I just tested this resource https://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b/ on Beta the download works fine. Would you please check if the www is deployed the same as Beta? Thanks.

[2016-03-30 19:55] mjstealey commented on #1092
So, this is an interesting one...

The error is as follows (from hydroshare.log on www)

[code]

Viewing this from the iRODS point of view:

[code]
Manually set the bag_modified variable to be **true**, and then verify:

[code]

Then, go to the website and try to download the bag.
Again, same error?

[code]
Upon looking in iRODS, the bag_modified AVU is now **false**

[code]

Somehow, something is

[2016-03-31 14:03] dtarb commented on #1092
This may be related to when the resource was created.  To raster resources I have created on June 5, 2015 exhibit this problem, but raster resources I have created after August 15, 2015 do not have this problem.

[2016-03-31 14:38] Castronova opened #1093 "Web App - Edit page enhancements"
Yan Liu requested that the Web App interface be refined to make its usage clear to users.
1. Parameters that can be in the URL value need to be specified somewhere on the App resource instance editing page.  These are currently only available by digging through the source code.
2. There needs to be validation of the URL.