[2016-11-17 21:00] jsadler2 commented on #1606
@pkdash the action attribute in the form tag for this element is showing as blank:
`"<form action="" method="POST" enctype="multipart/form-data">"`
Also, it doesn't have a form id. So we think it's something in Crispy Forms. We tried to set the action attribute manually but were unsuccessful.

[2016-11-17 22:03] ChristinaB opened #1607 "Delete Published Resources. How do you remove a published (DOI) resource?"
I need help deleting these two published resources.
https://www.hydroshare.org/resource/726781eb2bbc4839ad56eed73ba67e85/
 http://www.hydroshare.org/resource/61dbf283189c457185ea16bc629d9db4/

New user Sarah Jenkins had the settings as private. She thought the publish button was a required last step to push the data to the server when Creating a new resource.  She did not realize that is was gener

[2016-11-17 22:57] horsburgh commented on #1607
Looks like we need to improve our messaging. This isn't the first time this week that a user has published something not knowing that it is a permanent action.

We need to be clear when we are talking to people that "share" and "publish" are not the same. Nor are "public" and "published" the same thing.  I suspect that we need a dialog box on the publish step that says something like the following

[2016-11-17 23:37] horsburgh opened #1608 "Modifications to Resource Publication Workflow"
Based on recent issues we've been having with users not understanding the semantics of sharing versus publishing, @dtarb and I discussed some potential changes to the resource publication workflow. The following reflect those thoughts:

1. There is an immediate need to modify the messaging of resource publication. An additional dialog box needs to be instituted when the user clicks the "Publish" b

[2016-11-18 00:56] yirugi commented on #299
Hi @jsadler2 , I have found error parts from my side. Your API works fine.
One small thing is, I wonder if there is an API to change share status from private to public.

[2016-11-18 02:27] hyi commented on #1608
@horsburgh @dtarb We do have the following text in the popup dialog when users hit the publish button:
[code]
where ```final``` is bold to stand out. Even though the message is already pretty clear and the user has to take an extra step to check the publication agreement acceptance checkbox before having publish button enabled, the fact that the user still makes the mistake to hit publish button u

[2016-11-18 02:37] horsburgh commented on #1608
@hyi - I don't disagree at all. But the fact that this has happened now twice in the same week (that we know of) leads me to believe that something else needs to be done. Yes - I think that if either of these users had read the message carefully they might not have made the mistake, but I think there's also some misunderstanding among new users about what "publish" means - this is my attempt to tr

[2016-11-18 04:43] pkdash commented on #299
@yirugi Yes, there is one for changing the sharing status from private to public. If you are using hs_restclient use the ```setAccessRules()``` function.  If you want use the REST endpoint directly here is the rest endpoint for that which you need to use with a PUT request:

hydroshare.org/hsapi/resource/accessRules/{pid}/

user resource short_id for pid in the above REST endpoint.

[2016-11-18 05:28] pkdash commented on #1606
@jsadler2 Would you check the form action attribute as soon as the page reloads. My guess is some javascript might be resetting the action attribute when some other metadata elements get updated. If that's not the case we may be able to debug the output html for this modal form in the page_preproccessors.py.

[2016-11-18 05:43] pkdash commented on #1608
@horsburgh Would an approval process be better? Where the user makes a request to publish at that  point the resource gets locked from editing. Then when a user with admin account approves this  request then only a DOI is issued. Obviously this involves much more work then displaying the new message.

[2016-11-18 06:29] horsburgh commented on #1608
@pkdash - it would be awesome to set up some kind of peer review process for publishing datasets. @dtarb and I discussed this and it seems a bit unsustainable at the moment as an admin would have to look at every publication request and make judgements about them. There's three issues with that:

1. An admin wouldn't have known that these two users were not actually ready to publish. They would on

[2016-11-18 06:36] pkdash commented on #1599
@horsburgh Except the extended metadata (key/value) all other metadata (which user supposed to create)can created using the hs_restclient. Though we have recently modified the resource create REST endpoint to allow key/value metadata, the hs_restclient has not been updated.  Here is an example how to create metadata elements at the time of resource creation:

```>>> from hs_restclient import Hydro

[2016-11-18 06:46] danames opened #1609 "Need a right click menu on files to launch apps"
This is probably a task for @mauriel133. When a user right clicks a file, any apps that have been registered to that file type should appear in a right click "Open With" menu. This should follow the same approach as the current resource level "Open With" menu in terms of formatting a URL string that launches the app with any customized URL string parameters. The only difference is that instead of

[2016-11-18 06:53] danames opened #1610 "Update the App Resource Type to include Registering an App to a specific file extension"
Presently a user can register an App in HydroShare - using HydroShare itself as the App catalog. The current mode allows a user to associate an app with one or more resource types. See below:
![image](https://cloud.githubusercontent.com/assets/3472628/20421371/a8a5e368-ad20-11e6-8099-4f91b4ce9a82.png)

Now we need to add additional functionality to allow an app builder to register to one or more r

[2016-11-18 06:53] shawncrawley commented on #1609
Here is an example URL endpoint for HydroShare GIS that will launch a specific file from within a resource:

https://apps.hydroshare.org/apps/hydroshare-gis/?res_id=74a0ffbcff494cb985b061b3fc14f2f2&res_type=GenericResource&res_fname=UtahLake.jpg

It uses the res_fname parameter. However, I'm leaning more towards changing that parameter to just res_file, instead of res_fname... But for now it is re

[2016-11-18 14:44] alvacouch opened #1611 "SOLR references non-existent BaseResource.rating field"
In testing, SOLR raises log errors about trying to index on BaseResource.rating, which has apparently been deleted. The SOLR schema should omit this field. This is causing whole records not to be indexed in SOLR. Error message:

[code]

[2016-11-18 16:15] yirugi commented on #299
@pkdash @jsadler2 Thank you so much for your helps! I'll close this issue.

[2016-11-18 16:15] #299 closed

[2016-11-18 17:43] danames commented on #1609
Actually in our current model, the app developer can use any variable name they want in the URL string (res_file or res_fname, etc). That is specified by the app developer. The only thing that matters is the variables that are specified in the URL which can include:

${HS_RES_ID}
${HS_RES_TYPE}
now we need to add
${HS_RES_FILE}

For example for SWAT Share the URL is specified like this:
https://my

[2016-11-18 17:59] alvacouch opened #1613 "Development support for data migrations needs serious help"
At present, it is not possible to see printing to stdout during migrations or testing on the docker host. This is necessary to debug migrations and tests.

[2016-11-18 19:29] alvacouch commented on #1613
In the case of testing, I have determined that `nosetests` is running the `Capture `plugin that doesn't print `stdout` unless there is an error. The` nosetests `option `--nocapture` turns this off and exposes printouts. I don't know what to change to make this happen, though.

[2016-11-18 21:44] horsburgh commented on #1519
@pkdash - In testing time series resources I found a couple of things that I think could be better. They shouldn't hold up this getting merged or deployed, but I'm noting them here as I think they could be easy fixes:

1. The message that pops up and states that the "SQLite file is out of sync with metadata changes" should read as follows:

"The SQLite file is out of sync with metadata changes. Ac

[2016-11-18 22:03] mjstealey commented on #1595
tested on beta

[2016-11-18 22:03] #1595 closed

[2016-11-18 23:00] gantian127 opened #1615 "Failed to create citation information for new resource"
When the creator name includes characters which can't be encoded by ascii, the resource landing page can't be opened because the resource citation can't be correctly generated.

![image](https://cloud.githubusercontent.com/assets/5016511/20449653/f0946884-ada7-11e6-985f-c3c0f6a85e57.png)
![image](https://cloud.githubusercontent.com/assets/5016511/20449658/f40ddb80-ada7-11e6-9e75-362274d64747.png)

[2016-11-18 23:29] dtarb opened #1616 "Repeated permissions"
In a resource that was shared with me I found the following permissions.

@alvacouch the system is not supposed to allow me to have both view and edit permissions at the same time.  @mauriel133 could this be a front end problem.  I am not sure how this came about and this was created by a user with the geohack group (I think).

![capture](https://cloud.githubusercontent.com/assets/3456833/20450146

[2016-11-19 01:05] mauriel133 commented on #1616
@pkdash, this looks like an issue while populating the context variables used to render the list.

[2016-11-19 03:45] fryarludwig commented on #1599
@pkdash After adding "metadata" to the "createResource" function in hs_restClient, I was able to use your example to reliably add metadata for spatial, temporal, agency, and creator (I haven't tried contributors yet). Is this same format required for PUT requests to the scimeta endpoint?

[2016-11-19 05:41] pkdash commented on #1613
@alvacouch In seetings.py you can try adding this line:

```NOSE_ARGS = ['--nocapture']```

[2016-11-19 05:48] pkdash commented on #1599
@fryarludwig The scimeta PUT endpoint does not take json data. It needs the xml file that you have been trying. When we have REST endpoint for adding/updating individual metadata elements, we should be able to pass json data similar to how we are using the ```metadata``` parameter in create resource.

[2016-11-19 06:11] pkdash commented on #1616
@mauriel133 I can do additional checks/filtering for the relevant context variables. But I think @alvacouch 's  pending PR #1576 should fix this issue.

[2016-11-19 11:25] alvacouch commented on #1616
PR #1576 doesn't fix the issue. It makes the issue **impossible at the database level.** This doesn't mean it is not possible at the UI level for multiple reasons.

@mauriel133 We need to collaborate on one very sticky issue that requires changes in both access control and the UI. The routines (can_)?undo_share_* must be **deleted from access control.** In the new scheme they do **erroneous and di

[2016-11-19 11:39] alvacouch commented on #1591
@mauriel133 @dtarb
I have repaired most of the problems in PR #1576. There is only one remaining problem: the general routines (can_)?undo_share_* need to be deleted from access control. These allow a grantor to revoke a grant. This in essence gives grantors owner-like privilege in the new scheme, because **the grantor changes when access is upgraded. ** Consider the following worst cast scenario.

[2016-11-19 13:35] alvacouch commented on #1613
On the issue of writing data migrations, I had severe problems with the suggestion that I use the production database. This worked, but broke everything else:

1. I couldn't print during a migration.
2. I couldn't attach to the hydroshare docker instance. Attempts to attach simply hung. Therefore:
3. I couldn't store output in a file I could read, or a log I could read.

So, I could test the migra

[2016-11-19 14:01] mjstealey commented on #1613
@alvacouch - you could pipe the [migration output](https://github.com/hydroshare/hydroshare/blob/develop/hsctl#L232-L240) of the hsctl script to a file locally.

Adding `> migrate` or `>> migrate` to the 3 lines shown below should make finding the migration output easier.

[code]

[2016-11-19 16:30] alvacouch commented on #1613
@pkdash The NOSE_ARGS option worked for nose. Thanks. Will try the other option later.

[2016-11-19 18:34] pkdash commented on #1616
@alvacouch I thought the data migration as part of #1576 deletes those multiple privileges over the same object.

[2016-11-19 18:50] pkdash commented on #1519
@horsburgh

The above is general problem with any resource type. @mauriel133 Can easily fix it.

[2016-11-19 19:09] pkdash opened #1618 "Resource type specific restrictions for file and folder operations need to be implemented at the back-end level"
Presently these restrictions are implemented at the front-end level only.

[2016-11-19 20:58] alvacouch commented on #1618
@pkdash Please be more specific. Obviously, the REST API will have to embody these restrictions. Are you saying that the primitive API requests upon which the REST API is based should understand the limitations, or should the REST API understand the limitations?

[2016-11-19 21:03] alvacouch commented on #1613
@mjstealey your fix doesn't work. The printing is somehow being stopped before that point. The input doesn't contain the printing, so that redirecting it doesn't do anything.

[2016-11-19 22:51] pkdash commented on #1618
@alvacouch The primitive APIs should understand these limitations.

[2016-11-19 23:16] mjstealey commented on #1613
@alvacouch - running with develop branch on production db I get the following output. If there were to be an error it would have printed out here, but the migration was clean.

[code]

I can look at your branch and see what I get locally.

There may be one more thing to modify on your side, and that is the UID/GID settings.
By default, these are set to the hydro user UID=1000, GID=1000 that it is

[2016-11-20 13:43] alvacouch commented on #1616
@pkdash The data migration does eliminate duplicates, but **there are other potential causes of duplicates than data.** Thus I cannot be absolutely sure that this will address the issue completely.

[2016-11-20 14:33] #1585 closed

[2016-11-20 15:21] alvacouch commented on #1618
@pkdash Please note that some of my REST code intentionally bypasses the primitive APIs -- because it can -- and this limits the amount of coding I have to do, sometimes substantively. Limitations are instead coded directly into REST as overrides of generic Django REST class methods. This is especially true when the primitive API deals with a Django object instead of a file... but it is also poten

[2016-11-20 15:40] alvacouch commented on #1613
@mjstealey My hydro user and group in my own dev environment are 1000,1000 like yours.

But I've been using a dev environment built according to your instructions rather than the VM environment, and my dev environment is also seriously screwed up in some way. I now cannot attach to any container regardless of whether I am running the default or production database. This might be related to the pri

[2016-11-20 17:12] pkdash commented on #1618
@alvacouch

Can you point me to some Django documentation to the above?

[2016-11-20 17:21] pkdash commented on #1616
@alvacouch If the problem doesn't go away with this data migration, I would assume the problem is either in the view function code or in the access control api function that the view function relies upon. In that case I can fix it.

[2016-11-21 14:33] dtarb commented on #1607
I suggest we institute a procedure where when a user clicks publish we
1.  Ask them whether they are sure they want to publish it using the wording Jeff wrote above.
2.  Indicate that it will sit as publication pending for a week, and then the DOI will be registered.
3.  Email all parties (authors, contributors, owners) for which HydroShare has email that this resource is being published.
4.  Have

[2016-11-21 15:06] hyi commented on #1607
@ChristinaB I have removed published status for these two resources and changed them to be private for now. You can ask the author Sarah Jenkins to check them and do whatever she needs with these two resources now.

[2016-11-21 15:44] mjstealey commented on #1587
updated Dockerfile is pushed to [PR 1614](https://github.com/hydroshare/hydroshare/pull/1614/files)

[2016-11-21 15:44] #1587 closed

[2016-11-21 15:44] mjstealey commented on #1497
merged into master branch

[2016-11-21 15:44] #1497 closed

[2016-11-21 15:47] mjstealey opened #1620 "Release Notes - 1.9.0"
TBD

Reference items from #1519 for review

[2016-11-21 15:48] mjstealey commented on #1519
Remaining fixes should be added as new issues and assigned to [AGU milestone](https://github.com/hydroshare/hydroshare/milestone/14)

Reference to #1620 for follow up

[2016-11-21 15:48] #1519 closed

[2016-11-21 15:49] mjstealey commented on #1498
Jumping straight to 1.9.0

[2016-11-21 15:49] #1498 closed

[2016-11-21 15:50] horsburgh commented on #1607
@dtarb - I created a new issue last week for the revised data publication workflow. See #1608. I suggest we address your 5 steps there. Can you review what I put in #1608 and make sure it covers what we discussed?

@ChristinaB - since these resources have been published, and we are now "unpublishing" them, they need to be deleted and re-created if you ever want to publish them again. The process o

[2016-11-22 17:02] alvacouch opened #1622 "Transfer of group privilege to user that persists if group privilege is revoked"
@dtarb @pkdash @mauriel133 There remains after PR #1576 a confusing behavior in the access control system that showed up in tests. Access granting at the User level is tempered by existing access privilege at both Group and User levels. Thus the following curious behavior is possible:

1. Another user puts user Garfield in group Cats.
2. Another user shares resource CatFood with Cats at CHANGE pri

[2016-11-22 23:02] hyi opened #1624 "No content files are displayed (getting spinning wheels forever) for some resources on www"
One example of such resources is https://www.hydroshare.org/resource/89e4e1e18f3746fc936d7185baf6f76e/ I see a spinning wheels forever without displaying content files for the resource, however, the same resource displays as expected on beta https://beta.hydroshare.org/resource/89e4e1e18f3746fc936d7185baf6f76e/. Not sure why it works on beta but not on www.

[2016-11-23 00:09] horsburgh commented on #1624
@hyi - I just clicked on both of these links and they both worked for me.

[2016-11-23 01:56] hyi commented on #1624
@horsburgh Just tried on my home computer, and yes, both links works as expected. Not sure what is going on with my computer at work, I even tried both firefox and chrome browsers and got the same spinning wheel without content files on both browsers, perhaps some kind of caching issues. Whew...I am glad to close this issue now.

[2016-11-23 01:57] #1624 closed

[2016-11-23 04:51] pkdash commented on #1622
@alvacouch The access control policies are too complicated for me. After reading all your examples above few times I am not sure I understand the issue that you want to resolve. Probably I need a whiteboard.

[2016-11-23 12:58] alvacouch commented on #1622
@pkdash Let me make it simpler.

1. Should a user who is granted a group privilege be able to set individual privileges for others based upon that privilege? In other words, can one set individual privileges that persist even if group privilege is revoked?
2. If the answer to that is "yes" -- and it is currently "yes" -- then should that same policy apply to self-privilege? Should I be able to giv

[2016-11-23 13:28] alvacouch commented on #1622
@pkdash (I already implemented a version of the revised semantics in the previous comment, but threw it away because I didn't know what it would do to the UI. Then I realized that it was symptomatic of a deeper problem. I still have the code in a local branch.)

[2016-11-23 13:36] alvacouch commented on #1622
As an aside, provenance-based revocation is a bit more extreme. Suppose that I am a "Bad Person" and grant all kinds of inappropriate privileges to people -- essentially turning any local privilege into a global privilege -- sort of like a HydroShare version of WikiLeaks. The system remembers what I have done, and could potentially revoke all privileges that I granted by reference to the Grantor f

[2016-11-23 14:48] dtarb commented on #1608
I think the steps @horsburgh recorded from our conversations are spot on.  Number 1 does need to be implemented with high priority because despite us having the word final in bold, users are not noticing or understanding it.  One of the users thought that the wording "changes can only be made on a new version" that followed final, did allow for changes.  The subtleties of versions are unclear to u

[2016-11-23 15:05] dtarb opened #1625 "Clarify versioning wording"
Right now when a user creates a new version of a resource, the message says:

I think the statement "Only one newer version ..." is confusing.  A user can create a new version, then create a new version of the new version and so on as many times as they want.  Technically I know we are thinking of only one version of a specific resource because the new version is technically a different resource.

[2016-11-23 16:06] horsburgh commented on #1625
@dtarb - clarifying text is good. Given our most recent experience, however, I have little confidence that users will read a block of text this long. I suggest shortening the text on this dialog and then adding a link to the help page that describes the details of versioning.

[2016-11-23 16:51] horsburgh commented on #1608
@dtarb - I added a modified version of your text to the help page that describes formal resource publication.

[2016-11-23 16:57] horsburgh commented on #1625
@dtarb - I enhanced the text on the Help page describing resource versioning with a modified version of your above text.

[2016-11-23 18:00] alvacouch commented on #1599
@fryarludwig @pkdash @horsburgh
OK, I understand what the issues are. We'll give priority as specified above. I propose that we implement a new endpoint resource/{resource_id}/scimeta/elements for whom:
* PUT will do partial updates of metadata.
* GET will read all editable metadata (currently limited to the Dublin Core)
This pattern can be applied to other piecemeal edits and will retain the curr

[2016-11-23 18:35] ChristinaB opened #1626 "National Water Model Upload to HydroShare: Broken"
@danames
We need a NWM demo for AGU that launches from the App page.  The final step of uploading the work back to HydroShare needs testing.  Here is an example of how I broke it on a first attempt to make it work:
![image](https://cloud.githubusercontent.com/assets/4108369/20574281/8dc996e2-b168-11e6-8ca4-ee97e46fb7f6.png)

[2016-11-23 18:36] ChristinaB commented on #1626
here's the setup.  It hangs when you click on 'Add to Hydroshare'

[2016-11-23 18:50] ChristinaB opened #1627 "USGS and AHPS Gaugeviewer: Confusing forecast location and Gateway message errors - but it did create a new resource"
@danames -  please also include Jim. Is he on Github?

To build a demo for AGU, we need a few polished workflows.
Here was my test.
![image](https://cloud.githubusercontent.com/assets/4108369/20574626/49aa8938-b16a-11e6-841c-620e397286e7.png)

First issue is that I'm not sure why the forecast is in the middle.

I love that the New resource content is autofilled!!!   And it did work, but gave me th

[2016-11-23 18:53] pkdash commented on #1622
@alvacouch I would not use 'provenance' information in code logic if possible. Provenance should be used only for historical information tracking. Otherwise, I fear the access control code is going to be more complex.

I was wondering if the following would resolve the issue above (and probably make access control system much simpler) and without too much of policy changes as it relates to access

[2016-11-23 19:02] gantian127 opened #1628 "Can't create netCDF resource using iRODS user zone file"
I tried to create the netCDF resource on www site using the file from iRODS user zone and got the following error. Different files are tried and have the same error. @hyi would you please help to have look at this issue? Thanks

![image](https://cloud.githubusercontent.com/assets/5016511/20574977/75aa62ce-b174-11e6-84fa-969081c6fd89.png)

[2016-11-23 19:21] pkdash commented on #1477
@hyi and @alvacouch
The current strategy of regenerating the xml metadata files every time we update any of the metadata elements or do any CRUD operation on resource content files is going to be a big problem with the Composite Resource type in which all different file types have their own metadata. This is the same problem that Alva recently discovered as it relates to updating individual metada

[2016-11-23 19:23] hyi commented on #1628
@gantian127 I discovered this issue while writing and testing federated user zone unit tests and have fixed this issue along with several other issues related to federated user zone in that branch. This PR https://github.com/hydroshare/hydroshare/pull/1623 will fix this bug along with several other bugs. It'd be great if you, @pkdash and @zhiyuli can code review that PR whenever you have a chance

[2016-11-23 19:25] gantian127 commented on #1628
@hyi Thanks for your information. I will look at the code of branch #1623.

[2016-11-23 19:28] hyi commented on #1477
@pkdash The changes you outlined above to be made sounds good and should work.

[2016-11-23 21:02] jsadler2 commented on #855
I've made some progress on this. There are still some things to do:

- [ ] Write unit tests
- [ ] Automatically populate form when a HydroShare Group is selected

There are somethings we need feedback on:
- @dtarb @horsburgh How should we deal with organization/person combinations. Right now, if an organization is the first author (by 'organization' I mean that the 'name' field is null but the 'or

[2016-11-23 21:47] dtarb commented on #855
If the author is a person whether or not their organization field is filled out does not matter for the citation.  The citation just lists their name (as is common bibliographic practice).

I think we should allow people/organization combinations.

I am puzzled by  your statement that if an organization is the first author, none of the people are listed.  If creator/author records have been writte

[2016-11-23 21:54] dtarb commented on #1625
I think it is good to have this text on the help page and in full on the interface message where a user sees it.  Unless someone wants to suggest wording improvements, lets go with the text I wrote.

[2016-11-23 23:12] alvacouch commented on #1477
@pkdash This approach solves bagging but does not solve the use case where someone updates metadata and then downloads sciencemetadata.xml expecting changes to be present ... we also have to regenerate the file before any scimeta file download.  It will be common for apps to avoid bagging and download individual files. However, at present, I plan to satisfy individual element queries direct from d

[2016-11-23 23:26] pkdash commented on #1477
@alvacouch See item#3.

[2016-11-24 17:13] alvacouch commented on #1622
@pkdash @dtarb This is trivial to accomplish (< 1 day, including revising tests). It does not require any migration; just a minor rewrite of the logic in `(can_)?_share_*_with_user`. I've already essentially written the logic for the other possibilities; a small tweak is all that is required.

My question is whether it is flexible and powerful enough, and whether it is **socially** robust. The abi

[2016-11-24 20:13] alvacouch commented on #1477
That should work...

[2016-11-25 13:36] alvacouch commented on #1622
@dtarb @pkdash @mauriel133  If everyone agrees that group-to-group sharing is a reasonable social trajectory, I am prepared to resolve the current issue according to @pkdash 's recommendations in PR #1576 (in an hour or two) and then proceed with implementing the Group-to-Group sharing on the backend after AGU (< 1 week for fully tested back-end).

The only downside of the above proposal is that i

[2016-11-25 14:18] alvacouch commented on #1495
@pkdash Exactly why do we need the `LogicalFile` object to be separate from `ResourceFile`? Is it because a LogicalFile can refer to a reference instead of a physical file?

[2016-11-25 14:42] alvacouch commented on #1495
@hyi @pkdash There are now multiple points of truth for deleting a file: hs_core/hydroshare/resource.py and hs_core/views/utils.py The one in hs_core/hydroshare/resource.py is definitive, currently in use, and does more. The one in hs_core/views/utils.py does not emit a necessary pre-delete signal, and is redundant.

@pkdash **Could you please update `hs_core/hydroshare/resource.py`: `delete_resou

[2016-11-25 16:42] pkdash commented on #1495
@alvacouch

Since a specific file type can have more than one physical file (ResourceFile), the LogicalFile allows us  to refer to more than one physical file. The file type metadata is part of the LogicalFile and not part of any specific physical file. By having a LogicalFile  all business logic specific to a file type is implemented as part of the LogicalFile.

[2016-11-25 16:48] pkdash commented on #1495
@alvacouch

My PR on raster file type already addressed the above needed changes.

[2016-11-25 18:57] alvacouch opened #1629 "folder deletion code does not delete type-specific resource metadata from Django"
@hyi @pkdash @dtarb

I noticed a difference between the delete file routine (`hs_core.hydroshare.resource.delete_file`) and the delete folder routine ('hs_core.views.utils.remove_folder`) because the former contains a call to send the pre_delete_file_from_resource signal to Django:

https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/resource.py#L1013

I did some research and

[2016-11-25 18:59] alvacouch commented on #1495
See issue #1629

[2016-11-25 20:31] pkdash commented on #1495
The composite resource type does not use ```pre_file_delete``` signal. As part of the ```remove_irods_folder_in_django``` function the LogicalFile objects are deleted prior to deleting the associated ResourceFile objects. The deleting of LogicalFile object deletes associated file type metadata.

[2016-11-26 13:27] alvacouch commented on #1495
That still leaves me with the problem of the other resource types that do use the signal to delete metadata in auxiliary tables.

[2016-11-27 13:57] alvacouch opened #1630 "flake8 does not understand unicode or basestring types"
Flake8 flags the use of a unicode or basestring type as an error. The system utilizes an underlying type of unicode for many resource metadata strings. Thus, editing functions for strings cannot be type-checked without failing to pass flake8. In particular:
```isinstance(thing, basestring)```
and
```isinstance(thing, unicode)```
are perfectly reasonable python that **are flagged by flake8 as progr

[2016-11-27 16:25] alvacouch opened #1631 "Owner shares of resources should not override user shares of same privilege"
@dtarb There has been a general discussion between myself and @pkdash about whether sharing requests that do not result in a change of permission should be accepted or raise an exception. At present:

1. Owner shares that set the same privilege as before are accepted and change the grantor of privilege to the owner, even though there is no change in actual privilege. Thus, "owner shares are idempo

[2016-11-27 17:00] alvacouch commented on #1622
I have implemented the changes in PR #1576 to limit user sharing to user privileges over a resource, as discussed above by @pkdash . I think this is the best option.

[2016-11-28 02:45] dtarb commented on #1622
@alvacouch  asked me to comment on the questions here.

I am not in the camp of turning off capability based on whether access is directly or via a group.

I think we should hold to the following concepts

1.  The capability to do something should not be different if one has a privilege through a group.

2.  Group and user permissions when a user belongs to a group do not interfere.

3.  An action

[2016-11-28 04:32] dtarb commented on #1631
I could go either way on this one and am happy to leave it to after AGU

[2016-11-28 12:22] alvacouch commented on #1622
@dtarb @pkdash I think there is sufficient evidence from this that I should not limit group function that I am going to undo the changes to PR #1576 related to this matter. It's too close to AGU and I don't want to break the UI at this late date. After all, **I intended PR #1576 as a semantics-preserving update.** It just happened that I discovered inconsistencies based upon looking at the code ag

[2016-11-28 12:58] alvacouch commented on #1622
OK, so here's what I think we should do based upon this discussion, in total. There is one anomaly in the present sharing system: one cannot currently reshare something individually that was shared already via a group, at the same privilege.

Example of this anomaly:

* Morris shares CatFood with group Cats as CHANGE.
* Morris puts Sylvester into group Cats.

In the current implementation, this fa

[2016-11-28 14:18] alvacouch opened #1632 "Refining group capabilities"
@dtarb @horsburgh @mauriel133
Issue #1622 discussion led to an interesting possibility for groups that might -- indeed -- be very useful and is fairly easy to implement. The basic concept is that we can rather easily enable exchange of "held resources" between groups. The fundamental concept is to "share held resources from group1 with group2".

Consider the following use case:

1. We have 5 unive

[2016-11-28 14:56] hyi commented on #1629
@alvacouch @pkdash @dtarb This ```remove_irods_folder_in_django``` method is an internal method (i.e., not an API and not intended to be used externally) which is only used by ```remove_folder``` in ```hs_core/views/utils.py```. This ```remove_folder``` method is intended for use by internal API as well as external REST API. Currently, the resource types that respond to pre_delete_file_from_resour

[2016-11-28 15:08] alvacouch commented on #1632
It is also possible to implement the assertion that “members of group A are also members of group B”.

* This is a very different assertion than “resources of group A are visible to group B”.
* This is also not recursive, and is not a matter of “making a group a member”.  In other words, If "members of A are members of B", and "members of B are members of C", then this does not mean that "members

[2016-11-28 15:12] alvacouch commented on #1632
The basic idea also makes sense for users, in the sense that "share all resources held by user A with user B" requires the same logic.

[2016-11-28 15:49] pkdash commented on #1629
@hyi

I don't see in the backend any resource type preventing folder operations.

[2016-11-28 15:59] hyi commented on #1629
@pkdash I believe it is enforced in the front end only by @mauriel133 according to the list for all resource types for the folder-related operations as decided by the team. There is no back-end code added to prevent this right now, and probably should be added in the view functions. I think for REST API functions that call these folder-related functions, the enforcement to prevent folder operation

[2016-11-28 16:33] danames commented on #1534
These help pages are looking really good. Styling is fairly clean. Info is easy to find. It's sort of weird that the question you click on doesn't match the title of the help page it goes to, but I can get used to that.

[2016-11-28 16:35] hyi commented on #1618
@alvacouch Here is the link you can refer to when implementing the rule enforcement in backend in the same way as done for the UI: https://docs.google.com/spreadsheets/d/1tc-6tIq_YkJpa2CGj5tAEHMaLOZV2i3W10lokBCJAn0/edit#gid=0

[2016-11-28 16:41] pkdash commented on #1618
@hyi and @alvacouch

The folder operations should not be checked whether it is allowed or not at the backend the way the UI checks. I am guessing it has to be done using signals. For composite resource type, I am using a signal to validate what folder/file move/rename is allowed. This signal is fired from the move_or_rename_file_or_folder() prior to taking the actual action. Remember this also nee

[2016-11-28 16:44] alvacouch commented on #1618
I am for making the actual limits as explicit as possible in the proxy classes. E.g.,

@property
def supports_folders(self):
    return True

The default would be False.

[2016-11-28 16:54] pkdash commented on #1618
@alvacouch
This is the way I am doing in file type (LogicalFile) by defining these type of properties.

[2016-11-28 18:14] hyi commented on #1602
The PR that fixed this issue has been merged for 1.8 deploy and has been verified by @pkdash. So I am closing this issue now.

[2016-11-28 18:14] #1602 closed

[2016-11-28 18:23] hyi commented on #1608
@dtarb @horsburgh I can modify the messaging on the pre-publish dialog as stated by @horsburgh as follows:
[code]
for AGU release. The rest of potential publication workflow improvement can be deferred later. Let me know if you want to make any further modifications to the messaging above slated for the AGU release.

[2016-11-28 18:28] horsburgh commented on #1608
@hyi - I think the language of the message is good. Don't forget the bolded words!

Agreed that the rest of the modifications can wait until after AGU.

[2016-11-28 19:13] hyi commented on #1608
@horsburgh Here is the new/updated popup dialog after the user hits the publish icon:
![res_pub](https://cloud.githubusercontent.com/assets/476302/20682128/b107833e-b574-11e6-8c98-3e6767714ee1.png)
Does this look good to you? Any further modifications needed?

[2016-11-28 19:17] alvacouch commented on #1618
@pkdash See the documentation on the Django "Client" library, which invokes a REST call without REST overhead. This is the call that is used to replace internal functions with REST functions, among other things. It completely bypasses the actual REST mechanics, and is thus suitably fast.

[2016-11-28 19:27] hyi commented on #1625
@dtarb The new/updated versioning dialog looks like the following:
![res_pub](https://cloud.githubusercontent.com/assets/476302/20682590/95f45886-b576-11e6-9cc8-6a3e0429edd9.png)
Let me know if this looks good to you or not. If it looks good, I will create a PR and then merge it without code review since the only change is the wording change on the dialog.

[2016-11-28 19:34] horsburgh commented on #1608
@hyi - sorry if I was unclear.  I think we should keep the existing form as it was. Then, when the user clicks the "Publish" button, a second warning dialog opens up with the new message.

The issue was that the user did not read the existing form, so adding more text to that form is not going to help the problem.  This second dialog is basically an "Are you sure you are sure" type of confirmation

[2016-11-28 19:37] hyi commented on #1608
@horsburgh OK. Got it. Will implement this accordingly then as an "Are you sure you are sure" type of confirmation to add in another layer of protection for users to bail out if needed.

[2016-11-28 19:56] horsburgh commented on #1554
@ChristinaB and @jtpollak - Muriel implemented a set of changes to address this issue. It is deployed as I showed @ChristinaB on the phone at http://testservices.hydroshare.org.  I'm going to have him submit a pull request to get these changes integrated.

[2016-11-28 20:28] ChristinaB commented on #1554
1. I like the landing page update.
2. I'm good with 'Share and Collaborate'  for a tagline.
3. For the autofill- Google tagline, it still just says HydroShare   HydroShare

![image](https://cloud.githubusercontent.com/assets/4108369/20684721/10523e24-b566-11e6-939a-edbbb2089ce7.png)

[2016-11-28 20:32] mauriel133 commented on #1554
I can update the autofill. Is 'Share and Collaborate' what should show up?

[2016-11-28 20:41] horsburgh commented on #1554
@ChristinaB - For Number 2 and 3, Google uses the "Title" element from the HTML page. Right now, this is set to " | HydroShare"

@mauriel133 is it possible to change the title element to " | Share and Collaborate"?

[2016-11-28 20:42] mauriel133 commented on #1554
@horsburgh, yes. I can change the title accordingly to what we decide.

[2016-11-28 20:44] ChristinaB commented on #1534
1.  Nice work!! Thanks @horsburgh and @mauriel133 !
2. The search box at the top has a drop down box with options Pages, Blog Posts, and Everything.  I think 'everything' can stay, but I think the users will be confused what 'pages' refers to, and we don't have 'blogposts'.    I think this requires a bigger conversation with @alvacouch about what is searchable from the help pages (resources?), but

[2016-11-28 21:36] hyi commented on #1608
@horsburgh @dtarb I have made corresponding changes to add another layer of "Are you sure you are sure" type of confirmation for resource publication and deployed it to riverdev.hydroshare.org for you to take a look. If you think it looks good, I will create a PR and merge it. Let me know.

[2016-11-28 21:38] hyi commented on #1625
@horsburgh @dtarb I have made corresponding changes for versioning changes and deployed it to riverdev.hydroshare.org for you to take a look. Both versioning wording change and publication message change are included and deployed on riverdev for you to take a look. If you think it looks good, I will create a PR and merge it. Let me know.

[2016-11-28 22:03] horsburgh commented on #1534
@ChristinaB - some responses below:

**Related to 2**: I would be OK with just getting rid of the drop down box next to the search. I don't think we need @alvacouch 's help here. The search box is only related to the help system and will only return results within the content from the help pages. It is not designed to return resources or any content other than what is in the help pages.

**Related

[2016-11-29 16:09] alvacouch commented on #1630
@mjstealey I think it might be time to upgrade flake8 to current version.

[2016-11-29 16:14] alvacouch opened #1634 "add autopep8 to dev environment"
Would be nice to have autopep8 installed in dev environment. It works and makes code pass flake8.

[2016-11-29 16:30] alvacouch commented on #1618
@pkdash @dtarb @mauriel133 @horsburgh
This is going to be a general theme in all REST programming in hs_core. Much of the application logic is encoded at the UI level. This is not limited to folders. The key problem is that **the resource models have no concept of capabilities of each kind of resource**, in the sense that things that should not be possible -- or should be possible -- are documente

[2016-11-29 16:49] danames opened #1635 ""Web App" needs a space (not "WebApp")"
On the open web app button there needs to be a space:

![image](https://cloud.githubusercontent.com/assets/3472628/20719429/1836b5f8-b619-11e6-9d5d-74611fdb5fe7.png)

[2016-11-29 16:53] mohamedmorsy commented on #855
@dtarb @horsburgh @goodalljl @jsadler2  the latest citation work has been deployed on testservices.hydroshare.org for test purposes.

[2016-11-29 17:16] Lizabrazil opened #1636 "JupyterHub-NCSA app broken"
When i open the JupyterHub-NCSA app i get this server error. My server is working successfully for other apps...
This app should be put on dev before AGU.
![app broken](https://cloud.githubusercontent.com/assets/13852599/20720519/6ddefab0-b62d-11e6-83c4-2e9cf10db6cf.JPG)

[2016-11-29 18:17] Lizabrazil opened #1637 "R script resource shows open with Hydroshare GIS app as option"
HydroShare GIS is showing as an app option for an R script resource. When i chose open with Hydroshare GIS app, the app has no functionality for an R script.
Need to make the distinction of whether the app can handle the resource type.
Tested with resource: http://www.hydroshare.org/resource/de66f7c5b0e3470eb3423070e72d9959

[2016-11-29 19:08] Lizabrazil opened #1638 "Worldwater app directs to a website...not an app"
This resource: brazil, l. (2016). Onion Terrain Analysis Start, HydroShare, http://www.hydroshare.org/resource/c19c2b0f57de443e999824c4d95456e1
has open with the worldwater app as an option. When I click to open worldwater app, i get redirected to this website: http://worldwater.byu.edu/app/index.php/yellowstone/home
This should either be redirected to app within that website or it should be put o

[2016-11-29 19:15] alvacouch opened #1639 "Improvements to IRODS API"
**Note: this is in error as stated below.**

@hyi @pkdash @dtarb
Much of the code for folders currently only works in iRODS, while the developers are mostly working in systems without iRODS. Thus using this code without change will **break the local development environment** even if it works in production. The fact that we need to run in local storage as well as iRODS means that we need a common s

[2016-11-29 19:29] hyi commented on #1639
@alvacouch @pkdash @dtarb @mjstealey I am looping @mjstealey in for more details as needed but I can confirm that all developers work in their local development environments with iRODS as backend. It is set up in local_settings.py with default hsproxy iRODS user account and @mjstealey has scripts to clean up iRODS backend regularly set up in Jenkins. So iRODS backend storage is the only storage ba

[2016-11-29 19:31] alvacouch commented on #1639
What exactly am I binding to when I run a local instance? Does it make up a new iRODS instance?

[2016-11-29 19:35] hyi commented on #1639
@alvacouch If you don't run local irods docker containers by going to ```irods``` sub-directory and run the script to bring up irods docker containers in your local development environment, you are bound to a default hsproxy iRODS account in hydroshare test iRODS zone as set up in local_settings.py. So in your local development environment, you can either use the default hsproxy iRODS account set

[2016-11-29 19:37] alvacouch commented on #1639
I am currently having a lot of trouble getting that running, even on the develop branch. @mjstealey has been contacted already.

Meanwhile, another basic question I have is why iRODS specific code is spread out in several files rather than being in a specific filesystem API?

[2016-11-29 19:51] hyi commented on #1639
@alvacouch @pkdash @dtarb @mjstealey Agreed IrodsStorage class has more methods that required as a sub-class of django ```Storage``` class, however, those methods are all storage-related and could be justified to stay there. Agreed it'd be more convenient to bring it into HydroShare repo rather than as a submodule, but will defer that action to @mjstealey. Most iRODS-related code I am aware of in

[2016-11-29 19:54] Lizabrazil opened #1640 "National Water Model Data Explorer...is not technically an app"
If we are trying to stay consistent with the idea that apps are tools that operate on resources, the National Water Model Data Explorer should be moved to dev before AGU. As far as I can tell, this is a data access tool..?

[2016-11-29 20:01] alvacouch commented on #1639
What I want to do soon is to ensure that the iRODS code is in one place. I found the following:

[code]
... in `./hs_core/views/__init__.py`

[code]
... in `./hs_core/views/utils.py`

[code]
... in `./hs_core/hydroshare/utils.py`

These really need to be API calls. I don't suggest putting them into IrodsStorage, but rather, into a subclass HydroIrodsStorage, because there is a small chance of name

[2016-11-29 20:03] alvacouch commented on #1639
I also need to **extend** this functionality and need to be able to be sure that I am not duplicating something, and other people need to be able to find what I wrote.

[2016-11-29 20:04] Lizabrazil opened #1641 "USGS and AHPS Gaugeviewer WML broken"
Following the instructions, I cannot successfully view data for gauge of interest. I zoom in as much as possible and click on a gauge and nothing happens. This app should be moved to dev before AGU.
![gaugeviewer broken](https://cloud.githubusercontent.com/assets/13852599/20726821/1f339976-b645-11e6-8898-42a1fb3e1711.JPG)

[2016-11-29 20:18] alvacouch commented on #1639
Also consider the following code:
[code]
... in `./hs_core/models.py`

[code]
... in `./hs_core/hydroshare/utils.py`

[2016-11-29 20:19] hyi commented on #1639
@alvacouch The irods session runCmd calls in ```hs_core/views/__init__.py``` in ```get_file()``` method has been there since the beginning when I started to work on HydroShare and I don't think that method is ever used in our codebase. I suggest to remove that method since it is not used and we already have corresponding API method ```getFile()``` in IrodsStorage class. For other direct calls in v

[2016-11-29 20:24] hyi commented on #1639
@alvacouch The leftover ```DefaultStorage```-related code can be removed now that we don't use it at all since USE_IRODS setting is always set to True.

[2016-11-29 20:24] alvacouch commented on #1639
That code is what led me to believe that DefaultStorage was still being used! So perhaps it would be good to get rid of it!

[2016-11-29 20:26] hyi commented on #1639
@alvacouch Agreed, now that you are at it, you can safely remove it I believe.

[2016-11-29 20:31] hyi commented on #1639
@alvacouch Agreed that if A is a subclass of B, then B's names are used in A but A's names are not utilized in B. However, in our case, you are proposing three classes, i.e., A (representing HydroIrodsStorage) is a subclass of B (representing IrodsStorage) which is a subclass of C (representing Storage), right? In this case, C's names will be used in A as well as in B, right? That is why I think m

[2016-11-29 20:36] alvacouch commented on #1639
There is another form of clash. In this kind, in the future Django decides to use a new name, say "foo". We've used that name already. Since methods in Storage refer to method in Storage (and not to methods in IrodsStorage) and since methods in HydroIrodsStorage refer to methods there and above, the only reason that the name clash would mean anything is if we wanted to use the function. Then we co

[2016-11-29 20:57] hyi commented on #1639
I agree it is nice to keep interfacing storage to Django and interfacing storage to HydroShare separate via another layer of subclassing, but I think the risk for name clashing would be the same for both implementation strategies although this potential risk is small. I guess it is always safer to uniquely name our custom methods in subclasses to minimize potential clashing, prefixing is one simpl

[2016-11-29 21:31] shawncrawley commented on #1637
@Lizabrazil Can I get access to that resource for some further testing? As far as I have tested, other Script Resources can, in fact, be opened with HydroShare GIS. Do you mean that HydroShare GIS gives an error when opening it, or that once added as a layer it has no useful functionality? Or do you mean something else entirely?

[2016-11-29 22:16] horsburgh commented on #1637
What exactly would the HydroShare GIS App do when it opens an R Script?

If there isn't any useful functionality, then the HydroShare GIS App shouldn't show up in the list of Apps that can open this type of resource.

[2016-11-29 22:43] shawncrawley commented on #1637
Consider this resource as a prime example of why we wanted Script Resources to be "openable" with HydroShare GIS (choose "Open with.. HydroShare GIS" to see):
https://www.hydroshare.org/resource/56f68cb560df4f65a44fd0d732b6432f/
This is a map project demonstrates the case where there many different resources (of many different types, including a Script resource) that all relate to one main "projec

[2016-11-30 02:22] ChristinaB commented on #1626
Hi @danames  and @dtarb  -  this issue relates to the email that needs to go out to the group on testing Apps so they can be successfully demoed at AGU.  Who and how do these issues get assigned?   Thanks!!

[2016-11-30 02:23] ChristinaB commented on #1627
Hi @danames  and @dtarb  -  this is another issue that needs to be assigned and addressed before AGU.
Thanks!

[2016-11-30 03:18] ChristinaB opened #1642 "Apps: Simple Styling Modifications"
@danames @dtarb
We are big fans of these super awesome Apps, but...
@jphuong and I were looking through the Apps page while making a plan for Help and noticed that there is some CRAP issues.
Contrast:  Too many colors and cognitive load
Repetition:  repeated icons but not clear how they are related
Alignment:  misalignment needs to be squared up
Proximity:  Some grouping is needed.

[2016-11-30 03:19] ChristinaB commented on #1642
Do we want Apps to be something like the landing page and help icon styling? @horsburgh and @mauriel133 have done a lot of thinking on that.

[2016-11-30 06:17] horsburgh commented on #1625
@hyi - the new wording on the create new version dialog looks good to me.

[2016-11-30 06:26] horsburgh commented on #1625
@hyi - by the way, when I created a new version for a resource at riverdev.hydroshare.org, the link to the previous version uses www.hydroshare.org, so that was really confusing to me. When I clicked on it I wanted to see the older version of the resource I just created the newer version for on riverdev.hydroshare.org, but it actually took me to the original resource in www.hydroshare.org instead.

[2016-11-30 06:30] horsburgh commented on #1608
@hyi - the new, second pop up in the publish workflow looks good to me. I didn't actually click the "publish" button on the second pop-up, but the wording looks good.

[2016-11-30 07:06] jphuong commented on #1642
While each app is very much unique, is it possible to group up similar apps, like those that have similar model equations/calculations, output variable, or output file format? Is metadata of this sort captured somewhere?

[2016-11-30 11:46] alvacouch commented on #1639
@hyi If we are using IrodsStorage correctly, it mainly affects file pickers, e.g., FileField and ImageField. Meanwhile, we are using the special methods in IrodsStorage ourselves, but there is no way they would be relevant to FileField or ImageField.  It makes much more sense and is much more clean to specifically tailor IrodsStorage to FileField, and then put the methods we need for our own purpo

[2016-11-30 12:10] alvacouch opened #1643 "Access control __check routines do too much antibugging"
The private routines in hs_access_control/models.py -- including `__check__*` -- do too much type checking. This type checking was intended to help in debugging public routines, and should not be present in private routines. This mainly slows the code down.

[2016-11-30 13:17] alvacouch opened #1644 "UI and REST API need a shared ground truth for application logic"
@pkdash @dtarb @mauriel133 @horsburgh
Issue #1618 demonstrates a design issue that is going to come up repeatedly as we try to complete the REST API. Much of the application logic of HydroShare -- including what can be done to each kind of resource -- is only implemented at the UI level. Though there is a [spreadsheet](https://docs.google.com/spreadsheets/d/1tc-6tIq_YkJpa2CGj5tAEHMaLOZV2i3W10lokBC

[2016-11-30 13:26] alvacouch commented on #1629
@hyi @pkdash This is to be resolved temporarily by prohibiting the folder deletion code for all but the supported resource types, and by assuring that pre-delete signals that clean up local metadata are **not registered for types containing folders**. However, I feel that a more elegant long-term resolution would be to simply **recursively delete contained files before folders, activating pre-dele

[2016-11-30 13:29] alvacouch commented on #1629
I also note here -- and I have mentioned this already to @pkdash -- that some of the existing pre-delete signal handlers are deleting other files that are considered subsidiary to others, thus violating the logical file scheme that @pkdash is implementing for composite resources.

[2016-11-30 13:40] hyi commented on #1625
@horsburgh Thanks for testing. Since we are using www database on a development VM like riverdev, when you create a new version of an existing resource which was initially created on www, the url identifier metadata element in the database points to www.hydroshare.org site which is used to create the link. This explains why you see this behavior when you traverse back to the older version of the r

[2016-11-30 13:50] alvacouch opened #1645 "Django constraints upon resource models are inadequate"
I can't help but notice -- as the closest thing this team has to a DBA -- that the Django models as implemented now do not utilize Django constraints effectively in preventing cruft of various kinds from entering the Django database. Problems include:

1. Use of generic relations and soft links (GenericRelation) rather than hard constraints (ForeignKey, OneToOne, ManyToMany) to link together vario

[2016-11-30 13:52] hyi commented on #1639
@alvacouch I can see the benefit of clean separation in terms of code readability and structure by putting additional helper routines in a subclass of IrodsStorage rather than into subclass IrodsStorage itself, but I view it as a nice-to-have rather than a must-to-have since I can see the argument on the other side as well for simplicity and direct use of instance variable without another layer of

[2016-11-30 13:52] alvacouch commented on #1645
There is another major benefit, which is that native Django management becomes available for the hard links that is not available for the soft links. This includes native view and forms generation for updating links.

[2016-11-30 14:18] alvacouch commented on #1618
@hyi In the [referenced spreadsheet](https://docs.google.com/spreadsheets/d/1tc-6tIq_YkJpa2CGj5tAEHMaLOZV2i3W10lokBCJAn0/edit#gid=0), what do YES(*) and YES(1) mean in the last column?

[2016-11-30 14:30] hyi commented on #1618
@alvacouch I believe YES(*) means the specific resource type allow one or multiple file upload with multiple file upload not in a normal sense. Specifically, raster and feature resource types allows to upload one zip file that contains multiple geotiff files for raster and multiple files for feature, respectively, in which the zip file is unzipped locally and extracted multiple files are added to

[2016-11-30 14:37] alvacouch commented on #1618
@hyi @horsburgh @mauriel133 Another question about the spreadsheet: why would not keeping an extension be allowed?

[2016-11-30 14:39] hyi commented on #1629
@alvacouch I was thinking about whether to do it as you mentioned, i.e., recursively delete contained files before folders, activating pre-delete signals for each file as necessary, when I was initially implementing this delete folder routine, and did not go ahead to do it that way eventually mainly because (1) it would have performance penalties to do it that way (much slower) as opposed to delet

[2016-11-30 14:49] alvacouch commented on #1618
@hyi @horsburgh @mauriel133 At first glance, preventing a resource from being zipped doesn't seem necessary. Why is this done?

[2016-11-30 14:55] hyi commented on #1618
@alvacouch @horsburgh @dtarb The spreadsheet was decided by the whole team. As I remembered, for some specific resource types, zipping is not preferable and they want to disable zipping. For extension renaming, I agree it is risky and probably better not to allow it, but apparently renaming file names are desirable, and it is hard to set up all the rules to determine which extension changes should

[2016-11-30 14:56] mjstealey opened #1647 "Release Notes - 1.9.0"
AGU release notes
- label group deactivation delete
- user name issues
- author names to accommodate organizations
- jupyter notebooks work
- hydroshare his bug fixes
- usage tracking improvements
- federated iRODS unit tests
- help pages improved
- bug fixes and incremental updates

[2016-11-30 15:05] mjstealey commented on #1647
**NOTE**: Must run following post deployment to migrate hs_geo_raster resources already in production:
[code]

[2016-11-30 15:44] alvacouch commented on #1639
@pkdash @hyi @dtarb Unlike many of you, I have an extra responsibility, which is to assure that the code base is ready for production use in Jan at CUASHI. This means that I need to assure that the code is understandable and maintainable by CUAHSI developers. Any complexity that remains **becomes my responsibility to explain**. I consider this refactoring essential for that reason, including:

1.

[2016-11-30 15:49] pkdash commented on #1639
@alvacouch Your proposal for this change seems good to me. After AGU I would also like to take some time do some refactoring/restructuring rather than adding new features.

[2016-11-30 15:56] horsburgh commented on #1625
@hyi - thanks for the explanation. I was a bit perplexed for a minute or two last night.

[2016-11-30 15:58] hyi commented on #1625
@dtarb The PR that changed the wordings has been merged into develop and has been tested by @horsburgh on riverdev. I think you can close this issue now.

[2016-11-30 16:03] xuezhaokun commented on #1544
I removed this ambiguous function for AGU. I think this issue can be closed for now.

[2016-11-30 16:11] danames opened #1648 "Disable publication for web apps"
Given that web apps are likely to be malleable with changing URL's and functions and capabilities and other meta data, I suggest that we disable "publication" of web app resources. i.e. there should be no "publish" button and no DOI issued.

[2016-11-30 16:11] alvacouch commented on #1147
Should be fixed by PR #1576. Someone please test this.

[2016-11-30 16:15] alvacouch commented on #1146
May be fixed by PR #1576 .... please test ...

[2016-11-30 16:22] horsburgh commented on #1618
@alvacouch, @hyi, and @dtarb - the functionality matrix is one of the biggest reasons why the folder interface took so long to implement.  Yep - there's a lot of resource specific logic there. We discussed that table as a group on the call and that's what @mauriel133 implemented. If use tells us we didn't get it right the first time, we can reconsider some of what is in that matrix.

[2016-11-30 16:23] danames opened #1649 "Provide an embargo/rescission period for publication actions"
The idea of permanently publishing a resources is going to be somewhat new to many of our community, including students, who generally think of everything online as malleable. Our notice on the publish button is quite strong and does clearly say that it can't be undone. However, we are still going to have people "trying" a publish action and then having publishers remorse afterwards when they disc

[2016-11-30 16:36] pkdash commented on #1146
@alvacouch I will test it and let you know.

[2016-11-30 16:39] Lizabrazil commented on #1641
Dan or Drew is looking into a pop up that explains that the app only works with a certain browser.

[2016-11-30 16:41] pkdash commented on #1147
@alvacouch I will test it.

[2016-11-30 16:45] Lizabrazil commented on #1640
Should not be accessible through an individual resource page. Drew and Dan will take care of this.

[2016-11-30 16:53] pkdash commented on #1644
@alvacouch I think having a validation app/module for various actions on resource that both the REST and internal view functions can use would be better.

[2016-11-30 16:55] Lizabrazil commented on #1637
If you do "View File"- you get redirected to a broken page

[2016-11-30 16:56] ChristinaB commented on #1626
@zhiyuli  and @Lizabrazil   Do we want a checkbox here?

[2016-11-30 17:02] ChristinaB commented on #1626
- [ ] Add instructions pop up

- [ ] Fix broken Upload to HydroShare - see USGS AHPS viewer, that code works

[2016-11-30 17:05] ChristinaB commented on #1642
@danames and @zhiyuli
The names of the Apps should be curated so that it is super clear to users.

[2016-11-30 17:10] danames commented on #1642
We can try to simplify the HydroShare team apps, but we won't have control
over other peoples apps beyond providing some styling suggestions.

On Wed, Nov 30, 2016 at 10:05 AM Christina Bandaragoda <
notifications@github.com> wrote:

[2016-11-30 17:28] ChristinaB opened #1650 "App Issues and Priorities by AGU 2016"
@danames and @zhiyuli    This is the global list of App fixes needed by developers.  (please edit)

Priorities by AGU that the [Education & Outreach Group developed]  (https://docs.google.com/document/d/14rPVmHvrRXeT5YVthK_ffoFUZ5zGxsP492k7h5AlZL8/edit)  @Lizabrazil and Jon Pollak and @jphuong

- [ ] - Everything from the homepage should work if you click on it.
- [ ] - Hover over scripts should b

[2016-11-30 17:31] horsburgh commented on #1649
@danames: see #1608 where we've already started a discussion about this. @hyi already implemented the "are you sure you are sure" dialog, but the waiting period is described. Can we combine these issues?

[2016-11-30 17:33] ChristinaB commented on #1650
Prioritization of Apps for Demos and Help Content development for Christina and @Lizabrazil and @jphuong    pending what happens in the list above (to be updated based on bug fixes)   Each of these listed may need their own Github Issue that can be referenced below.

1. National Water Model Forecast Viewer: [See Github Issue](https://github.com/hydroshare/hydroshare/issues/1626)
2. HydroShare GIS

[2016-11-30 17:34] xuezhaokun commented on #1479
I think we have fixed almost all the awkward behaviors in the merged PR.  We do not have a good solution for the slowness issue so far.

[2016-11-30 17:42] ChristinaB commented on #1642
Let's think of a simple way to include suggestions, guidelines, and requests for developers as part of the process of getting their App from dev to the main page.

[2016-11-30 18:15] ChristinaB commented on #1626
List of issues that came up in Onion Creek demo 11/30/16
- [ ] Change error message so that we have an idea how to avoid the error, for example, select a different date.

[2016-11-30 18:23] pkdash commented on #1147
@alvacouch This error still exists.

[2016-11-30 18:24] pkdash commented on #1146
@alvacouch This error still exists.

[2016-11-30 18:49] ChristinaB commented on #1626
@danames and @zhiyuli   we need to know how you want to handle uploading to HydroShare.  We need your feedback here.   Thanks!!!

[2016-11-30 19:22] dtarb commented on #1625
Thanks.  Closing.

[2016-11-30 19:22] #1625 closed

[2016-11-30 19:27] dtarb opened #1652 "Versioning inconsistencies"
If I create a new version of a HydroShare resource the old version is removed from the My Resources page and editing/deleting no longer permitted.  If I then go to the new version which I can edit and delete the reference back to the old resource  I am allowed to do this.  If I then delete the new version the old version is left in an inconsistent state.  It is still there (I can find it if I know

[2016-11-30 19:45] dtarb commented on #1608
I tested the flow on riverdev and am happy for you to create a PR and merge.

[2016-11-30 19:49] hyi commented on #1608
@dtarb What is deployed on riverdev was already merged today - that PR with resource versioning wording changes also included the "are you sure" dialog addition in publication workflow.

[2016-11-30 20:13] dtarb commented on #1608
Thanks.  Sorry, I am slow in keeping up with all of these.

[2016-11-30 21:00] horsburgh commented on #1637
@shawncrawley - thanks for the useful explanation. I agree with your assessment that HydroShare GIS should not appear in the "Open With" dropdown for script resources, but that the HydroShare GIS could be capable of adding a Script Resource from within it's own "Add Resource" dialog in the context of a project that contains related resources.

[2016-11-30 21:04] hyi commented on #697
@dtarb @horsburgh I have created a forbidden 403 page to improve its appearance. Since we don't have page resource context passed in to a forbidden page, this page template does not know anything about the forbidden resource such as its title, its owners, etc., and I don't think it is a good idea to expose resource detailed info to a user who does not have permission to view the resource. So here

[2016-11-30 21:14] ChristinaB opened #1653 "User Workflow Feedback - orientation tutorial pop ups to the rescue?"
@mauriel133 @horsburgh @dtarb @Lizabrazil @jphuong
When Jeff and I talked on 11/18 See[ Notes from Education & Outreach](https://docs.google.com/document/d/14rPVmHvrRXeT5YVthK_ffoFUZ5zGxsP492k7h5AlZL8/edit)  we discussed adding a Welcome tutorial - An interactive click through to orient users on how to use a particular page (with a checkbox option to not show again).  This needs to be scheduled in

[2016-11-30 21:15] ChristinaB commented on #1653
The "specific feedback on your HydroShare experience" below could be addressed with an orientation tool similar to the iUtah project webpage:

- think the platform is a crucial tool (or a similar platform) for cataloguing, archiving, and sharing datasets, but the similarity of all levels of the resources and datasets in the web browser makes it confusing. Similarly, documentation of proper workflo

[2016-11-30 21:19] horsburgh commented on #855
@mohamedmorsy and @jsadler2 - I just did a quick test. I added a new organization as an author to this resource:

https://testservices.hydroshare.org/resource/1a25b11fa1354773b6edb9495e754f4e/

The new organization shows up in the citation and in the list of authors on the Authorship tab, but it doesn't show up in the list of authors at the top of the page.

[2016-11-30 21:23] horsburgh commented on #697
@dtarb - I'm having vague recollections that you wrote down at one point what you wanted to display is a user is not authorized to view a resource. Am I remembering wrong?

[2016-11-30 21:40] mohamedmorsy commented on #855
This has been fixed in the latest commit. I will update
testservices.hydroshare.org and let you know to check again. Thanks for
looking at this.

On Nov 30, 2016 4:19 PM, "Jeff Horsburgh" <notifications@github.com> wrote:

[2016-11-30 23:23] dtarb commented on #697
@horsburgh you are remembering right.  I suggested that as a matter of policy the resource title, owners and GUID are public information.  The rest of the information on the resource is subject to access control rules.  This means that anyone hitting a link that has a GUID embedded in it get a small landing page that gives this information.  The owner name (or owners if there are multiple owners)

[2016-12-01 05:16] dtarb commented on #1637
@shawncrawley I too agree with your assessment.  The view file problem that Liza points out should be fixed.  Perhaps view file should be hidden for now and its role revisited.  In the example you provided it is broken for the .py file, results in a blank screen for the PDF, is not present for the .shp files, but works for the mp4 and jpg files.  Viewing of jpg, pdf and mp4 is not really Hydro val

[2016-12-01 05:24] dtarb commented on #1640
Part of HydroShare's purpose is to enhance access to data that may otherwise be hard to access.  This data should, where possible, be a HydroShare resource or referenced resource, but this is not possible in all cases and one of the modalities for providing enhanced access to data is through an app that acts with the data at its original source location and makes it available in a consumable forma

[2016-12-01 05:27] dtarb commented on #1636
@Castronova please assess what is going on and report if it is feasible to fix the problem by AGU.

[2016-12-01 06:29] pkdash commented on #1147
When did the test locally with the latest develop, did not see this anymore.  Will close this after testing again on beta when 1.9.0 is ready for testing.

[2016-12-01 06:29] pkdash commented on #1146
When did the test locally with the latest develop, did not see this anymore.  Will close this after testing again on beta when 1.9.0 is ready for testing.

[2016-12-01 11:35] alvacouch opened #1657 "Improvements to iRODS federation code"
@hyi @rayi113 @mjstealey @pkdash @dtarb
The iRODS federation code as written has several problems:

1. The **federation logic is embedded into the application,** rather than into the storage object where it belongs.
2. This means that in the normal Jenkins framework, there is **application code that can never be tested** because testing the federation requires a custom testing rig.
3. In turn, **e

[2016-12-01 13:58] alvacouch commented on #1657
@mjstealey Here are some notes on how this fits into what we have for federation so far.

The simplest configuration for this scheme is to define -- in django_irods configuration -- a set of irods path prefixes that always correspond to local resources. This is the switch that turns on federation for the others. This can be read by the HydroShare application so that it agrees on these prefixes.

T

[2016-12-01 14:07] hyi commented on #1657
Adding my notes here just for bookkeeping purposes:

1. The first simple improvement is to move a few lines where I used direct session run method to IrodsStorage in folder-related code and remove that getfile() method which is never used in our codebase. There might be a few minor simplifications in other places as well. But overall, these are some simple improvements for better encapsulation whi

[2016-12-01 14:15] alvacouch commented on #1657
Reposting from email:
As should be obvious, I cannot do that until your current PR is merged.

The key here is to

a. tune django_irods to do what we want, and only then
b. mess with FileField to understand the extra semantics.

The absolutely crucial step is to get django_irods to be aware enough of federation – by whatever means – that it can decide which methods it needs for each kind of path.

[2016-12-01 14:19] alvacouch commented on #1657
Here -- for example -- is a simple hack that might work.
1. Define only the local zone in django_irods configuration.
2. Store the zone of files in the resource object.
3. Subclass FileField to read the zone from the resource and then construct an appropriate path relative to that zone.

[2016-12-01 14:25] hyi commented on #1657
As you can see from django_irods code, the only difference between local zone and a federated zone is the session object which is used to do irods file operations. So I think it is simpler to provide a set session object method in django_irods storage, then the rest of methods have no need to change, which is what is currently implemented.

[2016-12-01 14:29] alvacouch commented on #1657
@hyi Another simple change is to keep two session objects open....! @mjstealey Are there any problems with that?

[2016-12-01 14:31] hyi commented on #1657
@alvacouch @mjstealey In my experiments, there can only be one active session object which iRODS uses to do the work. Otherwise, iRODS does not know which one to use, just like when using icommands, you will have to set up irods_environment.json file for one active session.

[2016-12-01 14:33] Castronova commented on #1636
I believe this problem is a result of `killing` running containers when updating the jupyterhub server.  Removing the `jupyterhub.sqlite` file may fix this problem.

[2016-12-01 14:34] hyi commented on #1657
@alvacouch I really think the current way in django_irods to allow users to set an active session at run time works well, it worked well for our HydroShare RADII demo where we have to switch to a few different sessions at run time. It has been working well and simple in my opinion.

[2016-12-01 15:03] alvacouch commented on #1657
@hyi The actual strategy has to be based upon how we want IrodsStorage objects to be used in the code base. This includes potential service of parallel queries.  The assumption that all requests for a thing are going to hit a storage object in the appropriate state may not be well-founded. It is only true now because there is one storage object per kind of FileField. This is something to watch out

[2016-12-01 15:05] alvacouch commented on #1657
Note that my intent is not to take ownership of this code or to limit its function. My intent is to create a very open playground where federation strategies can be tried out, and where that experimentation is pretty much independent of the HydroShare code base.

[2016-12-01 15:08] hyi commented on #1657
@alvacouch Sounds good. Would be interested in knowing a better strategy when you come up with one.

[2016-12-01 15:14] leonard-psu opened #1658 "getResourceFromHydroShare "Not a zip file""
I've been modifying the RHESSys workflow notebook to access resources from HydroShare.
I created two generic resources for the tutorial and published them.

When I trying accessing the resource as follows:
content = hs.getResourceFromHydroShare('3328a6b2215e429a95ffb64e579f9d80')

I get a "not a zip file" error message. However, if I try to load the zip file using a "web app" i.e. document viewer,

[2016-12-01 15:36] alvacouch commented on #1657
Working with @mjstealey to understand the assumptions in the current federation scheme.

[2016-12-01 15:41] mohamedmorsy commented on #855
@horsburgh bug fixed and testservices.hydroshare.org is up to date now. Please check again.

[2016-12-01 15:45] alvacouch commented on #1657
To me it seems that giving HydroShare a little information about each federated zone -- including its zone name and a bit of information about it's set up (the root resource directory) -- allows HydroShare to do pretty much anything with that zone. So there may not be inherent architectural limits on this. The really simple approach would be to create an IrodsZone object and register each zone in

[2016-12-01 15:59] alvacouch commented on #1657
A really simple way to deal with needing multiple sessions is by what's called "lazy binding" in which the django_irods application keeps a dictionary of active session objects, filed by capability. When a specific function is needed, the session is opened for that function. This session is left open until the end of life of the IrodsStorage() instance, because there is a possibility that the requ

[2016-12-01 16:07] hyi commented on #1657
@alvacouch I believe the lazy binding of active session object to IrodsStorage object is exactly what is currently implemented. Note that the plain password is part of the session setting, so we don't really want to keep sessions in database. After session is set, a temporary irods environment file and irodsA file for password is created under a unique directory and used for all subsequent irods o

[2016-12-01 16:40] zhiyuli opened #1659 "make Web App res public without associating it with any Supported Res Type"
In current implementation of Web App Res Type, the Supported Res Type metadata is a required field to make webapp public. That means user had to associate this webapp with at least one data res type before making it public. This is why we are having this issue "National water model data explorer. Should not open from resources." listed in #1650.

[2016-12-01 17:52] gantian127 opened #1660 "Access control panel is not shown on the resource landing page"
This error happens in the following situation:
Suppose User 1 creates a resource and a group. User 1 shares this resource to User 2 with "edit" or "view" access right. User 1 adds User 2 as the group member.  After User 1 edits the group as "inactive", User 2 logs in the system and clicks on the resource that is shared from User 1, the resource landing page can't show the access control panel butt

[2016-12-01 18:47] ChristinaB opened #1661 "Help.HydroShare.org : why pages?"
Hi @mjstealey
I am meeting with @danames and we are wondering where 'pages' came from? Is it possible to call it 'help.hydroshare.org'?
Thanks for all your work!

[2016-12-01 18:54] pkdash commented on #1660
@alvacouch When debugging this issue, I found that ```r.raccess.view_users``` does not include User2. So it seems to me it is a bug in access control and not in the view function or at the UI level.

[2016-12-01 21:37] mjstealey commented on #1661
Generic for about, help and other **pages** content.
This is changeable to be [SOMETHING.hydroshare.org](https://pages.hydroshare.org) where **SOMETHING** is any random string of characters not already registered in DNS.

List of things to be done if changed from **pages** to **SOMETHING** else:
- [ ] Change site settings on [SOMETHING.hydroshare.org](https://pages.hydroshare.org) to reflect new U

[2016-12-01 22:28] horsburgh commented on #1661
@ChristinaB, @mjstealey and @danames - one other suggestion to consider that might be just a little more general:

http://support.hydroshare.org

Not sure it makes much difference.

[2016-12-01 22:54] horsburgh commented on #855
@mohamedmorsy and @jsadler2 - I just tried again and it looks good. I added and removed multiple authors and groups to this resource:

https://testservices.hydroshare.org/resource/5d952304c16d4955bdc36acf4e83d56e/

Everything worked as I expected it to. One question - are you planning on having functionality to add an existing HydroShare user group as an author?

[2016-12-01 23:34] danames commented on #1661
Actually I do like support. That seems to be a little more specific than
just pages. I suppose Pages seems kind of odd because every web page is
sort of a page. But this is a small issue, and Christina and I were just
wondering if there had been some discussion about why the use of the word
Pages would be chosen.

On Thu, Dec 1, 2016 at 3:28 PM Jeff Horsburgh <notifications@github.com>
wrote:

[2016-12-01 23:41] danames commented on #1637
I agree with this as well. At present the gis app is only associated with
generic, shape, and raster resources. However if you open a generic and it
has a text file or script file in it, it should be able to launch the
script viewer. I'm following up with Matthew on the script viewer. It is a
very simple app that we can deploy soon, though  we probably don't have
time to thoroughly tested before A

[2016-12-01 23:44] danames commented on #1626
At this point, Our intention is simply to remove the button for uploading.
This will give us time to improve that functionality and deploy it later
after the current crisis deadlines are past. The idea of uploading the
resulting time series file to a resource is really powerful, but I want to
make sure it works well. One of the issues here is we need to make sure
that the time series resource type

[2016-12-02 00:01] mohamedmorsy commented on #855
@horsburgh yes we are planning to do that but we need @mauriel133  help. We can do this like a new issue after the AGU release.

[2016-12-02 00:50] horsburgh commented on #1626
@danames - The HydroShare time series resource currently supports upload of an ODM2 SQLite file or a CSV file. We've not added WaterML import yet.

[2016-12-02 00:51] horsburgh commented on #855
OK sounds good.

[2016-12-02 04:11] pkdash commented on #1658
Is ```getResourceFromHydroShare()``` a custom function that you have written?

[2016-12-02 06:49] dtarb commented on #1626
I suggest either load it to generic, or to time series as CSV.

[2016-12-02 12:43] alvacouch opened #1665 "REST API tests fail when hostname is not localhost"
A goodly number of tests of the rest api in hs_core/tests/api/rest fail if one enables nginx, because the tests presume that the hostname of the service is localhost.

[2016-12-02 13:38] leonard-psu commented on #1658
No,
using hs_utils inside jupyter notebook.

# import required libaries for geoprocessing
import os
import hs_utils
%matplotlib inline

# establish a secure connection to HydroShare
hs = hs_utils.hydroshare()
content = hs.getResourceFromHydroShare('2bca3052389d4b509a82444031af7f4d')

[2016-12-02 14:30] mjstealey commented on #1658
@Castronova might have a better idea with regards to Jupyter notebook interaction...

[2016-12-02 14:32] Castronova commented on #1658
I'm working on this issue, but I haven't been able to reproduce it yet.

https://github.com/hydroshare/hydroshare-jupyterhub/issues/18

[2016-12-02 15:16] dtarb opened #1666 "Add optional author identifiers"
Resource authors/contributors may have additional identifiers associated with them that improve their identifiability.  These include ORCID, ResearcherID, Google Scholar ID, Research Gate ID etc.  Functionality needs to be added to HydroShare to support these and support data citation where identification using these is encouraged (see e.g. http://www.copdess.org/copdess-suggested-author-instructi

[2016-12-02 19:06] jsadler2 commented on #855
The pull request has been completed for this. Closing.

[2016-12-02 19:06] #855 closed

[2016-12-02 20:45] hyi commented on #899
@dtarb With the implementation of 403 forbidden page improvement as your mockup screen capture where a sign in link is provided with detailed prompt information, I think this issue can be closed since it has been address as part of that issue #697

[2016-12-02 21:05] hyi commented on #1514
@dtarb @mjstealey @rayi113 I will address this issue by restricting user names from containing special symbols such as ., @, etc. since linux does not allow such special symbols in user names. This will allow us to align django user names with iRODS user names for quota management and user zone iRODS user management. Let me know if you disagree.

[2016-12-02 21:29] hyi commented on #1514
@dtarb @alvacouch @mjstealey @rayi113 Since user name validation rules appear to vary with specific linux distributions and operation systems, there does not appear to be a uniform hard constraints for user names, but only a general recommendation such as specified here: http://www.unix.com/man-page/linux/8/useradd/ with relevant recommendations shown below:
[code]
In Django, user name can be 150

[2016-12-02 22:03] hyi commented on #1514
@dtarb @alvacouch @mjstealey @rayi113 Have just tested on iRODS side to create iRODS users with special characters ```.``` and ```@``` and they all succeeded without issues. So I am going to go with delegating user name validation to Django to be more not-restrictive as we currently do, and address this issue by checking profile editing to regard such user names with special symbols as valid rathe

[2016-12-02 22:39] hyi commented on #1514
@dtarb @alvacouch @mjstealey @rayi113 Have changed user profile editing user name validation rules to conform to Django user name validation rules to allow a few more special symbols, ```.```, ```+```, ```@``` which are allowed by Django. This will ensure user names created successfully by Django will not raise errors when editing profiles. A PR has been created for this.

[2016-12-02 22:47] hyi commented on #1292
Merged, closing.

[2016-12-02 22:47] #1292 closed

[2016-12-03 04:10] pkdash commented on #1658
@Castronova Are you using the latest version of hs_restclient?

[2016-12-03 14:16] dtarb opened #1671 "Upload into folder places file at the top level"
In the resource landing page folder implementation, the UI enables a user to create a folder then open the folder and drag and drop files into the folder.  The appearance is that the file should go into the open folder.  However the file actually gets saved at the top level (contents).  It can then be moved into the folder, but it seems misleading to place files dragged into a folder at the top le

[2016-12-03 16:10] alvacouch commented on #1671
This is not the whole problem. The other problem is that the current move software loses track of the actual file location in Django. This is because the folder into which it is being moved is not tracked.

[2016-12-03 19:39] dtarb commented on #899
Thanks.  Closing.

[2016-12-03 19:39] #899 closed

[2016-12-03 22:29] alvacouch commented on #1495
See PR #1672 for the initial implementation, for GenericResource only, using the advice here.

[2016-12-04 15:32] dtarb commented on #21
Closing this.  It is stale.  Alfresco is deprecated.  Active design docs are in Google.  Github wiki documents the development process and pages.hydroshare.org holds user oriented help documentation.

[2016-12-04 15:32] #21 closed

[2016-12-04 16:58] alvacouch commented on #1657
@hyi @pkdash @dtarb
In working on the folder code, I have evolved a very simple strategy for solving this problem: **make the model `ResourceFile` definitive for operations on files.** This involves moving all functions on files there, including moving, renaming, etc.  Then the application can simply call those functions.

Specifically,
1. **Encapsulate the filesystem operations inside the `Resour

[2016-12-04 21:29] pkdash commented on #1657
@alvacouch Encapsulating all file/folder operations within ResourceFile class sounds great.

[2016-12-05 04:06] zhiyuli opened #1673 "refine webapp resource metadata logic"
Had a conversation with @pkdash about webapp resource metadata logic. This is a memo of the discussion and the new logic will be implemented after AGU.
"The way it should be implemented is that setting an empty string should fail the update action. Instead the user should be provided an option to delete an existing element the way we do with creators/contributors. I assume the base_url element has

[2016-12-05 15:52] dtarb commented on #1661
This was discussed.  While it could be changed, I think we have more important things to worry about.

[2016-12-05 16:12] dtarb commented on #1349
No change to system needed.  This is a user education issue.  Need to think about messaging.

[2016-12-05 16:13] #1349 closed

[2016-12-05 16:32] alvacouch commented on #1671
@mauriel133 In PR #1672, the add_file* routines now include an optional argument file_folder that can be utilized to force an upload to a subfolder, but I don't know where to change the UI to make this possible in the UI.

[2016-12-05 16:49] alvacouch commented on #1657
2pkdash @hyi See branch # 1657 for a beginning. This is the crucial logic required to modify the `ResourceFile` for a modification of iRODS. The crucial method is `ResourceFile.set_storage_path`. This takes an iRODS path and sets up the `ResourceFile` so that it points to that path, regardless of allowed variations in the structure of that path. The result is a ResourceFile that is in one of two s

[2016-12-05 17:56] pkdash opened #1675 "Better formatting of invalid CAPTCHA message"
![image](https://cloud.githubusercontent.com/assets/2523434/20896044/36fc4952-bad9-11e6-8a58-eedb9401f2f4.png)

Instead of the above message, it should show:

![image](https://cloud.githubusercontent.com/assets/2523434/20896772/7f4765b8-badc-11e6-899e-b0de55210c83.png)

[2016-12-05 18:24] dtarb commented on #1588
Seems not essential for AGU.  Move to 1.10.0

[2016-12-05 18:28] dtarb commented on #1462
Tested.  Closing

[2016-12-05 18:28] #1462 closed

[2016-12-05 18:47] dtarb commented on #1514
Checked in beta.  Closing.

[2016-12-05 18:47] #1514 closed

[2016-12-05 18:48] dtarb commented on #973
Fixed in beta.  Closing

[2016-12-05 18:48] #973 closed

[2016-12-05 19:05] dtarb commented on #1504
OK.  Closing.

[2016-12-05 19:05] #1504 closed

[2016-12-05 19:06] pkdash opened #1677 "Changes to invalid username message"
The invalid message for username gives the impression that the char '/' is a valid character for the username.

[2016-12-05 19:37] hyi commented on #1628
@gantian127 The fix to this issue has been deployed to beta as part of the addition of federation unit tests. Can you verify on beta and close this issue if it works now?

[2016-12-05 19:38] dtarb commented on #1252
Testing on 12/5/16 this is not resolved.  The "user has insufficient privilege over resource" message has gone but there is no indication that the action a user made did not stick.  There should be a message "Action not allowed".  I am dropping from 1.9 release list as the access control system is working correctly, all that is missing is a message.

[2016-12-05 19:39] hyi commented on #697
@dtarb Can you verify this on beta and close it if it works? If you want that nice-to-have redirect to resource landing page after signing in, you can create a new issue.

[2016-12-05 19:46] dtarb commented on #1073
Seems OK.  @jsadler2 feel free to re-open if it does not satisfy you.

[2016-12-05 19:46] #1073 closed

[2016-12-05 19:47] dtarb commented on #1066
OK.

[2016-12-05 19:47] #1066 closed

[2016-12-05 21:13] mauriel133 commented on #1061
Addressed in PR #1678

[2016-12-05 22:10] pkdash commented on #1677
Decided it is not really an issue. So closing.

[2016-12-05 22:10] #1677 closed

[2016-12-05 22:55] gantian127 commented on #1543
@mjstealey  I found the code for #1615 was merged by pull request #1621. But now it is not in develop branch and the bug shows up again.

[2016-12-05 23:17] mjstealey commented on #1543
Intersting is that your commits do not appear in the provenance of that file: https://github.com/hydroshare/hydroshare/commits/develop/hs_core/models.py

What I suspect happened is that you and another developer worked on the same file and the changes you made were overwritten or reverted. This can occur if a developer doesn't pay close attention when resolving a conflict in the code. It is all to

[2016-12-06 00:00] gantian127 commented on #1628
@hyi I tested on Beta and it works now. I will close this issue. Thanks

[2016-12-06 00:00] #1628 closed

[2016-12-06 00:01] pkdash opened #1682 "Missing metadata and file alert needs to go when requirements are met"
As soon as the required content files have been added and all required metadata has been entered, the alert that appears on the top section of the page needs to go.

[2016-12-06 04:50] dtarb commented on #697
Thanks.  Closing.

[2016-12-06 04:50] #697 closed

[2016-12-06 16:10] pkdash opened #1685 "Resource in edit mode should stay in edit mode until user changes to view mode"

[2016-12-06 18:24] ChristinaB commented on #1661
On the postcards for AGU, the email contact is support@hydroshare.org
If we are going to stick with that email going forward, I agree with Jeff's suggestion to make it http://support.hydroshare.org
And in that case, would we also change it from 'Help' in the main dashboard to 'support'.

I think consistency is worth the effort.

[2016-12-06 18:32] ChristinaB commented on #1661
As a comparison, Github only has a bottom dashboard for these kinds of details on the main page.
'Contact GitHub' API Training Shop Blog About  Terms Privacy Security Status Help

I imagine that the Github team has had way more people and time to sort out how to do this, and it would be easiest for us to just follow their model.  If so,

Contact HydroShare link and on postcards would be to support

[2016-12-06 20:29] hyi opened #1688 "Check failure_count instead of success_count from crossref to accommodate warning cases"

[2016-12-06 23:18] gantian127 opened #1691 "failed to create resource when the title includes non-English character"
On resource creation page, if the title includes non-English character, the following error is shown:
![image](https://cloud.githubusercontent.com/assets/5016511/20948118/9a69d7d8-bbcf-11e6-93f1-b793af276f32.png)

[2016-12-06 23:23] gantian127 commented on #1465
@zhiyuli would you please test and close this issue if this has been fixed? Thanks

[2016-12-06 23:28] zhiyuli commented on #1583
merged and tested

[2016-12-06 23:28] #1583 closed

[2016-12-06 23:29] zhiyuli commented on #1465
merged and tested

[2016-12-06 23:29] #1465 closed

[2016-12-06 23:32] zhiyuli commented on #1659
this issue has been fixed. but it introduced a new issue see #1690

[2016-12-06 23:38] #1615 closed

[2016-12-06 23:39] #1520 closed

[2016-12-06 23:39] #1389 closed

[2016-12-06 23:45] #1511 closed

[2016-12-06 23:47] gantian127 commented on #1157
@shawncrawley would you please close this issue if the testing works? Thanks

[2016-12-06 23:51] gantian127 commented on #1567
@Castronova would you please test this and close this issue if it works? Thanks

[2016-12-07 00:55] shawncrawley opened #1692 "HydroShare GIS features that depend on hs_restclient functionality"
These are a few features for HydroShare GIS that are not very urgent and depend on hs_restclient functionality that is does not yet exist (as far as I know).

- [ ] At project creation/save time, dynamically fill out the spatial coverage metadata associated with the Map Project Resource.
- [ ] At project creation/save time, dynamically fill out the related resources metadata associated with the Ma

[2016-12-07 00:56] shawncrawley commented on #1157
I have moved any outstanding items to a new issue where more specific discussion can take place. This will now be closed.

[2016-12-07 00:56] #1157 closed

[2016-12-07 01:03] shawncrawley commented on #1637
@Lizabrazil This issue should be resolved. Let me know if it appears not to be.

[2016-12-07 01:05] #569 closed

[2016-12-07 01:08] Castronova commented on #1567
@gantian127 I am still working on bug fixes.

[2016-12-07 01:46] #1635 closed

[2016-12-07 03:21] ChristinaB opened #1693 "Help Page Checklist for AGU 2016"
This is a list of help pages that need development before AGU (if possible).  Please see [Help  ](https://pages.hydroshare.org/) with the new landing page to orient yourself to the new organization.  I have suggested who will could manage the individual writing assignments, but you can remove yourself or reassign as you like.  **After proofreading, please check your box and @jphuong will upload to

[2016-12-07 04:32] dtarb commented on #1692
Explaining what is intended with the Part of.  Metadata for each resource may include relationships.  On a resource landing page in edit mode you can see a related resources tab.  There is a button to add relation.  There is then an option to choose "Part of" or other choices and fill in the URL of another resource.  For a resource that is added to a GIS map project, we should fill in the "Part of

[2016-12-07 05:13] pkdash commented on #1692
@shawncrawley There is currently work in progress for a new REST endpoint to support metadata update for GenericResource. @alvacouch can provide more details on this. The `relation` metadata should meet your requirements which this new REST endpoint I assume will be supporting as this element is part of the core metadata elements. Once this endpoint in implemented I can update the restclient to us

[2016-12-07 16:18] alvacouch opened #1695 "Should groups have UUIDs?"
@aphelionz @dtarb @horsburgh  In the original design docs, group names were not unique and groups were identified by UUIDs. This allowed us to provide an opaquely defined "landing page" for a group as well as powering REST functions on groups. At present, there are no UUIDs for groups and the group name is unique. This provides some encoding challenges in identifying a group in a REST request, and

[2016-12-07 16:22] alvacouch commented on #1695
(This is separate from the other issue I found, which is that groups and access control are conflated. These really should be separated into a group profile object and an access control object.)

[2016-12-07 16:32] pkdash commented on #1695
I assume we are using record ID for users so I am wondering why it can't be used groups.

[2016-12-07 16:48] hyi commented on #1648
@danames Can you test this on beta and close this issue if it works?

[2016-12-07 16:55] pkdash commented on #1660
@gantian127 Can you test this on beta to see if got fixed and then close it?

[2016-12-07 16:58] pkdash commented on #1411
@horsburgh Can you test on beta and see if this got fixed then close it?

[2016-12-07 17:17] alvacouch opened #1696 "Update REST API for access control"
@aphelionz @dtarb @mseul  This is a sub-issue of #1515 .... The REST API should include the ability to share a resource with a user or group, and the ability to add people to groups.  See also related issues #1695 and #920. Current REST API for group sharing predates access control and  is outdated and broken.

[2016-12-07 17:46] ChristinaB commented on #1650
This info is now in a new issue - https://github.com/hydroshare/hydroshare/issues/1693

[2016-12-07 17:46] #1650 closed

[2016-12-07 20:15] dtarb commented on #1465
@zhiyuli I am looking at Document Viewer App on beta.hydroshare.org and cannot see where to launch the app https://beta.hydroshare.org/resource/326a0c2d1e804057993458f4f96d6e51/

Same for SWATShare https://beta.hydroshare.org/resource/7dcb29a77e1d4ab1a9ec07ae2d4d1cea/

But on HydroSHare GIS I do see the button.

Can you please get the word out to App Instance Maintainers as to how to set up their

[2016-12-07 20:17] gantian127 opened #1698 "Final Checklist for AGU Release"
Please _**check the item**_ and _**close the issue**_ after testing the function on Beta site. https://beta.hydroshare.org/
This final check need to be finished **before Thur** (Dec 8, 2016)
If the item assigned is not implemented for AGU release, please make a note beside the item.

**Christina** @ChristinaB
- [ ] #1561
- [ ] #1560
- [ ] #1554
- [ ] #1457
- [ ] #1456

**Dan** @danames
- [x] #1648

[2016-12-07 20:39] zhiyuli commented on #1465
@dtarb
I just added "app home page url" metadata to
1) the two resources on beta you mentioned (I did not change other webapp on beta as changes will not persist on beta)
2) all public webapp resources on www that I have edit permission
they have "Open Web App" button on their landing pages now.

I will leave a message to the owners of the rest public webapp resources to remind them this "Open Web

[2016-12-07 21:00] #1660 closed

[2016-12-07 23:18] dtarb commented on #1616
I am unable to find the resource that this was reproduced on.  It was not one I created, so may have been changed.  Closing.

[2016-12-07 23:18] #1616 closed

[2016-12-07 23:20] dtarb commented on #1522
Checked on beta.

[2016-12-07 23:20] #1522 closed

[2016-12-07 23:22] dtarb commented on #1464
Checked on beta.

[2016-12-07 23:22] #1464 closed

[2016-12-07 23:25] dtarb commented on #1682
This is good.

[2016-12-07 23:25] #1682 closed

[2016-12-07 23:40] dtarb commented on #1147
Seems to be fixed on beta.

[2016-12-07 23:40] #1147 closed

[2016-12-07 23:44] dtarb commented on #1685
Seems fixed in beta.

[2016-12-07 23:44] #1685 closed

[2016-12-07 23:46] dtarb commented on #1675
Good.

[2016-12-07 23:46] #1675 closed

[2016-12-08 02:37] #1544 closed

[2016-12-08 02:37] #1517 closed

[2016-12-08 03:28] horsburgh commented on #484
I just tried to test this on beta.hydroshare.org. I deleted the Abstract element for an existing resource and then tried to click "Save Changes" and got the following error:

![image](https://cloud.githubusercontent.com/assets/3485902/20996470/1c43ec3a-bcbb-11e6-9977-7b46d9de05ed.png)

Shouldn't I be able to delete the Abstract and then save the resource?

Then, I tried by creating a new resource.

[2016-12-08 03:34] horsburgh commented on #1608
The initial "Are you sure you are sure" dialog has been implemented on beta.hydroshare.org for the AGU release. I'm moving the remaining parts of this to #1649 so this one can be closed.

[2016-12-08 03:35] horsburgh commented on #1649
I closed #1608, so I'm moving the leftover discussion from that issue here:

- Implement notifications to send email notifications to Authors and contributors when a resource they have authored or contributed to is published.
- Implement a period between when a user requests to publish a resource and when it is actually made immutable (perhaps one week).
- Develop messaging that states something l

[2016-12-08 03:35] #1608 closed

[2016-12-08 03:51] pkdash commented on #484
Deleting of title and abstract are not allowed as they are required elements. Deleting of core metadata works only for keywords (there has to be one keyword), contributors, creators (there has to be one creator), key/value metadata, relation and source elements.

[2016-12-08 03:54] pkdash commented on #1425
This has been implemented. Closing.

[2016-12-08 03:54] #1425 closed

[2016-12-08 03:56] horsburgh commented on #1534
I'm going to go ahead and close this one. It's implemented on beta.hydroshare.org. The two items that are not checked in the original post are content related. If we end up having a separate help section for user stories/blog posting, we should implement them as a separate issue.

[2016-12-08 03:56] #1534 closed

[2016-12-08 04:09] horsburgh commented on #1411
I just tested on beta.hydroshare.org and this issue remains. I did the following:

1. Created a new generic resource with a title.
2. Entered edit mode
3. Created an abstract
4. Created a keyword (I get the green message stating my metadata are sufficient)

The yellow message telling me that I need an Abstract and Keywords is still shown at the top of the resource. It doesn't go away until I leave

[2016-12-08 04:25] horsburgh commented on #484
@pkdash - OK. Can we just change the message that goes with deleting the Abstract to something like:

"The Abstract is a required metadata element. Please add an Abstract to your resource."

[2016-12-08 04:39] horsburgh commented on #1411
@pkdash - same thing here - can we just modify this error message to say something like:

"You must have at least one keyword. If you need to remove a keyword, make sure you have at least one other keyword."

[2016-12-08 05:52] pkdash commented on #484
This issue wrongly got listed to test for AGU release. No work has been done to address it yet. Related work I did was to address #1073. Based on what I have done to address #1073, this issue would be easier to address.

[2016-12-08 16:16] mjstealey commented on #1647
@gantian127 - The output from the custom migration patch on www was

[code]

[2016-12-08 17:11] gantian127 commented on #1647
@mjstealey Thanks for the info. I also tested on www site and the migration works. Thank you.

[2016-12-08 17:19] jsadler2 opened #1699 "More appropriate icon for manage access"
I think it be helpful from a UI perspective to have a more relevant icon for "sharing the resource"
![image](https://cloud.githubusercontent.com/assets/6943441/21019946/6fa50a8c-bd40-11e6-8c8a-a253b3d35725.png)

[2016-12-08 17:22] jsadler2 commented on #1699
I have done the modification and this is what it looks like:
![image](https://cloud.githubusercontent.com/assets/6943441/21020066/e4ad7990-bd40-11e6-89ac-c422420e36b7.png)
@dtarb @mauriel133 what do you think? Should I make a PR?

[2016-12-08 17:29] pkdash commented on #484
@horsburgh
This is how I am planning to resolve this issue:
- The alert message "Resource Status: This resource can be published or made public" will appear only if the resource has not been set to public and it meets the requirement to be set to public.
- This alert message will appear only onetime when you update/add metadata and the system recognizes that the resource meets the requirements for

[2016-12-08 18:08] jsadler2 opened #1700 "ModelProgram UI enhancements in edit and view modes"
There are a few minor issues that need to be addressed in the UI for the ModelProgram Resource landing page:
- [x] The "Save changes" button should be at the bottom of the form, currently it is about 2/3 down:
![image](https://cloud.githubusercontent.com/assets/6943441/21021566/0b888fc2-bd47-11e6-9b43-f52f8f983d4a.png)
- [ ] The General elements should be at the bottom of the form and the section

[2016-12-08 18:58] danames commented on #1699
Much better icon. Good work, Jeff.

On Thu, Dec 8, 2016 at 10:22 AM Jeff Sadler <notifications@github.com>
wrote:

[2016-12-08 20:54] pkdash commented on #1146
When self unsharing of a resource is successful, the user should be redirected to the 'my resources' page.

[2016-12-08 21:02] dtarb commented on #1699
I am OK with both the old and the new one.  If folks want to change I have no objection.

[2016-12-08 21:30] dtarb commented on #1695
I agree that we should use an ID that is not the name for groups, so that the name does not have to be unique and can be changed without breaking things.  I am not convinced that it has to be a UUID.  I could be quite satisfied (perhaps more satisfied) with the simple numbering system we now seem to have for groups.  The first group was number 2 and we are up to about 21.  A number like 20 or even

[2016-12-08 22:12] horsburgh commented on #1695
There may also be implications if we have an API for group functions. I suppose an integer identifier is as arbitrary as a UUID.

[2016-12-08 22:53] horsburgh commented on #484
@pkdash - this seems reasonable.

[2016-12-09 19:29] dtarb commented on #1161
I am bumping this up in priority and assigning to BYU team @danames to prevent the rogue appearance of improper apps on all pages such as the "Trophic State HydroServer" that is really just a web page that is currently in HydroShare.

I suggest the following,

The Open with menu should hold only:
1.	Apps that have been approved by the developer team.  This requires establishing functionality for a

[2016-12-09 20:00] leonard-psu opened #1705 "Unable to add existing user to author list"
I'm trying to add authors to a new generic resource. When I search for "Larry Band" his name appears, but is greyed out. I cannot "Save Changes". If I change from "Existing HydroShare User" to "Other", and type Band's details, then I can save changes.

[2016-12-10 14:57] dtarb commented on #1705
@hyi @pkdash @mohamedmorsy can you please investigate this as a possible hotfix item.  Adding authors is the sort of thing that AGU demos will likely want to show.

[2016-12-10 16:43] dtarb commented on #1688
Closing as was successful in deploy

[2016-12-10 16:43] #1688 closed

[2016-12-10 21:04] pkdash commented on #1705
@dtarb I have found the bug and will be creating PR as a hot fix soon.

[2016-12-10 23:36] dtarb commented on #1705
@pkdash Much appreciated!

[2016-12-11 22:42] mauriel133 commented on #1699
I like this icon as well.

[2016-12-11 22:48] mauriel133 commented on #1671
@alvacouch, I can work on adding the rest. Is this argument implemented in the develop branch?

[2016-12-12 18:58] aphelionz opened #1708 "Add robots.txt file to discourage access to /hsapi resources."
Per our discussion this morning... this would be be necessary to discourage spiders and other such automated processes from accessing API resources and thus throwing off usage stats and other metrics.

[2016-12-12 19:01] aphelionz opened #1709 "Uploaded executable files should be scanned for viruses."
Since registration on hydroshare is free and since anybody can create a resource / upload a file, we can't assume every file uploaded is safe. Certain files uploaded to Hydroshare pose the risk of being maliciously infected with malware/spyware/viruses/etc, posing a risk to users who try to download and run certain resources. We should investigate options for virus scanning software for 64 bit lin

[2016-12-12 19:03] alvacouch opened #1710 "Various problems in access control"
This is a container for several deficiencies in access control discovered during the AGU release:
1. antibugging routines are called too frequently. #1643
2. get_resources_with_explicit_access does not list access via groups.
3. Base existing privilege on individual or group privilege, but not upon combined privilege #1622

[2016-12-12 20:09] alvacouch commented on #1710
@pkdash How should we resolve the issue about access granted through groups not showing up in `get_resources_with_explicit_access()`.

I suggest that I create a new method `get_resources_with_explicit_group_access()`
that satisfies the requirements, and then factor that into the UI.

That is how @mauriel133 usually thinks about this in coding the UI. Keep group privilege and user privilege separat

[2016-12-12 22:08] zhiyuli opened #1711 "Pass http/https status from nginx to django"
Currently nginx takes care of ssl/https encryption/decryption, but django is ignorant of this and assumes all requests are over http. In some cases where django dynamically generates a url for redirecting, it must know the http/https status of the original request made against nginx in order to assemble a correct url.

A sign of this issue is the presence of a "301 redirect" when logging in apps s

[2016-12-12 22:15] Maurier opened #1712 "Fail to share resource"
I'm encountering an error at https://beta.hydroshare.org and at my local instance when trying to share a resource. I get the following error:

![image](https://cloud.githubusercontent.com/assets/2448568/21119004/b547745e-c07d-11e6-839e-03ebd7aa02c0.png)

Edit: also happens at https://www.hydroshare.org

[2016-12-12 22:42] Maurier opened #1714 "Terms of use - Page revamp"
I will be restyling this page to match the style of the rest of the site.

![image](https://cloud.githubusercontent.com/assets/2448568/21119808/72b46954-c081-11e6-847b-9d4b4f0d91a6.png)

[2016-12-12 22:43] mauriel133 commented on #1712
@pkdash, could you check if you are also getting this error?

[2016-12-12 22:54] #1061 closed

[2016-12-12 22:56] mauriel133 commented on #897
'First Author' and 'Date Created' columns have been added. Statistics not in the scope for now.

[2016-12-12 22:56] #744 closed

[2016-12-13 00:20] zhiyuli opened #1715 "weird username displayed on apps-tethys home page"
A reminder to this issue brought up by Lorne Leonard during AGU
![image](https://cloud.githubusercontent.com/assets/10070599/21122353/ce9572f6-c08e-11e6-8910-de8cb0c72b40.png)

[2016-12-13 01:01] pkdash commented on #1712
@mauriel133 I am aware of this error. If you try to add any other user who is not a super user you should not see this error. It's   a bug in access control.

[2016-12-13 03:56] dtarb commented on #1714
I'd like @rayi113 to weigh in here.  Perhaps we should put all our legal and fine print documents in pages.hydroshare.org so that they can be more easily edited (without working with code).  I would be in favor of such a decision.  Are there any drawbacks.  If we do this then no restyling is necessary just resetting the links to pages.

[2016-12-13 04:16] horsburgh commented on #1714
If it's already a separate page anyway, I vote for putting them in pages.hydroshare.org.

[2016-12-13 05:06] pkdash commented on #1710
@alvacouch Can we create a function similar to this? https://github.com/hydroshare/hydroshare/blob/develop/hs_access_control/models.py#L2365

[2016-12-13 05:23] danames opened #1716 "NWM App Fixes"
Suggestions from @dtarb

- [ ] In Forecast viewer filter the blue line streams to show only those with forecasts.  It is possible to click on a canal and get an error.
- [ ] Make  the default date the day before so that the issue of forecast not ready is handled.
- [ ] Use space better in Forecast viewer.  When I view on a portrait oriented screen I get a map in about the top 1/5 of the screen and

[2016-12-13 05:25] danames commented on #1716
I'm assigning to @zhiyuli to help keep track of it. Though probably Christian can make these updates.

[2016-12-13 14:16] alvacouch commented on #1710
@pkdash Yes, but I dislike that function's calling style.... quite confusing to me.... should use accumulated Q expressions....

[2016-12-13 14:31] hyi commented on #1705
@leonard-psu or @dtarb Can you verify the fix and close the issue if it works now?

[2016-12-13 14:32] hyi commented on #1648
@danames Can you test this on www and close this issue if it works now?

[2016-12-13 15:48] dtarb commented on #1705
Verified.

[2016-12-13 15:48] #1705 closed

[2016-12-13 16:46] alvacouch commented on #1710
@pkdash See PR #1717 for a new version of get_resources_with_effective_access that handles 'via_group' and 'via_user' parameters. See the discussion there of how `via_group` and `via_user` interact. In particular, **when both are enabled, lower privilege number (higher privilege) in one 'masks' the existence of the other.**

[2016-12-13 21:40] hyi commented on #1601
@jsadler2 @mohamedmorsy I started to work on this issue and confirmed Django's ```model_to_dict``` returns a list of pks (primary keys) for ManyToManyField.  Here is the comment coming directly from Django's ```model_to_dict``` function: ```# MultipleChoiceWidget needs a list of pks, not object instances.```. So Django ```model_to_dict``` function actually returns this list of pks intentionally fo

[2016-12-14 12:13] alvacouch opened #1718 "Jenkins reports flake8 errors, but error report is blank"
@mjstealey  Lately, I have received (real) flake8 errors in Jenkins but the actual error report is blank and reports no errors found!

[2016-12-14 13:01] alvacouch opened #1719 "REST API returns 404 for all errors, not 400 or 403 as appropriate"
A large amount of existing REST API code raises uncaught exceptions, which by default are returned as error 404 (not found). Many of these actually correspond to error 403 (forbidden) or 400 (bad request).

* **Error 404** means that this thing really doesn't exist, and no special action on your part could give you access to it.
* **Error 403** is -- in essence -- an access control violation. It m

[2016-12-14 14:08] alvacouch commented on #1644
@aphelionz I would like you to think about this issue.

[2016-12-14 14:27] hyi commented on #1601
@jsadler2 @mohamedmorsy I'll leave this issue for you two to investigate first to see if you can use list of pks in your boundary condition ManyToManyField choices when creating such metadata elements since it appears Django ```model_to_dict``` intentionally returns this list of pks for easy of handling in MultipleChoiceWidget form. So it appears to me using list of pks may be best practice we nee

[2016-12-14 14:43] mjstealey commented on #1718
@alvacouch - would you have a link to a build on Jenkins where you've observed this?

Often times you have to look at the file named: pylint.out using the "view" option.
Random example
- 1 flake8 error: http://ci.hydroshare.org:8080/job/github-commit-builder-hydroshare/1455/
- pylint.out: http://ci.hydroshare.org:8080/job/github-commit-builder-hydroshare/1455/artifact/pylint.out/*view*/

[2016-12-14 14:49] aphelionz commented on #1644
@alvacouch @pkdash

I think you're both right. We need to start steering towards the idea that the UI and the REST API are separate, that the REST API is the one and only source of truth in the application, AND that middleware modules are going to save us from ourselves.

We need to stop putting application logic in the views starting now and only use them to render templates, and then only access

[2016-12-14 14:56] hyi commented on #1644
@alvacouch @pkdash @aphelionz Totally agree REST API and UI need to share the ground truth for application logic. I believe we have been trying to achieve this by putting application logic into utility functions/methods that are called by both views for UI and REST API end points. We definitely want UI and REST API to behave similarly that utilize the same ground truth application logic so we only

[2016-12-14 15:00] hyi commented on #1029
@horsburgh @dtarb I only see section 3.5 with a very brief (5 bullets) description for creating a derived resource for a published resource in google doc here: https://docs.google.com/document/d/1ixma0MlIiUjEEQ807kKLM9PfcMlqN7Yqv2AK1HEHlP4/edit. Is there another document I can reference for resource copy implementation? A specific question to clarify: Is the criterion for a user to be able to copy

[2016-12-14 15:01] aphelionz commented on #1644
@hyi @alvacouch @pkdash

I want to be careful in how we talk about this so we're clear about what our objectives are.

When we say the UI and REST API behave similarly, my concern is that there are two code paths that the application execution can take - one through the UI layer from a user clicking through the site, and another through the API layer from applications and AJAX calls.

My proposal

[2016-12-14 15:33] hyi commented on #1644
@aphelionz This may be a naive question, but by ```require the templates to fire AJAX requests to the REST API moving forward```, how are views are used then? Currently, templates fire all requests to internal APIs which are mapped to view functions. These view functions pretty much retrieve parameters from requests and then call common utility functions (which can be put into a middleware layer)

[2016-12-14 15:39] aphelionz commented on #1644
@hyi

Not a naive question at all! My proposal is very opinionated and dogmatic, but I think it's necessary in order to keep our code and architecture clean. Maybe a better way to say what I said would be "For application logic, we need to incrementally start replacing django.Views with django_rest_framework.Views"

This is a utopian vision, so bear with me: In the end, I'd like to see one single

[2016-12-14 15:40] aphelionz commented on #1644
Also @hyi great suggestion in regards to the My Resource page. That's perfect - essentially one AJAX call to retrieve the list of resources, and another AJAX call to create new.

[2016-12-14 15:45] aphelionz commented on #1644
@alvacouch @pkdash @hyi

SEO Concerns about having a primarily AJAX driven front end can be mitigated with three approaches
1. Google and other crawlers are showing an increasing aptitude in crawling JS-rendered data
2. We can explicitly submit a sitemap.xml telling Google/Bing/etc exactly where every single resource is located
3. We can use the `history.pushState` api, or a routing library to gen

[2016-12-14 15:50] hyi commented on #1644
@aphelionz Thanks for the elaboration on your proposal. Now I understand what you are proposing here and I'd be looking forward to seeing your proof-of-concept.

[2016-12-14 15:51] aphelionz commented on #1644
@hyi I will aim to not disappoint :)

[2016-12-14 16:38] hyi opened #1720 "Remove unused module customization from admin panel"

[2016-12-14 16:51] pkdash commented on #1644
@aphelionz I like this architecture you are proposing which seems to be a standard way of doing things in modern web applications. Though I have little background in UI frameworks and UI programming, I think we are not using any of the available JavaScript reactive frameworks to our advantage. I feel like we have lot of logic built into template code. Some of the templates are huge too.

[2016-12-14 18:48] aphelionz opened #1722 "Explore Default Deny / Default Permit attributes on API"
Finding a balance between security and usability will be tricky but we can likely accomplish this with the usage of an API key or something similar.

[2016-12-14 18:51] aphelionz opened #1723 "Explore Django Security features and third party Django modules"
Django has security features built in:
- https://docs.djangoproject.com/en/1.10/topics/security/

Django also has third party security modules:
- https://github.com/sdelements/django-security
- https://readthedocs.org/projects/django-secure/

As well as some best practices:
- https://coffeeonthekeyboard.com/best-basic-security-practices-especially-with-django-697/

We should definitely consider mo

[2016-12-14 19:06] alvacouch opened #1724 "SWAT REST API fails test in federated mode"
When in "local irods federated mode" as invoked through `irods/use_local_irods.sh --persist`, an error occurs in the SWAT REST API tests as follows:
[code]

[2016-12-14 19:21] hyi commented on #1724
@alvacouch Hmm, this test failure has nothing to do with iRODS federation. I only executed those federation-specific unit tests I added one by one locally and they all passed, and Michael run all tests including federation-specific unit tests on dev through Jenkins via local irods containers and they all pass, so I am not sure whether this one fails. If you can quickly figure out the reason why th

[2016-12-14 19:32] alvacouch commented on #1724
@hyi I am running the same test on develop in federated mode to see if it repeats. If it does, then I will disregard. If not, I will conclude that there is something about my solution that is not being tested properly, and that somehow I broke federation.

[2016-12-14 19:34] hyi commented on #1724
@alvacouch Sounds good.

[2016-12-14 19:38] mjstealey commented on #1724
@alvacouch - Believe there are 5 federated, or **user_zone** related tests run nightly.
Reference: http://ci.hydroshare.org:8080/job/nightly-build-test/155/testReport/
- search term "user_zone" in the above list of tests

The trigger for this is to set the `REMOTE_USE_IRODS` variable to be True in local_settings.py

Excerpt from the Jenkins build script for nightly build.
[code]

[2016-12-14 19:55] mjstealey opened #1725 "Remove dockerworker container and associated code"
On next update of hs_docker_base:1.10.0 the dockerworker container no longer runs successfully due to AMQP and Celery errors. Since this container is not used, it is going to be removed instead of debugged.
- As a side effect we should also be able to remove the code for [django_docker_processes](https://github.com/hydroshare/django_docker_processes/tree/53c7d181aac16200b663d78be80ccf0c7177fcc1)

[2016-12-14 19:56] aphelionz commented on #1725
Dooooo it

[2016-12-14 19:57] hyi commented on #1724
@mjstealey Setting ```REMOTE_USE_IRODS``` to True alone is not sufficient to run federation zone tests. Refer to https://github.com/hydroshare/hydroshare/blob/develop/hs_core/testing.py#L41..L45 for the conditions needed to run federation zone tests. Specifically, in addition to having ```REMOTE_USE_IRODS``` set to True, settings.HS_USER_ZONE_HOST needs to equal to 'users.local.org' and settings.I

[2016-12-14 20:01] mjstealey commented on #1724
@hyi - Yes, very true, and thank you for pointing that out. There was an implicit assumption in my comment that @alvacouch was already running the [use-local-irods.sh](https://github.com/hydroshare/hydroshare/blob/develop/irods/use-local-irods.sh) script in his local environment which sets much of what is needed.

[2016-12-14 20:09] hyi commented on #1724
@mjstealey Great! In fact, your nice script use-local-irods.sh script already takes care of all these needed settings in local_settings.py including this ```REMOTE_USE_IRODS``` as shown here: https://github.com/hydroshare/hydroshare/blob/develop/irods/env-files/use-local-irods.env#L18. So as long as that use-local-irods.sh script is run, there is no need for users to do anything extra, federation

[2016-12-15 01:03] alvacouch commented on #1724
@hyi @mjstealey **The swatshare test succeeds in develop in federated mode in my environment.** Investigating what is different about my particular branch that could cause problems. Will start clean, reset all, delete icat* persistence containers, and try a global test on my branch to see if accumulated state is a problem.

[2016-12-15 08:08] alvacouch commented on #1724
@mjstealey @hyi **Starting clean, all tests passed on my PR.** There seems to be some kind of state problem that accumulates as the iRODS instance is used. When I say clean, I mean a total reset: delete icat* state, reset all, kill all running containers, etc.

[2016-12-15 14:40] dtarb commented on #1029
A resource that is public is not necessarily shareable.  I think we should consider two options.
1. A user can copy any resource they can see.  This is the simplest and least restrictive.  It is de facto possible anyway because a user can always download the files then upload them again (breaking metadata) so allowing copying is not giving anything more, but it retains metadata better.
2  A user c

[2016-12-15 14:47] dtarb opened #1726 "Simplify relationships and their entry"
In resource landing pages right now we have separate buttons AddSource and AddRelation.  The AddSource button creates a relationship Derived from.  The Add relation includes a number of other possible relationships, including Copied from.  I suggest the the following
1. Consolidated editing of relationships into one button AddRelation
2. Remove copied from as an option and retain only derived from

[2016-12-15 14:54] hyi commented on #1029
@dtarb I favor option 1 as well. So I'll go with option 1 for now.

[2016-12-15 15:24] mjstealey opened #1727 "Release Notes 1.10.0"
Placeholder for Release Notes

[2016-12-15 15:25] mjstealey commented on #1543
#1727 - for easy reference Release Notes for 1.10.0

[2016-12-15 15:25] #1543 closed

[2016-12-15 15:26] mjstealey commented on #1647
released

[2016-12-15 15:26] #1647 closed

[2016-12-15 15:28] mjstealey commented on #1588
revised as #1725

[2016-12-15 15:28] #1588 closed

[2016-12-15 15:29] mjstealey commented on #1720
Implemented and merged in #1721

[2016-12-15 15:29] #1720 closed

[2016-12-15 15:50] alvacouch commented on #1665
Fixed in PR #1672 by rewriting tests.

[2016-12-15 15:52] jsadler2 commented on #1601
@hyi I found a way to append the descriptions instead of the primary keys by making a modified version of the ```model_to_dict``` method. Please review this and comment whether you think this is a good resolution to the problem

[2016-12-15 17:35] horsburgh commented on #1726
@dtarb - I don't necessarily have a problem with this, but it does conflate two Dublin Core metadata elements.  Dublin Core has both:

Source: http://dublincore.org/documents/dcmi-terms/#terms-source
Relation: http://dublincore.org/documents/dcmi-terms/#terms-relation

Best I can tell, the "isDerivedFrom" relationship should go with the Source term and any other relationship types should go with t

[2016-12-15 17:45] horsburgh commented on #1029
@hyi and @dtarb - what is to keep someone from copying a resource, changing the author information, and then re-publishing?

I know there's use cases for copying resources, but I'm not sure we've fully thought this through.

[2016-12-15 18:08] hyi commented on #1029
@horsburgh Good point. Probably we need some kind of "agreement" language to at least inform users of our policy for copying a resource from others such as keeping original authors of the resource, etc. At a minimum, we have this "isDerivedFrom" source metadata element that is attached to the copied resource, so we could trace these kinds of misuse of copied resources if we need to. For now, I'll

[2016-12-15 19:40] alvacouch commented on #1566
@dtarb @mjstealey FYI: This is related to the ResourceFile reorganization #1687 , in the sense that it allows us to measure -- in Django -- the size of all resource files owned by a user.

[2016-12-15 19:42] alvacouch commented on #1718
Discussed offline. The flake8 reports are filed under another name.

[2016-12-15 19:42] #1718 closed

[2016-12-15 20:07] alvacouch commented on #1644
Inviting in @dtarb @mseul @danames @horsburgh with a little high-level background on this issue. This issue came about when I was assigned to take over the REST API. My goals in this are to:

1. Make it possible to do more or less anything in a Tethys app that one can do in the UI. Thus
2. The Tethys apps can "extend" the UI in ways that help users, more easily than we can extend the core UI.

The

[2016-12-15 20:12] aphelionz commented on #1644
Copy that, @alvacouch. Thanks for the context My proposal stands.

[2016-12-16 14:47] mjstealey opened #1730 "URGENT - develop branch requires investigation regarding my-resources and bag download"
@all - Existing develop branch passes all tests however it is not functional.

1. Resources not appearing in my-resources page
2. Bag download fails with `<django_irods.storage.IrodsStorage object at 0x7f8fb43dd250> is not JSON serializable`

Please refrain from new merges until this is resolved.

[2016-12-16 14:50] mauriel133 commented on #1730
Resources not appearing in My Resources page is most likely caused by conficts with the UI unit test PR. I will investigate this morning and push a fix.

[2016-12-16 15:19] mjstealey commented on #1730
@hyi - hoping you might have some intuition regarding the **django_storage** error.

From this side I'll try the following
- roll back the dango_irods submodule reference
- roll back the hs_docker_base image build
- combination of the above

[2016-12-16 15:19] mjstealey commented on #1730
Much appreciated!

[2016-12-16 15:22] aphelionz commented on #1730
@mauriel133 and @hyi Thank you both - is it possible to write a couple extra functional automated tests will cover this case in the future in case a similar regression happens?

[2016-12-16 15:44] hyi commented on #1730
@mjstealey I have no idea on the IrodsStorage error - never saw it before. I tried to create a resource on dev just now, but it appears I cannot even create a resource, so I cannot see a more detailed error message on this myself. I tried to look into the logs on dev, but cannot find any relevant error messages in the logs. I did pull the latest develop in my local environment yesterday, but I did

[2016-12-16 15:45] aphelionz commented on #1730
Paging @alvacouch because that looks like a Django Rest Framework serializer error

[2016-12-16 16:04] mjstealey commented on #1730
@hyi - You should be able to create a resource now. **NOTE** you will not see it in your my-resources page, so you'll want to make it public so that you can find it later on.

The reason you were not able to create a new resource was that the **Hydroshare Author** group had not yet been updated. You will need to do this locally as well since our development database does not already capture all of

[2016-12-16 17:38] mauriel133 commented on #1730
I've made the following PR which should fix the resource listing issue. It needs follow up concerning UI unit tests.

https://github.com/hydroshare/hydroshare/pull/1731

[2016-12-16 17:54] mjstealey commented on #1730
PR: #1732 looks to resolve the bag download issue.  It reverts the hs_docker_base image back to 1.7.5 + external Dockerfile additions. Will need to revise the proposed hs_docker_base:1.10.0 image to avoid future issues.

[2016-12-16 18:14] mjstealey commented on #1730
@mauriel133, @hyi, @pkdash, @aphelionz - Have manually modified https://dev.hydroshare.org to be equivalent to the result of merging both PR #1731 and PR #1732 into develop.

Issues look to be resolved, can you verify?

1. That my-resources page renders resources
2. That bag download works

[2016-12-16 18:17] mauriel133 commented on #1730
Listing resources in My Resources page is fixed at https://dev.hydroshare.org

[2016-12-16 18:26] hyi commented on #1730
@mjstealey I have just tested on dev and can verify both issues does get resolved on dev now. I'd suggest just to merge both PRs so we can move forward with development. As @mauriel133 commented on my resource page PR, we need to follow up with Alex on UI testing since those couple of JavaScript calls added by Alex for UI testing purposes are commented out to fix this my resources page issue. As f

[2016-12-16 19:01] danames commented on #1648
Verified fixed on www...

[2016-12-16 19:01] #1648 closed

[2016-12-16 19:10] mjstealey opened #1733 "my-resources - follow up concerning UI qunit tests"
Addition of qunit test renders my-resources page not usable in UI...

When the [following code](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/templates/pages/my-resources.html#L546-L550) is left uncommented, the user can no longer see their resources in the my-resources page:

[code]

[2016-12-16 19:16] mjstealey commented on #1730
Resolved

[2016-12-16 19:16] #1730 closed

[2016-12-19 13:30] mjstealey opened #1734 "Disable /tests/ from production deploys"
Do not want to expose the [/tests/](https://github.com/hydroshare/hydroshare/blob/develop/hydroshare/urls.py#L113) URL endpoint in production deployments
- Plan to use USE_SSL as the enable/disable flag for this endpoint

[2016-12-19 16:09] #1584 closed

[2016-12-19 16:15] Castronova opened #1735 "Exclude Web Crawlers from Activity Log"
The activity log does not check for a valid user before saving log messages.  This results in web crawler activity being logged which skews the usage statistics.  Non-human activity should be omitted during the logging process.

[2016-12-19 16:20] alvacouch commented on #1724
@mjstealey @hyi The state problem continues; repeating the swatshare test causes a failure.

[2016-12-19 17:54] dtarb commented on #1029
@hyi @horsburgh lets be efficient and try not hold up implementation by extended debate or complexity or generation of a new policy.

I recognize that it is almost impossible to protect against unethical copying.  It is possible for a user to download the files and do with them what they like, including re-uploading them into a new resource, losing isDerivedFrom metadata unless they specifically c

[2016-12-19 20:22] horsburgh commented on #1029
@dtarb - by defining the "rules," you defined the policy. My comment above was simply to address the fact that we should not program a system that allows users to violate licenses specified when other users share resources. I think your ideas above cover it.

I personally like the idea of having a pop up that explains why something can't be copied because it would hopefully serve to increase aware

[2016-12-21 16:04] #1582 closed

[2016-12-21 16:05] #1578 closed

[2016-12-21 17:21] dtarb commented on #1726
Discussed with @horsburgh. Decided to keep source and relation separate as they are separate DC terms.  @horsburgh to define improvements to clarify this for users and facilitate easier entry.

[2016-12-21 17:28] dtarb commented on #1726
@horsburgh while the broader clean up can be deferred, we do need immediate specific guidance to @hyi as to the type of relationship to be written when a resource is copied, #1029.  Source may be good, but if we recognize a use case may be to copy start data then do processing that adds quite a lot, the term source may not persist throughout the use case.  Please bear this in mind as you think thi

[2016-12-21 21:16] dtarb commented on #1698
With AGU behind us, closing this

[2016-12-21 21:16] #1698 closed

[2016-12-23 18:25] mauriel133 opened #1739 "Remove access message appearing at bottom of resource landing page."
![image](https://cloud.githubusercontent.com/assets/2448568/21460147/6d51b5dc-c902-11e6-993c-6e4318c88530.png)

[2017-01-02 14:11] alvacouch opened #1741 "Tests fail due to hard-coding of 2016 date"
The test: hs_core.tests.api.native.test_get_citation fails due to a hard-coded 2016 date. 2016 != 2017. Similar issues with other tests in hs_core.tests.api.native.

[2017-01-02 20:02] mauriel133 commented on #1052
Here is my take at exposing more this element:

![image](https://cloud.githubusercontent.com/assets/2448568/21595485/9f10dc88-d0eb-11e6-9bc8-ebc40f5982bf.png)

[2017-01-03 14:52] AmberSJones opened #1743 "Keyword editing removes existing keywords"
I am editing a resource to add keywords. I get an error that "Metadata failed to update". Then, some of the keywords that had previously been there are removed. The resource previously had 18 keywords. After attempting to add a keyword, it is reduced to 10 keywords. Is there a limit on the number of keywords allowed?

![image](https://cloud.githubusercontent.com/assets/5023186/21611270/53950d12-d1

[2017-01-03 15:37] alvacouch commented on #1741
I have more or less fixed this in my current PR.

[2017-01-03 15:40] alvacouch opened #1744 "Default behavior of files when duplicates are uploaded."
@pkdash @hyi @dtarb
Django -- by default -- ensures that each uploaded file has a unique filename. This is getting in the way of revising the filesystem. The worst behavior is that Django is preventing me from reusing a file name that I have already uploaded and then deleted. I can't figure out where it gets that information from.

I cannot currently envision any use for this in our system, and pr

[2017-01-03 15:58] dtarb commented on #1744
By same file, do you mean the exact same file, or any file with the same name.

I am happy to be practical and concur but do have a preference, but not an insistence, for common protections.  We have some protections in the folder front end already that warn/prevent a user from renames/moves or unzipping operations that clobber an existing file.  I would prefer the following common protections tha

[2017-01-03 16:03] alvacouch commented on #1744
@dtarb I mean the exact same file, in the sense that the filename and folder are precisely the same. Two files with the same name in different folders are different files.

[2017-01-03 16:05] hyi commented on #1744
@alvacouch @dtarb We had a similar discussion related to overwriting the file with the same name when doing unzipping. Initially I implemented what @alvacouch proposed here, i.e., replace the file with the same file name when unzipping, then we decided this is not a desired behavior and we should not replace without user's consent, but instead should present users with a warning such as the follow

[2017-01-03 16:07] alvacouch commented on #1744
@dtarb Currently, django_irods.storage does something silly, in the sense that it automagically enforces a new filename unpredictably if one uploads two files with the same name. I don't think we ever want that.

However, the behaviors you specify would not be part of django_irods. These are part of the API and UI.

My solution would turn off the annoying behaviors of django_irods and then replace

[2017-01-03 16:10] pkdash commented on #1744
@alvacouch

The above behavior seems strange to me.

[2017-01-03 16:12] alvacouch commented on #1744
@pkdash I have a test that reproduces that behavior. Further, that behavior is documented as correct. There must be some cache of filenames that have been used that is being used to detect conflicts.

[2017-01-03 16:14] alvacouch commented on #1744
@pkdash @hyi @dtarb I have successfully turned off this behavior with a short function in django_irods.

[2017-01-03 16:16] hyi commented on #1744
@alvacouch Could you paste a django documentation link here that documents that behavior as expected?

[2017-01-03 16:17] alvacouch commented on #1744
@pkdash It might be that using ResourceFile.delete (instead of iRODS delete) would fix the above behavior. I will see what that does. Currently, we are mixing native iRODS commands with FileField commands. This could be leading to the confusion I am seeing.

Further, with corrections to the way FileFields are constructed, I now have cascade delete, in the sense that deleting a ResourceFile deletes

[2017-01-03 16:18] pkdash commented on #1744
@alvacouch With this behavior being turned off what happens when same file is uploaded twice?

[2017-01-03 16:19] alvacouch commented on #1744
@pkdash It will happily overwrite it unless we modify istorage to prevent that, which is -- again -- a trivial mod.

[2017-01-03 16:20] pkdash commented on #1744
@alvacouch

Is one ResouceFile object has more than one FileField?

[2017-01-03 16:21] alvacouch commented on #1744
@hyi see https://docs.djangoproject.com/en/1.10/howto/custom-file-storage/#django.core.files.storage.get_available_name

The functionality is in get_available_name, which is method of the IrodsStorage class. The default is to deal with duplicates by adding a 7-character hash code to the file name before the extension. This is working exactly the way it should, but not a way that we would want!

[2017-01-03 16:21] alvacouch commented on #1744
@pkdash Currently one ResourceFile has two FileField objects, one for unfederated storage and one for federated storage. Only one is used at a time.

[2017-01-03 16:23] pkdash commented on #1744
@alvacouch That means deleting a ResourceFile object always deletes only one physical file - right?

[2017-01-03 16:30] alvacouch commented on #1744
@pkdash Yes. Deleting one ResourceFile always deletes one physical file.

In essence, we are in a situation of "plenty" in the sense that everything ResourceFiles should be doing is being done. This -- unfortunately -- has a few side effects. For example, now the ResourceFiles have full pathnames in the FileField, so that determining uniqueness is easy and handled at the istorage level. Previously

[2017-01-03 16:31] pkdash commented on #1743
@AmberSJones There is no limits to the number of keywords. It seems the update failed due to duplicate keywords (Oxygen). The update code needs to be changed so that some of the original keywords are not lost in the event of a update failure.

[2017-01-03 16:34] pkdash commented on #1744
@alvacouch Sounds good.

[2017-01-03 16:42] mohamedmorsy commented on #1557
@mjstealey I did some enhancement to the MODFLOW model instance resource to add more flexibility. I deployed the new version of the MODFLOW model instance resource on park.hydroshare,org. This new version has no restrictions on the nam file to make the resource public or discoverable.  As long as, there are two popular file extensions, .nam for a regular MOFLOW user, and .mfn for a MODFLOW user th

[2017-01-03 16:48] alvacouch commented on #1744
@pkdash this is what I was talking about when I looked at your code for collections. Fortunately, I have written some things that help, including `get_resource_path(resource, file, folder)` that always returns a fully qualified pathname that istorage can grok....

[2017-01-03 17:00] alvacouch commented on #1744
@hyi @pkdash @dtarb Thinking about @dtarb's requirements carefully, I think the proper thing to do is to always disallow naïve replacement of files with duplicate names, raising an exception in IrodsStorage whenever a user tries to do that. The user can then execute an API call to delete the pre-existing files and all will work; this is essentially the "force" option that @dtarb wants. This has th

[2017-01-03 17:01] hyi commented on #1744
@alvacouch Thanks for the link. Now I understand where those random 7 character alphanumeric string comes from for a duplicate file name. I'd be interested in knowing how you turned off this Django default behavior by writing a function in django_irods, perhaps when you open a PR for code review.

[2017-01-03 17:04] hyi commented on #1744
@alvacouch Agreed that we should always disallow naive replacement of files with duplicate names with an iRODS exception raised, which is what we have decided and what has been done for unzipping. The only thing needed in irodsStorage to allow this is to remove the ```-f``` parameter in ```_save()``` method. Then iRODS will raise an exception when trying to overwrite an existing file, and user int

[2017-01-03 20:18] danames commented on #1052
I like the map pulled up top like that. However where does the "open with"
button go now?

On Mon, Jan 2, 2017 at 1:02 PM Maurier Ramirez <notifications@github.com>
wrote:

--
Daniel P. Ames, Ph.D. P.E.
Professor, Civil & Environmental Engineering
Brigham Young University, Provo, Utah, USA
Editor-in-Chief Environmental Modelling & Software

[2017-01-03 20:20] pkdash opened #1745 "REST API for updating metadata raises Internal Server Error (500)"
The 'put' method manipulates an immutable dict (```request.data```). A copy of the immutable dict needs to be manipulated to fix this error.

[2017-01-03 20:24] mauriel133 commented on #1052
The button stays in the same place

![image](https://cloud.githubusercontent.com/assets/2448568/21621814/e5041e22-d1b7-11e6-966c-e7cc7e99daed.png)

[2017-01-03 21:10] horsburgh commented on #1052
What will you do if there is no coverage?

[2017-01-03 21:16] mauriel133 commented on #1052
If there is no coverage this section does not show up and looks exactly the same as our current page. Also, these fields are visible in edit mode for such case.

[2017-01-04 00:15] AmberSJones commented on #1743
Great, thanks for investigating and addressing @pkdash

[2017-01-04 14:40] #1734 closed

[2017-01-04 14:59] alvacouch commented on #1744
@hyi might be better to raise an exception in the get_acceptable_name routine, whose purpose is to disallow duplicate file names.... this seems to be how Django wants to handle it..... this is called before by save before _save.

[2017-01-04 15:02] alvacouch commented on #1744
@hyi: (I rewrote IrodsStorage.get_acceptable_name already to turn off the renaming.)

[2017-01-04 15:23] hyi commented on #1744
@alvacouch Got it. This makes sense to me and agreed it is better to disallow duplicate names even before it hits iRODS command.

[2017-01-04 15:50] hyi commented on #1029
I agree with @horsburgh that it has merit to show a pop up that explains why something cannot be copied even though this would involve a bit of more work on my part as opposed to not showing copy button at all if the resource's license does not allow derivation. @dtarb Want to confirm with you again which way you prefer. I have implemented not showing copy button at all if the resource cannot be c

[2017-01-04 16:18] mjstealey commented on #1739
merged into develop

[2017-01-04 16:18] #1739 closed

[2017-01-04 16:42] pkdash commented on #1741
@mohamedmorsy or @jsadler2 Can one of you fix this issue? I think the tests that are failing are originally written by you.

[2017-01-04 17:01] mohamedmorsy commented on #1741
@pkdash @alvacouch said that he has fixed this in his PR. @pkdash do you still want us to work on that?

[2017-01-04 17:04] pkdash commented on #1741
@alvacouch Have you already fixed this issue? I don't see a PR for this yet.

[2017-01-04 17:13] pkdash commented on #1741
@mohamedmorsy No need for you to work on this.

[2017-01-04 17:50] danames commented on #1052
Sounds/looks good to me...

On Tue, Jan 3, 2017 at 1:24 PM Maurier Ramirez <notifications@github.com>
wrote:

--
Daniel P. Ames, Ph.D. P.E.
Professor, Civil & Environmental Engineering
Brigham Young University, Provo, Utah, USA
Editor-in-Chief Environmental Modelling & Software

[2017-01-04 18:47] alvacouch commented on #1741
PR forthcoming.

[2017-01-04 19:30] pkdash commented on #1052
@mauriel133 Make sure you test this change with time series resource.

[2017-01-04 20:38] alvacouch commented on #1741
PR submitted, approved, and merged.

[2017-01-04 21:57] dtarb commented on #1029
I am willing to be practical in the implementation, but for me the ideal solution is to have the copy button greyed out/inactive when a user is not allowed to make a copy, with a hover over that explains that "The license for this resource does not permit copying."  This gets the message across, while at the same time not giving them a button followed by "You can not copy because the license for t

[2017-01-05 15:29] hyi commented on #1029
@dtarb OK, have implemented it in the way you describe above with a minor tweak: instead of show the hover over tooltip ```The license for this resource does not permit copying```, it shows the tooltip as ```You cannot copy because the license for this resource does not permit copying```.

[2017-01-05 16:51] dtarb commented on #1029
Super.  Thanks.

[2017-01-05 21:23] pkdash commented on #1743
@AmberSJones I am working now to fix this issue. I am not able to reproduce this error. I see in the screenshot there are duplicate keywords. However, I am not able to enter duplicate keywords.

[2017-01-05 22:40] AmberSJones commented on #1743
These resources were originally generated via the API by @fryarludwig, so it is likely that the API permits duplicate keywords.

@fryarludwig, can you address our utility to prevent duplicate keywords?

[2017-01-05 23:31] pkdash commented on #1743
At the database level there is constraint not to allow duplicate keywords. I am not sure how this could happen.

[2017-01-06 03:11] hyi commented on #1029
@dtarb @horsburgh I have deployed this to playground for your testing. Please test resource copy functionality on playground and let me know any changes you want to make. I will finish adding unit tests and create a PR tomorrow.

[2017-01-06 17:02] horsburgh commented on #1029
@hyi - I tested on playground. It mostly looks OK. I made a copy of a resource. That worked fine. The "Source" element gets set correctly to point at the resource that the copy was derived from. I then changed the license to the "no derivitives" license, and I cannot make a copy. When I hover over the copy button, I get the correct message. This all looks good.

My only complaint is that when I ca

[2017-01-06 18:54] pkdash commented on #1146
This has been fixed. So closing.

[2017-01-06 18:54] #1146 closed

[2017-01-06 20:18] hyi commented on #1029
@horsburgh Have updated playground to make the copy icon look grayed out when copy action is not allowed. Can you test on playground again to see if it looks good now?

[2017-01-06 23:11] dtarb commented on #1029
If I am the owner of a resource that has a ND license, I should still be able to copy it.

I would prefer to soften the language that appears when a resource is copied to:
"Your new copy of the resource has been created. A Derived From Source metadata element has been added to this resource in the Related Resources tab below that links to the original resource. Please respect the terms of the lice

[2017-01-09 17:24] hyi commented on #1029
@dtarb @horsburgh Playground has been updated with latest code changes that addressed all your testing comments. Feel free to take a look and let me know if you have any further comments to be addressed.

[2017-01-11 02:32] ChristinaB commented on #1642
Hi @danames
Reviewing the open issues in preparation for meetings tomorrow, I wanted to alert you that this issue is not quite resolved.  We are currently committed to polishing up and testing 12 apps that are pre-existing, but do not have a plan for any new Apps, or for communicating expectations to developers of new Apps. Do you want to discuss in the developer meeting?
C

[2017-01-11 16:11] danames commented on #1642
I propose we create a new app and add it to the HydroShare app page called "App Builder Tutorial" or something like that. When a user clicks it it opens an app that teaches them how to create a HydroShare app in tethys, how to document it, what the expectations are for apps, ALSO how to simply link your app using the Web App resource type, so that they can use apps created outside Tethys, etc. Thi

[2017-01-11 18:33] ChristinaB opened #1751 "Help Page Update -- Resource Type: Time Series"
@horsburgh
Please help with Help.  We would like this description to be easily accessible for a new user with a basic text file of Excel table of time series data and wants to know what to do next to upload to HydroShare.

Please edit at the [Time Series Help Page Google Doc](https://docs.google.com/document/d/1Cte984eak5-jvksHgI8R6TKYCSgzN9S1u3AvpFvIxLg/edit)

[2017-01-11 19:49] ChristinaB opened #1752 "Help Page Update -- Apps review checklist"
**List of App Help pages under the Apps Help icon:**

- [ ] EPA Waters App @danames The credits section just needs to be updated. See comment.  @Lizabrazil  - do you want to proofread and check the demo steps? [Here is the link.](https://docs.google.com/document/d/1FBAm6uC6k31cgT1_w9Wc_tosezy7QRryNR2aaR4g9lA/edit)

- [ ] HydroShareGIS - @danames and @shawncrawley   Great start on this! [Here is th

[2017-01-11 19:51] ChristinaB opened #1753 "Help Page Update -- Resource Types: Geographic Feature"
This is currently one sentence.  Let's expand it.
[Here is a link to the Google Doc](https://docs.google.com/document/d/1NSEhfWKOEr9EEXUyA6OQtJUrwUi6Pl72l0wWFXKIPvg/edit)

[2017-01-11 20:30] ChristinaB commented on #1642
If you have a student who wants to work on a Help App, we are happy to work with them to develop content that we can use on the flat help pages as a starter place to publish it.   Could this student meet with E&O regularly to get used to the Help issues and priorities?    A new mini-team is emerging with @jphuong supervising a UW intern, CUASHI intern and your  BYU undergrad?? to help with testing

[2017-01-11 20:38] #1693 closed

[2017-01-11 20:43] ChristinaB commented on #1661
@mjstealey and @dtarb and @pkdash
When I google 'Hydroshare help' i am taken to this old page
https://www.hydroshare.org/help/
which is different than the page I get to when I click on Help in the dashboard,  pages.hydroshare.org

Can we revisit calling help as help.hydroshare.org??
Thanks!!

[2017-01-11 20:47] ChristinaB commented on #1661
I labeled this as design because we need to make a communication design that is straightforward between Help and Support and how we want to design to make Help and Support accessible to users.

[2017-01-11 20:54] #1554 closed

[2017-01-11 20:55] ChristinaB commented on #1503
Hi @mauriel133
If this is done I can close the issue.  Thanks for all your work.
Christina

[2017-01-11 20:56] #1457 closed

[2017-01-11 20:56] #1456 closed

[2017-01-11 20:57] ChristinaB commented on #1387
@jphuong
Do we still want to think about visualizations for Collections? Or close this issue for now?
C

[2017-01-11 22:02] fryarludwig commented on #1743
The utility actually performs checks to ensure that only unique keywords are added. Is it possible that two keywords may have hidden characters that make them appear to be duplicated, while showing as unique? Simple keyword duplication checking is already handled on my end, but I'd be happy to investigate more if you would like.

[2017-01-12 00:18] dtarb commented on #1185
Verified done and working on www.

[2017-01-12 00:18] #1185 closed

[2017-01-12 00:37] dtarb commented on #1607
The root cause of this problem has been fixed with #1607.

The documentation/policy aspect of this is that a published resource cannot be deleted by the user and is only deleted by the system administrator in exceptional cases (e.g. grave error or abuse).  Please make sure that the help files reflect this.  Refer also to #1607 and #1649 that indicates an additional safeguard that will be implement

[2017-01-12 00:52] dtarb commented on #1661
Changing pages.hydroshare.org to help.hydroshare.org will not solve the problem of google taking you to https://www.hydroshare.org/help/.

The page at https://www.hydroshare.org/help/ is our old help page, now superceded by the content in pages.  I believe it is maintained by @rayi113. @ChristinaB please make a note/copy of any content in it that you believe to be of value.  @rayi113 please delete

[2017-01-12 16:39] horsburgh commented on #1753
@ChristinaB - The BYU guys developed the geographic feature resource type. Perhaps they should take care of the help for this one.

[2017-01-16 14:04] alvacouch opened #1755 "Discovery improvements"
@xuezhaokun @dtarb @martinseul @danames I conferred with Rick Hooper on how to best improve discovery. He made the following tangible observations.

1. The practice of clicking on a point to list overlapping regions is confusing to the naïve user.
2. Ordering by number of instances doesn't support use cases in which one is looking for a name in alphabetical order.
3. Geographical classification of

[2017-01-16 16:50] dtarb opened #1756 "Add setting to require agreement to license before manual downloading."
Following discussion with @darctur and at his request, lets add capability to have a pop up that opens when a user tries to download from a resource that requires them to click that they have read and agree to the rights statement.  This should be optional.  A resource editor should be able to set “Require agreement to rights statement before downloading” on a resource landing page.  I suggest thi

[2017-01-16 18:04] aphelionz commented on #659
@mjstealey @pkdash This ticket is over a year old at this point, though it could be valid. Should I put it into my project plan?

[2017-01-16 19:13] dtarb commented on #1755
@alvacouch I am all for Discovery improvements.  I recognize that this is a tough problem.  When you review our previous issue on this #1361 you see that comments were all over the map (pun intended).  I worry that the approach of taking input from all is inefficient and generates inconsistent suggestions with the coder getting jerked around a lot.  I think we need someone (or a small group) to ca

[2017-01-17 03:48] horsburgh commented on #1756
+1 for this. We also need this capability to support the iUTAH project. We already have the language of our access/use agreement. We just need a place to put it and a way to require people to agree to it before they access iUTAH datasets.

[2017-01-17 15:59] pkdash commented on #1743
@AmberSJones can you test to see if this issue got resolved and then close it?

[2017-01-17 15:59] aphelionz commented on #1052
@mauriel133 That looks great! Is this ready for a PR or did I already miss that one go by?

[2017-01-17 16:00] pkdash commented on #1606
@jsadler2 or @mohamedmorsy Can you test to see if this has been fixed and close it?

[2017-01-17 16:03] mauriel133 commented on #1052
@aphelionz, I've made a PR for it. I will implement some final changes today that should wrap it up.

[2017-01-17 16:05] mohamedmorsy commented on #1606
@pkdash this works now as expected. @pkdash Thanks!

[2017-01-17 16:05] #1606 closed

[2017-01-17 18:17] AmberSJones commented on #1743
We determined that the duplicate keywords were a result of attempting to load terms that contained commas, which were then parsed as separate keywords. @fryarludwig changed our script so that we don't try to pass any commas.

However, I just tried to manually edit the keywords on a resource and ran into a few issues. When I tried to add any keywords, I got an error that Metadata failed to update a

[2017-01-17 20:25] pkdash commented on #1743
@horsburgh and @dtarb Currently the keywords are case sensitive when checking for duplicates. Should we ignore case when checking for duplicate keywords?

[2017-01-17 20:42] Lizabrazil opened #1758 "Help Page Update- Collection Resource Type"
Expand on Collection Resource Type. Explain the steps involved of creating a collection of resources and the details involved with DOIs. Does each resource need a DOI before the collection of the resources obtains a DOI?
https://pages.hydroshare.org/hydroshare-resource-types/collection/

[2017-01-17 20:47] dtarb commented on #1743
Yes I would ignore case when checking for duplicate keywords.

[2017-01-17 20:58] horsburgh commented on #1743
I agree. Ignore casing.

[2017-01-17 23:28] pkdash opened #1759 "My resources filter facet counts"
I think these counts are not correct. I own 7 resources. I assume the counts for "Editable by me" and 'Viewable by me" should be 0.  It seems the backend gives the right counts for each of these facets. Needs fixing JS code.

![image](https://cloud.githubusercontent.com/assets/2523434/22044258/05b4682e-dcd1-11e6-8564-e85d994c8984.png)

[2017-01-17 23:38] hyi commented on #1759
@pkdash I am thinking perhaps "Editable by me" should include those "Owned by me" after all since "Owned by me" is also "Editable by me," hence I think logically it may work as it should.

[2017-01-17 23:56] pkdash commented on #1759
@hyi Only for this facet requirements we had to implement a very specific method ```user.uaccess.get_resources_with_explicit_access()``` - which is very complex.  We call this method 3 times in the view to generate the counts for each of the facets. If the requirement is as shown above then we could just use functions - ```user.uaccess.owned_resources(), user.uaccess.edit_resources() and user.uacc

[2017-01-18 14:37] alvacouch opened #1761 "connecting to iRODS during data migrations"
@mjstealey @hyi @rayi113 (cc: @dtarb) As I am now writing several data migrations to generally "harden" the code, it would be extremely useful to be able to contact iRODS during a data migration.

* At present, I am writing a data migration from "old" to "new" file handling. **Calling IrodsStorage.exists() would be particularly handy** as a sanity check that I did things correctly. I am translatin

[2017-01-18 14:41] #1741 closed

[2017-01-18 14:42] alvacouch commented on #1710
Issue addressed in PR#1717

[2017-01-18 14:42] #1710 closed

[2017-01-18 15:04] alvacouch opened #1762 "move file metadata to ResourceFile object"
@pkdash @dtarb @martinseul @hyi @aphelionz

In analyzing the quality of the code, I found significant duplication of file handling. As well, the main problems mentioned in issue #1644 concern handling of file metadata. There is a relatively straightforward solution to these problems that we now have within our grasp.

In a nutshell, I propose that we **move file metadata to an attribute of the `Re

[2017-01-18 15:10] alvacouch commented on #1643
Addressed in #1710

[2017-01-18 15:10] #1643 closed

[2017-01-18 15:11] alvacouch commented on #1719
Resolved; the decision was to leave the 404 errors alone as a security restriction.

[2017-01-18 15:11] #1719 closed

[2017-01-18 15:19] hyi commented on #1761
@alvacouch If I understand your comment correctly, I think this can be done easily and has already been done as shown here in a custom raster data migration: https://github.com/hydroshare/hydroshare/blob/develop/hs_geo_raster_resource/migrations/custom_migration_for_tif_to_vrt_20160223.py

[2017-01-18 15:23] hyi commented on #1762
@alvacouch Your proposal looks good to me. My only potential concern is that there might be migration issues as a result of making the proposed changes. If Django can handle migrations automatically without issues, I am all for it.

[2017-01-18 18:17] alvacouch commented on #1575
I am closing this because it seems to have been addressed in interveining PRs.

[2017-01-18 18:17] #1575 closed

[2017-01-18 18:19] alvacouch commented on #893
This has been handled in PR #1710  and previous ones.

[2017-01-18 18:19] #893 closed

[2017-01-18 18:20] alvacouch commented on #1591
Completed via the changes listed in issue #1754

[2017-01-18 18:20] #1591 closed

[2017-01-18 18:23] alvacouch commented on #1631
Addressed in PR #1710

[2017-01-18 18:23] #1631 closed

[2017-01-18 19:13] alvacouch commented on #1695
Resolved: groups should not have UUIDs. Original design is no longer desirable.

[2017-01-18 19:13] #1695 closed

[2017-01-18 19:24] ChristinaB commented on #1607
@hyi  - can you delete this resource so that this link is broken forever?
Jenkins, S. (2016). Water Point Data Exchange global dataset failures, joined to original data, HydroShare, http://dx.doi.org/10.4211/hs.61dbf283189c457185ea16bc629d9db4

@Lizabrazil can you delete this DOI?

We have a copy of the correct version of how we should have created this resource - without publishing the DOI!

[2017-01-18 19:50] pkdash commented on #1762
@alvacouch Are you proposing that we implement metadata in all resource types how it is done in the new composite resource?

Why we need to create ```PhysicalFile``` which is currently same as the ```ResourceFile```?  What you proposing the new '''ResourceFile``` to be that is the ```LogicalFile``` in composite resource type. May be I am missing something.

[2017-01-18 20:21] ChristinaB opened #1763 "Metadata on latitude gives an error- where is the error?"
Hi @gantian127  Do you mind taking a look at this resource? When you view the data in the Extent tab, you can see that the coordinate bounding box has an error.

This is the list of available data is for the 2015 Livneh Colorado ftp site - 1950-2013  VIC and MET - and 1915-2013 MET to be determined link...
[Gridded climatology locations (1/16th degree): North American extent](https://www.hydroshar

[2017-01-18 20:59] dtarb commented on #1161
@alvacouch please add your suggestions here.

[2017-01-18 21:10] hyi commented on #1607
@ChristinaB Have just deleted this resource along with its wrongly created versioned resource counterpart. Let me know if you notice any issues.

[2017-01-18 21:38] pkdash opened #1764 "Need a file icon for SQLite file"
It would be good to use a better icon (not the default file icon we are using now)  to display SQLite file.

[2017-01-19 13:20] alvacouch opened #1765 "django model constraints inadequate"
The current crisis is a symptom of a larger problem. **It should not be possible to enter nonsensical metadata into Django.** Addressing this is a matter of
1. Adding reasonable constraints to the metadata models so that this is not possible.
2. Where necessary, slightly redesigning the models so that constraints are easier to define.

[2017-01-19 18:42] alvacouch commented on #1765
The crisis in PR #1766 should be a learning experience. The search interface was overly presumpive that a `Creator`'s name would never be None. Since the database allowed it to be None (presumably, because a `Creator` can be an organization, which is another field in the `Creator`/`Party` model, **making the name None was a legitimate use.**

[2017-01-21 04:33] pkdash commented on #1743
@AmberSJones @dtarb I have done some work to fix many of the issues related to keywords editing. Now it should not be possible add duplicate keywords. It should be possible to delete all keywords.

This work has been deployed at testservies.hydroshare.org for testing. Let me know if it meets the requirements.

[2017-01-21 15:27] dtarb commented on #1743
I tested this on testservices.hydroshare.org.  I generally like this but think that a message is needed if a keyword is not added.  For example I added a keyword dem.  Then I tried to add Dem.  It was not added (correct behavior), but rather than just nothing happening, there should be a message "Duplicate.  Keyword not added."

We might consider other helpful messages too.  If a resource is publi

[2017-01-21 18:03] dtarb opened #1769 "Copy resource improve language"
Please add the word "**License**" to the end of license statements for resource page and copy pop up message, so we get a complete sentence such as:
This resource is shared under the Creative Commons Attribution CC BY **License**.

[2017-01-21 18:16] dtarb commented on #1029
Testing today on candidate release 1.9.4 beta this looks to be all satisfactory, so closing.

[2017-01-21 18:16] #1029 closed

[2017-01-21 18:29] dtarb commented on #1763
@ChristinaB Please provide permissions to the HydroShare developers group to see the contents of this file so we can look at it and debug it.  You have made it discoverable, which lets us see the metadata but not the data.

Looking at the metadata it indicates that the spatial coordinate reference system is NAD_1927_UTM_Zone_10N.  This is a UTM projection and the coordinate string indicates that h

[2017-01-21 18:46] dtarb opened #1770 "Browse button appearance truncated"
In the Firefox browser on a Windows 10 PC the button to Browse to add a file to a resource is truncated at the bottom

![image](https://cloud.githubusercontent.com/assets/3456833/22176803/38d38522-dfcf-11e6-9a06-3df3eedb81d7.png)

[2017-01-21 19:01] dtarb commented on #1763
@ChristinaB the ftp link in the abstract of the resource you mention is malformed, hampering access to it.

[2017-01-21 22:21] pkdash opened #1771 "Raster resource creation using files from user federated zone fails"
This problem was first noticed from a failing unit tests that uses user zone federated files for creating a raster resource.

[2017-01-22 03:45] pkdash commented on #1743
@dtarb I have made some changes based on your comments above. The new interface looks like this:

![image](https://cloud.githubusercontent.com/assets/2523434/22179721/63827d2e-e019-11e6-856a-0782df2a4ec0.png)

The first message is displayed always. The 2nd message related to duplicate keywords will be displayed only when the user tries to add a duplicate keyword. That message will disappear next t

[2017-01-22 12:23] dtarb commented on #1743
This is good.

[2017-01-22 12:44] alvacouch commented on #1755
@dtarb One of the main challenges of these specific suggestions is that several of the suggestions Rick made are not "practical", in the sense that they are not supported by the underlying data model. There are two main themes:
1. We have insufficient metadata to reliably sort creators by last name(!)
2. We have  insufficient metadata to reliably categorize coverage resources by geographic region

[2017-01-22 12:56] alvacouch opened #1774 "Discovery -- insufficient metadata to sort creators by last name"
In #1755, I pointed out that current creator metadata is insufficient to sort that metadata by last name. The reason for this is that a creator **who is not a HydroShare user** has just a "name", and not "first" and "last" names. HydroShare users have "first" and "last" names in their user profiles, but non-users just have a "name" field in the Party model, where Creator is a subclass of Party.

T

[2017-01-22 13:04] alvacouch opened #1775 "Discovery -- insufficient metadata to categorize spatial coverages by geographic region name"
In #1755, one of the possible improvements for discovery is to treat geographic region name as a facet. This is problematic, because our current geographic coverages are rectangular, and there is no precise algorithm for determining what region name to map to each rectangle.

For example, a coverage for Italy overlaps surrounding countries, and there is no way to know whether there is actually dat

[2017-01-22 13:22] alvacouch commented on #1762
@pkdash Yes, I want the metadata for files to be in its own object, just like for CompositeResource. I think it will save us a lot of trouble in the future.

PhysicalFile is not the same as ResourceFile. ResourceFile is a container for possibly multiple files with overlapping metadata. PhysicalFile is one of those files.

It is agreed that there is still resource metadata. For example, parameters

[2017-01-22 13:23] alvacouch commented on #1762
@hyi I plan to write manual data migrations to accomplish this. These are relatively straightforward, as I am just copying a set of model fields from one place to another.

@pkdash It would actually help to leave the NetCDF metadata as explicit, because that makes it easier to copy than coding it into key/value pairs.

[2017-01-22 13:25] alvacouch commented on #1762
(The current data migrations I am writing are much more complex than these. If I can successfully complete the current migrations, the next set will be much easier to craft.)

[2017-01-22 13:29] alvacouch commented on #1771
@pkdash. This has come up in my ResourceFile testing. I think I might have even fixed it. But it's part of PR #1687 and not easily separable.

[2017-01-22 13:31] alvacouch opened #1776 ""Visualize" button on resource landing page"
@horsburgh @dtarb @danames Discussions last Wed demonstrated a need for a "Visualize" button on each resource landing page that easily gives access to the appropriate visualization app. This can point to an app or internally, but bypasses the app registry and is only sensitive to resource type. Thus, a user does not have to learn about the app registry in order to visualize something.

This -- in

[2017-01-22 14:24] alvacouch commented on #1361
Apparently we can't close it because there is still content under discussion.

[2017-01-22 15:35] dtarb opened #1777 "Composite resource cannot cut and paste files (and thus cannot move files in folders to higher level)"
In a composite resource, even for files that are generic the cut and paste functionality is not enabled.  This means that if a file is put in a folder, there is no way it can be moved back out to a higher level.

[2017-01-22 15:53] alvacouch commented on #1755
@dtarb I think Rick has the proper approach for sorting this out:
1. Concentrate on "use cases" and "enabling common workflows".
2. Evaluate each approach as to how well it matches the user's needs.

[2017-01-22 21:12] pkdash opened #1778 "Terms page needs be updated for Composite resource"

[2017-01-22 21:15] pkdash commented on #1477
This has been implemented and deployed as part of 1.9.4.

[2017-01-22 21:15] #1477 closed

[2017-01-22 21:18] pkdash commented on #1126
@dtarb Does this issue need to stay open until we implement all file types?

[2017-01-22 21:24] pkdash commented on #931
@alvacouch, @hyi and @dtarb I plan to work on this issue over next couple of days. Primarily I will be removing dead code. Let me know if you have any concerns.

[2017-01-22 22:18] dtarb commented on #1126
I am happy to close and handle additional types, or additional issues associated with this separately.

[2017-01-22 22:18] #1126 closed

[2017-01-22 22:46] dtarb commented on #1776
See #1161, #1609, and #1610 that also relate to how apps are launched.  I think we need a holistic design for this.

[2017-01-22 22:51] dtarb opened #1779 "Attempt to copy an app resource results in the following error"
![image](https://cloud.githubusercontent.com/assets/3456833/22186896/937661de-e0ba-11e6-85c5-482f24d63f50.png)

[2017-01-22 22:54] dtarb commented on #468
Closing as this appears stale.  It seems like several app resources have been successfully created and edited.  I am able to create an app and edit metadata without error so I presume this is resolved.  @jsadler2 if this is still an issue, please reopen or post another with specific details.

[2017-01-22 22:54] #468 closed

[2017-01-23 00:14] dtarb commented on #1755
Here are my suggestions related to the map in response to @alvacouch request.  Some come from #1361, but many are new in reaction to the problems mentioned above.

1. The map should essentially function as another filter facet with the only difference between the  list tab and the map tab being the map at the top.  The resources listed below the map and displayed on the map when you are in map tab

[2017-01-23 00:16] dtarb commented on #1361
I agree with this being closed as the noise to signal ratio in here is high.  There are many comments about test deploys that no longer exist, so the discussion needs to move on from this issue.  Lets work on map improvements in #1755 and other Discovery improvements in separate issues for them.

[2017-01-23 01:11] dtarb commented on #1774
Sort by last name is a new use case.

This has been addressed (but perhaps in band aid fashion) in the rules for generation of citations, where there is the rule that a name can be expressed as
Sen Gupta, Avirup
or
Wilkins Jr., Pete Paul Mary
and then the entire part prior to the comma is interpreted as lastname.  For example the citation may be:

There must be code that is part of the citation fu

[2017-01-23 18:28] hyi commented on #1769
@dtarb Just to confirm: do you want the word "License" bolded as shown in your comment above? It appears to me the answer is yes, but want to confirm with you just in case.

[2017-01-23 18:35] hyi commented on #1769
@dtarb @pkdash Also, since the license statement is stored in our metadata, hence in Django database and metadata xml file, to simplify things, I don't want to modify the metadata just to add the word "License" to the end of license statement, but only want to add the word "License" to the page and message display without updating metadata. Let me know if you see any issues with this approach.

[2017-01-23 18:58] hyi commented on #1769
@dtarb @pkdash Have created a PR for this issue and requested @pkdash to review.

[2017-01-23 19:10] hyi commented on #1779
@dtarb @jsadler2 @zhiyuli This PR can be treated as a duplication of this issue: https://github.com/hydroshare/hydroshare/issues/1601 since copying and versioning are using the same underlying code/method for metadata copying, and the exact same error message for apps resource is documented in that versioning issue as well. This issue is caused by the way the resource handles metadata update for m

[2017-01-23 19:38] hyi commented on #1762
@alvacouch For manual migration you are going to write, you would have to retrieve those metadata elements from the old resource metadata model and create them in the new ResourceFile model, right? Since in the new ResourceFile model, the old resource metadata elements would not exist, your manual migration would include two stages, the first would be the manual migration that would run in the old

[2017-01-23 20:38] hyi commented on #1769
@dtarb I have merged the PR after getting a +1 from @pkdash that added the bolded **License** wording as you commented above. If any further changes were requested, I'd create new PR to address.

[2017-01-23 21:35] Lizabrazil opened #1784 "Help page update- Add examples to google docs notes for additional resources"
Dave, when you get a chance please add links to resource examples for the following resource types:
SWAT  Model Instance
MODFLOW Model Instance
Web App
Script
Collection
https://docs.google.com/document/d/14rPVmHvrRXeT5YVthK_ffoFUZ5zGxsP492k7h5AlZL8/edit

[2017-01-23 21:38] dtarb commented on #1769
I did not actually want the word bolded.  I had shown it bolded to indicate it was an addition.

I am OK with the word appearing on the display and not in the metadata, since in the metadata it is probably inside a "rights" metadata field.

[2017-01-23 21:51] hyi commented on #1769
@dtarb Have created a new PR just to unbold the word **License**. I will merge it after Jenkins give a green check.

[2017-01-23 22:02] dtarb commented on #1769
Sorry it is so much trouble just to change style.

[2017-01-25 16:16] aphelionz opened #1786 "python tmp underpinnings"
To ensure we're sending uploads to the right place, two updates should be made.

1. Update instances of mkdtemp to mkstemp
2. Update environment variables TMPDIR, TEMP, TMP to point to /hs_tmp

[2017-01-25 16:31] dtarb commented on #1784
I added SWAT Model Instance.  https://www.hydroshare.org/resource/1f5dfda783574c45b36b8a884e07c6e0/.  @vmmerwade please confirm that this is a good one to use.

MODFLOW.  @goodalljl please provide a good MODFLOW example for the help page examples.

Web App. https://www.hydroshare.org/resource/9674a0af9f30410e9e02397c91284f54/.

[2017-01-25 17:28] dtarb commented on #1784
Script https://www.hydroshare.org/resource/6b642d6ede9f4b289ae1adb4be48a022/

[2017-01-25 17:29] mohamedmorsy commented on #1784
@dtarb @goodalljl Here is a complete example for MODFLOW model instance resource type.

https://www.hydroshare.org/resource/e7b29a3767654250bed7cd46c52e95d9/

[2017-01-25 17:46] zhiyuli commented on #1779
@dtarb @hyi @mohamedmorsy
OK, I was able to duplicate this error on my local VM. Will look into this today.
@mohamedmorsy Is your fix for model res type merged or not?

[2017-01-25 17:50] mohamedmorsy commented on #1779
@zhiyuli I did merge it yesterday. This fix was done for both SWAT and MODFLOW model instance resource types.

[2017-01-25 18:10] zhiyuli commented on #1779
@mohamedmorsy thanks. Will research your changes.

[2017-01-25 18:13] mohamedmorsy commented on #1779
@zhiyuli you can find the changes here https://github.com/hydroshare/hydroshare/pull/1757/files

[2017-01-25 18:17] alvacouch opened #1787 "Creator metadata has insufficient disambiguation for people who are not HydroShare users"
@dtarb @pkdash @horsburgh As discussed on Monday's call, the Party model insufficiently disambiguates people who are not HydroShare users. Two non-users with the exact same name cannot be told apart reliably, because the fields that might disambiguate them are optional.

One possible approach to solving this is to add the ORCId research id of the person to the Party model, or -- somewhat less usef

[2017-01-25 18:27] alvacouch opened #1788 "Creator input rules in UI are not obeyed by the REST API"
@aphelionz @dtarb @martinseul As discussed on Monday's call, the UI for inputting `Creator`s and `Contributor`s allows only two kinds of inputs (based upon the `Party` model from which `Creator` and `Contributor` inherit all of their fields):
* If `Party.name` is not `None`, the record is interpreted as a person
* If `Party.name` is `None`, it is interpreted as an organization and `Party.organizat

[2017-01-25 18:31] alvacouch commented on #1787
As well, the HydroShare ID is not part of the `Party` model, either, though the email typically matches but might not. Currently the only definitive source of HydroShare id's is access control records. It would be better to explicitly include the HydroShare ID in the `Party` metadata as well. This would allow someone to be unambiguously listed as a contributor who no longer has access, e.g.

[2017-01-25 18:37] alvacouch commented on #1787
As another side note, there is a reasonable interpretation of two records with the same ORCid and different organizations, because a Creator is always working in the context of one or more organizations. This organization can change as people move around in their careers, but the ORCid stays the same. This is a huge advantage of using an ORCid as a person identifier.

[2017-01-25 19:58] alvacouch commented on #1774
The current REST API does not honor the UI restrictions on Creator. See issue #1788.

I disagree with the philosophy that the user can figure out the ambiguities above. They can be really difficult to figure out.

There is a python library "[Probable People](https://parserator.datamade.us/probablepeople)" that does a much better -- though not perfect -- job of parsing peoples' names into first/mid

[2017-01-25 21:43] hyi commented on #1774
@alvacouch @pkdash @dtarb This may be a naive question, but why don't we ask users to input first name and last name (and middle name) when adding authors/contributors rather than just asking them to input whole name? Of course, for authors with identical names who are not hydroshare users, there will still be ambiguity which can only be resolved with an ID. ORCid is great, but not everyone has on

[2017-01-26 00:07] AmberSJones opened #1792 "Publishing Gives Error"
I just attempted to publish a new version of a previously published resource. I created a new version, made some edits, and proceeded through the screens for formal publication. The result was an error:
![image](https://cloud.githubusercontent.com/assets/5023186/22314872/ae7e808e-e320-11e6-8922-2b5fa4dbd671.png)

[2017-01-26 03:02] horsburgh commented on #1792
Hmmm... Super informative error message...

@hyi - any suspicions about what happened?

[2017-01-26 15:12] hyi commented on #1792
@AmberSJones @horsburgh After some investigation, I found the issue and have just created a PR https://github.com/hydroshare/hydroshare/pull/1793 to fix this regression error. I have also manually applied the change as a hot fix on www production server since without the fix, resource publication will no longer work. Not sure how this happened. My speculation is that can_be_published used to be a

[2017-01-26 15:16] hyi commented on #1792
@mjstealey I have manually applied the fix on www as a hot fix since it is a regression issue which causes resource publication no longer to work. After @pkdash give a +1 to that PR, I will merge it to close the loop for this issue.

[2017-01-26 15:59] horsburgh commented on #1792
@hyi - thanks for working on this so quickly. @AmberSJones can report back after testing.

[2017-01-26 17:55] AmberSJones commented on #1792
I published successfully. Thanks for the quick response. I'll close the issue.

[2017-01-26 17:55] #1792 closed

[2017-01-26 18:33] pkdash commented on #1745
This has been resolved. So closing.

[2017-01-26 18:33] #1745 closed

[2017-01-26 20:32] #1786 closed

[2017-01-26 20:33] aphelionz commented on #1788
Starting work on this now

[2017-01-28 22:57] mohamedmorsy opened #1795 "In the MODFLOW metadata XML file, if a user enters multi ModelInput datasets only the first dataset will be recorded"

[2017-01-30 16:37] mjstealey opened #1797 "Default robots.txt to disallow everything"
Add django-robots to codebase to allow management of robots.txt from admin panel

[2017-01-30 16:40] mjstealey opened #1798 "Establish simple http authorization on all development sites"
Add simple user/pass mechanism to all development sites where HydroShare is deployed to.
- Will need to coordinate with API devs to see how this effects existing tests

[2017-01-30 16:54] alvacouch commented on #1611
Closed due to further testing.

[2017-01-30 16:54] #1611 closed

[2017-01-30 16:55] alvacouch commented on #1696
In essence I believe this has been addressed.

[2017-01-30 16:55] #1696 closed

[2017-01-30 17:13] pkdash commented on #1771
@hyi Can you test at the UI level to see if this has been fixed? I know I did a fix to fix the failing test. But I was not able to test for creating raster resource using a file from the user federated zone. I assume you can do this kind of testing. If you let me know that you are able to create a raster resource using a federated file (tif) then I will close this issue.

[2017-01-30 17:16] pkdash commented on #1743
@AmberSJones Can you test this and see if you can close this issue?

[2017-01-30 17:19] pkdash commented on #1399
@dtarb Is this still an issue?

[2017-01-30 17:23] pkdash commented on #1360
@dtarb Is this still an issue? I believe this has been resolved with the work @jsadler2 and @mohamedmorsy did with the citation.

[2017-01-30 17:26] pkdash commented on #1034
@alvacouch Should this be closed as we now have individual issues for various file types?

[2017-01-30 17:26] pkdash commented on #931
This cleanup has been done. So closing.

[2017-01-30 17:26] #931 closed

[2017-01-30 17:29] pkdash commented on #647
@dtarb Should this be closed?

[2017-01-30 17:30] pkdash commented on #659
@aphelionz That sounds good to me.

[2017-01-30 18:31] hyi commented on #1771
@pkdash Just done some testing on www. Creating a raster resource using files from the user zone works as expected. However, when I create an empty raster resource, then add a tif file from the user zone, although extended resource specific metadata is extracted correctly, one extra temporary tif file is added into resource file content which should not happen. See the screen capture below for an

[2017-01-30 18:35] hyi opened #1799 "Strip pickle out from celery setting to avoid potential security issues"

[2017-01-30 18:40] hyi opened #1800 "username validation and lock out from modification"
This ticket needs to address two items:

1. Make sure username validation rule on Django side is the same as that on iRODS side so that there will be no potential issues with iRODS user zone account creation with the same username created in Django.

2. Lock out username from subsequent modification, i.e., users cannot modify their username after initial creation, and inform users properly.

[2017-01-30 18:49] pkdash commented on #1771
@hyi Thanks for doing the test. I will look into this additional file issue.

[2017-01-30 19:33] aphelionz commented on #1788
@alvacouch What is the desired fix here? I'm comparing two functions and I'm having trouble figuring out what the right move is.

Inside of hs_core.views.__init__._share_resource, we have a user_or_group conditional and then either a get_user_by_id or get_group_by_id call.

Inside of  hs_core.views.resource_access_api.ResourceAccessUpdateDelete.put, we have  something _very_ similar, down to the c

[2017-01-30 20:58] mauriel133 opened #1804 "Get file type metadata - POST error"
I'm getting a POST error whenever I click on a file item in the resource landing page.

![image](https://cloud.githubusercontent.com/assets/2448568/22441290/02c04886-e6f4-11e6-8eef-2f5d40fe719c.png)

I think this has to do with the function function **showFileTypeMetadata** declared inside hs_file_browser.js

[2017-01-30 21:04] pkdash commented on #1804
@mauriel133 I will fix it.

[2017-01-30 21:50] alexlemann opened #1805 "Review XSS"

[2017-01-30 21:52] alexlemann opened #1806 "Review CORS + CSP"
django-cors-headers settings
nginx config

[2017-01-30 21:53] alexlemann opened #1807 "Add requires.io badge to Github"
Allow easy checking for out of date Python dependencies
- [x] rework [hs_docker_base](https://github.com/hydroshare/hs_docker_base) to comply to requires.io formatting.
  - Existing requirements are not brought in by a file, but rather by direct definition in the Dockerfile
- [ ] ~update Celery to 4.0.0 to allow for the removal of Pickle ( reference #1799 )~
- [x] define as hs_docker_base:1.9.5 in

[2017-01-30 21:54] alexlemann commented on #1806
Check ordering of middlewares in settings (see: django-cors-headers docs)

[2017-01-30 21:55] alexlemann opened #1809 "Remove pickle serializer from Celery"

[2017-01-30 21:56] alexlemann commented on #1809
closing this as a dupe of #1799 .

[2017-01-30 21:56] #1809 closed

[2017-01-30 22:33] pkdash commented on #1769
@dtarb I assume this has been fixed. See if you can close it.

[2017-01-30 22:36] pkdash commented on #1699
@jsadler2 Are you planning to implement this change?

[2017-01-30 22:46] pkdash commented on #1652
@hyi Not sure if this still is an issue.

[2017-01-30 22:49] pkdash commented on #1620
@mjstealey Should this be closed?

[2017-01-30 22:50] pkdash commented on #1566
@hyi and @mjstealey I assume you both are working on this.

[2017-01-31 15:15] jsadler2 commented on #1699
This has been pulled into develop

[2017-01-31 15:15] #1699 closed

[2017-01-31 15:16] jsadler2 commented on #1601
the solution to this bug has been merged to develop

[2017-01-31 15:16] #1601 closed

[2017-01-31 15:31] alexlemann commented on #1531
This was completed with PR #1612

[2017-01-31 15:31] #1531 closed

[2017-01-31 15:33] alexlemann commented on #268
Initial set up completed with merge of PR #1614

[2017-01-31 15:33] #268 closed

[2017-01-31 15:38] alexlemann commented on #11
Initial tracking finalized with adding tracking of download events in issue #1531 and PR #1612

[2017-01-31 15:38] #11 closed

[2017-01-31 16:02] hyi commented on #1799
@mjstealey @alexlemann @aphelionz @dtarb I have verified simply stripping out pickle serializer from celery will prevent celery tasks from working. After some investigation, I found out before celery version 4.0, the default celery task serializer is pickle, but since version 4.0, the default celery task serailzer becomes JSON. Since we are using celery version 3.1.23, the current celery version m

[2017-01-31 16:50] mjstealey commented on #1807
Added checklist to issue definition

[2017-01-31 16:55] AmberSJones commented on #1743
Thanks for the reminder. I tested at testservices.hydroshare.org and had no issues. The error messages were helpful. I'll close it.

[2017-01-31 16:55] #1743 closed

[2017-01-31 18:39] alexlemann commented on #1799
@hyi do you have any sense of why removing the pickle serializer breaks things? Do you think that simply upgrading Celery will fix that? If not you might be left trying to debug that lingering problem in a less familiar environment.

It sounds like 4.x is the way of the future and makes sense to get there sooner rather than later in order to keep upgrades less bumpy later on. That said, moving to

[2017-01-31 19:26] hyi commented on #1404
Just a note here for bookkeeping purposes. For gigabyte large files whose bag need to be recreated, it does take a long time for the bag to be regenerated when users try to replicate the bag to their user zone space, as observed by @mjstealey when he tried to resolve a bag download issue for this resource https://www.hydroshare.org/resource/ff2e648104254ee4bcf8db925170ea91/ which is about 3GB in s

[2017-01-31 20:09] hyi commented on #1799
@alexlemann See this http://docs.celeryproject.org/en/latest/faq.html specially on the section "Is Celery dependent on pickle" in which is says the default serialization support used to be pickle, but since 4.0 the default is now JSON. Also see this http://docs.celeryproject.org/en/latest/userguide/security.html#security-serializers. When I remove "pickle" from CELERY_ACCEPT_CONTENT setting, celer

[2017-01-31 20:43] aphelionz commented on #10
@dtarb @mjstealey Should we close this? Alternatively we can make a "deferred" or "bikeshed" label and stick them there.

[2017-01-31 20:46] aphelionz commented on #17
@dtarb @mjstealey @rayi113

Do we want to close this and / or make tickets for the remaining items?

- Documenting procedure for HydroShare iRODS server to join HydroShare iRODS datagrid zone.
- Documenting procedure for configuring HydroShare Django instance to use HydroShare iRODS grid as a network file system.

[2017-01-31 20:47] aphelionz commented on #20
@dtarb @alvacouch Where are we at on this one?

[2017-01-31 20:47] aphelionz commented on #27
@hyi @dtarb @mjstealey Where are we at on this one?

[2017-01-31 20:51] aphelionz commented on #74
@hyi @dtarb @mauriel133 Where are we at on this one?

[2017-01-31 20:51] hyi commented on #27
@aphelionz I don't think we have made any progress on this one, but @dtarb or @mjstealey may know more on this.

[2017-01-31 20:54] hyi commented on #74
@aphelionz This is an enhancement low priority issue, I don't think it has been worked at yet.

[2017-01-31 20:58] aphelionz commented on #74
@hyi thank you

[2017-01-31 21:00] mjstealey commented on #10
Added Backburner to it, but I'd vote to close it since much has changed since Dec of 2014. A fresh start based on existing Jupyterhub work might be best.

[2017-01-31 21:03] rayi113 commented on #17
I suggest closing this and creating tickets for the remaining items to be completed after #1566 @hyi implementation of file quota.

[2017-01-31 21:06] aphelionz commented on #97
@pkdash @mjstealey @dtarb @hyi This one?

[2017-01-31 21:06] aphelionz commented on #126
@ironfroggy @selimnairb @dtarb Checking on this one...

[2017-01-31 21:12] aphelionz commented on #129
@dtarb @horsburgh Let me know where we are on this one, thanks!

[2017-01-31 21:12] aphelionz commented on #132
@pkdash Are we still implementing PUT

[2017-01-31 21:19] pkdash commented on #132
@aphelionz I would think we need to implement PUT. @alvacouch your thoughts?

[2017-01-31 21:23] pkdash commented on #126
@aphelionz The person who created this issue (ironfroggy) is no more working in this project.  I don't know what this issue is about. May be we close it.

[2017-01-31 22:47] hyi commented on #1799
@alexlemann I think you are right, upgrading to 4.0 may involve a lot of work with our current code base since I see a lot of celery deprecation warning such as ```celery.task.sets and TaskSet is deprecated and scheduled for removal in version 4.0. Please use "group" instead (see the Canvas section in the userguide)```. I have also tried to update celery in my container to version 4.0.2, but ran i

[2017-01-31 23:33] horsburgh commented on #129
No progress on this one.

[2017-02-01 04:14] dtarb commented on #126
I am going to close this with a mention for @alexlemann. If you know what Calvin was referring to and think this is still needed, please create a new issue that we understand.

[2017-02-01 04:14] #126 closed

[2017-02-01 04:17] dtarb commented on #97
This is a nice wish list item, but I'll close for sanity.

[2017-02-01 04:17] #97 closed

[2017-02-01 04:20] dtarb commented on #17
OK Closing.

[2017-02-01 04:20] #17 closed

[2017-02-01 04:21] dtarb commented on #10
OK Closing

[2017-02-01 04:21] #10 closed

[2017-02-01 04:23] dtarb commented on #27
I think this is resolved.  The system does not let one create an account with the same email as an existing account.

[2017-02-01 04:23] #27 closed

[2017-02-01 04:26] dtarb commented on #20
Closing as I do not think we have a current use case demanding this.

[2017-02-01 04:26] #20 closed

[2017-02-01 04:35] #647 closed

[2017-02-01 04:37] #1360 closed

[2017-02-01 14:00] hyi commented on #1769
@dtarb See if the language change is to your satisfaction on www and close it if it does.

[2017-02-01 14:01] hyi commented on #1761
@alvacouch I assume this is not an issue for you any more. If so, you can close this issue.

[2017-02-01 14:23] hyi commented on #1799
@alexlemann I managed to get it to work without using pickle object serialization on the current celery version 3.1.23. I have to add two additional settings to inform celery to use JSON as serialization format rather than the default pickle. This makes object not serializable, so I have to change create_bag_by_irods() task signature a bit without passing object to the task. Everything seems to wo

[2017-02-01 15:19] hyi commented on #1652
@dtarb @horsburgh To fix this issue, I will remove the edit and delete icons from isVersionOf relations as shown below:
![relation](https://cloud.githubusercontent.com/assets/476302/22512660/c5852250-e867-11e6-8040-4bd254e34b86.png)
so that isVersionOf can only be created by the system, but not editable by owners. Let me know if you think otherwise.

[2017-02-01 15:22] #1788 closed

[2017-02-01 15:47] alexlemann commented on #1799
@hyi  Apologies to not getting to your Q's sooner, but it sounds like it worked out well. This will also be an important step towards 4.x .

[2017-02-01 15:54] hyi commented on #1799
@alexlemann Agreed, this is one item to be resolved in celery 4.x since we cannot depend on pickle serialization format in 4.x. Thanks for your comment on 4.x upgrade route which prompted me to dig deeper into this issue.