[2018-04-20 14:00] rayi113 commented on #2717
I propose setting the age at 2 months so we can manually visit any user deletion patterns on HydroShare dev calls by manually looking at the iRODS trash area, and also see if we can infer HydoShare user deletion patterns from Kibana.

[2018-04-20 15:09] hyi commented on #2717
@phuongdm I also thought about what you suggested here as an alternative, however, this will have implications on quota since setting isDeleted flag in Django db will not really delete the files in iRODS, which will not reduce user's quota as a result of resource deletion. Also, users could only delete a file without deleting the whole resource, which may require to add isDeleted and purgeData on

[2018-04-20 15:48] phuongdm commented on #2717
@hyi,

+ About files restore, I think you have your solution with isDeleted on ResourceFile
+ About quota, the usage should be: the real usage (get from iRODS) - sum of size of files in ResourceFile which has isDeleted on

[2018-04-20 18:31] hyi commented on #2717
@phuongdm What you suggested involves making changes to Django DB models to add the needed fields to mark resources or resource files for deletion, which will involve code changes on most if not all resource or resource file related functions to exclude marked-for-deletion resources and files. We also need periodic job to purge deleted resources and files. So basically this approach involves makin

[2018-04-24 16:07] aphelionz opened #2721 "Read hydroshare-yaml into settings.py"
We currently have a complex system of configuration management that involves the parsing of a yaml file, the generation of another, and then ingestion into two (2) different python settings files. This leads to duplicate keys, as well as mismanagement.

In the long run, I think we want to shoot for @cbcunc 's proposal of encrypted config files (hopefully ONE encrypted config file) checked into sou

[2018-04-24 17:14] ChristinaB commented on #2662
@rayi113   I am trying to download this public resource:
https://www.hydroshare.org/resource/ec518c49772b420b97047f7482ae92aa/

The first step of Dave's suggested work around is to Copy Resource Bag to iRODS User Zone
![image](https://user-images.githubusercontent.com/4108369/39202816-f114257e-47a7-11e8-897e-719de04eb441.png)

@Lizabrazil   You will note that this error also provides a link to the

[2018-04-24 20:30] phuongdm commented on #2721
That's very wonderful if we can do that. So, there is only hydroshare-config.yaml needs to be changed in every deployment.

Can we split YAML file into several sections like:

`
\#\#\# start - system config \#\#\#
HS_DATABASE: pg.deploy.sql
\#\#\# end - system config \#\#\#

\#\#\# start - local_settings.py config \#\#\#
HS_WWW_IRODS_ZONE: 'hydroshareZone'
\#\#\# end - local_settings.py config \#\

[2018-04-25 00:58] darctur opened #2722 "Add CSV data type for timeseries"
It seems if you extract a timeseries from CUAHSI WDC and upload to HydroShare, it becomes a sqlite file. Please make it possible/practical to get CSV instead of sqlite. Here's a HS resource with a sqlite file that I can't decode, examine or document without downloading, installing, and learning sqlite:
https://www.hydroshare.org/resource/51d1539bf6e94b15ac33f7631228118c/

Thanks.

[2018-04-25 13:55] rayi113 commented on #2662
@ChristinaB I put a manually created zip file of the resource here in iRODS hydroshareuserZone: /hydroshareuserZone/home/public/ec518c49772b420b97047f7482ae92aa.zip

[2018-04-25 16:00] sblack-usu opened #2723 "Scope - Create/Edit Resource workflow"
This issue will be a checklist of all of the separate functionality to develop for implementing the create/edit workflow updates found in the Scope work.

* [ ] #???? Ensure and enforce empty resources to be unable to be marked public
* [ ] #???? Open Resource in edit mode when a resource is created
* [ ] #???? Hide Ratings and comments in Edit mode
* [ ] #???? Include on-hover information boxes f

[2018-04-25 17:16] rayi113 opened #2724 "Verify zipped bag exists before "Copy Resource Bag to iRODS User Zone""
See @ChristinaB 's  error here https://github.com/hydroshare/hydroshare/issues/2662#issuecomment-384010685 with this resource https://www.hydroshare.org/resource/ec518c49772b420b97047f7482ae92aa/  when trying to "Copy Resource Bag to iRODS User Zone"

I checked and ec518c49772b420b97047f7482ae92aa.zip bag does not exist in the bags directory /hydroshareuserZone/home/localHydroProxy/bags

Regardles

[2018-04-25 18:15] sblack-usu commented on #2685
Is there a PR for this?  I'd like to take a look at the diff to see how we're using JSON-LD

[2018-04-25 18:47] hyi commented on #2724
@rayi113 @ChristinaB The current code checks ```bag_modified``` flag to determine whether the bag needs to be regenerated. For this specific resource, if bag does not exist, ```bag_modified``` flag should be set to True, so it can be regenerated when trying to copy this resource to user zone. It looks like ```bag_modified``` flag got messed up for this specific resource. I can update the code to c

[2018-04-25 19:30] alvacouch opened #2725 "Enable streaming download in REST API"
@dtarb @martinseul @aphelionz
The current REST API does not support streaming download and it had to be disabled in the newest PR #2718 for streaming download. To see how it should work, see
[this stackoverflow post](https://stackoverflow.com/questions/16694907/how-to-download-large-file-in-python-with-requests-py). This seems to be a relatively straightforward fix to hs_restclient.

[2018-04-25 20:06] Maurier opened #2726 "Terms Page Styling"
This page needs to use the overall basic styling of the site. This includes:

- Margins
- Headings
- Paddings
- Page title tag

Other improvements:
- Move all terms to a JSON file and use it to generate the template procedurally. This will remove a lot of redundancy in the HTML.

[2018-04-25 22:18] sblack-usu commented on #2726
+1 on the JSON if those who aren't developers are comfortable with editing the JSON.

[2018-04-26 04:24] horsburgh opened #2727 "Time Series Resource: ProcessingLevelCode should be a string and not an integer"
In testing with an ODM2 SQLite database from a user, we discovered that HydroShare's time series functionality is interpreting the ProcessingLevelCode field in the ODM2 database as an Integer when it should be interpreting it as a string. Need to modify the validation code to accept strings.

[2018-04-26 11:44] danames opened #2728 "New Resource Creation: Tell user that "composite" is the preferred type"
When a new user creates a new resource, the first thing they see is a dropdown to pick the resource type. I'm uploading a PowerPoint. There is no type "PowerPoint". How am I supposed to know that "Composite" is the right answer to this dropdown? I suggest we either

1) Rename "Composite" in that dropdown to "File(s)" so that it is clear this is just a catch all for files.

OR

2) Add some explanat

[2018-04-26 11:44] danames commented on #2728
And by the way, why can't I add labels to my issues???

[2018-04-26 11:57] danames opened #2729 "New Resource Creation: Adding authors enhancement - return to "authors" portion of the page after adding an author"
I am trying to add multiple authors to my resource. Each time I add one, the page reloads back to the beginning of the page. This is somewhat inconvenient. Suggest changing to either:

1) Switch to an AJAX type function so that the full page doesn't reload with every author add?

OR

2) Use an Anchor link to reload the page directly scrolled down to the portion about authors, so that I can easily

[2018-04-26 12:03] danames opened #2730 "New Resource Creation: Can't set spatial or temporal coverage information for PPT/composite"
I just uploaded my PPT as a "composite" resource and went into edit mode and am unable to change the spatial or temporal coverage information. Perhaps this is by design to not allow this for PPTs? Suggest the following:

1) Remove display of spatial and temporal coverage for non spatial data types

OR

2) Allow the user to edit these fields (i.e. my PPT may be related to a case study in a certain

[2018-04-26 12:12] danames opened #2731 "New Resource Creation: What do the asterisks mean on spatial and temporal coverage params?"
Generally when you put an asterisk on an item in a form or a page or a book or document, it indicates that somewhere else in the page - usually near the bottom - there is another asterisk with an explanation of what the asterisk means. However hear on the "edit resource" page we see asterisks by the spatial and temporal coverage parameters but no explanation of these asterisks anywhere else on the

[2018-04-26 12:18] danames opened #2732 "Make subject keywords hyperlinks to direct discovery search based on that term"
When viewing a resource, it would be expected and useful behavior to be able to click on a Subject term/keyword and automatically load a search results page for resources that have that term. My use case is: I just created my AWRA GIS and Water Resources 2018 PPT resource. We are asking all of the attendees from the conference to do the same. We are asking them to tag their resources with AWRA2018

[2018-04-26 12:58] horsburgh commented on #2730
@danames - this will be addressed by enabling editing of the coverage in phase 2 of composite resource functionality. I believe @pkdash already has this fixed and just deployed it for testing on Park.

[2018-04-26 12:59] horsburgh commented on #2731
Asterisks on fields on web forms typically mean that a field is required and must be filled in.

[2018-04-26 13:04] horsburgh commented on #2728
Once we’ve thoroughly tested the new composite resource functionality and it’s released, I suggest that we remove most of the resource types from the list. We shouldn’t call new resources “composite resources” but we still need to differentiate that resource type from the modeling resource types that will remain.

[2018-04-26 14:26] hyi commented on #2728
@horsburgh Another consideration is to make sure web app tool resource supports file aggregation type for launching apps before we can remove other resource types and use composite resource type as a replacement.

[2018-04-26 15:00] alvacouch commented on #2725
@dtarb @martinseul @aphelionz @Castronova
Note that the dynamics of this solution are currently entirely handled within NGINX. The browser/client sets an HTTP header that indicates that streaming is desirable. When it sees that header, NGINX then provides streaming. Otherwise it doesn't provide streaming. Thus, in principle, the current REST client should work fine with the new solution, because i

[2018-04-26 20:10] Lizabrazil opened #2733 "extended metadata within File Metadata Tab doesn't work for editing or deleting"
If you try to edit or delete a key/value in extended metadata under the **file metadata** tab in a composite resource, it does not work.
![image](https://user-images.githubusercontent.com/13852599/39329384-282f7a5c-496c-11e8-9aae-c63d43795296.png)

[2018-04-26 20:11] Lizabrazil commented on #2733
@dtarb

[2018-04-26 20:36] danames commented on #2731
Exactly, yet in this case the asterisk is only on the fields that can't be edited. So... something needs to be modified I guess. Maybe the asterisks mean "Hong is working on this as part of phase 2 of the composite resource deployment, please be patient and come back in the future and edit these fields."

[2018-04-26 20:59] horsburgh commented on #2731
Ha ha - you can try this out on park.hydroshare.org right now if you want. It's fixed. I tested it this morning.  Now you can either set the coverage yourself by entering values, clicking on the map, or by clicking a button to set the coverage from the extent of the data in the resource.

[2018-04-26 22:40] sblack-usu commented on #2733
I looked into this a bit.  It looks like the function that should be called on delete click is never actually bound to the event as the modal window elements do not exist when the binding is called (document ready).  It also looks like the jquery code to get the form id when the delete button is selected won't work.  It's doing a closest search which walk up the parents in the dom.  The form is a

[2018-04-26 22:44] horsburgh commented on #2728
Also - @danames I just discovered/remembered that if you click on the pull down and hover over each of the resource types, there is pop-up text describing each resource type.

[2018-04-27 13:11] alvacouch opened #2734 "deletion race condition corrupts Django"
@dtarb @martinseul @aphelionz @phuongdm
It has recently come to my attention that HydroShare is having severe problems with deleting resources. When a resource is deleted and the browser is reloaded before confirmation, the irods component of the resource gets deleted, while the Django component -- that takes much longer to complete -- is not deleted.

Thus the resource "remains" but doesn't reall

[2018-04-28 23:34] danames commented on #2731
OK I tested this on Park and was able to edit the spatial and temporal coverage. However, I still think that the asterisks need to be removed because a) they aren't described anywhere and b) these aren't required fields.

[2018-04-30 15:41] horsburgh commented on #2731
@danames - I'm giving this one to @Maurier.

Mauriel - let's just remove the asterisks next to the spatial and temporal coverage. They are not required, so the asterisks should not be there.

[2018-04-30 16:27] horsburgh commented on #2722
@darctur - thanks for posting this. For time series resources in HydroShare that are created from CSV files, the CSV file from which the SQLite file is created remains part of the HydroShare resource. So, you should be able to download either the SQLite file, the CSV file, or both.

We use SQLite as the internal storage format for the time series resource for a couple of reasons:
1. With a common

[2018-05-02 11:28] alvacouch opened #2737 "invalid XML characters present in abstracts"
@martinseul @aphelionz @dtarb
When running `check_bag` on all resources, the resource below crashed on bag creation, because there are invalid characters in the resource abstract when creating `resourcemetadata.xml`. Thus the bag for this resource cannot be created. The only way that this could happen is if the UI and/or REST API allowed the resource abstract to contain invalid characters. This wa

[2018-05-02 21:12] alvacouch commented on #2737
Report from updated check_bag that doesn't crash:
[code]

[2018-05-02 23:07] sblack-usu commented on #2571
I've got auto aggregate working for Geographic Feature, Multidimensional, and Time series.

Are we looking for extension .refts.json or json.refts?  The file you have in your demo resource is json.refts.  If it is indeed json.refts, do I need to look for that full extension, or just .refts?  I ask this because the javascript I referenced to identify these files is only looking for .refts

I think

[2018-05-03 02:11] horsburgh commented on #2571
@sblack-usu - it would be good to ask for a definitive answer on the referenced time series file from the BYU group. My preference would be ".refts.json" such that ".json" (which is the actual file type) is the final extension. @pkdash gave me the file that was in my demo, so I don't even know where it came from.

With regard to the geographic raster, your quoted text is accurate and is what shoul

[2018-05-03 02:12] horsburgh commented on #2571
Sorry - meant to tag the BYU guys in the above comment @danames and @zhiyuli - can you chime in on the question that @sblack-usu had about referenced time series files?

[2018-05-03 15:41] sblack-usu commented on #2571
Currently, hydroshare does not allow you to set file.refts.json as a referenced time series.  I tried to aggregate a .refts.json in hydroshare and was not able to.  Setting a .json.refts file to a time series works.

I'll move forward with the Geographic raster including both .tif as well as .tiff.

Is there a reason the current system pulls the contents out of an uploaded folder?

I also don't un

[2018-05-03 16:38] pkdash commented on #2571
@horsburgh and @sblack-usu

Ref time series: The filename for this needs end with 'json.refts'. This was a decision made by BYU and CUAHSI. I remember there was a big discussion on this  in one of the weekly HydroShare meetings.

Geographic Raster: Currently for raster that consists of multiple tif files there has to be a vrt file also and all of them need to be uploaded as a zip file. The additio

[2018-05-03 16:44] horsburgh commented on #2571
For reference time series - If we ended up at ".json.refts" then we go with that. The BYU guys should confirm.

I think the folder operation where you have two .tif files and a .vrt file in a folder and then right click on the folder to set it as an aggregation already works.

I guess I don't see why if I upload two tif files and a vrt and right click on the vrt I can't convert to a geographic ras

[2018-05-03 17:28] sblack-usu commented on #2571
I was not able to convert an unzipped folder with two .tif files and a .vrt file to an aggregation.  I can look into what geographic feature is doing and see if I can bring this functionality to the raster.

I think I need a better idea of how this is going to be used.  The zipped files helps to keep things clean and separate.  The current file uploading implementation doesn't respect folders and

[2018-05-03 17:40] horsburgh commented on #2571
On park if I create a folder, and upload into it two .tif files and a .vrt that references them and then right click on the folder and covert to a geographic raster aggregation, it works for me. When I download the aggregation and look at the resource map document, both .tif files and the .vrt are part of the aggregation.

However - Yes - if i drag and drop a folder containing those three files on

[2018-05-03 18:48] pkdash commented on #2571
@horsburgh

The reason is how the respective resource types work. When we implemented each aggregation type we basically made the metadata extraction and file validation exactly how they work in the corresponding resource type. This was a decision made by @dtarb and me when we were considering the concept of composite resource and the reason for that is to use the same file validation code for bot

[2018-05-03 20:10] alvacouch commented on #2737
See https://www.safaribooksonline.com/library/view/python-cookbook-2nd/0596007973/ch01s24.html
for one way to convert Unicode to XML in a lossless manner.

[2018-05-03 22:17] sblack-usu commented on #2571
I was able to make some changes that preserves the folder structure of an uploaded folder.  It's a bit messy in the code right now, but at least proof that it can be done.  I'll clean it up before committing.

[2018-05-04 23:40] sblack-usu commented on #2571
@pkdash If you get a chance, I'd love some feedback on the auto-aggregation and folder path work I've done.  I'm going to be doing some refactoring on Monday.  The code is functional but it feels a bit rough around the edges.  If anything stands out to you, I'd appreciate the direction you can give.

https://github.com/hydroshare/hydroshare/compare/2502-composite-resource-phase-2...2571-auto-aggre

[2018-05-07 17:54] dtarb commented on #2571
Responding to the comment about having to zip tiff files and a .vrt file before converting to an aggregation, this was a decision made to re-use existing raster resource type code, with the expectation that later it could be generalized as we advance functionality incrementally.  We cannot do everything at once.  Just clicking on a .vrt file without having the files zipped, requires parsing the .v

[2018-05-07 20:07] zhiyuli commented on #2571
@dtarb @horsburgh @pkdash @sblack-usu

The "refts.json" extension makes more sense to me. Actually I vaguely remember we discussed this before and agreed on using "refts.json" as once user downloads this file, mainstream text editor can recognize it is a JSON file.

@danames
You still recall this?

[2018-05-07 21:50] zhiyuli commented on #2571
@dtarb @horsburgh @pkdash @sblack-usu @danames
Our time series app developer Matt just confirmed we have been using "refts.json" as filename extension for Refts Res Type.

[2018-05-08 16:52] sblack-usu commented on #2713
hs.resources(creator='Matthew Bayles') produces a 400 Bad Request, not a 500 internal server error.

It produces the 400 Bad Request because 'Matthew Bayles' does not match as a username.  You can find usernames in the about section of the user profile.

[2018-05-08 17:19] sblack-usu commented on #2652
I support migrating the existing tests over to https://github.com/CUAHSI/QA-AutomationEngine and removing selenium tests from the hydroshare repository.

[2018-05-08 17:20] horsburgh opened #2738 "P2 Composite Res: Enable Discovery by Content Type rather than Resource Type"
With the development of Phase 2 of the composite resource functionality, we are essentially collapsing several resource types into one (the new composite resource). We have been enabling discovery by resource type before, but this won't work to help users discover a composite resource that contains content of a particular type. So, we need discovery to catalog information about the types of conten

[2018-05-08 17:56] mmbayles commented on #2713
The documentation states name or email as parameters. It probably should be changed to username to avoid confusion. The username works but have you tried email? I get a 400 error when I use creator or owner but my email in HydroShare and the one I'm using for the request are the same. However, when
I use email on Author it appears to list every resource in HydroShare. Also, I'm still having a prob

[2018-05-08 18:32] sblack-usu commented on #2713
I agree the documentation is misleading with the use of name instead of username.  It looks like the documentation was updated back in Feb, but never pushed out.  We'll get it pushed out.

I've tried email with mixed results.  Email works for the author keyword, but not for the creator keyword.  I'm looking into what is going on there.

For groups, I'm getting  a 500 with the group name and a 400

[2018-05-08 19:34] dtarb commented on #2686
Fixed before deploy.

[2018-05-08 19:34] #2686 closed

[2018-05-08 19:35] dtarb commented on #2673
Fixed 1.15

[2018-05-08 19:35] #2673 closed

[2018-05-08 19:38] dtarb commented on #2661
@rayi113 has reported that this requires an iRODS update once iRODS has fixed the issue.  @rayi113 please schedule an iRODS update at a good time, then when this issue is fixed, close the issue.

[2018-05-08 19:48] dtarb commented on #2630
@pkdash can you please close this if it is fixed.

[2018-05-08 19:49] #2629 closed

[2018-05-08 19:52] dtarb commented on #2615
Tested

[2018-05-08 19:52] #2615 closed

[2018-05-08 19:53] #2608 closed

[2018-05-08 19:53] #2553 closed

[2018-05-08 19:55] dtarb commented on #2546
@gantian127 please discuss with me if still an issue, otherwise close

[2018-05-08 19:56] #2545 closed

[2018-05-08 19:56] #2552 closed

[2018-05-08 19:56] #2537 closed

[2018-05-08 20:05] #2449 closed

[2018-05-08 20:06] #2408 closed

[2018-05-08 20:10] dtarb commented on #2035
@horsburgh in issue grooming have question if this is still an issue.  Can you please assess/test and if still a problem bring to forefront for addressing, otherwise close.

[2018-05-08 20:40] aphelionz opened #2739 "Selenium Migration: multiplatform"
See [this file](https://github.com/hydroshare/hydroshare/blob/2afa79bcd35de2ca6238bc6d6d47f4867533882c/theme/tests/multiplatform.py). All of these tests need to be moved to the CUAHSI automation engine.

[2018-05-08 20:47] aphelionz opened #2740 "Selenium Migration: functional.py"
See [this file](https://github.com/hydroshare/hydroshare/blob/c604dd27fae79fcb85062832220c6f26ee4732f6/theme/tests/functional.py). All of these tests need to be moved to the CUAHSI automation engine.

[2018-05-08 23:15] sblack-usu commented on #2713
These issues appears to be an issue with the rest api rather than the rest client.  I'm still troubleshooting, but generally the emails queries against users aren't working due to the ResourceListRequestValidator having a validator that only checks the username.  This blocks emails from being passed even though the query supports emails.  https://github.com/hydroshare/hydroshare/blob/develop/hs_co

[2018-05-09 14:33] pkdash commented on #2630
This has been fixed. Closing.

[2018-05-09 14:33] #2630 closed

[2018-05-09 15:34] pkdash commented on #2671
This has been fixed. Closing.

[2018-05-09 15:34] #2671 closed

[2018-05-09 15:42] pkdash commented on #2500
Has been fixed. Closing.

[2018-05-09 15:42] #2500 closed

[2018-05-09 15:44] pkdash commented on #2404
@horsburgh Is this still an issue?

[2018-05-09 15:48] pkdash commented on #1666
@dtarb I this can be closed.

[2018-05-09 17:03] #1666 closed

[2018-05-09 17:42] horsburgh commented on #2404
This is still an issue on production (www). Here's the workflow I used to duplicate it:

1. Create a new composite resource with only a title
2. Enter edit mode
3. Add a readme.txt file to the resource
4. Download the resource bag - up to this point everything is OK and the manifest file is correct.
5. Add all of the files for a shapefile to the resource
6. Right click on the ".shp" file to conver

[2018-05-09 20:54] pkdash commented on #2571
@sblack-usu Had a quick look at your auto aggregation creation work. In reference to the new code for creating aggregations as part of uploading the files to resource, I am wondering if we need to create aggregations both from folders as well as files. I think we can just create aggregation from files only. Otherwise if we first create aggregation from a folder then try to create an aggregation fr

[2018-05-09 21:31] hyi opened #2743 "Implement soft-delete feature for admin to restore accidentally deleted resources/files"
The resources/files will be marked for deletion for a set period, and during this set period, a system admin will be able to help users to restore accidentally deleted resources or files.

[2018-05-09 21:42] sblack-usu commented on #2571
So, I'm looking for aggregations in the folder first because of geographic rasters in the case where we have a vrt file referencing multiple tif files.  Looking at a vrt file directly currently does not work as the current implementation expects a folder.  If we were able to update it to look for a vrt, then we'd also have to force some type of order of which aggregation types to set first (To avo

[2018-05-10 19:04] aphelionz opened #2745 "CUAHSI Branding Updates"
Creating a retroactive ticket to encapuslate the work done in this PR: https://github.com/hydroshare/hydroshare/pull/2683

[2018-05-10 20:45] dtarb opened #2746 "HydroShare GIS Add Local File not working for Shapefiles"
I created a HydroShare GIS Map Project saved in https://www.hydroshare.org/resource/c5ea17e850c64b34a93fb778e03a0222/
 I loaded a shapefile using the Add Local File Button.  I selected all parts of the shapefile to add.
The current layers list then showed each file individually and did not recognize this as a single shapefile entity to display.
I then tried loading the parts of the shapefile as a

[2018-05-10 21:00] #2546 closed

[2018-05-11 20:49] dtarb opened #2747 "Quota message incorrect"
Following is the over quota message that I get when I push to go over quota (as a test).
Note that the contact email address should be help@cuahsi.org.  The help page mentioned should be https://help.hydroshare.org/about-hydroshare/policies/quota/ and should be a link.  There should be space between numbers and units.  This message appears when I log in, so the words "Your action to add content ..

[2018-05-11 20:59] dtarb opened #2748 "Quota use does not reflect all resources - suspected omission of files in iRODS user zone from total."
I noticed that my demo account (David Tarboton, but user name demo) was reporting only a small percentage of the 20 GB quota used, yet it contained a resource with an 8 GB file.

I made a copy of this resource, increasing usage to more than 16 GB, and this still did not reflect in my quota total.  The suspected reason is that these resources were created copying files from iRODS.

I then created a

[2018-05-12 12:01] aphelionz opened #2749 "Release 1.15.1 Checklist"
- [x] Adding JSON-LD to HydroShare home page and resource detail pages #2685 (@aphelionz)
- [x] Hotfix for quota and google recaptcha #2696 (@hyi )
- [x] Add functionality to link specific web apps to the open with button for specific resources #2601 (@hyi )
- [x] fix the issue that quota from user zone is not accounted for #2750 (@hyi)
- [x] Resource type terms for HydroShare terms page #2676 (@s

[2018-05-12 22:27] phuongdm commented on #2748
@hyi ,
I've checked AVU value of demo-usage:
- 47521599850 on hydroshareZone
- 19637089211 on hydroshareuserZone
they seem OK in iRODS, could you check these value on Django?

[2018-05-13 13:38] aphelionz commented on #2747
@hyi Can you look into the nightly quota emails on prod?

[2018-05-14 14:40] hyi commented on #2747
@aphelionz The quota email content is retrieved from quota field setup from admin panel, so I think if you go to admin and edit the quota content, the email should reflect the updated quota content.

[2018-05-14 15:01] hyi commented on #2748
@phuongdm used quota value for demo is 44.2579387221GB. I checked the code, and update_quota_usage does get called when a file is added from iRODS, so I am not sure what caused the out-of-sync issue between quota usage in Django and in iRODS. In any case, when a add file operation happens, the updated quota usage from iRODS will get populated into Django. @dtarb Can you create a new resource with

[2018-05-14 17:09] Lizabrazil commented on #2745
@dtarb Jon Pollak and I made some improvements to strengthen the CUAHSI brand on the HydroShare homepage. If you see anything wrong with the homepage then let us know. These changes included things like, adding our logo, linking back to the CUAHSI site, etc.

[2018-05-14 18:44] dtarb commented on #2745
I am only seeing small subtle changes in the footer, which I am OK with, but it seems like the link back to CUAHSI that is in the operational site footer is not in the playground footer.  I am OK if that is what you want.

[2018-05-14 19:42] aphelionz commented on #2746
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#24

[2018-05-14 19:42] #2746 closed

[2018-05-14 19:45] dtarb commented on #2743
Removing from milestone until the functional requirements are agreed - see https://docs.google.com/document/d/1uG8h7xiyR0MUBVVj_WoPCyDV_st8JzgQHtjyeIVHUu4/edit#heading=h.ssj87c4ifab7

[2018-05-14 20:02] dtarb commented on #2733
@Lizabrazil please check on beta and if it is OK add "verified on beta" label.

[2018-05-14 20:12] dtarb commented on #2730
This will be addressed in composite resource PR that is under review.  You will be able to edit resource level coverage information as well as set coverage information for files #2577.  Closing this as an issue.  Reopen if needed.

[2018-05-14 20:12] #2730 closed

[2018-05-14 20:47] dtarb commented on #2748
I deleted the 3 big resources.  I then created a new resource to which I added a file.  The quota message now says
![image](https://user-images.githubusercontent.com/3456833/40022560-9b5e9a22-5785-11e8-8f51-7a7e7cdb357e.png) which is incorrect because I have this resource https://www.hydroshare.org/resource/d0e6d4c7f7ef4d9d9486be87fc425314/ with an 8 GB file in it.

[2018-05-14 21:09] phuongdm commented on #2748
@hyi,

it seems that, your quota function does not count user usage on hydroshareuserZone

@dtarb ,

I've check your resource: https://www.hydroshare.org/resource/d0e6d4c7f7ef4d9d9486be87fc425314/ its exactly size is 19636679744 (around 18.2 GB).

[2018-05-14 21:16] dtarb commented on #2645
@martinseul has this been addressed.  Test emails I sent on 2/5/18 and 4/3/18 received no response.

[2018-05-15 14:54] hyi commented on #2748
@dtarb @phuongdm I can reproduce this issue and indeed files added from user zone somehow are not counted toward the quota. Not sure what could have caused it and whether it has anything to do with zero down deployment process that was used for the last release deployment. I am sure it worked before and somehow it does not work in the new deployment. Will investigate and see what has caused this r

[2018-05-15 15:26] alvacouch commented on #2737
@dtarb @mseul @aphelionz @horsburgh
I analyzed this situation in detail, and there were control characters in each resource's data, including ASCII code 1 (control-A) and ASCII code 11 (control-K). I have written a patch to remove these from the input to `resourcemetadata.xml`.

But in looking at this, I inadvertently discovered that **all formatting is stripped out of the abstract when it is enco

[2018-05-15 19:18] alvacouch commented on #2737
@dtarb @aphelionz @martinseul @horsburgh  How is this for a compromise? Replace `\n` with paragraph symbol  `¶`. Replace control characters with spaces. Avoid repeating spaces or paragraph symbols. To wit:

[code]

[2018-05-15 21:02] aphelionz commented on #2725
@Alva, I have assigned this a 2 for medium effort - correct me if I'm wrong

[2018-05-15 21:02] aphelionz commented on #2743
Removed from the release as well, for now

[2018-05-15 21:09] aphelionz commented on #2502
@pkdash I have added the label 3 for large effort here. Let me know if you disagree

[2018-05-15 21:09] aphelionz commented on #2577
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:10] aphelionz commented on #2574
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:10] aphelionz commented on #2573
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:11] aphelionz commented on #2572
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:11] aphelionz commented on #2571
@pkdash or @sblack-usu Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:11] aphelionz commented on #2568
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:11] aphelionz commented on #2567
@sblack-usu Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:12] aphelionz commented on #2566
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:12] aphelionz commented on #2565
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:12] aphelionz commented on #2564
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:12] aphelionz commented on #2724
@hyi  Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:13] aphelionz commented on #2404
@pkdash or @hyi  Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-15 21:13] aphelionz commented on #2456
@pkdash Can you please add a 1,2,3 point estimate label to these tickets?

[2018-05-16 01:51] horsburgh commented on #2564
Not sure this needs to be rated. It's effectively done in the latest implementation of composite resource.

[2018-05-16 01:52] horsburgh commented on #2565
I think this is already implemented in the work @pkdash has already done.

[2018-05-16 01:53] horsburgh commented on #2566
This is already done in the phase 2 composite resource implementation.

[2018-05-16 01:54] horsburgh commented on #2567
I believe that the only thing that is not done here is the right click "Open with" functionality.

[2018-05-16 01:55] horsburgh commented on #2568
@pkdash can verify, but I believe the aggregation naming rules have been implemented.

[2018-05-16 01:56] horsburgh commented on #2572
@sblack-usu can verify, but I think this one has been implemented.

[2018-05-16 01:58] horsburgh commented on #2573
@sblack-usu - this is done in the phase 2 implementation, but I have a note that I think we should standardize icon sizes. Right now the regular folder and file icons are much smaller than aggregation icons and it looks a little unbalanced. I think we should standardize the icon sizes. Is that possible?

[2018-05-16 01:59] horsburgh commented on #2574
I believe this is complete - or at least the work to make the file browser correctly display files, folders, and aggregations is complete in the phase 2 composite work.

[2018-05-16 02:00] horsburgh commented on #2577
This is complete in the phase 2 composite resource implementation.

[2018-05-16 02:02] horsburgh commented on #2502
Definitely large effort. However, I think this work is largely complete.

[2018-05-16 02:09] aphelionz commented on #2567
Sounds like it could be a decent amount of effort, no?

[2018-05-16 10:56] dtarb commented on #2737
@alvacouch I think we need a solution that is:
1. Simple
2. Consistent with general best practices in the field for working with XML files
3. Is lossless in that it would permit the abstract to be read back in from the XML identical to the way it is initially stored (not necessarily the same as the user input).
4. Gives the user flexibility to introduce formatting.  Users are always going to want

[2018-05-16 13:16] aphelionz commented on #2749
@ndebuhr for #1 yes, the foote rwas out of date. I have fixed.

For #2 @sblack-usu or @pkdash will be able to answer.

[2018-05-16 13:36] hyi commented on #2749
@ndebuhr For #2, refer to Model My Watershed web app tool resource on playground test VM here: https://playground.hydroshare.org/resource/2b548337c92a4ae5bb1b87b3fd35cf0f/ If you scroll down to extended metadata tab, you will see appkey-model-my-watershed key-value extended metadata set up for this web app tool resource. If you look at this resource https://playground.hydroshare.org/resource/d9290

[2018-05-16 14:28] alvacouch commented on #2737
@dtarb So, you've found a case in which the formatting still gets stripped. Will investigate. My current solution only preserves newlines in otherwise bare text.

[2018-05-16 14:49] ndebuhr commented on #2749
Thanks @hyi.  That's intuitive to me and looks good on the playground site.  However, I'm not getting the same behavior on beta.  For example, new Web App resources don't have the extended metadata, and I'm not seeing the extended metadata tab on existing Web App resources on the beta site.  The associated feature branch is merged into the 1.15.1 branch though.  @aphelionz Is this a database or pe

[2018-05-16 14:54] sblack-usu commented on #2572
@horsburgh This is currently deplyed to beta and slated for the 1.15.1 RC.  You can verify here.  https://beta.hydroshare.org/terms/#singleFileAggregation

[2018-05-16 14:54] horsburgh commented on #2737
@dtarb - @alvacouch is right. We could potentially spend a lot of time here. It's an Abstract field - not an entire document. If we find that people need complex formatting to cram stuff into the Abstract field it is likely because we have failed somewhere else in letting them enter what they want - e.g., they want to put it in the Abstract because there isn't another place for it to go.

How much

[2018-05-16 14:56] sblack-usu commented on #2573
I'll see what I can do.  I've got them center aligned in the auto-aggregate branch, so that should help how they look.  I'll look into resizing them as well.

[2018-05-16 15:07] horsburgh commented on #2573
OK - I should have clarified that I was thinking about the list view:

![image](https://user-images.githubusercontent.com/3485902/40125515-5aead53c-58e8-11e8-88ef-50f5d17ad51d.png)

In this example, the folders are small, the geographic feature and time series aggregation icons are large, and the referenced time series aggregation (which is a single file) is small.

[2018-05-16 15:10] sblack-usu commented on #2573
thanks for the clarification.  I had not considered the list view.  I'll see what I can do.

[2018-05-16 15:25] aphelionz commented on #2572
Cool, thanks!

[2018-05-16 15:28] alvacouch commented on #2737
@dtarb @horsburgh You found is a bug in my bag generation. I regenerated the bag and it puts paragraph marks in where you might want.  So, I need to change the code for "new resourcemetadata.xml" versus "existing resourcemetadata.xml".  What I get now is:

[code]

My guess is that to reconstruct what was there before, replacing carriage returns with paragraph marks meets your specifications and lo

[2018-05-16 15:38] sblack-usu commented on #2573
I've got the list view looking good now.  I also played around with adjusting the grid view so the text aligns with the folder image.  If you don't like the grid view as imaged, I can put it back.
![list](https://user-images.githubusercontent.com/35820390/40127424-92af1678-58ec-11e8-8659-f6690657345b.PNG)
![grid](https://user-images.githubusercontent.com/35820390/40127425-92c57e4a-58ec-11e8-893c-4

[2018-05-16 15:42] alvacouch commented on #2737
@dtarb @horsburgh The bottom line is that there are only two options:

1. Replace newlines with single spaces.
2. Replace newlines with some other unicode character, e.g., ¶.

In existing code, newlines are simply ignored. This is unacceptable.

Which will it be?

[2018-05-16 15:43] horsburgh commented on #2573
These icons look fine to me.

[2018-05-16 15:53] alvacouch commented on #2737
@dtarb @horsburgh It turns out that unicode has a special character ␤ that is specifically intended to indicate a newline in a stream of text. This is another option.

[2018-05-16 16:52] hyi commented on #2748
@dtarb @phuongdm @aphelionz I have found what have caused this issue and will make a hotfix today.

[2018-05-16 17:04] aphelionz commented on #2574
Perhaps we should close these subtickets as they are added to the larger body of work. what do you think?

[2018-05-16 17:07] alvacouch commented on #2737
@dtarb @horsburgh  cuahsi-dev-2 is now working properly. Forgot to restart to flush .pyc usage.

[2018-05-16 17:10] alvacouch commented on #2737
@dtarb @horsburgh FYI: In the UI: isolated newlines are translated to <br> while sequences of newlines are translated to <p>. So, to be completely compatible with the UI, I would have to use both ␤ and ¶.

[2018-05-16 18:16] ndebuhr commented on #2749
Thanks for the additional help on this @hyi.  I'm able to find that resource extended metadata on beta now.  So I have appkey=neal-test as a key value pair on both a test composite resource and a web app resource, just as you have in your playground site examples.  The addition of this extended metadata has been saved.  The ticket here https://github.com/hydroshare/hydroshare/issues/2601 and the g

[2018-05-16 19:01] hyi commented on #2749
@ndebuhr Yes, as long as the user has access to the web app tool resource and the resource meets the sharing status specified by the web app tool, the appkey matching will associate the resource with the web app tool. Do you need me to test this feature out on beta or you can take care of testing it?

[2018-05-16 21:27] Lizabrazil opened #2751 "Add progress indicator when creating a new resource with large files"
.98GB takes 5-10 minutes to upload. We need to provide feedback to the user that it is going to take this long due to the size. Most users assume it wont work after several minutes and give up. @mark

[2018-05-16 21:28] Lizabrazil opened #2752 "The Hydroshare resource landing page says "Subject" as the header for keywords"
The header for keywords should be "Keywords" and not "Subject" @aphelionz

[2018-05-17 01:59] aphelionz commented on #2749
You will need to check with @Lizabrazil about that. Ideally we would coordinate doc rollout with features

[2018-05-17 11:55] dtarb commented on #2737
@alvacouch please fix as you can right now using the best quick approach.

@horsburgh with respect to what people are trying to put in the abstract, if you just look at how people are trying to put information in it, I think it speaks to a need for greater flexibility.  I am all for keeping the abstract simple, and for fixing what we have now so that bag creation works, but over the longer term as

[2018-05-17 13:59] alvacouch commented on #2737
@horsburgh @dtarb @aphelionz @martinseul Try http://cuahsi-dev-2.hydroshare.org now.

    - Multiple newline sequences are replaced with ¶ (Unicode paragraph symbol)
    - Isolated newlines (e.g., a line break) are replaced with ⏎ (Unicode symbol for carriage return)
    - These are padded with spaces.
    - Either one or the other appears. There are no combinations.

This was in the spirit of the

[2018-05-17 14:41] horsburgh commented on #2737
@dtarb - I'm not questioning the need for enhanced information, I'm saying that the Abstract isn't necessarily the place for it. Many people may be cramming stuff in the Abstract that could/should go in other metadata elements because they either don't know about what is available to them or they don't want to take the time to fill things out. Some best practices here may alleviate the need for co

[2018-05-17 14:47] hyi commented on #2748
@dtarb Beta has been updated to include the hotfix I made, and I have just checked on beta and verified now files added from the user zone is counted toward the user's quota now. If you have time, it'd be great if you can verify on beta as well to make sure it indeed works now. Make sure you use hydroshareuserdevZone and usersdev.hydroshare.org to test things out since that is the user zone hooked

[2018-05-17 14:58] hyi commented on #2749
@ndebuhr I have tested appkey functionality on beta and everything works as expected. So I'll check it off from the verification list.

[2018-05-17 15:06] clarisca opened #2753 "Create SciDAS evaluation version for HydroShare"
Create RENCI-hosted deployment of SciDAS for evaluation by the HydroShare team.

[2018-05-18 17:12] sblack-usu commented on #2567
@aphelionz I'm not ignoring your point estimate label, just waiting for the discussion on Monday to learn more about what each label means.

Downloading Aggregations is ready for review.
We get a freebie for aggregations in folders.  There is work necessary for single file aggregations.
https://github.com/hydroshare/hydroshare/pull/2754/files
https://github.com/hydroshare/django_irods/pull/39/file

[2018-05-21 16:06] danames commented on #2738
+1

[2018-05-22 16:54] dtarb opened #2756 "Add are you sure check when deleting extended metadata"
The delete extended metadata button for a resource should have a "Confirm to Delete Key/Value Metadata" prompt before deleting, consistent with deleting other metadata.

This was discovered while testing #2733 where I found that when deleting Key/Value Metadata associated with a file type, there is a check, but when deleting Key/Value metadata at the resource level there is no check.
![image](http

[2018-05-22 19:42] #2748 closed

[2018-05-22 20:30] dtarb commented on #2645
Suggest solution 1 above.

[2018-05-24 13:59] aphelionz commented on #2713
Closing as 1.15.1 has been deployed. @mmbayles please confirm

[2018-05-24 13:59] #2713 closed

[2018-05-24 13:59] aphelionz commented on #2733
Closing as 1.15.1 has been deployed. @Lizabrazil please confirm

[2018-05-24 13:59] #2733 closed

[2018-05-24 13:59] aphelionz commented on #2696
Closing as 1.15.1 has been deployed. @hyi please confirm

[2018-05-24 13:59] #2696 closed

[2018-05-24 14:00] aphelionz commented on #2685
Closing as 1.15.1 has been deployed. Confirmed.

[2018-05-24 14:00] #2685 closed

[2018-05-24 14:00] aphelionz commented on #2601
Closing as 1.15.1 has been deployed. @dtarb  please confirm

[2018-05-24 14:00] aphelionz commented on #2572
Closing as 1.15.1 has been deployed. @horsburgh please confirm

[2018-05-24 14:00] #2572 closed

[2018-05-24 19:57] aphelionz commented on #2645
hydroshare@cuahsi.org should forward to

* help@cuahsi.org
* Chris Calloway
* Ray I.
* Dave T
* Me

cc @phuongdm

[2018-05-24 20:30] aphelionz commented on #2645
This has been set up internally at CUAHSI. Closing.

[2018-05-24 20:30] #2645 closed

[2018-05-26 02:38] dtarb commented on #2601
Confirmed.  Thanks.

[2018-05-26 02:50] dtarb opened #2758 "Tool icon in web app resource"
I entered an Icon URL in a web app resource.  The image appears to be captured, but when I click save changes I get the error message below and am unable to make the icon persist.

![image](https://user-images.githubusercontent.com/3456833/40571799-933f608a-605c-11e8-94d1-8542d240d228.png)

![image](https://user-images.githubusercontent.com/3456833/40571813-c153eac2-605c-11e8-8dc8-066e60a15595.png

[2018-05-26 03:30] dtarb commented on #2758
I was able to resolve this by copying the file from https://avatars3.githubusercontent.com/u/8520008?s=200&v=4 into paint and saving as a new paint file and pointing to that.  So somehow the file format coming from github is not compatible with HydroShare.  Thus I am removing the bug label, and leaving this as an enhancement suggestion to be able to add the file to the web app resource avoiding th

[2018-05-28 12:51] dtarb commented on #2751
I am changing this to Add progress indicator when creating a new resource with large files.  I do not think we can improve easily on upload times.

For what it is worth uploading a 0.43 GB file to Google takes 5 min, so we are not too bad.   Google indicates progress as follows

![image](https://user-images.githubusercontent.com/3456833/40615009-436eb23a-6242-11e8-9233-860c6a7a4e84.png)

In HydroS

[2018-05-29 13:17] pkdash commented on #2404
@hyi Did you try to reproduce this on park? I couldn't reproduce this issue on park.

[2018-05-29 16:40] #2749 closed

[2018-05-29 17:31] aphelionz commented on #2665
Updated. @dtarb please confirm and close.

[2018-05-29 19:13] hyi commented on #2404
@pkdash I have not tried. @horsburgh It'd be great if you could try on park to see if you can reproduce this issue on park. @pkdash cannot reproduce this issue on park, and suspect this issue has been fixed in his composite phase 2 implementation.

[2018-05-29 19:39] dtarb commented on #2665
The NSF award numbers listed in the footer of https://www.hydroshare.org/ and https://help.hydroshare.org/ are different.  I suggest they be the same.  I suggest use the list from www.

[2018-05-29 19:47] aphelionz commented on #2665
@dtarb fixed

[2018-05-29 20:02] dtarb commented on #2665
Not sure how much you want to sweat the details and be picky.  The substance is now the same, so I will close, but look at:  One is (c) 2016, the other (c) 2018.  I am not sure which is correct (not being a lawyer) - I've heard opinions about the first date being better to assert being first, but then there may also be a need to update.  Also  the fonts are different so the wrapping is different.

[2018-05-29 20:02] #2665 closed

[2018-05-30 05:33] horsburgh commented on #2404
@pkdash and @hyi - I am unable to test this. When I upload a zipped file containing a .vrt file and two .tif files, I get the following error when I right click on the zipped file and try to convert it to a geographic raster aggregation:

![image](https://user-images.githubusercontent.com/3485902/40700828-7a730568-6398-11e8-9a40-214d393b9e4a.png)

If I create a new folder and then drop in the .vrt

[2018-05-30 12:59] pkdash commented on #2404
@horsburgh I used this zip file (contains one vrt and two tif files) and was able to create raster aggregation from it.
[Raster.zip](https://github.com/hydroshare/hydroshare/files/2053969/Raster.zip)

[2018-05-30 17:27] dtarb opened #2759 "Quota does not count a resource that is copied."
I have a quota use reported of 18 GB.  Included in this is a 15 GB resource https://www.hydroshare.org/resource/50b977461a1c4d4392bc07b2c8e9cc4e/.  I made a copy of this resource (https://www.hydroshare.org/resource/0860e585772542e3929de88e0af35aa6/) and waited a day to give the quota system time to add things up, but my quota use is still reported as 18 GB.

[2018-05-30 18:51] danames opened #2760 "API Subject Keyword search doesn't work"
We can't seem to get the API to work to discover via keyword as per the documentation in ReadTheDocs http://hs-restclient.readthedocs.io/en/latest/

Here's the example provided in the documentation that doesn't seem to work:

`>>> from hs_restclient import HydroShare, HydroShareAuthBasic

[2018-05-30 21:33] aphelionz commented on #2042
@Castronova Closing this as we now have derivative work based on it. Reopen if you need to.

[2018-05-30 21:33] #2042 closed

[2018-05-30 21:35] aphelionz commented on #1867
Closing this as we have this functionality now. Reopen if necessary.

[2018-05-30 21:35] #1867 closed

[2018-05-31 16:13] horsburgh opened #2762 "P2 Composite Resource: Improve Semantics for Usability"
@sblack-usu and @pkdash - I assigned you both to this, but I suspect either one of you could do these changes. This is all in response to discussion and feedback received on the HydroShare call this week for completion as part of the 1.16 release.

We have received feedback from members of the team that the semantics of some of the user interface related to Phase 2 composite resource functionality

[2018-05-31 17:49] pkdash commented on #2762
@horsburgh and @sblack-usu I will implement thes changes.

[2018-05-31 19:36] horsburgh opened #2763 "Resource Landing Page: Modify Related Resources"
Given feedback from users, some changes are needed on the Related Resources section of the resource landing page. Per issue #2810 the "Related Resources" tab will be removed and replaced with a "References" section on the page.

The following additional changes are needed:

On the Edit page:
* [x] Under "Sources", add the following text label:

* [x] Under "Relations", add the following text label

[2018-05-31 19:50] horsburgh commented on #2255
@dtarb - I am going to close this issue. I believe that it is working correctly on www, and for the composite resource case it is working in @pkdash 's most recent deployments on park.

[2018-05-31 19:50] #2255 closed

[2018-05-31 19:53] horsburgh commented on #2330
Modifying the coverage for a composite resource has changed completely. I'm closing this issue as it is based on the prior implementation.

[2018-05-31 19:53] #2330 closed

[2018-05-31 19:54] horsburgh commented on #2456
@pkdash - I'm removing @Maurier from this issue since you had worked on a fix for it already that didn't seem to take. I'm going to have him work on other stuff.

[2018-05-31 21:04] horsburgh commented on #2474
@Maurier - can this issue be closed?

[2018-05-31 21:47] horsburgh commented on #2366
I'm closing this because it is superseded by Phase 2 composite work. See issue #2577

[2018-05-31 21:47] #2366 closed

[2018-05-31 21:51] horsburgh commented on #2106
@pkdash and @Maurier - is this still an issue? If not close it. If it is, I'm not sure we want to spend time on it now that geographic feature content can be added to composite resources and we should soon discourage the creation of geographic feature resources.

[2018-05-31 21:52] horsburgh commented on #1503
@Maurier - did this one get resolved? If so, let's close it.

[2018-05-31 21:58] horsburgh commented on #1609
@danames - there's a whole bunch of discussion here about launching files within a composite resource into an app (and a bunch of other stuff). I believe that this discussion is superseded by the new composite resource functionality and issue #2576 which hasn't been implemented yet. Can we close this older issue and instead focus on #2576?

[2018-06-01 04:30] horsburgh commented on #2638
I suggest the following text:

"Search for public resources not owned by you on the Discover page."

The word "Discover" should be a link to the HydroShare discover page.

[2018-06-01 04:49] horsburgh commented on #2564
@pkdash - given the semantic changes I asked for today in #2762 I'm going to close this issue as it really no longer applies.

[2018-06-01 04:49] #2564 closed

[2018-06-01 12:40] pkdash commented on #2762
@horsburgh Question related to tooltip for typed aggregation

Is the tooltip text in the above example be 'A single file with file specific metadata' or 'Single File Content: A single file with file specific metadata'?

[2018-06-01 12:45] pkdash commented on #2762
@horsburgh and @dtarb I plan to finish implementing these changes and deploy to park tonight. I assume this deployment has all the functionalities needed for composite resource for release 1.16.

[2018-06-01 12:51] dtarb commented on #2762
Thanks.  That would be great.

[2018-06-01 13:09] dtarb commented on #2577
@pkdash @horsburgh  I found in working with the current deployment that the set coverage button is sometimes not there.  E.g. I just created a resource, added a nc file with coverage and it was automatically converted to multidimensional contents and coverage set (this is good and expected).  I then added a geographic raster and it was automatically converted to geographic raster content.  But the

[2018-06-01 14:37] sblack-usu commented on #2762
I'm getting close to submitting a review for open with for aggregations.  I've got the functionality for opening apps per aggregation finished, just working on extending it to include file extensions and then writing tests.  After that, I think everything will be ready with composite resource for 1.16.

[2018-06-01 14:40] pkdash commented on #2577
@dtarb and @horsburgh Here how the coverage update button works currently. The button appears if there is coverage data in any of the aggregations. The system currently does not track changes in aggregation level coverage data and resource level coverage data to decide if the button should be displayed or not. If we want the button to appear only if there is a need (resource and aggregations cover

[2018-06-01 15:09] horsburgh commented on #2762
@pkdash - in answer to your question about the tool tip text - It should be the full text of what is in quotes:

Single File Content: A single file with file specific metadata

[2018-06-01 15:18] horsburgh commented on #2577
Would it be easier to just make those buttons visible any time there is coverage information in the aggregations?  In other words, they appear as soon as you have something with a spatial or temporal coverage in the content of the resource and they never disappear unless you remove all content with coverage information.

If we do this, you might want to add a dialog box that appears after the butt

[2018-06-01 15:34] pkdash commented on #2577
@horsburgh Yes that would be much easier.

[2018-06-01 15:36] pkdash commented on #2762
@horsburgh Good. That's how I have implemented.

[2018-06-01 17:20] dtarb commented on #2577
I am OK with you following @horsburgh suggestions.  I do not think the current functionality is working the way you describe because if you click the button it disappears, but there is still coverage data in the aggregations (i.e. button does not display but aggregations still have coverage data).  The button reappears if the page is refreshed.  So it may just be a page refresh issue.

[2018-06-01 18:20] pkdash commented on #2577
The button gets hidden after the user clicks it to let the user know that the update has been made. Otherwise, user will be even more confused thinking the button does nothing. Any time the page gets refreshed this button always shows up if there are aggregations with coverage data. As suggested by @horsburgh instead of hiding the button after the user clicks it, will show a message indicating suc

[2018-06-01 18:27] horsburgh commented on #2577
@pkdash - I like it. Works for me.

[2018-06-01 19:47] pkdash commented on #2456
@horsburgh, @aphelionz Though it seems to be an issue on www, I could not reproduce it on park. I am assuming the phase-2 work on composite resource has fixed it.

[2018-06-02 12:33] dtarb commented on #2577
Works for me too.

[2018-06-02 23:27] rayi113 commented on #2661
iRODS 4.2.3 is officially released, so this upgrade can now take place, see: https://irods.org/2018/05/irods-4-2-3-is-released/

[2018-06-02 23:52] dtarb commented on #2661
Great.  Can the sysops team please work out a schedule for doing this.  As we have done in the past, I would prefer and iRODS release to be separate from any Django code release, so that if there are problems the cause is isolated.  I suggest that with 1.16 exact contents still being worked on, that we consider an iRODS update before the 1.16 deploy.  Could we do (1) the iRODS update to beta in th

[2018-06-03 00:15] dtarb commented on #2747
Closing.  I think we are OK for now

[2018-06-03 00:15] #2747 closed

[2018-06-03 00:16] dtarb commented on #2605
Done at 1.15.1

[2018-06-03 00:16] #2605 closed

[2018-06-03 00:18] dtarb commented on #2196
Closing

[2018-06-03 00:18] #2196 closed

[2018-06-04 15:16] hyi commented on #2606
@dtarb  I took a look at the code and found the FROM address the code uses for sending quota warning email is ```settings.DEFAULT_FROM_EMAIL``` which is set as CUAHSI email address on www, so you should see FROM address set correctly in the over-quota email you received. I did find those over-quota warning email in my junk email folder as those emails are sent to support@hydroshare.org as well and

[2018-06-04 16:47] sblack-usu opened #2765 "zip file/folder name suggestion and auto-select not working"
When zipping a file or folder within a resource, there is no suggested name for the resulting zipped file.  The suggested name should be the selected item you're zipping.  The suggested filename should also be selected so the user can easily rename the zip file.

Look to the rename feature for examples of how it should behave.

[2018-06-04 17:13] dtarb commented on #2606
Yes - the action needed still here is the salutation.

[2018-06-07 00:15] aphelionz opened #2768 "JSON-LD errors when being parsed by JSON playground"
Adam Shepherd from WHOI and Douglas Filz from oceanleadership.org reported that a number of resources have unparseable JS, according to https://json-ld.org/playground/

1. // comments in the JS
2. \n newlines in the abstract

Creating a hotfix for this

[2018-06-07 00:21] aphelionz opened #2770 "Google Analytics Missing from HydroShare"
@jpollock called to our attention that the Google Analytics code was missing from HydroShare. Hotfix required to fix so we can continue collecting data.

[2018-06-07 01:33] clarisca commented on #2753
@Castronova @dtarb :
We are deploying a SciDAS evaluation version for HydroShare.
I am thinking in using the Workshop that you all held in May with ~40 students as a use case for this environment.

Therefore, it would be helpful to know what kind of resources were needed and how much. Do you have this information?

[2018-06-08 15:45] horsburgh opened #2771 "Time Series Content Type Validation in Phase 2 Composite Resource"
The following changes need to be made in validating ODM2 time series SQLite databases uploaded to HydroShare and on the user interface for inputting metadata for time series data:

* [x] EndDateTime in the Actions table in ODM2 is an optional field. Instead of using this field to set the temporal coverage for the content and the overall resource, get the BeginDate and EndDate of the temporal cover

[2018-06-09 20:10] dtarb commented on #2474
Validated problem now resolved on www.

[2018-06-09 20:10] #2474 closed

[2018-06-09 20:30] dtarb opened #2772 "Add back Active, Date joined, and last login in mezzanine listing of users"
In the 3/19/18 version of HydroShare when an admin listed users the fields listed were
![image](https://user-images.githubusercontent.com/3456833/41195757-d1268df2-6bf0-11e8-8279-a3fbe2f81f84.png)

At present when an admin lists users the fields are
![image](https://user-images.githubusercontent.com/3456833/41195790-5abcbf32-6bf1-11e8-9544-b94c25e36777.png)

The fields Active, Date joined and last

[2018-06-11 19:53] dtarb commented on #2513
Closing as duplicate of #2456 and done in 1.16

[2018-06-11 19:53] #2513 closed

[2018-06-11 20:04] dtarb commented on #2266
This issue is a bit big and complex to be practically workable.  Decided to follow the strategy
Assign to @sblack-usu to investigate after 1.16 is deployed and break into actionable pieces.  Develop an initial strategy for the team meeting in August.

[2018-06-11 20:10] dtarb commented on #2125
This has sat a while.  There are other file system issues, e.g. #2266 .  @hyi if this is still a problem can you post a specific problem issue (with example - example resource above is no longer there).  Otherwise, closing this.

[2018-06-11 20:10] #2125 closed

[2018-06-11 20:23] dtarb commented on #2737
@alvacouch what is the status of this.  If you are busy with downloads, should we assign this to someone else.

[2018-06-12 04:27] phuongdm commented on #2721
Have no time to think about this :( Please move it to the next sprint. Thanks!

[2018-06-12 15:07] aphelionz commented on #2721
@phuongdm I will take this

[2018-06-12 15:29] rphooper commented on #2762
@horsburgh Why use the term "Geographic Raster", "Multidimensional", or "Geographic Feature" rather than simply stating "GeoTIFF file", "NetCDF file" or "ESRI Shape File" directly rather than adding these as a tool tip. Is there any advantage of adding another layer of terminology? Any comments from @Lizabrazil or @dtarb ?

[2018-06-12 16:11] horsburgh commented on #2762
It's a good question. There is always the concept of a "type" of thing (e.g., a Geographic Raster) and a "format" for that thing (e.g., GeoTIFF file). But, I'm not really sure that distinction does much for a user because we have settled on a single format for each type. If we never intend for there to be anything but a 1:1 relationship between a type and format, then the importance of the "type"

[2018-06-12 16:16] rphooper commented on #2762
I understand the reasoning, but, if it is a 1:1 relationship, then I think the terminology overcomplicates an already complicated terminology.

A user who is going to publish a geographic raster must know what a GeoTIFF file is. A person searching for data may not know what a GeoTIFF file is, but _that_ is the concept to be explained in the tool tip. Maybe just inverting the text solves both probl

[2018-06-12 20:32] Lizabrazil commented on #2502
I noticed the Set Time Series option is "Timeseries" but we call it Time Series everywhere else on the site. Also, I may be out of the loop on this but I see a "Reference Timeseries" option...I thought that was deprecated..?

[2018-06-12 20:33] Lizabrazil commented on #2567
I noticed the Set Time Series option is "Timeseries" but we call it Time Series everywhere else on the site. Also, I may be out of the loop on this but I see a "Reference Timeseries" option...I thought that was deprecated..?
I put this on the other ticket by accident.

[2018-06-13 02:05] aphelionz commented on #2770
Google Analytics has been restored. Thanks @phuongdm

[2018-06-13 02:05] #2770 closed

[2018-06-13 04:13] dtarb commented on #2762
@rphooper I like the way @horsburgh has phrased the semantics.  Check out park.hydroshare.org to see this live and see if it perhaps works better for you.

Philosophically I think it is better to use plain language rather than jargon.  That is why I have been pushing for terms like "geographic raster" rather than "GeoTiff".  Also technically we are storing our rasters in the GDAL Virtual (.vrt) fo

[2018-06-13 22:32] darksinge opened #2773 "Can't update keywords/subjects through rest API"
I'm trying to find a way to update resource keywords through the rest API. [This comment on another issue](https://github.com/hydroshare/hydroshare/issues/1599#issuecomment-262588374) made me think it's possible, but nothing I've tried has worked.

This code snippet shows a bit of what I've tried:

[code]
All three attempts to update the keywords (in the code snippet above) return a 202 response,

[2018-06-14 12:30] dtarb commented on #2772
Verified correct on 1.15.2 deploy
![image](https://user-images.githubusercontent.com/3456833/41412146-514927de-6f9c-11e8-8155-b60960a97352.png)

[2018-06-14 12:30] #2772 closed

[2018-06-14 12:57] dtarb commented on #2567
@Lizabrazil I am happy for us to standardize on two word "time series" usage for consistency.   Where they are inconsistently used, please point out and we can fix (though English usage is not consistent).  Reference time series as a resource type is deprecated, but as a content type within a composite resource, through the .refts.json file that is output from a CUAHSI app (data.cuahsi.org or data

[2018-06-14 16:39] alvacouch opened #2774 "development testing broken due to federation-mode-testing code"
@hyi @dtarb @martinseul @aphelionz
The code:

[code]
crashes on my local dev environment, because `assert_federated_irods_available` only works for instances at RENCI. This also fails on `cuahsi-dev-1` and `cuahsi-dev-2`. These test cases should be skipped unless running on a RENCI host.

`assert_federated_irods_available` is

[code]
This can never succeed on a host using iRODS servers with differ

[2018-06-14 19:30] aphelionz opened #2776 "Replacing Celery Tasks with Jenkins + Django Management Scripts"
Celery is esoteric, opaque, and does not properly report errors in a the meaningful way that Jenkins does. There is also no UI available like Jenkins' that I am aware of.

I propose we replace the following tasks with a suite of Jenkins wrappers that simply call the appropriate management commands.

**./hs_core/tasks.py**
- [x] nightly_zips_cleanup
- [x] sync_email_subscriptions
- [x] manage_task_

[2018-06-14 19:41] aphelionz opened #2777 "Python strftime can't handle dates before 1900"
A user has tried to upload data with a legitimate start date of 1890.

However, when trying to upload it into HydroShare, they were met with the following error:

[code]

It looks like there are [numerous options](https://stackoverflow.com/questions/10263956/use-datetime-strftime-on-years-before-1900-require-year-1900) to fix this.

[2018-06-14 20:22] hyi opened #2778 "Check whether UserQuota model for a user exists before determining whether user needs to receive warning emails"
Although UserQuota model should exist for all users, we found some users don't have UserQuota model. So need to check whether UserQuota model for a user exists before determining whether user needs to receive warning emails to prevent exceptions. Also will need to create a management command to fix corrupt user data, i.e., users don't have UserQuota model linked.

[2018-06-15 02:03] aphelionz commented on #2768
Deployed and tested in prod

[2018-06-15 02:03] #2768 closed

[2018-06-18 01:29] dtarb commented on #2776
This sounds reasonable, but it would be good for @hyi to weigh in as I think she likely wrote many of the celery tasks.  The ones that run on a regular schedule (e.g. nightly) I see no problem with.  Some of these, however, may run on demand (e.g. create_bag_by_irods) and when this is being done a user is usually waiting for the bag to be downloaded.  Would doing this by Jenkins be just as effecti

[2018-06-18 16:06] hyi commented on #2776
@aphelionz As @dtarb mentioned above, on-demand celery tasks cannot be moved to jenkins. There are two on-demand celery tasks currently in use, one is on-demand bag creation for downloading, the other is update_quota_usage_task. These two celery tasks have to stay. The other nightly run tasks could be moved to Jenkins. The only potential downside I can see is that this would create the dependency

[2018-06-18 18:38] aphelionz opened #2780 "Investigate Jenkins Reliability + Durability"

[2018-06-18 20:35] dtarb opened #2781 "Eliminate case sensitivity of email addresses and usernames"
If a user entered their email as e.g. DTAR@usu.edu but attempts to log in as dtar@usu.edu, login (and other email related functionality, such as changing a password) fails.  Eliminate case sensitivity in email addresses and user names.  However passwords should remain case sensitive.

[2018-06-19 16:54] dtarb opened #2784 "Fix institution selection during account sign up"
I just went through the process of creating an account in HydroShare.  I had the following experience.

I typed my institution as Utah, then in the drop down picked "Utah State University"  It did not stick, instead it showed me a red "Utah".  I then typed a few more letters "st" and tried again.  This time it showed me "Utah St".  At this point I just moved on and created the account.
![image](ht

[2018-06-19 17:45] dtarb commented on #2781
There is at least one case where case insensitivity will result in username clashes, namely Mladams1 vs mladams1.  We will need to disambiguate these.  Perhaps there are sufficiently few that we can handle on a case by case basis.  In this particular case they are the same person and one could likely be deleted.

[2018-06-19 21:23] ndebuhr opened #2785 ""Create Resource" multi-click creates multiple resources"
On the resource creation page, multiple clicks of the create resource button generates resource duplicates - for example double clicking button creates two resources.
[Testing Environment](https://github.com/hydroshare/hydroshare/files/2116987/180619_001_test-env.txt)
[Video](https://drive.google.com/file/d/12DofKW7pKy9OFv486SteES_3Ke0T3oUe/view?usp=sharing)

[2018-06-19 21:32] ndebuhr opened #2786 "Resource page Author content is notably less responsive than the rest of the page"
Authors is a noticeable step down in responsiveness for small width windows/screens
[Test Environment](https://github.com/hydroshare/hydroshare/files/2117004/180619_002_test-env.txt)
[Video](https://drive.google.com/file/d/1NqnfTkwIfrkoPgTSy8okbvZm_HDu9RX_/view?usp=sharing)

[2018-06-19 21:35] ndebuhr opened #2787 "The character set for renaming a resource file is restrictive"
Restrictive character set for file renaming within resource.  Error message is overwhelming.  File uploads do not impose the same filename restrictions - "über.txt" is fine for uploading, but not renaming.

[Test Environment](https://github.com/hydroshare/hydroshare/files/2117010/180619_003_test-env.txt)
[Video](https://drive.google.com/file/d/1G83TE1x4HvCvU5VHuQLk_zYwnOyMQ2YK/view?usp=sharing)

[2018-06-19 21:42] ndebuhr opened #2788 "Resource files with non-English characters cannot be downloaded or viewed"
Files with non-English characters cannot be downloaded or viewed through the file URL.

[Test Environment](https://github.com/hydroshare/hydroshare/files/2117039/180619_004_test-env.txt)
[Video](https://drive.google.com/file/d/1i-ne95tke4kincaypmMPeMaxBrGQVbaX/view?usp=sharing)

[2018-06-19 21:45] ndebuhr opened #2789 "Character set issue in resource folder creation"
Using a non-english character in a folder name (within a resource) results in a long error and no folder created.

[Test Environment](https://github.com/hydroshare/hydroshare/files/2117054/180619_005_test-env.txt)
[Video](https://drive.google.com/file/d/1p17d7gsMrMr2akc07uikr3IPONTEbgbT/view?usp=sharing)

[2018-06-19 21:47] ndebuhr opened #2790 "No message to user when resource folder creation fails due to duplicate name"
When creating a folder, no message is displayed to the user if the folder name already exists in the resource.  The user experience suggests the action was successful when in fact it did nothing.

[Test Environment](https://github.com/hydroshare/hydroshare/files/2117057/180619_006_test-env.txt)
[Video](https://drive.google.com/file/d/1WmWfyfJDYPUybnpPDDZGG7Yxp4iBo_nu/view?usp=sharing)

[2018-06-19 21:48] ndebuhr opened #2791 "Issues when a folder and a file have the same name within a resource"
The error handling is not friendly when the user creates a folder with the same name as a file.

[Test Environment](https://github.com/hydroshare/hydroshare/files/2117059/180619_007_test-env.txt)
[Video](https://drive.google.com/file/d/13JLPVZkKp05bzkVbN6snu6_moNhgJiCG/view?usp=sharing)

[2018-06-19 21:52] ndebuhr opened #2792 "Geo raster validation error message is missing spaces"
Trying to use an improperly formatted file as a geographic raster results in a multi-sentence error message that is missing spaces.  "Geo raster file type file validation failed.File is not a zip file"

[Test Environment](https://github.com/hydroshare/hydroshare/files/2117068/180619_008_test-env.txt)
[Video](https://drive.google.com/file/d/1ouEm_XL7vJLzz2OUMPlO4YO06xH3867j/view?usp=sharing)

[2018-06-20 23:20] darksinge commented on #2321
I know this was asked a while ago, but I came across the same problem.

The `funding_agencies` keyword shows up in `hs_restclient` library's documentation, which is where I think the confusion comes from. It turns out `funding_agencies` is the wrong keyword. The correct one to use is apparently `fundingagency`, and is a dict containing the data for a single funding agency.

This code snippet worke

[2018-06-21 00:30] Castronova opened #2793 "Downloading file via URL fails if it isn't public"
## Steps to Reproduce
1. create hs resource, keep sharing status private
2. right click on file --> `Get file URL`
3. in local terminal download with `wget`: wget <file url>

This gives a 403 forbidden error, which is expected since HS cannot verify who is downloading the resource.

## Suggested Fix

1. Deactivate `Get file URL` button for non-public resources
2. Tell user that resource must be pu

[2018-06-21 15:15] horsburgh commented on #2793
@Castronova - another way to look at this is that the current behavior is the desired behavior. I don't think the "bug" label applies here.

If a user tries to request a URL and is not authorized to do so, they should get a 403 forbidden error - as they do now. There may be some instances where a user wants to exercise private file URLs - e.g., they are writing a script for analysis on a private r

[2018-06-21 15:16] aphelionz commented on #2793
can you authenticate via wget using wget authentication?

` wget --http-user=USERNAME --http-password=PASSWORD http://SOMETURLTOFILE`

[2018-06-21 17:55] aphelionz commented on #1609
@danames @horsburgh is this close-able as a duplicate or part of 1.16?

[2018-06-21 21:15] horsburgh commented on #1609
I think we need to @sblack-usu to comment here because I believe he's been working on this. I hope the answer is yes, this will be addressed by the new composite resource functionality for 1.16.

[2018-06-22 21:39] horsburgh opened #2796 "Composite Resource: Enable Adding Referenced File Content via User Interface"
Add the ability to add references to content file(s) stored outside of HydroShare but available via an HTTP or FTP URL to a HydroShare resource. Detailed description of this functionality is in the discussion Google Doc: https://docs.google.com/document/d/1739C59tEO4SErKidCbYRsZDJYWkpJk4T1Ir07HICVMg/edit

**NOTE**: We will add references to map services later as part of another issue.

* [x] **Add

[2018-06-22 22:07] dtarb commented on #1609
@sblack-usu is addressing this in PR #2767

[2018-06-22 22:07] #1609 closed

[2018-06-22 22:49] horsburgh opened #2797 "Composite Resource: Enable Adding and Managing Referenced File Content via the REST API"
Modify the REST API to handle adding referenced file content to a resource and managing it once it is there.

* [x] Enable creation of a reference file (.url file) at any level in the resource's folder hierarchy. This should probably be done by accepting a URL as an input parameter, after which the API creates the .url file.
* [x] Enable deletion of a referenced file (should already exist since re

[2018-06-25 16:18] alvacouch commented on #2737
@dtarb The proposed fix is done and part of the "Large Files" PR. The algorithm is simple: replace two or more newlines with a paragraph; one with a newline character in UML. This matches the way abstracts are shown in the UI: two or more means <p>, while one in isolation means <br>.

[2018-06-25 17:15] pkdash commented on #2614
This has been fixed. Closing..

[2018-06-25 17:15] #2614 closed

[2018-06-25 18:54] aphelionz commented on #2756
@pkdash @Maurier Can you give me a quick briefing on where all this code lives? I'm looking through and there's a lot of dynamic JS, a lot of HTML being rendered in the JS, and a lot of disparate functionality in different files. I'm happy to fix it but I think it would go a lot faster if I had some quick guidance.

[2018-06-25 19:05] aphelionz commented on #2697
@Castronova Is Pabitra's suggestion helpful, does it at least get you unblocked?

[2018-06-26 16:08] aphelionz opened #2801 "More JSON-LD fixes required"
- Need to fix keywords so they're all on one line
- NEed to add commas to the schema.org geoplace "box" paramater

[2018-06-26 21:29] engineSound commented on #2729
Editing an author and deleting an author both behave the same way as adding an authror. Taking  feedback from Mark, I am changing them in a batch so they behave consistently to go back to authorship.

[2018-06-27 16:08] sblack-usu commented on #2773
@darksinge, sorry this took me a while to get to, I was taking some time off and recently got back in the office.

Using swagger (https://www.hydroshare.org/hsapi/), I was able to update keywords successfully,  Here is the generated curl statement.
[code]

Looks like one of your attempts looks about right.
[code]

You say you got a 202 response, could you share the response body? it should show th

[2018-06-27 18:19] sblack-usu commented on #2758
I'm looking into this and the githubusercontent image is failing to work because the python library imghdr isn't able to determine the image type from the images byte stream.  Perhaps the jpg format of that file is incompatible with the imghdr library.  I don't have much experience in image libraries and will have to investigate.

@zhiyuli wrote this code initially, so perhaps he could chime in.

[2018-06-27 20:46] darksinge commented on #2773
I tested this again today and was able to update the keywords. It turned out to be an issue using a request method from the `hs_restclient` library in an extension I've been working on. Thanks, and sorry for the trouble!

[2018-06-27 20:46] #2773 closed

[2018-06-27 23:08] #2670 closed

[2018-06-28 14:54] sblack-usu commented on #2758
@aphelionz - what specifically are you confused about?

[2018-06-28 15:40] sblack-usu commented on #2758
So this issue is documented and from reading the forums, a patch for this is not coming out for python 2.7.  https://bugs.python.org/issue16512

So without upgrading our python version, we're stuck with this library.  However, there is no reason why we can't wrap imghdr with this patch in our own code.  I did a quick test and was successful.  I'll clean it up and submit a PR.

[2018-06-28 16:19] ndebuhr opened #2803 "Discover page info modal does not close when clicking outside the modal"
The modal does not close when clicking in another part of the page.  There is also no "X" in the corner of the modal and it is regularly clipped (at least stylistically) by the top menu and general browser window.  Clicking the "i" button again does close the modal, but that could perhaps be unintuitive to some users who are used to the "clickout" or "x" closure approaches previously described.

[

[2018-06-28 16:21] ndebuhr opened #2804 "Redirect to HTTPS results in an empty subfolder in URL"
When redirecting to HTTPS, an empty subfolder is added to the URL.  While this does not cause any obvious, immediate issues, it seems risky to leave odd url behavior like this.  While the video shows the homepage case, the same behavior arises for other pages (e.g. http://beta.hydroshare.org/search/ redirect to https://beta.hydroshare.org//search/).  The behavior is only seen in beta (as detailed

[2018-06-28 16:22] ndebuhr opened #2805 "Long file names cause issues in list view of resource files"
When long files are uploaded to a resource and then viewed in list mode, the table styling breaks down.  It seems like a "..." should bring the resource name down to a reasonable size.  Instead, the row cells become misformatted, having some content line break and shift horizontally.  The attached video should assist in understanding the problem, and you can skip to the end if you already have fil

[2018-06-28 16:25] ndebuhr opened #2806 "Problems with label validation and presentation"
- Long project tags which have no spaces or hyphens create nonideal formatting in sidebar
- Single space possible as label (this breaks styling on filter sidebar)
- Label processing eats all "<" and ">" symbols (related to next item).  Labels with these characters cannot be deleted by the user.
- HTML and JavaScript injection is possible for labels.
- It is possible to create duplicate labels (e.g

[2018-06-28 21:02] sblack-usu commented on #2266
I'm looking through the code and I'm not seeing a compelling reason for the ResourceFile object outside of registering a logical file type in the composite resource.  For example, the method called by the file browser does a list directory to get a list of all files in that directory.  It then loops through each of those files and nests a loop of all ResourceFile objects for that resource id.  The

[2018-06-29 02:25] pkdash opened #2808 "Composite resource to support File Set - a new aggregation type"

[2018-06-29 21:00] engineSound commented on #2726
The terms page:
https://www.hydroshare.org/terms/

[2018-06-29 21:06] engineSound commented on #2726
Source file:
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/templates/pages/metadata_terms.html

[2018-06-29 23:48] dtarb opened #2809 "Discover page should list author where author is an organization."
None appears for some resources below,
![image](https://user-images.githubusercontent.com/3456833/42118905-308c0578-7bc4-11e8-9794-94f331d4cfe1.png)

But the author is an organization
![image](https://user-images.githubusercontent.com/3456833/42118959-89c9550a-7bc4-11e8-8681-6af4d896d584.png)

[2018-06-30 00:51] aphelionz commented on #2809
Likewise resourcemetadata.xml

[2018-06-30 00:57] aphelionz commented on #2758
@sblack-usu are we storing the binary image in the db and not a string filename pointer?

[2018-06-30 04:45] horsburgh commented on #2809
I checked some of our iUTAH resources today and the organization is listed as a creator in the resourcemetadata.xml.

Here's an example:

https://www.hydroshare.org/resource/9dea1ecec7ca4c33a4bdbe2b06391dd5/

[2018-07-02 14:54] sblack-usu commented on #2758
@aphelionz - https://github.com/hydroshare/hydroshare/issues/1933

As far as I can tell it's storing the image as a base64 string.  I'm not sure what you mean by a string filename pointer.

[2018-07-03 15:33] horsburgh opened #2810 "Resource Landing Page: Reorganize Elements For Clarity and Easier Access"
After quite a bit of discussion, the following reorganization of the resource landing page needs to be done. The following tasks need to be completed. Refer to the mockup at:

https://app.moqups.com/jeff.horsburgh@usu.edu/UNcFub9Dcj/view

* [x] Reorganize the page to follow the following outline:
* Title
* Author information and header information
* Abstract
* Subject Keywords
* Resource Level Cov

[2018-07-03 15:38] horsburgh opened #2812 "Resource Landing Page: Add Readme Functionality"
On the resource landing page, add the ability to automatically render a readme file directly on the page. If a user has uploaded a readme.txt file or a readme.md file, it should automatically be displayed in the readme area on the page. If no readme.txt or readme.md file exists, the readme viewer should not appear on the page. Only readme files in the root content directory will be supported.

The

[2018-07-03 15:55] dtarb commented on #2789
See #2538 where I suggested limiting allowed characters in file names to be from a portable character set.

[2018-07-03 15:55] dtarb commented on #2788
See #2538 where I suggested limiting allowed characters in file names to be from a portable character set.

[2018-07-03 15:56] dtarb commented on #2787
See #2538 where I suggested limiting allowed characters in file names to be from a portable character set.

[2018-07-03 15:57] horsburgh opened #2813 "Resource Landing Page: File Metadata View"
Display of file-level metadata via the tabbed interface near the bottom of the resource landing page was problematic because it wasn't clear that users needed to click on the content file, then click on the "File Metadata" tab to view metadata for that file. This work will move file/aggregation-level metadata directly to the content viewer right next to the file view. This will make it much more c

[2018-07-03 16:10] horsburgh commented on #2367
Closing this issue as it is superseded by #2813

[2018-07-03 16:10] #2367 closed

[2018-07-09 17:41] aphelionz commented on #2793
I will test this soon - assigning to myself.

[2018-07-09 17:57] aphelionz commented on #2784
Likely related to autocomplete. Will investigate

[2018-07-09 18:00] aphelionz commented on #2784
Part of this investigation should be an inspection of the organization metadata to look for susupicious dupilcates, i.e. USU <---> Utah State University

[2018-07-09 18:15] #2606 closed

[2018-07-09 18:16] sblack-usu commented on #2784
You can turn off autocomplete for an input with  ```autocomplete="off"```

[2018-07-09 18:23] aphelionz opened #2816 "User accounts becoming disassociated with their HydroShare account"
Recently there have been two incidents that involved a user trying to create an iRODS account and receiving an error that they cannot - investigation revealed that accounts already existed.

[2018-07-09 18:31] aphelionz commented on #132
This is a legacy requirement and has been superceded by new functionality. Create new issues if they arise.

[2018-07-09 18:31] #132 closed

[2018-07-09 19:47] ndebuhr opened #2817 "Discover page "Sort By" and "Sort Direction" both clear filters"
Using the "Sort By" and "Sort Direction" clears filters, but only in the backend/results and not in the frontend - the frontend still suggests these filters are place while the results count suggests different.

[180709-test-files-001v.zip](https://github.com/hydroshare/hydroshare/files/2177824/180709-test-files-001v.zip)

[2018-07-09 19:49] ndebuhr opened #2818 "Quick filter selections create discontinuity in Discover page"
In multiple trials of testing, it was relatively easy to create discontinuity between the filters selected and the actual results displayed by clicking the filters with substantial feed.  I'm not sure how the system is supposed to process new filter selections while the last filter selections are still being processed.  In any case, the filters should be consistent with the results, and consistent

[2018-07-09 19:51] ndebuhr opened #2819 "Discover page filters are not url parameters"
Discover page filters are not setup as url parameters.  Using url parameters is more of the industry standard (precedent example https://scholar.google.com searching).  The main downsides:
1) A user cannot bookmark/favorite a search that they regularly perform.  Rather, they must manually configure the same filters/setup on Discover any time
2) Since resources open in the same tab, a user cannot t

[2018-07-09 19:54] ndebuhr opened #2820 "HTML Injection in Extended Metadata"
HTML tags are not immediately escaped for resource Extended Metadata.  Rather, the injected HTML is immediately rendered for the "Name" field.  The injected HTML is seemingly ignored for the "Value" field.  Refreshing the page results in an escaping of the HTML, and the HTML is no longer rendered.

[180709-test-files-004v.zip](https://github.com/hydroshare/hydroshare/files/2177831/180709-test-file

[2018-07-09 19:56] ndebuhr opened #2821 ""Send Invitation" button styling is noticable deviation from site standard"
The button is directly pressed against the search box - no padding.  Additionally, the coloring and lack of border-radius rounded corners make this button really stand out from the others in the HydroShare system

[180709-test-files-005v.zip](https://github.com/hydroshare/hydroshare/files/2177834/180709-test-files-005v.zip)

[2018-07-09 19:56] ndebuhr opened #2822 "Inconsistent capitalization approach for group page tabs"
Tabs are currently "OVERVIEW", "Resources", and "MEMBERS".  Can we instead do "OVERVIEW", "RESOURCES", and "MEMBERS"?  Or otherwise "Overview", "Resources", and "Members".  Elsewhere in the system, all caps seems to be reserved just for the top main menu.  As such, it seems like the "Overview",.. approach would be ideal.

[180709-test-files-006v.zip](https://github.com/hydroshare/hydroshare/files/

[2018-07-09 19:59] ndebuhr opened #2823 "No resolution validation for profile image"
Normally, I've noticed that application systems require that profile images be under a certain resolution.  HydroShare appears to accept any resolution (tested with >8k by >8k).  Further, looking at the source, the huge file is actually saved and used "as is", with no downscaling.  This could seemingly cause performance problems later which would be hard to identify.

[180709-test-files-007v.zip](

[2018-07-09 20:01] ndebuhr opened #2824 "No file selection filters for profile image"
The file selection dialog accepts "all files" when uploading a profile image.  Additionally, the user is not provided with feedback until they click "Save".  Restricted file upload type might be helpful.  There are lots of different image types the user could possibly upload.  Do we support all of them?  Should the user "guess and check" to see which ones are valid for HydroShare profile?

[180709

[2018-07-09 20:14] ndebuhr opened #2825 "Resource upload progress shows a much too large number for total upload size"
The total upload size and the sum total of all files uploaded are off by about an order of magnitude.  This is by going to the resource page, clicking edit, then uploading using the "click here to select them" file manager dialog approach.

[180709-test-files-009v.zip](https://github.com/hydroshare/hydroshare/files/2177844/180709-test-files-009v.zip)

[2018-07-09 20:15] ndebuhr opened #2826 "DataError page for 80+ character group names"
Seemingly we need to provide some feedback to the user, constrain the field length, auto-shorten the name, etc. (something more friendly)

[180709-test-files-010v.zip](https://github.com/hydroshare/hydroshare/files/2177845/180709-test-files-010v.zip)

[2018-07-09 20:16] ndebuhr opened #2827 "Long resource names cause styling problem on resource page"
Long resource names (without breaking spaces) collide visually with other UI elements, as seen in the attached image.

[180709-test-files-011v.zip](https://github.com/hydroshare/hydroshare/files/2177849/180709-test-files-011v.zip)

[2018-07-09 20:16] ndebuhr opened #2828 "Visibility of logout notification is window-size dependent"
On some browser widths, the message is hidden when the use logs out

[180709-test-files-012v.zip](https://github.com/hydroshare/hydroshare/files/2177855/180709-test-files-012v.zip)

[2018-07-09 20:17] ndebuhr opened #2829 "When rating resource and not logged in, system doesn't redirect after login"
If a user wanted to rate a resource (for example), they would click the link to login.  It seems like after the login, the system should redirect back to where the user wanted to make a login-dependent action.

[180709-test-files-013v.zip](https://github.com/hydroshare/hydroshare/files/2177859/180709-test-files-013v.zip)

[2018-07-09 20:18] ndebuhr opened #2830 "Front page slider section text overflow on some devices"
On some mobile devices, the text on the front page of the site overflows the section and is cutoff.

[180709-test-files-014v.zip](https://github.com/hydroshare/hydroshare/files/2177863/180709-test-files-014v.zip)

[2018-07-09 22:16] sblack-usu commented on #2781
Code to find clashes in usernames and emails:
[code]
Results:
[code]

[2018-07-10 15:01] aphelionz commented on #2823
See Also #2637

[2018-07-10 15:04] aphelionz commented on #2829
See also #2556 and #2557 and #1099

[2018-07-12 15:15] alvacouch opened #2831 "Support for groups of groups"
There has been much discussion of support for "groups containing groups". There are several possible interpretations. This is a placeholder issue to contain discussion as it develops.

[2018-07-12 20:43] ndebuhr commented on #2820
Note related ticket #2806 in that both deal with HTML inject.  Unlike this ticket, the HTML injection in #2806 persists beyond refresh.

[2018-07-13 17:18] dtarb opened #2832 "Address checksum changes with iRODS 4.2"
The manifest-md5.txt file for a resource in HydroShare (www deployment 7/13/18) has entries like
79e6a9430681f5842a9e5bb5a5e80dc4    data/resourcemap.xml

The same resource in dev-6-hs test deployment with new iRODS has corresponding entry
sha2:AE4ebzAmrtPkiIBIl2tt7IRNPNB/3wXPe2I58mClwsQ=    data/resourcemap.xml

@phuongdm reported that an uRIDS team member indicated that from 4.2.0 the hash algor

[2018-07-13 17:35] hyi commented on #2832
I believe we already ran into this issue a couple of years ago, see this issue for reference: https://github.com/hydroshare/hydroshare/issues/1418

We can still use md5 checksum scheme, we just need to explicitly configure it on both client side in irods_environment.json file which has already been taking care of by django_irods when I worked on the old issue, and on server side in server_config.j

[2018-07-13 18:14] sblack-usu commented on #2832
Sounds like the new iRODS servers setup for the the dev-hs-* environments is just missing configuration and this is not due to updating iRODS.  If so, I don't see any reason to change the checksum algorithm and we should just update the configuration in the development environment and call it done.

[2018-07-13 18:52] dtarb commented on #2832
@phuongdm This should be a reminder for us to check other iRODS settings in the server configuration from www and compare them to the server configurations for the new machines, as there may be other specific entries that we need to propagate to the new servers.

[2018-07-13 19:15] horsburgh commented on #2832
While BagIt does allow other algorithms, my preference would be to stick with MD5 because then we don't have to change anything else.

[2018-07-13 23:16] dtarb opened #2833 "Composite resource single file metadata files appear when an unrelated file is unzipped"
In the 1.16 release candidate deployed on https://dev-hs-6.cuahsi.org I did the following
1. Added file (Readme.txt)
2. Switched to edit mode to set metadata for that file.  This converted the file to a Single file aggregation
3. Added an unrelated zip file (logan_vrt_small.zip)
4. Unzipped the zip file.
5. The content display now shows in addition to the folder from the zip file, the two metadata

[2018-07-14 11:31] dtarb opened #2834 "Apps link hardwired"
Testing 1.16 release candidate on https://dev-hs-6.cuahsi.org/ I noticed that on the top menu APPS links to www.hydroshare.org/apps.  It should be a relative link to the page on whatever machine it is running, in this case https://dev-hs-6.cuahsi.org/apps.

![image](https://user-images.githubusercontent.com/3456833/42723992-25ea1c7c-8727-11e8-8169-1a281312982a.png)

[2018-07-14 12:27] dtarb opened #2835 "Resource content not displaying correctly in 1.16 candidate release"
I have the following resource on www https://www.hydroshare.org/resource/d0e6d4c7f7ef4d9d9486be87fc425314/
![image](https://user-images.githubusercontent.com/3456833/42724382-5c151a66-872e-11e8-815f-4ec3d9a07fda.png)

On dev-hs-6 this does not show file contents https://dev-hs-6.cuahsi.org/resource/d0e6d4c7f7ef4d9d9486be87fc425314/
![image](https://user-images.githubusercontent.com/3456833/4272438

[2018-07-14 13:06] dtarb opened #2836 "Composite resource not properly migrated to CR 1.16"
I looked at the following resource.
https://dev-hs-6.cuahsi.org/resource/ba59b91b681141259bc621493960b6d9/
This includes a geographic feature and a bunch of single files.  The single files are each represented as single file aggregations.  They should have been represented just as files.  This suggests that the migration script to change the www representation of generic logical files to plain fil

[2018-07-14 22:57] ndebuhr opened #2837 "Cancel button during resource creation is missing for certain resource types"
Using the "Collection" or "Web App" resource creation results in the "Cancel" button no longer being available to the user.  This is in contrast to the other resource types where this button is available.  Please note that this was tested on a local development build, using the develop branch, so this may not be reproducible on beta or other deployed systems.

[test-files.zip](https://github.com/h

[2018-07-14 23:02] ndebuhr opened #2838 "Inconsistent user interface labeling for "Subject Keywords""
On the resource landing page, the label for "Subject Keywords" is "Subject" on the resource landing page in "view mode".  When entering the edit mode, the same title becomes "Subject Keywords".  "Subject Keywords" should seemingly be the case for both situations.

Please note that this was tested on a local development build, using the develop branch, so this may not be reproducible on beta or oth

[2018-07-16 12:47] alvacouch commented on #2836
Note that `fix_irods_file_paths` must be run **before** migrating the composite resources; otherwise migrations will not be done on user resources.

[2018-07-16 13:19] dtarb commented on #2833
@alvacouch perhaps you could just point to the management command functions that need updating and @aphelionz @phuongdm or @sblack-usu could make the changes.

[2018-07-16 14:13] pkdash commented on #2833
I have made a fix to the unzip function so that it does not add the aggregation xml files to Django. I can create a PR tonight. That may help in modifying the management commands.

[2018-07-16 15:33] engineSound commented on #2837
I watched how it was reproduced in the attachment.

[2018-07-16 15:48] hyi commented on #2834
@dtarb @aphelionz I believe this resulted from using www database for deployment on a development machine since the url is in the database. It can be easily changed from admin panel to whatever url proper.

[2018-07-16 15:54] dtarb commented on #2834
OK.  I can see that it is questionable whether it is worth changing the database, so I'll close this.  If @aphelionz thinks anything needs to be done, feel free to reopen.  I got to looking at this because I was checking the branding on dev-hs-6 and when looking at apps did not see the new branding then realized I had been taken to www.  But I was able to change the url to dev-hs-6 in my browser t

[2018-07-16 15:54] #2834 closed

[2018-07-16 18:15] aphelionz commented on #2777
Recreating the bug on the Python shell

[code]

[2018-07-16 18:28] aphelionz commented on #2777
Drop-in replacement:

[code]

[2018-07-16 18:43] hyi commented on #2777
@aphelionz Perhaps it is better to make a simple utility function for your strftime() replacement to be called in various places. Alternatively, ```isoformat()``` can be used in place of strftime(), e.g., ```pre_date.isoformat(' ').split(' ')[0]```

[2018-07-16 18:45] aphelionz commented on #2777
I saw that approach but I don't think I like the idea of relying on `split` and an array key for this. I looked at the utility function approach but I think in this case it would be a one-line function that takes a datetime object and a format string and returns the formatted string I posted above... so I dont think that saves us much code.

[2018-07-16 18:50] sblack-usu commented on #2777
Dropping this into a utility function doesn't save us code but it increases reuse and helps to standardize date formatting.

[2018-07-16 18:50] hyi commented on #2777
@aphelionz The only argument I'd make regarding making a simple utility function is that if in the future we want to change date format in HydroShare, e.g., to use ```/``` rather than ```-```, we only need to change that utility function without the need to make the changes in all those places where this formatting is used. In any case, I don't have strong opinion on this. It is your call.

[2018-07-16 18:51] aphelionz commented on #2777
Date formatting isn't standard across the UI and backend though - check out the grep results.

[2018-07-16 18:52] aphelionz commented on #2777
We could create a utility function that returns a standard date format but also accepts another date format as an optional keyword argument?

[2018-07-16 19:08] aphelionz commented on #2777
@sblack-usu @hyi Here is the current breakdown of the different datetime formats we use.. It looks like we may be able to consolidate the dates into a format like YYYY-mm-dd and then the datetimes to some standard format like ISO or some such thing...

[code]

[2018-07-16 19:11] aphelionz commented on #2777
So, perhaps, a function like this would be useful.

[code]

[2018-07-16 19:11] aphelionz commented on #2777
Finally, note that I'm ignoring JS for now, which also has a number of strftime-type calls.

[2018-07-16 19:23] sblack-usu commented on #2777
That's a clever function.  It self documents how to do custom formatting while defaulting to a standard format.  👍

[2018-07-16 19:36] aphelionz commented on #2777
@Lizabrazil reminded me that @horsburgh's powerpoint reports standard metadata formatting guidelines: "For new versions of files, use date format ISO 8601: YYYYMMDD", and the HIS system displays dates as 7/16/2017 0:00

[2018-07-16 19:46] hyi commented on #2777
@aphelionz Agreed with @sblack-usu. That is a clever function indeed.

[2018-07-16 19:55] aphelionz commented on #2777
For automated testing we will need:
1. To detect `strftime` in new commits and fail.
2. To test four digit years
3. To test 2 digit years > 69
4. To test 2 digit years < 70

What else?

[2018-07-16 20:05] sblack-usu commented on #2777
detecting strftime in new commits seems pretty heavy handed.  I think it's enough to write a unit test with a pre-1900 date where the issue bubbled up.

i'm not following why you have the 2 digit year tests... why 69 and 70?

[2018-07-16 20:11] aphelionz commented on #2777
How else should we prevent strftime getting back into the code, which can/will break the display of any 1900 dates? This throws a proper ValueError and would leave pages breaking with 500 errors if not handled correctly.

w/r/t 1969 and 1970 - the reason strftime breaks is beacuse of Y2K-ery, which is to say that that all two digit dates under 70 are treated as the 1900s, and all two digit dates a

[2018-07-16 20:12] darctur commented on #2777
Fwiw, 7/16/18 is pretty clear, but mm/dd/yy can be ambiguous. Europeans and military folks often interpret numeric dates like 7/4/18 as April 7 not July 4. It's least ambiguous & most general to stick with yyyy-mm-dd or spell out the month abbreviation.

[2018-07-16 20:13] aphelionz commented on #2777
I also like YYYY first.

[2018-07-16 20:22] hyi commented on #2777
@aphelionz I agree with @sblack-usu that detecting strftime in new commits seems pretty heavy handed. I think it'd work to detect this via code review and a bit of developer education. Also, 1900 year problem has been fixed in strftime in python 3.3 and above, so after HydroShare were upgraded to python 3, strftime would be good to be used.

[2018-07-16 20:24] aphelionz commented on #2777
I will buy everybody on the team a round of drinks at whatever conference we are all next at if and when HydroShare gets updated to Python 3.

[2018-07-17 02:55] pkdash commented on #2833
@alvacouch Please check my last commit (see above). I am assuming that should fix the debug_resource.

[2018-07-17 18:49] aphelionz commented on #2709
Here is the list of offending IDs, fron non-logged in view mode, logged-in view mode, and logged-in edit mode, along with any occurrences from the code. Additionally, there are a couple ids that show up in the browser and not in the code, namely `id_object_pk`, `id_security_hash`, and `id_content_type.` Investigating those further.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-07-17 20:56] Lizabrazil opened #2841 "Tooltip is grammatically incorrect"
The tooltip for Sharing status: Discoverable currently reads:

"Metadata is public but data is protected."

It should be corrected to:
"Metadata is public but data are protected."

[2018-07-17 21:13] Castronova commented on #2697
It makes sense, but I think the field should be renamed to reflect that it's a URL type.

[2018-07-18 22:29] dtarb commented on #2661
I created a new resource on beta.hydroshare.org that has a new iRODS.  However for both and existing and newly created resource I tested I get the following errors when unzipping a downloaded bag.  This suggests to me that the new iRODS has not resolved the zipping problem that it was supposed to.

![image](https://user-images.githubusercontent.com/3456833/42911301-b80f24a2-8aa7-11e8-9237-dd85c168

[2018-07-19 15:10] sblack-usu commented on #2833
Could I get some others to weigh in on the implementation here?  While making the changes to unzip files to a new folder, I also made it so the folder index would increment to prevent overwriting existing files.  (https://github.com/hydroshare/django_irods/pull/44#discussion_r203739444)

Turns out there are a couple of tests out there that I didn't see which tests for the action to be blocked if f

[2018-07-19 18:29] ChristinaB opened #2844 "Adding Utilities at hydroshare-jupyterhub"
@dtarb @Castronova
We have a request from an organization (CSDMS  https://github.com/csdms) and a toolkit publication (Observatory https://github.com/Freshwater-Initiative/Observatory done in part with HydroShare funding from 2016) to add Utilities.

From notes in a 4/18/2017 Team meeting (currently page 20) I asked for Team Input on "Is it a HydroShare responsibility or the CUAHSI JupyterHub serv

[2018-07-19 21:15] amabdallah commented on #2844
It would be best if HydroShare can work as a source to https://mybinder.org/ to turn the notebooks live

[2018-07-20 21:44] sblack-usu opened #2847 "Update MY_SITE_PROTOCOL defaults to https"
MY_SITE_PROTOCOL currently defaults to http.  The current production deploy does not overwrite this setting to https.  To avoid this problem in the future, let's just default to https.

https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/utils.py#L585
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tests/api/native/test_utils.py#L113

[2018-07-24 15:51] aphelionz opened #2851 "Change quota notifications to once per week."
Once a day is too often for the quota notification emails, given that they are only informational and not enforced. Change to once per week.

[2018-07-24 16:46] #2689 closed

[2018-07-24 19:40] engineSound commented on #2729
Adding an anchor broke the Jenkin's test script test_metadata_CRUD.py under hydroshare/hs_core/tests/api/views

[2018-07-28 23:46] dtarb opened #2854 "Consider making public group pages open without logging in"
Right now in HydroShare, accessing a group page, such as https://www.hydroshare.org/group/2, requires logging in and thus requires a HydroShare account.

I think there should be an option for a group owner to enable group information from a public group to be accessed without logging in.  The access model for group landing pages should be made the same as the access model for resource landing page

[2018-07-29 20:29] ndebuhr opened #2855 "Multiword subject is returned in single word subject search"
Note - this was tested with 2732 feature branch, although the details below are not necessarily related to 2732 branch development work.
1)
Click a subject/keyword within a resource (to run a search for discoverable resources with a matching subject/keywork).  If a resource has a two word subject, and the first word matches the search, it will be included in the results.  For example, "ice melt" s

[2018-07-31 01:40] pkdash opened #2856 "Metadata files for the aggregations, the path to the aggregation contains duplicate folder/path info."
Example:
http://park.hydroshare.org/aa4765dc90194a7e9b44adecd5d47eb1/data/contents/aa4765dc90194a7e9b44adecd5d47eb1/data/contents/Multidimensional_Aggregation/Multidimensional_Aggregation_resmap.xml#aggregation

[2018-08-03 12:45] aphelionz opened #2858 "Non-Composite Resource Type Deprecation Strategy"
Now that composite resource is to be launched as the primary resource type, we should deprecate all other resource types.

In general:

- [ ] Remove Items from dropdown on the "create resource" page
- [ ] E-mail users to let them know of our plans
- [ ] Migration path for converting existing
- [ ] Figure out how modeling resources
- [ ] Figure out iconography / tagging for resource types

[2018-08-03 14:13] rajadain opened #2859 "Support Bulk File Uploads"
Currently, only one file at a time can be added to a HydroShare resource using the `POST hsapi/resource/{id}/file_list/` endpoint, or using the `hs_restclient.addResourceFile`. When export large projects to HydroShare, which can sometimes have dozens or scores of files, adding them one by one takes a long time.

It would be more efficient if the HydroShare API supported bulk uploads which could ta

[2018-08-03 14:21] rajadain opened #2860 "Support Overwriting Files"
Currently, if a file already exists in HydroShare, one must first `DELETE /hsapi/resource/{id}/files/{pathname}/` then `POST /hsapi/resource/{id}/files/{pathname}/`. This doubles the number of API calls, and time taken, for updating all files in a project when the project updates. `POST`ing a file that already exists results in an error.

It would be great if one could pass a flag explicitly askin

[2018-08-03 14:37] aphelionz opened #2861 "Add "Is Referenced By" to "Relations" drop down on resource edit page"

[2018-08-06 15:11] horsburgh commented on #2861
Also see #2763 which provides some better semantics for how the relations terms should be displayed on the page once a relationship is created. I modified that issue to include this new term.

[2018-08-06 15:35] horsburgh commented on #2861
And - just a minor semantic wiggle - we have the term "Cites". Do we want this term to be "IsCitedBy" instead of "IsReferencedBy?"

[2018-08-06 15:38] horsburgh commented on #2859
Could this be done by transferring a single zipped file and then unzipping on the HydroShare side when thats done?

[2018-08-06 15:59] rajadain commented on #2859
If unzipping on the HydroShare side is supported, then yes I think we can do that. How will existing files be handled? Can they be overwritten upon unzipping?

[2018-08-06 16:01] horsburgh commented on #2861
Sure - it can. I just thought since we already had "Cites" as a term, it made more sense to have the converse "IsCitedBy" as a new term rather than introducing something that might be a little semantically different. I'm not sure it really matters. "IsReferencedBy" could be considered a little broader in that a "reference" may or may not be a formal citation.

[2018-08-06 16:08] aphelionz commented on #2861
IsReferencedBy is pure dublin core, if we care. Happy to make it say whatever

[2018-08-06 16:14] rayi113 commented on #2859
If helpful, there is a builtin iRODS command called "ibun" that can zip and unzip collections of files directly in iRODS.

[2018-08-06 16:17] horsburgh commented on #2859
@rajadain - good question about the existing files. @aphelionz, @sblack-usu, and @pkdash - I'm assuming that one can upload a zip file through the API and then unzip that file using an API command?  Can you answer the question from @rajadain about what happens if you were to unzip a file in a directory where files of the same name already exist?

[2018-08-06 16:20] horsburgh commented on #2861
@aphelionz - yep, Dublin Core in its dcterms namespace has both "References" and "IsReferencedBy". The other terms we are using came from a cito namespace and add the ability to have relation types that are maybe a bit more expressive. I would be fine with "IsReferencedBy" - let's just make sure it gets associated with the right namespace when it gets written to the metadata.

[2018-08-06 16:27] rayi113 commented on #2861
So superset is:
 * References
 * IsReferencedBy
 * Cites
 * IsCitedBy

[2018-08-06 16:36] sblack-usu commented on #2859
[code]
or with the client
[code]
Overwriting files when unzipping is currently not supported.  Release 1.16 introduces functionality to unzip to a folder, this prevents overwriting files on unzip.

[2018-08-06 16:41] rajadain commented on #2859
Is there support for bulk delete, where a number of files to be deleted can be specified at once?

Can the files be moved to the root directory of the resource after unzipping them in a folder?

[2018-08-06 16:50] sblack-usu commented on #2859
Unfortunately we currently do not support a bulk delete through the API.  That is probably something we should support.  I will look into the possibility of supporting this in a future release.

You can move files after unzipping them, however you'll currently have to do it one at a time.  I can look into supporting some bulk options for this (and other commands).

The move command can be found on

[2018-08-06 19:26] sblack-usu opened #2863 "Django 1.11 upgrade"
With django 1.8 no longer [supported](https://www.djangoproject.com/download/#supported-versions), we need to look towards upgrading to django 1.11 LTS.  I've started the upgrade and have a lot of hydroshare working in the new versoin of django.  There are still a few issues that need to be worked out.  Extensive testing also should be done which will likely uncover other upgrade work not outlined

[2018-08-09 03:01] dtarb opened #2865 "Resource without content files should not be made public"
It is possible to create resources without content that are public.  Ways to do this seem to be

As reported by @horsburgh . I used the EnviroDIY website to create this resource:
https://www.hydroshare.org/resource/6e97cc54c6ce448ab32367388a12b793/
Something went wrong in copying the data file over, so there are no content files in this resource. However, the resource is public!

Also I created a

[2018-08-09 04:46] horsburgh commented on #2865
According to Craig (@darksinge), he found the error in EnviroDIY that prevented the data file from being copied into the HydroShare resource, but the ability to create a public resource with no content is something that needs to be fixed on the HydroShare side.

[2018-08-09 14:15] hyi commented on #2865
@dtarb @horsburgh This is a regression since content file was indeed required before a resource could be made public. I have just taken a quick look at the code and this line does not look right to me: https://github.com/hydroshare/hydroshare/blob/e1a11fe20b7a3514e366f66095af9056e158bd10/hs_core/models.py#L2183 Specifically, when a resource does not have supported_upload_file_types defined, like g

[2018-08-09 15:43] hyi commented on #2865
@aphelionz I have fixed this issue. I keep that line I indicated above since it is about file types in composite resource and I don't want to remove them without being 100% sure about it. Those lines are not culprit for this issue according to my testing, but the bug was caused by calling a property to check whether there is content file, but that "property" is not defined as property but instead

[2018-08-09 17:53] Lizabrazil opened #2866 "A user can +1 their own resource"
I know this is a known issue. A user can +1 their own resource, that should only be enabled for users that do not own the resource.

[2018-08-09 18:09] hyi commented on #2865
@aphelionz I found this is indeed covered by tests. The reason the test did not fail is that the test called this method ```has_required_content_files()``` as a method which is currently being implemented, but ```can_be_public_or_discoverable``` property calls that method ```has_required_content_files``` as a property, hence the issues with UI. I decided to keep this ```has_required_content_files(

[2018-08-10 13:35] rayi113 opened #2868 "Create HydroShare Profile Badge for AGU Fellows"
Driven by Dave Tarboton's recent honor of being selected as an AGU Fellow https://eos.org/agu-news/2018-class-of-agu-fellows-announced, consider creation of a badge to be rendered in the HydroShare profile page for AGU fellows that have HydroShare accounts.

[2018-08-13 14:28] hyi commented on #2796
@horsburgh I don't see adding referenced content from create resource page mentioned in the task list on this issue. I assume in addition to allowing users to add referenced content from resource landing page after a resource has been created, we should also allow users to create resource using referenced contents initially. Want to confirm with you whether this is the case or not.

[2018-08-13 14:33] horsburgh commented on #2796
@hyi - this is a good question. I debated a bit about whether we should add this to the resource creation page. Once we have consolidated resources on a single resource type (composite), I think the create resource page will go away entirely. So, I'm not sure we want to add new functionality to that page. On the other hand, we've still got some work to do before we no longer require users to selec

[2018-08-13 16:06] hyi commented on #2796
@horsburgh Got it. If we got rid of resource creation page, it'd mean the resource would always be created with the default "Untitled resource" and empty contents initially. So there might still be merit to have a resource creation page initially even if we got rid of resource type selection, but that is a UX issue, and it'd most likely work better if we got rid of resource creation page and strea

[2018-08-13 18:17] engineSound commented on #2709
-  [x] id_address
 -  [x] id_email
 -  [x] id_homepage
 -  [x] id_name
 -  [x] id_organization
 -  [x] id_phone
#### These are fixable in modals.html.

 -  [ ] id_object_pk
 -  [ ] id_security_hash
 -  [ ] id_content_type
 -  [ ] id_user-autocomplete
 -  [ ] id_timestamp
 -  [ ] id_comment
#### These require attentions in separate places

[2018-08-14 17:43] aphelionz commented on #2721
Please see PR #2869

I have added these in local_settings.EXTERNAL_CONFIG

[2018-08-15 01:32] ndebuhr opened #2870 "My Resources page should probably have pagination like Discover page"
All resources are displayed without pagination on My Resources.  For some of our power users with 200+ resources, this is a lot of content to load and makes the page huge.  In my own testing, it seems like loading all this content upfront and displaying in one long list has a considerable impact on page loadtime/performance.

[Video and Other Bug Report Files](https://github.com/hydroshare/hydrosh

[2018-08-15 01:33] ndebuhr opened #2871 "No user message during processing for resource creation/deletion"
If the user is creating a large resource or deleting many/large resources, then the processing time is substantial.  There is no notification to the user that this processing is underway, except for a small cursor change.  It seems like having no notification to the user risks users becoming confused, navigating away from the page, or pressing the create/delete button again.

[Video and Other Bug

[2018-08-15 01:34] ndebuhr opened #2872 "No phone number validation on profile page"
There seems to be no limits/validation for phone numbers on the profile page.  It seems like allowing the users to use characters like Ü could cause problems downstream in the system.  Additionally, analysis/parsing of user data might be messy when the phone number could take virtually any form.

[Video and Other Bug Report Files](https://github.com/hydroshare/hydroshare/files/2288939/003.zip)

[2018-08-15 01:35] ndebuhr opened #2873 "Profile changes are not cancelled after cancel button click"
Login, make changes to the profile details, then "Cancel" changes.  Upon returning to the edit interface, the cancelled edits are still there.  The system requires a logout/login cycle to clear the edits.

[Video and Other Bug Report Files](https://github.com/hydroshare/hydroshare/files/2288940/004.zip)

[2018-08-15 01:37] ndebuhr opened #2874 "Profile editing interface has display issues on mobile"
Navigating the profile edit interface on mobile results in display abnormalities, overlapping interface elements, and elements falling off the screen.  On the home page, we advertise "Available on all your devices", so it seems like users should be able to use mobile devices to edit their profile.

[Video and Other Bug Report Files](https://github.com/hydroshare/hydroshare/files/2288941/005.zip)

[2018-08-15 03:29] ndebuhr opened #2875 "No multiselect for My Resources page"
There is a select/deselect all and individual selection for the My Resources page, but no multiselect.  For users with resources in the hundreds who want to label, favorite, or delete more than a few resources, the process is tedious (select each resource individually, one by one).  A person would have to think twice before organizing their resources with labeling (for example), given this restric

[2018-08-15 19:13] Castronova commented on #2871
Pressing the `delete` button multiple times because nothing seems to be happening might be the root cause of users accidentally deleting data that they didn't have selected.

[2018-08-16 18:38] miguelcleon opened #2877 "Ulmo and Pandas incompatible on JupyterHub"
I'm trying to run a JupyterNotebook on the CUAHSI JupyterHub the resource is[ here ](https://www.hydroshare.org/resource/2fd6d9d2ca16423db921f5c36fcbb073/). The version of Pandas and Ulmo do not work together I get a warning:

`/opt/conda/envs/python2/lib/python2.7/site-packages/ulmo/twc/kbdi/core.py:20: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can acc

[2018-08-16 19:36] Castronova opened #2878 "Setting resource file type always allows feature and raster options"
When setting the file type in a composite resource, `Geographic Raster` and `Geographic Feature` options are always enabled but fail. I propose that these options are only available at the file and folder level, not on zip directories.

[2018-08-16 19:37] Castronova commented on #2878
<img width="820" alt="screen shot 2018-08-16 at 3 37 13 pm" src="https://user-images.githubusercontent.com/4822372/44230847-55a0b180-a16a-11e8-9be6-4fe78b0b684c.png">

[2018-08-23 21:08] sblack-usu opened #2880 "File Download tweaks"
Found the following issues while looking at the current composite resource deployment.

- [x] Download message displays bag when downloading a zip.
- [x] Add ability download single file aggregations as single file or zipped with metadata
- [x] Update Content Metadata permissions to not require login for public resources

[2018-08-23 21:15] sblack-usu commented on #2880
Updating download message to ```Please wait for the download to be prepared```

[2018-08-23 21:55] sblack-usu commented on #2880
@aphelionz - could I get a sanity check?  I'm looking at hs_file_types/views.py and writing the fix to get_metadata so metadata displays on public resources without the user logged in.  Then it occurred to me, all the methods in this file are using the login_required decorator.  This seemed correct at first glance, but that means anyone who is logged in can call any of these methods on any resourc

[2018-08-24 19:27] ChristinaB opened #2881 "Audit Trail & Private Only Feature Requests"
For Ray and Christina to work out for RAPID project

[2018-08-24 19:32] ChristinaB commented on #2881
@rayi113  Thanks for talking and I'll see you here next week.

[2018-08-24 19:34] ChristinaB commented on #2881
Let me know about the common share badge implementation.

[2018-08-27 20:06] aphelionz commented on #2881
@ChristinaB Are there any details you can share in the ticket so we can contextualize & prioritize?

[2018-08-27 20:09] aphelionz commented on #2878
@horsburgh Can you recount your expectations around ZIP files in this context?

[2018-08-27 20:11] aphelionz commented on #2878
@datb suggests that the recognize action takes place upon unzip.

[2018-08-27 20:13] aphelionz commented on #2877
Thank you @miguelcleon. This has been moved to https://github.com/hydroshare/hydroshare-jupyterhub/issues/127

[2018-08-27 20:13] #2877 closed

[2018-08-27 20:17] aphelionz commented on #2875
Moved to backburner until @Lizabrazil and @engineSound can work on the dashboard redesign

[2018-08-27 20:27] aphelionz commented on #2872
TODO: Add Django field validators for telephone numbers

[2018-08-27 20:30] aphelionz commented on #2870
@dtarb hates pagination and wants "show all"

[2018-08-27 20:31] aphelionz commented on #2868
@dtarb appreciates this greatly and also has indicated that this will not be necessary

[2018-08-27 20:31] #2868 closed

[2018-08-27 20:34] aphelionz commented on #2866
@dtarb and @martinseul agree that this is desired behavior

[2018-08-27 20:34] #2866 closed

[2018-08-27 20:44] horsburgh commented on #2878
I think that automated detection of aggregations should happen on unzipping the file. I'm not 100% sure that's consistent with what is in the documents we wrote, but it makes sense since a ZIP file might contain anything. Actually, I think I remember having this conversation with Pabitra about automatic detection of aggregations upon upload and that we would NOT interrogate the contents of a zip f

[2018-08-27 20:48] aphelionz commented on #2858
TODO: Break this into smaller tickets

[2018-08-28 13:15] Lizabrazil opened #2883 "Abstract Message Error is not helpful"
User tried filling out the abstract and the following message popped up. If there is a character limit then the error message should say that.
![image](https://user-images.githubusercontent.com/13852599/44725245-dcc32300-aaa2-11e8-8feb-14860a94206d.png)

[2018-08-29 16:46] aphelionz commented on #2844
@ChristinaB @amabdallah Should this be moved to https://github.com/hydroshare/hydroshare-jupyterhub?

[2018-08-29 17:45] amabdallah commented on #2844
I talked with @dtarb and @Castronova about it and yes it would be pretty cool to make a public composite resource in HydroShare to work with Binder. It should not be a hug amount of work. Binder deploys the content of a public GitHub repo which may include Jupyter Notebooks and makes them live and interactive.
I tried to use a public composite resource (which has the same GitHub repo files) with B

[2018-08-30 22:16] dtarb commented on #2797
Is the ability to accept a URL as an input parameter in the API, really necessary.  Could this not be handled by the python client or client program just writing a .url file and uploading it.

[2018-08-31 03:56] horsburgh commented on #2796
I modeled the messages after those that I had seen on other websites. If you want to change them go ahead. I added the text about clicking on .url files because I'm concerned that users will not know what to do with the .url files once they download them.

[2018-08-31 04:00] horsburgh commented on #2797
We already have the capability to upload a file through the API. So, if someone wants to add a .url file to a resource, they can do it now.

For creating new referenced content through the API, we definitely want to have the URL as in input parameter. We have no guarantees that everyone interacting with the API will be doing so through the Python client, and I'm pretty convinced that nobody is gon

[2018-08-31 13:53] hyi commented on #2796
@horsburgh This is not urgent, but if you could ask @Maurier to create an icon for referenced .url files in file browser when he has time, that'd come in handy for me to use while working on this issue.

[2018-08-31 14:00] hyi commented on #2796
@horsburgh Regarding this message: ```The file you have requested to access has a size of XXXX. It is not stored in HydroShare, and we can’t guarantee its availability, quality, or security.``` I suggest to remove the size info as we most likely will not know the size info from the external URL. We could make the message as ```The file you have requested to access is not stored in HydroShare, and

[2018-08-31 14:42] horsburgh commented on #2796
@hyi - sure, given our conversation the other day I think it's OK to remove the size info. I suggested providing size info so that a user would know what they were asking for. I originally thought that HydroShare could do a header request to get the size info when the reference was created so we could present that information to users. But, I understand that there are reasons that we may not want

[2018-08-31 15:28] horsburgh commented on #2796
@Maurier will work on an icon for you @hyi

[2018-08-31 17:36] Maurier commented on #2796
@hyi

Here is how you can add the icon:
on https://github.com/hydroshare/hydroshare/blob/develop/theme/static/css/hs-file-icons.css add the following rules:
[code]

on https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/hs-file-icons.js add the following entry:
[code]

This should give you an icon that will be used for .url files:

![image](https://user-images.githubusercontent.c

[2018-08-31 18:16] hyi commented on #2796
@Maurier Got it. Many thanks for the quick and detailed response.

[2018-09-04 18:33] hyi commented on #2796
@horsburgh A quick question regarding your comment: ```References to files can be located anywhere within the folder hierarchy of a resource (except nested within other aggregations)```
Does it mean if a folder can be created within the folder hierarchy of a resource, then references to files can be created as well? I am trying to see whether I can leverage existing flag for enabling or disabling

[2018-09-04 18:42] horsburgh commented on #2796
@hyi - I *think* the answer is yes. The point of this comment was that you can put references in any folder anywhere in the hierarchy - *except* within specific aggregation folders that do not permit it. For example, you should not allow creation of a reference file within a geographic feature aggregation folder or within a geographic raster aggregation folder. I believe that the same rules that h

[2018-09-04 19:12] sblack-usu commented on #2796
yes, this makes sense to me.  Perhaps name that flag to something more general or comment it well so the next person to come along isn't confused why a folder flag is used for reference content.

[2018-09-04 20:16] hyi commented on #2796
@sblack-usu Yes, that is what I intend to do, to rename that flag to cover both cases to eliminate confusion.

[2018-09-05 21:50] Maurier commented on #2796
@hyi maybe we could use this one for .url files:
https://fontawesome.com/v4.7.0/icon/external-link

This one would indicate better that the file opens outside of HydroShare.

[2018-09-06 13:20] hyi commented on #2796
@Maurier Agreed that external-link icon looks like a better fit to ```add content from the web```. Will update the code to use that icon. Thanks!

[2018-09-06 16:16] aphelionz opened #2890 "1.15.5 Release Checklist"
### Issues in Release
The following PRs have been consolidated into #2889 , but should still be reviewed separately.
- [x] hotfix yaml into settings #2887 (Issue #2721)  @aphelionz
- [x] patch imghdr to look exif jpeg type #2888 (Issue #2758) @sblack-usu
- [x] HOTFIX - add ResourceFile indexes and get size off of directory listing #2885 (from user support) @sblack-usu
- [x] Allow box coverage for

[2018-09-06 22:14] dtarb opened #2892 "Update how to cite field for permanently published resources to drop dx"
The DOI system now does not need the dx in URL's anymore.  We should update the "how to cite" field in landing pages to use the new preferred format:
https://doi.org/10.4211/hs.877bf9ed9e66468cadddb229838a9ced.
![image](https://user-images.githubusercontent.com/3456833/45187958-c8dc9700-b1ef-11e8-8fbf-e188ee0c3459.png)

[2018-09-07 12:59] dtarb commented on #2892
The following resource published yesterday still has dx in it.  https://www.hydroshare.org/resource/caa886183ec94d50a25ea868367c1ee7/

[2018-09-07 15:47] horsburgh commented on #2892
See #2689, which was closed for some reason, but never resolved. There was a pull request that got merged. We do generate the DOIs on our side.

The current preferred DOI resolver is https://doi.org

[2018-09-07 17:35] sblack-usu commented on #2892
Looks like new resources do not have the dx subdomain, so we will only need to do the migration.

https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/resource.py#L912

[2018-09-10 19:44] sblack-usu opened #2895 "Allow deletion of Web App Icon"
An error is currently shown when you delete the value of the Icon URL field in a Web App.  Add support for saving an empty value to the Icon URL field.

[2018-09-10 19:46] dtarb commented on #2890
- I validated that 0778bfd3a34a4b84b7cd6470d722cec1 displays correctly on beta, the issue addressed by #2885
- I validated that web app icon URL's can set to https://avatars3.githubusercontent.com/u/8520008?s=200&v=4 which triggered this error.  Giving stakeholder approval.

[2018-09-10 20:12] dtarb commented on #2883
If it is a length issue the message should indicate what the length limit is and how many characters were used.  Also add after Abstract "(max 3000 char)".

[2018-09-10 20:18] dtarb commented on #2881
Not having heard anything about what is needed I am closing.  Please reopen a new issue with greater specificity if needed.

[2018-09-10 20:18] #2881 closed

[2018-09-10 20:30] dtarb commented on #2856
@pkdash is this still an issue.

[2018-09-10 20:32] dtarb commented on #2851
Done

[2018-09-10 20:32] #2851 closed

[2018-09-10 20:44] dtarb commented on #2836
remove_auto_generated_generic_metadata command developed to be run at deploy to resolve this.

[2018-09-10 20:44] #2836 closed

[2018-09-10 20:53] dtarb commented on #2838
Fixed in 1.16 CR.

[2018-09-10 20:53] #2838 closed

[2018-09-10 20:57] dtarb commented on #2837
Defer and close this issue as the general plan is to avoid an intermediate page during resource creation and after clicking create be straight in a landing page in edit mode to fill in content.  This was suggested by Olin.

[2018-09-10 20:57] #2837 closed

[2018-09-10 21:16] dtarb opened #2897 "Files are repeated in contents listing in just deployed 1.15"
In 1.15 just deployed files are repeated in the content area
![image](https://user-images.githubusercontent.com/3456833/45324783-65fb4080-b50c-11e8-97ad-2fe46a07aa29.png).

Appears only a display issue.  Bag still has one copy of each file.

[2018-09-10 21:17] dtarb commented on #2890
Testing a landing page on new deploy I found https://github.com/hydroshare/hydroshare/issues/2897

[2018-09-10 22:56] aphelionz commented on #2897
Rolled back to 1.15.4 while we investigate

Not happening on beta, oddly enough

[2018-09-10 23:37] engineSound commented on #2837
Go straight to edit mode is the right approach.

[2018-09-11 18:09] hyi commented on #2796
@horsburgh What is the rationale behind ```When displaying .url reference files in the file browser interface, the .url file extension should be removed so the user doesn't see it```? Special logic will be needed to handle hiding .url file extension from the file browser interface. Before I add any such special logic, I am wondering whether this is really needed. For me personally, having .url ext

[2018-09-11 18:47] hyi commented on #2796
@horsburgh Regarding the task ```The user should be able to right click on a folder containing any .url files and select "Add metadata to folder". This will have the same effect as the existing functionality for this action when initiated on a folder with files stored within HydroShare's file system - an OAI-ORE resource map and aggregation metadata document will be created within the folder.```,

[2018-09-11 19:11] horsburgh commented on #2796
Add metadata to folder is generic Composite resource functionality and not specific to referenced content at all. But, I thought it had already been added to composite resource functionality? @pkdash can set us straight.

[2018-09-11 19:42] hyi commented on #2796
@horsburgh A update regarding the task: ```Verify ability to create metadata for a single referenced file (.url file) (e.g., create a single-file aggregation from the .url reference file). The user should be able to right click on a single .url file and select "Add metadata to file". ``` What I have done is to automatically create a generic logical file aggregation for the .url file at the time it

[2018-09-11 19:59] pkdash commented on #2796
"Add metadata to folder" is not part of 1.16. I am currently working on this as part of the new FileSet aggregation/file type.

[2018-09-12 14:26] horsburgh commented on #2796
Thanks for the reminder @pkdash - I'll look forward to that functionality after 1.16.

@hyi - if you are automatically creating an aggregation for the .url files, I think that's fine unless there are any performance implications. I suspect that's not an issue.

[2018-09-12 14:28] horsburgh commented on #2796
@hyi - the purpose of my suggesting that we remove the ".url" part of the extension was that it is going to be confusing to users, most of whom will not know what a ".url" file is. If you want to leave it for now for the first implementation, I'm fine with that.

[2018-09-12 15:42] hyi commented on #2796
@horsburgh I don't notice performance implications resulting from automatically creating a generic aggregation for .url files since the generic aggregation creation is fast as it does not involve time-consuming metadata extraction for other specific aggregation types. Regarding keeping the ".url" extension, we may add a brief message about .url with a link such as https://fileinfo.com/extension/ur

[2018-09-12 16:17] horsburgh commented on #2796
@hyi - my concern with performance wasn't with auto-creating an aggregation for an individual .url file, but rather what would happen if I had a whole bunch (say hundreds) of .url files in a resource. If that's not a problem, then this is great.

[2018-09-12 16:53] hyi commented on #2796
@horsburgh That is a good question and valid concern. I don't anticipate performance issues on the server side even with hundreds of .url files in a resource, as long as the client can display all those files efficiently in file browser UI. We can do some stress testing perhaps after the REST API is also implemented so we can have an idea whether we need to address any potential performance impact

[2018-09-12 21:32] sblack-usu opened #2899 "Allow box coverage for file metadata in Rest API"
The code currently assumes all spatial coverage is of type point.  Update the code to pull the spatial_coverage type from the put parameters.

https://github.com/hydroshare/hydroshare/blob/develop/hs_rest_api/resources/file_metadata.py#L148

[2018-09-13 15:51] sblack-usu commented on #2890
deploying to beta - ETA 12 hours

[2018-09-13 18:04] aphelionz commented on #2835
@sblack-usu @dtarb Can you review on the latest 1.16 deployment on dev-hs-6 and report back or close the ticket?

[2018-09-13 18:04] aphelionz commented on #2833
@sblack-usu What's the status of this?

[2018-09-13 18:06] aphelionz commented on #2753
@dtarb @Castronova what is the status of this?

[2018-09-13 18:07] Castronova commented on #2753
I need to follow up on this.

[2018-09-13 18:08] aphelionz commented on #2728
I believe this is addressed in this PR: mark deprecated resource types and block their creation throu… #2894

[2018-09-13 18:10] #2721 closed

[2018-09-13 18:10] #2717 closed

[2018-09-13 18:11] aphelionz commented on #2714
@horsburgh @Castronova @dtarb what is the status of this?

[2018-09-13 18:14] #2758 closed

[2018-09-13 18:16] aphelionz commented on #2674
@rayi113 @cbcunc what is the status of this?

[2018-09-13 18:31] #2619 closed

[2018-09-13 18:31] aphelionz commented on #2597
@hyi you solved this right?

[2018-09-13 18:39] aphelionz commented on #2635
@pkdash @sblack-usu revisiting this. will this be necessary for composite phase 2 rollout?

[2018-09-13 18:39] #2590 closed

[2018-09-13 18:39] aphelionz commented on #2581
@rayi113 was this done?

[2018-09-13 18:42] #2540 closed

[2018-09-13 18:43] #2035 closed

[2018-09-13 18:54] #2801 closed

[2018-09-13 19:01] aphelionz commented on #2897
Cloising as we found the source of the problem and the hotfix was merged

[2018-09-13 19:01] #2897 closed

[2018-09-13 19:02] aphelionz commented on #2880
@sblack-usu Correct, we should be using the `authorize` helper function

[2018-09-13 19:04] #2778 closed

[2018-09-13 19:06] aphelionz commented on #2652
Changing this to an enhancement since the task is now "migrate existing tasks to selenium grid"

[2018-09-13 19:17] hyi commented on #2597
@aphelionz Right. Feel free to close this.

[2018-09-13 19:18] #2597 closed

[2018-09-13 19:44] sblack-usu commented on #2833
it's been merged into the main composite resource branch

[2018-09-13 19:46] sblack-usu commented on #2835
I'm still running the repair_resource command on dev-hs-6.  I'll comment again here when it's finished.

[2018-09-13 19:49] dtarb commented on #2666
I can confirm that the data explorer page has been removed.  I do not know if @zhiyuli has provided updated information to @Lizabrazil on the NWM viewer app.

[2018-09-13 19:50] dtarb commented on #2714
This is still an ongoing discussion.

[2018-09-13 19:50] engineSound commented on #2785
Reproduced. The button can be clicked as many times as possible as the mouse is capable.

Two options: 1. disable the button once detect the first click. We may do this in other places as well like create New resource. 2. just use the first click to trigger backend call, ignoring the rest.

Currently estimate it as small effort.

[2018-09-13 19:52] dtarb commented on #2753
It would be good to get an update sometime from @clarisca on the status of SciDAS work.

[2018-09-13 20:00] engineSound commented on #2830
I reviewed the video from Neal. Thanks for the effort.
On my iPhone 7 plus which doesn't have the issue. Is this something to do with simulator? As a restraint to us is that we don't have all the physical devices.

It could be small effort, but challenging to validate changes on all the physical devices.

I tend to treat it as low priority. Mark what do you think?

[2018-09-13 20:05] engineSound commented on #2865
Hong, where is the testing site I can verify your fix.

[2018-09-13 20:11] engineSound commented on #2873
Watched the testing video. Thanks!

I need to triage this issue.

[2018-09-13 20:30] engineSound commented on #2682
This seems to be related to map API.

[2018-09-13 20:44] engineSound commented on #2823
Thanks for the video!
We need to specify image size limitation upfront when a new profile image is uploaded.

[2018-09-13 20:51] engineSound commented on #2828
Thanks for the video! It saves tons of time.  I appreciate it.

The logged out message got hidden at a certain size. It is annoying to users. Certainly we should fix this. The Sign In button is compensating for the missing logout issue. So users still know they have logged out.

[2018-09-13 21:18] engineSound commented on #2829
@aphelionz Mark, the three issues you listed are related to a general scheme how hydroshare implement "come back with the flow". It is also the same as the "add author rolling back to top of the page" [issue](https://github.com/hydroshare/hydroshare/issues/2729). We should fix all of them in one batch of work. It significantly affects user experience.

[2018-09-13 22:28] aphelionz commented on #2785
I vote option 1, thanks @engineSound

[2018-09-13 22:29] aphelionz commented on #2830
@engineSound - what about with responsive mode in Chrome Dev tools? You have variable width there and can try different configurations

[2018-09-13 22:30] aphelionz commented on #2823
Also groups images. Really any images updated that are not resource files. see also #2637

[2018-09-13 22:31] aphelionz commented on #2829
@engineSound agree

[2018-09-14 00:33] engineSound commented on #2427
I like the map feature and recognize its potential  to provide users a good experience. I found it is challenging to use. Selecting an area  is barely possible. We need to sort out how to correctly use Google map and it's APIs before addressing map issues.

[2018-09-14 00:38] engineSound commented on #2454
See issue related [2427](
https://github.com/hydroshare/hydroshare/issues/2427)

[2018-09-14 13:59] engineSound commented on #2583
@aphelionz By looking at the phenomena, I would send it to back end for a quick check. It is functional defect.

[2018-09-14 14:03] sblack-usu commented on #2890
deployed to beta and I stepped through all the steps I could.  check_resource is currently running, you can see the output in /home/hydro/hydroshare/nohup.out.

[2018-09-14 15:54] engineSound commented on #2825
Reproduced. Need to look into the javascript code where byte is converted to MB.

[2018-09-14 16:08] dtarb commented on #2890
Retested that 0778bfd3a34a4b84b7cd6470d722cec1 displays correctly on beta, the issue addressed by #2885 and validated that web app icon URL's can be set to https://avatars3.githubusercontent.com/u/8520008?s=200&v=4 which triggered #2758. Giving stakeholder approval.

[2018-09-14 16:29] dtarb commented on #2871
I am certainly supportive of this.  It would be helpful to start/outline a design specification for the team to contribute, in whatever format you prefer (e.g. Google Doc or file in github).

[2018-09-14 19:04] hyi commented on #2796
@horsburgh Regarding ```Double clicking on an individual .url file should result in the user receiving the following warning, after which HydroShare will redirect a new browser tab to the URL contained in the file```, since .url file is auto-aggregated into a generic logical file, double clicking on an .url file will download the single file aggregation as the current default behavior. I suggest w

[2018-09-14 20:03] Castronova opened #2901 "Adding folder to resource unpacks contents"
1. Create Resource
2. Drag and drop a folder with data into content

Expected:
- files are uploaded with folder structure intact
e.g.
[code]
Actual:
- Data is unpacked from folder and uploaded to the root directory

![image](https://user-images.githubusercontent.com/4822372/45572581-9b1ed000-b837-11e8-92ad-a672a0f4ccc4.png)

[2018-09-14 20:33] hyi commented on #2796
@horsburgh I took back my suggestion above after giving it a bit of more thought and after seeing your subsequent bullet point ```Double clicking on or right clicking on a single referenced file aggregation should be the same as individual referenced files (above)```. I will implement as you specified, i.e., doubling clicking on a .url file will result in the user receiving the warning and then re

[2018-09-17 15:13] Castronova commented on #2901
This is more problematic for directories with commonly named files. For example uploading the following directory

![image](https://user-images.githubusercontent.com/4822372/45632154-a6a60d00-ba6a-11e8-9423-8d4c4cf27faa.png)

Produces the following error because HS is unpacking the directories.

![image](https://user-images.githubusercontent.com/4822372/45632122-9a21b480-ba6a-11e8-9541-c58659c2e73

[2018-09-17 15:21] Castronova opened #2902 "Deleting a file returns user to root directory of contents"
When deleting a resource file within a directory, the page is reloaded and the user is bounced back to the root content directory. This is frustrating when a user is reorganizing multiple files within nested directories.

For example, given the following directory structure:

![image](https://user-images.githubusercontent.com/4822372/45632487-6eeb9500-ba6b-11e8-8ce5-6aa60dfd5d40.png)

Deleting `so

[2018-09-17 17:16] dtarb commented on #2901
@Castronova this is fixed in the code slated for 1.16 release.  You can check the deployment on https://dev-hs-6.cuahsi.org/.  Consider closing now - or when you test this on www whenever this deploys.

[2018-09-17 18:08] sblack-usu commented on #2796
@hyi - I'm not sure what your plan for implementation of the redirect will be, but I think it's worth building it in a way that a user can share the link to the referenced resource in hydroshare, where hydroshare will then redirect to the url in the .url file.  I actually believe that the download link would be good for this because it doesn't make much sense to ever download a .url file.

If you

[2018-09-17 19:50] hyi commented on #2796
@sblack-usu That is a good point. Since .url file is auto-aggregated into a generic file aggregation, the download of the url file currently actually downloads a zipped aggregation with metadata included similarly as other aggregations. We allow users to add metadata into .url aggregation anyway, so this is consistent with aggregation design as detailed in this issue by @horsburgh. When users doub

[2018-09-18 15:40] horsburgh commented on #2796
@hyi - I discussed this a bit with @sblack-usu yesterday. I think having one way to handle both of these situations would probably be best. In HydroShare's resource landing page, we have proposed changing the behavior of a double click on a ".url" file so that instead of downloading the .url file (as is done with all other files), the user is redirected to the URL contained in the .url file after

[2018-09-18 17:29] hyi commented on #2796
@horsburgh @sblack-usu A couple of comments:
- The current spec does mention ```Double clicking on an individual .url file should result in the user receiving the following warning, after which HydroShare will redirect a new browser tab to the URL contained in the file```. However, when users right click on the .url file and select download, the aggregation zip file will be downloaded similarly to

[2018-09-19 03:43] horsburgh commented on #2796
@hyi - on your first point, yes, that would be great to have a right click option on a .url file to "Open referenced content"

On your second point - a single redirect page seems simpler and would be consistent across both use cases. If you feel strongly about the modal window for the HydroShare user interface, that's fine. But, we would still have to handle the case where a user pastes a HydroSha

[2018-09-19 03:50] aphelionz commented on #2796
@horsburgh We have a URL already that tracks external activity. @Castronova wrote it and uses it for tracking app opens. You could easily reuse that work @hyi

https://github.com/hydroshare/hydroshare/blob/develop/hs_tracking/views.py

[2018-09-19 14:30] engineSound commented on #2785
I vote option 1 as well.

[2018-09-19 14:47] engineSound commented on #2873
We are inclined to treat this as a front end jquery issue. Fix will be discussed with @aphelionz

[2018-09-19 15:10] aphelionz commented on #2871
Luckily, I've already started work to this effect - we just need to finish it:

https://github.com/hydroshare/hydroshare/search?q=universalmessage&unscoped_q=universalmessage

[2018-09-26 14:28] hyi commented on #2796
@horsburgh @sblack-usu I believe I have implemented all tasks covered in this issue and I am deploying the first pass of the implementation to playground right now. Will let you know when the deployment is done and playground is up and running. One thing I want to bring up is that instead of implementing a separate page asking users to either download or redirect for a url file, I implemented redi

[2018-09-26 14:43] horsburgh commented on #2796
Thanks @hyi - I'll have a look as soon as you are ready for testing.

[2018-09-26 15:09] hyi commented on #2796
@horsburgh - playground is up and running now. I have done a quick testing and everything appears to work as expected. You will have to sign up and create a user account first since it is not deployed with existing www resource data.

[2018-09-26 18:38] ndebuhr opened #2910 "Image formats handling for icon url (web app resources)"
The "feature suggstion" part of this:
It seems like .ico "Icon file" should be accepted by the Icon URL input for Web App resources.  SVG files seem like they should be possible as well.  Further, both of these file types correctly render a preview when the user inputs the url.  We should probably not show the preview if we are not accepting the file?  This could make the user think the file forma

[2018-09-26 18:41] ndebuhr opened #2911 "Icon URL can be animated gif for Web App resources"
This seems like an exceptionally odd case, but I suppose worth mentioning.  Animated GIFs are accepted as valid icon files for Web App resources.  I imagine that's probably not by design.

[001.zip](https://github.com/hydroshare/hydroshare/files/2421117/001.zip)

[2018-09-26 18:52] hyi commented on #2796
@horsburgh @sblack-usu @ChristinaB @danames  I have fixed the redirect bug when putting a file URL on a web browser on playground.hydroshare.org, discovered during the demo today. It now works regardless where the URL file is in the folder structure. Feel free to give a test drive on playground and chime in with any suggestions/comments/feedback.

[2018-09-26 19:07] ndebuhr opened #2912 "No file size or resolution limits on group images"
100 MB, approx 8k x 11k resolution image is accepted by the system.  Load times for the pages which use the image (e.g. Groups finding page if group is public) become substantially larger due to the large image - so it's not like the image is scaled on the backend and then the scaled image is used.

[003.zip](https://github.com/hydroshare/hydroshare/files/2421192/003.zip)

[2018-09-26 19:21] ndebuhr opened #2913 "Different name for same userid"
https://beta.hydroshare.org/resource/68313c40c7ff48cd9e065ceada3c8426/

The author and owner are the same user.  Why the different names?

[004.zip](https://github.com/hydroshare/hydroshare/files/2421229/004.zip)

[2018-09-26 19:22] ndebuhr opened #2914 "Phone number visible by non-logged-in users"
https://beta.hydroshare.org/user/11/

Do we want phone numbers exposed like this?  We have a "(Log in to send email)" blocker for email, but the phone number is visible in plain text without logging on?

[005.zip](https://github.com/hydroshare/hydroshare/files/2421233/005.zip)

[2018-09-26 19:29] ndebuhr opened #2915 "Inconsistent capitalization approach on user profile page"
I would recommend we capitalize the first letter of "activity" in header "Recent activity", as to clean up the interface and stylistically match with "Author Identifiers"

Example below is from https://beta.hydroshare.org/user/11/
![inconsistent-capitalization-apporach](https://user-images.githubusercontent.com/14877920/46104262-3f5b2c00-c1d3-11e8-8a53-012dbfb53b0b.png)

[2018-09-26 19:34] ndebuhr opened #2916 "Author identifiers logos are much too small"
The logos in the Author Identifiers section are much too small to be useful, in my opinion.  Seems like we should redesign or remove the logos.  They just seem too small to read and negatively impact UI/UX.

Example below is from https://beta.hydroshare.org/user/11/
![author-identifiers-logos](https://user-images.githubusercontent.com/14877920/46104579-fce61f00-c1d3-11e8-9fa0-126f42142830.png)

[2018-09-26 19:36] ndebuhr commented on #2890
Not a lot of customer-visible changes in this release, but tested what I could.  Left the CUAHSI Branding Updates for @Lizabrazil  though.  Also did some general exploratory testing to see if I could find any regressions.  Nothing to hold deployment back, in my opinion.  Here is the list from beta testing today and some recent general systems testing (bug reports for all used this new beta deploym

[2018-09-26 19:55] horsburgh commented on #2913
This is by design. When a resource is created, a snapshot of the user's profile information is created as the Author information. After initial creation, the author information should only be changed if an editor of the resource decides to do so. If Tony changed his profile information (i.e., his first name) after this resource was created, that change wouldn't be reflected in the Author informati

[2018-09-26 20:42] #2913 closed

[2018-09-26 20:48] aphelionz commented on #2890
Thanks @ndebuhr. I've triaged those issues. I agree, no show stoppers.

[2018-09-27 00:02] dtarb commented on #2914
I do not object to phone number being exposed.  A user does not have to submit a phone number to get an account, while they do have to submit an email address.  We should (and perhaps do) have a message indicating that content added to the profile is public information and not to provide it if you do not want it to be public.  I'd be happy for this content handling to be reviewed and to consider e

[2018-09-27 00:05] dtarb commented on #2890
I tried to create a new account and got this far

![image](https://user-images.githubusercontent.com/3456833/46115922-9d2d4b00-c1b6-11e8-80b6-b87a1f800f01.png)

But never received the email to click.

I also tried copying bag to iRODS zone for some big resources, and got no response.
Specifically copying the Resource bag to iRODS for this resource https://beta.hydroshare.org/resource/9badb941303d4

[2018-09-27 17:13] aphelionz commented on #2890
The email problem does not present on production, as emails have been turned off on beta due to quota messaging.

Similarly, the copy resource issue does not present on www. The deployment has taken place and been tested by developers and we are confident the deploy was successful. Closing this now and other issues can be opened against 1.15.5

[2018-09-27 17:13] #2890 closed

[2018-09-29 00:03] engineSound opened #2917 "Redesign DOI workflow"
DOI is an important offer provided by Hydroshare.  User evaluation showed Hydroshare DOI information was hard to notice during the resource creation time and in the resource landing page. We studied the DOI user experience from a few other repositories vendors. We learned a very large intentional design effort were particularly applied on DOI user experience. Following that, we  prototyped the new

[2018-09-29 00:05] engineSound commented on #2917
@aphelionz @Lizabrazil

[2018-10-01 20:33] aphelionz commented on #2912
Duplicate of #2637

[2018-10-01 20:33] #2912 closed

[2018-10-01 20:39] aphelionz commented on #2911
I think for now we're just going to limit the size and not worry too much about this - this could be fun for people.

[2018-10-01 20:39] #2911 closed

[2018-10-01 20:39] dtarb commented on #2637
Limit size for web app icons too while doing this.

[2018-10-01 20:43] aphelionz commented on #2901
Closing this - please re-open if it re-appears while testing 1.16

[2018-10-01 20:43] #2901 closed

[2018-10-01 20:44] #2899 closed

[2018-10-02 13:13] alvacouch commented on #2738
Merged into Composite Resource phase 2.

[2018-10-02 13:16] alvacouch commented on #2508
This was addressed long ago. Closing it now.

[2018-10-02 13:16] #2508 closed

[2018-10-02 13:19] alvacouch opened #2921 "management commands don't deal with unicode titles correctly."
When the title of a resource contains Unicode characters, the management commands `check_resource`, `repair_resource`, etc crash when reporting problems on the terminal, due to an invalid cast from Unicode to ASCII.

[2018-10-02 20:35] engineSound commented on #2825
In beta.hydroshare.org and www.hyrdoshare.org, it can no longer be reproducible. So closing. Welcome reopen if this reproducible again.

[2018-10-02 20:35] #2825 closed

[2018-10-03 01:55] horsburgh opened #2924 "Resource Landing Page: File Browser List View Formatting off for Long File Names"
When viewing the list of files in a resource in list view, the contents of the list are muddled when there are files with long names. The columns of information (file type, size, etc) get misaligned. An example is below. It is worse when the browser window is narrow, but doesn't entirely go away when the browser window is made wide.

![image](https://user-images.githubusercontent.com/3485902/46386

[2018-10-03 04:31] aphelionz commented on #2858
@jsadler2 Great. Please link to the sub-tickets from the description of this one. Feel free to edit my description.

[2018-10-03 12:53] Maurier commented on #2924
I rather fix this apart from my current work because we are trying to keep the PR size small. I will push a fix for this soon.

[2018-10-03 15:16] horsburgh commented on #2924
Sounds good. I'm all for keeping pull requests smaller.

[2018-10-03 15:31] engineSound commented on #2276
The full name including middle initial is retrieved from “name” field a creator object.
**https://github.com/hydroshare/hydroshare/blob/05dc7e33470691b3727ea9d0f64a34ac7ea9ddd7/theme/templates/resource-landing-page/resource-header.html#L11-L13**
The creator’s fields are populated in serialization.py. As long as the name has middle initial set over there, the view will show the middle initial corre

[2018-10-03 19:01] engineSound commented on #2873
When cancel button is clicked, the form that has been altered is in cache doesn't reset back. This problem can be fixed by calling location.reload() go back to the profile page. I tested the change it works. @aphelionz What do you think?

[2018-10-03 20:19] aphelionz commented on #2873
I think that's a fair approach. Make a PR and I will review @engineSound

[2018-10-03 20:39] engineSound commented on #2873
PR https://github.com/hydroshare/hydroshare/pull/2925

[2018-10-03 21:01] engineSound commented on #2875
I was able to multi-select resources in "My Resources" page, then I did "delete" action that deleted the selected resources. I labelled them with a newly created table, the selected resources had the label. Unless I missed something else in the description, I think the functionality is there.

[2018-10-03 21:21] aphelionz commented on #2875
This is something slightly different, re-opening and will explain at a later date.

[2018-10-04 01:48] Maurier commented on #2813
This has been implemented and can be tested at https://riverdev.hydroshare.org/

Further work is recommended for the metadata content to use the available space efficiently.

[2018-10-04 22:52] sblack-usu commented on #2860
@rajadain - We talked about supporting a bulk upload by uploading a zip and unzipping it with an overwrite after the upload.  I'm looking at implementing the changes to overwrite files on unzip and there are some curve balls introduced by irods and some of our special datasets in HydroShare that complicate overwriting with nested folders.  As long as the zipped files you're sending are flat (do no

[2018-10-05 13:03] rajadain commented on #2860
Hi @sblack-usu, here's what an export would look like:

![image](https://user-images.githubusercontent.com/1430060/43966360-aea2e5da-9c8f-11e8-8ed1-7fc56ab56cc7.png)

As you can see, the only folder is for the area-of-interest shapefile, and all the other files are flat in the root space. The way WikiWatershed works is that you cannot change the shape of a project once it is created, so we will no

[2018-10-05 13:07] engineSound commented on #2820
@Lizabrazil @Maurier @aphelionz Do we have a design spec to document the correct behavior?

[2018-10-05 19:54] engineSound commented on #2820
From specification perspective @Lizabrazil , the meta data name/value pair are intended for plain text by design. The dialog and table for extended metadata aren't robust to handle out-of-spec data input.

One fix might be adding text tips to inform users only plain text is allowed. This clutters GUI and appears redundant. The users of hydroshare are the scientists and researchers who know well wh

[2018-10-08 19:56] engineSound commented on #2855
@ndebuhr Can you reproduce this problem on hyrdoshare.org? This helps us to identify if this is a regression.

[2018-10-08 19:59] engineSound commented on #2855
@ndebuhr I was able to reproduce the behavior on hydroshare.org. It isn't a regression.

[2018-10-08 20:20] engineSound commented on #2729
See also #2556 and #2557 and #1099

[2018-10-09 17:09] horsburgh commented on #2796
@hyi - I just did some testing on playground. Here's some issues I encountered:

1. I tried to edit the URL for a reference (right click, edit referenced URL) to an invalid URL. I got a huge, long, red error message on the page. We need to handle this more gracefully. I suggest an error message that says:

2. Updating the URL for a referenced file removes all file/content level metadata. Was this

[2018-10-10 17:39] sblack-usu commented on #2797
Most of the acceptance criteria came free from url files just being like other files.  The extent of the work is just exposing @hyi work through hsapi and updating hs_restclient to use those methods creation and update.

[2018-10-11 02:05] engineSound commented on #2813
Good work! I tested. The UI looks much better than before.

[2018-10-11 12:27] dtarb opened #2931 "Discover listing issues"
1. If the first author name is a single word (e.g. no first name or one word organization name) then a misplaced comma appears in the discover listing and filter by author facet.  Just the single word should be listed.
2. If the author is an organization the First author is omitted in the discover listing.  If the author field is empty, the organization of the author should be listed.
3.  Subject

[2018-10-11 19:20] engineSound commented on #2873
fixed and merged into develop branch.

[2018-10-11 23:35] #2865 closed

[2018-10-12 15:47] pkdash commented on #2810
@horsburgh

Is the number of downloads account for both bag downloads and resource file downloads?

[2018-10-12 16:46] Castronova commented on #2810
We're storing a "download" for each `pre_download_file` event. I'm not sure if the file download is triggering this event, but I know that the bagit download is.  See line 37 in the following link:

https://github.com/hydroshare/hydroshare/blob/master/hs_tracking/signals.py

[2018-10-12 16:54] hyi commented on #2810
@Castronova @pkdash @horsburgh ```pre_download_file``` signal is only sent when a regular file is downloaded as shown here: https://github.com/hydroshare/hydroshare/blob/a6a20809d28fe5baf83957166af9d71540038c88/django_irods/views.py#L288
This appears to be the only place this signal is sent, so it appears only file download triggers this event. In other words, it appears bag download and zip downl

[2018-10-12 16:58] dtarb commented on #2810
I agree we should count all.

[2018-10-12 17:59] pkdash commented on #2810
@hyi  You are correct. Before asking my question above I had looked at the same code as you pointed out and noticed that we are tracking only the resource file downloads. Anyway, I think tracking other type of downloads should not be hard.

[2018-10-12 19:57] hyi commented on #2796
@horsburgh I believe I have addressed all your comments and updated playground for you to test again with one caveat regarding your comment item No. 3 about tagmanifest-md5.txt. First, the tagmanifest-md5.txt is generated by iRODS rule, which has not been changed for a long time. Second, I cannot reproduce it locally. Third, I tested on testservices.hydroshare.org which does not have my code, and

[2018-10-15 17:19] sblack-usu opened #2934 "Release CheckList 1.16"
### Issues in Release
#### Composite Phase 2
- [x] ~#2564 Change any text references from "Logical File" to "Aggregation"~ #2762 Improve Semantics for Usability
- [x] #2565 Implement writing of Aggregation metadata and Aggregation OAI-ORE resource map document to  the Aggregation's folder
- [x] #2566 Enable upload of physical files that do not participate in an Aggregation
- [x] #2567 Implement us

[2018-10-16 14:52] horsburgh commented on #2810
If we have the capability to aggregate in that way, then yes, I think that makes sense. Then each "view" has a little more meaning and we aren't double counting.

[2018-10-16 21:15] engineSound opened #2936 "Create Resource button had tight coupling with different resources."
Create Resource at the bottom of the page is disconnected from Collections and Web App resource type.

This issue was exposed when DOI work removed the "Create Resource" button at the top right corner of the page.

This appeared as a regression, at the same time, it exposed tight coupling implementation between action and resource type.

[2018-10-16 21:43] engineSound commented on #2936
#2917

[2018-10-16 22:54] sblack-usu opened #2938 "abstract recognizes strings as urls that aren't urls"
`bad.https://www.google.com` is currently recognized as a url making it blue and clickable.

[2018-10-16 23:17] dtarb opened #2939 "DOI should not be shown for a resource not published."
I noticed in testing a beta.hydroshare.org that at the top of a resource landing page a DOI is given for a resource that is not published.  E.g.
![image](https://user-images.githubusercontent.com/3456833/47052550-18ef3780-d166-11e8-95bc-80d0bcc926cf.png)
This is incorrect because the DOI has not been issued and does not resolve at doi.org

I suggest that this DOI row on the resource landing page o

[2018-10-16 23:26] dtarb opened #2940 "Placement of Cite link in DOI line on landing page is erratic"
In testing beta.hydroshare.org I saw the following

Case 1.  Cite quite close to DOI https://beta.hydroshare.org/resource/7b2c6e5e63f34d348bde5fa8be51a85a/
![image](https://user-images.githubusercontent.com/3456833/47052957-0ece3880-d168-11e8-936d-24728c381ee9.png)

Case 2.  Cite way to the right https://beta.hydroshare.org/resource/e76494ebad394bdfb06343f54682978c/
![image](https://user-images.gi

[2018-10-16 23:43] dtarb opened #2941 "Fix name listing issues in MyResources"
If the first author is an organization the listing in My Resources is blank
![image](https://user-images.githubusercontent.com/3456833/47053595-ee53ad80-d16a-11e8-971b-a1d3f3d91bb6.png)

[2018-10-17 04:38] dtarb opened #2942 "Gotcha in time series content aggregation"
If I do the following:
1. Add a csv file to a composite resource [ODM2_One_Site_One_Series.csv](https://github.com/hydroshare/hydroshare/files/2485859/ODM2_One_Site_One_Series.zip)
2. In edit mode convert to time series.  This results in a time series content aggregation comprising two files, the original csv file and an ODM2.sqlite file.
3. Right click to remove content type.  This results in the

[2018-10-17 16:13] pkdash commented on #2942
@dtarb When a csv file is uploaded, system creates an ODM2 SQLite file with mostly empty that it expects the user to populate. So if the user tries to create a time series content type from such a SQLite file it is expected to fail. The same failure happens when a user uploads a SQLite file that does not meet the minimum data it expects in that file.

[2018-10-17 16:29] horsburgh commented on #2942
As @pkdash describes - the SQLite file is blank and will fail if you remove the aggregation and then try to recreate it from the SQLite file. The content of the SQLite file is not actually created until the minimum time series metadata have been entered - even though the blank SQLite database is created in the folder. The uploaded CSV file contains no metadata.

@pkdash - would it be possible to d

[2018-10-17 16:31] engineSound commented on #2939
Dave, thanks for paying attention to the change. Displaying an DOI even a resource is not published is intentional. We tested DOI on several users and they all liked it of seeing DOI is given even the resource isn't published. Also two commercial repositories figshare and mendeley go with the same design.

To address the concern,  add "inactive" when the resource isn't published.

[2018-10-17 16:41] pkdash commented on #2942
We may consider system deleting the SQLite file if it lacks minimum data when the user removes the time series content type.

[2018-10-17 17:29] horsburgh commented on #2942
@pkdash - That would be an easier fix. We would obviously only want to do that only for SQLite files that we know were created by the system.

[2018-10-17 18:51] horsburgh commented on #2939
Like Dave, I'm fine with the DOI getting promoted to the header of the page, but it should not be displayed without messaging alerting the user that it is not active until the resource is published (and the message should disappear when the resource is published).

I just looked at a "private" resource in Figshare, and here is how they display the DOI for something that is not published (thy reall

[2018-10-17 19:42] dtarb commented on #2942
I am happy for you guys to do what you think is best.  Certainly making public or publication of resources should not be allowed for resources holding incomplete .sqlite files.  However working with .sqlite files that are incomplete should be flexible as the HS interface is actually quite an effective interface for adding the needed metadata.  The question is, if a user has an incomplete .sqlite f

[2018-10-18 02:34] engineSound commented on #2940
A fix is altogether with #2939.

[2018-10-18 02:35] engineSound commented on #2939
The fix includes:
1. Added "A" in the statement on file uploader page: **A** DOI is reserved... (per @danames comment)
2. DOI displays only when published.
3. changed cite to "How to Cite"
4. erratic cite display.

[2018-10-18 03:42] engineSound commented on #2939
PR #2944

[2018-10-18 03:43] engineSound commented on #2940
PR #2944

[2018-10-18 16:45] dtarb commented on #2939
@engineSound thanks for fixing these on beta.  I just checked and the "How to Cite" link still goes to below the How to cite header, not above it as it should.  (I am using firefox if that matters)

[2018-10-18 19:51] engineSound commented on #2939
I looked at this before and figured the reason might come from the fixed hydroshare header. It requires a special manipulation to shift downward the page. I don't have a solution yet.

[2018-10-18 19:59] sblack-usu commented on #2762
@horsburgh - I'm testing beta right now and it looks like the coverage text label doesn't match this ticket.  [git blame](https://github.com/hydroshare/hydroshare/blame/develop/theme/templates/resource-landing-page/coverage.html#L134) shows the current message to be tied to this ticket... was the message decided to be different outside of this ticket?

[2018-10-18 20:10] engineSound commented on #2752
per @Lizabrazi l, verified on beta, closing it.

[2018-10-18 20:10] #2752 closed

[2018-10-18 20:44] engineSound commented on #2883
![image](https://user-images.githubusercontent.com/35352595/47183040-05260b80-d2f5-11e8-991f-168ad04aec74.png)

Verified in 1.16 beta.

[2018-10-18 20:44] #2883 closed

[2018-10-18 21:45] dtarb opened #2945 "Link to tag for How to cite overshoots target"
The cite link next to the DOI on a resource landing page is tagged to go down to the citation part of the resource landing page. But goes too far down. It should go to above "How to Cite" not below it as it currently does.  @engineSound indicates this is a header issue.  This was derived from #2939.

[2018-10-18 21:46] dtarb commented on #2939
Ok.  Closing this as it is essentially done and created #2945 to address the tag overshoot issue.

[2018-10-18 21:46] #2939 closed

[2018-10-18 21:58] dtarb commented on #2940
This is fixed in beta.  Thanks.

[2018-10-18 21:58] #2940 closed

[2018-10-18 22:13] dtarb commented on #2762
I think it is safe to assume that the current text was decided outside.  @horsburgh @pkdash and I did have a fair bit of email about this at that time.  In any event, reviewing the text on beta and the text above, I think the text on beta is better, so prefer not to change from what is there now.

[2018-10-19 22:23] dtarb opened #2946 "Improve geographic feature error message"
Change the error given when a user tries to add incomplete content to a geographic feature (shapefile) from
![image](https://user-images.githubusercontent.com/3456833/47246506-69130780-d3bb-11e8-9c60-eb98f4d17429.png)

to "Failed to set the selected aggregation type:
Shapefile component file at location: <folder> are incomplete or incorrect.  The .shp, .shx, and .dbf shapefile component files are

[2018-10-19 23:02] Maurier opened #2947 "[1.16 Beta Deployment] Error in logic for parsing file extension"
https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/hs_file_browser.js#L253

File extension detection logic needs to be fixed to include "."
The current implementation erroneously enables and disables functions based on file name.

For example, Zip function is enabled for a file called "readmezip" which is not actually a .zip file.
![image](https://user-images.githubusercontent.c

[2018-10-20 17:27] engineSound commented on #2947
It is a simple fix as you pointed out. Just change to endsWith(".ZIP")

https://github.com/hydroshare/hydroshare/blob/0e44d6c9b96e8b1736064ca6b13c88220e739263/theme/static/js/hs_file_browser.js#L253

[2018-10-20 17:32] Maurier commented on #2947
@engineSound yes, this should be included in 1.16 since this bug can cause unexpected behavior for functionality regarding unzipping and setting logical file types. Adding "." to each case should fix it.

[2018-10-20 18:27] engineSound commented on #2947
I will fix the issue. This code seemed to be like this for a few releases. If we change all the extension files, we test all the file extensions. We need to run this by @sblack-usu

I found a workaround. I can rename the file abcZIP to abc.zip using the rename
![image](https://user-images.githubusercontent.com/35352595/47259174-df734080-d473-11e8-883e-7c6f183b39dc.png)
, the unzip icon was enabled

[2018-10-20 18:28] ndebuhr commented on #2934
I'm seeing same behavior as originally reported for the "Profile changes are not cancelled after cancel button click" issue in beta.  See original bug report https://github.com/hydroshare/hydroshare/issues/2873 and use same steps to reproduce.

Automated test suite ran fine, so except for persistence of the bug mentioned above, this looks ready for production from QA perspective.

@engineSound @ap

[2018-10-21 17:41] pkdash commented on #2934
It seems the download of any aggregations/content types in composite resource that existed as part of the deployment, still don't have the aggregation level metadata and resource map xml files in the downloaded zip file. Here is an example resource: https://beta.hydroshare.org/resource/ae24db0cca8549c5b7dcbd12bc23f5b6/

[2018-10-21 19:52] dtarb commented on #2934
I agree with @pkdash that this is a problem.  I am able to reproduce it with other resources of mine too.  Who knows what code is supposed to generate this, or what flag is supposed to be set "dirty" so that these files are created.

[2018-10-21 23:12] pkdash opened #2948 "[1.16 deployment] Resource level temporal coverage display in edit mode is not correct"
For composite resource the display of resource level coverage is correct in view mode. But when displayed in edit mode, it is not correct - shows always the current date.  Most likely a bug in JavaScript code.
![image](https://user-images.githubusercontent.com/2523434/47273596-03fb1580-d565-11e8-905c-422239b6844f.png)

[2018-10-21 23:22] pkdash opened #2949 "Edge Browser Display of resource level temporal coverage for composite resource in edit mode is not correct"
In edit mode the resource level temporal coverage is always displayed as the current date. Seems like a bug in JavaScript code.  This occurs in Edge browswer, but not in Firefox and Chrome.

![image](https://user-images.githubusercontent.com/2523434/47273677-a5369b80-d566-11e8-9fa3-77f9792c610b.png)

[2018-10-22 13:05] dtarb commented on #2949
I am not able to reproduce a bug here.  I get correct/expected behavior on beta.  For a resource without temporal coverage set it shows empty.  For a resource with temporal coverage set, it shows the temporal coverage.

[2018-10-22 13:06] dtarb commented on #2948
Closing.  Duplicate of #2949

[2018-10-22 13:06] #2948 closed

[2018-10-22 13:14] dtarb commented on #2947
I do not feel this should be a 1.16 show stopper.  But it would be good to fix if it is simple.  I was not able to reproduce on www so it does seem to be a regression introduced in beta.

[2018-10-22 14:31] engineSound commented on #2947
The code change is little but require a large scale testing on all the file formats. Without automation testing in place to support regression testing, I don't recommend rush this into 1.16 to cause regressions.

[2018-10-22 14:53] pkdash commented on #2949
Never mind it seems like a browser issue with Edge. It works with other major browsers. I guess I can close this issue.

[2018-10-22 14:55] dtarb commented on #2949
If it is a browser issue with edge we should still fix it.  Just not hold up 1.16.  Is it a problem with edge in earlier deployments on www.

[2018-10-22 14:59] sblack-usu commented on #2947
This is a pretty minor frontend javascript change.  I don't see how it requires extensive testing as a user can manually test the scope of this change.  Also, it should be noted this is not only a problem with zip, but any other extension that is reserved for aggregations.  The code just checks the end of the filename instead of getting the extension and checking that.  This looks like it was some

[2018-10-22 15:01] Maurier commented on #2947
I agree with @sblack-usu. It is a very easy fix and testing for it can be done in a few minutes in the front end.

[2018-10-22 16:01] engineSound commented on #2947
@sblack-usu has made pull request for the issue.

[2018-10-22 20:57] sblack-usu commented on #2934
regenerate_xml_files_composite_resource has been added to the release checklist and has been run on beta.  There were

Results from running on beta.

Failed resources:
504c2d396f234e259949c25b5228a1ad
37259cd632ec469098fabb64cdc89fce
76d73ced9e0e4405a26e64225ff53869
42d80c46dab54fef958885d4588e4598
1fedd80cd20245409a0ea02cc2a1ecf0
99d5f690908b4c18bd362039522bff3f

[2018-10-23 04:02] dtarb commented on #2934
I checked the problem resources listed above.  The first three resources to not exist on www (They return page does not exist errors).  On beta they are owned by Chris Frans.  The presumption is that he deleted these on www after beta was cut, and that we therefore do not need to worry about them.  [It may be good to have someone verify deletion logs to be doubly sure]

The fourth does not exist o

[2018-10-23 13:03] rayi113 commented on #2934
@dtarb The 99d5f690908b4c18bd362039522bff3f resource on https://www.hydroshare.org/resource/99d5f690908b4c18bd362039522bff3f/  was used in Feb 2018 when we were testing Federation schemes between hydroshareZone and nfiehydroZone to test files being physically stored in a zone federated with hydroshareZone, i.e. nfiehydroZone:

-bash-4.1$ ipwd
/nfiehydroZone/home/localHydroProxy
-bash-4.1$ ils | fg

[2018-10-23 14:32] hyi commented on #2934
@rayi113 Yes, it will break on any test VM since nfiehydroZone is not federated with any test VM and it is not modified by management commands to make it work on test VM since it is not from hydroshareuserZone. I suggested to delete that test resource from www so it will not bite us in future deployments. When we need to test federation functionalities using a federated zone other than default hyd

[2018-10-23 14:49] rayi113 commented on #2934
Thanks, @hyi -  I deleted the 99d5f690908b4c18bd362039522bff3f resource from www just now.

[2018-10-23 17:24] Lizabrazil opened #2955 "pop up after keywords and abstract are included is incorrect"
The pop up says resource can now be published or made public but it can also be made discoverable.

[2018-10-23 17:29] Lizabrazil opened #2956 "User can change privacy status not in edit mode"
User can go out of edit mode and still edit the resource to make private, public, disc, shareable, publish. This seems unintuitive as it is an edit to the resource yet not in edit mode.

[2018-10-23 17:36] horsburgh commented on #2956
This will be handled by the updates to the resource landing page. All access control options have been moved to the “manage access” dialog. Those options won’t appear on the page anymore in either view or edit mode. They will be on the form that pops up when you click the “manage access” button.

[2018-10-23 17:58] Lizabrazil commented on #2956
Jeff, wonderful. Thank you.

[2018-10-23 19:28] dtarb commented on #2737
@alvacouch @aphelionz not sure if this was supposed to be addressed in 1.16 deployed today, but https://www.hydroshare.org/resource/1fedd80cd20245409a0ea02cc2a1ecf0/ is broken for downloading a bag and for copying.  When attempting to copy the error is

![image](https://user-images.githubusercontent.com/3456833/47385527-87cd1300-d6c7-11e8-929d-39906e53547a.png)

[2018-10-23 19:29] horsburgh commented on #2796
@hyi - i went through all of the tests I described in my last comment above. Everything checked out fine except for number 3 - the BagIt tag manifest file still contains all of the resource content files. Since you have indicated that this is a configuration setting specific to the testing server, I won't worry about it.

One other minor note - I can no longer drop a ".URL" file into a folder that

[2018-10-24 13:50] jsadler2 opened #2959 "Evolving model resources with new composite"
A subticket of https://github.com/hydroshare/hydroshare/issues/2858.
We need to evolve the Model Instance and Model Program resource types to conform with the new composite resource supporting content types. The main difference will that when the "executed_by" relation will need to be made at the *content type* level instead at the *resource* level. I've tried to illustrate this difference in the

[2018-10-24 13:52] jsadler2 commented on #2858
The subticket for the model resource types is https://github.com/hydroshare/hydroshare/issues/2959.

[2018-10-24 13:53] jsadler2 commented on #2959
![evolving mp 2fmi](https://user-images.githubusercontent.com/6943441/47435439-a0463780-d772-11e8-9cb8-31ef2dec729b.png)

[2018-10-24 13:53] jsadler2 commented on #2959
![evolving mp 2fmi 1](https://user-images.githubusercontent.com/6943441/47435458-a9370900-d772-11e8-9f20-27e4013b1c05.png)

[2018-10-24 13:53] jsadler2 commented on #2959
![evolving mp 2fmi 2](https://user-images.githubusercontent.com/6943441/47435473-af2cea00-d772-11e8-98b2-e45af5c607ef.png)

[2018-10-24 13:54] jsadler2 commented on #2959
By having the "executed_by" relation at the *content type* level, we'd be supporting both Case 1 and Case 2 above.

[2018-10-24 14:47] sblack-usu opened #2960 "Enable large file download via API"

[2018-10-24 14:51] sblack-usu opened #2961 "Google maps api keys moved to local_settings"
Google maps api keys are manually updated in two templates
hs_core/templates/pages/genericresource.html
hs_core/templates/search/search.html

Place a variable to be read from local_settings.py to set the api keys in the templates on render.

[2018-10-24 15:36] hyi commented on #2960
@sblack-usu While working on API for this issue, you can incorporate the following two code changes in the core code which is related to large file download as well:

- Add one line ```--worker-class gevent \``` after this line https://github.com/hydroshare/hydroshare/blob/develop/gunicorn_start#L31

- Remove these lines: https://github.com/hydroshare/hydroshare/blob/develop/django_irods/views.py#

[2018-10-25 17:55] sblack-usu commented on #2960
@hyi will take care of the gevent with referenced content.  No changes are needed to enable large file download via api

[2018-10-25 17:55] #2960 closed

[2018-10-26 03:25] brubash opened #2962 "Download failures"
Large downloads fail apparently due to timeouts at Hydroshare. Restart at an offset with e.g. wget don't work: the restart starts over at file offset zero. Usually the timeout is at about 120 megabytes, but at times when speeds are robust from my ISP I have been able to surpass 200 megabytes.

[2018-10-26 12:02] aphelionz commented on #2962
@alvacouch or @phuongdm can you take a look at this?

[2018-10-26 12:51] phuongdm commented on #2962
@brubash

could you please give me the resource link?

[2018-10-26 20:40] #2947 closed

[2018-10-26 20:42] #2892 closed

[2018-10-26 20:50] #2880 closed

[2018-10-26 20:51] #2878 closed

[2018-10-26 20:52] sblack-usu commented on #2859
The functionality required is met with zip overwrite #2860

[2018-10-26 20:52] #2859 closed

[2018-10-26 20:52] #2841 closed

[2018-10-26 20:53] #2663 closed

[2018-10-26 22:01] #2771 closed

[2018-10-26 22:02] #2723 closed

[2018-10-26 22:03] #2573 closed

[2018-10-26 22:03] #2571 closed

[2018-10-26 22:04] #2567 closed

[2018-10-27 03:35] brubash commented on #2962
Do you mean an example of a download that failed? Here's one:
https://www.hydroshare.org/resource/5c7ea11d0ba744ea872e9027920ce662.zip

[2018-10-29 01:27] dtarb opened #2964 "Quota warnings are duplicated"
I received two identical quota warning emails this week.  Probably this is due to one being from each worker.

[2018-10-29 13:27] pkdash opened #2965 "[HOTFIX] Updated aggregation level metadata is not reflected in aggregation level metadata xml file"
After updating metadata for any type of aggregation, if you download that aggregation as a zip file, the contained metadata xml file shows old metadata - not the updated metadata.  This needs to be fixed as a HOTFIX for www.

It seems refactoring of the download code may have caused this bug:
https://github.com/hydroshare/hydroshare/commit/7d03095dcfb9def6f5a3c259292e4c0876863991#diff-b93057202384

[2018-10-29 15:28] phuongdm commented on #2962
@brubash

I've tried several times and all of them are successfully downloaded. It took me some minutes (less than 3) to download this file (556 MB).

Could you please try again in other network?

[2018-10-29 15:39] dtarb commented on #2835
Appears fixed on www and the problem resource no longer exists

[2018-10-29 15:39] #2835 closed

[2018-10-29 15:41] dtarb commented on #2833
Fixed with 1.16.

[2018-10-29 15:41] #2833 closed

[2018-10-29 15:48] dtarb commented on #2762
Done in 1.16

[2018-10-29 15:48] #2762 closed

[2018-10-29 15:49] dtarb commented on #2745
Done in 1.15.5

[2018-10-29 15:49] #2745 closed

[2018-10-29 15:55] dtarb commented on #2724
There are still 3 problems with the resource mentioned here
https://www.hydroshare.org/resource/ec518c49772b420b97047f7482ae92aa/
- Right click to download content file does not work
- Copy bag to iRODS user zone results in error
- Download bag does not work (or hangs forever)

[2018-10-29 16:29] dtarb commented on #2724
Update.  It is actually possible to download a bag on beta.hydroshare.org (immediately after 1.16 deploy while beta has 1.16 candidate release code in it).  This suggests the problem may be iRODS related as www has an older iRODS than beta.  @hyi can you please look into this and indicate whether there is anything beyond just waiting for iRODS update to be done to fix this.

[2018-10-29 18:48] pkdash commented on #2810
@horsburgh Let me know if you would also like to show how many users with whom the resource has been shared. Basically it would show number of users who have at least view permission on the resource.

[2018-10-29 18:57] Lizabrazil commented on #2956
Oops, I guess this needs to stay open until the issue is resolved.

[2018-10-29 19:16] phuongdm commented on #2964
Done, waiting for the quota message this night.

[2018-10-29 19:28] Castronova commented on #2962
@brubash How did you get this url?

The correct url appears to be:
https://www.hydroshare.org/django_irods/download/bags/5c7ea11d0ba744ea872e9027920ce662.zip

[2018-10-29 19:34] phuongdm commented on #2962
@brubash

Oh, I'm sorry, I went to resource page then click to the "Download All Content as Zipped BagIt Archive" button.

Thanks @Castronova

[2018-10-29 19:38] dtarb commented on #2956
Closing as will be addressed with resource landing page.  Strictly changing access rules is not editing.  Trying to avoid too many open issues.

[2018-10-29 19:38] #2956 closed

[2018-10-29 19:40] dtarb commented on #2955
@Lizabrazil please write exactly the wording that is needed.  @engineSound can you do this.

[2018-10-29 19:58] horsburgh commented on #2810
@Maurier - do you think Pabitra's suggestion would be a useful statistic to display? I sometimes wish that I had this kind of "at-a-glance" type information so I wouldn't have to go into the "manage access" panel and check the settings. If it's easy enough to add it, then I think we should add it to the view.

[2018-10-29 20:08] dtarb commented on #2520
@hyi is this complete.  Can it be closed

[2018-10-29 20:09] dtarb commented on #2456
Done with 1.16

[2018-10-29 20:09] #2456 closed

[2018-10-29 20:10] dtarb commented on #2404
Done in 1.16

[2018-10-29 20:10] #2404 closed

[2018-10-29 20:11] dtarb commented on #2574
Deployed 1.16

[2018-10-29 20:11] #2574 closed

[2018-10-29 20:11] #2520 closed

[2018-10-29 20:12] dtarb commented on #2568
1.16 deploy

[2018-10-29 20:12] #2568 closed

[2018-10-29 20:12] dtarb commented on #2566
1.16 deploy

[2018-10-29 20:12] #2566 closed

[2018-10-29 20:13] dtarb commented on #2565
1.16 deploy

[2018-10-29 20:13] #2565 closed

[2018-10-29 20:13] dtarb commented on #2725
Large file download in 1.16 addresses or works around this.

[2018-10-29 20:13] #2725 closed

[2018-10-29 20:14] dtarb commented on #2502
1.16 deploy

[2018-10-29 20:14] #2502 closed

[2018-10-29 20:15] dtarb commented on #2577
1.16 deploy

[2018-10-29 20:15] #2577 closed

[2018-10-29 21:28] dtarb commented on #2964
You may have to wait a week.  The messages are weekly.

[2018-10-29 21:54] hyi commented on #2724
@dtarb I looked into this issue. The problem on production is caused by this iRODS ibun error ```bunUtil: opr error for ..., status = -530039 status = -530039 UNIX_FILE_LINK_ERR, Directory not empty```. The resource is stored in the user zone due to its around 3GB size. I also found there was no zipped bag files under user zone, so it looks like the bags directory got wiped out or something on use

[2018-10-29 22:14] dtarb commented on #2724
@hyi so what do you recommend at this point.  Is this something that you, @rayi113 @cbcunc could discuss and recommend a path forward.  It may be easiest to copy the resource, delete the derived from link and set the owners back to the current owners, then acting as admin delete the resource.

But I worry that this is a symptom of iRODS problems that we need to get to the bottom of.

[2018-10-30 17:37] Maurier commented on #2810
I think this would fit nicely in the highlight section we just added. It could be something like "Shared with: 19 participants".

[2018-10-30 18:22] sblack-usu commented on #2781
Just so everyone is aware, the part of the email address before @ is by specification, case sensitive.  BUT, most email providers make the whole email case insensitive.  Along the same lines, popular sites that use email for usernames, ignore cases as well.  So, we're going ahead with ignoring case sensitivity in emails.

[2018-10-30 19:06] sblack-usu commented on #2781
We can roll this out in two deployments,  The first deployment will stop conflicting users from being created.  The first deployment will also use both the old and new backends, allowing existing conflicting users to still login as well as allowing users to login without case sensitivity.

The second deployment would remove the old backend (and remove an exception catch in the new backend).

Betwe

[2018-10-30 19:13] phuongdm commented on #2759
@dtarb

I've did some tests and my quota usage was increased. @hyi also said she did test before and it worked. Could you please test again?

Thanks

[2018-10-30 19:16] sblack-usu commented on #2934
@alvacouch - could you take a look at the check_resource run against production?
http://ci.hydroshare.org:8080/job/new-www-check-resource/10/console

There is a lot of output due to the new composite resource.  I kicked off a beta run just now if you'd like to compare.

[2018-10-30 19:32] engineSound commented on #2955
It should be easy to do.  @Lizabrazil please provide screenshot and wordings.

[2018-10-30 19:56] Lizabrazil commented on #2955
All required fields are complete. The resource can be made discoverable, public, or can be permanently published.