[2016-09-02 21:12] dtarb commented on #1361
@alvacouch you only read half of my suggestion.  "The search extent would remain the same, i.e. be smaller than the view extent (and be indicated by a dashed line)" separates search and view extent and stops the recursion.  Though if you do have one resource that covers the globe the first expand would go to the globe.  This may not be that bad as it would reflect clearly discovery of global resou

[2016-09-02 22:51] zhiyuli commented on #1403
@dtarb @horsburgh @danames @pkdash
If I understood your comments correctly, you would like to keep using "hasPart" term in resourcemetadata.xml to store the relations , but display "hasPart" on landing page in a different way, like showing the url as link, or moving them to a different header.

The issue is: we are re-using existing Relation terms and UI. The value gets written to resourcemetadata

[2016-09-03 00:16] dtarb commented on #1403
Given this complexity I am OK if the URL is not displayed as a link.  For a collection we do not want the user to be able to remove the hasPart relationship (except by deleting a member resource).  One way to resolve this is to not show the hasPart relationships that indicate member resources on the relations tab at all.  Then there is no link to display.  The member resources are shown in the col

[2016-09-03 16:41] hyi commented on #1418
@horsburgh Could you test this on beta.hydroshare.org to verify the bag compliance issue has been resolved? Let me know if you observe any further issues. If everything looks good now, you can close this issue. Thanks.

[2016-09-03 16:44] hyi commented on #1418
@horsburgh Just a clarification note, we are going back to MD5 hash algorithm now which is hex checksum without base64 encoding. We just need to explicitly set hash algorithm to MD5 in iRODS client and server since the default hash algorithm is SHA256 in iRODS which is base64 encoded which does not comply with bagit spec.

[2016-09-03 16:47] hyi commented on #1214
@ChristinaB Could you verify on beta.hydroshare.org that comment email subject now indicates HydroShare support? We are still sending comment emails to commenter as determined in the thread above, just add HydroShare support in the email subject that it comes from HydroShare support. Let me know further issues if any. Otherwise, you can close this issue. Thanks.

[2016-09-04 15:29] zhiyuli commented on #1403
@dtarb
Do we keep the ability for a user to directly create "hasPart" metadata? or reserve this term for collection and only system can create/remove it?

[2016-09-04 17:02] dtarb commented on #1403
I'd be interested in what @horsburgh has to say.  I would think that in the context of a collection it makes no sense for hasPart to refer to anything other than a member resource, so that this should be managed by the system and a user should not be able to directly enter it.

In the context of other resource types I cannot think of a use case where a resource may have a hasPart relationship.  I

[2016-09-04 21:58] pkdash opened #1433 "Unit tests fails occassionally"
This unit test `test_refts_creation_via_rest_api()` seems to fail occasionally due the code that trying to access an external website.

[2016-09-05 03:42] pkdash commented on #1221
@horsburgh I have now addressed the issues you found during the 2nd round of testing. The updated work has been deployed on park.hydroshare.org.

I am now adding the blank SQLite at the time of csv file upload. Previously I was adding the blank SQLite file only after user has entered all the requires metadata.

The updated spatial coverage still be displayed only after page refresh if the user edi

[2016-09-05 22:30] ChristinaB commented on #1214
thanks Hong.  I'm closing this issue now, but as a note, I wonder if an email about a comment should come from Hydroshare Comments:  blah blah...  but we can stick with 'support' as a standard.

[2016-09-05 22:30] #1214 closed

[2016-09-05 22:39] ChristinaB commented on #1403
Collections should be different than a folder.  If hasPart is enabled only for collections, per David's suggestion, users will use Collections for sharing with the benefit of having the relationship information automatically tracked, which would be great.

[2016-09-05 23:10] dtarb commented on #1214
@ChristinaB you are in charge of user experience and project messaging.  If you think comment messages are better coming from "HydroShare Comments", or even from the user making the comment, you should say specifically what you suggest based on an overall clear experience for the user strategy.  If it turns out to be too hard to implement, then it may get deferred, but implementing most of the ema

[2016-09-05 23:36] ChristinaB commented on #1214
OK, holistically speaking, who can users expect to hear from in their inbox?   Let's consider:
Hydroshare Updates - emails about new functionality and news
Hydroshare Comments - emails when someone comments on the user's resource
Hydroshare Help - email from another Hydroshare user when another needs their help ( future functionality of a Help resource or linking up users to help each other via th

[2016-09-06 00:40] horsburgh commented on #1403
@dtarb and @zhiyuli - I would be fine with removing the "hasPart" term from the relationship drop down that user's can select when they add new relationships. Then, we could use "hasPart" exclusively, and in an automated way for managing collections.

[2016-09-06 00:49] horsburgh commented on #1418
@hyi - I downloaded a resource and checked the manifest files. Things look like they are in the right order. I calculated a couple of MD5 checksums for a couple of the files locally and they match what is in the manifest file.  So, this looks good to me.

[2016-09-06 01:03] hyi commented on #1418
@horsburgh Thanks for the thorough testing. I am closing this issue then.

[2016-09-06 01:03] #1418 closed

[2016-09-06 01:05] hyi commented on #1408
@zhiyuli Could you verify this on beta and close the issue if things are working as expected now?

[2016-09-06 01:10] horsburgh commented on #1403
@dtarb, @zhiyuli, @ChristinaB, @danames, @mauriel133 - after thinking about the implementation of the "Related Resources" tab on the resource landing page, I think maybe our initial implementation is a bit too naive, and perhaps is not serving us as well as it could. The semantic terms "hasPart", "isPartOf", "executedBy", etc. all have meaning that could be interpreted by a computer. But, normal H

[2016-09-06 01:10] hyi commented on #1311
@mjstealey Not sure what is left to do regarding this large file download issue now that we have async bag creation and download in place. Could you evaluate whether there is more to be done regarding this issue, and if not, close this issue after verifying async bag creation and download works as expected without blocking web worker process?

[2016-09-06 01:21] hyi commented on #1214
@ChristinaB I like the HydroShare categories you came up with, but since all emails in HydroShare came from support@hydroshare.org, having ```[HydroShare Support]``` in the subject seem to also align with standard indicating/denoting where the email message came from, so this may be simple and acceptable also. @dtarb

[2016-09-06 01:46] horsburgh commented on #1214
@ChristinaB - don't forget about notifications for group membership requests and approvals. And, if we ever have group forums or conversations, there might be notifications of other things in groups as well.

Other **_potential_** social messaging down the line (but not implemented in any way yet):
* User follows another user
* User follows a group
* User shares a resource with a user
* User share

[2016-09-06 03:51] horsburgh commented on #517
@dtarb and @hyi - see the Google Doc at the following URL for an example of a potential readme.txt file for resource bags in HydroShare:

https://docs.google.com/document/d/1OMy5kqJhgjXUfX7fjBMtS1Yc4Zx-pGTdQmrNx5nI8Rk/edit

We might want to have several people look this over to see if it is the right content and at the right level of detail.

[2016-09-06 04:58] dtarb commented on #517
See some suggested edits in the Google Doc where I think we should cut right to the chase.

[2016-09-06 13:22] hyi commented on #517
@horsburgh @dtarb I will use the "cut to the chase" suggested edit version for readme.txt file initially then. I am planning to include this readme.txt file as part of our code repo under ```docs/bagit``` directory named ```readme.txt``` so that people can look this over and make edits as needed without further code changes after this feature is implemented and deployed.  This ```readme.txt``` fil

[2016-09-06 14:15] horsburgh commented on #517
@hyi - just make sure the alignment on the bagit directory structure example comes out OK in the text file you create. Otherwise, it should be fine.

[2016-09-06 15:27] hyi commented on #517
@horsburgh Yes, I have made sure the alignment looks OK in the readme.txt file. One thing I need to confirm with you: the new readme.txt file will be included in the <resource_id> directory of the downloaded bag together with bagit.txt and manifest files. Do we need to create a checksum for this new readme.txt file? Currently, manifest-md5.txt includes checksum for each file contained in data and

[2016-09-06 15:36] horsburgh commented on #517
@hyi - Looking at the BagIt spec, the readme.txt would be considered an optional tag file. So, it must have a .txt extension and it must be listed in the "tagmanifest-md5.txt" file with a checksum.

A couple of other items from the spec that I'm assuming are already met in your implementation of the readme.txt file:

`Tag files are line-oriented, and each line MUST be terminated by a newline (LF),

[2016-09-06 15:48] pkdash commented on #1221
@horsburgh I will be doing a minor code update so that the resource spatial coverage is dynamically updated when the site element gets updated. Plan to deploy the updated code sometime tomorrow. In the mean time if you can do another round of test on park.hydroshare.org that would be great.

[2016-09-06 16:28] zhiyuli commented on #1403
@horsburgh @dtarb @danames
I agree we may need more work to improve the "Relations" tab for general purpose. Those changes may affect all res types. And it should be addressed in another issue.

For collection res, the member resources are already shown on landing page, so displaying them in the tab again is kind of repetitive. To move on this issue on collection, do you agree to proceed with the

[2016-09-06 16:42] AmberSJones opened #1436 "Unable to Formally Publish Resource"
I attempted to formally publish a resource and received an error. This is a dataset for which we need a formal publication/DOI in the next few days for citation in a journal article. Screenshots are below:

1. The Resource:
![image](https://cloud.githubusercontent.com/assets/5023186/18282410/472a3ade-741e-11e6-8253-39cf156dde97.png)
2. Clicked on the Publish icon and agreed to the HydroShare Publi

[2016-09-06 16:55] mjstealey commented on #1436
Error as found in the log files:

[code]

[2016-09-06 17:05] horsburgh commented on #1436
@hyi - this one's a bit of a big deal because the owner of this resource is about to get proofs back on a paper that is citing this dataset. He would like to cite the dataset with a published DOI.  @AmberSJones and I also have another paper that is about to get submitted that is in a similar situation - citing resources in HydroShare.

[2016-09-06 17:11] hyi commented on #1436
@AmberSJones @horsburgh @mjstealey From the error log, I found the issue which is specific to www deploy. The setting for ```DEFAULT_SUPPORT_EMAIL``` is missing on www, but is present on other test VMs such as beta, hence we have not been able to discover this setting issue until this first formal publication attempt. I have manually added this setting in ```local_settings.py``` on www. @AmberSJon

[2016-09-06 17:38] zhiyuli commented on #1408
tested on beta. closed

[2016-09-06 17:38] #1408 closed

[2016-09-06 17:55] AmberSJones commented on #1436
No change- I'm experiencing the same error.

[2016-09-06 18:03] mjstealey commented on #1436
@AmberSJones - if you don't mind giving it one more go it would be appreciated.

There was a question as to whether or not the application required a restart to pick up the new settings. We initially wanted to try without issuing a restart, which appears to not work, so we've now restarted the server.

[2016-09-06 18:38] horsburgh commented on #1403
@zhiyuli - I agree that it is repetitive and not needed. Yes - reserve, "hasPart" for collections and remove that term from the list of relationship types that users can select from when editing the "Related Resources" tab

[2016-09-06 18:48] zhiyuli commented on #1403
@horsburgh
OK, will get it done. Thanks

@pkdash
I found I could not add "hasPart" to existing collection resources using migration, which confirmed your guess.
The error was:
target_res_obj.metadata.create_element("relation", **meta_dict)
AttributeError: 'CollectionResource' object has no attribute 'metadata'

I will try to use django shell then.

[2016-09-06 18:55] AmberSJones commented on #1436
No problem testing. Looks like it was successful!

![image](https://cloud.githubusercontent.com/assets/5023186/18286693/32e9dd28-7431-11e6-9126-7bdee24a5baf.png)

[2016-09-06 19:00] hyi commented on #1436
@AmberSJones @horsburgh Looks like it has been successful indeed. I have also seen an email coming from admin@crossref.org indicating metadata deposition into crossref is successful, so the nightly running celery task should pick up the updated status tonight and you should see a "Published" sharing status without the note regarding DOI registration, and the DOI should be registered and activated

[2016-09-06 19:23] horsburgh commented on #1436
The crowd goes wild...

Looks like Steven Hall is the owner and the Author of the very first formally published resource in HydroShare.

@hyi - if you are confident that this issue is solved, I'll let you close it.  Thanks for the quick response!

@dtarb

[2016-09-06 19:27] hyi commented on #1436
@horsburgh @AmberSJones I'll close this issue tomorrow after confirming the nightly running celery task picks up the updated status and updates the landing page appropriately for this first formally published resource.

[2016-09-06 19:40] dtarb commented on #1436
Thanks for sorting this out.  It underscores the importance of having testing environments as identical as possible (if identical can be a relative concept) to www, to catch these errors in testing.

[2016-09-06 22:21] zhiyuli commented on #1403
@dtarb @horsburgh @danames @ChristinaB

Please check out riverdev.hydroshare.org when you get a chance, and let me know if any other changes needed regarding "hasPart" metadata and "Connections" tab. We ran a script to add "hasPart" metadata to all existing collection resources on riverdev, which set "last change user" to "HydroShare Admin" as  bags were changed.  If everything looks good, the sam

[2016-09-06 23:09] zhiyuli commented on #1395
verified on beta. closed

[2016-09-06 23:09] #1395 closed

[2016-09-06 23:10] zhiyuli commented on #1433
@pkdash  you have snapshot or log on those failing test cases? thanks

[2016-09-07 05:31] horsburgh commented on #1403
@zhiyuli - I did some testing. I had a collection resource in my list and it did get modified by your script. I also created a new collection resource and looked through the metadata file. I think the way you encoded the "relation" elements is technically correct. I studied a number of Dublin Core Relation examples (which were hard to find) and came up with a few other options that I don't think w

[2016-09-07 13:43] hyi commented on #1436
@dtarb @horsburgh @mjstealey @AmberSJones The nightly running celery task checked against crossref API and confirmed this resource has been deposited and registered successfully in crossref system, and updated Django DB and resource landing page to remote the pending note, so everything looks good and this serves as our first formally published resource. Way to go! I am closing this issue now.

[2016-09-07 13:43] #1436 closed

[2016-09-07 13:44] mjstealey commented on #1393
completed

[2016-09-07 13:44] #1393 closed

[2016-09-07 13:45] mjstealey commented on #1290
completed and posted at distribution.hydroshare.org

[2016-09-07 13:45] #1290 closed

[2016-09-07 13:45] mjstealey commented on #1289
completed and posted at distribution.hydroshare.org

[2016-09-07 13:45] #1289 closed

[2016-09-07 15:04] zhiyuli commented on #1403
@horsburgh
CSV file is not implemented yet. Will add it in phase-2.

I am guessing the "weirdness with the BagIt files" you saw was because the branch I am working on does not include Hong's latest code that changed bags, but riverdev is using

[2016-09-07 15:13] zhiyuli commented on #1403
@horsburgh
CSV file is not implemented yet. Will add it in phase-2.
What was the "weirdness with the BagIt files" you saw?

[2016-09-07 15:15] horsburgh commented on #1403
@zhiyuli - it was related to the checksums and checksum algorithms. I don't think it had anything to do with your stuff.

[2016-09-07 15:21] zhiyuli commented on #1433
@pkdash
I think I am seeing it right now. it happened on my PR for collection
![image](https://cloud.githubusercontent.com/assets/10070599/18317792/641bdf62-74dc-11e6-8c0c-25d247b9b2f3.png)

Error Message

500 != 200
-------------------- >> begin captured logging << --------------------
requests.packages.urllib3.connectionpool: INFO: Starting new HTTP connection (1): data.iutahepscor.org
requests.

[2016-09-07 15:30] mohamedmorsy commented on #1402
@hyi this issue #1140 still exists on this version.

[2016-09-07 15:31] pkdash commented on #1433
@zhiyuli I am not sure how you would mock the call the that URL. We may already have code that do mocking in other unit tests.

[2016-09-07 15:32] hyi commented on #1402
@mohamedmorsy Have not got the chance to work on that issue #1140 yet, will try to fix it in the subsequent deployment.

[2016-09-07 15:35] mohamedmorsy commented on #1402
@hyi Thanks!

[2016-09-07 15:37] zhiyuli commented on #1433
@pkdash
I skipped this test case in that PR for collection as this failing test is not related to collection and I dont want to hold that PR.

The url in that failing test only returns a wml file. If we could host that wml file locally and make up a local url for it, that would fix it I believe. Any idea how we can make up a local url for a local wml file?

[2016-09-07 16:20] pkdash commented on #1433
@zhiyuli Then just store that wml file somewhere under the tests directory and use it directly without the need for http call to retrieve that file.

[2016-09-07 16:27] mohamedmorsy commented on #1402
@pkdash For the SWAT Model Instance resource edit mode view, The "Resource Specific" tab includes the ability to added extended metadata entry which should be included under the separate tab "Extended Metadata".

![image](https://cloud.githubusercontent.com/assets/5543781/18319995/1d6ea558-74f6-11e6-9c99-f45e7dde4ccd.png)

The "Extended Metadata" tab content is exactly the same as "Resource Specif

[2016-09-07 16:35] pkdash commented on #1402
@mohamedmorsy Is this happening on beta? How does it look on www?

[2016-09-07 16:47] zhiyuli commented on #1433
@pkdash
I can save that wml file locally but we have to give it a url. The purpose of this test case is to test creation of a  RefTS res through rest api, which is expecting for a url as a required input parameter.

I am trying to save the wml as a static file and use "/static/file.xml" as the url.

[2016-09-07 16:52] mohamedmorsy commented on #1402
@pkdash I can see this issue on www and beta. The other model resources look fine.

[2016-09-07 17:13] pkdash commented on #1433
@zhiyuli I assume this line is causing the problem: ```response = requests.get(ref_url)```

Instead of using the ```requests``` try using the ```self.client.get(ref_url)``` that's (self.client)  what has been used everywhere else in rest testing code for http request.

[2016-09-07 17:17] pkdash commented on #1402
@mohamedmorsy Then I will assume this is not a show stopper for release 1.7.5.  Create a GitHub issue and see if you can fix it.

[2016-09-07 17:42] zhiyuli commented on #1433
@pkdash
you mean keep using the external url and changing requests.get(ref_url) to self.client.get(ref_url)?
I am assuming the error was caused by the instability of that external url

[2016-09-07 18:04] pkdash commented on #1433
@zhiyuli Now I realize that won't work. I think we have to mock the call to ref_url. See the testing code in hs_restclient for some idea how to mock a function/service call.

[2016-09-07 21:27] mohamedmorsy opened #1440 "Error with the "Extended Metadata" tab for SWAT Model Instance resource type"
For the SWAT Model Instance resource edit mode view, The "Resource Specific" tab includes the ability to added extended metadata entry which should be included under the separate tab "Extended Metadata".

![image](https://cloud.githubusercontent.com/assets/5543781/18329184/42591e5a-7520-11e6-8574-a5c3c50e0b23.png)

The "Extended Metadata" tab content is exactly the same as "Resource Specific" tab

[2016-09-08 19:06] mauriel133 commented on #1424
Yes, I'll look into it.

[2016-09-08 20:13] hyi commented on #1376
@shawncrawley The fix to this issue has been deployed to www. Could you test it out and see whether this issue has been fixed? If so, please close this issue, and if not, please add details on the issues and I will look into them further.

[2016-09-08 20:17] hyi commented on #603
@rayi113 wondering whether this issue can be closed now that iRODS user file space has been implemented.

[2016-09-08 20:18] hyi commented on #517
@dtarb The implementation for this has been deployed to www. Can you test it out and close this issue if it works?

[2016-09-09 11:06] dtarb commented on #517
When the readme file is opened on a PC using the default PC text editor "Notepad" the lines all run together.  It looks like
![capture](https://cloud.githubusercontent.com/assets/3456833/18384857/435be64a-764a-11e6-8f7b-a5d51d8072c7.JPG)

I know that @horsburgh quoted some CRLF requirements above.  Is it possible to have a file that is still consistent with these and formatted in a readable way in

[2016-09-09 15:00] horsburgh commented on #517
I opened the readme file in Sublime Text, TextWrangler, and the default TextEdit applications on my Mac. It didn't bleed together like @dtarb showed, but it looked slightly different in all three. It looks like the differences are in the line ending characters.

There are extra line ending characters that have been inserted - perhaps for compliance with coding standards?  This isn't a code file, s

[2016-09-09 15:25] mjstealey commented on #517
@horsburgh is correct, this is due to the EOL character being used.
- Unix/Mac as: `\n`
- Windows as: `\r\n`

Regular notepad does not honor Unix line endings and will just keep everything inline if I recall correctly.
Something like notepad-plus-plus however does have the option to, and it's free.

[2016-09-09 15:42] alvacouch commented on #517
It is considered best practice in data publication to translate any .txt files included in a publication into a standardized format -- either windoze or Linux -- so that every bag will contain the same kinds of files. Since this translation is rather trivial, I think we should adopt this. The typical choice is \r\n -> \n (Linux standard).

[2016-09-09 15:59] alvacouch commented on #1361
@dtarb @danames @xuezhaokun @horsburgh When Zhaokun and I were talking after the Wed meeting, I had a different and very simple idea for dealing with scale on the coverages.

1. First, make it possible for a user to drop a pushpin anywhere on the map. Then make the bottom view consist of all coverages overlapping that pushpin. This includes coverages that are larger than the current view.
2. Depic

[2016-09-09 16:04] horsburgh commented on #517
Adding both carriage return and line feed seemed to work correctly in text editors on both windows and Mac and is allowed by the BagIt spec.

Also - if the text file is being stored in GitHub as part of the code base, I was reading that GitHub does some management of line ending characters, so watch out for that.

[2016-09-09 16:06] alvacouch commented on #1361
@dtarb @danames @xuezhaokun @horsburgh I might add that I've considered other options that seem to have incredible downsides. The following don't seem to scale:

- Shading the interior of rectangles before clicking.
- Getting a popup in response to an area click.

The proposal is relatively easy to code, because we don't register the individual rectangles for events (another scaling issues) and in

[2016-09-09 16:20] alvacouch commented on #1361
@dtarb @danames @xuezhaokun @horsburgh I think it's really important to remember that in a discovery situation, we are doing to deal with depiction scale issues that we will never deal with in visualizing an individual resource. A single point can contain thousands of related resources. This is especially true if we eventually give the user the option for searching for "any resource that contains

[2016-09-09 16:25] alvacouch commented on #1361
@dtarb @danames @xuezhaokun @horsburgh Of course, we could instead allow the user to drop a rectangle upon the area and report upon that rectangle, but that seems somewhat redundant, as this does the same thing as modifying pan and zoom.

Your thoughts?

[2016-09-09 18:59] alvacouch commented on #1361
@xuezhaokun @dtarb @danames @Horsburgh:

I had a brief conversation with Rick Hooper on this issue. He said that we should not be thinking in GIS terms. Instead, we should be thinking about the discovery problem and how to solve it best. He likes the list of things that show up on the map -- the same ones that have come into contention lately as too "awkward".

He has the following possible sugges

[2016-09-09 19:50] dtarb commented on #1361
I think we have circled on this a lot and it's time for you to choose.  Each time I am asked, I find myself coming back to the suggestion already given which are:

- Separation of search extent (a rectangle) from view.  This can be the same as dropping on a search rectangle that Alva suggested, and allows a button "expand to show selected resources" to show the resources found without adding more

[2016-09-09 21:29] hyi commented on #517
@dtarb @horsburgh I have updated readme.txt with CRLF as line ending, and @mjstealey has helped me to remove existing readme.txt file from all resources on iRODS side and reset bag_modified to true so that bag can be regenerated with updated readme.txt file. My test shows readme.txt can open up with correct line endings in nodepad now. Can you test on www to see whether readme.txt line endings loo

[2016-09-09 22:29] pkdash commented on #1221
@horsburgh The updated work as deployed at park.hydrshare.org needs another round of testing.

[2016-09-09 23:02] shawncrawley commented on #1376
It looks good to me. Great work.

[2016-09-09 23:02] #1376 closed

[2016-09-10 03:52] dtarb commented on #517
This is better, but there are still extra line endings in paragraphs.  As @horsburgh noted, The text is basically prose, so there should only be one line ending character at the end of each paragraph rather then splitting the paragraph up into individual lines.

[2016-09-10 12:13] hyi commented on #517
@dtarb @horsburgh If I remove extra line endings in paragraphs, nodepad will display the whole paragraph in one line if word wrap is not on, which I believe is default option. Do we really want that or keep the current extra line endings?

[2016-09-10 13:33] dtarb commented on #517
I wrote the comment above because my preference is for the extra line endings to be removed and there to only be line endings at the end of paragraphs.  It is a small point, and I am OK for you to do what you think is best, but when I am asked, that is what my answer is.

[2016-09-10 21:06] hyi commented on #517
@dtarb Have removed extra line endings within paragraphs. Please test on www.hydroshare.org and see if everything looks good now, and if so, please close this issue.

[2016-09-10 23:22] dtarb commented on #517
Perfect.  Thank you.

[2016-09-10 23:22] #517 closed

[2016-09-11 02:51] dtarb opened #1444 "Suggestions for improving related resources tab"
~~1. When a resource is added to a collection make the change take effect immediately without requiring the save changes button.  This would make the behavior similar to keywords.
2.  For removing a resource from a collection have an Are you sure check, similar to deleting a metadata element rather than just removing the resource and then waiting for save changes.~~
3.  When displaying relationshi

[2016-09-11 03:45] zhiyuli commented on #1444
@dtarb @horsburgh
Regarding (1) and (2), currently the workflow of adding and removing resources in collections are  consistent: user makes changes to the "Collection Contents" list, and then clicks the "Save" btn. One click on the 'Save' btn results in one hit to the backend, writing changes to django db and bag. Current implementation can significantly reduce backend load as user can submit seve

[2016-09-11 03:59] dtarb commented on #1444
@zhiyuli on (1) and (2) are you designing to reduce back end load or to make it easy and simple for a user.  Easy and simple for a user must come first.  On (3) source and relation may be internal or external.  We should support both.  We should allow picking from a list for internal.  For external we may have to accept that owner and sharing status are blank.  We may have to enable a user to ente

[2016-09-11 04:31] zhiyuli commented on #1444
@dtarb
Sure. I would have (1) and (2) implemented in next PR for collection, dont want to hold current PR too long.

(3) is a general improvement to "Related Resources" tab. What is the priority? Also I may need help from @mauriel133

[2016-09-11 04:35] zhiyuli commented on #1444
pasting @horsburgh 's suggestions on (3) here:

I agree with @dtarb. If you want to open a new issue for this we could have Mauriel help. Basically, what is needed is a sentence/blurb to act as the section header for each relationship type. For example:

"isPartOf" --> "This resources belongs to the following collections:"
"isHostedBy" --> "This resource is hosted by the following system or organi

[2016-09-12 04:19] pkdash opened #1445 "Message on how to start editing resource should not be displayed in edit mode"
![image](https://cloud.githubusercontent.com/assets/2523434/18424493/a4fc7f16-786d-11e6-909d-34dac195bcba.png)

[2016-09-12 19:12] mauriel133 commented on #1444
@zhiyuli, is there a branch I could implement the suggestion above to, or should I create a new one?

[2016-09-12 19:24] alvacouch commented on #1425
@pkdash @dtarb @danames @shawncrawley

Believe it or not, this seems to have been already implemented, though I don't know if it works properly. The REST endpoint to use is:
/hsapi/resource/{resource-id}/data/resourcemap.xml
Please see if this works!

To understand this code, see:

* hs_core/resourcemap_urls.py for the endpoint.
* views/resource_rest_api.py for the implementation.
* hs_core/views/

[2016-09-12 19:31] zhiyuli commented on #1444
@mauriel133
There is no branch for this issue yet. Please create a new one if you are about to work on this.
@dtarb
Regarding (3), I am still thinking more discussion are needed before starting implementation. Especially for "referencing internal resources", what list should we provide for users to select from? any requirement on permission? This is not just front end improvement as "referencing i

[2016-09-12 20:00] alvacouch commented on #1425
@dtarb @danames @shawncrawley @pkdash
There is a lot more stuff in hs_core/resourcemap_urls.py that might not work.
See the url
[code]
(at least, this is the best interpretation I can make of it; not sure exactly what it is doing). This is implemented via:
[code]
There is a name conflict with the prior version so I think this is the one that gets looked up when you reverse-lookup `get_resourcemap_

[2016-09-12 20:06] alvacouch commented on #1425
@dtarb @danames @shawncrawley @pkdash The former code is in the develop branch.

There seems to be an inconsistent implementation of iRODS federation, in the sense that some links use it properly and others just use local links. It looks like the first URL I mailed you is broken, because it does not use federation, but it was neither deleted nor updated.

One question for you: I know how to put th

[2016-09-12 20:10] alvacouch commented on #1425
@pkdash @hyi Can you shed any light on the URLS in hs_core/resource_map_urls.py?
One involves federation and I don't know how to interpret it. The other doesn't. Are both active?
Or is anyone using either one?

[2016-09-12 20:25] mohamedmorsy opened #1447 "MODFLOW Model Instance does not have an icon"
@mauriel133 could you please create an icon for the MODFLOW Model Instance resource type?

![image](https://cloud.githubusercontent.com/assets/5543781/18449636/e3b9a090-78fd-11e6-988b-203f5504e0fa.png)

[2016-09-12 20:25] alvacouch commented on #1425
@pkdash @hyi (cc @dtarb) Here is a general question: **when advertising URLS to apps, should I use the federated form, or should I shorten the form if the resource is local?** Since this is shared only with the app, and not with the user, I think I should be consistently advertising the longer federated form of the address.... any objections? .

[2016-09-12 20:26] pkdash commented on #1425
@alvacouch I won't be able to comment on the federation side. I think @hyi  can. The urls in resourcemap_urls.py are created to make the links in resourcemap.xml xml active (no broken links) and those are all mapped to single view function in views/__int__.py. These are not part of the REST API though. That's why I did not realize there is this end point for downloading the respurcemap.xml documen

[2016-09-12 20:28] alvacouch commented on #1425
@pkdash That this is implemented in `resourcemap_urls.py` and not in `resource_rest_api.py` confused me, too!

[2016-09-12 20:32] alvacouch commented on #1425
@hyi @pkdash (cc @dtarb) It would seem to me on second thought that embedding the federation information into the URL is actually overkill, because -- in principle -- this url is being interpreted by the core engine, which knows about federation and can construct the federated URL to feed to iRODS from its knowledge of the actual location.....

[2016-09-12 20:37] alvacouch commented on #1425
@hyi @pkdash (cc @dtarb) Perhaps I should explain further. We have two uses of a federated URL: one for an invocation to iRODS REST, and another for a request to hs_core. It would seem to me that the proper thing to do is to advertise the direct iRODS link for federated data to apps, but to respond -- as hs_core -- to the unfederated link. This simplifies hs_core interaction and -- at the same tim

[2016-09-12 20:42] pkdash commented on #1425
@alvacouch I am not sure we are using iRODS REST at all. As far as I know every file access call needs to go through hs_core.

[2016-09-12 20:45] hyi commented on #1425
@alvacouch @pkdash The URL mapping in this resourcemap_urls.py is used to map the urls stored in resourcemap.xml file to the django_irods download urls so that these urls stored in resourcemap.xml are resolvable to the real download of the corresponding file stored in irods, by default, in hydroshareZone. However, if the resource is stored in a federated zone, either hydroshareuserZone or a third

[2016-09-12 20:47] pkdash commented on #1425
@hyi Is the zone name then part of  the url in resourcemap.xml for a file that is on a federated zone?

[2016-09-12 20:48] hyi commented on #1425
@pkdash Yes, otherwise, download view function does not know which irods zone to download file from.

[2016-09-12 20:50] pkdash commented on #1425
@hyi The problem is how to get the correct url for the resouremap.xml.

[2016-09-12 20:55] hyi commented on #1425
@pkdash @alvacouch The urls encoded in resourcemap.xml are generated automatically when resource is created, however, to retrieve resorucemap.xml itself, a REST API needs to be added to check resource object to retrieve federation zone info, then form url properly to allow download of this resourcemap.xml file itself, which I think is part of your work that adds REST API end points for federation

[2016-09-12 21:00] pkdash commented on #1425
@hyi Agreed, We need a new REST endpoint to download resourcemap.xml which should be similar to what we have for resourcemetadata.xml.

[2016-09-12 22:01] horsburgh commented on #1447
@mohamedmorsy - any quick thoughts on what that icon should look like to get @mauriel133 started?

[2016-09-13 00:25] zhiyuli commented on #1444
@dtarb
(1) and (2) have been implemented and pushed to riverdev, which are changes to collection. If they look good, we could modify this issue to focus on (3)  -- general improvements to "Related Resources" tab.

[2016-09-13 02:36] dtarb commented on #1444
OK.  Implementation of (1) and (2) looks good, so I changed the title and added strikethrough to indicate that (1) and (2).

[2016-09-13 05:20] dtarb commented on #1444
@zhiyuli on (3) "internal resources" means HydroShare resources.  For picking resources to add, the list should be any HydroShare resource the user has some form of access to.  I do not think the metadata class needs to change.  Right now a user can find the URL of a HydroShare resource and paste it in the box.  This is simply a convenience tool to save the user having to find, copy and paste the

[2016-09-13 12:54] mohamedmorsy commented on #1447
@horsburgh @mauriel133 SWAT model instance resource icon was inherited from the generic model instance icon by changing the icon color and adding a tag for SWAT. We can do the same for the MODFLOW model instance resource by using the same icon for the generic model instance but with different color and adding a tag "MODFLOW".............

[2016-09-13 13:44] mauriel133 commented on #1447
Will do.

[2016-09-13 16:25] zhiyuli commented on #1433
@pkdash
I am thinking instead of mocking up external url access in rest api test cases, the RefTS code itself should provide a "test mode".  Some thing like if user passes in a parameter "test_mode: True", the refts will use a locally pre-stored wml sample file directly, instead of querying external url to download wml on the fly.

Then we could simply add "test_mode: True" to that failing test, w

[2016-09-13 16:56] alvacouch commented on #1425
See branch 1034-file-metadata for a clone of the /resource/{id}/scimeta/ pattern to implement
/resource/{id}/resmap/. Make a quick check that this makes sense.

[2016-09-13 16:57] alvacouch commented on #1425
(This relates to #1034 as well)

[2016-09-13 18:12] hyi commented on #1140
@mohamedmorsy This problem is caused by your model instance metadata ExecutedBy implementation. Specifically, in the create classmethod here: https://github.com/hydroshare/hydroshare/blob/develop/hs_modelinstance/models.py#L61, ```shortid = kwargs['model_name']``` actually gets model program name rather than short_id, so the following statement ```obj = ModelProgramResource.objects.filter(short_id

[2016-09-13 18:17] pkdash commented on #1425
@alvacouch It looks OK to me addressing this issue( #1425).

[2016-09-13 18:19] pkdash commented on #1425
@alvacouch This would require changes to rest client which I can do after this work gets merged.

[2016-09-13 18:25] hyi commented on #1425
@alvacouch I cannot see the changes you made to 1034-file-metadata related to /resource/{id}/scimeta/ pattern. Could you let me know where the changes are?

[2016-09-13 18:33] alvacouch commented on #1425
I copied the scimeta routines and created resmap routines from them. The new routines include
* `resource_rest_api.ResourceMapRetrieve `(class)
* `hs_core.AbstractResource.resmap_url`

and an entry in `hs_core.urls`...

[2016-09-13 18:35] alvacouch commented on #1425
@hyi @pkdash Oops. Wrong branch. See branch 1034-expose-file-types-in-REST....!

[2016-09-13 18:48] hyi commented on #1425
@alvacouch It looks good to me as well. @pkdash When implementing hs rest client, when retrieving resourcemap.xml, just remember to pass in a path string that includes federated zone name if the resource is hosted in a federated zone rather than the default iRODS hydroshareZone.

[2016-09-13 18:50] alvacouch commented on #1425
@hyi @pkdash Darn. Changes are in the other branch, along with lotsa other confusing changes. I'll move the files.

[2016-09-13 19:03] pkdash commented on #1425
@hyi

I assume the rest client already takes care of the federated zone param for getting the resourcemetadata.xml. Otherwise, we have do this for some other similar apis in the client too.

[2016-09-13 19:06] alvacouch commented on #1425
@hyi @pkdash Lots of changes in 1034-expose-file-metadata-in-REST are part of another subproject, and there is a conflict with other changes to resource_rest_api.py .... will rebaseline and get back to you ...

[2016-09-13 19:32] hyi commented on #1425
@pkdash I am not sure whether rest client needs any changes to take care of federated zone parameter, it will be good to check this when you work on the issue for adding REST support for federation zones https://github.com/hydroshare/hydroshare/issues/1276

[2016-09-13 21:49] mauriel133 commented on #1424
@pkdash, I'm assigning this to you as we discussed for investigation.

[2016-09-14 14:57] alvacouch commented on #1425
@hyi @pkdash Sorted out. Current code is in branch 1425-REST-API.... matching this issue.

@pkdash we have a bit of a chicken and egg problem. We now need to test this, which requires the Python REST API...!  Could you create the new method? Or should I?

[2016-09-14 15:10] pkdash commented on #1425
@alvacouch If you can add the unit test similar to what we have for science metadata (https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tests/api/rest/test_scimeta.py), I will make the necessary changes in the hs_restclient.

[2016-09-14 16:14] mauriel133 commented on #975
An auto-fill has been implemented for existing HydroShare users. As described in the paragraph above, are we also implementing notifications when I user is added to a resource as a collaborator?

[2016-09-14 16:27] horsburgh commented on #975
@mauriel133 - does the auto-fill automatically populate the user's HydroShare profile URL in the author/contributor metadata for the resource? If so, the HydroShare URL part of this is solved.

So, the question then is whether we want to notify users any time they are added to a resource as an author or contributor. And, at what point do we send them that notification (e.g., immediately when they

[2016-09-14 16:30] mauriel133 commented on #975
@horsburgh, adding an existing author/contributor populates the user's HydroShare profile URL field.

[2016-09-14 17:27] alvacouch opened #1449 "Federation scheme problems"
@dtarb @hyi @rayi113
I have been forced to study federation in order to get REST working and have some concerns.

1. I believe that we should not be referencing federated resources directly via iRODS REST, but should instead redirect to iRODS as needed in www.hydroshare.org. Specifically, I want the pathnames of resource files to point to www.hydroshare.org and then get redirected. This would mean

[2016-09-14 19:07] hyi commented on #1449
@alvacouch This statement "anyone with the iRODS federated REST path can do more or less anything to the federated repository" is not true since only power proxy iRODS user can used this federated REST path or federated zone name to access files which requires the whole set of credential of the power proxy iRODS user which is protected strictly. That being said, I think we can create REST API end

[2016-09-14 21:08] pkdash commented on #1449
A agree that the REST endpoints for retrieving resource or resource files should not require federation information. From the resource id the API can detect that information.

[2016-09-14 22:52] shawncrawley opened #1450 "Auto-create WMS/WFS/WCS layer for Raster and GeographicFeature resources"
When a user creates a Raster or GeographicFeature resource, a nice feature would be the automatic creation of a GeoServer layer with WMS and corresponding WFS or WCS endpoints of a standard, defined pattern. The endpoint(s) would then become a part of the resource's metadata shown on the resource's landing page.

This feature would benefit both the general HydroShare community and the subset of Hy

[2016-09-15 05:17] dtarb commented on #1449
I'll weigh in after proposal is in next week.

[2016-09-15 05:30] dtarb commented on #1450
Similar functionality, but with different file type is already implemented for multidimensional resources using Hyrax.  @hyi set this up so I suggest confer with her.  Some things you need to consider are

- Access control.  Unless the geoserver can integrate with HydroShare access control, then you should only set up an end point when a resource is made public (not when created).
- Even if access

[2016-09-15 05:46] dtarb commented on #975
The access control and notification implications have not been addressed, so right now auto-fill is simply a convenience for the person editing the resource and does not involve the user being added as an author or contributor, just as would be the case if their information was typed in.  However I think we should set the following policy and implement the following enhancements.

- If a user is a

[2016-09-15 17:03] zhiyuli opened #1451 "add a "resource list text file" to collection res"
Paste here "Collections summary" from @dtarb as a reminder.
Strikethrough indicates features have been implemented.
This issue will be focusing on the "resource list text file" section in bold.

"
Jeff, Christina, Drew, Jimmy,

Reflecting a bit on the discussion about collections, it seems like we have come full circle on collections and I worry that we have wasted time.  But hopefully we have got

[2016-09-15 21:17] alvacouch commented on #1449
The current redirection strategy does redirection to the iRODS path for requests from the end-user. How does that work? The end user does not have the credentials for the proxy account.

[2016-09-15 21:35] hyi commented on #1449
@alvacouch REST API endpoint url can only include resource id and optionally file to be returned, and the REST API function will retrieve resource federation info and redirect url to iRODS download url properly to download the file. The proxy account's credentials are protected in local_settings.py, and are used internally to create iRODS user session for iRODS operations.

[2016-09-19 13:04] hyi commented on #1450
@shawncrawley @dtarb @mjstealey If we want to use this geoserver for automatic creation of a GeoServer layer with WMS and corresponding WFS or WCS endpoints which would then become a part of the resource's metadata shown on the resource's landing page, a geoserver container on hydroshare server seems to be most appropriate since it can directly add the GeoServer layer endpoint into the resource's

[2016-09-20 16:16] zhiyuli commented on #1451
@dtarb
An implementation of the "resource list txt file" has been deployed on riverdev.

![image](https://cloud.githubusercontent.com/assets/10070599/18678936/e2fcaf26-7f1a-11e6-8685-f4f2ed275e44.png)

The csv gets generated and saved into bag as a resource file on the fly when user clicks the download btn. Its contents reflects the latest info of contained resources.

[2016-09-20 21:10] hyi opened #1453 "Make URLs in Resource abstract clickable"
This is at the request of @rayi113 so users can put URLs in the abstract of a hydroshare resource and click to go to an external page such as a THREDDS server page.

[2016-09-20 21:33] horsburgh commented on #1453
Is there a Django plugin of some sort that supports Markdown formatting.  Something like this box I'm typing in right now for instance?

[2016-09-21 13:56] #1401 closed

[2016-09-21 13:56] #1402 closed

[2016-09-21 13:58] mjstealey opened #1455 "Release Notes 1.7.6/1.8.0"
Release 1.7.6 / 1.8.0
- minor resource updates (icon, help message, etc.)
- clickable links in resource abstract
- Relationships need to be automatically created for a collection
  - One time run of: `docker exec -i hydroshare python manage.py shell < "hs_collection_resource/patches/add_hasPart_term_django_shell.py"`

[2016-09-21 14:09] ChristinaB opened #1456 "Help page navigation"
The Help navigation needs to be updated so that the nested organization expands as needed. In it's current state, the list of pages extends down the page into oblivion.  The update should be consistent with other navigation look and feel on Hydroshare if possible.  Thanks!!
See main page - https://pages.hydroshare.org/

[2016-09-21 14:11] mjstealey commented on #1453
merged and implemented on www manually

[2016-09-21 14:11] #1453 closed

[2016-09-21 14:16] ChristinaB opened #1457 "Help page interaction"
The welcome page for Help needs to be updated.  CUAHSI has agreed to help us develop content that they will help manage to extend the user information collection that may help guide software design and priorities.  This is a link to an extended survey taken by the CUAHSI users committee.
Survey link: https://goo.gl/forms/YXsDscvcfJybuwJ82
The idea is to take one or two questions from this survey a

[2016-09-21 14:17] ChristinaB commented on #1457
We can also then collect emails for listserv communications.

[2016-09-21 14:19] ChristinaB commented on #1457
The need/request is to build in the functionality to collect data from the Help welcome page. This will be updated and designed in collaboration with CUAHSI staff and Users Committee to collect more frequent information and engagement with a broader group of users.

[2016-09-21 14:20] ChristinaB commented on #1457
I don't know if the listserv request needs to be a different issue. My understanding is that we don't want to use a third party mail server to spam users, but manage it internally. This may warrant further discussion.

[2016-09-21 15:00] dtarb commented on #1456
Can you produce a mock up of what you think the help page should look like.  I am not sure there is consensus on whether this is about providing information to users on how to use hydroshare, or getting users to help us.  I think the former should be the first (rapid) implementation, and the latter could come after a bit more deliberation.

[2016-09-21 15:12] zhiyuli commented on #1387
this issue was replaced by #1403

[2016-09-21 16:50] hyi commented on #1425
@alvacouch @pkdash @dtarb @horsburgh @rayi113 @mjstealey  I was thinking about this during our team call, and think there may be a way to remove federation zone info from internal url pattern for downloading files from a federated zone. I will have to look into this later after I get folders work done. @alvacouch You may hold off on this until I get a chance to look into it and see if I can just r

[2016-09-21 17:01] alvacouch commented on #1361
@danames @mseul @dtarb We now have a super-elegant solution in which
* Click always selects what's under the click.
* Drag always pans.
* Rectangles are selected with click, like points.

We are seriously considering whether dragging rectangles is needed, because
* This is a different definition of what drag does.
* That, in turn, requires a mode button to enable both pan and rectangle select.
(Th

[2016-09-21 17:05] alvacouch commented on #1361
Oops. Pan should be the default mode. This means that click always means select, but drag won't mean select unless we disable pan.

[2016-09-21 17:10] zhiyuli commented on #1455
@mjstealey
#1403 for collection was merged into dev branch. I set its milestone to 'Release 1.7.6/1.8.0'.
A manual operation in django shell is needed after you deploy this branch on beta or www.
docker exec -i hydroshare python manage.py shell  < "hs_collection_resource/patches/add_hasPart_term_django_shell.py"

This script will add "hasPart" terms to existing resource bags which are contained by

[2016-09-21 17:21] hyi commented on #1453
@horsburgh There are markdown editors built for Django such as this one: https://github.com/adi-/django-markdownx It will take time to get it in and investigate to make it work with our Django environment seamlessly, though.

[2016-09-21 18:08] mjstealey commented on #1455
Beta deployment [console output](http://ci.hydroshare.org:8080/view/2.%20Deployment/job/deploy-beta-hs/26/console) (no errors observed):

@zhiyuli - when running this on beta it looks to have errors for many of the resources and had generated the following.

[code]

[2016-09-21 18:22] horsburgh commented on #1453
@hyi - OK. This issue is closed, but I think there is another open issue about text formatting in the Abstract element, so it should get addressed there.

[2016-09-21 19:29] BrianOBlanton opened #1458 "Error loading netCDF resource"
Hello Hydroshare,  I'm trying to add a new netCDF resource that happens to have variable attributes with long (100+) characters.  This appears to throw this error:

Validation Error: value too long for type character varying(100)

Is it possible to have this dimension extended?

Cheers,
Brian

[2016-09-21 20:54] gantian127 commented on #1458
@BrianOBlanton I will fix it and let you know when it is finished. Thanks for reporting the bug.

[2016-09-21 22:33] shawncrawley commented on #1450
Here is a schematic I created after talking things over with Dr. Ames. I've attached it here.
![hydroshare_geoserver_schematic](https://cloud.githubusercontent.com/assets/12499203/18731344/a004876c-8018-11e6-9acf-bbfe006e80ea.png)

I'm going to start coding this on a new branch. We can plug in the correct GeoServer endpoint when we've decided what we're doing. For testing, I'll just use appsdev.hy

[2016-09-22 00:19] gantian127 commented on #1458
@BrianOBlanton would you please test on https://testservices.hydroshare.org/ to create a new NetCDF resource? The bug fix extended the maximum character length to 1000.  If the new extension can't satisfy the requirement of your netCDF file, please kindly let me know. Thanks.

[2016-09-22 22:56] dtarb opened #1462 "How can I delete a group"
I created a group today while demonstrating HydroShare to a potential user.  I said I would delete to clean up when we are done.  But there is no delete button.

[2016-09-22 23:01] dtarb opened #1463 "HydroShare GIS not finding rasters"
I tried a demo today that has worked before.  I created a raster resource, and attempted to open with HydroShare GIS.  I get the error "the resource was not found on hydroshare"

[2016-09-23 01:08] shawncrawley commented on #1463
The issue has been fixed. The hs_restclient was pointing at beta.hydroshare.org since I had done some testing against that server, but has now been switched to point back at www.

[2016-09-23 01:16] shawncrawley commented on #1158
This issue likely could have been closed a while back. If there have been no recent recurrences of the issue, then let's close it.

[2016-09-23 01:35] shawncrawley commented on #1264
This issue should be resolved. Let me know if otherwise.

[2016-09-23 14:56] danames commented on #1264
I'd like to test the original resource to verify this fix but unfortunately
it seems the resources is gone or broken or not public (403 Forbidden
error). Dave can you please post it again? - Dan

On Thu, Sep 22, 2016 at 7:35 PM shawncrawley <notifications@github.com>
wrote:

[2016-09-23 15:02] danames commented on #1158
I just tested this fix using the resource @dtarb posted on July 12. It works as advertised so I am closing this issue.

[2016-09-23 15:02] #1158 closed

[2016-09-23 15:02] danames commented on #1158
Works as advertised with @dtarb's test data. I'm closing this issue.

On Thu, Sep 22, 2016 at 7:16 PM shawncrawley <notifications@github.com>
wrote:

[2016-09-23 15:09] danames commented on #1463
Shawn/Dave, I think it's time to implement a formal release policy for apps
on apps.hydroshare.org so that we can avoid these kinds of issues in the
future. We'll work on a strategy here and share with the team on Wednesday.
- Dan

On Thu, Sep 22, 2016 at 7:08 PM shawncrawley <notifications@github.com>
wrote:

[2016-09-23 20:44] danames commented on #1450
Thanks for drawing this Shawn.

Others: please indicate if you have any questions about our proposal for
adding WMS/WFS/WCS services on to HydroShare resources.

On Wed, Sep 21, 2016 at 4:33 PM shawncrawley <notifications@github.com>
wrote:

[2016-09-23 20:53] hyi commented on #1450
@danames @shawncrawley @zhiyuli The only question I have is whether we should consolidate this new geoserver.hydroshare.org and the geoserver currently hosted on apps.hydroshare.org into one. Is there value to use the geoserver currently hosted on apps to achieve this rather than creating a new geoserver.hydroshare.org?

[2016-09-23 20:59] horsburgh commented on #1221
@pkdash - Here's another round of testing from park.hydroshare.org:

* [ ] 1. Change text of "Add file to resource" warning to: "If the uploaded file is a SQLite file, metadata will be extracted and will overwrite existing metadata in the resource."
* [ ] 2. When a resource has multiple time series, the drop down for selecting a time series on the "Resource Specific" metadata tab should be sorted

[2016-09-23 21:25] shawncrawley commented on #1450
@hyi I believe there is value in having two separate geoservers. This new hydroshare geoserver will only store the layers that directly represent a hydrosahre resource. However, some apps are still generating random and temporary layers on the fly, and thus the apps geoserver could remain a good "scratch space" for those cases.

[2016-09-23 21:34] hyi commented on #1450
@shawncrawley OK. That makes sense to me. Thanks for the clarification. Do you plan to have geoserver.hydroshare.org on a separate VM host or together with www.hydroshare.org VM host as a separate container in the similar way as done for apps.hydroshare.org?

[2016-09-23 22:16] pkdash commented on #1221
@horsburgh

I assume the issue is with importing of CSV file.

[2016-09-23 22:25] pkdash commented on #1221
@hyi See the following comment from @horsburgh

I see this bag download problem happening with any resource type on park.hydroshare.org. Any idea what might be the cause?

[2016-09-23 22:54] hyi commented on #1221
@pkdash bag download works fine on www and on dev, so not sure what the issue is with park. If there was an issue with iRODS permission, bag download would not work, but not sure whether iRODS permission was the cause for the bag download issue on park. The fact that bag download works on both www and on dev indicate the issue is not caused by code, so @mjstealey may have ideas on what could be th

[2016-09-23 23:13] pkdash commented on #1221
@hyi I will try with a redeploy of latest on park.

[2016-09-24 17:16] pkdash commented on #1221
@hyi I see that my branch is not using the same version of django_irods submodule as that is used by develop and master branches. My guess at this point that it is just the submodule hell issue and should get resolved once I update my branch to reference to the latest version of this submodule.

[2016-09-25 00:20] danames commented on #1450
Right now we're thinking about hosting geoserver.hydroshare.org on a
separate server but we could go either way. I'm interested in Michael and
Ray's thoughts...

On Fri, Sep 23, 2016 at 3:34 PM Hong Yi <notifications@github.com> wrote:

[2016-09-25 00:32] dtarb commented on #1264
@danames @shawncrawley I have now given you access to this resource https://www.hydroshare.org/resource/b2595adde0fd46cc969b8e86117018e5/.  It displays correctly for me, so if it does for you, then close the issue.

[2016-09-25 00:44] dtarb opened #1464 "Change 403 forbidden message for attempts to access resources that exist"
When a user attempts to access a resource that they do not have permission to access the system right now gives a 403 Forbidden error.  This error also occurs for a private resource if a user is not logged in.  Policy has been changed to make the title and owners of a resource public information.  So instead of this 403 forbidden error the page displayed should indicate resource title, resource ow

[2016-09-25 00:58] dtarb commented on #1361
I do not follow exactly what you are suggesting so perhaps should wait to see a demo.  I do not understand "Pan should be the default" and "click always means select" because to me pan means clicking at a point and then dragging the map.  How does one pan without clicking if click always means select.

I also think it is relatively natural to, when presented with a map with multiple dots, to be ab

[2016-09-25 01:56] dtarb commented on #1451
Nice work.  From experimenting with this in riverdev I have the following suggestions:

1. In the downloaded CSV I think ID is redundant since the ID is part of the URL.  So I suggest to not include the ID column.
2. It is a bit odd to include deleted resources in the list downloaded but I respect retaining this until the owner clears this.  If the ID column is deleted the URL column would need to

[2016-09-25 02:01] dtarb commented on #1463
OK. Closing.

[2016-09-25 02:01] #1463 closed

[2016-09-25 02:04] dtarb commented on #1458
@gantian127 @pkdash is it possible to have a variable type that does not have a bound for quantities like this.  Every time a number is picked, someone always finds a need for it to be bigger.

[2016-09-25 02:08] dtarb commented on #1457
This issue does not have enough specificity and touches too many subjects to be actionable.

[2016-09-25 02:35] pkdash commented on #1458
@dtarb It is possible, but not sure of database performance if we make all database string type fields set to unlimited length.

[2016-09-25 04:48] pkdash commented on #1221
@horsburgh - I have not been able to reproduce the SQL constaint error (UNIQUE).  If you have that resource still on park, can you give me (admin) edit access to that resource?

[2016-09-25 05:58] pkdash commented on #1221
@horsburgh

As it is implemented now the UTCOffset funtionality is by design. If we need to allow editing this field in the case of sqlite file upload, then I need to know how this field to be initiallized. The time offset values can be found in multiple tables of the uploaded sqlite file.

[2016-09-26 14:03] danames commented on #1264
Confirmed fixed.

[2016-09-26 14:03] #1264 closed

[2016-09-26 17:17] zhiyuli commented on #1451
@dtarb
I am thinking the 'ID' column has some value in at least one use case: user writes a script to parse that csv in collection bag and then uses hs_restclient to retrieve data for each contained res.
Since some hs_restclient functions need "res_id" as a input parameter, user can get the value of res_id from the "ID" column more easily than extracting it from the "URL" column.

[2016-09-26 17:50] zhiyuli opened #1465 "WebApp should be launchable from its own landing page"
Upon request from @danames and Dr Nelson, a webapp should be launchable from its own landing page.

Currently, a webapp can only be launched from landing pages of other resources that the webapp works with. The reason is that the "webapp url" is not a real url. Rather, it is a url template that can carry dynamic parameters (like resource id) to info the webapp which resource it should open and wha

[2016-09-26 17:51] gantian127 opened #1466 "Manual pre-deploy checklist for version 1.7.6"
This is the manual pre-deploy checklist for version 1.7.6.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.
**Please finish checking before Sept. 2

[2016-09-26 17:52] rayi113 opened #1467 ">1GB Resource Creation from iRODS Fails"
When one uploads a >1GB file into users.hydroshare.org and attempts to create a HydroShare resource from said file, it fails with the message "Error.  Sorry, an error occured."  Small files work though.

[2016-09-26 18:43] dtarb commented on #1451
It is just a suggestion.  You are free to ignore it.

[2016-09-26 21:08] hyi commented on #1467
@rayi113 This has been fixed and the fix has been manually applied on www. It appears to work as expected on www based on my testing. Can you test to see if it works now, and if it works, close this issue?

[2016-09-26 21:23] zhiyuli commented on #1451
@dtarb
OK,
(1) and (2) are ignored with explanations provided above.
(3) and (4) are implemented and being pushed to riverdev

[2016-09-27 12:58] rayi113 commented on #1467
@hyi @mjstealey Yes, works now on www.  Thanks very much!

[2016-09-27 12:58] #1467 closed

[2016-09-27 18:36] horsburgh commented on #1221
@pkdash some notes on your responses:

**ValueCount off by one**:  Thanks for checking. This must be an issue with the code I used to create the testing SQLite databases then.  My bad.

**Bag Download**: I'm assuming this is an issue with the deployment, so I won't worry about it.

**SQL Unique Constraint Error**: The offending resource is: https://park.hydroshare.org/resource/aad6398d7b384e0ca5c0

[2016-09-27 19:32] pkdash commented on #1221
@horsburgh I see the SQL unique constraint error for the dataset that has the 7 series. I will try to use the same csv file upload using my local development environment and see if I can find the bug. That's the only thing remain to be resolved then. I will do another deployment to park for my testing to see if all the issues you identified in the last round of your testing got resolved. Then I th

[2016-09-27 20:32] pkdash commented on #1221
@horsburgh For that problematic resource (https://park.hydroshare.org/resource/aad6398d7b384e0ca5c0fd5788be37d1/), I edited the site code for the 7 sites just by adding a number to the end and was able to update the SQLite file. Then I reversed my changes and updated the SQLite file successfully.

[2016-09-27 20:40] pkdash commented on #1221
@horsburgh I plan to deploy my fixes to park late tonight.

[2016-09-28 14:24] mohamedmorsy opened #1469 "Regression error occurs during creating new versions of HydroShare resources"
**I was doing a new version of a created model program resource and I got the following error:**

Environment:

Request Method: GET
Request URL: http://beta.hydroshare.org/resource/c24d0ee47ebf4fe88d8083fce1be2b38/

Django Version: 1.8.14
Python Version: 2.7.11
Installed Applications:
(u'mezzanine.boot',
 u'autocomplete_light',
 u'django.contrib.auth',
 u'oauth2_provider',
 u'corsheaders',
 u'djan

[2016-09-28 14:26] mohamedmorsy commented on #1466
@mjstealey I have only this issue #1469  and that for creating a new version of an existing resource types.

[2016-09-28 14:39] mjstealey commented on #1469
@mohamedmorsy This is a confusing resource to me as it seems to have another resource embedded into it...

This is from beta's iRODS vault:
[code]

[code]

[code]

[code]

No idea what's supposed to be going on here... perhaps @hyi has a better idea?

[2016-09-28 14:41] mjstealey commented on #1466
@mohamedmorsy I looked at the files in iRODS and was confused by what is supposed to be going on there. Seems to be nested resource GUIDs in a somewhat unorthodox manner... Have left a comment with `ils` information in the issue itself.

[2016-09-28 14:42] mohamedmorsy commented on #1469
@mjstealey Also did you take a look on the error coming from creating a new version of an existing Generic resource?

Environment:

Request Method: GET
Request URL: http://beta.hydroshare.org/resource/058827eba4b240bfa56040a51a279fd5/

Django Version: 1.8.14
Python Version: 2.7.11
Installed Applications:
(u'mezzanine.boot',
 u'autocomplete_light',
 u'django.contrib.auth',
 u'oauth2_provider',
 u'c

[2016-09-28 14:44] hyi commented on #1469
@mohamedmorsy @mjstealey I tested on www with a very simply generic resource that contains one small file, but got the same irods permission error when trying to create a new version of this simple generic resource. Not sure what is going on, but believe this error has been there since we started with hydro-service account which gave us some irods permission headache from time to time. We need to

[2016-09-28 14:48] mjstealey commented on #1469
@hyi - I don't think it's permissions, look at the organization of the files within iRODS, they've been moved into a nested configuration instead of being copied.

The **contents** directory of the original resource is no longer there and looks to be moved into the nested GUID of the copied resource ID.

Bunch of output to parse [up there ^^^](https://github.com/hydroshare/hydroshare/issues/1469#i

[2016-09-28 14:55] hyi commented on #1469
@mjstealey Good find. Not sure how that could happen since there has been any change in versioning code since it was initially implemented. Will have to dig into the code to figure out what is going on.

[2016-09-28 19:13] hyi commented on #1469
@mohamedmorsy The fix to this issue has been merged to develop branch and the fix has also been manually applied on beta and www. Could you please test it out on beta or www and close this issue if it works now? The couple of resources you initially tested on beta were broken (and I did not bother to manually fix them on beta since those broken resources will not persist in a test environment), so

[2016-09-28 21:17] jsadler2 opened #1471 "MODFLOW MI, change button to 'Add' after element delete"
If a user decides to reverse the completion of a MODFLOW Model Instance metadata element, the element is deleted so that a blank element is not stored in the database. The "Save" button action for that element however needs to change back to "Add" or else an error will occur because the system tries to update an element that does not exist.

This is related to #1371.

[2016-09-28 21:53] pkdash commented on #1221
@horsburgh Deployed the latest to park.

[2016-09-29 16:53] pkdash opened #1472 "Allow using existing units for TimeSeries Result element editing"
This would apply only incase of CSV upload. Once the user enters data for "Units type", "Units name" and "Units abbreviation" for a given TimeSeries Result element, the system needs to allow the user to copy this data when entering data for another TimeSeries Result element.

[2016-09-29 16:54] pkdash opened #1473 "Provide help text for time series metadata element form fields."

[2016-09-29 17:17] horsburgh commented on #1473
@pkdash - this is important. I'm assuming we can do this after you do the initial deployment?

[2016-09-29 18:27] pkdash commented on #1473
@horsburgh If you give me the help text for each of the metadata element form fields, I will try to do it on Monday.

[2016-09-30 13:00] dtarb opened #1474 "Downloads fail for resources with long file names"
Attempts to download the files in these resources individually (not the bag) fails.  This seems to be due to long file names.
https://www.hydroshare.org/resource/972d814bca094d17830be491eb659b29/ (a resource I created to reproduce the problem)
https://www.hydroshare.org/resource/162508e8a9414e409015fdfa72cbb2a9/ (a resource a user (student) created, where the problem was discovered).

[2016-09-30 13:06] mjstealey commented on #1474
Replicable: see output below

When attempting to download the singleton file from [https://www.hydroshare.org/resource/972d814bca094d17830be491eb659b29/](https://www.hydroshare.org/resource/972d814bca094d17830be491eb659b29/)

hydroshare.log output
[code]

As file looks in iRODS:

[code]

[2016-09-30 13:25] hyi commented on #1474
@alexlemann This error appears to trace back to hs_tracking/models.py, perhaps at this line: https://github.com/hydroshare/hydroshare/blob/develop/hs_tracking/models.py#L118 where max_length for value is define as 130. Look at the log above for details. Could you take a look and fix this issue?

[2016-09-30 15:21] pkdash commented on #1425
@alvacouch Any update on this.

[2016-10-01 22:47] AmberSJones opened #1476 "Error associated with resource files"
I have a resource for which I cannot open some of its files. I get a screen saying that an error has occurred. I tried to remove the files to re-upload them, and I get them same error when I try to remove the files.

[2016-10-01 22:59] dtarb commented on #1476
How long are the file names?  This may be the same as #1474.

[2016-10-02 02:57] AmberSJones commented on #1476
They are long, so it is likely the same issue. Feel free to mark as duplicate- I don't have the permissions.

[2016-10-03 17:25] mauriel133 commented on #1462
If I remember correctly I asked for this feature while developing the group's front end functionality, but it wasn't ready yet. We implemented a way to deactivate the group in the meantime which hides it for everyone else but the owner. I think this should be implemented.

@pkdash might know more.

[2016-10-03 17:50] pkdash opened #1477 "Raster file type"
Relates to issue #1034

This is the first file type to be implemented. Requirements for raster file type will be documented in this issue.

TODO:
- [x] Implement raster file type to help design data model
       - When a content file (tif or zip) is set to Raster File Type system will create a folder and put all raster related files in that folder.
- [x] Implement GenericFile Type
       - Any fil

[2016-10-03 18:51] pkdash commented on #1462
Last time when we discussed deleting groups I think we didn't want to delete groups due to provenance issues. @alvacouch may remember.

[2016-10-03 18:54] dtarb commented on #1462
I think that @alvacouch preferred not to delete groups as that would lose provenance.  I think that we should retain the "inactive" functionality, but label it "delete" and when a group is deleted hide it from all interfaces except the owners my groups page after they click a button show deleted.  An owner once they have opened "show deleted" should be able to "restore" the group (activate functio

[2016-10-03 19:42] alvacouch commented on #1425
@pkdash @hyi (cc @dtarb)
I have nearly got tests working, but I am concerned by some of the behaviors I am seeing.

Part of the reason for me seeing this behavior is that I am working with the actual REST calls rather than just the routines. So, in essence, I'm seeing what python-restclient sees rather than just testing the code. I am not satisfied with just testing the routines because so much of

[2016-10-03 19:49] hyi commented on #1425
@alvacouch Yes, iRODS returns a streaming file response as shown here: https://github.com/hydroshare/django_irods/blob/master/views.py#L125..L129. I expect you can just save this FileResponse object to file, but have never really done so. Perhaps @pkdash knows more on how hydroshare rest client does when downloading a file.

[2016-10-03 19:50] #1469 closed

[2016-10-03 19:52] alvacouch commented on #1425
@hyi OK, that makes me more confident. I know how to save it to a file.

[2016-10-04 14:27] dtarb opened #1479 "Discover map is slow and behavior awkward"
I am testing discover on beta.hydroshare.org.  I have zoomed to a certain map extent and clicked on the map to get a list of resources at the bottom.  I then click on a filter facet (e.g. time series under filter by subject).

The display first flashes to the list display.  Then the map comes back and is zoomed to a different extent and location, with no resources in the list below the table.  It

[2016-10-04 15:02] xuezhaokun commented on #1479
@dtarb Whenever you make a faceting search, it actually sends the new faceting query back to SOLR and makes a back-end update. SOLR will send back a updated resources list satisfying our new query. This back-end update will force the map to reinitialize. This reinitialization will cause the map extent change, since we always initialize the map extent based on resources we get from SOLR. Whenever u

[2016-10-04 15:29] alvacouch commented on #1479
@xuezhaokun I think the switching back and forth is an artifact of how REST is implemented internally to make the change.

The problem is not SOLR faceted search, but what one does with it.

If the SOLR search is executed as an XMLHTTPRequest rather than a global update, you can do what you want with the results. Including leaving the local context alone.

[2016-10-04 15:31] alvacouch commented on #1425
See PR #1478

[2016-10-05 14:55] mjstealey commented on #1455
@zhiyuli - This was the output when deploying 1.7.6 to www. Looks as it should.

[code]

[2016-10-06 18:18] pkdash opened #1481 "Write unit tests for metadata xml for hs_core"
Use the test pattern for resourcemap.xml which used the rdflib.

[2016-10-06 18:19] pkdash opened #1482 "Write unit tests for metadata xml for time series resource"
Use the test pattern for resourcemap.xml which used the rdflib.

[2016-10-06 18:57] alvacouch opened #1483 "inconsistency between resourcemap.xml and actual access URLs"
@pkdash @hyi
I'm working with a dev instance in SSL mode and have discovered an anomaly. When HydroShare puts a URL into a resourcemap, it always uses the non-SSL TCP port for it. However, when running in SSL, it isn't available at that port. The hs_restclient knows this and ignores that URL and constructs its own.

URLs that aren't actually pointing to the resource are of limited usefulness. We n

[2016-10-07 17:50] alvacouch opened #1484 "small bugs in REST URL definitions"
There are several small but annoying bugs in the definitions of REST endpoints.
1. The  regular expression pattern [A-z0-9]+ for a GUID is incorrect. This matches the characters [ \  ]  ^  _  ` which are between Z and a and cannot be part of a GUID. The correct pattern is [A-Za-z0-9]+.
2. in _internal/group_membership, (hs_core/urls.py), the pattern (?P<token>[-\w]+) matches more or less anything!

[2016-10-07 18:05] alvacouch commented on #1484
@hyi @pkdash I am starting to document the things I have found as issues.

[2016-10-07 19:17] mohamedmorsy opened #1485 "Model Instance resource type ExecutedBy drop down list"
When I choose and save a model program from the drop down list under ExecutedBy and then exit the edit mode then go back to the edit mode, it shows the chosen model program metadata but still the name on the drop down list is unspecified:

![image](https://cloud.githubusercontent.com/assets/5543781/19202539/c6103ea8-8ca0-11e6-90df-b847ff765d82.png)

Also if the I chose the wrong model program from

[2016-10-07 19:21] pkdash opened #1486 "Delete all ResourceFile objects as part of the delete() function in AbstractResource class"

[2016-10-07 19:22] pkdash commented on #1486
@gantian127 Can you fix this issue?

[2016-10-07 19:26] Castronova commented on #1485
I think this is because we are trying to lookup a "model program" with a name of "Unspecified".  We need to implement some checking in models.py, e.g.:

[code]

[2016-10-09 13:06] alvacouch opened #1488 "Conforming to REST best practices in REST API"
@dtarb @hyi @pkdash @horsburgh

See Google Drive: `hydroshare/SystemDesign/REST API/REST API gap analysis` for a spreadsheet of suggested REST endpoints for HydroShare functions. Most of these are unimplemented and I advocate changing the endpoints accordingly.

The endpoints should have a consistent structure, of the form:
- `/object/{id}/{function}/`  for all operations concerning specific objec

[2016-10-09 14:38] alvacouch commented on #1488
Note that there are two hidden issues in this table

1. The rest of the information needed for the calls are in parameters and files. I didn't list these. My next proposal will make these consistent as well. One thing at a time.
2. The ground truth for each call leads to possible inconsistencies if there are other bugs. For example, note that the ground truth for discovery is Django, while the gro

[2016-10-10 19:43] pkdash commented on #1485
@mohamedmorsy What's the status of this bug?

[2016-10-10 19:53] pkdash commented on #1451
@dtarb See if this should be closed.

[2016-10-10 20:01] hyi commented on #1449
@alvacouch Now that the federation zone path has been removed from any internal and external urls, I think this issue can be closed. Can you close this issue if you agree?

[2016-10-10 20:01] pkdash commented on #1444
@dtarb Check if this can be closed.

[2016-10-10 20:02] mjstealey commented on #1440
merged

[2016-10-10 20:02] #1440 closed

[2016-10-10 20:09] mohamedmorsy commented on #1485
@pkdash I think Tony is working on this issue. @Castronova Are you still working on this issue?

[2016-10-10 20:13] mjstealey commented on #1413
merged

[2016-10-10 20:13] #1413 closed

[2016-10-10 20:15] pkdash commented on #1409
@dtarb Check if this can be closed.

[2016-10-10 20:17] pkdash commented on #1407
@mohamedmorsy Can you implement this minor fix?

[2016-10-10 20:21] pkdash commented on #1403
@dtarb Check if this can be closed.

[2016-10-10 20:26] mjstealey commented on #1374
auto redirect to https should handle both cases

[2016-10-10 20:26] #1374 closed

[2016-10-10 20:33] pkdash commented on #1361
@xuezhaokun Can this be closed?

[2016-10-10 20:35] #1361 closed

[2016-10-10 20:38] mjstealey commented on #1311
Deferring to iRODS for large file (> 1GB) download.
May resurface as a new issue if a better solution is proposed in addition to iRODS.

[2016-10-10 20:38] #1311 closed

[2016-10-10 20:39] pkdash commented on #1309
@Castronova I am closing this.

[2016-10-10 20:39] #1309 closed

[2016-10-10 20:40] mjstealey commented on #1307
merged and deployed to www

[2016-10-10 20:40] #1307 closed

[2016-10-10 20:51] #934 closed

[2016-10-10 20:58] pkdash commented on #1245
@horsburgh Can this be closed?

[2016-10-10 20:59] pkdash commented on #1238
@zhiyuli can you close this?

[2016-10-10 21:00] pkdash commented on #1237
@mauriel133 Is this issue still relevant?

[2016-10-10 21:01] pkdash commented on #1233
@horsburgh Should this be closed?

[2016-10-10 21:03] pkdash commented on #1221
@horsburgh Should this be closed?

[2016-10-10 21:05] mjstealey commented on #1137
yes

[2016-10-10 21:14] mjstealey commented on #1192
open new issues based on existing functionality if required

[2016-10-10 21:14] #1192 closed

[2016-10-10 21:15] pkdash commented on #1187
@xuezhaokun Should this be closed?

[2016-10-10 21:18] pkdash commented on #1183
@alvacouch @xuezhaokun  Should this be closed?

[2016-10-10 21:20] hyi commented on #1160
Closing since it should be working now.

[2016-10-10 21:20] #1160 closed

[2016-10-10 21:21] mjstealey commented on #1157
@shawncrawley is this still a thing?

[2016-10-10 21:24] dtarb commented on #1137
Tested - seems OK, so closing.

[2016-10-10 21:24] #1137 closed

[2016-10-10 21:24] pkdash commented on #1145
This has been resolved.

[2016-10-10 21:24] #1145 closed

[2016-10-10 21:26] pkdash commented on #1140
@mohamedmorsy Should this be closed?

[2016-10-10 21:27] mjstealey commented on #1106
Open new issues based on deployed work as reference point if required

[2016-10-10 21:27] #1106 closed

[2016-10-10 21:28] hyi commented on #1140
@mohamedmorsy This is still an issue. For details, see my comments above that pinpointed the line in your code that causes this issue.

[2016-10-10 21:28] mjstealey commented on #1101
@Castronova Is this still a thing?

[2016-10-10 21:31] mjstealey commented on #1098
@Castronova Fixed? or not yet?

[2016-10-10 21:32] mauriel133 commented on #1237
Yes, these are minor issues discovered while doing pre-deploy checks. I will address them once other high priority features are implemented.

[2016-10-10 21:33] pkdash commented on #1088
Closing.

[2016-10-10 21:33] #1088 closed

[2016-10-10 21:35] pkdash commented on #1079
@shawncrawley Should this be closed?

[2016-10-10 21:36] mjstealey commented on #1076
@jsadler2 - Can this be closed?

[2016-10-10 23:16] horsburgh commented on #1221
Deployed and tested on www. Any new issues should be created separately. Closing.

[2016-10-10 23:16] #1221 closed

[2016-10-10 23:22] horsburgh commented on #1233
This issue is old and a bit stale. It got hijacked with a number of related issues. I verified as much as I could has been fixed, so any remaining issues should be added as new issues - if they haven't been already. Closing.

[2016-10-10 23:22] #1233 closed

[2016-10-10 23:29] horsburgh commented on #1245
The icon has been changed, and we are no longer using a radio button on the manage access modal window, but rather using a toggle between users and groups that is more obvious.  I'm going to close this one as I think it's consistent to manage all access to resource through this one interface. We may eventually want to enable managing access to multiple resources at once, but that is a separate iss

[2016-10-10 23:29] #1245 closed

[2016-10-11 00:42] shawncrawley commented on #1157
@mjstealey Yeah. I have been slowly getting through these checklist items.

[2016-10-11 00:43] shawncrawley commented on #1079
@pkdash I think it can be. We moved ahead a long time ago with the JSON file implementation.

[2016-10-11 00:43] #1079 closed

[2016-10-11 00:57] mohamedmorsy commented on #1407
@pkdash will do

[2016-10-11 13:31] Castronova commented on #1485
I have made some progress on this issue.  I plan to push the fix soon.

Tony

--
Sent from Postbox
<https://www.postbox-inc.com/?utm_source=email&utm_medium=siglink&utm_campaign=reach>

[2016-10-11 13:58] #1447 closed

[2016-10-11 17:19] alvacouch commented on #1488
@dtarb @horsburgh @pkdash
There are several considerations that come from DataOne. For the most part, DataOne is completely compliant with the above setup. The main deviation is what they name their endpoints.
See https://releases.dataone.org/online/api-documentation-v1.2.0/apis/REST_overview.html ,
which defines the following endpoints for a DataOne member node:

* /object: The set of objects ava

[2016-10-11 17:37] horsburgh commented on #1488
@alvacouch - thanks for looking a this. The point of looking at the DataONE API is not for us to adopt it for all of our purposes, but rather for us to set it up so that HydroShare can become a DataONE Member Node. This gives us increased and broader impact for published resources in HydroShare. In our initial conversations with DataONE, we have been looking at HydroShare being a "read only" Membe

[2016-10-11 18:23] alvacouch commented on #1488
@hyi @pkdash Why do we have two endpoints:

* /resource/{id}/files/x
* /resource/{id}/data/x

that should do the same thing and don't? The first one seems contorted. The second one seems to do exactly what I want.....

[2016-10-11 18:32] alvacouch commented on #1488
@horsburgh
In the detailed documentation I read, the pattern of access is to grab the resourcemap first, then to use that to discover the science and system metadata. The formats of these three files are discussed in great detail. So are the SOLR bindings they use to search them.

The question is whether becoming a read-only member node should influence our API for apps -- or not.

Currently, ther

[2016-10-11 18:42] Castronova commented on #1140
@mohamedmorsy can you check that this has been resolved by running branch **1485-executed-by-unspecified-fails** locally?

[2016-10-11 18:42] Castronova commented on #1485
@mohamedmorsy can you check that this has been resolved by running branch **1485-executed-by-unspecified-fails** locally?

[2016-10-11 18:53] mohamedmorsy commented on #1140
@Castronova I am doing this now

[2016-10-11 19:13] mohamedmorsy commented on #1140
@Castronova  I got the following error with my first attempt to select a model program and click on the save button (in the create method):

![image](https://cloud.githubusercontent.com/assets/5543781/19284651/d1272456-8fc4-11e6-8435-de28e632d378.png)

Also I see that under the ExecutedBy class you added "null=True" for the "model_name" element. Does this require to generate new migration file?

[2016-10-12 14:13] hyi commented on #1488
@alvacouch Just took a look at the two endpoints you mentioned above. It appears ```/resource/{id}/files/x``` is a REST API endpoint which has been used to download files in Hydroshare, while the other endpoint  ```/resource/{id}/data/x``` was added by @pkdash to make sure the urls encoded in the resourcemap.txt in our bags can resolve to direct file download and it is not used by REST API at all.

[2016-10-12 14:21] alvacouch commented on #1488
Currently, the following inconsistencies remain in the REST interface:
1. The current embedded resource map URLs only work for non-authenticated, public access. They are not https, so they cannot refer to authenticated access.
2. Thus, the python REST client ignores these URLs, because it does authenticated access, and builds its own URLs accordingly.
3. To fix this, we have to make https the defa

[2016-10-12 14:26] alvacouch commented on #1488
@pkdash @hyi Admittedly, there is no `PUSH`, `DELETE`, or `PUT` for `/resource/{id}/data/x` but I do not otherwise see why I could not resolve the links in `resourcemap.xml `to `/resource/{id}/files/x` rather than `/resource/{id}/data/x`. Why not?

[2016-10-12 14:39] alvacouch commented on #1488
FYI: some additional comments on differences between DataOne and HydroShare APIs:

| HydroShare API | DataOne API |
| ------------------|----------------|
| Private, authenticated read/write           | Public read plus authenticated write                                |
| Ability to change parts of objects          | atomic write only, whole object or whole metadata unit |
| Metadata included in

[2016-10-12 14:52] hyi commented on #1488
@alvacouch @pkdash @mjstealey I thought http would automatically resolve to https when SSL is enabled, so having http as the protocol for URLs could work in both local development and production. @mjstealey can you clarify?

[2016-10-12 14:55] alvacouch commented on #1488
@hyo @pkdash Or, a better question: if the resource is not public, what should the links `resource/{id}/data/x `do? I would think that this is the crucial difference. `resource/{id}/files/x` is supposed to refer to a managed object, while `resource/{id}/data/x `refers to a public object. So, it would seem that the main difference is that `resource/{id}/data/x `would return `NotFound` (and not `Per

[2016-10-12 14:59] pkdash commented on #1488
@alvacouch Both ```resource/{id}/files/x``` and ```resource/{id}/data/x``` have the same authorization checks.

[2016-10-12 15:15] mohamedmorsy commented on #1485
@Castronova I spent sometime to figure this out. I am able to make it works by doing the following changes:
@classmethod
    def create(cls, **kwargs):
        # get the foreign key id
        mp_short_id = kwargs['model_name']

        # get the MP object that matches.  Returns None if nothing is found
        obj = ModelProgramResource.objects.filter(short_id=mp_short_id).first()

        if obj

[2016-10-12 15:20] Castronova commented on #1140
@mohamedmorsy I reverted the `model_name` back to `null=False`.  I also updated the `create` method to handle foreign key creation (via form submission) and model instance versioning separately.  Can you see if this fixes the issue?

[2016-10-12 15:22] mohamedmorsy commented on #1485
@Castronova I think there is a missing comment from me here I did yesterday. I did test the branch and I got an error after doing a first attempt to select a model program from the drop list and then click on save button. that is why I suggested the previous solution in the previous comment:

![image](https://cloud.githubusercontent.com/assets/5543781/19316069/110de42a-906e-11e6-809c-eb008c01bfdc.

[2016-10-12 15:56] pkdash commented on #1486
Has been addressed. So closing.

[2016-10-12 15:56] #1486 closed

[2016-10-12 15:58] pkdash commented on #1476
@hyi Has this been addressed already?

[2016-10-12 15:59] hyi commented on #1476
@pkdash Yes, it has been merged to develop. I will ask @dtarb to test after it is pre-deployed to beta.

[2016-10-12 16:02] pkdash commented on #1458
@gantian127 I assume this has been implemented. If so close this issue.

[2016-10-12 16:09] pkdash commented on #1445
This has been implemented. Closing.

[2016-10-12 16:09] #1445 closed

[2016-10-12 17:35] #1458 closed

[2016-10-12 18:52] dtarb commented on #1451
I tested this and downloaded a resource with multiple owners.  I found that there are three quotes around the owner list.  This seems too many.  One would be enough.

![capture](https://cloud.githubusercontent.com/assets/3456833/19323487/69023792-907a-11e6-8191-8764031171e1.JPG)

[2016-10-12 19:11] alvacouch commented on #1484
@hyi @pkdash In fact, the URLs can be made even more restrictive. If we adopt:
`resource/(P<pk>[0-9a-f-]+)/ `instead of `resource/(P<pk>[A-z0-9]+)/` this will match every current resource, because all of the uuids have only hex digits 0-9, a-f, and -.

A basic question, though: to what extent should we accept and filter later. Putting in a non-matching UUID to a more restrictive pattern will resul

[2016-10-12 19:12] alvacouch commented on #1449
@hyi This is fixed.

[2016-10-12 19:12] #1449 closed

[2016-10-12 19:46] pkdash commented on #1484
@alvacouch Since no one is likely to manually type the resource ID, I don't expect the URL NOTFOUND to occur often. Better to use stricter pattern.

[2016-10-12 20:33] pkdash commented on #1428
@jsadler2 Can you put a priority label for this issue (available options: High, Medium and Low)?

[2016-10-12 20:39] pkdash commented on #1350
@dtarb Should this be closed?

[2016-10-12 20:42] pkdash commented on #1292
@hyi Can you assign a priority to this issue?

[2016-10-12 20:53] pkdash commented on #1217
@hyi Should this be closed?

[2016-10-12 20:59] hyi commented on #1292
@pkdash I give this issue a medium priority, but as soon as @mjstealey gets dockerized irods containers into our development environment, I plan to start to work on this.

[2016-10-12 21:00] hyi commented on #1217
Since the issue https://github.com/hydroshare/hydroshare/issues/1137 has been closed and this issue has the same cause as that one, I am closing this as well.

[2016-10-12 21:00] #1217 closed

[2016-10-12 22:28] pkdash commented on #1038
@mjstealey Is this issue any more relevant as we now have pages.hydroshare.org? If not close it.

[2016-10-13 00:13] dtarb opened #1494 "Improve the relations tab content entry and display"
Add source and Add relation buttons on the Related Resources tab should allow user the option to pick a HydroShare resource or enter the information for an external resource (similar to the way the add author button gives users an option).

When information from an external resource is entered there needs to be more structure, such as Title, URL, Owner.

The listing of relationships should be more

[2016-10-13 00:14] dtarb commented on #1444
Not all the functionality listed has been implemented, but to keep things manageable I have put unfinished items in #1494 and am closing.

[2016-10-13 00:14] #1444 closed

[2016-10-13 13:39] hyi opened #1495 "Add folder operations to REST API"
This is needed by a use case for @horsburgh whose group need to automate publication of their quality controlled data from each of their iUTAH continuous monitoring sites to HydroShare. Their plan is:
1. They would like to have one Generic Resource per monitoring sites
2. Within each resource will be several folders, one for each quality controlled time series measured at that site
3. Inside each

[2016-10-13 14:38] mjstealey commented on #1038
closing due to pages that is now used for this

[2016-10-13 14:38] #1038 closed

[2016-10-13 14:38] horsburgh commented on #1495
@hyi - thanks for adding this. This is a specific use case of a more general problem/issue which is that we would like to create and modify folder structures within resources through the REST API and the Python REST client.

[2016-10-13 14:40] mjstealey commented on #1037
no longer relevant

[2016-10-13 14:40] #1037 closed

[2016-10-13 14:42] mjstealey commented on #1030
@shawncrawley Is this still relevant?

[2016-10-13 14:45] mjstealey commented on #1025
@shawncrawley Is this still a thing?

[2016-10-13 14:49] pkdash commented on #1010
@zhiyuli Is this still an issue?

[2016-10-13 14:51] mjstealey commented on #978
RHYSSes specific, no one to take over this work

[2016-10-13 14:51] #978 closed

[2016-10-13 14:53] mjstealey commented on #977
#1491 - PR for folder work

[2016-10-13 15:04] pkdash commented on #970
@alvacouch Is this issue still relevant?

[2016-10-13 15:11] pkdash commented on #965
Refer to #1477

[2016-10-13 15:17] pkdash commented on #915
@mohamedmorsy Can you add the unit tests?

[2016-10-13 15:19] mohamedmorsy commented on #915
Will do.

[2016-10-13 15:26] mjstealey commented on #851
fixed on www

[2016-10-13 15:26] #851 closed

[2016-10-13 15:29] mjstealey commented on #838
needs to be rethought around current code

[2016-10-13 15:29] #838 closed

[2016-10-13 15:45] mohamedmorsy commented on #849
This already implemented on HydroShare as MODFLOW Model Instance.

[2016-10-13 15:48] #849 closed

[2016-10-13 15:49] mjstealey commented on #702
implemented as pages.hydroshare.org and should be re-evaluated from there

[2016-10-13 15:49] #702 closed

[2016-10-13 15:50] mjstealey commented on #700
fixed and deployed

[2016-10-13 15:50] #700 closed

[2016-10-13 15:51] mjstealey commented on #699
self cleaning jobs implemented, even on failure

[2016-10-13 15:51] #699 closed

[2016-10-13 15:51] mjstealey commented on #698
close

[2016-10-13 15:51] #698 closed

[2016-10-13 15:56] mjstealey commented on #696
#1362 addresses messaging better and should be used for that thread

[2016-10-13 15:56] #696 closed

[2016-10-13 15:58] #686 closed

[2016-10-13 16:12] mjstealey commented on #603
separate large file discussion has been created

[2016-10-13 16:12] #603 closed

[2016-10-13 16:13] pkdash commented on #597
@lanzh Should this be closed?

[2016-10-13 16:14] mjstealey commented on #591
updated

[2016-10-13 16:14] #591 closed

[2016-10-13 16:16] pkdash commented on #569
@shawncrawley Should this be closed?

[2016-10-13 16:17] mjstealey commented on #550
requires new issue regarding updated infrastructure model

[2016-10-13 16:17] #550 closed

[2016-10-13 16:26] mjstealey commented on #536
no longer timely

[2016-10-13 16:26] #536 closed

[2016-10-13 16:28] mjstealey commented on #516
no longer change when hovered over

[2016-10-13 16:28] #516 closed

[2016-10-13 16:28] mjstealey commented on #501
documentation done elsewhere

[2016-10-13 16:28] #501 closed

[2016-10-13 16:29] #498 closed

[2016-10-16 15:29] dtarb commented on #970
I am going to close this, I think we have better things to focus on in the time remaining.

[2016-10-16 15:29] #970 closed

[2016-10-16 15:32] dtarb commented on #1010
Fixed.

[2016-10-16 15:32] #1010 closed

[2016-10-16 15:33] dtarb commented on #1350
Good enough.

[2016-10-16 15:33] #1350 closed

[2016-10-16 15:53] dtarb commented on #1409
Appears to be fixed.

[2016-10-16 15:53] #1409 closed

[2016-10-17 14:35] pkdash commented on #341
@horsburgh I think this can be closed.

[2016-10-17 14:37] pkdash commented on #1299
@mjstealey Is this still an issue? If so, assign a priority level.

[2016-10-17 14:39] mjstealey commented on #1299
@pkdash Yep, this is still a thing. Will be completing this at the same time as the Docker iRODS work for the CI environment. No milestone, it just is when it is.

[2016-10-17 14:41] #1455 closed

[2016-10-17 14:41] #1466 closed

[2016-10-17 14:41] pkdash commented on #1187
@alvacouch Should be closed?

[2016-10-17 14:45] mjstealey opened #1497 "Release Notes 1.8.0"
Release 1.8.0
- File folder structure
- Resource download bug fix
- Collection resource type enhancement
- Web App resource type enhancement
- Geographic feature resource type bug fix
- Model Instance bug fix
- SWAT Model Instance bug fix
- MODFLOW Model Instance bug fix
- Add missing term definition
- REST API for resource map
- REST API for key/value pair metadata creation

[2016-10-17 14:46] pkdash commented on #487
@horsburgh and @alvacouch Should this be closed?

[2016-10-17 14:46] mjstealey opened #1498 "Release Notes 1.8.1"
placeholder for release information

[2016-10-17 14:50] pkdash commented on #400
@gantian127 Should this be closed?

[2016-10-17 14:51] pkdash commented on #400
@gantian127 If this still an issue, please assign a priority level (low, medium, high, backburner).

[2016-10-17 14:55] horsburgh commented on #341
Deployed on www. Closing.

[2016-10-17 14:55] #341 closed

[2016-10-17 14:56] pkdash commented on #299
@dtarb Should this be closed?

[2016-10-17 14:57] pkdash commented on #365
@hyi Is this still an issue?

[2016-10-17 14:59] pkdash commented on #278
@dtarb Is this still an issue?

[2016-10-17 14:59] hyi commented on #365
@pkdash Yes, I have not worked on this. I cleared the milestone and it is already on the backburner.

[2016-10-17 15:15] yirugi commented on #299
@pkdash I actually have been waiting for this. So, Is the /scimeta for SWATModelInstance working on the live site now?

[2016-10-17 15:52] pkdash commented on #299
@yirugi The GET /scimeta/{pid} has been implemented and should work for any resource type. Though the PUT /scimeta/{pid} has been implemented I am not sure if it works for your resource type.

[2016-10-17 16:15] dtarb commented on #1052
Closing as do not want to undertake a resource landing page redesign.  Could re-open with specific suggestion for how and where if you want.

[2016-10-17 16:25] dtarb commented on #485
@alvacouch please consider the best solution to this functionality in API work

[2016-10-17 16:27] dtarb commented on #278
@danames and @zhiyuli please make sure this is considered together with #1450 and then prioritize or close as appropriate

[2016-10-17 16:30] dtarb commented on #20
@alvacouch please figure out what to do with this.

[2016-10-17 16:46] yirugi commented on #299
I just confirmed the API worked. I think you can close this issue.

[2016-10-17 16:51] pkdash commented on #299
@dtarb As suggested by @yirugi I think you can close it.

[2016-10-17 17:07] gantian127 commented on #400
@pkdash I think most of the items have been implemented by supporting the OPeNDAP service. The first item "hydroshare metadata writing back to .nc file" is not implemented yet.

[2016-10-17 17:31] jsadler2 opened #1500 "Implement delete function for swat model instance"
The modflow model instance has a 'delete_if_empty' function that would be useful for the swat model instance as well.

[2016-10-17 21:43] danames commented on #278
This issue is a bit out of date and has been replaced by an approach described in issue #1450. I'm also adding a comment to #1450 to make sure we refer to any useful issues - for example, the idea of pointing the geoserver directly at the iRODS data set via fuse or some other method.

[2016-10-17 21:43] #278 closed

[2016-10-17 21:52] danames commented on #1052
I'm reopening this with a specific redesign suggestion. Just move the tabbed map of extents to the top right as shown in this mockup:

![image](https://cloud.githubusercontent.com/assets/3472628/19457041/bd342220-9481-11e6-965a-3d9fddd4b0a6.png)

[2016-10-17 22:12] danames commented on #1025
This visualization file would need to be implemented by @gantian127 before it can be implemented in HydroShare GIS. I am closing this issue as it is a bit out of scope and we should focus on the general implementation of all geospatial resources as OGC services.

[2016-10-17 22:12] #1025 closed

[2016-10-17 22:14] danames commented on #1030
This is still relevant. @shawncrawley please remove the restriction on script resource file extensions. We should allow any text file to be uploaded as a script. The extensions will only matter when a specific app is trying to open the script - so type checking can happen on the app.

[2016-10-18 17:35] mjstealey opened #1501 "Add federated Docker instances of iRODS hydroshareZone and hydroshareuserZone"
Generate two new Docker containers each running iRODS v.4.1.8 and federate them.
- [x] add `irods` directory to repo
- [x] **use-local-irods.sh** script to create federated local hydroshareZone and hydroshareuserZone
- [x] **use-local-irods.env** file to define iRODS variables
- [x] helper scripts to be defined for updating **local_settings.py**, etc.

[2016-10-19 15:26] ChristinaB commented on #1457
My current suggestion is to use this example (http://help.osf.io/)  that does not require any user interaction. Most help pages that I researched (and Jeff suggested) are populated by user interactions with customer service departments that grow as users have issues and questions.

The OSF Framework is the closest Help resource to the help we can currently provide, so I suggest using infographics

[2016-10-19 15:48] #1406 closed

[2016-10-19 15:49] ChristinaB opened #1503 "Folder appearance of file types"
@mauriel133 @horsburgh (I don't think I have permissions to assign issues, so I am just mentioning you)
I suggest making a list of file types and adding, for example, an orange color that resembles the icon for Jupyter notebook, similar to the green X for Excel.

![image](https://cloud.githubusercontent.com/assets/4108369/19526166/685720e2-95d8-11e6-8fcb-e53ae4d25a24.png)

IN this example,
https:/

[2016-10-19 15:52] mjstealey commented on #1503
@ChristinaB - You should have a pending invite to the extension developers group which would give you permission to assign people.

![screen shot 2016-10-19 at 11 51 06 am](https://cloud.githubusercontent.com/assets/5332509/19526438/752630be-95f2-11e6-81e9-d37de76cbf7c.png)

[2016-10-19 17:20] dtarb commented on #1184
This is good.

[2016-10-19 17:20] #1184 closed

[2016-10-19 17:23] dtarb commented on #1474
This can be closed when the fix is deployed and checked on beta or www.

[2016-10-19 17:27] dtarb commented on #1076
Messages are appearing in edit mode so closing.

[2016-10-20 00:09] dtarb opened #1504 "Links under names of pending members in groups should be set to their profile"
The links under names of pending group members should go to their profile.  Right now it just goes back to the group.  Also, as an enhancement consider putting dates next to the pending requests/invitations so we know how long they have been sitting there.

[2016-10-20 00:12] dtarb opened #1505 "Order recent activity in groups from last to first"
Recent activity in groups right now starts from resources that are quite old, but scrolling down you can see recent resources added.  I think that the latest should be listed first to see recent stuff.

[2016-10-21 13:10] jsadler2 opened #1507 "unit test for post_metadata_update receiver implemented in model instance resources"
We need to write a unit test for the post_metadata_update receiver that has been implemented in SWAT Model Instance (#1371) and MODFLOW Model Instance (#1471) resources.

[2016-10-22 01:45] mjstealey commented on #1501
@hyi - I'd be curious to have you deploy this locally to see if you get the same results. All appears to stand up as expected, but there is an iRODS error related to the paramiko section when creating the federated user account. I've added a note about this in the README.md file that accompanies the work. Hopefully we can debug this next week.

Reference [1501-docker-irods](https://github.com/hydr

[2016-10-22 01:52] hyi commented on #1501
@mjstealey Thanks. Will do next week. I suspect the paramiko ssh execution for creating irods user account may be related to the iRODS service account authentication via remote ssh session. In the worst case, we may just create an iRODS rodsadmin user which has been iinit'ed to be associated with the linux user used to do ssh. I have a feeling that should work. We can debug and try it out next wee

[2016-10-22 20:34] mjstealey commented on #1501
@hyi - issues resolved. Came down to "1247" vs 1247 for an iRODS port declaration and the proper resolution of the resource definition in the users zone. I had a malformed resc_net and resc_def_path pair.

[code]

PR coming shortly

[2016-10-27 13:46] dtarb opened #1511 "HydroShare GIS Add From Local File"
The button in HydroShare GIS to Add Local File does not work.  A green message "error" flashes and the spinning wheel continues indefinitely.

[2016-10-27 13:48] dtarb opened #1512 "Mulidimensional resource opendap service creation should be asynchronous"
Clicking on the button to make a multidimensional resource public results in a long delay while the hyrax opendap service is set up.  This activity should be asynchronous so that there is not a delay.

[2016-10-27 15:19] alvacouch commented on #1484
@pkdash @hyi
These are mostly addressed by #1496 fix REST API.
I changed the main patterns to [0-9a-z-]+ because this is what the uuid package is generating.
This is a string consisting of choices of 0-9, a-z, and '-', with at least one character.

I did not fix the private strings  or the filename strings yet. All in good time.

@hyi to fix the filename patterns I need to know what your iRODS mod

[2016-10-27 15:40] alvacouch commented on #1484
@hyi @pkdash @dtarb
Perhaps a deeper question is at which level we should make the check: application or URL pattern. The above pattern will reject all references to malformed filenames as "not found". You might want to tell the user that they are malformed, instead.

The absolute minimum pattern on the filename should prevent security problems. If someone is trying to hack us, they should get a "

[2016-10-27 15:44] alvacouch commented on #1484
@Horsburgh Is there any reason that a user should be able to create a resource file whose name begins with '.'? This is a hidden file in Linux. I want to prevent these, but am checking with you as to whether you can foresee any situation in which we'd want to create such files..... Thanks!

[2016-10-27 15:45] sno036 opened #1514 "User name issues"
Users can create a user name at the sign up stage that is later determined to be invalid when the profile is edited.  Specifically in my case this was using a "." in the user name.

[2016-10-27 15:48] alvacouch commented on #1484
@dtarb @hyi @pkdash This may be low priority of itself, but because it is a prerequisite for a high priority task (folders in REST), I must treat it as such.

[2016-10-27 15:51] yirugi commented on #299
Hi, I just found a bug for the creating SWATModelInstance and REST API /scimeta.
After new SWATModelInstance resource is created, if I try to set resource specific metadata using /scimeta API, it fails.

I found that when new SWATModelInstance resource is created, it says :

"Now that your resource has been created the following metadata are still required to publish it or make it public or discov

[2016-10-27 15:53] alvacouch commented on #1484
@pkdash @hyi @dtarb @horsburgh
For now, unless anyone has any objections, I am going to replace the filename pattern in urls.py and resourcefile_urls.py with `([^./][^/]*/)*[^./][^/]*` and run with that one. This prevents security problems but places the weight of enforcing filenames with the application. The current pattern [^/]+ doesn't allow folder actions, and the alternative .+ (accept anythi

[2016-10-27 15:57] pkdash commented on #299
@mohamedmorsy Can you look into it?

[2016-10-27 16:05] mohamedmorsy commented on #299
@pkdash Will do

[2016-10-27 16:07] alvacouch opened #1515 "Updates to REST interface"
This is a catchall issue that documents several needs in REST other than folders (issues #1484 and #1495).
These include:
1. Completing the REST API according to the API documentation.
2. Modifying interfaces (in code and documentation) to capitalize upon REST best practices and Django capabilities.
3. Adding new functionality as documented in recent conversations.

[2016-10-27 16:09] horsburgh commented on #1484
@alvacouch - I cannot think of an instance where the user would want to create a resource file that begins with a '.' - I think it's OK to prevent this.

[2016-10-27 16:36] horsburgh opened #1517 "Discover Page: Add "Published" as a value under the "Filter by Availability" facet"
This would help in limiting search results to include only formally published resources.

[2016-10-27 17:32] pkdash commented on #1484
@alvacouch Is this mean we also need to put similar filename restriction for file upload and file rename?

[2016-10-27 20:32] pkdash commented on #1477
@dtarb and @gantian127  Since I am implementing raster file type within a new resource type - Composite Resource, I am assuming that each raster file type needs to have the required metadata elements before a resource can be made public.

[2016-10-27 20:39] dtarb commented on #1477
Yes, I agree.

[2016-10-27 20:47] dtarb commented on #1484
I have several folders on my computer with files named .Rdata and .Rhistory in them where R keeps its workspace and history information.  These are "hidden" files but one could conceive of a desire to want to zip up the folder with these files in them and share in HydroShare, and one could conceive of that zip file being unzipped in HydroShare.  Then what happens?  For what it is worth, Drop box h

[2016-10-28 00:09] alvacouch commented on #1484
@pkdash Yes, we need symmetry between upload and download. Branch #1515 contains new file paths and they are working.

Note, also, that **we also need an API change for file upload.** We currently have no way to specify the path for a file during upload, and we assume that the path is the original name of the file as documented in the POST, at top level. The obvious thing is to utilize the same pa

[2016-10-28 00:20] alvacouch commented on #1484
@dtarb I can make the restriction without blocking .Rhistory by utilizing a NULL URL rule, i.e., a URL that **always** sends a "not found" error. If that is needed, I can do it. But it's a bit ugly.

A URL pattern has to be something that matches. In this case we want to reject anything with a specific pattern in it. So we have to match that and then reject it.

Pattern is `^resource/(?<pk>[a-zA-Z

[2016-10-28 05:32] dtarb commented on #1484
@alvacouch while I mentioned .R* files I do not want this to hang us up.  We have to be practical and I can live without them.  It was just an answer to the question about files that begin with .  However there is another vector for files to get into the system and that is in a zip file that is unzipped.  So it is not only downloads and uploads that have to be checked.  If a file with a disallowed

[2016-10-28 12:24] alvacouch commented on #1515
A brief list of REST deficiencies to be fixed first:
1. Expose access control fully via REST.
2. Expose groups and group actions fully.
3. Expose folder actions when iRODS folder API is present.
3. Eliminate file URLs in resourcemap.xml containing the /data/ prefix; replace with /files/ prefix that does the same thing. Eliminate references to all URLS in resourcemap_urls.py and delete file. This i

[2016-10-28 13:46] dtarb commented on #1515
@alvacouch I am worried that number 4 above is a data model change that may have further implications and would like @horsburgh to comment on whether it is needed and consistent with the data model.

[2016-10-28 15:16] horsburgh commented on #1515
@dtarb and @alvacouch - there are some considerations with number 4. Technically, as long as the URLs in the resource map resolve to the actual files, we should be OK. But there may be some confusion about why the URL path has "/files/" in it when the actual physical structure of the resource has "/data/" in it. Not sure why this change is needed?

Also, related to 6 - I think this is probably OK

[2016-10-28 17:01] pkdash commented on #1515
@alvacouch Not sure if item#6 covers resource metadata update. If not then that needs to be of higher priority than the REST end points for group actions.

[2016-10-28 19:00] jsadler2 commented on #299
@pkdash, @yirugi we tested this on the GUI and the functionality for adding a ModelObjective and it showing up in the XML file is working as expectd.
@yirugi could you clarify exactly what you are doing with more detail? Are you creating the resource via the REST API? Are you updating the metadata using the REST API? If you are using the REST API, could you send us the request content that you are

[2016-10-28 19:07] hyi commented on #1484
@alvacouch The resource file url is formed corresponding to our resource bag file hierarchical organization in the format of ```<res_id>/data/contents/<file_name>```, ```<res_id>/data/contents/<file_relative_path>/<file_name>```, ```<res_id>/data/resourcemap.xml```, etc. The view function first split the path to find the ```<res_id>``` then check whether this resource guid exists in our system or

[2016-10-28 19:58] yirugi commented on #299
@jsadler2 Thank you for testing! But I wanted to say that the problem is about missing default ModelObjective tag  right after creating a resource.

To reproduce the error,
1. Create new SWATModelInstance
2. Download its' resource metadata
3. Check if there is <ModelObjective> tag

For example, I have created a resource :
https://www.hydroshare.org/resource/e7844164b0a3480099513e81f25432e8/
Then d

[2016-10-31 15:26] jsadler2 commented on #299
@yirugi the modelobjective tag does not appear in the GET /scimeta XML document right after creating the resource, because there is no modelobjective. If the tag were there, the field would be empty. This is true for all resource specific metadata elements, if the field is empty, the tag is not included in the XML. Are you saying that you think the tag should be there even if the field is blank?

[2016-11-01 04:29] pkdash commented on #1477
@dtarb Is there any restriction what type of coverage be allowed for Generic File type? At the resource level we have 2 types of coverage - temporal and spatial (box or point).

[2016-11-01 12:24] dtarb commented on #1477
There is a simple option and a general option.  I am OK with going with the simple option first but would like @gantian127 to scope out and specify requirements for the general option which would handle generic file types the same as raster and feature file types.

The simple option is that it should be exactly the same as what is currently used for Generic resources.  This is a point or a box tha

[2016-11-01 12:47] dtarb opened #1518 "Resolve discrepancies in coordinate system and projection metadata"
- In the resource level coverage element we use the term 'dcterms:box'.  In the spatial reference metadata element for geographic features and rasters we use the term 'hsterms:box'.  It seems that if there is a dcterms:box we should be using it and not creating our own term.
- In geographic raster resource spatialReference metadata we use metadata like "projection = NAD27 / UTM zone 12N Transverse

[2016-11-01 19:26] yirugi commented on #299
@jsadler2 The reason why I though the tag should not be empty is this. if the tag is not available, the /scimeta/ API does not work. If the tag is available (even blank), the API works fine.
If the API works correctly in any circumstance, the tag would not be problem anymore.

[2016-11-01 22:50] gantian127 commented on #1518
Based on the discussion, the raster resource type and the netCDF resource type will be added with new metadata sub-elements (datum, projection_string) for original spatial reference metadata. This is aimed to keep the consistency with the original spatial reference metadata of the geographic feature resource type.

[2016-11-02 14:55] #1076 closed

[2016-11-02 15:05] #1187 closed

[2016-11-02 15:08] dtarb commented on #977
With 1.8.0 this is deployed so closing.

[2016-11-02 15:08] #977 closed

[2016-11-02 15:18] #1485 closed

[2016-11-02 15:19] mohamedmorsy commented on #915
This unit tests have been merged to develop

[2016-11-02 15:19] #915 closed

[2016-11-02 15:22] mohamedmorsy commented on #1407
This issue has been resolved. @dtarb could you please close this issue?

[2016-11-02 15:25] mohamedmorsy commented on #580
As this is a question, I am closing this issue.

[2016-11-02 15:25] #580 closed

[2016-11-02 17:02] dtarb commented on #1407
Thanks

[2016-11-02 17:02] #1407 closed

[2016-11-02 19:16] gantian127 opened #1519 "Manual pre-deploy checklist for version 1.8.0"
This is the manual pre-deploy checklist for version 1.8.0.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.
**Please finish checking before Nov. 9t

[2016-11-02 21:44] hyi commented on #1474
Tested on beta with this resource and I can download the file with long file name without issues. So I am closing it.

[2016-11-02 21:44] #1474 closed

[2016-11-03 17:21] gantian127 opened #1520 "Original spatial reference metadata update for Raster resource type"
This is aimed to add new sub elements ( projection_string, datum) of the raster resource type to keep the consistency with the original spatial reference metadata of the other geographic resource type (e.g. geographic feature resource)

[2016-11-03 17:35] AmberSJones commented on #1474
How soon will this be deployed to production? This issue is preventing our widespread use of HydroShare right now.

[2016-11-03 17:37] hyi commented on #1474
@AmberSJones The plan is to deploy the next version (1.8) to production sometime next week.

[2016-11-03 17:58] AmberSJones commented on #1474
Thanks @hyi. We look forward to it!

[2016-11-03 21:13] gantian127 opened #1521 "Failed to show the detailed error info when an invalid resource file is uploaded"
When I upload an invalid raster file to an empty raster resource, the system doesn't show the corresponding detailed error information on the resource landing page.

**On the www site it will show error like:**
![image](https://cloud.githubusercontent.com/assets/5016511/19985335/ce6ab956-a1d7-11e6-8025-0a5ced389eed.png)

**On the beta site, the error detail info is not shown:**
![image](https://cl

[2016-11-03 21:19] gantian127 commented on #1519
@mauriel133 I found an issue #1521 for the file upload of the raster resource type. Would you please have a look at it when you get time? Thanks.

[2016-11-04 04:50] pkdash commented on #1477
@dtarb and @gantian127 I have documented the requirements related to 'Coverage' metadata at the beginning of this issue based on the discussion we had this morning. If I have missed anything, feel free to edit.

[2016-11-04 14:18] dtarb opened #1522 "Direct file downloads in folder interface upgrade"
On the pre-folder interface deployment it was possible to hover over a file download button and see the URL at the bottom of the browser and right click to  copy link location to build direct URL's to files in resources.  This functionality I used in building a web page for my class that used direct links to students work - see http://hydrology.usu.edu/dtarb/giswr/2016/students.html.  In the new f

[2016-11-04 15:28] mjstealey opened #1523 "Collections csv lists, should these exist?"
@zhiyuli - Question regarding collections. We're hitting an error with usage reporting regarding a missing file from collections, but we're unsure if this file should actually exist or not.

Filename: **collection_list_9700b80f5cfa42d4a52c9aaab81a4e11.csv**

Error:
[code]

Files as stored by iRODS:
[code]

[2016-11-04 15:57] gantian127 commented on #1477
@pkdash thank you for the update.

[2016-11-04 16:21] shawncrawley commented on #1157
Some on this checklist require functionality from the hs_restclient that does not currently exist - namely, the ability to update a resource's metadata. That would be required if when saving (updating, not a "Save as" fresh save) the project, the resource's coverage is updated to reflect the map project's extents.

[2016-11-04 16:27] zhiyuli commented on #1523
@mjstealey @hyi
I need some help debugging this error. I could duplicate the error on dev.hydroshare.org. But I could not duplicate it on my local vm.

The csv file should exist on irods. It is a resource file created dynamically (remove any existing and then create a new one) every time when the collection bag gets downloaded. The error seems to suggest a discrepancy between django db and irods.

[2016-11-04 16:53] hyi commented on #1523
@zhiyuli The erroneous resource as shown in the log @mjstealey copied above is https://beta.hydroshare.org/resource/9700b80f5cfa42d4a52c9aaab81a4e11/ which is exactly the collection resource Christina reported the issue with, which I have checked the log and seen the error message indicating failure to update the collection csv file. You can see details in that email thread. That is exactly the is

[2016-11-04 17:53] hyi commented on #1521
@gantian127 @mauriel133 I am working on this issue now. @mauriel133 Will let you know if I need help on the frontend to address this issue.

[2016-11-04 18:10] gantian127 commented on #1521
@hyi Thank you for working on this issue.

[2016-11-04 18:37] Castronova opened #1524 "Stats Command - Resource Details Fails Unexpectedly"
The `resources-details` command fails when querying resource sizes on iRODs.  This error should not cause the query to completely fail, instead the exception should be caught and written to an error log.

[code]

[2016-11-04 19:19] zhiyuli commented on #1523
@hyi  @mjstealey
Currently I have no clue what has happend to this collection......
Could you please go to the django shell of www and dev to check what res files are recorded in db tied to collection 9700b80f5cfa42d4a52c9aaab81a4e11? thanks

[2016-11-04 19:46] hyi commented on #1523
@zhiyuli The res file tied to this collection resource shown in django DB is: 9700b80f5cfa42d4a52c9aaab81a4e11/data/contents/collection_list_9700b80f5cfa42d4a52c9aaab81a4e11.csv. So the csv file is recorded in django DB, but missing on iRODS backend?

[2016-11-04 19:48] hyi commented on #1521
I am closing this issue since @gantian127 has tested on beta and validated it is working on beta.

[2016-11-04 19:48] #1521 closed

[2016-11-04 20:02] zhiyuli commented on #1523
@hyi @mjstealey @Christina
I created a new collection on beta that holds exact the same 2 resources as collection 9700b80f5cfa42d4a52c9aaab81a4e11 does. I could download its bag, and the bag contains csv without any issue.

I am would suggest Christina to make me a owner of this broken collection for research and create a new collection for use.

[2016-11-04 20:04] zhiyuli commented on #1523
@hyi
thanks for checking the backend. Yes, I think that the case. Django has a record of a res file but it is not on irods....

[2016-11-05 14:55] dtarb opened #1526 "Buttons do not activate"
If I open a generic resource with multiple files, switch to edit mode and click on a file such that it is selected (highlighted with light orange box) the buttons (download, delete, rename etc) above the file box do not activate.  They appear to only activate when I right click on the file.  It seems the buttons should be active whenever a file is selected.

[2016-11-05 14:56] dtarb commented on #1519
See #1526 related to buttons activating.

[2016-11-05 15:04] dtarb commented on #1519
I wanted to test whether our apps (such as HydroShare GIS) could find files that are in folders.  However I am unable to test this because when an resource in beta.hydroshare.org is opened with HydroShare GIS App (and perhaps others) it attempts to retrieve the resource from www.hydroshare.org where it may not exist (and if it does exist does not have folders). @danames @zhiyuli @shawncrawley is t

[2016-11-05 15:13] rayi113 commented on #1519
@dtarb Please try it now after refreshing your browser.  I changed Mezzanine "Pages" -> "Apps" to point to appsdev instead of apps on Beta.  Appears to work.  @danames @zhiyuli @shawncrawley @mjstealey

[2016-11-05 15:29] dtarb commented on #1519
@rayi113 that does not solve the problem.  This redirects the Apps tab at the top to Appsdev but does nothing to the app links in the Open with button on specific resources that draws content from the particular app instance resource for each app.  I can and did somewhat painstakingly recreate an app instance with settings the same as the app instance resource pointing to appsdev to try test this,

[2016-11-05 15:32] shawncrawley commented on #1519
@dtarb I know that in order for the apps (such as HydroShare GIS) to act on resources located somewhere other than www (such as beta), the following steps must be followed:

1. Make sure Tethys Platform on appsdev is configured to point to beta by
changing file /usr/lib/tethys/src/tethys_services/backends/hydroshare.py to replace all occurrences of "www.hydroshare.org" with "beta.hydroshare.org" (

[2016-11-05 15:35] rayi113 commented on #1519
@dtarb I understand the issue now better and changed Mezzanine "Pages" -> "Apps" back to point to apps and defer to @shawncrawley solution.

[2016-11-05 15:40] shawncrawley commented on #1519
@dtarb Additionally, each Web App Resource on the HydroShare test server would need to be manually edited to have its app URL endpoint directed at appsdev.

[2016-11-05 16:16] mjstealey commented on #1519
@dtarb, @rayi113, @shawncrawley - There is a deeper context to what is being discussed here and that is code hardening, testability, and robustness for arbitrary deployments. The assumptions made by the apps team have been spot-on thus far as research endeavors, but as we move closer to the end of this funding cycle we'll need to take a close look at what is necessary for a sustainable HydroShare

[2016-11-05 17:04] dtarb commented on #1519
I know that this apps testing is a hard problem, but it is something that the apps team needs to tackle.  I'll put the items Michael listed on the agenda for an upcoming call.  There are two strategies that I think should be considered in app testing.
1. Have an app use the name of the machine that makes a request to it to retrieve content.  This may make apps more robust as they would not have to

[2016-11-05 17:32] danames commented on #1519
Optimally we would NOT Have appsbeta, appsplayground, apps* etc. because of
the huge maintenance effort involved. But rather we should just have 2 apps
deployments. apps and appsdev. We should have a global variable in appsdev
that can be changed to indicate which hydroshare to point at. Then when
someone is testing appsdev, they would send an announcement to the
developer list saying that they ar

[2016-11-05 17:35] danames commented on #1157
Shawn, for the sake of progress, let's close the checklist issue and move
the remaining items to a new issue that we can link to the restclient
issues...

On Fri, Nov 4, 2016 at 10:22 AM shawncrawley <notifications@github.com>
wrote:

[2016-11-05 18:45] zhiyuli commented on #1519
@dtarb @danames @rayi113 @mjstealey @shawncrawley

We already have A and B set up. Do you want to set up C or D, or both?

A) production apps (apps server)  paired with production hydroshare (www)
final production

B) development apps (appsdev server) paired with production hydroshare (www)
test new features/changes of apps by assuming hydroshare is unchanged.

C) production apps (apps server) pai

[2016-11-05 19:06] dtarb commented on #1157
I support closing this after transferring outstanding issues to a new issue.  Also please alert @alvacouch (REST API) and @pkdash (REST client) about additional needs to support these uses.

[2016-11-05 19:18] dtarb opened #1527 "Unnecessary s in bag download message"
See the extra s in the display when making a bag to download on beta.
![untitled](https://cloud.githubusercontent.com/assets/3456833/20032922/41083654-a35a-11e6-8870-7a5b15904af0.png)

[2016-11-05 19:32] dtarb opened #1528 "Creating a new version of a resource fails to transfer folders on beta 1.8.0"
I created a new version of the resource https://beta.hydroshare.org/resource/460efa3d86284035a533162402328785/.  This resource has its files organized into two folders.

The new resource landing page https://beta.hydroshare.org/resource/039d700187fe4b48bc67f1b18d22e2b1/ indicates no content files.

Clicking delete on the new resource results in an error like the attached but does seem to delete th

[2016-11-05 19:43] dtarb commented on #1528
In a further test on versioning I created a resource https://beta.hydroshare.org/resource/e3b96edb6fae44e2808b7fddb188307c/.  I put 9 files in it.  I then created a new version of it
https://beta.hydroshare.org/resource/33a6472f43c7442ea9e1414948afe5bf/
The contents display shows no files, but when I download all contents as a zipped bagit archive I find the previous version as a bag file inside t

[2016-11-05 19:51] dtarb opened #1529 "Folder interface hangs if there are file name clashes"
If I load some files into a resource, then put them in a folder, then out of a zip file get a file name with the same name as a file in the folder and try drag that into the folder the interface results in an indefinite spinning wheel.  I would like it to say that I am not allowed to do that due to overwriting, or give me a warning that I am about to overwrite.  It should not just hang.

[2016-11-06 14:24] alvacouch commented on #1495
@hyi @dtarb @pkdash
Work started in branch "1495-REST-API-for-folders".

To reduce the complexity of use, I plan a stateless REST API for folders. What I mean by this is that folders that are needed are created when named in a path. This means that there will be no separate REST folder create, but there will be a separate REST folder (or object) delete. This is a tradeoff between power and safety:

[2016-11-06 14:47] dtarb commented on #1495
I'd prefer not to be more restrictive on naming than a mainstream system such as linux.  So if it is a legitimate linux folder name, we should take it.  If not, I'd be OK to reject it.  I'd prefer to do this than have to think through all the rules ourselves.

[2016-11-06 15:22] alvacouch commented on #1495
@dtarb But we are allowing some rather clueless things now.

For example, we are mapping the mime type from /etc/mime.types, as a function of the filename. If we allow a folder to conflict with a valid file name, e.g., by ending with a valid file extension, we will have a lot more states to deal with than if we simply avoid that.

This is a question of power versus usability.

1. more power means

[2016-11-06 15:43] alvacouch commented on #1495
As another general comment, I plan to allow recursive hierarchy delete by default. If one creates
cat/dog/foo/bar/baz.csv, and then does a DELETE cat, the whole hierarchy is removed. Again this is a matter of power versus usability. One might argue that it is "too powerful", but I would argue that anyone messing around with the REST API had better know what they're doing beforehand. I certainly **

[2016-11-06 15:57] dtarb commented on #1495
@alvacouch I am OK for you to do whatever you feel is best.  I was thinking of a use case where a model instance is on a Linux computer and has several (hundred) files nested in Linux folders and they all follow Linux rules.  The user zips up the whole thing, loads it into HydroShare and tries to unzip.  We don't want rules we have imposed to limit this.  The same could be said for Windows folder

[2016-11-07 00:27] dtarb commented on #1512
Also assigning @gantian127. Tian, if you know how to do this, it would save Hong some time.

[2016-11-07 00:54] dtarb commented on #1517
same as #1185

[2016-11-07 00:59] dtarb commented on #1080
It seems like this functionality is already in place with Generic Resource holding map project.  So @shawncrawley please close if you agree.

[2016-11-07 01:02] dtarb commented on #1052
Shifting to 1.10.0 release.  We have enough on our plate that this does not have to happen before AGU.  Though if it can, then great.

[2016-11-07 01:07] dtarb commented on #1514
See also #973

[2016-11-07 01:11] dtarb commented on #872
Closing this.  Publication of NWM data is being handled separately and this issue is moot at this point.

[2016-11-07 01:11] #872 closed

[2016-11-07 01:19] dtarb commented on #646
This was fixed a while ago.

[2016-11-07 01:19] #646 closed

[2016-11-07 01:24] dtarb commented on #619
Assigning @danames and @zhiyuli.  This involves simply the ability to save as part of geographic feature an additional lookup table.  I do not think this requires a new resource type.  It is one of the items described in BYU workplan.

[2016-11-07 13:49] hyi commented on #1512
@dtarb @gantian127 I will take care of this. I have an idea to improve the script with two additional input parameters to directly create or remove link for a specific netCDF resource without looping through metadata of all resources to update hyrax server when making a resource public or private. This will allow close to real-time update without much delay without make the script execution as an

[2016-11-07 14:21] alexlemann commented on #268
Example available in the [UI testing branch](https://github.com/hydroshare/hydroshare/tree/268_ui_testing).

@mjstealey Here are my notes for getting this to work on the docker image:
* pip install selenium
* curl -sL https://deb.nodesource.com/setup_7.x | sudo -E bash -
* sudo apt-get install -y nodejs
* sudo npm install -g phantomjs-prebuilt

I'm also running into issues with the ``live_server_u

[2016-11-07 14:35] hyi commented on #1495
@alvacouch @dtarb It looks like linux does not allow to create a directory with the same name as a file in that directory. ```cannot create directory: file exists``` error will be raised if trying to do so. I also tried to make a logical collection in iRODS with the same name as a data object file in that collection/directory, and I got an iRODS exception ```CAT_NAME_EXISTS_AS_DATAOBJ``` So in any

[2016-11-07 16:31] mjstealey opened #1530 "Failed Signup yields wireframe page without styling"
An issue for this may already exist, but could not find it on a cursory search.

If a field is missing or is not entered correctly when the Sign Up button is pressed for a new user account and validation fails, a wireframe page is returned without any of the proper site theming.

![screen shot 2016-11-07 at 11 28 22 am](https://cloud.githubusercontent.com/assets/5332509/20065843/9b652182-a4dd-11e6

[2016-11-07 16:35] alexlemann opened #1531 "Add sample tracking variable (download events)"
Add a new tracking variable for download events. Include the following:
* who did it
* time stamp
* total download size (resource size + federated resource size)
* resource id
* resource type

[2016-11-07 16:47] gantian127 commented on #1512
@hyi Thanks for working on this issue.

[2016-11-07 16:51] shawncrawley commented on #1080
@dtarb Agreed. Though as you pointed out in our meeting, it might be best to implement the "Map Project Resource" as a Composite resource once that functionality is integrated into the hs_restclient. But for all current intents and purposes, this issue can be closed.

[2016-11-07 16:51] #1080 closed

[2016-11-07 17:09] mjstealey commented on #1501
completed and merged

[2016-11-07 17:09] #1501 closed

[2016-11-07 18:45] mauriel133 commented on #1522
@dtarb, how about a right click menu item "Copy file URL"

[2016-11-07 19:00] mauriel133 commented on #1526
@dtarb, I'm trying to replicate this problem. Could you tell me which browser and OS you are using?

[2016-11-07 19:12] mauriel133 commented on #1529
@dtarb, what should be the behavior to resolve name conflicts? Here are a few options I can think of:
- Appending a differentiation to the new file name. For example:

- Replacing the previous file / ignoring the new file
- Canceling the operation and showing an error message

@hyi, I think we need to work on error handling and error notifications with this interface. Can we catch this error, and

[2016-11-07 19:18] hyi commented on #1529
@mauriel133 I am working on this and we are on the same page regarding returning the error messages from back end to front end to show error messages to users. I will let you know if I need help on front end to show error messages, which may already have been taken care of.

[2016-11-07 20:04] horsburgh opened #1534 "Help: Phase 1 Simple Styling Modifications"
@dtarb and @ChristinaB - @mauriel133 and I just met and came up with the following set of things for getting started on the HydroShare help pages. I want to do this in more bite sized chunks, so I've called this issue "Help: Phase 1". Please comment in this issue if you have feedback.

* [x] 1. Modify starting page for help to have help group icons/images (i.e.g, topics) - style these like the "Ho

[2016-11-07 20:12] mauriel133 commented on #1526
I have found the error and will have a fix soon.

[2016-11-07 20:18] hyi commented on #1529
@mauriel133 I have fixed this issue and the front end can show the error message now. However, the spin wheel keeps spinning even after the error is displayed. What I did on front end is to show error messages in this error handler: https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/resourceLandingAjax.js#L642. This ajax call is pushed to the stack here: https://github.com/hydro

[2016-11-07 20:41] danames commented on #1519
Drew, for now let's just permenantly point appsdev at beta.hydroshare.org
resources.

On Sat, Nov 5, 2016 at 12:45 PM Drew Li <notifications@github.com> wrote:

[2016-11-07 20:50] Castronova commented on #1524
This command can not be executed to send results and errors to separate files:

`docker exec -u hydro-service hydroshare python manage.py stats --resources-details 2> res-stats.err > res-stats.log`

[2016-11-07 20:57] hyi commented on #1529
@mauriel133 I created a PR for this. You can work on top of that to address the remaining spinner wheel and interface hanging after errors are displayed.

[2016-11-07 21:59] mauriel133 commented on #1529
I added the necessary events to listen for these errors and set the proper state of the file browser. However, I think the error messages are not very user friendly at the moment.

See error when trying to rename a file to a name that already exists:
![image](https://cloud.githubusercontent.com/assets/2448568/20077715/bd4956ac-a4fa-11e6-8184-02b4acd4f756.png)

I think this could be reworded to som

[2016-11-07 22:22] mjstealey commented on #1529
That error is bubbled up directly from iRODS and basically states that the iCAT database already has a record for a file of the same name in the same location. Standard POSIX enforcement stuff.

We could potentially encounter a whole mess of these kinds of errors as soon as we allow arbitrary renaming and moving of files/folder/etc.

**Suggestion**: For a first pass we may want to keep the bubbled

[2016-11-08 00:25] horsburgh commented on #1534
@mauriel133 and @ChristinaB - Here's a first cut at the help categories/group icons for the opening page of the help pages with a mapping of the existing content to where I think it should go under each major topic. Numbered items would be the main categories/group icons on the first page.

1. Introduction to HydroShare
  * Introduction to HydroShare
2. HydroShare Resource Types
  * Resource Types

[2016-11-08 01:19] hyi commented on #1529
@mauriel133 I agree with @mjstealey. This error message directly comes from iRODS. The top line indicates it failed, the bottom line indicates the exact error message we get from iRODS. I suggest we leave it as is for now, and deal with user-friendlier informative messages later as needed. Alternatively, we may hide this iRODS specific message by default, but add a link worded something like ```er

[2016-11-08 16:36] hyi opened #1540 "URLs encoded for content files in sub-folders in resourcemap.xml are not correct"
This needs to be fixed before 1.8 deploy.

[2016-11-09 01:33] ChristinaB commented on #1534
I think this list is spot on!
@mauriel133
Is it useful for me and @jphuong  to update this moqup with @horsburgh  outline?  and @dtarb edits?
https://app.moqups.com/jphuong/hPfKvNNcT6/view/page/a2dcc2955

I would update it to be very similar to the https://www.hydroshare.org/  landing page, but with 9 infographics that link to content.   If the landing page and help landing page have a similar sty

[2016-11-09 04:19] zhiyuli commented on #1519
@danames
OK. appsdev can authenticate against beta through OAuth now.
![image](https://cloud.githubusercontent.com/assets/10070599/20126600/be69da62-a5f3-11e6-84bc-2b6599563c3b.png)

Next steps:
1) All apps are currently hard coded to read data from www regardless of OAuth sources. We need to make them aware of different OAuth sources from which users have logged in. If the user logs in Tethys fro

[2016-11-09 04:34] dtarb commented on #1528
Testing on the updated beta this has been fixed.  Thank you.  Great Job!!

[2016-11-09 04:34] #1528 closed

[2016-11-09 04:35] dtarb commented on #1527
Fixed in updated beta.

[2016-11-09 04:35] #1527 closed

[2016-11-09 05:28] dtarb commented on #1522
I am OK with that, but it does seem that there used to be a more common web approach that handled things naturally as html links the way browsers commonly work.  Now you are rewriting some of this to work differently.  If either the icon used to show the file, or its name was just made into html hyperlink text with the URL linked you would not have to do the work of building a new right click item

[2016-11-09 05:30] dtarb commented on #1526
Windows 10.  Firefox (49.0.2 up to date).

[2016-11-09 05:35] dtarb commented on #1512
Thanks.  Tested and OK in www hotfix now.

[2016-11-09 05:35] #1512 closed

[2016-11-09 13:47] dtarb commented on #1529
While testing this issue I found the following problems.  Some of these are this issue.  Some may be separate issues.  I am putting them all here, but feel free to break out into separate issues if that is better to manage this.

Note I did this for the following resource

https://beta.hydroshare.org/resource/3927b13e68ae46188f620b0e7f331993/

The file zipFromPC.zip was loaded into the resource
Un

[2016-11-09 14:44] hyi commented on #1529
@dtarb Regarding ```unzipping zipFromPc.zip overwrites text1.txt```, it is working as expected at least from the perspective of iRODS since we passed in a "force-overwrite" flag when doing unzipping. This may sounds inconsistent when we move a file to a folder which contains the same file in which case an error was raised which prevented the move from happening, but that is expected behavior in iR

[2016-11-09 14:46] mjstealey opened #1543 "1.9.0 AGU proposed items"
Edited by @dtarb to distill team requests to a prioritized list (11/10/16).  Original brainstorm list retained in first commend below.

### Essential
#### Core
- [x] Label group deactivation delete #1462 (Pabitra)
- [x] User name issues #1514, #973 (Hong)
- [x] Web app launchable from own landing page (to support discovery of NWM apps) #1465 (Drew)
- [x] Author names to accommodate organizations #

[2016-11-09 15:39] alvacouch commented on #1425
@pkdash does this work? Has the python restclient been updated to access it ? When that is true, feel free to close it.

[2016-11-09 16:07] danames opened #1544 "What does the "map results" radio button do?"
The discover page on BETA has two radio buttons "all results" and "map results".  I clicked "map results" and didn't get any change. What is the purpose of this button? Do we need it? Is it in the right place?

Perhaps when you click the "map results" radio button it should also switch to the map discover tab?  or should this radio button only be available on the map tab?

[2016-11-09 16:09] danames opened #1545 "Need to hardwire beta.hydroshare.org to appsdev.hydroshare.org and vice versa"
Resources in beta.hydroshare.org should launch apps in appsdev.hydroshare.org

Apps in appsdev.hydroshare.org should use resources in beta.hydroshare.org

[2016-11-09 16:16] alvacouch opened #1546 "Data migration needed for iRODS REST API."
A series of changes to the iRODS file interface left stale data in the Django database. The problematic code is as follows:
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L742
In hs_core/views/resource_rest_api.py, the code:
[code]
compensates for stale data in the ResourceFile object.  **Thus, the data in the ResourceFile object is not a definitive repres

[2016-11-09 16:18] horsburgh commented on #1522
@dtarb - If there is a right click required already to get the URL, I'm not sure how this is really different. When I hover over the download link in the pre-folder version (the little circle with the down arrow), I do see the URL at the bottom of my browser. That would be the only thing that has been lost. You have to right click on the download button to get the link anyway.

I think if we added

[2016-11-09 16:23] Castronova opened #1547 "Create Geographic Feature Resource Fails"
I can create a new **empty** geographic feature resource using the `hs_restclient`, but I not with files.

For example, the following code creates a new GeographicFeatureResource and then attempt to add files to it.
[code]

[code]

This also fails when trying to create a Geographic Feature Resource using a shapefile archive.

[2016-11-09 16:28] Castronova commented on #1547
This may have something to do with the app trying to parse metadata from the uploaded files.  We currently cannot upload multiple files at once using the rest api, i.e. they must be added on at a time.  Implementing multiple file upload during resource creation could potentially fix this issue.

[2016-11-09 16:31] alvacouch opened #1548 "Multiple resource file endpoints should be consolidated"
There are currently three distinct undeprecated REST ways to access a resource file individually:

1. /resource/{resource-id}/files/{filename}
2. /resource/{resource-id}/data/{filename}
3. /resource/{resource-id}/data/contents/{filename}

We need to standardize on one of these. Further, the first one is the documented solution, while the second one is now used in each individual resourcemap.xml an

[2016-11-09 16:33] horsburgh commented on #1529
@dtarb - the cut and paste of files within the hierarchy is necessary now because we only have a simple list view and an icon view. I think this is sufficient for the first round of functionality.

For the next round, should we consider an expandable tree-like list view to better enable this? For example, something like:

![image](https://cloud.githubusercontent.com/assets/3485902/20145956/39f025e

[2016-11-09 17:12] mohamedmorsy commented on #1371
@zhiyuli this should be solved now on beta.hydroshare.org.

[2016-11-09 17:20] jsadler2 commented on #1471
This issue was resolved and the code was pulled into the develop branch

[2016-11-09 17:20] #1471 closed

[2016-11-09 17:20] #1371 closed

[2016-11-09 17:33] mohamedmorsy commented on #1519
MODFLOW model instance does not have " open with JupyterHub" like the other model instances

[2016-11-09 17:49] jsadler2 commented on #299
Hi @yirugi, I understand now what you mean. But I cannot replicated the problem. If I make a SWATModelInstance resource and immediately make the /scimeta/ call, it works fine for me even without a model objective. I've attached the file that downloads from the call https://www.hydroshare.org/hsapi/scimeta/af330231d4d240ad949c59efdf9f3ed3/ (this is a resource I made to test this behavior).
[resourc

[2016-11-09 17:59] jsadler2 opened #1550 "Implement delete_if_empty for StudyArea class in MODFLOW"

[2016-11-09 18:06] jsadler2 opened #1552 "SWAT MI, comma shows up if other objective is present without any of the checklist checked"

[2016-11-09 18:41] ChristinaB opened #1554 "HydroShare Landing Page Update before AGU"
The HydroShare home page (www.hydroshare.org) needs to have more visibility for the Sign Up, What you can do, and How it Works so they can be seen from a mobile phone/small screens without scrolling.

@mauriel133 @horsburgh @dtarb
At AGU - the laptops and mobile phones will be the main entryway for new users to HydroShare.

More specific details or ideas to approach this:
Smaller picture
More prom

[2016-11-09 19:21] hyi commented on #1540
Tested on beta and everything works as expected now. Closing.

[2016-11-09 19:21] #1540 closed

[2016-11-09 19:30] hyi commented on #1548
@alvacouch REST API URL for accessing files, /resource/{resource-id}/files/{filename}, does not resolve from a browser, but No. 2 and No. 3 in your list resolve to file download directly from a browser, which were added to meet the requirement that URIs in resourcemap.xml must be resolvable. I may misunderstand what it meant in No. 2 "Migrate the individual resourcemap.xml files to contain that fo

[2016-11-09 19:46] AmberSJones opened #1555 "Add Project/Organization Branding to Resource Pages"
We have had requests for adding branding to HydroShare resource landing pages. We want to be able to have some project-level branding so that we can easily identify that a resource was paid for, created by, and is associated with a project or an organization. Perhaps similar to the addition of a funding agency but with recognition in a prominent position on the resource landing page.

[2016-11-09 21:09] horsburgh commented on #855
I see that this issue is slated for Release 1.9.0. Organizations as an Author is something we really need for our iUTAH datasets, so I'm hoping it can receive some attention.  This issue is the same as or at least related to #1360 and #1310.

I think the "enhancement" tag is incorrect. One can add an organization as the Author but it gets abbreviated like a person's name and is displayed incorrect

[2016-11-09 21:14] pkdash commented on #855
@horsburgh I will be helping @mohamedmorsy to implement for release 1.9.0.

[2016-11-09 22:45] pkdash commented on #1519
@dtarb and @alvacouch Not sure how I should be testing the issue#1424. Since the rest client has  not been updated to use this new endpoint, I can test the rest endpoint directly. If we can wait until this Friday, I am be able to update the rest client to test this.

[2016-11-10 03:54] horsburgh commented on #855
@pkdash and @mohamedmorsy  - thanks. Glad this is going to get some love.

[2016-11-10 16:55] mjstealey opened #1557 "MODFLOW model instance resource - name file enforcement restricted to .nam"
Should this be extended to other common extensions such as **.mfn**?

Presently the name file must be formatted with a **.nam** extension, and unable to be made public until a file with such an extension exists. This limits resources that use other common conventions such as **.mfn** to remain private until such time that a **.nam** file exists.

![screen shot 2016-11-10 at 10 00 13 am](https://cl

[2016-11-10 17:15] mohamedmorsy commented on #1557
@mjstealey This is a good point. The .nam is the control that includes the name of all packages that are required for specific simulation. If you are running the MODFLOW directly without using any GUI or commercial program like GMS, which is the case here that most of the MODFLOW users using the MODFLOW directly without any packages like GMS, the .nam file is used. The .mfn is the MODFLOW name fil

[2016-11-10 17:20] dtarb commented on #1519
@pkdash did you mean #1425.  A REST call such as https://beta.hydroshare.org/resource/3927b13e68ae46188f620b0e7f331993/data/resourcemap.xml retrieves  the file, so this seems to be working.  Also a check on a private resource without being logged in results in a forbidden error which is correct, and a check with an incorrect GUID results in a not found error, also correct.  I think this is suffici

[2016-11-10 17:46] pkdash commented on #1519
@dtarb Direct REST call for retrieving resource map xml document:
https://beta.hydroshare.org/hsapi/resource/3927b13e68ae46188f620b0e7f331993/map

[2016-11-10 17:53] mjstealey commented on #1557
@mohamedmorsy

Have been working with the docker-modflow implementation and have examples that run as expected, but declare the name file as something like.

file: **bbottoms_tr2.mfn**
[code]

When implementing these as a MODFLOW model instance resource I'm unable to set them to public due to the **.nam** check.

From what I understand the name files can have basically any extension, so I'm wonder

[2016-11-10 17:58] mohamedmorsy commented on #1557
@mjstealey As long as these are the most popular extensions for the name file we can add both of them to the check at the beginning. This should be a simple fix. Could you please send me an example with all files for a specific instance to work on. Thanks for finding this!

[2016-11-10 18:15] dtarb commented on #1519
@mohamedmorsy  the "Open with" functionality is not code related.  It is set by the owner of the web app resource.  In this case Dandong Yin owns the JupyterHub-NCSA resource https://beta.hydroshare.org/resource/80d9f3b4bc914628a2d1df4ebebcc3fd/ that can open raster and generic resources, and @Castronova owns JupyterHub-USU https://beta.hydroshare.org/resource/c14f0964c3d34449becda723f3ffa3a3/ set

[2016-11-10 19:04] Lizabrazil opened #1558 "Description of Apps"
Add a description of what each App does.

[2016-11-10 19:07] #1558 closed

[2016-11-10 19:09] Lizabrazil opened #1559 "Description of apps"
Add a description of all apps to the help page.

[2016-11-10 19:14] Castronova commented on #1519
@dtarb @mohamedmorsy @zhiyuli   The **MODFLOW** model instance is not listed as resource type that can be selected on the **WebAPP** edit page, see screenshot below from the *JupyterHub-USU [beta]* resource:

![image](https://cloud.githubusercontent.com/assets/4822372/20190493/a33bf150-a74f-11e6-891a-3e1f4e609585.png)

[2016-11-10 19:24] Lizabrazil opened #1560 "Add functionality description of apps to help page"
Add description of functionality for apps to help page

[2016-11-10 19:33] Lizabrazil opened #1561 "Add explanation to Help page landing page"
"When you use HydroShare in new ways, Help HydroShare." If you want to link to a Christina's page, you need an explanation of why you are directing users there. Is it because Christina is the point of contact for help questions? If so, say that before redirecting.
![help page](https://cloud.githubusercontent.com/assets/13852599/20191244/add04460-a752-11e6-9a6f-900c435ee187.JPG)

[2016-11-10 19:50] xuezhaokun opened #1563 "Ambiguity for "map results" on list view"
The options for "map results" and "all results" are really confused to people. We are going to remove this feature for AGU.

[2016-11-10 20:29] dtarb commented on #1522
I am OK with either of these as a solution.  I do worry though that this is functionality that the browser used to do and now we are taking on the burden of having to do it ourselves for all browsers we support.

[2016-11-10 20:35] dtarb commented on #1555
I would be supportive of having each resource hold a logo file that gets displayed somewhere near top right of the landing page.  I think we need a pass at redesigning the landing page after the AGU release to accommodate this issue and the coverage map issue #1052.  Assigning both of these as medium priority and to release 1.10.0

[2016-11-10 20:36] dtarb commented on #1052
See #1555 to implement at the same time this is done.

[2016-11-10 21:45] ChristinaB commented on #1561
Hi Liza - this page is getting totally revamped ASAP by @mauriel133 based on something like this moqup This is the link that can be edited. https://app.moqups.com/jphuong/hPfKvNNcT6/edit/page/a35efcbed
I'll ping you on Jeff's list that will be used to update this in a different issue.
Christina

[2016-11-10 21:48] ChristinaB commented on #1534
Heads up @Lizabrazil
Here is some information you should be aware of for helping with help.
We can discuss this tomorrow in the phone call.

Hi @mauriel133
Let us know your timeline on Help page work (or if folders are still in your radar).
Christina

[2016-11-10 22:06] ChristinaB commented on #1534
@horsburgh  - I think the first list you have is sufficiently clear, my only concern is with the question about what to do with the navigation. If you click into the subject icon, the user next see the list of topics within that heading. They can navigate out/back using a top navigation.   This means there will be no left navigation. Correct?

[2016-11-10 22:08] horsburgh commented on #1534
@ChristinaB - Correct.

[2016-11-10 23:54] mjstealey commented on #1557
Email sent with examples attached.

[2016-11-11 03:02] dtarb opened #1565 "Add capability for a user to delete their account"
If a user tries to delete their account while they still own resources this should be prevented with a message that says they have to first delete or transfer ownership of their resources to other users before deleting the account.

[2016-11-11 03:20] dtarb opened #1566 "Implement file quota"
State the following policy on a policies page in pages.hydroshare.org, and implement it on the backend.

Each user receives automatically an allocation of 20 GB of space for their resources when they sign up.  Users who need more space should contact one support@hydroshare.org and explain who they are and why they need more space.  This request can be quite short and all reasonable requests will b

[2016-11-11 03:26] dtarb commented on #1555
Look also at #518 when redesigning landing page.

[2016-11-11 03:40] dtarb opened #1567 "Jupyter notebook quality check"
The public jupyterhub deployment Jupyterhub-NCSA on hydroroger needs testing that each script from the 5 given runs beginning to end automatically without problem.  See also https://github.com/hydroshare/hydroshare-jupyterhub/issues/4.

[2016-11-11 03:47] dtarb opened #1568 "Square up group icon layout on Collaborate page"
Make groups icon layout equal height/width.

[2016-11-11 03:48] dtarb opened #1569 "Square up app icon layout"
Make icon height/width more consistent.

[2016-11-11 03:52] dtarb opened #1570 "Reference time series rework"
Based on discussions with @danames reference time series are being reworked to have a json file hold the reference information, to accommodate better integration with logically typed file resources.  I'm putting this on the 1.9.0 milestone.

[2016-11-11 03:54] dtarb opened #1571 "Add reference time series logical file type to composite resource"
Here are the requirements for this file type as discussed with @alvacouch and @dtarb and Matthew on 3/31/2017:

1. This file type will contain only one json file
2. This json file needs to be validated (initially will do some minimum validation)
3. No metadata editing is allowed except the editing file level key/value metadata
4. The content of the json needs to be displayed as part of the file ty

[2016-11-11 03:57] dtarb opened #1572 "Add multidimensional logical file type to composite resource"
Do for multidimensional files what has been done for raster files - see #1477

[2016-11-11 03:58] dtarb opened #1573 "Add time series logical file type to composite resource"
Do for time series files what has been done for raster files - see #1477

TODO:
- [x] SQLite file to be set as time series file type
- [x] File level metadata view
- [x] File level metadata edit
- [x] File level metadata changes to write back to SQLite file
- [x] XML metadata to include file level metadata
- [x] Unit tests related to file type based on SQLite file
- [x] CSV file to be set as time

[2016-11-11 04:22] dtarb commented on #1387
@ChristinaB please check if this is still an issue.  Right now under related resources tab there is an implementation of a list that says "This resource belongs to the following collections".  Please close this if you are satisified.  If you would like further enhancements, please put them in a separate issue then close this.

[2016-11-11 04:30] dtarb commented on #965
Closing as I think this has been satisfactorily implemented.  @danames or @alvacouch feel free to reopen, or better yet state a new issue if there are unmet needs from this.

[2016-11-11 04:30] #965 closed

[2016-11-11 04:34] dtarb commented on #1020
Seems to be working as intended so closing.

[2016-11-11 04:34] #1020 closed

[2016-11-11 04:37] dtarb commented on #758
Redirect is working.

[2016-11-11 04:37] #758 closed

[2016-11-11 04:40] dtarb commented on #544
Closing this.  I think file name clash handling is OK and this is pretty stale.  If the issue comes up again, we can open.

[2016-11-11 04:40] #544 closed

[2016-11-11 04:49] dtarb commented on #1543
Original brainstorm list

This release to focus on functionality for AGU 2016.

Christina
- [ ]  Wants to be able to invite non users to be owners of resources. (Issue #)  DGT.  Needs significant machinery.  Too much.
- [ ] Possibly add to manage access a get shareable link to send. (Issue #).  DGT.  Too major a change.  Defer.
- [ ] Through OAuth use Google accounts.  (Issue #).  DGT.  Too major

[2016-11-11 04:52] pkdash commented on #1573
@dtarb I don't think we can implement time series file type for release 1.9.0. Among all file types, this one is going to be most challenging.

[2016-11-11 04:57] dtarb opened #1574 "Advisories on home page"
Add the capability for display of an "Advisory" of down time for scheduled (or unscheduled) maintenance on the home page.  Advisories should cover components attached to HydroShare such as apps, jupyterhub systems and CyberGIS.

[2016-11-11 05:52] danames commented on #1543
I just added #1563 to essential list to help de-confuse our users.

[2016-11-11 05:55] danames commented on #1571
This should be easy since referenced time series is now represented by a simple JSON file. An example such file is attached here. Note that the actual resource will have extension is yet to be determined. We may want to use ".json.refts" to help apps understand it.

[timeseriesLayerResource.json.txt](https://github.com/hydroshare/hydroshare/files/585088/timeseriesLayerResource.json.txt)

[2016-11-11 05:56] danames commented on #1570
Example json file. Actual file extension will be different. Maybe .json.refts
[timeseriesLayerResource.json.txt](https://github.com/hydroshare/hydroshare/files/585090/timeseriesLayerResource.json.txt)

[2016-11-11 05:57] danames commented on #1569
The simple solution to this is to use a consistent name and icon size for each app so that they naturally are the same size. Forcing irregular sized boxes into a grid layout would require a negotiation with the Tethys team which is resistant to the idea, citing other web apps and sites that allow sizes of icons to vary.

[2016-11-11 05:59] danames commented on #1569
@zhiyuli Drew, can we easily change the names and icons of our apps to a standard size so that the apps in the portal are laid out more consistently? Can we assign this to Tylor who is just joining our lab now? Will you please talk to him about it?

[2016-11-11 13:16] alvacouch opened #1575 "Using delayed commitment semantics to improve performance."
@pkdash @dtarb There is a conflict in the REST API between "instant gratification" and performance, in the sense that every small edit of resource metadata triggers a **resource commitment**, in the sense that the resource metadata files need to be rebuilt. This wastes a lot of time and really should be done asynchronously. This means that if the intent is to edit a lot of metadata, **each individ

[2016-11-11 13:32] dtarb commented on #1575
What are the UI implications of delayed commit.  There is a save button for editing each field.  I'd prefer for a user not to have to do any extra commit button pushes on the interface, but am OK aggregating all edits to one save button.  As long as this is clear and simple for a user I am OK with delayed commit.

[2016-11-11 14:01] alvacouch commented on #1575
@dtarb This is not a UI issue because when the user presses "save", that is the same thing as a commit.  The number of commits that can be generated by the UI is thus bandwidth limited by the speed of the UI, i.e., about 1 per minute. This is acceptable.

In the REST interface, however, it is possible to generate requests far faster than the UI, which leads to the commit storm I am trying to avoid

[2016-11-11 14:19] alvacouch commented on #1575
Understanding queue contraction:

* suppose we make a flurry of 100 requests **for the same resource** and commit them all. The celery queue then contains
`{c1}, c2, c3, c4, c5, .... c100`
where celery is processing c1. This takes a long time, in which c2, ..., c100 were queued.
* The queue system realizes that c2, ... c99 are redundant and cancels them. Thus, the queue now contains
`{c1}, c100 `

[2016-11-11 14:26] alvacouch commented on #1575
The one downside of delayed commit is that two apps both making changes to the same resource can mistakenly partially commit each other. This will lead to two commits, where the first commit picks up changes from both apps, while the last one picks up changes from both apps. Thus, the first commit is a partial change, and it is possible -- though unlikely -- that someone will fetch the resource in

[2016-11-11 14:27] Lizabrazil commented on #1561
Hi Christina,

It says I am not authorized to edit this project and therefore also not able to view it.

From: Christina Bandaragoda [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 4:45 PM
To: hydroshare/hydroshare <hydroshare@noreply.github.com>
Cc: Liza Brazil <LBrazil@cuahsi.org>; Author <author@noreply.github.com>
Subject: Re: [hydroshare/hydroshare] Add explanation to Help

[2016-11-11 14:27] dtarb commented on #1575
OK.  I am fine with this then.  Thanks for the clarifications.

[2016-11-11 14:29] alvacouch commented on #1575
Queue contraction is much harder to accomplish than delayed commit. I will thus start with delayed commit.

[2016-11-11 15:48] pkdash commented on #1575
@alvacouch I assume the 'delayed commit' refers to regeneration of the metadata xml file and commits to Django database are immediate. If this assumption of mine is correct then I am not sure the need for the celery queue. Currently we regenerate the metadata xml file every time we make metadata change commit to the database. Since we also set the resource AVU to 'modified' at the same time, we ca

[2016-11-11 16:38] Castronova opened #1577 "Enhance session statistics logging"
Include more info in the session statistics logs.  We are currently reporting **timestamp**, **user id**, **session id**, **activity name**, **value type** ,**value**.  We need to add the following:

1. Add user ip address to aggregate statistics based on location
2. Modify **activity name** to include activities other than page *visit*, i.e. resource creation, deletion, download.
3. Modify report

[2016-11-11 16:44] Castronova opened #1578 "Activity (session) by user type"
Create a visualization of user activity defined, by a HydroShare session, aggregated by user type.

[2016-11-11 16:48] Castronova opened #1579 "Resource creation by user type"
We can currently visualize the dates that resources have been created (historically) but we are not tracking the type of user that created the resource.  The stats command needs to be modified to log real-time resource creation so that this visualization can be created.

[2016-11-11 16:58] Castronova opened #1580 "Downloaded resources by user type"
Create a visualization for downloaded resources based on user type.  The stats command needs to be modified to log real-time resource downloads.

[2016-11-11 17:00] Castronova opened #1581 "Activity by location"
Create visualizations for user activity (including resource creation and download) by state and country.  User IP addresses need to be added to the session logging to accomplish this.

[2016-11-11 17:02] Castronova opened #1582 "Visualize resources by sharing status"
Create a visualization for resources based on their sharing status, i.e. public, private, discoverable.

[2016-11-11 17:12] Castronova opened #1583 "WebApp missing supported resource types"
The MODFLOW model instance is not listed as resource type that can be selected on the WebAPP edit page.  To replicate this issue, create a new web app resource, navigate to the edit page, and view the supported resource types list.  The ModflowModelInstance is not listed as an option.

![image](https://cloud.githubusercontent.com/assets/4822372/20223589/577b0454-a808-11e6-9da2-fc44566ea2a3.png)

[2016-11-11 17:12] alvacouch commented on #1575
@pkdash I am concerned that the complete generation of resourcemetadata.xml is too expensive to repeat 1000 times in a minute. What I meant by delayed commit was to write resourcemetadata.xml only upon a /commit operation. This reduces the number of commits to one for a large flurry of requests.

[2016-11-11 17:15] alvacouch commented on #1575
To put this more bluntly, when we enable piecemeal editing of resource metadata,

1. We'll be the first group to do that.
2. We need to be careful that the piecemeal edits don't overwhelm the system.

There is also a similar issue for harvesting file metadata for uploaded files. It would be better not to regenerate resourcemetadata.xml every time we upload a file, but rather, to store the harveste

[2016-11-11 17:23] alvacouch commented on #1575
@pkdash There is also a major issue as to what happens when we ask for a specific file from a resource, e.g., resourcemetadata.xml or resourcemap.xml. In principle, these would be regenerated when the bag is created, but the request isn't for a bag. What happens then? Is there a way we could force an update before fetching the affected file?

[2016-11-11 18:57] Castronova opened #1584 "Statistics support for www and alpha logs"
Modify the logstash parsing configuration to handle both alpha.hydroshare.org and www.hydroshare.org logs.  This can be done by combining the `beat.name` and `logname` fields to create unique elastic search indices.  For example:

**index**: `yesterdays-variables-2016.11.11`

becomes

**index**: `www-yesterdays-variables-2016.11.11` and **index**: `alpha-yesterdays-variables-2016.11.11`

[2016-11-11 21:06] hyi commented on #1575
@alvacouch You can call ```resource_modified()``` which will update both resourcemap.xml and resourcemetadata.xml files.

[2016-11-11 22:05] gantian127 opened #1585 "Failed to create geographic feature resource"
The files are from this resource https://www.hydroshare.org/resource/822fe5a7a83a49668c77a85179c3a7ee/.

The error is shown as below. Thanks for looking into this issue
![v1 ao3 o6x3ete23yl1nw](https://cloud.githubusercontent.com/assets/5016511/20231562/19a9d520-a820-11e6-9373-81cf529504b8.png)

[2016-11-11 22:17] gantian127 opened #1586 "Multidimensional resource type metadata update"
This is aimed to add/update sub elements of the original spatial reference metadata. (datum, projection string)

[2016-11-12 04:20] pkdash commented on #1575
@alvacouch Whenever there is a request to download the bag or one of the metadata xml files, we will check the AVU status of the resource and if it says 'modified' then we need to call the ```resource_modified()``` which should regenerate the metadata xmls files. So instead of calling ```resource_modified()``` on every file upload or metadata edit, we should be calling the ```set_dirty_bag_flag()`

[2016-11-12 12:44] alvacouch commented on #1495
@dtarb @hyi @pkdash
In the interest of getting this going quickly with a minimal rewrite of the code, I have had to make some design simplifications. The existing code assumes that when doing a PUT of a file, the directory already exists. Making the code create that directory is difficult, because REST calls should exhibit **transactional atomicity,** i.e., they should either succeed or not, and n

[2016-11-12 15:01] alvacouch commented on #1495
@hyi @pkdash
I've started writing the above and have found the appropriate routines to write most of it.

One gaps so far: I need to be able to determine whether a particular path is a file or folder. I think this is a matter of calling ils -l and then parsing the output. This will require modifications to django_irods/storage (for general irods objects) and hs_core/views/utils.py (for resources).

[2016-11-13 15:14] alvacouch commented on #1495
@pkdash: where are you storing file type metadata in Django now? There is new code in the iRODS interface that is intended to sweep out folder data from Django, but currently, it only deletes ResourceFile objects for files that iRODs deletes. Will that suffice or is other cleaning necessary?

[2016-11-13 16:01] mjstealey opened #1587 "Update Dockerfile - 1.8.0"
Add xmltodict
`pip install xmltodict==0.10.2`

Update python iRODS client
`-e git+https://github.com/irods/python-irodsclient.git@25512a0fca3eef29cb053d9fb6cf549f0d99985b#egg=python_irodsclient`

Update Django REST 3.5.3 (per email with @alvacouch)
`djangorestframework==3.5.3`

[2016-11-13 16:05] mjstealey opened #1588 "Update Dockerfile - 1.9.0"
@mjstealey Here are my notes for getting this to work on the docker image:

pip install selenium
curl -sL https://deb.nodesource.com/setup_7.x | sudo -E bash -
sudo apt-get install -y nodejs
sudo npm install -g phantomjs-prebuilt

I'm also running into issues with the live_server_url. I'm not sure yet if this is a configuration or docker issue.

[2016-11-13 17:36] pkdash commented on #1495
@alvacouch Though I have not unit tested what happens to the file level metadata when a folder is deleted, I am assuming as part of the folder delete, all files in that folder get deleted. That should cleanup the file level metadata data. The code that I have implemented for cleaning of file level metadata is that if any file (ResourceFile object) in a logical file group (an instance of AbstractLo

[2016-11-13 17:52] pkdash commented on #1495
@alvacouch

I agree to the above approach. More granular level rest endpoints are better as they are more reliable (less likely to fail).

[2016-11-13 22:30] mjstealey commented on #1587
Updated image: mjstealey/hs_docker_base:1.8.0

Output from `run-tests` script

[code]

[2016-11-13 22:33] mjstealey commented on #1587
dockerworker container exits with

[code]

[2016-11-13 22:34] mjstealey commented on #1587
Output of `pip freeze`

[code]

[2016-11-14 12:23] alvacouch commented on #1495
@pkdash : I still don't understand. What happens now is that

1. All files are deleted with the folder.
2. For each file, the ResourceFile object is deleted.

Is there anything else -- other than the ResourceFile object -- that needs to be deleted in Django?

[2016-11-14 12:27] alvacouch opened #1589 "Update Django REST Framework to 3.5.3"
There are bugs in the REST framework version we are using that were addressed in 3.5.0. The current revision is 3.5.3. We should upgrade to that version and then remove the workarounds that we needed to deal with the bugs. These bugs concerned file upload and put limits on file upload capabilities.

[2016-11-14 12:32] alvacouch opened #1590 "Include current python-irodsclient in dev build configuration"
Two years after python-irodsclient became usable, we are still using an iCommands interface to iRODs. The python-irodsclient used in iPlant is now usable and the python-irodsclient methods work roughly **twice as fast** as using iCommands wrappers.

We should include the current python-irodsclient in the build and gradually migrate to using it where practical.

Not absolutely everything can be han

[2016-11-14 13:11] mjstealey commented on #1590
We've been using the older [iPlant python-irodsclient](https://github.com/iPlantCollaborativeOpenSource/python-irodsclient) in our stack for quite some time for various aspects of the project. The version we've referenced has been in play since [Sept 17, 2014](https://github.com/iPlantCollaborativeOpenSource/python-irodsclient/commit/dcd234c166c06bdfc40fa2ef135c2511e0a4e7ac)

iPlant has since beco

[2016-11-14 13:16] mjstealey commented on #1589
In progress over at [hs_docker_base](https://github.com/hydroshare/hs_docker_base/blob/develop/Dockerfile#L80)

[2016-11-14 13:55] alexlemann commented on #1531
Demo up in [1531_demo_tracking](/hydroshare/hydroshare/tree/1531_download_tracking). This, event was (unfortunately) was an existing signal.

[2016-11-14 14:30] hyi commented on #1590
@alvacouch @mjstealey I had consulted with Antoine in iRODS team who is in charge of python irods client when I brought in python irods client into HydroShare and he advised me to use that older version from iplant rather than the iRODS team version due to many upcoming changes being involved in which could result in API changes along the way. In fact, I only used python irods client for listing f

[2016-11-14 14:47] hyi commented on #1495
@alvacouch This statement "The existing code assumes that when doing a PUT of a file, the directory already exists" is not true, the current code as shown here https://github.com/hydroshare/django_irods/blob/master/storage.py#L188-L192 actually creates directory as needed if you pass in ```create_directory``` a value of ```True```.

[2016-11-14 15:04] hyi commented on #1575
@alvacouch @pkdash Just want to clarify, ```resource_modified()``` is called whenever a metadata element is modified currently as well as set bag dirty flag. This bag dirty flag is only checked to determine whether the bag zip file needs to be regenerated or not upon downloading a bag on demand. ```resource_modified()``` does regenerated resourcemetadata.xml file and resourcemap.xml file to keep t

[2016-11-14 15:50] pkdash commented on #1495
@alvacouch

As per the current code in develop branch, I don't think anything else needs to be deleted. However, as part of my work on file type metadata, file level metadata needs to be deleted when a folder gets deleted which I will have to implement.

[2016-11-14 16:00] pkdash commented on #1575
@alvacouch and @hyi Even if we have not seen problems with regenerating the metadata xml files every time metadata is updated, it would be better to regenerate only at the time of bag or xml file download.

[2016-11-14 16:32] alvacouch opened #1591 "Update access control logic for single grantor semantics"
PR #1576 only updates database constraints but does not change the actual core logic of the access control system.

1. This logic is based upon choosing the minimum numbered privilege for multiple records for the same (resource, user) pair. The effective access is thus a Django aggregation query on `UserResourcePrivilege.` The change in #1576 makes these inefficient aggregators unnecessary.
2. At

[2016-11-14 18:05] alvacouch commented on #1495
@pkdash If that metadata is stored in the ResourceFile object for each file, then there will be nothing to do. The current code deletes hanging ones of these. Then it can still be serialized into resourcemetadata.xml document, even though it is stored elsewhere.....

[2016-11-14 18:20] hyi commented on #1575
@alvacouch @pkdash We could do that, but we have to make sure REST API functions for retrieving resourcemap.xml and resourcemetadata.xml need to checked the bag dirty flag and create or update them if the bag is dirty. Also, django would be the single point of truth for resource metadata and resource maps meaning we cannot restore django database from bags until we bring resourcemap.xml and resour

[2016-11-14 18:24] alvacouch commented on #1495
@hyi This is what I have found of your code:

1. `hs_core/hydroshare/utils.py `contains file-level operations on federated zones.
2. `hs_core/views/resource_folder_hierarchy.py `contains primitive REST functions that operate on specific folders. These are mapped  in hs_core/urls.py to **internal** REST endpoints and used in the UI.
3. `hs_core/views/utils.py `contains various folder utilities, inc

[2016-11-14 18:46] hyi commented on #1495
@alvacouch Yes, you get them all correct. I think those folder utilities in  ```hs_core/views/utils.py``` should be able to be directly used by REST API end points for folder-related functionalities, in the similar way as they are used by internal view functions in ```hs_core/views/resource_folder_hierarchy.py```. Let me know if you have questions.

[2016-11-14 21:32] jsadler2 commented on #855
@pkdash @mauriel133 we have partially solved the problem. A user can now add an organization as an author and/or an author with multiple first and/or last names. Here is a screen shot of the modified dialog box:
![image](https://cloud.githubusercontent.com/assets/6943441/20283665/eb6f5986-aa87-11e6-8941-01f4c388614b.png)

[2016-11-14 21:38] jsadler2 commented on #855
@pkdash @mauriel133 the problem we face now is that this is not consistent with the way the name field is stored in the HydroShare DB for creators (one name field) (see attached)
![image](https://cloud.githubusercontent.com/assets/6943441/20283779/62e08cd8-aa88-11e6-96b5-66a1ca8210ff.png)

Do you have any suggestions? How can we make the manually added authors/organizations whose first names and l

[2016-11-14 23:13] pkdash commented on #1495
@alvacouch  File metadata is not part of the ResourceFile object. There is now a LogicalFile object that holds file level metadata.

[2016-11-15 06:26] pkdash commented on #855
@jsadler2 For the existing person names for which we don't have comma to separate first names from last names we should assume the last word in the name is the last name.  If this assumption is not correct for some names,  the resource editor needs to edit the name by putting a comma in the name to separate first names from last names. @dtarb your thoughts on this.

[2016-11-15 06:56] dtarb commented on #855
I suggest what I put at the beginning, i.e. the Endnote rule

The first comma in the string indicates the end of the last name.  Any later comma's are irrelevant
If there are no commas then the last word is the last name
So for example
U.S. Army Corps of Engineers,
gets parsed as
Lastname = "U.S. Army Corps of Engineers"
Firstname = ""
Citation would be
U.S. Army Corps of Engineers

William Arthur

[2016-11-15 13:56] mohamedmorsy commented on #855
@dtarb exactly we did your suggestion for enhancing the citation. The only thing we added to your suggestion is the choice between person and organization. In the author form, there is a field for organization. We have these choices (Person Or Organization) to manage this field i.e. if the author is person the organization field will appear, while if the user is organization the organization filed

[2016-11-15 15:00] dtarb commented on #855
I do not understand the issue that @jsadler2 stated.  I'll discuss with @pkdash

I think it is a bit too complicated  to require the radio button to flip between organization and name.  I suggest if the author is an organization, just put the organization name in organization and leave name blank.

I think a bit more guidance than the placeholder in the name field is needed.  I suggest some text a

[2016-11-15 15:14] horsburgh commented on #855
I think when this form opens there should be a radio button asking if the author is a person or an organization (default would be person, and the Name field would be shown). When the user selects "Person", the user should be able to specify an existing HydroShare user as the author or a type in a person's name. If "Organization" is selected, the user should be able to select an existing HydroShare

[2016-11-15 15:17] horsburgh commented on #855
Also - if you do put a bunch of text to clarify how to enter information, I suggest doing it as hover text or a link because putting that much text above a single field on the form will really clutter things up.

[2016-11-15 16:25] Castronova commented on #1584
This has been implemented on `usagemetrics.hydroshare.org`.  Once the `www` logs have been directed to `usagemetrics`, we need to check that they are parsed correctly.  We can do this by simply looking at the kibana interface.

[2016-11-15 19:03] horsburgh commented on #1554
@ChristinaB - I don't disagree with you, but this is quite difficult to accomplish. Most mobile responsive site layouts use scrolling. I don't think there's any way we are going to get all of that information (sign up, what you can do, and how it works) on one screen in your mobile device without making things very small (and by very small I mean unreadable and unusable). HydroShare looks and work

[2016-11-15 22:58] ChristinaB commented on #1534
@Lizabrazil and I talked about the help content. She is reviewing to see if there are any gaps.  I clarified that we are going to use the existing material and put it into the format described in the list above.  What is the timeline for the update? Should I plan on being the one to port the content to new pages? Or can we link the new landing to existing pages? THanks @mauriel133 !!!

[2016-11-15 23:02] horsburgh commented on #1534
@ChristinaB - @mauriel133 's work should mostly just be styling. It shouldn't affect content.  The pages are already in the system and shouldn't have to be moved - unless you want to reorganize and change the number of pages or what is on each one. The same pages that are there now will be there when @mauriel133 is done.

[2016-11-16 16:03] xuezhaokun commented on #1563
fixed

[2016-11-16 16:03] #1563 closed

[2016-11-16 16:10] dtarb commented on #1476
Done

[2016-11-16 16:10] #1476 closed

[2016-11-16 16:11] #1451 closed

[2016-11-16 16:12] #1238 closed

[2016-11-16 16:17] hyi opened #1595 "Deletion of multiple files simultaneously not working"
This is because the url mapping for deleting multiple files somehow gets lost. Need to add it back in to fix this.

[2016-11-16 17:00] alvacouch commented on #1548
I plan to make the first one resolvable in a browser, and then replace the other with it, because the /files/ URL is the one that is specified in the REST API requirements.

[2016-11-16 17:05] horsburgh opened #1597 "Front Page: Reorganization of Page Elements"
Some stuff that people want done on the HydroShare front page to address comments from users and CUAHSI. This is to make it so that the really important stuff shows up closer to the top of the page to minimize required scrolling to access it - especially on mobile devices.

* [ ] 1. Move the "Join the community to start sharing" with the sign up button up on top of the rotating images (front, top,

[2016-11-16 17:33] alvacouch opened #1598 "Make it possible to upload and incorporate resourcemetadata.xml files created by others"
@horsburgh @dtarb

Currently, uploading of resourcemedata.xml as a file doesn't work reliably. Part of the reason for this is that the structure of the serializer for resourcemetadata.xml is difficult to unserialize.

Some definitions: in Django:

* **Serialization** is the process of converting a Django object to a string that can be sent in a REST request.
* **Unserialization** is the process of

[2016-11-16 17:55] alvacouch commented on #1598
The reason that I claimed that this is related to issue #1575 is that enabling partial upload of resourcemetadata.xml requires the same kind of serialization, but in XML, rather than RDF. Fortunately, in that case, Django writes most of these for us.

[2016-11-16 18:08] alvacouch opened #1599 "REST API for piecemeal resource metadata editing"
@pkdash @horsburgh @dtarb
This issue is the overarching one that issue #1575 was intended to solve. We need a way to modify metadata one element at a time in the REST API. This -- in turn -- requires thinking about the considerations in #1575.

At present, there are two needs:

* **immediately, support editing of Dublin core metadata** (straightforward).
* later, support editing of metadata for ot

[2016-11-16 18:47] ChristinaB commented on #1554
I want to follow up with the phone call points on this:
We discussed

- [ ] Moving How it works up in the vertical layout

- [ ] Keeping Sign up always visible

- [ ] Keeping the picture as non-useful aesthetic.

Jon has more specific ideas as well.

[2016-11-16 18:53] jtpollak commented on #1554
I suggest the following:

- [ ] Hide My Resources link unless someone is logged in
- [ ] Create a new page for How It Works and remove current How it Works from home page
- [ ] Remove Sign Up button in the middle of the page --> Move this to top right so that it is Login/Sign Up
- [ ] Remove "Available on all your devices"
- [ ] Keep "What you can do with HydroShare" and some sort of image like th

[2016-11-16 19:11] pkdash commented on #1599
@alvacouch Once I see your approach (some code) how you planning to implement update of Dublin core metadata elements for BaseResource (via REST call), I may be able see a way to apply the same approach to any resource type and any instance of AbstractMetdataElement.

[2016-11-16 20:20] horsburgh commented on #1597
Closing this one and moving to #1554

[2016-11-16 20:20] #1597 closed

[2016-11-16 20:24] horsburgh commented on #1554
@ChristinaB and @jtpollak - the following list is where I thought we ended up on the phone today after the main HydrsoShare call. I am reluctant to remove the "My Resources" link from the front page as we discussed this at length a long time ago and decided to keep it. Also, your recommendations about the "How it Works" are conflicting, so I would prefer to keep it on the main page and not have it

[2016-11-16 23:03] mohamedmorsy commented on #1519
I found a bug with the MODFLOW model instance resource related to the "Add Model Input" button  which also prevent from creating new version of the resource type. I will create an issue regarding this bug. This should not have any effect on this deployment.

[2016-11-16 23:47] mauriel133 commented on #1554
@horsburgh, I have deployed the changes we discussed at http://testservices.hydroshare.org/

[2016-11-17 03:19] dtarb commented on #1526
Verified on beta.

[2016-11-17 03:19] #1526 closed

[2016-11-17 03:23] dtarb commented on #1529
Tested on beta.  Good!

[2016-11-17 03:23] #1529 closed

[2016-11-17 05:46] horsburgh commented on #1554
@ChristinaB and @jtpollak - @mauriel133 made changes to the HydroShare home page to address this issue. He deployed them at https://testservices.hydroshare.org/. Please have a look. If you are OK with these, @mauriel133 could get them reviewed and merged pretty quickly.

@ChristinaB - we can discuss when we chat on Friday morning if necessary.

[2016-11-17 07:05] ChristinaB commented on #1554
Reviewing it from a mobile phone I think it looks great. Nice work @mauiel133!!! However, I would weight Jons input more than mine because I don't qualify as a new user or a have as good of an eye for what new users may glitch on. I can say that it looks almost identical to the github mobile site, so you've succeeded at having an equally awesome design as them. @jtpkllak has a list of users text o

[2016-11-17 07:07] ChristinaB commented on #1554
Request-- I don't know the name of it, thumbnail? But the image used in the upper left that says "HydroShare" in block letters with the cuahsi logo is blurry. Is it possible to get. A higher resolution image? Or do I need glasses ?!!

[2016-11-17 07:09] mauriel133 commented on #1554
I agree it looks blurry. I've been wanting to replace letters. Perhaps this is a good time to do it.

[2016-11-17 07:14] ChristinaB commented on #1554
Another note-when I search Github it autofills with the tag line
GitHub- where software is built
When I search HydroShare, it autofills
HydroShare -- HydroShare

Do we have a tag line? If not, can we find 4 words we like? What about
HydroShare - where water research happens
HydroShare - where water research builds
Those aren't quite right. But after the cuahsi phone calls the past two weeks, I kno

[2016-11-17 15:40] horsburgh commented on #1554
@ChristinaB - a tagline we were using early on was simply "Share and collaborate"

[2016-11-17 16:53] horsburgh commented on #1599
@alvacouch and @pkdash - I asked @fryarludwig if he could get me a list of metadata elements that he is trying to update through the API for our iUTAH datasets.  It turns out that once the resources have been created, the only one he really needs to update periodically through the API is the Temporal Coverage element (because we are periodically adding new data and the temporal coverage changes).

[2016-11-17 18:28] jsadler2 opened #1601 "Versioning Problem with SWAT and MODFLOW MI's"
When a multi-choice checkbox is selected in either SWAT or MODFLOW Model Instance resource, if the user tries to create a new version of the resource, it fails with "Failed to create a new version of this resource: argument of type 'int' is not iterable" (see screenshot)
![image](https://cloud.githubusercontent.com/assets/6943441/20402192/b88ee718-acc9-11e6-9d87-d797eec28e82.png)

[2016-11-17 18:30] jsadler2 commented on #1601
@hyi, from your work on the versioning, do you have any idea why this error is happening?

[2016-11-17 18:30] pkdash opened #1602 "Wrong file gets downloaded if the resource has multiple files with the same name"
If I have 2 files with the name 'test.txt' - one within a folder and the other one not in any folder then if I try to download the file that's not inside the folder, it downloads the file that's inside the folder.

[2016-11-17 18:36] hyi commented on #1601
@jsadler2 It looks like this error happens when trying to copy MI-specific metadata elements from the old resource to the new versioned resource. You can debug and see where the error occurs, and I am positive the error is caused by some MI-specific metadata element related method since it does not happen for other resource types. Let me know if you find any issue with versioning code, though.

[2016-11-17 18:39] hyi commented on #1602
@pkdash Can you check what the download urls are for each file with the same name?

[2016-11-17 18:58] pkdash commented on #1602
Both files show the same url for download:
"/django_irods/download/30a20765b66f4bfeb05106322eeaca71/data/contents/test-demo/test.txt"

[2016-11-17 19:24] jsadler2 commented on #1601
@hyi @zhiyuli we discovered that this is a problem in the 'apps' resource too (see below)
![image](https://cloud.githubusercontent.com/assets/6943441/20404102/73b838ee-acd1-11e6-8aa7-adc3cc83b82c.png)

I think that any resource using a multi-choice checklist (i.e. a many-to-many relation in the model) will have this problem making a new version of a resource.

[2016-11-17 19:29] hyi commented on #1601
@jsadler2 OK. I will look into this when I get a chance. Since this is not a regression issue, it is not a blocker for release 1.8. I will try to see if I can resolve this issue for the AGU release.

[2016-11-17 20:25] jsadler2 commented on #1601
@hyi we were able to fix a bug that was unique to the modflow model instance in commit c94be87. We will do a pull request for this which shouldn't take long and should be merged before you work on this. Based on our investigation, the more generally problem is happening in line here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L1851 and more specifially in the "model_to

[2016-11-17 20:33] jsadler2 opened #1606 "Model Input term does not add in Modflow Model Instance"
When a user completes and clicks save in the dialogue box for adding a Model Input term for a MODFLOW Model Instance, the term is not added to the DB.
![image](https://cloud.githubusercontent.com/assets/6943441/20406395/2c838794-acdb-11e6-9715-c3759d6690a1.png)

[2016-11-17 20:34] jsadler2 commented on #1606
@pkdash since you helped us implement this, do you have any idea why this isn't working any more? We're pretty sure we haven't changed anything related to this in our code. Any advice?