[2019-05-16 23:45] dtarb commented on #3242
On the team call two concerns were raised
1. The "Create" menu felt wrong and was inconsistent in that it had a drop down while other menu items opened pages
2. Resources were immediately created with the potential for users to end up with many unintentional untitled resources.

@sblack-usu was assigned to investigate solutions.
The following solution is proposed and mocked up on  https://dev-hs-1

[2019-05-17 15:25] horsburgh commented on #3261
@Maurier, @sblack-usu, and @pkdash - I think the work on this issue can proceed. We've had some feedback from @alvacouch on the Google Doc (linked in the post above), but I think it doesn't change the plan.

@Maurier - I'm hoping you can do the front end changes that need to be made.

@sblack-usu and @pkdash - do you guys want to talk and decide who is best to do the back end parts of this? These

[2019-05-17 16:19] Maurier commented on #3261
@horsburgh, understood. We'll coordinate to have it ready for the upcoming release.

@sblack-usu, @pkdash Let me know which one of you would like to implement this backend functionality.

[2019-05-17 16:43] sblack-usu commented on #3261
I'd like to tackle this with @Maurier.  It'll give me some time to better understand how we generate our metadata and help me with bag ingestion.

[2019-05-17 17:37] Maurier commented on #3120
The way this was addressed in https://github.com/hydroshare/hydroshare/pull/3390, in my opinion, is inefficient. Pressing the button to dismiss the window now refreshes the page. This unnecessarily introduces yet another page reload, which we are trying to get rid of.

This could have been implemented better by updating the UI in the AJAX response that was already set up.

[2019-05-17 17:38] hyi commented on #3261
@horsburgh Yes, I worked on versioning and copying. The code that need to be changed related to this issue are isolated to these few lines of code: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/resource.py#L659-L661
for resource copying and https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/resource.py#L698-L705 for resource versioning. Looping in @

[2019-05-17 17:39] Maurier commented on #3226
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:39] #3226 closed

[2019-05-17 17:39] Maurier commented on #3225
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:39] #3225 closed

[2019-05-17 17:39] Maurier commented on #3223
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:39] #3223 closed

[2019-05-17 17:39] Maurier commented on #3222
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:39] #3222 closed

[2019-05-17 17:39] Maurier commented on #3221
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:39] #3221 closed

[2019-05-17 17:40] Maurier commented on #3220
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:40] #3220 closed

[2019-05-17 17:40] Maurier commented on #3219
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:40] #3219 closed

[2019-05-17 17:40] Maurier commented on #3217
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:40] #3217 closed

[2019-05-17 17:40] Maurier commented on #3218
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:40] #3218 closed

[2019-05-17 17:41] Maurier commented on #3216
This has been fixed and can be tested at https://beta.hydroshare.org

[2019-05-17 17:41] #3216 closed

[2019-05-17 19:35] sblack-usu commented on #3242
@Maurier - I've pushed the changes to a new branch with proper commit messaging.  Could you clean up the styling of the create button and the title popup prompt with proper messaging?  We're moving forward with this approach.

[2019-05-17 19:42] Maurier commented on #3242
@sblack-usu - Understood, I'll get to it.

[2019-05-17 20:31] pkdash commented on #3261
Let me know if you need me on this.

[2019-05-17 20:49] hyi opened #3406 "Remove the logic in iRODS browser to create resources in user zone"
Now that the create resource page will be removed in the next release, the logic in iRODS browser to create resource in user zone will never apply any more, hence should be removed. This will make HydroShare to always create new resources in iRODS data zone. To be consistent with this new policy, the old resources created in iRODS user zone need to be migrated to iRODS data zone in both iRODS and

[2019-05-17 21:21] Maurier commented on #3242
@sblack-usu I have cleaned up the styling now. Let me know if this is what we are going for:

For large screens:
-----------------
The button:
![image](https://user-images.githubusercontent.com/2448568/57956543-958df400-78b6-11e9-8002-8aaba9811156.png)

The menu:
![image](https://user-images.githubusercontent.com/2448568/57956448-3203c680-78b6-11e9-9bc4-5ed445de88d4.png)

**For mobile devices:**
-

[2019-05-17 21:48] Maurier commented on #3186
The plan to turn the Resource Landing page into a single page application (no unnecessary page refreshes) is to instantiate each component of the page as a Vue instance.  While doing so, any server side responses will be changed to handle AJAX requests and return appropriate json data.

We will list the components below so we can keep track of the work and overall progress.

- [x] Keywords (Comple

[2019-05-17 21:53] dtarb commented on #3242
That looks great.  Create it.

[2019-05-17 22:10] horsburgh commented on #3242
@Maurier - don't forget the messaging on the modal window(s) that pop up when you make a selection.

[2019-05-17 22:16] Maurier commented on #3242
@horsburgh, good catch. I had assumed it was already implemented. I will take care of it and then proceed with a PR.

[2019-05-17 23:35] Castronova commented on #3404
@kbarnhart I think this should be possible on the HydroShare JH. Let me see if I can outline a workflow that'll work for your use case. I'll get back to you this weekend.

[2019-05-18 00:14] hydrocheck opened #3408 "For model instance resource landing pages, display issues arise with model name dropdown"
Issue arises on Firefox

[000.zip](https://github.com/hydroshare/hydroshare/files/3193443/000.zip)

[2019-05-18 00:15] hydrocheck opened #3409 "Discover map blanks out with red on certain searches"
Discover map blanks out with red on certain searches

[001.zip](https://github.com/hydroshare/hydroshare/files/3193444/001.zip)

[2019-05-18 00:15] hydrocheck opened #3410 "Unnecessary height constraint on Discover map search results"
The height restraint yields a scroll bar, but the side content is much greater height anyways.  The whitespace could be used for more results.

[002.zip](https://github.com/hydroshare/hydroshare/files/3193445/002.zip)

[2019-05-18 00:16] hydrocheck opened #3411 "The searchbox label text is misaligned in IE11"
The searchbox label text is shifted down and to the left in IE11

[003.zip](https://github.com/hydroshare/hydroshare/files/3193447/003.zip)

[2019-05-18 00:16] hydrocheck opened #3412 "Missing "No Results" on profile contributions."
Most search results display a message when the search returns no results.  This is not the case for the profile contributions.

[004.zip](https://github.com/hydroshare/hydroshare/files/3193448/004.zip)

[2019-05-18 00:17] hydrocheck opened #3413 "Broken links on hydroshare site"
"[Paper]"
Page: https://help.hydroshare.org/introduction-to-hydroshare/hydroshare-youtube-videos/
**FIXED 9/1/2021 SS, link was broken, but updated in pages**

Link in _How do I set the spatial extent for a composite resource?_ section
Page: https://help.hydroshare.org/introduction-to-hydroshare/frequently-asked-questions/
Link broken: https://help.hydroshare.org/hydroshare-resource-types/composit

[2019-05-18 00:17] hydrocheck opened #3414 "The new resource creation modal is oversized compared to the content within it."
The new resource creation modal is much larger than the content within it. There is particularly a log of empty space to the right.

[006.zip](https://github.com/hydroshare/hydroshare/files/3193449/006.zip)

[2019-05-18 00:18] hydrocheck opened #3415 "No cancel or delete in resource creation"
Right off the main menu, resources are created.  The new resource cannot be easily canceled or deleted.  This seems likely to cause lots of accidental resources by users.  A cancel button would be helpful.

[007.zip](https://github.com/hydroshare/hydroshare/files/3193451/007.zip)

[2019-05-18 16:44] kbarnhart commented on #3404
@Castronova thanks!

If its helpful, I've just added you as having view permissions on the resource.
Also, yesterday I tried to see if I could figure it out (couldn't), but I did successfully create an environment from [this .yml](https://github.com/kbarnhart/calibration_with_dakota_clinic/blob/master/environment_linux.yml) (the resource is just a copy of this repo at the present commit).

I was a

[2019-05-19 17:38] Castronova commented on #3404
I think you're missing a step...you need to register the python kernel that you created with JupyterHub. I've tried this with other environments and it's possible to create new kernels that can be select via the Jupyter "kernel" menu at the top of the notebook. Unfortunately, these environments are erased when the Jupyter instance is cleaned up resulting in stale/broken environments. I don't recom

[2019-05-19 17:50] kbarnhart commented on #3404
Thanks for this workflow @Castronova. Clinic isn't until Wednesday... so I have some time.

I tried to test it right now, but I keep running into this issue with re-opening a resource:

<img width="845" alt="Screen Shot 2019-05-19 at 11 48 50 AM" src="https://user-images.githubusercontent.com/6589339/57985970-3651f000-7a2c-11e9-9688-e23b99a82db5.png">

I've tried clicking both options many times a

[2019-05-20 14:20] Castronova commented on #3404
Really? That's very strange. This dialog was put into place to prevent users from accidentally overwriting their data on JupyterHub. I can't seem to reproduce this error, clicking on "Go to Directory" takes me to the data. We might need to debug this together. Send me an email if you're available to test this today.

[2019-05-20 15:06] kbarnhart commented on #3404
@Castronova seems to be a Safari thing. I was able to reproduce my issue with multiple notebooks on Safari but didn't have an issue with Chrome.

I'll report back on whether I can get your workflow to work.

As to the segfault, I think its because there is a make install that I need to have happen...

[2019-05-20 16:02] kbarnhart commented on #3404
@Castronova I've made some progress...

When I run
[code]

I get

[code]

So everything but the make install works. Is there a better way to make install?

thanks!

[2019-05-20 20:58] kbarnhart commented on #3404
@Castronova since this is failing on `python setup.py develop` with a permission error, I suspect the issue is that I need to make sure the install path is something I can write to (equivalent to pip install --user)... Is there a recommendation for doing this on hydroshare?

[2019-05-20 21:45] kbarnhart commented on #3404
@Castronova
Further progress...
`python setup.py develop --user` solved my python  install problem...

But I still get a segfault... Will continue to debug and update.

[2019-05-21 17:16] kbarnhart commented on #3404
@Castronova I'm not sure why... but the conda Dakota install doesn't feel like running... However, the old version of Dakota that you kindly installed for me ~2 years ago does...

Once I use that, I can get everything to run. And my tests verify that I get the results I expect.

[2019-05-21 17:18] #3404 closed

[2019-05-22 21:37] sblack-usu opened #3418 "Connect Discover to the REST API"
Use drf-haystack to enable solr searches through the rest api.

[2019-05-24 20:42] sblack-usu commented on #3380
#2777 and #2871 have been removed from the checklist because they are not complete.  The code changes from these two issues are not creating any regressions.

#3382 - is dark code for communities, so I'm verifying it.

[2019-05-28 18:19] sblack-usu opened #3424 "Add Heartbeat checks to all external services"
We have a a heartbeat check (https://www.hydroshare.org/heartbeat/) that is called every 5 minutes by a jenkins monitor job.  The heartbeat uses django-heartbeat with default settings.

https://github.com/pbs/django-heartbeat

- heartbeat.checkers.distribution_list
- heartbeat.checkers.debug_mode
- heartbeat.checkers.python

This is fine, but we should be using the heartbeat to also check for exte

[2019-05-29 18:15] cbcunc commented on #3424
I believe I can do an SMTP handshake test. So I added myself as an assignee. Feel free to add yourself as well. I would do this as a Jenkins job separate from the Django heartbeat because the recovery from a test failure is different for SMTP (Actually, there is no automated recovery for an SMTP failure, I believe) and so monitors can be individually enabled/disabled. One thing to monitor, one rec

[2019-05-29 18:23] sblack-usu commented on #3424
I'd like to keep it in Django because we want to test the configuration in HydroShare is correct, it should actually be testing the handshake from Django, not from Jenkins.  If we just do a handshake from Jenkins, it's quite possible for the password stored in Jenkins to be correct, while the password in Django is incorrect.  I also don't want to store the password in Jenkins.  I suggest running t

[2019-05-29 18:27] cbcunc commented on #3424
Ah, I see what you mean now. Thanks. I'm taking myself off the assignee list. Just be aware that the Django heartbeat monitor of Jenkins takes corrective action (hsctl restart). So I still think you would be better off with another Jenkins job even if Django is doing the heavy lifting.

[2019-06-04 14:10] hyi commented on #3351
@dtarb I looked into this resource and confirmed this resource did get migrated from user zone to data zone on beta. You can check it out on beta here: https://beta.hydroshare.org/resource/abba182072cc48b691ca61509019e9f8/

I ran into bad gateway on beta initially and had to restart beta containers to get the server back up, and you can check on the migrated resource on beta above now beta is back

[2019-06-04 15:14] dtarb commented on #3351
@hyi please think from a users perspective.  I am happy to delete and fix this resource.  But there are multiple other resources from other users for whom this may be a problem.  I think that the process of migrating resources to userzone should audit and check all the resources migrated and if there are problems, then address them.

And by the way - this resource is still broken on beta
![image](

[2019-06-04 15:54] hyi commented on #3351
@dtarb I don't understand why you are getting AttributeError on this resource since it works for me. See the screen capture below
![HS](https://user-images.githubusercontent.com/476302/58892205-cd20dc80-86bb-11e9-9ce8-c15557f9b2b8.JPG)
It looks like the AttributeError you run into is related to your login user object being None, but I don't know how you can login in the first place if the user obj

[2019-06-04 16:40] #3045 closed

[2019-06-04 17:22] dtarb commented on #3351
@hyi before you write a separate management command we need to get to the root of what is going on.  It is curious that this file shows as an aggregation in your display, but on www with me it does not.  I do not have time right now to debug this particular issue, so will need to leave it to you, perhaps interacting with @sblack-usu to try figure out.

[2019-06-04 17:44] hyi commented on #3351
@dtarb good observation and it is interesting to see this migrated resource actually shows the geographic raster aggregation and all aggregation metadata also displays correctly on beta. I'll look into it and try to figure out what is going on since apparently fixing file path as a result of resource migration from user zone to data zone fixed this aggregation issue. In the meanwhile, beta user lo

[2019-06-04 21:38] hyi commented on #3351
@dtarb I checked production Django database for this specific resource and verified this resource does have GeoRasterLogicalFile type relation linked to it. This explains why the folder shows as raster aggregation on beta after resource migration from user zone to data zone. I don't know the exact reason why this raster aggregation does not show for this resource on www, but I can confirm the reso

[2019-06-05 13:46] dtarb commented on #3351
@hyi I am happy for you proceed with the update that fixes this once you are confident it is right.  Will this be part of a regular code update, or a migrate script that runs separately.

[2019-06-05 14:12] hyi commented on #3351
@dtarb My PR including this migration command script has been merged into develop branch, so will be included in the next regular release. The migration script has to be run separately just one time as the last step of the next release and I can help with that if needed. Looping in @sblack-usu @phuongdm @cbcunc to keep them informed of this extra step only for the next release.

[2019-06-05 15:16] sblack-usu commented on #3351
@hyi, please add the migration command to the deployment notes when we cut the next release.

[2019-06-05 15:27] hyi commented on #3351
@sblack-usu Will do.

[2019-06-06 11:33] dtarb commented on #3351
@hyi @sblack-usu please consider whether it is best to run this migration command as part of the deploy or separately (e.g. 2 days later not during a deploy).  Our thinking with composite resource migrations has been that they should be separate.  Perhaps the same idea applies here too.  The reason for having them separate is to be able to do checks of resources before and after a deploy and if th

[2019-06-06 14:00] hyi commented on #3351
@dtarb doing the migration in a couple of days after the deploy may be a good idea. @sblack-usu I'll add migration command in the next release deployment notes and leave it to you when you will run it. I'll check those migrated resources to make sure they look correct after migration is done on production server.

[2019-06-06 17:27] alvacouch opened #3426 "3rd party file exchange"
Implement way to store and retrieve resources from linux, box, dropbox, google drive, microsoft onedrive.

Including:
- [x] https://github.com/hydroshare/hydroshare/issues/5635

[2019-06-06 18:37] martinseul opened #3427 "‘How to Cite’ section"
This came out of  discussion with Miguel and the CZO folks
 - Issues with the ‘How to Cite’ section?

How to Cite section auto-formats last names in a way where you cannot display two last names for one person, I had to add a hyphen which is not how the researcher would prefer their name to appear.
The year that the dataset is created in Hydroshare appears in the citation so our standardized title

[2019-06-07 14:55] horsburgh commented on #3427
@martinseul - there are two issues here, and I'm going to split out the author naming issue into a new issue because it is a legitimate problem.

The reported issue with dates is not an issue and is working as designed. HydroShare is a repository and a publisher of content. The date associated with the citation in HydroShare is associated with when the resource was created and/or published in Hydr

[2019-06-07 14:55] #3427 closed

[2019-06-07 15:18] horsburgh opened #3428 "Author Naming Inconsistency Issue"
See #3427 for the original report of this issue.

There are issues with the current operation of author naming for users with multiple last names. I believe that this only applies for authors who are not existing HydroShare users because users have separate first, middle, and last names in their profile.

For example, if an author has the name "Rip Van Winkel", the last name is not always consiste

[2019-06-08 12:29] dtarb commented on #3428
Thanks for working on this.  See also discussion in #855 and #1021 where this was worked on previously.

[2019-06-08 14:22] horsburgh commented on #3428
Thanks @dtarb for pointing at those prior issues. Based on my reading of those previous issues, the functionality is working as expected, with the exception of the inconsistent listing of author names at the top of the resource landing page:

![image](https://user-images.githubusercontent.com/3485902/59148408-f3998d00-89c5-11e9-9911-895cce7427a0.png)

I suggest that the quick fix here is to fix th

[2019-06-09 01:40] dtarb commented on #3428
@horsburgh your suggestion may not fully get us out of the woods.  If there is a user with first name Rip and last name "Van Winkle" who creates a resource, it needs to be rendered into the name field of the Resource author as Van Winkle, Rip, not Rip Van Winkle as it currently is rendered as I just tested.
I created user
![image](https://user-images.githubusercontent.com/3456833/59153991-2030c180

[2019-06-09 01:59] dtarb opened #3429 "Restore display of basic resource information when attempting to access a private resource when not logged in"
If when not logged in someone attempts to access a resource that is not public a "landing" page with resource title and owner should be shown, similar to the below (which is for logged in but without access)

![image](https://user-images.githubusercontent.com/3456833/59154078-80c0fe00-8a27-11e9-8594-1124ebba6e5c.png)

This used to be the case.  However present behavior has changed to instead redir

[2019-06-09 14:46] horsburgh commented on #3428
OK - if this is still broken for new users who have multiple last names, I suggest a more comprehensive fix by doing the following:

* [ ] Change the entry of Author names for authors that are not HydroShare users to include first, middle, and last names, consistent with name entry on the HydroShare user profile page.
* [ ] Change the display of Author names at the top of the resource landing page

[2019-06-09 15:01] dtarb commented on #3428
@horsburgh this is a change to the person model within the resource data model so is fairly weighty.  How would it handle things like multiple middle names.  How would it handle suffixes like Jr or the III.  We have discussed some of these before but never fully gotten to closure.

A less weighty lift would be for the copying of names from the profile into the resource name to use the comma approa

[2019-06-09 15:18] horsburgh commented on #3428
Sure - the comma approach can work. It just needs to get consistently implemented and the display issues need to get sorted out.

I've assigned this one to @Maurier, but reading back through past issues, I don't think he did the initial implementation. Should I be assigning this to someone else?

[2019-06-09 16:13] dtarb commented on #3428
I am happy for you and @Maurier to work it out. If back end changes are needed @sblack-usu or @pkdash could help.

[2019-06-10 14:44] hyi opened #3430 "Simplify iRODS federation configurations and related code logic"

[2019-06-10 16:13] sblack-usu commented on #3428
I fear we're opening a can of worms that'll bite us in the future if we have rendering logic that expects different formats for names.  It's often best to normalize what's stored in the db, then rendering doesn't need any logic around different types of formats.

So, to follow what's been outline here, I suggest instead of looking for and displaying different name formats on the frontend, we look

[2019-06-11 15:51] ChristinaB commented on #2821
@sblack-usu  - I am adding on an additional point to a related issue.  From a group, as an owner, the invite pop up hangs when I try to invite hydroshare users to the group.  With similar issues, the pop up box would execute, but the pop up wouldn't update.  In this case, the invitation is not sent and the box hangs indefinately.  I tried to invite people for a conference workshop this afternoon s

[2019-06-11 16:41] sblack-usu commented on #2821
Thanks for pointing this out @ChristinaB.  We are aware of the problem from a support issue logged a bit ago.  I've identified why it's broken and have asked @Maurier to take a look at it.  This will require a code change, but it should be limited to the frontend so it's likely we could push out a patch release without any downtime.  The bug was likely introduced by some refactoring on the group p

[2019-06-11 19:11] sblack-usu opened #3431 "non-ascii characters in author/title breaks recently visited on dashboard"
While we're anticipating fixing these encoding issues across the system with the python 3 upgrade, we should patch the recently visited page.

[2019-06-12 00:59] Maurier commented on #2821
I will be using this ticket to fix this and some other bugs caused by some recent work done in the Groups page here: https://github.com/hydroshare/hydroshare/pull/3368

- Unable to send Group invitations.
- Unable to filter members in the "Members" tab or check pending requests.
- Style and layout errors on Shared By panel
![image](https://user-images.githubusercontent.com/2448568/59316218-8cf0c98

[2019-06-12 21:19] sblack-usu opened #3434 "Release Checklist 1.23.1"
### Issues in Release
- [x] #3432 Fix for broken Group page functionality

### Beta Deployment
- [x] Diff RC to master to identify and manually make changes in the following files:
  * hsctl
  * config/hydroshare-config.yaml
  * hydroshare/local_settings.py
  * hydroshare/settings.py
  * nginx/config-files/hydroshare-ssl-nginx.conf.template
  * scripts/templates/docker-compose.template
- [x] Deplo

[2019-06-12 21:21] sblack-usu commented on #3434
Because @ndebuhr is out and we haven't transferred the knowledge on running the QA automation tools yet, we'll have to move forward without it.  This should not be a concern because the changes are almost all on the frontend and limited to the groups page.  I'll walk through the manual tests outlined in the release checklist.

[2019-06-12 21:23] sblack-usu commented on #3434
@dtarb @martinseul @phuongdm @cuahsimarko @cbcunc

[2019-06-13 03:58] dtarb commented on #3434
I tested beta.hydroshare.org and found that attempting to add invite a new member to a group that I own still does not work.

[2019-06-13 04:14] sblack-usu commented on #3434
@dtarb - did you clear your cache?

[2019-06-13 11:54] dtarb commented on #3434
Yes - I did clear cache.

The behavior I am getting on beta (with Firefox) is
1. I click invite people
2. I start filling in a name
3. I pick a person off the list that appears
4. As soon as I have picked a person the "invite people" box disappears
5. If I click "invite people" again, the box opens with the name I picked already in it and the invitation gets sent.

This appears to be a partial imp

[2019-06-13 13:00] sblack-usu commented on #3434
weird, I'm not getting that behavior on firefox.  Mauriel also tested chrome, and ie.  So the modal window is just disappearing?  I'm not able to recreate that behaviour, I've tried a few different workflows using tabs/returns/clicks.  @Maurier - Any idea what's going on or are you able to reproduce this?

[2019-06-13 14:07] Maurier commented on #3434
I was able to reproduce it now. You actually need to click on an item from the list which hovers outside of the modal window. I'll try to have a fix soon.

[2019-06-13 15:40] Maurier commented on #3434
@sblack-usu, I have a fix ready. Let me know which branch we are using so I can add it.

[2019-06-13 15:46] #3388 closed

[2019-06-13 16:17] sblack-usu commented on #3434
It's already on master, so go ahead and branch off of master and submit a PR against it.

[2019-06-13 16:45] sblack-usu commented on #3434
The latest patch has been deployed to beta.  I tested selecting a user from the dropdown list that is below the modal window.  Just looking for Stakeholder approval @dtarb @martinseul

[2019-06-13 17:44] cbcunc opened #3436 "Update hs_docker_base to release 1.9.10"
See hydroshare/hs_docker_base#30

[2019-06-13 18:17] dtarb commented on #3434
+1 from me

[2019-06-13 20:12] mraocuahsi commented on #3361
#3361 fixed

[2019-06-14 23:20] sblack-usu opened #3439 "Release Checklist 1.24"
### Issues in Release
- [x] URL of RDF namespace in resourcemetadata.xml incorrect #3319 @pkdash
- [x] Getting rid of page refresh when updating Resource Landing page items #3186 @Maurier
- [x] Remove the logic in iRODS browser to create resources in user zone #3406 @hyi
- [x] Connect Discover to the REST API #3418 @sblack-usu
- [x] P2 Composite Res: Implement NEW REST Endpoints for Aggregations #

[2019-06-15 00:48] dtarb opened #3440 "Apps menu on help.hydroshare.org"
The apps menu item on help.hydroshare.org links to https://apps.hydroshare.org/apps.  It should link to http://www.hydroshare.org/apps.  This is a regression that I noticed today. @cbcunc

[2019-06-17 14:42] hyi opened #3441 "Enable launching GABBs MultiSpec Online webapp tool from raster or netCDF aggregation types"
Currently GABBs MultSpec Online webapp tool can be launched from a raster or netCDF resource types, but more work, specifically, push corresponding aggregation files to mygeohub iRODS space, is needed to make it launchable from the corresponding aggregation types in a composite resource.

[2019-06-17 17:16] phuongdm opened #3442 "Change weekly quota email to be monthly"
The quota email should be sent on the first Monday of every month

[2019-06-18 13:54] mahesh437 commented on #3408
raising in all browsers. It's due to the bootstrap used for this dropdown.

[2019-06-18 17:28] #3401 closed

[2019-06-18 17:28] cuahsimarko commented on #3401
No longer an issue

[2019-06-18 17:29] cuahsimarko commented on #3348
Depending on the screen resolution, this is not an issue. The current design is appropriate.

[2019-06-18 17:29] #3348 closed

[2019-06-18 17:30] cuahsimarko commented on #3396
The navigation bars for help.hydroshare.org and hydroshare.org now match

[2019-06-18 17:30] #3396 closed

[2019-06-18 17:31] cuahsimarko commented on #3334
Current text is great

[2019-06-18 17:31] #3334 closed

[2019-06-18 17:32] cuahsimarko commented on #3392
Unable to reproduce. When I navigate to www.hydroshare.org it does not append /landingpage was likely fixed and forgot to close issue

![image](https://user-images.githubusercontent.com/45397838/59706016-8fe54000-91cd-11e9-90f4-aea0f6a9dbdb.png)

[2019-06-18 17:32] #3392 closed

[2019-06-18 17:42] cuahsimarko commented on #3253
This is not a practical exercise and the risks outweight the benefits. The suggestion has technical and theoretical merit, but ultimately is not actionable, given the codebase, as-is.

[2019-06-18 17:42] #3253 closed

[2019-06-18 17:44] #3242 closed

[2019-06-18 17:46] cuahsimarko commented on #3191
I just tested this with a user, who has hundreds of resources and the performance was great. Issue resolved.

[2019-06-18 17:46] #3191 closed

[2019-06-18 17:52] cuahsimarko commented on #3053
I am still able to reproduce this long keyword silent failure. Also, there is a styling issue:
![image](https://user-images.githubusercontent.com/45397838/59707256-42b69d80-91d0-11e9-8825-aaaaab2197b8.png)

[2019-06-18 19:13] Maurier commented on #3428
@dtarb, @horsburgh, @sblack-usu Changing the way the data is copied to the resource as @dtarb describes above will indeed address the issue for new entries, but Author data that was copied to the database will remain the same.

If I change they way new data is copied so that it uses a comma approach, do we have a plan to address existing data?

[2019-06-18 19:28] horsburgh commented on #3428
@Maurier - correct. Even with the short term fix, we will still have some existing resources for which author data was copied into the database as First Middle Last. The short term fix stops this from happening for more resources.

The longer term fix is to separate first, middle, and last into three separate database fields. To migrate data for existing resources, the following two rules will be

[2019-06-18 21:53] cuahsimarko commented on #1021
My two cents ...

If searching around the web around doesn't yield some loose conventions we can adopt (potentially even with pseudocode), perhaps we can cater to the following cases:
- last name, first name (Washington, Booker)
- last name, first name, middle initial (Washington, Booker T.)
- married last (joined), first, middle initial (Washington-Thurman, Booker T.)
- immigrant (documented) las

[2019-06-18 21:57] cuahsimarko commented on #981
We should have a quick chat about heapanalytics (coding style in VueJS)

[2019-06-19 00:14] Maurier commented on #3428
@horsburgh I have deployed changes with the short-term fix at https://riverdev.hydroshare.org
Let me know if you see any issues.

[2019-06-19 16:47] Maurier opened #3449 "Modal dialog closes when dragging and releasing mouse button outside dialog"
This is a bug inherited from the current version of bootstrap we use: https://github.com/twbs/bootstrap/issues/13816

When selecting text and the mouse drags outside of the dialog, the drag release will dismiss the dialog.

Possible solutions and workarounds:
- Disable modal dismiss when clicking on modal backdrop entirely.
- Update bootstrap to a newer version.
- Figure out a way to intercept the

[2019-06-19 17:14] horsburgh commented on #3449
Just for background, I discovered this while testing the fix that @Maurier did for Author name entry. The modal form for Author name entry has several metadata elements and it kept disappearing on me as I was trying to edit those elements. I think this will be disturbing for some users who will not know why the modal window keeps disappearing. Luckily, when you click the button to open the modal w

[2019-06-19 19:48] miguelcleon commented on #3427
@horsburgh

I agree about the dates. We need to change our title naming convention to not include the years or make it more clear what they mean.

[2019-06-19 20:03] miguelcleon commented on #3428
@horsburgh I tried this and it worked as described for one of our resources: https://www.hydroshare.org/resource/c646475a6c224f5d838f450ba0947f01/

unfortunately when I tried to fix the another one, it broke the resource. I'm not sure what went wrong or how I can get the resource to display again. It just shows an error message now. The broken resource is here: https://www.hydroshare.org/resource/

[2019-06-19 20:48] horsburgh commented on #3428
@miguelcleon - @Maurier deployed a fix to one of our testing servers and I tested it this morning. It fixes the inconsistency in display of Author names, where the author name was being displayed differently at the top of the resource landing page if you entered the name with last name first and a comma versus if you entered first and then the last name. Also, when adding authors that are HydroSha

[2019-06-20 17:01] Maurier commented on #3428
@sblack-usu has deployed this fix with actual data at https://dev-hs-1.cuahsi.org for further testing.

[2019-06-20 19:18] sblack-usu commented on #3428
@horsburgh @miguelcleon - I fixed the resource with a temporary change.  I'm logging an issue to get a code fix so this won't happen again.

We're getting bit by non-ascii characters recently.  We're working on a full long term while doing smaller patches in the mean time.  The resource was broken because one of the authors (Chapela Lara, Marìa) had a non-ascii character in her name (Marìa).  To f

[2019-06-20 19:20] sblack-usu opened #3450 "Non-ascii character in authors of a resource breaks the resource landing page"
Update authors to render non-ascii characters without throwing an error:

![image](https://user-images.githubusercontent.com/35820390/59875520-3a8c6880-935e-11e9-8d33-ccede0c2222c.png)

[2019-06-20 19:22] miguelcleon commented on #3428
@sblack-usu Thanks! the resource is accessible again. It is good to know what happened.

[2019-06-21 15:01] cuahsimarko opened #3451 "Date Range Error Message"
There is a bug with Start Date, when creating a new resource. To reproduce:

- Create new resource
- Fill out a Start Date a few days in the past
- Save

![image](https://user-images.githubusercontent.com/45397838/59931826-d62be080-9413-11e9-8667-e6e4ab453725.png)

[2019-06-24 17:23] cbcunc commented on #3436
Need to update mjstealey/irods-provider-postgres to 4.2.6 (for local development).

[2019-06-26 20:18] hyi opened #3455 "Fix user zone to data zone migration command to handle empty resources properly"

[2019-06-27 13:32] hyi commented on #3455
The fix works based on beta testing, so closing.

[2019-06-27 13:32] #3455 closed

[2019-06-27 15:53] hydrocheck opened #3457 "If a username already exists during registration, the whole form is cleared"
This could be rather annoying for new users - having to re-input the form data despite only one field being unacceptable.  The ideal would probably be a real-time check that informs on availability as the user types instead of after submitting the form.

[000.zip](https://github.com/hydroshare/hydroshare/files/3335582/000.zip)

[2019-06-27 15:53] hydrocheck opened #3458 "Banner image on help.hydroshare.org is huge and adds seconds on to the load time"
The image should probably be scaled to improve performance.  The current 3264x2448px seems overkill - especially since only part of the image is actuall shown on the page.  The 2048x1536px used for hydroshare.org background images still seems high to me, but something like seems like a worthwhile improvement.

[001.zip](https://github.com/hydroshare/hydroshare/files/3335587/001.zip)

[2019-06-27 15:54] hydrocheck opened #3459 "No mouse hover descriptions for resource creation in IE11"
Using Chrome or Firefox, you can click on the new "Create" menu button, and select a resource type from the dropdown.  When hovering over these options, it shows you a helpful description of each resource type.  This is not available in IE11 - nothing shows.

[002.zip](https://github.com/hydroshare/hydroshare/files/3335592/002.zip)

[2019-06-27 15:54] hydrocheck opened #3460 "There are no password rules - accounts can be creates with password "a""
While I'm no security expert, minimum length and complexity seem to be a standard for account passwords.  A password of "123" or "a" should probably not be allowed.

[003.zip](https://github.com/hydroshare/hydroshare/files/3335596/003.zip)

[2019-06-27 15:55] hydrocheck opened #3461 "List formatting is broken on a getting started help page"
https://help.hydroshare.org/introduction-to-hydroshare/getting-started/upload-data-and-models-and-share-with-others/

[004.zip](https://github.com/hydroshare/hydroshare/files/3335600/004.zip)

[2019-06-27 15:55] hydrocheck opened #3462 "Blank screen always arises from Model Instance resource creation"
Something is broken with the Model Instance resource type - creating a resource of this type results in a blank page.

[005.zip](https://github.com/hydroshare/hydroshare/files/3335602/005.zip)

[2019-06-27 15:56] hydrocheck opened #3463 "There is a section label for "Contact Us" for resource publication, but it contains no content"
I would expect to see contact details in the Contact Us section, but it is empty.  This is in the resource publication modal.

[006.zip](https://github.com/hydroshare/hydroshare/files/3335606/006.zip)

[2019-06-27 15:56] hydrocheck opened #3464 "Static whitespace in groups page makes the page long"
The groups page could be substantially shorter if the whitespace was dynamic.  Currently, there are large blocks of whitespace - no content.

[007.zip](https://github.com/hydroshare/hydroshare/files/3335607/007.zip)

[2019-06-27 15:57] hydrocheck opened #3465 "Downloading a collection resource with restricted contents user experience issue"
On a collection resource, the Download BagIt button is enabled, even if the underlying resources require additional permissions to access.  Then, when the enabled button is pressed, a rather unfriendly error message arises about resource permissions.  UX could be substantially improved by just disabling the download button.

[009.zip](https://github.com/hydroshare/hydroshare/files/3335612/009.zip)

[2019-06-27 15:59] hydrocheck commented on #3439
1. - https://github.com/hydroshare/hydroshare/issues/3457
2. - https://github.com/hydroshare/hydroshare/issues/3458
3. - https://github.com/hydroshare/hydroshare/issues/3459
4. - https://github.com/hydroshare/hydroshare/issues/3460
5. - https://github.com/hydroshare/hydroshare/issues/3461
6. - https://github.com/hydroshare/hydroshare/issues/3462
7. - https://github.com/hydroshare/hydroshare/issues

[2019-06-27 22:37] hydrocheck opened #3468 "Single-line abstract "show more" in group resource view just expands out whitespace"
Please see attached video

[001.zip](https://github.com/hydroshare/hydroshare/files/3336861/001.zip)

[2019-06-27 22:37] hydrocheck opened #3469 "There appears to have been no data migration for LAST, FIRST author naming in resource lists, so there are naming inconsistencies for the same user."
A user which has not changed their profile name could have resources published under both LAST, FIRST and FIRST LAST.

[002.zip](https://github.com/hydroshare/hydroshare/files/3336864/002.zip)

[2019-06-27 22:38] hydrocheck opened #3470 "Resource type field too wide"
When viewing resource lists in a group view, the resource type field is unnecessarily wide.

[003.zip](https://github.com/hydroshare/hydroshare/files/3336866/003.zip)

[2019-06-27 22:39] hydrocheck opened #3471 "The same resource tag name can be used repeatedly in the My Resource interface"
Please see video

[004.zip](https://github.com/hydroshare/hydroshare/files/3336870/004.zip)

[2019-07-02 13:15] sblack-usu commented on #3439
@hyi
Here are the results from running `migrate_resources_from_userzone_to_datazone` on production

![image](https://user-images.githubusercontent.com/35820390/60515562-16535480-9c99-11e9-9d4d-d86528c0b378.png)

[2019-07-08 13:37] hyi commented on #3439
@sblack-usu I have verified on www2 - the active worker and confirmed all resources from user zone have been migrated successfully to data zone now. I checked on this resource from @dtarb https://www.hydroshare.org/resource/abba182072cc48b691ca61509019e9f8/ and verified that after the migration, raster aggregation was created correctly which fixed that issue. However, we did get that ```duplicate

[2019-07-12 13:39] martinseul opened #3478 "Add noindex directive to hydroshare dev servers"
the Google data set search team  contacted us in regards to the Hydroshare representation in therr search. They noted that we should add a noindex directive to all dev servers to prevent them from being included in the indexing. We could potentially also remove the sitemap.xm from all but the prod server. Please see below:

"2. Showing results from dev servers (dev-hs-1.cuahsi.org and dev-hs-1.cua

[2019-07-12 13:44] martinseul opened #3479 "schema.org citation field fix"
The Google team dataset also noticed:
that hydroshare.org is using the "citation" field to show citation snippet instead of the identifier of a related scholarly article (see https://developers.google.com/search/docs/data-types/dataset#dataset for more details). It might be worth correcting that to show richer results.

[2019-07-15 15:28] horsburgh commented on #3479
@martinseul - related to this, we should note that Google uses the *citation* element for "academic articles that are recommended by the data provider be cited in addition to the dataset itself". In their additional guidelines for this element it states that we should not be using this field to provide the citation for the dataset itself.

I believe that our current implementation provides the cit

[2019-07-15 15:54] alvacouch opened #3481 "Resource landing page slower when loading private pages"
Amazingly, the resource landing page loads more slowly (15s) when the resource is private than when it is public (10s). Common causes of this have been explored and ruled out. Forensic analysis is needed. The behavior is independent of the size of the resource.

[2019-07-15 17:52] pkdash commented on #3481
I was not able to reproduce this behavior. I got a resource page loaded in 7-8s in either public or private. Didn't notice any noticeable difference in page loading time with public vs private.

[2019-07-15 19:18] alvacouch commented on #3481
@pkdash What I am seeing is substantively different. It's a few more seconds for private resources at least on the beta machines.

I've profiled various things already, and have ruled out template execution, template preparation.

One clue is that the system seems to invoke SOLR indexing before rendering a page each time. It issues an `add` if the resource is public, and a `delete` if it is privat

[2019-07-15 19:32] alvacouch commented on #3481
@sblack-usu @pkdash Crap! I see what is going on now. The new code for use tracking modifies the resource _system_ metadata independent of the science metadata. The SOLR indexer picks that up and treats it as a modification of the _science_ metadata. So it goes through the procedure it goes through for _science_ metadata.

[2019-07-15 19:38] alvacouch commented on #3481
@pkdash @sblack-usu This is not easy to fix. The appropriate fix is to put system metadata somewhere else that SOLR doesn't index. In fact, it doesn't index that data now, but it reacts to changes in that data by re-indexing everything.

This requires moving the system metadata into another model, and migrating the data that has been collected there so far, which includes a running count of resour

[2019-07-15 19:47] alvacouch commented on #3481
@pkdash @sblack-usu Here is the offending code, in hs_core/models.py
[code]

[2019-07-15 19:51] alvacouch commented on #3481
@pkdash @sblack-usu Theory refuted. SOLR no longer called, 8 seconds load for public, 14 seconds load for private. Private is smaller.

[2019-07-15 19:52] pkdash commented on #3481
@alvacouch You means private resource takes longer to load?

[2019-07-15 19:55] alvacouch commented on #3481
@pkdash YES. An *empty* private resource takes longer to load than a fully populated public resource.

[2019-07-15 19:57] sblack-usu commented on #3481
Could it have something to do with whether a resource can be made public?  I can't imagine an empty field would make a 7 second difference in load time.

[2019-07-15 20:00] alvacouch commented on #3481
@sblack-usu I don't know what is going on. No current test has exposed the problem. All test results for long-running processes are negative. Back to the old drawing board.

[2019-07-15 20:01] alvacouch commented on #3481
(I even profiled the templates themselves. They are running quickly.)

[2019-07-15 20:03] sblack-usu commented on #3481
well, I just tried a private resource with the minimum needed to be made public and it still takes 15 seconds.  I'll try working through different fields to see if one of them makes the response faster.

[2019-07-15 20:03] pkdash commented on #3481
@alvacouch I am trying to reproduce this again on beta and I don't see noticeable difference. Is this happening only with a specific resource?

[2019-07-15 20:03] sblack-usu commented on #3481
@pkdash - create a new resource.

[2019-07-15 20:04] alvacouch commented on #3481
@pkdash @sblack-usu It also happens on older resources in my instance. The resources I am testing against are quite old.

[2019-07-15 20:05] sblack-usu commented on #3481
It's probably worth looking at the code that determines which web app tools can launch from a resource... It's horrendously slow.

[2019-07-15 20:06] sblack-usu commented on #3481
Yeah, I'm sure there are older resources this problem occurs with, but it's easy to reproduce the issue with a new resource.

[2019-07-15 20:06] alvacouch commented on #3481
(I am running on https://cuahsi-dev-1.hydroshare.org on the RENCI machines. I've modified a copy of develop to instrument templates. Rendering differentials are printed.)

[2019-07-15 20:08] pkdash commented on #3481
I tried with two new resources (on beta) - one public and the other private. Did not notice any difference.

[2019-07-15 20:15] alvacouch commented on #3481
What is overwhelmingly obvious to me -- from profiling all of the operations -- is that the wallclock times I am measuring for view rendering don't add up to the perceived time for rendering. Something else is going on.

[2019-07-15 20:16] sblack-usu commented on #3481
Did you pull up timings?  I just tried beta, and am seeing that a new private resource takes twice as long as a public one.

[2019-07-15 20:28] pkdash commented on #3481
This is the timing I am seeing for the public resource:
![image](https://user-images.githubusercontent.com/2523434/61246465-e7b78e00-a71c-11e9-9d26-0ea2d263ceb7.png)

This is for private:
![image](https://user-images.githubusercontent.com/2523434/61246578-277e7580-a71d-11e9-9dc5-bf8ada9f304d.png)

[2019-07-15 20:29] alvacouch commented on #3481
@sblack-usu @pkdash End of my day. I'll sleep on this and try again tomorrow.

[2019-07-15 20:29] sblack-usu commented on #3481
Could you add me as an owner of them?  I'd like to take a look.

[2019-07-15 20:45] sblack-usu commented on #3481
@pkdash - by chance are you using an admin account?  I'm noticing a significant speedup when using my admin account versus my regular account.  The same private resource that takes 15 seconds with my user takes only 3 seconds with my admin account.

I think we're getting close to figuring it out.

[2019-07-15 21:00] pkdash commented on #3481
I guess slower the network the difference is more noticeable. On my 1 gig ethernet I didn't get the difference. Tried on wireless, I got 10s for private resource and 15s for the public. Public seems to be slower.

[2019-07-15 21:01] pkdash commented on #3481
@sblack-usu I am using my admin account.

[2019-07-15 21:01] sblack-usu commented on #3481
I really doubt this has anything to do with wired vs wireless connection.

[2019-07-15 21:03] sblack-usu commented on #3481
wait... so you're getting long times with your admin account now too?

[2019-07-15 21:10] pkdash commented on #3481
Yes. I am seeing public resource slower to load than private. @alvacouch seems to see the opposite. I am getting the noticeable time difference only when using the wireless.

[2019-07-15 21:17] sblack-usu commented on #3481
that's not adding up... hmmm.

[2019-07-15 21:18] sblack-usu commented on #3481
I'm going to update something on beta real quick, so if you're still testing out timings, please do so on www.

[2019-07-15 21:27] sblack-usu commented on #3481
I'm pretty sure it's this query, still looking at it to make sure.

https://github.com/hydroshare/hydroshare/blame/develop/hs_access_control/models/user.py#L1091

[2019-07-15 21:59] sblack-usu commented on #3481
yeah, it's definitely that query.  We could speed this up a metric ton by checking the resource object instead of making a query on the db for a list of all viewable resources and then seeing if the resource is in that list.

[2019-07-16 01:35] pkdash commented on #3481
The reason I was getting more loading time with the public resource is that it had a readme file. I again tested with a new resource that has one file (not a readme file). Checked loading time making that resource public vs private. Didn't see any noticeable difference.

[2019-07-16 02:38] pkdash commented on #3481
Not sure how/why this query would be used for resource landing page.

[2019-07-16 13:27] alvacouch commented on #3481
@sblack-usu @pkdash Not using admin account. Connecting via CUAHSI internet: 100mb comcast for business.

Depends upon what one does with the query. Tacking exists() onto it in the last step is much more efficient than checking for specifics.

However, I checked the speed of that and didn't find it to be the problem.

[2019-07-16 13:39] alvacouch commented on #3481
@sblack-usu @pkdash I cleaned up that query yesterday in branch 3481-speed-up-resource-landing-page and it didn't help. See fix.

[2019-07-16 14:57] sblack-usu commented on #3481
Linked the wrong method, I meant to link the view_resources method not edit_resources, although edit_resources likely behaves similarly.  I'll do some more troubleshooting and see if I can get a functional proof this is where it's at.

https://github.com/hydroshare/hydroshare/blame/develop/hs_access_control/models/user.py#L1019

I was led to this because my admin account loads the page more than 1

[2019-07-16 15:33] sblack-usu commented on #3481
I deployed a quick patch to https://dev-hs-1.cuahsi.org.  Here is a private resource opened with my regular user at 3.7 seconds
![image](https://user-images.githubusercontent.com/35820390/61307918-67406e00-a7ac-11e9-9cf4-65c816d4c94a.png)

And here is the same resource on beta with my regular user running at 15.4 seconds
![image](https://user-images.githubusercontent.com/35820390/61307871-5263da80

[2019-07-16 15:37] alvacouch commented on #3481
@sblack-usu @pkdash
I am not using an admin account.  I will speed this up (by inverting the query) and get back to you tomorrow. I do not consider this the root of the whole problem, though.

[2019-07-16 15:41] alvacouch commented on #3481
@sblack-usu @pkdash `UserAccess.edit_resources` has same issues.

[2019-07-16 15:43] sblack-usu commented on #3481
what do you consider the root of the problem then, @alvacouch?  And yes, I would expect edit_resources to have the same issue.

[2019-07-16 15:59] pkdash commented on #3481
@sblack-usu I think that query is the problem then. I assume you don't see any page load time difference between public vs private.

[2019-07-16 16:49] alvacouch commented on #3481
@sblack-usu @pkdash `view_resources` is called in more places than just can_change_resource, all over the page processors. If I plug your fix into all of them, it should fix things. Let me do a bit of software engineering on your fix so we aren't duplicating complex queries.

[2019-07-16 17:25] hyi commented on #3481
@alvacouch @pkdash @sblack-usu I think this ```authorize()``` function: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/utils.py#L335 is the main base function that is called all over the place including page processor event handlers such as can_view(), can_change(), etc. Optimizing those queries being called in this authorize() function may have noticeable performance impact t

[2019-07-17 14:31] alvacouch commented on #3481
See #3483 and please review.

I realized that I didn't have to rewrite anything except the `x in queryset` calls. These were being interpreted slowly across the board, as `x in list(queryset)` rather than the more desirable `queryset.filter(id=x.id).exists()`. Formerly, the latter behavior was present. Now it isn't.

[2019-07-17 14:33] alvacouch commented on #3481
@sblack @pkdash Current load time is 3-4 seconds. Deployed on https://cuahsi-dev-1.hydroshare.org

[2019-07-17 14:54] alvacouch commented on #3481
@pkdash @sblack-usu One meta-comment. I have long experience with the postgres query optimizer and have learned to trust it. It is at least the equivalent of a commercial-strength query optimizer. I have no such trust in the MySQL query optimizer. So, if we were dumb enough to run Django on top of MySQL, this fix might not work.

[2019-07-17 15:07] sblack-usu commented on #3481
I don't think we'll ever move to a different database, but it's probably a good idea to note that we're relying on postgres optimizations that may not exist in other databases.  I think the docker-compose template for the postgis image seems like a good place?  Or maybe somewhere in access control.

This is such a huge improvement, and it's pretty much site wide.

[2019-07-17 15:08] alvacouch commented on #3481
(People might forget that access control was first implemented in postgres and then ported to Django.)

[2019-07-17 15:16] sblack-usu commented on #3481
Is there a way to look at the resulting query that postgres runs just to make sure it is optimizing correctly?  The speedup certainly indicates that, but I'd feel better about it if I could see the resulting query to verify it.

[2019-07-17 16:40] alvacouch commented on #3481
@sblack-usu It's difficult. You can get to the sql for the django query. The query that is passed to postgres is raw SQL; Django does no optimization. There is a planner that one can invoke via the `EXPLAIN` SQL syntax in postgres that tells what postgres is doing. One of its first rules is that expressions like `key1=key2` go first.

[2019-07-17 16:43] sblack-usu commented on #3481
ok, I'm fine with just trusting your knowledge of postgres and the undeniable evidence of the timings.

[2019-07-17 17:01] pkdash commented on #3481
I think one get the SQL that Django sends to DB by doing:
print (queryset.query)

[2019-07-17 18:09] sblack-usu opened #3485 "Release Checklist 1.24.3"
### Issues in Release
- [x] Resource landing page slower when loading private pages #3481

### Beta Deployment
- [x] Diff RC to master to identify and manually make changes in the following files:
  * hsctl
  * config/hydroshare-config.yaml
  * hydroshare/local_settings.py
  * hydroshare/settings.py
  * nginx/config-files/hydroshare-ssl-nginx.conf.template
  * scripts/templates/docker-compose.temp

[2019-07-17 18:49] sblack-usu commented on #3485
@ndebuhr - could you do a QA pass on beta?  Once you've approved it, we'll schedule a release for this hotfix.

[2019-07-18 20:05] cuahsimarko opened #3487 "hs_core views dunder init imports fragile"
The imports for __init__.py in hs_core/views are not sorted/listed properly. However, if you do sort them properly all sorts of thing break, like making groups public, creating resources. Consider optimizing imports and getting them in proper order, while refactoring to ensure functionality is maintained and nothing breaks.

**Existing imports:**
[code]

**Properly Sorted Might Look Something Like

[2019-07-19 01:48] hydrocheck opened #3488 "Modal data persistence despite "Cancel""
Across a number of modals, user submission of "Cancel" will not clear the modal data (still populated when the modal is reopened)
1. The resource title in the resource creation modal
2. Group creation modal on the collaborate page - all the fields persist
3. Tag creation modal
4. Adding an author modal within resource page (edit mode)
5. Manage access modal within the resource page
Videos are atta

[2019-07-19 01:48] hydrocheck opened #3489 "Title sorting on Discover does not produce expected results"
Use "Title" "Ascending".  The results do not have a clear sorting pattern.

[001.zip](https://github.com/hydroshare/hydroshare/files/3409048/001.zip)

[2019-07-19 01:49] hydrocheck opened #3490 "Inconsistent naming of "Additional Metadata" and "Extended Metadata" for resources"
Two names are used for the same concept in the resource page.

[002.zip](https://github.com/hydroshare/hydroshare/files/3409052/002.zip)

[2019-07-19 01:50] hydrocheck opened #3491 "The white/no border on the My Resources filters"
The white/no border on the My Resources filters cuts off text in an odd way and could seemingly improve from some borders/restyle.

[005.zip](https://github.com/hydroshare/hydroshare/files/3409053/005.zip)

[2019-07-19 01:51] hydrocheck opened #3492 "Author modal does not render properly in IE11"
Opening the author modal from a resource landing page results in rendering issues for IE11.

[006.zip](https://github.com/hydroshare/hydroshare/files/3409056/006.zip)

[2019-07-19 01:52] hydrocheck opened #3493 "The group membership request notification uses off-center, large logo"
It seems like the icon should be in the middle of the circle.

[007.zip](https://github.com/hydroshare/hydroshare/files/3409058/007.zip)

[2019-07-19 01:53] hydrocheck commented on #3485
https://github.com/hydroshare/hydroshare/issues/3487
https://github.com/hydroshare/hydroshare/issues/3488
https://github.com/hydroshare/hydroshare/issues/3489
https://github.com/hydroshare/hydroshare/issues/3490
https://github.com/hydroshare/hydroshare/issues/3491
https://github.com/hydroshare/hydroshare/issues/3492
https://github.com/hydroshare/hydroshare/issues/3493
@sblack-usu

[2019-07-19 16:52] jsadler2 commented on #3070
branch for this issue: https://github.com/uva-hydroinformatics/hydroshare/tree/3070-migrate-model-instance

[2019-07-20 03:31] dtarb opened #3495 "Only show deleting keywords message when it is applicable"
The message "Deleting all keywords will set the resource sharing status to private" on a resource landing page should only be shown in edit mode.

Right now I see this message for a resource landing page even when not logged in and it is not my resource so I cannot edit.
![image](https://user-images.githubusercontent.com/3456833/61573479-94bb3f00-aa6c-11e9-9e1a-af8b6244c7bf.png)

[2019-07-22 18:35] jsadler2 commented on #2959
As I've been doing this redesign, there are a few changes to the DB for Model Instance and Model Program that I suggest. Table 1 and 2 (these are from the design document).
![image](https://user-images.githubusercontent.com/6943441/61655979-492fad80-ac85-11e9-9fef-9308a0898ff6.png)

This may (probably will) cause some headache when converting existing MP and MI resources. For example, what if some

[2019-07-22 20:15] pkdash commented on #2959
@jsadler2

If you make this change, I think the resulting migration file will fail to migrate data for the modelWebsite field if the data does not look like url.

[2019-07-23 17:07] alvacouch opened #3496 "Import and sync ODM2 variable name vocabulary with HydroShare"
For multiple reasons, we need access to the ODM2 variable name vocabulary inside HydroShare. For speed, this should be ingested into a Django model. Reasons include:

1. CZO desires to use these terms in publication.
2. Need to boost these terms during discovery.

[2019-07-25 15:47] sblack-usu opened #3500 "Disable comment hyperlinks"
Disable hyperlinks in comments as an effort to avoid following malicious links inside comments.

Email conversation:
[code]

[2019-07-27 22:36] dtarb opened #3502 "Text on web app page overruns into other fields"
For example
![image](https://user-images.githubusercontent.com/3456833/62000096-a57f3c80-b08c-11e9-918d-a76515dfbeba.png)

[2019-07-28 18:03] dtarb opened #3503 "Add to my resources not needed for resource I own"
If I create a resource in HydroShare.  After adding some content, when I come back to the page I see the Add to My Resources button.
![image](https://user-images.githubusercontent.com/3456833/62010986-930a0f00-b12f-11e9-8ac8-6b140a2c9a26.png)

This should not show for the resource owner, since the resource is already part of "My Resources" for the owner.

[2019-07-29 16:35] cbcunc commented on #3440
Fixed.

[2019-08-02 18:31] cbcunc commented on #3440
Fixed on help.

[2019-08-02 18:36] cbcunc opened #3505 "Exclude pages from search engine indexing"
Exclude pages.hydroshare.org from search engine indexing.

[2019-08-03 03:02] dtarb commented on #3440
Thanks.  It looks right now.

[2019-08-05 14:44] sblack-usu opened #3506 "async relevant_tools on resource landing page"
The logic to determine relevant web app connectors on a resource landing page is slow, take it out of the first response and speed up page load times.

[2019-08-05 16:31] kjlippold opened #3508 "Include content_type field in hsapi_resource_search_list"
The content_type field is currently missing from the REST API's hsapi_resource_search_list endpoint. Without the field it's not possible to use the REST API to filter resource lists based on content type.

[2019-08-06 17:34] kjlippold opened #3511 "Single file download for Reference Time Series files not working"
Trying to download an unzipped reference time series file through the resource landing page doesn't work and doesn't produce an error. Using the url directly to download the file will result in a generic HydroShare error message.

Example URL: https://www.hydroshare.org/django_irods/download/65a1edf90967434aaa1e51decb9455f2/data/contents/timeseries.refts.json/?url_download=False&zipped=False

Resu

[2019-08-06 20:30] kjlippold opened #3513 "Web app connector URL patterns pass invalid characters"
Some of the URL patterns for web app connectors will pass invalid characters to URL query params. The most notable ones are HS_FILE_PATH and HS_AGG_PATH which will pass forward slashes from the file paths to the URL query param if the aggregation is located in a subdirectory. HS_FILE_NAME and HS_MAIN_FILE can also potentially pass invalid characters from file names to the URL query params.

[2019-08-07 15:49] kjlippold commented on #3511
Resolved by #3512

[2019-08-07 15:49] #3511 closed

[2019-08-07 17:28] kjlippold opened #3514 "Open With not working working with folderless aggregations"
Right-clicking on an aggregation icon for the new folderless aggregations isn't pulling up apps to open them with.

New Aggregations:
<img width="807" alt="Screen Shot 2019-08-07 at 11 21 16 AM" src="https://user-images.githubusercontent.com/27028728/62643754-e8030d80-b905-11e9-9f46-9c1a468d292b.png">

Old Aggregations:
<img width="807" alt="Screen Shot 2019-08-07 at 11 23 44 AM" src="https://user

[2019-08-07 17:30] sblack-usu commented on #3514
Thanks for finding this!  It should just be some updates on the frontend.  @Maurier - could you take a look?

[2019-08-07 20:26] Maurier commented on #3514
@sblack-usu - Yes, I'll have a look today.

[2019-08-08 18:48] sblack-usu commented on #3514
@kjlippold - a fix for this has been deployed to beta, mind taking a look and closing if it's resolved?

[2019-08-08 18:57] kjlippold commented on #3514
The first time I right-click on an aggregation and it loads the apps, it displays all the resource level apps like this:

<img width="829" alt="Screen Shot 2019-08-08 at 12 50 13 PM" src="https://user-images.githubusercontent.com/27028728/62729533-5e257400-b9db-11e9-985d-1dec2217e507.png">

Then when I try again it loads just the aggregation level apps correctly:

<img width="830" alt="Screen Shot

[2019-08-08 19:00] sblack-usu commented on #3514
@kjlippold - that could just be your cache with old javascript files.  Try reloading the page again and see if it shows all the apps again the first time.

[2019-08-08 19:14] kjlippold commented on #3514
Alright, everything seems to be working now.

[2019-08-08 19:14] #3514 closed

[2019-08-09 16:34] kjlippold opened #3517 "Open With button overlaps long resource titles"
The new open with button will overlap with some resource titles if they're too long.

<img width="1145" alt="Screen Shot 2019-08-09 at 10 31 04 AM" src="https://user-images.githubusercontent.com/27028728/62794302-fdf10980-ba90-11e9-97c1-a99260a05d53.png">

The old button would cause the title to wrap to the next line like this:

<img width="1154" alt="Screen Shot 2019-08-09 at 10 31 47 AM" src="ht

[2019-08-10 14:58] Maurier commented on #3517
@sblack-usu - I pushed a fix for this to the branch containing the folderless aggregation work since we've also addressed a few other issues like this there.

[2019-08-12 21:51] sblack-usu opened #3518 "Release Checklist 1.25"
### Issues in Release
- [x] #3402 Add quota support into local-dev setup @phuongdm
- [x] #3441 fixed the issue with launching GABBs tool from aggregation in composi… @hyi
       *Note*: Since GABBs iRODS server is only federated with www iRODS server, I cannot really test it out on beta to verify it works, but I checked the async relevant tools PR and made sure my fix has been accommodated there.

[2019-08-13 00:27] pkdash opened #3519 "Implement Model Instance and Model Program Aggregation Types"
The implementation of these two new aggregations types is based on the following design document:
https://docs.google.com/document/d/1DZgjLzhe40JkI9EA8OrTCDf1uFAnsSAQyqJ0rxkhBc8/edit

Jeff Sadler's presentation on these new aggregation types in HydroInformatics conference 2019:
https://docs.google.com/presentation/d/1RzrGKP4uFivE-PGzZEkzCXr0J6FzSa9e25EiCE14Pcs/edit#slide=id.p

[2019-08-14 19:48] sblack-usu opened #3520 "Large File Download messaging"
Messaging on the frontend for downloading files larger than 1GB still shows up on the resource landing page.  I've identified two places in the code that it needs to be removed

 - https://github.com/hydroshare/hydroshare/blob/develop/theme/templates/resource-landing-page/modals.html#L1468
 - https://github.com/hydroshare/hydroshare/blob/develop/hs_core/templates/pages/genericresource.html#L698

[2019-08-14 20:31] sblack-usu opened #3521 ""Edit" message for keywords shows in "view" mode."
Take a look at just about any public resource to reproduce.  I was able to reproduce this issue on this resource without even being logged in.
https://www.hydroshare.org/resource/5586e9524b114c30a1a29d58f4c98355/

![image](https://user-images.githubusercontent.com/35820390/63053823-e4d8c600-be9f-11e9-92b5-3297ba4b3bd5.png)

[2019-08-15 01:28] dtarb commented on #3521
Duplicate of #3495.  Fixing it will squash two bugs now.  Twice the bang for the buck!

[2019-08-15 06:32] hydrocheck opened #3524 "Repeated file upload validation error is left in a JSON-type format when displayed to the user."
Upload a file to a resource, then attempt upload of the same file.  The error message is in a json/computer format.

[000.zip](https://github.com/hydroshare/hydroshare/files/3504509/000.zip)

[2019-08-15 06:32] hydrocheck opened #3525 "Resource file upload validations run after upload"
With validations occuring after file upload, the user is not alerted in a timely manner of upload issues.  For example, when uploading a duplicate named file, the user could wait for a few minutes to upload, then see at the end a duplicate filename alert.

[001.zip](https://github.com/hydroshare/hydroshare/files/3504511/001.zip)

[2019-08-15 06:33] hydrocheck opened #3526 "Cancel does not clear unsaved file extended metadata"
When the user adds extended metadata, but then doesn't confirm the changes by pressing cancel, then the drafted metadata will still show in the boxes when the user returns to add metadata.

[002.zip](https://github.com/hydroshare/hydroshare/files/3504514/002.zip)

[2019-08-16 20:43] martinseul opened #3528 "related resources dropdown addition"
We receive a suggestion for the related resources from Adam Ward (CUAHSI BOARD member), @horsburgh @dtarb  what are your thoughts on it?

In   the “related resources” dropdown, I suggest adding the following option:    
The   model used to generate these data is described by:    
This   would let those of us archiving model results link to the original pub where   a model was derived or validated.

[2019-08-16 20:45] martinseul opened #3529 "citation length increase"
We received this request from Adam, @sblack-usu @alvacouch hope this should be an easy fix

Hello –

I am working on the following HydroShare entry:
Ward, A., S. Herzog, N. Schmadel, S. Wondzell (2019). Ward et al., JOURNAL TBD, 2019 - Tabular Data, HydroShare,http://www.hydroshare.org/resource/2f9643bb5d85436ba997a466ba8ed653

I am trying to cross-reference some of the underlying data from the HJ

[2019-08-16 21:04] horsburgh commented on #3528
There's an existing issue that deals with references that still needs to be addressed - #3261. We developed a Google Doc that describes all of the changes that need to be made here:

https://docs.google.com/document/d/1BssYnm6Taw3GVW8Qv8ldLO-H3VZqo16Kejypkrmd6KA/edit

This includes an overhaul of the terms used to describe relationship types, which are listed here:

https://docs.google.com/spreads

[2019-08-16 21:17] sblack-usu commented on #3529
Looks like sources entries are limited to 300 characters.  It’s not much work to extend the character count but will require a migration

Relevant code:
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L1612
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/forms.py#L519

[2019-08-16 21:51] martinseul commented on #3518
I tested the setup Geoserver by uploading a shapefile and making it public and did not see the proper endpoints appear, is this functionality enabled or am I missing a step? Also as we are missing some documentation and a migration script for the current geographic resources I'm leaning towards pushing this feature to a future release.

[2019-08-16 21:53] sblack-usu commented on #3518
I checked that based off of @klippold verifying beta was sending to geoserver earlier.  @klippold - could you look into what's going on?

[2019-08-16 22:00] sblack-usu opened #3530 "Resources with many aggregations are slow, let's optimize"
Basically anytime we lookup an aggregation within a resource we retrieve it by looping through all the aggregations in the resource and comparing the name.  This is fine when there are 1 or 2, but quickly slows down the resource landing page when a resource has several aggregations.  I'll document here the code that I've identified as places that are slowing the page down.

### Resource
https://gi

[2019-08-16 22:06] sblack-usu commented on #3530
@pkdash - I think it'd be great to get you to leave some input on this.

[2019-08-17 18:48] dtarb commented on #3529
I would be happy if this could be addressed promptly.  I am generally in favor of using variable types that do not limit field lengths, because we have been impacted by choices of field lengths being too short a number of times before in different settings.

[2019-08-17 18:59] dtarb commented on #3518
I am also not seeing geoserver functionality.  I looked at this in an old resource
https://beta.hydroshare.org/resource/d7b7f9d5c7e0411683b76ef45c6bf0d8/ and a new resource I created to specifically try this

[2019-08-17 19:03] dtarb commented on #3518
I also noticed that the color of the Open With button has changed from Blue to White.  I do not necessarily object to this, but I wonder why this is being done and feel that we may have more important things to worry about.  Also, this is a change that users will notice, so if we make changes like this they should be deliberate.  I do not see button color change in the checklist above.

[2019-08-17 19:34] Maurier commented on #3518
The color of the button was changed as part of #3506. While implementing the logic in the PR I did some cleanup on the layout and made the decision to change the color because this button does not denote a primary action, but it's rather a menu toggle.

[2019-08-19 14:28] sblack-usu commented on #3518
@katrinleinweber @dtarb - Looks like the geoserver settings were overwritten.  I restored them and restarted the beta server.  Could you please verify it is working now?

[2019-08-19 14:47] martinseul opened #3531 "Group invitation by person"
Dave pointed out that if we invite user to a group it does not indicate who the person is that invites you,  Currently the user is invited by a generic message from the "Hydroshare Team"

Please see sample below:

_Dear David
You have been invited to join HydroShare user group (2019 CUAHSI Conference on Hydroinformatics ).
Click on the link below to join this group.
https://www.hydroshare.org/hsap

[2019-08-19 15:26] cuahsimarko commented on #3495
@Maurier can you take assignment/label/close this as appropriate?

[2019-08-19 15:53] #3172 closed

[2019-08-19 15:54] #3081 closed

[2019-08-19 16:26] cuahsimarko commented on #3053
Just need to update the template formatting in the error message. Otherwise, now the error is caught

![image](https://user-images.githubusercontent.com/45397838/63282325-956a0f80-c27c-11e9-8ffe-c55af10c1e20.png)

[2019-08-19 16:31] martinseul commented on #3528
Jeff, I did assign this to you to, do you think we are far enough along in the process that we can get this into the next release probably in September?

[2019-08-19 16:43] #3485 closed

[2019-08-19 16:43] #3439 closed

[2019-08-19 16:44] #3434 closed

[2019-08-19 16:44] #3418 closed

[2019-08-19 16:44] #3380 closed

[2019-08-19 16:44] #3324 closed

[2019-08-19 16:44] #3312 closed

[2019-08-19 16:46] martinseul opened #3532 "Group invitation add link to landing page"
Additional suggested functionality from Dave for the invite email: When a user receives a invite the user also should be able to click a link to see the group landing page get information about the group that the invite refers to.

[2019-08-19 16:46] #3442 closed

[2019-08-19 16:47] martinseul commented on #3532
As i like the idea does adding the link increase the probability for the email to be marked as spam?

[2019-08-19 16:48] hyi commented on #3431
@sblack-usu Do you want to verify before closing it? It should have been fixed.

[2019-08-19 16:48] #3430 closed

[2019-08-19 16:49] #3406 closed

[2019-08-19 16:49] #3431 closed

[2019-08-19 16:51] #3532 closed

[2019-08-19 16:51] cuahsimarko commented on #3531
Additional suggested functionality from Dave for the invite email: When a user receives a invite the user also should be able to click a link to see the group landing page get information about the group that the invite refers to.

[2019-08-19 16:54] hyi commented on #2759
@dtarb I believe this issue can be closed as well especially given that we removed the option of copy or move as a result of removing the functionality to create a resource in user zone.

[2019-08-19 17:01] hyi commented on #2724
@rayi113 @dtarb I have just verified this has been fixed, most likely due to the iRODS upgrade. Could you please verify and close if it indeed works now?

[2019-08-19 17:03] hyi commented on #2539
@dtarb Both resources you linked above don't exist any more. Could you please check whether this issue still persists or not?

[2019-08-19 17:07] hyi commented on #1276
This issue does not apply any more due to our recent change that removed functionality to create resources in user zone.

[2019-08-19 17:07] #1276 closed

[2019-08-19 17:20] sblack-usu opened #3533 "Improving file upload/unzipping"
Unzipping or uploading numerous files with lots of processing can result in a bad database state if the thread gets interrupted.  Further, user feedback is currently minimal and should be improved.

### Requirements
- An error when processing a batch of files should not interrupt processing other files.  The error should be logged with appropriate user notification and continue to the other files.

[2019-08-19 17:20] pkdash commented on #2405
@horsburgh I think this issue can be closed.

[2019-08-19 17:22] pkdash commented on #2790
@ndebuhr This issue can be closed.

[2019-08-19 17:23] pkdash commented on #2556
@rajadain This issue can be closed.

[2019-08-19 17:32] pkdash commented on #3100
@dtarb Though we have not migrated the generic resources yet, I am thinking of closing this issue for now as the code to migrate has been implemented and meregd.

[2019-08-19 17:35] pkdash commented on #3262
Should this be closed?

[2019-08-19 17:36] sblack-usu commented on #3100
let's leave it to track testing/running the migration

[2019-08-19 17:36] sblack-usu commented on #3262
Was released in 1.22

[2019-08-19 17:36] #3262 closed

[2019-08-19 17:38] pkdash commented on #3100
Sounds good.

[2019-08-19 18:01] rayi113 commented on #2724
@hyi I tested this and it works, thanks!  Closing issue.

[2019-08-19 18:03] horsburgh commented on #2405
I'm going to close this for now. The recent performance enhancements have made significant improvements here.

[2019-08-19 18:03] #2405 closed

[2019-08-19 18:06] cuahsimarko commented on #3524
Unless anyone objects the repetition of file is visually jarring so I'm going to eliminate from the top instance:
![image](https://user-images.githubusercontent.com/45397838/63288392-95710c00-c28a-11e9-9eae-3ff49e2e32a7.png)

[2019-08-19 18:09] cuahsimarko commented on #3524
![image](https://user-images.githubusercontent.com/45397838/63288544-fa2c6680-c28a-11e9-8387-23fdeafb0d71.png)

[2019-08-19 18:17] cuahsimarko commented on #3524
Actually removed the internal path which is supposed to be for backend/systems use only
![image](https://user-images.githubusercontent.com/45397838/63289009-154ba600-c28c-11e9-83fa-a1a96894581d.png)

[2019-08-19 18:28] cuahsimarko commented on #3079
Unable to reproduce

[2019-08-19 18:28] #3079 closed

[2019-08-19 20:26] horsburgh commented on #3528
I should think @Maurier would be able to get through this for a release in September, but I don't think he's been working on it.

@Maurier - can you take a fresh look at this issue with the google docs and let us know what you think about targeting a release in the near future?

[2019-08-19 21:19] sblack-usu commented on #3530
Looking more into how to do an aggregation lookup by name.  It's a bit more complicated than I initially thought, the aggregation name isn't a field, it's actually the primary file name.  And that primary file name is looked up dynamically each time we lookup an aggregation by name.
https://github.com/hydroshare/hydroshare/blob/develop/hs_file_types/models/base.py#L958

I think it makes sense to k

[2019-08-19 21:31] sblack-usu commented on #3530
We may also consider using `@cached_property`.  It won't be as much of a speed up as what I proposed earlier, but it is less work and considering how we currently loop over aggregations several times, we'll get similar gains after the first loop.

[2019-08-20 02:15] dtarb commented on #2539
I tested and confirmed that this is fixed.

[2019-08-20 02:15] #2539 closed

[2019-08-20 02:22] dtarb commented on #2759
Correct

[2019-08-20 02:22] #2759 closed

[2019-08-20 02:35] dtarb commented on #3351
This appears fixed with iRODS and zone changes

[2019-08-20 02:35] #3351 closed

[2019-08-20 02:38] pkdash commented on #3530
@sblack-usu I will try to look into this tomorrow.

[2019-08-20 03:20] dtarb commented on #2984
This is still a problem.  I just did the sequence above with the logan.tif file in the following zip file.
[logan.zip](https://github.com/hydroshare/hydroshare/files/3518564/logan.zip)

Here is what results when the bag is unzipped.
![image](https://user-images.githubusercontent.com/3456833/63315082-1fd76100-c2c7-11e9-8c8a-de661a481c01.png)

[2019-08-20 03:32] dtarb opened #3534 "Manage access not working for groups"
I just tried to share a resource with a group.  I find that I am able to set group access but not remove or change it.

This is a regression suspected due to vue.js

![image](https://user-images.githubusercontent.com/3456833/63315526-ccfea900-c2c8-11e9-983a-a4a423038618.png)

[2019-08-20 04:07] dtarb commented on #2724
@rayi113 did you check the file you downloaded.  I just downloaded the bag.  Then when I unzipped I got the following warning
![image](https://user-images.githubusercontent.com/3456833/63316774-5e701a00-c2cd-11e9-8a95-91807286aafa.png)

Then when I looked in the bag and attempted to unzip the contents file I got
![image](https://user-images.githubusercontent.com/3456833/63316816-8a8b9b00-c2cd-11e9

[2019-08-20 04:43] rayi113 commented on #2724
@dtarb Yes.  I tried everything from scratch just now to double-check.  I created this public resource just now that contains 2 PDFs: https://www.hydroshare.org/resource/52c6dfb776a24f19a9cbb04906b31199/

Then, before doing anything else so as to test creation of a zip file before it is copied to iRODS, I selected the "Copy Resource Bag to iRODS User Zone" button in the resource landing page file

[2019-08-20 11:59] dtarb commented on #2724
@rayi113 those are tests with small files.  We still have a problem with the resource @ChristinaB mentioned https://www.hydroshare.org/resource/ec518c49772b420b97047f7482ae92aa/ that started this issue.  I am unable to unzip the file downloaded from it, though I am now able to download a bag and download the file - which is progress from April 2018.  It may be that the zip file in this resource is

[2019-08-20 12:32] rajadain commented on #2556
Has this been addressed in a PR or commit?

[2019-08-20 13:48] cuahsimarko commented on #2556
I don't know the exact commit, but I have observed for a while now, that when I attempt to access a protected resource, I'm prompted to login then redirected to the requested resource... which is my understanding of what's being requested in this GH Issues 2556

[2019-08-20 13:48] rayi113 commented on #2724
@dtarb I verified the original file in @ChristinaB 's https://www.hydroshare.org/resource/ec518c49772b420b97047f7482ae92aa/  resource is corrupt.  I did this by logging into data.hydroshare.org and copying the raw LNWB_DataAppendix_20121231.zip via linux cp into a local linux directory, then did a "7z l LNWB_DataAppendix_20121231.zip" and it says it cannot read it as a .zip file.

[2019-08-20 14:38] hyi opened #3536 "Web apps with appkey extra metadata have open with button below open web app button on resource landing page"
An example: https://www.hydroshare.org/resource/8e4efd86e06d4bdabd9a56753a6a1a57/

This is a regression with the latest 1.25 release.

[2019-08-20 14:45] cuahsimarko commented on #3500
Released in https://github.com/hydroshare/hydroshare/issues/3518

[2019-08-20 14:45] #3500 closed

[2019-08-20 14:47] cuahsimarko commented on #3506
Released in https://github.com/hydroshare/hydroshare/issues/3518

[2019-08-20 14:47] #3506 closed

[2019-08-20 17:00] rayi113 commented on #2724
@dtarb So that we may close this issue, I was able to find a zip program that could read a lot of the files in Christina's .zip file, but not all of them (i.e. thinking Christina's NWB_DataAppendix_20121231.zip is corrupt), so I unzipped what I could and then re-zipped just those files for testing purposes only since it is most of the files.  The thinking is the 2.8GB file I created should be suff

[2019-08-20 17:34] rajadain commented on #2556
+1 tested on beta.hydroshare.org, it is now working as desired. Thanks!

[2019-08-20 17:34] #2556 closed

[2019-08-20 18:17] hyi commented on #3441
Verified on www with release 1.25. GABBs tool can be launched from a raster aggregation now. Closing.

[2019-08-20 18:17] #3441 closed

[2019-08-20 18:48] pkdash commented on #3530
@sblack-usu I think the following function can be optimized easily which should make the funcition https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_folder_hierarchy.py#L29 more efficient - resource landing page load time improvement.

https://github.com/hydroshare/hydroshare/blob/develop/hs_composite_resource/models.py#L77

Will try to create a PR tonight.

[2019-08-20 19:08] sblack-usu commented on #3530
@pkdash - I pointed those methods out in the description.  How do you expect to optimize it easily?  I was thinking it'd be easy as well, but then I realized aggregation_name isn't a field, rather it's a property that loops over each file and determines the name from the file names.  That's why I'm thinking `@cached_property` is an easy solution... but it's not a large enough speedup because it's

[2019-08-20 20:02] pkdash commented on #3530
@sblack-usu When we are doing a lookup for an aggregation based on a folder path (get_folder_aggregation_object()), we don't need to loop over all the aggregations of the resource. Instead, I plan to do this:

This one liner for the get_folder_aggregation_object(dir_path):
   ```# query the DB for this```
```return self.filesetlogicalfile_set.filter(folder=dir_path).first()```

From the above chan

[2019-08-21 00:32] dtarb commented on #2724
I am able to download and unzip this file as well as the bag.  So we know that HydroShare is now handling this file size OK.  @ChristinaB Ray would like to close this issue.  I think that what is possible to do has been done.  Whatever system problems there may have been that caused this are fixed.  However the zip file in the resource you mention is still broken.  I suggest you either download th

[2019-08-21 00:32] #2724 closed

[2019-08-21 12:27] hydrocheck opened #3539 "Title assistant is not working on IE11"
The title assistant is not compatible with IE11 - the title assistant does not correctly come up.

[2019-08-21 12:28] hydrocheck opened #3540 "Inconsistency in direct title editing for CZO"
Both the functionality and styling are confusing for direct title editing on CZO.  On the edit page, the title can be edited via right clicking, then typing.  The styling suggests "editable directly". The title window suggests a different story, with the generated title both functionally and stylistically uneditable.

[000.zip](https://github.com/hydroshare/hydroshare/files/3525293/000.zip)

[2019-08-21 12:29] hydrocheck opened #3541 "Inconsistent approach to field sizing for title assistant CZO"
In Chrome, fields are shortened horizontally.  For example the bottom fields, which results in blank space to the right of the fields.  The year fields in that section are rather large, and close to the other fields in that row.

[001.zip](https://github.com/hydroshare/hydroshare/files/3525296/001.zip)

[2019-08-21 12:30] hydrocheck opened #3542 "Title assistant styling issues in Firefox"
1. A horizontal scrollbar is visible despite being the full width of the window
2. The ">" characters on all four buttons are not centered
3. Width rows vary for the section at the bottom (the one with "Ongoing" extending beyond the others)

[002.zip](https://github.com/hydroshare/hydroshare/files/3525300/002.zip)

[2019-08-21 16:04] Maurier commented on #3534
@dtarb - I am unable to reproduce this issue both locally and at https://www.hydroshare.org with one of my resources. Could you share a link to the resource you are trying this on so I can check if the problem is something specific to it?

[2019-08-21 16:07] Maurier commented on #3428
This issue has been fixed and released. Closing.

[2019-08-21 16:07] #3428 closed

[2019-08-21 16:11] Maurier commented on #3517
This has been addressed and included in the latest release. Thanks for reporting it.

Closing

[2019-08-21 16:11] #3517 closed

[2019-08-21 16:17] Maurier commented on #3110
This has been addressed and released. Closing.

[2019-08-21 16:17] #3110 closed

[2019-08-21 17:14] Maurier commented on #3528
I went through what is documented on this topic and it is all well organized into actionable items. I will start working on this now and report back when I have a more accurate assessment for a time of completion.

I expect I will have to consult with other developers in order to implement some of the changes to resourcemetadata.xml.

[2019-08-21 21:13] jamy127 opened #3543 "Can't upload new files to a resource"
I tried to add a text file to a resource with the following error. Please help fix this issue. Thanks! https://www.hydroshare.org/resource/c71e41fe816548889ee039e870098eb4/
![image](https://user-images.githubusercontent.com/3229860/63468741-d6515800-c425-11e9-8113-49a75339ef03.png)

[2019-08-22 11:23] dtarb opened #3544 "multidimensional aggregations broken in 1.25 deploy"
If I create a new resource and add a netcdf file I get the following.  The contents pane is not showing the aggregation.  However the aggregation appears to have been created. as the top of the landing page indicates multidimensional content and metadata is harvested.

![image](https://user-images.githubusercontent.com/3456833/63510791-c1fc7200-c49c-11e9-80d7-368314d8a2e5.png)

This may be related

[2019-08-22 11:32] dtarb commented on #3518
@Maurier can you please revert the open with button back to blue.

[2019-08-22 12:56] Maurier opened #3545 "Revert Open With button color back to blue"
Undo button color change in https://github.com/hydroshare/hydroshare/pull/3507

@Maurier can you please revert the open with button back to blue.

_Originally posted by @dtarb in https://github.com/hydroshare/hydroshare/issues/3518#issuecomment-523866374_

[2019-08-22 13:01] Maurier commented on #3518
@dtarb - Here: https://github.com/hydroshare/hydroshare/pull/3546

[2019-08-22 13:07] alvacouch commented on #3382
This anomaly has already been addressed in the community code. The fix is to only list products owned by a member of the community.

[2019-08-22 13:07] #3382 closed

[2019-08-22 13:09] alvacouch commented on #3469
In what context does this occur? It is not clear what you mean.

[2019-08-22 13:12] alvacouch commented on #3469
This is not necessarily a migration issue. There is a canonicalization of names in the lists. As I recall, at least for discovery, this is done dynamically. There is perhaps a bug in this.

[2019-08-22 13:16] pkdash commented on #3544
@dtarb I was not able to reproduce this. When I created a new resource with the same nc file, I see the correct behavior.

![image](https://user-images.githubusercontent.com/2523434/63517673-68586f80-c4bd-11e9-9043-95a23887c82a.png)

[2019-08-22 13:16] Maurier commented on #3544
@pkdash @pkdash I was unable to reproduce it either.

[2019-08-22 13:18] pkdash commented on #3544
@Maurier Can this be a browser caching issue?

[2019-08-22 13:21] Maurier commented on #3544
@pkdash - Perhaps, or could be browser specific, I am not able to test on Safari right now, @dtarb if this is not a caching issue, could you check if there are any errors in the browser's console?

[2019-08-22 13:26] pkdash commented on #3544
@Maurier I tested on FireFox and Chrome. I don't think @dtarb is using Safari.

[2019-08-22 13:48] pkdash commented on #3543
@sblack-usu I was able to reproduce this error on www. However, on beta I couldn't reproduce this.

[2019-08-22 14:12] dtarb commented on #3544
Apologies - it was a caching issue.  Sorry.  It got me because I did not realize that a refresh would be needed for a new resource.  User error on my part.

[2019-08-22 14:12] #3544 closed

[2019-08-22 14:47] sblack-usu commented on #3543
I verified beta and www are on the same commit for 1.25 so I don't know how you'd get different results in beta/www.  As for the error, there looks to be an unnecessary check whether you can upload a file to an aggregation folder that starts here in a receiver hook:
https://github.com/hydroshare/hydroshare/blob/develop/hs_composite_resource/receivers.py#L19

I believe this if block may be removed.

[2019-08-22 15:44] pkdash commented on #3543
I was able to reproduce only with the resource @jamy127 provided the link for. When I create a new resource I don't see this issue. I even created multiple netcdf aggregations and then tried to upload multiple txt files. It worked fine.

[2019-08-22 15:59] jamy127 commented on #3543
Hi Pabitra,

How are you? Thanks for looking into this issue. I think this error
happened after I deleted some files and refreshed the page maybe before it
finished the delete action.

I report this because I had similar issues several times when I deleted
resources and it seems the resources crashed.

I feel this may happen to other users and impact their resources, so I
reported this issue.
If i

[2019-08-22 16:21] pkdash commented on #3543
@jamy127 Don't close this issue now. Are you able to reproduce this issue?

[2019-08-22 16:39] jamy127 commented on #3543
@pkdash I actually don’t know what specifically caused this error. I feel it is more like when a delete request is sent and the system may not be able to handle that if a user quickly refreshes the page or does other actions in the system.

[2019-08-22 17:06] cuahsimarko opened #3548 "Improve UX for Notifications - snackbar"
Action confirmation Notifications, inline error notifications, informational and warning banners UIUX could be more deliberately separated by use-case, centralized per-type and improved. I welcome a design session to review which areas are good candidates to be pulled into a snackbar approach, then creating the generic, reusable snackbar and first implementations. Inline and existing banners can r

[2019-08-22 17:14] sblack-usu commented on #3543
I agree we should leave this open.  I did a quick check of the resource in the database and didn't see any hanging files/aggregations.  We definitely need to investigate more and I think the check-resource management commands would be helpful in diagnosing once we get them updated.

I do think we can fix the side effect you're seeing (not able to upload a file due to the validationerror) by removi

[2019-08-22 21:11] cuahsimarko opened #3549 "Unnecessary Title Creation Dialog"
When users create a resource, they are prompted for a title, then given the chance to edit it. Can skip the initial extra prompt and go right to resource creation, where a Cancel button should be available:

![image](https://user-images.githubusercontent.com/45397838/63550086-e3427a00-c4ff-11e9-9846-0e56a8553f34.png)
Skip this dialog

[2019-08-22 21:16] horsburgh commented on #3549
We added this dialog on purpose because as things currently work, once you get to the resource editing page the resource has already been created on disk. This was a way to avoid the creation of a bunch of empty resources.

[2019-08-23 12:20] dtarb commented on #3543
While we do not know how to recreate the exact steps that got the resource into this state, we know it is now in an inconsistent state that results in an inability to add files.  I suggest deploying an exact version of the www code, production database with this resource and the associated iRODS file on a testing server (e.g. beta) and then seeing what happens with debug messaging turned on.  This

[2019-08-23 12:26] dtarb commented on #3549
I agree it would be cool to avoid the title prompt and go straight to the landing page.  When @sblack-usu implemented this, he and I wracked our brains about how to do this, and this was the best solution we came up with.  If there is another way that will quickly get to the landing page in edit mode without creating a resource until a user actually adds content, then that would be better.

[2019-08-23 12:46] dtarb opened #3550 "Improve content type labels in contents area"
Right now in list mode the contents part of a resource landing page appears as follows.  The area circled in red is problematic.

![image](https://user-images.githubusercontent.com/3456833/63593620-926b6980-c571-11e9-95ce-215d491e7e31.png)

"GeoRasterLogical...' is incomplete and there is no way to expand the column to see the full text.  If possible add control to this area to allow columns to be

[2019-08-23 12:59] dtarb opened #3551 "Data storage as part of quota use reporting is incorrect on www."
For the account "demo" (name Dave Demo Tarboton) that I use for testing, the profile page reports 11 GB used.  However on "My Resources" there are just 5 resources that I own and when I look at the size of each and add them up, it is 3 GB.

On beta.hydroshare.org, the same 5 resources appear and the profile page reports 3 GB used (2.96 actually).

[2019-08-23 13:29] pkdash commented on #3543
@jamy127 , @dtarb , @sblack-usu  I was able to reproduce this issue. The happens if you delete any multi-file aggregation and then try to upload a file. Deleting a fileset doesn't lead to this issue. Can fix it this weekend.

[2019-08-23 15:27] phuongdm commented on #3551
Fixed by resetQuota msi but actually I still don't know why it's incorrect!

@hyi, any idea?

[2019-08-23 15:53] cuahsimarko commented on #3549
Ok I'll have a look and check back.

[2019-08-23 17:13] hyi commented on #3551
@dtarb Do you have some big files in your personal iRODS user scratch space associated with www, i.e., users.hydroshare.org host? Those big files in your personal iRODS user scratch space are counted toward your quota, and beta is using usersdev.hydroshare.org host, which are different. @phuongdm Although files in user scratch space on iRODS production server are copy-synced up to usersdev server

[2019-08-23 17:23] phuongdm commented on #3551
@hyi, when we copy-synced from backup storage to the beta all data was chowned to be owned by right user, so I think that's not the reason. The usage number in beta is correct because we did a fresh copy then run resetQuota after copying.

[2019-08-23 17:27] dtarb commented on #3551
This is my demo account that does not have an iRODS account as indicated by the fact that my profile does not list one.  However @phuongdm may have just done something, because the quota is now reported as being correct.
![image](https://user-images.githubusercontent.com/3456833/63611326-dc1b7a80-c598-11e9-9c9c-84b1f9f50f5c.png)

[2019-08-23 17:41] hyi commented on #3551
@dtarb looks like @phuongdm run quota reset to get quota refreshed on www, which corrected this discrepancy initially observed.

@phuongdm I don't remember specific details, but chown may not have worked correctly under some circumstances. I'll look into details when I have time and touch base with you offline on the issues I experienced on beta with my copied-over files on usersdev.

[2019-08-23 18:40] dtarb commented on #3551
@phuongdm this issue is resolved from my perspective.  If you feel it is resolved through what you did, please close it.  If there is more that needs to be done to resolve things getting out of sync and need refreshing, please do what needs to be done, either in response to this or a separate issue.

[2019-08-23 21:34] #3551 closed

[2019-08-24 14:54] ndebuhr commented on #3215
This has since been resolved

[2019-08-24 14:54] #3215 closed

[2019-08-24 14:56] ndebuhr commented on #2829
There has been some progress on this, but behavior varies.   For example, posting a comment redirects to resource after commenting, but rating a resource redirects to https://beta.hydroshare.org/home/.  Keeping open.

[2019-08-24 14:56] ndebuhr commented on #2875
This functionality does not appear to be addressed through recent redesigns

[2019-08-24 15:18] ndebuhr commented on #2647
This has been resolved.

[2019-08-24 15:18] #2647 closed

[2019-08-24 15:33] ndebuhr commented on #3542
Moving here https://github.com/hydroshare/hydroshare/pull/3515

[2019-08-24 15:33] #3542 closed

[2019-08-24 15:33] ndebuhr commented on #3541
Moving here https://github.com/hydroshare/hydroshare/pull/3515

[2019-08-24 15:33] #3541 closed

[2019-08-24 15:33] ndebuhr commented on #3540
Moving here https://github.com/hydroshare/hydroshare/pull/3515

[2019-08-24 15:33] #3540 closed

[2019-08-24 15:33] ndebuhr commented on #3539
Moving here https://github.com/hydroshare/hydroshare/pull/3515

[2019-08-24 15:33] #3539 closed

[2019-08-25 19:03] dtarb commented on #3469
Here is an example of inconsistencies in resource lists
In my resources
![image](https://user-images.githubusercontent.com/3456833/63654497-21c27980-c738-11e9-8d93-39b0513d38b4.png)
but for both the above the resource landing page gives "David Tarboton"

The same inconsistency appears in home

[2019-08-26 04:24] rfun opened #3553 "Metadata retrieval for Web App Resource type not possible through API"
Not really an issue but a feature request.

I am trying to use a Web App Resource as a data store for a Tethys App Warehouse app. The Web App Resource fits almost perfectly for my data model as most of the fields (Icon, source url, versioning) are fields that I would otherwise have to setup using the custom metadata on a Composite Resource type.

My concern is though when I fetch the metadata (bot

[2019-08-26 15:58] Castronova opened #3554 "Actions on Collection Resources are VERY slow"
After the last release I noticed that action on Collection resource types are very slow. They are slow enough that it looks like HS is broken. This performance issue can be seen by:

1. Create a Collection resource
2. Add funding agency metadata.
3. Notice that this action takes 1-2 minutes to complete.
4. This slowdown is also experienced if you click on the pencil icon to enter edit mode.

Some

[2019-08-27 14:55] alvacouch opened #3555 "automatically accept owner privileges from group members"
@dtarb @martinseul  A feature came up in my discussions of CZO capabilities that might have general utility for most users.

Currently we make users "accept" ownership of a resource from others. Ostensibly, this is because **ownership is a responsibility.** Thus, assignment of ownership is a two-step process: request and either accept or deny.

There is a case in which this is overly tedious, when

[2019-08-28 00:13] dtarb opened #3557 "Identify and fix resources broken prior to hotfix 1.25.1"
The creation of resources that no longer permitted file uploading reported in #3543 after deletion of an aggregation was fixed in hotfix 1.25.1.  However the hotfix did not correct existing problems.  There are still corrupt resources, such as https://www.hydroshare.org/resource/c71e41fe816548889ee039e870098eb4/ in HydroShare that need to be identified and fixed.

[2019-08-28 15:28] Castronova opened #3558 "Title element hidden by header"
The resource title is partially covered by the HS header when window width is between 770px and 990px.

![image](https://user-images.githubusercontent.com/4822372/63869572-575ca200-c986-11e9-887b-501d24a19086.png)

Steps to reproduce:
1. launch google Chrome
2. open a hydroshare resource landing page
3. resize the width of the browser window

[2019-08-29 02:56] hydrocheck commented on #3526
Verified on beta.  Closing as resolved.

[2019-08-29 02:57] hydrocheck commented on #3492
Verified on beta.  Closing as resolved.

[2019-08-29 02:57] #3492 closed

[2019-08-29 02:57] hydrocheck commented on #3462
Verified on beta.  Closing as resolved.

[2019-08-29 02:57] #3462 closed

[2019-08-29 02:57] hydrocheck commented on #3459
Verified on beta.  Closing as resolved.

[2019-08-29 02:57] #3459 closed

[2019-08-29 02:58] hydrocheck commented on #3411
Verified on beta.  Closing as resolved.

[2019-08-29 02:58] #3411 closed

[2019-08-29 02:58] hydrocheck commented on #3362
Verified on beta.  Closing as resolved.

[2019-08-29 02:58] #3362 closed

[2019-08-29 02:58] hydrocheck commented on #3361
Verified on beta.  Closing as resolved.

[2019-08-29 02:58] #3361 closed

[2019-08-29 02:59] hydrocheck commented on #3356
Verified on beta.  Closing as resolved.

[2019-08-29 02:59] #3356 closed

[2019-08-29 02:59] hydrocheck commented on #3354
Verified on beta.  Closing as resolved.

[2019-08-29 02:59] #3354 closed

[2019-08-29 02:59] hydrocheck commented on #3273
Verified on beta.  Closing as resolved.

[2019-08-29 02:59] #3273 closed

[2019-08-29 03:00] hydrocheck commented on #3270
Verified on beta.  Closing as resolved.

[2019-08-29 03:00] #3270 closed

[2019-08-29 14:20] alvacouch commented on #3555
@dtarb This is curious because I specifically remember that transfer/accept was specified for ownership.

[2019-08-29 15:17] dtarb commented on #3555
We did discuss this in our early specifications, and I think it was going to be a later implementation phase.  The first implementation did not do this because we did not have messaging, and no one has complained about the current implementation that does not have transfer/accept.

[2019-08-29 17:15] sblack-usu opened #3561 "Remove duplicate function in composite resource"
get_aggregation_by_name()
get_aggregation_by_aggregation_name()

These are duplicate functions, remove the one being used the lease and refactor.

[2019-08-29 17:50] sblack-usu opened #3562 "Cleanup is_federated blocks"
the django app in hydroshare shouldn't have if/else blocks checking federation.  This makes the code hard to maintain and is error prone.

@pkdash kindly pointed out an alternative approach here https://github.com/hydroshare/hydroshare/pull/3559/files/bc43f7e57631465dd9ff8d073152d8060f224be5#r319084487

Here is an example block that should be updated.
https://github.com/hydroshare/hydroshare/pull/

[2019-08-29 19:39] hyi opened #3563 "Remove keyword duplication such as same keywords with different capitalization"
An example with duplicate keywords are in this resource: https://www.hydroshare.org/resource/c71e41fe816548889ee039e870098eb4/

[2019-08-30 13:50] dtarb commented on #3557
Hotfix 1.25.2 was supposed to fix this issue.  However in testing this there are remnant aggregation files in the downloaded bag.

The resource I am testing on is https://www.hydroshare.org/resource/9dd9057fd4fa4507a8f6dd355ad4eba1/.

Contents are
![image](https://user-images.githubusercontent.com/3456833/64025728-9f043a80-cafa-11e9-906f-fdca24624f8b.png)

Bag contents are
![image](https://user-im

[2019-08-30 14:17] sblack-usu commented on #3557
I think we probably just need to regenerate the bag.  I'll run a management command that will recreate the bag for those 7 resources.

[2019-08-30 14:24] sblack-usu commented on #3557
now that I'm thinking about it more, I don't think bag regeneration is enough.  I don't think hydroshare has any knowledge of those xml files now that the hanging logical files have been removed.

We could write a query that compares metadata files with what we have in the db.

[2019-08-30 14:54] hyi commented on #3557
@sblack-usu This is exactly what I am thinking of. Now that the hanging logical files have already been removed, it is not easy to find these hanging xml files any more. Writing a query that compares metadata files against aggregation data in the db sound like a way to go.

[2019-08-30 15:12] sblack-usu commented on #3557
After this command is written, I think we should consider adding checks/cleanup like this to the bag creation logic.

[2019-08-30 15:30] sblack-usu commented on #3557
I think a management command that deletes all aggregation metadata files and forces the aggregations to regenerate might be the most useful way to write this command.  Then it could be more easily added to the bag creation logic.

[2019-08-30 15:44] hyi commented on #3557
@sblack-usu Agreed that sounds like the most straightforward way to fix this issue. Just need to test on beta thoroughly to make sure aggregation metadata file and resourcemap file will be regenerated after the original ones are deleted. For example, a flag might need to be set to force regeneration of aggregation metadata and resourcemap files.

[2019-08-30 15:50] sblack-usu commented on #3557
We have a management command call `check_irods_files` that has an option `--clean_irods`.  It compares files on irods with what we have in the db.  It's out of date because it doesn't account for aggregation metadata, but we should be able to leverage it.  Maybe we run this `--clean_irods` option and then write a function to regenerate all metadata for aggregations?

[2019-08-30 16:02] sblack-usu commented on #3557
aha! we also have a management command `regenerate_xml_files_composite_resource` which just regenerates aggregation metadata files.  Running these two management command on the 7 resources will fix the problem.

[2019-08-30 16:16] hyi commented on #3557
@sblack-usu Great! Sounds like a plan to go forward with.

[2019-08-30 16:37] sblack-usu commented on #3557
alright, those commands have been written and the bags have been regenerated.  Go ahead and take a look again.  I verified the issue @dtarb outlined is fixed.
![image](https://user-images.githubusercontent.com/35820390/64037163-31640880-cb12-11e9-8180-b0c4faf532b2.png)

[2019-08-30 18:39] hyi commented on #3563
Have investigated this issue a bit and found we are already doing insensitive comparison when adding keywords as shown here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L1592.

I believe the problem with that duplicate keyword issue as evidenced in this resource: https://www.hydroshare.org/resource/c71e41fe816548889ee039e870098eb4/ should be caused by the multiple or do

[2019-08-30 19:15] sblack-usu commented on #3563
The specific example you cited isn't due to multiple spaces between words, it's a trailling space at the beginning of the keyword
![image](https://user-images.githubusercontent.com/35820390/64046124-477cc380-cb28-11e9-8e6b-d0abf74caad0.png)

[2019-08-30 19:25] #3557 closed

[2019-08-30 20:01] hyi commented on #3563
@sblack-usu Thanks for the info. That definitely will need to be fixed - the keyword value needs to be stripped to remove the leading and trailing spaces before being added, which is not done currently. I can easily create a PR to fix this, but do we want to also fix the multiple spaces between words issue? I am thinking that will only occur very rarely potentially by mistake, and users can remove

[2019-08-30 20:49] sblack-usu commented on #3563
I think if this needs to be fixed, the keywords should be normalized when saved to the db.  So something like a regular expression to replace 2 or more spaces with a single space and then call strip()?

If you do that, then you'll have to also normalize all of the existing keywords too.  You won't be able to do it just on the db because I think solr and the bag files will need to be updated as wel

[2019-08-30 20:59] hyi commented on #3563
@sblack-usu Good points, and agreed. Looks like a decent amount of work would be involved to resolve this completely. I'll wait for others to chime in to see whether this is worth the effort @dtarb @martinseul

[2019-08-31 02:14] dtarb commented on #3563
I would characterize this as a cosmetic issue with very low priority - especially given the complexity you have identified.  If a user does not like duplicate keywords, they can clean them themselves easily.  There many other more critical issues and bugs to fix first.

[2019-08-31 02:18] dtarb opened #3564 "Out of sync message shows when not logged in"
The resource (in its current state) https://www.hydroshare.org/resource/c71e41fe816548889ee039e870098eb4/ shows "One or more NetCDF files are out of sync with metadata changes." as a message at the top, to a user not logged in.  This message should only be shown to a user who has edit permissions on the resource because it is not something any other user can do anything about.

[2019-09-03 13:26] hydrocheck commented on #3526
Reopening as unresolved

[2019-09-03 15:05] cuahsimarko commented on #3371
Work completed in communities PR

[2019-09-03 15:05] #3371 closed

[2019-09-03 16:51] cuahsimarko commented on #3496
Work completed in 5d9b4648e demo-frontent-community

[2019-09-03 16:51] #3496 closed

[2019-09-03 19:15] cuahsimarko commented on #3554
I'm just trying to follow along here. Is this partially or entirely addressed by https://github.com/hydroshare/hydroshare/pull/3547 or not?

[2019-09-03 19:18] cuahsimarko commented on #3563
@hyi have you reviewed the frontend code that pre-processes the keywords? I believe some of this is handled there.

[2019-09-04 16:23] hyi commented on #3563
@cuahsimarko Good point. I'll take a look at the frontend code.

[2019-09-04 16:24] sblack-usu commented on #3563
If it is handled in the frontend, it should be done in the backend so adding keywords via the rest api behaves in the same way.

[2019-09-04 16:31] hyi commented on #3563
@sblack-usu Agreed, which is why I did not look at the frontend code at all in the first place. Will look at the frontend code for keywords preprocessing logic and move/consolidate into backend if any.

[2019-09-04 17:15] cuahsimarko commented on #3563
@hyi @sblack-usu we should look into this as a team. Frontend validation has always had inline user feedback. Stripping that out and moving validation to a pure backend function would result in a poorer UX

[2019-09-04 17:18] sblack-usu commented on #3563
I don't mind if the UX does checks and gives user feedback, but it should be consistent with the backend.

[2019-09-04 17:19] sblack-usu commented on #3563
I think we should also keep in mind that this issue is low priority.  Though I do think the conversations around front/back end validations that have come out of this are worth having.

[2019-09-04 17:26] hyi commented on #3563
@cuahsimarko @sblack-usu I'll look into frontend code and see if I can taken into consideration both UX and backend validation for consistency and REST API access purpose. I know we have been doing both for many cases in HydroShare. I think when UX is not much affected, it'd be good to leave validation to backend so that we have single point of truth for validation. However, if UX were affected by

[2019-09-04 19:50] dtarb commented on #3554
A collection is not an aggregations so I would presume that this issue is not related to #3547 that relates to aggregations.

[2019-09-04 21:26] pkdash commented on #3554
Some quick tests indicate that all the slowness is due to the generation of long list of resources (these are the resources which can be part of the collection) at the backend. Some metadata editing seems to reload the page which gives the impression that metadata editing takes forever.

[2019-09-05 14:01] cuahsimarko commented on #3563
Totally agree. I'm happy to move this conversation out of this Issue so as not to pollut the conversation, but overall inline/immediate userfeedback for more complex inputs, autocomplete and other contemporary UI elements have been on my mind. I'd like to start by enumerating areas for "inline feedback/validation text" and "toasts that display a message for n seconds"... I'll take the action item

[2019-09-05 14:02] cuahsimarko commented on #3563
Sure frontend and backend validation can overlap and should never conflict in logic.

[2019-09-05 14:02] alvacouch commented on #3469
@dtarb In discovery, I use a name canonicalization package to correct this in the lists, by computing a canonical "last, first middle" from "first last". That is done dynamically so that how people write names doesn't matter. It uses a publicly available name canonicalization library.

The problem with migrating names is that to my knowledge, the UI still doesn't enforce a format. Has that been fi

[2019-09-06 20:14] pkdash commented on #3554
It seems the backend query for generating the list of resources can be substantially optimized. Should be a quick fix without any change to the current workflow.  However, the workflow probably needs to change at some point.

[2019-09-07 12:50] pkdash opened #3566 "Migrate geofeature resources to composite resource type"

[2019-09-08 13:55] pkdash opened #3568 "Migrate timeseries resources to composite resource type"

[2019-09-08 19:20] pkdash opened #3569 "Timeseries aggregation view mode issue"
In timseries aggregation view mode, selecting a timeseries from the dropdown list doesn't show the  associated metadata.

![image](https://user-images.githubusercontent.com/2523434/64493260-fec1ba80-d24b-11e9-80d3-95374e65166d.png)

[2019-09-08 23:58] phuongdm opened #3570 "Change hs_irods image to 4.2.6"
...

[2019-09-09 15:49] sblack-usu opened #3573 "Update folder listing to not choose replica"
irods list command:
https://github.com/hydroshare/hydroshare/blob/develop/django_irods/storage.py#L283

choosing the replica:
https://github.com/hydroshare/hydroshare/blob/develop/django_irods/storage.py#L300

[2019-09-11 13:59] hyi commented on #2661
@dtarb I just tried to download a bag of my resource on www.hydroshare.org, and I have no problem to unzip it on my windows pc with no warnings. Can you try again to see if you still run into issues or not when you have a chance? Our current iRODS server version is 4.2.6.

[2019-09-11 21:39] sblack-usu opened #3577 "add/edit reference url api call is broken"
During an effort to hide _internal calls from hsapi, the add/edit reference url public endpoints broke with the following error

[code]

This occurs because djangorestframework tries to convert the request object to it's extended implementation twice, and fails on the second time.

[2019-09-17 13:41] hyi opened #3580 "Add unit tests for django_irods methods"

[2019-09-17 20:54] sblack-usu opened #3582 "Release Checklist 1.26"
### Issues in Release
- [x] add/edit reference url fix #3577 @sblack-usu
- [x] fixed open with button display issue for web apps with appkey extra metadata #3536 @hyi
- [x] Hide keywords edit message in view mode #3521 @Maurier
- [x]  Revert button color #3545 @Maurier
- [x]  Resource Header Vue Instance #3186 @Maurier
- [x]  group product listings #3382 @alvacouch
- [x] Change flake8 line max to

[2019-09-18 15:54] dtarb opened #3583 "Resource level open with entry should not appear if only file level functionality is present"
https://www.hydroshare.org/resource/366cecf46086483b8a5003abe8376b73/ is a web app connector to open a 3rd party ipynb viewer.  There is a resource https://www.hydroshare.org/resource/c17a0da1bd1f4489b4e72e0eaf2ae475/ that contains a .ipynb.  After the Jupyter viewer web app connector is activated you can right click on the .ipynb and view this file.  However there is a problem in that "Jupyter No

[2019-09-19 04:38] aaraney opened #3585 "Unable to modify resource sharabile status"
I am unable to modify the public 'sharable' status of resources I have created as non-sharable resources. Please find [this](https://hydroshare.org/resource/e7da635f4f6d404a9845fdf96b136550/) resource as an example.  Specifically, my resources do have this symbol ![non-shareable](https://hydroshare.org/static/img/non-shareable.png) rather than ![sharable](https://hydroshare.org/static/img/shareabl

[2019-09-19 18:00] martinseul opened #3586 "bag it creation fails for resource with hidden chararacter in title"
@Castronova discover that for this resource https://www.hydroshare.org/resource/1fedd80cd20245409a0ea02cc2a1ecf0/ downloading as a  bagit file fails . Downloading a simple zip works. I did some resource and the title does contain hidden characters:
Achieving Reproducible Computational Hydrologic Models by Integrating Scientific Cyberinfrastructures
Testing on beta by removing the characters does

[2019-09-23 15:23] prof-couch commented on #3586
@martinseul This is in a group of related situations in which the code responds to ASCII but receives unicode. Similarly, Linux handles unicode in filenames, but our UI does not.

[2019-09-23 18:26] martinseul commented on #3585
Jeff, I'm trying to take a first cut at assign tickets to the proper Product owner as we discussed during the All Hands. Please review and see if it's appropriate.

[2019-09-23 18:26] #3585 closed

[2019-09-23 18:36] martinseul commented on #3562
Hong I think to recall that you worked on a similar issue before, would you please take a look.

[2019-09-23 18:39] martinseul commented on #3561
@sblack-usu should this be closed?

[2019-09-23 18:41] martinseul commented on #3555
@dtarb @alvacouch are we OK to close this?

[2019-09-23 18:47] sblack-usu commented on #3561
no, this hasn't been worked on yet.

[2019-09-23 18:52] martinseul commented on #3553
@danames could you please take a look and assess the level of effort and priority level?

[2019-09-23 18:52] hyi commented on #3562
@sblack-usu I agree that the django app shouldn't have if/else blocks checking federation, but I cannot really see the relevant info in the links you gave above on an alternative approach pointed out by @pkdash and the example block that should be updated. Are the links above correct?

[2019-09-23 18:54] sblack-usu commented on #3562
@hyi, Here is a link to the comment @pkdash made, https://github.com/hydroshare/hydroshare/pull/3559/files/bc43f7e57631465dd9ff8d073152d8060f224be5#r319069643

[2019-09-23 18:57] dtarb commented on #3555
I am happy with current functionality so am happy to close this.

[2019-09-23 19:07] hyi commented on #3562
@sblack-usu Got it. Thanks

[2019-09-24 13:51] alvacouch opened #3587 "Make CZO customization user-controlled"
There is a need for a flag in the user record that turns the CZO functionality on and off. This can be set in the user profile to either enable or disable the custom CZO UI.

[2019-09-25 00:09] danames commented on #3553
This is actually quite a high priority. When we developed the web app resource, we created special metadata that needs to be discoverable through the API.

It should be relatively straightforward to add this additional info to the return metadata entries. Specifically, we need the Source URL, version, Icon URL, and Issues URL.

I would estimate 16 hours total for someone to add this in and then te

[2019-09-25 00:10] danames commented on #3553
@martinseul check my notes here. I don't know who to put on this task immediately. Do you have someone there at CUAHSI who can do it?

[2019-09-25 13:35] pkdash commented on #3553
It seems there is already an endpoint that works for web app. Here is an example of the calling pattern:

https://www.hydroshare.org/hsapi/resource/ccac60d7309843658984881a5d785ef6/scimeta/elements/

The resource ID used in the above example is that of a web app.

[2019-09-25 16:08] rfun commented on #3553
That should do the trick. Thanks for the ino @pkdash

[2019-09-26 13:11] alvacouch opened #3588 "Inconsistent handling of names in discover"
In discover, there is a partial solution to #3428 that needs tuning. It has come to our attention that:

1. Organizations aren't always detected as such. Sometimes they're treated as names.
2. All-caps names are not correctly identified as organizations rather than proper names.
3. Capitalization of hyphenated names after the hyphen should not be automatic, but instead, should be left to the user.

[2019-09-26 19:45] rfun commented on #3553
Sorry to revive this thread, the endpoint on the api doesn't provide the following fields:

- Help Page URL
- Source Code URL
- Mailing List URL
- Issues URL

Here is a test resource :

https://www.hydroshare.org/resource/9fba62f05bbb4cc8bf193f78a63f539f/

[2019-09-27 16:56] danames commented on #3553
This is critical for making the web app resource more functional via API.
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
President, International Environmental Modelling & Software Society
Editor-in-Chief, Environmental Modelling & Software
http://ceen.et.byu.

[2019-09-27 21:34] hyi commented on #3580
Discussed this with @sblack-usu and determined it is more trouble than it is worth at this point to write tests directly in django_irods since all methods in storage.py in django_irods are pretty much wrappers to corresponding icommands and all those methods have been thoroughly tested in hs_core level unit tests with iRODS running. Hence closing this issue.

[2019-09-27 21:34] #3580 closed

[2019-09-27 21:39] martinseul commented on #3478
I did try the google dataset search and when searching for Hydroshare the resources on the dev servers still appear. This did go out with 1.25. @alvacouch  is there something we need to do to enable this behaviour? Also looping @horsburgh and @sblack-usu in

[2019-09-28 13:20] Maurier opened #3592 "Submitting comma separated keywords will only render the first one"
Subsequent ones only show up upon page reload. I think this was unintentionally introduced as part of the work done recently in https://github.com/hydroshare/hydroshare/pull/3515

This is specific to release 1.26 and not reproducible on www

1.
![image](https://user-images.githubusercontent.com/2448568/65817020-b1d46280-e1bf-11e9-90e0-6fdf0de50b17.png)

2.
![image](https://user-images.githubuserco

[2019-09-28 13:31] Maurier commented on #3513
@sblack-usu - Is this addressed by https://github.com/hydroshare/hydroshare/pull/3584/files?

[2019-09-30 14:46] sblack-usu commented on #3513
no, this is a separate issue.

[2019-09-30 14:53] cuahsimarko commented on #3592
I just noticed this bug is present in beta and not prod

![image](https://user-images.githubusercontent.com/45397838/65890238-8ba1f480-e370-11e9-801d-7dec7b899705.png)

[2019-10-01 00:39] dtarb opened #3598 "Resource in inconsistent state"
Following is email from a user

I investigated and found
Not logged in - I get redirected to log in.
Upon logging in I get "The resource you have attempted to access is private. You can request access from the owner."  This tells me that the resource exists, to some degree.
If I log in as admin and attempt to view the resource I get sorry an error occurred.
![image](https://user-images.githubuserc

[2019-10-01 16:31] Maurier commented on #3592
Fix has been merged to develop

[2019-10-01 16:31] #3592 closed

[2019-10-03 13:59] alvacouch opened #3600 "No logical files in created Composite Resources: cannot be discovered"
@dtarb @cuahsimarko @martinseul **There are 2,083 resources in my dump -- from a couple weeks ago -- that are of type Composite Resource and contain no logical files at all.** Since the discovery interface looks to logical files to determine content type, these are indexed as generic data.

The new composite resources of CZO data share this problem. This is a failing of the REST API but also has o

[2019-10-03 19:23] Maurier opened #3602 "[RC 1.26] Unable to edit Author data"
#3582 There seems to be a bug preventing editing of Author data in the resource landing page specific to the current release candidate. There are also some markup layout errors that need to be addressed.

Modal window shows up empty:
![image](https://user-images.githubusercontent.com/2448568/66157273-abd7ea80-e5e0-11e9-9dc3-d2d27a20a31e.png)

Misalignment caused by markup errors:
![image](https://

[2019-10-03 20:36] alvacouch commented on #3600
Update: I did some investigating. *All* of these resources consist of csv, txt, and zip files.

[2019-10-03 20:38] cuahsimarko commented on #3600
Very interesting.

[2019-10-03 21:18] dtarb commented on #3600
It is not a requirement for a composite resource to have a logical file.  In our resource evolution plan composite resources will just become "Resources".  Files get added to resources.  If the files are recognized as a type that can be built into an aggregation, then the auto aggregate functionality will act on them and make an aggregation that results in "logical files".  However if they are not

[2019-10-04 12:06] alvacouch commented on #3600
The immediate problem is that -- in the way we are migrating the CZO resources -- they are not auto-aggregating. They are being migrated via the REST API and -- despite having the appropriate content for auto-aggregation -- are being classified as generic data. Thus, in the discovery interface, they are coming up as generic data, because discovery depends upon auto-aggregation.

[2019-10-04 12:13] alvacouch commented on #3600
@sblack-usu @pkdash Can someone point us to how to input resources via the REST API in such a way that uploaded files are automatically associated with logical files when appropriate?

[2019-10-04 14:58] sblack-usu commented on #3600
@alvacouch, to add a file to a resource POST to /hsapi/resource/{id}/files/.  I can work out some examples with you if you'd like.  I'm not sure what type of files these are, but if it's an aggregation that requires multiple files and you upload them one at a time, they won't be recognized as aggregations.  That's what I think is probably happening here.  If you're uploading aggregations together,

[2019-10-04 17:09] sblack-usu commented on #3600
@alvacouch - If aggregations aren't being recognized because they're being uploaded individually, you can also tell the aggregation code to run a specific file through the rest api.  If you give me more details about the files you're trying to aggregate, I can help out.

[2019-10-04 19:16] alvacouch opened #3606 "Map query for discover doesn't filter out replaced resources"
In checking the logs for discovery, I noticed that the query for map data doesn't correctly require replaced=false, like the query for the list page.

[2019-10-04 19:20] alvacouch opened #3607 "Public resources missing from discover page"
A validation of what should appear on the discover page versus what actually appears indicates that some resources are missing from SOLR that are flagged as discoverable in Django.

The discover page shows what is available in SOLR and is self-consistent in that way. However, there are resources exposed by management commands that are not present in the SOLR resources.

This was "discovered" by li

[2019-10-04 19:44] alvacouch commented on #3607
Further testing indicates that date parsing failed for invalid dates. This aborted the ingestion of the affected SOLR records. Continuing to test.

[2019-10-05 00:37] hydrocheck opened #3608 "It's possible to add an author many times to a resource"
Repeated additions of the same author is not prevented or warned against.

[000.zip](https://github.com/hydroshare/hydroshare/files/3692694/000.zip)

[2019-10-05 00:37] hydrocheck opened #3609 "Adding multiple authors requires an unintuitive pre-filled form deletion"
When adding multiple authors, one must go back into the addition dialog for each author.  Further, the user must delete the previously-added user, even though the user is not actually being removed from the authors list.  This then clears up the search box to add another author.

[001.zip](https://github.com/hydroshare/hydroshare/files/3692695/001.zip)

[2019-10-05 00:38] hydrocheck opened #3610 "Author removal is hard to find in the resource editor"
If users can be added in the resource editor, they should presumably also be removable from a similar interface.  Instead, the author deletion requires clicking on the user.  It seems like this could be missed by new users.

[002.zip](https://github.com/hydroshare/hydroshare/files/3692696/002.zip)

[2019-10-05 00:38] hydrocheck opened #3611 "Author identifier field validations don't report back to the user"
Add author identifiers when adding an author.  If the input is invalid, the user is not notified with what they should change.  Instead, the save does not complete, but the interface looks the same.

[003.zip](https://github.com/hydroshare/hydroshare/files/3692699/003.zip)

[2019-10-05 00:39] hydrocheck opened #3612 "HTML entities in author names are not rendered properly on the resource page."
Instead of displaying the symbol - for example the ' in O'Neal, the HTML entity string is displayed.

[004.zip](https://github.com/hydroshare/hydroshare/files/3692700/004.zip)

[2019-10-05 00:39] hydrocheck opened #3613 "Resource type is no longer a GUI filter in the Discover page"
Resource type is a filter option that must be specified via the search field.  I believe there was a filter for this before.  A high possibility this is deliberate, but reporting in case this is a regression.

[005.zip](https://github.com/hydroshare/hydroshare/files/3692701/005.zip)

[2019-10-05 00:40] hydrocheck opened #3614 "The "Learn More" in the resource content navigator is not clearly linked to the BagIt button."
The learn more button is a distinct button - unconnected to the BagIt button.  This is a departure from the status quo "i" buttons/icons shown in other interfaces.  The way for a user to see that the "Learn More" is for BagIt is to click it.  Before clicking to investigate, it could be interpreted as a HydroShare Learn More, Resource Navigator Learn More, or...

[007.zip](https://github.com/hydros

[2019-10-05 00:41] hydrocheck commented on #3582
https://github.com/hydroshare/hydroshare/issues/3608
https://github.com/hydroshare/hydroshare/issues/3609
https://github.com/hydroshare/hydroshare/issues/3610
https://github.com/hydroshare/hydroshare/issues/3611
https://github.com/hydroshare/hydroshare/issues/3612
https://github.com/hydroshare/hydroshare/issues/3613
https://github.com/hydroshare/hydroshare/issues/3614

[2019-10-06 14:28] alvacouch commented on #3600
@dtarb @martinseul @sblack-usu  #3605 does not fully address the discovered problem (pun intended).

I've written management commands to check the health of discovery. I am seeing a lot more discoverable resources in Django than I am seeing in discover.

Some property of these must be making SOLR reject records. More frustrating, SOLR is not noting any rejections. Whatever it is doing, it does not

[2019-10-06 19:32] alvacouch commented on #3600
@dtarb @martinseul @sblack-usu I have been able to restore function on my test host by indexing missing resources individually.

* The reindex command uses `SearchIndex.update()` rather than `SearchIndex.update_object(object)` like my code.
* **This casts suspicion that the problem is a REST request overflow error during bulk updating.**
* What this means is that haystack is automatically creating

[2019-10-07 14:44] Maurier commented on #3611
This has been addressed in this pending PR: https://github.com/hydroshare/hydroshare/pull/3603

[2019-10-07 17:21] alvacouch commented on #3613
It was changed to `Content type`, which better describes modern resources and allows one resource to be categorized in several ways. We should change the documentation.

[2019-10-07 17:24] alvacouch commented on #3612
@martinseul @sblack-usu @hydrocheck Acknowledged. I know how it happened. We need to specifically HTML-encode things that are now utf-8 encoded.

I made it possible in the most recent set of changes for these names to contain Unicode. Previously they could not and were limited to Ascii. The fix is to html-encode them rather than utf-8 encoding them. This is a broad issue in the UI and affects auth

[2019-10-07 17:27] alvacouch commented on #3607
See PR #3605 for definitive fix. SOLR rebuilding was failing. Addressed in 1.26.

[2019-10-07 17:27] #3607 closed

[2019-10-07 17:27] alvacouch commented on #3588
Fixed in 1.26.

[2019-10-07 17:27] #3588 closed

[2019-10-07 17:33] alvacouch commented on #3024
@cuahsimarko @martinseul @sblack-usu I've completely changed my mind on how to address this:

1. Linux supports unicode in filenames.
2. Linux terminals support utf-8 in filenames.
3. Linux converts ls output from unicode to utf-8 automagically.
4. iRODS ls interfaces return utf-8 that can be converted to unicode.

Thus the path of least resistance is to

1. fix directory listings to report filena

[2019-10-08 10:56] izphi78 opened #3617 "rebuild --db fails"
When I try to execute the "hsctl rebuild --db" command, the script fails while executing

docker exec -u hydro-service hydroshare python manage.py collectstatic -v0 --noinput

<details><summary>Output</summary><p>

# docker exec hydroshare python manage.py rebuild_index --noinput
/usr/local/lib/python2.7/site-packages/mezzanine/utils/conf.py:73: UserWarning: TIME_ZONE setting is not set, using clo

[2019-10-08 13:57] hyi commented on #3536
Verified it works in the new deployed 1.26 release. Closing.

[2019-10-08 13:57] #3536 closed

[2019-10-08 13:59] hyi commented on #3573
@sblack-usu Verified the updated code is part of 1.26 release. Can you close this issue now?

[2019-10-08 14:15] hyi opened #3618 "HydroShare Schema.org Implementation"
Update JSON-LD implementation in HydroShare embedded in resource landing page to support mapping to schema.org metadata elements as complete as we can for better discovery of HydroShare resources by search engines, while ensuring compliance and compatibility to DataONE. For detailed design and background info, refer to https://gist.github.com/horsburgh/29c44a4b526603bc174605189d0001e3 created by @

[2019-10-08 14:17] #3573 closed

[2019-10-09 19:10] sblack-usu opened #3620 "Release Checklist 1.26.1 Hotfix"
### Issues in Release
- [x] #3603 Fix for bug preventing editing of Author data @Maurier

### Beta Deployment
- [x] Diff RC to master to identify and manually make changes in the following files:
  * hsctl
  * config/hydroshare-config.yaml
  * hydroshare/local_settings.py
  * hydroshare/settings.py
  * nginx/config-files/hydroshare-ssl-nginx.conf.template
  * scripts/templates/docker-compose.templ

[2019-10-09 22:44] #3620 closed

[2019-10-09 22:44] #3518 closed

[2019-10-09 22:51] sblack-usu opened #3621 "Force client refresh of css and js files"
Every release with modifications to css and js files, we risk the chance of users experiencing HydroShare in a broken state because their client caches old files and doesn't pull down the latest versions.  This is easily remedied by a hard refresh, however, most users will not know to do this and will only experience problems in Hydroshare until their browser refreshes those files.

I've looked in

[2019-10-14 14:36] Maurier commented on #3611
This has been deployed at https://www.hydroshare.org as part of https://github.com/hydroshare/hydroshare/releases/tag/1.26.

[2019-10-14 15:33] Maurier commented on #3609
I think clearing the searchbox after adding an Author is a good improvement. However, having the modal window persist after this action is a kind of a trade-off. For resource owners who want to add a single Author it is ideal to have the modal window dismissed automatically.

I'll wait for @dtarb's say in this matter to proceed.

[2019-10-14 15:47] Maurier commented on #3602
Fix has been deployed to https://www.hydroshare.org and confirmed working as expected.

[2019-10-14 15:47] #3602 closed

[2019-10-14 15:49] Maurier commented on #3569
This fix has been deployed to https://www.hydroshare.org. I have confirmed it's working as expected. Closing.

[2019-10-14 15:49] #3569 closed

[2019-10-14 15:50] Maurier commented on #3545
This has been addressed and the change is deployed to https://www.hydroshare.org. Closing...

[2019-10-14 15:50] #3545 closed

[2019-10-14 15:52] Maurier commented on #3534
@dtarb Let me know if this is still an issue. I was not able to reproduce it on my end.

[2019-10-14 15:55] Maurier commented on #3521
This has been addressed and deployed to https://www.hydroshare.org. Closing...

[2019-10-14 15:55] #3521 closed

[2019-10-14 15:56] Maurier commented on #3495
This has been addressed and confirmed working at https://www.hydroshare.org. Closing...

[2019-10-14 15:56] #3495 closed

[2019-10-14 16:16] dtarb commented on #3534
Yes this is still an issue.  I just created the resource https://www.hydroshare.org/resource/d14462a14e884389b372bf5d0b0d5df4/.  Then I shared it with HydroShare Developers Group with View Access.  Initially the group did not appear in the who has access list, but a refresh of the page got it there with the exact problem above.  No remove X and unable to set Can edit.  I made you an owner.  I am u

[2019-10-14 16:30] dtarb commented on #3609
I agree with @Maurier.  Fix the problem of the search box not being clear when the modal is opened.  I do not think it is a problem for the modal to be dismissed and a user have to click + for each author they want to add.  However I do not feel strongly and would support improvements (but not at high priority).

Also - there should be consistency in the behavior between adding authors and adding

[2019-10-14 16:32] cuahsimarko opened #3622 "First Community beta updates"
After the code to support the first Community accepts the production migration of data, a number of changes are appropriate, including generalizing Access Control management an permissions on certain pages, such as topics editing.

This issue is to addres areas of hs_communities/views/communities.py that can be parameterized for multiple community support, as those designs are more clear in the fu

[2019-10-14 16:41] Maurier commented on #3534
I can see the issue now on this resource. I will investigate further.

[2019-10-14 16:48] cuahsimarko commented on #3549
Related to https://github.com/hydroshare/hydroshare/issues/3415

[2019-10-14 17:10] Maurier commented on #3534
Found the error. This is quite an edge case.

The issue occurs when the quota holder's Id coincides with the group's Id. In this particular case, @dtarb's user Id "2" coincides with the HydroShare Developers group Id "2" (hence why I could not reproduce it on my own). The conditional which handles the display of these controls needs to be refined a little to accommodate cases where these Ids can m

[2019-10-14 21:50] dtarb commented on #3534
Wow - that is subtle.

[2019-10-15 13:26] alvacouch opened #3623 "naming issues for organizations"
The naming canonicalization still does not properly deal with the fact that owners can be organizations. Thus, these get capitalized like common names and are rendered as "last, first" rather than "first last".

[2019-10-15 14:35] alvacouch opened #3625 "Need bulk change of ownership"
It needs to be possible -- when migrating data -- to add an owner to a large set of resources.

[2019-10-15 15:15] Maurier commented on #967
I want to point out that we have starting with these optimizations with the rewriting being done as part of #3186

[2019-10-16 21:55] #3562 closed

[2019-10-16 21:55] #3577 closed

[2019-10-16 21:56] #3530 closed

[2019-10-16 21:56] #3338 closed

[2019-10-16 21:57] #3583 closed

[2019-10-16 21:57] #3582 closed

[2019-10-18 18:12] rfun commented on #3553
Any updates?

[2019-10-21 14:57] martinseul commented on #3625
this issue is solved with This PR?
3625 bulk add owner #3626

[2019-10-22 14:45] Maurier commented on #3550
The fix for this issue will also account for a minor artifact where dots appear next to resource icons under certain conditions:
![image](https://user-images.githubusercontent.com/2448568/67298314-50df3800-f4a8-11e9-8e4e-5b1e9b87c1a5.png)

[2019-10-22 14:52] Maurier opened #3629 "Improve Groups page loading layout"
The Collaborate page could be improved with CSS grid or CSS flex to fix the layout while it's loading. The errors in the layout can be seen during loading time and when images have not been cached or are too slow to render.

The current implementation uses a script to structure the grid, but while the page is loading the layout looks off and the height of the cards is too short. Now that this func

[2019-10-22 19:49] hyi opened #3630 "Create iRODS account in user zone is broken"
Even though a success notification message is displayed, no corresponding iRODS user is successfully created in iRODS user zone. This is a regression.

[2019-10-22 23:29] dtarb commented on #3630
Do we need an iRODS user zone.  We use this for large file upload.  Cyverse I believe gives free file storage in iRODS.  Perhaps we should partner with them and encourage our users with large file upload needs to create Cyverse accounts.  What are the tangible benefits of us maintaining our own user zone.

[2019-10-23 14:32] hyi commented on #3630
@dtarb I have fixed this issue by correcting the typo in the file path in the settings file. The benefit of having an iRODS user zone for large file upload is that this user zone is federated with data zone, so a direct copy of the large files from users scratch space can happen rather than copying large files from a different zone such as Cyverse to a temporary space in HydroShare Django server,

[2019-10-23 15:04] dtarb commented on #3630
OK good.

[2019-10-24 12:22] alvacouch opened #3632 "group image doesn't appear when unauthenticated"
When one is unauthenticated, the group image doesn't appear on the group page. Ostensibly, this is because the group object isn't being made available to the template.

[2019-10-24 14:37] alvacouch opened #3634 "Composite File type FileSet doesn't work properly"
Resource 665dfa6aee8d4689ab59def52b3b1179/ is the only available instance of `FileSet` as of two weeks ago, and is badly corrupted. Most folders and files are listed twice. This means that their Django representations are likely corrupt.

[2019-10-24 14:38] alvacouch commented on #3634
Shouldn't I add a `unique` constraint onto the filenames and folder names for a resource?

[2019-10-24 14:41] alvacouch opened #3635 "Suspicion that discovery isn't being dynamically updated"
@sblack-usu @dtarb @martinseul I "discovered" when re-running `solr_update` on cuahsi-dev-1 that new resources that were created during testing didn't get indexed. These were marked as "not in SOLR". Thus I suspect that dynamic updates in SOLR may be broken. It would help to run `solr_update` on beta and check whether that "discovers" unindexed resources. It should not.

[2019-10-24 18:52] martinseul opened #3636 "reorder tabs on groups landing page"
The czo group would like to change the order of the Tabs when opening a groups page, They would like to move the "Resources" tab and switch it with the Overview tab and suggest renaming it to "recent activity" as Overview is unclear. Also the Resources page should be the tab that is active by default when opening the groups page.
![image](https://user-images.githubusercontent.com/5427742/67515141-

[2019-10-24 19:00] martinseul opened #3637 ""Open with" not working for unapproved apps"
A user asked about the process to add an unapproved app to the "Open with" dialog. As i understand t would go like this
1. identify web app resource e.g. Taudem
https://www.hydroshare.org/resource/ecf520160f50423f82d025e140abcc48/
2. To add this unapproved app to OpenWith, user needs to manually click the icon in the upper-right corner. Note this only applies to this logged in user (not a system-w

[2019-10-24 19:38] danames commented on #3553
Hi all, we're quite anxious to get this fixed. Who can is or could be working on it???

[2019-10-24 20:07] danames commented on #3637
I think the problem is that the TAUDEM app landing page doesn't show what
resource types it opens. So in order for the "open with" button to work,
then the web app resource needs to indicate what types of resources it can
open. @dtarb can you check this app?
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineeri

[2019-10-24 20:27] danames commented on #3637
@David Tarboton <dtarb@usu.edu>  @dtarb I think you may need to change the
TAUDEM app to support "composite" resource types.
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
President, International Environmental Modelling & Software Society
Editor-in-Chief, Env

[2019-10-24 20:50] sblack-usu commented on #3635
I tried running `solr_update` in beta, but am running into issues with the metadata attribute of at least some resources.  You can see an example run here https://new-hs-ci.hydroshare.org/view/02%20-%20Deployment/job/Beta%20deployment/job/beta-hsctl-command/11/console

I ran a quick test for my sanity
[code]

This makes sense, the attribute will always exist, but the returned attribute (content_ob

[2019-10-25 00:03] dtarb commented on #3636
Looking at these tabs we see

- Under overview a listing of resources from latest to earliest with listing style that shows the person and abstract
- Under Resources there is a listing of resources from latest to earliest with a listing style more like in my resources.

Thus these are redundant.  I think we should pick one consistent listing style across all places where we list resources (home, m

[2019-10-25 00:23] dtarb commented on #3637
@martinseul I believe the system is working correctly.  The particular app you give does not have any resource type set for it.

For example.  Go to https://www.hydroshare.org/resource/c477900488744e4a8e1df21326e4789b/.  This is a web app connector from Dandong.  Click the green button.

Go to https://www.hydroshare.org/resource/b6807d9df60a48babbdb18f1f9094830/.  Now CyberGIS Jupyter appears on t

[2019-10-25 03:29] horsburgh commented on #3636
I'm generally in agreement with @dtarb that the Overview tab isn't that useful. It isn't just a listing of resources, though, it's a listing of events and something of a feed for the group. If it will never have any more content than we have now (the listing of things that have been shared), I'm OK with letting it go.

If it is kept, renaming it to "Recent Activity" and moving it over and making t

[2019-10-25 12:25] dtarb commented on #3553
@sblack-usu you are the API product owner.  Can you please investigate this and if you think it is reasonable work implementation into your work schedule.  I see @pkdash did respond with a way to do this.  This information may be available in one of the xml metadata files that can be downloaded so I am not saying that what @danames is requesting has to be done, but that we do need to holistically

[2019-10-25 12:27] dtarb commented on #3634
@pkdash can you take a look at this.

[2019-10-25 13:38] cuahsimarko commented on #3636
I think we should get rid of the Overview tab. Is this inline with everyone's thinking? @dtarb @horsburgh

[2019-10-25 13:47] pkdash commented on #3634
@dtarb I can take a look at this. When I go to the landing page of this resource (665dfa6aee8d4689ab59def52b3b1179), it seems it has three types of aggregation:
![image](https://user-images.githubusercontent.com/2523434/67575743-3789f600-f70b-11e9-8f0b-3880b98875d9.png)
 However, these aggregations are not getting displayed in the content browsing area. It only shows these files:
![image](https://

[2019-10-25 14:02] dtarb commented on #3634
This resource was created by Irene.  She made me an owner.  She was trying to create a resource with different composite types in it but unzipping and auto aggregation was failing so she ended up deleting the content aggregations and just leaving the zip files.  I do not know if she ever saw aggregations in the content area.  You could ask her at i.garousi@aggiemail.usu.edu.  She created another r

[2019-10-25 15:02] pkdash commented on #3634
It seems for this specfic resource there are resource files in Django DB which doesn't exist in irods. The content types displayed on the landing page in summary section are based on the files on DB. The content types/aggregations displayed in the file browsing area are based on files that exist both in irods and DB. If we can delete the resource file records in db that doesn't exist in irods for

[2019-10-25 20:40] pkdash commented on #3634
Another look into the code base suggests that this resource has hanging logical file object (no resource file or folder association) records in Django DB rather than resource file mismatch between irods and Django DB as I mentioned in my earlier comment.

[2019-10-25 21:10] hyi opened #3638 "iRODS browser to add files into resources appears to be broken"
This is a regression issue.

[2019-10-28 01:19] horsburgh commented on #3636
I'm OK with letting the Overview tab go.

[2019-10-28 13:53] martinseul commented on #3636
OK same here, so we  will go ahead and remove the overview tab and make the resources page the default landing page.

[2019-10-28 16:26] danames commented on #3553
Exactly. We don't have to implement this exactly as requested, but it would
be great to get some discussion and holistic evaluation of the
issue. @sblack-usu please let us know if you need any more information
about this.
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, U

[2019-10-28 18:03] sblack-usu commented on #3553
None of these URLs are resource specific.  We could add endpoints for this information, but I'm not convinced it's useful or necessary as this information is accessible and most likely will never change.  Could you describe the use case for these URLs?  I assume it's just for some help page, and if so I think it's reasonable to just "hardcode".

[2019-10-28 18:57] danames commented on #3553
Hey Scott the use case is that we are using the app resource to develop a
more comprehensive app catalog and need to be able to retrieve all of the
metadata for web app resources to facilitate search, display, etc. Since
this is the only additional resource type along with composite that we are
planning to have around long term, it should reasonable to provide this
data in the api for web app reso

[2019-10-28 19:47] sblack-usu commented on #3553
ok, I misunderstood.  These are urls specific to web app resources, I was thinking it was for the hydroshare project.  Looking into it now.

[2019-10-28 23:06] sblack-usu commented on #3634
yes, this resource has the hanging files caused by the aggregation task failing.

[2019-10-29 20:42] hyi commented on #3638
@Maurier I identified the root of this issue - event handler callbacks in iRODS browser JavaScript code don't get triggered any more with your new GUI change on resource landing page, i.e., change irods login, logout, file-browsing buttons to corresponding ```li``` list items. For example, this click callback handler https://github.com/hydroshare/hydroshare/blob/develop/irods_browser_app/static/js

[2019-10-29 20:44] hyi commented on #3638
@Maurier I just saw your slack response after I sent this comment. Sorry about that. Let me try it to see if it works. Will let you know. Thanks

[2019-10-29 20:53] hyi commented on #3638
@Maurier You suggestion on slack works. I'll create a PR and ask you to review it. Thanks!

[2019-10-29 20:54] Maurier commented on #3638
Good to know!

[2019-10-29 23:06] danames commented on #3553
Thanks
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
President, International Environmental Modelling & Software Society
Editor-in-Chief, Environmental Modelling & Software
http://ceen.et.byu.edu/faculty/person/Daniel-P.-Ames
<http://ceen.et.byu.edu/content/d

[2019-10-30 13:22] hyi commented on #3638
@martinseul @sblack-usu I have created a PR against develop to fix this issue which @Maurier has approved, which should be included in the next release. The fix to this problem only involves changes in two JavaScript files, so if you think we should get the fix in before the release, i.e., have a hotfix release for this, it can be done easily without requiring a server restart. We only need to pul

[2019-10-30 16:33] hyi commented on #3638
@martinseul @sblack-usu I have just merged the PR to develop. If beta is where CZO work is being tested on, perhaps @sblack-usu can just update beta with latest develop and do a collectstatic call. Then @martinseul can test on beta to verify whether this issue has been fixed there?

[2019-10-31 19:26] sblack-usu commented on #3553
This is still on my radar, I'm just trying to wrap up some other things.  I do think this should be added to the rest api and I'll get that change as soon as I get a chance.

[2019-11-01 14:47] sblack-usu opened #3643 "Release Checklist 1.27"
### Issues in Release
- [x] #3558 Title element hidden by header @Maurier
- [x] #3592 Submitting comma separated keywords will only render the first one @Maurier
- [x] PR #3597 Community frontend @cuahsimarko
- [x] #3562 Cleanup is_federated blocks @hyi
- [x] #3621 Force client refresh of css and js files @sblack-usu
- [x] #3632 group image doesn't appear when unauthenticated @alvacouch
- [x] PR #

[2019-11-01 17:13] hyi commented on #3638
Verified on beta. Closing for now.

[2019-11-01 17:13] #3638 closed

[2019-11-01 20:00] sblack-usu opened #3645 "Update ToolResource Serializer"
The ToolResource Serializer is missing a lot of metadata fields, add them back in.  Also, update the scimeta endpoint to use the serializer of the resource type instead of always using Coremetadata serializer.

[2019-11-01 20:57] sblack-usu commented on #3645
Issue already exists in #3553, moving the work to there.

[2019-11-01 20:57] #3645 closed

[2019-11-03 15:02] dtarb commented on #3067
Can we please implement this honest messaging.  @martinseul

[2019-11-03 19:37] pkdash opened #3647 "Zipped download of single file aggregation missing aggregation xml files"
How to reproduce this issue:
Upload a text file to a composite resource. Right click on the uploaded text file and select the option 'Add metadata'.  This should create a "Single file content type' (aggregation). Again right click on the same text file and select option 'Download zipped'. If you look inside the downloaded zip file you will not see the expected two aggregation xml files.

[2019-11-04 00:43] zhiyuli commented on #3067
I am still getting a nginx 502 bad gateway error.

On Wed, Dec 19, 2018 at 3:29 PM David Tarboton <notifications@github.com>
wrote:

[2019-11-04 02:32] hydrocheck opened #3648 "Unusual spacing/padding/margins for the "Join Hydroshare" page error message"
There is consistent spacing between interface components on the Join page for hydroshare.  However, the error message has zero spacing above it, and about double the usual spacing below it.

[000.zip](https://github.com/hydroshare/hydroshare/files/3802539/000.zip)

[2019-11-04 02:32] hydrocheck opened #3649 "Inconsistencies in join page error message"
Please see the attached image.  A couple tweaks:
1) Consistently use either "user name" or "username"
2) Consistently start messages with a capital letter or not.  I.e. "Username is not valid..."

[001.zip](https://github.com/hydroshare/hydroshare/files/3802541/001.zip)

[2019-11-04 02:33] hydrocheck opened #3650 "Adding logos or more content to Getting Started section of Landing Page."
The Landing Page, Getting Started section, has a lot of whitespace.  The three-column spaced layout seems to suggest there should be additional content or logos.  Could some small logos be added?  The help pages are some great precedent, and have some topic overlap with the Getting Started page (e.g. "Introduction to Hydroshare").

[002.zip](https://github.com/hydroshare/hydroshare/files/3802542/0

[2019-11-04 02:34] hydrocheck opened #3651 "Organizations do not update for the resource author metadata"
If you create a resource and check the author metadata, it will show the author's organizations.  If you then update your profile to new organizations, then return to that resource, the author metadata does not show as updated.  Organizations which no longer apply are shown.  This is true for other author metadata as well (e.g. phone, email, etc.)

[003.zip](https://github.com/hydroshare/hydroshar

[2019-11-04 02:34] hydrocheck opened #3652 "Address and homepage do not show in Author details modal"
Go to a resource and click on the author.  The information shows an address and homepage, but these aren't being pulled from the profile and are incorrectly blank in the author modal.

[004.zip](https://github.com/hydroshare/hydroshare/files/3802544/004.zip)

[2019-11-04 02:35] hydrocheck opened #3653 "Can't add author identifiers in the profile page"
It's not clear how to add author identifiers.  Either they aren't saving correctly, or the values provided in testing are invalid but there's no validation/error messages to show why they are invalid.

[005.zip](https://github.com/hydroshare/hydroshare/files/3802546/005.zip)

[2019-11-04 02:35] hydrocheck opened #3654 "Tooltip displays on the wrong element in the My Resources page"
The "Label" logo tooltip in the My Resources page is shown when the user hovers over any Label menu item.  Please see the attached video.

[006.zip](https://github.com/hydroshare/hydroshare/files/3802547/006.zip)

[2019-11-04 02:36] hydrocheck opened #3655 "International utf-8 characters can't be used in usernames"
Letters such as ü and ł can't be used in usernames.

[007.zip](https://github.com/hydroshare/hydroshare/files/3802548/007.zip)

[2019-11-04 02:36] hydrocheck opened #3656 "Using utf-8 for resource content folder names generates long error"
Using utf-8 in resource content folder names results in a long error displayed in the user interface.  Example utf-8 "Müller"

[008.zip](https://github.com/hydroshare/hydroshare/files/3802549/008.zip)

[2019-11-04 02:37] hydrocheck opened #3657 "Navigating to the CZO Admin tab results in a lengthy error for non-CZO-community members."
Please see the attached video.  The test user has nothing under My Communities.  Using a CZO user, the error message does not come up.

[009.zip](https://github.com/hydroshare/hydroshare/files/3802551/009.zip)

[2019-11-04 02:37] hydrocheck opened #3658 ""Last modified" is not capitalized like other table columns in the CZO resources table."
To follow the conventions of the table, "Last modified" should be changed to "Last Modified"

[010.zip](https://github.com/hydroshare/hydroshare/files/3802552/010.zip)

[2019-11-04 02:38] hydrocheck opened #3659 "CZO topics add/delete does not work"
Additions and deletions do not go through for the CZO Community.  Test user was czo_sierra.

[011.zip](https://github.com/hydroshare/hydroshare/files/3802555/011.zip)

[2019-11-04 02:39] hydrocheck commented on #3643
https://github.com/hydroshare/hydroshare/issues/3648
https://github.com/hydroshare/hydroshare/issues/3649
https://github.com/hydroshare/hydroshare/issues/3650
https://github.com/hydroshare/hydroshare/issues/3651
https://github.com/hydroshare/hydroshare/issues/3652
https://github.com/hydroshare/hydroshare/issues/3653
https://github.com/hydroshare/hydroshare/issues/3654
https://github.com/hydroshare

[2019-11-04 06:03] horsburgh commented on #3651
This one is by design. The author metadata is a snapshot of the information supplied by the user. It can be copied from the profile for existing HydroShare users, but this is a one-time copy. It is only updated if the user chooses to modify author information. When resources are published, the author information represents a snapshot in time of what the authors' affiliations were when the resource

[2019-11-04 14:48] cuahsimarko opened #3660 "Hide Tab for Non Admin"
CZO users are being trained that only CZO National will be able to modify Topics. The frontend will be updated to hide the admin panel from other users.

[2019-11-04 14:49] cuahsimarko commented on #3659
CZO National is the only account that the REST backend allows this action for. Future feature https://github.com/hydroshare/hydroshare/issues/3660

[2019-11-04 14:49] #3659 closed

[2019-11-04 14:55] cuahsimarko commented on #3632
Verified in beta

[2019-11-04 14:55] #3632 closed

[2019-11-04 15:19] cuahsimarko commented on #3227
The effort to rewrite the open source product incorporated for README capability has an impractical cost/benefit return. At the least, new lines are supported, just via the special methods provided by the library. For example:

[code]

or depending on your layout

[code]

[2019-11-04 15:20] cuahsimarko commented on #3227
Others likely supported or desired visual output possible. I think this GH Issue should be closed with no further action.

[2019-11-04 20:13] hyi opened #3662 "Resolve bagit operation concurrency"
Use Django DB to enforce a lock/semaphore trying to address potential race conditions caused by multiple ibun operations triggered by bag download requests for the same resource from multiple users simultaneously.

[2019-11-04 20:51] cuahsimarko commented on #3397
This was fixed at some point
![image](https://user-images.githubusercontent.com/45397838/68156939-b1e02480-ff1a-11e9-844c-fcd9e7ceda1b.png)

[2019-11-04 20:51] #3397 closed

[2019-11-04 20:52] cuahsimarko commented on #3238
Related to https://github.com/hydroshare/hydroshare/issues/3487

[2019-11-04 21:23] cuahsimarko commented on #3617
The official docs I've seen new Engineers use for developer setup are here https://docs.google.com/document/d/1_8ClNiIBVSEI3jY4UJKOWrV6uwKilKug-69LoVizezk/edit?ts=5d9e54b8 there's some legacy capability available "as-is", dating back 5-7 years and that community communicates in-person or via email for tips and tricks...

[2019-11-04 21:29] cuahsimarko commented on #3613
@alvacouch @ndebuhr please close this issue if it's resolved

[2019-11-04 21:46] cuahsimarko commented on #1653
@horsburgh @Maurier work recently done for CZO might be informative here on how responsive design and intuitive feedback and controls can guide workflow. The 'Title Builder' developed for this project is rather dense and contains a lot of functionality for the model real estate it occupies.

[2019-11-04 22:11] sblack-usu commented on #3553
@rfun - I have a PR ready for this.  It should be ready for the next release.  I'm requesting you to review it just to make sure I've met your needs.  i'll also ask a core developer to review.

[2019-11-04 23:02] rfun commented on #3553
@sblack-usu  : Not being very familiar with HydroShare code, this seems like it should do the job. All the fields look like they are there. Thanks :)

[2019-11-04 23:02] #3553 closed

[2019-11-05 00:27] danames commented on #1752
I'm closing this issue because we are going to be changing our approach so that the apps are described in themselves, not in the general HydroShare help page.

[2019-11-05 00:27] #1752 closed

[2019-11-05 11:30] izphi78 commented on #3617
thanks a lot, that solved my problem!

[2019-11-05 11:30] #3617 closed

[2019-11-05 17:28] cuahsimarko commented on #3622
See also hs_communities/views/communities.py

[2019-11-05 18:52] cuahsimarko commented on #2253
I just tried and can download the bag for this problematic resource in the issue successfully. Perhaps the cleanup I did fixed this bag download issue. You can close this issue now that the bag can be downloaded successfully for this resource.

Thanks,
Hong

[2019-11-05 18:52] #2253 closed

[2019-11-05 19:00] cuahsimarko commented on #2584
Consistently able to create 975MB files (nearing 1GB) via hs_restclient:
![image](https://user-images.githubusercontent.com/45397838/68237138-95082780-ffd4-11e9-908a-456396ad7828.png)

[2019-11-05 19:19] cuahsimarko commented on #2584
Successful upload of 1.02 GB (on macOS filesystem), recognized as 975MB in HydroShare and received helpful status, percentage display the whole time
![image](https://user-images.githubusercontent.com/45397838/68238487-4c05a280-ffd7-11e9-8496-58d0a64abb00.png)

[2019-11-05 19:19] #2584 closed

[2019-11-05 19:20] cuahsimarko commented on #2584
![image](https://user-images.githubusercontent.com/45397838/68238531-5f187280-ffd7-11e9-8ead-7e6b8354e6e2.png)

[2019-11-05 19:22] cuahsimarko commented on #2583
See screenshots on related issue for closue reasons https://github.com/hydroshare/hydroshare/issues/2584#issuecomment-549977591

Fixed.

[2019-11-05 19:22] #2583 closed

[2019-11-05 19:31] cuahsimarko commented on #3548
See also https://github.com/hydroshare/hydroshare/issues/976

[2019-11-05 19:52] cuahsimarko commented on #2914
Consider closing this

[2019-11-05 19:59] cuahsimarko commented on #3094
Let's move this to developer setup/convention/PR process. It dovetails with the frontent build system conversation, such as webpack.

[2019-11-05 19:59] #3094 closed

[2019-11-06 14:05] cuahsimarko commented on #624
My understanding is this is not actionable, as the component is required by Mezzanine and removing Mezzanine requires hundreds of work hours to properly test and refactor.

[2019-11-06 14:05] #624 closed

[2019-11-07 18:09] #3657 closed

[2019-11-08 14:51] alvacouch opened #3667 "Parallism in add_owner for CZO management crashes postgres"
The add_owner script for CZO management runs too fast and swamps the postgresql worker pool. Adding transactions addresses the problem.

[2019-11-08 15:19] cuahsimarko commented on #3625
Released to Production https://github.com/hydroshare/hydroshare/issues/3643

[2019-11-08 15:19] #3625 closed

[2019-11-08 16:04] sblack-usu opened #3669 "Default host and zone for irods login"
I'm tired of looking up the host and zone every time I want to login to the user zone.  So, let's update the template to give defaults.

![image](https://user-images.githubusercontent.com/35820390/68490655-a20c5d00-0206-11ea-810e-9965d4704613.png)

[2019-11-08 16:07] #3621 closed

[2019-11-08 16:09] sblack-usu commented on #3558
@Castronova - Could you verify and close this issue?

[2019-11-08 16:10] #3558 closed

[2019-11-08 16:10] sblack-usu commented on #3623
@alvacouch - could you verify and close this issue?

[2019-11-08 16:11] #3643 closed

[2019-11-08 23:08] gantian127 opened #3671 "Can't add file type metadata to a Jupyter Notebook file"
I tried to add file type metadata to a Jupyter Notebook file in a composite resource. I clicked on "Add metadata" button and have the following error. Does HydroShare support to add file type metadata to a Jupyter Notebook file? Thanks!

Resource link: https://www.hydroshare.org/resource/299c7d218c4e4594bfff573139d3d9b2/
![image](https://user-images.githubusercontent.com/5016511/68516611-b91c7080-

[2019-11-10 15:22] dtarb commented on #3671
This appears to be UX/front end related.  In testing I found
- I can right click or click on the Add metadata button on a .ipynb file (or text file and presumably other files)
- I get the message that content type creation was successful.  However the interface still shows "no metadata exists for this file".  If I click Add metadata a second time, I get the error Tian reported.
- If I reload the p

[2019-11-10 15:25] Maurier commented on #3671
Undertood, I'll have a look.

[2019-11-10 16:24] dtarb opened #3672 "Groups page inconsistencies and request to join has disappeared"
If I go to a group landing page (e.g. https://www.hydroshare.org/group/2) when not logged in I see a listing of resources shared with that group.

If I am logged in and go to a group landing page for a group that I am not a member of I see just the group description and there is a "members" tab with no content below.  If I click on the member tab, it expands to show the members, but does not show

[2019-11-11 17:43] pkdash commented on #3671
@dtarb and @Maurier It is a UI issue. For certain type of aggregation creation, the file browsing area is not getting refreshed. Once the browsing area gets refreshed I am assuming the button to add metadata will not appear or get disabled.

[2019-11-11 17:46] pkdash commented on #3671
@gantian127 Metadata can be added to any single file if it's not already part of an aggregation (except for fileset aggregation).

[2019-11-12 18:19] cuahsimarko commented on #3636
@dtarb @horsburgh in this issue, we discussed removing the Overview tab. One detail that this design discussion failed to capture is that if the logged in user is not a member of the group, then the Overview tab contains an "Ask to join" button.

1. I'm trying to develop better processes for design conversations other than GitHub Issues. I'll reach out with some ideas later. We may be stuck with G

[2019-11-12 18:28] cuahsimarko commented on #3672
This GitHub Issue is best separated into 3 actionable work items:

- Ask to join button removed as part of work at https://github.com/hydroshare/hydroshare/issues/3636
- Unauthenticated display of Groups pages is working as expected. Explanation of logged in and not logged in functionality for Groups - I believe Amber and Jon are working on this documentation. I'll follow up with @martinseul
- Res

[2019-11-12 19:29] dtarb commented on #3636
There needs to be a product owner for each page whose responsibility is to know and be aware of all ramifications and to make these decisions holistically.

[2019-11-12 19:36] cuahsimarko commented on #3636
@dtarb @horsburgh @martinseul I recommend we move the Ask to join page to the Resources tab, as that is the place where you would see a message that either no resources are shared or you don't have access to them. Going to the Members tab may be less intuitive.

[2019-11-12 19:54] horsburgh commented on #3636
Taking a step back - doesn't it make sense that the button to ask to join the membership of a group be on the Members tab? If we are not showing the list of resources to non-group members, couldn't we improve the message on the Resources tab to say something like - "You are not a member of this group. To make a request to become a member of this group, go to the "Members" tab."

[2019-11-13 21:25] cuahsimarko commented on #3636
Since the Resources tab is the first view, it makes sense to allow a person to take action directly in that pane. Knowing that they are already there and asking them to go somewhere else to click is not best practice. We can put it in both locations if you feel that people will ignore the Join button in the Groups listings, click on the Group and ignore the Join button on the Resources listing and

[2019-11-13 21:26] cuahsimarko commented on #3636
@horsburgh do you want the Join button in all three locations?

[2019-11-13 22:22] cuahsimarko commented on #3636
This is what I had in mind for placing the Join button in two spots

![image](https://user-images.githubusercontent.com/45397838/68809493-0d589380-063a-11ea-83a1-125ac5be2e99.png)
![image](https://user-images.githubusercontent.com/45397838/68809519-177a9200-063a-11ea-86ab-c7dd7b923c2e.png)
This is because if the group is private, there is no members tab...

[2019-11-13 22:24] cuahsimarko commented on #3636
![image](https://user-images.githubusercontent.com/45397838/68809726-82c46400-063a-11ea-8742-5c87389d85af.png)

[2019-11-14 02:08] horsburgh commented on #3636
@cuahsimarko - I think your proposed solution is fine. If you want code review, you should ask @Maurier He did the original groups work.

[2019-11-14 14:48] cuahsimarko opened #3675 "Scripting Error on Page Load"
When logging into hydroshare, the landing page shows

Production
![image](https://user-images.githubusercontent.com/45397838/68867386-b9928c80-06c3-11ea-89f6-bebf70f2bd3a.png)

Dev7
![image](https://user-images.githubusercontent.com/45397838/68867292-9536b000-06c3-11ea-9901-772917b5532a.png)

This is in beta and all other environments, including local developer setups.

Similar 404 js.1.27 errors

[2019-11-14 15:40] Maurier opened #3676 "File browser not getting refreshed after aggregation creation"
There seems to be a regression issue where a line of code was changed to reference a previously deleted function (https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/hs_file_browser.js#L2225). This error is preventing the file browser to refresh after creating an aggregation from an existing file.

The file seems to have been reverted after July 13th, but none of the commits that

[2019-11-14 16:46] sblack-usu commented on #3675
removed with the PR mentioned above.  @cuahsimarko has expressed that he feels django-freshly might present more problems than it solves.  Since he leads the frontend development effort, I'm following his advice and removing it.  I've logged an issue with the django-freshly repo with a test that reproduces this bug at https://github.com/un33k/django-freshly/issues/2.

[2019-11-14 16:47] #3675 closed

[2019-11-14 16:56] Maurier commented on #3671
This issue is also fixed by https://github.com/hydroshare/hydroshare/pull/3677

[2019-11-14 17:11] cuahsimarko opened #3679 "CZO Data Migration and Release Schedule"
I'm talking with Martin and we've developed this path forward or some fixes as well as the CZO Data Migration

- [x] Update secondary worker in `Prod` to match `1.27` version  - Chris/Scott
- [x] Test single CZO resource migration in `Prod` - Mark
- [x] Martin upload large files to stage data in iRODS
- [x] and into tonight - Review, QA, stakeholder approve, code approve, merge https://github.com/

[2019-11-16 21:31] cuahsimarko commented on #3679
Slack activity for #2 is here https://hydroshare.slack.com/archives/C9DNR41CL/p1573936398368300

[2019-11-17 00:09] dtarb commented on #2661
@hyi I just downloaded the bag for this resource https://www.hydroshare.org/resource/a270f893d7cd4a0f9bf98af40ea5eaa2/ which is 5.2 GB.  I get the warning below on my laptop with 7zip
![image](https://user-images.githubusercontent.com/3456833/69000926-b0581a00-0893-11ea-8c3d-53a3ad87ad35.png)

[2019-11-17 03:42] Maurier commented on #3676
Fix has been merged to develop and will be deployed in next release.

[2019-11-17 03:42] #3676 closed

[2019-11-18 14:29] hyi commented on #2661
@dtarb This warning looks like an issue with 7zip. See this post: https://superuser.com/questions/1153751/what-does-there-are-some-data-after-the-end-of-the-payload-data-mean

[2019-11-18 14:55] #3636 closed

[2019-11-18 14:55] #3672 closed

[2019-11-18 15:41] martinseul commented on #3651
i will close the issue

[2019-11-18 15:41] #3651 closed

[2019-11-18 19:01] sblack-usu opened #3681 "Release Checklist 1.27.2"
### Issues in Release
- [x] #3657 Navigating to the CZO Admin tab results in a lengthy error for non-CZO-community members.  @cuahsimarko
- [x] PR #3616 update release checklist to account for local_settings being removed @sblack-usu
- [x] PR #3673 update local dev to use 9.4.7 postgres image @sblack-usu
- [x] PR #3668 Serialize add_owner database updates with transactions. @alvacouch
- [x] PR #36

[2019-11-19 13:27] dtarb commented on #2661
@hyi.  There is something different about the big bags/zip files that come from HydroShare.

If I download the bag for this resource https://www.hydroshare.org/resource/a270f893d7cd4a0f9bf98af40ea5eaa2/ which is 5.2 GB, I get the warning mentioned above.  If I attempt to unzip using Windows I get
![image](https://user-images.githubusercontent.com/3456833/69149124-09da6780-0a93-11ea-8e8b-22157bb6ab

[2019-11-19 14:43] hyi commented on #2661
@dtarb I tried to unzip this resource bag using unzip utility on my linux and it gave me the following warning too although it can unzip the bag successfully:
[code]
which is similar to the warning given by 7zip. It looks like 7zip and unzip utility are tolerant to this warning and can proceed with unzipping successfully while windows unzip does not. I'll contact Terrell about this and see what he

[2019-11-19 16:57] hyi commented on #2661
@dtarb I have just received Terrell's response as below:
--------------
I think we've probably already fixed this - it seems very similar to the scenario we reproduced and solved in 4-2-stable.     Happy to get you an engineering build if you want to test it out with the latest code.   4.2.7 didn't get released before SC19.   But perhaps the week we get back.   It's very close.
--------------
I'd

[2019-11-20 02:34] hydrocheck opened #3683 "iframes and other injected html can be used in resource titles"
For example using '<iframe src="google.com"></iframe>' as the resource title actually renders the iframe in the "Recently Visited" on the home page.

[000.zip](https://github.com/hydroshare/hydroshare/files/3867037/000.zip)

[2019-11-20 02:35] hydrocheck opened #3684 "iframes and other injected html can be used in resource labels"
For example using '<iframe src="google.com"></iframe>' as a label for resources actually renders the iframe in the user interface.

[001.zip](https://github.com/hydroshare/hydroshare/files/3867038/001.zip)

[2019-11-20 02:35] hydrocheck opened #3685 "iframes and other injected html can be used in resource additional metadata"
For example using '<iframe src="google.com"></iframe>' as for additional metadata actually renders the iframe in the user interface.

[002.zip](https://github.com/hydroshare/hydroshare/files/3867040/002.zip)

[2019-11-20 02:36] hydrocheck opened #3686 "Users must be added to groups one-by-one"
The interface to add users to groups might be slow for some users, since multiple users can't be added at once.  An example use case would be copying an email or user list into the "User Add" interface.  With the current implementation, that would need to be done one-by-one.

[003.zip](https://github.com/hydroshare/hydroshare/files/3867041/003.zip)

[2019-11-20 02:36] hydrocheck opened #3687 "Styling of "Send Invite" button is broken in IE11"
Sending group invites with IE11, users will see broken styling for the "Send Invite" button

[004.zip](https://github.com/hydroshare/hydroshare/files/3867046/004.zip)

[2019-11-20 02:37] hydrocheck opened #3688 "On a gigabit connection, group invite actions take over 5 seconds, but no loading icon is displayed."
The group invite "decline" action takes enough time that users may double click, navigate away, or otherwise think it's broken.  It may not scale with internet speed, but if that is a factor, response times could be well over 5 seconds.  Similar behavior for other actions like "Ask to Invite" (6+ seconds).  Without improving performance, the UX could be greatly improved with a loading icon.

[005.

[2019-11-20 02:38] hydrocheck opened #3689 "No validation, compression, or optimization of Groups page images"
Folks can upload really large images for their group images.  These are pulled from the server in their full resolution, then just cropped/scaled client-side.  This results in long load times, even now (20 sec on a gigabit connection - probably way worse on "normal" connections).  I uploaded a png to test (~3000px by ~2000px) and it took a full 10 seconds to load on the Groups page.  While this ma

[2019-11-20 02:39] hydrocheck opened #3690 "Missing an intuitive, alternative path for adding resources to a group"
Not strictly a bug.  However, the intuitive approach for adding resources to groups for some users will be:
1. Go to the group
2. Go to the resources for the group
3. Add

This flow is not possible.  Rather, the group is added to the resource, and the other way around is not possible.  As an extension we may want to consider this use case.

[2019-11-20 02:39] hydrocheck opened #3691 "A "full width" scroll bar is shown for CZO resource "Additional Metadata""
Please see the attached video.  A horizontal scrollbar is shown, when one probably shouldn't be there.

[008.zip](https://github.com/hydroshare/hydroshare/files/3867061/008.zip)

[2019-11-20 02:42] hydrocheck commented on #3681
- https://github.com/hydroshare/hydroshare/issues/3683
- https://github.com/hydroshare/hydroshare/issues/3684
- https://github.com/hydroshare/hydroshare/issues/3685
- https://github.com/hydroshare/hydroshare/issues/3686
- https://github.com/hydroshare/hydroshare/issues/3687
- https://github.com/hydroshare/hydroshare/issues/3688
- https://github.com/hydroshare/hydroshare/issues/3689
- https://githu

[2019-11-20 04:39] dtarb commented on #2661
I agree to just wait for 4.2.7

[2019-11-22 15:38] hyi commented on #3618
@horsburgh you mentioned ```inLanguage``` element in schema.org should be mapped to HydroShare's language metadata element which implements language code as specified here: http://www.loc.gov/standards/iso639-2/php/code_list.php and defined in HS code here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/languages_iso.py. There is a little discrepancy between your example JSON for th

[2019-11-25 02:54] hydrocheck opened #3693 "Groups description is overcropped"
There is a scroll bar to view group descriptions, but the section is much smaller than it needs to be in places - resulting in a small scrollable window with a lot of whitespace underneath.

[000.zip](https://github.com/hydroshare/hydroshare/files/3884639/000.zip)

[2019-11-25 02:54] hydrocheck opened #3694 "No pagination in community resources"
All the community resources are displayed in one really long list.  There is no pagination or "infinite scroll, load more only as needed" approach.

[001.zip](https://github.com/hydroshare/hydroshare/files/3884641/001.zip)

[2019-11-25 02:55] hydrocheck opened #3695 "Filters do not work in IE11 for Communities"
The Communities resources page features a "Shared by" filter.  This filter does nothing on IE11.

[002.zip](https://github.com/hydroshare/hydroshare/files/3884643/002.zip)

[2019-11-25 02:56] hydrocheck opened #3696 "The standard tooltips to explain hydroshare-specific logos on My Resources and Discover are not shown on the Community resources list"
If you hover over things like resource type, availability, and sharable-ness on Discover and My Resources, a tooltip comes up to explain the icon.  This seems like a key feature to help folks who aren't familiar with the Hydroshare logos.  These same tooltips are not seen on the Community resources pages.

[003.zip](https://github.com/hydroshare/hydroshare/files/3884646/003.zip)

[2019-11-25 02:58] hydrocheck opened #3697 "Expelling a group member does not immediately update the group user counts."
Please watch the attached video.  Expelling a user does not update the counts.  The counts are only shown as updated when the user navigates to another page, and then comes back.

[004.zip](https://github.com/hydroshare/hydroshare/files/3884650/004.zip)

[2019-11-25 02:59] hydrocheck opened #3698 "The icon for the user's account and to logout is missing for some users"
For the user "ndebuhr", but not other test accounts, the account button in the top right to view profile, logout, etc. is not visible.

[005.zip](https://github.com/hydroshare/hydroshare/files/3884657/005.zip)

[2019-11-25 03:01] hydrocheck opened #3699 "Lots of whitespace between the "Accept" and "Reject" for managing group join requests."
There is a lot of whitespace between the "Accept" and "Reject" buttons when managing group join requests.  It feels like the Reject CSS is broken, because it's way off the right.

[006.zip](https://github.com/hydroshare/hydroshare/files/3884660/006.zip)

[2019-11-25 03:05] hydrocheck commented on #3681
Beta redeployed/retested.  Updated list:

- https://github.com/hydroshare/hydroshare/issues/3683
- https://github.com/hydroshare/hydroshare/issues/3684
- https://github.com/hydroshare/hydroshare/issues/3685
- https://github.com/hydroshare/hydroshare/issues/3686
- https://github.com/hydroshare/hydroshare/issues/3687
- https://github.com/hydroshare/hydroshare/issues/3688
- https://github.com/hydrosh

[2019-11-25 14:59] cuahsimarko commented on #3689
I think this is a duplicate @ndebuhr please review related Labels and identify the duplicate and choose which one you want to keep

[2019-11-25 15:02] cuahsimarko commented on #3694
@ndebuhr This is a duplicate and also doesn't provide the design information needed. Please identify the duplicate and consolidate any additional information you want into it.

[2019-11-25 15:03] cuahsimarko commented on #3695
In design discussions with CZO, IE11 is not supported for the initial release. As they will be the only users of this element until another Community comes online this can remain low priority and part of the Communities generalization refactoring, where support for multiple communities is added.

[2019-11-25 15:04] cuahsimarko commented on #3696
Possibly a duplicate if you can readily identify, please consolidate

[2019-11-25 15:31] zhiyuli opened #3700 "[UI] Previous result persists in Add Author search bar"
I was trying to add more Authors (existing HydroShare users) to a resource. Current UI allows me to add one new author at a time and I am fine with it. The issue is I need to open the window multiple times, but the name of previously added author is still in the search bar. And I had to remove it manually before typing in a new search. I would expect the UI could automatically resets itself.

[2019-11-26 02:23] hydrocheck commented on #3694
Automated close - duplicate

[2019-11-26 02:23] hydrocheck commented on #3689
Automated close - duplicate

[2019-11-26 02:23] #3689 closed

[2019-11-26 02:23] #3694 closed

[2019-11-26 02:23] hydrocheck commented on #3690
Automated close -

[2019-11-26 02:23] #3690 closed

[2019-11-26 14:29] alvacouch opened #3701 "CZO migrated resources not listed in discover"
Recently migrated CZO resources are not listed on the discovery page.

[2019-11-26 14:33] cbcunc opened #3702 "Update hsctl to use solr_update instead of update_index"
The managepy script to update the solr index has changed. It has changed in the standalone Jenkins job but has not changed in hsctl so that it is run during deployment. Update hsctl to use solr_update instead of update_index.

[2019-11-26 17:24] hyi opened #3704 "Clean up page processor context code for hs_core"
There are a lot of code duplication in this page processor context method: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/page_processors.py#L32, which needs to be cleaned up sooner rather than later. As more context variables are being added in duplicate fashion, it'd be more work to clean up the mess. I am assigning this to myself.

[2019-11-26 21:05] hyi commented on #3618
@horsburgh I have done the first pass of Schema.org implementation and created a PR here https://github.com/hydroshare/hydroshare/pull/3705 for code review and discussion as needed. I also deployed the work to playground for you to test. However, since I added the code to check DEBUG setting and only show json-ld script on resource landing pages when DEBUG is false which only happens on the produc

[2019-11-26 21:12] horsburgh commented on #3618
Awesome. Thanks @hyi - it will likely be next week before I get to this, but I'm glad to see the progress!

[2019-11-26 22:04] #3679 closed

[2019-11-30 13:04] Maurier commented on #3671
Fix confirmed working on beta. Closing.

[2019-11-30 13:04] #3671 closed

[2019-12-02 18:32] hyi commented on #2248
There is already a management command set_bag_dirty.py that can accomplish this, so closing this.

[2019-12-02 18:32] #2248 closed

[2019-12-02 20:51] #3681 closed

[2019-12-03 14:41] hyi commented on #3630
I am closing this since the enhancement in addition to the fix to local_settings.py has been merged into develop.

[2019-12-03 14:41] #3630 closed

[2019-12-03 17:06] dtarb commented on #3630
@hyi can you please make checking that this works an item on the release that goes out with this.

[2019-12-03 17:57] hyi commented on #3630
@dtarb There is no code change to the fix to this issue, only a couple of typos in the backup local_settings.py for production were discovered and fixed. As a result, there was no formal release for this issue, but instead after local_settings.py typos were fixed, @sblack-usu just did a server restart on the backup worker, then switched the active worker I believe. Some further enhancement code go

[2019-12-03 18:02] sblack-usu commented on #3630
I verified irods user creation/deletion with the release before closing the release checklist for 1.27.2

[2019-12-04 15:41] zhiyuli opened #3710 "unapproved webapps shows up on the file-level right-click menu for everyone"
We notice if a public webapp connector resource has indicated it supports certain file extensions, it will show up on the file-level right-click menu for everyone even it is a unapproved app.

![image](https://user-images.githubusercontent.com/10070599/70156427-88312f00-1679-11ea-98b5-fd4cf343cd39.png)

[2019-12-04 15:45] zhiyuli opened #3711 "where did the WebApp Tab Page go?"
I remember we used to have a WebApp Tab Page somewhere on the resource landing page that showed all applicable WebApps no matter they are approved or unapproved.

[2019-12-04 16:10] horsburgh commented on #3711
The entire tabbed interface was removed a long time ago by design as part of the Resource Landing Page redesign. If we need something like this, I suggest thinking about what is needed and where it should go and then creating new designs and issues to go along with it.

[2019-12-04 16:10] #3711 closed

[2019-12-04 17:28] dtarb commented on #3710
@sblack-usu I think you worked on this and may be in a good position to fix.  Lets discuss to make sure we are clear on the functionality needed.

[2019-12-04 18:05] sblack-usu commented on #3710
Looking over the code, I see where this is happening and see a straightforward fix.  I'll setup PR once I get the changes in and tests updated.

[2019-12-07 15:10] dtarb opened #3713 "attempt to delete creates broken resource"
I  attempted to delete the following resource created in August
https://www.hydroshare.org/resource/2c463f6a285147598d8992ffde93c1f2/

It is a test resource that appeared to be empty.  I got the error "sorry an error occurred".  I believe these resources were created when testing and debugging the problem that deleting an aggregation then put the resource in a state where no new aggregations could

[2019-12-07 17:08] martinseul commented on #3713
i did look into it as well and can confirm the behavior for my account, deleting "removes" author and abstract. I did do an additional test I logged in as the admin and then the author and abstract appear and i can correctly delete the resource.

[2019-12-07 18:37] sblack-usu commented on #3713
Here are the logs, first impression says trouble communicating with iRODS.  I'm looking into the error.
[code]

[2019-12-07 18:41] sblack-usu commented on #3713
From iRODS documentation: https://docs.irods.org/4.2.2/system_overview/troubleshooting/

    the Data Object is moved to /[myZone]/trash/orphan/[myUser]#[myZone]/[filename].[10digitrandomsuffix]
    no data movement on disk

    catalog is updated, Data Object now in the trash, as expected
    replica on up resource, phypath updated, file moved on disk accordingly
    replica on down resource, phy

[2019-12-07 18:51] sblack-usu commented on #3713
From the iRODS documentation about this error and some testing, I believe this problem affects resources created before the S3 replica syncing was turned off.  Newly created resources with files, delete fine.  But if I go back to older resources and try to delete one, I am able to reproduce the issue.

I'm going to run some queries and look at the state of resources in production and look into pos

[2019-12-07 18:56] sblack-usu commented on #3713
Here is the code for deleting.  Looks like metadata should be intact but aggregations will be deleted (looks to be true with this resource).  I would expect my resources to work fine for @dtarb.
[code]
The error occurred while in `hs_bagit.delete_files_and_bag(self)`

[2019-12-07 19:05] sblack-usu commented on #3713
didn't mean to close, reopened.

[2019-12-07 20:03] dtarb commented on #3713
@sblack-usu I can confirm that "my resources" and my "home" pages both work and list these resources.  They even list the authors, even though the resource landing pages no longer list authors.

[2019-12-07 20:07] dtarb commented on #3713
@sblack-usu if you are easily and safely able to finish deleting those resources please do so.  That will leave me with a cleaner interface for any demos I do.  However if you want to keep these as illustrations, or are worried about the safety of this in terms of other possible consequences, they can be left.

[2019-12-08 12:37] alvacouch commented on #3713
@dtarb @sblack-usu @martinseul I have management commands that do recovery for improperly deleted resources and ensure that they are really deleted.

However, there is a general fix for the behavior we see, which is to trap the iRODs error and ensure that the resource is deleted from Django even if it is not deleted from iRODs. This will leave iRODS corruption behind, but that can be removed later

[2019-12-08 13:01] dtarb commented on #3713
I am OK with this approach.

This brings to mind additional considerations.

1. We have in the past discussed having accidental delete protection/recovery options.  If we just delete the record from Django but leave the files in iRODS for a period this may facilitate this.
2. We have also in the past discussed establishing capability for ingesting resources from bags.  If the bag for a deleted res

[2019-12-09 16:23] sblack-usu commented on #3713
@cbcunc - here is another resource with the problem.  Any resource created before August seems to have this issue (It could be sooner than that).  https://www.hydroshare.org/resource/0aaa134ab4514effb00fed28fa18fdde/

[2019-12-09 17:54] sblack-usu opened #3716 "Raster Aggregations in the same folder fail to aggregate"
Update the raster aggregation rule associated with this message to handle aggregations in the same folder.  Check and fix other aggregations that may have similar rules.

[2019-12-09 21:42] cbcunc commented on #3713
It has been traced to data objects which have replicas on the hydrodata2Resource iRODS resource. This is the campus replica resource server which had the hard-drive crash. The resource was marked as down two weeks ago. However, deleting a data object which has one good replica and another on a downed resource causes iRODS to place the data object in trash instead of deleting, even with the -f opti

[2019-12-09 22:30] horsburgh commented on #3618
@hyi - I've done an initial round of testing and found several issues. The last one broke the resource I was testing with and so I'm going to post these here for your to fix and then I can continue testing when you've got these sorted out:

- [ ] 1. There's lots of unnecessary white space between elements in the code of the JSON. This could be cleaned up to be more compact

- [ ] 2. Comma after th