[2017-11-19 18:10] pkdash commented on #2431
@alvacouch The only purpose of having this function ```get_resource_by_shortkey``` is to get a typed resource instance given a resource id. So I don't think the problem is with this function.

[2017-11-19 18:11] dtarb commented on #2431
See #2456 that I just filed.  This may (or may not) have a similar root cause, but it is a presently reproducible way to create a resource that has content files that do not show in the display.

[2017-11-19 18:17] pkdash opened #2457 "Fix missing logical files management command not fixing logical files"
This needs to be hotfix.

[2017-11-19 18:55] pkdash commented on #2431
@alvacouch Here is the PR https://github.com/hydroshare/hydroshare/pull/2458 for you to review.

[2017-11-19 18:57] pkdash commented on #2431
I will be online again in couple of hours.

[2017-11-19 21:24] pkdash commented on #2431
@alvacouch The ingest_irods_files management command seems to have the same bug as the one I fixed for the missing logical file management command.  Have a look at this line: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/management/commands/ingest_irods_files.py#L154

[2017-11-20 15:16] alvacouch commented on #2431
@pkdash Yes. Could you patch. it properly?

[2017-11-20 15:20] alvacouch commented on #2431
@aphelionz This behavior is probably caused by a one-line bug. So if we can find it, we should squash it.

[2017-11-20 16:42] alvacouch commented on #2457
@pkdash points out that ingest_irods_files has same problem.

[2017-11-20 17:05] rphooper commented on #2437
@zhiyuli @danames @dtarb @martinseul @Castronova
Let me organize my response by topic.

1. Basemap. The user needs better orientation to figure out what reach is of interest. By the time you zoom in to see the reach network, there are few landmarks. Can some more detail be added in Bing maps or whatever is compatible. See screenshot to see what I mean. This is from the Oregon coast.
![image](https

[2017-11-20 23:13] zhiyuli commented on #2411
@Castronova @itaher1995
I changed "time lag" to a more descriptive title. Also a tooltips will show up for details
![image](https://user-images.githubusercontent.com/10070599/33046305-a6d6d6a0-ce0d-11e7-9f7a-9c98fb754f66.png)

[2017-11-20 23:15] #2309 closed

[2017-11-20 23:40] zhiyuli commented on #2412
@Castronova @itaher1995
An updated legend.
![image](https://user-images.githubusercontent.com/10070599/33047147-8648ccdc-ce11-11e7-8da7-bc37bc3942f3.png)

[2017-11-21 00:00] zhiyuli commented on #2437
@rphooper
I changed imagery map to a road map (still Bing map).
It is on https://appsdev.hydroshare.org/apps/nwm-forecasts/
This basemap looks very similar to the Google Map HydroClient uses.
Let me know if this improves or not. If you keep zooming in, it can show street names.
![image](https://user-images.githubusercontent.com/10070599/33047648-139915f4-ce14-11e7-9fd3-a558335606de.png)

[2017-11-21 13:48] Castronova opened #2459 "Discovery search operators"
The search box currently interprets " " as an AND query.  For instance `water hydrology` becomes `water AND hydrology`.

In addition, both `+` and `AND` should be interpreted the same way.  For instance `water + hydrology` should be interpreted as `water AND hydrology`, however it's currently interpreted as `water AND + AND hydrology`.

[2017-11-21 13:50] Castronova opened #2460 "Discovery search using OR"
The discovery search box should allow users to search using the `OR` joins.  For instance, `water OR hydrology` is currently interpreted as `water AND or  AND hydrology`.

[2017-11-21 13:53] Castronova opened #2461 "Discovery search exact phrase"
The discovery search box should allow users to search an exact phrase by wrapping the text in quotes.  For instance `"water hydrology"` should search for that exact phrase rather than `water AND hydrology`.

[2017-11-21 13:56] Castronova opened #2462 "Discovery search AND and OR"
Users should be able to query using both AND and OR in the same search.  For instance, `(precipitation OR rainfall) AND (watershed)`.

[2017-11-21 13:58] Castronova opened #2463 "Discovery search by date created"
Extend the search functionality to allow users to search for resources by date created.

[2017-11-21 14:00] Castronova opened #2464 "Discovery extend the searchable fields"
Currently the search box searches the `title`, `abstract`, `subject`, and `citation` fields.  Extend this to the `publisher`, `extended metadata`, and `creation date` as well.

[2017-11-21 14:02] Castronova opened #2465 "Discovery temporal search overlapping range fails"
The temporal search functionality will find resources that have a date range completely with the specified range, but fails to find resources with date ranges that partially overlap the specified range.

[2017-11-21 14:05] Castronova opened #2466 "Discovery match word stems"
Partial word searches currently do not work, but should.  For example, `derive` should match `derived`.

[2017-11-21 14:15] Castronova commented on #2452
@itaher1995, I'm unable to reproduce this bug.  Below are my steps:

1. go to the map view on the discovery page
2. select a facet
3. the map points update
4. deselect the facet
5. the map points update

Can you check to see if this issue has been resolved?

[2017-11-21 14:18] Castronova commented on #2450
@itaher1995 these are units and variables that are defined by resources.  I'm tagging this as an enhancement.

[2017-11-21 14:29] Castronova commented on #2443
To add to this:

1. The "Add Resource" button should only search GIS capable resource.  This would drastically speed up the query
2. You can also add non-gis files using the "Add Local" button.  This file browser should filter to only show GIS capable files as well.

[2017-11-21 14:34] #2433 closed

[2017-11-21 14:35] Castronova commented on #2420
All plots should have units.

[2017-11-21 14:36] Castronova commented on #2419
@zhiyuli can we have a more descriptive unit label?

[2017-11-21 14:39] Castronova commented on #2418
@itaher1995 can you provide an example so we can reproduce this?

[2017-11-21 14:39] Castronova commented on #2417
duplicate of https://github.com/hydroshare/hydroshare/issues/2419

[2017-11-21 14:42] Castronova commented on #2412
@zhiyuli are these defined anywhere on the page, e.g. what does "member 1 of cycle no 1" mean?

[2017-11-21 14:45] Castronova commented on #2411
@zhiyuli The title is much more helpful but doesn't resolve the issue stated above.  It looks like you can select 0 or more lag times, but selecting 0 doesn't make any sense.

[2017-11-21 14:50] Castronova commented on #2447
duplicate of https://github.com/hydroshare/hydroshare/issues/2432

[2017-11-21 16:02] rphooper commented on #2437
@zhiyuli Much better! Thanks.

[2017-11-21 16:25] itaher1995 commented on #2452
@Castronova I tried again and followed your exact steps, and I noticed that the map points do end up updating. However, once you click a facet all the point from the previous search disappear like so:

![image](https://user-images.githubusercontent.com/22031618/33083746-3402bb70-ceae-11e7-9376-d67bee39436b.png)

and then if you click on the screen, drag, etc. the map points that were there before

[2017-11-21 16:28] itaher1995 commented on #2450
Ok this makes a bit more sense. However I still believe there is no need for three degree Celsius

[2017-11-21 16:42] itaher1995 commented on #2418
I can't seem to recreate the problem. I'll go ahead and close this!

[2017-11-21 16:42] #2418 closed

[2017-11-21 16:43] #2447 closed

[2017-11-21 16:44] #2417 closed

[2017-11-21 18:20] zhiyuli commented on #2437
@rphooper
Thanks for the feedback.
USGS gauge layer has been added on appsdev (green triangle with station id). Currently they are just static icons/images (not clickable)
![image](https://user-images.githubusercontent.com/10070599/33089397-b38b4a84-cead-11e7-9c7e-00aaac143b16.png)

[2017-11-22 00:51] alvacouch commented on #2466
@Castronova This is an artifact of stemming. The stem of derived is deriv The stem of derive is derive. These don't match.

[2017-11-22 00:53] aphelionz commented on #2466
@Castronova I thought we tested this and it worked?

[2017-11-22 02:50] alvacouch opened #2469 "Discovery: URL encoding of discovery form data can exceed URL length limit"
It is possible for facet GET queries to exceed the 4096 character URI length limit. Should use method POST.

[2017-11-22 03:43] alvacouch opened #2470 "Discovery: resources whose title starts with ' ' appear first in title order."
Now that sorting works, it is clear that there are some problems with the data. Particularly, author names and titles that start with space are not cleaned and appear before those that don't start with space.

[2017-11-22 03:44] alvacouch commented on #2470
Note: we can clean up the titles in SOLR ingestion and not have to clean up the real ones.

[2017-11-22 10:20] goodalljl commented on #856
@Castronova Checking on status of this issue. I changed it to backburner as there hasn't been any updates recently, but if you think you can work on this and get it wrapped up, please let me know.

[2017-11-22 10:25] goodalljl commented on #748
@mohamedmorsy Checking on status of this. There hasn't been much activity recently and I don't think it is a high priority item, so I moved it to backburner. Let me know if you feel differently.

[2017-11-22 10:27] goodalljl commented on #178
Moving to backburner. We don't resource at the moment to address this.

[2017-11-22 10:35] goodalljl opened #2471 "SciDas interoperability"
1.       A user uses Open With from HydroShare to Launch.  The contents of the resource become the files in the JH workspace.
2.       The user does their work – perhaps using one or more notebooks that were in the resource.
3.       At the end the user “saves” and the updated files from the workspace are written back to the resource in HydroShare.  We should support concepts of “save” which updat

[2017-11-22 10:43] goodalljl opened #2472 "SUMMA in HS Jupyter"
Allow user to launch a Jupyter notebook from HS that has SUMMA installed and configured to run.

Demonstrate this by
1. Writing a notebook in HS for executing a SUMMA model
2. Upload a SUMMA model instance into HS
3. Use "Open With" to launch the notebook and pull in the SUMMA model instance
4. Update SUMMA model instance in HS with results from model execution

[2017-11-22 13:38] dtarb commented on #2470
I am puzzled by the lead in "now that sorting works".  Sorting was disabled on the last deploy.  It has also appeared odd to me that the numbers at the beginning of titles seem to come first before letters.

[2017-11-22 13:53] rphooper commented on #2437
Thanks.

From: Zhiyu(Drew) Li [mailto:notifications@github.com]
Sent: Tuesday, November 21, 2017 1:21 PM
To: hydroshare/hydroshare <hydroshare@noreply.github.com>
Cc: Rick Hooper <RHooper@cuahsi.org>; Mention <mention@noreply.github.com>
Subject: Re: [hydroshare/hydroshare] NWM Forecaster Viewer Suggestions (#2437)

@rphooper<https://github.com/rphooper>
Thanks for the feedback.
USGS gauge layer h

[2017-11-22 14:02] alvacouch commented on #2466
@Castronova The stemmer is too aggressive. I need to modify the SOLR configuration. It varies by word.

[2017-11-22 14:20] Castronova commented on #2466
@aphelionz My mistake, it looks like it is working.

[2017-11-22 14:20] #2466 closed

[2017-11-22 15:37] dtarb commented on #178
@goodalljl @Castronova RHESSys is one of the models supported on JupyterHub (JH), and we should plan for this to continue.  Instead of putting this on Backburner, I would prefer to see a simpler solution where we do not have a separate RHESSys model instance type, but rather just use the generic model instance resource to hold RHESSys model instances, and have JH facilitate to saving to this.  Thi

[2017-11-22 16:10] alvacouch commented on #2470
@dtarb Now sorting works in PR #2473

[2017-11-22 16:20] rayi113 commented on #2471
Adding mention of @clarisca @hyi @dcvan24  re: implementation of this.

[2017-11-22 16:45] goodalljl commented on #178
@dtarb @Castronova We don't currently have a RHESSys model instance resource type. Users can now use a generic model instance resource type to store a RHESSys model instance. I believe we already have documentation in JH on how to work with RHESSyS model instances. The current issue is that RHESSys in JH is currently broken and we need @Castronova to fix it. Our thought is the changes to JH from t

[2017-11-22 17:23] dtarb commented on #178
@goodalljl agreed.  If (WHEN) we get RHESSys working in JH (and @Castronova is aware of this and https://github.com/hydroshare/hydroshare-jupyterhub/issues/97 may in part address this) and we can save RHESSys model instances using the generic model instance resource type, then we can, I think, avoid the need for making a separate RHESSys specific model instance type.

[2017-11-22 17:43] dtarb opened #2474 "Horizontal Scroll bars at bottom of My Resources and Discover pages not necessary (for wide screens)."
This is the bottom of MyResources (Firefox on Windows 10).
![image](https://user-images.githubusercontent.com/3456833/33141825-9d32e0b6-cf71-11e7-991c-1d547c10018d.png)

Discover page has a similar scroll bar.

This is a 1920 x 1200 display with browser set to full window so there is plenty of white space on either side for the scroll bar not to be necessary.

[2017-11-22 18:01] dtarb opened #2475 "HydroShare GIS fails for some shapefiles"
I received the error below for the shapefile in https://www.hydroshare.org/resource/23b8c221ebea4b93a90e22031735c530/.  This appears to be a "proper" shapefile produces by ArcGIS as a subset from NHDPlus.  The projection is a standard Geographic coordinates GCS_North_American_1983.

![image](https://user-images.githubusercontent.com/3456833/33142502-0767a636-cf74-11e7-821f-dd36c4e2a277.png)

[2017-11-22 18:09] dtarb commented on #2326
For easier testing the resource https://www.hydroshare.org/resource/142ff904212144c2842abba738de8d14/ holds the SMFlowline shapefile with Web Mercator projection from the zipfile in the resource above.

[2017-11-22 18:23] dtarb opened #2476 "Raster symbology for HydroShare GIS does not work"
To reproduce this,

1. While logged into HydroShare, go to https://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b/ (a public and published raster) [Resource specific metadata appears correct with minimum and maximum values filled in]
2. Open With HydroShare GIS.  You see a display with black around the edges (where there is no data) and white in the middle.
3. Click to Modify Symbolo

[2017-11-23 01:29] #2430 closed

[2017-11-23 01:29] #2432 closed

[2017-11-23 01:29] #2451 closed

[2017-11-23 01:29] #2470 closed

[2017-11-23 16:13] dtarb commented on #2333
Sorry, but I am re-opening this.  The message on www at present does not insert the email address.
![image](https://user-images.githubusercontent.com/3456833/33181747-9db895f4-d02e-11e7-9e46-ac301365241f.png)

[2017-11-23 16:28] dtarb opened #2477 "Automatically delete never activated account requests older than 7 days"
At present if a user signs up, but never clicks on the link in confirmation email to activate their account, the record as an inactive account persists.  This prevents the user from using that email address again to create an account.  I suggest we delete these inactive accounts older than a set period (e.g. 7 days).  I suggest a period such as 7 days to allow time for activation, and resolution o

[2017-11-23 17:02] hyi commented on #2333
@dtarb @aphelionz I verified the fix is in develop and has not made its way to master branch yet, so it is not fixed on www, but it will be included in the next release when everything in develop branch is deployed.

[2017-11-23 17:13] dtarb opened #2478 "Help user attempting to create account where an email address associated with a never activated account is used"
At present if a user signs up for a HydroShare account, but never clicks on the link in confirmation email to activate their account, the email address used is blocked from being used to create an account.  If they attempt to create an account again with that email, they get the message “Email already in use“, with no option to do anything.  I think we need a more friendly way to help them create

[2017-11-23 17:26] dtarb commented on #2333
OK.  I guess that even though merged on Oct 16, it did not make it into our Oct 16 deploy or our Nov 13 deploy.  We can hope it makes it into the next one.

[2017-11-25 15:32] dtarb opened #2479 "URL link in relationship field not properly configured"
A user entered the following in an is data for relationship field.

The DOI URL is the entire text from https to the end.  But in HydroShare only the first part is taken as a URL, and as a result the link does not work.

![image](https://user-images.githubusercontent.com/3456833/33231937-d8f3f284-d1ba-11e7-873e-b0a4e4ea91d1.png)

I have made the following test resource to illustrate this
https://w

[2017-11-25 15:40] dtarb opened #2480 "A visual separator needed for multiple relations on landing page"
If a resource has multiple relations, the landing page (in view mode) blends them together.  Some sort of separator (perhaps similar to the line in edit mode) is needed.

A resource that illustrates this is https://www.hydroshare.org/resource/4104f344a1cc4a639a63164d0bf237c9/

![image](https://user-images.githubusercontent.com/3456833/33232017-4e8ead6c-d1bc-11e7-8c7c-79a9656f50a3.png)

[2017-11-26 13:15] alvacouch opened #2481 "Discovery: jquery select "change" does not work properly on MS Edge"
When running HydroShare on the new Microsoft Edge browser, select "change" events are not processed properly. This is used in the new "sort order" select fields. These events are processed early, as if they were "click" events.

**This is likely a jquery version issue.** Our version of jquery is very much out of date.

The offending lines are here:
https://github.com/hydroshare/hydroshare/blob/dev

[2017-11-27 15:02] cbcunc commented on #2317
Merged in #2468.

[2017-11-27 15:02] #2317 closed

[2017-11-27 22:02] aphelionz commented on #2431
Between @pkdash , @alvacouch , @phuongdm , and a tiny bit of deployment help from me… it looks like this is fixed. Please review at https://beta.hydroshare.org/resource/7a77f525667b42f69cdc3f8db18e1280/

[2017-11-27 23:34] ChristinaB commented on #2431
Nice work!! Thanks everyone. HydroShare gets better every day.

[2017-11-28 15:59] zhiyuli commented on #1161
@dtarb @horsburgh @danames
This feature has been deployed on riverdev.hydroshare.org for testing.

[2017-11-28 18:26] #2301 closed

[2017-11-28 18:26] #2336 closed

[2017-11-28 19:48] Castronova opened #2484 "NWM Viewer - Fails to get long range data"
![image](https://user-images.githubusercontent.com/4822372/33340824-216ac64a-d44b-11e7-87c0-767a50a73cd0.png)

1. select a river
2. choose long range forcase
3. often get the error above

[2017-11-29 16:42] aphelionz opened #2487 "Spam resources being created"
i.e https://www.hydroshare.org/resource/2962405801f841469ca5967a00636733/

Two things need to happen here:

- [x] Clean these up and delete them before AGU
- [ ] Fix underlying issue. Captcha?

[2017-11-29 18:09] aphelionz commented on #2250
@hyi @dtarb Can this be closed?

[2017-11-29 18:14] aphelionz commented on #2330
@Maurier @dtarb Pull request was merged. Can this be closed?

[2017-11-29 18:16] aphelionz commented on #2333
@dtarb This will be in 1.14

[2017-11-29 18:18] aphelionz commented on #2308
@alv

[2017-11-29 18:18] #2308 closed

[2017-11-29 18:20] aphelionz commented on #2116
@Maurier @horsburgh @dtarb This may be able to be closed after 1.14 goes out

[2017-11-29 18:23] aphelionz commented on #2106
@pkdash @Maurier We may be able to close this after 1.14 goes out

[2017-11-29 18:23] aphelionz commented on #1503
@ChristinaB @Maurier We may be able to close this after 1.14 goes out

[2017-11-29 18:24] aphelionz commented on #2291
@dtarb @horsburgh @Maurier We should be able to close this after 1.14 goes out

[2017-11-29 18:25] aphelionz commented on #2370
@jsadler2 1.14 is going out next week. We should be able to close this ticket then

[2017-11-29 18:27] aphelionz commented on #2354
@hyi @dtarb This can be closed after 1.14 goes out

[2017-11-29 18:28] aphelionz commented on #1835
@Maurier @dtarb We can close this after 1.14 goes out

[2017-11-29 18:29] aphelionz commented on #2408
@zhiyuli @dtarb We can close this after 1.14 goes out

[2017-11-29 18:29] aphelionz commented on #2435
@dtarb @Maurier We can close this after 1.14 goes out

[2017-11-29 18:30] aphelionz commented on #2436
@Maurier @zhiyuli We can close this after 1.14 goes out

[2017-11-29 18:37] aphelionz commented on #2479
@dtarb @Maurier This can be closed after 1.14 goes out

[2017-11-29 18:38] aphelionz commented on #2480
@dtarb @Maurier  This can be closed after 1.14 goes out

[2017-11-29 18:42] aphelionz opened #2488 "Release 1.14 Checklist"
- [x] Hyrax composite https://github.com/hydroshare/hydroshare/pull/2334 @hyi
- [x] Docker Compose Update 1: https://github.com/hydroshare/hydroshare/pull/2338 @aphelionz
- [x] Docker Compose Update 2: https://github.com/hydroshare/hydroshare/pull/2339 @aphelionz
- [x] pip install djangorestframework==3.6.4 prior to pip install d… https://github.com/hydroshare/hydroshare/pull/2342 @cbcunc
- [x] Ma

[2017-11-29 19:09] aphelionz commented on #2488
1.14 is UP on http://beta.hydroshare.org. Have at it, folks!

cc @hyi @cbcunc @Maurier @pkdash @alvacouch @jsadler2 @zhiyuli

[2017-11-29 19:51] aphelionz commented on #2487
Note: Delete the group too

[2017-11-29 19:53] aphelionz opened #2489 ""Report this Resource" Button"
Resource landing page needs a button allowing users to report abuse of the system via spam resource creation.

[2017-11-29 19:58] aphelionz commented on #2488
I will update beta with CUAHSI-approved apps

[2017-11-29 21:10] hyi commented on #2488
@aphelionz 1.14 release RC branch does not point to the master SHA reference of the django_irods submodule, so my fix to issue https://github.com/hydroshare/hydroshare/issues/2354 is not included in 1.14 release RC branch. This merged PR https://github.com/hydroshare/hydroshare/pull/2403 updated django_irods SHA reference and merged into develop. Release 1.14 RC branch is based off develop, right?

[2017-11-29 21:12] aphelionz commented on #2488
@hyi Not sure why it wasn't included either as it came from develop. Can you make a new PR and point it to the `release-1.14RC` branch?

[2017-11-29 21:15] hyi commented on #2488
@aphelionz In fact, develop branch also points to an old SHA reference of django_irods submodule even though my PR merged into develop does update the SHA reference to the new one. I think some later merged PRs had an old reference to django_irods submodule, which override my updated SHA reference. I will have to make two PRs to fix this, one for release-1.14RC branch and the other for develop bra

[2017-11-29 21:17] aphelionz commented on #2488
@hyi thanks

[2017-11-30 01:48] dtarb commented on #2480
Verified on candidate release beta.hydroshare.org and closing.  @aphelionz I feel it is OK to close issues that have been verified on a candidate release.

[2017-11-30 01:48] #2480 closed

[2017-11-30 01:50] dtarb commented on #2479
Verified on beta CR.

[2017-11-30 01:50] #2479 closed

[2017-11-30 01:54] dtarb commented on #2435
Tested on beta CR.  Closing.

[2017-11-30 01:54] #2435 closed

[2017-11-30 03:58] aphelionz commented on #2480
@dtarb copy that

[2017-11-30 14:52] jsadler2 commented on #2488
It seems like no public resource will not load on beta. For example, when I go to this resource, https://beta.hydroshare.org/resource/da7973a47a0849798be5ae5a1110c1c0/, I get the following:
![image](https://user-images.githubusercontent.com/6943441/33436634-9e291006-d5b3-11e7-975c-4cdc3ac77197.png)

This happens for all other **public** resources that I have tried, but not ones that are private bu

[2017-11-30 14:59] zhiyuli commented on #2488
Hmmm...This is related to the new code I added...Will look into it once I
get to office.

On Thu, Nov 30, 2017, 07:52 Jeff Sadler <notifications@github.com> wrote:

[2017-11-30 15:41] zhiyuli commented on #2488
@jsadler2
I am not able to reproduce the error you saw. I can access that public resource on beta from my end.
Do you remember what other steps/actions you did that may be related? Thanks
![image](https://user-images.githubusercontent.com/10070599/33439232-254704da-d5aa-11e7-8ba4-c1fb33882b08.png)

[2017-11-30 15:45] jsadler2 commented on #2488
@zhiyuli try accessing it without signing in. When I am signed in it works.

[2017-11-30 15:51] zhiyuli commented on #2488
@jsadler2
Thanks. I am now able to reproduce the error without signing in

[2017-11-30 15:53] zhiyuli opened #2493 "[AGU Beta] -- public resource landing page failed to open without signing in"
Reported by @jsadler2
Public resource landing page failed to load if user is not signed in.
This is probably related to the new code added by me...
![image](https://user-images.githubusercontent.com/10070599/33439943-f55c6772-d5ab-11e7-9afe-cb6d3c7180cd.png)

[2017-11-30 16:12] rphooper opened #2494 "Augmenting help pages"
I suggest adding a section to the current help page on resources to provide guidance on how resource types are intended to be used. Currently, the page simply defines each resource type.

This could be as simple as adding a few sentences at the end of the current page such as

[2017-11-30 16:18] aphelionz commented on #2488
@zhiyuli Are you presently working on a fix? ETA?

[2017-11-30 16:22] zhiyuli commented on #2488
@aphelionz
Yes. I am working on it. I think I have located the bug. A hotfix PR will be submitted in 1 or 2 hours

[2017-11-30 16:34] zhiyuli commented on #2488
@aphelionz
Could you please go to Beta admin page and set some apps as "approved" (Like GIS app and Jupyter app). I know CUAHSI is still reviewing apps. So the "approved apps" on Beta are just for testing purpose, not affecting the final list of approved apps.

[2017-11-30 16:35] aphelionz commented on #2488
@zhiyuli Yes, @Castronova is on that as we speak

[2017-11-30 16:36] zhiyuli commented on #2488
@aphelionz  OK Thanks!

[2017-11-30 16:38] aphelionz commented on #2488
@zhiyuli Some are approved

[2017-11-30 16:43] zhiyuli commented on #2488
@aphelionz
Great, Thanks!

[2017-11-30 20:11] dtarb commented on #1835
Looks good on beta

[2017-11-30 20:11] #1835 closed

[2017-12-01 10:10] aphelionz commented on #2488
@cbcunc Confirmed  djangorestframework==3.6.4  during deploy

[2017-12-01 16:26] zhiyuli opened #2496 "[GIS App] Symbology not working in Firefox"
Reported by @Lizabrazil and @dtarb
https://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b/

Symbology works in Chrome but not in Firefox
![image](https://user-images.githubusercontent.com/10070599/33492204-9a5dab32-d679-11e7-96b2-500dfc5b2356.png)
![image](https://user-images.githubusercontent.com/10070599/33492228-a7cbfab2-d679-11e7-9b65-4546d8379233.png)

[2017-12-01 16:38] rphooper opened #2499 "Automating data uploads"
**Feature Request
**Low priority
**For discussion post-AGU

I wanted to record these thoughts while they were fresh, but I realize that everyone is busy with the AGU release. So, let's discuss after AGU is over.

Background
Review this resource: Troch, P., R. Dwivedi, A. A. M. Neto, T. Liu, T. Roy, R. Valdés-Pineda, M. Durcik, S. Arciniega-Esparza, J. A. Breña-Naranjo (2017). Data for the catchmen

[2017-12-01 17:47] Maurier commented on #2488
@hyi, @aphelionz Email is still not displayed in message as specified in #2333

[2017-12-01 18:21] hyi commented on #2488
@Maurier I checked the code in 1.14RC branch and made sure the updated code for addressing this issue is in the branch. Then I checked on beta, and verified the email is indeed included in the verification message after signing up. Can you elaborate a bit on the workflow so that I can see if I can reproduce it? According to my testing on beta, it works on beta.

[2017-12-01 18:23] Maurier commented on #2488
@hyi, Oh I see now. I tested this from the reset password link. If it doesn't apply for that case then we are good.

[2017-12-01 18:28] hyi commented on #2488
@Maurier Right, the fix to that issue only addresses email confirmation message after a user signs up. If @dtarb thinks we need to include email address in the confirmation message from the reset password link, another issue can be created and similar fix can be applied there too. @dtarb it is your call and feel free to create a new issue as needed. In the meantime, @dtarb can you close that issue

[2017-12-02 02:21] pkdash opened #2500 "Management command ingest_irods_files does not acount for resource type"
Due to this bug when files are injected to Django relevant signals are not getting triggered. For example, if files are injected to Django for a composite resource, necessary logical file objects won't be created in Django.

[2017-12-02 02:23] pkdash commented on #2500
@alvacouch Let me know if I should make this as a hotfix for the current RC branch.

[2017-12-02 19:52] pkdash opened #2502 "Composite resource Phase-2"
Phase-2 implementation of the composite resource will be based on the requirements outlined in the following google doc:

https://docs.google.com/document/d/1Hb18tUZyG7PHSwrclRHOmcYcEJvD0i9dQSmNdVckBUc/edit

The following issues and requirements have been implemented for phase-2 of composite resource. Remaining issues/requirements need to be implement in the next phase:

- [x] Functionalities as p

[2017-12-02 20:26] dtarb opened #2503 "Beta missing profile link on menu bar"
On current release candidate I see
![image](https://user-images.githubusercontent.com/3456833/33519462-4e538cf2-d764-11e7-9c43-05394d5ce525.png)

but on www I see
![image](https://user-images.githubusercontent.com/3456833/33519466-5c3e10a8-d764-11e7-8990-04f1a49d6b5e.png)

As a result I am unable to get to profile functions

[2017-12-02 20:29] danames commented on #2502
I've added some notes. Primarily related to the new file extensions for
reference time series, ".refts.json" and sqlite files ".odm2.sqlite" that
are created by the CUAHSI Data Client and Resource Creator. Also, I still
think it is an extra and unnecessary burden to require the user to take the
extra step of right clicking on files to make HydroShare know what file
type they are. Dave has said man

[2017-12-02 20:30] dtarb commented on #2333
Verified on 1.14 beta.

[2017-12-02 20:30] #2333 closed

[2017-12-02 20:35] dtarb commented on #2488
I closed #2333.  The behavior is I think now as intended:
- When a new user signs up they see on the screen the email that verification was sent to.  This is so they can see any typos they may have made, and then try again with the right email.
- For reset password we do not want to show the email address because reset password is for an account that already exists and we do not want to expose unn

[2017-12-02 20:41] pkdash commented on #2502
I am not sure how HydroShare is any kind of operating system. It can be best described as some kind of a file management system only.

[2017-12-02 20:44] Maurier commented on #2503
I've seen this error before. This is specific to the deployment. The profile information points to an image that is not stored in the deployed databse. In www this will not happen since the database actually contains the image.

[2017-12-02 22:25] dtarb commented on #2354
@hyi can close when she has verified.  I do not know how to test this fix.

[2017-12-02 22:36] dtarb commented on #2116
I checked this out and noticed that the layout changes as you toggle on and off filters.

E.g. With shared with me on, I get the privacy and shareable icons below the Type icon
![image](https://user-images.githubusercontent.com/3456833/33520319-139e65de-d776-11e7-87e0-7fd18060a15a.png)

but when I turn shared with me off, they flip to the right.
![image](https://user-images.githubusercontent.com/3

[2017-12-02 22:47] dtarb commented on #2330
Unless I am missing something this is not working on beta.hydroshare.org.  I do not see a Google Map for editing coverage metadata for the file type spatial coverage of a composite resource.

[2017-12-02 22:51] dtarb commented on #2250
Because this is app based it is not testable on beta.  Wait for www deploy to close.  I can create a composite resource on beta, but OpenDap app assumes www and does not find resource.

[2017-12-02 22:53] Maurier commented on #2330
@dtarb this is accessible by clicking on the widget on the input.

![image](https://user-images.githubusercontent.com/2448568/33520484-e94d699e-d778-11e7-91f8-d30479857df9.png)

[2017-12-02 23:15] dtarb commented on #2330
I did not find that at all intuitive.  It is different from other editing patterns we have, such as for generic where the map is always there.  I did not realize there was anything under those buttons.   It is also confusing if I already have a coverage set and go to edit it, it does not show me the box or point already set.  So there is no real adjusting of an existing coverage, just starting new

[2017-12-02 23:28] Maurier commented on #2330
@dtarb, I agree with your suggestion above. However, when this was first requested it was described as it is implemented now.

See https://github.com/hydroshare/hydroshare/issues/1966

[2017-12-02 23:42] hyi commented on #2354
verified on beta, closing.

[2017-12-02 23:42] #2354 closed

[2017-12-03 04:12] pkdash opened #2504 "Update sqlite file fails for time series file type-HOTFIX"
When time series file type is created from a csv file the Update sqlite file option should not appear until all required file level metadata have been entered.

![image](https://user-images.githubusercontent.com/2523434/33522253-271e6826-d7b6-11e7-9e70-aaa33380db56.png)

[2017-12-03 05:19] aphelionz commented on #2330
@Maurier and @dtarb I suggest closing this and creating a new enhancement ticket with the feedback

[2017-12-03 17:10] dtarb commented on #2255
I have found that double click on files in composite resources does not download a file (even for a very small .txt file).  I found that double click on files in generic and multidimensional resource types downloads all the file occurrences I clicked on (small and large).

[2017-12-04 00:13] pkdash commented on #2456
@dtarb I am working on this and should be creating a hotfix PR tonight.

[2017-12-04 05:31] dtarb opened #2507 "Cannot create HydroShare account if Organization is not known"
In testing beta I tried to create a new account.  I received the error below.  I know that the organization sign up has been tightened up to attempt to avoid multiple variants of the same organization.  But if someone does not belong to an organization in our list, and they cannot guess at getting the name right, then they are prevented from getting an account.  I do not think this is the right wa

[2017-12-04 13:32] alvacouch commented on #2424
I am closing this, but it should be noted that the list view still hits the database, so if someone wants to do extended listing the same algorithm needs to be applied for the list view.

[2017-12-04 13:32] #2424 closed

[2017-12-04 13:34] alvacouch opened #2508 "Discover view: list view still hits Django database"
Although the map view no longer hits the Django database, the list view still does. This could be a problem if someone wants to "show all" in a list view.

[2017-12-04 13:38] alvacouch commented on #2422
Closed, as current 1.14RC now has the feature and it works.

[2017-12-04 13:38] #2422 closed

[2017-12-04 13:40] alvacouch opened #2509 "Discovery: re-enable AJAX updates"
AJAX updates were disabled for the list view because update was too slow. At this point, it makes sense to re-enable them because discovery performance is now adequate. This would address issues #2454, #2448 as well.

[2017-12-04 16:25] alvacouch opened #2510 "check_irods_files should know how to ingest irods files"
The management command `check_irods_files` only knows how to delete unreferenced files, and not how to put them in Django as in `ingest_irods_files`. Thus ingestion is a two-step process: one has to run `check_irods_files` and then `ingest_irods_files`. This should be a one-step process.

[2017-12-04 16:25] #2503 closed

[2017-12-05 15:27] zhiyuli opened #2512 "[NWM Viewer] Failed to Subset Long Range outputs"
I just find subsetting on long range is failing.

[2017-12-05 16:56] aphelionz commented on #2488
@pkdash @zhiyuli 3 checks left! Anything I can do to help?

[2017-12-05 16:58] aphelionz commented on #2488
Also, to @Maurier Can you test the password reset stuff?

[2017-12-05 17:29] Maurier commented on #2488
@aphelionz On it.

[2017-12-05 17:35] Maurier commented on #2488
@aphelionz In this deployment I'm not getting the reset email. I'm guessing we did not set it up in this VM.

Password reset through the Profile page is working as intended.

[2017-12-05 18:46] aphelionz commented on #2488
:+1:

[2017-12-05 21:28] dtarb commented on #2456
Verified fixed on beta.  A broken resource no longer results, but folder drag and drops still flatten the folders.  That will be a new issue.

[2017-12-05 21:30] dtarb opened #2513 "Evaluate handling of folder drag and drop operations"
When creating a resource dragging and dropping a folder either at the create resource step, or into resource contents when editing, results in the folder structure being flattened.  Only files are uploaded.  Folder paths are not retained.  This can result in name conflicts if separate folders had files with identical names, and incomplete uploading.

[2017-12-06 00:36] danames commented on #2502
I think Dave has been calling it a "type of operating system" with file
storage, management, and apps that run on files. But indeed, it is
certainly not an actual operating system... :)

On Sat, Dec 2, 2017 at 1:41 PM Pabitra Dash <notifications@github.com>
wrote:

[2017-12-06 01:11] aphelionz commented on #2488
@pkdash Please review when you can

[2017-12-06 02:59] pkdash commented on #2488
@aphelionz I have reviewed the ones I could. I was not able to review #2402 as I don;t have the required input file to test it. Either @Castronova or @horsburgh should be able to test it.

[2017-12-06 03:49] dtarb commented on #2242
Resolved.  Title no longer required.

[2017-12-06 03:49] #2242 closed

[2017-12-06 03:52] dtarb commented on #2190
Closing - decided not to require this.  Covered by user type.

[2017-12-06 03:52] #2190 closed

[2017-12-06 14:09] dtarb opened #2514 "Bulk actions on access control"
Users have requested the ability to easily change access control settings for multiple resources at once.  Need to evaluate interface enhancements to make this efficient.

[2017-12-06 14:31] Castronova commented on #2190
I added the "won't fix" label so we can find this ticket again if we want to reopen it.

[2017-12-06 19:48] horsburgh commented on #2514
@dtarb - this was part of a legacy issue that got backburnered. See #771. Also there has been a request for bulk download #1416.

[2017-12-06 19:49] horsburgh commented on #2488
@Castronova - can you test this with the SQLite file you used to create this bug?

[2017-12-07 00:37] zhiyuli commented on #2512
fixed on appsdev

[2017-12-07 15:55] zhiyuli opened #2518 "Failed to Add an existing HydroShare user as Resource Author"
This is NOT a serious bug. No Alarm

I am creating WebApp Resources for Tethys Apps.
I could not add this existing hydroshare user as a resource author. Nothing happened after clicking the "Save" button. No error message displayed.

So far this glitch only happens to this user. I have added other existing hydroshare users as resource author successfully. I ended up with adding this Author as a non

[2017-12-07 17:48] dtarb commented on #2518
If this is only an issue for this user, explore whether this has a possible cause of special characters in the name.

[2017-12-07 20:33] goodalljl commented on #2471
@clarisca @hyi @dcvan24 Any updates on the implementation of this?

[2017-12-07 21:34] zhiyuli commented on #2413
All data in NWM outputs are kind of "predicted data" no matter a past or present date user has chose.
We added more help info to the app. Also we add a NOAA link that briefly introduces NWM's background.

[2017-12-07 21:40] zhiyuli commented on #2409
This is confused as NWM has "Model Initialization Time“ as well as ”Valid Analysis Time“. The former is explained on NOAA page, while the latter exists nowhere but inside NetCDF files.
We tried to explain this on app help page:
![image](https://user-images.githubusercontent.com/10070599/33740070-956fda4a-db5c-11e7-8380-08a9a03f0756.png)

[2017-12-07 21:42] zhiyuli commented on #2484
This only happens on some random stream reaches. Need more investigation on this after AGU

[2017-12-08 00:35] rayi113 commented on #2471
@goodalljl , @clarisca and @dcvan24 are both travelling this week, and with @hyi did make some progress on generalizing it to work more with Hydroshare earlier this week.  @hyi can explain, i.e. putting a .json cloud config file with the resource.

[2017-12-08 02:44] dtarb opened #2519 "Sort by date not working in discover"
I tried to sort by date on the 1.14 deployment and nothing happens.  The order is the same below no matter whether Descending or Ascending is selected.

![image](https://user-images.githubusercontent.com/3456833/33748647-ea75b45e-db86-11e7-95f6-3504d06f3276.png)

![image](https://user-images.githubusercontent.com/3456833/33748651-f69073a0-db86-11e7-86fc-4f5df59f09e7.png)

[2017-12-08 05:08] dtarb commented on #2519
After trying a few more times, decided to close this.  It seemed to be a one time glitch.  I cannot reliably reproduce now.

[2017-12-08 05:08] #2519 closed

[2017-12-08 15:28] hyi commented on #2471
@goodalljl @dtarb As @rayi113 mentioned, I did some further work related to this SciDAS and HydroShare integration to enable flexibility with ```Open With a jupyter server appliance in SciDAS```. Specifically,  different configurations for SciDAS provision can be bundled with the resource in a json file if desired. If there is no JSON configuration file in the resource, a default SciDAS configurat

[2017-12-08 16:02] dtarb commented on #2471
@hyi regarding "I will do work needed in my branch then create a PR to get it merged in".  We need some clear description of the plan - at a high level.  There was a flurry of activity prior to SC17 for a demo, but before merging in, or before even more work, I think we need a clear description of what the capability will be.  If this is clear and written somewhere, I apologize for asking, and you

[2017-12-08 16:15] hyi commented on #2471
@dtarb I will document this and point you to it after SciDAS and HydroShare integration work moves along from demo/prototype phase to production delivery phase to get input/feedback from the team first, then I will incorporate team feedback into the code before creating a PR for code review. Right now it is still in demo/prototype phase with many changing pieces, but once we have a clear plan towa

[2017-12-08 16:25] dtarb commented on #2471
@hyi I worry that this is the wrong order.  I understand that the demo/prototype was some sort of proof of concept.  With that now done, I think we need to state (write down) what the plan is.  What is the objective and what would we like the outcome to be.  I do not think that this writing has to be long, but it should be clear, so that we know that the work being done is actually directed at a n

[2017-12-08 16:33] hyi opened #2520 "Enabling use of GABBs MultiSpec online tool for HydroShare resources"
Goal: allow HydroShare users to launch GABBs tool directly from resource landing page.
Tasks involved:
- [x] Federate GABBs tool iRODS server and HydroShare iRODS data server so that HydroShare iRODs proxy user can push HydroShare resources to designated HydroShare collection in GABBs iRODS zone for GABBs tool to consume on demand, i.e., when a HydroShare user opens GABBs tool via Open With button

[2017-12-08 16:38] hyi commented on #2520
@zhiyuli This GABBs tool web app is different from other web apps in that it needs some extra work in HydroShare to push resource files before launching to a tool url. I plan to map the web app home page url to a view function in HydroShare to handle this extra work before redirecting to the tool launch url from inside the view function. I believe it will work with the current web app implementati

[2017-12-08 16:47] hyi commented on #2471
@dtarb I understand your concern. I can draft this after touching base with @rayi113 and @clarisca to align HydroShare and SciDAS objectives to have a clear high level plan before doing so. SciDAS has an all hands meeting next week where I expect this would come up as a discussion item.  I will keep this in mind and start to draft it when the plan becomes clearer to me regarding this SciDAS and Hy

[2017-12-08 17:46] goodalljl commented on #2332
@jsadler2 @edwmorgan Checking on this issue to see about progress.

[2017-12-08 20:39] darksinge opened #2521 "Can't update user profile"
When I try updating the organization field on my profile and click save, I get an error that says "Sorry, an error occurred".

When I go to the `/profile` route and open the developer console in chrome, I see some scripts are not being loaded and an error:

[code]

Apparently the organization field on the user update form should be populating a list of organization names to select from, but it's n

[2017-12-08 21:05] aphelionz commented on #2521
Thanks @darksinge. I'll be looking to get this out this weekend.

[2017-12-09 00:02] horsburgh opened #2522 "OAuth support for third party websites/applications?"
**Background:** One of my developers @darksinge is working on linking another web application (http://data.envirodiy.org) to HydroShare to enable data from that website to be shared in HydroShare via the REST API. It is not a HydroShare App, rather it is a third party website with no real affiliation to HydroShare that wants to use HydroShare as a target for sharing data. Users of this other websi

[2017-12-10 01:55] dtarb commented on #1569
This is no longer needed with new apps landing page

[2017-12-10 01:55] #1569 closed

[2017-12-10 16:23] aphelionz commented on #2521
This is confirmed fixed on https://park.hydroshare.org/

Hotfix will be deployed to www.hydroshare.org this evening.

[2017-12-11 01:42] aphelionz commented on #2521
Verified fixed on WWW

[2017-12-11 01:42] #2521 closed

[2017-12-11 21:06] zhiyuli commented on #2522
@horsburgh

This is the doc I wrote for the OAuth link between Model-My-Water project and HydroShare. It describes the basic HTTP handshakes OAuth needs, which can be implemented in any language or platform.
https://docs.google.com/document/d/1UbZjr-f0Kvq27-jdPzFMjEcBcgWxn-M0UDi7cZ4GFe8/edit?usp=sharing

Is http://data.envirodiy.org/ website a Django application?  If yes, there are many ready-to-u

[2017-12-11 21:27] horsburgh commented on #2522
Thanks a ton @zhiyuli. I’ll have @darksinge take a look and hopefully it will meet our needs. It is a Django app so I’m glad to hear there’s good tools.

[2017-12-12 12:58] dtarb opened #2527 "Sign up failing on www"
Attempts to create an account on www.hydroshare.org are failing with the message.
![image](https://user-images.githubusercontent.com/3456833/33885679-474adeac-df01-11e7-8ce1-431d6bfa03f2.png)

[2017-12-12 15:00] hyi commented on #2527
@aphelionz Just checked log and here is the error for account signup:
[code]
I also run migrate command and it shows no migrations to apply. @aphelionz Let me know if you will look into it. Otherwise, I can look into it if needed.

[2017-12-12 15:05] hyi commented on #2527
@aphelionz I am running "makemigrations" on www now since I cannot reproduce this issue on my local development branch which I just merged with master yesterday and did a rebuild, so I suspect it is a migration issue. Let's see if "makemigrations" followed by "migrate" would fix this issue.

[2017-12-12 15:08] aphelionz commented on #2527
@hyi ok, I have a hotfix in place. It's odd that the `master` branch isnt applying the migrations

[2017-12-12 15:11] hyi commented on #2527
@aphelionz "makemigrations" command ended and it said no changes detected, so it does not look like migration is an issue. Somehow it works on playground which I just merged with latest master branch yesterday and did a rebuild which include SciDAS supercomputing demo code. I have just approved your hotfix, so you can merge it and deploy it to see if that fixed this issue.

[2017-12-12 15:14] aphelionz commented on #2527
ok

[2017-12-12 15:32] aphelionz commented on #2527
@dtarb @hyi All is well on WWW

Due to the fact that we copied settings.py from a backup, the hs_dictionary app was neve radded to the INSTALLED_APPS configuration directive. I added that, and ran migrate, and it added the necessary db tables.

I also used git fetch and git checkout to switch from 1.14.1 to 1.14.2 and ran hsctl restart. I know, I know. Sorry. But it was one line of code and it all

[2017-12-12 15:45] pkdash commented on #2527
@aphelionz Curious to know why a backup copy of the settings.py was used in deployment and not the one that was in release RC branch?

[2017-12-12 15:59] hyi commented on #2527
@aphelionz Thanks. It explains why it works on playground but not on www.

[2017-12-12 16:05] aphelionz commented on #2527
@pkdash maybe an oversight on our part. let's discuss elsewhere

[2017-12-12 16:05] #2527 closed

[2017-12-14 14:32] dtarb commented on #2507
Closing - fixed on www

[2017-12-14 14:32] #2507 closed

[2017-12-14 15:13] #2488 closed

[2017-12-15 03:41] dtarb opened #2529 "Broken resource"
The following resource (that happens to contain the AGU presentation I gave on 12/11/17) is broken.  https://www.hydroshare.org/resource/b56e4e9955cc4fef9ecfeef2aa736502/.

You can find this using discover searching for AGU2017 the pick the one with the title "The HydroShare Collaborative Repository ..."  The message is just "Error - Sorry an error occurred".  If I add debug to the URL it reports

[2017-12-15 14:18] rayi113 commented on #2529
@dtarb I am able to reproduce this issue on 2 different PC with different browsers on each PC.  The issue for me happens consistently when I'm logged out of HydroShare, otherwise the resource resolves correctly.

[2017-12-16 16:43] aphelionz commented on #2529
@rayi113 @dtarb confirmed.

This may be related to the work @zhiyuli did with the open with button. Drew, can you investigate? It looks a lot like the issue we caught in beta testing, but just localized to this resource.

[2017-12-16 16:50] aphelionz commented on #2529
Yep, looks like it's the tools_resource work. @dtarb Can you work around by using a logged in acct or does this need to be a hotfix? If so, by when?

`
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 125, in get_response
    response = middleware_method(request, callback, callback_args, callback_kwargs)
  File "/usr/local/lib/py

[2017-12-16 16:57] aphelionz commented on #2529
Hmm actually it looks like no resources are available anymore to outside users. @zhiyuli can you confirm your hotfix even made it to www? This is really strange.

[2017-12-16 17:09] aphelionz commented on #2529
@zhiyuli @dtarb Good news and bad news.

This is now fixed on www.hydroshare.org. However there is still significant skew with what's on the server vs what's in the code base. Something  got corrupted during the deploys and we need to dig in to find out what it was.

This code is definitely in the 1.14.2 tag: https://github.com/hydroshare/hydroshare/blob/1.14.2/hs_tools_resource/app_launch_helper.

[2017-12-16 17:09] #2529 closed

[2017-12-17 14:56] dtarb commented on #2529
What was actually done to fix this?

[2017-12-17 19:39] aphelionz commented on #2529
@dtarb I cheated again and updated the code on production so that drew's change was implemented. I don't plan on making this a habit and I'm still really concerned about the disparity between what's on github and what ended up on master after a proper deployment where the slate was wiped clean.

What we'll need to do soon is essentially re-deploy 1.14.2 from scratch and see where we're at. I was i

[2017-12-17 20:37] dtarb commented on #2529
@aphelionz we have multiple staging platforms (beta, playground etc).  Rather than wait for a quiet night, I suggest that you deploy exactly what 1.14.2 should be on beta, and then put it through thorough testing that includes all the tests we know about.  Have we run Tony's test all download script on our current www deploy.  We should also use code comparison tools to compare the source code bas

[2017-12-18 18:14] aphelionz commented on #2512
@zhiyuli can this be closed?

[2017-12-18 18:15] aphelionz commented on #2510
@alvacouch does it do this now?

[2017-12-18 18:16] aphelionz commented on #2504
@pkdash Can this be closed?

[2017-12-18 18:29] #2431 closed

[2017-12-18 18:32] #2400 closed

[2017-12-18 18:33] aphelionz commented on #2399
@pkdash Also this one?

[2017-12-18 18:36] #2356 closed

[2017-12-18 18:40] aphelionz commented on #2307
@zhiyuli Can this be closed?

[2017-12-18 18:49] aphelionz commented on #2238
@pkdash Can this be closed?

[2017-12-18 18:53] aphelionz commented on #2217
@pkdash Can this be closed?

[2017-12-18 19:01] aphelionz commented on #2166
Closing this in favor of another method of tracking

[2017-12-18 19:01] #2166 closed

[2017-12-18 19:02] aphelionz commented on #2162
@pkdash can this be closed?

[2017-12-18 19:05] aphelionz commented on #2116
@Maurier @horsburgh close? or close and create a new issue?

[2017-12-18 19:06] aphelionz commented on #2110
@dtarb @pkdash Can we close this?

[2017-12-18 19:13] Maurier commented on #2116
I think we can leave it open for a few more days. This week I'll work on that alignment issue pointed above and then we can close it.

[2017-12-18 19:20] aphelionz commented on #2061
@Maurier Can this be closed if the PR is merged?

[2017-12-18 19:20] #2043 closed

[2017-12-18 19:22] aphelionz commented on #2042
@Castronova Can this be closed?

[2017-12-18 19:23] aphelionz commented on #2036
@pkdash can this be closed?

[2017-12-18 19:24] aphelionz commented on #2029
@pkdash @zhiyuli Can this be closed?

[2017-12-18 19:25] aphelionz commented on #2024
@hyi Is this bug ticket still relevant given the recent Hyrax work?

[2017-12-18 19:27] aphelionz commented on #2006
@rayi113 Where are we at with this?

[2017-12-18 19:29] aphelionz commented on #1991
@horsburgh @pkdash @alvacouch I'd like to close this but I'd like to make sure the knowledge ends up being disseminated to the team. We can either move it to the wiki or send it out via an email. What do you think?

[2017-12-18 19:30] Maurier commented on #2061
This work has been merged, so we can close this.

[2017-12-18 19:30] #2061 closed

[2017-12-18 19:30] aphelionz commented on #2061
@Maurier thank you

[2017-12-18 19:31] rajadain opened #2530 "REST API Resource Creation Question"
Hello,

I'm trying to implement project export functionality from [Model My Watershed](https://github.com/WikiWatershed/model-my-watershed) into HydroShare, and plan to use the REST API to create and modify resources. As part of this exercise I read the documentation both in [Swagger](https://www.hydroshare.org/hsapi/#!/hsapi/resource_create) and the [source](https://github.com/hydroshare/hydrosha

[2017-12-18 19:32] aphelionz commented on #2530
Hi @rajadain Can you please try the same on beta.hydroshare.org? We discussed this this morning and dev.hydroshare.org is out of date currently.

[2017-12-18 19:33] aphelionz commented on #1963
@alvacouch @dtarb Where ware we at on this?

[2017-12-18 19:35] rajadain commented on #2530
Trying it now.

[2017-12-18 19:36] aphelionz commented on #1915
I believe this ticket has been satisfied. Please re-open or make a new ticket if that is not the case

cc @horsburgh @ChristinaB

[2017-12-18 19:36] #1915 closed

[2017-12-18 19:39] aphelionz commented on #1848
@ChristinaB @alvacouch Has this work been discussed enough and encapsulated in other issues? If so, can we close this?

[2017-12-18 19:39] hyi commented on #2024
@aphelionz I'd say this has been addressed and can be closed. I'll defer to @dtarb to close it though just in case.

[2017-12-18 19:40] aphelionz commented on #1831
We have an MOTD now. Closing this.

[2017-12-18 19:40] #1831 closed

[2017-12-18 19:40] aphelionz commented on #2024
I'll close and he can re-open or make a new issue if need be :)

[2017-12-18 19:40] #2024 closed

[2017-12-18 19:48] aphelionz commented on #1756
@pkdash @dtarb Can this be closed?

[2017-12-18 19:48] rajadain commented on #2530
Yes I get the same result:

[code]

Do `beta` and `www` share the same backend? Or does it simply have a recent copy of `www`? `dev` seemed to be a different environment, which made it a good candidate for connecting to the staging site and experimenting in a sandbox.

[2017-12-18 19:49] aphelionz commented on #2530
@rajadain Ok, this is a bug then. beta and www are clones of each other and are generally in sync as far as versioning, etc

[2017-12-18 19:50] rajadain commented on #2530
If I create a test resource in `beta` will it also show up in `www`?

[2017-12-18 19:51] aphelionz commented on #2530
Negative

[2017-12-18 19:57] aphelionz commented on #1673
@zhiyuli @dtarb Please let me know the status of this

[2017-12-18 20:01] aphelionz commented on #1642
@ChristinaB I am going to close this as we have a new apps page now, but do give me similar feedback on the new apps page!

[2017-12-18 20:01] #1642 closed

[2017-12-18 20:02] aphelionz commented on #1640
@dtarb @Lizabrazil Closing this unless you think we should continue this discussion in terms of the new apps page

[2017-12-18 20:02] #1640 closed

[2017-12-18 20:03] aphelionz commented on #1638
@dtarb @Lizabrazil Likewise this issue - closing in light of the new apps page. However, feedback is welcome!

[2017-12-18 20:03] #1638 closed

[2017-12-18 20:03] #1636 closed

[2017-12-18 20:11] aphelionz commented on #1545
@danames Closing this as we no longer rely on tethys for the app landing page. If need be we can create separate resources that then open up the proper app server

[2017-12-18 20:11] #1545 closed

[2017-12-18 20:19] aphelionz commented on #1399
@pkdash @dtarb What is the status of this?

[2017-12-18 20:19] aphelionz commented on #1387
@dtarb @ChristinaB Closing this for now, feel free to re-open or make a new issue

[2017-12-18 20:20] #1387 closed

[2017-12-18 21:17] #943 closed

[2017-12-18 21:54] pkdash commented on #1399
@aphelionz No work has been done to resolve this issue.

[2017-12-18 21:56] pkdash commented on #1756
@aphelionz This should be closed. @dtarb can confirm.

[2017-12-18 21:57] #1756 closed

[2017-12-18 21:58] pkdash commented on #2029
@aphelionz It should be closed. @zhiyuli Can test and close.

[2017-12-18 22:00] aphelionz commented on #2029
@zhiyuli Please do so!

[2017-12-18 22:00] pkdash commented on #2110
@aphelionz I think this issue has been resolved. @dtarb can test and close.

[2017-12-18 22:01] pkdash commented on #2162
@aphelionz Closing.

[2017-12-18 22:01] #2162 closed

[2017-12-18 22:02] aphelionz commented on #2110
@dtarb  Please do!

[2017-12-18 22:02] pkdash commented on #2238
@aphelionz Closing.

[2017-12-18 22:02] #2238 closed

[2017-12-18 22:03] pkdash commented on #2399
@aphelionz Closing.

[2017-12-18 22:03] #2399 closed

[2017-12-18 22:06] pkdash commented on #1991
@aphelionz I am OK with closing this.

[2017-12-18 22:08] #1991 closed

[2017-12-18 22:12] zhiyuli commented on #2029
closed

[2017-12-18 22:12] #2029 closed

[2017-12-18 22:14] zhiyuli commented on #1673
closed

[2017-12-18 22:14] #1673 closed

[2017-12-18 22:15] zhiyuli commented on #2307
closed

[2017-12-18 22:15] #2307 closed

[2017-12-18 22:15] zhiyuli commented on #2512
closed

[2017-12-18 22:15] #2512 closed

[2017-12-19 03:47] pkdash commented on #2504
@aphelionz On www this issue still exists. I am not sure if we should resolve it as a HOTFIX. When is the next release? I would prefer to make this fix part of the next release. I can also do a HOTFIX if that is needed.

[2017-12-19 03:48] pkdash commented on #2217
@aphelionz Closing.

[2017-12-19 03:48] #2217 closed

[2017-12-19 03:51] pkdash commented on #2036
@aphelionz Closing.

[2017-12-19 03:51] #2036 closed

[2017-12-19 15:15] aphelionz commented on #2504
@pkdash Next release will be mid to late January. I'm OK with waiting. Thank you

[2017-12-19 16:01] #2216 closed

[2017-12-19 16:16] dtarb commented on #2530
@pkdash or @Castronova may be able to provide guidance here.  I know that the Jupyter App platform is able to successfully create resources in HydroShare using the API.  I am not sure how that is different from from what is being tried here.

[2017-12-19 16:21] rajadain commented on #2530
I'll try using the hs_restclient library which may work better.

[2017-12-20 14:35] Castronova commented on #2530
@rajadain Here is some code that should help you get started:

[code]

[2017-12-20 17:42] alvacouch opened #2531 "skip first gratuitous SOLR rebuild in hsctl"
The first SOLR build in hsctl always fails because the schema has not been loaded at that time. One must both copy the schema and restart SOLR.

[2017-12-20 18:51] Bakinam opened #2533 ""Open With" button does not appear with model instance resource"
The 'open with' button does not appear with the model instance resource, while it appears in the generic resource and only shows "Hydroshare GIS" and "JupyterHub" apps.

[2017-12-20 20:33] aphelionz commented on #2493
@zhiyuli This is true right?

[2017-12-20 20:40] aphelionz commented on #2408
@zhiyuli This can be closed now @dtarb

[2017-12-20 21:56] rajadain commented on #2530
Thank you, the above is working for me.

@aphelionz, this is no longer blocking my work, so maybe doesn't need the `High Priority` tag anymore. Perhaps this is more a documentation issue at this point.

Thank you all for your support.

[2017-12-21 01:06] aphelionz commented on #2530
Thank you @rajadain

[2017-12-21 13:17] dtarb opened #2534 "Extend systems operations monitoring to all operational components"
Currently www.hydroshare.org is monitored by http://ci.hydroshare.org which, when a problem is detected sends an alert email to a list of developers (from hydroshare@hydroshare.org) and attempts an automated restart.  This functionality needs to be extended to all operational components of HydroShare including hyrax.hydroshare.org, apps.hydroshare.org, jupyter.cuahsi.org.  The list of people who r

[2017-12-21 13:19] dtarb opened #2535 "Establish (or clarify) email list for systems operations alerts"
I suggest establishing an email address such as admins@hydroshare.org for people who get systems operations email alerts from the operations monitoring system.  This is so that we can clarify and manage who is responsible for acting on these. See #2534

[2017-12-21 13:41] dtarb commented on #2534
Also looping in @danames because some Apps generate messages such as.  We need to know who gets these messages and is responsible for acting on them.

![image](https://user-images.githubusercontent.com/3456833/34258147-ecbed536-e619-11e7-80c7-6f70a75054c1.png)

[2017-12-21 14:08] dtarb commented on #2224
I am closing this issue.  The Sauk Suiattle Watershed Observatory resource https://www.hydroshare.org/resource/7a77f525667b42f69cdc3f8db18e1280/ was one of the ones intensively tested in resolving file system problems with the current deploy and I believe that issues related to it are fixed.  @ChristinaB if you encounter any further problems with this resource (or other new resources) please creat

[2017-12-21 14:08] #2224 closed

[2017-12-21 14:39] dtarb commented on #2456
Re-opening.  This issue has re-appeared/regressed.  On www I can currently create corrupt resources (that have contents in the download bag but display no files) by following the sequence outlined above.  This was verified fixed on beta 16 days ago, so the recent work related to deployment seems to have lost this fix.  A new resource with this problem is https://www.hydroshare.org/resource/238c445

[2017-12-21 16:05] dtarb opened #2536 "Should abstract length be limited"
Today I encountered the following error.  I grant that the abstract I was intending to enter was long - but it was the award abstract from https://nsf.gov/awardsearch/showAward?AWD_ID=1664061 in a resource where I was sharing the HydroShare proposal.  I would prefer that length of items not be arbitrarily limited wherever possible.

![image](https://user-images.githubusercontent.com/3456833/342637

[2017-12-21 16:36] dtarb commented on #2408
I do not know what the symptom of this was or how to test for it, so someone else should verify/close.

[2017-12-21 17:05] aphelionz commented on #2408
@zhiyuli Please verify and close when you get a chance

[2017-12-21 18:43] aphelionz commented on #2496
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#1

[2017-12-21 18:43] #2496 closed

[2017-12-21 18:43] aphelionz commented on #2476
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#2

[2017-12-21 18:43] #2476 closed

[2017-12-21 18:44] aphelionz commented on #2475
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#3

[2017-12-21 18:44] #2475 closed

[2017-12-21 18:45] aphelionz commented on #2455
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#4

[2017-12-21 18:45] #2455 closed

[2017-12-21 18:45] aphelionz commented on #2446
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#5

[2017-12-21 18:45] #2446 closed

[2017-12-21 18:45] aphelionz commented on #2445
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#6

[2017-12-21 18:45] #2445 closed

[2017-12-21 18:45] aphelionz commented on #2444
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#7

[2017-12-21 18:45] #2444 closed

[2017-12-21 18:46] aphelionz commented on #2442
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#8

[2017-12-21 18:46] #2442 closed

[2017-12-21 18:46] aphelionz commented on #2441
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#9

[2017-12-21 18:46] #2441 closed

[2017-12-21 18:46] aphelionz commented on #2440
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#10

[2017-12-21 18:46] #2440 closed

[2017-12-21 18:46] aphelionz commented on #2326
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#11

[2017-12-21 18:46] #2326 closed

[2017-12-21 18:46] aphelionz commented on #2320
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#12

[2017-12-21 18:47] #2320 closed

[2017-12-21 18:47] aphelionz commented on #2270
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#13

[2017-12-21 18:47] #2270 closed

[2017-12-21 18:48] aphelionz commented on #2144
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#14

[2017-12-21 18:48] #2144 closed

[2017-12-21 18:49] aphelionz commented on #1692
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#15

[2017-12-21 18:49] #1692 closed

[2017-12-21 18:54] aphelionz commented on #2185
This issue has been moved to: https://github.com/CUAHSI-APPS/tethysapp-hydroshare_gis/issues/16

[2017-12-21 18:54] #2185 closed

[2017-12-21 20:14] aphelionz commented on #2484
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#1

[2017-12-21 20:14] #2484 closed

[2017-12-21 20:15] aphelionz commented on #2439
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#2

[2017-12-21 20:15] #2439 closed

[2017-12-21 20:15] aphelionz commented on #2420
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#3

[2017-12-21 20:15] #2420 closed

[2017-12-21 20:15] aphelionz commented on #2419
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#4

[2017-12-21 20:15] #2419 closed

[2017-12-21 20:16] aphelionz commented on #2413
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#5

[2017-12-21 20:16] #2413 closed

[2017-12-21 20:16] aphelionz commented on #2412
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#6

[2017-12-21 20:16] #2412 closed

[2017-12-21 20:16] aphelionz commented on #2411
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#7

[2017-12-21 20:17] aphelionz commented on #2410
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#8

[2017-12-21 20:17] #2410 closed

[2017-12-21 20:18] aphelionz commented on #2409
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#9

[2017-12-21 20:18] #2409 closed

[2017-12-21 20:18] aphelionz commented on #2327
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#10

[2017-12-21 20:18] #2327 closed

[2017-12-21 20:18] aphelionz commented on #2319
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#11

[2017-12-21 20:18] #2319 closed

[2017-12-21 20:19] aphelionz commented on #2289
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#13

[2017-12-21 20:19] #2289 closed

[2017-12-21 20:19] aphelionz commented on #2437
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#14

[2017-12-21 20:19] #2437 closed

[2017-12-21 20:20] aphelionz commented on #2210
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#15

[2017-12-21 20:20] #2210 closed

[2017-12-21 20:20] aphelionz commented on #2209
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#16

[2017-12-21 20:20] #2209 closed

[2017-12-21 20:20] aphelionz commented on #2208
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#17

[2017-12-21 20:20] #2208 closed

[2017-12-21 20:21] aphelionz commented on #2207
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#18

[2017-12-21 20:21] #2207 closed

[2017-12-21 20:21] aphelionz commented on #2206
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#19

[2017-12-21 20:21] #2206 closed

[2017-12-21 20:21] aphelionz commented on #2205
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#20

[2017-12-21 20:21] #2205 closed

[2017-12-21 20:21] aphelionz commented on #2204
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#21

[2017-12-21 20:21] #2204 closed

[2017-12-21 20:21] aphelionz commented on #2203
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#22

[2017-12-21 20:21] #2203 closed

[2017-12-21 20:22] aphelionz commented on #2202
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#23

[2017-12-21 20:22] #2202 closed

[2017-12-21 20:22] aphelionz commented on #2201
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#24

[2017-12-21 20:22] #2201 closed

[2017-12-21 20:22] aphelionz commented on #1716
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#25

[2017-12-21 20:22] #1716 closed

[2017-12-21 20:23] aphelionz commented on #2272
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#17

[2017-12-21 20:23] #2272 closed

[2017-12-21 20:23] aphelionz commented on #2271
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#18

[2017-12-21 20:23] #2271 closed

[2017-12-21 20:23] aphelionz commented on #1294
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#19

[2017-12-21 20:23] #1294 closed

[2017-12-21 20:24] aphelionz commented on #2312
This issue was moved to CUAHSI-APPS/tethysapp-nwm_data_explorer#1

[2017-12-21 20:24] #2312 closed

[2017-12-21 20:29] aphelionz commented on #1567
@Castronova Can you move this to the jupyterhub repo or close?

[2017-12-21 20:29] aphelionz commented on #2443
This issue was moved to CUAHSI-APPS/tethysapp-hydroshare_gis#20

[2017-12-21 20:29] #2443 closed

[2017-12-21 20:34] aphelionz commented on #1626
This issue was moved to CUAHSI-APPS/nwm-forecast-viewer#26

[2017-12-21 20:34] #1626 closed

[2017-12-21 20:35] aphelionz commented on #1368
@Castronova Should this stay here or get moved to the jupyterhub repo?

[2017-12-21 21:32] aphelionz commented on #1573
@pkdash @dtarb Can this be closed?

[2017-12-21 23:07] zhiyuli commented on #2533
@Bakinam

I am not sure I fully understood this question. Do you mean why GIS app and Jupyter app are not showing up in OpenWith button on a model instance resource landing page? Let me try to explain this:

1) WebApp resource creator/owner/editor should manually select all supported resource types to indicate what resources this app can work with. Unfortunately neither the 2 apps can work with Mo

[2017-12-21 23:21] Bakinam commented on #2533
I mean that the open button itself is not visible at all in the model instance resource

[2017-12-21 23:38] aphelionz commented on #2234
This issue was moved to CUAHSI-APPS/tethys_watershed_delin#1

[2017-12-21 23:38] #2234 closed

[2017-12-21 23:38] zhiyuli commented on #2533
@Bakinam
That means for now there is no 'approved apps" or "user selected apps" in HydroShare system can work with model instance resource. So the OpenWith list/button is empty and the system automatically hides the list/button.

Do you know any WebApp that is supposed to work with model instance resource type? If yes please let me know the WebApp resource app so I can check whether the system is

[2017-12-21 23:38] aphelionz commented on #1315
This issue was moved to CUAHSI-APPS/tethys_watershed_delin#2

[2017-12-21 23:38] #1315 closed

[2017-12-21 23:39] aphelionz commented on #2222
This issue was moved to CUAHSI-APPS/datarodsexplorer#1

[2017-12-21 23:39] #2222 closed

[2017-12-21 23:41] aphelionz commented on #1627
This issue was moved to CUAHSI-APPS/gaugeview#1

[2017-12-21 23:41] #1627 closed

[2017-12-21 23:43] aphelionz commented on #1641
This issue was moved to CUAHSI-APPS/gaugeview#2

[2017-12-21 23:43] #1641 closed

[2017-12-22 02:06] dtarb commented on #1573
Yes closing.  If there are any limitations or issues found new issues can be created.

[2017-12-22 02:48] dtarb commented on #2110
Tested - closing

[2017-12-22 02:48] #2110 closed

[2017-12-22 02:51] dtarb commented on #1756
Yes this is working.

[2017-12-22 07:10] #1573 closed

[2017-12-22 20:50] rajadain opened #2537 "Permissions for Creating Folders?"
Hello,

I'm working on HydroShare export functionality for Model My Watershed. I am now able to successfully create resources and add files to them (for example: [66ce7b01a1e7490383e37a407979631c](https://beta.hydroshare.org/resource/66ce7b01a1e7490383e37a407979631c/)). So far I am using `hs_restclient`'s `createResource` and `addResourceFile` methods, which work very well. However, if I try to cr

[2017-12-22 20:52] aphelionz commented on #2537
Hi @rajadain thanks for reporting this. I should be able to get to this later this week.

[2017-12-23 21:23] dtarb opened #2538 "What characters should we allow in file names?"
I am able to create a resource that has the following file names

![image](https://user-images.githubusercontent.com/3456833/34322702-0139c9c0-e7ec-11e7-9fcc-e27ff8dd84ac.png)

If I download a bag and attempt to unzip in windows, I get an error message about TextFile:1.txt. I have the option to skip the error message and then I get
![image](https://user-images.githubusercontent.com/3456833/3432270

[2017-12-25 02:05] dtarb opened #2539 "A corrupt multidimensional file type can result when netcdf file is loaded from iRODS"
I created a new composite resource using a netcdf file from my desktop then set multidimensional file type and it worked fine.

I then created a new composite resource using the same netcdf file, but this time from iRODS and I get the following error
![image](https://user-images.githubusercontent.com/3456833/34330730-3122f02a-e8dd-11e7-9e5e-9936e0462c22.png)
when I click on the file metadata tab.

[2017-12-28 15:22] Castronova commented on #1368
@aphelionz this can be moved.

[2017-12-28 15:22] #1567 closed

[2017-12-29 17:56] zhiyuli opened #2540 "Failed to COPY a generic resource"
Got an error when trying to copy this public generic resource:
https://www.hydroshare.org/resource/2fdadb064d6a4d2e925fd9bac3b71a56/

![image](https://user-images.githubusercontent.com/10070599/34443805-d3f55fd4-ec86-11e7-9d40-054f2ba37a50.png)

[2018-01-02 03:31] horsburgh commented on #2116
@Maurier - I was about to close this. Are you still working on it?

[2018-01-02 17:17] Maurier commented on #2116
@horsburgh This issue can be closed. I submitted one last PR that solves the minor alignment issue described above.

We could discuss how to add a description to the Recently Updated later on. This should be a minor change.

[2018-01-02 17:23] Maurier commented on #2436
Texted fix deployed to www and confirmed working.

[2018-01-02 17:23] #2436 closed

[2018-01-02 17:48] horsburgh commented on #2116
Closing since @Maurier has taken care of the last minor alignment change.

[2018-01-02 17:48] #2116 closed

[2018-01-03 20:19] goodalljl commented on #2472
@Castronova can you please provide a status update on this issue? I think you said at AGU you have something close to (if not already) working. Thanks!

[2018-01-03 20:20] goodalljl commented on #2370
@aphelionz Can we close this one?

[2018-01-03 20:20] goodalljl commented on #2332
@jsadler2 checking again on status for this issue. Any updates?

[2018-01-04 15:47] aphelionz commented on #2370
Sure

[2018-01-04 15:47] #2370 closed

[2018-01-04 16:11] aphelionz commented on #2540
In my testing this seems localized to this one resource. Downgrading to medium priority.

[2018-01-04 16:44] jsadler2 commented on #2332
@goodalljl, we haven't looked at this lately. It's been put on my backburner.

[2018-01-04 16:47] aphelionz commented on #2540
Furthermore, I created this locally and I am able to copy it. https://dev-hs-2.cuahsi.org/resource/b2de506c60e54b02a18f6bacc411b122/

@zhiyuli is the tar.gz file in iRODS or just HydroShare

[2018-01-04 17:09] aphelionz commented on #2540
This appears to be the line that is throwing the error:

[code]

I also confirmed that if I change the `parse_app_url_template` function in `hs_tools_resource.utils`  to a noop, it works again.

Looks like your bug, @zhiyuli... reassigning.

[2018-01-04 17:12] zhiyuli commented on #2540
@aphelionz
It is stored on HydroShare main IRODs zone, not federated zone.
Thanks for sending me the logs. I will take a look .

[2018-01-05 19:43] rajadain opened #2543 "Unable to Add Box Coverage to Resource"
Hello,

I have two questions about adding coverages to resources in HydroShare. My code in MMW looks like this (irrelevant details elided):

[code]

1. While trying to add a coverage to a CompositeResource, I get this error:

       {
          "resource": "Resource metadata update failed: <class 'django.core.exceptions.ValidationError'>, Coverage metadata can't be updated for CompositeResource re

[2018-01-05 21:10] Castronova opened #2544 "Swagger - get scimeta returns no content"
Running the `GET /hsapi/resource/{id}/scimeta/` returns ` "error": "no response from server"`.

When I call this command using the `hs_restclient` I get the science metadata back:

[code]

[2018-01-05 21:13] Castronova opened #2545 "Custom scimeta not added to science metadata"
Adding custom science metadata appears to work correctly

[code]

However, this custom values does not exist in the science metadata:

[code]

[2018-01-06 18:16] gantian127 opened #2546 ""My resource" page doesn't list all resources owned by user"
I own several public resources (author is not the owner) which can be find through the "Discovery" page. But it is not listed in "My resource" page. Can someone check what causes this? Thanks

**public resources owned by user which is listed in "Discover" page**
![image](https://user-images.githubusercontent.com/5016511/34642575-566eb2a2-f2d2-11e7-8bb4-779143e1bf5b.png)

**all netCDF resources lis

[2018-01-06 18:37] gantian127 opened #2547 "NetCDF file type in composite resource failed to extract file type metadata"
The netCDF resource can extract the time coverage metadata successfully from the example file.
https://www.hydroshare.org/resource/c1f2679252c54d92bf54fc71eb1e03f4/

But when the composite resource converts the same file as netCDF file type, it will show error info and at the same time showing a message that the file type metadata has been extracted. (There is no file type metadata shown in the la

[2018-01-06 22:12] pkdash commented on #2547
@gantian127 I will fix it soon.

[2018-01-08 16:59] gantian127 commented on #2547
@pkdash thanks for looking into this issue.

[2018-01-08 17:07] zhiyuli commented on #2540
@aphelionz
I was not able to duplicate this error locally. Any suggestion how I should proceed with debugging? Thanks

[2018-01-08 17:18] gantian127 opened #2548 "NetCDF file type metadata has wrong spatial reference and spatial coverage forms"
The NetCDF file type in composite resource doesn't show the same metadata forms as that of NetCDF resource type (for spatial reference and spatial coverage metadata).

This makes the private composite resource unable to become a public resource when user needs to manually enter the required metadata. This issue can be tested with the NetCDF file in resource https://www.hydroshare.org/resource/25d8

[2018-01-08 17:29] aphelionz opened #2549 "Can't add user via admin panel"

[2018-01-08 20:37] gantian127 opened #2551 "Implement new APIs for NetCDF resource/file type"
This is a request to implement the APIs for the NetCDF resource type or file type.

- [ ] API to update the metadata in the netCDF file for multidimensional space-time resource type

- [ ] API to update the metadata in the netCDF file for netCDF file type in composite resource type

- [ ] API to add file type metadata for netCDF file type. (e.g. add spatial reference or spatial coverage metadata)

[2018-01-08 21:46] #2549 closed

[2018-01-09 16:04] zhiyuli commented on #2540
So far this error is only specific to this resource on www. We were not able to duplicate it on beta (which has the same code as WWW for now) or local VM. @aphelionz ran a script to detect the integrity of this resource which didnt find any issue.

@dtarb
I am the owner of this resource. I can either delete it or leave it as is. Please advise.

[2018-01-09 16:17] Castronova commented on #2544
adding `elements` to the end of the query string seems to work.

[code]

[2018-01-09 16:17] zhiyuli commented on #2533
So far this functionality works as design. I will move this to Documentation category

[2018-01-09 16:19] zhiyuli commented on #2493
tested on www. closing

[2018-01-09 16:19] #2493 closed

[2018-01-09 16:35] Castronova opened #2552 "Update Science Metadata fails"
I'm unable to update the science metadata for a resource using the hs_restclient.  For example:

[code]

It works if I pass in something simple

[code]

It does not work for authors:

[code]

It's not clear what's causing this to fail.

[2018-01-09 17:18] alvacouch opened #2553 "discovery: author should match any creator"
@dtarb @Lizabrazil @Castronova
I'm reviewing the discovery code and the current definition of "author" is that "the author is the first creator in human-specified order". This is somewhat misleading. "Creator" is multi-valued, and entered by the person who creates the resource. Thus, anyone listed as creator by this person should be considered an author for purposes of discovery and faceting.

I p

[2018-01-09 17:23] dtarb commented on #2553
I agree that all creators should be treated as authors for the purposes of Discovery.  There should also however be somewhat special treatment of the First Author, as the Discover page list them in the listing and provides an option to sort by first author.

[2018-01-09 17:43] Bakinam commented on #2533
Thank you so much, it is working now.

On Tue, Jan 9, 2018 at 11:17 AM, Zhiyu(Drew) Li <notifications@github.com>
wrote:

--
Bakinam Tarik Essawy

*Research Associate*
Department of Civil & Environmental Engineering
Thornton Hall D107, University of Virginia
351 McCormick Road
Charlottesville, VA 22904-4742
Cell phone: 803-463-4471
Email: bte2rn@virginia.edu

[2018-01-09 17:45] alvacouch commented on #2553
@Castronova @Lizabrazil @dtarb So let's just call first authors "first author" and then make the facet "author" and the query author:"someone" refer to all authors.

[2018-01-09 17:49] dtarb commented on #2553
Perfect.

[2018-01-09 18:18] Lizabrazil commented on #2553
I’m not sure I agree with this (if I’m understanding it correctly). Why should the creator automatically be considered an author? Where is “creator” exposed in the interface, do you mean “owner”?

From: Alva Couch [mailto:notifications@github.com]
Sent: Tuesday, January 09, 2018 12:19 PM
To: hydroshare/hydroshare <hydroshare@noreply.github.com>
Cc: Liza Brazil <LBrazil@cuahsi.org>; Mention <mentio

[2018-01-09 20:46] cbcunc commented on #2543
Adding myself to the comments in order to get more notifications.

[2018-01-10 02:30] horsburgh commented on #2553
@Lizabrazil - the Dublin Core Metadata standard does not have an "Author" element. They use "Creator." The definition they use is -  "An entity primarily responsible for making the resource." "Creator" is a bit more generic than "Author" because "Author" implies writing, which isn't really applicable to many web resources (like data). So, HydroShare uses the Dublin Core term "Creator" as a more in

[2018-01-10 03:29] pkdash commented on #2544
@aphelionz and @Castronova

The ```GET /hsapi/resource/{id}/scimeta/``` is an endpoint for downloading the resource science metadata xml file. I am guessing swagger interface is not capable of handling a file download.

The use of ```hs.getScienceMetadata('520f59bd5e72435b83390a571bb972b0')``` is same as using the following:
```GET /hsapi/resource/520f59bd5e72435b83390a571bb972b0/scimeta/elements`

[2018-01-10 15:39] pkdash commented on #2543
{
   "resource": "Resource metadata update failed: <class 'django.core.exceptions.ValidationError'>, Coverage metadata can't be updated for CompositeResource resource"
}

This is by design for now. Composite resource coverage is a superset of all the coverages of all the file types. Resource level coverage is auto updated when the file type coverage changes. However, after  phase-2 of composite re

[2018-01-10 16:45] rajadain commented on #2543
Ah thanks for clarifying. How is the file type coverage set? I'm uploading a set of shapefiles in my resources (named `area-of-interest.shp` and `.dbf`, `.prj`, `.shx`, etc) but that shape isn't picked up. Do they have to be named something, or in a folder, for it to work?

On that note, I should also mention that we have been unable to create folders because of #2537.

[2018-01-10 18:51] rajadain opened #2556 "Redirect To Resource After Login"
Currently, if while not logged in, I attempt to access My Resources, I'm taken to a login page, after which I'm taken to the My Resources page:

![2018-01-10 13 48 17](https://user-images.githubusercontent.com/1430060/34789700-43628ccc-f60d-11e7-9332-d565fc2d8e0a.gif)

However, if while not logged in, I attempt to access a specific resource, I'm taken to a login page, and then to the home page, in

[2018-01-10 18:56] rayi113 commented on #2556
Adding that this appears to be related to GitHub issue #2323

[2018-01-10 18:56] Castronova commented on #2472
@goodalljl I'm working on this issue this week.  I should have something to report in the next few days.

[2018-01-10 19:02] rayi113 commented on #2472
@Castronova if not too much additional work, could you please create the Jupyter notebook for running Summa so that all dependencies are resolved within the notebook itself and not dependent on JupyterHub for any of the dependencies?  This would enable us to explore leveraging additional approaches such as @clarisca 's SciDAS work while still being interoperable with JupyterHub.  Thanks.

[2018-01-10 19:10] rajadain commented on #2556
Ah I think it's the same exact same issue. I tried to search for "redirect" in existing open ones but didn't find that one.

[2018-01-10 19:46] rajadain opened #2557 "Redirect After Signing Up"
We use an OAuth flow to have users authorize Model My Watershed to post to their account. This works pretty well when they already have an account:

![2018-01-10 14 33 54](https://user-images.githubusercontent.com/1430060/34791870-47c6bfb6-f614-11e7-9267-d9aa383a9905.gif)

However, if they try to sign up with a new HydroShare account, the workflow is quite broken:

![2018-01-10 14 36 07](https://u

[2018-01-10 21:47] dtarb commented on #2540
I do not like to ignore things that are symptoms of problems.  Because it is better for us to identify and fix problems, before a user does, and gets discouraged.

If the behavior is not reproducible on beta, then we know that something is different between www and beta.  This could be the code, the database, the content of iRODS, or something else.  I would prefer that this be kept open as a reco

[2018-01-11 00:31] dtarb opened #2558 "Add reserve a DOI functionality"
Consider enabling a "reserve DOI" capability that would add on a resource landing page how to cite information about the resource once it has a DOI.  While HydroShare DOI's are constructed from their GUID, and this effectivley reserves the DOI already, this is opaque to users.  Reserve DOI would show users the DOI citable form of the resource under some sort of pending label, e.g. "A DOI has been

[2018-01-11 00:44] dtarb opened #2559 "Allow owners to change relationships for published resources"
Once a resource is published changes to it are prevented (it is immutable).  Relax the rules to allow owners to change the relationships of published resources.  This is so that a resource can be formally published, then later when a paper is published that describes or uses this resource a relationship can be added indicating "Described by" or "Data For".  This change will also simplify the coord

[2018-01-11 01:45] aphelionz commented on #2558
Seems extremely easy to do. I will consider adding this to the next CUAHSI sprint. Although I'm sure @Maurier can knock this out in under an hour.

[2018-01-11 14:55] aphelionz commented on #2544
@pkdash and @Castronova As it stands right now, on the branch, swagger works and calling the endpoint directly via the browser downloads the XML File successfully. All I need to do is fix the tests.

[2018-01-11 16:54] aphelionz commented on #2537
@rajadain Just checked into this and it seems to be a missing property on the CompositeResource model. I just opened up https://github.com/hydroshare/hydroshare/pull/2560

[2018-01-12 16:58] rajadain commented on #2543
@pkdash the only examples of CompositeResource I can find with box coverages are these:

* [test harvey netcdf file](https://www.hydroshare.org/resource/75d17f265dba4c8396725cf98f652302/)
* [Testing NetCDF file type](https://www.hydroshare.org/resource/895425a231584353bb678fc7f2243092/)

Is there support of (and an example for) a CompositeResource that picks up the box coverage from a shapefile or

[2018-01-13 18:43] goodalljl commented on #2471
@rayi113 Any updates on this issue? Things have been quiet so I wanted to check on where we are now with SciDAS/HydroShare integration. Thanks!

[2018-01-13 18:43] goodalljl commented on #2332
Ok, moving to the backburner for now.

[2018-01-13 18:53] clarisca commented on #2471
@goodalljl : Stealey is currently working on integrating webdav (DevRods) with the Jupyter appliance so that the jupiter notebook can be presented with a POSIX interface into the remote userspace in iRODS. Fan is out of the country but back on Tuesday. We will touch basis next week.

[2018-01-15 18:39] aphelionz commented on #2245
Has everything except for iRODS account, @Lizabrazil will lead that effort.

[2018-01-15 18:39] #2039 closed

[2018-01-15 18:44] #1753 closed

[2018-01-15 18:47] #1751 closed

[2018-01-15 18:48] #1714 closed

[2018-01-15 18:49] #1560 closed

[2018-01-15 18:49] #1559 closed

[2018-01-15 18:53] aphelionz commented on #2533
@zhiyuli @dtarb @danames Is this by chance a false negative? Is it true that none of the apps apply to Model Instance resources? Likewise Model Program? If so then we just need to explain that somewhere/somehow. If it's not true then we need to fix that by assigning a web app resource that can open those.

[2018-01-15 19:09] rajadain commented on #2537
Please let me know when this has been deployed to beta, so we can use it.

[2018-01-15 19:17] aphelionz commented on #2537
We will be looking at deploying this by the end of the month, but beta should be deployed this week for testing. I will re-open this ticket now.

[2018-01-15 19:44] aphelionz opened #2562 "Add "abstract" representation to resource JSON REST API results"

[2018-01-15 19:52] #2291 closed

[2018-01-15 20:49] aphelionz commented on #2292
@pkdash I just audited the code and it looks like publishing is not available via the REST API. Can you confirm? I just need a second set of eyes on this.

There is an `_internal` endpoint that doesn't have an `@api_view` decorator here:  https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/__init__.py#L679 and I don't see anything else calling that.

The publishing code is very spe

[2018-01-15 21:17] aphelionz commented on #2558
@dtarb Are there any actions necessary for the "reservation" of a DOI? It seems we can just construct it from the resource ID without taking any action. Once a resource is created and assigned its HydroShare guid, we know what the DOI is going to be, right?

[2018-01-15 22:03] pkdash commented on #2292
@aphelionz Yeah, I too don't see any rest endpoint for publishing.

[2018-01-15 22:06] hyi commented on #2558
@aphelionz I can confirm this is correct, DOI for a resource can be constructed from resource GUID with a fixed prefix string.

[2018-01-15 22:49] aphelionz commented on #2292
Cool, waiting on @castronova as the third set of eyes to confirm and then will close

[2018-01-15 23:59] dtarb commented on #2558
Yes.  This is all about making it clear to a user what the DOI for the resource will be so they can use it in papers before they actually get the DOI registered at Crossref.

[2018-01-16 00:13] dtarb commented on #2533
I believe the system is functioning correctly.  I believe there are currently no apps approved for generic model programs and generic model instances.  This should not be cause for undue concern.  Not all resource types have to have an associated app (just as on your computer you can have a file without having a program to act on it).  It is really up to app designers and app curators to identify

[2018-01-16 03:46] horsburgh opened #2563 "Composite Resource: Phase 2 Implementation"
This issue will be a checklist of all of the separate issues related to Phase 2 implementation of the composite resource. Any discussion for each of the following issues should be done on the issue's page (links provided). Aggregation types and general principles of Aggregations to be supported by Phase 2 follow the checklist in this issue.

* [x] #2564 Change any text references from "Logical Fil

[2018-01-16 03:50] horsburgh opened #2564 "P2 Composite Res: Change text references from "logical files" to "Aggregations""
Phase 2 of composite resource implementation involves a terminology change. Any text references in the user interface to "Logical Files" needs to be changed to "Aggregations" for consistency
* Change the File Metadata tab to "Aggregation Metadata"
* Change the right click action labels to "Set as Geographic Raster Aggregation", "Set as Multidimensional Aggregation", "Set as Geographic Feature Aggr

[2018-01-16 03:57] horsburgh opened #2565 "P2 Composite Res: Write Aggregation metadata and OAI-ORE resource map to the Aggregation's folder"
Implement writing of the Aggregation's metadata and OAI-ORE resource map .xml files to the folder that contains the Aggregation.
* Resource-level metadata files include resourcemetadata.xml and resourcemap.xml. These files are written to the resource's "/data" folder. This is current functionality and will not change.
* Aggregation-level metadata files include <Aggregation>_meta.xml and <Aggregati

[2018-01-16 03:59] horsburgh opened #2566 "P2 Composite Res: Enable upload of physical files that do not participate in an Aggregation"
Enable upload of physical files that do not participate in an Aggregation - Remove implementation that every file is a "logical file".

[2018-01-16 04:13] horsburgh opened #2567 "P2 Composite Res: Implement UI functions for Aggregation files and folders"
Implement user interface functionality to have actions on folders:
* [x] Right click on a folder that is not already an Aggregation to convert contents to an Aggregation
* [x] Click on a folder that is an Aggregation to view or edit content in the "Aggregation Metadata" tab

NOTE: For a first implementation, we can repurpose the "File Metadata" tab as the "Aggregation Metadata" tab. But, see the i

[2018-01-16 04:37] horsburgh opened #2568 "P2 Composite Res: Implement Aggregation Naming Rules"
An Aggregation within a composite resource will be named by its relative filename for single file Aggregations and by its relative folder path for multi-file Aggregations. Names will be relative to the "/data/content/" folder in the HydroShare resource. This ensures uniqueness of the Aggregation name, even where there are files or folders at different parts of a resource's folder hierarchy that ma

[2018-01-16 04:43] horsburgh opened #2569 "P2 Composite Res: New layout for Aggregation-level metadata on composite resource landing page"
The current "file metadata" tab on the composite resource landing page is located too far down the page, requires confusing selection of a file, then scrolling down to see the metadata for that file. In this issue we will design a new layout for Aggregation-level metadata on the composite resource landing page
* Move closer to the Aggregation and access via right click on the Aggregation in the fi

[2018-01-16 04:45] horsburgh opened #2570 "P2 Composite Res: Add new functionality for creating Aggregations"
Add new functionality for creating Aggregations within a composite resource. These did not exist in the Phase 1 implementation:
* Unzip a file and automatically detect Aggregations
* Extract multiple Aggregations from a single zipped file - e.g., multiple shapefiles in one zip file

[2018-01-16 04:48] horsburgh opened #2571 "P2 Composite Res: Auto-detect Aggregations on file upload"
Add new functionality to auto-detect Aggregations for composite resources on file upload (during resource creation and/or during resource editing).
* Geographic feature - a ".shp" file is detected
* Multidimensional - a ".nc" file is detected
* Geographic raster - a ".vrt" file is present that references one or more ".tiff" files. Or, a ".tiff" file is detected that is not referenced by a ".vrt" f

[2018-01-16 04:51] horsburgh opened #2572 "P2 Composite Res: Add Aggregation type terms to HSTerms vocabulary namespace"
Add terms describing Aggregation types to HSTerms vocabulary namespace. Also, should ensure that the HSTerms is an importable namespace of terms if it isn't already.

For example, see: http://dublincore.org/2012/06/14/dcterms

[2018-01-16 04:54] horsburgh opened #2573 "P2 Composite Res: Display Aggregations in File Browser with Type Specific Icons"
Modify the file browser interface to display folders containing an Aggregation with an icon that is specific to the Aggregation type. Can also likely do this for single file Aggregations where the file would be shown with a type-specific icon.

Additionally - the file browser interface should be modified so the Aggregation metadata file and the Aggregation OAI-ORE resource map document are not sho

[2018-01-16 04:56] horsburgh opened #2574 "P2 Composite Res: Modify /hsapi/_internal/data-store-structure to include Aggregations"
Modify the existing /hsapi/_internal/data-store-structure API function to include Aggregations. Need to include the full folder/file listing, but also include Aggregations and their type so that folders that are aggregations can be displayed as such with an appropriate icon in the file browser interface on the resource landing page.

[2018-01-16 05:00] horsburgh opened #2575 "P2 Composite Res: Implement NEW REST Endpoints for Aggregations"
Implement new REST API endpoints to support creation, editing, deletion, and retrieval of Aggregations within a Composite resource.;
* Change the name of the existing endpoint resource_functions_set_file_type_create to resource_functions_set_aggregation_type_create
* Implement getAggregationList
* Implement getAggregationFileList
* Implement getAggregation

NOTE: It is assumed that other, existing

[2018-01-16 05:05] horsburgh opened #2576 "P2 Composite Res: Right click "open with" functionality for Aggregations"
Add functionality for right click "Open-With" to construct a URL to launch an Aggregation to an external web App.
* Present as a right click option on the file for single file Aggregations and on the folder for multi-file Aggregations
* Limit to list appropriate Apps in the "Open-with" list
* URL that is constructed should contain the following:
  * Resource Identifier (GUID)
  * Aggregation type

[2018-01-16 05:07] horsburgh opened #2577 "P2 Composite Res: Enable Editing of Resource-Level Coverage for Composite Resources"
Enable editing of resource-level coverage so that a user can specify any coverage they want for a composite resource.
* Disable automatic overriding of coverage from the Aggregations contained within the resource (unless they are blank when an Aggregation is created)
* Add two buttons to the resource-level coverage editing area for composite resource only that allows the user to set the coverage b

[2018-01-16 16:20] horsburgh commented on #2558
@aphelionz - I've looked at another system that has this functionality. Once a resource has been created, there is simply a link on the page that says "Reserve Digital Object Identifier (DOI)". When that is clicked, the DOI is displayed with a note that says that the DOI will become active when the item is formally published.

I think the "Reserve Digital Object Identifier (DOI)" link should show

[2018-01-16 16:47] aphelionz commented on #2558
We are not really reserving anything, are we though?

[2018-01-16 17:04] horsburgh commented on #2558
Interesting question. Technically, the step of "reserving the DOI" is done when the resource is created because the DOI is based on the GUID assigned to the resource. No other resource will ever have the same GUID, so the DOI is effectively reserved.

So, I suppose we could dispense with the "Reserve DOI" step entirely and just add a note below the How to Cite section for unpublished resources tha

[2018-01-16 19:28] hyi commented on #2558
@dtarb I like the suggestion by @horsburgh since once a resource is created, the DOI is actually "reserved" by default based on our DOI assignment rule in HydroShare since this DOI will never be taken by others. The main issue is to inform the users which the DOI for their resource would be once they take the steps to publish the resource.

[2018-01-16 19:38] zhiyuli opened #2579 "Raster resource without projection metadata can be made public?"
We noticed some public raster resources have no projection metadata, which made visualization in GIS app impossible. What is our policy/rule on making a raster resource public?

https://www.hydroshare.org/resource/1028f383d0d6426d86a3118a221f8fac/

https://www.hydroshare.org/resource/b91f3d1221ac4b20838e687b22e8470a/

[2018-01-16 20:21] hyi opened #2580 "Remove hs_metrics app"
@aphelionz I am assigning this issue to you just to evaluate whether it is appropriate to remove hs_metrics app from HydroShare repo. I believe it is not used and can be removed, but leave it up to you whether you think it should be removed or not.

[2018-01-16 20:33] pkdash commented on #2543
@rajadain There is no REST endpoint for setting coverage for file types. However, for all file types excluding Generic file type, the coverage for a file type is automatically set when the file type is created. Here is an example of using hs_restclient to set/create a NetCDF file type:

[code]
For creating a GeoFeature file type using a shp file set the file_path to path of the shp file and hs_fil

[2018-01-16 21:00] rajadain commented on #2543
Perfect, thank you! We are now able to export the geographic features from Model My Watershed to HydroShare:

![screen shot 2018-01-16 at 3 59 06 pm](https://user-images.githubusercontent.com/1430060/35012036-4d63fbde-fad6-11e7-878b-32a7385e810f.png)

![screen shot 2018-01-16 at 3 59 03 pm](https://user-images.githubusercontent.com/1430060/35012038-4faf6bbc-fad6-11e7-8fba-1c46cb8ce0b9.png)

Since

[2018-01-16 21:00] #2543 closed

[2018-01-16 23:02] dtarb commented on #2558
I agree with @horsburgh suggestion.  One technical nicety though, the link to the DOI should not be constructed as a hyperlink because until the DOI is registered it will be a broken link.  So the blue hypertext link in the quote above should just be plain text.

[2018-01-17 03:16] aphelionz commented on #2558
@dtarb roger that

[2018-01-17 10:20] goodalljl commented on #2533
This is a good suggestion. I would support this. It may not make sense for some model programs that can't be installed in Jupyter (e.g., Windows programs), but our users can probably figure this out. Or we could filter out such resources based on the model program metadata. What do you think, @Castronova ?

[2018-01-17 14:51] Castronova commented on #2533
This is a good point, especially for models that we can't or have no plans of supporting on JH in the near future.  It's very easy to modify the resource types that the JH web app supports.  Below is a summary of the resource types that the JH app currently supports (checked boxes) and doesn't support (unchecked boxes):

- [x] Generic
- [x] Geographic Raster
- [x] HIS Referenced Time Series
- [x]

[2018-01-17 15:18] hyi commented on #2471
@goodalljl @Castronova @dtarb @rayi113 The discussion threads on this issue #2533 prompted me with the similar "Open With" button for specific resource types for SciDAS integration, so want to get this  "Open With" button sorted out for this issue as well. In the prototype I did, "Open With" button is available for all resource types since I think any resource type can leverage this jupyter applia

[2018-01-17 15:54] aphelionz commented on #2533
@Castronova I think this can be closed after it's confirmed you've enabled those

[2018-01-17 17:04] dtarb commented on #2471
@hyi following are the general steps to follow.
1. Establish the SciDAS functionality on a stable platform accessible to all hydroshare users.  This should rely only on functionality deployed operationally on www, so if there is iRODS functionality involved, it needs to be part of www (and be consistent with our access control model - no back door security use of proxy account)
2. Create a web app

[2018-01-17 17:39] hyi commented on #2471
@dtarb Thanks for listing the general steps which are in line with what I have in mind. Step No. 1 is in the works by @mjstealey and @clarisca, and I think we will have to use OAuth for user login and authentication as well. My specific question, though, is on what resource types I should allow/designate to use this SciDAS app when creating a SciDAS web app resource. I am thinking I should all all

[2018-01-17 17:46] dtarb commented on #2471
@hyi it depends on what SciDAS does and what the pattern is that you set up for SciDAS to return its results.  Without knowing this, I do not know what to suggest.  The resource types allowed can be easily changed using a check box in the web app resource, so I suggest for now starting with Generic and Composite, and then seeing what is needed.

[2018-01-17 18:14] hyi commented on #2471
@dtarb Makes sense. For the SciDAS Jupyter appliance provision use case, I'd say it applies to all resource types since I don't see any constraints that prevent any resource type from leveraging this. The reason I brought this question up is that I saw JH app actually is configured to constrain it to a set of limited resource types, so I thought I might have missed something and want to clear thin

[2018-01-17 18:20] Castronova commented on #2471
@hong  That was the original thought for the JH app too.  However, while any resource can be manipulated in JH, some don't make much sense...yet.  The general idea is to not confuse or mislead users, i.e. support for MODFLOW model instance may imply that MODLFOW is installed in the JH app when it actually isn't.  This is why the "supported resource types" have become more restricted for the JH app

[2018-01-17 18:31] hyi commented on #2471
@Castronova Thanks for the info. I'll keep this in mind along the way while getting SciDAS app integrated into HydroShare production. At this point, I think SciDAS app is more generally applicable than JH app, and can be exposed to all resource types, but this may change as it moves along.

[2018-01-17 18:58] rayi113 opened #2581 "Create new interim email forwarding account"
Create new Google Gmail account to use for email forwarding

[2018-01-17 18:59] rayi113 opened #2582 "Create matrix of Email providers"
Create matrix of providers that are proactive and have track record of keeping MTAs off of email blacklists with a recommendation of one

[2018-01-17 21:41] Lizabrazil opened #2583 "Empty resource created when nearing the threshold of 1GB"
User tried creating a resource with .9GB of data. The resource said it was created successfully but was actually empty with no content. The HS resource is still private so I will not share here. Mark has the resource.

[2018-01-17 21:45] Lizabrazil opened #2584 "Resource creation page continuously loads when nearing the 1 GB threshold"
Related to #2583 . The User also noted that during his first attempt to create a resource with .9GB of data, the resource creation page continuously loaded and never gave any feedback to why it was not creating properly or within a reasonable time. We need to add some feedback that informs the user after a certain amount of time goes by.

[2018-01-17 21:48] Lizabrazil opened #2585 "IRODS PW Change"
1.	Provide a “Change iRODS password” button on user profile page which only shows up when a user has logged into HydroShare and has an iRODS account created. Clicking this button would allow users to enter a new password to change to without requiring entering the old password.
2.	Provide a “Reset iRODS password” button on user profile page which only shows up when a user has logged into HydroShar

[2018-01-18 14:36] dtarb commented on #2577
I would prefer a check box to a button on the setting of coverages.  The checkbox should be labeled “Use coverage from member aggregations”.  The check box would be set to be on by default.  With the check box on, any time a new aggregation is added, or removed, the resource level coverage would update.  With the check box off the resource level aggregation would be user editable.

This would avoi

[2018-01-18 15:25] horsburgh commented on #2577
For what it is worth – I prefer the buttons. That way, it is an explicit action by the user to set the coverage based on the content of the resource rather than ticking a box, forgetting that its checked, and then wondering why the coverage has changed later on.

[2018-01-18 16:10] aphelionz commented on #2558
@dtarb @horsburgh  like this?

![image](https://user-images.githubusercontent.com/106148/35107922-36275072-fc40-11e7-9bce-0c0d2e42e6bd.png)

[2018-01-18 21:51] Lizabrazil opened #2590 "GRoups invitation to email link expires too quickly"
The email notification that is sent when someone invites you to a group has a link that expires less than 24 hours. It should be valid longer.  (Not sure who to assign)

[2018-01-18 22:01] dtarb commented on #2558
Looks good.  I suggest spell out "digital object identifier" as in:
When published this resource will have a digital object identifier (DOI) http://dx.doi.org/10.4211/hs.877bf9ed9e66468cadddb229838a9ced

[2018-01-20 16:59] pkdash commented on #2563
@horsburgh

Based on the above requirement I assume for ref time series aggregation the json file does n't need to be put inside a folder - that's how it's in phase-1.

[2018-01-20 17:22] horsburgh commented on #2563
Correct.

[2018-01-22 16:27] dtarb commented on #2558
Note also that the DOI system now does not need the dx in URL's so we should consider using DOI URL's in the format  http://doi.org/10.4211/hs.877bf9ed9e66468cadddb229838a9ced.  This also applies to the How to cite field.

[2018-01-22 17:32] hyi opened #2591 "Add quota usage and filter on My Resources Page"
@Maurier @horsburgh On the coordination call today, it was decided it'd be the best for @Maurier to work on integrating quota usage and filter on My Resources page after my PR https://github.com/hydroshare/hydroshare/pull/2525 will be merged this week for the next release. The quota information can be easily retrieved from the back end and I will provide any support needed on the back end for the

[2018-01-22 18:39] horsburgh commented on #2568
Only that it is what you will see in the file browser interface. The aggregation name for an individual file is the name of the file, and for an aggregation contained within a folder, it is the name of the folder. The name is important, though, for referencing the aggregation through the REST API.

[2018-01-23 03:26] pkdash commented on #2571
@horsburgh Does auto detection apply to zip file upload? A zip file possibly can be either a raster aggregation or a geo feature aggregation?

[2018-01-23 15:24] aramatev opened #2592 "Add Explore page"
@dtarb @horsburgh @martinseul @aphelionz @aramatev
The project is to create a "you might also like..." page for HydroShare. This page uses machine learning to infer resources (and other users and groups) that are likely of interest to each user, based upon usage patterns that HydroShare records.

This is an MS project at Tufts University in partial fulfillment of the Master of Science in Computer

[2018-01-23 15:47] aphelionz commented on #2592
Hi @aramatev can you elaborate? :)

[2018-01-23 15:50] aphelionz commented on #2464
Will this be solved and/or invalidated by the work done in https://github.com/hydroshare/hydroshare/pull/2578?

@Castronova @alvacouch

[2018-01-23 17:00] aramatev commented on #2592
Hello, just joining the project. I have lots of python code reading to do.
Waiting for @alvacouch, he'll elaborate don't worry. thanks!

[2018-01-23 17:38] aphelionz commented on #2592
Welcome!

[2018-01-23 19:15] horsburgh commented on #2571
@pkdash - my first reaction is that it would be a bad idea for us to be scanning every zip file that people upload looking for potential aggregations. We don't know if there will be 5 files in a zip file or 500 files, or 5000 files.

I've seen on some websites that when you drop a zip file on the upload space it asks - do you want to upload the zip file, or do you want to upload and expand (unzip)

[2018-01-23 19:54] pkdash commented on #2571
@horsburgh I am glad that we don't try to auto detect aggregation from zip file upload for now. May be in phase-3.

[2018-01-23 20:59] cbcunc commented on #2534
Tracking here: https://docs.google.com/spreadsheets/d/1U52G1P32F3BU9EvozZu96IUCgzmeY_eUej4-IgooR0c/edit#gid=0

[2018-01-23 23:49] dtarb opened #2593 "Data Rods Explorer - Sort out Login interactions with HydroShare"
If I go to www.hydroshare.org and click on Apps (without logging in), I can open Data Rods Explorer.
I then do the following
- put a dot on the map
- click plot one variable
- click plot
I get the plot of the variable of interest (if I do not click anything else this was hourly precipitation)
- There is a button Upload to HydroShare
- I click on it and select ASCII
- I enter a title and click uplo

[2018-01-24 18:18] dtarb commented on #2571
I agree not to parse zip files.  However when a zip file is unzipped, we should parse the files that are added from the unzip and if we recognize them, make them into aggregations.  There are rules for this in the business logic for creating aggregations in https://docs.google.com/document/d/1Hb18tUZyG7PHSwrclRHOmcYcEJvD0i9dQSmNdVckBUc/edit.

[2018-01-24 19:12] horsburgh commented on #2571
@dtarb - this plan sounds consistent with my thinking.

[2018-01-24 21:51] ChristinaB commented on #2456
I may have encountered this issue today.
The resource was working fine. Then I made a folder, dragged files into from within the resource, and now it appears to be broken. I get errors downloading it and getting it to the JH server using getResourceFromHydroShare()
https://www.hydroshare.org/resource/abe2fd1e3fc74e889b78c2701872bd58/

I made a copy to see if that would help. It didn't.  Here's the

[2018-01-24 21:55] ChristinaB commented on #2456
@alvacouch Did I break https://www.hydroshare.org/resource/abe2fd1e3fc74e889b78c2701872bd58/
https://www.hydroshare.org/resource/31bd8cc9eb1e4f14b1e760c08f596920/
or are they just too big?  I am not clear on how to resolve the issue given this error message.

[2018-01-24 22:22] rayi113 opened #2594 "CAPTCHA missing from HydroShare landing page"
CAPTCHA is missing from the HydroShare landing page, but there is still code blocking from new user account creation.

![captcha_error](https://user-images.githubusercontent.com/2846017/35360274-2f71d7da-012b-11e8-92a3-b240deab22b2.png)

[2018-01-25 14:34] rayi113 commented on #2594
Being addressed in https://github.com/hydroshare/hydroshare/pull/2595
Consider replacing with new "I am not a robot" as @hyi suggests: https://www.google.com/recaptcha/intro/

[2018-01-25 14:38] alvacouch commented on #2464
#2578 does not completely address this. At present:

* publisher is available via search bar.
* extended metadata is not.
* citation is not part of search bar.
* creation date is included but is dubious as part of search bar non-field syntax. Would rather put this into created:1/1/2017 field syntax.

In general, what is exposed on the search bar is too much. Adjusting this now in #2578. Some thing

[2018-01-25 15:00] alvacouch commented on #2464
@aphelionz @Castronova This relates to a comment @Lizabrazil  made in email, that `Bandaragoda` often returns things Christina didn't contribute to, but interacted with in some other way! E.g., she was mentioned in a comment!

In general, we need to limit the reaction of the search bar to hearsay!

What I suggest is that we put in field qualifiers for this extra data but do not put it into the sea

[2018-01-25 16:20] alvacouch commented on #2464
@Lizabrazil @Castronova @martinseul @aphelionz @dtarb I analyzed the source of the problem with searching for "Bandaragoda" (without a field qualifier) and getting references that weren't Christina's. Thus, the search interface could become full of "discovery spam" that people don't intend to find.

The search bar was searching basically everything it could get to. I modified that list to exclude

[2018-01-25 16:32] alvacouch commented on #2464
@Castronova @Lizabrazil @dtarb In summary, I think it's a really bad idea to make the unqualified search match dates. However, the qualified search matches them now. Same comment for extra metadata.

[2018-01-25 16:54] aphelionz commented on #2594
@rayi113 We have a plan to get the latest and greatest recaptcha in by tomorrow

[2018-01-25 17:10] horsburgh commented on #2464
@alvacouch - what about Resource Type? Sharing status? Funding agency credits?

These are suggestions, but I could see someone wanting to do something like: Show me all of the resources that are formally published and that were funded by the National Science Foundation.

[2018-01-25 20:10] ChristinaB commented on #2456
I resolved my problems with the resource by deleting the folder I had created, and then making a new copy of the resource.  Without the folder and with a new copy, things are working as expected.  @alvacouch I would like to delete the dysfunctional resource but will wait until I hear from you whether you want to use it for further investigations.  Thanks!

Here is the original resource where I mad

[2018-01-25 21:54] alvacouch commented on #2592
@martinseul @Castronova To what extent are you using the data from the user activity logs? If I add recorded events, will that foul up your use tracking?

[2018-01-26 14:54] Castronova commented on #2592
It shouldn’t mess anything up since we’re only custom logs for the metrics.

Tony

On January 25, 2018 at 4:54:49 PM, Alva Couch (notifications@github.com)
wrote:

@martinseul <https://github.com/martinseul> @Castronova
<https://github.com/castronova> To what extent are you using the data from
the user activity logs? If I add recorded events, will that foul up your
use tracking?

—
You are receivi

[2018-01-26 21:16] aphelionz opened #2597 "Cannot use settings constants in mezzanine views + templates"
We were trying to put the RECAPTCHA_SITE_KEY in the local_settings.py for use inside a template. The documentation says to use the `register_settings` function for this purpose. However, adding this code from their [example](http://mezzanine.jupo.org/docs/configuration.html#registering-settings):

[code]

Causes the app to crash with this error:
[code]

[2018-01-26 21:17] aphelionz commented on #2597
@alexlemann any ideas?

[2018-01-26 23:20] phuongdm commented on #2597
Could we use a temporary key then replace by the key in local_setting.py?

[2018-01-27 02:12] aphelionz commented on #2597
@phuongdm nah, that's what this ticket is about. The sign-up view is controlled by the mezzanine and for some reason using their approach causes a crash.

[2018-01-27 14:07] dtarb commented on #1867
I would like to resuscitate discussion and work on this, so am bumping to high priority.   We need to establish capability to email users about planned downtime and have a way to inform users about the status and progress towards recovery if (when) we have a failure, or failure of a supported component (e.g. Jupyter or another supported App).  I believe that email is the best way to inform users o

[2018-01-28 18:46] #2562 closed

[2018-01-29 22:31] sblack-usu commented on #2590
I dug around to figure out where to extend the expiration window and found the settings in hydroshare/settings.py with the settings key of PASSWORD_RESET_TIMEOUT_DAYS.

It's currently set to 1 day, however if we update this value it will also update the window for all other email links using django's user authentication system (password resets, user creation, etc).  I doubt this is a concern, but

[2018-01-30 00:29] dtarb commented on #1867
Adding implementation suggestions based on the email thread I think we need
- [ ] A function that exports the user database that can be run periodically or on demand, and runs automatically daily.
- [ ] A place outside the system (e.g. in a sysops Google Drive) where the database is written.
- [ ] An additional field on a user's profile page that provides a check box for users to opt out of receiv

[2018-01-30 20:28] martinseul commented on #1867
in order to minimize manual work and enable a reliable workflow I think we need to look into a more automated workflow. I asked Phuong to check out the mailchimp API https://developer.mailchimp.com/documentation/mailchimp/guides/get-started-with-mailchimp-api-3/ as we have an account and it looks like we can dynamically create mailing list. If we have a correct mailing list Liza or any other autho

[2018-01-31 01:49] dtarb commented on #1867
@martinseul see item 3 in the check boxes above where I suggested an approach for a check box to opt out.  Also, I think you are missing the point.  We need a list of members outside of HydroShare so that if HydroShare is down we have a way to get the list and send email to users about how long it will be down and when it will be back.  I think you may not want to send such an email to all users,

[2018-01-31 19:57] martinseul commented on #1867
the actual list for sending out emails lives in Mailchimp outside of HS, as Liza would send out the emails from Mailchimp, so I think this covers your use case. Phuong is looking into writing a jenkins job to synchronize the lists between HS and mailchimp either on demand or on a regular basis this could include all users or only the recent ones if this is a requirement e.g. ignore users who have

[2018-02-01 17:02] alvacouch commented on #2464
@horsburgh
resource type, sharing status are now searchable via the search fields

* resource_type:{type}
* availability:{published, public, or discoverable}

This is deployed (along with other query language changes) on cuahsi-dev-1.hydroshare.org

It's not the greatest idea to match a resource type listed in an abstract -- accidentally -- as if it were a resource type of the target.

Not sure ho

[2018-02-01 19:58] alvacouch opened #2599 "Discovery only shows most frequent 100 options for author, contributor, subject, etc."
@dtarb @Lizabrazil @ChristinaB Unbeknownst to most people, SOLR faceting only returns the 100 most frequent options by default. The current labels for facets do not capture that. See PR #2578.

The impact of this is that if I create a resource, and then search for my own name in the owners, I won't see it in the facet marked "Filter by owner". Since there are now 400+ Authors, the situation is wor

[2018-02-02 16:30] horsburgh commented on #2464
@alvacouch - in the resource metadata file, funding agency info is stored in an element called "awardInfo". Within that element, you can find elements called "fundingAgencyName", "awardTitle", and "awardNumber". Not sure how that maps in the Django database, but I'm sure @pkdash could tell us.

[2018-02-02 17:07] alvacouch commented on #2592
@Castronova @martinseul
Are you retrieving any usage data from
`hydroshare.org/tracking/*` as implemented in `hydroshare/hs_tracking`?
Currently, `history` times out (probably due to response length) and `profiles` forces a login and doesn't respond.

[2018-02-04 02:54] aphelionz opened #2600 "App Approval Required: Model My Watershed"

[2018-02-04 02:55] aphelionz opened #2601 "Apps "Created By" Metadata field"
- [ ] HS team will design a new metadata field for resources that indicates the origin of the resource, and implement it in HS.
- [ ] HS team will add a filter mechanism for blessed web apps that enabled them to be scoped to that new field.

[2018-02-05 13:30] dtarb commented on #1161
I believe this issue has been addressed in current deployments.  Closing.  @zhiyuli if there is remaining functionality needed here, I suggest you open a new issue with just that functionality.

[2018-02-05 13:30] #1161 closed

[2018-02-05 15:19] dtarb opened #2602 "Update Apps Help for consistency with approved apps on apps library page"
The Apps library page holds 6 approved apps (at present) https://www.hydroshare.org/apps/
The Apps help page provides help for 8 apps (at present) https://help.hydroshare.org/apps/

Apps with help that are not approved include
- CUAHSI time series viewer
- CyberGIS TauDEM App
- EPA Waters Services App
- National Water Model Data Explorer App
- USGS AHPS Gageviewer App

Apps approved but where ther

[2018-02-05 15:27] martinseul commented on #1867
Phuong completed a jenkins script that synchronizes emails from HS to Mailchimp: http://ci.hydroshare.org:8080/view/03.%20Housekeeping/job/update-MailChimp-emails-list/
it currently selects all active accounts and creates mailing list on Mailchimp. the list of selected accounts  can be adapted easily if we want to subset or have multiple lists for different purposes. We still need the additional f

[2018-02-06 18:14] alvacouch opened #2603 "Support for groups during discovery"
The current discovery interface has no capability of searching for a resource that is accessible to a specific group. This is necessary in order to support "group home page" functions.

[2018-02-06 19:00] horsburgh commented on #2603
Do we need this? When a person goes to a group's page in HydroShare and clicks on the "Resources" tab, they can already see all of the resources that have been shared with a group.

[2018-02-06 21:21] alvacouch commented on #2603
@horsburgh The question is: should public resources of a group be visible in a similar fashion?
Suppose you're outside a group and looking for something published by the group. You can't see the group landing page.

[2018-02-06 23:23] dtarb commented on #2601
- [ ] Add a property to all HydroShare resources that allows a user with edit permissions on that resource to associate that resource with a specific web app instance.  The specific web app instance GUID should be recorded as part of resource metadata.

Once this has been developed the rules for what appears on an Open With Button should be modified to
- The resource type is one of the types suppo

[2018-02-06 23:37] aphelionz commented on #2603
Yes, we need this. If we have organizations publishing resources to HydroShare we will need to segment them into groups and allow faceting for such.

I wouldnt say we need it *now* but this is something that will be helpful down the line.

[2018-02-07 05:57] horsburgh commented on #2603
Given what you've described, we need to look at this closer. Currently, users can share a resource with a HydroShare group. But, HydroShare groups cannot be authors of or contributors to resources (given current functionality). You can create an author that is an organization, but you enter the information about the organization (you can't pick a HydroShare group).

So, right now, the only way to

[2018-02-07 15:01] Castronova opened #2604 "Add File Metadata"
Add the ability to set file-level kv metadata using the API.  This is currently possible through the HS interface, but not accessible using the API.  The syntax might look something like this:

[code]

![image](https://user-images.githubusercontent.com/4822372/35923405-27e633d0-0bee-11e8-89db-1bcab47c158f.png)

This is related to issue #2545

[2018-02-07 16:04] pkdash commented on #2604
`'FILE NAME' -> 'AGGREGATION NAME'`

Metadata lives in aggregation/file type object and not in a specific resource file.

[2018-02-07 16:07] aphelionz commented on #2604
@pkdash thanks - is this exposed via REST, or only in an internal endpoint?

[2018-02-07 17:11] aphelionz commented on #2604
@Castronova @pkdash

Here are the functions that I believe we need to map to REST API endpoints in order to get the fill filesystem metadata functionality available. Looking through the code now

![image](https://user-images.githubusercontent.com/106148/35930474-00491a60-0c00-11e8-99ca-95060d4a64f6.png)

[2018-02-07 17:32] dtarb opened #2605 "Correct Quota Message"
Please change the approaching quota to not refer to support@hydroshare.org and to refer to help.hydroshare for help not pages.hydroshare which is the development help site.

![image](https://user-images.githubusercontent.com/3456833/35931059-dbd14e28-0bf0-11e8-809d-1e023e46edb3.png)

It may also be possible to shorten the text to

Can @Lizabrazil and @martinseul please review this.  I am trying to

[2018-02-07 17:45] dtarb commented on #2605
The over quota message below also needs updating.  It is confusing to refer to hydroshare_internal zone when the earlier message referred to HydroShare zone.  Also please make sure that what is written is actually consistent with what we are going to be doing about enforcement.

![image](https://user-images.githubusercontent.com/3456833/35931996-b59011c4-0bf3-11e8-98df-870da4893685.png)

[2018-02-07 17:47] dtarb commented on #2605
Refer to Quota Rollout Plan https://docs.google.com/document/d/1oiAJ6cMCA2HlYsrAvGn7os4ftRGq1RzJLIVS5Vzl5AM/edit

[2018-02-07 18:06] hyi commented on #2605
@dtarb All the proposed quota messaging changes can be made directly from the admin page. The quota messages you are currently seeing are just default placeholder messages and can all be customized to what we really need from admin panel without code changes. If you think we need to change the default messages as well, I can change the code to reflect that after the default messages are finalized.

[2018-02-07 18:45] pkdash commented on #2604
@aphelionz At this time there are no REST endpoints for file type/aggregation metadata update. I think we need a single REST endpoint for updating metadata similar to the one we have for resource. We should probably have a separate endpoint for key/value (custom) metadata update for file type. Once I  finish the major pieces of phase-2 of composite resource, you can easily add the endpoint for key

[2018-02-07 21:08] aphelionz commented on #2604
@pkdash Thanks. Do you have an ETA for when you expect the phase 2 composite resource updates? We have a conflicting deadline for a bulk import of resources into hydroshare and we were hoping to add the REST endpoints this week.

[2018-02-07 23:03] dtarb opened #2606 "Change from address on outgoing quota warning email to an appropriate CUAHSI email"
The email message sent when a user is over quota is:

![image](https://user-images.githubusercontent.com/3456833/35946170-02425ed8-0c20-11e8-9782-bf3c5ef55c4f.png)

- The salutation should use the users real first and last name "Dear David Tarboton", not dtarb.
- The from address should be a CUAHSI email address that is monitored, so that if someone replies, or there is a bounce, someone gets it a

[2018-02-08 03:29] pkdash commented on #2604
@aphelionz I am hoping to get my part of the phase-2 by the end of this month. Then Mauriel can start on UI changes for phase-2. Also my initial work on phase-2 won't include any backend code to support bulk update of file type/aggregation metadata.  I am not sure I understand bulk import of resources and its dependency on REST endpoints.

[2018-02-08 15:50] aphelionz commented on #2604
@pkdash We are using the hs_restclient to essentially loop through an excel spreadsheet and pull scores of files from iRODS to create scores ofresources inside HydroShare. For this we need API endpoints as well as hs_restclient implementations...

What are the risks of going ahead and creating the file metadata endpoints before composite phase 2 completion?

[2018-02-08 15:56] aphelionz commented on #2293
@dtarb @Lizabrazil

I need text for two emails:

1. one to be sent to the user to let them know that their resource publication status has changed, which will contain the reason for the change (positive or negative)
2. The other to be sent once a day to the publication review group to let them know that # number of resources need their review.

[2018-02-08 15:59] aphelionz commented on #2295
@dtarb @Lizabrazil  I need the text for these emails as well, or for the UI notifications

1. The UI notification on the resource landing page
2. The Email sent to the user when their resource enters the queue
3. The "your appeal has been received" email and the appeal email sent to admins

Alternatively, we can point them to the support@cuahsi.org flow

[2018-02-08 16:41] pkdash commented on #2604
@aphelionz I don't see any changes to the models that represent file type (aggregation) and file type metadata between phase-1 and 2, there is probably not much risk in creating endpoints based on phase-1 (current) implementation. However, the url patterns for these endpoints need to change for phase-2. There is going to be some custom migration between phase-1 and phase-2 for generating file type

[2018-02-09 01:07] dtarb commented on #2295
1. For UI notification on the resource landing page I suggest "Your resource has been submitted for publication.  It will be checked for completeness by a CUAHSI staff member and once they approve it, it will receive a digital object identifier (DOI)."
2.  It is unclear what you are asking here.  What does "enters the queue" mean.  I think that the next step after a resource being submitted for pu

[2018-02-09 01:16] dtarb commented on #2293
1. See my answer to #2295.  I believe that answers 1.
2. "There are \<insert number> resources awaiting review and pending publication in HydroShare.  Please go to http://\<give url> to approve or reject them."

[2018-02-09 13:38] dtarb opened #2607 "Lets not require save changes twice when adding extended metadata"
If I add extended metadata to a resource I need to enter content into a modal form then click "save changes", and then again click "save changes" on the list below the extended metadata entries.  Please remove the second save changes check.

[2018-02-09 13:58] pkdash commented on #2607
@dtarb and  @Maurier I think the extended metadata editing interface should be similar to what I have implemented for file type extended metadata in composite resource. No need for the second save.

[2018-02-09 14:29] alvacouch commented on #2553
Addressed by #2578

[2018-02-09 14:31] alvacouch commented on #2508
Addressed by #2578

[2018-02-09 14:32] alvacouch commented on #2465
Addressed for time boxes in #2578. Not addressed in query language.

[2018-02-09 14:33] alvacouch commented on #2463
Addressed by #2578.

[2018-02-09 14:34] alvacouch commented on #2462
Addressed by #2578.

[2018-02-09 14:34] alvacouch commented on #2461
Addressed by #2578

[2018-02-09 14:35] alvacouch commented on #2460
Addressed by #2578.

[2018-02-09 14:37] alvacouch commented on #2459
Did not implement + because it is a very non-standard syntax for AND. Did implement -x as a shorthand for NOT x. Addressed by #2578

[2018-02-09 14:38] alvacouch commented on #2449
Addressed by #2578

[2018-02-09 14:39] alvacouch commented on #2428
Addressed by #2578

[2018-02-09 14:40] alvacouch commented on #2426
Addressed by PR #2578

[2018-02-09 14:44] alvacouch commented on #1759
Reclassified as "my resources". Does not apply to current discovery interface.

[2018-02-09 14:45] alvacouch commented on #2016
@aphelionz Not sure this is still an issue.

[2018-02-09 15:07] aphelionz opened #2608 "Quota system sending too many warning emails"
Just received a complaint that the quota system sent out a burst of 20 emails in about 1 minute. This was from beta

![image](https://user-images.githubusercontent.com/106148/36034103-f84fa716-0d80-11e8-9ed7-95c0bc58c8bd.png)

[2018-02-09 15:34] hyi commented on #2608
@aphelionz I will have to move sending quota warning email out of the async running celery task when being invoked to update quota usage. I can move it to the nightly run celery task. Is it OK to send this quota warning message each night to the users who are over quota or over quota soft-limit? If the answer is yes, I'll update the code to do so. Let me know.

[2018-02-09 15:46] aphelionz commented on #2608
@hyi Yes, I think that's fine for now.

[2018-02-09 18:23] hyi commented on #2608
@aphelionz I have pushed the updated code to my quota branch and updated beta as well. As a result, it is supposed to send out quota warning emails once each mid-night at the defined UTC time zone. Could you monitor the emails from CUAHSI email server to make sure this issue is fixed and now works as it should?

[2018-02-09 23:52] aphelionz commented on #2608
Thanks @hyi!

[2018-02-10 17:54] alvacouch opened #2609 "Next steps for map-based discovery"
@dtarb @martinseul @Lizabrazil @Castronova @danames The current discovery PR #2578 does not change the map interface at all.

Meanwhile, @xuezhaokun and I have been studying the map interfaces for other discovery tools, and some trends have emerged.

The best map-based approach to time series discovery seems to be our own: the one for https://data.cuahsi.org . For now let's call this "site based d

[2018-02-10 21:15] dtarb commented on #2609
I experimented a bit with the Tufts Opengeoportal https://geodata.tufts.edu/.  It does have many attractive elements.  It seems there would be merit in you @alvacouch approaching this group to see what opportunities for collaboration there are.  One thing of interest is that once a resource is found, it also supports various OGC services (WFS, WMS etc).

I am a bit reluctant to go down a path towa

[2018-02-10 22:01] dtarb commented on #2601
Refer to design document https://docs.google.com/document/d/1CjctGQRIdAC0OxY2S6MhpN7ETaEWSmbESMfNdVzujfA/edit#

To associate a web app with a resource the resource needs to have extended metadata with name “webapp” and value a keyword of the app developers choosing (e.g. model-my-watershed).  Then we would add a new field named “appKeyword” to the web app instance resource type and the open with b

[2018-02-11 13:22] alvacouch opened #2610 "Use Kleene star convention in discovery parser"
@Castronova @Lizabrazil @dtarb
The current discovery parser does not implement any concept of "starts with". There is a well-accepted syntax for this that maps well into SOLR. The syntax `Cou*` means "a word starting with `Cou`". In computing, this is known as the **Kleene star convention**, and it is used ubiquitously in such places as the Linux shell and other command-line tools.

Note that this

[2018-02-12 16:36] alvacouch opened #2611 "Replace facets with auto-completion"
In the situation where there are an enormous number of matches, e.g., to author name, facets are of limited use. Instead, I recommend use of auto-completion in those cases. When a user types author:T, the autocompleter would list all authors whose names start with T.

[2018-02-12 21:53] alvacouch opened #2612 "[1.15 HOTFIX] new user identifiers break SOLR harvesting"
In a routine validation of 1.15RC I discovered that SOLR harvesting is crashing because of the new user identifiers!
[code]

[2018-02-12 21:54] aphelionz commented on #2612
aha! Good catch. @alvacouch will you make the fix?

[2018-02-12 21:54] alvacouch commented on #2612
I'm on it. Need to do a rebuild and migration and validate.

[2018-02-12 21:56] alvacouch commented on #2612
(I was actually tracking down a busted harvesting validator; I had changed SOLR field names and not updated it. This is a maintenance command.)

[2018-02-12 22:06] alvacouch commented on #2612
[code]

[2018-02-13 03:32] pkdash opened #2614 "[1.15 HOTFIX] User identifier data is not getting copied over to the first creator of the resource"

[2018-02-13 12:59] dtarb opened #2615 "Author and Owner links on resource landing page"
If the Author of a resource is an Organization, even if the homepage field has been filled in, a hyperlink is not set in the landing page.

Also Owner Hyperlinks are not working, at least for this web app resource instance.
![image](https://user-images.githubusercontent.com/3456833/36151045-01f8b456-1083-11e8-8230-81c0f3bed1ca.png)

https://www.hydroshare.org/resource/88f69c2de0414d5dbeb9538eca0b7

[2018-02-13 14:23] alvacouch commented on #2592
@horsburgh @dtarb @martinseul I just changed this issue name to "Explore" and am creating a prototype "explore" tab. This would seem to overlap with Jeff's social discovery line item. The concept of the "explore" tab is that it shows you things that might interest you based upon your usage patterns.

This is fundamentally a different activity than discovery. In discovery, you show the system what

[2018-02-13 15:53] aphelionz commented on #2612
@alvacouch This was merged.

[2018-02-13 15:53] #2612 closed

[2018-02-13 15:54] aphelionz commented on #2614
@pkdash FYI we will be pushing RC1 to beta around 3:30pm EST today

[2018-02-13 17:15] pkdash commented on #2614
@aphelionz I will be creating the hotfix PR tonight. Could not create the PR before due to the migration files issue that Alva resolved later.

[2018-02-13 17:30] pkdash commented on #2614
@aphelionz This PR is going to be one liner change. Let me know if you want to make that change. I can give you the change pointers.

[2018-02-13 17:38] dtarb commented on #2592
Where do you envisage this new page/tab going in the overall website page set.  The current page map design is at https://docs.google.com/drawings/d/1WBGON5o7zDxSWaNytCMkIV1ewfSCQ0ccqXIz0w3ZOs0/edit.  If you are considering revisions, some discussion (and perhaps mocking up) of the big picture may be good, so we know what the purpose and goal is before too much coding.

[2018-02-13 18:00] aphelionz commented on #2614
Sure go ahead. I will do it (more or less) now.

[2018-02-13 18:00] horsburgh commented on #2592
I think this could potentially be two separate pages, but I think we should consider consolidating them in the main navigation of the site. For example, we use one "Explore" link at the top of the page that perhaps has a fly down menu that enables a user to select:
* Search for Resources - What we have now
* Explore Resources - New functionality Alva is proposing
* And perhaps even "Explore Users"

[2018-02-13 18:16] pkdash commented on #2614
@aphelionz

After this line: https://github.com/hydroshare/hydroshare/blob/1.15-RC1/hs_core/hydroshare/utils.py#L862

add this one line:
`` party_data['identifiers'] = user_profile.identifiers``

[2018-02-13 18:38] horsburgh commented on #2592
Also - I had originally envisioned that suggestions of content a user might want to look at would happen on a user's "Dashboard" page that would have other social functionality like showing a feed of recent activity, etc. We haven't designed this page, and it isn't in our overall webpage set that @dtarb provided the link to, but it is in our early mockups and designs. Explore could be done via a s

[2018-02-13 19:53] dtarb commented on #2582
Closing as I think this issue is sorted out.  If not feel free to re-open.

[2018-02-13 19:53] #2582 closed

[2018-02-14 16:42] aphelionz opened #2619 "hs_dictionary tests failing on 1.15-RC1"

[2018-02-14 18:08] aphelionz opened #2621 "Release 1.15 Check List"
[These pull requests](https://github.com/hydroshare/hydroshare/pulls?q=is%3Apr+is%3Aclosed+milestone%3A%22Release+1.15.0%22) have been deployed to beta via the `1.15-RC1` branch. Functionality and bug fixes include:

- [ ] Optional Author Identifiers @Maurier @pkdash
- [ ] Quota Reporting @hyi and @phuongdm
- [ ] Discovery Syntax @alvacouch
- [ ] Captcha @aphelionz
- [ ] Bug Fix: Org hotfix on sig

[2018-02-14 18:33] Maurier opened #2624 "My Resources page - Update label filtering behavior"
The current behavior when filtering with Labels is not very intuitive.

![image](https://user-images.githubusercontent.com/2448568/36221110-495c2484-117a-11e8-9110-5abf399aa338.png)

How it currently works:
shown = (F1 OR F2 OR F3 OR  ... OR  Fn) OR  (L1 OR  L2 OR  L3 OR  ... OR  Ln)

_Where F represents a Filter item and L represents a Label item checked state._

I think it makes more sense, woul

[2018-02-14 18:46] Maurier commented on #2513
This was a limitation at the time this functionality was implemented. @hyi @pkdash Could you give an update on whether we can pass a folder structure when uploading files at this point?

[2018-02-14 20:00] Maurier commented on #765
@horsburgh  This has been implemented now. Please confirm and close.

[2018-02-14 20:47] Maurier commented on #2615
Additionally, a link needs to be shown for the Organization entry in the Authors table.

[2018-02-14 20:56] hyi commented on #2513
@Maurier I think the backend can support passing a folder path when uploading files now due to the work by @alvacouch, specifically see the ```folder``` input parameter in ```get_path``` here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L2504. Which view function(s) do you call to add a collection of files in a folder hierarchy into HydroShare? There may be additional w

[2018-02-14 21:53] pkdash commented on #2366
@Maurier I have already implemented this as part of my current on going work on phase-2 of composite resource.

[2018-02-15 00:47] dtarb opened #2627 "Captcha does not work on beta RC 1.15"
On Chrome
![image](https://user-images.githubusercontent.com/3456833/36235599-e746ca76-11ae-11e8-8801-9367dba9c323.png)

On Firefox
![image](https://user-images.githubusercontent.com/3456833/36235621-020f63e0-11af-11e8-8e79-6d31c7dbdb95.png)

[2018-02-15 01:09] dtarb opened #2628 "Top page menus on beta RC 1.15 incorrect"
apps goes to the old apps page not the new apps page
help goes to pages.hydroshare.org
about goes to pages.hydroshare.org

[2018-02-15 03:11] dtarb commented on #2533
@Castronova status?

[2018-02-15 03:14] Bakinam commented on #2533
@dtarb I think this is working now. I am closing the issue.

[2018-02-15 03:14] #2533 closed

[2018-02-15 17:28] aphelionz commented on #2627
Fixed on beta. We will add an additional step to the deployment checklist to cover this.

[2018-02-15 17:29] #2627 closed

[2018-02-15 17:52] Maurier opened #2629 "Updating Profile page with no Author Identifiers fails on beta RC 1.15"
![image](https://user-images.githubusercontent.com/2448568/36272272-45f0d4ce-123e-11e8-97f5-31f445d9f0d4.png)

No error shown in console

[2018-02-15 17:57] pkdash commented on #2629
@Maurier I will try to fix this.

[2018-02-15 17:58] Maurier commented on #2629
Sounds good. Thanks!

[2018-02-15 18:10] pkdash commented on #2629
@Maurier It will be a one liner change in the backend. Would you like to fix it?

[2018-02-15 18:11] Maurier commented on #2629
Sure. Let me know what to do.

[2018-02-15 18:15] pkdash commented on #2629
@Maurier
Change this line: https://github.com/hydroshare/hydroshare/blob/1.15-RC1/theme/views.py#L222
to:
`identifiers = post_data_dict.get('identifiers', {})`

[2018-02-15 18:49] Maurier commented on #2629
That worked.

However, here is another issue that I experienced. This happens when I try to create a resource after I've added identifiers to my Profile.

![image](https://user-images.githubusercontent.com/2448568/36274848-4d8491be-1246-11e8-9ace-dc301523bfdb.png)

[2018-02-15 19:03] pkdash commented on #2629
@Maurier For some reason I am not bale to create any resource on beta.

[2018-02-15 19:23] Maurier commented on #2629
@pkdash I am experiencing the same. I can no longer create resources on beta, but this only started happening once I added an identifier to my Profile.

[2018-02-15 19:29] pkdash commented on #2629
@Maurier I guess we didn't do much testing of identifiers before merging. Anyway, are you able to create a resource as user with no identifiers?

[2018-02-15 19:32] Maurier commented on #2629
@pkdash, well this wasn't happening locally until our work got merged with everything else. I did test for this use case, as I was also programming logic for the resource landing page regarding identifiers.

I am able to create resources locally when the Profile contains no identifiers.

[2018-02-15 19:35] pkdash commented on #2629
@Maurier So locally are you seeing problem in creating resource if the creator has identifiers?

[2018-02-15 19:39] Maurier commented on #2629
Correct. I see the error below.
![image](https://user-images.githubusercontent.com/2448568/36274848-4d8491be-1246-11e8-9ace-dc301523bfdb.png)

[2018-02-15 19:41] pkdash commented on #2629
@Maurier I think I know what's wrong. Give me a second.

[2018-02-15 20:04] pkdash commented on #2629
@Maurier I guess I introduced this bug when I did the hotfix for the resource creator identifiers. This need bit of debugging. Hope to fix it soon.

[2018-02-15 20:31] aphelionz commented on #2628
Fixed on beta

[2018-02-15 20:31] #2628 closed

[2018-02-15 21:08] pkdash commented on #2629
@Maurier It seem we can't have identifier name that consists of words (e.g., Google Scholar). This error comes from generating the metadata xml file. If you replace your  profile identifier 'Google Scholar' with another one I think you should be able to create resource.  I am not sure how we should be validating the name part of the identifier. For now in the drop down menu we can change the optio

[2018-02-15 21:20] Maurier commented on #2629
I propose another approach:

We could encode the spaces as HTML entities (&nbsp;) and save it as such. This way I can parse the identifier name as markup language and display it accordingly using the DJango built in pipe "safe".

I tested this locally and it works fine, it would just look a little weird in the metadata xml file.

[2018-02-15 21:29] Maurier commented on #2629
Additionally and to make a more elegant solution, we could agree on a way to encode the spaces and write our own custom filter to send the data to the view.

https://stackoverflow.com/questions/21483003/replacing-a-character-in-django-template

[2018-02-15 21:39] pkdash commented on #2629
@Maurier I don't think we can have the identifier name in the xml file in that format even though xml generation is not be any more a problem. I have to double check if I am doing the encoding of the 'identifier' element in the xml file correctly or not. This is the first time we are writing identifier data to the xml file. Would you be able create a resource with the creator with one identifier (

[2018-02-15 21:55] Maurier commented on #2629
I emailed you the bag file requested now.

My point is, however, that if there is any encoding we can agree on to encode the spaces in the xml file, it can be accommodated in the front end.

[2018-02-15 22:18] pkdash commented on #2629
The encoding of the identifier element in the xml file is not correct. I have to fix that. Then we won't have this error.

[2018-02-16 03:22] pkdash opened #2630 "[1.15 HOTFIX] creator/contributor identifier data encoding in metadata xml file is not correct"
The current encoding of identifiers data can prevent resource creation or bag download

[2018-02-18 15:39] alvacouch commented on #2621
@aphelionz Discovery syntax is working. Put it through a significant number of tests to which I knew the answers.  Checking it off the list.

[2018-02-19 14:01] pkdash commented on #2629
@Maurier This has been fixed in PR #2634

[2018-02-19 14:14] aphelionz opened #2635 "Update resource file metadata REST API endpoints to use aggregation name instead of file_id"
Based on this comment from @pkdash https://github.com/hydroshare/hydroshare/pull/2633#pullrequestreview-97364497

[2018-02-19 14:15] aphelionz commented on #2563
@horsburgh Please add https://github.com/hydroshare/hydroshare/issues/2635 to the checklist

[2018-02-19 17:04] dtarb opened #2636 "Author identifier - provide user control to indicate what should go into resource metadata"
Issues #2629 and #2630 have addressed the need to have author identifiers associated with users in HydroShare.  The author identifiers listed include ORCID, ResearchID, Google Scholar Profile and ResearchGate Profile.  It seems to me that there are two separate needs (use cases) for these identifiers
1. To include in creator or contributor metadata in Resource metadata to disambiguate authors
2. T

[2018-02-19 17:16] horsburgh commented on #2636
@dtarb - this seems reasonable. I suggest we finish the current work with the first 4 and release it and then add this functionality after that.

@Maurier - I'm assigning this to you. I am assuming that there will be back-end things that you will need help with?

[2018-02-20 16:05] Maurier opened #2637 "Limit file size of images stored in our site"
The images we allow to be uploaded in order to use as Group and Profile pictures need to be compressed to a reasonable size. At this point accessing the Collaborate page can take a while because of the time it takes to render the images.

This is quite serious when the page is loaded for the first time in the device, but it also hinders user experience even after the images have been cached, since

[2018-02-20 18:57] jtpollak opened #2638 "Edit to text on My Resources"
Text at the bottom of the My Resources page should be updated to "Search for Public Resources not owned by you." w/ a link to Discover.

![image](https://user-images.githubusercontent.com/3604316/36443165-ff367ff0-1645-11e8-8e24-c7e559bc781f.png)

[2018-02-21 05:33] horsburgh commented on #765
Done on production.

[2018-02-21 05:33] #765 closed

[2018-02-21 13:44] aphelionz opened #2639 "Create helper function to encapsulate FileMetaData updates"
from https://github.com/hydroshare/hydroshare/pull/2633#pullrequestreview-98061913

@pkdash wrote:
I think instead of having all these code logic here if we can make that as part of a function of the FileMetaData class similar to Resource MetaData class then later each File type metadata class can override the logic to meet it's own metadata editing requirements. Here is the reference to the use o

[2018-02-21 15:16] aphelionz commented on #2621
@Maurier @pkdash I've been following the pull requests but can one of you provide an update on the Optional Identifiers before 1:30 EST today so we can report on it on the call/

[2018-02-21 15:43] Maurier commented on #2621
@aphelionz at this point all funcionality outlined in https://github.com/hydroshare/hydroshare/issues/1666 has been implemented. Some issues were identified last week, but have now been resolved by @pkdash and I. These fixes have made it into our current release candidate.

Next, we should update our beta deployment with this changes for further testing.

[2018-02-21 15:57] pkdash commented on #2621
@aphelionz Both issues #2629 and #2630 have been addressed in current RC. Final testing needs to be done on beta. @Maurier If you can do the UI testing of identifiers, I will do the test for identifier xml encoding. Thanks.

[2018-02-23 17:14] zhiyuli opened #2641 "Refactor NWM storage structure"
Moved from email exchanges

Drew:

We are reviewing and rethinking the way how we store the National Water Model (NWM) data, and we would like to have your comments/suggestions from computer science perspective.

There is a folder mounted on our apps server at /projects/water/nwm/data/analysis_assim/ for permanently storing a specific type of NWM daily output files. The archiving procedure started

[2018-02-23 17:15] zhiyuli commented on #2641
Hong:

I’ll defer this to Michael and Ray, but agreed putting thousands of files in the same folder will have performance impact even though theoretically the number of files in a folder in ext4 file system on linux is limitless. Check out:

https://serverfault.com/questions/98235/how-many-files-in-a-directory-is-too-many-downloading-data-from-net

and

https://groups.google.com/forum/#!topic/irod

[2018-02-23 17:15] zhiyuli commented on #2641
Tony:

I think it’s a better idea to restructure this directory sooner rather than later.  The bigger the directory becomes, the more difficult it will become to use.  I suggest we follow a similar pattern to the medium range directory, but add year and month aggregations.  For example:

2018
 — 01
     — 20180101
   (f003 - f240)
         — nwm.t00z.medium_range.channel_rt.f003.conus.nc

[2018-02-23 17:15] zhiyuli commented on #2641
Dan:

I agree with Hong. I'm concerned about the length of time for an ls command in that folder. Drew can you propose a new folder structure that would potentially make ore sense? - Dan

(cc'ing Dave since he likes to keep his finger on the pulse...)

[2018-02-23 17:15] zhiyuli commented on #2641
Mark:

Hong's suggestion of datetime based folders seems to make sense, I concur. Just consider the highest number of files in each folder:

4 digit year: /2008/ - 2000 possible values, probably under 100 in practice

2 digit month: /2008/12/ - 12 possible values

2 digit day: /2008/12/31 - 31 possible values

Then you can put each model output in there by day. If there's still too many you can mo

[2018-02-23 17:16] zhiyuli commented on #2641
Michael:

From a machine perspective you’re realistically not going to encounter issues with the number of files at any particular directory level until you get into the billions.

From a human readable perspective and UI tooling, you’ve probably already surpassed what is “comfortable” to interact with.

The analysis_assim, fe_analysis_assim and forcing_analysis_assim directories should likely be

[2018-02-23 17:16] zhiyuli commented on #2641
Drew:

Thanks for all your inputs. I will be moving these conversations to a github issue on HydroShare repo. Although we haven't finally decided what the new folder structure would be, a few things are worthy taking into considerations.
1) Any change to the current storage structure will immediately break existing app functionalities (partially or entirely).

2) As NWM archive is too big, it seem

[2018-02-26 17:52] dtarb commented on #2477
The problem, and this may be related to #2478 is that as long as a remnant of an account is there, that email is blocked from the user trying again to create an account.

[2018-02-26 17:57] aphelionz commented on #2477
Soft delete can be added on later, then.

[2018-02-26 17:58] aphelionz opened #2643 "tests not running for hs_rest_client app"

[2018-02-26 18:16] sblack-usu commented on #2477
I believe we can get a soft delete to work, we just need to account for the soft delete in the query of the account creation.  I'll move forward with the soft delete for now.

[2018-02-26 18:40] jtpollak opened #2644 "Suggested Edits to Footer"
Under Contact Us, change current text to "[Email Support](mailto:help@cuahsi.org)" and add another line with "Visit [cuahsi.org](http://www.cuahsi.org)"

All GitHub links (and other external links) should probably open in a new window...they currently do not.

![image](https://user-images.githubusercontent.com/3604316/36688489-a0412644-1afa-11e8-884f-95cda4a8210a.png)

[2018-02-26 22:39] dtarb commented on #2477
I worry that working on soft delete is creating extra work.  What is it that we are trying to preserve.  The scenario that this is for is that an individual attempted to create an account, and entered their name, email, and organization, but never clicked the confirmation email, so never got in to HydroShare, so was never able to do anything.  All we lose by deleting is their name and an email tha

[2018-02-26 23:06] sblack-usu commented on #2477
I'm in the thick of 2478 right now and now I'm wondering if we even need to have a job to delete inactive accounts.  A user that hasn't verified their email has a user entry with is_active = False.  I'm making it so if a user tries to login with an inactive account, they can resend the verification email.

So if a user with an unauthenticated account tries to login, they can just click the resend

[2018-02-26 23:10] aphelionz commented on #2477
I would prefer the process improvement over the repeated management task

[2018-02-27 03:02] dtarb opened #2645 "Change the from email in outgoing emails"
The current from email in outgoing emails, hydroshare@cuahsi.org, should be changed to an email address that someone reads and can respond to.  It used to be support@hydroshare.org, that was acted on by us in the developer team.  Currently no one appears to receive emails sent to hydroshare@cuahsi.org (I sent a test email on 2/5/18 and received no reply).

The from address should be an email addre

[2018-02-27 14:52] Castronova opened #2646 "OpenWith redirect hangs for a long time"
When I go to jupyter.cuahsi.org the JH site appears in several seconds.  However when I launch JH from the HS OpenWith button it takes 15-20 seconds.  It appears to hang on the following url, which leads me to believe that it has something to do with tracking the applaunch.

https://www.hydroshare.org/tracking/applaunch/?url=https%3A//jupyter.cuahsi.org%3A8080/jupyter%3Fhusername%3DTonyCastronova%

[2018-02-27 15:28] alvacouch opened #2647 "JavaScript responders break after several refreshes of my resources"
After several AJAX refreshes of the my resources page via the checkboxes on the left, the favorite button stops working on individual resources. Refreshing the whole page fixes it.

[2018-02-27 15:30] alvacouch opened #2648 "Discovery: moving map does not refresh list."
When moving the map, the list of available resources does not get refreshed.

[2018-02-27 18:12] sblack-usu commented on #2477
This issue is no longer relevant with the process improvements coming in #2478.

[2018-02-27 18:12] #2477 closed

[2018-02-28 01:01] sblack-usu opened #2652 "Fix Selenium tasks"
Selenium Tests currently aren't running.  Track progress to work on getting the selenium tests running again.

[2018-02-28 16:41] aphelionz commented on #2652
Moving this to high priority as we now have PRs dependent on this...

[2018-02-28 16:42] aphelionz commented on #2652
@sblack-usu Remind me which selenium tasks you were trying to run locally?

[2018-02-28 16:51] sblack-usu commented on #2652
theme/tests/multiplatform.test_register_account

[2018-02-28 20:59] hyi commented on #2343
@horsburgh @dtarb I have implemented a working prototype to add iRODS file reference functionalities for another project that build customized functionalities on top of HydroShare code base. Rather than creating a new resource type or file type, I ended up adding this iRODS file reference as a generally available functionality that is readily available across the board as part of iRODS file browse

[2018-02-28 22:19] dtarb opened #2653 "Fix link in Create Resource Message on resource create page"
The message link on the resource landing page is dead, https://www.hydroshare.org/hsapi/_internal/create-resource/.

![image](https://user-images.githubusercontent.com/3456833/36816255-85c03552-1c9a-11e8-87c2-d6a4c6b94f2b.png)

 It should go to <s>https://help.hydroshare.org/creating-and-managing-resources/formally-publishing-data/ </s> https://help.hydroshare.org/creating-and-managing-resources/

[2018-03-03 00:50] dtarb opened #2657 "Create Geographic raster messages need improvement"
On the Create Resource page for a geographic raster add the message below immediately below the box where files are added.

![image](https://user-images.githubusercontent.com/3456833/36928313-18fa58d6-1e42-11e8-8dea-322d070454f8.png)

[2018-03-03 00:57] dtarb opened #2658 "Clarify invalid geographic raster error message"
Replace the message given when a file loaded does not validate as a geographic raster with the following

![image](https://user-images.githubusercontent.com/3456833/36928377-a186a254-1e42-11e8-9e20-e6b13c3f4b92.png)

This should be changed for both the create resource page and adding files to an empty resource.

[2018-03-03 01:00] dtarb opened #2659 "Do not refresh page when an error occurs adding a file to a geographic raster."
If a user attempts to add an incorrect file to a geographic raster, the file upload validation error is displayed, but immediately the browser attempts to refresh and the resend clears the error so a user has a hard time seeing the error.

![image](https://user-images.githubusercontent.com/3456833/36928494-8b0280f6-1e43-11e8-98e8-a106cdde090f.png)

[2018-03-03 18:52] dtarb opened #2660 "Enable URL's in Rights statement"
If a user embeds a URL into a rights statement when selecting "Other" license, this should be enabled as a URL when out of editing mode.

[2018-03-03 18:54] dtarb commented on #2660
An example is the following resource created by @darctur https://www.hydroshare.org/resource/7c03b00ae6fc414cb4854681c8bb9577/

[2018-03-04 00:13] dtarb opened #2661 "Bag zip files for large resources cannot be cleanly unzipped"
This was reported by a user for this resource https://www.hydroshare.org/resource/9badb941303d4813b3c398cdab038368/

I was able to to reproduce the user's problems.  I copied the bag resource to my iRODS zone.  The resulting zip file (9 GB) was too big to download over the internet.  Downloading via iRODS then attempting to unzip on a PC I get the following errors
![image](https://user-images.gith

[2018-03-04 00:21] dtarb opened #2662 "Recommend Jupyter Notebook as an alternative to Cyberduck for large files"
I found that it is possible to retrieve large files from iRODS into our JupyterHub instance (that has iCommands installed) and then download them from JupyterHub.  This was faster than CyberDuck for me and avoids having to use an old version of CyberDuck.  It also avoids having to install any 3rd party software - just use 3rd Party Software that HydroShare is already using (i.e. JupyterHub).  I su

[2018-03-04 17:23] dtarb opened #2663 "Geographic raster file extension should not be case sensitive"
Attempting to create a geographic raster with a .TIF extension fails, but with a .tif extension works.  Both should work as long as the file is valid in all other respects.

Data in https://www.hydroshare.org/resource/f38014e1ed2f40ad92ca3f32ae10a79f/ can be used to test this.

[2018-03-06 14:24] dtarb opened #2665 "Update footer of help.cuahsi.org to have correct contact us information"
The footer of http://help.cuahsi.org uses support@hydroshare.org as the contact us address.  This should be updated to help@cuahsi.org

[2018-03-06 14:30] dtarb opened #2666 "NWM App Documentation"
The NWM Data Explorer App https://help.hydroshare.org/apps/nwm%20data-explorer/ is in our apps help page https://help.hydroshare.org/apps/.  According to @zhiyuli this app is deprecated so it should be removed from the help pages.  @zhiyuli and @danames please review the help content related to these apps and provide @Lizabrazil guidance on updates needed to help pages and the right way to use Hyd

[2018-03-06 16:13] rphooper opened #2668 "Add "Cancel" button to "Create Resource Page"
Currently there is no way (except to use browser navigation) to bail out of creating a resource. Add a "Cancel" button on the bottom left, opposite of "Create Resource" to allow user to back out of creating a resource and return to My Resources page.

[2018-03-06 16:31] zhiyuli commented on #2666
Will fix this in the following order
1. Remove deprecated Explorer app from doc ASAP (Liza)
2. Update doc for NWM Viewer app (Drew provides materials and Liza puts
online)

On Tue, Mar 6, 2018 at 7:30 AM, David Tarboton <notifications@github.com>
wrote:

[2018-03-06 16:34] rphooper opened #2669 "New Landing Page"
The current landing page is
![image](https://user-images.githubusercontent.com/6717493/37043922-0215d9ec-2130-11e8-93d8-de1676ef0fdf.png)

Keep carousel as it is (for now).
Change "How it works" to "What it does" and have the following sections

1. Publish Data and Models
    * Easily publish shape files, netCDF files and more
   * Automatic population of metadata
   * Preserve metadata and proven

[2018-03-06 16:35] rphooper commented on #2669
@Lizabrazil and @ChristinaB can you review this suggestion?

[2018-03-06 17:54] dtarb commented on #2669
It would be good to have broader discussion of this as the landing page is high profile.  I am mentioning the User interface team, who are listed in [HydroShare Planning](https://docs.google.com/spreadsheets/d/1-RV8KjTsImUAYwytTxGef5J1EszCDpx-ZlZ02KThn3U/edit#gid=1307420991) who are @aphelionz @horsburgh @Maurier @martinseul @yanliu-chn for their input too.

[2018-03-06 18:52] darksinge opened #2670 "Long response times while using the REST API."
I experienced long response times (> 1-2 minutes) from the HydroShare server around 9:00 AM. Response times of that length are problematic! However, it sped up as the day progressed.

I'm concerned if this is an ongoing problem or (hopefully) just an isolated event, but I understand HydroShare went through some updates yesterday (3/5/18). I'm a couple months into working on a project that consumes

[2018-03-06 19:06] horsburgh commented on #2670
Ha ha - and unfortunately I discovered this behavior this morning as I was doing a demo on a teleconference!! I asked @darksinge to post this issue as it seems things have sped up now, but we were definitely experiencing issues this morning.

[2018-03-06 19:41] Lizabrazil commented on #2666
To confirm, this page https://help.hydroshare.org/apps/nwm%20data-explorer/ will be deleted? I can do this on pages.hydroshare mezzanine if confirmed.

[2018-03-06 20:22] zhiyuli commented on #2666
Yes, please remove this page as it is deprecated.
Thanks
Drew

On Tue, Mar 6, 2018, 12:41 Lizabrazil <notifications@github.com> wrote:

[2018-03-06 23:31] horsburgh commented on #2669
@rphooper - there is already a section on the landing page "What you can do with HydroShare". We could swap the order of those and refocus the "What you can do with HydroShare" on the points you list.

We could also have a really simple focus when the page first loads and then add more detail about the features of the system as you scroll down. I could mock something up if you are interested.

[2018-03-07 01:33] pkdash opened #2671 "Error occurs when deleting the last identifier for a creator/contributor"
Noticed this error on beta.

[2018-03-07 15:30] ChristinaB opened #2673 "Sign up problems with controlled vocabulary in organization"
@aphelionz  Here is the error I get

![image](https://user-images.githubusercontent.com/4108369/37101019-5d652bc8-21d9-11e8-83ad-d2b6546852c1.png)

[2018-03-07 15:32] ChristinaB commented on #2673
I was able to sign up with the option that excludes, San German as below. It gives an error message, but then does submit the form.

![image](https://user-images.githubusercontent.com/4108369/37101140-b345ee60-21d9-11e8-876f-cdeb5ae4a47e.png)

[2018-03-07 15:33] ChristinaB commented on #2673
What happens if I do not activate this test account?

[2018-03-07 17:15] dtarb commented on #2673
@ChristinaB If you leave an account inactivated it will just sit there.  You can request an admin (like me) to delete it.  In functionality that is in prototype and soon to be released you will be able to resend the activation email if you try create an account with the same email later.

[2018-03-07 17:33] alvacouch commented on #2661
There is a testbed available now at https://cuahsi-dev-2.hydroshare.org/cache/bags . Feel free to

1. Choose your favorite browser and platform.
2. Download one of the files there (all public).
3. Unzip using your favorite unzipper.
4. Report any problems here.

[2018-03-07 17:34] alvacouch commented on #2661
@dtarb My evidence is that the windows native unzip cannot handle large zipfiles and reports **erroniously** that the file is invalid. 7zip does unzip these files.

[2018-03-07 18:19] sblack-usu commented on #2673
I looked into this a bit.  The jquery library we are using a tags library, built for comma delimited tags.  You're not able to select a result with a comma in it because the javascript is currently looking for commas in the string and creates a new tag at each comma.  I was able to turn this off the comma delimiter locally and add "Universidad Interamicana de Puerto Rico, San German" as an organiz

[2018-03-07 18:32] sblack-usu commented on #2673
I did some more investigating and it looks like a semicolon won't work because of "US EPA; Purdue University,Purdue University,United States Environmental Protection Agency"

Here is the list of known organizations.  https://github.com/hydroshare/hydroshare/blob/develop/hs_dictionary/management/commands/normalize_universities.csv

[2018-03-07 18:50] sblack-usu commented on #2673
The other file I linked is used for normalizing organizations.  This file is the full organization list as far as I can tell.
https://github.com/hydroshare/hydroshare/blob/develop/hs_dictionary/migrations/world-universities.csv

[2018-03-08 07:11] horsburgh commented on #2669
Looking at this issue closer, we should  be referring to this as "HydroShare's home page" - not a landing page.

[2018-03-08 16:12] rphooper commented on #2669
@horsburgh Good point. I didn't scroll down far enough to see it. I don't think the current "how is works" is effective or helpful, so I would eliminate it to try to get the entire home page to fit without having to scroll. The carousel is some eye candy, but mostly empty calories, IMHO.

The bigger issue is that all these decisions are subjective. I think the home page is off putting for new user

[2018-03-08 16:46] dtarb commented on #1666
@Maurier @pkdash @horsburgh Based on being told that this was implemented in beta.hydroshare.org, my testing revealed the following problem

I tried

![image](https://user-images.githubusercontent.com/3456833/37163564-5df09316-22b5-11e8-8673-e8df6966043f.png)

I got the message
![image](https://user-images.githubusercontent.com/3456833/37163583-67240cce-22b5-11e8-856f-fcd1ddaca3c2.png)

I tried

!

[2018-03-08 18:05] sblack-usu commented on #2673
I've got some work done on this, but it's going to be a little more complicated than just changing the delimiter.  It looks like some of the python code is looking for the commas as well and we should probably make an effort to properly serialize the organizations.  I'll talk to @aphelionz about possible solutions when he is back.

[2018-03-08 19:41] aphelionz commented on #2673
Hey @sblack-usu Thanks for taking a closer look at this. Do you have time next week so that I can go over the overall context that this work fits into? I feel like once you understand that all the stars should properly align and this will be a go.

[2018-03-08 23:41] sblack-usu commented on #2673
yeah, do you just want to talk Monday sometime after the developer call?

[2018-03-09 21:08] pkdash commented on #2568
@horsburgh Multiple file aggregation question:

Are we allowing to have these 2 aggregation names in a specific composite resource instance?

folder_1
folder_1/folder_2

If we do then I guess we are creating nested aggregation.

[2018-03-10 12:55] dtarb commented on #2661
I did some testing and reported results in the spreadsheet https://docs.google.com/spreadsheets/d/11ZhrhZ1OqgXgnFkvKceE1pP6kcuoNPldhJKFRhhhWzo/edit#gid=0.

Downloading seems to be working fine over both Chrome and Firefox
- Can download the 37 GB file obtained from a 3rd party
- Can download all the HydroShare bags I tried
- Times are size related and comparable to my experience at other sites

Un

[2018-03-12 16:41] rayi113 opened #2674 "Add RENCI NWM capture to HydroShare Hyrax"
Please add the following as an enhancement to  http://hyrax.hydroshare.org/opendap/nwm/

/projects/water/nwm/data

/projects/water/matthew

Thanks.

[2018-03-12 18:17] horsburgh commented on #2572
@pkdash - I've attached the text for the aggregation types to this comment.

[Composite_Resource_Terms.txt](https://github.com/hydroshare/hydroshare/files/1803998/Composite_Resource_Terms.txt)

[2018-03-12 18:24] horsburgh opened #2676 "Resource type terms for HydroShare terms page"
@pkdash - we currently do not have definitions of the resource type terms on the HydroShare terms page. Per request from @dtarb, I've compiled some text that I think we should put at the top of the https://www.hydroshare.org/terms/ page. This is primarily text that came out of @dtarb 's discussion of resource types that he wrote for Olin.

Under this issue, the header "Collection Resource Type Des

[2018-03-13 15:04] horsburgh commented on #2568
@pkdash - I'm looking through the Composite Resources Design Discussion document. In our latest iteration, we do have a rule that says that Aggregations may be nested as long as the Aggregation type permits it. However, I don't see any text stating which Aggregation types permit nesting and which ones don't. I do see text that specifically states the "File Set" Aggregation does not allow nesting.

[2018-03-13 15:26] pkdash commented on #2568
@horsburgh and @dtarb I guess only for "File Set" which is a new aggregation type we may consider nesting. The nesting implementation complexity will depend on the business rules of File Set aggregation type.

In my current phase-2 implementation I am not allowing any nested aggregation. If nested aggregation is needed we should implement in the next phase of composite resource including File Set.

[2018-03-13 21:54] danames opened #2678 "Add Thumbnail View to Resource Landing Page"
We have significant wasted white space on the top right of our landing page where the user would want to see a thumbnail of the resource. See proposed image. I believe we already have the concept of a thumbnail in our resource bag, but we need 1) API access to read/write the thumbnail; and 2) Draw the thumbnail (if it exists) in the indicated space.

![screen shot 2018-03-13 at 3 51 45 pm](https:/

[2018-03-14 16:02] aphelionz commented on #2644
@jtpollak Luckily this is all inside the content management system and doesn't require a code change. As such, this has been updated on https://beta.hydroshare.org. If it looks good let me know and I'll make the edits on production as well.

[2018-03-14 16:11] jtpollak commented on #2644
Looks good! thanks @aphelionz

[2018-03-14 16:15] aphelionz commented on #2644
@jtpollak Updates have been made to production. Verify and close, please

[2018-03-14 16:16] #2644 closed

[2018-03-14 18:00] sblack-usu commented on #2653
verified on beta

[2018-03-14 19:08] horsburgh commented on #2568
@pkdash - I had a moment of clarity last night and remembered that we discussed eventually having model instance resources as a special class of composite resource that may have nesting of other content types.

But, since that's a future goal, I think your suggestion for Phase 1 to not include nesting and then look at nesting for a next phase seems reasonable to me.

Are you suggesting that "file

[2018-03-14 20:11] pkdash commented on #2568
@horsburgh Since "File Set" is going to be a new aggregation type, I suggest we implement it in the next phase so that I can finish my current work so soon as I can. That way Mauriel can start working on the needed UI changes for aggregation as soon as my current work gets merged. While Mauriel is working on UI changes I can add the File Set aggregation.

[2018-03-14 20:29] horsburgh commented on #2568
@pkdash - sounds good to me.

[2018-03-15 17:34] Lizabrazil opened #2682 "Selection of map coverage boxes do not work"
related to #2649 i guess. See that when you select a box within a very large box that expands to most of the world you cannot narrow down results.
![image](https://user-images.githubusercontent.com/13852599/37480414-93cff83c-2855-11e8-908e-a858d0d0ba63.png)
![image](https://user-images.githubusercontent.com/13852599/37480420-993b4c9a-2855-11e8-943e-6a788748317a.png)

[2018-03-15 17:50] aphelionz commented on #2682
@alvacouch can you have @xuezhaokun submit a fix for tix?

[2018-03-16 23:07] dtarb commented on #2568
Sounds good to me too.  File set is a new aggregation type, and will be the first that admits nesting.  But it is better to get this functionality out in small increments, so I am happy for it to be part of a later phase.

[2018-03-16 23:21] dtarb commented on #2676
@horsburgh I am happy to have @sblack-usu handle this so @pkdash can focus on composite resources.  But please say where you want the text provided to go on the https://www.hydroshare.org/terms/ page.  The page already has descriptions of the resources under major headings on that page, just not following the terms, URI, Label, Description pattern.  Also, I think part of what was asked was termino

[2018-03-18 05:35] horsburgh commented on #2676
@dtarb - this is fine.

@sblack-usu - the text that is in the "Resource_Type_Terms.txt" file linked above should be posted on the http://www.hydroshare.org/terms/ page. It should go at the beginning of the page, just after the title "Description of HydroShare Resource Types and Metadata Terms".  Once you've pasted this text in there, you need to get rid of the descriptive/definition paragraph that

[2018-03-19 16:36] dtarb commented on #2653
Verified.

[2018-03-19 16:36] #2653 closed

[2018-03-19 17:01] aphelionz opened #2685 "Adding JSON-LD to hydroshare home page and resource detail pages"
- [x] Hydroshare Home Page
- [x] Resource Detail Pages

[2018-03-19 18:01] horsburgh commented on #2685
@aphelionz - can you provide any details about what this is? I'm curious. JSON-LD for what?

[2018-03-19 18:10] aphelionz commented on #2685
@horsburgh This is for enhanced discoverability by google and other search engines. The end user will not notice any difference at all. See the docs here: https://developers.google.com/search/docs/guides/intro-structured-data

[2018-03-19 18:30] horsburgh commented on #2685
Cool. Thanks. JSON-LD is something that I've read some about in relation to earlier work related to the resource data model and I was just curious what we were using it for in this context. Thanks for the link.

[2018-03-19 18:59] aphelionz commented on #2685
If you're curious and can get to it before I need to switch branches in my dev environment, you can view source at https://dev-hs-2.cuahsi.org to see it in action on line 178

[2018-03-20 12:28] dtarb opened #2686 "Files missing and resource editing gives error message 1.15 RC 2"
The following resource on www has big files written while testing big file handling capability

https://www.hydroshare.org/resource/d0e6d4c7f7ef4d9d9486be87fc425314/

For the same resource on the release candidate beta there are the following problems

https://beta.hydroshare.org/resource/d0e6d4c7f7ef4d9d9486be87fc425314/

1. File contents do not display
2. When I attempt to edit metadata and save

[2018-03-21 15:57] katrinleinweber opened #2689 "Hyperlink DOIs against preferred resolver"
Hello :-)

The DOI foundation recommends [this new, secure resolver](https://www.doi.org/doi_handbook/3_Resolution.html#3.8). Would a PR that updates all static links & the code that generates new ones, plus the test cases be welcome?

Cheers!

[2018-03-21 15:57] katrinleinweber commented on #2689
PS: Also in the sister repos.

[2018-03-21 16:19] horsburgh commented on #2689
@katrinleinweber - thanks for the suggestion. What would be the benefit of using your suggested resolver over just using http://dx.doi.org or even just http://doi.org in our URL-encoded DOIs?

[2018-03-21 16:30] aphelionz commented on #2689
@horsburgh The benefit is that it is encrypted + securt https instead of http.

@katrinleinweber yes PRs are welcome :)

[2018-03-21 22:59] sblack-usu commented on #2676
@horsburgh I made the changes, though I'd appreciate it if you'd do a quick proof read of the changes I made.  I was careful to make sure I added everything you asked for, though I wouldn't be surprised if I missed something.  I'll also ping you with a link to see it running on my server.

https://github.com/hydroshare/hydroshare/commit/252d6f787614b4be35ddcec6a7f7ad4781f916bd

[2018-03-21 23:06] sblack-usu commented on #2676
Caught something i missed already.  Here is another commit.
https://github.com/hydroshare/hydroshare/commit/7590e6ded1ae367c2a259f32ebfa46b9378b98e4

[2018-03-21 23:08] sblack-usu commented on #2676
diff of both commits against develop  https://github.com/hydroshare/hydroshare/compare/develop...2676-resource-type-terms

[2018-03-22 18:14] hyi commented on #2689
@dtarb @horsburgh Took a quick look at the code change, and found the only change involved is to change ```http://dx.doi.org/``` to ```https://doi.org```.  The ```https``` version is preferred and secured URL, but``` http``` version is also supported by DOI server. The XML metadata file will be updated accordingly for new published resources since it retrieves URL-encoded DOI from our identifier m

[2018-03-23 07:02] katrinleinweber commented on #2689
#2690 is the PR.

[2018-03-27 14:12] hyi opened #2696 "Hotfix for quota and google recaptcha"
- [x] Also send quota warning email to administrator
- [x] Make administrator email link clickable with subject automatically populated.
- [x] Passing google recaptcha site key from server to template client without manual filling in.

[2018-03-27 15:56] Castronova opened #2697 "Setting Contributor Description Fails"
Querying the contributors for a resource using the api returns something like this:

[code]
Setting a contributor with a non-empty `description` results in an error:

[code]

[2018-03-27 21:11] pkdash commented on #2697
@Castronova  The 'description' field is a URL type field. Not sure why this field is named like this. It seems it expects a url path for a specific existing hydroshare user.

[2018-03-29 15:55] sblack-usu opened #2701 "Update Development Environment Instructions to use Docker"
The Virtualbox environment used previously by the development team is slow to work with and most (all?) developers are no longer using it.  Support for Docker has grown and is much easier to work with than in the past.  Developers are able to work with docker natively on Windows, Mac and Linux.

Update the documentation to show how to setup a hydroshare development environment using docker.

[2018-03-29 21:23] ChristinaB commented on #2661
@rayi113 Do we have an update on how to download large files?
For example, I am getting errors downloading this 3G zipped file
https://www.hydroshare.org/resource/ec518c49772b420b97047f7482ae92aa/

Also, the help page labeled 'Uploading/Downloading large files to/from HydroShare.' does not actually contain information on Downloading and likely should also be informed by how this issue is resolved.

[2018-03-30 16:26] horsburgh commented on #2676
@sblack-usu - tested on your latest deploy of the terms page. Generally, it looks good. Please see the comment I just made on #2572 - there's some changes that need to be made based on that. Also, please add the following text under the title "Metadata terms for the time series resource type":

The time series resource type is based on version 2.0 of the Observations data model. You can learn more

[2018-03-30 16:35] horsburgh commented on #2676
@dtarb - The text in the HydroShare terms page now says that we are replacing some of the individual resource types with the composite resource. However, the composite resource isn't fully available yet. Do you want @sblack-usu to move this new terms page with the updated text to deployment?

Also - this page is going to need a pretty big overhaul in the near future if we see it as being really im

[2018-03-30 17:00] sblack-usu commented on #2572
made the requested changes and submitted the PR

[2018-03-30 18:29] dtarb commented on #2676
I like the direction this is going.  I think we should move this to deployment.  I think that enough of the composite resource is available for this to be better than what is currently in terms.

I think that some of the things @horsburgh noted can be easily addressed, and should be addressed.  Specifically:
1. The section heading "Metadata terms for the generic resource type" should be changed to

[2018-03-30 22:08] horsburgh commented on #2676
@dtarb - I think the extra lines were there to indicate groupings of terms, but I'm not sure they are used consistently so can probably be removed.

[2018-04-02 17:20] jsadler2 opened #2705 "Web App resource metadata to XML doc"
Currently the resource specific metadata elements for Web App resources are not serialized and included in the `resourcemetadata.xml` file.

Check HS GIS app resource for example : https://www.hydroshare.org/hsapi/scimeta/9674a0af9f30410e9e02397c91284f54/

[2018-04-02 17:29] jsadler2 opened #2706 "Create "child" resource from Collections Resource"
It would be convenient to be able to **create** a new resource from a collections resource landing page. Currently users can only add existing resources to a collection.

[2018-04-02 17:36] jsadler2 commented on #2706
The system should populate the `isPartOf` metadata relation in the "child" resource with the collections resource from whose landing page the "child" resource was created. This saves the steps of

1. creating a new "child" resource from the normal, separate, page
2. going back into the collections resource and finding and adding the "child" resource.

[2018-04-02 17:40] jsadler2 opened #2707 "Having the option to push/pull collection metadata to "child" resources"
It would be convenient to "push" or "pull" metadata in a collections resource to it's "child" resources.

[2018-04-02 17:45] jsadler2 commented on #2707
PUSH - For example, say that you've added several resources to a collection and you have added several keywords to the collections resource. Instead of editing each "child" resource individually to add the keywords, it would be convenient if you could just click "Push metadata to resources" which maybe opens a dialog where you can choose which elements ("keywords" in this case) and which resources

[2018-04-02 17:48] jsadler2 commented on #2707
PULL (the inverse of PUSH) - For example, say you've added several resources to a collection and you have added different sets of keywords the various "child" resources. If you wanted the keywords of the collection resource to be the combined set of keywords from the "child" resources you should be able to click something like "Pull metadata from 'child' resources" which maybe opens a dialog where

[2018-04-05 11:31] dtarb opened #2708 "Warn user moving away from page without saving"
A user wrote

Can we add a warning before navigating away from a page or closing a browser window to save edits.  I have experienced this functionality in other sites, so it is possible, and would be good for HydroShare.

[2018-04-05 14:13] aphelionz commented on #2708
I think we should redesign the resource edit page so that there is one, and only one, Save button. The piecemeal editing was effective as we were building out the various, somewhat disparate parts of the page... but now that the resource page is stabilizing we might want to consider going easy on the user.

[2018-04-05 15:52] aphelionz opened #2709 "Non-unique IDs on Resource Landing Page"
![image](https://user-images.githubusercontent.com/106148/38376961-c8047a2e-38c7-11e8-848b-cff2cb8e5a19.png)

[2018-04-11 23:47] darksinge opened #2710 "Add ability to change rights / license type through API"
Currently, the API can only update the rights/license statement, but not the URL.

Features built into data.wikiwatershed.org (formerly data.envirodiy.org) allow users to share their data with hydroshare.org, which in turn creates a Composite Resource. Users of data.wikiwatershed.org agree the data they create will be shared using the *Creative Commons Attribution Share Alike License* (CC-By-SA).

[2018-04-13 17:54] rayi113 commented on #2661
iRODS ibun problem associated with https://www.hydroshare.org/resource/9badb941303d4813b3c398cdab038368/ have been reproduced by iRODS development team, cause identified, fix verified.  Fix to be part of iRODS 4.2.3 release that should occur before June 2018.  hydroshareZone will have to be upgraded to iRODS 4.2.3 at that time, and all bag_modified flag for all HydroShare resources reset to cause

[2018-04-16 04:26] darctur opened #2712 "Delete Resource needs to give more context to user"
The 'delete resource' tool provides a warning message that tells the user “This will delete any resources you have selected” but gives no other context for the user to know what will happen when he/she confirms the deletion. This can lead to accidental deletion when the user doesn't realize some resources are selected that were not intended to be deleted. (THIS HAS HAPPENED)

It might not make sen

[2018-04-16 04:30] aphelionz commented on #2712
Additionally, we should consider a "soft delete" as @rayi113 has suggested. This would move resources to a category that hides it from public view on the site, but keeps the resources in a "Deleted" or "Trash" section of the admin, to be purged or preserved as seen fit, or on a timed basis.

[2018-04-16 04:31] rayi113 commented on #2712
Credit to @mjstealey for suggesting the iRODS "soft delete" to me that I passed along.

[2018-04-16 12:55] Castronova commented on #2712
I agree that we should implement a "soft" delete, but recognize that we probably don't want to make data recovery a daily task.  We should also think about any modifications to the message below that might help prevent accidental deletes.  Below is the current message that's displayed when resources are deleted.

![image](https://user-images.githubusercontent.com/4822372/38809728-855054c6-4152-11e

[2018-04-16 13:34] horsburgh commented on #2712
Do we just need to implement a trash? Stuff in the trash would still count against quota (since we have to keep it on disk), but would be recoverable.

[2018-04-16 14:07] mjstealey commented on #2712
### 1.  Do we just need to implement a trash?

From an iRODS standpoint the concept of a **trash** already exists, and HydroShare presently avoids it's usage by including the `-f` or `-rf` flags when removing a resource via the `irm` call.

- iRODS out of the box has a notion of `Zone/home/USERS` and `Zone/trash/home/USERS`
- When a resource is removed using `irm` the resource is moved from the lo

[2018-04-16 14:56] aphelionz commented on #2712
Agree with @Castronova 👍 for points that are all immediately actionable in the UI

[2018-04-16 21:11] mmbayles opened #2713 "HydroShare Python API returning Internal Server Error"
I am using the hs_rest client (version 1.2.12). I am getting an 500 internal server error when trying to discover resources by certain parameters such as 'group' and 'creator'. I can access resources via resource type and I can download resources normally.

Example call:
hs.resources(creator='Matthew Bayles') fails while hs.resources(type='TimeSeriesResource') succeeds.

[2018-04-18 08:43] jhamman opened #2714 "Connections with the Pangeo project"
*This issue is meant to provide a broader context to a few follow-on issues.*

@dtarb and I have had a few conversations following EGU and would like to explore where the Hydroshare and Pangeo projects might overlap and where we might be able to find some opportunities to collaborate. We mostly focused on the Jupyter workflow in Hydroshare (launch, run, save). Here are a few topics that may be of

[2018-04-18 13:57] AaronV77 commented on #2696
Any plan on when you will release the 1.14.2 version of HydroShare? The 1.14.1 version has the broken reCaptcha and makes it not useable.

[2018-04-18 14:15] Castronova commented on #2714
Thanks for starting this dialog @jhamman! This is my first time seeing BinderHub but at first glance, it looks like it would be a great addition to our current implementation.  Also, we’ve been thinking quite a bit about ways to customize individual user spaces as well as how we can streamline the overall notebook workflow.  I’m happy to share my thoughts with you and I’d love to hear what you thi

[2018-04-18 15:43] horsburgh commented on #2714
@Castronova - I saw a presentation at EGU from a guy that was using Binder with R and GitHub to create interactive Jupyter environments. I was going to pass the info about Binder along, but sounds like the cat is out of the bag. It looks really cool!

[2018-04-19 07:45] jhamman commented on #2714
@Castronova - a few thoughts after letting this sit for a while:

- My understanding is that binder is most easily configured to run in conjunction with notebooks and environment files stored in a git repository of some kind. It may be possible to have binder point to resources in the storage layer you have in hydroshare but this would likely require building a custom interface of some sort. Perha

[2018-04-20 13:26] rayi113 opened #2717 "Change HydroShare iRODS to do soft delete"
In HydroShare code, change all occurances of iRODS iCommand "irm -rf" to "irm -r"; and "irm -f" to "irm"

Confirm this works first on usersdev for hydroshareuserdevZone on beta, then on hydroshareuserZone to implement in production.

This is only one interim step towards implementing a comprehensive consideration of how deleted resources in HydroShare are handled from the UI to django to iRODS.

T

[2018-04-20 13:44] hyi commented on #2717
@rayi113 @aphelionz I can implement this pretty easily. However, I think this has to be accompanied with a periodic job to call irmtrash to purge files as needed. irmtrash has a parameter ```--age``` that seems to allow to specify age in minutes which I assume would only delete collection over the specified age in the user's trash can. Should we do this periodic trash purge as a Jenkins job or as