[2017-08-01 19:24] aphelionz commented on #2247
@horsburgh I will prioritize this next!

[2017-08-03 09:41] aphelionz commented on #2187
Closing this in favor of iRODS ticketing

[2017-08-03 09:41] #2187 closed

[2017-08-03 09:44] aphelionz commented on #1993
@pkdash if this was merged can we close this ticket?

[2017-08-03 14:05] pkdash commented on #1993
@aphelionz closing it.

[2017-08-03 14:05] #1993 closed

[2017-08-03 18:07] #2112 closed

[2017-08-03 19:16] #2256 closed

[2017-08-04 05:56] horsburgh opened #2266 "File Operations Slow, Buggy, and Inconsistent"
There have now been multiple issues reported by multiple users about weird things happening with file uploads to resources. See #2253, #2224, and #2226. For relatively small numbers of files, the drag and drop upload seems to work OK. But, with larger numbers of files, the performance seems to be unpredictable. This also includes the unzipping procedure, which I have found to also be unpredictable

[2017-08-08 17:39] Castronova opened #2267 "App tracking logs shouldn't contain spaces"
The activity logs for app launches sometimes contain spaces in the kvp strings.  This causes errors when parsing an results in incomplete/incorrect metadata in Kibana.  For example, `HydroShare` should be `HydroShare GIS`:

![image](https://user-images.githubusercontent.com/4822372/29085945-e39c1b84-7c3e-11e7-8e31-999508dd10d4.png)

2017-08-04 07:13:46.565625+00:00 user_id=536 session_id=290175 ac

[2017-08-09 01:33] yirugi commented on #2167
We have fixed the bug.

[2017-08-09 16:26] dtarb commented on #2266
@hyi could you please look at these from a back end perspective.  @Maurier could you please look at front end aspects of these.

[2017-08-09 18:42] Maurier commented on #2266
Most of the errors in the front end (if not all of them) could be caused by a bug recently introduced in one of the scripts:

![image](https://user-images.githubusercontent.com/2448568/29138028-8c60f300-7cff-11e7-8dd1-a8e54c7bfd5d.png)

I identified this issue last week. I wrote a fix for it and it was merged recently into our development branch (https://github.com/hydroshare/hydroshare/pull/2264/

[2017-08-09 20:53] Maurier commented on #2266
As I tested it seems that the errors originate after the unzipping fails. All further operations on the folder will result in bad gateway or time out errors:

Unzipping this file takes a very long time (5 minutes or more) and returns the following error:
![image](https://user-images.githubusercontent.com/2448568/29141735-aa7908d4-7d0c-11e7-8138-b436e8090de9.png)

Trying to open this folder results

[2017-08-09 21:38] hyi commented on #2266
I remember I had investigated the backend unzip operation for a different issue and I remember the conclusion was that unzipping operation from iRODS was very fast, with the majority of time being spent on registering the large amount of unzipped files in Django. I remember I had some timing done to illustrate this. I remember I improved the Django registration for large amount of unzipped file a

[2017-08-10 04:01] horsburgh commented on #2266
Here is where the rubber meets the road in terms of ground truth. Based on what I have read in this issue, we have a user interface function (unzipping) that unzips the files to disk but then the process fails to create all of the correct file references in Django. This leaves the resource in an inconsistent and **broken** state - which is a MAJOR issue. File operations are fundamental to our syst

[2017-08-10 18:30] #2247 closed

[2017-08-14 16:47] ChristinaB commented on #2196
The current message reads:

HydroShare resources will be 20 GB, and only resources that you are the "quota owner" for will be tallied against your quota. More details are forthcoming.

This could be improved by giving the user a bit more context and making it present tense, with an action item.

"Development update: HydroShare resources are 20 GB, but only resources that you are the "quota owner"

[2017-08-14 18:50] dtarb commented on #2196
I am supportive of improving the messaging, but I do not think that the statement "HydroShare resources are 20 GB" that @ChristinaB suggests above is accurate or meaningful.  We are talking here about the quota that a user gets not resources.

Can we clarify what we are trying to achieve here. Do we want to alert users that a quota system is coming and that if they are over we want them to contact

[2017-08-14 19:19] ChristinaB commented on #2196
What about something shorter and more direct.

Development Update: User storage is 20 GB.  Visit [Quota Policy](https://pages.hydroshare.org/about-hydroshare/policies/quota/) to learn more.

Copied on #1566   When I logged on this morning I saw the quota message and it didn't read quite right, this is the only Issue I knew of for bringing it up.

[2017-08-14 19:19] ChristinaB commented on #1566
Suggesting an update:  What about something shorter and more direct.

Development Update: User storage is 20 GB. Visit our Quota Policy Help page to learn more.

[2017-08-14 19:26] ChristinaB opened #2270 "HydroShare GIS tiling is not loading"
Here is my view of a watershed from a Chrome Browser. HELP!
![image](https://user-images.githubusercontent.com/4108369/29287954-deb96d5e-80eb-11e7-94e6-df1dc615dd33.png)

[2017-08-14 19:29] ChristinaB opened #2271 "HydroShareGIS is not updating changes to attributes"
These points are set to green.  They are not mapping green.   Here is also another view of the tiling problem (and frustrating message given this does not look successful)

![image](https://user-images.githubusercontent.com/4108369/29288042-2af79b14-80ec-11e7-9229-4ee5c300e61c.png)

[2017-08-14 19:31] ChristinaB commented on #2271
![image](https://user-images.githubusercontent.com/4108369/29288089-5f2f0340-80ec-11e7-9420-117c42d29141.png)

Steps:  Click on Hamburger, Modify symbology, select new color, Apply.

You can try it using 'Open With' HydroShareGIS App at https://www.hydroshare.org/resource/70b977e22af544f8a7e5a803935c329c/

[2017-08-14 19:35] ChristinaB opened #2272 "HydroShareGIS App - needs polgyon transparent option"
![image](https://user-images.githubusercontent.com/4108369/29288168-a5cbd0b2-80ec-11e7-9b4c-818a78ef435c.png)

Having limited colors is fine, but 'no fill' is needed to use for watershed boundaries when one would like to see the map in the watershed while viewing the boundary.

![image](https://user-images.githubusercontent.com/4108369/29288273-ff381f3e-80ec-11e7-90e6-cff350f8fc17.png)

[2017-08-14 22:32] dtarb commented on #2229
Got another DOI submission today that I think should not be issued.  Bumping to High Priority.

[2017-08-15 13:32] aphelionz opened #2273 "Release 1.12 Manual Pre-Deploy Checklist"
Please review your corresponding contributions and check off that they are functional before we deploy. Thank you!

I apologize if some of these are in 1.11 as well, for now just check them off.

- [x] 1428 modflow mi phase 2 #2240 @jsadler2
- [x] Update contributing.rst #2269 @aphelionz
- [x] 2267 app log format #2268 @Castronova
- [x] 2247 metadata string update #2263 @aphelionz
- [x] [2215] Tex

[2017-08-15 13:40] Castronova opened #2274 "Non-human DOI vetting"
Issue #2229 discusses the need for human interaction during the formal publication process to weed out resources that should not be issued DOI's.  We need to also improve/implement non-human validation approaches to help deter the publishing of "test" resources.  Below are a few ideas (as well as our current methods) that @Lizabrazil  and myself came up with:

[x] Multiple dialogs to let the user

[2017-08-15 13:45] Lizabrazil commented on #2229
We might want to think of this as a short-term solution. As Hydroshare grows, I will not be able to keep with manually checking DOIs. Tony and I propose these longterm solutions: #2274

[2017-08-15 14:01] hyi commented on #2274
Agreed non-human validation would be ideal, but with only simple validation like making sure title or keywords not containing "test" is not sufficient to prevent wrongly publishing a resource, for example, this resource https://www.hydroshare.org/resource/b01ff941e62f4d3f8814affcbc3bbc14/ which was just wrongly published does not contain "test" in title or keywords or abstract. We already enforce

[2017-08-15 14:05] aphelionz commented on #2274
We could theoretically use Human-in-the-Loop validation to train an ML system, but that seems like overkill. Maybe not though, based on @Lizabrazil's concerns about keeping up with demand as we scale up...

[2017-08-15 14:11] rayi113 commented on #2274
@hyi @aphelionz I like the idea of potentially using machine learning in issuing DOIs with or without a human-in-the-loop in my capacity to think about HydroShare 2.0 resource citation.  Even if we keep humans-in-the-loop for issuing DOIs for the forseeable future, it seems prudent to address an ML approach now for scalability and assesing the performance of an ML approach in tandem with the human

[2017-08-15 14:32] hyi commented on #2274
@rayi113 incorporating machine learning in HydroShare is intriguing and sounds to me like a good idea in HydroShare 2.0 to pursue. I like @aphelionz 's idea of using Human-in-the-Loop validation to train ML system to make ML work better over time as well.

[2017-08-15 17:27] danames commented on #2272
Did you try setting the interior to no fill? That's the "checkerboard" color patch.

[2017-08-15 17:28] danames commented on #2271
We were hoping that refreshing the Geoserver on a regular basis would take care of this tiling issue. I'll invite Shawn to look at it again and tell us what he learns.

[2017-08-15 17:32] danames commented on #2270
Unfortunately, @shawncrawley isn't working on the project but he's probably the one who can figure this out. I've asked him to look into it and give us some suggestions on where to start.

[2017-08-15 20:47] pkdash commented on #2274
For human in the loop this Django module may be useful to control publishing resources: https://github.com/javrasya/django-river

[2017-08-16 01:58] dtarb commented on #2229
Here is my outline of the human in the loop solution.
1. We create a resource in HydroShare that holds as a CSV list users who are authorized to approve resources for formal publication.  I have created such a resource at https://www.hydroshare.org/resource/8b0f1122242b41a4a1762be4dfb59b14/.
2. When a resource is submitted for publication (user goes through the full process they do now) an email i

[2017-08-16 02:00] dtarb commented on #2274
I worry that researching machine learning to get this automated is beyond scope.  See # 2229 for my outline of Human in the loop approach.  The computer science folks can write a proposal to get funds to do this.

[2017-08-16 02:23] dtarb commented on #2229
See also #1649 that suggested an embargo/recision period.  That would be a softer solution, but if implementing #2229 is for any reason not possible, we could go back to #1649.

[2017-08-16 02:48] dtarb commented on #2273
@aphelionz @Castronova I added a check off for the test script.

[2017-08-16 03:04] dtarb commented on #2214
I changed the title to reflect fact that this is not "broken" but that it is a feature request.  Given the difficulty @alvacouch indicated implementation would involve I do not think this is high priority.

[2017-08-16 13:32] pkdash commented on #2273
@dtarb and @aphelionz I added a check off for testing ref time series file type

[2017-08-16 13:45] ChristinaB opened #2275 "Group membership request email message: more information needed"
When a user requests membership to a group, the current message only includes the first name., e.g.

Dear Christina
User Heidi has requested to join your HydroShare group (Landlab).
Click here to find information about the requesting user.
Click on the link below to accept this request.
https://www.hydroshare.org/hsapi/_internal/group_membership/4on-4438f415960b31cd6a31/77/493/?next=/
The HydroSha

[2017-08-16 15:22] hyi commented on #2229
@dtarb @aphelionz I can take a stab at implementing this human in the loop for formal publication as outlined by Dave. I took a look at django-river lib suggested by @pkdash and don't think we need that lib to implement this workflow. The outlined steps can be implemented without too much difficulty, but takes some thinking-through on implementation details, e.g., storing and updating authorized p

[2017-08-16 16:55] aphelionz commented on #2229
@hyi You've got it! 💯

[2017-08-16 17:59] aphelionz commented on #2273
@pkdash Can you also verify #2258

[2017-08-16 18:54] aphelionz commented on #1571
Need to test after HIS work is done

[2017-08-16 19:06] horsburgh opened #2276 "When creating new resources, author and owner middle initials are ignored"
My profile includes my middle initial. It should be used in any resources I create or that I am an author of. But, when I create a new resource now, I only see my first and last name. I don't know if this is just a display issue (e.g., on the resource landing page the middle initial is not shown) or if it has also been lost from the resourcemetadata.xml file as well.

This is a regression. It used

[2017-08-16 19:38] #1428 closed

[2017-08-16 20:34] cbcunc opened #2277 "Update hard-coded instances of pages.hydroshare.org to help.hydroshare.org"
https://github.com/hydroshare/hydroshare/search?utf8=%E2%9C%93&q=%22pages.hydroshare.org%22&type=

[2017-08-18 02:08] pkdash commented on #2273
@aphelionz I am testing #2258. It seems to have fixed the issue as it is no more throwing exceptions when coverage parameters are passed and returning a list of resources. However, it is including resources that should not be included. The returned list includes some of the resources that have no coverage data. I used the hs_restclient to test this endpoint.

Here is an example:
```res_list = hs.g

[2017-08-18 02:26] pkdash commented on #2276
@horsburgh A quick look at the UI code tells me it's a display issue.

[2017-08-18 05:55] horsburgh commented on #2229
If we need a human in the loop, do we need the complicated moderation system functionality with extra buttons and permissions described above, or can we just embargo the resource for a period of a week as described in #1649, add functionality that sends notifications to the resource publication reviewers when a resource is published, and then make the reviewers super users who can move a published

[2017-08-18 12:46] dtarb commented on #2229
I would submit that the steps 1 to 6 I outlined above are about as simple as it gets.

Making reviewers super users is essentially the same as putting them on the list I suggest in (1). (1) provides a way to manage the list using infrastructure we already have.  If we make them system administrators, we have to be careful because then they have the ability to do absolutely anything in HydroShare (

[2017-08-18 14:59] aphelionz commented on #2273
@pkdash let's make a new issue and I can take care of that in 1.13 or 1.14

[2017-08-18 16:28] hyi commented on #2229
@dtarb @horsburgh @Lizabrazil @aphelionz @Castronova Implementing human in the loop DOI publication would put extra burdens on the reviewers to approve each publication request before the DOI request is sent to crossref for deposition, so if all reviewers were not available, the requested resources would not be published until a reviewer were available to approve the publication. The publication e

[2017-08-18 17:21] pkdash commented on #2273
@aphelionz Sounds good.

[2017-08-18 18:44] cbcunc opened #2279 "Stand up new deployments of apps and appsdev"
A new apps called hs-apps.hydroahre.org with Centos 7 and a dockerized Tethys 1.5 and a new appsdev called hs-appsdev.hydroshare.org with CEntos 7 and a static Thethys 2.0.

- [x] Request VMs (@cbcunc)
- [ ] Arrange webex and record deployment (@zhiyuli)
- [ ] Document (@jphuong , @mjstealey, @cbcunc)

[2017-08-18 20:12] cbcunc commented on #2279
Service Request [SR5284] has been Created
--
Title | Request for New Virtual Machine
Creation Date | 8/18/2017 4:05:58 PM
Area | Server Services
Description | Hostname: hs-apps.hydroshare.org Operating System: CentOS Linux 7 Number of CPUs: 2 Amount of Memory: 8 GB Amount of Storage: 200 GB Additional Storage Mount Location: 170G of storage should go to /var. Include service user hydroapp: uid=200

[2017-08-18 20:12] cbcunc commented on #2279
Service Request [SR5290] has been Created
--
Title | Request for New Virtual Machine
Creation Date | 8/18/2017 4:08:22 PM
Area | Server Services
Description | Hostname: hs-appsdev.hydroshare-org Operating System: CentOS Linux 7 Number of CPUs: 2 Amount of Memory: 8 GB Amount of Storage: 90 GB Additional Storage Mount Location: 60G of storage should go to /var. Include service user hydroapp: uid=20

[2017-08-18 21:22] pkdash opened #2280 "Resource list endpoint returns resources that do not meet the coverage query parameters"
It seems when a box type coverage is passed to this endpoint the list of resources returned includes some resources that do not have any coverage data. These resource should not be part of the returned resource list.

![image](https://user-images.githubusercontent.com/2523434/163592175-6fcf8b6b-23ee-486c-9e3f-89a962189024.png)

[2017-08-19 13:36] pkdash opened #2281 "Composite resource page reload not working - hotfix"
When user sets a file type, on successful setting of file type the page should reload automatically. It is not happening in the current release candidate 1.12. This needs to be a hot fix.

[2017-08-20 17:04] dtarb commented on #2229
I am OK with just following @horsburgh suggestion and having a week embargo period for a user to withdraw the DOI request, or for an administrator to identify the DOI request as inappropriate and to withdraw it and send the user an email.  If this is simpler than the steps I outlined above I am OK to go with it.  But this does require
-	Some functionality for a user to withdraw the request.
-	Some

[2017-08-21 01:36] pkdash commented on #2281
Will close this as soon I can test this hotfix on beta.

[2017-08-21 01:54] horsburgh commented on #2229
@dtarb - the more I think about this, the more I think we need a publication queue. First, I think we should try to minimize changes to the existing resource landing page. If we could avoid doing additional conditional functionality on that page, I think it would be cleaner. And, we need to be serious about publication, so we can't afford for email notifications to get lost or for miscommunication

[2017-08-21 12:57] hyi commented on #2229
@horsburgh agreed your suggested approach seems cleaner and more modular. My thoughts:

- This does not cover the functionality for resource owner to retract resource publication as detailed by @dtarb in his outlined approach. We could add that, but I think that probably would not add much value since based on what happened in the past with mistaken publication instances, the owners who published

[2017-08-21 19:19] aphelionz opened #2283 "Normalizing University Data Set"

[2017-08-22 18:02] horsburgh commented on #2229
@hyi - your first point is valid, but with a person reviewing resources before they are formally published, any resources carelessly submitted for publication should be caught. There may still be instances where someone submits something for publication, it gets published, and then later (maybe even much later) they realize an error. This happens with papers and other types of publications. We hav

[2017-08-22 18:54] dtarb commented on #2229
See #1607 for an example of where users made a mistake and wanted to undo it.  This issue got us started in this discussion 8 months ago.  (And I am sorry if my frustration at our inability to address something like this in 8 months is coming through.  It seems we, as a team, need to figure out a more efficient way of deciding what to do and doing it.)

[2017-08-22 19:01] danames commented on #1692
It has been several months since this list of requested updates to the rest client was posted by @shawncrawley. Who is in charge of the REST client at the moment? Is it still @pkdash ?

[2017-08-22 19:03] danames commented on #1571
More specifically, once the Resource Creator app is finished and posted to Apps, then we can test this by finding resources in data.cuahsi.org and then turning them into referenced time series JSON files in a composite resource.

[2017-08-22 19:25] ChristinaB commented on #2229
Jumping in from the side here since @dtarb brought in #1607 as an example.

Surely this is not a unique problem. Has anyone looked into the policies and interface processes that all the other DOI providers use?

Could we disable the DOI publication button until the user has done an online training course? This could be a 5 min video and a form where they click a few buttons that verify they unders

[2017-08-22 19:29] ChristinaB commented on #2229
My suggestion is an iteration of
@dtarb  suggestion above
5. Devise a system whereby users can go through training and upon passing the training be automatically added to the list of users who can approve publication. This could be online training similar to what we (at USU) have to do for use of purchasing cards, or to be authorized to drive university vehicles. They could then approve their own

[2017-08-22 19:30] horsburgh commented on #2229
@dtarb - No automated process or a person in the loop doing a quick review of resources submitted for publication is going to solve #1607. Do you want the person in the loop to call each person who submits a resource for publication and ask them if they read the agreement and if they were sure they were sure when they clicked through the warnings and agreements?

I suggested a one-week delay befor

[2017-08-22 19:47] ChristinaB commented on #2229
@horsburgh  - I agree this is a policy issue, and in theory 1-6 could work, however, we don't have a process to support volunteer or paid 'publishers' and whether or not we really want to do that goes beyond HS team policy to  CUAHSI policy, because once in place, they will have to support it.

[2017-08-22 19:50] ChristinaB commented on #2229
From a user point of view,  I would assume that using HS is more attractive as a streamlined self-publishing tool than imposing extra layers of publication management. We could do that with a self-publishing training process that enables access to formal publishing.

[2017-08-23 12:59] dtarb commented on #1692
@aphelionz is now in charge of the REST client.

[2017-08-23 14:23] hyi commented on #2229
The idea from @ChristinaB sounds more attractive to me than a human-in-the-loop approval process we are proposing to implement since the publication mistakes come from users' ignorance on what resource publication really meant in HydroShare. We could probably embed a self-publishing short training process that has to be clicked through and acknowledged before Publish button is enabled. I am sure t

[2017-08-23 15:12] danames commented on #1692
@pkdash on Feb 1 said that the metadata update via REST client is working now. So if that is the case, then the only part missing might be the "Is Part Of" relationship management that @dtarb described on Dec 6, 2016. @aphelionz  can you tell us if this has been implemented? @dtarb if "parts" has not been implemented yet, do you still see it as a priority?

[2017-08-23 17:15] pkdash commented on #1692
@danames @dtarb @aphelionz "Is Part Of" is stored as a 'relation' core metadata element. It has been implemented.

[2017-08-23 20:17] Maurier commented on #2273
@aphelionz, the following checkpoint is not working in the current deployment at beta.hydroshare.org

The script being served is outdated. Here is the most recent one for comparison:
https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/hs_file_browser.js

[2017-08-24 01:11] pkdash commented on #2281
Did test beta and seems to have fixed this issue. So closing.

[2017-08-24 01:11] #2281 closed

[2017-08-24 14:50] aphelionz commented on #2273
@Maurier Thanks for checking on this. Can you create a hotfix to get the proper script in there? Not sure what happened in the RC cut.

[2017-08-24 15:15] Maurier commented on #2273
@aphelionz, I think this has happened before where the scripts in a deployment appear outdated. A simple collectstatic should fix it. Otherwise point the branch used in the deployment and I'll investigate further.

[2017-08-24 15:20] aphelionz commented on #2273
@cbcunc @mjstealey Can you confirm that a collectstatic can fix this?

[2017-08-24 15:24] mjstealey commented on #2273
Result from `collectstatic` on beta

[code]

No new scripts based on the output...

[2017-08-24 15:31] aphelionz commented on #2273
@Maurier See above.

[2017-08-24 15:52] Maurier commented on #2273
@aphelionz, weird but it is working now.

[2017-08-24 15:53] aphelionz commented on #2273
alright! cool. I'll notify @phuongdm and @mjstealey

[2017-08-24 15:54] #2273 closed

[2017-08-24 15:54] mjstealey commented on #2273
Cache issues perhaps?
Browsers can be annoyingly cache retentive...

[2017-08-30 03:02] dtarb opened #2288 "Gracefully handle attempts to delete published resources"
If I go to the my resources page I can select (place a check next to) a published resource and click delete (the trash can).  I then get prompted to confirm.  If I click confirm I get an indefinite spinning wheel.  This is because the system correctly does not delete a published resource.  However the interface should not hang with the spinning wheel.  Instead I suggest a message when the delete b

[2017-08-30 15:48] zhiyuli opened #2289 "NWM Viewer app: implement "lateset" parameter to retrieve most recent data without specifying a date"
Tim Whiteaker: "I just tried your subsetting service for the first time right now.  What do you think about allowing "latest" as the value for the startDate parameter, so that I can get the latest forecast. This would be helpful because, although you give me the date of the latest forecast, I do not know the hour (e.g., 06, 12, 18) of the latest forecast that you have."

[2017-08-30 15:52] #2283 closed

[2017-08-30 18:20] horsburgh commented on #2226
I've deleted this resource. I believe that the root cause of this issue is now being covered under #2266 so I'm closing this one.

[2017-08-30 18:20] #2226 closed

[2017-08-30 18:34] Maurier commented on #2288
@dtarb, I need delete permissions on a published resource to test this. Could you give me access in one of our sandboxes? Perhaps beta.hydroshare.org

[2017-08-30 19:31] ChristinaB commented on #2266
@alvacouch
Please add datestamp column in the resource contents.  This helps with sorting and versioning and verifying.  Thanks!

It personally is an issue for me that I don't know when a file was last uploaded. And then I got an email from a colleague related to Collections, their issue was that the generic resource has been updated, but the date listed for the resource in the Collection is not.

[2017-08-30 20:13] Maurier commented on #2288
@dtarb, I found an error and deployed a fix to https://playground.hydroshare.org/my-resources/

Please test and confirm if it worked.

[2017-08-30 20:17] dtarb commented on #2288
It works properly for me on Playground.

[2017-08-31 19:53] alvacouch commented on #2266
@horsburgh @ChristinaB @dtarb @Maurier @aphelionz @martinseul

Please see [this document in google drive](https://docs.google.com/document/d/1BCyvQjInF9zkosvaGokG5hFkcMAhAJZ3aI86KR3I54I/edit#) for my detailed thoughts on this problem.

I am prepared to switch the ground truth to iRODS from Django, but there are some downsides that affect usability. Pay particular attention to the two options at th

[2017-09-01 17:41] aphelionz opened #2291 "[DOI Registration] "Publish This Resource" Button Updates"
- [x] The formal "Publish this resource" button should only be enabled for resources that are already public. This will require users to make them public first and avoid the temptation to click the button for non-public resources. It will also eliminate some of the confusion between public and formally published.
- [x] The formal “Publish a resource” button should be greyed out for users with inco

[2017-09-01 17:45] aphelionz opened #2292 "[DOI Registration] Disable formal publication using the API"
Simply remove the functionality from the API as well as the hs_restclient.

[2017-09-01 17:47] aphelionz opened #2293 "[DOI Registration] Pending Queue"
- [x] Place resources submitted for publication in a publication pending queue
- [x] Alert reviewers that there are resources pending publication.
- [x] Implement a simple system for reviewers to either approve a resource for publication (click a button) or disallow it (reverting resource to original state) and transmit explanatory message (I suggest email) to the resource owners.
- [x] Add a step

[2017-09-01 17:48] aphelionz opened #2294 "[DOI Registration] Metadata Updates"
Change messaging in help pages and on any other websites to be consistent with this approach. The messaging should be clear that this is a value added service provided by CUAHSI to ensure that published resources are of a minimum level of completeness to facilitate discovery. Messaging should also include the criteria used for review (see list below).

[2017-09-01 17:50] aphelionz opened #2295 "[DOI Registration] User-side Updates and Appeals via Email"
- [ ] Implement functionality for the owner of a resource that has been submitted for formal publication to remove the resource from the publication queue.  I suggest a button on the landing page visible only to owners, when a resource is on the pending list. This button will only be available when the resource is pending publication. Once a resource has been approved for publication by a CUAHSI r

[2017-09-01 17:50] aphelionz opened #2296 "[DOI Registration] Reminders"
Periodically (daily) remind reviewers to check the pending list if it has resources in it

[2017-09-01 17:51] aphelionz opened #2297 "[DOI Registration] Design Training Module"
Develop an online training module that provides guidance for users on preparation of resources for publication and the DOI publication process

[2017-09-01 17:51] aphelionz opened #2298 "[DOI Registration] Meta-Issue"
Stage 1:
- [x] [DOI Registration] "Publish This Resource" Button Updates #2291
- [x] [DOI Registration] Disable formal publication using the API #2292
- [ ] Add reserve a DOI functionality #2558

Stage 2:
- [ ] [DOI Registration] Pending Queue #2293
- [ ] [DOI Registration] Metadata Updates #2294
- [ ] [DOI Registration] User-side Updates and Appeals via Email #2295

Stage 3:
- [ ] [DOI Registrati

[2017-09-01 17:59] horsburgh commented on #2293
Add a step to alert users that their resource has been added to the publication queue and that they will be notified once their resource has been approved for publication. This alert should be a message within HydroShare. It should probably also indicate that they can click a button on the resource landing page to remove their pending publication request until the resource has been approved by the

[2017-09-01 18:03] aphelionz commented on #2293
Thanks @jsadler2. When we get to this we can discuss if we want to break this into separate tickets or not.

[2017-09-01 19:41] dtarb commented on #2297
I am unassigning myself and @ChristinaB as I need to delegate activities like this and Christina may not have time (but she is welcome to take it back if she wants).  I am assigning @Lizabrazil as I think this fits in CUAHSI's user support work.  I am happy to review design drafts, but will not be able to develop the initial design.

[2017-09-01 20:37] horsburgh commented on #2266
@alvacouch - I think option 2 can be workable if the right messages are provided to the user so they know what to expect.

[2017-09-01 21:10] hyi opened #2299 "Fail to create resource when file names include unicode characters"
This issue came from iUTAH data measuring oxygen levels. For some reason, file names include some unicode characters even if they cannot be distinguished from normal characters. Used their test data to reproduce the issue.

[2017-09-01 21:15] horsburgh commented on #2299
@hyi - yes, this came up with an iUTAH resource that had a file containing a strange unicode character. We explained to the user that he probably shouldn't have unicode characters in the filename and so renaming the file was a short term fix for this one case. But, I'm not sure we can count on this never happening again with other users.

[2017-09-01 21:26] hyi commented on #2266
@alvacouch @horsburgh I think option 2 is in line with my thinking when I proposed to make the time-consuming file operation to run asynchronously as celery tasks. In a way, it is kind of like async bag download operation where the wait/in progress message shows before the bag creation is done by async celery task.

[2017-09-01 22:21] dtarb commented on #2266
@alvacouch I added some comment text to the [document in google drive](https://docs.google.com/document/d/1BCyvQjInF9zkosvaGokG5hFkcMAhAJZ3aI86KR3I54I/edit#) that you mentioned.  Nothing profound, just clarifying some of the raster handling details.  I am supportive of the approach to switch ground truth to iRODS and also favor option 2 above.  It is better to only disable the parts that depend on

[2017-09-01 22:25] dtarb commented on #2274
Closing as CUAHSI made a policy decision to go with a manual review process.  See #2298

[2017-09-01 22:25] #2274 closed

[2017-09-01 22:28] dtarb commented on #2229
Closing as this is superceded by manual review process outlined in #2298 and CUAHSI policy decisions for a manual review process.

[2017-09-01 22:28] #2229 closed

[2017-09-01 22:38] dtarb commented on #2215
This was implemented in 1.12

[2017-09-01 22:38] #2215 closed

[2017-09-02 21:12] alvacouch commented on #2266
@dtarb @horsburgh There is one downside to option 2 that I didn't mention, which is that the science metadata will not be consistently available when interacting with files in the file browser. This is again a speed issue. E.g., if the user uploads 100 new files, the file browser will not immediately try to harvest their metadata, but instead, will provide what information it has at the time of th

[2017-09-02 21:32] alvacouch commented on #2266
@dtarb @horsburgh @hyi @aphelionz @martinseul @ChristinaB @Maurier See the end of the [document in google drive ](https://docs.google.com/document/d/1BCyvQjInF9zkosvaGokG5hFkcMAhAJZ3aI86KR3I54I/edit#) for some comments on how the UI would handle lazy synchronization.

[2017-09-02 23:25] dtarb commented on #2266
@alvacouch I read the comments at the end of the document in google drive and I do not really see them as a problem.  There is currently a "please wait for the bag to be created message" when a user clicks to download the bag for a resource where the bag has not been created.  This is accepted current behavior.  I do not see a need to change the interface behavior.

Also, there is no web browser U

[2017-09-03 12:56] dtarb commented on #1673
@zhiyuli Is this still outstanding.  I see a merged PR so if this is already done, please close.  If not, please note what additional work is needed.

[2017-09-03 13:04] dtarb commented on #1610
This needs to (also) apply to opening a supported "file type" in a resource that holds typed files (like composite resource).  A supported type may be multiple files grouped together (such as shapefile and vrt geographic raster) so keying off extension alone may not be sufficient.  Also, extensions are not 100% unique and reliable.

[2017-09-03 13:37] dtarb commented on #1570
Closing this issue as it has been superceded by #1571 that has more detail.

[2017-09-03 13:37] #1570 closed

[2017-09-03 13:44] dtarb commented on #1571
Tested today and found the following small shortcomings.

- When a .json.refts file is set to refts type and the resource title has not yet been entered, it needs to take the value from the title entry in the refts file.
- Editing refts file type title should change the title entry in the refts file (or provide the option for this, similar to sync operations in netcdf and sqlite time series)

Also

[2017-09-03 13:57] dtarb commented on #1756
I tested this today and found that while there is a check box
![image](https://user-images.githubusercontent.com/3456833/30003582-015e9488-907d-11e7-99f6-d1a725ff43d3.png)

on resource landing pages, checking it does not stick.  The page appears to refresh and then the check mark goes away.  @pkdash can you please assess what is going on and advise if this is something you, @Maurier or @aphelionz

[2017-09-03 14:00] dtarb commented on #1649
Closing as this is superceded by manual review process outlined in #2298 and CUAHSI policy decisions for a manual review process.

[2017-09-03 14:00] #1649 closed

[2017-09-03 14:03] dtarb commented on #1607
Closing as this is superceded by manual review process outlined in #2298 and CUAHSI policy decisions for a manual review process.

The only way to delete a published resource now, and once implementation of #2298 is complete will be to request from CUAHSI system administrators that it be deleted.

[2017-09-03 14:03] #1607 closed

[2017-09-03 17:05] pkdash commented on #1610
I don't know what benefit we would get by registering a web app with file extension for files in resources that are not of composite resource type. I suggest we allow web apps to be associated only with non-composite resource types (which we have already implemented) and file types (need to implement) that live within composite resource. Once a web app is registered  with a specific file type, use

[2017-09-03 17:51] dtarb opened #2301 "Establish simple web page to replace apps.hydroshare.org"
Develop/establish simple web page with buttons for launching CUAHSI approved apps to replace apps.hydroshare.org.  I suggest this web page be hosted at www.hydroshare.org/apps and that this have a layout similar to apps.hydroshare.org (but consistent with the www.hydroshare.org style) with a button for launching each app from its icon and an “i” button that you can hover over to learn more informa

[2017-09-03 17:57] pkdash commented on #1756
@dtarb I will look into it today and may have to do a hotfix.

[2017-09-03 18:01] dtarb commented on #1161
@zhiyuli indicated that this functionality has been implemented and demo's but not merged and deployed due to not having an easy way to mark a web app as Approved.

I suggest we use a HydroShare resource to hold a list of approved apps (e.g. as a CSV text file with their name and resource ID).  Then access to editing this resource can be managed through HydroShare access control.  Then Open With f

[2017-09-03 18:43] dtarb commented on #1610
I think @danames wants to allow Open With based on mime types for which we do not code file types in composite resources.  E.g. a pdf or jpg in a generic resource.  I am happy to support this use, but do want to ensure that we have the functionality for supported file types within composite resources too which is more than specifically focusing on file extensions that Dan writes about in introduci

[2017-09-03 20:36] pkdash opened #2302 "Checkbox for agreement to file download not working"
It seems a regression issue. Needs to be a hotfix for master.

[2017-09-04 00:01] dtarb commented on #1610
Noting the need for open with to act on formally typed files in composite resources as well as files matched by extension, the Web App Resource type needs additional entries to have a user select not only resource type, but also file type (from the list of file types implemented) and extensions.  File types should be a list of check boxes similar to resource type.  Extensions can be a CSV separate

[2017-09-04 00:25] pkdash commented on #1756
@dtarb A hotfix PR has been created. Waiting for code review and approval.

[2017-09-04 17:20] pkdash opened #2304 "Prevent editing of file level metadata for reference timeseries file type"
This includes title, keywords and temporal coverage.

[2017-09-04 17:37] dtarb commented on #2304
Content should only be non editable if it is part of the refts file.  Did we settle on what mandatory entries were?  Are title and keywords among them.  If title and keywords are not required parts of the file, then they could and should still be editable.

[2017-09-04 19:03] pkdash commented on #2304
@dtarb
The last example of json file that I got from @danames had only 'sampleMedium' as optional, which means everything else is required. Also in the same example he had 'sampleMedium' set to 'unknown'. So I did not make it optional. However, you wanted 'title', 'keywords' and 'abstract to be optional. So in the current implementation only those 3 are optional.

So you want these 3 elements (tit

[2017-09-04 21:00] dtarb commented on #2304
I certainly do not want to redesign what is settled, so I think you should go with what @danames and @martinseul had as required.  What I was trying to get clear is implementation of the principle that content that comes from the JSON file should not be editable, whereas content that is not in the JSON file should be user editable, so users can add it.

With this:
- If an item is required and the

[2017-09-04 22:30] pkdash commented on #2304
I will be then making further changes to implement these new set of requirements. Hope to get it done by next week.

[2017-09-04 22:35] dtarb commented on #2304
Sorry that my pointing out of small shortcomings in #1571 has ballooned into new requirements.

[2017-09-05 18:48] alvacouch commented on #2266
@dtarb @goodalljl @horsburgh The way that I envision this working is that there'll be a validation step after upload that checks whether the set of uploaded files is appropriate. If the set of files is inappropriate, the UI and/or REST API will inform the user. It will not ever delete files. The user will have to delete any extraneous files before the resource will be considered valid.

* This is

[2017-09-06 01:48] pkdash commented on #1161
I think we implement a new page for managing apps and provide a menu option (MANAGE APPS) on the upper navigation bar to access this page. This page should list all web apps similar to listing of resources in my resources page (allow sorting). For each web app provide a checkbox for approval. Each row of web app should provide necessary information (title, purpose, web app author etc) about the we

[2017-09-06 13:08] dtarb commented on #2093
This has been deployed.

[2017-09-06 13:08] #2093 closed

[2017-09-06 13:10] dtarb commented on #2065
This is correct as currently deployed.  Closing, while noting that I am uncertain whether this is a manual or automated syncing configuration, and if manual a separate issue to ensure automated syncing may be required.

[2017-09-06 13:10] #2065 closed

[2017-09-06 13:15] dtarb opened #2306 "Find and edit HTML links in help.hydroshare.org that still point to pages to point to help"
There are links in help.hydroshare.org that point to the deprecated pages.hydroshare.org.

Specifically many links in https://help.hydroshare.org/modeling/ and https://help.hydroshare.org/modeling/jupyter-python-notebook/

The issue #2277 is updating links in www.hydroshare.org, but these links in help.hydroshare.org will require manual editing (I do not know of an automated way to fix these).

[2017-09-06 16:09] Lizabrazil commented on #2306
@dtarb When i go to hydroshare.org and click on HELP it navigates to pages.hydroshare.org
I do not see the help.hydroshare.org implemented anywhere on the site. I cleared my cache.

[2017-09-06 16:13] Lizabrazil commented on #2306
@mjstealey I think this is something only you have the admin to fix..?

[2017-09-06 16:15] dtarb commented on #2306
@Lizabrazil help.hydroshare.org will be implemented soon once #2277 and associated pull request #2278 get deployed.  Then help will be the operational help site.  The editing issue here is to get help.hydroshare.org ready for this by getting all its internal links correct.

[2017-09-06 17:48] zhiyuli opened #2307 "NWM Viewer: handle polygon with holes"
Current subsetting api has some troubles in handling polygon with holes.

polygon file from Tim Whiteaker
![image](https://user-images.githubusercontent.com/10070599/30126387-0c7798c8-92f9-11e7-9dfa-2e727cc273c2.png)

[2017-09-06 19:02] hyi commented on #2293
@aphelionz I think this issue, although on stage 2, is ready to be worked on. In terms of division of labor between you and me on this issue, I am thinking I can work on all the checkboxes outlined above, and you can work on setting up the process for assigning reviewers and having this list of reviewers for DOI approval available in Django so that the approval page with all pending publications i

[2017-09-06 20:07] rayi113 commented on #2306
Occurances of https://pages.hydroshare.org/* have been manually changed to https://help.hydroshare.org/* on https://help.hydroshare.org/ (refresh browser page prior to testing this).

[2017-09-06 20:22] Lizabrazil opened #2308 "Broken Search Box on Discover page"
When I type "industrial" into the text search box on https://www.hydroshare.org/search/ I should have this resource returned: https://www.hydroshare.org/resource/4800f6fafe7e43bc969a3770ea817738/

Only when I narrow resources down by owner or author does this resource appear.
Seems the text search functionality is broken.

![image](https://user-images.githubusercontent.com/13852599/30132751-808e5d

[2017-09-06 22:11] zhiyuli commented on #2307
It turns out to be a 'invalid' geometry issue. The original polygon (shapefile) is a self-intersection polygon which is not supported well in GeoJSON format. After fixing the intersected portion, subsetting API started working again.
![image](https://user-images.githubusercontent.com/10070599/30136845-fbb8d504-931d-11e7-8a22-7d3bd59602eb.png)

![image](https://user-images.githubusercontent.com/100

[2017-09-07 18:06] aphelionz commented on #2293
@hyi I need a bit more information - who is allowed to access the admin panel currently? is it only the "admin" user or are there other "staff members" in Django, as they're called?

[2017-09-07 18:07] aphelionz commented on #2307
Wow, good catch!

[2017-09-08 16:01] aphelionz commented on #2293
Right, but I'm asking - do such users already exist or would we be creating a new security ring for this process?

[2017-09-08 16:07] hyi commented on #2293
@aphelionz Such users don't already exist and yes, we would be creating a new security ring for this process if this would be the approach we would be going with. Could you spearhead this to come up with a better approach we should go with?

[2017-09-08 16:09] mjstealey commented on #2293
@aphelionz

On www:
- admin is the only "**official**" administrative user created for purposes of administering the site.
- Other users have "**administrative accounts**" that grant them the same level of access as the admin role
  - This extends to PIs and lead developers generally (would need to scan the users to verify exactly who this applies to)
- To my knowledge there are no hybrid accounts

[2017-09-08 17:36] aphelionz commented on #2293
@mjstealey .@hyi Copy that, and thanks. I see nothing MAJORLY wrong with creation a small group of users and using the built-in permission system to restrict access to just the moderation queue. The code required would be minimal or nil.

[2017-09-08 18:04] horsburgh commented on #2293
@hyi and @aphelionz - I know @dtarb suggested maintaining the list of resource reviewers in a CSV file inside a HydroShare resource. The discussion you have had above where you are proposing to instead define these people using the Admin functionality in Django (not as admins but as a new kind of user with reviewer/publisher rights) seems to me like the right way to go.  I'm kind of going from the

[2017-09-08 19:18] aphelionz opened #2309 "University Data Set Tag Input UI"
Reference ticket for pull request.

[2017-09-08 20:59] hyi commented on #2293
@horsburgh @aphelionz @mjstealey @cbcunc I played a bit with Django admin on beta, created a resource publication approval board group, and added myself with staff status into the group, and played a bit on assigning limited permissions to this group. It seems to me the default Mezzanine admin functionality does not have the granularity we desire for managing resource publication approvals. For ex

[2017-09-08 21:01] dtarb commented on #2293
One other thing to consider is whether we want to build additional dependency on Mezzanine admin features.  Some on the team are pushing for removing Mezzanine, and while that may be a major rethink, not building dependency where it can be avoided may be wise.

[2017-09-08 21:10] hyi commented on #2293
@dtarb Mezzanine admin is built on top of Django admin with some enhancement, mainly on menus, orderings, etc. See http://mezzanine.jupo.org/docs/admin-customization.html for details. I don't think we will be using specific Mezzanine customized features, but rather only use the standard Django admin features with built-in permissions.

[2017-09-08 21:11] horsburgh commented on #2293
@dtarb - agreed. I was under the impression that this was a Django functionality and it looks like @hyi confirms that we wouldn't need to use Mezzanine.

[2017-09-08 23:25] dtarb commented on #2293
OK.  I was just keying of the writing that named "Mezzanine admin" not Django admin.  I am happy for you to all do what is simplest.  I offered the CSV in a resource solution because I thought it would be simple and not require any additional interface elements.

[2017-09-09 02:42] aphelionz commented on #2293
@dtarb Makes total sense. As it stands we can do this using core Django admin features and core Django groups, which is great. I can personally live with needing to loop an admin user in to add/remove somebody from the publication approval group, as it won't be happening very frequently.

🥇 **HOWEVER** 🥇

If we need to, each `ModelAdmin` instance has some functions you can override to only give us

[2017-09-11 13:34] hyi commented on #2293
@aphelionz @dtarb @horsburgh I agree with @aphelionz that since adding or removing users to or from the resource publication approval group should be infrequent, it sounds reasonable for system admin to manage this. If we can live with this, the code just need to only allow this resource publication approval group members to access the resource publication pending queue, which is easiest without r

[2017-09-13 14:52] hyi commented on #2299
@horsburgh @Maurier @aphelionz I tried to verify this fix on dev.hydroshare.org and found even though the unicode issues have been resolved on Django side, it still exists on iRODS side although it works just fine with iRODS docker container which I was using in my local development environment when testing the fix. After some further investigation, I found iRODS can indeed handle file names with

[2017-09-13 15:19] hyi commented on #2299
@horsburgh @Maurier @dtarb I believe you all have the test files that include unicode character in file names. Can you test it out on dev.hydroshare.org to see if this unicode in file name issue gets resolved? I created a PR for django_irods submodule here: https://github.com/hydroshare/django_irods/pull/31 and already manually applied that fix on dev.hydroshare.org. Before applying the fix, it ga

[2017-09-13 19:12] zhiyuli opened #2312 "NWM Explorer app failed to download files"
Tim from UT Austin reported NWM Explorer app on appsdev server failed to download some NWM files.
A initial investigation indicates some exceptions occur when extracting file metadata/attribute from Linux file system.
A quick dirty remedy has been applied that skips file metadata extraction and display once any exception occurs, which should be able to let users download the files they want for no

[2017-09-14 07:39] lichray opened #2313 "Private sharing link"
Intro
=====

Feature request.  This feature presents in Figshare.  A resource owner can request generating a link to allow any user who obtained the link to have read access to the private resource.  The concept also present in many collaboration products as well, such as Google Docs, HackMD, etc.

Details
======
Figshare also support disable the link, and if the resource owner request generating

[2017-09-14 18:43] horsburgh commented on #2299
@hyi - should I be able to log in at dev.hydroshare.org to test this? I can't.

[2017-09-14 19:15] dtarb commented on #2299
@horsburgh you may have to create an account.  I think that every time dev stands up it is clean, as opposed to other testing platforms that may be stood up with live data.

[2017-09-14 19:33] hyi commented on #2299
@horsburgh Right, dev is different from other VMs, it does not have database pre-populated. So you'll have to sign up to create a new account, then login, and go from there to test it out.

[2017-09-14 20:57] cbcunc commented on #2279
Ref hydroshare/infrastructure-support#7

[2017-09-15 14:58] horsburgh commented on #2299
@hyi - I just created an account on dev.hydroshare.org to try this. First, the resource creation page was not the most recent interface. "Composite" was not the default resource type and the drag and drop interface was not present. I clicked the button to add files to the resource through the file browser. I selected the set of files that created this error in the past and then clicked the button

[2017-09-15 15:17] hyi commented on #2299
@horsburgh Weird, I took a look at dev and made sure the new code is there. Then I restarted the server and ran collectstatic. I have no idea why it is old interface for create resource page on dev, but I tested it again with two test files and they all work without unicode issues. Can you give it a quick try and see if it makes any difference? If you still run into this unicode issue, can you att

[2017-09-15 15:21] hyi commented on #2299
@horsburgh I just tried on beta and this issue appears to be fixed on beta as well. Can you give it a try on beta first to see if it works for you without unicode issues on beta?

[2017-09-15 15:42] horsburgh commented on #2299
@hyi - no joy. On beta.hydroshare.org I get the issue as originally submitted - I drop the files in the upload area and when I click "Create Resource," the files change so they have a red outline and when I hover over them I get a big red pop up with a bunch of code in it. There are 13 total files, but I think only one of them has the unicode issue. I'll try to figure out which one it is and link

[2017-09-15 15:48] horsburgh commented on #2299
@hyi - The file I just posted is the culprit. Interestingly, GitHub handled it no problem. If you do not get the issue with the file I uploaded let me know and I will send it to using another mechanism. I have no idea if GitHub modified the file in any way.

[2017-09-15 15:51] hyi commented on #2299
@horsburgh I looked at beta and found my new code is not there. I think for some reason, the unicode were probably stripped out at some point for the test files I have been using to test this issue. Let me dig out Maurier's original email and save attachement again to try it out and see if I can reproduce this issue. Will keep you posted.
Oh, I just saw your latest post. I actually tried the file

[2017-09-15 18:28] phuongdm commented on #2313
Figshare should have link's life time. In most of file sharing sites, links will be dead after one month.

[2017-09-15 18:33] lichray commented on #2313
In Figshare the link is dead after user "Yes, disable" the generated link.  I don't think it automatically expires.  Do you think expiring is necessary?  I feel expiring makes more sense for sites purely made for sharing rather than for long term storage.

[2017-09-15 19:05] phuongdm commented on #2313
In file sharing sites, premium users (of course paid money users) can keep their links alive forever (but have to keep paying :)) . With Figshare, we should give this ability for our "valued member". Who is "valued member":
+ who is usually login, upload resource, use HS app...
+ has some publications
+ we think they are "valued member"
...
with others who login once or twice times per year, and d

[2017-09-15 19:12] lichray commented on #2313
However, as long as a user filled in the necessary information he/she can make the resource public, and that will be permanent... Being said that this level of details doesn't affect myself; but the private sharing link itself is necessary for us to simplify collaboration.

[2017-09-16 18:52] aphelionz commented on #2301
@dtarb @hyi @pkdash

I started working on this and got decently far. I have a basic layout but I'm missing key pieces of metadata and am not sure where to find it. Namely I need a description, the URL of the web app, and a thumbnail or icon for it.

I tried both `ToolResource.objects.all()[0].metadata.homepage_url` and `ToolResource.objects.all()[0].metadata.toolmetadata.homepage_url` for example

[2017-09-16 21:26] pkdash commented on #2301
@aphelionz

To get the url of the app home page:
```ToolResource.objects.all()[0].metadata.app_home_page_url```

Similarly you can see all the metadata properties that you can access for an instance of ToolResource here:
https://github.com/hydroshare/hydroshare/blob/develop/hs_tools_resource/models.py#L292

[2017-09-16 21:27] aphelionz commented on #2301
Thank you sir!

[2017-09-16 22:05] aphelionz commented on #2301
Here's a glimpse into what I've done so far...

![image](https://user-images.githubusercontent.com/106148/30516304-fb1e9550-9b08-11e7-935a-e433db249d3f.png)

This is a simple listing of every "ToolResource" aka "Web App" in our database that has an icon and a URL. My thoughts right now are:

1. We obviously need to style this properly so that it's consistent with the rest of the pages. Any insight

[2017-09-16 22:05] aphelionz commented on #2301
Oh and also @dtarb or whomever you delegate to. What should the paragraph at the top say to replace "Quick block of text describing the apps, our methodology, etc..."

[2017-09-17 17:38] dtarb commented on #2301
I suggest the following lead in text:

HydroShare apps allow you to visualize, analyze, and work with resources (data and models) in HydroShare.  Apps are hosted on separate web servers from the HydroShare website (www.hydroshare.org) and access HydroShare resources using web services via the REST applications programmers interface (API). Anyone can write an app an then create a ["Web App" resourc

[2017-09-17 18:23] aphelionz commented on #2301
@dtarb

Thanks, I updated the text and will make a commit soon. I can use the abstract, I think. No need to create a separate description field and we can leave the category out for now.

However, I do think we should add an "approved" flag to the `ToolResource` model. Can that be part of #1610 or should I do it as part of this effort?

[2017-09-17 18:55] dtarb commented on #2301
The policy that approval of a web should be by CUAHSI is set.  I do not have a good opinion as to what is the best tactic for implementation, but if it is via an approved flag on the resource, then setting that flag will have to somehow be restricted to the list of allowed approvers, not the owners or editors of the resource as is the default for other resource metadata.  I dont really mind which

[2017-09-17 19:36] dtarb opened #2314 "Help menu item should go to help.hydroshare.org"
The help menu item at the top of www.hydroshare.org points to pages.hydroshare.org.  It should point to help.hydroshare.org, consistent with where About points.
![image](https://user-images.githubusercontent.com/3456833/30524244-2a72cc82-9bad-11e7-924c-d512e3b819e5.png)

[2017-09-17 19:50] dtarb opened #2315 "Include a link to contributing.rst in Readme.md"
This is so that new potential contributors can have attention drawn to our contributing guidelines.

[2017-09-17 20:27] dtarb commented on #2314
I fixed this editing the HELP page in Mezzanine manually as admin.

[2017-09-17 20:27] #2314 closed

[2017-09-17 20:29] dtarb commented on #2306
Searching in help.hydroshare.org does not find any remaining issues of pages.hydroshare so closing.

[2017-09-17 20:29] #2306 closed

[2017-09-17 20:50] dtarb opened #2317 "Decomission old help page"
The page https://www.hydroshare.org/help/ is still active in HydroShare.  Prioir to establishment of help.hydroshare.org this was the help and was maintained by @rayi113 .  I think the following needs to happen.

- [x] Documentation team @Lizabrazil to review https://www.hydroshare.org/help/ and make sure any content of value from there is included in current help pages. Check the box here when do

[2017-09-18 13:51] mjstealey commented on #1661
To my knowledge all help.hydroshare.org components have been added to the codebase.
Deferring to @cbcunc to verify and close issue

[2017-09-18 14:37] cbcunc commented on #1661
Actually, my pull request #2278 is pending review.

[2017-09-18 14:42] dtarb commented on #2315
Readme.md edited

[2017-09-18 14:42] #2315 closed

[2017-09-18 14:57] dtarb commented on #2302
Verified fixed on www.

[2017-09-18 14:57] #2302 closed

[2017-09-18 15:22] aphelionz commented on #2313
Discussed at 9/18 dev meeting - @alvacouch will investigate

[2017-09-18 15:28] zhiyuli opened #2318 "NMW viewer app: time step wrong for medium range grid output"
Issue reported from Tim (UT Austin) last Fri:

I subsetted a forcing file for medium range for 2017-08-25 t06.  The result had 240 time steps.  The first 120 steps were 1 hour apart, as expected.  However, after step 120, the same hour was repeated three times and then the following step was three hours later. Do you know why this is happening?  Note that I did not check the actual subsetted data

[2017-09-18 15:33] zhiyuli commented on #2318
A quick investigation indicates the wrong time steps exist in "original" NWM file and got passed down to subsetting results.

Replied by Drew:
Some updates:
I was able to duplicate the error you saw on subsetted medium range data, which made me confused as results for forcing and short range looked good and they are sharing the same function in code. So I downloaded some original NWM output files

[2017-09-18 15:36] zhiyuli opened #2319 "NWM viewer app: merge all days into a single file for subsetted analysis_assim"
Feature request from Tim (UT Austin):

The subsetting service currently creates one merged analysis_assim file per day.  Instead, can you merge all days into a single file?

[2017-09-18 16:30] zhiyuli commented on #2318
I just downloaded some medium range data for 20170918 from both NWC NOMADS server and HydroShare RENCI server and made a comparison against their time step values.

nwm.t06z.medium_range.forcing.f119.conus.nc
...
nwm.t06z.medium_range.forcing.f125.conus.nc

step	nomads	        renci
119	2.510238E7	2.510238E7
120	2.510244E7	2.510244E7
121	2.510244E7	2.510244E7
122	2.510244E7	2.510244E7
123	2.510262

[2017-09-18 17:04] crae2244 opened #2320 "GIS app: Forgetting Projections?"
I have uploaded a shapefile to Hydroshare. When I select "view With" -> "GIS App", the layer loads but in Africa, not in Missouri where it should. Below is the link to the resource.
https://www.hydroshare.org/resource/87507f766e634c9199b1f9275c14e9ad/

[2017-09-18 18:15] dtarb commented on #2024
There was a comment from @hyi in https://github.com/hydroshare/infrastructure-support/issues/12 about reusing bag_modified.  I am responding here because that issue is closed in favor of this one.  I suggest to be careful using bag modified.  Because if you copy a file whenever the flag is true and no one has created a bag, you may repeatedly copy the file unnecessarily.

[2017-09-18 18:27] hyi commented on #2024
@dtarb That is true, thanks for pointing it out. Agreed ```bag_modified``` flag is too broad for this specific case. I will see if I can use modified time stamp or manifest file for the netCDF file itself to determine whether there is a need for recopy to refresh the file. If that did not work, I would probably just add a new flag which I have been trying to avoid since the more flags we have, the

[2017-09-18 18:59] fryarludwig opened #2321 "Unable to create/update "Funding Agencies" resource metadata via the API"
I'm using the hs_restclient to create resources and update their metadata. The resource's title and abstract can be set and updated without issue. When setting/updating funding agencies, HydroShare responds in one of two ways: If the JSON for the funding agencies portion is syntactically correct, the request succeeds but the funding agencies are not updated. If the JSON for the funding agencies is

[2017-09-18 21:11] aphelionz commented on #2301
@dtarb I think we're just gonna keep the list of apps in a python array for now. It's simple, allows us to use the Django query set, and can be easily modified to add an app, which won't happen very often.

Here's some more UI stuff: http://recordit.co/tVQBBA4SND Note that we'll probably have to enforce some limitations on the description... or maybe truncate with a link to the resource page?

[2017-09-18 21:13] zhiyuli commented on #2318
Update: possible bug reported to NWC

[2017-09-18 22:25] aphelionz commented on #2301
https://playground.hydroshare.org/apps/

[2017-09-18 23:00] dtarb commented on #2301
General layout seems reasonable.  On a wide screen icons are very widely spaced, consider either wrapping or grouping.  Find a way to deal with explanatory text that does not fit.  E.g. Jupyterhub NCSA text does not fit.  Cull down to only the following approved Apps
- Swatshare (only the one without qualifiers)
- HydroShare GIS
- JupyterHub NCSA
- CUAHSI Data Series Viewer
- National Water Model

[2017-09-19 02:44] pkdash commented on #1573
@dtarb and @horsburgh Here is how I am implementing writing metadata changes to SQLite file:
- Metadata changes at the file level can be written to SQLite file. Though the user is allowed to edit keywords at the file level, keyword changes are not written to the SQLite file. Let me know if we should not allow user to edit keywords at the file level.
- Metadata changes at the resource level (includ

[2017-09-19 04:32] dtarb commented on #1573
I am happy to defer to @horsburgh.  On the keyword question my suggestion would be to be consistent with how this functionality works for the time series resource type.  If keywords editable there are not written to the SQLite file then don't write them for file type either.

[2017-09-19 13:09] pkdash commented on #1573
We don't write keyword changes to SQLite file for time series resource type.

[2017-09-19 13:23] dtarb commented on #1573
OK.  Then do the same for the time series file type.

[2017-09-19 14:13] alvacouch commented on #2308
@Lizabrazil @dtarb @martinseul @mjstealey @cbcunc

My initial theory is that the nightly updates to the SOLR catalog aren't happening. This should show up if they were up to date.

* My first suggestion is to first run the manual SOLR catalog building procedure that Michael used to build the catalog from scratch, and see if that addresses this particular problem.
* If that fixes the problem, I hav

[2017-09-19 14:28] aphelionz commented on #2301
@dtarb Another revision is up at https://playground.hydroshare.org/apps/

The only app that I couldn't add was the Data Rods Explorer. I couldn't find a webapp resource so we'll need to make a resource for that in HydroShare beta and prod when we finally test and deploy, respectively.

The apps that are currently on apps.hydroshare that would require championship are:

* Snow Inspector
* Cybergis

[2017-09-19 15:25] rayi113 opened #2323 "Private shared resource prompting for login doesn't land on that resource after logging in"
In the current version of HydroShare, when a private link is shared e.g. https://www.hydroshare.org/resource/8b0f1122242b41a4a1762be4dfb59b14/ ,  and a user with valid access to that resource is not logged in, once the user logs in HydroShare only lands them on the HydroShare overall landing page, and not on the landing page for that specific resource.  This is inconsistent with best practice that

[2017-09-19 19:32] hyi commented on #2299
@horsburgh I believe I finally got to the bottom of this issue. I have created PRs and once approved it can be merged and made into the next release 1.13. The code has been deployed on park.hydroshare.org for you to test. I have used the file you sent me which still fails on beta, but succeeds on park with the whole workflow including resource creation, deletion, adding and deleting files. Please

[2017-09-19 19:54] Lizabrazil opened #2325 "Composite Resource not autopopulating shapefile metadata"
I just worked with a CZO data manager that was attempted to use the composite resource. He uploaded a few different files, one of them being a shapefile . I thought that shapefiles were supposed to autopopulate the spatial coverage? If so, it is not working.
Also,  the HydroShare GIS app should be able to open a composite resource that contains a shapefile....was this ever worked on?
We should rea

[2017-09-19 21:02] horsburgh commented on #2299
@hyi - getting closer. I was able to successfully create and edit a resource using the offending testing files on park.hydroshare.org. Unfortunately, when I tried to download the zipped bag I get the same unicode error. Downloading individual files worked correctly.

[2017-09-19 21:15] hyi commented on #2299
@horsburgh Thanks for testing bag download which I had not tested, but I just tested that on beta, and it worked for me. I made that resource public for you to take a look here: https://park.hydroshare.org/resource/b9789fc0561b4c809e62c86ff193da3e/
Can you make the resource you tested with bag download issue public or share it with me so that I can use that resource to reproduce the issue, then fu

[2017-09-19 21:18] horsburgh commented on #2299
Here it is: https://park.hydroshare.org/resource/11edad2f4680485e9917f09c4f5323c7/
It should be public.

[2017-09-19 21:38] hyi commented on #2299
@horsburgh Just made a further fix. The bag download for your resource above now works. Also updated my PR with this further fix, looping in @aphelionz to keep him informed while doing code review for this issue. Can you test again on park and confirm this indeed fix the bag download issue?

[2017-09-20 01:20] dtarb commented on #2325
With composite resources you have to tell it that the files are a geographic feature.  The procedure is
1. load zip file with all parts of shapefile into composite resource
2. switch to edit mode
3. right click and set geographic feature type

The 3rd step above will harvest and autopopulate the metadata.

This is so far "by design" because when a zip file is uploaded into a composite resource it

[2017-09-20 01:42] dtarb opened #2326 "HydroShare GIS does not accommodate Web Mercator Projection"
This is reproducible with data in the test resource https://www.hydroshare.org/resource/148de6e6b8354318be24f68c128f3c7c/

The file SMFlowlineGeo.zip in NAD 1983 coordinates displays correctly in HydroShare GIS

The file SMFlowlineWebM.zip that is the same data in Web Mercator coordinates causes an error in HydroShare GIS.

[2017-09-20 16:59] horsburgh commented on #2299
@hyi - I just tested this again on park. It worked all the way through the bag download. +1 from me.

[2017-09-20 18:09] cbcunc commented on #2277
Merged per @aphelionz.

[2017-09-20 18:09] #2277 closed

[2017-09-20 19:42] alvacouch commented on #2308
@dtarb @martinseul @Lizabrazil @mjstealey @cbunc The manual catalog update process does not seem to be running now. We should turn that back on. However, the bug seems to have two parts:

1. The overnight update is needed and isn't running.
2. The immediate post of the resource to SOLR when it's made public does not include enough metadata for basic discovery.

A reminder of how this is supposed t

[2017-09-20 19:50] alvacouch commented on #2308
@phuongdm This is where we're discussing the SOLR problems.

[2017-09-20 20:45] cbcunc commented on #2308
I have enabled Jenkins->Housekeeping->nightly-rebuild-solr-index. It's set to run between midnight and 1am nightly. But I just manually, initiated it. I don't know how long it should take to run. But it seemed to be sitting and spinning, as well as running a Django shell, so I killed the job and investigated. hsctl It appears to only be running `docker exec hydroshare python manage.py rebuild_inde

[2017-09-20 20:47] cbcunc commented on #2308
There is no indication this job has ever run before through Jenkins. How have the index rebuilds been occurring all these years?

[2017-09-21 16:20] zhiyuli opened #2327 "NWM Viewer: add a new endpoint to return spatial query results"
add a new endpoint /nwm-forecasts/spatial_query/ to return a list of stream/reservoir comids or grid cell ids that intersect with a given polygon geometry.

User can use this results to inspect if the right features are included before performing real subsetting job and estimate how much time it will take.

[2017-09-21 21:18] alvacouch commented on #2308
@cbcunc I have no idea!

This may have been dropped from Jenkins for some reason.

[2017-09-21 21:24] alvacouch commented on #2308
@dtarb @Lizabrazil @martinseul @aphelionz I analyzed the code and it is really easy to duplicate the behavior that @Lizabrazil describes:

1. Create a resource with the wrong name.
2. Make it public.
3. Change the title to have a desired keyword that doesn't appear anywhere else.

That keyword will not be discoverable using the subject box. The reason is that SOLR data isn't updated except when so

[2017-09-21 23:14] dtarb commented on #2308
Thanks for tracking this down.

[2017-09-21 23:36] phuongdm commented on #2308
@alvacouch:

From 10:00am to 3:00pm this Wednesday, I and @yxiao did some investigations on the "SOLR unsecurity link" and found that "Last Modified" field of "Collection1" Core were changed several times. And, I agree with @cbcunc that the Jenkins's task didn't run on that time (in fact it never run before).

Is that the case you wrote: "SOLR is updated when a user explicitly changes something to

[2017-09-22 04:02] dtarb commented on #2325
@Lizabrazil does the explanation above suffice.  I believe that this issue is one of user education and fixing bugs in HydroShare GIS.  HydroShare GIS has these bugs itemized separately so fixes do not need to be tracked here.  If this explanation is OK, then could you adjust documentation to clarify use of composite resources and close this issue.  I am removing the bug label and labeling documen

[2017-09-22 18:14] phuongdm commented on #2308
@alvacouch , @cbcunc

+ ./hsctl managepy rebuild_index ===> asked me to make sure delete all docs or not ===> we can't call it in Jenkins task

+ ./hsctl rebuild_index  ===> run without asking  ===> could call in Jenkins task

On cuahsi-dev-1.hydroshare.org, it took me around 12 minutes to finish. I will manually run it tonight on www.hydroshare.org and see how long will it take then decide to run

[2017-09-22 20:14] cbcunc commented on #2308
./hsctl rebuild_index is the correct command to run (no managepy). Running it does not fix the problem in this issue though. I spoke with @mjstealey and rebuild_index has only ever been run by ./hsctl rebuild when rebuilding the site. It doesn't appear the intention was to run it every day or on a regular schedule, but maybe on demand from Jenkins.

[2017-09-22 20:16] phuongdm commented on #2308
Make sense, thanks

[2017-09-25 18:44] zhiyuli commented on #2327
deployed at appsdev
new endpoint implemented as "nwm-forecasts/spatial-query"

[2017-09-25 18:45] zhiyuli commented on #2319
deployed at appsdev.
Help page will be updated to reflect this changes shortly.

[2017-09-25 18:51] zhiyuli commented on #2289
Implemented and deployed on at appsdev.
Also a new endpoint (nwm-forecasts/latest-data-info) is implemented to info user what most recent data are available for subsetting:
{
   'short_range.forcing':{
      'date':'20170925',
      'time':'16'
   },
   'analysis_assim.forcing':{
      'date':'20170925',
      'time':'17'
   },
   'analysis_assim.land':{
      'date':'20170925',
      'time':'17'

[2017-09-25 20:07] aphelionz opened #2329 "Release 1.13 Issue Checklist"
Please review this list, check your work on http://beta.hydroshare.org, and check it off once the work is verified. Thank you!

- [x] finally got to the bottom of unicode in file name issue https://github.com/hydroshare/django_irods/pull/32 @hyi
- [x] Include a link to contributing.rst in Readme.md #2315 @dtarb
- [x] Fail to create resource when file names include unicode characters #2299 @hyi
- [

[2017-09-26 13:46] hyi commented on #2299
@horsburgh I have checked on beta release candidate for 1.13 and everything works as expected. Just to make sure, can you do a quick check as well on beta and close this issue if everything works as expected now?

[2017-09-26 14:29] zhiyuli commented on #2318
Update: This is a bug in NWM itself and will be fixed in Ver1.2
Closing...

From Fernando Salas:
Looks like this is a known bug. At some point in the past year we started using 1 hour forcing from GFS instead of 3 hour forcing and I think the bug slipped in at that moment. This has been addressed in v1.2 which is currently being tested for ops.

[2017-09-26 14:29] #2318 closed

[2017-09-26 19:27] dtarb commented on #2325
Are all the files zipped together?  Are one of the files in the zip file not supposed to be there?  Can you let me see that resource.  I would try take the message literally "one of more files are not of shape file type", so look for an extra or a missing file in the zip file.

[2017-09-26 22:45] dtarb opened #2330 "Add map based spatial coverage editing for composite resources"
For a generic resource it is possible to edit spatial coverage metadata by interacting with the coverage map.

Similar functionality is needed for the coverage metadata of a file in a composite resource.  At present text based coverage information can be added, but there is no map to edit.

[2017-09-27 18:56] Lizabrazil commented on #2325
Hi Dave, I'll make a copy of the resource and share it with you. It is to remain private, as the publisher has requested. Thanks.

[2017-09-27 19:04] Lizabrazil commented on #2325
@dtarb it should be in your resources now as Cross-CZO Soil Chemistry Dataset

[2017-09-27 19:12] Lizabrazil commented on #2308
I still cannot find the resource...
I need this to work next week for a class exercise. I typed "industrial" @alvacouch
Thanks

[2017-09-27 19:41] mjstealey commented on #2308
@Lizabrazil - Oddly typing in a portion of the word, like "indus" seems to find it.

![screen shot 2017-09-27 at 3 40 10 pm](https://user-images.githubusercontent.com/5332509/30934032-45aaea6c-a39a-11e7-9a32-51e88faa7e0f.png)

[2017-09-27 20:23] dtarb commented on #2302
This is not working on RC 1.13

[2017-09-27 20:25] dtarb commented on #2329
The file download agreement checkbox is issue #2302.  It was closed because it is working on www, but it is NOT working on the current release candidate, indicating that the www hotfix branch that fixed this does not appear to be merged with the RC branch that came from develop.

[2017-09-27 20:36] dtarb commented on #2308
@Lizabrazil for the workshop can you fix it by making it private then public as @alvacouch suggested.

[2017-09-27 23:13] dtarb commented on #2325
@Lizabrazil a proper shapefile has to have at least 3 files *.shp, *.dbf, *.shx.  See the documentation for shapefiles at http://doc.arcgis.com/en/arcgis-online/reference/shapefiles.htm which is linked in https://help.hydroshare.org/hydroshare-resource-types/geographic-feature/.  Just one *.shp file will not work, not even for ArcGIS.    For HydroShare it is required for composite resources to zip

[2017-09-28 01:22] pkdash commented on #2302
@dtarb This was a hotfix on master and seems didn't make into develop. @phuongdm or @aphelionz can one of you fix it?

[2017-09-28 04:57] horsburgh commented on #2299
Tested and everything works as expected on beta. Closing.

[2017-09-28 04:57] #2299 closed

[2017-09-28 19:45] aphelionz commented on #2329
@dtarb @pkdash https://github.com/hydroshare/hydroshare/pull/2331

[2017-09-29 04:08] dtarb commented on #2329
@aphelionz please let me know when the beta deployment reflects the #2331 PR so I can verify it works and check the file download checkbox.

[2017-09-29 19:53] jsadler2 opened #2332 "Metadata extraction slow for MODFLOW MI"
When either a '*.dis' file or a '*.nam' file is uploaded to a MODFLOW Model Instance, these files are read and metadata is extracted from them. This process takes quite a long time (maybe 30 seconds). It would be nice to have it done quicker, if possible.

[2017-09-29 19:55] jsadler2 commented on #2332
@edwmorgan I think a good thing to do initially would be to benchmark the process to see how long it takes with
1. neither the '*.dis' or the '*.nam' file
2. just the '*.dis' file
3. just the '*nam' file
4. both of them

[2017-10-02 12:19] dtarb commented on #2304
Tested and OK on beta release candidate.

[2017-10-02 12:19] #2304 closed

[2017-10-02 12:25] dtarb commented on #1571
Tested and working on release candidate 1.13.

[2017-10-02 12:25] #1571 closed

[2017-10-02 12:28] dtarb commented on #2329
I validated file level metadata for refts.

[2017-10-02 12:32] dtarb commented on #2288
Tested on release candidate 1.13.

[2017-10-02 12:32] #2288 closed

[2017-10-02 12:41] dtarb opened #2333 "Account confirmation message should indicate email address"
When a user creates an account there is the message
![image](https://user-images.githubusercontent.com/3456833/31077596-4f3771ae-a73c-11e7-9cea-10e20e73e0a6.png)

I suggest this message be changed to

The rationale for this is to help show users the email address they entered in case there was an error (typo) and they wonder why the did not get the email.

[2017-10-02 12:51] dtarb commented on #2329
In testing RC1.13 on beta I am unable to create an account because I am not getting account creation verification emails.

[2017-10-02 13:09] dtarb commented on #2255
@Maurier @horsburgh what is the status of this issue.  I see that there was a PR merged.  The spinning wheel does not seem to occur any more, and double click opens a folder, but double click on a file does not download it (as was part of the discussion above)

[2017-10-02 14:48] cbcunc commented on #2329
I found that in the local_settings, EMAIL_BACKEND was set to console instead of smtp. I confirmed this by also by adding a new user and finding the confirmation email for that new user in the gunicorn_supervisor log. So I changed local_settings to user the smtp backend and hsctl restarted beta. I created a new user again and got the confirmation email. We need to discuss on the conference cakk thi

[2017-10-02 14:56] dtarb commented on #2329
Thanks @cbcunc.  We also need to deploy the latest code that has PR #2331 in it to test.

[2017-10-02 15:12] horsburgh commented on #2255
@Maurier - can you have a look at this one and make sure the double click to download is implemented?

[2017-10-02 15:22] Lizabrazil commented on #2325
Makes sense. Once I figure out how to get credentials for the new mezzanine instance, I'll add to the page. Thanks

[2017-10-02 15:22] #2325 closed

[2017-10-02 18:45] cbcunc commented on #2329
#2331 deployed to beta.

[2017-10-02 19:24] Lizabrazil commented on #2308
@dtarb That did not work. I need this fixed by October 6th or I'll have to take out the HydroShare portion of the exercise.

[2017-10-02 23:58] danames opened #2336 "Web App Resource Updates Needed including new Resource Specific Metadata"
On the Resource Specific tab, include:

[Check box] Show this app on my Open With button:
(this will only make the app appear for resources you own. To have it appear on all public resources, contact CUAHSI.) - This appears for users - not just developer of this app.

* Testing Protocol URL: (should be a link to a page that gives repeatable steps to fully test the app)
* Help Page URL: (should be

[2017-10-03 00:40] dtarb commented on #2336
See also #1610 and #1609.  These indicate how web app resource type needs to hold information to support the resource types, file types, and file extensions it can be launched from (3 separate modes).

See also #1161 where there are also ideas about the Open With functionality.

[2017-10-03 19:53] Lizabrazil commented on #2308
@alvacouch If i search just for "plant" then i can find the resource.

[2017-10-03 19:56] alvacouch commented on #2308
@lizabrazil That suggests that the search query is not matching the first word in the title. Could you do me a big favor and see if that happens for other resources?

[2017-10-03 20:54] hyi commented on #2250
@dtarb @aphelionz @alvacouch I have updated my server-side script that copies public netCDF resources or composite resources with netCDF file type on demand and only refresh data on subsequent requests as needed by comparing the last modified time stamps. I have tested various scenarios and all work as expected, so @cbcunc and I have deployed this update to hyrax production server and @cbcunc has

[2017-10-04 17:18] Castronova commented on #2336
**Testing Protocol URL** may not fit every type of app, e.g. JupyterHub is too complicated to have a single testing procedure.  It should be sufficient to require unit tests that provide an X% coverage of the app's source.

[2017-10-04 17:18] ChristinaB commented on #2336
[app white paper.docx](https://github.com/hydroshare/hydroshare/files/1356763/app.white.paper.docx)

[2017-10-04 17:55] dtarb commented on #2136
This is non actionable.

[2017-10-04 17:55] #2136 closed

[2017-10-04 22:01] ChristinaB commented on #2336
Unit test would work for some Apps. A simple demo or workflow would work for others.  Just running a test Notebook may also be useful, these get dated quickly (but that's not the App, just the notebook).

[2017-10-05 13:00] alvacouch commented on #2308
This line is very, very suspicious

[line 19 of hs_core/discovery_form.py](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/discovery_form.py#L19)

This is the line:

[code]

The line includes the query from the search box (named 'q'). The query asserts that the text field "starts with" the query q. Since the text field is a catchall field, it contains all text from all fields in a no

[2017-10-05 13:30] alvacouch commented on #2308
Several things here are suspicious.

The code `startswith` would be fine if the text field were tokenized. However, it is not tokenized; it is a generic character field:

[Line 16 of search_indexes.py](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/search_indexes.py#L16)

Fixing that requires changing the declarations and re-indexing.

To fix this temporarily without re-indexing, se

[2017-10-05 14:17] alvacouch commented on #2308
@dtarb @Lizabrazil @martinseul The above proposal is not going to fix this. Somehow, the keywords are being tokenized and stemmed internally. I tried other words and the situation was consistent. For example, "variat" matches "variations" but "variation" does not. Likewise, "indus" matches "industrial" but "industria" does not. So, the search is stemming the words that come into text and then matc

[2017-10-05 14:46] alvacouch commented on #2308
@dtarb @Lizabrazil @martinseul
Here is the root of the problem:

[code]
This is applied to the text field (on beta). This reads that all words appearing in the whole resource are transformed by removing possessives, reducing to the stem of the word, etc.  The problem is that when you make a query, including one of these unmodified words doesn't match.

[2017-10-05 15:16] alvacouch commented on #2308
@dtarb @martinseul @Lizabrazil There is still something strange about this. Theoretically, both the query and the text should be stemmed. This doesn't seem to be happening. It seems that the query is not being so transformed. Perhaps this is the result of "startswith"; I don't know.

Just so you understand a bit more, here is some background.

"Stemming" is the process of deriving a root word from

[2017-10-05 16:17] pkdash commented on #2308
May be better to use icontains (https://docs.djangoproject.com/en/dev/ref/models/querysets/#icontains)

[2017-10-05 20:57] cbcunc opened #2340 "Change OpenDAP link to hydroshare directory off Hyrax root"
- [ ] Copy all the copies of HS NetCDF resources in /var/opt/hyrax/inedcdf_public_hydroshare to a new subdirectory /var/opt/hyrax/inetcdf_public_resource/hydroshare.
- [ ] Change tgt_path Hong's /var/log/bes/scripts/expose_pub_netcdf_res.py script on hyrax.hydroshare.org to point to the that hydroshare catalog subdirectory
- [ ] In hs_app_netCDF, change page_processors.py to generate links to `/op

[2017-10-05 21:04] cbcunc commented on #2340
@hyi @gantian127 @aphelionz ^^^ and ref http://hyrax.hydroshare.org/opendap/ and http://hyrax.hydroshare.org/opendap/nwm/

[2017-10-05 21:25] hyi commented on #2340
@cbcunc Nice and thorough summary of bullet points on the steps. Just want to point out that for the last bullet point, I have already created a repo in the hydroshare organization just for this purpose here: https://github.com/hydroshare/hs_netcdf_to_hyrax, so I have checked off that bullet point.

[2017-10-09 18:31] edwmorgan commented on #2332
Upload times for Issue #2332
1. no files: 4.45s
2. example.dis ONLY: 11.61s
3. example.nam ONLY: 16.64s
4. both files: 21.23s

[2017-10-10 14:10] alvacouch commented on #2308
@pkdash icontains is not implemented for haystack. Haystack is an incomplete implementation of the queryset model for Django.

[2017-10-10 14:28] alvacouch commented on #2308
@martinseul @dtarb @Lizabrazil @pkdash

My research suggests that the simplest fix is to replace `text__startswith=` with `text=`. This will invoke the default mechanism for matching in SOLR, which is term-by-term aggressive stem matching.

What this will do: Everything will be tokenized and matched word-to-word (both queries and titles):

* "Industrial" matches "Industrial"
* "Indus" doesn't matc

[2017-10-10 18:59] cbcunc opened #2341 "Pin djangorestframework to 3.6.4 in Dockerfile"
The development build is currently failing because of an update of djangorestframework that no longer supports Django 1.8 or 1.9. djangorestframework is installed as a requirement of django-rest_swagger. djangorestframework is pined in django-rest-swagger requirements to djangorestframework>=3.5.4. Therefore is we pip install a djangorestframework in the Dockerfile prior to the pip install of djan

[2017-10-10 19:19] cbcunc commented on #2341
Development build fails if djangorestframwork==3.7:
```ImportError: Could not import 'rest_framework.pagination.PageNumberPagination' for API setting 'DEFAULT_PAGINATION_CLASS'. AttributeError: 'module' object has no attribute 'JSONField'.```

[2017-10-10 20:38] hyi opened #2343 "Create file reference functionality such as holding reference iRODS files"
To serve two HydroShare-based use cases at RENCI, after some discussions with @mjstealey and @cbcunc, I decided it is better to just create a new iRODS reference resource type in HydroShare code base as the basis which can be directly leveraged by those two use cases at RENCI as well as by HydroShare community. In both use cases at RENCI, their data are already in their own iRODS stores, and they

[2017-10-10 20:59] jonc1438 commented on #2343
This is a little self-serving but sound great to me since we are one of those use cases!

One question/issue since the metadata in AVUs will sync with Django metadata;
If metadata is edited on the Django side will that get pushed back to iRODS AVUs to keep both in sync?

Another edge case would be the reverse where metadata AVU's in iRODS altered after reference ingest requiring re-ingest or refre

[2017-10-10 21:20] hyi commented on #2343
@jonc1438 Your questions make perfect sense and the answers to both questions are no since it is a reference resource that reflects the snapshot/status of the data at the creation time, and after the resource is created, HydroShare will not have the iRODS user credential to access the referenced data to do any update. However, the user can delete the old file entries, and add the new file entries

[2017-10-10 21:45] horsburgh commented on #2343
@hyi - would the content have to be stored in iRODS? For example - would this new referenced resource type be usable for referencing a file that is available using an HTTP URL for instance?

Or - are we talking about something completely different here?

[2017-10-10 21:55] mjstealey commented on #2343
@jonc1438 - What @hyi is scoping is the basis for an **iRODS reference resource** which can be extended to suit different use cases as needed by other developers. The initial pass will serve as a means of registering an iRODS file or collection, but may not check all the boxes that all users want.

Hong will however have encoded a template for others to build upon.

### Basis
- **iRODS reference r

[2017-10-11 03:02] dtarb commented on #2343
I have the following comments and concerns
1.	I am concerned about prioritizing this for use cases that have not been described.  Are there written descriptions for the use cases that we can discuss to understand the best way to solve them.
2.	There are AVU details in the first paragraph that are stated without context.  We need the bigger picture to get a sense of why AVU’s are involved.  I would

[2017-10-11 04:26] horsburgh commented on #2343
@dtarb - one of the purposes behind the way we encoded the science metadata and resource map for a resource is that each "file" that comprises a resource is referenced using a URI. So, whether the file exists in iRODS or not, that URI should point at the file. Technically, the system should be able to read the resource map (and/or its Django reflection) and then display a list of all of the files

[2017-10-11 12:02] dtarb commented on #2343
@horsburgh I was following reference time series file type as the example.  If there is a better way to do it I am happy for you and others on the data model team to work it out.  My suggestion is that we still need to articulate the design and purpose for what is being done here (unless this is in documents I have not seen) and look for a simple solution that is general for quite a number of kind

[2017-10-11 12:53] pkdash commented on #2343
Someone should start writing a specification for a generic reference type (file/resource) in HydroShare which should help if needed writing more specific reference type like iRODS. Only then think about implementation.

[2017-10-11 12:59] mjstealey commented on #2343
@all -this  topic is an agenda item for team call on 10/11/2017

[2017-10-11 17:11] hyi commented on #2343
@dtarb @horsburgh Just got a chance to read through details of your comments on this issue carefully and give this some more thought. I think I agree every comment both of you made. Let me put another option on the table after giving this some more thought (sorry this issue caught you off-guard, but this idea just came about yesterday afternoon triggered by the pressing need for SC17 demo). Instea

[2017-10-11 18:32] ChristinaB opened #2344 "Communication Framework for System Providers, CUAHSI support, and Event Conveners"
To ensure the quality of events that demonstrate the use HydroShare, clear communications are needed on a standard set of information.  Communications need to be customize based on individual and team communication processes.  For example, events that use HydroShare and CyberGIS to run models with participants depending on the use of CUAHSI JupyterHub server may have a different targeted communica

[2017-10-11 18:37] ChristinaB commented on #2344
@rayi113 @cbcunc @aphelionz

@dtarb asked me to inform you that we will be using HydroShare for an Oct 21 8-5 pm Pacific event.  Is the detail in the sample framework above sufficient notification for you?  Who else should be included? How else should they be contacted?  GitHub? team listserv? All of the above?

[2017-10-11 19:14] ChristinaB opened #2345 "Team page on About needs regular updating"
This is out of date and needs team input.   @Lizabrazil  - let's make a 2018 page and put the data we have, and let people review.  Do you want to do this in the Google Doc Help folders?  Or here? Or a new Zen desk webpage?

I would like to remove the outdated team meeting data.
and add the following suggested text :

HydroShare code and development are managed on Github (https://github.com/hydros

[2017-10-11 19:37] ChristinaB commented on #2345
We also need to update the Sponsors page.  I made a shorter list at the end of David's guidance document.  https://docs.google.com/document/d/13iI1R7MT7VYCqjhpXzUhwczxnFApuN_RlHe4USvvsJE/edit#

[2017-10-11 19:56] ChristinaB commented on #2344
I would like to
document just enough to generate consensus and create standard team operations that are adapted by user feedback.

[2017-10-12 12:11] Lizabrazil commented on #2345
Let’s keep using the google docs help folders until further notice. Thanks, Christina.

From: Christina Bandaragoda [mailto:notifications@github.com]
Sent: Wednesday, October 11, 2017 3:15 PM
To: hydroshare/hydroshare <hydroshare@noreply.github.com>
Cc: Liza Brazil <LBrazil@cuahsi.org>; Mention <mention@noreply.github.com>
Subject: [hydroshare/hydroshare] Team page on About needs regular updating

[2017-10-13 02:20] saisiddu opened #2347 "Can't download a resource"
Resource: https://www.hydroshare.org/resource/20ff6a71b0ef4970b74cc7a53a523c4f/
  - it's currently discoverable (not Public).

Error on Welcome Page:
![image](https://user-images.githubusercontent.com/7194053/31527471-4d3c5bbe-af82-11e7-9350-6136a4fc7a9b.png)

My contact: saisiddu@uw.edu

[2017-10-13 13:44] dtarb commented on #2347
@saisiddu does the user attempting this have file access permissions over the resource.  You mention it being discoverable but do not indicate if the user attempting this is you (the owner) who should be able to download files, or someone else.  It is correct for access to files for a discoverable resource to be blocked for a user who has not had the resource explicitly shared with them.

@Christi

[2017-10-13 15:16] horsburgh commented on #2294
This is assigned to @Maurier, but I think this is an issue for Liza/CUAHSI. I'm going to reassign.

[2017-10-13 15:21] horsburgh commented on #2266
@alvacouch and @hyi - I'm working on a list of issues for @Maurier to work on. This is one that is assigned to him, but I'm not sure what he needs to contribute here yet. He wrote the file interface and so needs to implement any front end changes for this issue, but did we come to any sort of resolution on what needs to be done here?

[2017-10-13 15:39] horsburgh commented on #1915
Removing @Maurier from this one since it looks like @aphelionz is taking care of it.

[2017-10-13 15:44] hyi commented on #2266
@horsburgh I am not very clear on specifics for this issue either based on the discussion thread, and will defer to @alvacouch to clarify. There seems to still be some designs being involved and not finalized yet, so I am not sure where to start with this issue either other than we make iRODS as the ground truth for files and make time-consuming operations (I thought it is the big loop for registe

[2017-10-13 22:14] saisiddu commented on #2347
@dtarb: Yes, I was trying to access my resource. This error doesn't occur with any of my other resources. I will talk to @ChristinaB and @Castronova.
Thank you!

[2017-10-14 04:00] dtarb commented on #2347
What is different about this resource.  I suggest you share it with me (dtarb) and Tony (TonyCastronova) so we can see if we can see what is causing trouble with this one but not the others.

[2017-10-14 13:58] dtarb commented on #1966
Closing this.  There are still outstanding issues but they are being addressed in #2330  and #2349

[2017-10-14 13:58] #1966 closed

[2017-10-16 17:47] horsburgh opened #2351 "Can't set coverage for composite resource"
Maybe I'm just not understanding how this works, but when I try to set the spatial or temporal coverage for a composite resource it is just greyed out when I am in edit mode. Is this by design?

I have a resource: https://www.hydroshare.org/resource/be41963c348d401f94252fd25af00b45/

It consists of a bunch of data files that are not specifically typed - e.g., CSV files, readme files, etc.

This da

[2017-10-16 20:58] saisiddu commented on #2347
@dtarb: I have added you and Tony to the resource (https://www.hydroshare.org/resource/20ff6a71b0ef4970b74cc7a53a523c4f/). I have used this resource earlier without any glitches. I don't remember changing anything.  Thank you for looking at this issue.

[2017-10-16 22:31] Maurier commented on #1609
@aphelionz could you guide me through the work on this. Do we have a way to associate file types and web apps now? If so, where can I find the URL syntax?

[2017-10-17 12:09] dtarb commented on #2351
See #2330.  This behavior is sort of by design.  Coverage, both spatial and temporal for a composite resource is derived as the superset from the member files.  So to change coverage you need to click on a file (even a generic one) and edit the file specific metadata.  Then when you save changes the information propagates up to the resource level metadata.  The issue #2330 is to add the map contro

[2017-10-17 13:59] ChristinaB commented on #2344
@Castronova and @aphelionz  --  we are likely to discuss this on tomorrow's phone call.  I'm getting nervous that there has been no traffic on this issue, to be sure things go smoothly this Saturday.  I'm glad @Lizabrazil and Emily will be around to drop in the Seattle workshop though!

On our end we are trying to make sure issues like Wifi are sufficient at the convention center, but if there are

[2017-10-17 14:12] rayi113 commented on #2344
re: dtarb asked me to inform you that we will be using HydroShare for an Oct 21 8-5 pm Pacific event. Is the detail in the sample framework above sufficient notification for you? Who else should be included? How else should they be contacted? GitHub? team listserv? All of the above?

I advocate a GitHub posting and an email to the HydroShare team email listserv.

[2017-10-17 14:47] ChristinaB commented on #2344
listserv is great. But I would like to first work through the sample framework and understand the risks of what could go wrong, resolve what we can resolve now (wifi, storage, memory), and have a backup plan for possible failures.

[2017-10-17 14:54] horsburgh commented on #2351
I'm not sure this is my desired behavior. Why shouldn't I be able to set the coverage for the resource as a whole, independent of any of the files? It seems like metadata automatically extracted from files might pre-populate the coverage information for a composite resource, but shouldn't I be able to override it by setting it myself if I want to?

It certainly isn't intuitive from the user interf

[2017-10-17 16:44] pkdash commented on #2351
If that is the case I guess the same argument can be made for time series resource where we don't allow the user to update the resource level coverage.  Currently the resource level coverage is auto populated from site(s) level coverage data.

[2017-10-17 19:18] aphelionz commented on #1609
Also a question for @alva and @pkdash

[2017-10-17 19:29] dtarb commented on #1609
This is a question for @danames @zhiyuli and the data model for the app resource type.  This is a bit of a chicken and egg situation as the URL pattern needs to use information from new fields in the app resource.  Issues #1609, #1161 and this need to be coordinated.

[2017-10-17 19:56] zhiyuli commented on #1609
@dtarb @danames
I just got my HS dev environment working again (have been working on NWM Tethys apps in the past months) and I am learning Pabitra's implementations of "file-type" and "composite res". Should be able to pick up WebApp Res work very soon.

[2017-10-17 20:56] pkdash commented on #1609
@zhiyuli Let me know if you have any question related to file type as you try to link file types to web apps.

[2017-10-18 01:09] dtarb commented on #1609
@danames @zhiyuli, @pkdash is available to help with this so please coordinate what is best for him to do versus @Maurier and @zhiyuli

[2017-10-18 01:10] dtarb commented on #2344
@swuiuc please note

[2017-10-18 01:32] dtarb commented on #2351
@horsburgh we debated some of these issues in the design.  We considered allowing the resource level coverage to be edited to be bigger than file level coverage, but not smaller, because that did not make sense.  We found complexities related to what to do with an edited coverage when a file is later added or a file that had coverage removed, and decided in the end that it was simplest that covera

[2017-10-18 02:49] horsburgh commented on #2351
@dtarb - where do I find the latest documentation of the file type design? You and Pabitra (and perhaps others) have done a lot of work since the original resource data model design, and obviously I'm not up to speed on all of it. And when you say "we debated" do you you mean you and Pabitra? Sorry - I'm going to have to get my head around what's been done with file types so we can move forward.

[2017-10-18 04:53] dtarb commented on #2351
It may be more efficient just to meet to discuss, rather than go back through the documents, as they have not kept up with implementation.  The documents are in https://drive.google.com/drive/u/1/folders/0B0l1a655y5oTNTFZSFhxQ1ZNMVE and #965, #1034, #1126

And yes the implementation is that the resource as a whole cannot have a coverage unless a file within it has a coverage and the resource level

[2017-10-18 16:13] danames commented on #1609
Hi all, thanks for all the discussion on 1609. At the moment we're going to
have @zhiyuli take the lead on this. He will coordinate with @pkdash.
Ultimately we'll pass our UI design through @Maurier for input and
improvement. Hope this will work... - @danames

On Tue, Oct 17, 2017 at 7:09 PM David Tarboton <notifications@github.com>
wrote:

[2017-10-18 19:31] ChristinaB commented on #2344
[Landlab Tutorials GSA 2017](https://www.hydroshare.org/resource/3ab2e7d190c44a70b62f96a3c0b1b627/)

[2017-10-18 19:40] ChristinaB commented on #2347
@alvacouch  - thanks for looking at this one

[2017-10-18 19:40] ChristinaB commented on #2347
Do we need a new resource or does it have a clean bill of health?

[2017-10-18 19:57] hyi commented on #2347
@ChristinaB @alvacouch @dtarb I have fixed this resource, it can now be downloaded successfully. The issue was with the bag_modified flag, it was set to false, but there was no bag.  Once I manually set it to true, everything just works.

[2017-10-18 19:59] hyi commented on #2347
@saisiddu @ChristinaB You can probably close this issue after verifying download of this resource now works, even though we have no idea how the bag_modified flag was out of sync with what it should really be, probably resulting from some exception or testing or whatever it was we did not know...

[2017-10-18 20:08] saisiddu commented on #2347
Thank you @hyi!

[2017-10-18 20:08] #2347 closed

[2017-10-18 20:44] dtarb commented on #2347
@hyi this is a one off fix, not a systematic fix.  I suggest we need a systematic fix.  Could the code that attempts to download a bag catch when there is no bag and then instead of giving an error, set the bag_modified code to true and restart the process so that a bag is generated.  If we had code like this, then if a resource is ever in this state again it will be fixed by the system.

[2017-10-18 20:47] dtarb opened #2354 "Develop systematic fix for resources without a bag zip file but bag_modified=false"
I suggest we need a systematic fix for the problem of #2347.  An error occurs if a bag zip file is missing but bag_modified is false.  The code that attempts to download a bag should catch when there is no bag and then instead of giving an error, set the bag_modified code to true and restart the process so that a bag is generated.

[2017-10-18 20:48] hyi commented on #2347
@dtarb Good suggestion. I can work on this if you create a new issue for this. It should not take too much time. OK. I see you just created a new issue and assigned it to me. Should be able to get it in for release 1.14.

[2017-10-19 13:35] alvacouch commented on #2308
@Lizabrazil @martinseul @aphelionz @dtarb
The proposed fix is running on cuahsi-dev-2.hydroshare.org. Here is the current behavior (note the stem correction from the above):

| query | stem(query) | stored | stem(stored) | matches? | how? |
|--------|------|------|------|-----|------|
| Industrial | industri | Industrial | industri | Yes | = |
| Industria | industria | Industrial | industri | No |

[2017-10-19 13:41] alvacouch commented on #2308
@dtarb @Lizabrazil @martinseul @aphelionz
If this isn't good enough, I suggest using the weak stemmer instead of the aggressive stemmer that is the default in SOLR. This requires patching the SOLR generator in Haystack. This is common enough a task that there are instructions on the web as to how to do it. This then generates a SOLR configuration file that uses a weaker stemmer, that stems "`plann

[2017-10-19 15:38] horsburgh opened #2356 "BUG: URLs in Abstract not working correctly"
I just noticed that in this resource:

https://www.hydroshare.org/resource/be41963c348d401f94252fd25af00b45/

The HTML code of the URL that I have in my Abstract is now showing instead of just the text of the link. This is a bug.

I confirmed this by doing the following:

1. Create a new resource.
2. Add some text and a URL to the abstract and then exit edit mode. The URL displays correctly.
3. Go

[2017-10-20 20:46] hyi commented on #2343
@horsburgh @dtarb I am working on this to create a reference file type for SC17 demo, and have question on how we should encode the referenced file URI in the resource bag. In this SC17 demo case, the reference file path is the iRODS logical file path in the format of /iRODS_zone/home/iRODS_user_name/file_path, which HydroShare would not have access to, so the referenced file cannot be downloaded.

[2017-10-21 02:36] horsburgh commented on #2343
@hyi - I may still be a little confused by this use case. I **think** what you are describing is creating a separate instance of HydroShare that will contain metadata-only records. There will be "resources" in that HydroShare instance, each will describe a dataset, but the files will not be stored in or accessible to the HydroShare instance and the users will not be able to access the data through

[2017-10-22 02:12] hyi commented on #2343
@horsburgh Thanks for the detailed thoughts. We have been discussing and refining the SC17 demo workflow since Friday, and it turns out we would most likely not need to create a reference file type in HydroShare after all. What you described above is in line with my initial thought, on HydroShare side, a resource holds metadata-only records and reference path to resource files that cannot be downl

[2017-10-22 12:46] dtarb commented on #2329
Closing - since deployed.

[2017-10-22 12:46] #2329 closed

[2017-10-22 12:53] dtarb commented on #365
Closing this issue as it is backburner and its merits could be debated.  The commentor receiving an email is not a bad thing as confirmation that their comment/reply has actually been received.

[2017-10-22 12:53] #365 closed

[2017-10-23 15:46] zhiyuli opened #2357 "missing migration file in dev branch"

[2017-10-23 16:59] #2357 closed

[2017-10-23 18:26] aphelionz opened #2359 "Change support@hydroshare.org to help@cuahsi.org"

[2017-10-24 15:56] dtarb commented on #2359
Who are the recipients of email at help@cuahsi.org.

[2017-10-24 16:04] dtarb commented on #1547
@Castronova is this still an issue.

[2017-10-24 16:16] dtarb commented on #2356
@horsburgh we think this should be a quick fix that @Maurier can do.

[2017-10-24 16:56] dtarb commented on #2327
We need discussion about apps that have an API vs general system API functionality.  What is the best design.

[2017-10-24 18:03] Maurier commented on #2116
I've implemented these changes at https://park.hydroshare.org/my-resources/

Please test it out and let me know if you have any feedback.

[2017-10-24 18:20] Maurier commented on #2356
Fix contained in this PR: #2362

The resources affected will need to be manually fixed by editing their abstracts once the PR is merged.

[2017-10-25 03:56] horsburgh commented on #2116
@Maurier - I think these look good. One issue from @dtarb 's comment above:

Your default is that "Favorites" is not checked, but it should be.

Also - just to be clear - what is the set of resources that is shown when there are no boxes checked?

[2017-10-25 04:28] dtarb commented on #2116
The functionality looks good to me.  Great work.

I did find the system slow on some things, like when I mistakenly selected all resource I had and clicked Favorite.  It took a few minutes to apply favorite to the 138 resources I have and my computer was sluggish while this was going on.

[2017-10-25 05:28] horsburgh commented on #2116
@dtarb - I agree. There's still some slowness here on loading the page in particular. I think we should make that a separate issue (there may already be one) so @Maurier can close this issue.

[2017-10-25 06:07] horsburgh opened #2365 "Another Broken Resource"
I have another resource that I am unable to download any of the data from. I have been working on this over the past several days with my MS student who is still trying to finalize his resource for publication in HydroShare. I believe what happened to this resource (not completely sure) is that Bryce accidentally drug a folder containing a whole bunch of files (yep, the same files that broke it la

[2017-10-25 13:48] Maurier commented on #2116
Noted. I'll make this change.

Indeed. This happens because we make a request for each instance. We will need an endpoint that can handle multiple instances in one request. This is complex on it's own and would need another ticket.

Some changes I can make for consideration:

- Add a paginator to the table.
- Save the state of the filters in the browser's local storage to allow users to use their

[2017-10-25 14:02] Maurier commented on #2255
I have tested this in all modern browsers except Safari in IOS. It works as expected on my end. @dtarb, are you still experiencing this issue?

[2017-10-25 15:35] hyi commented on #2365
@horsburgh @alvacouch Just done a quick check of this resource. The bag actually exists for this resource, however, the following error resulted when downloading this resource triggered by hs_tracking code which tracks all download sessions and tries to loop through all files of this resource to aggregate the file size: ```Error processing IRODS request: 4. stderr follows:\n\nERROR: lsUtil: srcPat

[2017-10-25 18:38] alvacouch commented on #2354
@dtarb @hyi @phuongdm has documentation on a management command `check_bag` that will reset the bag system. I wrote this command a long time ago, but documented it for Phuong **yesterday.**

```./hsctl managepy check_bag --reset {resource-id}```

will fix the problem for a specific resource.

[2017-10-25 18:58] horsburgh commented on #2354
@alvacouch and @hyi - will this fix #2365 ? We are under the gun to get that resource fixed so we can publish it and cite it in a paper that is in press (proofs need to go back to the journal ASAP).

[2017-10-25 19:00] hyi commented on #2354
@alvacouch Yes, I know your management command can do that, but this issue @dtarb created is to automatically fix this issue without amending the fix after the user finds that a resource cannot be downloaded due to the bag_modified flag issue. I can take care of this relatively quickly when I get a chance to work on it.

[2017-10-25 19:02] hyi commented on #2354
@horsburgh This issue will not fix your issue #2365, the cause for that issue is different from this one. This download issue is caused by bag_modified flag being wrong, which can be fixed easily, but that issue was caused by out-of-sync issue between Django database and irods. See details of my investigation on that issue. Looping in @alvacouch as well since @alvacouch 's management command might

[2017-10-25 19:04] alvacouch commented on #2365
@horsburgh @phuongdm Phuong has another script check_irods_files that should clear this up. @phuongdm could you see what the script says.

[2017-10-25 20:14] horsburgh opened #2366 "Need to be able to edit spatial and temporal coverage for composite resources"
Since composite is the default resource type, I need to be able to create my own spatial and temporal coverage information. Right now, the coverage can only be set if there is a logical file in the composite resource that has coverage information. Then, the coverage for the resource as a whole inherits the coverage of it's member logical files as a superset of those. The user can't actually edit t

[2017-10-25 20:17] horsburgh commented on #2366
FYI - the reason I am adding the "High Priority" label is that to meet a publication deadline I am likely going to be forced to publish my three composite resources without coverage information because I actually cannot set a spatial or temporal coverage for those resources given the functionality that is there now - even though I would like to have coverage information and it is a basic metadata

[2017-10-25 20:33] horsburgh commented on #2351
@dtarb - I just created #2366 as a new issue with a description of how to handle this. I tried adding coverage information to an individual file within my resource so it would propagate to the resource-level metadata. When I tried this, I was unable to do so and got an error saying that there was no associated logical file. So, it looks like you can't add coverage information to any file, it has t

[2017-10-25 20:33] #2351 closed

[2017-10-25 20:42] horsburgh opened #2367 "Move file-level metadata view to a modal window"
Currently the file-level metadata for files in a composite resource is viewable via a tab located a good ways down the resource landing page. This requires a lot of scrolling, and the user has to know to click on the file in the content area, then scroll down to the tab, then click on the tab to make it active (if it isn't already) so they can view the file level metadata.

I've discussed with @Ma

[2017-10-25 20:55] horsburgh commented on #2366
Update - trying this again, I was able to add coverage information to a file within a composite resource that is not a "logical file", but I had to try multiple times before I stopped getting errors and it actually saved. The file-level coverage metadata editing seems buggy.

[2017-10-25 21:19] dtarb commented on #1609
Email from @danames 10/25/17

From: Dan Ames [mailto:dan.ames@byu.edu]
Sent: Wednesday, October 25, 2017 2:27 PM
To: dev@hydroshare.org; Pabitra Dash <pabitra.dash@usu.edu>
Subject: [HydroShare-Dev] Following up on open with discussion

The file-based open with click, launches an app using a URL pattern the app developer specifies.

There is an option to include variables in the app launching URL

[2017-10-25 21:28] dtarb commented on #1609
I am not supportive of a new unique file type numbering system.  Also, as you note, it needs a new API.  I suggest instead just using the API we already have.  For example you can access a file in a file type in a composite resource like
http://www.hydroshare.org/resource/64fb0a478974411caea3335e2d07975c/data/contents/logan/logan.tif

The system already delivers files like this.

[2017-10-25 21:47] zhiyuli commented on #1609
One FileType instance includes all required "component files" to compose a
specific FileType, and is assigned with one Logical FileType ID.
Do we want apps to able to download one FileType instance (say
GeoFeatureFileType: *.shp, *shx, *dbf) from a composite resource instead of
the whole resource bag?
If yes, we should use this Logical FileType ID as it refers to all
"component files".

On Wed, Oc

[2017-10-26 04:20] horsburgh commented on #897
@Castronova - are we tracking any statistics on individual resources that would be useful for closing out this issue? For example, number of views or number of downloads? If we are not tracking anything now that @Maurier could add to the My Resources page, we should just close this issue and call it done for now.

[2017-10-26 04:28] horsburgh opened #2368 "My Resources Page: Performance Enhancements Needed"
Currently it takes several seconds for the My Resources page to load. This is tedious for frequent users of HydroShare who are switching between the My Resources page and the landing pages for individual resources. It's gotten to the point that it is affecting the usability of the system. I suggest that it's time to take a critical look at the My Resources page to see if we can speed up the initia

[2017-10-26 04:36] horsburgh commented on #2255
Just to verify, I tested this on www in the latest version of Safari 11.0 on my Mac. It works as expected - double clicking on a file downloads it. However, there is a slight delay on the download before it happens (in Safari and Chrome) that made me wonder if it was working correctly. If you wait just a second, the download happens.

[2017-10-26 04:39] horsburgh commented on #2365
@phuongdm - if you could look at this as soon as you can it would be great. We've spent quite a lot of time on this resource and we are just waiting on getting the downloads working again so we can publish the resource. We've already created the citation to the resource in the proof of the paper that we need to send back to the editors as soon as possible. Thanks!

[2017-10-26 04:43] horsburgh commented on #2366
I'm moving this back to medium priority because I was able to create coverage information on a file in a composite resource that is not a "logical file". The process is still a bit buggy, but those bugs can be addressed as part of the changes laid out in the original post above.

[2017-10-26 05:15] horsburgh commented on #1609
It would be great to hear from Pabitra. As we discussed on the call today, it seems like it would be better to reference files by name. We already have API functionality for this, including access control and authorization. But we do have the challenge that referencing an individual file may not reference all of the needed files that make up  a “logical file” like a geographic feature dataset (sha

[2017-10-26 14:25] pkdash commented on #1609
@horsburgh

A web app can either pass the logical file type and its ID, or the full path of one of the files in the logical file group to get a list of files in that file type. We need to decide which one we prefer. We don't have at this point a REST endpoint (#4 of the user step) for the web app to make that call. We have the REST API for item#5 which is retrieving any file from HydroShare and th

[2017-10-26 14:42] horsburgh commented on #1609
Given that the logical file IDs are only stored in Django, my vote would be to use the full path of one of the files in the logical file group. But, whether we use the file path or logical file ID (or potentially both?), it looks like we would need to have at least one new REST API endpoint to get the list files in a logical file by passing in a logical file ID or the full path of one of the files

[2017-10-26 14:47] phuongdm commented on #2365
1. "check_irods_files a3a9ba772aac4cba9533b35bb6b5fe42" showed a lot of error
...
check_irods_files: django file a3a9ba772aac4cba9533b35bb6b5fe42/data/contents/Finalized_EEMs/GSA1605151200.eps does not exist in iRODS
check_irods_files: django file a3a9ba772aac4cba9533b35bb6b5fe42/data/contents/Finalized_EEMs/GSA1605150606.csv does not exist in iRODS
check_irods_files: django file a3a9ba772aac4cba9

[2017-10-26 14:48] phuongdm commented on #2365
@alvacouch , @horsburgh

the third step is running, I will update the status after finished

[2017-10-26 15:30] aphelionz commented on #2366
@horsburgh nice labels :D

[2017-10-26 15:31] horsburgh commented on #2366
Ha ha - there are so many to choose from!

[2017-10-26 15:39] phuongdm commented on #2365
Done,

@horsburgh could you please check it again?

[2017-10-26 15:51] horsburgh commented on #2365
@phuongdm - thanks a lot for getting to this! I can now download individual files and the zipped bag. I've got a couple of people looking through the contents, but it looks good to me so I'm going to close this issue.

[2017-10-26 15:51] #2365 closed

[2017-10-26 18:10] aphelionz commented on #1998
@dtarb We were just confirming this at the CUAHSI offices. It seems to be fixed, is it?

https://www.hydroshare.org/search/?q=iUTAH&NElat=&NElng=&SWlat=&SWlng=&start_date=&end_date=&page=3

[2017-10-26 19:07] Maurier opened #2369 "Time zone/time display"
We need to address how dates are displayed in the site. Right now all dates are displayed in UTC timezone. It would be good to display date values in local time zones. Here are a couple of ways we could do this:

- Add a time zone field in the User Profile where a user can specify their time zone.
- Get the user's time zone from their IP using IP geolocation software, and store it in the session.

[2017-10-26 19:55] dtarb commented on #1998
Yes I can no longer reproduce it.  Closing.

[2017-10-26 19:55] #1998 closed

[2017-10-26 20:00] aphelionz commented on #2369
@Maurier what about a front-end only? Can we use something like moment.js to transliterate GMT timestamps to nice, timezone-aware, user times? That way we won't have to make a big update on the server, which can then remain blissfully unaware of anything non-GMT

[2017-10-26 20:24] Maurier commented on #2369
@aphelionz, that would work. Seems like they have a good method of determining the user zone: https://momentjs.com/timezone/docs/#/using-timezones/guessing-user-timezone/

[2017-10-26 20:26] goodalljl opened #2370 "Warning message shows in published MODFLOW model instance"
When a MODFLOW model instance is published, it shows a warning message like below.

![image](https://user-images.githubusercontent.com/4822612/32075133-d47a2fb0-ba69-11e7-9f23-016c509b5078.png)

This message should not be shown to non-owners of the resource. It should only be shown to owners and editors of the resource.

Step 1: Disable this message for now (quick fix).
Step 2: Only show message i

[2017-10-26 20:27] aphelionz commented on #2370
Nice labeling @goodalljl !

[2017-10-26 20:28] aphelionz commented on #2369
Great. I will assign you to this. Note that it's lower priority than anything else you might be working on. Let''s discuss on the dev call on Monday since AGU is coming up :)

[2017-10-26 20:28] goodalljl commented on #2370
I feel so powerful assigning tasks to others :)

[2017-10-26 20:36] jsadler2 commented on #2370
@goodalljl @dtarb do you think this is "hotfix" worthy?

[2017-10-26 21:02] dtarb commented on #2370
Not www hotfix worthy.  Hotfix to www should be used only for something that is a functionality breaking bug.  This is a message that does not break any functionality.  This is premised on frequent small releases so that waiting for the next release is not long.

Hotfixes to a candidate release undergoing beta testing have a lower bar for getting in, but we are not in a candidate release testing p

[2017-10-26 23:23] Maurier commented on #2291
How about "Your profile information must be complete before you can formally publish resources." for the hover message?

[2017-10-27 12:46] aphelionz commented on #2291
Looks good to me. @dtarb ?

[2017-10-27 12:48] aphelionz commented on #2291
@Maurier Further more, while the button is in the disabled/hover message state, can you either add a link to the profile edit page or make the publish button link to the profile edit page?

[2017-10-27 13:24] dtarb commented on #2291
The hover over message looks good.  I think that a link to the profile page would be good.  Is it possible to have a link in a hover over message.  I think it would be odd to click on the publish button and be linked to the profile page.  A button should do what it should do.  Unless clicking on the button took a user to the profile page also with a message that said that to publish a resource you

[2017-10-27 14:55] danames commented on #1609
I still am a bit uncomfortable with automatically moving my files into a folder. I can't think of any other operating system that would do this. All other OS's leave the files where the user puts them. Likewise, I can't think of any other OS that would require the right-click-set-as-geographic-feature step. Other OS's just see the files there and know that they are of a certain type based on file

[2017-10-27 14:58] danames commented on #2255
In most operating systems, double clicking a file opens the file in an associated application. Does it make sense to have a double click download instead of open? Is there a clever interface design that could allow both?

[2017-10-27 15:09] jsadler2 commented on #2370
Okay. That makes sense, @dtarb. I also appreciate you including the broader principle. That is helpful.

[2017-10-27 20:36] Castronova commented on #1547
@dtarb This is still not fixed.  As far as I know, only one file can be added to a resource at a time vai the rest API.  I think the geographic resource fails during its auto metadata population phase when uploading shapefiles (i.e. *.dbf, *.prj, *.shp, *.shp.xml, and *.shx) individually.  The code below fails with the `GeographicFeatureResource` but works fine with the `GenericResource`:

[code]

[2017-10-28 03:22] Maurier commented on #2291
Yes, but the tooltip would behave like a popover (Triggers on click rather than on hover). Similar to what we have in the Discover page.
![image](https://user-images.githubusercontent.com/2448568/32130820-97b7e326-bb5c-11e7-9d8f-fce931b69a6a.png)

Yes, but we would need to make the tooltip behave as a popover. It would look the same but behave a little different. Popovers are triggered and dismiss

[2017-10-29 02:55] pkdash commented on #1547
@Castronova Instead of adding files individually (which will obviously fail for Geographic Feature resource) add a zip file that contains all the files that are part of the shape file.

[2017-10-30 05:44] horsburgh opened #2373 "Composite Resource: Enhancements to Time Series File Type"
I've done some initial testing on the first implementation of the time series file type in the Composite resource. After discussion with @pkdash - it's largely ready to go, but still has a few remaining issues. The plan is to do a major pull request (which has already been issued) and then make the relatively minor changes described in this issue after that has been done.  The following enhancemen

[2017-10-30 12:51] pkdash commented on #2373
@horsburgh

The above issue I think has been resolved. You can test on riverdev.

[2017-10-30 17:42] danames commented on #2301
Please add EPA Waters and Snow Inspector. I use them often in demonstrations and also in my classes.

Also, I still think that the list of these apps should be defined in a resource, not hard coded in code. Maybe you've already made that change, but I think it is a no-brainer to not hard-code the apps list.

[2017-10-30 17:44] danames commented on #2373
I still think it is a terrible design decision to require the user to
manually "set" the resource type in composite files. Put another way, is
there ever a case when a user would drop the parts of a shapefile in a
composite resource and NOT want HydroShare to know that it's a geographic
feature set?

On Mon, Oct 30, 2017 at 6:51 AM Pabitra Dash <notifications@github.com>
wrote:

[2017-10-30 18:20] horsburgh opened #2374 "Composite Resource: Manually set file type or automatically set it?"
@danames posted this in #2373. I'm moving here because it should be its own issue.

manually "set" the resource type in composite files. Put another way, is
there ever a case when a user would drop the parts of a shapefile in a
composite resource and NOT want HydroShare to know that it's a geographic
feature set?

[2017-10-30 18:24] horsburgh commented on #2374
@danames - I moved this into its own issue. I think it's important for us to consider not only the geographic feature type, but also the other types. The time series file type can use a .csv file or a SQLite file, but one can also have .csv or SQLite files that are not time series. The geographic raster file type uses .tiff files, but one can have .tiff files that are not geographic rasters.

If H

[2017-10-30 18:24] horsburgh commented on #2373
Copied @danames comment above into #2374 to make it a separate issue.

[2017-10-31 15:37] #2341 closed

[2017-10-31 16:34] itaher1995 opened #2375 "TauDEM example notebook not working due to ImportError"
To create the problem attempt to import all the required libraries. The following import error appears when you attempt to import all required libaries:

"ImportError: libicui18n.so.56: cannot open shared object file: No such file or directory"

Appears to occur when taudem attempts to import gdal from osgeo.

[2017-10-31 16:51] itaher1995 opened #2376 "Opening Jupyter Notebook Hub from Hydroshare App Page develops an invalid Resource Id"
To create problem, open Jupyter Notebook from the Apps page on https://www.hydroshare.org. Then go through the steps until you're asked to set the resource_id to a variable, resid. It will set what seems to be a cached, but invalid resource id. This is shown when we attempt to get resources from hydroshare using this invalid resource id in which jupyter notebook prints out an Exception where it st

[2017-10-31 18:47] itaher1995 opened #2377 "landside_driver grammar issue"
"This version allows users to provide just a minimum and maximum recharge that **us used in a uniform distribution** rather than a spatially distributed recharge field."

This sentence structure does not make sense

[2017-10-31 18:51] itaher1995 opened #2378 "Importing matplotlib and matplotlib.pyplot is redundant (landslide_driver)"
when importing matplotlib and matplotlib.pyplot a whole slew of warnings occurs. If don't import matplotlib these errors disappear. HOWEVER, after making a change in this import one needs to change the following:

`core_nodes
mpl.rcParams['xtick.labelsize'] = 15
mpl.rcParams['ytick.labelsize'] = 15
mpl.rcParams['lines.linewidth'] = 1
mpl.rcParams['axes.labelsize'] = 18
mpl.rcParams['legend.fontsiz

[2017-10-31 18:53] itaher1995 opened #2379 "AttributeError: 'LandslideProbability' object has no attribute 'landslide_factor_of_safety_histogram' (landslide_driver)"
`core_nodes = LS_prob.grid.core_nodes`

`LS_prob.landslide__factor_of_safety_histogram[core_nodes[10]]`

results in the following error

[2017-10-31 19:08] itaher1995 opened #2380 "MatplotlibDeprecationWarning: The 'hold' keyword argument is deprecated since 2.0. mplDeprecation) (landslide_driver)"
Create Depracation Warning:

`plt.figure('Elevations from the DEM [m]')`
`watershed_line = grid.at_node['Thunder_Creek_watershed'] < 0.0`
`overlay_watershed = np.ma.array(grid.at_node['Thunder_Creek_watershed'],`
                               ` mask=watershed_line)`
`imshow_node_grid(grid, 'topographic__elevation', cmap='terrain',`
                 `grid_units=('coordinates', 'coordinates'),`

[2017-10-31 19:15] itaher1995 opened #2381 "imshow_node_grid gets a field error for 'landslide__mean_factor_of_safety' (landslide driver)"
Create error by running the following:

`imshow_node_grid(grid, 'landslide__mean_factor_of_safety', cmap='OrRd_r',`

                `grid_units=('coordinates', 'coordinates'), vmax=5.,`

                 `shrink=0.75, var_name='Factor of Safety',`

                 `var_units='no units')`

This will return the following error:

Which basically means that landslide__mean_factor_of_safety is not a

[2017-10-31 19:24] itaher1995 opened #2382 "AttributeError: 'LandslideProbability' object has no attribute 'landslide__factor_of_safety_histogram'"
Running the following code:
`example_FS_dist = LS_prob.landslide__factor_of_safety_histogram[`
   ` core_nodes[46]]`

Returns the following error:

[2017-10-31 19:36] itaher1995 opened #2383 "(grid, z) = read_esri_ascii(hs.content['thun_elevation.txt'], name='topographic__elevation') creates an array that can't be analyzed"
When running the following piece of code:

`(grid, z) = read_esri_ascii(hs.content['thun_elevation.txt'],`
                          `name='topographic__elevation')`

It seems as though two variables are returned, one of which is a grid. Upon inspection, it seems that the grid is of type array, but we can't do any sort of iteration or slicing on grid.

The following pieces of code:

`grid[0]`

`fo

[2017-10-31 19:58] itaher1995 opened #2384 "In timeseries jupyter notebook NumPY is technically NumPy"
Not super important.

[2017-10-31 22:55] Maurier commented on #1835
@pkdash, is there a template for this I can look at now?

[2017-11-01 02:27] pkdash commented on #1835
@Maurier You can refer to the branch 1835-password-reset-page and see there is a new page under /theme/templates/accounts/account_update_profile.html. I was not able to test this new page when I was working on this branch. I believe this is the page mezzanine uses which I tried to override here by creating this new html page.

[2017-11-01 15:33] aphelionz commented on #2375
@itaher1995 This is great that you're capturing this feedback. However, these should probably go into this repository instead:  https://github.com/hydroshare/hydroshare-jupyterhub. I will comment on the rest of these tickets as well. Sorry for the bother.

Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:33] aphelionz commented on #2376
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:33] aphelionz commented on #2377
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:33] aphelionz commented on #2378
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:33] aphelionz commented on #2379
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:33] aphelionz commented on #2380
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:33] aphelionz commented on #2381
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:33] aphelionz commented on #2382
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:33] aphelionz commented on #2383
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:34] aphelionz commented on #2384
@itaher1995 Please close and move to https://github.com/hydroshare/hydroshare-jupyterhub

[2017-11-01 15:49] Maurier commented on #1666
We are going to start with a small curated list and add an option to add Others.

[2017-11-01 16:22] dtarb opened #2385 "Open with button should not appear for resources where a user can not access the files"
If a resource is discoverable and a user does not have permissions on the resource then they can not see the content files.  However they still see the Open With button.  This should be removed from the landing page in this discoverable mode, because Open With requires an app to be able to access the files.

[2017-11-01 16:52] #2384 closed

[2017-11-01 16:54] #2383 closed

[2017-11-01 16:56] #2381 closed

[2017-11-01 16:57] #2382 closed

[2017-11-01 17:10] #2380 closed

[2017-11-01 17:11] #2379 closed

[2017-11-01 17:15] #2375 closed

[2017-11-01 17:16] #2378 closed

[2017-11-01 17:18] #2377 closed

[2017-11-01 17:18] #2376 closed

[2017-11-01 17:22] zhiyuli commented on #2385
@dtarb @danames
Current WebApp Res Type allows WebApp res Owners and Editors to select "Supported Resource Sharing Status". So a WebApp only shows up in the OpenWith list of a Data Resource whose Sharing Status value is one of WebApp's "Supported Resource Sharing Status".

By default the GIS WebApp supports all Sharing Status( Private, Discoverable, Public and Published). I just removed "Discovera

[2017-11-01 20:42] rayi113 opened #2386 "Reference Time Series link on Help Pages broken"
On this help page: https://help.hydroshare.org/hydroshare-resource-types/time-series/  where it says:

This page describes the Time Series resource. To learn more about HIS Referenced Time Series, click here (https://help.hydroshare.org/hydroshare-resource-types/his-referenced-time-series/).

The https://help.hydroshare.org/hydroshare-resource-types/his-referenced-time-series/  link is broken and

[2017-11-02 13:37] ndebuhr opened #2387 "Discover Page - Resource labels do not dissapear when the resource is removed from view."
Resource labels do not disappear when the resource is removed from view.
[171025_WDC1129_test-env.txt](https://github.com/hydroshare/hydroshare/files/1437899/171025_WDC1129_test-env.txt)

[X1-video-log.zip](https://github.com/hydroshare/hydroshare/files/1437909/X1-video-log.zip)

[2017-11-02 13:39] ndebuhr opened #2388 "Discover Page - Unfriendly Error Message When 0 Results"
The error raised when there are no results is not especially user friendly
[171025_WDC1129_test-env.txt](https://github.com/hydroshare/hydroshare/files/1437917/171025_WDC1129_test-env.txt)
[X2-video-log.zip](https://github.com/hydroshare/hydroshare/files/1437920/X2-video-log.zip)

[2017-11-02 13:43] ndebuhr opened #2389 "Discover Page - Box Coverage Center Icon Label Multiple Instances"
Clicking on a box coverage center icon brings up a label instance, regardless if one already exists.  This could seemingly cause some confusion if the user clicks an icon multiple times (it then looks like the close button doesn't do anything).
[171025_WDC1129_test-env.txt](https://github.com/hydroshare/hydroshare/files/1437934/171025_WDC1129_test-env.txt)
[X4-video-log.zip](https://github.com/hyd

[2017-11-02 13:46] ndebuhr opened #2390 "Discover Page - Selection Appearance During Zoom Changes"
Zooming in or out on the map removes the selection fill for a box.  Is this desired behavior?  It seems as though a selection should persist through zoom in and out.
[171025_WDC1129_test-env.txt](https://github.com/hydroshare/hydroshare/files/1437955/171025_WDC1129_test-env.txt)
[X5-video-log.zip](https://github.com/hydroshare/hydroshare/files/1437956/X5-video-log.zip)

[2017-11-02 13:48] ndebuhr opened #2391 "Discover Page - Legend Items"
Should the Point Coverage Locations icon only be on the "Site" tab legend?  It does not appear on the "Area" tab map, but is in the "Area" tab legend.  The same is true for the Box Coverage Centers icon - these icons are only on the "Area" tab map, but appear on the legend for the "Site" tab.
[171025_WDC1129_test-env.txt](https://github.com/hydroshare/hydroshare/files/1437964/171025_WDC1129_test-e

[2017-11-02 13:49] ndebuhr opened #2392 "Discover Page - Map Location Search Error"
The error raised for an empty search (the map search) is not especially user friendly.  Geocode "invalid request".  Should this even raise an error at all?
[171025_WDC1129_test-env.txt](https://github.com/hydroshare/hydroshare/files/1437976/171025_WDC1129_test-env.txt)
[X7-video-log.zip](https://github.com/hydroshare/hydroshare/files/1437977/X7-video-log.zip)

[2017-11-02 13:56] danames commented on #2385
The purpose of letting the app developer indicate what sharing status to
support for files he opens is that there may be a case or two where someone
builds an app that works on all resources - including discovery only
resources, i.e. an app that works on the metadata, not the file itself. So
this is a matter for the app developer to ensure that they check the
correct box in their app resource page

[2017-11-02 15:39] dtarb commented on #2385
@danames agreed.  But we need to have the ability to have open with not appear where a resource is discoverable and the app would attempt to access a file if the user does not have access to the files, but for the button to appear in the case that a user has had the resource shared with them, or is the owner.  This is currently not the case.  At present the app developer does not have a combinatio

[2017-11-02 16:11] itaher1995 opened #2393 "Have to click "confirm" to create IRODS account can't press "Enter""
When trying to create an irods account, after inputting a password and pressing "ENTER" the irod account is not created. Rather you have to actually click confirm.

[2017-11-02 16:12] dtarb commented on #2345
The process for updating is in place.

[2017-11-02 16:12] #2345 closed

[2017-11-02 16:14] jsadler2 commented on #2370
In addressing this issue, @mohamedmorsy  and I thought of two alternatives:

1. The warning shows up only in `edit` mode.
2. The warning shows up in `view` and `edit` mode but only for resource owners or those who have edit privileges

We think it's better to do number 2 so it's clearer to the user that there are probably files missing from the resource. If it only shows in edit mode, it might not

[2017-11-02 16:18] dtarb commented on #2344
To make this actionable the issue is the need to create a set of policy documents that detail these procedures.  Assign as CUAHSI Infrastructure.  @aphelionz to coordinate documents needed and where they should be managed with others at CUAHSI.

[2017-11-02 16:24] dtarb commented on #2327
After discussion agreed that apps are totally free to have an API.

[2017-11-02 16:53] horsburgh commented on #2275
@Lizabrazil - please work with @hyi to get the wording of this email changed. You may need to consult with @ChristinaB. Please suggest new text, and @hyi can implement.

[2017-11-02 19:43] dtarb commented on #2370
I support No. 2.

[2017-11-02 20:52] aphelionz commented on #2336
@dtarb @danames This will be on park momentarily. Please see Pull request #2322 for instructions on how to test.

[2017-11-02 20:53] aphelionz commented on #2301
@dtarb @danames This will be on park momentarily. Please see Pull request #2322 for instructions on how to test.

[2017-11-02 20:59] #2359 closed

[2017-11-03 00:07] goodalljl commented on #2370
I agree.

On Thu, Nov 2, 2017 at 3:43 PM David Tarboton <notifications@github.com>
wrote:

--

[2017-11-03 02:57] #2221 closed

[2017-11-03 02:58] aphelionz commented on #2216
@horsburgh Assigning this to you. Can you please close this issue and / or make a new issue to improve the messaging?

[2017-11-03 03:01] aphelionz commented on #2167
@ChristinaB @yirugi Can somebody confirm and close this issue please?

[2017-11-03 03:03] aphelionz commented on #2146
@alvacouch @Castronova Should we move this issue to the jupyterhub repo issues?

[2017-11-03 03:04] aphelionz commented on #2137
@zhiyuli If this is still an issue, can you move it to the hs_restclient repo?

[2017-11-03 03:04] #2167 closed

[2017-11-03 03:04] yirugi commented on #2167
@aphelionz
We have fixed the bug. I'm closing this.

[2017-11-03 03:05] aphelionz commented on #2167
@yirugi Thank you!

[2017-11-04 10:42] alvacouch opened #2396 "Discover page: search box does NOT obey SOLR syntax"
The helpful text that suggests that SOLR syntax works in the search box has been wrong for over a year. It now tokenizes terms and is not compatible with SOLR syntax.

[2017-11-04 10:45] alvacouch opened #2397 "Discover page: sort buttons sort page, not results"
When you press sort-by on a discover column, the page is sorted, not the results. Thus one gets really misleading results when sorting by date of entry.

[2017-11-04 10:46] alvacouch opened #2398 "Discover page: sorting of facets is counter-productive"
The discovery sorting of facets by number of instances is very confusing; alphabetical order recommended.

[2017-11-04 18:35] pkdash opened #2399 "Time series metadata extraction bug"
This bug was reported by @Castronova  where in certain cases a time series was getting associated with a wrong site.

[2017-11-04 21:46] dtarb commented on #2301
I tested following the protocol in #2322 and found that the test case logged in as an Admin works.

However not logged in as admin I noticed

- Trying the test case for users without admin access, I am not able to see the 7 fields mentioned.  I had to log in as admin to get into edit mode to see the 7 fields.  These 7 fields are only visible to someone with edit permissions on the web app instance

[2017-11-04 21:49] dtarb commented on #2336
See my comment on [#2301](https://github.com/hydroshare/hydroshare/issues/2301#issuecomment-341554842)

[2017-11-06 15:56] aphelionz opened #2400 ""Advanced Search" Help page to replace the SOLR syntax message"
Based on this ticket: https://github.com/hydroshare/hydroshare/issues/2396 we no longer support SOLR syntax. In the short term, we can simply remove this message, but we should replace it with an "Advanced Search' documentation page in the medium term.

[2017-11-08 06:09] horsburgh opened #2404 "Composite Resource: Bagit Manifest duplicating files"
The Bagit manifest file is supposed to list each file within a resource along with its checksum value so that each file's integrity could be verified upon download. For some reason, some of the files in the Bagit manifest for composite resources are being duplicated. For example, here is an example of the Bagit manifest for this resource:

https://www.hydroshare.org/resource/9cc7a28a95cb4ecdbb258b

[2017-11-08 13:42] pkdash commented on #2404
@hyi  I have not worked with the code that generates this manifest file. Can you work on this? Otherwise, let me know I will try to resolve it. Thanks.

[2017-11-08 14:06] hyi commented on #2404
@pkdash OK. I can take a look at this.

[2017-11-08 16:37] horsburgh opened #2405 "Resource Landing Page: Performance Enhancements Needed"
Right now the landing page for a resource is starting to take a long time to load. I think it's time to take a look and see if we can optimize this a bit. It's getting painful to switch back and forth between resource landing pages and the My Resources page because both of those pages are taking a long time to load. I'm assinging this to @Maurier to look at the front end first, but he may identify

[2017-11-08 18:01] #2396 closed

[2017-11-08 18:01] #2397 closed

[2017-11-08 20:34] goodalljl commented on #597
@yirugi It looks like you are assigned this issue. @pkdash tagged it as "Close me!" Can you please take a look at see if this issue should be closed?

[2017-11-08 20:35] goodalljl commented on #595
@yirugi Should this issue be put on the backburner? Or is it still an active thing you are working on?

[2017-11-08 20:36] goodalljl commented on #545
@mohamedmorsy This has been open for a while. Should we put it on the blackburner or is it still something you would like to work on?

[2017-11-08 20:37] goodalljl commented on #178
@Castronova I see this is assigned to you. Should it be? I'm not sure who else on the team. I'm thinking this one should be put on the back burner. Thoughts?

[2017-11-08 20:43] yirugi commented on #597
Hi @goodalljl , yes, this can be closed.
Thanks!

[2017-11-08 20:43] #597 closed

[2017-11-08 20:44] mohamedmorsy commented on #545
@goodalljl I think we should put it on the blackburner for now.

[2017-11-08 20:45] yirugi commented on #595
All of the work has been done. I'll close this. Thanks.

[2017-11-08 20:45] #595 closed

[2017-11-08 20:46] goodalljl commented on #597
Thanks, @yirugi !

[2017-11-08 23:54] zhiyuli commented on #2385
@dtarb @danames

I am exploring a solution on my local VM. It added a new Metadata term "Required Permission" to WebApp Res Type, which offers 3 options as shown below. The default value is "Read Resource Metadata and Files". WebApp owner/editor can change this value on demand.

This new metadata term can support the following use case in conjunction with existing "Supported Resource Sharing Statu

[2017-11-09 03:56] pkdash commented on #1666
@dtarb and @horsburgh I assume these additional identifiers need to be written to the xml metadata file.

[2017-11-09 04:55] horsburgh commented on #1666
I was only intending for them to be part of the user's profile in HydroShare. So, if someone went to my profile page they would see the links i have created to my other profiles and could click on them.

I don't think we should make them part of the metadata that gets added to resources a user creates.

[2017-11-09 14:21] Castronova commented on #178
@goodalljl I don't think it should be assigned to me.  I agree that this should be on the back burner.

[2017-11-09 15:52] zhiyuli opened #2408 "missing unique constraint statement in WebApp (hs_tools_resource) models.py"
We found the following required unique constraint statement is missing from some resource-level metadata classes in WebApp (hs_tools_resource) models.py, like class SupportedResTypes and SupportedSharingStatus

class Meta:
        unique_together = ("content_type", "object_id")

An investigation on the impact on existing WebApp resources and corresponding remedy are needed.

@hyi @pkdash @aphelion

[2017-11-09 16:52] aphelionz commented on #2408
@pkdash Looking for your input here

[2017-11-09 18:40] pkdash commented on #2408
@zhiyuli I don't expect it to cause any issues with the existing web apps. There will be issues only in the event of if we had for example 2 or more instances of SupportedResTypes attached to any given web app. I don't think that's the case. If you want to make sure this is not the case, you can in the django db shell, loop through each of the web apps and get a count on those specific metadata el

[2017-11-09 18:52] zhiyuli commented on #2408
@pkdash
Thanks for the comments. I wrote a script to check that and @aphelionz will be running it against a copy of real www data.

I also did some testings locally. In some cases, the UI may create more than one metadata element objects.  One case I saw: I create a empty WebApp res, Switch to Edit mode, Fill some resource-level metadata, Click Save. This is the first time this element being creat

[2017-11-09 19:12] zhiyuli commented on #2408
@aphelionz @pkdash @hyi @cbcunc

I copied the email thread here:

"
The result is more favorable than I expected.
No WebApp resource has duplicated metadata element objects.
14 res have 0 SupportedResTypes metadata element object
2 res have 0 SupportedSharingStatus metadata element object
which means those webapp resources have never been edited after their creations. Maybe they were created just

[2017-11-09 19:24] itaher1995 opened #2409 "[NWM] Forecast starts an hour after initialized in Short Range Configuration"
If the initialization time for the Short Range Configuration is 00:00 UTC time, then the NWM Forecast Viewer will begin at 01:00.

![image](https://user-images.githubusercontent.com/22031618/32625414-2451115c-c55a-11e7-88f3-cf674b45195e.png)

This is an example of the configuration being set to short range and the  initialization time being set to 00:00.

[2017-11-09 20:06] itaher1995 opened #2410 "[NWM] Unclear units for time lag"
![image](https://user-images.githubusercontent.com/22031618/32627130-756765aa-c55f-11e7-90d4-5d2ab7c329f9.png)

What is the unit z? Hours? Should use a more universal unit.

[2017-11-09 20:11] itaher1995 opened #2411 "[NWM] Time Lag for Long Range allows for the selection of no or more than one time lag"
When you choose a time lag you are allowed to pick no time lag or more than one time lag. If you pick no time lag it does not retrieve data; however, I personally feel that you should not be able to view forecasts if you don't complete this option. Rather it should either assume you're picking 00z or not let you click "View Forecast".

When you click more than one,  it will return results for both

[2017-11-09 20:13] itaher1995 opened #2412 "[NWM] Members in Long Range Configuration are unclear."
![image](https://user-images.githubusercontent.com/22031618/32627467-840a9810-c560-11e7-9d12-4dcb99f9d8f0.png)

What are the members in this chart?

[2017-11-09 20:19] itaher1995 opened #2413 "[NWM] When you pick the begin date to be the current date, it should state that the chart is projected values"
![image](https://user-images.githubusercontent.com/22031618/32627601-fc71b9e6-c560-11e7-9999-1cc0730dadb2.png)

These are technically projections right? The chart should state that?

[2017-11-10 17:23] itaher1995 opened #2417 "[NWM] Snow-Cover Forecast Chart Units"
The units for the snow-cover variable is fraction. Fraction is an ambiguous term and we do not know what the numerator or denominator are for this variable.

![image](https://user-images.githubusercontent.com/22031618/32670502-f5d1a342-c611-11e7-96dc-689b04c9fba9.png)

[2017-11-10 17:25] itaher1995 opened #2418 "[NWM] For geometry "land" changing variable causes map reload"
If I am looking at a certain grid cell and change the variable and click view forecast, the website refreshes and although it returns data about the forecast, in certain instances, it refreshes the map to be the default view (the United States.)

[2017-11-10 17:27] itaher1995 opened #2419 "[NWM] For Geometry "Land" Variable "Soil Saturation" has ambigious units "Fraction""
The soil saturation's units for the forecast chart are in the units fraction. This is ambiguous as we do not know what the numerator and denominator are.

[2017-11-10 18:36] itaher1995 opened #2420 "[NWM] Medium Range Configuration, the variable "Soil Moisture" should have units in its chart but does not."
There are no units for soil moisture. Although it is obvious that the higher the value the more moist the soil is, I think it's good practice to have units for soil moisture.

![image](https://user-images.githubusercontent.com/22031618/32673196-2df7bd9c-c61c-11e7-9d43-f4d1485d98cd.png)

[2017-11-10 21:24] zhiyuli opened #2421 "Unit Testing takes 3 hours"
I dont think it is normal... I ran the test cases on my locally VM using command
docker-compose run hydroshare ./run-pylint
It hasn't finished after 2 hours...but no error so far

![image](https://user-images.githubusercontent.com/10070599/32679209-ca6812a2-c622-11e7-8424-d8ca1777bf2d.png)

[2017-11-10 22:19] zhiyuli commented on #1161
@danames @dtarb @horsburgh

@aphelionz has added a new "ShowOnOpenWithList" checkbox in his PR for “app replacement app”. Since the business logic of checkbox is unclear, we decided to remove that checkbox from that PR for now.

I then reminded @danames of a simplified workflow we discussed in April (see early conversations in this issue), which was to re-use existing “Add Favorite” button instead

[2017-11-11 17:27] alvacouch opened #2422 "Discover page: depict number of matches and pages in list view"
The current list view does not expose the number of matches or number of pages to the user. This makes it difficult to decide whether to limit choices by faceting.  The discovery list view should depict page number links.

[2017-11-11 19:10] alvacouch opened #2423 "Discover page: limit returned data to speed up data transfer"
The discovery system transfers much more data to the browser than the browser uses. To speed up discovery, limit transferred data to the data the browser needs. This transfer is a dominant component in discovery speed of operation.

[2017-11-11 19:17] alvacouch opened #2424 "Discover page: avoid hitting DJango database in returning SOLR data to client"
A detailed analysis of the code for `discovery_json_view.py` indicates that the code is hitting the Django database -- thousands of times -- in returning map data. This can be avoided by storing relevant data in SOLR as unindexed stores, and by using `result.get_stored_fields() `instead of using `result.object.*`.

AFAIK the only field that needs to be stored -- that SOLR doesn't already store --

[2017-11-11 19:48] alvacouch opened #2425 "Discover page: incomplete indexing of non-Dublin-core metadata"
The discovery interface currently only indexes a fraction of non-Dublin-core metadata. Local metadata is only indexed for NetCDF, Time series, and Geographic Feature resources.

For other resource types, only Dublin core metadata and access control are indexed for discovery.

Notably, composite resource metadata is not being indexed.

[2017-11-11 20:09] alvacouch opened #2426 "Discover page: currently no support for phrase matching in text box"
The discover page currently doesn't interpret quoted phrases like "water quality" properly. It uses the default Haystack processing, which interprets sequences of words as requirements connected by "AND". To use this, we have to change the default parser to pick up these phrases, and process them as search terms differently than the default.

To do this, we can use the Haystack query syntax `text_

[2017-11-12 14:13] pkdash commented on #1666
@horsburgh The example science metadata xml document for HydroShare that you once provided to me includes these external identifiers.

[2017-11-12 17:32] horsburgh commented on #1666
@pkdash - thanks for being thorough. @dtarb - you posted this issue, which I think is adding new functionality that we have discussed in the past. You indicated above that you want people to be able to add these optional author identifiers to the metadata of a resource when they create authors and contributors on resources. This means that they would become part of a resource's metadata (they woul

[2017-11-13 03:01] dtarb commented on #1666
I think that this identifier metadata should be copied into creator and contributor records that are part of resources.  ResearcherID and ORCID are not ephemeral.  They uniquely identify a specific researcher and are well established in the research citation world.  Journals often ask for them when publishing a paper.  The uniqueness they provide is not guaranteed by name and email (which is ephem

[2017-11-13 03:16] dtarb commented on #178
@goodalljl can you chat to Larry Band about this and decide a path forward.  We have RHESSys as part of our JupyterHub platform, but I am uncertain about how this saves its output in HydroShare.  It would be more sustainable for RHESSys (and other models) if model instances could be saved using the generic model instance resource, just with a name attribute RHESSys.

[2017-11-13 12:44] alvacouch opened #2427 "Discover page: anomaly in map view listings"
It was generally agreed long ago that the map listing should include all resources currently viewable on the map, up to a reasonable limit of -- e.g. -- 200 matches.  Lines of that listing should be highlighted when the user selects things on the map.

I remember this being implemented but somehow it got removed and/or forgotten, and the current listing only shows the selected resources on the map

[2017-11-13 12:49] alvacouch commented on #2426
This was originally implemented by passing all requests from this line directly to SOLR, but got unimplemented as a result of a request that we match prefixes of keywords as well as full keywords. That is definitely not SOLR syntax. In 20/20 hindsight, this was probably a poor decision. We might want to re-institute SOLR syntax at the expense of eliminating implicit substring matching. This would

[2017-11-13 12:56] alvacouch opened #2428 "Discover page: coverage type facet"
Instead of having two map views, the idea of instituting a **coverage type facet** seems a better approach. This would allow one to select "`Site`" or "`Area`" coverages (or both) to show on the map. Thus, we would only need one map for both use cases.

Some composite resources would match both.

[2017-11-13 13:04] alvacouch opened #2429 "Discovery page: need "submit" button for text query"
Users find it confusing that the page doesn't have a submit button for term queries. In fact, typing a `return` after the query executes the query, but not all users know that. An explicit "magnifying glass" search icon would help.

[2017-11-13 13:06] alvacouch commented on #2308
This is fixed in 1.13.1.

[2017-11-13 13:07] alvacouch commented on #2400
Changed as of 1.13.1.

[2017-11-13 14:45] alvacouch commented on #2429
This is not what people meant. Constructing another issue.

[2017-11-13 14:45] #2429 closed

[2017-11-13 14:50] alvacouch opened #2430 "Discovery page: "show all" button label is misleading"
The "show all" actually just recomputes the facets according to the current search term. It should probably be labeled "update facets".

There has been a bit of discussion about how facets should actually work. Currently they are updated only when one enters a new search term in the text box. This was to avoid confusion when facets change a lot. However, now it seems that even that is undesirable.

[2017-11-13 15:33] horsburgh commented on #1666
@pkdash - looks like we are adding these to the resource metadata. This won't change the resource landing page display at all. This will only change what is included in the resourcemetadata.xml file.

[2017-11-13 16:06] hyi commented on #2404
@horsburgh The manifest file is created by an iRODS rule file, and I looked at this resource and the rule file, but cannot figure out what could have caused this duplication. It does not happen for all composite resources, for example, the manifest file looks correct for this composite resource: https://www.hydroshare.org/resource/87e215f7e37e4fa1ad309e70e092c5e5/. Is there a particular workflow y

[2017-11-13 16:16] horsburgh commented on #2404
@hyi - I can try to get to this soon. I'm traveling this week to a workshop and so trying to get ready. I suspect it has something to do with adding files, removing them, and then adding them again to the resource.

[2017-11-13 18:57] Lizabrazil commented on #2386
The page has been removed. I have a local copy of the page in case HIS referenced time series return as an option.

[2017-11-13 18:57] #2386 closed

[2017-11-13 19:06] pkdash commented on #1666
@horsburgh Only if we decide not show the identifiers for creators and contributors on the landing page. But I imagine we also at some point want the user to be able to add identifiers as part of creating creator/contributor on the resource landing page. If we do that then we probably have to list the identifiers there.

[2017-11-13 20:18] horsburgh commented on #1666
I don't think we should do profile editing type things on the resource landing page. I think creation or editing of linked profiles should only be done via the user's profile page.

[2017-11-13 20:22] Maurier commented on #2368
@pkdash see https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/__init__.py#L1057
A good start would be to replace this method with a more specific one designed for the My Resources page. Ideally it would pass only the information needed. The one used right now passes way too much information to the view making it very slow.

[2017-11-13 20:23] dtarb commented on #1666
Correct, you do not edit a users profile from a resource landing page.  But you do edit author or contributor metadata.  That metadata may have been copied from the profile page.  If there is a place for these identifiers in the resource data model as part of author or contributor metadata, then we will need to have a place on the resource landing page to edit and add this when we are adding autho

[2017-11-13 20:23] dtarb commented on #1666
Perhaps the distinction is that profile information is not linked, it is copied into the resource data entries.

[2017-11-13 20:36] Maurier commented on #2368
Here is the network analysis to load the page:
![image](https://user-images.githubusercontent.com/2448568/32747895-930ec966-c877-11e7-8559-35cc8f87fc1c.png)
Notice how must of the time spent is on the time to first byte. This is an indication that processing the data before transfer is taking too long.

[2017-11-13 20:39] horsburgh commented on #1666
@dtarb - this is why I was suggesting to NOT add the optional identifiers to the metadata and ONLY make that information part of the profile in HydroShare. Now, we have to add complexity to the user interface by providing all of this new editing functionality on the resource landing page.

But - OK - have at it @pkdash. @dtarb is right - if we are going to allow the inclusion of this information a

[2017-11-13 21:09] Maurier commented on #2405
Most of the time is allocated waiting for a response:
![image](https://user-images.githubusercontent.com/2448568/32749082-6ad64f2e-c87b-11e7-8155-9cfe9e6fbc23.png)
For this page we need to look at which information is being passed to the view to find where we can improve it.

Loading the publication agreement also takes some time:
![image](https://user-images.githubusercontent.com/2448568/32749064

[2017-11-13 22:09] pkdash commented on #1666
There has never been any linkage between hydroshare user object and creator/contributor and I am not proposing for creating any such linkage. The only thing that we do with user object as it relates creator/contributor is that we sometime create creator/contributor objects by copying data from the user object. The 2nd part of this github issue has the requirement that the user should be able to ad

[2017-11-13 23:07] ChristinaB opened #2431 "No files to display - missing data"
@alvacouch
These two resources used to have files, but today they do not.  Both of these resources had data three weeks ago, and there is no reason to suspect a human has cleared the resource contents.
https://www.hydroshare.org/resource/3a925bd4a5784a38944b1e8b51224de1/
https://www.hydroshare.org/resource/70b977e22af544f8a7e5a803935c329c/
![image](https://user-images.githubusercontent.com/4108369

[2017-11-13 23:12] Maurier commented on #2431
@alvacouch The front end is failing to get the folder structure for these resources through the API call
`/hsapi/_internal/data-store-structure/`

I've seen this error multiple times in the last few weeks.

[2017-11-13 23:33] ChristinaB commented on #2431
Thanks for getting back to me.  I'm mildly distressed because the data and notebooks for one of these if for a paper I am trying to get out by AGU.  This looks like a really bad error.  So the data is there it's just not being displayed?

[2017-11-14 00:25] horsburgh commented on #1666
Sounds good. Thanks @pkdash

[2017-11-14 01:39] dtarb commented on #2431
This is widespread, and needs some prompt action.  Here is another resource where this is a problem. https://www.hydroshare.org/resource/64fb0a478974411caea3335e2d07975c/.  An attempt to download a bag results in the following errors
![image](https://user-images.githubusercontent.com/3456833/32758512-07ee548e-c8a2-11e7-80f4-29bef8f4cc57.png)

[2017-11-14 02:17] hyi commented on #2431
@dtarb @cbcunc @phuongdm @aphelionz From the bag download error, I can see the following two issues possibly related to deployment oversight:

- download bag path points to hydrotest41Zone which is the default iRODS setting in local_settings.py, so it appears local_settings.py did not get restored with production settings on production server.

- We can see debug traceback on www, which means debu

[2017-11-14 02:19] alvacouch commented on #2431
I agree with @hyi. Also make sure to reset the bag_modified flag to cause regeneration of all bags. This should be set in the deploy script.

[2017-11-14 02:25] phuongdm commented on #2431
@hyi,

You are correct. That's my fault. I'm going to rebuild again with the correct local_settings.py

[2017-11-14 03:14] phuongdm commented on #2431
@ChristinaB, @dtarb, @Maurier, all

I have run rebuild on the www.hydroshare.org. Could you please re-check your resources?

Sorry again,
Phuong

[2017-11-14 03:20] Maurier commented on #2431
I think it worked, at least partially. The resources posted by @ChristinaB have been restored, but I see at least one other instance still showing the behavior:

https://www.hydroshare.org/resource/7a77f525667b42f69cdc3f8db18e1280/

[2017-11-14 04:24] dtarb commented on #2431
We should establish the practice of running Tony's check to download all resources script as a test on each release candidate, and as a test on each production deploy.

[2017-11-14 12:08] dtarb commented on #2430
To clarify current behavior (based on testing on www 11/14/17) the resources listed on the Discover page list view are updated according to the selected facets as soon as a facet is checked or unchecked in the facet list.  "Show All" does not appear to do anything or have any effect, because the resources listed are already filtered according to the facets. Thus the problem is only in part the lab

[2017-11-14 12:11] dtarb opened #2432 "Clear Dates button does not work"
In the Discover page, clicking on the red X clear Dates button does not clear the Temporal Coverage Dates

![image](https://user-images.githubusercontent.com/3456833/32779261-3e5d0aee-c8fa-11e7-8759-770320c50874.png)

[2017-11-14 14:07] dtarb commented on #1161
I think that the idea suggested by @danames in #2336 and @aphelionz in #2322 of a specific button "Show on Open With" is better than the approach I initially suggested in #1161 of having show on open with behavior determined through being added to "My Resources" or "Favoriting".  I think that a check box explicity labeled by what it does will be clearer to users than having to do something labeled

[2017-11-14 14:59] ChristinaB commented on #2431
Thanks for the quick response everyone.  Can I suggest that we recreate this 'No files to display' every April 1 for an April Fools joke?

In other news, it looks like the new release also broke the jupyter hub server.  Should I make a new Github issue for that? I'll email @Castronova first.

[2017-11-14 15:33] alvacouch commented on #2426
@mseul @dtarb @aphelionz @Lizabrazil I think it is time to re-enable full SOLR syntax on the search box.

* There will be a special syntax for prefix matching.
* Other powerful queries will become possible.

This will mean writing a simplified and more approachable guide to that syntax but will give us what we want. @Lizabrazil and I will prepare a simplified guide to syntax for your perusal. This

[2017-11-14 15:35] alvacouch commented on #2430
The natural behavior of SOLR is to update the facets themselves when a facet is checked. Checking one facet often means that others have no matches and disappear. Numbers of matches are updated. This behavior has largely been disabled in our system.

[2017-11-14 15:38] horsburgh commented on #1161
Wow. This seems really complicated. How many CUAHSI approved apps are there going to be? How is a user supposed to know an App exists so they can go to its landing page and tick a box for that App to appear? Seems like all the complication of vetting apps should be done before they are CUAHSI approved. On the user end, it should just be as simple as choosing to include an app in the "Open with" li

[2017-11-14 16:45] ChristinaB opened #2433 "JupyterHub Server Down"
@swuiuc
This is the error of the day:
![image](https://user-images.githubusercontent.com/4108369/32792409-263e1322-c918-11e7-9fa8-3eef2eab7f8d.png)

Thanks for looking into why the server is not working.

[2017-11-14 16:59] alvacouch commented on #2426
@mseul @dterb @aphelionz @Lizabrazil An even better idea. If we simply use one of the "haystack query parsers", we get the function we need without any bother at all. The advantage of these is that they're both simple and portable. See

* https://github.com/mattdeboard/rawqs-sq/blob/master/queryparser.py
* https://github.com/Aplopio/haystack-queryparser

I am partial to the last, which enables "se

[2017-11-14 17:28] ChristinaB commented on #2433
The above error was produced with https://jupyter.cuahsi.org/user/christinabandaragoda/tree?
and https://jupyter.cuahsi.org/

Per Dandong's email below, his restart seems to have fixed the problem.

From what I see here, everything works perfectly fine. No infrastructure or service failure. I also checked the live log of the JupyterHub service and find no error in it. All signs indicating that it

[2017-11-14 17:29] ChristinaB commented on #2433
@horsburgh   Are you launching notebooks from HydroShare at the BigCZ meeting today and tomorrow? I know that Jezra was planning to do so.   It should be fine now.

[2017-11-14 17:32] horsburgh commented on #2433
@ChristinaB - we are doing a bunch of demos via Jupyter notebooks in our workshop. The BiG CZ Team stood up our own Jupyter server for this.

[2017-11-14 17:40] ChristinaB commented on #2433
@horsburgh   Please be sure to do a few tests before you go live.  I think everything is running fine now, but you should be sure for the resources you plan to use.

[2017-11-14 17:41] zhiyuli commented on #1161
@dtarb
I have 2 question about this statement:
"Check whether there are requirements for specific file types to be present in the resource and whether these requirements are met. A web app may be configured to apply to specific file types within a multitype resource (such as a composite resource). This configuration should indicate whether the web app should appear on the resource level open with

[2017-11-14 19:18] zhiyuli commented on #2409
@itaher1995
This is expected.  Short range start producing forecast 1 hour after model init time.
0-hour lag for analysis assim
3-hour lag for medium range
6-hour lag for long range

[2017-11-14 19:23] zhiyuli commented on #2410
Looks like we should change it to upper-case "Z"

https://en.wikipedia.org/wiki/ISO_8601#UTC
"If the time is in UTC, add a Z directly after the time without a space. Z is the zone designator for the zero UTC offset"

[2017-11-14 20:54] dtarb commented on #1161
@zhiyuli we are on the same page on point 1.  On point 2 it may be that a web app can work at resource level as long as there are certain file types present, perhaps more than 1.  An example is multiple netCDF files.  Open with from the resource level may want to point to a URL such as http://hyrax.hydroshare.org/opendap/31acb0c0a66f4de08f541077bdf3e1d2/data/contents/contents.html that provides an

[2017-11-14 20:56] dtarb commented on #2426
@alvacouch I am totally fine to leave these choices up to you based on your knowledge of the options in this area.

[2017-11-14 21:18] dtarb commented on #1161
@horsburgh the idea of this being editable from the open with list itself is appealing.  Speaking to @zhiyuli he suggested it be a second UI phase of the work, that could use the same backend functionality as what he could implement more easily for a "Show on Open With" check box.

The comment about CUAHSI approved misses the point, because CUAHSI approved apps will always appear on Open With (ste

[2017-11-15 02:23] zhiyuli commented on #1161
@pkdash @alvacouch @Maurier @dtarb

I reviewed "hs_lable" code and got the following findings (correct me please):

1) hs_lable supports 3 functionalities:
a) "Add to my resource": user actively discovers a public/published resource over which he has NO explicit permission, and then adds this resource to his "My Resource Page"
b) "Mark as Favorite": User marks a resource on his "My Resource Page"

[2017-11-15 04:59] phuongdm commented on #2431
@alvacouch

The resource `7a77f525667b42f69cdc3f8db18e1280` has a file: `data_48.15625_-121.28125.gz` but after run

`./hsctl managepy ingest_irods_files 7a77f525667b42f69cdc3f8db18e1280`

the file has disappeared. What did I do wrong here?

![image](https://user-images.githubusercontent.com/24579275/32819547-cf57741a-c997-11e7-9807-39d1066ea271.png)

![image](https://user-images.githubusercontent

[2017-11-15 05:12] phuongdm commented on #2431
@dtarb @ChristinaB

Sorry for the late response, but we need to avoid to touch to the production server while users access it. And some of you also have presentations/classes today on HydroShare. So, night work might be the best choice.

[2017-11-15 12:54] dtarb commented on #2431
@alvacouch may be able to help as he wrote that ingest_irods code (I think).  I did make a copy of the zipped bag of this resource that includes this file on Monday when the problem was reported and @ChristinaB  bagging seems to be working now if you need to recover the files before we are able to fix the problem.

[2017-11-15 14:11] dtarb commented on #1161
My (weak) intuition is that option 1 seems best, but I would really prefer to defer to @pkdash @alvacouch @Maurier who know this code.

[2017-11-15 16:00] zhiyuli opened #2435 ""add to my resource" button doesn't work for Discoverable resources"
Not sure it is expected or a bug. The "add to my resource" button doesn't work for Discoverable resources.
An example:
https://www.hydroshare.org/resource/d7139a2a819048e1a10ec5bddc33ac90/

[2017-11-15 16:10] zhiyuli opened #2436 ""add to my resource" button shows confusing messages"
The grey and yellow messages of "add to my resource" are confusing...

![image](https://user-images.githubusercontent.com/10070599/32846544-cb265288-c9e4-11e7-8a68-0297aeda0308.png)

[2017-11-15 16:12] Maurier commented on #2436
This is a bug I can fix.

[2017-11-15 16:13] Maurier commented on #2435
I can confirm it doesn't work for Discoverable resources. The ajax call is sending the correct information, but error 500 is returned.

[2017-11-15 16:21] zhiyuli commented on #2435
@Maurier @pkdash @dtarb

I am reviewing hs_lablel code and trying to reuse it for WebApp's OpenWith functionality.

I can see the backend code requires users to have View_RESOURCE permission when doing "add to my resources". But users only have View_Metadata permission over Discoverable resources, which causes the failure we saw.

So this is a policy question for @dtarb, do we allow "add to my res

[2017-11-15 17:42] rphooper opened #2437 "NWM Forecaster Viewer Suggestions"
In my use of this app, the greatest difficulty is getting sufficient information to locate the reaches of interest because the base map is not terribly informative and is inconsistent with the base maps used in HydroClient. My suggestions are

- [ ] Change basemap to be consistent with HydroClient (replace bing map with google map)
- [ ] Add river name to COMID (including "unnamed tributary to riv

[2017-11-15 17:51] rphooper commented on #2437
It would be helpful if COMID could include the river name and/or if basemap included river names. I don't think Google base map is particularly good with river names, but most of those maps aren't. It is a problem.

[2017-11-15 19:54] alvacouch commented on #2431
@dtarb @phuongdm The trace above is correct function of the script `ingest_irods_files`. The error messages always show; they are django messages that happen whenever a command is invoked. The actual output of the script indicates **correct** operation.

[2017-11-15 20:02] alvacouch commented on #2431
@dtarb @phuongdm @aphelionz This may be a UI problem. My command says there are 25 files available but they aren't showing up. Here's what it prints on www:
[code]

[2017-11-15 20:03] phuongdm commented on #2431
@alvacouch

The file has gone instead of the behavior of ingest_irods_files is created Django file records.

[2017-11-15 20:05] alvacouch commented on #2431
@dtarb @phuongdm @aphelionz I do not have irods credentials to login to the www repository to check the irods files actually present.

[2017-11-15 20:09] alvacouch commented on #2431
@dtarb @phuongdm @aphelionz

[hydro-service@www hydroshare]$ ./hsctl managepy check_irods_files 7a77f525667b42f69cdc3f8db18e1280
.....
LOOKING FOR FILE ERRORS FOR RESOURCE 7a77f525667b42f69cdc3f8db18e1280
[hydro-service@www hydroshare]$

**This passes the correspondence test between django and iRODS.**
So there is something very wrong with the ui (or these files have been mis-located outside 7a77f

[2017-11-15 20:41] alvacouch commented on #2431
@aphelionz @phuongdm @dtarb I wrote a custom debugger to list what the system is finding. It is located in www:hydroshare/management/commands/junk.py Its output is as follows:

[code]
**It found all files in both Django and iRODS.**

[2017-11-15 20:48] dtarb commented on #2435
This is a policy nuance that I do not think has arisen.  I think that Discoverable (and Public) resources should be able to have Add to my resources activated.  However it is quite a small subtle consideration of little consequence, so I would not object to leaving as is (Discoverable resource can not be added to My resources).

That said, the interface for whatever is done, should be clear, and i

[2017-11-15 20:58] Maurier commented on #2435
I can fix this in the interface easily.

[2017-11-15 22:10] phuongdm commented on #2431
It seems that @alvacouch is correct. This may be an UI problem.

@hyi

Could you debug this issue for us? @aphelionz doesn't have access to www.

[2017-11-15 22:34] Maurier commented on #2435
If I'm not mistaken, Public resources are flagged as Discoverable internally, but not vice versa. Solving this would be equivalent to only displaying the button for Public resources.

[2017-11-16 16:52] zhiyuli opened #2439 "NWM View App issues compilation"
This is a compilation of NWM App issues reported by different sources after 2017 Alabama meeting (Aug 2017)

Rick:
- [ ] #2437 NWM Forecaster Viewer Suggestions

CUAHSI:
- [x] #2409 [NWM] Forecast starts an hour after initialized in Short Range Configuration
- [x] #2410 [NWM] Unclear units for time lag
- [ ] #2411 [NWM] Time Lag for Long Range allows for the selection of no or more than one time l

[2017-11-16 23:50] itaher1995 opened #2440 "[Hydroshare GIS] Possible resolution error with app"
![pagegoesoffscreen in chrome](https://user-images.githubusercontent.com/22031618/32922126-ad2fee04-cafe-11e7-9bcd-357f91c18400.PNG)

As you can see in this image, the toggle button goes off on multiple web browsers (chrome and edge). It could be a resolution error on my computer. If it is this, then there should be an instruction to show the optimal resolution.

[2017-11-16 23:57] itaher1995 opened #2441 "[Hydroshare GIS] In Chrome, feedback button blocks checkboxes of layers"
![layersblocked](https://user-images.githubusercontent.com/22031618/32922252-56a3f566-caff-11e7-8c74-03f48c132e4c.PNG)

In chrome the layers' checkboxes are blocked, by the feedback button, I can't find a way to undo this. This is not the case in edge.

![layersnotblocked](https://user-images.githubusercontent.com/22031618/32922394-047d2b58-cb00-11e7-9e4e-401ce1a61cba.PNG)

[2017-11-17 00:33] Castronova commented on #2410
@zhiyuli It would also be helpful to provide an info dialog button for Time Lag that describes the purpose and units (i.e. hours) of this attribute.

[2017-11-17 00:35] Castronova commented on #2409
@zhiyuli is this documented anywhere on the app?  We need to make sure that users understand this.

[2017-11-17 00:37] Castronova commented on #2440
@itaher1995 can you provide a bit more explanation for this?

[2017-11-17 01:46] itaher1995 commented on #2440
@Castronova Basically when you look at the app in browser the toggle button (those three lines in the top right corner) don't really show up so at first glance you cant really see them.

[2017-11-17 01:56] itaher1995 opened #2442 "[Hydroshare GIS] Different outputs for shapefiles in different Browsers"
It seems that the issues with Chrome persist.

When uploading the TauDEM files to Hydroshare GIS, the output layers are different between two web browsers, enough that when looking at a subset of layers, the chrome output it essentially a black blob and in edge it is actually in a readable format.

![edgeoutput](https://user-images.githubusercontent.com/22031618/32925579-9837c690-cb10-11e7-9933-6a

[2017-11-17 02:01] itaher1995 opened #2443 "[Hydroshare GIS] You can add files that are not tif or shp files that don't do anything on the map"
I can add .ipynb, .pdf files and so forth that do not change anything on the map into the layers. Although it does not do anything to map, there should be a way not to add those files. It makes no sense to have them in the layers list.

There should be a way that resources with no files that can be loaded onto Hydroshare GIS won't be displayed.

[2017-11-17 02:05] itaher1995 opened #2444 "[Hydroshare GIS] What is Log"
You can click on a button log which has two options "Clear Log" and "Close" neither do anything as far as I can tell in the app and there is no documentation on what that area is for.

[2017-11-17 02:08] itaher1995 opened #2445 "[Hydroshare GIS] No 'delete all layers' button"
When you upload a resource a lot of layers show up in Hydroshare GIS. If I want to delete all those I have to do it manually or exit out of Hydroshare GIS

[2017-11-17 02:10] itaher1995 opened #2446 "[Hydroshare GIS] When you click apply in the modify symbology window, the window does not go away"
![modifysymbology](https://user-images.githubusercontent.com/22031618/32925913-6fdae2c0-cb12-11e7-93fe-2ee97d3c7a14.PNG)

Generally when someone clicks apply, they expect the window to go away so they can see the changes. I have to click close to see my changes.

[2017-11-17 02:13] itaher1995 opened #2447 "[Discover Page] Cannot clear dates"
When I click the red x to clear all dates, the dates do not clear.

[2017-11-17 02:16] itaher1995 opened #2448 "[Discover Page]When I attempt to put in a date range the website refreshes"
Let's say I wanted to look up all resources from 10-10-2017 to 11-01-2017.

If I go to put in 10-10-2017, the website will refresh and give me all the values from 10-10-2017 till present. Only after that can I put in 11-01-2017.

This causes the user to have to wait for a refresh and generally when you put in a date range, it will allow you to put in the date range and then it will return results.

[2017-11-17 02:25] itaher1995 opened #2449 "[Discover Page] Filter by Owner does not work"
If I try to filter by owner, it will not do the filter accordingly.

For example, I tried to filter by owner in which David Tartoban was the owner, and when I did so, most of the choices that were available, Mr.Tartoban was not an explicit owner (if you click on the resource, it shows the owners.)

![image](https://user-images.githubusercontent.com/22031618/32926311-9c027636-cb14-11e7-8b03-3f61f84

[2017-11-17 02:32] itaher1995 opened #2450 "[Discover Page] Some of the filters don't make sense"
![image](https://user-images.githubusercontent.com/22031618/32926493-80c9b018-cb15-11e7-9ecf-42713d0e6f60.png)
I am not exactly sure about what goes into each category. If we are looking at all papers that use this filter, than degree Celsius should have WAY more resources no? Also shouldn't the four instances of degree Celsius be the same instance in the filter?

![image](https://user-images.gith

[2017-11-17 02:38] itaher1995 opened #2451 "[Discover Page] Show all button does not work"
Clicking Show all on the discover page does not do anything, even if you have filters on.

EDIT: I saw there is a discussion already on the issues feed about the show all button, but I could not get it to elicit the behavior they were talking about.

[2017-11-17 02:53] itaher1995 opened #2452 "Discovery map disappears until you move the map"
When you toggle a filter, the resources will disappear as expected, but when you untoggle the filter, the resources will not return to the screen until you move the map around. However, sometimes it takes a while for the resources to return.

[2017-11-17 02:54] itaher1995 opened #2453 "[Discover Page] When in Map setting the search setting does not do anything."
![image](https://user-images.githubusercontent.com/22031618/32927101-c1c8a9a4-cb18-11e7-8d1f-4563a04205f5.png)
This search field does not do anything.

[2017-11-17 02:58] itaher1995 opened #2454 "[Discover Page] When you use the map option and the top search option, it returns to the list setting AND also does not update the map"
When you use the top search it returns back to the list setting and also does not update the map setting's resources listed.

![image](https://user-images.githubusercontent.com/22031618/32927204-4f170422-cb19-11e7-9e43-ecc5d0744f86.png)

The highlighted resource has no reference to a Christina in it.

[2017-11-17 03:00] #2453 closed

[2017-11-17 03:07] itaher1995 opened #2455 "[Hydroshare GIS] Basemap should be defaulted to a type of map no?"
When you initialize Hydroshare GIS I personally feel that the Basemap option should be initialized to one of the three options, because I expect to see a map, but instead see nothing.

[2017-11-17 16:34] aphelionz commented on #2431
Some updates, folks:

1. I do have access to www @dtarb @hydroadmin @alvacouch
2. I noticed that the UI is throwing an error based on this line https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_folder_hierarchy.py#L86

That tells me that this is NOT a UI issue and that Django is having an issue finding that logical file. I need more time to figure out whether or not that

[2017-11-17 17:01] hyi commented on #2431
@aphelionz @alvacouch @phuongdm Given the information above, my hunch is that the ingest_irods_files script, which was written before composite resource was deployed if I remember this correctly, does not handle logical files, hence the logical file does not exist for re-ingested irods files in Django DB. In any case, it looks to me like a Django DB issue for this problematic issue.

[2017-11-17 17:48] zhiyuli commented on #2437
@rphooper @danames @dtarb @martinseul

I made some comments on @rphooper 's suggestions

**Change basemap to be consistent with HydroClient (replace bing map with google map)**
We have some technical difficulties in doing this. The NWM View App uses OpenLayer3 (a javascript lib) to build web mapping interface. It does not support Google Map as Google sets some restrictions on purpose to promote it

[2017-11-17 18:28] zhiyuli commented on #2437
@rphooper @danames @dtarb @martinseul
I just found the usgs_timeslices data contains discharge observations for different gauge stations in different netcdf files (time steps).

I checked outputs for Oct 10, 2017
The 1st netcdf file "2017-10-10_00_00_00.15min.usgsTimeSlice.nc" has 3,862 gauges.
The 2nd: 2017-10-10_00_15_00.15min.usgsTimeSlice.nc has 1,759 gauges.
The 3rd: 2017-10-10_00_30_00.15min

[2017-11-17 22:11] dtarb commented on #2250
Based on discussion with @hyi code for this has been merged to develop.  I have verified that nightly script updates netCDF files.  This can be closed once immediate copy of netCDF files in composite resource made public is verified in deployment.  This cannot be tested in a candidate release due to nature of Hyrax server iRODS interactions.

[2017-11-17 22:18] dtarb commented on #1666
@horsburgh and @Maurier while you are looking at this issue please also look at #1787 and #1774 that are related.

[2017-11-19 02:38] goodalljl commented on #178
@dtarb Yes, I'll talk with Larry about this. Talking with his student Charles, they are hoping RHESSys  in JupyterHub could be fixed soon.
@Castronova I think this falls onto your plate. I believe the JupyterHub changes you made to get LandLab working broke RHESSys in JupyterHub. Talking to Dave, he said the plan was to roll back JupyterHub after the LandLab workshop so that RHESSys would work. Wh

[2017-11-19 14:20] alvacouch commented on #2431
@hyi @phuongdm @aphelionz It's worse than this. Look at the following:

[code]
This persists when repeated. **The script to fix logical files isn't fixing them.**

[2017-11-19 14:58] aphelionz commented on #2431
@alvacouch That was what I experienced as well... is it possible to manually fix this resource in the DB? just hand jam it for now and then do root cause analysis + fix after AGU?

cc @hyi @phuongdm

[2017-11-19 15:25] alvacouch commented on #2431
@aphelionz @hyi @phuongdm This is a class botch. The fix_missing_logical_files routine is calling the wrong fix routine. It's calling the default fix for BaseResource, which does nothing. Fix is imminent.

[2017-11-19 15:34] aphelionz commented on #2431
aha!

[2017-11-19 15:35] pkdash commented on #2431
I have a fix for it which I am testing now.

[2017-11-19 15:35] pkdash commented on #2431
Should I make it a hotfix?

[2017-11-19 15:35] aphelionz commented on #2431
It's a race!

[2017-11-19 15:42] alvacouch commented on #2431
@pkdash @aphelionz I have fixed this resource -- inelegantly --- and it works properly. The problem was that the set_default_logical_files was being called in the base class BaseResource, which does nothing.

If you want to take the ticket and make a hotfix, please do.

The deeper question is why this is happening on a widespread basis for people using jupyter. This seems to be a problem with REST

[2017-11-19 15:47] pkdash commented on #2431
@alvacouch Yeah that's what I found when trying to debug the management script. Was calling the function on BaseResource class. Have now fixed it and testing locally and seems to work. Will make a hotfix today. Also would try to look into the rest call. Thanks

[2017-11-19 15:55] aphelionz commented on #2431
@pkdash Can you hotfix and also run the script on prod? That would be good considering it's the weekend and usage is low.

[2017-11-19 15:55] alvacouch commented on #2431
@pkdash (cc @aphelionz) I will be online today. Let me know when you have something to review.

Meanwhile I suspect there are code paths where the post-add signals are not being sent. I'll take another look at file creation myself and look for such places. I don't know if they're sent when we copy in from IRODS.

[2017-11-19 15:59] alvacouch commented on #2431
@pkdash @aphelionz Note that I fixed the resource of interest but that there are many others on beta that need the fix, so you can test your hotfix on those.

[2017-11-19 16:11] alvacouch commented on #2431
@pkdash I have reverted my changes on beta, so you can use that for testing. I am moving off beta to my own test servers.

[2017-11-19 16:42] alvacouch commented on #2431
@pkdash @aphelionz @phuongdm FYI: I am checking on the possibility that the exact same thing is happening when we add files that is happening in the management script, i.e., we get an instance of BaseResource rather than CompositeResource.

There is some crazy mezzanine stuff going on in hs_core/models.py that affects the routines that get resource type. I do not trust it.

Many of the REST calls

[2017-11-19 17:12] aphelionz commented on #2431
All the more reason to gut mezzanine. However, the AGU mandate remains - we need to make sure things are functioning as smoothly as possible in the next ~2 weeks before we go in and get surgical on the system. For now we need to live with a working fix_missing_logical_files function that we run periodically. In the meantime, let's continue to catalog code paths that are affected by this to tackle

[2017-11-19 17:36] alvacouch commented on #2431
@aphelionz I don't agree. If my theory is correct, we can safely patch the responders in the REST API.

[2017-11-19 17:47] alvacouch commented on #2431
@aphelionz @pkdash Theory incorrect. Still looking. Whatever it is seems quite systemic, though.

[2017-11-19 18:07] dtarb opened #2456 "Drag and drop of folders into resource contents does not use folder heirarchy and can create a corrupt resource."
An example broken resource was created as follows:

1. Create a composite resource but do not add files
2. Switch to edit mode
3. Drag and drop a folder onto the content space. The folder I dragged had two files with the same name (but different content) in separate folders within the folder that I dragged onto the resource.

There is an error message at step 3 indicating a duplicate file name, an