[2017-04-21 20:32] pkdash commented on #2025
All our url patterns have a trailing slash. So I guess we have to fix the failing tests.

[2017-04-21 20:33] yirugi commented on #2001
@pkdash I just confirmed that the REST API, /scimeta/elements/, correctly change the resourcemeta.xml as well. Thanks!! I'll close this issue.

[2017-04-21 20:33] #2001 closed

[2017-04-21 20:34] alvacouch commented on #2025
My guess is that the former file lister -- which wasn't done to best practices -- didn't put in the slash.
Will fix tests.

[2017-04-21 20:38] pkdash commented on #2029
I was able to download the file.

[2017-04-21 20:46] pkdash commented on #2001
@yirugi Thanks for your help on testing. Glad to know it got resolved.

[2017-04-21 20:47] zhiyuli commented on #2029
@pkdash
I can download it now as well...

[2017-04-21 21:12] pkdash commented on #2025
@alvacouch hs_restclient uses trailing slash everywhere except for specific resource file retrieval. Does that mean we have to fix rest client after your changes?

[2017-04-21 23:58] alvacouch opened #2030 "REST API doesn't respond to URLs that REST calls generate!"
@dtarb @pkdash @hyi @danames
**It's time to fix a long-standing problem.** The crux of the problem is that URLs in the responses to `/resource/{pk}/files/` don't actually work when we try to access them. The reason for this is that the listed URLs don't end with trailing slashes, and the REST API as written requires these slashes. The `hs_restclient` fudges things by adding trailing slashes where

[2017-04-22 00:18] alvacouch commented on #2030
@hyi @pkdash @dtarb After a little thought, I think the way to fix this is to make the REST API respond to **both** trailing slashes and no trailing slashes. That way, the existing URLs embedded in the files and responses will work. This is possible, and just a little tricky:

* The pattern `^resource/(?P<shortkey>[A-z0-9]+)/data/contents/(?P<path>.+)/?$` matches both trailing slash and no trailin

[2017-04-22 13:09] hyi commented on #2030
@alvacouch @pkdash @dtarb I think it is a good idea to make REST API respond to both trailing slashes and no trailing slashes. However, rather than changing url map pattern, can we add the trailing slash if it does not exist in REST API view function acting as a top-level wrapper to ensure it can handle the case with no trailing slash?

[2017-04-22 19:27] alvacouch opened #2031 "Files are not synchronized between Django and iRODS on beta and other dev environments"
A quick check of the 1.10.0 beta.hydroshare.org shows that iRODS and Django disagree on the names of some files. This may be snapshot skew, but we don't have the tools to check that.

One temporary solution is to write a file validator that checks whether iRODS and Django are synchronized. This can be utilized to track down the causes of any mis-synchronization.

[2017-04-22 19:48] pkdash commented on #2031
@alvacouch What about www? Can you do the same check there?

[2017-04-22 22:18] alvacouch commented on #2031
WWW is much harder to test because it's prior to the ResourceFile normalization. Possible but requires me to run the migration i(in spirit) n order to perform the test. Lots more work because the migration is run in a different syntax than production. I would need to port it.

Is this necessary?

[2017-04-22 23:09] alvacouch commented on #2030
@hyi I don't understand the distinction. The best way to map a pattern is to have a regexp that matches. I've given you the regexps. Leaving a regexp unanchored (no $) can lead to conflicts.

[2017-04-22 23:11] pkdash commented on #2031
@alvacouch Don't worry about it then.

[2017-04-23 13:37] alvacouch commented on #2031
@pkdash Will look into checking www after I finalize this version. Would that be a branch off of master?

[2017-04-23 16:05] pkdash commented on #2031
@alvacouch If you want this validation check to run on www prior to 1.10 release then the branch needs to be off of 'master' so that @mjstealey can apply it as a hotfix to master. However, I think in this particular case of hotfix the master should not be merged back to 'develop' since the develop would have the real validator based on the new file api.

[2017-04-24 13:32] hyi commented on #2030
@alvacouch I know addition of ```?``` at the end of the regex allows the trailing slash optional, but I am not sure whether the trailing slash will be included in the <path> variable in the view function, and thought perhaps some extra check is needed in the view function to determine whether <path> variable contains the trailing slash or not. However, that is a simple test, I am just not sure at

[2017-04-24 14:12] cbcunc commented on #2024
@rayi113 and I just talked. We agreed on a revised plan:

- [ ] Restore current HydroShare Hyrax to its limited operation immediately (@cbcunc)
- [ ] *Temporarily* remove mechanisms for accessing Hyrax from production Hydroshare (@gantian127)
- [ ] Create NFS or DAV mount on current Hydroshare Hyrax (@cbcunc) (lower priority than previous steps)
- [ ] Revise cron scripts which select NetCDF resour

[2017-04-24 14:28] rayi113 opened #2033 "Change HydroShare New Account Message"
Two changes discussed with @dtarb

* First change:
Current:
A verification email has been sent with a link for activating your account. If you do not receive this email please check your spam folder as sometimes the confirmation email gets flagged as spam. If you entered an incorrect email address, please request an account again.

New:
A verification email has been sent with a link that must be c

[2017-04-24 14:29] cbcunc commented on #2024
First to-do item accomplished. http://hyrax.hydroshare.org:8080/opendap/ @gantian127 up next.

[2017-04-24 14:31] cbcunc commented on #2024
Added @gantian127 and @hyi as co-assignees. Responsibilities in check list above.

[2017-04-24 14:54] cbcunc commented on #2024
[NFS-RODS](https://github.com/modcs/NFSRODS) contains the following disclaimer:

Not sure if `NFS symbolic links` means client-side or server-side. Will need to clarify with iRODS support. The cron scripts which select NetCDF resources work via symbolic links.

[2017-04-24 15:44] pkdash opened #2034 "REST endpoints documenation needs update"
The GitHub wiki page (https://github.com/hydroshare/hydroshare/wiki/HydroShare-REST-API) needs to be updated to the current implementation of REST endpoints.

Part of this update also needs to be update of doc string in rest api code so that DRF browsable web interface can show updated api information.

[2017-04-24 17:16] alvacouch opened #2035 "Natural use of versions and copies creates dangling inter-resource relations"
Use case:
1. user creates a resource V1.
2. over time the user creates two more versions V2, V1.
3. then the original is copied to C1
3. then the user deletes the original.

At this point,
1. the backlink "isVersionOf" is now broken for the versions.
2. the backlink "isCopyOf" is broken for C1.

This comes up when we try to resolve the latest version for discovery!

[2017-04-24 17:46] hyi commented on #2035
@alvacouch The use case you outlined above is not possible. I just checked on beta to make sure about this. After V2 is created which is a new version of V1, no action can be done to V1 any more, i.e., no copy can be performed at least from the UI side. Not sure about the REST API, but if isReplacedBy relationship exists for a resource which indicates this resource is obsoleted by a newer version,

[2017-04-24 17:48] alvacouch commented on #2035
@hyi The REST API imposes no such limits.

[2017-04-24 17:49] hyi commented on #2035
@alvacouch OK. Got it. Then REST API needs to be fixed to be consistent with UI.

[2017-04-24 17:53] alvacouch commented on #2035
@hyi

* Does this mean that the original version of a resource cannot be deleted from the UI?
* Does this mean that once a copy is made, the source cannot be deleted from the UI?

There is another sensible option, which is to update the relationship links appropriately when these operations occur.
* When you delete a version, is "isVersionOf" links are collapsed.
* When you delete the source of a

[2017-04-24 17:57] hyi commented on #2035
@alvacouch Yes, the original version of a resource cannout be deleted from the UI directly according to design since it is in part of obsolence chain. Only the latest version can be deleted. Then after the latest version is deleted, the previous version in the chain becomes the latest, which can be deleted or acted upon. The older obsoleted versions cannot be deleted or acted upon in any way to ke

[2017-04-24 17:59] alvacouch commented on #2035
@hyi By _obsolence_, I assume you mean _provenance_...

[2017-04-24 18:00] hyi commented on #2035
@alvacouch Sorry for the typo, it is actually obsolescence. Have updated my earlier comment to correct the typo.

[2017-04-24 18:53] alvacouch commented on #2035
Looping in @aphelionz because he's responsible for the REST API and @martinseul .

Mark, this is yet another skew between the UI and the REST API as far as semantics. This one is subtle; the UI doesn't show a button when something can't be deleted, but the REST API has no such distinction.

[2017-04-24 22:14] pkdash commented on #1835
@mauriel133 I have tried to create a template but was not able to test it since the only way to get to this template is through an email link. On the local development machine, Hydroshare can't send emails. Once the Jenkins deployment work I may be able to deploy this work and see if the new template gets displayed as part of password reset workflow.

[2017-04-24 22:40] pkdash opened #2036 "Geographic feature file type"
This will be implemented as a new file type within Composite resource.

[2017-04-24 23:41] gantian127 opened #2037 "Manual pre-deploy checklist for release 1.10.0"
This is the manual pre-deploy checklist for version 1.10.0.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.

**Please finish checking before May,

[2017-04-25 14:27] dtarb commented on #2035
There is not a policy decision to not allow old versions to be deleted documented in our design document (https://docs.google.com/document/d/1tNFStpEmbB_AC2ICppVSw-024-iTrnqGK9Np7Elw2OM/edit) and I see this as a limitation.  I am looping in @horsburgh as he was the author of the design document.  I suggest the following policy and implementation enhancements.

For versioning, implement consistency

[2017-04-25 14:41] alexlemann commented on #2023
Would an external service eg http://pingdom.com suffice here? What monitoring service is being used for HS proper?

[2017-04-25 14:47] mjstealey commented on #2023
@alexlemann - HydroShare is using [django-heartbeat](https://pypi.python.org/pypi/django-heartbeat)

We have a Jenkins monitoring job that runs at a 5 minute interval to check the status. On failure it attempts a restart HydroShare and emails a subset of the HydroShare team regarding status.

[2017-04-25 15:19] alexlemann opened #2039 "Migrate documentation to readthedocs"

[2017-04-25 15:35] hyi commented on #2035
@dtarb @horsburgh @alvacouch Although the design document does not explicitly mention not allowing to delete the obsoleted resources, I believe we discussed this in that versioning issue when I started to implement it. I believe the decision is for not introducing too much complexities in the initial implementation since deleting an intermediate obsoleted resource in a versioning chain involves fi

[2017-04-25 16:50] dtarb commented on #2035
I am OK going with @hyi s suggestion of not allowing older versions to be deleted, but if that is the rule, then both the UI and API should do this.  In other words, I want to avoid the skew that @alvacouch identified.  If an API user tries to delete an older version it should be blocked and they should get an informative error (however informative errors are returned by the API).

[2017-04-25 17:40] hyi commented on #2035
@dtarb UI has already been doing this from the beginning. The issue is with the API. Agreed we need to keep the UI and API consistent, so for now, API needs to be fixed not to allow deletion or edit of obsoleted resources to be consistent with UI.

[2017-04-25 17:52] pkdash commented on #2035
If we are referring to REST API, then I would say REST API can only do things that the internal API allows to do. For example, if  the internal api ```hydroshare.delete_resource(res_id)``` does not allow deleting an older version of a resource then REST API can't delete that resource.

[2017-04-25 18:55] alvacouch opened #2040 "localHydroProxy files lost during file migration"
@dtarb @hyi @mjstealey @mseul @aphelionz
When I wrote the `ResourceFile` fix, I didn't account for a category of files for which there are few instances. I accounted for:

* **local** data resources, accessed by the HydroShare proxy user.
* **federated** resources, accessed via a federation path and federated proxy user.

I did **not** account for a third category of resources, that are stored on

[2017-04-25 20:17] hyi commented on #2035
@pkdash Yes, the internal api ```hydroshare.delete_resource()``` does not allow deleting an obsoleted resource, it raises validation error as shown here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/resource.py#L718-L720
So do you think REST API then does not allow to delete obsoleted resource as well? @alvacouch What do you think?

[2017-04-25 20:22] hyi commented on #2040
@alvacouch @mjstealey I don't quite understand this third category of resources described and don't quite understand what local user server means in this context. But it looks like deployment-related, so if you all figured out a way to work around or fix this, it is good.

[2017-04-25 20:49] pkdash commented on #2035
@hyi Since REST API just a wrapper for ```hydroshare.delete_resource()``` it is not possible to delete a obsoleted resource using REST API.

[2017-04-26 12:24] alvacouch commented on #2035
I found several dangling relations during integrity checking.

[2017-04-26 12:59] alvacouch commented on #2031
Here are the results of the first runs of the validation script:

[OUTPUT-develop.txt](https://github.com/hydroshare/hydroshare/files/958411/OUTPUT-develop.txt)
[OUTPUT-www.txt](https://github.com/hydroshare/hydroshare/files/958412/OUTPUT-www.txt)

These do not compensate for misplaced hydroshareUserProxy resources.

[2017-04-26 13:47] Castronova opened #2042 "Log app launches"
Include logging for app launches so that we can report on their usage in the Kibana metrics.

[2017-04-26 15:53] pkdash opened #2043 "uaccess attribute error for AnonymousUser - release candidate 1.10"
Needs to be a hotfix.

[2017-04-26 16:14] dtarb commented on #74
Work on this issue has generated changes to the Create Resource page.  On the new create resource page (deployed on beta) I find the following aspects non intuitive
1. Below where it says "Select a resource type" there is a single button "Composite".  Nothing about that button indicates that if I click on it I will get a drop down list.  Can there be some sort of drop down indicator (inverted tria

[2017-04-26 16:54] pkdash opened #2045 "REST endpoint for listing resources should not include obsoleted resources"
Older resource versions should not be returned by REST API. It seems code change needs to be made in the internal API. No change is needed in rest endpoint.

[2017-04-26 16:57] dtarb commented on #2045
Is this related to #1988.

[2017-04-26 17:00] horsburgh commented on #2045
@pkdash - just to clarify - I should be able to request to download an old version of a resource via the API, but any listing/discovery API methods would only list the most recent version right?

[2017-04-26 17:07] hyi commented on #2045
@pkdash Which resource list are you talking about here? The obsoleted resources did get filtered out from get_my_resources_list() as shown here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/utils.py#L369-L370

Is there another resource listing function REST API is using?

[2017-04-26 17:58] dtarb commented on #2031
I checked several of the "problem" resources in OUTPUT-www.txt and found that quite a few are not a problem.
- Users are allowed to create resources without content files, so reporting all these as a problem raises undue concern
- some resource types never have content files (collection, web app = ToolResource, RefTimeSeries)

It would be good to avoid reporting these so we can see the ones that a

[2017-04-26 21:11] mauriel133 opened #2048 "Create Resource Page - Resource Type dropdown indicator"
From Liza

Tony cued me in on working in beta to update the documentation by next week. I noticed something right off the bat that I’m wondering about- when I click create resource, the default resource type is Composite and the button doesn’t look like a drop down. I’m nervous that new users will automatically choose composite without knowing there are other options.
Thought?

I will be adding a

[2017-04-26 21:23] dtarb commented on #2048
See also #74 comments at the end.

[2017-04-27 02:09] alvacouch commented on #2031
@pkdash @hyi @aphelionz Just a quick note. I remember now that in revising `ResourceFile`, I took some pains to make sure that `ResourceFile.delete` works properly now. It didn't work properly before. This could explain a lot of the garbage I am finding as unreferenced iRODS files, especially in the directories with a lot of churn. In other words, it might be a bug that has already been squashed.

[2017-04-27 12:58] hyi commented on #2031
@alvacouch Great. Then I think those unreferenced iRODS files can be safely deleted to get us to a cleaner baseline, perhaps you can provide a switch in your management command to allow admin to delete these unreferenced irods files if they decided it is safe to do so.

[2017-04-27 17:04] alvacouch commented on #2040
@hyi @pkdash @mjstealey @dtarb
See PR #2051 for a hotfix to fix this for 1.10.0. It does nothing in a production environment but it makes testing on alpha, beta, ... work for user-zone files. It implements @hyi's suggestion about rewriting the user zone paths in testing environments.

The purpose of this PR is to eliminate confusion from broken user-zone resources that aren't really broken in prod

[2017-04-27 18:47] alvacouch commented on #2031
@hyi @pkdash @dtarb @mjstealey
A [new output from revised check_irods_files](https://drive.google.com/open?id=0B4Xa1nBuY3eLRFlXZE1sUGZ1b1k) has been uploaded to the google drive.

Highlights:
* Many problems in the prior listing have been fixed or removed.
* Problems remaining probably require manual intervention of some kind.

guid | type | title | problem
-----|------|-----|--------
094da7d9400f

[2017-04-27 23:14] mauriel133 commented on #2037
Below are the issues I've found and will be addressing while doing this pre-deploy checklist.

- Found remains of merge conflicts
![image](https://cloud.githubusercontent.com/assets/2448568/25507099/4e10b76e-2b67-11e7-8d10-88332db57514.png)
- Quota holder text is unreadable
![image](https://cloud.githubusercontent.com/assets/2448568/25507145/98cc0470-2b67-11e7-81cf-0b6c352ac9bd.png)
- Change quota

[2017-04-28 12:49] alvacouch commented on #2031
@dtarb @hyi @pkdash @mjstealey @horsburgh

Jeff, please weigh in on the above list. Which of the above resources are yours that were being manipulated by the REST API?

After sleeping on this issue, I have the following recommendations:

condition | likely cause | resolution
-----|-----|------
File not present in Django | failed `ResourceFile.delete` in REST API leaves files behind | delete file i

[2017-04-28 13:18] alvacouch commented on #2031
There is **one case** in which a pair of errors ('missing in iRODs' and 'missing in Django') is rather obviously the result of a botched `move_or_rename`. I think I fixed this in 1.10.0. In the other cases, provenance is not so clear.

[2017-04-28 13:51] AmberSJones commented on #2031
@alvacouch , the resources that our group (with @horsburgh ) created/modified with the API are all those with the naming convention "iUTAH GAMUT Network ..."

[2017-04-28 15:09] pkdash commented on #2031
@alvacouch

This the internal api (```hydroshare.delete_resource_file()```) is being used both in REST API as well as the view function used by the UI. So I am not sure why in case of REST api only the files won't be deleted from iRODS.

From the iUTAH workflow description that I got from Kenny, it seems that his script tries to delete a file only if that file is reported to be in Django since the

[2017-04-28 16:04] alvacouch commented on #2031
@pkdash The REST API is simply where I saw the error during testing. It is not necessarily the only expression of that error.  But I saw it there and the tests for the REST endpoints are the ones that validate correct function.

I did not go back and put extra tests into `hydroshare.delete_resource_file`

(which, if we were adhering to best practices for naming, would be named `ResourceFile.delete

[2017-04-28 16:06] alvacouch commented on #2031
@AmberSJones @horsburgh May we have permission to clean up your resources by deleting files that are only present on one side (in Django or in iRODs but not both)? See detailed log for the identities of these files (in link before long listing).

[2017-04-28 16:13] alvacouch commented on #2031
@AmberSJones @Horsburgh Actually, the errors in your resources are a bit of a mystery to me. Your iRODs files are missing. I don't know how that could happen. Would it be possible to try and upload and see if you can reproduce such errors? I wonder why they're happening.

[2017-04-28 16:24] horsburgh commented on #2031
@alvacouch - yes, go ahead and clean any of the ones that start with "iUTAH GAMUT". These are all being automatically generated by Kenny's script, so even if we had to regenerate them, we could.  There's a couple of other iUTAH-related ones in your list, but we may want to look at those more closely.

[2017-04-28 16:27] horsburgh commented on #2031
@alvacouch - and yes, Kenny is working right now on the code that generates/updates the files these resources. I'm hoping he figures the issue he's got there out soon so he can turn it back on and continue updating the files.

[2017-04-28 17:25] alvacouch commented on #2031
@ChristinaB Could you list the bags that won't download here? Do any of these correspond to the resources above (that are very, very broken)?

[2017-04-28 17:28] alvacouch commented on #2031
@ChristinaB I actually think that the things you're seeing might be different. I will start a new issue.

[2017-04-28 17:30] alvacouch opened #2056 "Bags don't download properly for selected resources"
@ChristinaB reports that many resources -- on a per resource basis -- are unreliable to download as bags. Christina, could you list the resource ID's here? Thanks!

[2017-04-28 17:30] ChristinaB commented on #2031
Starter list of resources (Tony will work on code) when I  click on 'Download All Content as Zipped Bagit Archive. with the error "Please wait for the resource bag to be created....." , but never progresses or completes.
- [ ] 0183ec4000f644fa9378cf28cfe5c2e2   Sauk River Basin Observatory
- [ ] d0885da51fda4ec99f6f0a59295c3d7c   Hydro-Meterology Data Download for NOCA Observatory

[2017-04-28 17:31] ChristinaB commented on #2056
Starter list of resources (Tony will work on code) when I  click on 'Download All Content as Zipped Bagit Archive. with the error "Please wait for the resource bag to be created....." , but never progresses or completes.
- [ ] 0183ec4000f644fa9378cf28cfe5c2e2   Sauk River Basin Observatory
- [ ] d0885da51fda4ec99f6f0a59295c3d7c   Hydro-Meterology Data Download for NOCA Observatory

[2017-04-28 22:04] pkdash opened #2057 "No information on Geographic Feature Resource type in terms page"
Like all other resource types, information on Geographic Feature Resource type needs to be included here: www.hydroshare.org/terms/

[2017-04-28 22:11] aphelionz opened #2058 "Turn back on Security Features"
Now that we've fixed the inline script issues, we can likely turn back on the security features. @mjstealey your thoughts?

[2017-04-29 04:25] dtarb commented on #2056
I also found a problem with Sauk, but then tested it on the candidate release on beta and found it to work, so perhaps the changes on beta have fixed it.

I tried the Hydro-Meteorology and on www it started a download that said it would take 58 min, then before that time, timed out.  I tried on beta and it seemed to hang creating the bag (... forever)

[2017-04-29 13:58] dtarb opened #2059 "Add file from iRODS fails on beta release candidate"
Testing the composite resource type I receive "Validation Error: folder" when attempting to add a file from iRODS (after the resource has been created).  Note that this works on www (1.9.6) and that I am testing using a small file from data.iplantcollaborative.org.  Note that adding a file from iRODS works during the create process, but not when a resource already exists and a file is being added.

[2017-04-29 14:36] dtarb opened #2060 "Multidimensional file in composite resource results in blank screen for landing page"
I added a multidimensional (netCDF) file to a composite resource.  I then set multidimensional data file type.

I received the following blank screen
![image](https://cloud.githubusercontent.com/assets/3456833/25556255/9d8f01c4-2cb6-11e7-843e-859c90518d27.png)

I was able to refresh and see the resource landing page.

[2017-04-29 14:44] dtarb opened #2061 "Create resource messages repetative regarding irods"
![image](https://cloud.githubusercontent.com/assets/3456833/25556182/90635cf8-2cb5-11e7-9208-105c926b5ace.png)

I suggest changing the wording above to:
Files uploaded directly from a browser are limited to 1 GB per file.

Use iRODS to add files larger than 1 GB.  Any iRODS server may be used.  If you do not have an account on an iRODS server you can create a HydroShare iRODS account from your [Us

[2017-04-29 14:57] dtarb opened #2062 "A composite resource can get into a state where a netcdf file is not recognized for setting as multidimensional file type"
Testing on beta.hydroshare.org candidate release I did the following:
Created a composite resource and added two files (geographic raster and netcdf).  I then used Set Geographic raster on the geographic raster file.  I then deleted the folder holding the raster file type.
The result is a resource with a single netcdf file but it is in a state where "set multidimensional data file type" that shoul

[2017-04-29 15:11] dtarb opened #2063 "multidimensional file metadata Spatial reference string does not wrap and is not displayed properly"
![image](https://cloud.githubusercontent.com/assets/3456833/25556554/c54e6c4a-2cbb-11e7-8420-c78da187f5af.png)

[2017-04-29 15:13] pkdash commented on #2060
@dtarb I am trying to reproduce this issue. I created a new empty composite resource and then added a netcdf file. Then set the file type. I did not see this issue happening. I also tried to add a netcdf file to an old composite resource and set file type. There also I did not see this issue.

[2017-04-29 15:26] dtarb opened #2064 "Adding composite resource file metadata key value gives error"
I created a composite resource.  I added a file and set it to geographic raster type.  I added a Key/Value extended metadata element.  The message: "Error! Update failed.  Key already exists" is displayed.  This was for a new Key that did not exist before, and the Key/Value appears to be added, so it is just the message that is spurious.

[2017-04-29 15:40] dtarb opened #2065 "Sync up pages.hydroshare.org footer with www.hydroshare.org footer"
The footer of pages.hydroshare.org footer needs to show the correct version and information consistent with www.hydroshare.org

![image](https://cloud.githubusercontent.com/assets/3456833/25556759/f01e6250-2cbf-11e7-80e4-382bcbb1e050.png)

[2017-04-29 16:17] dtarb commented on #2060
I am not able to reproduce either now, so perhaps we should close this and keep an eye out for it again.

[2017-04-29 16:17] #2060 closed

[2017-04-29 16:45] horsburgh opened #2066 "Beta 1.10: Format of Temporal Coverage Messed Up"
Testing time series resource on beta.hydroshare.org - the format of the temporal coverage is messed up.  It should be:

mm/dd/yyyy hh:mm:ss

Instead - this is what is currently shown:

![image](https://cloud.githubusercontent.com/assets/3485902/25557154/e912544a-2cc8-11e7-8d86-eee397511a57.png)

[2017-04-29 16:57] horsburgh opened #2067 "Beta 1.10: Edit and Delete Icons for Extended Metadata Elements Inconsistent"
Testing on beta.hydroshare.org - the icons for editing and deleting an extended metadata element look like this:

![image](https://cloud.githubusercontent.com/assets/3485902/25557218/84befca8-2cca-11e7-91d8-319dd06a8bad.png)

The icons for the same function elsewhere on the page look like this:

![image](https://cloud.githubusercontent.com/assets/3485902/25557223/91198b08-2cca-11e7-9927-6c7ae5215d

[2017-04-29 17:01] horsburgh opened #2068 "Beta 1.10: Editing Site Elevation Throws Error if Decimal"
When I try to set the site elevation to a number that is not an integer, I get this error:

![image](https://cloud.githubusercontent.com/assets/3485902/25557246/1374bc26-2ccb-11e7-86f2-c36bd5fea764.png)

I suspect this one has been around for a while and probably doesn't need to be fixed before releasing 1.10, but the Elevation of a site in meters should be a decimal number and not limited to an i

[2017-04-29 17:13] horsburgh opened #2069 "Beta 1.10: Open With Button Spacing is Off"
Testing on beta.hydroshare.org - Chrome on my Mac. The spacing on the "Open With" button is off. This is what it looks like on Beta:

![image](https://cloud.githubusercontent.com/assets/3485902/25557349/cf6adb8a-2ccc-11e7-9339-33325372bd8f.png)

This is what it looks like on www:

![image](https://cloud.githubusercontent.com/assets/3485902/25557351/d979e97c-2ccc-11e7-924c-46834d67dede.png)

[2017-04-29 17:44] horsburgh commented on #2037
I posted some new issues as a result of my testing of Time Series.

See: #2069, #2068, #2067, #2066

[2017-04-29 17:46] horsburgh opened #2070 "Beta 1:10: Text overflow on user name in Manage Access panel"
Testing on beta.hydroshare.org in Chrome on my Mac. I select a user to share with and if the user has a long name, the text overflows the text box:

![image](https://cloud.githubusercontent.com/assets/3485902/25557566/70395f74-2cd1-11e7-8dee-10924f551fb5.png)

I suspect this one has been around for a while.

[2017-04-29 17:48] dtarb commented on #2037
I posted the following issues testing composite resources
 #2059, #2061, #2062, #2063, #2064

[2017-04-29 17:55] pkdash commented on #2062
Looking at the release candidate code, it seem this bug got introduced as part of the RespourceFile api work. I think I know how to fix it and will be creating a hotfix PR.

[2017-04-29 18:01] pkdash commented on #2064
I have seen this before. However, I have not been able track this bug as it is not easily reproducible. I think @gantian127 has created this issue originally. Will try again to see if I can fix it.

[2017-04-29 19:43] pkdash commented on #2043
This seems to be fixed on beta. Will close after www deployment.

[2017-04-30 14:14] alvacouch opened #2071 "resource.raccess.public is set without setting isPublic AVU, so iRODS and Django disagree on public status"
@hyi @pkdash @mjstealey @dtarb
In issue #2031 @hyi asked why the `isPublic` AVU doesn't always match the `ResourceAccess.public` flag according to `check_irods_files`. I found out why just now.

In the REST API, the setting of the `isPublic` AVU is carefully modified to always match the setting of `ResourceAccess.public` using the private routine `hs_core/views/__init__.py:_set_resource_sharing_st

[2017-04-30 19:18] mauriel133 commented on #2059
@hyi, could you take a look at this one? I'm unable to test iRODS at the moment.

[2017-04-30 20:00] mauriel133 commented on #2063
@dtarb, could you provide a link to this resource?

[2017-04-30 20:10] dtarb commented on #2063
https://beta.hydroshare.org/resource/4e26d640a1224559b802fa62dc6b3e42/.  Look at file metadata in non edit mode.

[2017-04-30 20:29] dtarb commented on #2031
I generally agree with the approaches suggested above to resolve problems.

For files with a record entry in Django, but not in IRODS, there is no option for recovery, so we should just delete the file record entry in Django.  In the tests I have done I have not found an error on the UI (not to say one is not there – I just did not find it).  I have not found resources apart from the ones from Chr

[2017-04-30 20:30] pkdash commented on #2063
@mauriel133 This html code is generated in python  here: https://github.com/hydroshare/hydroshare/blob/release-candidate-1.10.0/hs_app_netCDF/models.py#L170

[2017-04-30 21:08] hyi commented on #2059
@dtarb @mauriel133 I tested on beta and found this error only happens with composite resource, and works fine with generic resource. @pkdash You may take a look first to see if you can fix this issue first, since it appears to be a composite resource specific issue. Let me know if you cannot find a quick fix.Then  I can take a look tomorrow.

[2017-04-30 21:13] hyi commented on #2071
@alvacouch Thanks for finding the issue and for trying to make a fix to it. I think it'd be good to make the private method ```_set_resource_sharing_status``` public so that it can be the single point of truth for changing resource sharing flag.

[2017-05-01 01:05] alvacouch opened #2080 "user with EDIT access can undo PUBLIC access but cannot re-institute it."
@dtarb @pkdash @hyi
This quandary arose when testing new code.

1. User Alice creates a resource and makes it `public`, and gives `edit` access to User Bob.
2. User Bob deletes a file from the resource..
3. This invalidates `public` access because the file was required. The resource is set to `private`.
4. Bob adds back another version of the file, making the resource possible to make public.
5. *

[2017-05-01 01:16] dtarb commented on #2080
I think that we have to accept this as a limitation.  We could implement warnings, but I propose we do not at this stage change the functionality.

Here is what I suggest
- Implement a warning that if the last file is being deleted that the resource will revert to private and an owner will then need to set it to public.  Indicate in the warning that if the file is to be replaced, first adding the

[2017-05-01 01:49] alvacouch commented on #2080
@dtarb The way we have done things, it is impractical to implement a pre-check. We won't know that the resource reverts to private until we delete the file and then run the validator. We don't have the concept of a pre-action validation.

There are other possible solutions, including recording the "intent to make public" (which is different from the actual public flag). If one sets 'make_public_if

[2017-05-01 01:55] pkdash commented on #2080
In some of the specific resource types, it won't be possible to add a replacement file before deleting the existing file. For example, if a time series resource already contains a SQLite file, it won't be possible to add another SQLite file.

[2017-05-01 01:59] alvacouch commented on #2080
The problem is that -- regardless of what we do to pre-validate -- we have to do something different for **every** resource type.  Lots of work. Hence "impractical".

[2017-05-01 03:08] pkdash commented on #2080
I am trying to get an understanding of the requirements for a file pre delete check function:

If we had a pre-delete-file-check() which says deleting this file will set the resource to private what we (system) suppose to do with that information?

[2017-05-01 03:10] dtarb commented on #2080
We already have a message "Confirm files deletion".  Lets just change this to stronger wording.

"This file will be permanently deleted.  Consider saving a copy if it is important to you.  **If this is the last file in the resource and it is public, the sharing status will revert to private.**  If you are not the owner of this resource, then an owner will need to reset this to public after a new f

[2017-05-01 14:17] alvacouch commented on #2071
@hyi I have taken a different approach. There are routines `BaseResource.set_public(Bool)` and `BaseResource.set_discoverable(Bool)` that understand the logic and make corrections.
I left `_set_resource_sharing_status` alone, as it is for REST, and I need something for the native API which is where public is being changed. Will post PR soon.

[2017-05-01 15:05] Castronova commented on #2056
I wrote a little script to help @ChristinaB test her resources.  It uses a slightly modified `hs_restclient` to perform resource downloads and log errors that are encountered.  Here are the results as of this morning:

|URL|Error|
|---|---|
http://www.hydroshare.org/resource/06c1c412dabc435f97415f9dac072fd0/|	int() argument must be a string, a bytes-like object or a number, not 'NoneType'|
http://

[2017-05-01 15:11] hyi commented on #2071
@alvacouch Sounds good. I'll keep an eye out on the PR then.

[2017-05-01 15:15] pkdash commented on #2068
At the database level the 'elevation_m' field has been defined as an integer. Will fix it in release 1.11.

[2017-05-01 15:22] horsburgh commented on #2068
@pkdash - do you mean in the ODM2 SQLite database or the Django database?  I just checked the script that creates the SQLite database and the data type of that field should accept floating point numbers.  Just wondering if this is something I need to fix or if its just a HydroShare implementation thing.

[2017-05-01 15:27] pkdash commented on #2068
@horsburgh I need to fix this field in Django database.

[2017-05-01 17:13] alvacouch commented on #2071
@dtarb @horsburgh I noticed in fixing this issue that there are a number of places around the code where **we allow a resource to be public and not discoverable.** Is this intentional or an oversight?

It would seem that making something public would implicitly make it discoverable, and that making something not discoverable would implicitly make it not public.

Is there a use case for resources t

[2017-05-01 17:23] dtarb commented on #2071
I think this is an oversight.  We have written in our access control policy "Public implies Discoverable, but not the other way around" and I do not have any recollection of ever deciding anything else.  I suppose there could  be a use case of security by obscurity where we allow this, but I do not think we should do this at this stage, and it would require us to change the UI (again something I d

[2017-05-01 17:25] horsburgh commented on #2071
Agreed. I say public = discoverable.

[2017-05-01 17:34] hyi commented on #2071
@alvacouch I agree with @dtarb and @horsburgh, but want to point out this just in case. If you are looking at public flag and discoverable flag in the code base, as I remembered, we use ```public=False and discoverable=True``` to imply a resource is discoverable, and if public is true, then the resource is public without even looking at discoverable flag. Looping in @pkdash in case he has more to

[2017-05-01 18:07] alvacouch commented on #2071
@dtarb @hyi @horsburgh @pkdash
I have "discovered" (very bad pun intended) that updating of `discoverable` and `public` in response to resource metadata changes is very, very inconsistent.  Hence, so is updating of `isPublic`.

In `add_metadata`, it's updated **only if deleting all subjects,** (???) and then, if metadata still validates after doing that, , `discoverable` is enabled even if it's cu

[2017-05-01 18:23] alvacouch commented on #2071
Just to expedite 1.10.0, I suggest that we:

1. **remove the obvious silliness** in `add_metadata`.
2. **leave all of the native API not validating** (like it is now). Changes within the UI will never set `discoverable` to False even if that is quite well deserved.
3. leave the REST API validating as it is now.

And then sort out the mess in 1.11.0

[2017-05-01 18:33] dtarb commented on #2071
I am OK with this approach.

[2017-05-01 18:38] pkdash commented on #2071
@alvacouch  Looking at the silliness of the ```add_metadata``` (probably I wrote the code to fix an issue with editing of resource level keywords) the code that enables 'discoverable' is never executed.

The fix you have proposed for 1.10 sounds good.

[2017-05-01 19:01] pkdash commented on #2071
@alvacouch

There is no need to set public/discoverable in case of metadata update (since only existing metadata getting is getting updated). Only in the case of resource title being updated, we check to see if the resource public to be reset.

delete_metadata_element() view function should have been checking for possible resting of these flags. The reason it was not done that the UI does not allo

[2017-05-01 19:07] pkdash commented on #2071
I am not sure how the discovery interface filters resources in terms of using the discoverable/public flags. From the resource landing page point of view, for anonymous user we check the flag public to decide if content files be displayed or not.

REST api for accessing metadata xml file the authorization is successful if either the resource is public or discoverable.

[2017-05-01 20:13] alvacouch commented on #2071
@pkdash Discovery displays something if it is either public or discoverable.

The approach above presumes a lot about the validation process (if only subject and title are flagged as being necessary to check). If someone decides to validate more metadata, this will have to be changed.

[2017-05-02 13:23] dtarb commented on #2080
Assigned to @pkdash to change messages per above.  No change to functionality or policy at this time.

[2017-05-02 13:27] dtarb commented on #2070
Tested on beta

[2017-05-02 13:27] #2070 closed

[2017-05-02 13:28] dtarb commented on #2069
tested on beta

[2017-05-02 13:28] #2069 closed

[2017-05-02 13:30] dtarb commented on #2066
@horsburgh to test and close if OK

[2017-05-02 13:32] dtarb commented on #2067
@horsburgh to test and close if OK

[2017-05-02 13:43] dtarb commented on #2063
tested on beta

[2017-05-02 13:43] #2063 closed

[2017-05-02 13:47] dtarb commented on #2062
Tested on beta

[2017-05-02 13:47] #2062 closed

[2017-05-02 13:55] dtarb commented on #2056
The sauk observatory resource is broken on the release candidate beta that is currently deployed.  It was OK on the one 2 days ago when I tested.

[2017-05-02 13:57] dtarb commented on #2048
tested on beta

[2017-05-02 13:57] #2048 closed

[2017-05-02 13:59] dtarb commented on #74
tested on beta.  OK

[2017-05-02 13:59] #74 closed

[2017-05-02 14:10] dtarb commented on #2029
@zhiyuli please check if this is still an issue on beta, and if not, close

[2017-05-02 14:14] dtarb commented on #2023
@Castronova giving this to you.  I'd like this to be part of CUAHSI system tracking functionality.  If too much to do for 1.11, you could put later.

[2017-05-02 14:15] dtarb commented on #2042
See also #2023.  I think it is more important to know when apps are working and not, than how much they are used.

[2017-05-02 14:50] alvacouch commented on #2071
@pkdash I also note that validation of logical file metadata only occurs during changes to logical files, and **is not checked when one tries to publish a resource.** I am changing that.

[2017-05-02 15:33] Castronova opened #2082 "User and Resource metrics cannot be filtered with time"
User and Resource metrics cannot be filtered with time due to the way they are stored in kibana, i.e. one index identified by relative report date.  Since the report date is calculated relative to the current date, changing the date range breaks all visualizations that rely on report date.

Instead of storing all user and resource snapshots in the ES database, we should instead only store the most

[2017-05-02 17:15] mjstealey opened #2083 "Migrations not generated for hs_tracking and hs_access_control in RC 1.10.0"
When deploying release-candidate-1.10.0 there are 2 missing migrations as denoted below:

[code]

**hs_tracking/migrations/0005_auto_20170502_1706.py**
[code]

**hs_access_control/migrations/0021_auto_20170502_1706.py**
[code]

These have been applied to beta.

[code]

[2017-05-02 17:29] pkdash commented on #2059
@dtarb Were you trying to add the file to a specific folder when you got this error?

[2017-05-02 17:38] horsburgh commented on #2066
This seems to be fixed on beta.hydroshare.org. Closing.

[2017-05-02 17:38] #2066 closed

[2017-05-02 18:36] zhiyuli commented on #2029
@dtarb
The folders and files seemed to get remove successfully. But I still saw a error message, and its contents are different from last time.
![image](https://cloud.githubusercontent.com/assets/10070599/25633204/967bfd22-2f33-11e7-940a-1c53415eed3b.png)

Folder Deletion Failed
DoesNotExist at /hsapi/_internal/data-store-delete-folder/ GenericFileMetaData matching query does not exist. Request Me

[2017-05-02 19:06] hyi commented on #2059
@pkdash I tried on beta, and this happens when adding files from irods to a composite resource, not within a folder. What I did is to create a composite resource without uploading any files, then from resource landing page, login to irods and add a file to this empty composite resource, then I got an error. This does not happen to other resource types such as generic resource type. You can use hsp

[2017-05-02 19:06] pkdash commented on #2029
@zhiyuli Can you give me the steps how to reproduce this error?

[2017-05-02 19:12] pkdash commented on #2059
@hyi I added some unit tests to reproduce this error. But unit tests do not fail. I am running local irods. But I don't know how to reproduce this locally using the UI. Can you give me some instructions?

[2017-05-02 19:18] pkdash commented on #639
Closing this one as it became a duplicate of #2071

[2017-05-02 19:18] #639 closed

[2017-05-02 19:22] zhiyuli commented on #2029
@pkdash
1) create a composite res with this zip file
https://www.hydroshare.org/django_irods/download/271d64a09da9460c919603b7bd5e9b29/data/contents/nwm.20170419.zip

2) unzip this zip file in edit mode

3) select all or some folders and try removing them

[2017-05-02 19:27] hyi commented on #2059
@pkdash I think you can just create an empty composite resource, then login to irods using hsproxy irods account credential (if you don't already have other irods accounts) or use your irods account if you have created a corresponding iRODS account in user zone from your profile page, and browse and select any file under that irods account to add to this empty composite resource, and you should be

[2017-05-02 19:39] pkdash commented on #2059
@hyi I tried using the information from the local_settings.py file to login into iRODS. Login failed. Then I tried to create iRODS account in my profile page. The account got created. Then when I tried to use that account to login to iRODS login failed. I am not doing something right I guess.

[2017-05-02 19:46] pkdash commented on #2059
@hyi I was able to login using the info from settings file.

[2017-05-02 19:48] pkdash commented on #2059
@hyi I am able to reproduce the error. Thanks for your help.

[2017-05-02 20:27] pkdash commented on #2059
@hyi I am looking at this function.

https://github.com/hydroshare/hydroshare/blob/develop/irods_browser_app/views.py#L150

Is it not possible to upload a file from IRODS to a specific folder? I need to pass a folder parameter to the file pre_add and post_add signal call.  The file add view function that we have in hs_core allows a folder to be specified.

[2017-05-02 20:35] hyi commented on #2059
@pkdash I believe iRODS browser has not been updated to allow users to add a file from iRODS to a specific folder. I know the file add view function allows to do that, but we need front end UI change to specify the folder to add files from iRODS to in order to allow adding files from iRODS to a specific folder. Perhaps @mauriel133 can work with you to help with front end changes to make this happe

[2017-05-02 20:37] pkdash commented on #2059
@hyi Sounds good. I will just fix the error.

[2017-05-02 22:20] pkdash commented on #2029
@mauriel133 I think this line here causing this issue:
https://github.com/hydroshare/hydroshare/blob/release-candidate-1.10.0/theme/static/js/hs_file_browser.js#L1124

The JS code trying delete multiple folders at the same time. Is there a way delete folder one after another meaning wait for the response for the first delete then make another call for the next folder in line?

[2017-05-02 23:04] gantian127 opened #2086 "Resource creation page: move the multidimensional resource type icon to the geospatial data type list"
@mauriel133 Would you please move the multidimensional resource type icon after the geo graphic raster resource type ? Thanks for your help.

![image](https://cloud.githubusercontent.com/assets/5016511/25642776/24a38a28-2f59-11e7-9eb9-1d921948c1c4.png)

[2017-05-02 23:19] gantian127 opened #2087 "NetCDF resource file validation error"
When an invalid netCDF file was added for resource creation, the system can't response as expected to show the error information and just get stuck on the resource creation page.

[2017-05-02 23:34] pkdash commented on #2029
@mauriel133 Never mind. Ignore my comment above related to JS code.

[2017-05-03 05:57] pkdash commented on #2029
This issue seems to be as a result of race condition when multiple folders are deleted asynchronously from JavaScript. At this point the fix for this issue is not to allow multiple folder deletion from the UI.

[2017-05-03 13:35] #2014 closed

[2017-05-03 13:41] alexlemann commented on #2013
This was blocked by https://github.com/mozilla/geckodriver/issues/659 . It looks like a new version of geckodriver (0.16) was released. I will install that locally and adjust tests as needed so that this can get closed out.

[2017-05-03 14:03] mohamedmorsy commented on #2037
In the new HydroShare resources list, it would be great if we can have the old arrangement of the model resources: Model Program, Model Instance, SWAT Model Instance, and MODFLOW Model Instance. Also, What about including the resource types categorization too?

![image](https://cloud.githubusercontent.com/assets/5543781/25664123/a9ebb01e-2fe7-11e7-8eac-8246d6496fa5.png)

[2017-05-03 14:34] dtarb commented on #1955
@pkdash please tell @Lizabrazil what has changed on the UI for this issue.  She needs to change help documentation and screen shots to reflect changes in functionality.  I cannot actually see any front end changes, but perhaps they are subtle, which is why we need your help to point out what is different.

[2017-05-03 14:51] dtarb commented on #1924
@gantian127 please tell @Lizabrazil what has changed on the UI for this issue.  She needs to change help documentation and screen shots to reflect changes in functionality.  Help documentation is prepared in google docs in https://drive.google.com/drive/u/1/folders/0B8FGrdqHDtsDLTdjTWswdmZvWW8.  @Lizabrazil can point you to specific documents that need updating.  I did not see a document for multi

[2017-05-03 15:02] horsburgh commented on #2067
Looks good on beta. Closing.

[2017-05-03 15:02] #2067 closed

[2017-05-03 15:23] mauriel133 commented on #2037
Also related: https://github.com/hydroshare/hydroshare/issues/2086

@mohamedmorsy, @dtarb, @horsburgh any ideas for category name for the first section containing Collection, Composite, Generic and Web App?

![image](https://cloud.githubusercontent.com/assets/2448568/25667849/06910450-2fe2-11e7-90ab-409a2fee96d4.png)

[2017-05-03 15:25] alexlemann commented on #2013
The new geckodriver works great. There are some issues with the drag and drop test in FF that need to be resolved for this. This shouldn't block 1.10 and it relates to documentation in #2039 so I'm pushing out to 1.11.

[2017-05-03 16:20] mauriel133 commented on #2086
Here is what I propose for the order of these items:

![image](https://cloud.githubusercontent.com/assets/2448568/25670504/22096b3e-2fea-11e7-926b-157a44812111.png)

[2017-05-03 16:36] mohamedmorsy commented on #2086
@mauriel133 I like this. In my opinion, even to include "Resources" for all of the titles or remove it. Just to be consistent.

[2017-05-03 17:44] gantian127 commented on #1924
@dtarb @Lizabrazil I will prepare the screen shots and the documentation. It will be great if I could be pointed to the specific documents for updating. Thanks.

[2017-05-03 18:17] dtarb commented on #2037
What about "General", but where is the category name used.

[2017-05-03 18:21] aphelionz commented on #2037
@dtarb @mjstealey Tested the coverage endpoints. There is a small bug where the subject search is case sensitive but i think we can fix that in the next release

[2017-05-03 18:27] mauriel133 commented on #2037
@dtarb, see https://github.com/hydroshare/hydroshare/pull/2091 for discussion on this change.

[2017-05-03 18:44] pkdash commented on #2083
@mjstealey
This is the original migration file I generated which is in master:
https://github.com/hydroshare/hydroshare/blob/master/hs_access_control/migrations/0017_groupaccess_auto_approve.py
The same in develop:
https://github.com/hydroshare/hydroshare/blob/develop/hs_access_control/migrations/0017_groupaccess_auto_approve.py

[2017-05-03 18:53] mjstealey commented on #2083
@pkdash - it's possible that another migration 0018, 0019 or 0020 undid that work... The new migration depends on a migration file named  `0020_merge`.

[2017-05-03 18:55] pkdash commented on #2083
@mjstealey @alvacouch What should we do for this? Should we regenerate these migration files because Django wants to regenerate and commit the migrations files as a hotfix to release candidate?

[2017-05-03 18:56] jsadler2 opened #2092 "New Version of SWAT_MI error if dropdowns are blank"
![capture](https://cloud.githubusercontent.com/assets/6943441/25675899/180ccc4c-300e-11e7-912e-0d75faadc3f7.PNG)
If you try to make new version of SWAT Model Instance that has a Model Input element or a Simulation Type, it fails if any one of the select box terms are blank ('Routing time step type', 'Routing time step type', 'Simulation time step type', 'Simulation type')

[2017-05-03 19:38] mjstealey commented on #2065
@mauriel133 - This seems to be coming from a theme template rather than parameters of a mezzanine page named "home". If you could update this to be 1.10.0 and I'll denote what file this was for future reference.

[2017-05-03 19:56] mjstealey opened #2093 "Add ABOUT to top of pages.hydroshare.org"
@mauriel133 - Need to add a link for **ABOUT** at the top of the pages.hydroshare.org site.

Link to associate with **ABOUT**: https://pages.hydroshare.org/about-hydroshare/

Ordering would be:
<img width="779" alt="screen shot 2017-05-03 at 3 55 36 pm" src="https://cloud.githubusercontent.com/assets/5332509/25678795/ff8b05f2-3018-11e7-9a72-9803b090c15c.png">

@ChristinaB can confirm this for plac

[2017-05-03 20:18] ChristinaB opened #2094 "Active users as default view in Kibana"
@Castronova and @martinseul
Could we update the what the user sees first in the portal so that they first see the Active users, and then bury the total users a bit further down the page. Since 50% of the total users have only visited once, it is a bit unintentionally misleading.

From there we can also drill down into who is really using HydroShare (at least more than once) and develop metrics tha

[2017-05-03 20:18] ChristinaB commented on #2093
This looks great.  Thank you!

[2017-05-04 12:34] alvacouch opened #2095 "debugging really complex user interfaces"
@dtarb@hyi @pkdash @martinseul @mauriel133
We now have a problem that has been with us for awhile but has lately been expressed in a rather obvious fashion. **Our user interface is really complex.** Thus, **it is really difficult to find defects.**

I suggest a rather aggressive approach to finding defects in the user interface, which is to be able to "watch for integrity violations" after each op

[2017-05-04 14:34] dtarb commented on #2095
I am OK with this.  How are you proposing that Christina (or any user for that matter) turn on `watch`.  Will this be in their profile.

[2017-05-04 15:18] pkdash commented on #2095
We may also need to think about keeping provenance  records in DB of at least the critical resource operations (resource create, delete, file add , file delete etc). These resource activities then can be viewed by authorized resource users. I guess we may not have time to do this before the end of this project.

[2017-05-04 15:34] dtarb opened #2096 "Unable to edit spatial coverage for geographic raster file type in composite resource"
I added a geographic raster that does not have spatial reference information.  I set it as a geographic raster file type.  I receive the warning that spatial coverage metadata is required before making public (good).  I enter edit mode and go to edit spatial coverage.  There are two problems
- [x] There is no save button to click after entering data values (I am using firefox)
- [x] 6 latitude and

[2017-05-04 15:40] dtarb commented on #2059
tested on beta and found fixed loading files from iplant.

[2017-05-04 15:40] #2059 closed

[2017-05-04 15:47] dtarb commented on #2064
Verified working on beta as deployed now.

[2017-05-04 15:47] #2064 closed

[2017-05-04 15:49] alvacouch commented on #2095
@dtarb It's per resource, not per user, on the resource landing page. It's just like public or discoverable.

It is impractical to make it per-user, because many operations on resources don't know who the user is at the time they're performed.

We could arrange a default for newly created resources on the user profile page. That would be for later.

For now, we could ask that the people doing the

[2017-05-04 16:28] pkdash commented on #2096
@dtarb Do we want this as a hotfix for 1.10.0 or fix it in 1.11?

[2017-05-04 19:07] hyi opened #2097 "Combine metadata_dirty flag and bag_modified flag into one bag_modified flag"
Having two flags metadata_dirty and bag_modified is confusing and can be simplified into one bag_modified flag. Have discussed this with @pkdash and @alvacouch and we all agreed one flag is better and clearer. I will work on this slated for release 1.11.

[2017-05-04 22:22] dtarb commented on #2095
OK.  This should probably be enabled on the resource editing page (or landing page in edit mode) as in view mode no changes are made (but a bag can be built by a download request).

I am a bit unclear on how you are planning for this to affect the user experience.  If an integrity check finds a problem, what will the user see.  If the message is something like "Action stopped due to failing resour

[2017-05-05 03:36] pkdash commented on #2096
@dtarb I have fixed this as a hotfix to 1.10. Next time when beta site gets updated, you can test this issue.

[2017-05-05 13:53] alvacouch commented on #2071
Merged #2084 to repair this for Release Candidate 1.10.0

[2017-05-05 14:25] alvacouch opened #2099 "Completing implementation of logical files"
@pkdash @dtarb @hyi
In PR #2084 there was some discussion of the fact that the logical files implementation (for `CompositeResource`) is incomplete.
There are two main issues:
1. deleting the last physical file associated with a logical file with `delete_logical_file=False` can leave a logical file around forever. This is a memory leak.
2. at present, we can "ingest" most any set of files from dis

[2017-05-05 18:14] Lizabrazil commented on #1924
Hi Tian, I'm not sure there is much on the help page for Multidimensional yet. Here is the link i know of: https://pages.hydroshare.org/hydroshare-resource-types/multidimensional-netcdf/

[2017-05-05 20:07] alvacouch commented on #2097
@hyi Might be better to call it `resource_modified` or simply `modified` because it's going to be used both to update the resource files and the bag.

[2017-05-05 20:46] hyi commented on #2097
@alvacouch Agreed it is probably more accurate to simply call it ```modified``` or ```resource_modified```. On the other hand, since this flag is only checked when the zipped bag is downloaded and the resource is part of the bag, it probably makes sense also to call this flag ```bag_modified``` as whenever a resource is modified regardless whether the modification is metadata or files, the resourc

[2017-05-05 23:50] gantian127 commented on #1924
@dtarb @Lizabrazil I created a new help document for Multidimensional (NetCDF) resource. It can be accessed from HydroShare google drive folder: SystemDesign -> User Experience -> HELP content development -> Resource Types.  The section of " Update Metadata in the NetCDF File " in the document can be used as the content for 1.10 release documentation. If I need to provide other information, please

[2017-05-06 05:08] pkdash commented on #2099
This can happen only in the case **misuse** of the ```delete_resource_file()```.  This parameter  ```delete_logical_file``` is intended to be set to ```False``` **only** by the ```logical_delete()``` function of The LogicalFile object.

The current implementation does not wait for the last file to be deleted to delete the associated logical file.  Rather the logical file (including file level meta

[2017-05-06 05:35] pkdash commented on #2099
The zip/unzip functionality as far as I know is limited to Generic resource. We can't just add a file from iRODS to any resource type. It will break the integrity of that resource. Besides Generic and composite resource types all other resource types do validate files (and possibly reject files if validation fails) and do extract metadata.

In the case of Composite resource if we need to add a fil

[2017-05-06 19:35] alvacouch commented on #2095
@dtarb The watcher is **expensive**. It takes a **long time** to do the integrity checks. Thus using it will slow down the user's experience, **and** flag errors as they occur. Thus it is not something for general use, but rather, something that people designing a procedure for general use can use to ensure that nothing will go wrong with the procedure.

[2017-05-06 20:00] alvacouch opened #2103 "Incorrect user logged as making automatic changes"
@dtarb @pkdash @hyi @aphelionz There are many situations in which a state change is made automatically as a result of internal rules, rather than by a user. Repairs are just one case. Another case is when a resource is made private due to violating some requirement for being public.

Repairs are currently being attributed to `resource.creator`, because no one else makes sense as the person repairi

[2017-05-06 20:29] alvacouch commented on #2099
@pkdash How do you plan to handle shapefiles (with multiple files and one logical file) in `CompositeResource`? Do you plan to require registering them at the same time? What conventions do you plan on enforcing?

[2017-05-06 22:07] hyi commented on #2103
@alvacouch My two cents: I think it'd be better to use admin for this rather than creating a new user Daemon. I think the repair work being done is like a daemon process that works behind the scenes and in the background, however, from access control perspective, I think this daemon repair/cleanup work probably should be triggered by admin when needed or just be set up to run nightly as a job or t

[2017-05-07 13:37] dtarb commented on #2103
I would like what a user sees in the Last Updated entry on a resource landing page and the Dublin Core Date Modified entry in resourcemetadata.xml to be clear and reflect meaningful changes.  I think Daemon is counter intuitive.  I would be OK with "System".  I see three cases
1. Repairs.  Something about the resource was broken, and the system changed the resource to attempt to fix it.  These sho

[2017-05-07 14:06] dtarb commented on #2099
Based on discussion with @pkdash a few days ago here is my understanding of what is, and what I think should be done.

Files with the following extensions can comprise a shape file
".shp", ".shx", ".dbf", ".prj", ".sbx", ".sbn", ".cpg", ".xml", ".fbn", ".fbx", ".ain", ".aih", ".atx", ".ixs", ".mxs".

These are grouped into
Required
".shp", ".shx", ".dbf"
Acted on
".prj", ".xml"
Just saved (non req

[2017-05-07 17:44] alvacouch commented on #2103
@dtarb For (2), the calls that actually make that happen don't know who the user is. This will require adding "user" as a parameter to a long chain of calls. Right this second, they attribute the change to "creator".

[2017-05-07 17:46] alvacouch commented on #2103
@hyi Many of these changes aren't the result of administrative commands. In that case, 'admin' -- which is a person -- doesn't make sense.

[2017-05-07 17:48] alvacouch commented on #2103
Actually there are many places in the code where the "last modified by" field is set to resource.creator because of no better option.

[2017-05-07 17:50] alvacouch commented on #2083
I regenerated them and committed them just now. They've been working fine in testing in that configuration.

[2017-05-07 17:50] #2083 closed

[2017-05-07 17:53] alvacouch commented on #2080
@dtarb @pkdash The "last file" condition is not the only condition under which a resource will become private. A resource with a set of shapefiles will not pass tests for public if some of the files are missing.

This becomes more serious when people are "replacing" files. At present, this is done by deleting a file and uploading another. Because of the way validations are written, this turns off

[2017-05-07 18:12] alvacouch opened #2104 "Avoid embedding configuration into ResourceFile paths"
@dtarb @hyi @pkdash
Currently, there are three kinds of resources:
1. local: stored in some local disk and accessed via relative paths.
3. federated: stored in a remote iRODs server
3. **user**: stored in an iRODS user account on the RENCI iRODS user server. This is done to avoid unnecessary copying between the user server and the "local" iRODS server.
The problem is that in case (3), **the path t

[2017-05-07 18:14] alvacouch commented on #2040
This issue is completely addressed, but there is more work to be done on avoiding embedding what are essentially configuration constants into file paths. See issue #2104.

[2017-05-07 18:14] #2040 closed

[2017-05-07 18:16] alvacouch commented on #2071
Theoretically, this has been addressed.

[2017-05-07 18:16] #2071 closed

[2017-05-07 18:24] alvacouch commented on #2031
@dtarb @pkdash @hyi @mjstealey I am closing this issue with some final comments.

Most of the problems above were synchronization problems, solved by carefully synchronizing dumps of Django and iRODs. The remaining (real) problems were fixed on a one-off basis in PR #2090. There remains some concern that the UI is corrupting Christina's resources due to the complexity of what she asks the UI to do

[2017-05-07 18:24] #2031 closed

[2017-05-07 18:28] alvacouch commented on #2031
@Castronova @ChristinaB See issue #2056 for remaining issue concerning bag download (which doesn't seem to have much to do with this issue).

[2017-05-07 18:33] alvacouch commented on #2030
@hyi The REST API for HydroShare is determined by resourcemap_urls.py, but that remaps to an iRODS URL that **requires the slash**. So far, I have been able to make it optional via (?<path>.*)/?$ which says there can be a / after the stuff bound to path, but then before calling the mapper I have to put it back in or the mapped iRODs path breaks! Since making it optional in the HydroShare REST URLs

[2017-05-07 18:50] dtarb commented on #2103
I agree that what, and to whom automatic changes are attributed needs sorting out as part of clean up.  In my prioritization, this is a misleading, as opposed to a breaking of functionality problem, so a bit lower priority, but nevertheless important.

[2017-05-07 19:40] alvacouch opened #2105 "Drastic differences between file/folder assumptions in iRODs (REST) code and in JavaScript code"
@pkdash @hyi @dtarb I am looking for possible causes of file corruption as addressed in PR #2090 .

The code [here](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/utils.py#L778) doesn't match the comment:
[code]
There is no way it could match the comment, because

1. The target need not exist (and is created automatically if not), so
2. There is no way to check whether it is a

[2017-05-07 20:27] alvacouch commented on #2105
@pkdash @hyi @mauriel133 @dtarb
So, I am now looking at how this is called. It is a very complex path.

* `hs_core/views/utils.py:move_or_rename_file_or_folder`
* is called by `hs_core/views/resource_folder_hierarchy.py`
* which is exposed in `hs_core/urls.py` as `move-or-rename-file-or-folder` public and private REST calls
* the private one of which is referenced in `static/js/hs_file_browser.js`

[2017-05-07 21:26] alvacouch commented on #2105
To fix this, we need to do three distinct things:

1. Decide what a legal folder looks like for both REST and js.
2. Refactor REST to be absolutely clear about the intent of each REST call.
3. Update js and REST for shared conventions.
4. Add REST -- as needed -- to clarify js code.

The second one is rather easy to address. The current REST call `move-or-rename-file-or-folder` is a conflation of

[2017-05-08 04:58] pkdash opened #2106 "Geo Feature Resource creation issues"
When creating this resource on beta, if I select one file for upload and then click the Create Resource button, I see a spinning cursor that goes on for ever. I think it would be better to show a message if the use has selected one ore more files but has missed to select one of the 3 required files.

[2017-05-08 04:59] pkdash commented on #2106
@mauriel133 See this can be addressed as a hotfix the current release candidate.

[2017-05-08 05:25] pkdash commented on #2080
@alvacouch Agreed. File delete and file upload are two separate actions and not part of single transaction. The issue is that under the current implementation the system sets the public to private on file delete but it lacks the capability to set private to public when the resource has the required content files. However, If we keep provenance of resource flag (may be just a resource level bool ty

[2017-05-08 05:38] pkdash commented on #2097
@hyi and @alvacouch Here is my probably stupid question. Why are we keeping this flag (bag_modified) as an AVU in iRODS and not as resource flag (```BaseResource.modified```) in Django?

[2017-05-08 14:22] hyi commented on #2097
@pkdash @alvacouch I think keeping a flag as a resource flag in Django would serve the same purpose as keeping this flag as a AVU in iRODS. I guess the benefit of keeping it as an AVU flag in iRODS is that it can be easily accessed from iRODS without involving Django migrations if there is an issue with a specific resource during bag creation, and after we fixed the issue, we can simple set this A

[2017-05-08 14:25] alvacouch commented on #2105
More specific recommendations:

1. Modify `hs_core/views/resource_folder_hierarchy.py`: `data_store_structure` so that it
    a. Doesn't return data for anything not in Django.
    b. Logs errors for files missing from Django or iRODs

2. In `theme/static/js/hs_file_browser.js`, disambiguate calls to `move_or_rename_file_or_folder` so that work to qualify names is done server-side rather than clie

[2017-05-08 14:28] dtarb commented on #2080
While I have been reluctant to add additional complexity, I think some of the concerns raised here could be solved with a "public pending" sharing attribute.  This would be set in cases where public is intended, but where content (data files or metadata) does not pass validation rules.  Public pending resources would behave exactly as private, but instead of being labeled private would be labeled

[2017-05-08 14:34] hyi commented on #2080
@dtarb I like this "public pending" approach which makes a lot of sense to me, and does not appear to me to involve a lot of work and complexity to implement. What do you think @pkdash @alvacouch ?

[2017-05-08 14:38] alvacouch commented on #2105
This doesn't solve every behavioral problem I have seen. I still don't know how '/'s get left out of paths.

[2017-05-08 15:03] hyi commented on #2105
@alvacouch I am trying to recollect my memory, and I believe the code here https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/utils.py#L778 tries to make sure the ```tgt_full_path``` contains path/file_name so that the path can be created automatically if it does not exist in here: https://github.com/hydroshare/django_irods/blob/master/storage.py#L162. The comment can be made bett

[2017-05-08 15:32] pkdash commented on #2097
@hyi What we currently do with the bag_modified AVU I guess it is possible to do the same thing if this flag lived in Django through the management command. But if we have to keep the other flag Is_Public as AVU then we might as well keep the bag_modified as AVU.  I am trying to see if we keep these flags only in Django then we can avoid sync issues between Django and iRODS.

[2017-05-08 15:57] Castronova commented on #2094
@ChristinaB
This page was designed to show all users, both active and inactive.  I can apply a filter to omit everything but **active** users, but this would mean that won't be able to view total users at all.  Is this what we want to do?  I'm not worried about what "users" see since this is mostly a website for developers to use.  For users we should expose only very specific visualizations, not

[2017-05-08 16:19] pkdash opened #2107 "File icon needed for .shp file"

[2017-05-08 16:19] hyi commented on #2097
@pkdash The other flag is_Public has to stay as AVU since it is used by my script that expose public netcdf resources to hyrax server for THREDDS service. That script runs on a different VM with no access to Django, so is_public flag has to stay as AVU in iRODS. I think we can keep what we have now and there is a possibility bag_modified may need to be accessed out of Django for devOps and/or othe

[2017-05-08 16:37] pkdash commented on #2097
@hyi I assume the 'is_public' AVU is only for exposing the NetCDF resource to hyrax server and it has nothing to do with HydroShare. In that case, can we set this AVU flag using script/management command using a scheduled job?

[2017-05-08 17:31] hyi commented on #2097
@pkdash This is_public AVU has to be set instantly whenever a netCDF resource is made public or private or discoverable, so the THREDDS service will be exposed on netCDF resource landing page or not depending on its sharing status. So scheduled job won't work.

[2017-05-08 17:56] pkdash commented on #2097
@hyi I see the function ```run_script_to_update_hyrax_input_files(shortkey))```  where we run the ssh_command passing the resource id. Can't we pass an additional flag ```is_public`` to the ssh command?

[2017-05-08 18:07] hyi commented on #2097
@pkdash Yes, that can be done, but the script is also scheduled as a cron job to run nightly to initialize the mapped symlinked directory for hyrax server and to clean up mapped public netCDF resources from iRODS fuse mount or NFS mount (pending to work) which will need to loop through all resources and check isPublic AVU flag for clean up. The function ```run_script_to_update_hyrax_input_files(sh

[2017-05-08 19:02] Castronova commented on #2056
As requested by @hyi and @dtarb I've re-tested the resources that failed to bag creation timeout with a new timeout of 5min on beta.hydroshare.org.  Below are the resources that failed to download:

|resource-url|error-message|
|---|---|
|http://beta.hydroshare.org/resource/cdc6292fbee24dfd9810da7696a40dcf/|Timeout waiting for bag creation: 300 sec|
|http://beta.hydroshare.org/resource/d0885da51fd

[2017-05-08 20:06] hyi commented on #2104
@alvacouch Sounds good. I am looking forward to seeing your PR for subclassing ```FileField``` to handle both federated zone and main hydroshare zone. The only thing I like to point out is that we could actually use the same main hydroshare zone iRODS settings to create the same istorage object to be used for federated zone storage as well if all our development and deployment environments all hav

[2017-05-08 21:33] pkdash commented on #2097
@hyi How does the scrip that runs nightly know which ones are netcdf resources? I may have been asking stupid questions.

[2017-05-08 21:34] hyi commented on #2097
@pkdash There is resourceType AVU as well that informs what resource type a resource is.

[2017-05-08 21:47] hyi commented on #2056
@Castronova @ChristinaB @dtarb @alvacouch @mjstealey I took a look at these three resources on beta and here are what happens: For the first two resources, the resource bag actually downloads correctly on www, but fails on beta with the following error:
[code]
Then I found all files under sub-folders are stored under the iRODS resource ```hydrotestResc``` while all files in ```data/contents``` top

[2017-05-08 22:35] pkdash commented on #2097
@hyi Got it. Thanks.

[2017-05-09 02:22] pkdash opened #2109 "REST endpoint for updating science metadata missing processing of 'relations'"
This method (https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_metadata_rest_api.py#L186) needs to processes ```relations``` data in the request.

[2017-05-09 05:58] pkdash commented on #2104
@alvacouch I have not yet fully digested all these combinations of configurations and how the files at different locations are accessed and manipulated. Any attempt to further simplify file handling code is great.

[2017-05-09 12:18] dtarb commented on #2096
Tested on beta and closed

[2017-05-09 12:18] #2096 closed

[2017-05-09 12:37] dtarb opened #2110 "Spatial coverage in composite resource problems"
- [x] If I load two files into a composite resource, then set the spatial coverage for each of them as a point, at the resource level I get a box (which is correct), but I am unable to edit the Place/Area Name

![image](https://cloud.githubusercontent.com/assets/3456833/25850685/76be3a52-3480-11e7-87cf-80d0540d437a.png)

- [x] If I add a geographic raster that does not have spatial coverage then g

[2017-05-09 12:47] dtarb commented on #2029
@zhiyuli please check if this is fixed in beta deployed 5/8/17.  The "solution" that was implemented is to disallow multiple folder deletions.

[2017-05-09 13:13] dtarb opened #2111 "Resource bag cannot be created due to download poll errors"
For the resource https://beta.hydroshare.org/resource/93f49ab913fd4c639c98ab4a070d20e0/ on current release candidate, when I try to download bag, I get the following error

![image](https://cloud.githubusercontent.com/assets/3456833/25851964/065602d6-3485-11e7-8c55-c2a879c321cd.png)

I checked the debug information on this resource and note no issues reported but that quotaUserName is None and bag

[2017-05-09 14:18] alvacouch commented on #2111
This probably has nothing to do with files, because there's no ambiguity there according to the checker. The file redo didn't do anything to bag handling. Bags are handled by a different part of the code.

This is more likely a clearer expression of a long-standing, intermittent problem with downloading bags, including the inherently asynchronous nature of bag creation and the possibility of encou

[2017-05-09 14:23] alvacouch commented on #2111
Hmm. I looked at the code for this last week. I remember three parts to the bag download:

1. Start a celery task to build the bag.
2. Wait in a polling loop for that specific task to finish.
3. When the poll returns "done", send the bag.

It is complaining that the polling loop itself crashed. In other words, **the poll _command_ failed**. This might indicate a problem with starting up the job in

[2017-05-09 19:43] alvacouch commented on #2111
What happens when one downloads a bag:

* Click on return value of resource.bag_url
    * This generates the path bags/{resource-id}.zip
    * Which is passed to `istorage.url(name)` (in django_irods/storage.py)
    * And results in the iRODS path for the bag.
    * Which is `reverse(‘django_irods.views.download’, kwargs={‘path’: name})`
    * Which resolves to `download/{name}`
    * Which calls

[2017-05-10 02:05] dtarb commented on #1977
Implemented

[2017-05-10 02:05] #1977 closed

[2017-05-10 02:11] #1978 closed

[2017-05-10 02:14] dtarb commented on #1976
OK

[2017-05-10 02:14] #1976 closed

[2017-05-10 02:18] dtarb commented on #1975
OK

[2017-05-10 02:18] #1975 closed

[2017-05-10 02:24] dtarb commented on #1955
OK

[2017-05-10 02:24] #1955 closed

[2017-05-10 02:25] dtarb commented on #1941
OK

[2017-05-10 02:25] #1941 closed

[2017-05-10 02:27] dtarb commented on #1929
OK

[2017-05-10 02:27] #1929 closed

[2017-05-10 02:28] dtarb commented on #1928
OK

[2017-05-10 02:28] #1928 closed

[2017-05-10 02:29] dtarb commented on #1924
OK

[2017-05-10 02:29] #1924 closed

[2017-05-10 02:42] dtarb commented on #1920
I tested this on candidate release and found that I am still unable to replicate to iRODS, but that in addition the file content display shows the data folder and does not show the content file, as below.  Most resources show contents folder only.  This seems to be another case of confusion between Django and iRODS
![image](https://cloud.githubusercontent.com/assets/3456833/25881050/0c672178-34f8-

[2017-05-10 02:44] dtarb commented on #1920
This resource is sufficiently corrupt that it crashes @alvacouch debug script
![image](https://cloud.githubusercontent.com/assets/3456833/25881103/52d1e97c-34f8-11e7-99b8-f3e4b5f6332e.png)

[2017-05-10 02:48] dtarb commented on #1895
Great!

[2017-05-10 02:48] #1895 closed

[2017-05-10 02:53] dtarb commented on #1589
Pushing to Future issues.  @alvacouch or @aphelionz to determine a specific future milestone to target

[2017-05-10 02:57] dtarb commented on #2093
Implemented on beta

[2017-05-10 03:11] dtarb opened #2112 "REST API Enhancements to return additional metadata (optionally)"
Azavea (@kdeloach) has requested that the REST API be enhanced to return spatial fields in discovery.  Specifically:

Our current objective is to replicate something like this:
https://beta.hydroshare.org/search/?q=water&NElat=&NElng=&SWlat=&SWlng=&start_date=&end_date=#map-view

We want to be able to search for resources, and show the results on a map. However, the DRF "resource" endpoint doesn't

[2017-05-10 12:31] hyi commented on #1920
@dtarb @alvacouch If you are looking at an existing resource synced from www to beta, you will not be able to copy the resource to your user zone because the hardcoded user zone path in the www database that is not accessible on beta. I will try to run @alvacouch's management command to see if the hardcoded user zone path on the db on beta can be replaced with the right path from configuration in

[2017-05-10 12:39] hyi commented on #1920
@alvacouch I cannot find the management command you wrote to replace the hardcoded user zone path in www db with the right path from configuration in local_settings.py although I remember I saw that when I did code review. Please advise on this and if I somehow missed the command, let me know the command I need to run to fix the hardcoded path so that I can fire it up on beta to allow user zone re

[2017-05-10 13:07] dtarb commented on #1920
@hyi I am getting inconsistent behavior.  I am able to on beta copy some resources to iRODS.  Notably
https://beta.hydroshare.org/resource/9990bc18925b429aae35c142bea235da/, but for some I get an error and for some just nothing happens.  This may be due to the date they were created and who owns them (whether I own them or they are shared with me).

The fact that some work suggests that a hardcode

[2017-05-10 13:53] alvacouch commented on #2097
@hyi @pkdash Alas, both flags are necessary. I read the code in the process of troubleshooting the bag download problem.

1. `metadata_dirty` generates `resourcemetadata.xml` before it is downloaded, **without generating a bag**
2. `bag_modified` generates a bag for bag download; bag generation also checks `metadata_dirty` to figure out whether to generate `resourcemetadata.xml` before generating

[2017-05-10 14:23] alvacouch commented on #2111
Simply turning off `use_async` yielded the following:
[code]

[2017-05-10 17:35] hyi commented on #2097
@alvacouch @pkdash I believe we only need one flag if we want to achieve the same functionality we have currently. Yes, ```metadata_dirty``` generates ```resourcemetadata.xml``` as well as ```resourcemap.xml``` since ```created_bag_files()``` create both files currently. I believe ```bag_modified``` flag behavior can be modified to accommodate ```medata_dirty``` flag behavior. Specifically, when t

[2017-05-10 17:46] hyi commented on #1920
@dtarb The reason you can copy this resource https://beta.hydroshare.org/resource/9990bc18925b429aae35c142bea235da/ is because this resource is stored in the main zone, i.e., not in the user zone. You will only run into issues when you are dealing with resources stored in the user zone because of the hardcoded user zone path which only applies to www federation in the www database which is copied

[2017-05-10 17:48] hyi opened #2115 "Show where (which zone) a resource is stored on resource landing page"

[2017-05-10 17:58] alvacouch commented on #2025
@pkdash I will avoid changing `hs_restclient` by accepting trailing / as well as no trailing /.

[2017-05-10 18:03] hyi commented on #2111
@dtarb @alvacouch @mauriel133 I debugged this issue and it appears to be a systematic issue resulting from recent front end javascript refactoring. Specifically, the ```task_id``` and ```download_path``` are all ```undefined``` in https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/generic-resource.js#L387-L388 when downloading a bag being regenerated. Will have to look into it a

[2017-05-10 18:22] pkdash commented on #2025
@alvacouch You mean no changes to hs_restclient.

[2017-05-10 18:35] hyi commented on #2111
@dtarb @alvacouch @mauriel133 I build release-candidate-1.10 branch locally but cannot reproduce this issue, so not sure what is going on. Have to look into beta specifically to see why the task_id and download_path are all undefined in https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/generic-resource.js#L387-L388 when downloading a bag being regenerated on beta but somehow it

[2017-05-10 18:49] pkdash commented on #2097
@hyi I think @alvacouch is right. I now remember the same reason for which I added the ```metadata_dirty``` flag. If we only use one flag ```bag_modified``` we have to regenerate the xml files each time the user asks for one of the xml files when the ```bag_modified``` is True. We can't set this flag to False after generating the xml files since the same flag is used for recreating the bag. If we

[2017-05-10 19:01] pkdash commented on #2111
@hyi I assume this is happening with only specific resources on beta. Locally I think you are testing with new resources you created. I did not see this problem on beta when I created a new resource.

[2017-05-10 19:30] hyi commented on #2111
@dtarb After I add 'metadata_dirty' AVU manually to these three resources you listed here, all bags can download successfully. You can try to verify them. This confirmed @alvacouch 's fix should fix this issue. I deleted my previous comments since they are not applicable any more.

[2017-05-10 19:57] hyi commented on #1920
@dtarb @alvacouch I have run the command ```fix_irods_user_paths``` on beta. @dtarb Try that 1.3GB private resource again to see if you can replicate it to your user zone on beta now.

[2017-05-10 20:04] alvacouch commented on #2112
This is a little conflated because it refers to the old 'search' page rather than the new 'discovery' endpoint. The REST API for discovery isn't ready, but we are open to adding this functionality to that.

[2017-05-10 20:12] hyi commented on #2097
@pkdash I may not capture your use case fully, but I think if we modify ```bag_modified``` flag behavior to be set to true whenever there is metadata change or file change, then when bag is downloaded, the bag will be regenerated since this flag is true. In short, whenever there is a change that affect the bag, this single flag is set to true. This single flag is only set to false when there is no

[2017-05-10 20:48] horsburgh opened #2116 "Beta 1.10: Initial My Resources Page View Needs to Change"
The current implementation of release 1.10 has changed the way resources are listed on the My Resources page. When the page loads, I can now see all of the resources that I own/created, things that I have added to my resources, and anything that has been shared with me - including via a group. This adds a huge amount of potential clutter and may eventually affect performance as the number of resou

[2017-05-10 21:31] pkdash commented on #2097
@hyi

This works as long as we don't mind generating xml files **more than once** even though there is no metadata changes after the first time generation.

[2017-05-10 21:35] pkdash commented on #2112
@alvacouch  What about returning coverage data in the existing GET endpoint ```/hsapi/resource```?

[2017-05-11 02:28] dtarb commented on #2116
There is a design document.  See https://docs.google.com/document/d/1gclvwj76lVnxKFHyov3R3VgDVGr65agaU7fywMFLM_E/edit.

Interesting to note that it has the Filter "Shared with me".  I think that the current implementation Viewable by me was an attempt to make a clearer distinction between resources shared with me at edit permissions and shared with me at view permissions.  Just saying "Shared with

[2017-05-11 05:03] horsburgh commented on #2116
@dtarb - if we want to follow the design document that's fine. It was written by a particularly inspired individual. If you want to check "Owned by me" and "Following" as defaults, that's fine. I wouldn't add the "Added to my resources" text because it will make the label too long. There's an opportunity here for simplification as I suggested above, but if you don't want to do that, we can stick w

[2017-05-11 06:05] dtarb commented on #2116
How will you inform users that Following = Added to my resources, or is there a different term you want to suggest.

I do not want to switch the selection dialog to be mutually exclusive.  I like that multiple check boxes can be picked and if a user picks multiple check boxes I think the only logic that makes sense is a union of the sets selected by a single check box.  Otherwise selecting Owned b

[2017-05-11 12:19] hyi commented on #2097
@pkdash I don't understand why xml files would be generated **more than once** even though there is no metadata changes after the first time generation. If there is no metadata changes, this single flag will be set to false, hence xml file can be directly retrieved without being regenerated. XML file is only regenerated when the flag is set to true, in which case, xml files along with the whole ba

[2017-05-11 15:31] ChristinaB opened #2119 "Multiple folder drop resource crash"
@alvacouch
I have broken another resource for you which may help amplify the canary in the coal mine.
I have made you an owner of
https://www.hydroshare.org/resource/636878cd2380443b907d25aa51a7043a/

These are the steps that led to the demise of this resource:
1. Create resource
2. Drag and drop one folder.
3. While the folder was still uploading, drag and drop another folder
4.  The uploading me

[2017-05-11 15:34] ChristinaB commented on #2119
I also made you an owner of this resource
https://www.hydroshare.org/resource/e621db2061b648668d3b4ad80d4ce525/

I specifically was careful not to attempt folder drops while other folders were uploading.  In this case,

1. Drop 300mb zipped file into resource.  This appeared fine.
2. Simulaneously drop multiple folders.  This now shows no content.

@Castronova  -- I'm trying to get the DHSVM test

[2017-05-12 01:06] dtarb commented on #2119
@ChristinaB one of the causes for these problems that Alva tracked down was dots in file/folder names.  If you want this to work to get a job done, avoid dots for now.  This is hopefully to be fixed in the near future.

You could also try do this sequence on http://beta.hydroshare.org.  However be aware, that beta is a separate and transient virtual universe, so nothing will persist there.  It is

[2017-05-12 12:30] alvacouch commented on #2119
@ChristinaB Dots in folder names are fixed in PR #2118 and up for testing on [https://CUAHSI-dev-1.hydroshare.org](https://CUAHSI-dev-1.hydroshare.org) as noted elsewhere. They are not pushed to beta yet. This is my personal development server at RENCI.

@dtarb The more difficult problem of dealing with concurrent operations I am just starting to address. For now, concurrent operations aren't goin

[2017-05-12 12:34] alvacouch opened #2120 "UI does not communicate errors to user from REST API"
@aphelionz @Maurier @dtarb There is a systematic problem in the file drag-and-drop interface, that errors that are sent back from the REST API are not ever shown to the user. This is problematic, because **these messages contain details on how to solve the problem.**

As well, there is a need to display messages that are informational and not errors. The most prevalent example of this is when the

[2017-05-12 12:39] alvacouch opened #2121 "File drag-and-drop UI back-end error checking is not comprehensive"
The error checks in the back-end are at best spurious. We should check for the following errors system wide:
1. target or source of operation has moved before operation commenced. This is due to a stale page.
2. source files for operation don't exist in iRODS or in Django.
3. operation would overwrite one or more existing files.

I have implemented these for the `data-store-move-to-folder` endpoin

[2017-05-12 12:44] alvacouch opened #2122 "Limit resource file change operations to one file operation per resource at a time"
@ChristinaB reports that when trying to upload too many things at a time, corruption of the resource is possible on [www](https://www.hydroshare.org.) This is still possible on beta and my test systems for 1.10.0.

This -- however -- is a symptom of a deeper problem. As people really start using this software, there is a valid use case for uploading 10,000 files at once.  Meanwhile, there are many

[2017-05-12 15:46] alvacouch commented on #2097
@hyi @pkdash  The problem arises when one discovers data via REST.. In that case it is a common pattern  to fetch `reaourcemetadata.xml to see all metadata rather than downloading the whole  bag. if one does this, then the bag will be generated before we know the app really wants it.

[2017-05-12 17:23] hyi commented on #2097
@alvacouch That is a valid use case. However, can we augment REST get file end point to check this single flag ```bag_modified``` if ```resourcemetadata.xml``` or ```resourcemap``` is requested, and if the flag is true, then call create_bag_files() to regenerate the files before sending the file to the client? In this special case, we do not set the flag to ```false``` since we have not created th

[2017-05-13 03:56] alvacouch commented on #2121
Addressed in #2118

[2017-05-13 12:35] alvacouch commented on #2119
@ChristinaB  @dtarb See #2122 for further discussion on this issue. I have done my best to prevent file corruption for 1.10.0, but have not been able to come up with a simple and consistent way to prevent concurrency botches of the kind you describe. Will take this on for 1.11.0. So for now, caveat emptor.

[2017-05-14 15:05] alvacouch opened #2123 "Lack of REST API decorators causes uncaught exceptions in system log"
@pkdash @hyi @Maurier @aphelionz @dtarb I have been monitoring the system logs for problems unseen so far. I am working from the 1.10.0 release candidate. There are a lot of messages like this:
[code]
Looking further, these result from lack of decorators on the REST API functions, so that raised exceptions are not caught by the REST system and are treated as system errors. Solution is to appropria

[2017-05-14 18:38] alvacouch commented on #2122
I have discovered one instance in which this might be due to call-by-reference semantics for JavaScript arrays. I replaced the reference with a copy in PR #2118. This is not necessarily the only problem.

[2017-05-15 11:40] dtarb commented on #2111
I tested using the following https://beta.hydroshare.org/resource/3941d5cd22dd4a248655ca2b4654d85d/ https://cuahsi-dev-1.hydroshare.org/resource/3941d5cd22dd4a248655ca2b4654d85d/ resource that was one of the ones I reported the problem for and both resulted in hanging with ....... forever, rather than downloading the bag.

[2017-05-15 11:47] alvacouch opened #2124 "Should be able to rename and/or move some kinds of files in composite resource"
Currently no files can be renamed in the composite resource. This is very inconvenient when using the composite resource as a replacement for generic resource, and this renaming should be possible.

Some discussion with @dtarb, @pkdash indicates that the ability to rename (as well as the way a resource would be moved between folders, e.g.) is a function of the logical file rather than the physical

[2017-05-15 11:52] dtarb commented on #2056
https://cuahsi-dev-1.hydroshare.org/resource/0183ec4000f644fa9378cf28cfe5c2e2/ fails to create bag.
https://cuahsi-dev-1.hydroshare.org/resource/d0885da51fda4ec99f6f0a59295c3d7c/ also fails to create bag.  Both hang for too long.

[2017-05-15 12:54] alvacouch commented on #2056
@dtarb @hyi @mjstealey
These are the errors I received in the system log. bunUtil is an irods function.
[code]

[2017-05-15 13:05] hyi commented on #2056
@alvacouch Looks like there are some issues with these resource collections. Look for SYS_COPY_NOT_EXIST_IN_RESC in https://docs.irods.org/4.1.6/doxygen/rsChkObjPermAndStat_8cpp_source.html for an example of three different cases this operation error could be raised. I think it'd be helpful to see an ```ils -rL``` for the troublesome resource and see if it can provide some clue for us. @mjstealey

[2017-05-15 13:06] alvacouch commented on #2056
@hyi Already looked at the code and couldn't understand what it does.  :(

[2017-05-15 14:32] alvacouch commented on #2111
See issue #2056 for cause. It is the same behavior now. iRODS fails with misconfiguration errors.

[2017-05-15 17:30] alvacouch commented on #2122
@dtarb @pkdash @hyi @christinaB I think that the ability of the UI to corrupt files via simultaneous operations (in 1.10.0) is now very limited but not impossible. However, the ability of two different users operating on the same resource to create havoc remains, although more limited than before.

One thing that saves us from more havoc is that:
1. simple imv commands can be made atomic in iRODS.

[2017-05-15 17:49] alvacouch commented on #2122
@ChristinaB Note that non-overlapping concurrent uploads (e.g., uploading different sets of files with no naming conflicts) should work in 1.10.0. Overlapping concurrent uploads have a small chance of failing because there is a small window between checking for existence of a file and writing into it in which a conflict can occur. I could remove this conflict by changing the iRODS command used to

[2017-05-15 18:08] hyi commented on #2122
@alvacouch Keeping simultaneous operations on the same file of the same resource from different users synchronized to avoid race condition is hard and an external server such as apache zookeeper may be needed in order to resolve this synchronization in a more comprehensive way. When I implemented resource versioning, this synchronization issue must be resolved to avoid broken resource versioning c

[2017-05-15 18:20] hyi opened #2125 "Timeout issue for large set of file display on resource landing page"
For resources with large set of files, such as https://www.hydroshare.org/resource/8fd42ad1d86f495a914e7ce9be21bbce/ which has about 15k files all residing at the top level, the spinning wheel goes on and on until receiving a 504 (Gateway Time-out) error with no files being displayed. On the current www, there is also an request error as shown below:
[code]
However, we don't see the error above on

[2017-05-15 20:41] ChristinaB commented on #2056
For a few of the broken resources, we are downloading the files and making new resources.  These resources operate correctly,.  Thanks for all your work!

[2017-05-17 13:59] alvacouch commented on #2103
@dtarb @hyi @pkdash @aphelionz I propose a very simple solution to this that will be more functional to users and more easily understandable.  First, I agree that the user who initiated the change should be attributed as making it, even if that change is an implied change to `private`.

**I propose as well to store the provenance of the last change to `public` or `private`, and _display this prove

[2017-05-17 16:48] mjstealey commented on #2093
@dtarb - This issue is for implementation on the pages.hydroshare.org site and must be done from the [https://github.com/hydroshare/hs_pages](hs_pages) repository.

Assigned to @Maurier

[2017-05-17 17:53] #1561 closed

[2017-05-17 23:05] zhiyuli opened #2127 "Display a warning when user removes himself as owner"
I was setting permission for a resource I owned. I accidentally removed myself as owner. The changes took effect immediately once the dropdown closed. It left no time to regret as I have no permission to change it back any longer....
It is better to show a warning and let user confirm this kind of change.
![image](https://cloud.githubusercontent.com/assets/10070599/26179754/bab87eb8-3b22-11e7-9747

[2017-05-18 15:41] pkdash commented on #2103
If we want the provenance of the last change to resource flag, I think it is better to do this for all flags - public/private, discoverable, published.

[2017-05-18 16:32] horsburgh commented on #2122
@alvacouch - I'm intrigued by this, but also a little confused. What happens if User A moves a file. That change gets queued.  Then, before the file is actually moved, User B deletes the same file. That change is queued. Once operation 1 for User A is complete, the file no longer exists in its original location. So, what does the queued operation for User B (file delete) do if the file no longer e

[2017-05-19 18:05] hyi opened #2131 "User foreign key field does not show up in Add User Quota dialog from admin panel"
This appears to be an issue caused by use of list display for user quotas.

[2017-05-21 21:40] dtarb commented on #2111
Appears to be sorted out on beta.  The 3 resources above downloaded properly.  Closing.

[2017-05-21 21:40] #2111 closed

[2017-05-21 21:48] dtarb commented on #1567
@Castronova I pushed this to 1.11.  Can you please affirm when you have done this check, then close.

[2017-05-21 21:56] dtarb commented on #2056
https://beta.hydroshare.org/resource/d0885da51fda4ec99f6f0a59295c3d7c/ still fails to download bag.  It also fails to copy to iRODS zone, which is supposed to be the fail over for large resources.

[2017-05-21 22:42] dtarb commented on #2122
Can some of the complexity of this be resolved by giving iRODS primacy to be the record of the files that are in the resource.  If multiple actions are being done on a resource at the same time, once the dust settles in iRODS, the UI should show the files that actually ended up in iRODS and Django should align its representations with this, since these are the files that are actually there.  I do

[2017-05-21 22:58] dtarb commented on #2103
I support recording and displaying set to public, set to private etc as @alvacouch suggests and adding
* Set to `discoverable` on {date} by {username}
* `Published` on {date} by {username}

as @pkdash suggested.

[2017-05-22 15:10] dtarb commented on #2056
This is the iRODS error ERROR: resolveRodsTarget: srcPath /hydrotestZone/home/betaDataProxy/bags/d0885da51fda4ec99f6f0a59295c3d7c.zip does not exist ERROR: cpUtil: resolveRodsTarget error, status = -317000 status = -317000 USER_INPUT_PATH_ERR

[2017-05-22 15:31] dtarb commented on #2121
Alva says this is done.

[2017-05-22 15:31] #2121 closed

[2017-05-22 15:32] #2105 closed

[2017-05-22 16:28] pkdash commented on #1999
@alvacouch I did test this on beta and it seems to have fixed this issue. You can close this issue.

[2017-05-22 16:42] #1999 closed

[2017-05-22 17:31] dtarb commented on #2116
Let's go with the 4 above that @horsburgh suggests

Let's use the definitions (which are not strictly mutually exclusive)
1. Owned by me.  The user is the owner.  This can overlap with favorites as a user can favorite resources they own.
2. Shared with me.  The user is not the owner, but the user has access at either edit or view level by virtue of the resource being directly shared with the user,

[2017-05-23 14:49] horsburgh commented on #2116
@dtarb - this seems like a reasonable plan.

[2017-05-24 03:00] dtarb commented on #2056
@Castronova provided the attached dump of problem resources.  I worked through these and note the following problems that I think need to be fixed before we deploy 1.10.  I added a column DGT assessment where I put notes.  Yellow highlighting indicates critical to fix.  Brown highlighting we could skip as it may just be best to recreate these resources from scratch.

[hs-beta-test-download-results

[2017-05-24 03:20] dtarb commented on #2127
The system has this warning
![image](https://cloud.githubusercontent.com/assets/3456833/26385531/9830251e-3ffd-11e7-907e-eb87f37cf7ae.png)
What more do you want.

[2017-05-24 03:30] dtarb commented on #2127
OK.  I see the problem.  If an owner by mistake switches themselves to view, then they do not have permissions to set themselves back to owner, and even on beta the new undo functionality does not address this.  We should add a warning similar to the above to any action that lowers the permissions of the active user.

[2017-05-24 15:10] ChristinaB commented on #1607
@dtarb
At UCGIS and other events, we have a 5-10% rate of new users published to a DOI thinking that is what 'publishes' data on HydroShare.  Is this issue ready to be closed or should we continue working on it?

[2017-05-24 15:28] ChristinaB commented on #2122
I also think it's acceptable to prevent users from doing multiple things that are known to cause problems.  For example, when I am doing something on GogoInflight, the entire screen taken up be a message that prevents me from doing any other operation while reading 'We are sending your data down to earth. This may take a moment. Thanks for your patience'.     Personally, when I am uploading data t

[2017-05-24 15:45] ChristinaB commented on #1523
Is this related to the resource integrity issue that @alvacouch is working on??  If so, we could close this.

[2017-05-24 15:46] ChristinaB commented on #1915
Thanks for your work on this @Maurier !!

[2017-05-24 15:52] ChristinaB commented on #2056
I think that this is almost ready to close, correct?  My understanding is that Tony's program would be run on all users, and we would inform them about broken resources they have.  If so, I can create a new issue for that next step.

[2017-05-24 16:01] ChristinaB commented on #2095
I know a lot of people like Drag and Drop and do all their operations that way.  When I started noticing inconsistency I quickly changed to only using the upload 'here' link.  This is very small below the window and obviously not the main way the interface is designed for users to upload files.    Can we replace the spinning wheel with messages that prevent the users from trying things the system

[2017-05-24 16:11] ChristinaB commented on #2119
I think this is concurrent with other issues so am closing

[2017-05-24 16:11] #2119 closed

[2017-05-24 16:25] alvacouch commented on #2056
These were affected by running `fix_irods_user_paths`:
`3f354dd111f24998b37099ebdf478441`
`6e9285751aeb496a8678ed07d9a3b53d`

There are still missing files.

These have something else going wrong with them:
`094da7d9400f493fb1e412df015e17a4`
`1b9d7cad559e4a69ae7d4d955c895024`

[2017-05-24 16:57] alvacouch commented on #2056
Note that the release candidate differs quite strongly from `www` in what it does with errors:

www | release candidate
-------|------------
files in iRODS appear even if not in Django | files not in Django are not shown, even if in iRODS

For example, in `www`, `094da7d9400f493fb1e412df015e17a4` seems to have files that it doesn't have on the release candidate `beta`. These files are present in i

[2017-05-24 17:28] alvacouch commented on #2095
@ChristinaB #2056 does not address the problem of speed.

[2017-05-24 17:32] Lizabrazil opened #2135 "implement automatic email to all new users"
The HydroShare Education and Outreach team would like to implement a system for checking up on new HydroShare users. The idea is to automatically email new users immediately after they have created an account. The email would include a short explanation and link to a survey. The Education and Outreach team will develop the survey via mail chimp, google form, or some other survey system.

[2017-05-24 17:34] alvacouch commented on #2122
@horsburgh If two users race to operate on the same thing, the first one wins and the second one loses. So, if you move a file `foo` somewhere, and then later in the queue `foo` gets deleted, the delete will fail. This is pretty much what you want to have when two people conflict. The first request in the queue always wins.

@dtarb The software as written does not support what you are asking for a

[2017-05-24 17:45] ChristinaB commented on #1915
I tested this on beta and it is not implemented.  Any chance we can sneak it in 1.10?

[2017-05-24 18:00] ChristinaB opened #2136 "Create New Resource - Design Updates Needed"
@aphelionz  -- we have a range of perspectives on interface design. @Lizabrazil may best be able to fill you in and see if further conversation is needed.  What we have works fine from a developer perspective, but from a new user perspective, we would like to revisit it for a future release.

[2017-05-24 18:28] #1637 closed

[2017-05-24 19:01] dtarb commented on #1915
see prt #1303

[2017-05-24 19:29] alvacouch commented on #2056
094da7d9400f493fb1e412df015e17a4 Delete files in iRODS that are not in Django (duplicates)
aff4e6dfc09a4070ac15a6ec0741fd02 Delete files in Django that are not in Irods (failed upload)
5e80dd7cbaf04a5e98d850609c7e534b Delete files in Django that are not in Irods (failed upload)
325b21d55b2c49658a91944fabd896cf Delete files in Django that are not in Irods (failed upload)
9e5e99125d1646c69dde9fc43e1

[2017-05-24 19:33] ChristinaB commented on #2135
@mjstealey  what do we need to get to you, to populate emails to new users?
any other information besides the email text with the link to the survey we want to give?

What if we want to send another email six months after joining? One year after?  Or to send 'update your profile' reminders with links to their profile?

I suggest we use this issue for any discussions on expanding the emails that we

[2017-05-24 20:39] alvacouch commented on #2056
These are the NefCDF headers:

LOOKING FOR FILE ERRORS FOR RESOURCE 3f354dd111f24998b37099ebdf478441
check_irods_files: django file /hydroshareuserdevZone/home/betaUserProxy/3f354dd111f24998b37099ebdf478441/data/contents/SurfaceRunoff_monthly_header_info.txt does not exist in iRODS
check_irods_files: file /hydroshareuserdevZone/home/betaUserProxy/3f354dd111f24998b37099ebdf478441/data/contents/NLDA

[2017-05-24 22:00] zhiyuli opened #2137 "No resource file gets uploaded when creating a Composite Res through hs_restclient 1.2.8"
The following code works fine for "GenericResource".
For "CompositeResource", it was able to create a resource with correct title, keywords and abstract, but no resource file got uploaded.

hs.createResource("CompositeResource",
                             "myres",
                              resource_file=zip_file_full_path,
                              keywords=['kw1', 'kw2'],

[2017-05-24 22:00] dtarb commented on #2056
Spreadsheet of problem resources is https://docs.google.com/spreadsheets/d/1Dsjf3sTAE2IR6Iof0_34Ltffhq60OU8KgzTlbDaaokA/edit#gid=1690358350.

Two that we did not determine cause of problem are
b9d7cad559e4a69ae7d4d955c895024
d0885da51fda4ec99f6f0a59295c3d7c

[2017-05-26 19:13] zhiyuli commented on #2137
OK. I see a workaround: First I created an empty CompositeResource by not passing parameter 'resource_file' to hs.createResource(), then called hs.addResourceFile(resource_id, file_path) to append a new resource file to this composite resource.

[2017-05-26 20:51] dtarb commented on #2122
@alvacouch I am suggesting a principle that should be used in modifying the software to be a bit more robust.  As I see it, there are files in iRODS that are real physical files.  There are files in Django that are entries in a database that record the names of files.  Where these are in disagreement (as a consequence of a race or something else) it is the actual physical files that are in iRODS t

[2017-05-27 14:13] dtarb opened #2139 "Use metrics kibana error"
When I go to Kibana from https://pages.hydroshare.org/about-hydroshare/usage-metrics/ the first thing I see is this error.

![image](https://cloud.githubusercontent.com/assets/3456833/26522015/37a98c08-42b4-11e7-89c3-8984c0072af4.png)

[2017-05-30 15:46] Castronova commented on #2139
@dtarb Looks like this is due to a misconfiguration in the logstash parser.  I'm working to fix this now.

[2017-05-30 17:06] rayi113 opened #2140 "HydroShare 1.10 Release Regroup Plan"
## HydroShare 1.10 Release Regroup Plan

### Next Steps

 * Build HydroShare with iRODS 4.1.8 on Beta to determine if 1.10 stalled release best-estimate cause of being related to iRODS ibun problem goes away
	 * Partition Beta to use iRODS replication servers, but with different accounts so as not to perturb the production www environment in place

### Proceed Depending on Outcome

Outcome 1
* Bet

[2017-05-30 17:43] dtarb opened #2141 "Remove case sensitivity in discover"
If I enter "modflow" in discover, I find nothing, but if I type "MODFLOW" I find a lot of MODFLOW models.

[2017-05-30 19:10] dtarb commented on #2141
Closing.  Not sure what was going on, but I tried earlier today and "modflow" found nothing.  Now it is working properly.

[2017-05-30 19:10] #2141 closed

[2017-05-30 19:28] pkdash commented on #2033
@rayi113

The above notification is partially hidden under maintenance messages like the “The NCSA JupyterHub server will be undergoing maintenance today and will be back online as soon as possible.” message. Make it so the maintenance message does not partually overlap with the new user email verification message above.

The above change I think is already part of release 1.10.

[2017-05-30 19:34] pkdash commented on #2029
@zhiyuli Can you check on beta if this issue has been resolved?

[2017-05-30 19:41] Castronova commented on #2082
This requires several fields to be modified in the hs_tracking user and resource detail dumps:

**user details**
1. add usr-id
2. format usr-created-date to => m/d/y H:M:S

**resource details**
1. format res-created-date to => m/d/y H:M:S

This is required to ensure that fingerprints are created uniquely using parameters that will not/cannot be changed.

[2017-05-30 20:06] pkdash commented on #1876
@mjstealey Should you be closing this issue?

[2017-05-30 20:08] pkdash commented on #1944
@gantian127 Can you test on beta if this got fixed?

[2017-05-30 20:11] pkdash commented on #1279
@xuezhaokun Can you test on beta if this issue got resolved?

[2017-05-30 20:28] gantian127 commented on #1944
@pkdash I just tested and it works as expected now. Thanks.

[2017-05-30 20:48] dtarb commented on #2036
I tested the implementation on riverdev.hydroshare.org and noted the following

 - [ ] Place/Area Name is blank but not editable.  It should be.
 - [ ] Showing Box and Point as radio buttons is misleading since they cannot be changed
 - [ ] If spatial coverage internally to a file type has place/area name, how is the overall resource place/area name set.  I suggest it should  be set based on the f

[2017-05-31 13:29] hyi commented on #2097
@alvacouch @pkdash Given discussion above, I decide to keep the two flags we have now and close this issue.

[2017-05-31 13:29] #2097 closed

[2017-05-31 14:20] Castronova commented on #2139
This was fixed with by adjusting the logstash configuration.

[2017-05-31 15:20] zhiyuli commented on #2036
@pkdash
I just tested it on riverdev and its works pretty well.
One thing: I find I have to open the file-type folder and click a file to view its metadata. If metadata can be shown by clicking file-type folder, that would be great.

[2017-05-31 19:05] pkdash opened #2143 "Allow unzipping of compressed file formats other than zip"
In particular the unzip api should support unzipping of gzip.

[2017-05-31 19:09] lichray commented on #2143
libarchive, or just bsdtar.

[2017-05-31 19:12] ChristinaB opened #2144 "Loading bug with HydroShare GIS"
Please review these printable demos.  If you have files from Demo4 already open in the App, and then try to load the project in Demo 3, the App gets stuck loading forever.

[HSGISDemo4_CB.docx](https://github.com/hydroshare/hydroshare/files/1042637/HSGISDemo4_CB.docx)
[HSGISDemo3_vCB.docx](https://github.com/hydroshare/hydroshare/files/1042636/HSGISDemo3_vCB.docx)

![image](https://cloud.githubuse

[2017-05-31 20:24] pkdash commented on #2045
@hyi The REST endpoint uses this internal api: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/users.py#L246

[2017-05-31 21:02] hyi commented on #2045
@pkdash OK. I will fix this internal api to exclude obsoleted resources.

[2017-05-31 23:22] dtarb commented on #2056
The student who created 1b9d7cad559e4a69ae7d4d955c895024 reported that the folder structure was flattened on www when the resource was created.  This may have something to do with the problem.

[2017-06-01 00:14] dtarb commented on #2056
I did some further testing with files from the problem resource.  I made a subset test.zip that I uploaded to
https://beta.hydroshare.org/resource/cb1de7d3705c42f4aa72005ef3931302/.  Bag download for this works.

I then uploaded the same zip file to https://beta.hydroshare.org/resource/914291a92bb6409c9395608f34962ea8/.  I unzipped here, and deleted the original zip file.  Bag download fails (hang

[2017-06-02 11:49] rayi113 commented on #2140
iRODS 4.2 ibun does have a reproducible bug as just logged here: https://github.com/irods/irods/issues/3571

Thus HydroShare team should not pursue iRODS 4.2 until above iRODS bug is fixed.

[2017-06-02 14:38] xuezhaokun commented on #1279
@pkdash I checked couple period coverage resources. It looks good now.

[2017-06-02 14:38] #1279 closed

[2017-06-02 19:14] alvacouch commented on #2140
Many thanks for getting to the bottom of this!

[2017-06-02 19:28] alvacouch opened #2146 "Enable use of irsync for Jypyter notebooks manipulations of genericResource, compositeResource"
@dtarb @danames @martinseul  I was talking with @Castronova about what we could do to make Jupyter notebook interactivity better. So far he is using icommands to move things back and forth to user space, and then copying them from userSpace to HydroShare using the web front end.

I got to thinking that we could enable something much more direct. The tool `irsync` synchronizes a local directory wit

[2017-06-02 19:47] alvacouch opened #2147 "New Django REST call to issue iRODS read (and possibly write) tickets"
@dtarb @danames @aphelionz @martinseul

At present we are having problems with something that is already provided in iRODS 4.1.8. An iRODS "ticket" allows a one-time operation on an iRODS object one does not own. This can be "read" or "write" access. The ticket can have limited lifetime, or limited number of uses. It is most convenient for if a ticket has a long lifetime but a single use.

What th

[2017-06-02 19:53] alvacouch commented on #2146
Everyone: note that the code to handle write has already been written; it is in essence the file integrity checker that I wrote to detect differences between iRODS and Django, along with a "repair" option to be written that ingests an arbitrary directory of files as a generic resource :)

[2017-06-02 20:05] alvacouch commented on #2147
Everyone: note that -- as usual -- `python_irodsclient` does not currently support tickets. I don't expect quick inclusion of tickets as an authentication mechanism. For now, this will enable icommands. This is sort of typical; advanced features make it into `python_irodsclient` incredibly slowly.

[2017-06-05 13:39] rayi113 commented on #2140
Thanks to @phuongdm for isolating iRODS ibun on HydroShare side and making it concicely repeatable for the iRODS team, @xu-hao for making it concicely repeatable on the iRODS side, and @jasoncoposky for fixing it and making a test for it as part of iRODS CI.

[2017-06-05 15:32] rayi113 commented on #1818
Closing this since we'll revisit upgrading HydroShare 4.2.x and not 4.2 at this time due to #2140.

[2017-06-05 15:32] #1818 closed

[2017-06-05 15:34] rayi113 commented on #2006
Updated this activity to upgrading to HydroShare 4.2.1 and not leaving at 4.2 due to #2140.

[2017-06-05 15:37] Castronova opened #2151 "Missing activity data"
There is a period of time where activity data is missing due to downtime on the usagemetrics server.  To fix this, some ES data needs to be purged and the activity needs to be re-sent to logstash.

[2017-06-05 18:50] ajrobbins commented on #2112
@alvacouch @pkdash Checking in on this issue (in order to support BiG CZ development) - do you have any updates on returning spatial fields with the discovery endpoint, or an estimate of when a HydroShare release will make this available?

[2017-06-05 20:21] hyi opened #2153 "Improve unzipping performance for zip file with large set of files and complicated folder structure"

[2017-06-05 21:53] dtarb commented on #2024
With current capability restored I have re-enabled the Open With as "OPeNDAP (smallish files only)".  I think this is better than nothing.  I also revised abstract.  If we can better determine the actual limit we should state it more precisely.

[2017-06-05 22:03] dtarb commented on #2024
Another suggestion.  Since we are only doing this for public netCDF files can we save them some place outside of iRODS and have Hyrax access that outside location.  Possibilities are
- copy public netCDF files to outside location.  Retain a copy.  Wasteful in space but could  be immediately implemented (I think)
- move public netCDF files to outside location.  Have Hyrax act on these.  Register th

[2017-06-06 16:19] dtarb commented on #1638
This particular open with app instance was removed a while back.  The general open with problem remains as a separate issue.

[2017-06-06 22:02] dtarb commented on #2056
Promising signs based on new candidate release based on iRODS 4.1.8 6/6/17.

1b9d7cad559e4a69ae7d4d955c895024 bags and downloads properly.
Also 9b3d3f83ef2a4a6fb243ae0fa75a3787 dowloads properly.

I eagerly await @Castronova testing.

[2017-06-07 01:48] dtarb commented on #2056
I did notice when comparing old (www) and new (beta candidate release) bags that manifest-md5.txt and tagmanifest-md5.txt files are different.  They have the letters sha2: at the beginning of most lines and the code is different.  Is this intentional or desired.  Is this consistent with our resource data model.  Could @horsburgh and @hyi please comment.

[2017-06-07 02:11] mjstealey commented on #2056
@dtarb - likely due to a setting that wasn't made on the repaved iRODS servers. Needed an update to `/etc/irods/server_config.json` on each server.

[code]

to

[code]

[2017-06-07 02:51] gantian127 opened #2155 "Manual pre-deploy checklist for release 1.10.0 (version 2)"
This is the 2nd version of manual pre-deploy checklist for release 1.10.0.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.

**Please finish checki

[2017-06-07 12:20] hyi commented on #2056
@dtarb @horsburgh @mjstealey gets to the bottom of this - yes, the default_hash_scheme needs to be set to MD5 on the server side in order for MD5 hash scheme to work properly. Currently, we set it to MD5 on the irods client side, to make it work properly, the same MD5 hash scheme needs to be set on the server as well. @mjstealey could you set default hash scheme to MD5 on the server, then restart

[2017-06-07 13:08] mjstealey commented on #2056
Have done this on both servers and set `bag_modified=true` for all resources to force new bag generation on next download.

[2017-06-07 13:55] horsburgh commented on #2056
Sounds like I don't need to comment further.  Looks like you all got to the bottom of it.

[2017-06-07 14:34] hyi commented on #2056
@mjstealey Thanks. I have tested it out and it appears to work as expected now. @dtarb You can test again when you get a chance and let us know if you see any further issues.

[2017-06-07 16:14] alvacouch commented on #2122
@dtarb @ChristinaB @pkdash @hyi Primacy of iRODS versus Django doesn't solve anything. There are still very bad things that can happen in either case.

The worst of all is that two users try to unzip zipfiles over one another for the same resource at the same time. Currently this is allowed to happen. The result is pure chaos: one file from the first zipfile, one from the second, etc. There is no

[2017-06-07 16:34] alvacouch commented on #2122
@dtarb @hyi Primacy of iRODS will lead to chaos **without** the above change. So the above proposal is a prerequisite before I will agree to primacy of iRODS as a file existence mechanism.

[2017-06-07 17:24] hyi commented on #2122
@alvacouch A correction on the concurrency use case you mentioned above. Currently, we intentionally don't have ```-f``` flag in ```ibun``` call for unzip_file operation so that an exception will be raised if two persons are unzipping the same file at the same time since file override is not supported without -f flag but rather an exception is raised. A specific customized message written by @dtar

[2017-06-07 18:42] alexlemann commented on #1805
@aphelionz with #2052 merged can this issue be closed?

[2017-06-07 18:43] rayi113 commented on #1920
@hyi tested on beta and fixed.

[2017-06-07 18:43] #1920 closed

[2017-06-07 18:44] #1805 closed

[2017-06-08 03:42] dtarb commented on #2122
I agree with the changes @alvacouch is suggesting.  I would restate this as "**limit resource file change operations to one file operation per resource at a time**" as the limit is really that the system cannot undertake more than one operation on a resource, it is not limiting to users.  I do not think the -f flag in ibun that @hyi mentions is quite sufficient as there may still be file conflicts

[2017-06-09 20:29] hyi commented on #1918
@dtarb @alvacouch @rayi113 @mjstealey I have tested with NFIE zone on www as a test case for third party external federated zone since NFIE zone is federated with www. Everything works as expected by design. I will do the same test after release 1.10 is deployed just to make sure external federation still works as expected with our new file system implementation code base. Another related to-do it

[2017-06-10 19:55] dtarb commented on #2115
This needs a complete description of what is proposed.  I actually would like to see a design document that works this out before we go to code.  This is related to federated iRODS stores and a user's quota on each.  Firstly here are some considerations.

1. Information on the iRODS store a resource is held in is only relevant to owners, so should only be shown on the landing page if you are an ow

[2017-06-12 20:53] hyi commented on #2115
@dtarb Here are my comments/answers to each of your bullets:
1. Can implement this in this PR.
2. This is complicated and its implementation depends on existence of external federated zones and quota management for external federated zones. Given that the first complete quota implementation is not even in yet, I don't think we are ready to implement this yet. It can be implemented at the second pa

[2017-06-12 20:55] hyi opened #2160 "Add check to make sure new quota holder has enough quota"
Add check to make sure new quota holder has enough quota before being changed to a new quota holder for a resource by another owner.

[2017-06-13 04:25] dtarb commented on #2115
Without an ability to move a resource from one zone to another (No. 7), I do not think we should show a user anything about the zone a resource is in.  Furthermore, until we have this ability I think we should put all resources in the data zone.  I think that the complications of having multiple zones are just getting us into trouble without the ability to do anything about it and move resources a

[2017-06-13 13:25] hyi commented on #2115
@dtarb Having federated multiple zones is essential for extended and distributed storage and quota management. We are patching things up and making the system to work better as we work through the issues, but we are heading in the right direction to leverage iRODS federation for distributed data and storage management. After giving this a bit of more thought, I think I can add partial solution for

[2017-06-13 14:50] dtarb commented on #2115
I agree that the functionality is essential.  But half the functionality is not very helpful.  I think that if you can make a plan that states what the end functionality will be for both federated zones and for the interface that allows users to work with resources in them, and the sequence of steps for implementing the plan, then I will be more comfortable moving ahead.

[2017-06-13 15:08] hyi commented on #2115
@dtarb I can write a design doc for this, but I don't think I will have time to implement this plan even for the partial solution I suggested above given the time left, my vacation schedule, and items for other projects I have to address before I leave for vacation. I will keep this PR open for a week or two just for discussion purposes based on the design doc I will write, then I'll close this PR

[2017-06-13 17:42] pkdash opened #2162 "Management command to set default logical file for composite resource"
This management command should set generic logical file for any files in a composite resource that is not already part of a logical file.

[2017-06-14 14:19] hyi commented on #2160
@dtarb I remember you mentioned somewhere only owners should see who is the quota holder from the resource landing page. Can you confirm whether this is indeed what we need? Currently, anyone who can view a resource can see who is the quota holder of a resource from the resource landing page. If you want to make a change to make it only visible to the owners, I can get it done as part of this issu

[2017-06-14 15:50] dtarb commented on #2160
See #2115 where I made the suggestion about owners.  The motivation is that users do not need to and should not see information that they can not act on and is irrelevant to them.  It clutters the interface.  However at this point I would like to be (1) planned, (2) practical and (3) efficient.  If it is inefficient to not show this information for other users then it is OK.  With respect to plann

[2017-06-14 15:56] #372 closed

[2017-06-14 16:00] #487 closed

[2017-06-14 16:02] #690 closed

[2017-06-14 16:04] #600 closed

[2017-06-14 16:18] #760 closed

[2017-06-14 16:20] pkdash commented on #2029
@zhiyuli Can you check on beta if this issue has been resolved? Let me know if you want me check and close.

[2017-06-14 16:22] pkdash commented on #1949
This feature has been implemented. So closing.

[2017-06-14 16:22] #1949 closed

[2017-06-14 16:23] pkdash commented on #1876
@mjstealey Can we close this?

[2017-06-14 16:26] pkdash commented on #1944
This seems to have been fixed. Closing.

[2017-06-14 16:26] #1944 closed

[2017-06-14 16:28] alexlemann opened #2164 "/user throws an error"
Loading /user on beta and prod throws an error. It shows up as a ``MultiValueDictKeyError`` on my develop branch.

Can anyone else confirm this?

[2017-06-14 16:33] #1043 closed

[2017-06-14 16:39] alexlemann opened #2165 "Add selenium tests for user registration"
* Create new user
* Check email link to complete registration process
* Basic profile functionality
  * Edit profile fields
  * Upload a CV
  * HTML tags escaped in name field (fixed XSS issue #1805)

[2017-06-14 16:45] #1410 closed

[2017-06-14 16:55] #1523 closed

[2017-06-14 16:56] #1546 closed

[2017-06-14 16:59] #1574 closed

[2017-06-14 17:07] #1613 closed

[2017-06-14 17:08] #1622 closed

[2017-06-14 17:11] #1639 closed

[2017-06-14 17:13] #1644 closed

[2017-06-14 17:16] #1658 closed

[2017-06-14 17:19] #1671 closed

[2017-06-14 17:28] hyi commented on #2164
@alexlemann I can confirm this. I believe it has always been like this from the beginning of HydroShare, /user does not work, but /user/2, for example, works, and shows the profile page of that user. Agreed this error should be fixed, but in the meantime I am wondering what /user page should show.

[2017-06-14 17:29] #1726 closed

[2017-06-14 17:31] #1735 closed

[2017-06-14 17:36] alexlemann commented on #2164
I think a 404 would be fine. It would at least be a reasonable start.

[2017-06-14 17:37] #1869 closed

[2017-06-14 17:39] #1933 closed

[2017-06-14 17:39] #1950 closed

[2017-06-14 17:50] alexlemann commented on #2165
@dtarb Any additional items to add to the tests above?

It appears that first name and last name are not required fields to register. Is this intended?

There are no restrictions (length, type of characters) on passwords that I see immediately. I'm assuming that this is not intended and will create a bug for this unless I hear otherwise.

[2017-06-14 17:51] #2034 closed

[2017-06-14 18:10] dtarb commented on #2165
Firs tname and last name should be required fields to register.  For passwords, I think we should follow industry best practices, without being to onerous.  I hear conflicting information.  Some sites advocate pass phrases like "thecrazyfoxjumpedintothelake", while others require special characters and limit length.  What do you recommend?

[2017-06-14 18:14] aphelionz opened #2166 "Consolidated Issue List"
# E&O Priority List

**Bugs**
- [ ] Clarify the purpose of Discover search #2215 -- [**Release 1.11**](/hydroshare/hydroshare/milestone/46)
- [x] Case insensitive and partial word search function needed for all searches #2180 -- [**Release 1.11**](/hydroshare/hydroshare/milestone/46)
     _*Limits resource discovery*_
- [ ] Loading bug with HydroShare GIS #2144, #2185  -- [**Release 1.12**](/hydro

[2017-06-14 18:20] ChristinaB commented on #1716
[NWMForecastViewerDemo_CB.docx](https://github.com/hydroshare/hydroshare/files/1075526/NWMForecastViewerDemo_CB.docx)

Hi @danames and @zhiyuli
As you finalize the NWM App updates for the Summer Institute, I wanted to direct your attention to the latest printable demo for the App (attached).  We will also want to review the Help page for the App at https://pages.hydroshare.org/apps/nwm-forecast-vi

[2017-06-14 18:54] alexlemann commented on #2165
Django 1.9 introduced a new password validation system that would be great to include. This is the current best practices. It appears to be backported via this project:
https://github.com/orcasgit/django-password-validation

[2017-06-14 19:04] ChristinaB opened #2167 "SWATshare model update - pending Error 'Downloading and Extracting the resource failed'"
[SWATDemo1_3pg_v2.docx](https://github.com/hydroshare/hydroshare/files/1075619/SWATDemo1_3pg_v2.docx)

@yirugi @vmmerwade

I started in to try to update the latest printable demo above, and ran into this error when trying to open c65bce3e4459476f9950c6510728695e/

I got this error:

![image](https://user-images.githubusercontent.com/4108369/27149750-7add54e8-50f9-11e7-896e-33fef2ee44c2.png)

[2017-06-14 19:07] ChristinaB commented on #2167
To do to update App:

- [ ] Fix bug

- [ ] Update Printable demo  -
[SWATDemo1_3pg_v2.docx](https://github.com/hydroshare/hydroshare/files/1075637/SWATDemo1_3pg_v2.docx)

- [ ] Update Modeling Help pages at https://pages.hydroshare.org/modeling/swatshare/   here is a[ link to the Google doc that needs to be updated](https://drive.google.com/open?id=1AT2I20UQMW0IPXL6DwcsQKX5Xef3FOHm-Oh0T5TaxlE) (th

[2017-06-14 19:11] ChristinaB commented on #2166
Hi Mark, you can add https://github.com/hydroshare/hydroshare/issues/2167    You may want to move down your list of SWATshare into the Apps section.

Here is the  E&O priorities. Last week I went though and used the label 'user experience' for things that we have initiated or are tracking.

1.    Caps searching - Discover should interpret Postcard and postcard the same way. (Alva may have made thi

[2017-06-14 20:31] hyi commented on #2160
@dtarb I can easily add this additional check to only show this quota holder info to owners without issues. I'll do it as part of this issue rather than creating a separate issue since it just involves addition of a couple of lines in code.

[2017-06-14 20:37] dtarb commented on #2160
Thanks

[2017-06-14 22:32] alexlemann commented on #2165
Other items of note:
1) There are two styles of error messages for registration for errors. This is inconsistent and the UI is confusing as a user.
    * One is a javascript popup from presumably JS validation of the fields
    * The other is when the POST is incorrect and Django returns errors.
2) There can be three types of alerts active at one time on the home page: MOTD, You have successfully

[2017-06-15 14:53] aphelionz commented on #2166
Thanks @ChristinaB! I've updated the list and put these issues right at the top.

[2017-06-16 04:42] dtarb commented on #2139
Broken.  Again. 6/15/17.
![image](https://user-images.githubusercontent.com/3456833/27212255-eb8bde4e-521b-11e7-8362-934d052df432.png)

[2017-06-16 18:26] Castronova commented on #2139
I get the following.  6/16/17
![image](https://user-images.githubusercontent.com/4822372/27239625-b942c52c-529f-11e7-8c2d-0d9006bb8788.png)

[2017-06-16 18:29] Castronova commented on #2139
@dtarb Are you changing the date range?  This is not supported for the Users and Resources statistics due to the way the log records are stored in elastic search.  This is a limitation that I've mentioned to the team on the Wednesday calls and may be causing your error.

Changing the date range will be possible when my HydroShare PR gets deployed in the next HS release.

[2017-06-16 18:50] dtarb commented on #2139
I have not (knowingly) changed date range.  (I am not sure I would know how).  Here is a wild speculation.  Could it be time of day and time zone related.  Perhaps Ray and I tried at a time of day when HydroShare was advanced to the next day GMT but Kibana was the previous day EDT and that is causing problems.   Trying again later tonight could test this.

[2017-06-17 05:01] Castronova commented on #2139
@dtarb It certainly could be a time zone related issue.  The `user` and `resource` graphs are generated from a report date that's relative to the current datetime.  The latest HS PR will fix this, but in the meantime I'll see if there's something I can do to prevent this error from occurring.

[2017-06-17 11:13] dtarb commented on #2139
I checked late night (6/16) and early morning (6/17) and was unable to trigger error so speculation about time does not seem to be the case.

I did notice that if I click on timelion I get the following error
![image](https://user-images.githubusercontent.com/3456833/27252437-b1692c3e-531b-11e7-8a2c-0b6a1c690ecb.png)
I am not sure if this is new.

[2017-06-17 18:59] hyi commented on #2160
Merged into develop. Closing.

[2017-06-17 18:59] #2160 closed

[2017-06-17 18:59] hyi commented on #2153
Merged into develop. Closing.

[2017-06-17 18:59] #2153 closed

[2017-06-17 19:00] hyi commented on #2131
Merged into develop. Closing.

[2017-06-17 19:00] #2131 closed

[2017-06-17 19:03] hyi commented on #2045
@aphelionz This has been merged into develop, but has not been verified. @pkdash Can you verify and close this issue if it is indeed fixed?

[2017-06-17 19:06] hyi commented on #1918
@dtarb @alvacouch @rayi113 @mjstealey I believe this works as expected. See my comments above for details. I am closing this issue, but feel free to reopen it if you find any issues related to this.

[2017-06-17 19:06] #1918 closed

[2017-06-17 19:13] dtarb commented on #1918
Thanks.  Can you point me to the document that describes "this functionality so that third party institutions can easily follow along to add their own storage capacity as part of HydroShare resource storage." as indicated in the issue description.

[2017-06-19 16:42] zhiyuli opened #2170 "HydroShare banner covers resource title"
I am not sure this is a issue of my browser or not... the "HydroShare" banner is too big and covers res title on my end
![image](https://user-images.githubusercontent.com/10070599/27295918-ed70e70a-54db-11e7-8302-420e4a903dd6.png)

[2017-06-19 16:51] mjstealey commented on #2170
Should be resolved now.

[2017-06-19 16:53] zhiyuli commented on #2170
@mjstealey  Thanks!
Tested on www.
![image](https://user-images.githubusercontent.com/10070599/27296281-71e4681c-54dd-11e7-8451-79d687b2a83c.png)

Closing...

[2017-06-19 16:53] #2170 closed

[2017-06-19 17:18] aphelionz opened #2171 "Resource list needs metadata attribute null checks"
Ok, so this is likely what’s happening here:

1.	Admin users can “see” resources that other users can’t – likely resources that are invalid or incomplete
2.	One of such resources is missing required metadata somehow, in this case, the title.
3.	The code can’t catch that and errors out when trying to access that attriute without doing a null check first.

[2017-06-19 17:55] alvacouch commented on #2171
One can't normally create a resource without a title. This represents -- therefore -- some kind of crash while creating a resource.

[2017-06-19 17:58] alvacouch commented on #2171
It's quite likely that the way this happened is that someone was trying to create a resource with a file upload, and the file upload failed (probably due to file size). That's something we need to fix.

[2017-06-19 22:43] pkdash commented on #2068
@horsburgh Can you test and close this?

[2017-06-20 14:38] dtarb opened #2175 "Quota holder functionality has blocked the capability to change the owner of a resource"
Prior to deployment 1.10 the owner of a resource could be changed by adding a new user as the owner, then deleting the old owner.  However at 1.10 this is disabled as it appears not possible to change the quota holder.  This is a regression in functionality.

[2017-06-20 16:15] alvacouch opened #2177 "File upload and delete work differently in REST API and UI"
@dtarb @pkdash @hyi The functions for file upload send different signals depending upon whether one is using the REST API or UI. The procedures should be the same. Notably, an important post-upload signal is skipped when using the REST API, which causes default logical files to fail to be created for composite resources.

[2017-06-20 16:48] hyi commented on #2175
@dtarb Could you please provide a bit more specifics on this issue? The only extra constraints I put on changing owners related to quota holder is that the quota holder owners cannot be removed. If an owner is the quota holder, the quota holder has to be changed to another owner before this quota holder owner can be removed. I think that is reasonable assumption we should keep. Is there any other

[2017-06-20 17:10] pkdash commented on #2177
@alvacouch

Which specific REST endpoint is missing the post file upload signal? Both resource create and file add rest endpoints seem to have this signal.

[2017-06-21 00:05] dtarb commented on #2175
I was having trouble changing the quota holder.  Now I have found how to do it.  Sorry.

[2017-06-21 00:05] #2175 closed

[2017-06-21 04:58] pkdash commented on #1756
@dtarb I have made only the owner of the resource to set the optional license agreement requirement for file download. I am wondering which user should be prompted to agree to this agreement before file download. I am assuming resource owners should not be asked to agree to the resource license. What about users who have edit access? Should they be prompted to agree to the license?

[2017-06-21 08:14] dtarb commented on #1756
Please ask @horsburgh while I am away.  I think all users including the owner should be prompted so that the owner can check that the behavior is what they want.

[2017-06-21 14:05] yirugi commented on #2167
Hi Christina, we were aware of the error. We fixed the problem, and now, we are testing it on our dev site.

[2017-06-21 14:52] pkdash commented on #1756
@horsburgh Can you comment on my question above as it relates to which user should prompted to agree to license agreement for downloading files/bag?

[2017-06-21 15:00] horsburgh commented on #1756
@pkdash - I agree with @dtarb that all users should see it. The only way an owner will know that it is functioning correctly is to see it. And, that will likely make implementation easier.

[2017-06-21 15:04] pkdash commented on #1756
@horsburgh Sounds good. That's how I have already implemented.

[2017-06-21 15:21] horsburgh commented on #2068
This is still not working on www.hydroshare.org. Should I be testing somewhere else?

[2017-06-21 18:13] ChristinaB opened #2180 "Case insensitive and partial word search function needed for all searches"
Case insensitive search example:  I want to find Jeff's HydroShare postcard.  I got to DIscover, input 'postcard'.  Jeff has used the keyword 'Postcard' in caps, and Discover does not retrieve the resource.

Partial work search example:  David is looking for his UCGIS2017 keyworded demo tutorial, and inputs 'UGGIS' into Discover, no resources are discovered.

Thanks!

[2017-06-21 18:40] rayi113 commented on #2155
1.10 released.

[2017-06-21 18:40] #2155 closed

[2017-06-21 18:41] #2140 closed

[2017-06-21 18:43] #2056 closed

[2017-06-21 18:43] #2037 closed

[2017-06-21 18:43] #1973 closed

[2017-06-21 18:43] #1727 closed

[2017-06-21 21:53] dtarb commented on #1973
@rayi113 is there a separate issue to fix pages
![image](https://user-images.githubusercontent.com/3456833/27408420-bbd3d904-5699-11e7-890e-3bf553e63b44.png)

[2017-06-22 00:55] mjstealey commented on #1973
@dtarb - Yep #2093

[2017-06-22 21:48] pkdash commented on #1756
@dtarb and @horsburgh I have implemented this feature and have deployed on riverdev for testing.

[2017-06-23 19:38] pkdash commented on #2112
@alvacouch How should we address this issue? Are you planning to create a new REST endpoint for the discovery api/interface to address this issue? If not then I can modify what is returned for a GET request for endpoint ```hsapi/resource```.

[2017-06-23 21:15] horsburgh commented on #1756
@pkdash - I just tested on riverdev. I think this is mostly working, but there are some formatting issues on the form that pops up. When I used a custom Rights statement, here's what I get:

![image](https://user-images.githubusercontent.com/3485902/27500079-07103486-5824-11e7-9d80-f8dcf0ee54c5.png)

I entered the text "Please give me credit when you use my data." into the "Statement" text box on

[2017-06-24 04:09] pkdash commented on #1756
@horsburgh I will look into the above issues. Thanks for testing.

[2017-06-26 14:00] Lizabrazil opened #2185 "HydroShareGIS cannot open composite resources"
GIS app should be able to handle composite resources that have shapefiles.

[2017-06-26 15:34] aphelionz opened #2187 "Public endpoint for copying from iRODS user zone needed"

[2017-06-26 18:18] Castronova opened #2189 "Add error checking to the resource stats command"
Add error checking to the resources-details command to prevent "file not found" irods errors from breaking the usagemetrics dump.  All errors that are encountered should be recorded in a log file that we can use later.

[2017-06-26 18:19] Castronova commented on #2139
@dtarb It turns out that this error was caused by a failure in the Jenkins job that assembles the user and resource csv documents, which are then sent to the usagemetrics server and stuffed into elasticsearch.  The error was the result of an irods file not existing and was resolved by deleting the "broken" resource (happened to be a test resource owned by me).

To prevent django->irods inconsisten

[2017-06-26 18:19] #2139 closed

[2017-06-26 18:22] Castronova opened #2190 "Add education field to user profile"
Add a "highest level of education" field as a required parameter of the profile page.  This will enable us to report the type of user by education level to NSF.

[2017-06-26 18:43] mjstealey opened #2191 "resource.py fix on master"
Ref in #2182

[2017-06-26 20:03] aphelionz opened #2193 "Flag syntax 't' parameter is confusing"

[2017-06-26 21:36] Maurier commented on #2106
@pkdash, it is not clear from the UI which ones are the required files. I think this specification should appear as a hint below the file browser. Also, the solution you propose is very specific for this resource type. Should we implement business logic for handling required files before a resource can be created?

[2017-06-26 22:54] pkdash commented on #2106
@Maurier I think this problem of spinning wheel we experienced in many different scenarios. @hyi recently noticed the same issue when testing quota. I think she tried to fix that in the PR (https://github.com/hydroshare/hydroshare/pull/2184) that she currently has for quota feature.

[2017-06-26 23:23] mjstealey commented on #2191
merged

[2017-06-26 23:23] #2191 closed

[2017-06-27 19:31] pkdash commented on #1756
@horsburgh I have tried to address the issues you described above. The updated code has been deployed on riverdev.hydroshare.org

[2017-06-28 06:15] horsburgh commented on #1756
@pkdash - these issues appear to be fixed. One last thing that I think would help - right now the custom license text shows up in a scrollable text box. This is fine that it is scrolling, but there is no indication that the box is scrollable.

![image](https://user-images.githubusercontent.com/3485902/27622818-b0deecc6-5b96-11e7-95be-93c5866cd61e.png)

Can you put a border around the text box to i

[2017-06-28 17:08] ChristinaB commented on #2166
Hi Mark  - What process do you want to keep this updated and tracking priorities?  Here is the first update on the Caps searching for Discovery -- now has an issue assigned to Alva.
https://github.com/hydroshare/hydroshare/issues/2180

[2017-06-28 17:32] ChristinaB commented on #1607
@hyi -- do you think this issue is ready to close?   We would like to still address the 5-10% accidental DOI problem, but we could start a new issue to do that.

[2017-06-28 17:36] hyi commented on #1607
@ChristinaB For now, wrongly published resources can be retracted/deleted by manual process, so I'd suggest to close this issue and start a new issue if we want to address accidental DOI publishing problem systematically.

[2017-06-28 17:40] pkdash commented on #1756
@horsburgh It seems like a browser issue. Firefox and Edge show the vertical scrollbar:

![image](https://user-images.githubusercontent.com/2523434/27651731-8a17f62c-5bf6-11e7-9326-4b14ed6741e5.png)

[2017-06-28 17:45] ChristinaB commented on #1503
For example, https://www.hydroshare.org/resource/a5b52c0e1493401a815f4e77b09d352b/
has .p and .ipynb files, so let's add a Jupyter icon or  python icon to a limited list of extensions.

[2017-06-28 17:47] ChristinaB commented on #1716
HI @zhiyuli  -- let's see if your latest updates fix this issue, and then we can close it, or break into smaller issues and then we can continue the updating from there.

[2017-06-28 19:11] mjstealey opened #2196 "Update Quota message text to be more understandable"
Update the text that will appear in the quota message emails.
@dtarb, @horsburgh, @alvacouch, @rayi113 for content

1. Warning content prepend:

[code]

2.  Grace period content prepend

[code]

3. Enforce content prepend

[code]

4. Content

[code]

![screen shot 2017-06-28 at 3 05 09 pm](https://user-images.githubusercontent.com/5332509/27655443-68172418-5c13-11e7-921f-e96bfb6cd96f.png)

**TODO*

[2017-06-28 20:10] hyi commented on #2196
@horsburgh @dtarb @mjstealey @rayi113 @alvacouch If you think we should change the name for the default zone from ```hydroshare_internal``` to just ```hydroshare``` or ```hydroshare storage``` or anything else you can suggest, I can make the change quickly this week for release 1.11 before I take the next two weeks off assuming we want to slate quota implementation for release 1.11.

[2017-06-28 20:37] hyi commented on #2196
@horsburgh I checked the send email code, and do see "html" is added as a content type as ```msg.attach_alternative(render("html"), "text/html")```. And I checked the signup activation email which does show the verification URL link as html clickable link. So I think what we saw during the demo was an artifact of directing email content to a file which does not support html. If the email goes to a

[2017-06-28 21:30] rajadain commented on #2112
Hi folks, I'm taking over from Kevin at Azavea for BiG-CZ development. The two things we're looking for in the `hsapi/resource` endpoint are:

 1. Filtering by bounding box. While the old search API seems to have support for that somewhat (evident in the `NElat`, `NElng` etc params in the sample query above), the REST API does not support these. It would be really great if we could give a bounding

[2017-06-29 18:32] aphelionz commented on #2180
@ChristinaB Just pushed this to a PR. In an hour or so you should be able to test it on playground.

i was able to tackled case insensitivity in the UI and REST API, however partial search is elusive...

[2017-06-29 19:01] Castronova opened #2201 "NWM Viewer - Missing help for subsetting"
The help dialog that appears when the app is first opened does not mention anything about the new subsetting functionality.  This may lead to confusion since the first thing the user see's are the `add watershed` and `subset watershed` buttons.

![image](https://user-images.githubusercontent.com/4822372/27705405-bd1a8f36-5cdb-11e7-8afe-48e8fcd9ff21.png)

![image](https://user-images.githubusercont

[2017-06-29 19:03] Castronova opened #2202 "NWM Viewer - Missing help button"
When the app is initially launched a help dialog is shown.  Once this is closed, there is no way to open it again.  Consider adding a button to the top of the page (`Help`) that can be used to reopen this dialog.

[2017-06-29 19:08] Castronova opened #2203 "NWM Viewer - Toolbar button positions change when screen is maximized"
When I maximize the my web browser, the `api` and `exit` buttons are positioned over the map instead of their original position above the map.

![image](https://user-images.githubusercontent.com/4822372/27705711-c111f196-5cdc-11e7-8612-9a6eb6bc98f5.png)

![image](https://user-images.githubusercontent.com/4822372/27705718-c7226b6a-5cdc-11e7-9cc7-3abf812eeeab.png)

[2017-06-29 19:11] Castronova opened #2204 "NWM Viewer - Subset Watershed button activated when no watershed has been loaded"
After launching the app, I can click the `Subset Watershed` button even though no watershed has been specified.  This gives an error:

![image](https://user-images.githubusercontent.com/4822372/27705856-521e4662-5cdd-11e7-809e-f8f1409825b3.png)

Instead, this button should not be activated until the first step has been completed, `Add Watershed`

[2017-06-29 19:15] Castronova opened #2205 "NWM Viewer - Begin time should be constrained"
I am able to select a `Beginning Date` earlier then the available NWM data.  The input date should be constrained to the available data, otherwise users will be confused about why data from last year can't be accessed.

![image](https://user-images.githubusercontent.com/4822372/27705983-d05acdca-5cdd-11e7-8354-479beb89bb5f.png)

[2017-06-29 19:19] Castronova opened #2206 "NWM Viewer - Form titles revision"
The form titles all begin with **Enter**, however many of the controls are select boxes.  I suggest changing them to the following:

Enter Configuration -> Model Configuration
Enter Geometry -> Geometry
Enter Variable -> Variable
Enter COMID -> NHD COMID
Enter Beginning Date -> Begin Date
Enter Initialization Time (UTC) -> Initialization Time (UTC)

![image](https://user-images.githubusercontent.c

[2017-06-29 21:09] aphelionz commented on #2180
@ChristinaB  Actually! I fixed that too. It's up on playground. Have a look.

[2017-06-30 14:09] Castronova opened #2207 "NWM Viewer - Documentation for Configuration"
The configuration, geometry, and variable fields should have documentation that the user can read.  For example, explaining the difference between short, medium, long, and assimilated configurations.  This could take the form of a simple `help` button that opens a modal window.
Help Pages have this documentation already- add help button with link to direct users to Help Page.
Liza will add the doc

[2017-06-30 14:20] Castronova opened #2208 "NWM Viewer - Improve Workflow"
The layout of the controls on the page needs to reflect the intended user workflow.  The additions of the `Add Watershed` and `Subset Watershed` functionality is a bit confusing because it is largely independent from the other search/visualization functionality.   This may be improved by adding a radio button select "search be comid" or "search by area" which controls the search options below.  Mo

[2017-06-30 14:34] Castronova opened #2209 "NWM Viewer - Zooms to Kansas Randomly"
When an invalid COMID is entered, the app zooms into some location in Kansas.  This is very strange and doesn't make much sense.  I would expect the map to not change and see an error message along the lines of "Could not find an NHD reach that matches to provided COMID"

[2017-06-30 14:36] Castronova opened #2210 "NWM Viewer - Remove Lat Lon coordinates"
Lat/lon coordinates are displayed below the map.  These are unnecessary and do not improve the user experience.

[2017-06-30 17:38] hyi opened #2211 "Write management command that allows to change resource GUID"
This is needed to address the issue that a HydroShare resource is cited in a literature or published, so the original resource GUID needs to be preserved, but due to various reasons, e.g., the resource was deleted inadvertently, that resource has to be recreated which results in a new GUID, and hence the new GUID needs to be changed to the original GUID to keep the citation in literature valid. Th

[2017-06-30 19:41] horsburgh commented on #1756
@pkdash - I tested in both Chrome and Firefox on my Mac and the result is the same. I can scroll the whole page and even hover over the text - the scroll bar doesn't pop up or become visible until I both hover over the text AND start scrolling. Since there are no boundaries around the text, I may never know that it is constrained to a set area, I might never hover over the text, and I might not kn

[2017-06-30 20:46] pkdash commented on #1756
@horsburgh Not sure why I don't see the same behavior when I use FireFox and Chrome.

[2017-07-05 16:22] Lizabrazil commented on #2207
http://water.noaa.gov/about/nwm

[2017-07-05 17:31] Castronova opened #2214 "Request that Discover be enhanced to search private resources"
When I search for a resource that's private, it does not appear in the results.  To reproduce this issue:

1. create a new private issue
2. go to the discover page and search the exact title of the resource
3. the resource is not shown in the search results.

[2017-07-05 17:32] ChristinaB commented on #2180
It works! My little test is to search for 'postcard' and find @horsburgh 'Postcard' key work with 'Postcard' in the title.   This only works from My Resources because it was private.

Are there more tests that need to be done?  Other examples?

Glitch - I started trying to do this in Discover, I had forgotten that  it was private and I didn't realized the search in My Resources and Discover worked

[2017-07-05 17:37] Castronova commented on #2214
@horsburgh Even my own resources?

[2017-07-05 17:39] horsburgh commented on #2214
Yes. I'm pretty sure that the design decision was that private resources aren't even in the search index. @alvacouch can set us straight if that is not the case.  If you need to "find" a private resource in your list, you should do a search from your My Resources page. The purpose of the "Discover" page is for other people to find your resources - which they shouldn't be able to do if they are pri

[2017-07-05 18:01] ChristinaB commented on #2214
If I want to find your resource, ( I don't remember if it's private or not), I automatically go to Discover to find it.   When I don't find it, I assume hydroshare is broken.  I don't assume that I should search for your resource under My Resources.

[2017-07-05 18:01] Castronova commented on #2214
Ok, I understand.  However, this doesn't seem intuitive to me.  If I want to find a resource that was shared with me, I would probably go to the Discover page first.  If this resource is private, it will not be listed.  At this point, is a user really going to look at the "my resources" page to find a private resource that was shared with them?  Maybe we should reconsider this design consideration

[2017-07-05 18:06] ChristinaB commented on #2180
It looks like this is working from my short test.  I'll let you close, merge, and check the box on https://github.com/hydroshare/hydroshare/issues/2166

[2017-07-05 18:26] horsburgh commented on #2214
@ChristinaB - I'm not sure how you would know about the existence of my resource or why you would try to find it via the Discover page if it is private. Such a resource should only show up on your My Resources page (and you would only know about it) if I have specifically shared it with you.

@Castronova - OK, sure. @alvacouch will have to tell us how feasible it is to customize discovery results

[2017-07-05 19:37] Castronova opened #2215 "Clarify the purpose of Discover search"
The discover search bar is used to find public resources that are owned by others, whereas the My Resources search bar is used to find all private and public resources that you have access to.

1. The text on the Discover page needs to better reflect this:

![image](https://user-images.githubusercontent.com/4822372/27881709-bbe2c456-6197-11e7-9906-35e8f01087d3.png)

2. Similar text should be added

[2017-07-05 19:38] Castronova commented on #2214
After a discussion on the HydroShare call, we've decided to make this a longer term goal since it requires non-trivial modification to the Solr search algorithm and indexing.  In the meantime, I created issue #2215 to clarify the purpose of Discover and My Resources searches.

[2017-07-06 02:54] ChristinaB commented on #2214
Thanks for the stimulating discovery conversation! See you on #2215

[2017-07-06 02:56] ChristinaB commented on #2215
The main point to clarify is that searching on HydroShare is more nuanced than searching using Google.  We really need to communicate to users when to use Discover, and when to use My Resources and how this is value-added for research collaboration compared to Google (one search box to rule them all).

[2017-07-06 03:05] ChristinaB commented on #2215
- [ ] Change title tagline from "DISCOVER find content shared by your colleagues and other users"  to "DISCOVER public resources shared with the community"

- [ ] Change 'Show All' button to 'Show All Public and Discoverable Resources'

- [ ] Change search bar default text from 'Search...' to 'Search All Public and Discoverable Resources'

- [ ] Change i information box to 'Search here to find all

[2017-07-06 14:21] Castronova commented on #2214
Reopening the issue since it hasn't been resolved.  Issue #2215 was created to clarify the functionality of the `My Resources` and `Discover` searches.   Below is a summary of what remains to resolve the current issue:

**Current Functionality**
1. Discover searches all public resources

**Desired Functionality**
1. Discover searches all public resources
2. Discover searches all public and private

[2017-07-07 17:56] scleveland opened #2216 "Uploading a file into a resource is not working - files disappear"
I have attempted to upload a file into a resource (.csv file) it shows the file uploading and progress but when the upload is complete the file does not show up in the directory.  Uploading another file results in the same result.  Thus no files appear in the resource - downloading the bagit has no data other than the metadata.

[2017-07-07 18:22] horsburgh commented on #2216
@scleveland - I just tried this and everything looked OK for me. Can you provide a little more information?

* Are you in edit mode on an existing resource or creating a new resource from the create resource page?
* Do you have any spaces, special characters, or periods in your file name?
* Are you uploading to the main content folder of the resource or have you created a folder within the resourc

[2017-07-10 15:38] scleveland commented on #2216
@horsburgh  - I'm in edit mode. No space or special character.  Just uploading to the main folder (no even sure how to create another folder in there).  Here is a link to a screen video capture of me trying to upload into my "test" resource using the select file dialog and also doing a drag.  As you will note the system indicates the file uploaded, it refreshes and then there is nothing in there.

[2017-07-10 19:02] #2180 closed

[2017-07-10 19:35] Maurier commented on #2215
Here is how the above looks like after implementation

Show All button:
note: this text was added as tooltip because otherwise it would occupy too much space.
![ss](https://user-images.githubusercontent.com/2448568/28036090-33e0bc58-6574-11e7-94e2-62881392c55a.png)

Title tagline and information box:
![image](https://user-images.githubusercontent.com/2448568/28035910-8695e528-6573-11e7-91f1-30ff8a

[2017-07-10 19:38] pkdash opened #2217 "REST API for resource specific metadata update"
The existing endpoint supports only core metadata update. This needs to be extended to support each resource type specific metadata update.

[2017-07-10 19:54] scleveland commented on #2216
Ok - so if I scroll down below the yellow info box below the upload area I get a quick 1 or 2 second view of an error before the page refreshes (I would recommend putting the error message not that far below the upload area and also keeping it visible until the user closes it).  The error is -

File Upload Failed
validation_error: Uploaded file is not a valid timeseries csv file. There needs to be

[2017-07-10 19:58] scleveland commented on #2216
So creating a new timeseries resource with the file returns a more meaningful error message:

Validation Error: Uploaded file is not a valid timeseries csv file. Data for the first column must be a date value.(Uploaded file was not added to the resource)

This message displays at the top of the new resource and remains until I close it.  Moving the datetime column to be the first allows my file to

[2017-07-10 20:00] Maurier commented on #2107
Let me know if this would work as the icon for .shp files:
![image](https://user-images.githubusercontent.com/2448568/28037300-1da8b4f0-6578-11e7-8200-a4bb271ff62b.png)
![image](https://user-images.githubusercontent.com/2448568/28037313-265da2b8-6578-11e7-88dc-cf1bbc1784e3.png)

[2017-07-10 23:31] horsburgh commented on #2215
@Maurier - these look good to me.  Do we need tagline text for the pages in your TODO?

[2017-07-10 23:37] horsburgh commented on #2216
@scleveland - thanks a lot for sticking with it and for reporting your continued experiences. It helps a lot to know that you were uploading to a time series resource, and yes, HydroShare is looking for a particular format for the CSV file.

We can work on the messaging - both where the errors show up, and potentially some information indicating what the CSV should look like for upload to a Time S

[2017-07-10 23:38] horsburgh commented on #2107
Seems reasonable to me.

[2017-07-10 23:38] Maurier commented on #2215
@horsburgh, it was suggested by @Castronova in the issue description above. Based on the discussion I'd say we need a tagline text for My Resources, but not necessarily for the other pages.

[2017-07-10 23:44] horsburgh commented on #2215
@Maurier - How about "Interact with your HydroShare Content"

[2017-07-10 23:59] Maurier commented on #2215
@horsburgh, I like that one. I'll add it. We can update it later if we decide so.

[2017-07-11 13:43] Castronova commented on #2215
@Maurier This looks good.  Have you deployed it onto one of the development servers for testing yet?

[2017-07-11 21:37] pkdash commented on #2109
This has been addressed. So closing.

[2017-07-11 21:37] #2109 closed

[2017-07-11 21:46] pkdash commented on #2068
@horsburgh This should be fixed in next release (1.11) which can be tested now on beta.hydroshare.org

[2017-07-11 22:12] pkdash commented on #2045
@hyi it seems to work on beta (release 1.11). So closing.

[2017-07-11 22:12] #2045 closed

[2017-07-11 22:13] pkdash commented on #1876
@mjstealey I think this can be closed.

[2017-07-11 23:37] pkdash commented on #2021
This has been fixed in release 1.11. So closing.

[2017-07-11 23:37] #2021 closed

[2017-07-12 02:49] gantian127 opened #2221 "Manual pre-deploy checklist for release 1.11.0"
This is the manual pre-deploy checklist for release 1.11.0.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.

**Please finish checking by the end o

[2017-07-12 15:08] dtarb commented on #2196
Please refer to #1566 where I drafted text for the messages previously.  It adds information on how users can request additional quota that the above messages do not.  The exact wording is not too critical as it looks like there is a control page to control it.  Quotas and quota policy need to be a CUAHSI issue as we move forward into the operational phase so @martinseul and @Castronova need to re

[2017-07-12 18:21] ChristinaB commented on #2056
I have a new broken resource that had all the files deletes from it when I tried to upload a new version of a file, but a file with the same name already existed.   https://www.hydroshare.org/resource/7a77f525667b42f69cdc3f8db18e1280/
The data has disappeared and even in edit mode, there is no way to attempt to add in new files except to drag and drop.

I tried to recreate this issue with a new co

[2017-07-12 18:45] ChristinaB opened #2222 "Data Rods Explorer App: Data retrieval is incurring errors from NASA web-services"
Data retrieval is incurring errors from NASA web-services for the PlotOneVariable and CompareTwoVariables demos, though the YearOnYear plotting demo seems to work fine. These are new developments and have not been updated onto the report yet.

 [Link to the pdf file download to test the broken](https://www.hydroshare.org/django_irods/download/3b65a4ae9d404bbe9b5f232fb0b73d9b/data/contents/DRE_Demo

[2017-07-12 18:50] mjstealey commented on #1876
closing

[2017-07-12 18:50] #1876 closed

[2017-07-12 18:51] ChristinaB commented on #2222
Here is the latest version on the State of the App so that it can be updated as the App is updated:
[DRE_assessment_report_jp.docx](https://github.com/hydroshare/hydroshare/files/1142995/DRE_assessment_report_jp.docx)

[2017-07-12 19:29] ChristinaB opened #2224 "Broken resource - exploded when a new file with existing name was added"
Thanks @alvacouch
I have a new broken resource that had all the files deletes from it when I tried to upload a new version of a file, but a file with the same name already existed.   https://www.hydroshare.org/resource/7a77f525667b42f69cdc3f8db18e1280/
The data has disappeared and even in edit mode, there is no way to attempt to add in new files except to drag and drop.

I tried to recreate this i

[2017-07-12 19:33] ChristinaB commented on #2222
@dtarb  -- if you want to add details about the NASA changes and necessary App changes, here may be be a good place to have that conversation with @aphelionz who can track the App policy white paper and CUAHSI Board suggestions (forthcoming).

[2017-07-12 20:25] #2193 closed

[2017-07-13 15:16] aphelionz commented on #1915
@rayi113 @ChristinaB @dtarb

Do we want highest level of education as a required field here or will we nag them about it with the notification... or will we do nothing? let me know.

[2017-07-13 15:38] rayi113 commented on #1915
Required would be great as this information is used for reporting purposes, however if we do require this we may additionally need an option like "Prefer not to disclose" in addition to how these options are usually stated.  Defer to @dtarb  for ultimate decision on this.

[2017-07-13 15:43] horsburgh commented on #1915
@aphelionz - can you check in with @Maurier ? He can work on the front end changes needed for adding education level to the profile, but he wanted to know who could help him out with the back end stuff.

[2017-07-13 15:48] aphelionz commented on #1915
@horsburgh @Maurier

I was able to cherry pick the commit you mentioned to get the organizations field. I'm planning on doing the rest, is that ok?

[2017-07-13 16:23] horsburgh commented on #1915
Fine with me. @Maurier ?

[2017-07-13 16:35] Maurier commented on #1915
Yes, sounds good.

[2017-07-13 19:26] Maurier commented on #2215
@Castronova, No. But this can be tested directly from the branch in your local environment.

[2017-07-13 19:54] #2107 closed

[2017-07-13 22:06] #2087 closed

[2017-07-13 22:07] #2086 closed

[2017-07-13 23:25] horsburgh opened #2226 "Broken Resource: Can't download any files or the bag"
My student Bryce created this resource:

https://www.hydroshare.org/resource/7fa46071875d46779cdf0163082bdab6/

I just tried to download the bag and at first I got a message saying that it was creating the bag. After a little while it just displayed this message:

![image](https://user-images.githubusercontent.com/3485902/28191719-4889253c-67ef-11e7-9ea5-9c68bf0fc204.png)

Now, if I try to downloa

[2017-07-14 00:56] mjstealey commented on #2226
@horsburgh - Errors that were logged related to that resource are [here](http://distribution.hydroshare.org/public_html/7fa46071875d46779cdf0163082bdab6.log)

The slowness is due to a large number of expected csv files that are supposed to be in the "Sample Data" directory that do not exist. Running the `check_irods_files` from the manage.py reveals hundreds of missing files of the format shown be

[2017-07-14 03:29] horsburgh commented on #2226
@mjstealey - this makes sense. Bryce tried to upload a whole bunch of CSV sample files. His data is stored such that there is a single CSV file per sample that he collected. This may have even happened multiple times. He first tried to upload a zip file of those files and then unzip and that didn't work correctly. Then, I think he may have tried to upload the individual files and didn't get that t

[2017-07-14 03:59] horsburgh commented on #2226
@mjstealey and @alvacouch - I'm going to get the original files from Bryce and see if I can reproduce this to better constrain the error.

[2017-07-16 22:01] hyi commented on #2196
@dtarb I did create the default quota messages according to your draft #1566, and these messages can indeed by customized/modified from Django admin panel. ```hydroshare_internal``` is the default zone name I made up that refers to both hydroshare data zone and hydroshare user zone. I can easily change the default zone name to something like "HydroShare store" if that is the name we decide to use.

[2017-07-17 18:52] horsburgh commented on #2196
@dtarb and @hyi - I think I may have sparked some of this with my questions on the HydroShare call. My point about the name of the iRODS zone in this messaging is that 99% of HydroShare users do not know what a HydroShare iRODS zone is. Nor do they want/need to know - especially since there is really only one zone right now, right?  My suggestion was simply:

Unless, and until we have multiple zon

[2017-07-17 19:23] hyi commented on #2196
@horsburgh @dtarb Agreed. This can be accomplished easily by removing ```in {zone} zone``` from all quota messages from admin panel, and can be added back in as needed when we have multiple zones and after we keep users better informed with zone concept. I have tested it out and it works, although I did find an oversight which has been created by a newly created PR https://github.com/hydroshare/hy

[2017-07-18 05:34] dtarb opened #2229 "Human in the loop for formal publication"
I do not think we should be formally publishing resources like this
https://www.hydroshare.org/resource/8bfac173675a4fc9a0a57530d82df70b/
https://www.hydroshare.org/resource/f86234ac40324af291f10aec35c56535/

The abstracts are insufficient and one appears a test resource.  We avoided manual review for requesting DOI's due to the human in the loop scalability burden, but I think we need to revisit

[2017-07-18 15:07] Lizabrazil commented on #2229
I agree that we need to vet the DOI requests. If we can set up an automatic email with DOI requests, I can take on the responsibility of vetting.

Liza

From: David Tarboton [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 1:35 AM
To: hydroshare/hydroshare <hydroshare@noreply.github.com>
Cc: Liza Brazil <LBrazil@cuahsi.org>; Mention <mention@noreply.github.com>
Subject: [hydroshare/h

[2017-07-18 15:19] hyi commented on #2229
@dtarb @Lizabrazil The main issue with vetting is that we cannot send DOI request to crossref when user clicks publish button to publish a resource, as we do now, but instead, we should email admin like @Lizabrazil to vet the publish request for a resource, and allow admin to trigger the rest of publish action, mainly to send DOI request to crossref for DOI approval and assignment, when vetted, an

[2017-07-18 17:12] ChristinaB commented on #2229
Both of these examples look to me like the DOI was made by mistake.

Perhaps we add an automatic email into the process where we send them a message like (forgive the shortcuts in language) --
"You have requested a DOI.
A DOI is forever.
Is this resource sufficiently reviewed and developed to live forever in the Library of Congress?
If so, click here and we will send the resource to our review tea

[2017-07-19 17:50] zhiyuli commented on #2210
fixed on apps server

[2017-07-19 17:50] zhiyuli commented on #2208
fixed on apps server

[2017-07-19 17:51] zhiyuli commented on #2207
A link to NWM introduction is added to Help page
![image](https://user-images.githubusercontent.com/10070599/28381551-864d5400-6c78-11e7-89a9-d631d36dfb21.png)

[2017-07-19 17:52] zhiyuli commented on #2206
Fixed on apps server

[2017-07-19 17:52] zhiyuli commented on #2202
Fixed on apps server.
![image](https://user-images.githubusercontent.com/10070599/28381624-c4afa8e2-6c78-11e7-8ddf-d67c5b985fa5.png)

[2017-07-19 17:52] zhiyuli commented on #2204
fixed on apps server

[2017-07-19 17:53] zhiyuli commented on #2201
fixed on apps server
![image](https://user-images.githubusercontent.com/10070599/28381658-e31939b0-6c78-11e7-8ead-4c26dd8efcb4.png)

[2017-07-19 18:15] ChristinaB opened #2234 "Suggested Improvements for EPA Waters App"
•	Weaknesses of the App
The location search can return feature names that do not match the search term. This may be confusing to the user as it seemingly selects a different location.
There are navigation problems associated with the different views on the app interface. There is only one vertical scroll bar for the whole interface, but it mainly controls the map. This may hide functions and featu

[2017-07-19 18:34] ChristinaB commented on #2166
Hi @aphelionz
There are two new App bugs which are intended to pass along App assessment to CUAHSI and developers.  They each contain links to the State of the App (SOTA) Report, link to help pages, link to demos/flyers on HydroShare, and link to documents on Google Drive.

List of App related Github Issues WITH  SOTA report:
[Suggested Improvements for EPA Waters App #2234](https://github.com/hyd

[2017-07-19 18:35] ChristinaB commented on #2166
A full table of links for each App are currently on [Page 2 of the E&Outreach meeting notes. ](https://docs.google.com/document/d/14rPVmHvrRXeT5YVthK_ffoFUZ5zGxsP492k7h5AlZL8/edit)

[2017-07-19 18:36] ChristinaB commented on #2166
@aphelionz  - I was going to send this by Jon Pollack, but he does not drop down as a link on this repository.

[2017-07-19 19:21] jsadler2 commented on #2092
This was addressed and merged.

[2017-07-19 19:21] #2092 closed

[2017-07-19 19:36] jsadler2 opened #2235 "Have "Create your iRODS user account" on main profile page"
I found it unclear that I needed to "edit" my profile to create my iRODS user account. In my opinion, it would be better to have it in the "view" mode of the profile page (indicated below)
![image](https://user-images.githubusercontent.com/6943441/28385527-67fdbb8e-6c96-11e7-8986-a6bcd5bc6aec.png)

[2017-07-19 19:48] hyi commented on #2235
@jsadler2 Since any action is done in edit mode, to be consistent, I'd argue that creating an irods account should be done in edit mode. I do agree users need to be better informed of this, though. I'd propose to add something along the line of ```Go to edit mode to create an associated iRODS account in HydroShare user zone``` after ```You have not created an associated ...``` in view mode. What d

[2017-07-19 19:58] jsadler2 commented on #2235
@hyi I think that would work, though technically they are creating an iRODS user account not editing their profile which may be confusing.

[2017-07-19 20:04] hyi commented on #2235
@jsadler2 I guess it depends on how you view the relationship between an associated iRODS user account and user profile. I can see argument for both ways. I am bringing in @horsburgh @dtarb @mjstealey and @rayi113 for their input as well. The implementation is easy, but we have to get a team consensus on what makes the best sense from users perspective.

[2017-07-19 20:23] zhiyuli commented on #2205
Fixed on apps server.
We only keep NWM data for 30 days (swap out old data each day), so the date range for which data is available for view or download is dynamic:
1) Begin date is constrained on app UI
2) List current date range on Help page
![image](https://user-images.githubusercontent.com/10070599/28387783-9eb2dcd0-6c8d-11e7-882e-e2c9960b790f.png)

[2017-07-19 20:26] zhiyuli commented on #2203
This is strange.  I can duplicate this issue on apps server, but it works find on appsdev and my local vm.
All of them have the same version of code.
![image](https://user-images.githubusercontent.com/10070599/28387862-f4b9dea8-6c8d-11e7-904f-8eaaa230fdff.png)

[2017-07-19 20:27] zhiyuli commented on #2203
![image](https://user-images.githubusercontent.com/10070599/28387978-5979ba02-6c8e-11e7-9bcf-f6be1fec16ca.png)

[2017-07-19 20:28] jsadler2 opened #2236 "Give HydroShare iRODS Host and User Zone in iRODS sign-in dialogue box"
I'm thinking it would be good to give users the HydroShare iRODS Host and User Zone in the iRODS sign-in dialogue box so it's clearer how to access that and what to put into those fields.
So maybe instead of this:
![image](https://user-images.githubusercontent.com/6943441/28387689-135c8f3a-6c9e-11e7-953c-2830208e0f06.png)
This (except the examples will be on the same line (not sure how to do that)

[2017-07-19 20:29] jsadler2 commented on #2236
@hyi here is another iRODS usability improvement that I thought would be good.

[2017-07-19 20:29] zhiyuli commented on #2209
We refactored workflow of this app. This issue should be gone on apps server.

[2017-07-19 20:37] hyi commented on #2236
@jsadler2 I think this is a good idea. I am thinking to put these user zone host and zone name as the default values for the fields, e.g., ```e.g., hydroshareuserZone``` to replace ```Zone``` in the input box rather than putting it as part of the label. This can be easily done, but I'll wait a bit for others to chime in before working on this.

[2017-07-19 20:53] horsburgh commented on #2235
I don't have a strong feeling either way. But, if it isn't clear that the user needs to edit their profile to add the iRODS account then at least the messaging needs to change to make sure they know what to do.

[2017-07-19 21:02] horsburgh commented on #2236
More informative = better. I think its useful.

[2017-07-19 21:28] rajadain opened #2237 "Add ability to sort Resources in REST API"
Presently the https://www.hydroshare.org/hsapi/resource/ endpoint supports pagination, giving back only 100 records in a page. As a consumer of the API, if I needed to sort the resources arbitrarily, say by `date_created` or `date_last_updated`, I have to page through the entire set of resources, then sort them on my end. This is inefficient and puts additional load both on my client and the Hydro

[2017-07-19 21:34] rajadain commented on #2237
/cc @pkdash @aufdenkampe @emiliom @ajrobbins

[2017-07-20 04:37] zhiyuli commented on #2203
This should be fixed on both apps and appsdev now.

[2017-07-20 17:54] pkdash commented on #2237
@aphelionz Your thoughts on this issue? I think we should implement this requested feature.

[2017-07-21 15:05] pkdash opened #2238 "Update docstring in REST endpoint for resource listing"
Though resource listing REST API allows resource filtering based on bounding box, it is not documented here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L345

[2017-07-21 15:16] pkdash commented on #733
@gantian127 What's the status of this issue?

[2017-07-21 15:19] pkdash commented on #1034
@alvacouch Is this issue still relevant? If not it would be good to close.

[2017-07-21 17:49] gantian127 commented on #733
@pkdash I think this issue still exists. When I type lat=0 and lon=20. It shows the error below:
![image](https://user-images.githubusercontent.com/5016511/28475702-9093043a-6e0a-11e7-9025-dcfa2b8fe113.png)

[2017-07-21 17:49] dtarb commented on #2112
I just reviewed this with @pkdash.  He said Filtering by bounding box is done and in current deploy.  If there are shortcomings please respond.

Returning of geometry in the results is an enhancement not done (geometry can be obtained in a separate call, but not in the first return).  I'd like to prioritize this for the 1.13 HydroShare deploy.  @aphelionz please coordinate this.  @pkdash can help

[2017-07-21 17:52] dtarb commented on #2237
Prioritizing for 1.13 deploy but if it is easy to do at the same time as #2112 is done it could be part of 1.12.

[2017-07-21 17:58] rajadain commented on #2112
@pkdash Could you please point me to some documentation that specifies how the bounding box filter can be applied? I don't see anything instructions for that here: https://github.com/hydroshare/hydroshare/wiki/HydroShare-REST-API#implemented-rest-end-points.

[2017-07-22 22:05] dtarb opened #2241 "Unable to make a resource public in 1.11 deploy"
I just created this resource https://www.hydroshare.org/resource/6cb2da4dffa248c09bc4d7d883fdf4a1/.  I added abstract and keyword and received the message that it could be made public, but when I click on the public button nothing happens.  I am not doing anything that I have not done before, so have to assume this is to do with the 1.11 deploy.

[2017-07-22 22:17] horsburgh commented on #2241
For what it's worth - I just created a new composite resource and tried to make it public. I got the same result as @dtarb - I can click the button, but nothing happens.

[2017-07-22 22:19] aphelionz commented on #2241
@dtarb @horsburgh Lucky for you guys my wife and kids are at my mother in law's tonight! I'll take a look ASAP. Any ideas @pkdash or @alvacouch ?

[2017-07-22 22:24] dtarb opened #2242 "Required profile information inconsistency"
The message below perpetually reminds a user to fill in the title field, yet in the profile title is not indicated as being required (it does not have a * next to it)
![image](https://user-images.githubusercontent.com/3456833/28494904-1967e48e-6efa-11e7-90a2-838806dd4f25.png)

[2017-07-22 23:07] aphelionz commented on #2241
@dtarb @horsburgh PR created, should fix the issue.

[2017-07-23 02:18] aphelionz commented on #2235
I'm with @jsadler2 on this one.

I think we should be migrating most of these interactions out to the profile view page. Having to click edit is slightly annoying in general. It's not the worst thing in the world, but for example I like being able to switch a resource between Public/Discoverable/Private without having to click edit.

[2017-07-23 02:21] aphelionz commented on #2236
Yeah, I vote +1 on just assigning the default `value` of the field to `users.hydroshare.org`.

[2017-07-23 02:25] dtarb commented on #2241
Thanks for the quick work fixing this.

[2017-07-23 02:25] #2241 closed

[2017-07-23 02:32] aphelionz commented on #733
@pkdash @gantian127 assigning this to myself to fix

[2017-07-23 02:32] aphelionz commented on #2237
@pkdash @dtarb Let's keep it in 1.13 but I see your point and it's likely. Playing it safe for now though.

[2017-07-23 16:33] dtarb opened #2245 "Add page to help on how to create and account"
I suggest that a page be added below https://pages.hydroshare.org/introduction-to-hydroshare/ that explains
- How to create a HydroShare account
- Explains that a validation email will be sent requiring email verification
- Indicates profile information required (and a bit about why)
- Explains iRODS accounts

It seems we may have had content like this before, but I cannot find it in the current h

[2017-07-24 03:17] pkdash commented on #733
Thanks @aphelionz

[2017-07-24 16:23] zhiyuli opened #2246 "Resource-specific metadata is missing from resourcemetadata.xml file"
I just find Resource-specific metadata is missing from 'resourcemetadata.xml' file of some NetCDF resources and  Geo-Feature resources I created recently.
This is causing a issue when retrieving resource metadata via REST API (hs_restclient) in our apps.

It seems old resources are fine. I am not sure this issue affects other resource types or not.

[2017-07-24 16:56] fryarludwig opened #2247 "Metadata strings updated through hs_restclient are parsed incorrectly"
When using the hs_restclient to update metadata for Generic and Composite resources (I haven't tested other types), string values are updated as a unicode string inside an array (e.g. [u'some_string'] ).

Here's an example code snippet:
`
put_data = {"title": "New Title", "description": "New Description"}
client.updateScienceMetadata('f44c00556cd847b98dd47f3a6279014d', put_data)
`

Two resources t

[2017-07-24 17:24] hyi opened #2248 "resource specific metadata is missing from resourcemetadata.xml"
Reported from @zhiyuli: I just find Resource-specific metadata is missing from 'resourcemetadata.xml' file of some NetCDF resources and Geo-Feature resources I created recently.
This is causing a issue when retrieving resource metadata via REST API (hs_restclient) in our apps.
It seems old resources are fine. I am not sure this issue affects other resource types or not.

[2017-07-24 17:31] hyi commented on #2246
@zhiyuli I am closing this issue but use #2248 to keep track of this issue instead.

[2017-07-24 17:31] #2246 closed

[2017-07-25 09:29] dtarb opened #2250 "Extend Hyrax OPeNDAP server/app to provide access to multidimensional file types in public composite resources"
The Hydrax OPeNDAP server/app provides OPeNDAP access to public netcdf files that are part of the multidimensional resource type.  This should also be extended to netcdf files that are part or composite resources typed as multidimensional (and fit within size constraints).  This may require file level app launching functionality per #1609.

[2017-07-25 09:58] dtarb opened #2251 "Inconsistencies in Multidimensional resource type metadata reading"
If I follow the sequence
1. Create New
2. Set resource type as multidimensional
3. Identify a netcdf file that has CF conventions title element (I am testing using the file from https://www.hydroshare.org/django_irods/download/bb9e1cc9e8b0487b99576938029fccb0/data/contents/Data%20Files/SWE_time.nc)
4. Click create resource
I get a resource that is missing the html title field.
![image](https://use

[2017-07-25 19:39] yirugi opened #2253 "BagIt creation failure"
We just found that one of our resource had an error for creating BagIt file.
When we click the "Download all content as Zipped bagIt Archive" button, the BagIt file should be created, then download starts, but it just wait and nothing happened.

Other resources are fine. Just this has the problem.

Here is the link for the resource:
https://www.hydroshare.org/resource/c65bce3e4459476f9950c65107286

[2017-07-26 14:52] horsburgh commented on #2247
@aphelionz - do you have any ideas on this? Is this something that we are doing incorrectly on our end?

[2017-07-26 14:56] aphelionz commented on #2247
I believe the hs_restclient is transliterating the string "New Title" to the python unicode, and then back to a normal string again, which would be represented as "[u'New Title']," which is then passed to the REST api. I'll take a look.

[2017-07-26 15:06] horsburgh commented on #2068
Appears to work correctly now on www.hydroshare.org. Closing.

[2017-07-26 15:06] #2068 closed

[2017-07-26 15:59] alvacouch commented on #2226
@mjstealey @horsburgh Now running a
```./hsctl managepy check_irods_files --clean_django {resource_id}```
on www to remove files that are in django but not iRODS.

My script for re-ingestion may not deal well with composite resources. Checking.

[2017-07-26 16:06] alvacouch commented on #2226
@horsburgh @mjstealey @pkdash My script for re-ingesting irods files into django says in the docs that it works for composite resources. Since all of the missing files are csv or eps, the only thing that could go wrong is if the default logical file was not invoked. I think it's worth a try to re-ingest all existing irods files for this resource. Only alternative is to delete and re-upload. So, I'

[2017-07-26 16:09] horsburgh commented on #2226
@alvacouch - whatever you need to try. I've got all of the files locally, but would rather not have to re-upload if I don't have to. If this resource gets nuked, it's not a huge deal.

[2017-07-26 16:52] zhiyuli commented on #2248
Tested on www. Thanks @hyi @pkdash @aphelionz @mjstealey

I believe there are some resources owned by other users also got affected by this issue, so those bags are 'corrupted'. Need a plan to fix them.

[2017-07-26 18:16] hyi commented on #2248
@zhiyuli Affected resources can be fixed by manually setting metadata_dirty AVU to true so that metadata can be regenerated next time when the bag is downloaded. If needed, this metadata_dirty flag can be set to true manually for all resources to cover this. I believe Michael may have a script handy just to do this, so if it is not urgent, let's wait for Michael to come back and run his script to

[2017-07-26 18:32] alvacouch commented on #2226
Cleanup script output
[code]

At this point I turned this off to avoid interfering with the demo at Informatics. More later.

[2017-07-26 19:39] Castronova opened #2254 "Scale up usagemetrics.hydroshare.org"
The current machine has 4G of memory which I believe is causing some issues.  Can we increase the memory to 8 or 12 G?

[2017-07-27 10:59] dtarb opened #2255 "Improve file download interface"
Following is a comment from Rick Hooper on downloading files from HydroShare

http://www.hydroshare.org/resource/bb9e1cc9e8b0487b99576938029fccb0/#comment-108

I tried to double click on a resource to download and get the spinning ball (which did not clear). I found out that i had to right click to download. I should have been presented with an error or a suggestion to right click rather than doub

[2017-07-27 13:27] aphelionz commented on #2255
There are two issues here:

1. Double clicking on a resource file causes the CPU to max out (I reproduced this on Windows as well as Rick's OSX)
2. It's unclear that single clicking selects the file and right clicking opens the custom contextual menu.

Maybe we just make double click download the file? That would solve both.

[2017-07-27 14:21] horsburgh commented on #2255
I like the suggestion for double click to download.

@Maurier - what do you think?

[2017-07-27 14:31] Maurier commented on #2255
Double click is usually assigned to trigger primary actions on items in the UI. It is intuitive to open a file (or download in our case) using double click, so I agree it would be a good addition to the file browser interface.

With this same reasoning, I'd like to point out that for folders double clicking should open said folder rather than download its content.

[2017-07-27 14:43] miguelcleon opened #2256 "moving a public resource to discoverable is currently not working"
If you want to change a public resource to discoverable you have to make it private and then discoverable. You can't directly change a public resource to discoverable.

[2017-07-27 14:48] horsburgh commented on #2255
Yes - agreed on double clicking folders should open the folder (not download).

[2017-07-27 15:06] aphelionz commented on #2256
Thanks @miguelcleon, I'll take a look

[2017-07-27 16:39] pkdash commented on #2248
@hyi It will be good to create a management command to set this flag for  all resources or specified resources. Let me know if I should write code for this.

[2017-07-27 17:52] hyi commented on #2248
@pkdash I thought about it too, but still need to run the command on production. May need @mjstealey
s weigh in on this, but it won't hurt to write such a management command in case it is needed in the future. If you have time for this, feel free to write it.

[2017-07-28 20:42] rajadain opened #2257 "Bounding Box Filter Not Working in REST API"
Looking at the current implementation of the bounding box filter here: https://github.com/hydroshare/hydroshare/blob/c861f97af96dbdbe4d9e61c27fd1c48175e2d9aa/hs_core/hydroshare/users.py#L316-L344, it seems like we need to specify a `coverage_type` value of either `box` or `point` before the bounding box parameters of `north`, `east`, `west`, and `south` are taken into account. Running a query with

[2017-07-28 20:43] rajadain commented on #2257
/cc @aphelionz @aufdenkampe @emiliom @ajrobbins

[2017-07-31 16:41] aphelionz commented on #2257
@rajadain @aufdenkampe

This error was due to some of the resources on production having malformed coverage metadata. For example "north" might have been set to 5555, which is neither below 90 or above -90. I added some error trapping so that the system simply passes over those and does not add them to the search results to unblock you, with the intent of writing a cleanup maintenance task at a la

[2017-07-31 16:59] rajadain commented on #2257
That's working well. Thanks for looking in to this!

[2017-07-31 19:10] #2257 closed

[2017-07-31 19:14] aphelionz opened #2259 "Rename userInfo/ API endpoint to user/"
Placeholder ticket

[2017-08-01 15:58] #2259 closed

[2017-08-01 16:47] horsburgh commented on #2247
@aphelionz - any additional feedback on this issue? @fryarludwig is working on a tool to move data from a CUAHSI HydroServer into HydroShare, and we've got nearly the whole thing working - except updating individual metadata elements through the API. This seems like a pretty big issue with metadata updating in the API?