[2015-05-11 14:41] danames commented on #272
alpha.hydroshare.org won't load this morning.

On Sat, May 9, 2015 at 12:00 PM David Tarboton <notifications@github.com>
wrote:

[2015-05-11 14:43] danames commented on #347
Let's launch www.hydroshare.org soon.

On Sat, May 9, 2015 at 11:59 AM Jeff Horsburgh <notifications@github.com>
wrote:

[2015-05-11 15:11] danames commented on #282
Looking forward to alpha.hydroshare.org coming back online so we can test
these things...

On Sat, May 9, 2015 at 11:58 AM David Tarboton <notifications@github.com>
wrote:

[2015-05-11 15:15] ironfroggy commented on #350
Combined search, while inefficient, is already implemented. How is breaking them up, which represents additional work to be completed before the deadline on top of the new UI, a solution to any timeline problem posed by NFIE?

[2015-05-11 15:25] horsburgh commented on #347
Agreed - because the paper about the Resource Data Model we will submit to the JAWRA Open Water Data Initiative special section relies on there being a live www.hydroshare.org with some public resources in it.

[2015-05-11 16:56] mjstealey commented on #298
new keys generated for all deployments

[2015-05-11 16:56] #298 closed

[2015-05-11 16:56] #297 closed

[2015-05-11 16:57] mjstealey commented on #284
Deferred to later release cycle

[2015-05-11 16:57] mjstealey commented on #282
Deferred to later release cycle

[2015-05-11 16:58] mjstealey commented on #281
Deferred to later release cycle

[2015-05-11 16:58] mjstealey commented on #280
Deferred to later release cycle

[2015-05-11 16:58] mjstealey commented on #272
Deferred to later release cycle

[2015-05-11 16:59] #257 closed

[2015-05-11 16:59] #227 closed

[2015-05-11 16:59] #173 closed

[2015-05-11 16:59] #169 closed

[2015-05-11 19:05] rayi113 commented on #350
@ironfroggy; @alvacouch, @dtarb and @rayi113 discussed and agree you should proceed with combined search as you suggest.

[2015-05-11 19:17] alvacouch commented on #350
I am not worried about exactly how we do this, but I am of the opinion that:
a) we need simple filtering before NFIE, and
b) we need to delay the migration that would make filtering more elegant (e.g., resource base class)
until after NFIE. Too much else to handle. So that
c) a temporary fix is indicated.

Alva L. Couch, Ph.D.
Senior Architect, CUAHSI Water Data Center
http://wdc.cuahsi.org
+1 339

[2015-05-12 03:46] danames opened #369 "Button for downloading a bag is ambiguously labeled"
The button "Download All (filesize)" is a bit uninformative and misleading. What actually happens when you click this button is you get a zip file in the BagIt format. The BagIt format is going to be new and bizarre to most users who will see this random stuff in their zip file and think, "hey what in the heck is all this stuff? And what is it doing in this zip file?"

I propose we address this pr

[2015-05-12 03:53] horsburgh commented on #369
Related to issue #363

[2015-05-12 04:00] horsburgh commented on #315
The question that @mauriel133 asked was related to the message that is displayed when a resource is first created.  Now it says something like "Congratulations, you successfully created your resource..." and then it highlights missing metadata elements. That's fine for the first time you see that message, but for any subsequent times the user accesses the resource it shouldn't use the same message

[2015-05-12 04:40] pkdash commented on #315
Currently there is nothing in place to make that distinction. But with little bit of code I think we can know if the resource is being displayed for the first time or not.I can help @mauriel133 on that.

[2015-05-12 12:04] ironfroggy commented on #369
It would be a lot simpler to just add that informative link about the BagIt
format than to also add an alternative download button that requires an
alternative packing view to prepare a non-BagIt zip archive.

On Mon, May 11, 2015 at 11:53 PM, Jeff Horsburgh <notifications@github.com>
wrote:

--

*Calvin Spealman*Lead Front-end Developer

calvin@caktusgroup.com <calvin@caktusgroup.com>
www.caktusg

[2015-05-12 12:39] ironfroggy opened #370 "Globals in hydroshare/hs_core/views/__init__.py"
Can anyone explain, in the create_resource view, why `res_class` is a global? Or `resource`? This is making the flow and intent of resource creation very confusing and likely quite fragile. I'm filing this ticket as a recommendation to refactor this at some point (not needed for 1.5.1) and as a follow up the rest of the codebase should be reviewed for global statements, of which there should be no

[2015-05-12 13:48] hyi commented on #370
I agree we should get rid of this global res_cls variable. Once a resource object is available, res_cls can be obtained by calling "res_cls = res.__class__" as done in add_file_to_resource(). I am assigning this issue to myself as I want to remove a couple of other routines (e.g., create_resource()) that are no longer used now that we are going with the new resource creation workflow Pabitra imple

[2015-05-12 14:02] hyi commented on #328
The fix to this issue introduced a regression error that prevents users from downloading bags. Reopen this issue and will make a further fix to fix this regression error.

[2015-05-12 14:09] danames commented on #369
Exactly. I think well-documented simple functionality should always trump
complex poorly-documented functionality.

On Tue, May 12, 2015 at 6:04 AM ironfroggy <notifications@github.com> wrote:

[2015-05-12 15:09] dtarb commented on #328
This underscores the need for more thorough automated testing.  My testing of this tested that the file was not delivered to a user that did not have permissions and a direct link was entered.  However it did not test everything else, and it is impossible for manual tests to always test everything else. I do not know if a unit test would have caught this, or whether this would have required some s

[2015-05-12 18:56] selimnairb opened #372 "REST API refactoring, phase 2"
Refactoring REST API endpoints to agree with the specification and to enable rapid development of client API.

[2015-05-12 19:35] dtarb commented on #344
Bought a wildcard certificate from GoDaddy for *.hydroshare.org.  Casey Averill reports he has installed and validated on load balancer.  Details of certificate are with @mjstealey @rayi113 and @dtarb.

[2015-05-12 19:35] #344 closed

[2015-05-13 10:14] ironfroggy commented on #344
Are there follow up tickets for:

- Webserver configuration changes required?
- Hydroshare project/application changes required?

[2015-05-13 13:14] mjstealey commented on #344
Not yet - will be soon though

[2015-05-13 15:09] pkdash commented on #90
@mjstealey Not sure how to remove the submodule 'dublincore' from the project. Is this something you can do?

[2015-05-15 13:19] dtarb opened #374 "[SUPPORT] - Resource changing operations in beta not working properly"
Following from a user

I was uploading resources to Hydroserver and a couple times got this funny error. I just wanted to let you guys know that this was happening.

AttributeError at /hsapi/_internal/f7a2e8d934cf41679d7f029da0e41277/delete-resource-file/678/

'NoneType' object has no attribute 'resource_file'

Request Method: 	GET
Request URL: 	http://beta.hydroshare.org/hsapi/_internal/f7a2e8d93

[2015-05-15 13:56] mjstealey opened #375 "SUPPORT - Error adding resource"
Email to: support@hydroshare.org
Subject: Error adding resource

I was uploading resources to Hydroserver and a couple times got this funny error. I just wanted to let you guys know that this was happening.

![screen shot 2015-05-15 at 9 54 37 am](https://cloud.githubusercontent.com/assets/5332509/7654092/70c28208-fae8-11e4-9247-8ab1993dfe05.png)

[2015-05-15 14:06] ironfroggy commented on #375
If you see it again please switch to the copy and paste view and add a
stacktrace to this ticket.

On Fri, May 15, 2015 at 9:56 AM, Michael J. Stealey <
notifications@github.com> wrote:

--

*Calvin Spealman*Lead Front-end Developer

calvin@caktusgroup.com <calvin@caktusgroup.com>
www.caktusgroup.com

[2015-05-15 14:06] ironfroggy commented on #375
This is a duplicate of #374

[2015-05-15 14:06] #375 closed

[2015-05-15 14:28] ironfroggy opened #376 "NFIE Search Fields"
Now that my search work's first iteration has landed I want to begin expanding on it. Right now this provides full-text and resource type filtering. I need a canonical list of fields that need to be searchable from this interface for NFIE, but I can't provide that list. Please document this minimum field set here so that I can complete this followup task.

[2015-05-15 15:03] mjstealey commented on #374
Update made to submodule django_irods that should address the observed issue.

Have tested with 383 MB file successfully as a generic resource, other resource types should also be checked.

[2015-05-15 15:43] alvacouch commented on #376
Thanks. What you have completed now does a lot for usability.

I think we need to confer amongst ourselves to answer this question.
When Dave T becomes available, will discuss with him.

Alva L. Couch, Ph.D.
Senior Architect, CUAHSI Water Data Center
http://wdc.cuahsi.org
+1 339 221 5400 x 203

From: ironfroggy<mailto:notifications@github.com>
Sent: ?Friday?, ?May? ?15?, ?2015 ?10?:?28? ?AM
To: hy

[2015-05-15 18:59] dtarb commented on #376
I am available - good timing.  @mjstealey which deployment has this work for me to see and comment on.

[2015-05-17 14:15] dtarb commented on #315
Testing on dev at present the message is inconsistent across resource types.  For a generic resource the message says "Congratulations! Now ...".  For other resource types the message says "Now that ..."

The following functionality is desired
* same messaging for all resources.
* when a resource is first created the first line should read "Congratulations.  Now that your resource has been created

[2015-05-17 14:21] dtarb opened #379 "Error deleting resource"
As currently deployed on dev I received an error deleting a resource.  Following is the Traceback

Environment:

Request Method: GET
Request URL: http://dev.hydroshare.org/hsapi/_internal/e3ebdd176693430091839b34b194d81b/delete-resource/

Django Version: 1.7.1
Python Version: 2.7.6
Installed Applications:
(u'mezzanine.boot',
 u'django.contrib.auth',
 u'django.contrib.contenttypes',
 u'django.contr

[2015-05-17 14:29] dtarb commented on #321
This issue was fixed in our 1.5 beta deployment but appears to have been lost in the current deployment on dev.

[2015-05-17 14:31] dtarb commented on #321
@mjstealey please re-merge Tian's code that set these names.

[2015-05-17 15:28] mjstealey commented on #321
This is likely due to a branch being merged that had made it's own changes to the create-resource file, but had not rebased against the updated information as added by Tian.

Will do this as a new branch, and not re-open a previously closed branch as that might add it's own inaccuracies to what is already there.

[2015-05-17 15:29] mjstealey commented on #310
Added in version 1.5.0

[2015-05-17 15:29] #310 closed

[2015-05-17 16:02] dtarb commented on #376
Following is my prioritized suggestion

1. Searchable field set

  * Type (we have this)
  * Owner
  * Author (for display we use the word Author, while in the Dublin core metadata this is Creator)
  * Contributor
  * Subject (this operates on keywords)
  * Title
  * Abstract

2. I would also like to see Own, Can Edit, Can View and Public as check box filters on the left as you originally proposed

[2015-05-17 17:36] dtarb commented on #338
I am unable to successfully log in to iRODS from playground.hydroshare.org as currently deployed.  In the following sign in I tried both 1247 and 8080 in the 3rd box.  The credentials I am using do work going in to iDROP  http://hydrotest.renci.org:8080/idrop-web2/.

![untitled](https://cloud.githubusercontent.com/assets/3456833/7671347/f7766106-fc88-11e4-875c-f95467d81a50.png)

Ultimately we need

[2015-05-17 17:41] dtarb commented on #374
Tested and was able to add and delete a resource without this error.

[2015-05-17 17:41] #374 closed

[2015-05-17 17:56] dtarb commented on #269
This is not quite done.  If old resources are downloaded the bag-info.txt still contains incorrect owner information.  This is not NFIE-Required so I am deferring to deployment 1.6.  When bagit restructuring is complete all bag-info.txt files should be deleted to resolve this issue.

[2015-05-17 18:02] dtarb commented on #317
Thanks to @mauriel133 there is now a button top right "View Resource" that resolves this.

[2015-05-17 18:02] #317 closed

[2015-05-17 18:04] dtarb commented on #316
Thank you @mauriel133 for implementing the messages on the interface that resolve this.

[2015-05-17 18:04] #316 closed

[2015-05-17 18:10] dtarb commented on #201
@mauriel133 as deployed on dev.hydroshare.org right now Organization does not appear in the manage access section as suggested above.

[2015-05-17 18:15] dtarb commented on #357
This is not NFIE Required.  See #376 for my suggestions on required search fields.  I am open to Filename being added to the list as a "nice to have" feature.

[2015-05-17 18:20] mauriel133 commented on #201
Yes, this is still on my todo list. Will get it done as soon as I can.

[2015-05-17 18:22] dtarb commented on #350
See #357 and #376.  I regard #376 as definitive for what Filtering should be.  I think that adding file name to filtering is a "nice to have" feature but a bit of a red herring and I do not understand @alvacouch indicating that the ability to filter by file name is important.  File name can certainly be used as title, but that does not require any change in the system, it is just user choice as to

[2015-05-17 18:37] dtarb commented on #165
I generally like the resource editing improvements as deployed on dev.hydroshare.org.

Please move Keywords to below Abstract and above How to Cite so that the required metadata is together at the top.

I would prefer the term Subject rather than keywords as I think that is what is used in Dublin Core.  I suggest this for internal consistency.  Subject is what appears in resourcemetadata.xml and i

[2015-05-17 18:49] dtarb commented on #363
@mauriel133 could you please do this.  It should be relatively simple interface labeling.  See als #369

[2015-05-17 18:53] dtarb commented on #369
@mauriel133 could you please do this as part of your interface improvements.  I agree with the suggestion to use text "Download All Content as Zipped BagIt Archive (file size)" in the button and a link nearby to learn more about the Bagit archive format.

[2015-05-17 18:59] dtarb commented on #328
Appears fixed in testing on dev so closing, lets hope for the last time.

[2015-05-17 18:59] #328 closed

[2015-05-17 19:09] ironfroggy commented on #376
Dave,

Can you add the checkboxes and ordering by a column as two items to the prioritization list? If anything has to be delayed until after NFIE for time, I want to make sure the right things make it in.

[2015-05-17 19:22] dtarb commented on #376
@ironfroggy I edited the comment above to have check boxes.  This removed the numbering, but the prioritization is top to bottom

[2015-05-17 20:11] hyi commented on #338
Port 1247 should be used to connect to hydrotest.renci.org host. I will need to see a demo in order to figure out what is going on. If we want to allow users to browse into any iRODS host and zone (not necessarily the same host and zone used by HydroShare) to add files to create HydroShare resource, I am afraid we will have to ask users to enter host, zone, and port, although I can leave default v

[2015-05-17 21:18] dtarb commented on #338
I got it to work.  I was using incorrect credentials.  Sorry about that mistake.  It would be good to default the port number iRODS server and zone to something valid so that a user does not have to "know" and retype these every time.  If we want to have users change these we could remember the iRODS port, host and zone as properties of a user so that they always get back the last one they used as

[2015-05-17 21:53] mjstealey commented on #338
If by defaulting information you mean populated but still changeable then I agree.
The provided fields allow you to connect to any arbitrary iRODS server that you know the credentials for, not just your own credentials on the particular iRODS deployment that HydroShare is connected to.

As an example, a user can use the iRODS file browser to reach into the iRODS server on iPlant, on beta, on dev,

[2015-05-17 21:53] dtarb commented on #338
I also found the following cool thing.  I was able to import a file from iPlant discovery environment, using the server and zone I looked up here https://pods.iplantcollaborative.org/wiki/display/DS/Using+iCommands#UsingiCommands-InitiatingtheiRODSconnectionandconfiguringthesettings%28One-timeonly%29.

[2015-05-17 22:04] dtarb commented on #338
Yes I do mean changeable.

[2015-05-18 02:20] mauriel133 commented on #363
Yes, I'll have this done tomorrow.

[2015-05-18 13:04] alvacouch commented on #350
I mean filter by title, and it is an explicit NFIE request.

Alva L. Couch, Ph.D.
Senior Architect, CUAHSI Water Data Center
http://wdc.cuahsi.org
+1 339 221 5400 x 203

From: David Tarboton<mailto:notifications@github.com>
Sent: ?Sunday?, ?May? ?17?, ?2015 ?2?:?23? ?PM
To: hydroshare/hydroshare<mailto:hydroshare@noreply.github.com>
Cc: Alva Couch<mailto:ACouch@cuahsi.org>

See #357<https://github

[2015-05-18 15:03] dtarb commented on #379
This appears to occur for a resource that has no file, such as one for which the file was deleted separately first

[2015-05-18 15:03] dtarb commented on #379
This is reproducible for a geographic raster resource

[2015-05-18 17:31] selimnairb opened #380 "Upgrade to Django 1.7.8 as part of NFIE release"
We are currently running an early version of 1.7, namely 1.7.1.  There are numerous bug fixes and security updates in 1.7.2 through 1.7.8.  Before exposing HydroShare to more users, it might be worthwhile to upgrade to the latest version of 1.7.  This assumes that we have time and that the benefits outweigh the costs.

[2015-05-18 20:42] selimnairb opened #381 "REST api refactoring, phase 3"
Refactor of resource CRUD rest endpoints.

[2015-05-18 21:14] dtarb commented on #380
I think that you want the benefits to outweigh the costs, and I am rather leery of rolling an additional upgrade into the NFIE deploy.  We have enough on our plate already.

[2015-05-18 21:36] twhiteaker commented on #12
# Cross Section Resource Type

Here's my current thinking, using shapefile and an optional CSV file to implement. I changed the resource level metadata Lineage to Source and Method. I added a flowline feature class, since cross section river measures are arbitrary without the spatial domain onto which those measures have meaning.  This means we can't simply parse the resource files by geometry typ

[2015-05-19 12:08] ironfroggy commented on #380
It should be pointed out that if you are still running 1.7.1 that could be
the source of at least some of your migration woes. Also, upgrading minor
versions should be safe. These are well tested for backwards compatibility
and contain important security vulnerability fixes. And x.y.1 release
should be considered at least a bit risky, and getting off it should be
done if possible.

On Mon, May 18,

[2015-05-19 12:19] mjstealey commented on #380
It would be easy enough to stand up one of the VMs using Django v1.7.8 for evaluation purposes.
If all works as expected this can be integrated for the NFIE release.

There will however be some work to do prior to moving to v1.8.x due to deprecated code in our repository that will no longer be part of v1.8.x. These can be seen as warnings anytime you build the project.

[2015-05-19 13:06] selimnairb commented on #380
@ironfroggy +1
@mjstealey +1 for holding back on 1.8 until a later date.

[2015-05-19 14:28] mjstealey commented on #380
park.hydroshare.org has been rebuilt using Django v1.7.8
branch = develop

Output from `$ pip freeze` for reference:

[code]

[2015-05-19 14:36] dtarb commented on #380
I also support 1.7.8 since it seems smooth and simple.

[2015-05-19 14:42] mjstealey commented on #380
The bulk of what is seen in the `$ pip freeze` output gets built into the hs_base image that is referenced as mjstealey/hs_base in our build script. (docker-compose.yml)

The installed Django version is one of these, so it can be distributed to the team via a rebuild and push of a new mjstealey/hs_base image. Then on the next full build cycle they would bring in the updated image on their local en

[2015-05-19 14:48] dtarb commented on #380
You have my :+1:

[2015-05-19 17:40] Castronova opened #382 "Model Instance fails if ExecutedBy is unknown"
If the model instance **executed by** field is set to "unknown," resource saving fails.  I think this is because the Foreign Key relationship is set to **None**.

[2015-05-19 17:42] Castronova opened #383 "Model Instance - ExecutedBy styles need to be moved"
The CSS styling for the ExecutedBy table was implemented in javascript.  This needs to be moved into a CSS file instead.

[2015-05-19 20:47] mjstealey commented on #380
Django v1.7.8 replaces v1.7.1 and new hs_base pushed to mjstealey/hs_base on docker hub.

[2015-05-19 20:56] mjstealey opened #385 "[WIP] iRODS as docker application to use with development HydroShare"
Add a docker application to run iRODS locally within the same VM as HydroShare for the development environment.

Reference: https://github.com/hydroshare/hs-docker-irods

[2015-05-19 22:51] mauriel133 commented on #369
For the learn more button should I link the wikipedia entry for BagIt (http://en.wikipedia.org/wiki/BagIt) or is there a more reliable source?

[2015-05-19 23:27] dtarb commented on #369
I considered https://confluence.ucop.edu/display/Curation/BagIt which is perhaps more authoritative, but the Wikipedia article is quite nice and comprehensive, so I lean towards it.

[2015-05-20 00:02] mauriel133 opened #387 "My Resource - 'Create New' button has wrong background on hover"
As implemented in http://dev.hydroshare.org/, the button has a white background on hover which makes it unreadable.

[2015-05-20 00:06] mauriel133 commented on #369
I've linked the wikipedia article for now.

[2015-05-20 02:05] mjstealey opened #388 "Bad Page Styling - SWAT Model Instance Resource"
Bad page styling in the SWAT Model Instance Resource landing page.

Likely an unclosed DIV tag or similar that causes an incorrect styling of the resource landing page.
Note the shift in the Authors, Comments, and Footer section in any SWAT resource.

Example 1: http://dev.hydroshare.org/resource/100913f886db4751bf4a04efdf3a57f7/
Example 2: http://park.hydroshare.org/resource/ae6aa34357324e6e9b008

[2015-05-20 10:47] mjstealey commented on #388
This is now fixed

[2015-05-20 10:47] #388 closed

[2015-05-20 18:12] Castronova opened #392 "Model Program - Unnecessary migrations"
New migrations are being created due to a default value of datetime.now().  This is causing unnecessary migrations.

[2015-05-20 21:19] gantian127 opened #393 "netCDF resource original coverage metadata update"
The netCDF resource original coverage metadata needs to be updated which is similar as the raster resource original coverage metadata update. The metadata element names and layout need to be changed.

[2015-05-21 07:03] mauriel133 commented on #201
I need help identifying where in the code this list is populated. Perhaps @pkdash or @mjstealey can help me.

[2015-05-21 18:30] gantian127 opened #399 "netCDF header info text area is not shown in meta editing mode"
This issue is found on dev site. When user clicks on the editing button, the "resource specific" tab shows the forms of the extended metadata, but the header info text area is missing.

@mauriel133 yesterday I suggested for adding a new block section in genericresource.html to solve this problem. But if there is a better solution, please let me know. Thank you.

[2015-05-21 20:35] gantian127 opened #400 "Hydroshare metadata writing back to .nc file"
Phase 2 functionality of Multidimensional netCDF resource include:
1) hydroshare metadata writing back to .nc file
2) data sub-setting
3) data inspector
4) ncdump file creation

Other resource related functions mentioned in #8 will be implemented in the future phases.

[2015-05-26 00:41] pkdash commented on #168
This has been addressed in resolving issue #293.

[2015-05-26 00:48] pkdash opened #403 "Allow existing users to be added as creators and contributors on resource editing page"
Implement feature to search/select an existing user for adding as an author or contributor in the "Add author" and "Add contributor" modal forms.

[2015-05-26 04:08] horsburgh commented on #222
Resource Map documents currently created on beta.hydroshare.org and playground.hydroshare.org are incorrect.  They were actually more correct before.  Not sure what happened.  Here's what's not right:

1.  Within the description of the aggregation, there should be an ore:aggregates triple for every single content file in the resource, including the resource metadata file.  Right now there is one f

[2015-05-26 04:15] horsburgh commented on #171
If this core metadata element is left out of resources that are created for NFIE, and if the NFIE release is going to be www.hydroshare.org, when will this element get added to all resources for which it will be missing?  The HydroShare resource type seems like something that is fundamental.

[2015-05-26 04:18] horsburgh commented on #222
By the way - what does the "invalid" label mean?

[2015-05-26 04:24] horsburgh opened #404 "URIs In Resource Map Should Resolve to Something"
The URIs in the resource map should resolve to the individual files in the resource.  I believe that this is one of the reasons we went to the unzipped storage format in iRODS.  Right now, I believe that they result in a 404 error.

If not, rather than giving a 404 error, could they at least all resolve to the resource landing page or something like that?

[2015-05-26 12:41] dtarb opened #405 "Manage access allows changes it should not"
A user with edit permissions on a resource can add an owner.  If that owner is themselves, they then effectively take ownership of the resource.

[2015-05-26 12:47] dtarb commented on #379
Tested on dev and seems fixed.

[2015-05-26 12:47] #379 closed

[2015-05-26 12:49] dtarb commented on #321
Tested.  Now correct on dev.

[2015-05-26 12:49] #321 closed

[2015-05-26 14:02] dtarb commented on #380
Done

[2015-05-26 14:02] #380 closed

[2015-05-26 14:04] mohamedmorsy opened #406 "Model Instance resource - includesOutput metadata element"
The "includesOutput" metadata element should appear with a default value of "No" in the resource specific metadata once the resource is created. (This had been implemented in the SWAT Model Instance resource type)

[2015-05-26 18:57] pkdash commented on #222
Here the log shows that I added the 'invalid' label. I have no idea now why I would have done that. I too not sure what the 'invalid' label means. I am removing this label.

[2015-05-27 12:00] ironfroggy opened #407 "Stable Migrations Are Essential"
The current setup with some migrations being automatically generated on different machines (as part of the `deploy-hs` script) is unstable. Having the development heads (either the develop or master branches) stand with missing migrations is unstable.

**1)** The missing migrations **must** be committed and merged
**2)** The `makemigrations` command must be a part of creating a new branch, not dep

[2015-05-27 12:20] alvacouch commented on #407
Agreed. Not conforming to this is why we are having so much trouble with migrations.

Alva L. Couch, Ph.D.
Senior Architect, CUAHSI Water Data Center
http://wdc.cuahsi.org
+1 339 221 5400 x 203

From: ironfroggy<mailto:notifications@github.com>
Sent: ?Wednesday?, ?May? ?27?, ?2015 ?8?:?00? ?AM
To: hydroshare/hydroshare<mailto:hydroshare@noreply.github.com>

The current setup with some migrations b

[2015-05-27 12:44] dtarb commented on #407
I've edited the policies wiki document https://github.com/hydroshare/hydroshare/wiki/Policies-&-Procedures to include this statement.  Please feel free to clarify aspects of it that may not be right or complete.  I noticed much deprecated content in this policy document.  I cleaned up some of it, but not all.  I'll create a separate ticket for wiki clean up to work on.

[2015-05-27 12:47] dtarb opened #408 "Clean up wiki"
Clean up the wiki addressing the following
1. [ ] Update roadmap
2. [ ] Update policies
3. [ ] Remove deprecated content (rather than label it deprecated)
4. [ ] Remove deprecated hydroshare2 repo and content therein

[2015-05-27 14:05] hyi opened #409 "Cannot download or delete resource when resource is created without uploading any file"
With the new bagit workflow implementation, when a resource is created without uploading any file, the resource cannot be downloaded or deleted. Will fix this issue ASAP.

[2015-05-27 15:56] #381 closed

[2015-05-27 16:19] selimnairb commented on #407
@ironfroggy Can you clarify what you mean by "merge" in point 1.  Do you mean taking migrations committed to a feature branch and merging them into develop, and/or also squashing migrations once they are merged into develop?

[2015-05-27 16:23] ironfroggy commented on #376
I have pushed Pull Request #412 To implement the search fields checked off in the list.

[2015-05-27 16:25] ironfroggy commented on #407
I mean the feature branch being merged into develop.

[2015-05-27 19:48] selimnairb opened #413 "Update REST API to work with new BagIt workflow"

[2015-05-28 03:12] selimnairb opened #415 "Errors using REST API with new iRODS BagIt workflow"
In particular, there are at least two problems with the new iRODS BagIt workflow and the REST API.

1. When using the Python client library to download a resource that is not public, the creator/owner of the resource gets a "You do not have permission to download this resource!" error.  Example code is:

    from hs_restclient import HydroShare, HydroShareAuthBasic
    auth = HydroShareAuthBasic(u

[2015-05-28 13:33] hyi commented on #415
@selimnairb @pkdash This access control permission issue is not related to the new bagit workflow. The permission check is performed in the download view function, specifically, on line 18 in https://github.com/hydroshare/django_irods/blob/master/views.py, which calls authorize() function in hs_core.views.utils and only allow to download resource when it is authorized. This authorize() function is

[2015-05-28 13:39] selimnairb commented on #415
@hyi I am confused then, because hs_core.views.resource_rest_api.ResourceReadUpdateDelete.get() calls the same authorize function (though with slightly different arguments, see [here](https://github.com/hydroshare/hydroshare/blob/413-update-rest-api-new-bagit-workflow/hs_core/views/resource_rest_api.py#L215)), which is granting permission.  Could you look at this and advise as to what I may be doi

[2015-05-28 15:17] hyi commented on #415
@selimnairb @pkdash @ironfroggy It looks like it is an issue of get_user() function in hs_core/models.py, which is called by authorize() function. Look at https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py line 35 NOTE: The API key portion has been removed with TastyPie and will be restored when the new API is built, and I don't see it restored, and suspect get_user() does not

[2015-05-28 15:29] pkdash commented on #415
I assume the REST API is not using API KEY for authentication at this time. Then I am not sure why the get_user() would fail?

[2015-05-28 15:58] pkdash commented on #415
I did some debugging with REST API for downloading a resource file. It seems the authentication passes when the authorize() function is called with the REST API view class. But then with HttpResponseRedirect(file_url) it fails authorization() within the django_irods/views.download() function since the same request object it not passed to the download function.

[2015-05-28 16:09] hyi commented on #415
That confirmed my suspicion. request has to be passed to the download function in django_irods for user-resource authentication. @selimnairb, could HttpResponseRedirect() be replaced with something like Render or RenderToReponse so that request can be passed in for authentication purposes?

[2015-05-28 16:41] pkdash commented on #415
For the mapping the URLs from the resource map I am currently implementing a new view function that also uses the HttpResponseRedirect(file_url) and I do not see any authorization problem. The authorization passes both in this new hs_core/views/file_download_mapper() function as well as with the django_irods download() view function.

[2015-05-28 17:01] selimnairb commented on #415
@pkdash Thanks for debugging this.  I'm looking for a solution.

[2015-05-28 17:01] hyi commented on #415
OK. Now that I think of this further, If I remember correctly, I think even with HttpResponseRedirect, the calling request is somehow implicitly passed in to a view function that maps to the redirected URL, which may explain why use of HttpResponseRedirect() also works for @pkdash. @selimnairb, another possibility for authentication failure could be the calling request has a wrong user or does not

[2015-05-28 17:05] selimnairb commented on #415
@pkdash Can you refer me to the code you are talking about.

[2015-05-28 17:13] selimnairb commented on #415
@hyi HttpResponseRedirect responds with an HTTP redirect (HTTP 301 or 302).  It is up to the client to follow the redirect.  My guess right now is that the REST client, which uses the Python requests library, is failing to pass the authentication information in on the redirect.  I might not have a solution until tomorrow.

[2015-05-28 17:55] selimnairb opened #417 "Incomplete refactor of bag.url for new iRODS BagIt creation workflow"
There remain several references to bag.url in templates and views that need to be converted to IrodsStorage.url(pk):
1. [resource_api](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_api.py#L566)
2. [ref_ts.templates.pages.res.html](https://github.com/hydroshare/hydroshare/blob/develop/ref_ts/templates/pages/res.html#L83)
3. [resource_aggregation.templates.pages.resour

[2015-05-28 18:49] pkdash commented on #415
@selimnairb is probably right in saying the request library fails to pass the authentication information on the redirect. When I did the test for my new code that has the redirect I was not using the request module. I did that test using the browser.That's why redirect worked in my case.

[2015-05-28 21:02] hyi opened #419 "Change django_irods code to work with icommand version 4.1"
Our testing outside HydroShare Django docker container reveals the large file upload issue with the new bagit implementation is most likely caused by our use of icommand version 4.0.3 to access irods server v. 4.1. Due to icommand session environment configuration changes introduced in version 4.1, the current django_irods code does not work with icommand version 4.1, and needs to be modified to m

[2015-05-29 06:11] pkdash commented on #415
@selimnairb and @hyi  it seems using the rest framework decorator ```@api_view(['GET'])``` on the django_irods download() view function resolves the issue. However, I am not sure if it is the right solution.

[2015-05-29 14:29] hyi commented on #415
@selimnairb @pkdash I am not familiar with the rest framework, but I think the issue that causes download view function failure is the requesting user not being passed in. Perhaps this @api_view() decorator gets requesting user straightened out, so it works?

[2015-05-29 16:13] dtarb opened #421 "Resource types in filtering should be labeled the same as resource types in resource creation"
The filtering interface uses the following resource type labels
![untitled](https://cloud.githubusercontent.com/assets/3456833/7886981/fde9dd90-05ea-11e5-9647-69ab8f077e53.png)

However in creating a resource the following labels are used
![untitled](https://cloud.githubusercontent.com/assets/3456833/7887021/43f3076c-05eb-11e5-8715-8399863d6a7d.png)

These should be consistent.  The filter labels

[2015-05-29 16:20] dtarb opened #422 "Formatting of Download all contents button"
The test (in Firefox) for the Download All contents button is chopped off at the bottom.  This formatting needs fixing.

![untitled](https://cloud.githubusercontent.com/assets/3456833/7887142/40a72560-05ec-11e5-8b45-441425d37a66.png)

[2015-05-29 17:38] selimnairb commented on #415
@pkdash Thanks for debugging this.  I will incorporate this for now as it allows the Python client library to work as it did before, and does not seem to have a negative effect for non-API access.

[2015-05-29 21:08] mauriel133 commented on #399
In view mode, I think it's better to have the header info shown as a button or a link which triggers a modal window with the text area.

Is the header info editable in edit mode?

[2015-05-29 21:13] hyi commented on #417
@selimnairb I am reassigning this to you as we discussed. I think you are at the best position to make bag url changes accordingly across the board in conjunction with your url improvement work in your api bagit branch. Let me know if you need me to do anything, though.

[2015-05-29 21:27] selimnairb commented on #417
I fixed this for [resource_api](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_api.py#L566), but this code doesn't appear to be called yet, so I couldn't really test it.

[2015-05-29 21:28] selimnairb commented on #417
@danames Could you have someone in your group look at: [ref_ts.templates.pages.res.html](https://github.com/hydroshare/hydroshare/blob/develop/ref_ts/templates/pages/res.html#L83)

[2015-05-29 21:29] selimnairb commented on #417
@pkdash Could you fix this for the following?

3. [resource_aggregation.templates.pages.resourceaggregation.html:45](https://github.com/hydroshare/hydroshare/blob/develop/resource_aggregation/templates/pages/resourceaggregation.html#L45)

4. [resource_aggregation.templates.pages.resourceaggregation.html:52](https://github.com/hydroshare/hydroshare/blob/develop/resource_aggregation/templates/pages/

[2015-05-29 23:54] gantian127 commented on #399
@mauriel133 The header info is not editable in editing mode. The header info is the content of the text file of the resource data files. The text file is automatically created when user uploads a ".nc" file.

The plan is to make the text area shown in the resource landing page. If there is no text file in the resource data files, a button will be shown on the resource landing page to create a new

[2015-05-30 20:07] dtarb opened #426 "Error deleting file in Reference time series"
I clicked on the button to delete a file in a reference time series resource and received the following error.  Now I recognize that deleting a file may not make sense, but then the issue is that the delete button should not be shown.  @danames I'm assigning this to you since you are the champion for Ref Time series.  Please re-assign to the person on your team to work on this.

Environment:

Requ

[2015-05-30 20:22] dtarb opened #427 "Required metadata messages and enforcement incorrect for Multidimensional Resource."
I created a Multidimensional (netCDF) Resource.  I added an abstract and keywords.  The message then said "Spatial Reference" was required.  I edited "Spatial Coverage" and received a message that the metadata was complete.  I then went back to the landing page and found that there was still a message saying that "Spatial Reference" was required, but the resource allowed me to make it public.  The

[2015-05-30 22:13] dtarb opened #428 "Owned by me link does not work"
On the latest Dev deployment Owned by me does not work on the resources listing page.  @mjstealey pointed out that this link is http://dev.hydroshare.org/my-resources/?creator=<user>, but it should probably be http://dev.hydroshare.org/my-resources/?owner=<user>.  If I change the "creator" to "owner" in the URL it appears to work.

This may relate to filtering changes by @ironfroggy, so Calvin, pl

[2015-05-30 22:14] dtarb commented on #422
Fixed on dev.

[2015-05-30 22:14] #422 closed

[2015-06-01 03:50] ironfroggy opened #430 "Owner filter does not work when logged out"

[2015-06-01 03:51] ironfroggy opened #431 "Owned By/Viewable By/Editable By Me should not be seen by anonymous users"

[2015-06-01 04:04] horsburgh commented on #431
This goes back to a discussion we had some time ago.  The "Resources" page was originally conceived as the "My Resources" page.  We backed off of that and made it just "Resources" because we do not have an "Explore" page that would enable unauthenticated users to discover public resources.  Originally, the "My Resources" link would have taken unauthenticated users to a page where they could either

[2015-06-01 11:48] ironfroggy commented on #431
I was just thinking about this "Filtering" versus "Discovery" distinction this morning. The quickest route is to just make this page available only to logged in users.

@dtarb thoughts?

[2015-06-01 12:36] mjstealey commented on #431
I don't think you want to completely block potential users who are browsing for what kinds of public resources already exist. That seems counter to the purpose of the "Share" portion of HydroShare.

Perhaps the quickest route around this is adding a second parameter check to the "Owned by me" filter. Say for example "&edit_permission=true", being the same second parameter that is found in "Editabl

[2015-06-01 13:20] dtarb commented on #431
@mjstealey 's solution sounds good.  It may not resolve the quirkiness of the owner search tags, but perhaps that is a separate issue.

Once we have a Discovery page then it would be OK to make this page available only to logged in users.  Until then it serves as our Discovery page as well as My Resources page, so should be open to all.  I do not know how long it is going to be to set up a Discove

[2015-06-01 14:41] horsburgh commented on #431
An "Explore" or "Discover" page will be much more interesting once we have some content in HydroShare.  In the meantime, @mjstealey 's solution sounds good.

[2015-06-01 17:42] gantian127 opened #432 "Required metadata checking is not working as expected for specific resource types"
User should not be able to make a resource public with required metadata of Title, Abstract, Keywords  missing. This function doesn't work as expected for specific resource types. (It works fine with generic resource)

[2015-06-01 18:42] gantian127 opened #435 "set "spatial coverage" as required meta for raster"
The geo-spatial raster resource type needs to have the "spatial coverage" as the required meta before the resource is set as public.

[2015-06-01 19:00] mjstealey opened #436 "Update Resource Naming and Order for NFIE Release"

[2015-06-01 19:45] mjstealey commented on #436
Merged and verified on dev

[2015-06-01 19:45] #436 closed

[2015-06-01 20:12] Castronova opened #440 "Error in Model Program/Instance Link"
An error is occurs when querying known resources of type **Model Program Resource**

[code]

[2015-06-01 20:16] mohamedmorsy commented on #440
@Castronova I already modified that in my pull request #438. Please take a look and let me know if it need more modifications.

[2015-06-01 21:04] hyi opened #441 "clean up to remove old bag deletion code in resource_modified()"
clean up to remove old bag deletion code. This will not cause issues for NFIE release, since the exception is ignored, but will be nice to remove it since it causes extra wasted operations.

[2015-06-02 16:01] Castronova opened #444 "Program minor fixes"
Several minor fixes:

* misspelled word on landing page
* open model program in new page
* required field types?

[2015-06-02 16:38] hyi commented on #441
The fix is properly included in develop branch and deployed on dev. Closing.

[2015-06-02 16:38] #441 closed

[2015-06-02 16:39] hyi commented on #419
Fix is included in develop and deployed on dev. Closing.

[2015-06-02 16:39] #419 closed

[2015-06-02 16:39] hyi commented on #409
Fix is tested on dev. Closing.

[2015-06-02 16:39] #409 closed

[2015-06-02 16:40] hyi commented on #338
Functionality implemented and deployed on dev. Closing.

[2015-06-02 16:40] #338 closed

[2015-06-02 16:44] hyi commented on #415
@selimnairb I think this issue is fixed on dev, right? If yes, could you close this issue?

[2015-06-02 16:49] hyi opened #446 "Improve resource metadata modification performance with further bag table cleanup as needed"
Try to implement on-demand bagging for resource metadata modification for performance improvement with further bag table cleanup across code base as needed.

[2015-06-02 18:11] mauriel133 opened #447 "New access control interface"
I will be revamping the access control interface with one that looks similar to google drive's sharing interface.

[2015-06-02 18:15] mauriel133 opened #448 "My Resources Page: Minor style fix on my resources search box"
As implemented in http://dev.hydroshare.org/my-resources/, the search box in my resources page seems to have two borders.

[2015-06-02 18:22] mauriel133 commented on #448
Adding multiple search items also overflow the search box and the entire page.

[2015-06-02 18:52] selimnairb commented on #415
This issues is fixed on dev.  Closing.

[2015-06-02 18:52] #415 closed

[2015-06-02 20:30] mauriel133 opened #450 "Removing 'Executed By' relation from Add Relation dialog"
As requested by @horsburgh.

[2015-06-02 20:32] horsburgh commented on #450
This was requested by @goodalljl  to address issues with potential confusion over where relationships between model programs and model instances should be created. Jon and Mohamed already have this in the model specific metadata and so we removed it from the generic metadata to avoid confusion.  Thanks @mauriel133

[2015-06-03 00:37] pkdash opened #452 "Remove the feature to create creators/contributors from users"
This feature (mainly the javascript) broke the access control panel functionality on the landing page. So need to remove it.

[2015-06-03 15:03] ironfroggy commented on #448
Someone has to enter a lot of search items to trigger this. @dtarb how do you want me to prioritize this against other work?

[2015-06-03 15:04] ironfroggy commented on #448
Does the linked PR close this ticket?

[2015-06-03 15:07] ironfroggy commented on #407
@mjstealey is this resolved by your recent migration resets

[2015-06-03 15:10] #301 closed

[2015-06-03 15:10] ironfroggy commented on #301
Fixed by previous changes to registration form

[2015-06-03 15:22] mohamedmorsy opened #454 "SWATModelInstance - refinements"
Here are some required refinements for the SWATModelInstance resource type:
* Implement the missing metadata elements: routingTimeStep, and warmupPeriod.
* Modify the ModelObjective metadata element to include Multiple objectives rather than one            objective.
* Implement a check box list for the ModelObjective metadata elements rather than a drop list.
* Remove the redundant metadata eleme

[2015-06-03 15:32] ironfroggy opened #455 "My Resources Page: Own/Edit/Shared with me Checkboxes"
I would also like to see Own, Can Edit, Can View and Public as check box filters on the left as you originally proposed in your 3/11/15 email.  (In general going back through that thread would be good).  Note that there may be multiple Owners, Authors or Contributors.  Note also that filtering on owner is different from the "Resources I Own" filter on the left as it allows finding resources owned

[2015-06-03 15:32] ironfroggy opened #456 "My Resources Page: Sort Resource List by Attribute Column"
I would also like the ability to sort on the columns displayed.  By clicking on the column header the list displayed should be re-ordered similar to the way Windows explorer works on a PC or Finder works on a Mac in list mode.

Follow up from #376

- [ ] Dates must sort by date value, not alphabetically.

[2015-06-03 15:33] ironfroggy commented on #456
This should be done when base models issues are fixed, because we can't do SQL sorting across models without a common model base.

[2015-06-03 15:33] ironfroggy commented on #376
I split some of the remaining issues into their own tasks.

[2015-06-03 16:44] horsburgh opened #457 "www.hydroshare.org - Need to update development status"
The development status listed on the support page says we are at 1.4.  Need to update.

http://www.hydroshare.org/help/

[2015-06-03 17:16] valentinedwv opened #458 "Jenkins open master"
Need to open jenkins too  allow downloading of packages to build restclient

Downloading/unpacking hs-restclient
  Cannot fetch index base URL https://pypi.python.org/simple/
  Could not find any downloads that satisfy the requirement hs-restclient

[2015-06-03 18:22] #430 closed

[2015-06-03 19:25] Castronova opened #459 "Profile phone numbers out of order"
When editing my user profile, I noticed that phone2 comes before phone1.
![screen shot 2015-06-03 at 1 24 33 pm](https://cloud.githubusercontent.com/assets/4822372/7969414/ef214a3e-09f3-11e5-8d6a-49c36be245bb.png)

[2015-06-03 19:26] mauriel133 commented on #448
It takes care of the border style, but not the overflow issue. I think we should keep it open.

[2015-06-03 19:29] Castronova opened #460 "Resource Access Style Expand Button"
The resource access panel that appears on landing pages has a **(+)** sign which enables the user to expand the panel.  However when the panel is expanded, the same **(+)** sign is used to collapse it.  This should be changed to another icon such as **(-)**.

![screen shot 2015-06-03 at 1 27 42 pm](https://cloud.githubusercontent.com/assets/4822372/7969496/739d14dc-09f4-11e5-8c79-b56189c781a0.png)

[2015-06-03 21:43] mjstealey opened #463 "DEBUG = False causes login page to not render as expected"
Setting the DEBUG flag to False in local_settings.py causes the HydroShare login page to render oddly..
This can be set back to True and the login page renders normally again.

This is presently observable on dev.

This should be resolved so that we can run www.hydroshare.org in the DEBUG = False mode so users do not see our stack trace on error.

![screen shot 2015-06-03 at 5 43 25 pm](https://cl

[2015-06-04 04:12] pkdash commented on #463
@mjstealey It seems the settings ```ALLOWED_HOSTS = "*"``` needs to be changed as described here https://docs.djangoproject.com/en/1.7/releases/1.5/#allowed-hosts-required-in-production

This may solve this issue.

[2015-06-04 05:54] pkdash commented on #463
@mjstealey This may be related to serving static files when DEBUG is set to FALSE. Not sure if this documentation here https://docs.djangoproject.com/en/dev/howto/static-files/deployment/ can help resolve this issue.

[2015-06-04 12:56] dtarb commented on #448
@mauriel133 is this something you can/will address, or do you need help.

[2015-06-04 19:21] mauriel133 commented on #448
I need help from the person who implemented it.

[2015-06-04 19:40] ironfroggy commented on #448
@mauriel133 can you be more specific? what sort of help do you need?

[2015-06-04 19:48] mauriel133 commented on #448
When an item is picked from the autocomplete it gets added to a container within the search box. The cursor on the search box is also moved to the right to make room for the item. But this results in the search box overflowing and layout errors in general. Possible solutions

1 - Make the search box expand when necessary.
2 - Have the container displayed always below the search box and have it exp

[2015-06-04 19:56] ironfroggy commented on #448
This is all implemented in my-resources.html right now.

I wanted to keep the search items as a prefix to th etyped terms in the
search bar, as if they were part of what you've got typed in. This is
possible to keep, but is going to be harder to support for multiple rows. I
think you should move them below the search bar as suggested.

On Thu, Jun 4, 2015 at 3:48 PM, Maurier Ramirez <notifications

[2015-06-04 19:58] mauriel133 commented on #448
Alright, I'll take care of that.

[2015-06-04 20:51] mjstealey opened #466 "HISTimeSeries files output to the hydroshare directory"
HISTimeSeries files are winding up in the main hydroshare directory.
This should not occur.

Example from www.hydroshare.org:
[code]

[2015-06-04 21:02] jsadler2 opened #467 "If a resource type is included for a tool, the resource breaks"
I made a tool and included RefTimeSeries as one of the relevant resource types. When I click a RefTimeSeries resource it gives me this :/
![capture](https://cloud.githubusercontent.com/assets/6943441/7994432/a1580ac2-0aca-11e5-9891-a364c2735e4c.PNG)

[2015-06-04 21:13] jsadler2 opened #468 "Error! Metadata updated failed. - Application Resource"
When I edit any of the metadata elements, general or resource specific, I get "Error! Metadata updated failed." when I click save. However, the changes seem to be saved all the same.

[2015-06-04 22:56] pkdash commented on #467
@jsadler2 It is not possible to navigate from metadata element to its container object then to the resource  that uses that metadata container object. We used to be able to that pre 1.5 release. I think you can get the url like this:
 ```url = res_type.content_object.url_bases.first()```

[2015-06-04 23:05] jsadler2 commented on #467
Okay. I'll try that out thanks @pkdash

[2015-06-05 16:14] mohamedmorsy opened #469 "Model Instance - Fix landing page style"

[2015-06-05 19:28] rayi113 commented on #376
In the Chrome browser, on dev.hydroshare.org, let's say I want to do a search for all HydroShare resources with the word "test" in the title.  When I type test in the search box without quotes, it auto-identifies "Owner test user (testuser)" and "Subject test" as search parameters, however neither of these give the desired result.

![search_test_02](https://cloud.githubusercontent.com/assets/28460

[2015-06-06 13:56] dtarb opened #471 "Website on model resource should be a link"
On a model resource (e.g. see http://www.hydroshare.org/resource/2cddae40e9594c21b947fdbbe4225439/) under resource specific the website URL should be a link

[2015-06-06 16:39] #469 closed

[2015-06-07 16:19] ironfroggy commented on #376
@rayi113 can we open additional issues to track what you've identified? But before you do that, some quick responses:

- What is wrong with the first behavior? If the word you type matches those two items, they should be suggested. If neither are what you want, then neither need be used. They are only suggestions, after all.
- What versions of Internet Explorer does Hydroshare policy support? How

[2015-06-07 18:17] dtarb commented on #376
As policy we should support the most recent version of all major browsers (which granted is a bit of a moving target, but it is reality).  I am not sure which version @rayi113 tested with.

Testing with Firefox 38.0.5 currently the latest version I get the following somewhat counter intuitive behavior.

I type tarboton in the search box.  I get nothing found.  I type d in the search box and get an

[2015-06-07 20:01] dtarb commented on #452
Tested on www.hydroshare.org.  Working without this feature, so closing.  We need another feature request to properly implement add existing user as resource creator or contributor

[2015-06-07 20:01] #452 closed

[2015-06-07 20:09] dtarb commented on #432
Tested on www.hydroshare.org with Raster and Multidimensional resources.  Working properly.

[2015-06-07 20:09] #432 closed

[2015-06-07 20:12] dtarb commented on #427
Tested on www.hydroshare.org and found to be working properly.

[2015-06-07 20:12] #427 closed

[2015-06-07 20:19] dtarb commented on #435
I am not sure what behavior you are expecting, I loaded Honduras.tif. All coverage fields were filled as NA.  It is possible to make the resource public without filling in spatial coverage.

[2015-06-07 20:32] dtarb commented on #387
Satisfactory in 1.5.1 deploy.

[2015-06-07 20:32] #387 closed

[2015-06-07 20:33] dtarb commented on #369
Deployed in 1.5.1

[2015-06-07 20:33] #369 closed

[2015-06-07 20:34] dtarb commented on #358
Closing as NFIE deployment is out.  Any remaining issues need new ticket.

[2015-06-07 20:34] #358 closed

[2015-06-07 20:35] dtarb commented on #352
Closing as NFIE deploy is out.  Remaining issues to get new ticket.

[2015-06-07 20:35] #352 closed

[2015-06-07 20:37] dtarb commented on #351
Tested in 1.5.1 Deploy and working as expected.

[2015-06-07 20:37] #351 closed

[2015-06-07 20:38] dtarb commented on #350
Basic filtering has been deployed with 1.5.1.

[2015-06-07 20:38] #350 closed

[2015-06-07 20:39] dtarb commented on #349
Deployed with 1.5.1 and tested with a few files.

[2015-06-07 20:39] #349 closed

[2015-06-07 20:40] dtarb commented on #335
Appears to have been fixed with bagit restructuring.  Have successfully loaded files upward in size of 1 GB.

[2015-06-07 20:40] #335 closed

[2015-06-07 20:43] dtarb commented on #334
Labeled for possible hotfix.  Functionality is improved with bagit restructuring, but editing of metadata on large resources still results in the error message being displayed even though the editing completes satisfactorily.

[2015-06-07 20:45] dtarb commented on #296
Bagit restructuring as stood up capability to work with large files.

[2015-06-07 20:45] #296 closed

[2015-06-07 20:47] dtarb commented on #214
@horsburgh or @selimnairb can one of you Mac users test whether this is still a problem on www.hydroshare.org and if not, close this issue.

[2015-06-07 20:49] dtarb commented on #76
Working satisfactorily on www.hydroshare.org

[2015-06-07 20:49] #76 closed

[2015-06-07 20:59] dtarb commented on #185
Not fully resolved for 1.5.1 release.  Still needs metadata updating separate from bag zipping and bag zipping only on demand to improve performance of metadata editing.  Labeled for possible hotfix.

[2015-06-07 21:14] dtarb opened #472 "Filtering refinements"
Enhance the filtering to support partial text in fields searched and make filtering more intuitive.

As presently implemented entering a word or part of it in the title or abstract identifies a resource properly, but entering a word in a creator or contributor that is not the beginning does not.  Specifically if I type tarboton in the search box. I get nothing found. I type d in the search box and

[2015-06-07 21:16] dtarb opened #473 "Policy and strategy for supporting evolving browsers"
1. [ ] Firefox
2. [ ] Internet Explorer
3. [ ] Chrome
4. [ ] Safari

[2015-06-07 21:19] dtarb commented on #376
Closing this issue as we are done with NFIE Release.  Remaining issues are in separate tickets: #421, Field Labels; #448 Style Fixes; #455, Own, Edit, View, Public boxes; #456, Column Sorting; #472, Filtering Refinements and #473 Browser Consistency.

[2015-06-07 21:19] #376 closed

[2015-06-07 21:21] dtarb commented on #363
Implemented in 1.5.1

[2015-06-07 21:21] #363 closed

[2015-06-07 21:22] dtarb commented on #315
Implemented in 1.5.1

[2015-06-07 21:22] #315 closed

[2015-06-07 21:23] dtarb commented on #293
Resolved in 1.5.1 deploy.

[2015-06-07 21:23] #293 closed

[2015-06-07 21:26] dtarb commented on #324
The problem of Spatial Reference Holding Spurious information when it is missing still persists.
![untitled](https://cloud.githubusercontent.com/assets/3456833/8026163/89fc11be-0d29-11e5-84ec-feedb03100d5.png)

[2015-06-07 21:30] dtarb commented on #165
Closing.  New issues need to be created for metadata editing enhancements beyond 1.5.1

[2015-06-07 21:30] #165 closed

[2015-06-07 21:36] dtarb opened #474 "Single subject keyword deletion fails"
An attempt to delete a subject keyword where there is only one present results in a message "Error! Metadata updated failed."  If we are enforcing a policy that the last keyword can not be deleted the error message should be changed to "Cannot delete keyword.  At least one keyword is required".

For other cases where the metadata update fails, the grammar should be corrected to "Error! Metadata up

[2015-06-07 22:40] dtarb opened #475 "Revamp the user profile page and user model"

[2015-06-08 00:29] gantian127 commented on #435
@dtarb This function won't check the extended metadata of "spatial reference". It checks the Dublin core metadata of spatial coverage as box. I just created one resource on dev site and it works. If you test the function in the same way but it doesn't work as expected, please let me know with the resource link. Thanks.

[2015-06-08 01:15] horsburgh commented on #214
I just tested on my iPhone and in my browser, and the sign in form now remains visible.

[2015-06-08 01:15] #214 closed

[2015-06-08 01:54] ironfroggy commented on #473
A browser support table has to be more specific than some browser names. Firefox releases a new version every six weeks, Chrome is on a similar schedule releasing 7 new versions in 2015 alone. Internet Explorer had a traditionally longer cycle, but has released 10 and 11 to fanfare, while some organizations are still stuck (very sadly) with the extremely crippled (and security vulnerable) 8 and 9.

[2015-06-08 04:29] pkdash commented on #474
For any metadata element when the update fails currently we just show that the update failed without showing more specific reason why it failed. Though at the the back end specific error is raised we are currently not propagating that message to the UI. That needs to be fixed/implemented.

[2015-06-08 05:21] dtarb commented on #473
I am happy to go with the rule of thumb of the most recent two versions of each of the above 4 vendors.  I'd prefer to the maximal extent possible not to have a lot of browser specific conditionals.  If we can keep the code simple so that the same code works across all browsers that is preferable.

[2015-06-08 11:39] ironfroggy commented on #463
This is best resolved by putting a proper Nginx and Apache server up and running Hydroshare via a WSGI gateway with static and media served up by the native webserver, as detailed in the Django deployment help.

[2015-06-08 13:13] rayi113 commented on #457
This has been updated:
![hs_dev_status](https://cloud.githubusercontent.com/assets/2846017/8035407/696f368e-0dbe-11e5-902d-fc7842292820.png)

[2015-06-08 13:41] hyi commented on #185
@dtarb This follow-up issue has been raised in  #446 and being worked on. Once a proper deployment with sufficient resource for testing large file metadata update specifically for NFIE use cases is complete, we'll open it up for team testing. Once vetted, it will be good to make a hotfix for NFIE.

[2015-06-08 13:46] hyi commented on #334
linking it to issue #446 currently being addressed.

[2015-06-08 18:47] ironfroggy commented on #475
How long do we wait for them to verify the e-mail address? We need to expire this, because we have to treat that e-mail as unavailable for use until we validate.

I am a little concerned about the cost versus reward on this one. We will have to return to our own homegrown e-mail validation implementation, because the validation built into Mezzanine only understandands validating an existing pendin

[2015-06-08 19:46] selimnairb opened #476 "Add content length header to django_irods download view response"
django_irods.views.download() should set the Content-Length header.  This probably entails getting file stat from an iRODS icommand.  This will allow user agents to provide feedback on file download progress.

Assigning to @hyi for now.

[2015-06-08 19:53] selimnairb opened #477 "Set specific MIME type for django_irods download view responses"
django_irods.views.download() should set a specific mime type for its responses, defaulting to 'application/octet-stream' if no mime type was found.  The built-in Python library *mimetypes* can be used to do this, for example:

    mime_type = mimetypes.guess_type(filename)
    if mime_type[0] is None:
        mime_type = 'application/octet-stream'
    else:
        mime_type = mime_type[0]

[2015-06-09 15:35] dtarb commented on #475
30 min is OK.

I am happy to relax some of the requirements in the interest of avoiding homegrown email implementation and welcome suggestions in this regard.

In the present implementation it is possible to have multiple accounts with the same email address (I just did it).  We want to enforce only one account per email address.

I would prefer to resolve the issues of email clashes by checking e

[2015-06-09 15:41] zhiyuli opened #478 "Resources files may be lost or unexpected files appear when repeatedly refreshing a HIS Referenced Time Series resource landing page"
This issue may be related to #466

An unbroken Referenced Time Series (Refts) resource should contain four resource files: *.csv, *-wml_1.xml, *-wml_2_0.xml and *.png. When a user repeatedly refreshes a landing page (e.g., http://www.hydroshare.org/resource/cd54cddcabc24e80b5a91deb59cc681a/
or
http://dev.hydroshare.org/resource/c377d07efcfb484ab0da1c5c2ec7c7ac/), it may happen:

1)	Snapshot 1: All

[2015-06-09 17:23] ironfroggy opened #479 "Concrete base metadata model"

[2015-06-09 18:02] ironfroggy commented on #359
![img_20150609_135715 959](https://cloud.githubusercontent.com/assets/34982/8065541/19d5c1e0-0eb0-11e5-95dd-5ec0bfb12bc2.jpg)

[2015-06-09 20:13] Castronova opened #480 "Resource Rating Functionality Missing"
In the latest version of HydroShare (hydroshare.org) users can rate comments, but are unable to rate resources.  Users should have the ability to rate (or +1) individual resources.

[2015-06-09 20:35] hyi commented on #480
This issue is a regression resulting from three lines being dropped off from genericresource.html which was probably caused by merging somewhere along the way. Have added them back and tested on my local 446-feature branch. The lines added can be seen here: https://github.com/hydroshare/hydroshare/commit/4793dba060a58ff3079dff3995c4c52766afe42d. I am including this fix in my 446-feature branch whi

[2015-06-09 21:20] zhiyuli commented on #466
@pkdash  @selimnairb @jsadler2  @mjstealey
A Refts resource is referencing (or say a copy of ) an external non-hydroshare resource. Each time users refresh a Refts resource landing page, the backend retrieves again the data and creates new files, temporarily stores them on hydroshare server, updates existing Refts resource files and finally deletes these temporary files.

We tried using tempfile.m

[2015-06-10 00:39] dtarb commented on #466
I question the workflow associated with this model where every time a page is refreshed the dataset is downloaded and files regenerated.  This needs rethinking.  A reference resource is by definition a link to data kept somewhere else.  It seems to me it should not need files stored locally.  If files are stored in HydroShare then it is a resource held by HydroShare and should be characterized as

[2015-06-10 00:56] valentinedwv commented on #466
If the files are small, can you map the to memory

Sent from my iPad

[2015-06-10 11:44] selimnairb commented on #466
@zhiyuli What do you mean by "However when we pass these file handles to hydroshare.add_resource_files(), it will break down."?  Could you describe the failure in more detail?

You might also try storing them in redis if they are less than 512MB.  You can set a time to live so that data are periodically re-fetched: http://redis.io/topics/data-types-intro#redis-expires-keys-with-limited-time-to-liv

[2015-06-10 13:12] dtarb opened #481 "Access control bug"
A user who has been given edit permissions on a resource can go into the manage access control and add a user (that may be themselves).  This elevates their permissions levels over the resource.  This is inconsistent with the specified policy.

[2015-06-12 14:32] pkdash opened #484 "Message 'Metadata complete' should be displayed only once"
This message gets displayed every time you update a metadata element when the resource has all required metadata. The message should only be displayed once when resource has all the required metadata the first time.

[2015-06-12 18:41] selimnairb opened #485 "REST API: Add option to unpack uploaded zipfile on resource creation"
Calls to POST /hsapi/resource/ should be able to specify that the uploaded resource file is a zipfile archive that should be unpacked as part of the resource creation process

[2015-06-12 18:48] selimnairb opened #486 "REST API: Add ability to ingest resource from fully formed BagIt archive"
Create new REST API end point, POST /hsapi/resourceFromBag/, that creates a resource based on a fully formed BagIt archive.  If the ID of the resource encoded in the bag does not exist, the resource will be created with that ID.  If the ID already exists, then a new ID should be generated for the resource.

[2015-06-12 18:56] selimnairb opened #487 "REST API: Add resource landing page URL to resource system metadata"
The resource metadata should include the URL to the resource landing page.  As it stands now, when creating a new resource via the REST API, only the resource ID is returned.  If the user agent wishes to redirect the user to landing page for a resource, newly created or already existing, the user agent needs to guess at the URL pattern HydroShare uses to form resource landing page URLs; this forma

[2015-06-12 19:27] dtarb commented on #487
Does this issue pertain to the URL in the code.  The resourcemetadata.xml file does include the full path.

[2015-06-12 19:36] horsburgh commented on #486
The original createResource function was supposed to do this, but we had a lot of discussion about that.  So, just to clarify - there will be two methods right: 1) create a new blank resources to which you can add content; and 2) create a new resource from a fully formed bag?

[2015-06-12 19:42] horsburgh commented on #487
Yeah - it's in the very first RDF element.  So, you could get it easily by retrieving the resourcemetadata.xml file.

[2015-06-12 22:44] zhiyuli commented on #466
I got this error when adding a list of files with absolute paths
(/tmp/tmpbUXKVX/*.*) to a resource :
hydroshare.add_resource_files(res.short_id, *files)

Looks like irods trying to create a similar folder structure but failed...
[image: Inline image 2]

On Wed, Jun 10, 2015 at 5:44 AM, Brian Miles <notifications@github.com>
wrote:

[2015-06-15 04:46] dtarb opened #488 "Develop capability to properly cite content for which HydroShare is not the primary source"
Edited to accommodate discussion below

This issue addresses the problem discussed in writing the resource data model paper where the SWMM model has been included in HydroShare but without direct acquiescence of the original developers.  This model appears to be public domain so this is allowed, but proper attribution and citation is needed.

I suggest the following
- Resources may have an attribu

[2015-06-15 13:34] selimnairb commented on #466
@zhiyuli Sorry, we can't see your screenshot.  Could you describe the error?

[2015-06-15 15:06] zhiyuli commented on #466
@selimnairb
Hi Brian,
This is the error message.
P.S. Should I reply this thread in my email or on github website?
Thanks
Drew

SessionException at /hsapi/_internal/create-ref-time-series/

(SessionException(...), 'Error processing IRODS request: 3. stderr follows:\n\nERROR: mkdirUtil: mkColl of /tmp/tmphbOOCC error. status = -130000 SYS_INVALID_INPUT_PARAM\n')

Request Method: 	POST
Request URL:

[2015-06-15 15:42] selimnairb commented on #486
@horsburgh Yes.

[2015-06-15 15:44] selimnairb commented on #466
@hyi Any ideas what this iRODS error might be?

[2015-06-15 15:57] danames commented on #466
David T. We make a local copy temporarily to speed up graphing and
download. It's just a caching mechanism. Maybe we need to make a more
site-wide useful caching system, but I'm not sure what other resources need
it.

On Mon, Jun 15, 2015 at 9:44 AM Brian Miles <notifications@github.com>
wrote:

[2015-06-15 16:03] selimnairb commented on #466
@danames We should refactor this to cache globally using redis (which should already be configured for use in our environment), or something like it.  As it stands now, if we bring up multiple Django instances running on distinct VMs (which we will likely need to do at some point to scale out), hs_timeseries may break if the cached file is not available under the same name on all instances.

[2015-06-15 16:31] horsburgh commented on #488
Just a couple of considerations here.  A user may have put a copy of SWMM in HydroShare as a Model Program resource to reflect the particular version used for an analysis - effectively freezing it in time.  If our citation points back to some other location, we have no guarantee that the other location will always be available or that the content will not change. In this case, the citation needs t

[2015-06-15 17:22] hyi commented on #466
@zhiyuli @selimnairb This error means iRODS cannot create a directory/collection in /tmp due to permission. Since we are using that irods proxy user to store files in iRODS, you can only store files under the home directory of that irods proxy user. If you need to add a temporary file as part of the resource via Add_resource_file() call, the file needs to be stored as part of the resource in irods

[2015-06-15 18:50] zhiyuli commented on #466
@hyi  Sorry, I don't quite understand how the proxy user works...We want to create a temporary directory on Django server to store some files (/tmp/*.*). After uploading these files to irods (/resource_id/data/contents/*.*), we will remove this folder and files on django server. Can we do that?

Thanks
Drew

[2015-06-15 18:59] selimnairb commented on #466
@zhiyuli As I mentioned before, this is not a good idea as eventually it will break when we bring up additional Django servers to serve HydroShare.  In the short term, if you must store temp files locally, you should use the [tempfile](https://docs.python.org/2.7/library/tempfile.html) module rather than assuming you can write to /tmp.

I suggest that you push the code in question to a branch and

[2015-06-15 19:05] hyi commented on #466
@zhiyuli Yes, you can do that, and @gantian127 might have done something similar to netcdf resource when creating the header.txt file although I am not sure whether this is indeed the case. Try to do UploadedFile(file=tmpfile, name=filename) then pass in this UploadedFile as parameter to add_resource_files() to see whether this fixes your issue.

[2015-06-16 19:13] jsadler2 opened #490 "Rephrase "Error! Metadata updated failed.""
"Error! Metadata updated failed." is the message when a metadata element fails to update. It should be rephrased. "Error! Metadata failed to update." or "Error! Metadata update failed." would be better

[2015-06-16 19:38] dtarb commented on #490
Relates to #474 too.

[2015-06-17 14:12] mjstealey opened #491 "nginx - incorperate into HydroShare (Phase 1 & 2)"
Anticipated work for nginx incorporation into HydroShare

Phase 1 - Base Deployment
- [x] uwsgi_pass
- [x] static files
- [x] media files

Phase 2 - Add SSL certs / investigate load balancing
- [x] certificate files
- [x] redirects
- [x] load balancing

[2015-06-17 17:47] dtarb commented on #478
@zhiyuli indicated that this is still an issue with the new bagit restructuring in park.hydroshare.org.

http://park.hydroshare.org/resource/3c74d1820b1948a48e91ecc0915f298e/

One possible reason for this is that the latency is due to the time being taken to reconstruct the files from the web service, rather than due to retrieving them from iRODS.  If this was the cause (which needs checking) then

[2015-06-17 20:18] zhiyuli opened #492 "tool/app permission bug"
A tool/app associated with a res should display on that res' landing page only if the tool/app is public or the current user owns this tool.

[2015-06-17 20:32] dtarb commented on #492
There are also in between cases.  If a tool is not public, but has been shared with a user or a group the user is part of then that tool should be accessible to the user.  Basically access to tools should follow the same rules as access to other resources in terms of sharing.

[2015-06-17 23:11] zhiyuli commented on #478
@dtarb @selimnairb @hyi @jsadler2

Hong and Brian,
I merged our current refts workflow (deprecated) into Hong's 446-improve-res-mod-perf branch.
Now first time creating a refts res is implemented by "hydroshare.add_resource_files(res.short_id, *files)"; When users refresh the landing page, the res is updated via hydroshare.update_resource_file(res.short_id, file.name, file)". As Hong told me in th

[2015-06-18 13:48] hyi commented on #478
@zhiyuli @selimnairb After looking into update_resource_file() routine in resource.py, I found it actually delete resource file first, then add an updated resource file, so calling update_resource_file() has the same effect as your previous implementation to delete it, then add an updated one. In our current model implementation, it may not be possible to update the file in place without deleting

[2015-06-18 14:19] zhiyuli commented on #478
@hyi Yes, I think in my case the communication between django server and irods server should be blocking communication. Something likes the function hydroshare.update_resource_file() should wait for a irods signal saying "all files are already stored properly", then return and go on with following code...

The bag download button is good now

Thanks
Drew

[2015-06-18 18:40] mauriel133 commented on #490
Oh, I started working on this before noticing that Hong already took care of it. Sorry.

[2015-06-18 18:49] hyi commented on #490
@mauriel133 Yeah, at yesterday's team call, this issue was brought up and was asked to be incorporated into the NFIE hotfix release, so I just simply corrected the typo in my branch which is slated for the NFIE hotfix release.

[2015-06-23 22:55] zhiyuli opened #494 "Edit permission too powerful & single user removal problem"
On www.hydroshare.org:

1) A user which has been given "Edit" permission (middle level) is able to grant himself or others owner privileges (top level), including taking off the original owner.

2) If there is only on user on the Edit (middle) or View (Low) permisson list, there is no way to take that user off

Drew and Jeff

[2015-06-24 11:23] mjstealey commented on #491
First phase deployed on dev.
nginx is redeployed on each rebuild triggered by jenkins servers.

[2015-06-24 15:35] pkdash commented on #168
@horsburgh Close this issue if you think this has been fixed.

[2015-06-24 15:38] hyi commented on #490
ready for testing on park.hydroshare.org

[2015-06-24 15:39] hyi commented on #480
Ready for testing on park.hydroshare.org

[2015-06-24 16:47] hyi opened #495 "Resolve concurrency race conditions on iRODS for the new bagit workflow"
Add lock for concurrency management to lock irods bagit rule and ibun zipping operations on iRODS side via microservices or bringing in some external services to enforce locking in order to resolve race condition resulting from multiple requests trying to modify/download the same resource at the same time to guarantee the resource bag integrity

[2015-06-24 19:08] selimnairb opened #496 "Create diagram documenting system architecture"
We need a diagram that documents the current (and planned?) architecture, i.e. which services are running in which containers, and how those containers and services are linked.

[2015-06-24 20:12] zhiyuli commented on #466
merged to dev. closing

[2015-06-24 20:12] #466 closed

[2015-06-24 20:14] zhiyuli commented on #467
already merged. closing

[2015-06-24 20:14] #467 closed

[2015-06-24 20:18] zhiyuli commented on #494
@dtarb
No.1 is the same as #481 ;  No.2 is a new issue.

[2015-06-24 20:30] selimnairb opened #498 "Develop use cases and wire frames for model program execution"

[2015-06-24 20:30] selimnairb commented on #498
Along with @Castronova and @goodalljl and myself.

[2015-06-24 20:38] hyi commented on #446
deployed on www.hydroshare.org. Closing.

[2015-06-24 20:38] #446 closed

[2015-06-24 22:08] zhiyuli opened #499 "HISTimeSeries preview figure does not display on www.hydroshare.org (NFIE 1.5.2)"
HIS Time Series on NFIE release 1.5.2 (www.hydroshare.org) does not display the time series preview  figure when creating a res. However the code works on park.hydroshare.org.
The figure should be located at "http://www.hydroshare.org/static/img/visualization-*.png" but in our exploring, it seems like it is not generated and stored here at all. @mjstealey, is there a difference in "www" that would

[2015-06-24 22:12] horsburgh commented on #168
I will close for now.  All of the information that can be copied from the profile into the creator is being copied.   The Address and Homepage elements are not copied in, but you can't actually put that information in on the Profile editing page yet either.  So, we may want to revisit when the profile creation and editing is complete.

[2015-06-24 22:12] #168 closed

[2015-06-24 23:57] mjstealey commented on #499
@zhiyuli - the code that is on park is based on branch [446-improve-res-mod-perf](https://github.com/hydroshare/hydroshare/pull/483).
This works on park because it is writing directly to the hydroshare directory.

There is no fundamentally no difference between www and any other deployments, however your comparison to how park operates isn't valid since it uses you old code.

To debug, download a

[2015-06-25 11:53] dtarb commented on #499
I do not think .../static/img/visualization... is the right place for a resource to be serving files.  Any files associated with a resource should be in the resource/<GUID> path.  This is notwithstanding changes to avoid the storage of these files for this resource type altogether.

[2015-06-25 15:36] mjstealey opened #501 "HydroShare VM Infrastructure and purpose"
Discuss, diagram and document the full HydroShare VM suite as it pertains to:
- Testing environments
- Build environments
- iRODS environments
- Other support structure
- Per VM listing of
  - Hostname and IP
  - CPU, RAM and disk (local and network)
  - Interconnections to other VMs

[2015-06-25 15:39] #185 closed

[2015-06-25 15:39] #334 closed

[2015-06-25 15:40] #109 closed

[2015-06-25 17:23] zhiyuli commented on #499
@mjstealey  @dtarb
Sorry we did not make it clear.
We know current www and park are running different HISTimeSeries code. However the code related to this issue is the same.
This issue occurs during the resource creation process and only concerns the preview figure files which are stored temporarily and deleted when a resource is created. This is not the visualization file that is currently added

[2015-06-25 17:52] zhiyuli opened #502 "Refactoring HISRefTimeSeries - Downloadable files on the fly"
@dtarb @danames @pkdash @hyi @mjstealey @selimnairb
With the design change we have settled on as a team, the HISRefTimeSeries resource will no longer store resource files in IRODS, making it a truer "reference" type resource. However, this raises a challenge. How can we make files available for download that are only stored temporarily (in Django)? We can easily store these in the 'tmp' folder, ho

[2015-06-25 17:53] mjstealey commented on #499
park has been redeployed using the same code as www.
The only difference between the two is that DEBUG=False on www.

The only valid HIS TS resource on park that I could find was created on June 17: http://park.hydroshare.org/resource/33e3827f2af54af796602865b26d8dfc/

There is also a HIS TS resource on www from June 24: http://hydroshare.org/resource/b9a729c828d147288588ac02b5a7a93b/

I'm not see

[2015-06-25 18:26] zhiyuli commented on #499
The issue is not on the landing page, it occurs in the middle of resource creation process when user choose parameters and prepare to create the resource.
The problem seems to be with the debug setting (see snapshots).

park:
![image](https://cloud.githubusercontent.com/assets/10070599/8362055/f16723e4-1b33-11e5-829c-ca8e4f553b5e.png)

www:
![image](https://cloud.githubusercontent.com/assets/10070

[2015-06-25 18:35] mjstealey commented on #499
@zhiyuli - Okay, this is interesting.

I had run into a similar issue with the rendering of the account login and reset password pages when I first set DEBUG=False on www as well.

In that case it was a matter modifying the base page of what Django was using to display the form which then worked for both DEBUG = True and False.
Reference: https://github.com/hydroshare/hydroshare/commit/717a1b00a4d

[2015-06-25 22:04] zhiyuli commented on #499
@mjstealey
A quick test shows:

When Debug = True, both /hydroshare/theme/static/img/*.png and /hydroshare/hydroshare/static/img/*.png are mapped as http://*.hydroshare.org/static/img/*.png

When Debug = False, only /hydroshare/hydroshare/static/img/*.png is mapped as http://*.hydroshare.org/static/img/*.png

We don't know why it happens. Anyway now we changed it to store the preview figure files

[2015-06-26 13:33] dtarb commented on #496
I agree that a diagram is important and want to promote getting started on this asap.  Is there a technology that is best for us to work together on this.  There are some visio diagrams in Alfresco that @pkdash may be able to update.  Another option is Google Drawings.  There is one at https://docs.google.com/drawings/d/1i43SLJLxiIyrXbzionoGZyOgDS8kdw0CswtyIBWWIxg/edit that addresses the HydroShar

[2015-06-26 15:34] zhiyuli opened #503 "Geographic Feature Res Type - Phase-1"
Focus on handling shapefiles

[2015-06-30 12:26] ironfroggy opened #506 "Setup test runner with coverage report"

[2015-06-30 17:26] ironfroggy commented on #506
Currently the tests have 118 failures. I'm going to mark them for skipping right now, and would like them to be reviewed over time to decide individually to remove or fix. This will give us a reliable test runner to start over from with ~70 tests passing.

[code]

[2015-06-30 22:23] dtarb commented on #503
See #7

[2015-07-02 17:02] hyi opened #510 "File size check does not work for files brought in via iRODS browser when creating resources"
While working with Ray on creating a Hydroshare resource using the large NFIE geo database file (~12GB) via iRODS browser from NFIE zone, I found files brought in via file browser has the size attribute as None, hence check_resource_files() routine cannot retrieve the file size to compare against the predefined file size limit (currently 10GB), and simply returns True for this case. Will need to r

[2015-07-05 21:17] dtarb commented on #490
Tested and satisfied with behavior on park.

[2015-07-05 21:17] #490 closed

[2015-07-05 21:26] dtarb commented on #480
Tested and appears to be working correctly on both park and www (via the hotfix I assume).

[2015-07-05 21:26] #480 closed

[2015-07-05 21:32] dtarb commented on #457
This is out of date again as the current footer indicates 1.5.2 but this says 1.5.1.  I suggest revising this text to point to development activity on github without a number that gets out of sync with each release.

[2015-07-06 18:07] rphooper opened #512 "Update profile doesn't work"
Attempted to update profile (add picture, etc.) when I click "Update Profile", I am told that the email used is already registered. Hence, it seems to be trying to create a new account rather than updating an existing account.

[2015-07-06 19:18] alvacouch opened #513 "geoAnalytics contains non-conforming access control mechanisms"
The GeoAnalytics interface (ga_\*) is
a) hopelessly out of date
b) unused except for utility functions
c) not compliant with access control conventions (Page\*Mixin rather than Resource\*Mixin)

It would be good to delete that code from the project.

We would have to start over anyway, were we to eventually want to use it.

[2015-07-06 23:31] gantian127 opened #515 "metadata editing mode err for specific resource type"
I pulled the latest code from 'develop' branch. After I created a new netCDF or Raster resource, I click on the editing metadata button, it shows the following error (The error won't appear for generic resource ).  This seems to be caused by the code update in hs_core. The page_processors.py for each specific resource type may need to be updated.

![l olbgoqrbcuq xs gl 34](https://cloud.githubuser

[2015-07-07 00:19] dtarb commented on #512
@rphooper I checked and there are two HydroShare accounts for you.  One named rhooper and one named rphooper.  Both have the same email address.  This is a potential for conflict because if you use the email address to log in, the system may not know which account to log you in to.  Update profile attempts to protect against this - but it is a bug as duplicate accounts with the same email address

[2015-07-07 00:23] rphooper commented on #512
Thanks, please do so.

Sent from my iPad

On Jul 6, 2015, at 8:19 PM, David Tarboton <notifications@github.com<mailto:notifications@github.com>> wrote:

@rphooper<https://github.com/rphooper> I checked and there are two HydroShare accounts for you. One named rhooper and one named rphooper. Both have the same email address. This is a potential for conflict because if you use the email address to lo

[2015-07-07 00:26] dtarb commented on #27
A quirk just discovered related to this (#512) is that if a user has another account with the same email address (which should not be permitted) they are unable to edit their profile.

[2015-07-07 00:44] dtarb opened #516 "Keywords look like buttons"
Based on Rick Hooper's review of HydroShare he was puzzled by the appearance of what are keywords below Subject on the landing page.  They look like buttons, and change color when hovered over reinforcing that they may be buttons, but clicking on them does nothing.  I suggest changing to a comma separated list of words as plain text.

[2015-07-07 00:50] dtarb opened #517 "Include README file in bag"
Based on Rick Hoooper's review of HydroShare he was puzzled by what was received when he downloaded all content as a zipped bagit archive.  When the file is unzipped it is not clear what is what.  This could be helped if at the top level in the bag there was a README file explaining the contents.

[2015-07-07 01:45] dtarb opened #518 "Look at portal.lternet.edu for ideas on improving resource landing page"
Based on review of HydroShare with Rick Hooper he noted a number of places where retrieving information from HydroShare resources and their landing pages was unclear, and possibly better done at portal.lternet.edu
- There is a metadata link that expands the metadata.  This seemed more user friendly than our resourcemetadata.xml retrieved as part of the bag with no easy visualization tools.
- There

[2015-07-07 17:46] mjstealey commented on #517
Is this not covered by the link on every resource landing page below the "Download All Content as Zipped Bagit Archive" button: [Learn more about the Bagit archive format](http://en.wikipedia.org/wiki/BagIt)

This seems like something that once you read it, you don't need to have it re-explained and attached to every resource. Otherwise the README becomes part of the bag, and ergo part of the reso

[2015-07-07 18:00] pkdash commented on #517
Agree with @mjstealey

[2015-07-07 18:02] hyi commented on #517
Also agreed with @mjstealey

[2015-07-07 18:02] selimnairb commented on #518
We could do something similar to adding R scripts, but using https://jupyter.org to host R and Python scripts that could be run in the browser.  @swainn Is there a plan to add a Jupyter-based Tethys tool?

[2015-07-07 18:07] dtarb commented on #517
I think we need to listen to feedback we get from users of the system who are not intimately familiar with what bags are.  Lets face it, bags are a pretty obscure thing.  Let's make it easy for users to know what they have when they have downloaded it @rphooper was contrasting this with portal.lternet.edu, and he found it hard looking at HydroShare resources to know what he was getting.

[2015-07-07 18:20] selimnairb commented on #517
I agree with @dtarb.  It is legal, according to the BagIt [draft](https://tools.ietf.org/html/draft-kunze-bagit-05#section-2.2.4) for there to be a top-level README.txt.  The question is, what should the contents be?  We could make an XSLT stylesheet to render the science metadata as plain text stored in /README.txt on bag creation.

[2015-07-07 18:29] zhiyuli commented on #517
Another possible use case is a HS user downloads a zip bag and email it to a non-HS user. A brief readme may be helpful

[2015-07-07 18:46] swainn commented on #518
There are no plans for integrating jupyter into Tethys at this point, but there is also nothing restricting an app developer from incorporating it into an app for a specific use case. If it becomes a tool that is need frequently in multiple apps, then I would consider creating a tool/gizmo for it. @selimnairb what capabilities do you see jupyter being used for? Plotting via R scripts?

[2015-07-07 18:49] selimnairb commented on #518
@swainn Yes, plotting (R, Python, perhaps other tools supported by Jupyter), but also to provide a general scripting environment for transforming HydroShare resources (e.g. time series QA/QC).

[2015-07-07 18:57] zhiyuli commented on #502
@hyi  I have a question. Can I create a bag in IRODS that has not res files but does contain the resourcemetadata.xml? I am asking this because in this HIS Time Series new design, we will not store res files.  But I find I need to store metadata in xml in order to retrieve them when using HS rest api on tethys side.

@selimnairb  I find current rest api python wrapper has a func for retrieving sys

[2015-07-07 19:02] hyi commented on #502
@zhiyuli If I understand your question correctly, the answer is yes. You mean a resource with no file added, just like when you create a resource without browsing any file, right? Yes, you need a resourcemetadata.xml even for a resource without files for standard dublin core system metadata.

[2015-07-07 20:55] selimnairb commented on #502
@zhiyuli /hsapi/sysmeta gets metadata from the Django database.  See [SystemMetadataRetreive](https://github.com/hydroshare/hydroshare/blob/master/hs_core/views/resource_rest_api.py#L318).

Likewise /hsapi/scimeta gets science metadata from the Django database.  See [here](https://github.com/hydroshare/hydroshare/blob/master/hs_core/views/resource_rest_api.py#L392) and [here](https://github.com/hy

[2015-07-07 20:56] selimnairb commented on #404
@horsburgh Is this still a problem, or has it been resolved?

[2015-07-07 21:15] selimnairb opened #524 "Plan for prioritizing and completing unit tests"
Tests that do not pass have been disabled.  We need to determine which tests to retain, and which tests are yet to be written.  Then, we should:
1. Remove tests not to be retained
2. Prioritize tests to be finished and new tests to be written
3. Finish/write needed tests

[2015-07-08 03:24] dtarb commented on #262
Closing since merged in March

[2015-07-08 03:24] #262 closed

[2015-07-08 03:26] dtarb commented on #258
Closed since this referred to resources on beta that need to be hand migrated

[2015-07-08 03:26] #258 closed

[2015-07-08 03:28] dtarb commented on #248
@jsadler2 is this still an issue.  If not, please close

[2015-07-08 15:30] jsadler2 commented on #248
Resolved.

[2015-07-08 15:30] #248 closed

[2015-07-08 15:36] horsburgh commented on #516
They don't do anything now, but they may eventually - e.g., click on a keyword to execute a search to pull up a list of resources that are tagged with the same keyword. I would suggest leaving for now.

[2015-07-08 17:18] hyi commented on #515
@gantian127 Could you test it on dev.hydroshare.org and close it if it works there?

[2015-07-08 17:21] hyi commented on #477
Test it on dev and it works, so closing.

[2015-07-08 17:21] #477 closed

[2015-07-08 17:24] hyi commented on #476
@selimnairb could you test it out on dev and close if working there?

[2015-07-08 17:41] hyi commented on #510
@rayi113 has tested on dev using a 12GB file, and it properly tells that the file size is larger than the 10GB limit. So it works now. Closing.

[2015-07-08 17:41] #510 closed

[2015-07-08 17:44] zhiyuli commented on #499
@mjstealey
This issue occurred on www where Debug = False. It works on dev (Debug = True I think) now, but we cannot close this until trying it out on an instance with Debug = False.

[2015-07-08 17:48] hyi commented on #392
@Castronova I think this is resolved, but could you check to confirm and close if the problem does not exist any more?

[2015-07-08 17:50] hyi commented on #404
@horsburgh I believe it has been resolved, but could you check it to confirm and close if the problem is indeed resolved?

[2015-07-08 17:51] hyi commented on #474
The issue is resolved. Closing.

[2015-07-08 17:51] #474 closed

[2015-07-08 17:53] dtarb commented on #499
Perhaps we should use alpha as a debug = false testing environment.

[2015-07-08 18:19] zhiyuli opened #525 "HISTimeSeries & Tethys Interaction Demo Branch"
This branch is only for demo purpose at CUAHSI meeting, July, 15 - 17, 2015 - Tuscaloosa, AL.
Will be deployed on playground.hydroshare.org.

[2015-07-08 19:12] pkdash opened #526 "Configure Jenkins to run unit tests and code coverage reporting"
@selimnairb and @pkdash to work on this during the all-hands meeting

[2015-07-09 05:05] horsburgh commented on #404
Just tested this on www.hydroshare.org and the URIs do resolve.  So, I believe that this issue has been addressed and I'm going to close.

But, as a side note - I also tested on dev.hydroshare.org and got the same result (URIs resolve).  But I tested on beta.hydroshare.org and I'm back to having timestamps as the folder name in the zipped bag. This is a little disconcerting?

[2015-07-09 05:05] #404 closed

[2015-07-09 12:55] hyi commented on #404
@horsburgh the new bagit workflow and the new url mapping to make URIs resolvable are not deployed to beta.hydroshare.org, which explains the difference you observed. beta will be decommissioned after the old resources are manually migrated to the www.hydroshare.org as I understand it.

[2015-07-09 14:36] horsburgh commented on #404
@hyi - perfect.  I just wanted to make sure that an inconsistency hadn't crept back in.  I closed the issue since it works on www.hydroshare.org.  By the way - I'm glad this now works!

[2015-07-09 18:37] selimnairb opened #528 "NULL character after final newline in bagit.txt"
The Bagit rule on iRODS may have a bug causing the bagit.txt tag file to contain a NULL character ('\0') after the final newline.

For example:

    hexdump -c b7822782896143ca8712395f6814c44b/bagit.txt
    0000000   B   a   g   I   t   -   V   e   r   s   i   o   n   :       0
    0000010   .   9   6  \n   T   a   g   -   F   i   l   e   -   C   h   a
    0000020   r   a   c   t   e   r   -   E

[2015-07-09 19:02] hyi commented on #528
@selimnairb WLEN is an output variable that holds the bytes written to the data object returned from msiDataObjWrite() micro-service, which could be a variable of any name, so WLEN developer-defined variable is not an issue here. In fact, that NULL character after new line is the EOF character that indicates the end of line, which is added automatically when writing a text file by a C/C++ function

[2015-07-09 19:17] selimnairb commented on #528
@hyi Thanks for clarifying and purpose of the WLEN variable.

As I stated in my original post, I am using the LOC's [bagit library](https://github.com/LibraryOfCongress/bagit-python).  The library chokes on the NULL character, which is not EOF, and can, but should generally not be contained in an ASCII/UTF-8 text file because most code does not expect to find a NULL character in text data.  For ex

[2015-07-09 20:14] hyi commented on #528
@selimnairb I took a look at the source code of the iRODS msiDataObjWrite micro-service used in our bagit rule, and it appears iRODS intentionally allocates one more character than the content to be written and memset the initial write-buffer to be all NULL (i.e., 0). In my mind, it is quite common to write a EOF character (usually NULL) to indicate the end of file, see https://en.wikipedia.org/wi

[2015-07-09 20:33] selimnairb commented on #528
It is not common for NULL character (ASCII 0x00) to appear in a plain text file.  Here is how less treats it:
    less bagit.txt
    BagIt-Version: 0.96
    Tag-File-Character-Encoding: UTF-8
    ^@
    bagit.txt (END)

Emacs:
    BagIt-Version: 0.96
    Tag-File-Character-Encoding: UTF-8
    ^@

    -uu-:---F1  bagit.txt      All L1     (Text)------------------------------------
    Loading image

[2015-07-10 14:35] selimnairb commented on #528
@alvacouch @horsburgh @ironfroggy @dtarb Can you help us with this discussion?

[2015-07-10 15:01] dtarb commented on #528
I think that the bags that we create should pass validation by the Library of Congress Bagit library that @selimnairb mentioned.  So if this character is causing them to fail then we need to find a way to remove it.  There is of course the possibility that there may be something else causing the failure, but we need to work to get our bags to pass.

[2015-07-10 15:13] hyi commented on #528
One way to work around this issue is to generate bagit.txt on Django side and transfer it to iRODS. But the manifest-md5.txt and tagmanifest-md5.txt need to be generated by iRODS rule and the msiDataObjWrite() micro-service still adds an EOF character at the end of the file. Not sure whether they would cause validation failure, so having Django generate bagit.txt may not be sufficient.

[2015-07-10 15:18] selimnairb commented on #528
@xu-hao Why are micro services putting NULL characters (ASCII 0x00) into text files?  This seems like a bug to me (off-by-one error).

[2015-07-10 21:15] xu-hao commented on #528
Brian,

This does seem like a bug. Would you like to submit a github ticket on the
irods repo?

Thanks,
  Hao

On Fri, Jul 10, 2015 at 11:19 AM, Brian Miles <notifications@github.com>
wrote:

[2015-07-10 22:03] hyi commented on #528
@selimnairb When you write the issue, you may refer to the statement here: https://github.com/irods/irods/blob/2d9e340328cc03b883f0f65972909187c305f3ae/iRODS/server/re/src/reDataObjOpr.cpp#L701 which increases the length of the input string buffer by 1 before writing the buffer to the data object file.

[2015-07-12 19:23] dtarb opened #529 "Abstract should retain line break formatting"
If In enter an abstract like this
![p1](https://cloud.githubusercontent.com/assets/3456833/8639496/2a9ac8ce-2899-11e5-9560-135ca998951f.PNG)

it should not all run together like this
![capture](https://cloud.githubusercontent.com/assets/3456833/8639499/36fa874e-2899-11e5-99f6-73983b80e72d.PNG)

[2015-07-14 22:36] mauriel133 opened #530 ""Liked by 0" message on ratings"
On the Rating section of the resource landing page, seeing that a resource is liked by no one is a little discouraging. I think when the number of likes is 0 the message should be changed to "Be the first to +1 this resource" or something similar.

[2015-07-15 14:36] horsburgh commented on #529
I don't disagree with the issue, and it might be nice to support Markdown formatting in the Abstract.  But, if you need a lot of structure in your Abstract, we should really be considering whether this is a resource of a different type (and hence that structure should be split out into separate elements in the metadata).

[2015-07-15 15:31] mjstealey commented on #528
Fix looks to be completed and staged for version 4.1.4: https://github.com/irods/irods/issues/2795

[2015-07-15 17:23] hyi commented on #529
I fixed this abstract line break issue before, which got lost along the way. will reinstate my previous fix to make line break work for abstract.

[2015-07-15 19:33] dtarb commented on #529
@horsburgh how would you suggest I present the content attempting to be presented in this resource.

[2015-07-15 21:32] horsburgh commented on #529
@dtarb - If you just want it to be a generic resource, overloading the Abstract might be OK.  But, do we need a "script" resource type that has specific metadata elements for the things that you are trying to break out in the Abstract field?

[2015-07-15 22:02] dtarb commented on #529
I worry that requiring the development of a new resource type is a heavy lift for just wanting to list out separate paragraphs to describe what is in a resource.  I'd also like a reasonable intermediate solution before scripts are completed.  A capability with all resources to be able to add custom/extended metadata fields, maybe an alternative solution.  I know that these have been discussed at v

[2015-07-16 15:49] selimnairb opened #532 "Integrate coverage testing with Jenkins"

[2015-07-16 15:50] selimnairb commented on #532
Integrate coverage testing with Jenkins so that each commit to develop will trigger coverage tests to run, with an HTML coverage test being published to Jenkins.

[2015-07-20 15:49] rayi113 opened #534 "Test THREDDS Server with NFIE iRODS and FUSE"

[2015-07-20 15:50] rayi113 opened #535 "Add CyberGIS to NFIE iRODS zone"

[2015-07-20 15:50] rayi113 opened #536 "Tutorial: how to add iRODS resource server to NFIE iRODS zone"

[2015-07-21 16:08] hyi commented on #528
I think the fix to this issue involves: (1) upgrade iRODS to version 4.1.4 to have iRODS fix included. (2) set AVU metadata dirty flags (set 'bag_modified' to true) for all existing bags. This is better done automatically with a script. I am setting the milestone to release 1.7 for now.

[2015-07-21 19:44] hyi commented on #463
@mjstealey is working on getting Nginx integrated into HS development and deployment workflow, so this should be fixed when that is done. Added Release 1.6 milestone.

[2015-07-21 19:49] hyi commented on #370
A pull request has been created for this a while ago. If everything runs as expected after the pull request is merged in, this issue should be closed. Added release 1.6 milestone.

[2015-07-21 20:04] hyi commented on #333
Not sure whether this refers to the function get_user_info(user) which imports UserResource from hs_core.api, which does not exist in the code base. This get_user_info() is not used in the code base (only used by test script). @pkdash @selimnairb @ironfroggy Can this get_user_info() be removed safely or it is used implicitly somehow by REST API?

[2015-07-21 20:05] hyi commented on #264
@Castronova Is this still an issue or it has already been resolved?

[2015-07-21 20:08] hyi commented on #228
Put it on Release 1.7 for now. Will change it to 1.6 if I can get it done in time.

[2015-07-21 20:11] hyi commented on #128
I believe this has been resolved. @ironfroggy can you close this issue if it is resolved, or comment otherwise? Added Release 1.6 milestone to keep track of it.

[2015-07-21 21:37] selimnairb commented on #528
@hyi I need this to implement resource creation from entire bags in the REST API.  Having this on a dev. machine soon would be helpful.  Perhaps you could test the steps outlined above.

@mjstealey Which machine can we do this on?

[2015-07-21 21:51] hyi commented on #528
@selimnairb Since I will be out for a few weeks starting from next week, and iRODS 4.1.4 is not out yet, so I thought this fix cannot make it into release 1.6 slated for next month. If @mjstealey can designate a VM for this and can have iRODS 4.1.4 installed there, you can test it out by creating new bags, or just modify a bag metadata to tag it dirty so that the bag can be recreated without this

[2015-07-21 22:36] pkdash commented on #333
@hyi Using PyCharm I found that function get_user_info() (defined in hs_core.hydroshare.users.py) is used only in unit tests. The unit tests where it is being used are marked to be skipped from unit test run. It should be safe to remove this function.

[2015-07-21 22:40] jirikadlec2 opened #538 "Spatial Coverage of Resource shows ambiguous labels "North Longitude", "East Latitude""
Using www.hydroshare.org
I tried to create a generic resource (csv file with some snow reports).
When I edit the details of my resource, I can edit the coverage.
The form asks me for "North Longitude", "East Latitude", "South Longitude", "West Latitude". This is ambiguous. The correct labels should be "North Latitude", "East Longitude", "South Latitude", "West Longitude".
Please see the screenshot

[2015-07-21 23:09] pkdash commented on #526
Duplicate of #532

[2015-07-21 23:09] #526 closed

[2015-07-21 23:31] pkdash commented on #259
@dtarb Please check if this has been resolved and if so close this issue.

[2015-07-21 23:44] pkdash commented on #102
This has been implemented.

[2015-07-21 23:44] #102 closed

[2015-07-21 23:49] pkdash commented on #90
@mjstealey Can you remove the 'dublincore' submodule from hydroshare codebase?

[2015-07-21 23:55] pkdash commented on #5
@horsburgh and @dtarb  - I think this issue should be closed.

[2015-07-22 01:46] #128 closed

[2015-07-22 14:26] hyi commented on #333
@pkdash That is what I found using PyCharm as well. I think if we remove this function, we should remove the corresponding unit test as well. Could you take care of removing this as well as the corresponding test as part of clean-up in conjunction with bringing in coverage test to our development and deployment workflow? Thanks!

[2015-07-22 14:32] dtarb commented on #528
I do not think we should let waiting for an official iRODS 4.1.4 on this hold up development.  Can we implement development iRODS build with this fix on one or more (or all) of our development machines.  Then this can get this API developed and tested.  For the final deploy we will need iRODS 4.1.4, but I think @mjstealey or others ar RENCI can help, so we do not have to delay because @hyi is away

[2015-07-22 15:30] Castronova commented on #264
This has been resolved.

[2015-07-22 15:30] #264 closed

[2015-07-22 15:32] #392 closed

[2015-07-22 16:05] #54 closed

[2015-07-22 16:05] #191 closed

[2015-07-22 16:06] #383 closed

[2015-07-22 16:07] #440 closed

[2015-07-22 17:34] hyi commented on #515
tested on dev using raster and metadata editing works as expected. Closing.

[2015-07-22 17:34] #515 closed

[2015-07-22 17:36] hyi commented on #476
tested on dev and it works as expected. Closing.

[2015-07-22 17:36] #476 closed

[2015-07-22 21:54] horsburgh commented on #5
@pkdash - in the time since we created Phase 1 of time series, we made some modifications to the ODM2 schema.  I think we should verify that HydroShare time series work with the most recent ODM2 schema in SQLite before we close this.  I can create an example ODM2 database using the latest schema for you to test.  Let me know when you are ready.

[2015-07-23 15:09] ironfroggy opened #540 "Initial Resource Concrete Base Model Proof of Concept"
- [x] GenericResource renamed to BaseResource to become the new base model
- [x] New proxy model GenericResource maintains previous name
- [x] ToolResource renamed OldToolResource and new proxy model created
- [x] Tests updated
- [x] Resource creation utility updated to set resource_type field
- [x] BaseResource gains resource_type field to denote actual type
- [x] Fixes to several generic relatio

[2015-07-23 19:28] hyi commented on #370
The pull request was merged into develop and tested on dev; nothing is broken, so closing.

[2015-07-23 19:28] #370 closed

[2015-07-23 19:29] hyi commented on #333
The pull request was merged into develop and tested on dev; nothing is broken due to this removal, so closing.

[2015-07-23 19:29] #333 closed

[2015-07-24 19:53] hyi commented on #529
@mjstealey while trying to test verify this fix on dev.hydroshare.org, I found the linebreaks in abstract are still not retained on dev, although the same code pulled from develop branch in my local development environment retains linebreaks in abstract. Is dev deployed with nginx? It looks like the Django linebreaks filter that converts newlines into HTML does not work in our deployed VM but it d

[2015-07-24 20:10] mjstealey commented on #529
This short answer to this is:
[code]
The longer answer:

- While at the Hydroinformatics conference we changed the branch that dev was building to be `532-jenkins-automated-testing` instead of `develop` to more efficiently test our work in real-time.
We apparently forgot to change this back to develop and have been re-deploying branch 532 instead of develop this week.
Sorry about that…

Have updat

[2015-07-24 20:32] hyi commented on #529
@mjstealey Thanks! Now it works on dev in the same way as it does in my local dev env. However, I accidentally found a minor issue when editing the same abstract again, so made a follow-up fix to it and just created a pull request with one line change. Once merged, fix to this issue should be ready for testing.

[2015-07-25 19:57] dtarb commented on #259
The URL's I checked resolved.

[2015-07-25 19:57] #259 closed

[2015-07-26 13:52] danames commented on #529
Ultimately it would be very useful to support basic mark up on the abstract
and let users use it however they want - i.e. to make lists, emphasize
points with bold or underline, and possibly even link to external resources
in a free form way that is not constrained by specific metadata fields or
options. At a bare minimum we should honor their line breaks.

On Fri, Jul 24, 2015 at 2:32 PM Hong Yi

[2015-07-28 12:15] #406 closed

[2015-07-28 12:18] #22 closed

[2015-07-28 15:46] dtarb commented on #540
As new resource types are created note issue #421 that calls for consistency between the names displayed for resource types.  This may impact code in cases where what is displayed maps onto the code.

[2015-07-28 18:23] zhiyuli opened #544 "django or irods will add a random string to filename if users upload a duplicate file"
![image](https://cloud.githubusercontent.com/assets/10070599/8939589/7806c924-3522-11e5-932a-d2e40548d035.png)
http://dev.hydroshare.org/resource/d788cbc0d1184121bc8a5da5fabb503e/

Users can upload additional res files on a res landing page (if this res type allows). If the new file has a same name as a res file already exists on irods. Django? or IRODS? will rename the new file by adding a random

[2015-07-28 18:57] pkdash commented on #544
Unique file names are created by Django.

[2015-07-28 22:06] mohamedmorsy opened #545 "Create "Model Package" button for Model Instance resource types"
Create this button beside the download button "Download All Content as Zipped Bagit Archive" to download all the Model Instance resource content beside the Model Program resource content that is used for executing this Model Instance resource as one package.

[2015-07-28 22:14] mohamedmorsy opened #546 "Enhance the Model Program metadata elements representation in "resourcemetadata.xml" file"
Enhance the Model Program metadata elements representation in "resourcemetadata.xml" file to follow the metadata analysis for this resource type. This metadata analysis is available on:

https://my.alfresco.com/share/hydroshare.org/page/site/HydroShare/document-details?nodeRef=workspace://SpacesStore/fd45c4aa-df13-4d13-87ee-edcddf9c8253

[2015-07-28 22:20] mohamedmorsy opened #547 "Adjust The Model Program "ModelWebpage" metadata element"
Adjust The Model Program "ModelWebpage" metadata element (Website in "Resource specific" landing page) to be URL link:

![image](https://cloud.githubusercontent.com/assets/5543781/8945416/3ac680e4-3555-11e5-8b83-f1f433db41e2.png)

[2015-07-28 22:22] mohamedmorsy opened #548 "Link the SWAT Model Instance resource type with the Model Program resource type"

[2015-07-29 04:05] pkdash commented on #5
@horsburgh We should get it done for next release (1.6). Let me know when you have an example ODM2 database for me to work with.

[2015-07-29 09:39] #454 closed

[2015-07-29 09:47] #303 closed

[2015-07-29 15:20] #444 closed

[2015-07-29 15:20] #382 closed

[2015-07-29 15:20] #360 closed

[2015-07-29 15:22] Castronova commented on #547
This also applies to *user manual* and all other files.

[2015-07-29 17:08] danames commented on #478
Closing this issue because it is related to the old design. We are refactoring the referenced time series and this issue will become irrelevant. See #502 .

[2015-07-29 17:08] #478 closed

[2015-07-29 17:09] danames commented on #426
Closing this issue as the new redesign of referenced time series will make this irrelevant. See #502.

[2015-07-29 17:09] #426 closed

[2015-07-29 21:42] horsburgh opened #549 "JavaScript attachment to account verification email"
I just created a new account on dev.hydroshare.org to do some testing.  The account verification email was delayed and triggered a warning from USU's email spam filters.  Here's the message I received (minus the link to verify my account).

Warning:The JavaScript (.js) attachment from the sender has been replaced with an explanation in ATT00001.c by USU's email filters.

If the message and attachm

[2015-07-29 22:30] dtarb commented on #549
I just created an account on dev and had no issues (no attachments) with the activation email

[2015-07-30 13:32] mjstealey commented on #181
Documentation on how to configure email for developer setup on wiki.
https://github.com/hydroshare/hydroshare/wiki/hydroshare_email_using_gmail

[2015-07-30 13:32] #181 closed

[2015-07-30 13:33] mjstealey commented on #385
Implemented as hs-docker-irods repository with documentation therein
https://github.com/hydroshare/hs-docker-irods

[2015-07-30 13:33] #385 closed

[2015-07-30 13:35] mjstealey opened #550 "nginx - phase 3 implementation"
Phase 3a - Manipulate endpoints to minimize in-memory impact
- [x] endpoints (rewrite URIs)
- [ ] chunking / streaming

Phase 3b - Investigate unix sockets vs tcp ports as related to docker
- [x]  unix sockets

[2015-07-30 13:41] mjstealey commented on #544
All file systems enforce uniqueness as common practice.
If you are writing two files to the same directory, they must have different names in order to exist within the same level of a directory structure.

Reference: [File Name Uniqueness](https://en.wikipedia.org/wiki/Filename#Uniqueness)

[2015-07-31 20:02] pkdash commented on #192
Here how it looks after the fix:
![image](https://cloud.githubusercontent.com/assets/2523434/9016237/9890011c-378c-11e5-88b2-b7e65b53f606.png)

![image](https://cloud.githubusercontent.com/assets/2523434/9016239/a5c8e6aa-378c-11e5-9480-cb2441ab8e98.png)

[2015-08-02 14:21] alvacouch opened #554 "Integrate new access control"
Integrate new access control, currently in DjangoShare, with main HydroShare

[2015-08-03 05:15] pkdash commented on #171
@horsburgh and @dtarb - The last commit that I have made will create the core metadata term 'type' when a new resource gets created. The science metadata document will now contain this term with a resolvable url and the namespace 'hsterms' will also have a resolvable url. However, any existing resource will still not have the 'type' metadata element. Not sure what we can do about that.

I have add

[2015-08-03 16:50] horsburgh commented on #171
@pkdash - didn't we have this metadata element already?  It has always been one of the required Dublin Core elements.

[2015-08-03 18:19] pkdash commented on #171
@horsburgh  - I know it is a required element but I think I didn't create as part of the resource creation as there was no resolvable url endpoint for this element until now. That's the reason this element has been missing in the xml document which is this issue you created a while ago.

[2015-08-03 18:38] pkdash commented on #171
Here is the template (as displayed in browser) that is used as a resolvable url for hsterms and metadata type element:

![image](https://cloud.githubusercontent.com/assets/2523434/9044798/3de33d86-39dc-11e5-9d93-ec4a96f8fe03.png)

[2015-08-03 18:51] mauriel133 commented on #151
Wouldn't this make the table too small on mobile devices?

[2015-08-03 18:54] mauriel133 commented on #201
This issue has been taken care of by the new access control interface being developed [#447] and can be closed.

[2015-08-03 18:55] mauriel133 commented on #460
This issue has been taken care of by the new access control interface being developed [#447] and can be closed.

[2015-08-03 19:34] dtarb commented on #151
@mauriel133 see also discussion with @ironfroggy on #455 and #376 about using check boxes rather than links.

[2015-08-03 20:03] mauriel133 commented on #530
![ss](https://cloud.githubusercontent.com/assets/2448568/9046538/37040852-39f9-11e5-8d76-890d55044773.png)

Would this work?

[2015-08-03 20:04] danames commented on #530
I like that text. Friendly and positive.

On Mon, Aug 3, 2015 at 2:03 PM Maurier Ramirez <notifications@github.com>
wrote:

[2015-08-03 20:33] mauriel133 commented on #455
I think the filters above should have the number of resources meeting each criteria in parenthesis. Something like this
- [ ]  Own (4)
- [ ]  Can Edit (9)
- [ ]  Can View (35)

[2015-08-03 23:27] pkdash commented on #5
@horsburgh - If you want you can test this fix at dev.hydroshare.org

[2015-08-04 00:21] horsburgh commented on #151
@mauriel133 - Yes, anchoring the menu to the left might cause issues for mobile devices with narrow screens.  But, moving the menu to the top of the table when the window gets narrow results in a bunch of blank space above the table.  Can the styling be dependent on whether the client is mobile device or not?  If so, we need to figure out what it should look like for mobile browsers.

[2015-08-04 03:12] horsburgh commented on #5
@pkdash - I just tested on Dev.  It looks good.  Only one caveat and that is that in my source ODM2 database, the Spatial Reference for the latitude and longitude coordinates for the monitoring site is listed as "Unknown" (it gets set that way because it isn't in the WaterML 1.1 file I'm loading into the ODM2 database).  So, in the resource that is created, the Coordinate System/Geographic Project

[2015-08-04 03:24] pkdash commented on #5
@horsburgh - I can fix that when implementing phase-2.

[2015-08-04 03:26] horsburgh opened #559 "Time Series: Implement Phase 2 Functionality"
The following web user interface changes and API support are needed to make Time Series Phase 2 complete. The additional tools are listed here as a placeholder until we decide whether we want to create them.

**Web User Interface Changes**
- [x] 1. Add capability to have multiple time series in a single resource by supporting multiple time series in the underlying ODM2 SQLite file (see #1220 for t

[2015-08-04 03:29] horsburgh commented on #5
Ok.  I just created a new issue for Phase 2 stuff, so I'm closing this one.

[2015-08-04 03:29] #5 closed

[2015-08-04 11:53] ironfroggy commented on #455
This would be great, but we'll need to watch until filter and discovery perform much much better, before doing three extra versions of the current filter for each checkbox to get a count.

[2015-08-04 11:55] ironfroggy commented on #455
This means:
- Finishing the base model refactoring
- Refactor the Metadata fields as planned
- Investigating access control / SOLR combination feasibility

[2015-08-04 11:58] ironfroggy commented on #151
I will revisit my earlier mockups of the in-progress changes to this page and address responsiveness (the ability for the design to respond to different screen sizes)

[2015-08-04 13:23] selimnairb commented on #528
@mjstealey Do we/can we get a version of iRODS with this fix up and running in a test environment?

[2015-08-04 15:14] pkdash commented on #171
@gantian127 - Please pull this branch and update hs_core/templates/pages/metadata_terms.html file to describe netcdf resource type and resource type specific metadata terms.

[2015-08-04 19:28] pkdash commented on #171
@zhiyuli - Please pull this branch (171-metadata-xml-document-missing-type-element) and update hs_core/templates/pages/metadata_terms.html file to describe Reference Time Series resource type, Tools resource type and corresponding resource type specific metadata terms.

[2015-08-04 19:31] pkdash commented on #171
@Castronova - Please pull this branch (171-metadata-xml-document-missing-type-element) and update hs_core/templates/pages/metadata_terms.html file to describe Model Program Resource type and corresponding resource type specific metadata terms.

[2015-08-04 19:42] pkdash commented on #171
@mohamedmorsy Please pull this branch (171-metadata-xml-document-missing-type-element) and update hs_core/templates/pages/metadata_terms.html file to describe Model Instance Resource Type. and SWAT Model Instance Resource Type and corresponding resource type specific metadata terms.

[2015-08-04 20:17] mjstealey commented on #528
@selimnairb - Have a preview build of 4.1.4 with the fix running on hydrotest41.

This is the iRODS server that the hsproxy account uses if you're working with the vanilla develop code from github (local_settings.py definition for iRODS user).

[2015-08-07 14:51] ironfroggy opened #560 "Allow multiple file selection in iRODS browser"
Allow selecting multiple files to create a new resource with from an iRODS connection.

[2015-08-07 15:14] selimnairb commented on #560
Also allow for recursive inclusion of the contents of selected directories.

[2015-08-07 15:26] ironfroggy opened #561 "Allow backdoor login for admins as a user for diagnostic and migration purposes"

[2015-08-07 22:40] dtarb commented on #560
Recursive inclusion of contents of directories, means we will need to allow directory structures in resources and develop the capability to view/manage them on the interface.  All useful things, but they do extend the scope.

[2015-08-12 16:26] rayi113 commented on #534
Have test THREDDS server successfully running on top of iRODS FUSE pointing at nfiehydroZone
Dependencies: Relies on iRODS FUSE bundled with iRODS version 4.1.5 that will come out in the next 1-2 months.  Have iRODS engineering build if folks want to try it sooner.

[2015-08-14 19:04] horsburgh commented on #538
I just checked dev.hydroshare.org, and this one still exists.  It doesn't appear to have been fixed.

![screenshot](https://cloud.githubusercontent.com/assets/3485902/9281798/fa1b6608-4284-11e5-8155-2f9990c908ea.png)

[2015-08-14 19:10] horsburgh commented on #471
I checked this one and it has been fixed on dev.hydroshare.org.  However, while testing I noticed that the "Software Repository" text box instructions state that I should input a URL for the source code repository.  I did so, but it wasn't converted to a link after saving my edits. @mauriel133 - Can you fix that too really quickly and then we can close this issue?

[2015-08-14 19:11] horsburgh commented on #460
Agreed. Closing this issue.

[2015-08-14 19:11] #460 closed

[2015-08-14 19:12] horsburgh commented on #450
Tested on dev.hydroshare.org and has been implemented. Closing.

[2015-08-14 19:12] #450 closed

[2015-08-14 19:13] horsburgh commented on #364
This appears to be done on dev.hydroshare.org. It will may be superseded by the new access control panel when it has been implemented.

[2015-08-14 19:13] #364 closed

[2015-08-14 19:15] horsburgh commented on #319
This is done on dev.hydroshare.org. Closing.

[2015-08-14 19:15] #319 closed

[2015-08-14 19:18] horsburgh commented on #201
Based on @mauriel133 's comment about this being addressed by the new access control panel, I'm going to close this issue.  We can revisit if needed after the new access control panel is implemented.

[2015-08-14 19:18] #201 closed

[2015-08-14 20:47] #399 closed

[2015-08-15 04:51] mauriel133 commented on #538
You are right. I forgot to change it for the page on edit form as well. I'll take care of it.

[2015-08-15 12:41] dtarb opened #563 "Avoid display of unsecure content"
On internet explorer the following message appears which suggests that there is unsecure content on the hydroshare pages.  We should avoid this if possible
![untitled](https://cloud.githubusercontent.com/assets/3456833/9288847/b6478774-4318-11e5-9ae8-19ce1ddc198e.png)

[2015-08-15 18:47] pkdash opened #564 "Allow resource owners to change resource discoverable property from resource landing page"
If resource discoverable property is set to true, anyone can view resource metadata but not the content files. On the resource landing page this functionality can be implemented similar to how we do the public/private setting for the resource.

[2015-08-16 15:18] ironfroggy commented on #564
If you suggest having two different toggles, for "Public / Private" and "Discoverable / Not Discoverable"? I think this pair of toggles would be confusing. Are all combinations valid? Does it make sense to allow a Discoverable Private state for a resource?

[2015-08-16 15:47] pkdash commented on #564
I assume if a resource is 'public' it is automatically 'discoverable'. The only time a resource owner would set a resource to be 'discoverable' if the resource is 'private'. May be @horsburgh  can explain the use case for this feature.

[2015-08-16 18:23] dtarb commented on #564
The use case for discoverable but private is where the user wants to advertise the existence of the resource, but only allow access based on request/negotiation.

Only 3 of the 4 combinations are allowed.  Public + not discoverable is not allowed.

We might consider a single toggle with three options for the interface
 * Private.  Internally this would be private +  not discoverable
 * Discoverabl

[2015-08-16 19:42] dtarb opened #565 "Change content of account registration email"
Per @mjstealey

We’ve had some issues with some mail services, google in particular, automatically flagging emails from HydroShare as spam.

At RENCI the SPF portion of the DNS entry for mail.hydroshare.org in Media Temple has been updated to better account for this, but it was advised that we also change the contents of the generated email.

[2015-08-16 20:46] pkdash commented on #564
Thanks @dtarb for explaining the use case.

[2015-08-17 16:17] dtarb commented on #564
This is actually an editing function available only to users with privileges over the resource.  Perhaps all editing functions should be moved to the editing page and the landing page be identical for anyone with access to the resource.

[2015-08-17 16:24] dtarb commented on #549
See #565.  @mjstealey can you please test this after addressing 565 and have others test this too to see if it persists.

[2015-08-17 16:26] horsburgh commented on #564
I would like to move to a model where any and all editing is done in edit view and not on the main resource landing page.

[2015-08-19 13:13] mohamedmorsy commented on #192
Pabitra @pkdash  fixed this issue. Now, the temporal coverage metadata element works as expected on dev.hydroshare.org.

[2015-08-19 13:13] #192 closed

[2015-08-20 18:53] shawncrawley opened #569 "REST API fails when uploading NetcdfResource type"
When running the following, the api gets back a 500 Internal Server error. @selimnairb and I troubleshooted a bit and found out that it was the resource type 'rtype = "NetcdfResource" that caused it to fail. When using "GenericResource" it worked fine. Here is the code:

[code]

I have emailed @selimnairb the netCDF file.

[2015-08-24 12:10] dtarb commented on #544
I support option 3.  The current behavior is functionally the same as option 3, just not a simple integer.  I think that the current behavior is thus OK.  However we do need functionality to be able to rename a file, so that a user can delete the old file and remove the appendage of the name on a new file if they want.  Showing dates associated with files would help the user in doing this. A thoro

[2015-08-24 13:40] hyi commented on #529
tested on dev and line break in abstract is now working. Set it as Ready for testing.

[2015-08-24 13:49] hyi commented on #269
@dtarb Since we don't maintain the old resources before NFIE bagit restructuring, this issue does not exist any more, correct? If so, we can close this issue.

[2015-08-24 13:57] hyi commented on #324
Tested on dev and it appears this issue is fixed, so set it as ready for testing.

[2015-08-24 16:08] dtarb commented on #324
I tested this and it does not seem quite right.  When I loaded the Honduras tif file (which you can see at https://www.hydroshare.org/resource/c81142cbe23548718657c34099c3b254/) the coverage metadata tab is missing and under resource specific the cell sizes are 0.  In the current implementation on www the coverage element is there but with NA, and the cell sizes are 1.  This seems preferable to me

[2015-08-24 16:13] dtarb commented on #269
Tested on dev and closing.

[2015-08-24 16:13] #269 closed

[2015-08-24 18:19] hyi commented on #324
@dtarb: @gantian127 indicated she had discussed this with you, and you kind of agreed what is currently on dev now sounds acceptable and right. I also agree what is on dev now seems to look reasonable with coverage tab missing when coverage info does not exist, and user always can edit the metadata and add coverage info as needed. @gantian127 will work on any further issues related to this if any.

[2015-08-24 21:22] hyi commented on #222
@horsburgh @pkdash I checked the resourcemap.xml on www and it appears to me the two bullets which @horsburgh indicated above were not correct have been fixed. Could you confirm and see whether this issue is indeed fixed?

[2015-08-24 21:28] dtarb commented on #529
tested on dev and closing

[2015-08-24 21:28] #529 closed

[2015-08-24 22:59] #491 closed

[2015-08-25 16:13] pkdash commented on #222
@hyi - I think I have fixed it. @horsburgh can check and close this issue.

[2015-08-25 17:10] pkdash commented on #532
@selimnairb Do we still need unit test run and coverage reporting on each commit to develop when we are doing this once a day (but not on each commit)?

[2015-08-25 17:21] pkdash commented on #524
Once the base concrete resource class work and new access control work gets merged to develop, I should be able start working on hs_core unit tests and time series resource unit tests.  Other resource type developers can also then start working on unit tests for their resource types.

[2015-08-25 17:26] pkdash commented on #506
@mjstealey - Can you test this that we have setup Jenkins for unit tests run and coverage reporting and then close this issue if it meets our requirements?

[2015-08-25 19:06] hyi commented on #171
set it to ready for testing as things are working as expected on dev based on my testing.

[2015-08-25 19:10] hyi commented on #463
@mjstealey now that Nginx is integrated into HS development and deployment workflow, is this issue resolved and ready to close?

[2015-08-25 19:31] hyi commented on #528
@selimnairb @mjstealey Since an official irods v4.1.4 is released (ftp://ftp.renci.org/pub/irods/releases/4.1.4/), I guess upgrading irods runtime and icommands to v4.1.4 in Dockerfile in HS dev env will enable testing to make sure this issue is fixed.

[2015-08-25 20:16] hyi commented on #300
@ironfroggy Based on your comment above that you'd like to fix this as soon as you could push filtering through, I am wondering whether you still plan to do so perhaps after you finish base resource refactoring. @dtarb asks me to look through issues related to account creation and try to resolve them, so I want to get your take on this issue, specifically, whether you want to work on it or I can w

[2015-08-25 20:35] jsadler2 opened #571 "Unit Tests for 'Model Instance' Resource Type"
Write unit tests for the 'Model Instance' resource type

[2015-08-25 20:36] jsadler2 opened #572 "Unit Tests for 'SWAT Model Instance' Resource Type"
Write unit tests for 'SWAT Model Instance' resource type

[2015-08-25 22:25] dtarb commented on #300
Can you please check with @horsburgh on this issue.  I think he has some specific ideas.  I have divided up the issues into categories and delegated managing issues to a category manager.  See https://github.com/hydroshare/hydroshare/wiki/Team-and-Managers-for-Issues.  You @hyi  are the manager for issues labeled clean up.  @horsburgh is the manager for issues labeled Appearance as this one is, as

[2015-08-25 23:18] hyi commented on #300
@horsburgh as decided in Monday's planning meeting, I was going through issues on account creation and UI appearance listed in https://docs.google.com/spreadsheets/d/1MGz60mQDowAiqRUYvABf84JzJBhYPX9Iz_ggrVj3Rms/edit#gid=0 and see whether there are any issues I can work on that have not been assigned to anyone. In addition to one issue [#223] that has already been assigned to me which I will look i

[2015-08-25 23:59] ironfroggy commented on #300
@hyi yes i still think this should be addressed, but there have also been other changes to the sign up page since then. you should re-verify the problem still exists.

[2015-08-26 11:03] ironfroggy commented on #532
I think it would be important to run on each commit, so that we always know for any branch's most recent state if it passes tests or not. If we have already run them on each branch, then when that branch is merged to develop (and eventually to master) the tests are already run for that commit, since every merge to develop and master should always be a fast-forward (no merge commit).

[2015-08-26 14:24] mohamedmorsy opened #574 "User Access to Hydroshare "terms" page"
This page was created to resolve the URLs of the core metadata term "type", and the hsterms namespace in metadata xml document (resourcemetadata.xml) (related to #171). It could be great if this page could be also accessed by the user through the website under the following path:

SUPPORT/Get started  using Hydroshare/What is a resource?

By this access the user can understand more about the diffe

[2015-08-26 14:52] pkdash commented on #532
I assume running test on each commit is a manual process that a developer does on his/her branch and not by Jenkins.

[2015-08-26 15:21] hyi commented on #90
@pkdash dublincore submodule is removed on dev and things appear to work as expected. Could you test and close this issue if nothing breaks?

[2015-08-26 16:33] ironfroggy commented on #532
Certainly not. If its going to be repeated it should be automated.

[2015-08-26 16:39] pkdash commented on #532
Not sure how we automate this.

[2015-08-26 16:45] ironfroggy commented on #532
Jenkins has very robust support for triggering a job based on a hook being triggered from GitHub. Travis CI has very complete support for this.

[2015-08-26 17:11] hyi commented on #563
@dtarb I have tested www.hydroshare.org with IE version 11 and this unsecure content issue does not occur any more with https secure HydroShare server. Could you test it again and close if the issue goes away now?

[2015-08-26 17:11] pkdash commented on #532
OK. I will try to setup a Jenkins job to do that.

[2015-08-26 17:40] hyi commented on #532
@ironfroggy just to clarify, you mean we should run tests on a feature branch when there is a PR to merge this feature branch to develop rather than run tests on a feature branch for any commit, right? Since developers may push commits with intermediate feature implementation which may not be ready for testing yet, I think you must have meant the former to run tests on a feature branch when there

[2015-08-26 18:31] mauriel133 commented on #530
This fix has been merged and appears to be working in develop.

[2015-08-27 00:41] ironfroggy commented on #532
Some project choose to run automated tests on Pull Requests and other choose to run them on every branch, regardless of whether that branch is part of a pull request yet or not. I favor the second option, as it ensures develop and master always have up to date tests run on their latest commits, and allows in-progress branches a quick monitoring of status.

Intermediate branches don't always pass t

[2015-08-27 04:07] dtarb commented on #563
On Internet Explorer 11 for me I still get the warning message above just going to http://www.hydroshare.org. I do not know how to figure out what content is triggering this, but since it happens on every page the hunch is that it is something in the header or footer.

[2015-08-27 05:02] ironfroggy commented on #563
@dtarb you should be getting redirected to the HTTPS version. Does that happen for you when visiting via http://www.hydroshare.org/?

[2015-08-27 05:41] yirugi opened #575 "SWAT Model Instance creating failure"
+ When I tried to create new SWAT Model Instance resource with input file, it produced this error message :

Failed to Create Resource:column hs_swat_modelinstance_modelinput.warm_up_period does not exist LINE 1: ...swat_modelinstance_modelinput"."content_type_id", "hs_swat_m... ^

+ It was possible to create the resource without input file, but it also failed to show the resource information.
htt

[2015-08-27 12:50] rayi113 commented on #563
@dtarb @ironfroggy I found this text on http://answers.microsoft.com/en-us/ie/forum/ie9-windows_7/turn-off-only-secure-content-is-displayed/4e0213cd-653f-42eb-8b52-96aa5ed15068?auth=1 at the bottom:

"...It turns out that the unsecure content is from another website. You can see which one is by pressing F12 and then select console and refresh the page. You will than see the http:// sites that viol

[2015-08-27 12:54] selimnairb commented on #575
@yirugi What HydroShare instance are you using, alpha.hydroshare.org?  This sounds like migrations are out of sync.

[2015-08-27 13:29] hyi commented on #563
@dtarb which IE version did you use? I am using IE v11 and when I enter http://www.hydroshare.org, it is redirected automatically to https://www.hydroshare.org and I don't get the unsecure content info at all.

[2015-08-27 14:10] selimnairb opened #576 "Add live REST client tests on dev to Jenkins"
Add Jenkins project to run REST client tests on nightly build of develop branch on dev.hydroshare.org.

[2015-08-27 14:11] selimnairb commented on #576
This is done.  See project "rest_tests-on-develop".

[2015-08-27 14:11] #576 closed

[2015-08-27 16:24] dtarb commented on #563
Version 11.0.22.  Yes I am getting redirected to https.  The unsecure content warning appears if I start directly from https, or start from http and am redirected.  It looks like @rayi113 has tracked down the cause.  We may need to figure out whether there is a secure equivalent for the google fonts we are using, or whether we should change the style to remove the dependency on this font.  I know

[2015-08-27 16:35] rayi113 commented on #563
@hyi @dtarb It looks like one can substitute in https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic   (i.e. https vresion of http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic) and it still works.  It looks like it's in theme/templates/base.html

[2015-08-27 17:00] mauriel133 commented on #471
This fix has been merged into develop now.

[2015-08-27 18:07] hyi commented on #563
@rayi113 @dtarb After checking following recommended security settings for my IE browser, I can reproduce this issue. I made the change following @rayi113's suggestion with changing http to https for google api font url in base.html, and tested the change on sandbox to make sure this change indeed fixed this issue. Created a PR which once merged in, should fix this issue.

[2015-08-27 18:21] mjstealey commented on #563
Question - does this cause any issue going the other way?

Right now you're testing on a site using https, however the development environment does not have to use https, so how does having https references effect the development environment running on http?

There was a similar issue with the recaptcha link and I wound up just switching case based on a [pre-flight](https://github.com/hydroshare/h

[2015-08-27 18:22] ironfroggy commented on #563
If we get warnings as developers we can ignore them.

If we want to avoid that you can use schema-less URLs like //google.com/path/to/fonts omitting either http: or https: entirely.

[2015-08-27 18:29] hyi commented on #563
@mjstealey I did test in my local dev with USE_SSL set to false, and I don't see warnings using IE going to the dev server. I am not sure how to self-generate hs_certs, so I did not test in my local dev with USE_SSL set to True. Could you make this simple change in base.html and see whether you see any issues in our local development environment? If you see any issues, I can try to go with what @i

[2015-08-27 18:33] mjstealey commented on #563
@hyi - If you're using the hydrodev VM you'd just need to set both USE_NGINX and USE_SSL to true.

The self-signed certs for hydrodev are already there and will be installed on a `./hsctl restart`

[2015-08-27 18:41] hyi commented on #563
@mjstealey Just tested it our in my local dev env with both USE_NGINX and USE_SSL set to True. I got an expected certificate invalid message, and after confirming exceptions, it takes me to hydroshare website without additional warnings. So it appears this change will not break anything in both local dev env and production env.

[2015-08-27 18:43] hyi commented on #563
@mjstealey I did test it out both from firefox web browser within the VM and from IE outside the VM using bridged network, so it should cover both use cases.

[2015-08-28 14:11] vmmerwade commented on #575
I also get the same error message as yirugi when I try to create SWAT Model Instance Resource. "Failed to Create Resource:column hs_swat_modelinstance_modelinput.warm_up_period does not exist LINE 1: ...swat_modelinstance_modelinput"."content_type_id", "hs_swat_m... ^ "

[2015-08-28 14:11] selimnairb commented on #575
@yirugi @vmmerwade  What HydroShare instance are you using, alpha.hydroshare.org?

[2015-08-28 14:13] vmmerwade opened #579 "Temporal frame drop box limited to 10 years for Model Instance Resource"
When I try to assign the start date for a model, the combo box only shows 2005-2015. I cannot select 2000 from this menu. When i select 2005, then the box gets populated from 1995 - 2005. I wonder if it is possible to also have the user type the year. Same with end year combo box.

[2015-08-28 14:15] mohamedmorsy commented on #575
@selimnairb Yes, I got the same error by using alpha.hydroshare.org to create SWAT Model Instance. There is a problem with the migrations and Michael is working on that.

[2015-08-28 14:15] vmmerwade commented on #575
i tried this on alpha.hydroshare.org

[2015-08-28 14:27] vmmerwade opened #580 ""Executed by" field for model resource instance needs more models"
I wonder how the "executed by" drop box is populated for model instance resource. Right now it show some model types that i am not familiar with. I was hoping to see at least some common models. Eg HEC models. I created a hec-hms model instance resource and lets the "executed by" as unspecified.

[2015-08-28 14:33] mohamedmorsy commented on #580
@vmmerwade this is due to Hydroshare has no Model Program resource type called HEC-HMS model and at this point you have two choices: i) Create a new Model Program called HEC-HMS model that includes specific metadata data term for this resource and the model engine (EXE), ii)choose from the drop list "Unspecified" till you create the Model Program resource.

[2015-08-28 14:37] mohamedmorsy commented on #579
This bug is general bug for all of the resource types

[2015-08-28 14:48] ironfroggy opened #581 "Rename hsctl deploy subcommand"
"deploy" is a confusing name for a command that deletes your database.

[2015-08-28 14:57] mjstealey commented on #581
Please do go ahead and change it to whatever makes sense to you and update the docs.

[2015-08-28 18:39] mjstealey commented on #575
Code has been update on https://alpha.hydroshare.org, please retry.

[2015-08-28 19:18] mauriel133 commented on #564
Are we moving all editing functions to the edit page. If so, should I move these as well?:
- Add file
- Sign in iRODS...
- Delete file icon

[2015-08-28 19:31] yirugi commented on #575
I think the problem is solved now.

[2015-08-28 19:41] zhiyuli opened #582 "App Res Type is not working properly on alpha (1.5.3 release candidate)"
I can create an app res and associate it with a data resource type (like RefTS), but this app will not appear on that resource's landing page. We think either one of the followings would be OK for 1.5.3 release:
A) Leave it as is. Although it is not fully functional, it will not beak anything.
B) Disable App res by removing "<option value="ToolResource">Application</option>" from hs_core/templates

[2015-08-28 19:44] zhiyuli commented on #84
closed

[2015-08-28 19:45] zhiyuli commented on #211
I think this is not an Apps issue?!

[2015-08-28 19:45] zhiyuli commented on #305
closed

[2015-08-28 19:47] zhiyuli commented on #499
closed. tested on alpha (1.5.3 release candidate)

[2015-08-28 19:47] #499 closed

[2015-08-28 19:48] #84 closed

[2015-08-28 19:48] #305 closed

[2015-08-28 19:50] zhiyuli commented on #272
closed. tested on 1.5.3 release candidate

[2015-08-28 19:50] #272 closed

[2015-08-28 19:51] zhiyuli commented on #284
closed. tested on 1.5.3 release candidate

[2015-08-28 19:51] #284 closed

[2015-08-28 19:51] mauriel133 commented on #564
@pkdash, all is left to do in this issue is to make discoverable resources appear in "My Resources" page and make them accessible. The template should respond to the property and render the corresponding data and metadata. Could you help me get this done?

[2015-08-28 19:56] mohamedmorsy commented on #575
I created the following SWAT Model Instance resource on alpha:

 http://alpha.hydroshare.org/resource/066e210f70124b87ad840c245adb8313

Everything works as expected. Thanks Michael @mjstealey

[2015-08-29 04:09] dtarb commented on #211
@rayi113 I am putting this in Data Management as the work you have done on THREDDS using FUSE is pertinent here.

I think that an approach to achieving what we need is
1.  Establish a THREDDS server running as part of our infrastructure
2.  Have this THREDDS server mount hydroshare iRODS resources through FUSE
3.  Establish button on Multidimensional space time resource editing page to expose usin

[2015-08-30 00:51] pkdash commented on #564
@mauriel133 Sure.

[2015-08-30 23:26] horsburgh opened #587 "Release Candidate 1.5.3: Time Series Method Metadata Edit not Working"
When I create a new time series resource from scratch with no ODM2 file and then try to enter metadata, the metadata update fails when I try to edit the Method information under the Time Series Specific metadata. When I click the "Save Changes" button I get a temporary red banner at the top that says "Error. Metadata failed to update."

Update:  I'm not sure this is just an issue with the release

[2015-08-31 02:51] horsburgh commented on #587
Update - I believe this is because the form is validating the MethodCode to limit it to an Integer as input.  It should be a string.

[2015-08-31 04:54] pkdash commented on #587
@horsburgh Most likely this bug exists on www.hydroshare.org. It should be an easy fix but would require a new migration file as the data type of the model attribute needs to be changed from int to string.

[2015-08-31 19:02] hyi commented on #563
@dtarb I tested dev.hydroshare.org on IE and don't see the warning any more. Marking it as ready for testing.

[2015-08-31 19:22] dtarb commented on #563
Tested on dev and satisfied issue seems resolved.

[2015-08-31 19:22] #563 closed

[2015-08-31 21:48] mauriel133 opened #591 "Update Bootstrap"
I need to update bootstrap to the latest version. The one we are using is too far behind. For this I will need to update JQuery aswell. I'm testing the newer versions in my local environment and everything seems to work fine.

Would there be any reason not to go ahead with these changes?

[2015-08-31 22:09] mjstealey commented on #591
@mauriel133 - This should be fine.
Do you have a specific version or set of files these should be installed from?

If you could put together the install instructions as they would pertain to Ubuntu trusty we could incorporate these as part of the Dockerfile that generates the base image.

[2015-08-31 22:22] mauriel133 commented on #591
I am not familiar with package installation in Ubuntu, but I tested Bootstrap v3.3.5 and JQuery 1.11.3 by replacing the files in the static folder and updating the references in base.html, 400.html, 503.html, etc.

[2015-09-01 14:03] mjstealey commented on #575
Fixed

[2015-09-01 14:03] #575 closed

[2015-09-01 17:38] hyi opened #592 "Allow to select year less than 1900 for start and end dates in temporal coverage metadata"

[2015-09-01 19:27] selimnairb commented on #569
@shawncrawley Can you test your previously failing code on alpha.hydroshare.org?  If it's working, please close this issue.  Thanks.

[2015-09-01 19:52] Castronova commented on #548
Getting an error when implementing model_program foreign key relationship, see: http://stackoverflow.com/questions/26955319/django-reverse-accessor-clashes

Should SwatModelInstance be deriving from ModelInstance?  This might solve the problem,

[2015-09-01 20:06] mjstealey commented on #591
@mauriel133

At the start the hydroshare/static directory is empty and only gets populated by the `collectstatic` call when deploying using the `hsctl` script. So swapping out what is in the that static directory is not the way to go, rather we need to source the module's static directory where these are being initially sourced from prior to being collected.

Try the following and let me know how

[2015-09-01 20:19] mjstealey opened #594 "SOLR / Haystack / Sphinx"
Add Haystack and Sphinx to the base image
Add SOLR as a new docker container

[2015-09-01 20:55] mjstealey commented on #594
@alvacouch - initial addition of haystack, sphinx and solr in branch: https://github.com/hydroshare/hydroshare/tree/594-solr-haystack-sphinx

Reference for docker SOLR: https://hub.docker.com/r/makuk66/docker-solr/

Right now SOLR is empty, but the admin interface is exposed on port 8983.
Once you get started I can iterate on automating the initial population mechanisms to get things were we need

[2015-09-01 22:56] Castronova commented on #548
fixed using **related_name**: `model_program_fk = models.ForeignKey('hs_model_program.ModelProgramResource', null=True, blank=True,related_name='swatmodelinstance')`

Still having trouble saving foreign keys in the swat_model_instance.

[2015-09-02 02:01] lanzh opened #595 "Implement functions that allow SWATShare users to import SWAT model instance resources from HydroShare"

[2015-09-02 02:04] lanzh opened #596 "Implement functions that allow SWATShare users to export a model as a SWAT model instance resource in HydroShare"

[2015-09-02 02:11] lanzh opened #597 "Develop SWATShare component which can be launched using the Hydroshare app URL convention"
The goal is to harmonize the URL and parameters for launching SWAT and launching other apps (ie the SWAT parameter editor app). It was decided that the default app resource in HydroShare will include the following parameters: usr, src, res_id.

[2015-09-02 13:12] shawncrawley commented on #569
@selimnairb It still fails with a 500 Internal Server Error. The "Generic"
is still working like a charm, though.

On Tue, Sep 1, 2015 at 1:27 PM, Brian Miles <notifications@github.com>
wrote:

[2015-09-02 14:04] hyi commented on #90
@pkdash could you check and close this issue if it is resolved?

[2015-09-02 14:06] hyi commented on #463
@mjstealey could you check and close this issue if it is resolved with the current development and deployment setup?

[2015-09-02 14:07] mjstealey commented on #463
Using nginx to serve static files has resolved this issue

[2015-09-02 14:07] #463 closed

[2015-09-02 14:34] hyi commented on #528
@selimnairb I tested this on dev and this issue appears to be resolved. Here is the hexdump output for bagit.txt:
hexdump -c bagit.txt
0000000   B   a   g   I   t   -   V   e   r   s   i   o   n   :       0
0000010   .   9   6  \n   T   a   g   -   F   i   l   e   -   C   h   a
0000020   r   a   c   t   e   r   -   E   n   c   o   d   i   n   g   :
0000030       U   T   F   -   8  \n
0000037

Coul

[2015-09-02 14:43] ironfroggy commented on #463
But, we don't all use nginx? It is an optional setting. If you're going to
support the setting to not run with nginx, doesn't this ticket still need
fixed?

I am still unable to use nginx and the SSL certifications when running from
boot2docker, because the certifications don't include the right addresses.

On Wed, Sep 2, 2015 at 10:07 AM, Michael J. Stealey <
notifications@github.com> wrote:

--

[2015-09-02 14:50] hyi commented on #463
@ironfroggy @mjstealey With the current development/deployment settings, should we always set DEBUG=TRUE in our local dev environment and only set DEBUG=FALSE when setting nginx to TRUE to mimic deployment env? I am able to use nginx and the SSL self-certificate in my local dev env, so not sure whether boot2docker is the culprit that prevents SSL self-certs from working, but we can also set nginx

[2015-09-02 14:53] zhiyuli commented on #582
tested on alpha (1.5.3). closed

[2015-09-02 14:53] #582 closed

[2015-09-02 14:54] zhiyuli commented on #322
fixed in branch 525. closed

[2015-09-02 14:54] #322 closed

[2015-09-02 14:55] zhiyuli commented on #51
tested on alpha (1.5.3). closed

[2015-09-02 14:55] #51 closed

[2015-09-02 14:56] zhiyuli commented on #280
tested on alpha (1.5.3). closed

[2015-09-02 14:56] #280 closed

[2015-09-02 14:57] zhiyuli commented on #281
tested on alpha (1.5.3). closed

[2015-09-02 14:57] #281 closed

[2015-09-02 15:01] zhiyuli commented on #282
time out error is gone but got new a new error (alpha, 1.5.3), will look into this shortly
![image](https://cloud.githubusercontent.com/assets/10070599/9634962/357721e4-5151-11e5-874e-c8a92ba44a73.png)

[2015-09-02 15:05] zhiyuli commented on #312
this branch (issue) was created 4 months ago for training. Now it is deprecated. closed

[2015-09-02 15:05] #312 closed

[2015-09-02 15:08] zhiyuli commented on #278
I think this issue is not related to this Reference Time Series

[2015-09-02 15:10] zhiyuli commented on #330
![image](https://cloud.githubusercontent.com/assets/10070599/9635189/6c0432f0-5152-11e5-8d54-d2bf1189a5c6.png)

no seeing this on alpha 1.5.3. closed

[2015-09-02 15:10] #330 closed

[2015-09-02 15:19] yirugi commented on #597
This feature has been implemented.

+ Three parameters
 - res_id : resource id
 - src : "hs" (HydroShare)
 - usr : username (currently, not using it)

ex) https://mygeohub.org/groups/water-hub/swatshare?res_id=a36f1cc4c0c64a1fabd33b882dc9b34e&src=hs

[2015-09-02 15:23] Castronova commented on #580
All model programs that exist in HydroShare are populated in the "executed by" drop box.

[2015-09-02 15:24] dtarb commented on #580
Some questions to consider that may relate to scalability and usability of this field.

1. Will we only allow model instances for models that have model programs already in HydroShare.
2. What if the model program that a model instance wants to refer to is not shared with the user creating the model instance.

[2015-09-02 15:24] hyi commented on #592
Verified on dev and it is working as expected. closing.

[2015-09-02 15:24] #592 closed

[2015-09-02 15:25] yirugi commented on #595
- SWATShare users can import SWAT model instance on HydroShare on 'upload' and 'edit' tab.
- HydroShare REST API : 'getResourceList', 'getResource'
- Authenticating is processed via BASIC auth.
- crossdomain problem (requiring crossdomain.xml file on HydroShare for FLEX), has been solved by using proxy page on MygeoHub (SWATShare side).

[2015-09-02 15:26] hyi commented on #579
@vmmerwade it is ready for testing on dev.hydroshare.org. I have tested and it is working properly now. Could you test and close the issue if it works now? Pay special attention to selecting a year less than 1900 when testing to make sure it works properly.

[2015-09-02 15:28] yirugi commented on #596
- SWATShare users can export their model instance resources to HydroShare on Model Info Dialog on View tab.
- HydroShare REST API used : 'createResource', 'addResourceFile'
- Authenticating is processed via BASIC auth.

[2015-09-02 15:30] Castronova commented on #548
Implemented model program foreign key relationship in swat model instance.  Modified the fk definition in model instance. 1833dbda7df4c753369a9f37615298283d7aa853

Foreign Key relationship fails when saving.

[2015-09-02 15:33] yirugi commented on #596
[ Implementation required ]
- Currently, SWAT models are exported as 'Generic Resource' since HydroShare REST API does not support modifying SWAT model instance specific metadata yet.
- REST API that adds / edits SWAT model instance resource specific metadata is required.

[2015-09-02 15:37] dtarb commented on #278
OK.  Relabeling this as Apps.  Geospatial services really refers to establishing the capability to publish web services for data stored in HydroShare

 * Web feature services for features
 * Web coverage services for rasters

I hope that sofware in the Tethys stack can be used to achieve this which is why it is an App.

However, note that the label reference resources, is not limited to time serie

[2015-09-02 15:48] dtarb commented on #538
Checked on alpha.hydroshare.org

[2015-09-02 15:48] #538 closed

[2015-09-02 15:49] dtarb commented on #530
Checked on alpha

[2015-09-02 15:49] #530 closed

[2015-09-02 15:51] dtarb commented on #471
Checked on Alpha.

[2015-09-02 15:51] #471 closed

[2015-09-02 15:56] dtarb commented on #560
Tested on Alpha.

[2015-09-02 15:56] #560 closed

[2015-09-02 16:08] selimnairb commented on #569
@shawncrawley I just tested this on alpha.hydroshare.org and am able to create a NetCDF resource.  Here is my code:

    from hs_restclient import HydroShare, HydroShareAuthBasic
    auth = HydroShareAuthBasic(username='whoever', password='******')
    hs = HydroShare(auth=auth, hostname='alpha.hydroshare.org', use_https=True)
    abstract = 'My abstract'
    title = 'My resource'
    keywords = (

[2015-09-02 16:15] mauriel133 commented on #564
When a resource is created and all the required information has been filled in, there is a message that says "sufficient to make public". Does this mean that a resource should be private by default after creation?

[2015-09-02 19:26] ironfroggy commented on #594
Haystack should handle all of the population for us when the indexes are defined.

[2015-09-02 19:35] selimnairb opened #600 "dc:format element(s) in resourcemetadata.xml ambiguous and redundant"
The dc:format element(s) that appear in resourcemetadata.xml are currently not associated with an identifier that specifies the resource file to which they belong.  Also, there is a dc:format element that appears in resourcemap.xml, but as a part of the description of each resource file.

Therefore, I propose we remove the dc:format element(s) from resourcemetadata.xml because they are ambiguous a

[2015-09-02 19:38] zhiyuli opened #601 "New feature needed in REST API: GetResourceFileList()"
This new function should return all resource file names for a resource

[2015-09-02 20:39] horsburgh commented on #601
@zhiyuli - the getResourceMap() function should be used for this purpose. The resource map contains the list of all files in the resource (and any relationships that may exist between them). I'm not sure what the implementation status of the getResourceMap() function is.

[2015-09-02 20:48] horsburgh commented on #600
@selimnairb - We did this by design. The "Format" element in the resourcemetadata.xml file refers to the resource as a whole. Consider a resource that is a GIS shapefile. The format of the resource is "Shapefile". But, a shapefile is made up of multiple files that may each all have a separate format. So the "Format" elements in the resourcemap.xml file refer to each individual file.

The "Format"

[2015-09-02 21:13] selimnairb commented on #600
@horsburgh I understand.  However, I'm not sure it is being used as intended.  For example, NetCDF resources have two files on creation (the .nc file, and a text file created as part of the automatic metadata extraction).  The resourcemetadata.xml has two dc:format elements, one for each file.  Does this make sense as something we want to enable?

[2015-09-03 17:26] rayi113 opened #603 "Generic Resource: 7GB file fails to upload"
As a test in release 1.5.3 I tried uploading a 7GB file and it failed without any error messages.  I choose the 7GB file with resource type "Generic" selected, type in a Title, then select "Create Resource."  The browser shows the %complete in the lower left.  It begins uploading with reasonable speed (~2% per second), It completes to 100%, but then the message changes to "Waiting for www.hydrosha

[2015-09-04 15:56] horsburgh commented on #600
Agreed that this is problematic in the science metadata for resources that have multiple files of different formats.  The science metadata specifications document states that the "Format" element is optional and repeatable.  So, I'm guessing it was implemented according to the document and there is a "Format" element for each file in the resource (if known).  But, I'm guessing there isn't a specif

[2015-09-04 20:09] horsburgh commented on #300
@hyi - have you looked at this issue enough to be able to verify that the problem still exists (and if so, fix it)?

Earlier, I had some thoughts about how we could potentially change the sign-up/log-in process (in particular I'm not really fond of the re-captcha). I was going to assign this to @mauriel133 to work on, but there are so many other things to work on right now that I think we should j

[2015-09-04 20:11] horsburgh commented on #223
Part of user profile page redesign by @mauriel133.

[2015-09-04 20:15] horsburgh commented on #44
I believe that our simplified information model for users has got this straight. I'm assigning to Mauriel to make sure the front end implementation is correct.

[2015-09-04 20:20] horsburgh commented on #45
@ironfroggy - can you provide a little more description here?  Are you suggesting that users should be able to add multiple names to their user profile?

[2015-09-04 20:31] horsburgh commented on #222
This looks good for the most recent resources on www.hydroshare.org, so I'm assuming it's been fixed for a while. Closing.

[2015-09-04 20:31] #222 closed

[2015-09-04 20:37] hyi commented on #300
@horsburgh Just looked into this issue and believe this problem does not exist any more. Specifically, the captcha is verified on the server as shown in verify_captcha() view function here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/__init__.py#L345, so it appears to me captcha is verified both on client and server side. @ironfroggy could you confirm and close this issue i

[2015-09-04 20:40] hyi commented on #90
Closing this issue since dublincore submodule is removed from the code base. @pkdash you can reopen it if you observe any issue with it.

[2015-09-04 20:40] #90 closed

[2015-09-04 20:41] horsburgh commented on #512
This is a duplicate issue that I believe will be addressed when #27 and #49 are taken care of.  So, I'm going to close this one.

[2015-09-04 20:41] #512 closed

[2015-09-04 20:47] horsburgh commented on #488
Removed the Access Control label because I don't think this has anything to do with access control. @dtarb - if you disagree, you can add it back, but I'm having a hard time making the connection.

[2015-09-04 20:49] horsburgh commented on #484
@mauriel133 and @pkdash - has this been resolved?

[2015-09-04 20:50] horsburgh commented on #459
This will be resolved when @mauriel133 has the new profile editing page going.

[2015-09-04 20:55] horsburgh commented on #347
@selimnairb - is this still an issue or can it be closed?

[2015-09-04 20:57] horsburgh commented on #587
This is the same as #340. I'm going to close that one and leave this one.

[2015-09-04 20:57] horsburgh commented on #340
Closing because this is a duplicate of #587.

[2015-09-04 20:57] #340 closed

[2015-09-04 21:03] horsburgh commented on #320
I'm going to assign this to @mauriel133 because it has to do with the User Profile page.  But, I think we should for the first cut simplify this functionality and only show resources on a user's profile page if they are "Discoverable".  When the access control is all integrated, etc. we can deal with filtering the list based on access control rules.

[2015-09-04 21:07] horsburgh commented on #289
@jsadler2 - is this still an issue or can it be closed?

[2015-09-04 21:10] horsburgh commented on #190
@mauriel133 - I think we should start with number 1 in @Castronova 's list above.  I would base it on a Google Map.  Given other priorities for Release 1.6.0, I'm not sure this one should be included.  And, I'm not sure we should do all 4 of Tony's suggestions (at least not yet).

[2015-09-04 21:13] horsburgh commented on #172
@dtarb - so, should we assume that this will be implemented when we have the capability to formally publish resources and close this issue?

[2015-09-04 21:16] horsburgh commented on #171
@pkdash - assuming this is working correctly, I can do a couple of tests and close.  But, what did we decide to do about resources in HydroShare created before this fix was in place and that do not have the required "Type" element?

[2015-09-04 21:18] horsburgh commented on #170
@hyi - we had an email discussion about resource versioning, so I'm going to assign this one to you.

[2015-09-04 21:19] mauriel133 commented on #190
Alright, I think Google Map is the right approach too.

[2015-09-04 21:21] horsburgh commented on #154
Closing since I believe bag-info.txt is no longer being created when a resource is created.

[2015-09-04 21:21] #154 closed

[2015-09-04 21:38] hyi commented on #170
@horsburgh sounds good. Will work on this after I get other priority issues worked out.

[2015-09-04 22:28] pkdash commented on #484
No

[2015-09-04 22:30] dtarb commented on #488
This issue needs a label so that someone is managing it.  I agree that access control was wrong and it seems to fit better into Resource Model.

[2015-09-04 22:32] pkdash commented on #171
@horsburgh Since we will be recreating resources as part of the base concrete class migration, the 'type' element would be automatically added at the time of resource creation.

[2015-09-04 22:49] shawncrawley commented on #569
@selimnairb It works for me when I upload the same resource that you are -
the 9MB one. However when I try to upload the 213MB file, it actually
returns a 400 Bad Request error. The weird part is that when I check
hydroshare, the file is there and appears to have been uploaded correctly.
I'm not sure what to make of that.

On Wed, Sep 2, 2015 at 10:08 AM, Brian Miles <notifications@github.com>
wro

[2015-09-04 23:26] dtarb commented on #45
I think I am the culprit for suggesting that we need to have a way to accommodate someone who has a name like "William Arthur Philip Louis Windsor", so not only one middle name.  Someone must have solved this problem somewhere, so if we can find an existing solution, it is preferable.

[2015-09-04 23:41] dtarb commented on #172
While I said that publisher should only be required for a resource to be formally published, this should not preclude the publisher field being filled in earlier.

There are also some choices that may still need to be made.

1.  Publisher is always HydroShare.
2.  Publisher is some other organization using HydroShare to publish its resources.

If it is 2, then a user editing a resource needs the c

[2015-09-05 05:18] pkdash commented on #172
If we want the existing resources to have the 'publisher' element in xml document, we need to implement creation of the element as part of resource creation before the manual resource migration. I guess if we make the publisher element editable we can always add this data anytime.

[2015-09-05 13:03] dtarb commented on #172
We should avoid the reaction to want to do any change that we ever want before the manual migration.  There will be changes in the future as the system evolves that come after the manual migration and we'll need to figure out how to include them.  That said, if this one is simple enough and we want to do it now, that's fine.

[2015-09-06 22:00] selimnairb commented on #569
@shawncrawley This is running against alpha?  Can you create a resource with the same file, without error, when going through the HTML interface?

[2015-09-07 20:12] shawncrawley commented on #569
@selimnairb Yes, it is running against alpha. And yes, I was able to create
a resource of the same file, without error, when going through the HTML
interface. But yeah, I still get a 400 Bad Request error through the REST
API but the file still appears in HydroShare as if no error were received.

On Sun, Sep 6, 2015 at 4:00 PM, Brian Miles <notifications@github.com>
wrote:

[2015-09-08 12:59] ironfroggy commented on #45
Handling the multitude of human naming, especially being both inclusive of and sensitive to very non-western structured names, I'm in the camp that the best option is to give the person as much flexibility and as few assumptions as possible. Rather trying to break down the structure of the name (into first, last, maybe middle, maybe an honorific, maybe a suffix?) consider the things you want to do

[2015-09-08 13:53] dtarb commented on #45
The things we want to do with names are:

* Be part of the identification of a user
* As a display label for identifying owner, author, contributor etc
* As a name in a formal citation

This has to be a somewhat solved problem with systems like Endnote, Bibtex, Procite, LinkedIn.  We should be adopting something existing and simple if at all possible.

[2015-09-08 15:08] zhiyuli opened #604 "Some kind of weird lag exists in RefTS creation process"
Some kind of weird lag exists in RefTS creation process. Under some circumstances, RefTS may use information from the previous resource to create a new resource.

[2015-09-08 16:02] horsburgh commented on #172
@dtarb - as a policy decision, I'm not sure we want to allow users to just override the "Publisher" element with whatever text they want to specify. This is a policy decision that we need to be clear on before we implement. The HydroShare data publisher's agreement should probably ask the user to assert that they have the right to publish the content they are publishing when they push the button t

[2015-09-08 16:08] horsburgh commented on #45
@ironfroggy and @dtarb - just a quick note Dave's final bullet. Citations are typically listed with full last names but with any other names listed as initials. Our implementation needs to support this.  For example:

Horsburgh, J., A.Jones (2015). Water Temperature in the Little Bear River at Mendon Road near Mendon, UT, HydroShare, http://www.hydroshare.org/resource/1a25b11fa1354773b6edb9495e754

[2015-09-08 16:11] horsburgh opened #605 "Need spaces between initials and names in citations"
When there are multiple authors/creators of a resource that are listed in the citation, there is no space between the initials and last names of the 2nd, 3rd, 4th, etc. authors.  See the following for an example:

Tarboton, D., P.Dash, T.Gichamo (2015). Utah Energy Balance (UEB) Snowmelt Model Input Data Preparation Script, HydroShare, http://www.hydroshare.org/resource/cfb8d71b7f1f4e75a44f5e634f4

[2015-09-08 16:13] Castronova commented on #190
@horsburgh I agree, functions 2-4 are more of a wish list.

[2015-09-08 17:13] mohamedmorsy commented on #547
@Castronova Could we change also the metadata term "modelProgramURL" to modelProgramIdentifier" to be homogeneous with the metadata term "hydroShareIdentifier". Also this should be changed in https://www.hydroshare.org/terms/ModelProgramURL/#ModelProgramURL.

[2015-09-09 03:33] dtarb commented on #172
@horsburgh I agree on your points 1 and 2.  However on 3 and 4 I differ.  I think that there is a case for an organization to use HydroShare as its website for publication.  HydroShare is then not the publisher.  It is the resource hosting system that facilitates an organization doing the publishing.  The organization using HydroShare in this way would then be the publisher.  I think we should fac

[2015-09-10 16:22] ironfroggy commented on #540
Riverdev has been updated with a merged copy of both branches. All resources have been cleared. It needs a testing pass before we coordinate a walk through of the production migration.

[2015-09-11 13:30] ironfroggy opened #606 "Outgoing mail broken for local dev, blocks testing of user registration"

[2015-09-11 18:09] mjstealey commented on #606
Developers should configure their own environment using the information outlined here: https://github.com/hydroshare/hydroshare/wiki/hydroshare_email_using_gmail

The *.hydroshare.org VMs have their own email server that is specified via the local_settings.py file located on each VM separately. These configuration files are not made publicly available as part of the code on github for security rea

[2015-09-11 21:04] ironfroggy commented on #606
I think there is a larger issue involved of developer setups and VM deployments still requiring far too many manual steps. Any deployment that requires manual steps is prone to errors.

- Why is the local_settings.py checked into the repo if you have to use a local version? Usually these would not exist, so they initial setup *requires* they be put in place before anything will run. This helps cat

[2015-09-12 11:49] mjstealey commented on #606
There are scripts for all of this: https://github.com/hydroshare/hydroshare/tree/develop/scripts

Other developers using the public VMs are deploying via Jenkins and using the aforementioned scripts to keep the data backup and deployments relative to the machine being deployed to.

Happy to walk you through this if you are still confused or having issues on the deploy.

[2015-09-15 15:32] hyi commented on #603
@rayi113 @mjstealey @selimnairb @ironfroggy I downloaded a 7GB file as test file from NFIE zone to my local machine and used that file to test resource creation in my local development environment hoping to debug and pinpoint where it fails in the resource creation process. However, the resource is created successfully with 7GB file transferred to iRODS without issues. It took a long time for Djan

[2015-09-15 16:42] ironfroggy commented on #603
Do we have any logs from the production server failures of large uploads?

On Tue, Sep 15, 2015 at 11:32 AM, Hong Yi <notifications@github.com> wrote:

--

*Calvin Spealman*Lead Front-end Developer

calvin@caktusgroup.com <calvin@caktusgroup.com>
www.caktusgroup.com

[2015-09-15 17:01] rayi113 commented on #603
@rayi113 @mjstealey @selimnairb @ironfroggy RE: I am trying to avoid using www server for debugging, so if this issue can be reproduced in another vm with similar configuration as www, I could try to do some debugging there...  Sounds good.  I defer to @mjstealey  to point to another VM you can use with similar configuration as www.

[2015-09-15 17:08] ironfroggy commented on #603
@rayi113 this issue was filed because a large upload already failed on production. Shouldn't we have logs from that failure?

[2015-09-15 17:38] mohamedmorsy opened #608 "Hydroshare metadata elements "hsterms" capitlization format"
The hsterms should uniformly follow the standard capitalization format as used for example by [Dublin Core](http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=elements) metadata elements. Each element should start lower case and if the element consists of more than one word, each word's first letter should be capitalized starting with the second word. For example in Model Instance resource,

[2015-09-15 17:56] mohamedmorsy opened #609 "Metadata term "dcterms:isDerivedFrom " is not part of Dublin Core terms"
While reviewing the RDF structure in resourcemetadata.xml file, we found that "isDerivedFrom" is listed as Dublin Core metadata term in Hydroshare, but it is not part of the Dublin Core terms listed on the website. For example, in the following resource metadata XML file:

http://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b

This resource has the following "source" metadata:
[code]

[2015-09-15 18:15] mjstealey commented on #603
nginx error log for www

[code]

Suspect the 1st and last 2 lines to be large file timeouts (internal Renci IP address range)

[2015-09-15 18:41] ironfroggy commented on #603
These kind of errors are really hard to distinguish from latent network issues, and that may be just what these are. 7GB is a lot to transfer and a lot can go wrong with the TCP connection during that time. Honestly I think the only real solution is to properly implement chunked uploading that can be fault tolerant and resume on failure. I don't think this kind of direct single-shot HTTP upload sh

[2015-09-15 19:19] rayi113 commented on #603
I was doing experimentation with greatly reducing tcp_keepalive_time, probes, and intvl on both www and data with no success.  I was also looking at: https://www.nginx.com/blog/http-keepalives-and-web-performance/

[2015-09-15 22:42] Castronova commented on #547
@mohamedmorsy The **modelProgramURL** corresponds with the **program_website** variable in the models.py, so I'm not sure that it should be renamed to **modelProgramIdentifier**.  However, I agree that all of the hsterms for the Model Program must match the image above.

[2015-09-16 15:55] Castronova opened #610 "Executed By Foreign Key Filtering"
Currently the *ExecutedBy* field in model instance resources is chosen from a listbox that is populated with all known model programs.  Instead this list should be filtered to show only **public** resources or those in which the current user has permission to access.

In model instance / swat model instance, forms.py

change
`mp_resource = users.get_resource_list(type=['ModelProgramResource'])`

t

[2015-09-16 16:01] mohamedmorsy commented on #610
@Castronova I am not sure but do we have to add "Unspecified" to this list? So when "unspecified" is chosen the resource permission could change to public.

[2015-09-16 18:27] Castronova commented on #610
Pabitra's suggestion:
in page_processor.py pass in  `request.user`
`mp_resource = users.get_resource_list(user=request.user, type=['ModelProgramResource'])`

[2015-09-16 18:48] rayi113 commented on #603
Michael tried changing the following values on nginx with no success in uploading 7GB test file:

proxy_connect_timeout  600s;
proxy_send_timeout  600s;
proxy_read_timeout  600s;
fastcgi_send_timeout 600s;
fastcgi_read_timeout 600s;

(see http://stackoverflow.com/questions/18740635/nginx-upstream-timed-out-110-connection-timed-out-while-reading-response-hea)

Recommend next step is to implement ch

[2015-09-16 19:17] hyi commented on #603
Agreed with @rayi113's recommendation to implement what @ironfroggy suggested to resolve this large file upload failure issue. @ironfroggy should we use celery task to implement fault tolerance and resume-on-failure functionality when uploading files? If not, what specific approach do you recommend?

[2015-09-16 19:30] mjstealey commented on #603
There is also this: http://wiki.nginx.org/HttpUploadModule

Would require a rebuild of nginx, but looks to implement some interesting features (large file upload, resumable upload, progress, etc.)

[2015-09-16 19:32] ironfroggy commented on #603
@hyi A chunked upload would not utilize celery in any way, that I am aware.

It requires two parts.

First,

Either an expansion to the API or new backend views to accept partial file chunks to append on the server until the file is complete, and to indicate a file is complete. This needs to provide a temporary location for files while uploading, in iRODS, add chunks that are uploaded, and initiat

[2015-09-16 20:30] rayi113 commented on #211
See picture below for a summary of the plan forward discussed at the 09/16/2015 weekly HydroShare team mtg:

![hydroshare_thredds](https://cloud.githubusercontent.com/assets/2846017/9917535/2f9b55f2-5c90-11e5-9d8a-49b950bfd04a.png)

[2015-09-17 12:04] dtarb opened #611 "+1 rating functionality"
[ ] When a resource or comment (item) has no +1 ratings the message should say "Be the first to +1 this." Delete the word resource so that the same comment applies to both resources and comments.

[ ] When an item already has +1 ratings the message should say "nn others +1 this." if there are other ratings, or "You and nn others +1 this." if the user has already rated and there are other ratings,

[2015-09-17 21:00] selimnairb opened #613 "REST API: GET /hsapi/resourceList/ fails under new base resource class refactoring"
Error is as follows:

    AttributeError at /hsapi/resourceList/
    'str' object has no attribute 'creator'

The problem appears to be that in hs_core.views.resource_rest_api.ResourceList.get_queryset() the, the resource being passed to ResourceList.resourceToResourceListItem() (see line 167) is a string and not a resource object.

Fix imminent.

[2015-09-18 15:07] hyi opened #615 "Use of iRODS file browser leads to iRODS session processes lingering around without terminating"
@rayi113 and @dtarb found that some repetitive use of iRODS file browser with some complicated workflow leads to failure to login to iRODS unless the iRODS server is restarted to clear up the processes. @rayi113 further observed that use of iRODS file browser leads to iRODS session processes lingering around without being terminated, and after some accumulation of iRODS session processes reaches t

[2015-09-18 19:17] #540 closed

[2015-09-18 20:09] hyi commented on #611
@dtarb I implemented this rating functionality as you outlined with little variation. Specifically, since the button will change to "Withdraw +1" when a user has already rated, it should not show "You and nn others +1 this." but show "You and nn others Withdraw +1 this" where Withdraw +1 is a button, as shown in this screen capture below:
![rating](https://cloud.githubusercontent.com/assets/476302

[2015-09-20 01:23] dtarb commented on #611
@hyi I think that as presented that is confusing.  I think that you should separate the "Withdraw +1" from the statement in cases where the user has already rated the resource as follows.

You and nn others +1 this.  [Withdraw +1]
or
You +1 this.  [Withdraw +1]
with the [Withdraw +1] that follows taking the appearance of a hyperlink, not a button.

[2015-09-20 11:39] hyi commented on #611
@dtarb Agreed separating the [Withdraw +1] button from the statement in cases where the user has already rated the resource is clearer. However, I think [Withdraw +1] should be a button, just like [+1] button for other cases where the user has not rated, since an action will be taken, either withdraw +1 or +1, when the user click on it.

[2015-09-20 12:11] dtarb commented on #611
OK.  Having something implemented that works is better than debating this.

[2015-09-21 13:44] hyi commented on #611
@dtarb Implemented this to clear confusion in presentation. Screen captures for all cases are copied below for your perusal and correction if needed:
![rating_3](https://cloud.githubusercontent.com/assets/476302/9993279/f18eb0b6-6044-11e5-8aba-dbd555158f1e.png)
![rating_4](https://cloud.githubusercontent.com/assets/476302/9993290/fa40cc94-6044-11e5-907a-7598f2d33e1b.png)
![rating_2](https://cloud.

[2015-09-21 14:14] dtarb opened #619 "River Geometry Resource Refinements"
Updating thinking from #12 I suggest river geometry be represented at follows (capturing ideas from email thread's with Maidment)
1.  Build on geographic feature resource type #7 to establish a river geometry resource type or river geometry enhancement (but perhaps not new resource type) that is a special case of geographic feature that includes flow connectivity.  This should accommodate NHDPlus

[2015-09-21 14:22] dtarb commented on #611
@hyi the English writer in me wants to accommodate singular/plural cleanly.  I know this adds cases but it would be better to say
1 other +1 this
n others +1 this   (when n is greater than 1)
You and 1 other +1 this
You and n others +1 this (when n is greater than 1)

[2015-09-21 14:50] hyi commented on #611
@dtarb OK, singular/plural is accommodated. All cases involving singular/plural are summarized by screen captures below:
![rating_1](https://cloud.githubusercontent.com/assets/476302/9995129/7ba53e9c-604e-11e5-868d-6b65738e5656.png)
![rating_2](https://cloud.githubusercontent.com/assets/476302/9995128/7ba3a334-604e-11e5-843f-d3d20e9f8b78.png)
![rating_3](https://cloud.githubusercontent.com/assets/

[2015-09-21 16:27] zhiyuli opened #620 "Cannot open admin page on local dev VM"
I got this error when opening http://127.0.0.1:8000/admin/ on my local development VM (latest dev branch).  I was trying to activate my user account. Any idea? Thanks

![image](https://cloud.githubusercontent.com/assets/10070599/9997739/12f23ec0-604b-11e5-8922-ad52c3abad37.png)

DoesNotExist at /admin/login/

SitePermission matching query does not exist.

Request Method: 	GET
Request URL: 	http://

[2015-09-21 17:32] hyi opened #621 "Add isPublic and resourceType metadata to HydroShare resources in iRODS"
Add isPublic and resourceType metadata to HydroShare resources in iRODS for THREDDS data server to only expose public netCDF HydroShare resources for remote data access without involving HydroShare django server. Adding resourceType metadata allows THREDDS data server to expose HydroShare resources by type in general, not restricted to netCDF resources. A separate script also needs to be written t

[2015-09-22 13:09] ironfroggy opened #624 "Remove Hydroshare Author Group"
This group serves no purpose, but has broken code and local envrionments multiple times when misconfigured.

[2015-09-22 13:21] ironfroggy commented on #606
@mjstealey is the process to deploy via Jenkins documented? I was never given access to Jenkins, only SSH access to the machine and told to check out the repo and deploy manually. If I had been given the proper information and setup that others are enjoying, it would have saved considerable time and frustration.

[2015-09-22 13:40] mjstealey commented on #606
Presently myself, @pkdash, @selimnairb, and @hyi are admins on the Jenkins box, any one of us could set you up with a user level account.

The process is not documented formally, however there are plenty of example jobs running that can be used as a template or starting point for a new job, and then tweaked to suit your needs.

Depending on what needs to be done, the slave VM may need to be config

[2015-09-22 14:25] ironfroggy commented on #591
You should be able to include jquery from NPM just like bootstrap.

But, if there are multiple NPM dependencies, they should really be put in a `package.json` defining all them. And they need to be pinned to specific versions, or future updates are going to break Hydroshare unexpectedly.

[2015-09-22 14:27] ironfroggy commented on #561
We are using a less manual migration process. @dtarb do you still want to implement this backdoor?

[2015-09-22 14:28] ironfroggy commented on #528
This has been merged and deployed already. This ticket can be closed, yes? @selimnairb

[2015-09-22 14:30] ironfroggy commented on #513
Can someone confirm this code should be removed? @hyi perhaps you know?

[2015-09-23 15:40] selimnairb commented on #569
@shawncrawley Can you verify whether this is still happening, in particular against dev?

[2015-09-23 15:44] selimnairb commented on #613
Verified that this is now fixed on dev.

[2015-09-23 15:44] #613 closed

[2015-09-23 15:46] selimnairb commented on #126
@ironfroggy Is this issue still valid?  If so could you please provide a description of what is needed?  Thanks.

[2015-09-23 16:34] selimnairb opened #626 "Enable/Ensure creation of arbitrary resource types using REST API"
Currently, users cannot create derived model resources (e.g. SWAT model instance) using the REST API.

[2015-09-23 19:36] zhiyuli commented on #620
DoesNotExist at /admin/login/
SitePermission matching query does not exist.
Request Method:	GET
Request URL:	http://localhost:8000/admin/login/?next=/admin/
Django Version:	1.7.8
Exception Type:	DoesNotExist
Exception Value:
SitePermission matching query does not exist.
Exception Location:	/usr/local/lib/python2.7/dist-packages/django/db/models/query.py in get, line 357
Python Executable:	/usr/bin

[2015-09-24 14:50] mohamedmorsy opened #627 "Error during using internal API for model resources"
I created a generic resource and three different model resources in my local development environment as the following figure:

![image](https://cloud.githubusercontent.com/assets/5543781/10076347/1da4ba2c-62a9-11e5-9c80-ba5a02c9a0f9.png)

After that, I tested the internal API to get the objects for each resource type with these steps:
[1] $  docker exec -ti hydroshare_hydroshare_1 python manage.py

[2015-09-24 14:51] mohamedmorsy commented on #627
@pkdash suggested to change line #98 in hs_modelinstance/models.py from "objects = ResourceManager()" to "objects = ResourceManager(‘ModelInstanceResource’)." I did this solution which solved the problem. Also I did the same solution for Model Program resource and SWAT Model Instance resource and they work as expected.

[2015-09-24 15:18] zhiyuli commented on #627
@mohamedmorsy  the "line 98" you mentioned is in which branch?
@pkdash Does it mean all other apps should do the same changes in resource  class def? Do we need to redo migration after this change? I am wondering is this related to the edit permission problem we worked yesterday?
Thanks

[2015-09-24 15:21] mohamedmorsy commented on #627
@zhiyuli What I mentioned is just an exmaple to solve the problem for the Model Instance resource type (on develop branch). Based on my conversation with Calvin on HipChat, He will take care of this bug ASAP.

[2015-09-24 15:42] zhiyuli commented on #620
@mjstealey @pkdash @ironfroggy

I just notice this error can be duplicated by:
1) after login in as a normal user, current url is 127.0.0.1:8000
2) change url to 127.0.0.1:8000/admin
3) the error shows up, current url is http://127.0.0.1:8000/admin/login/?next=/admin/
4) If I go back to 127.0.0.1:8000, sign out, and change url to 127.0.0.1:8000/admin, the admin page is loaded successfully.

The sa

[2015-09-24 21:22] pkdash opened #628 "Add reverse migration code for hs_access_control app"

[2015-09-25 02:41] dtarb commented on #488
Email from @goodalljl on hydroshare listserv thread 9/16/15 that pertains to this issue:

Mohamed, Jeff S., and I continued the discussion about what to do about resources where the authors are not (yet) HydroShare users. The use case we were discussing is where Tony uploaded the SWMM model program resource in HydroShare so that Mohamed could link his SWMM model instance resource to it, but Tony i

[2015-09-25 02:45] dtarb commented on #488
Response from me on listserv to comment above

Here is what I think.

1.  We are far enough down the road of treating creators/authors in the Dublin core sense and users with owner/edit/view privileges in the access control sense as separate (orthogonal) concepts that I do not think we should change that.

2.  We should cite content outside of HydroShare where appropriate.  There may be cases wher

[2015-09-25 16:59] goodalljl commented on #488
Dave,

1. Ok, but I still suggest that ownership should not be conveyed to end users on any landing pages. As you suggest in #2, the "Owners" metadata should not be shown on this page. "Owner" is a loaded term because, while it has a specific meaning in Dublin core, it means something else to the layperson (e.g, Tony and Mohamed do not "own" SWMM).

2. I think when ever possible we should replicat

[2015-09-25 18:13] horsburgh opened #630 "Initial Search Facets for Data Discovery"
As part of a recent discussion about potential resource filtering and data discovery functionality for HydroShare, we decided that we needed to create an ***initial*** list of prioritized search facets to support data discovery and/or filtering of resources. This initial list doesn't have to be the final set of functionality for HydroShare, but needs to give us a place to start in developing and t

[2015-09-25 19:57] pkdash opened #631 "Remove UserAccess.admin attribute in hs_access_control app"

[2015-09-25 22:14] shawncrawley commented on #569
@slimnairb The tests were done against dev.hydroshare.org as requested. It
seems nothing has changed. I tested every combination of a 9MB or 213MB
file with a Generic or NetCDF resource type. All worked perfectly except
the 213MB NetCDF combination, which still "worked" (uploaded and was
accessible on HydroShare) but once again had the 400 Bad Request Error
returned. Sorry to bear bad news.

On We

[2015-09-26 14:26] dtarb commented on #488
@goodalljl owner is not actually a dublin core term (at least I do not find it in http://dublincore.org/documents/dcmi-terms/).  Owner is a concept in our access control that is separate from the Dublin core creator and contributor.

I think that Owner needs to be on the landing page, but needs to be labeled differently in certain cases.  The reason to display Owner, is so that a user knows who to

[2015-09-28 14:12] ironfroggy commented on #606
I'd like to add to this issue that not all GMail accounts have app-specific passwords enabled, so this doens't work for all of us. There are fallback behaviors we could put in place by default, like the console backend https://docs.djangoproject.com/en/1.8/topics/email/#console-backend

[2015-09-28 14:32] mjstealey commented on #606
I'm happy to put anything other than the production smtp credentials there.
If you have something that will work for all, then by all means please modify / PR it and we'll bring it in.

[2015-09-28 16:51] Castronova opened #632 "Model Program Version 2"
Implement the revised metadata terms:

| Term | Type | Description |
| --- | --- | --- |
| modelVersion |	Text |	Model version and/or build number |
| modelProgramLanguage |	Text | 	The programming language(s) that the model was written in|
| modelOperatingSystem |	Text 	| Compatible operating systems to setup and run the model|
| modelReleaseDate | 	Date | 	The date that this version of the model

[2015-09-28 16:54] mohamedmorsy opened #633 "Modify Model Instance resource type to work with the new base model"

[2015-09-28 18:00] zhiyuli opened #635 "RefTS has problems with new base model"
@ironfroggy @pkdash
I merged dev into branch 502-HISTimeSeries-new-design, and changed the RefTS class definition in /refts/models.py to fit new base model as follows:

[code]

When creating a new RefTS res, I got an exception at line 56 of /hydroshare/hs_core/hydroshare/utils.py.

[code]

Debugging shows: after Line 55, the value of "content" is None

[2015-09-28 18:06] zhiyuli opened #636 "Normal users cannot edit geographic feature resources when merged new base model and access control"
Normal users can create a geographic feature res, but cannot edit it (no edit button shows up on landing page).
Admin user can create and then edit geographic res.

[2015-09-28 19:13] ironfroggy commented on #635
You need to provide the resource type as a parameter to `ResourceManager()` like `ResourceManager("RefTimeSeries")` where the parameter is the value of the new `resource_type` field that identifies actual types of each resource created.

[2015-09-28 19:15] mauriel133 commented on #636
I'm not able to reproduce this issue. Are you experiencing this error only with Geographic Raster resources?

[2015-09-28 19:20] zhiyuli commented on #636
@mauriel133  It is Geographic Feature (ESRI Shapefile) Res Type. This new res type is not in dev branch yet.

[2015-09-28 19:32] zhiyuli commented on #635
@ironfroggy  I changed to this just now: objects = ResourceManager("RefTimeSeries"), but got the same exception.  "content" is None