[2016-03-31 15:05] Castronova opened #1094 "Web App - OAuth Clarification"
The process of registering and using a Web App and OAuth is not clear.  The following should be implemented.
1. Add a button to the Web App landing page to redirect the user to the Oauth app registration (and use the standard Oauth app registration information)
2. The Oauth request page needs clarification and branding.
   - redesign content
   - include description and access requirements
3. When

[2016-03-31 20:50] zhiyuli commented on #1094
@Castronova
Regarding (1): setting up oauth is a one-time process that should be done by the Admin of App Server (Tethys, CyberGIS, SWATShare and...), not by app developers or webapp res owners. So I think maybe it is unnecessary to display any "OAuth" setting on a webapp landing page.

Further, currently any hs user can go to "/o/applications/" to register a new OAuth client. Is it what we want?

[2016-03-31 22:31] shawncrawley opened #1096 "hs.getResourceFileList() OAuth 2 error"
@selimnairb I am getting a `InsecureTransportError: (insecure_transport) OAuth 2 MUST utilize https` error that stems from `for resource in hs.getResourceList(types=types):` (see the Traceback below). The funny thing is, if I do not authenticate my instance of the HydroShare object at all (i.e. `hs = HydroShare()`) it works fine. Also, the OAuth version is working fine on other hs_restclient calls

[2016-03-31 22:50] shawncrawley commented on #1079
@danames In hoping that I understand your question I'll say yes. This format should be very extensible. If other apps were to rely on this format, there would be no issue if there were a key-value pair stored that they did not need. There would only be a problem if multiple apps were depending on the format and then one person decided to either delete a key-value pair or rename a key.

[2016-04-01 01:14] dtarb commented on #1079
Please touch base with @pkdash.  He has been investigating use of Hstore to increase flexibility.  I do not know the details, other than that a discussion with him would, I think, be worthwhile.

[2016-04-01 17:05] pkdash commented on #998
It is in a sense. For any new resource this should get fixed by PR #1097. For existing resources it is still going to be the issues until that resource get updated. However, once a change in discover page is made to use the title from the metadata (res.metadata.title.value) instead of title from the resource (res.title) it should resolve the issue with the existing resources.

[2016-04-01 18:45] selimnairb commented on #1094
@zhiyuli This is a policy decision to be made by the PIs.  Google, and others, allow arbitrary developers to register applications and obtain OAuth client IDs.

[2016-04-01 18:46] selimnairb commented on #1096
@shawncrawley Can you supply a minimal example that triggers the error (omitting of course any client IDs or secrets)?  Thanks.

[2016-04-04 16:07] Castronova opened #1098 "Uploaded data names split incorrectly"
When a file containing spaces in the name is uploaded to the Model Program resource and selected as either **Computational Engine**, **Software**, **Documentation**, or **Release Notes**, the value displayed on the resource landing page contains only the first word of the name.  This is most likely a result of the name being split at space characters.

[2016-04-04 16:11] Castronova opened #1099 "Add content redirects away to landing page"
On the edit page of a resource the user is able to add additional content files.  When these file are added, the page is redirected back to the resource **landing** page.  However, it may be better to stay on the **edit** page so that the user can continue to edit/add metadata related to the content that was just uploaded.

[2016-04-04 17:42] Castronova opened #1101 "Model program save button appears at bottom of page"
The model program save button on the edit page appears at the bottom of the screen.  Instead it should appear next to the metadata category associated with the values that were changed.

[2016-04-04 19:55] zhiyuli opened #1102 "Collection Res Type and Versioning"
This issue may include two sub-issues:
(1) How to make a new version of a collection resource?
We decided to take NO account of issue (1) in current PR #1083. So it disabled the "versioning " button on collection landing page,

(2) How to handle contained resources that have different versions? Can Res A and its newer version Res A' be in the same collection?
Issue (2) was just brought up during t

[2016-04-04 21:37] dtarb commented on #1102
My recommendation is to keep things simple and leave this up to the person managing the collection.  Think of a collection as simply a list of resources.  If the person who is editing it wants to list both versions in it they can.  If they want to edit the resource to remove the old version and add a new version they can.  Once a collection resource gets published it is immutable, i.e. the list is

[2016-04-05 03:45] pkdash commented on #1102
I do not see any relation between issue (1) and issue (2). I agree with @dtarb recommendation to leave it up to the collection owners/editors to decide what resources to put in a collection. In creating a version of collection the existing resource versioning code will be used with additional code needed to add the resources to the new collection.

[2016-04-05 13:34] hyi commented on #1102
I also agree with @dtarb 's suggestion to leave it up to the users to decide what resources to put in a collection without versioning constraint. This also makes coding easier, but I do think we should only present latest versions of resources for users to pick to add to their collections to make the behavior consistent across HydroShare since we remove obsoleted resources from my resources page a

[2016-04-05 15:15] #1062 closed

[2016-04-05 15:17] mjstealey opened #1104 "Deployment notes for release 1.6.9"
Release updates

- Django 1.8.12
- PostgreSQL 9.4 (now using the "official" postgres docker build image
- **Work accomplished by others should be added here**
- Collection Res Type
- WebApp Res Type UI minor update -- add description for HS_Term usage

[2016-04-05 18:25] alvacouch opened #1106 "how should map interface to discovery work?"
Zhaokun and I are thinking about how the map view and the listing view should interact.

My suggestion:
- Selecting a subregion of the map makes that the active area:
- *On the non-map (listing) view*, coordinates of that box are listed,
   along with a "use all locations" button that clears it.
- On the non-map (listing)  view, we see only things that overlap with that region.
  - for coverages,

[2016-04-05 18:26] alvacouch commented on #1106
Some sub-notes:
- label the search term box with 'search for;' or some similar annotation.
- put the north, east, south, west boxes beneath the search term and above the listing. Label them as such.
- put the 'use all locations' button to right of these.

[2016-04-05 18:47] hyi commented on #1059
@gantian127 Now that on-demand update code for netCDF resources to feed to Hyrax server has been included on www in the latest deployment, could you test it and close this issue if it works correctly? Thanks!

[2016-04-05 18:51] xuezhaokun opened #1107 "Updates based on PR 1058"
Based on feedbacks from PR 1058, I made the following changes:

- Remove the "update" button
- Dynamically show the filtering results
- Update faceting items only when search text is changed

[2016-04-05 18:51] hyi commented on #1048
@mjstealey Could you verify on www to see whether this has been fixed and close if the answer is yes?

[2016-04-05 19:05] hyi commented on #946
Since resource versioning has been included in the latest deployment on www, I am closing this issue. I have already created another issue for removing obsoleted resources from discovery interface. We can create new issues as needed from user experiences once this versioning is being used more and more.

[2016-04-05 19:05] #946 closed

[2016-04-05 19:28] hyi commented on #603
After some further investigation, I agree with @selimnairb priority wise to put off implementation on chunked file uploading with resume ability a bit further after iRODS user file space is implemented in HydroShare. It turns out, according to iPlant/CyVerse Wiki, that CyVerse DE (Discovery Environment) caps file upload to 2GB per file via web browser, and recommends to use Cyberduck iRODS desktop

[2016-04-05 19:54] mjstealey commented on #1048
Looks to be working as expected: https://www.hydroshare.org/resource/652f51ada673432eac25614cea892a6b/

[2016-04-05 19:54] #1048 closed

[2016-04-05 19:57] hyi commented on #1048
@mjstealey Thanks! Yeah, it looks like it works as expected, and I also noticed you uploaded a 2.1GB for this test resource, so it appears 2GB upload is not an issue any more now, right?

[2016-04-05 19:59] mjstealey commented on #1048
This is connection dependent... I've not had any issues with files up to 4 GB from within our network. From outside of our network this varies dramatically depending on bandwidth and latency.

I'd think capping our uploads to 2 GB with a bandwidth disclaimer is a fair thing to do.

[2016-04-05 20:14] horsburgh commented on #1106
Seems like a reasonable first approach to me.

[2016-04-05 20:30] dtarb commented on #1106
I agree this seems reasonable.  I have a small concern that switching back and forth between a map and tab view will be cumbersome.  Also it may be good to have the corner coordinates for the list view tab be user editable in case a user wants to specify specific coordinates.

However, getting this deployed is higher priority than any of these refinements, which I would be happy to see come later.

[2016-04-05 20:32] dtarb commented on #603
I agree with this approach.

[2016-04-05 22:18] gantian127 commented on #1059
@hyi I tested on WWW site. It works when I set a private netcdf resource as a public resource. But when I set the public resource back as a private resource, it seems the OPeNDAP link still works.
I think after a resource is set as private or discoverable  again, its corresponding OPeNDAP link should not work. Would you please test it and make sure what I tested is correct? Thank you.

[2016-04-06 02:08] hyi commented on #1059
@gantian127 Yes, it works as expected. As I commented above for this issue, on-demand update is only triggered when a private netCDF resource is made public. The cron job on Hyrax server is still scheduled to run each midnight for clean up to handle the cases when public netCDF resources are made private or public netCDF resources are deleted. Since hyrax service is only available for public netCD

[2016-04-06 03:48] dtarb opened #1109 "Discover broken on www"
If I do the following on www.

1. Enter * in the Discover window on search.
2. Click the check box next to David Tarboton, under filter by Author, I get "Error, sorry an error occurred".

This appears to have been precipitated by deleting a resource that had a title, but appeared on the list as "untitled".  It may be because the SOLR database got out of sync with the delete.

I was doing this in p

[2016-04-06 04:43] dtarb opened #1110 "Raster band information editing fails unless all metadata elements are provided"
In a raster resource when editing band information I get an error "Metadata failed to update" if I change VariableName and Meters which both have * next to them indicating required and do not enter information for Method or Comment, both of which should not be required.  However if I enter content in Method or Comment it works.

[2016-04-06 13:34] hyi commented on #1109
@dtarb @xuezhaokun @alvacouch @mjstealey I took a look at the log and found the specifics on this internal server error pasted below. So it appears the error is indeed caused by deleting a resource in HydroShare but solr index is not updated, so it still has the index entry for the resource that does not exist any more, and then when trying to retrieve resource_type for the deleted resource, the c

[2016-04-06 15:44] gantian127 commented on #1059
@hyi If there is a nightly clean-up, I think current implementation is sufficient. Thanks for your information and work on this function! I will close this issue. If there is a new use case in the future, I think we can create another issue for it. Thank you.

[2016-04-06 15:44] #1059 closed

[2016-04-06 16:42] mauriel133 commented on #1088
Do you have a screenshot of the missing option or could you be more specific?

[2016-04-06 16:49] zhiyuli opened #1111 "Collection Res Type -- Phase 2"
In phase 2 the following features will be added to collection res type:
1) versioning (re: #1102)
2) publishing
3) collection holds other collections

[2016-04-06 17:21] mauriel133 commented on #1009
The PR containing this fix has been merged.

[2016-04-06 17:21] mauriel133 commented on #1008
The PR with this fix has been merged.

[2016-04-06 17:49] mauriel133 commented on #942
Is there more descriptive text to be added?

[2016-04-06 17:50] mauriel133 commented on #909
The icons have been implemented and deployed.

[2016-04-06 17:51] mauriel133 commented on #908
Is this still an issue?

[2016-04-06 17:51] mauriel133 commented on #841
This has been implemented and deployed. Please confirm and close.

[2016-04-06 17:53] mauriel133 commented on #764
Fixed with revamp of profile page. Please confirm and close.

[2016-04-06 17:55] mauriel133 commented on #475
Revamp has been implemented. Please confirm and close.

[2016-04-06 17:55] mauriel133 commented on #180
Fixed with revamp of profile page. Please confirm and close.

[2016-04-06 17:55] mauriel133 commented on #46
Implemented with revamp of profile page. Please confirm and close.

[2016-04-06 17:56] mauriel133 commented on #48
Implemented with revamp of profile page. Please confirm and close.

[2016-04-06 17:57] horsburgh commented on #942
@mauriel133 - I think what you have is fine. What did you end up doing with the info icon on the manage access button when you moved it up to the toolbar at the top?

[2016-04-06 18:03] mauriel133 commented on #942
It's gone, but the icon has a hover text that reads "Manage who has access". Should I add it there or some other place?

[2016-04-06 18:03] horsburgh commented on #908
I think this has been reverted and deployed to www. @mauriel133 - if you can verity this, I will close.

[2016-04-06 18:06] horsburgh commented on #841
Well - the list isn't really alphabetized, but the groups of resources have been created, and I think the list is OK as is.  I'm going to close.

[2016-04-06 18:06] #841 closed

[2016-04-06 18:08] horsburgh commented on #764
Just tried this one on www and it worked for me. Closing.

[2016-04-06 18:08] #764 closed

[2016-04-06 18:09] horsburgh commented on #475
@mauriel133 - the only potential issue is the changing of email address.  Did that whole process get implemented?

[2016-04-06 18:15] mauriel133 commented on #475
@pkdash was working on that one, I don't know if it has been merged.

[2016-04-06 18:16] mauriel133 commented on #44
This has been implemented and deployed. Please confirm and close.

[2016-04-06 18:16] shawncrawley commented on #1096
[code]
This seems to fail when processing the 6th resource in the list, because this is my output:
[code]

[2016-04-06 18:16] mauriel133 commented on #45
Implemented with revamp of profile page. Please confirm and close.

[2016-04-06 18:17] pkdash commented on #475
@horsburgh Email change has been implemented as part of this issue.

[2016-04-06 18:17] mauriel133 commented on #47
@pkdash, what's the status on the email update?

[2016-04-06 18:20] pkdash commented on #47
@mauriel133 Has been implemented and should be part of the master branch by now.

[2016-04-06 18:22] mauriel133 commented on #908
I just tested for Chrome, Firefox and IE and it works as intended. Could you test on Safari?

[2016-04-06 18:24] mauriel133 commented on #939
@mjstealey, has this been automated now? If so I will close this issue.

[2016-04-06 18:26] mauriel133 commented on #686
@pkdash, was this also taken care of with the revamp of the account creation workflow?

[2016-04-06 18:26] pkdash commented on #1088
@mauriel133 Don't have a screenshot. For timeseries resource, there used to be a checkbox with text something like "Check to extract metadata" on the add file dialogbox.

[2016-04-06 18:28] mjstealey commented on #939
Closing

[2016-04-06 18:28] #939 closed

[2016-04-06 18:29] pkdash commented on #686
@mauriel133 No. This has not been implemented.

[2016-04-06 18:29] #1084 closed

[2016-04-06 18:31] shawncrawley commented on #1079
@pkdash Could you expand on this Hstore topic? I have never heard of it. How does it relate to what I am attempting to do here? Should we have this conversation elsewhere, or is here fine?

[2016-04-06 18:55] mauriel133 commented on #47
@ironfroggy or @dtarb please confirm and close.

[2016-04-06 19:14] mauriel133 commented on #1052
It is there because it replaced the old interface we had in the tab. Perhaps we could move it (includeing the temporal coverage?) below the Content section.

@horsburgh, any ideas on where and if we should move this?

[2016-04-06 19:30] horsburgh commented on #180
Tested on www. Organization is still not required to register, but it is a required field when you first edit your profile. So, this issue was solved by adding application logic to require organization upon editing the profile.

Closing.

[2016-04-06 19:30] #180 closed

[2016-04-06 19:33] horsburgh commented on #48
I just tested this on www. You can now deactivate your account, but per our current policy I don't think the account is actually deleted. Closing for now.

[2016-04-06 19:33] #48 closed

[2016-04-06 19:41] horsburgh commented on #46
Just tested on www. "Usertype" is there and it is listed as a Required element. By default it is set to "Unspecified". I was able to edit and save my profile without changing this. "Unspecified" is a valid value, and by setting it as a default we may run the risk of having people never change it.

Could we have it be like "Organization" where it is not set when a user signs up, but they have to se

[2016-04-06 19:42] horsburgh commented on #942
Would it be lame to add it as the tooltip text when you hover over the button?

[2016-04-06 19:43] horsburgh commented on #475
OK. Closing.

[2016-04-06 19:43] #475 closed

[2016-04-06 19:44] horsburgh commented on #44
Agreed. Users can set "Unspecified" as valid values where they want to protect privacy. Closing.

[2016-04-06 19:44] #44 closed

[2016-04-06 19:46] horsburgh commented on #45
The result of going with First Name, Middle Name, and Last Name came after a lot of discussion. This has been implemented. Closing.

[2016-04-06 19:46] #45 closed

[2016-04-06 19:51] horsburgh commented on #908
Tested successfully in Safari on www. Closing.

[2016-04-06 19:51] #908 closed

[2016-04-06 21:05] zhiyuli opened #1116 "Obsolete res (res has newer versions) should be immutable to prevent unexpected change through api"
Obsolete res (res has newer versions) should be set immutable on backend to prevent unexpected change through api

[2016-04-06 21:50] gantian127 opened #1117 "Need accurate no data value metadata from Raster resource"
The "no data" value metadata shown in the resource landing page is not exactly the same as the value stored in the database.

[2016-04-07 04:55] pkdash commented on #1079
@shawncrawley If my understanding of the purpose of the map project file (json data) is correct, then I don't see HStore being relevant here. I am also quite new to HStore.  In Django HStore is a model field that allows storing data as a dictionary (key/value). Django provides a nice query interface to query the data stored using the HStore field.  Since the map project file is a json file, I don'

[2016-04-07 12:57] dtarb commented on #1109
@hyi @alvacouch I just tried again now and I still get an error.  Even worse, if I do a search on "Tarboton" I get an error.  There is also a resource I created 4:26 am (HydroShare time) on April 6, i.e. more than 24 hours ago with title "Logan River Stream Network" that does not appear in searches based on the keyword "Logan" or "TauDEM".  TauDEM was one of the keywords I used for this resource w

[2016-04-07 13:02] dtarb commented on #47
OK with what we have now.  Closing.

[2016-04-07 13:02] #47 closed

[2016-04-07 13:20] hyi commented on #1109
@dtarb @alvacouch @mjstealey Just checked and found the cron job for rebuilding solr index is pointing at /home/hydrobuild/hydroshare directory, but recently hydroshare build has been moved to /home/hydro/hydroshare directory. So rebuilding solr index cron job has been running on an old directory which does not have effect to the latest hydroshare deployment. I have fixed the cron job and now the

[2016-04-07 13:57] selimnairb commented on #1096
@shawncrawley Thanks.  I'll look at this later today or tomorrow and get back to you.

[2016-04-07 14:54] hyi commented on #1116
@horsburgh @dtarb Currently we allow users to share obsoleted resources. Want to make sure this is indeed what we want while I set immutable to True for obsoleted resources so that obsoleted resources cannot be modified via REST API. Otherwise, if we want to disable sharing of obsoleted resources, I can address it as part of this issue by setting sharable attribute on the resource to False and upd

[2016-04-07 18:06] dtarb commented on #1116
I am going to defer to @horsburgh on this.  I do not want to micromanage or take the time to work through the edge cases involved in the versioning model that was already worked out to respond substantively.

[2016-04-07 18:28] dtarb commented on #1109
Thanks.  I validated that the error I was getting no longer occurs, so am closing.  Pity about the live demo yesterday where I had to dance a jig and explain that the system still had errors.  But as I heard in a talk about software development once, live demos are critical to focus attention on what are the pain points, and here we found one and fixed it.

[2016-04-07 18:28] #1109 closed

[2016-04-07 22:19] mauriel133 commented on #942
Like that?
![capture](https://cloud.githubusercontent.com/assets/2448568/14368660/68a07cdc-fcdc-11e5-9560-0c5c31101e8c.PNG)

[2016-04-07 22:21] mauriel133 commented on #942
I could instead add this message to the manage access interface window that pops up.

[2016-04-07 23:03] horsburgh commented on #942
Why not both?

[2016-04-08 01:47] dtarb commented on #832
@alvacouch @xuezhaokun I reviewed the discover interface on park.hydroshare.org.  It is vastly improved.  I checked the items above that are done. Here are a few additional suggestions for improvements, though none of these are show stoppers and I would be happy for this to be deployed and then these incrementally addressed.

- In the filter by resource type facet use descriptive resource type nam

[2016-04-08 01:56] xuezhaokun commented on #832
@dtarb Thanks Dave! I am going to make modifications you mentioned for filtering panel. After finishing these changes, I will focus on map filtering.

[2016-04-08 02:44] selimnairb commented on #1096
@shawncrawley The problem is that for whatever reason Django REST framework has decided to put HTTP links in for result pagination, rather than HTTPS.  We need to review our django/Django REST framework configuration to change this.  For now, I posted hs_restclient version 1.2.2, which patches the URL each next page when HTTPS is being used (e.g. when using OAuth).  Let me know how that goes.

[2016-04-08 02:46] selimnairb opened #1118 "Increase page size for REST API"
Currently our REST API limits the number of results per page to 5.  This should probably be something like 100.  See [here](http://www.django-rest-framework.org/api-guide/pagination/#setup) for configuration instructions.

[2016-04-08 13:47] selimnairb commented on #299
@yirugi [This](https://github.com/hydroshare/hydroshare/pull/1103) pull request implements PUT /scimeta for SWAT model instances as well as generic resources.  I have deployed it to playground.hydroshare.org so that you can test it with SWAT share as work continues on this branch.  Let me know how it goes.

[2016-04-08 14:14] hyi commented on #1116
@horsburgh After giving this a bit of more thought, I think current implementation makes sense that allows users to manage access control for obsoleted resources. Since we set immutable flag to True for obsoleted resources, all users with edit and owner privileges are downgraded to VIEW privilege by access control policy, so they cannot really modify obsoleted/immutable resources any way, but they

[2016-04-08 14:34] horsburgh commented on #1116
Ok. I think this may be one of those things where we have to see what users want - or see if we have conflicts and issues. I'm OK with your current plan.

[2016-04-08 18:17] shawncrawley commented on #1096
@selimnairb Thanks, with version 1.2.2 it is now working. Am I good to close this issue then?

[2016-04-08 18:18] #1096 closed

[2016-04-08 19:48] shawncrawley commented on #1080
I have not received any feedback other than from Dr. Ames, so I have decided to move forward with what both him and I have discussed. I am going to create the Map Project Resource based off of the Generic Resource. Though I will create it to only hold a '.map' file, I have decided that I will not add the Map Project Resource to the "Create New" options, since it doesn't make sense that someone cre

[2016-04-08 20:11] hyi commented on #1080
@shawncrawley I am a little confused with "Map Project Resource based off of the Generic Resource." Do you mean you create a different resource type like MapProjectResource or just create a Generic Resource which holds the .map file? Note that you cannot add additional metadata elements as of now for generic resource type, so you probably meant the former, i.e., create a different resource type. @

[2016-04-08 20:15] shawncrawley commented on #1080
@hyi Sorry for the confusion. I guess I mean just created a completely resource type called MapProjectResource. I guess I just meant that it will be most similar to a Generic Resource, since there will not be much resource specific metadata associated with it, but there will be some. So yeah, creating a new resource type. But if we can all come to agreement on the HStore stuff, then I suppose I wi

[2016-04-08 20:23] hyi commented on #1080
@shawncrawley Got it. Thanks for the explanation. @pkdash @zhiyuli As part of collection resource type implementation, a collections ManyToManyField is added into BaseResource class. I think this collections field can be leveraged here for this MapProjectResource to hold a collection of all existing resources. Since collection resource type does not contain any content files, this MapProjectResour

[2016-04-08 20:31] pkdash commented on #1080
Would the MapProjectResource contain any other files besides the .map file?

[2016-04-08 20:33] shawncrawley commented on #1080
@pkdash No. At least not as we are currently envisioning this resource.

[2016-04-08 20:36] pkdash commented on #1080
Since GenericResource takes any file, how we going to prevent someone adding other files to MapProjectResource?

[2016-04-08 20:40] pkdash commented on #1080
If there as any additional metadata requirements or special file type requirements then may have to create a new resource type

[2016-04-08 20:47] hyi commented on #1080
@shawncrawley Is there requirement that this map project resource has to include only one .map file? If the map project resource can only be created programatically as part of HydroShare GIS app, this .map file will be included in the resource, and which can be consulted and used by GIS apps. Perhaps if owners of this resource want to add additional files such as a readme file, etc., into this res

[2016-04-08 21:09] shawncrawley commented on #1080
@hyi Actually that is a good point. In fact, one feature that will likely soon be added to the HydroShare GIS app is the ability to export the map to a PDF or png image. It would be nice if that file could also be stored in the resource.

[2016-04-08 21:16] shawncrawley commented on #1080
So I was just talking to @zhiyuli in person, and he was showing me how he leverages the ManyToMany field that was added to the BaseResource in the Collection Resource. Yet, in his case, he is leveraging that capability from his non-generic resource. That enables him to modify the landing page to display the associated resources as he dictates. If I understand correctly, @hyi, you are suggesting th

[2016-04-08 21:24] hyi opened #1120 "Implement iRODS user file space in HydroShare"
This issue will implement the proposed HydroShare iRODS user zone federated with current HydroShare backend iRODS zone to better handle large file uploading, downloading, and processing. I am creating the initial task list below which is subject to further modification, adaptation, and addition based on team collective feedback and as the implementation moves forward.
- [x] Add a checkbox on user

[2016-04-08 21:27] hyi commented on #1080
@shawncrawley Yes, that was what I meant, to leverage that field as a generic resource. You map project generic resource model will have that collections/resources field which you can use to add all resources you want to include in this map project resource. Then you can modify resource landing page to check if this collections/resources field for generic resources is not empty, then you show the

[2016-04-08 21:54] shawncrawley commented on #1080
@hyi Alright, that makes sense. I am thankful for the ideas and discussion. At this point, it would be good to hear any thoughts from @danames. However, since I believe he is out of town until Monday we can postpone this discussion until then.

[2016-04-08 23:09] pkdash commented on #1080
If there is no need to list the map file within Hydroshare, one could store the json data in Hstore field once we add the HStore to BaseResource

[2016-04-09 23:03] pkdash commented on #647
@dtarb I am trying to address this issue using HStore (key/value). Is there a list of allowed key terms somewhere? I assume these extra (arbitrary) metadata are not going to be part of the metadata xml document which makes the implementation much easier.

[2016-04-10 05:22] pkdash commented on #1063
@horsburgh See if this issue can be closed.

[2016-04-10 05:24] pkdash commented on #1055
@zhiyuli See if this can be closed.

[2016-04-10 05:27] pkdash commented on #990
This has been implemented. Closing

[2016-04-10 05:27] #990 closed

[2016-04-10 05:28] pkdash commented on #995
@dtarb See if this can be closed.

[2016-04-10 05:29] pkdash commented on #1001
@gantian127 See if this should be closed.

[2016-04-10 05:29] pkdash commented on #988
@gantian127 See if this should be closed.

[2016-04-10 05:31] pkdash commented on #963
This has been implemented. Closing.

[2016-04-10 05:31] #963 closed

[2016-04-10 05:32] pkdash commented on #948
@gantian127 See if this issue should be closed.

[2016-04-10 21:58] dtarb commented on #995
Looks good on Dev, I hope it propagates through to www.

[2016-04-10 23:37] dtarb commented on #647
The short answer is that the list should start with

- Funding agency
- Grant number
- Grant title
- Grant principal investigator

These meet the credit attribution use case.

As a longer answer I would like @horsburgh to add to this list based on work in ODM2.  Many of the terms in ODM2 are applicable to resources as a whole and it would be good to leverage the value from this work.  I would also

[2016-04-11 03:21] #1001 closed

[2016-04-11 03:21] #948 closed

[2016-04-11 03:21] #988 closed

[2016-04-11 05:02] pkdash commented on #937
@mauriel133 I have now implemented the backend code for this issue in branch 937-metadata-for-funding-agency.

[2016-04-11 16:01] horsburgh commented on #647
@pkdash and @dtarb - I don't mean to throw a wrench in things, but I think that there's a lot of users that are going to want things like funding agency, grant number, grant title, PIs, etc. to be written to the resourcemetadata.xml so they go with the resource wherever it goes. Is there a reason why we wouldn't write the extensible metadata elements to resourcemetadata.xml?

[2016-04-11 16:53] dtarb commented on #647
I agree that this content should go to resourcemetadata.xml.  This is part of the resource data model and @horsburgh I appreciate you guiding the implementation to make sure that the extensibility to include these different fields is consistent with RDM.   Whether it goes only in resourcemetadata.xml seems to be an implementation detail that likely relates to how content editing is implemented in

[2016-04-11 17:45] pkdash commented on #647
@horsburgh and @dtarb The arbitrary key/value data can be written to the metadata xml document with more coding. For each possible predefined key we need to know/define/store how that is going to be represented in xml document. With introduction of HStore to hold key/value pairs, we will have 2 different data models to store metadata unless we refactor the existing metadata models to use HStore. H

[2016-04-11 18:29] zhiyuli commented on #993
closed. tested on www

[2016-04-11 18:29] #993 closed

[2016-04-11 18:29] zhiyuli commented on #492
closed.

[2016-04-11 18:29] #492 closed

[2016-04-11 18:30] zhiyuli commented on #502
closed.

[2016-04-11 18:30] #502 closed

[2016-04-11 18:32] zhiyuli commented on #1025
@shawncrawley Shawn, I am re-assigning this to you. See if you could plan to implement this in the HydroShare GIS APP. thanks

[2016-04-11 18:35] zhiyuli commented on #708
closed. already merged to release 1.7.0 months ago

[2016-04-11 18:35] #708 closed

[2016-04-11 18:36] zhiyuli commented on #525
closed. old ticket opened for 2015 CUAHSI meeting

[2016-04-11 18:36] #525 closed

[2016-04-11 18:37] zhiyuli commented on #839
closed. the init version (phase 1) was already merged

[2016-04-11 18:37] #839 closed

[2016-04-11 18:43] zhiyuli commented on #875
closed.

[2016-04-11 18:43] #875 closed

[2016-04-11 18:43] zhiyuli commented on #1055
closed

[2016-04-11 18:43] #1055 closed

[2016-04-11 18:45] zhiyuli commented on #635
closed. old ticket. already merged several months ago

[2016-04-11 18:45] #635 closed

[2016-04-11 21:57] danames commented on #1080
The present approach for apps associates an app with a resource type. We
need to be able to launch the GIS App from a GIS Map resource. Hence we
need to create a new resource type (not just use Generic).

Also, let's consider if we can override the  "Create New" button to launch
the GIS app so a user can still create a new map in a natural way (hit
create new, get a blank map, add data to it, save

[2016-04-12 03:27] pkdash commented on #1080
Soon apps can be associated with file types. I am working with @zhiyuli on this.

[2016-04-12 03:54] horsburgh commented on #647
@dtarb - what you describe above in the attributions for creators and contributors is much more than what can/should be done with key/value pairs. Key/value pairs are simple - there is an attribute that has a name (the key) and a value. What you are suggesting is new attributes that apply to creators and contributors and not the resource. It is suggesting a more formal model of roles and attributi

[2016-04-12 04:12] pkdash commented on #647
@horsburgh That's a good description of the limitation of key/value data structure. As it relates to validation of key/value if there is a need we can easily implement what keys are permitted. In HStore all key/value pairs are strings ONLY.

[2016-04-12 12:59] dtarb commented on #647
@horsburgh this thread started with a general expression for the need for extensible metadata.  I do not want to be prescriptive that the implementation of this functionality has to be with key values, or HStore.  I am open to the best solution for a model that represents funding agency credit in a simple, clean and general way.

[2016-04-12 14:47] horsburgh commented on #647
@dtarb - we've accomplished two of three.  We've done simple and clean. And, we can add any additional metadata elements in the same way - so, the approach is general. But, it is not without development effort. Pabitra had to add the elements to the back end and Mauriel had to expose them on the front end for both display and edit.

[2016-04-12 15:46] danames commented on #1080
In the mean time, let's go with a new resource type for Map Projects.

On Mon, Apr 11, 2016 at 9:27 PM Pabitra Dash <notifications@github.com>
wrote:

[2016-04-12 23:49] dtarb commented on #647
Great.  Rick will be on the call on Thursday to discuss a use case related to collections, and if you can show how this is going to work for funding agency credit, I think it will go down well.

[2016-04-13 05:17] pkdash commented on #647
@dtarb and @horsburgh Can a creator/contributor have multiple roles for a given resource?

[2016-04-13 15:37] hyi commented on #1120
@rayi113 @mjstealey I have just updated this issue incorporating ideas in our recent discussion. Let me know if you see any problems.

[2016-04-13 16:25] zhiyuli opened #1122 "Hotfix 1.6.9 -- Collection -- "Publish" button shows up when contained resources are not published."

[2016-04-14 20:18] horsburgh commented on #1063
I just created a new collection on beta.hydroshare.org and had a look at the resource map.  This one is resolved on beta.

[2016-04-14 20:18] #1063 closed

[2016-04-15 00:12] dtarb opened #1126 "Proposal for composite resource type"
I would like to propose a new composite resource type to move HydroShare towards the model of file types separate from resource types.  Separate file and resource types have been discussed in #965 and #1034, but these are complex and intimidating (and in my opinion slowing development).  I think that a composite resource type can circumvent the difficulties and get us functionality that we need qu

[2016-04-15 11:42] dtarb commented on #647
Yes.  As an example, referring to the roles above, person A may conceive the study, develop the methods and create (write) the resource, while person B may collect data and edit the resource.  Person A could be named as a creator filling the roles listed for them and person B a contributor filling the roles for them.

[2016-04-15 14:45] horsburgh commented on #647
@dtarb - I think you might want to move the credit and attribution for creators and contributors to a new issue. I don't think it fits under this "extensible metadata" issue anymore.

[2016-04-15 14:54] mauriel133 opened #1128 "Collection Resource Type Icon"
The collection resource type needs an icon.

[2016-04-15 14:56] mauriel133 opened #1129 "Manage access button not triggering on latest release"

[2016-04-15 15:00] horsburgh commented on #1126
Not sure how this is different than what we have already with generic resource? Each generic resource already has a set of files - some of which have recognized types. Mime types for files can already be recorded in the metadata for the generic resource. What's missing is the ability for an app to look inside a resource and pull out an individual file (or set of files).  Not sure how a new resourc

[2016-04-15 15:14] mjstealey commented on #1129
@mauriel133 This is not working on beta either. If you want to try some direct changes to the code we can do that on beta for testing purposes.

Unsure if it's related, but there have been issues in the past with **http** references being used in the **https** environment. In general best to let the server figure out what to use and not hard code it to one or the other.

[2016-04-15 15:16] zhiyuli commented on #1122
merged

[2016-04-15 15:16] #1122 closed

[2016-04-15 15:22] zhiyuli commented on #1129
@mauriel133 @mjstealey I am not sure whether it is only happening on my end. I have a private generic res and only the "EDIT" btn is working...all other btns are not....
![image](https://cloud.githubusercontent.com/assets/10070599/14566130/7324fa9c-02eb-11e6-97e0-51de71e55053.png)

[2016-04-15 15:24] mjstealey commented on #1129
Happens to me as well, and the same is observable on beta, so at least it is uniformly broken, and not just an anomaly on www. This should hopefully make it easier to track down the specifics.

[2016-04-15 15:40] mjstealey commented on #1129
@mauriel133 If it's useful for testing you can use both Nginx and SSL in your local environment. You just need to update some of the settings in `config/hydroshare-config.yaml`.

This:
[code]

And this:
[code]

Then issue `./hsctl restart` and you'll be able to test the UI at **https://192.168.56.101**

[2016-04-15 16:04] mauriel133 commented on #1129
I found the issue. I will make a PR and tag it as hotfix.

It was caused by "hydroshare_tags" not being included in the load tag of modals.html

[2016-04-15 16:10] mjstealey commented on #1129
Have updated this manually on both www and beta.
Looks to be working as expected.
Will apply hotfix to both develop and master and re-tag the 1.6.9 deploy.

[2016-04-15 16:15] mauriel133 commented on #1129
Confirmed working on https://riverdev.hydroshare.org/ as well. Will merge PR once tests pass.

[2016-04-15 17:19] mjstealey commented on #1044
fixed with unicorn

[2016-04-15 17:19] #1044 closed

[2016-04-15 17:19] mjstealey commented on #945
completed

[2016-04-15 17:19] #945 closed

[2016-04-15 17:20] mjstealey commented on #1104
release 1.6.9 on 4/15/2016

[2016-04-15 17:20] #1104 closed

[2016-04-15 17:20] mjstealey commented on #1065
@gantian127 Is this still relevant?

[2016-04-15 17:23] mjstealey commented on #1070
completed

[2016-04-15 17:23] #1070 closed

[2016-04-15 17:24] mjstealey commented on #1069
completed

[2016-04-15 17:24] #1069 closed

[2016-04-15 18:19] #1129 closed

[2016-04-15 18:21] zhiyuli commented on #1111
tested on www

[2016-04-15 18:21] #1111 closed

[2016-04-15 18:22] zhiyuli commented on #1102
tested on www

[2016-04-15 18:22] #1102 closed

[2016-04-15 18:25] zhiyuli commented on #1064
tested on www

[2016-04-15 18:25] #1064 closed

[2016-04-16 16:23] pkdash commented on #1089
@gantian127 Should this be closed?

[2016-04-16 16:27] pkdash commented on #1039
@danames Should this be closed?

[2016-04-16 16:34] pkdash commented on #914
This has been implemented. So closing.

[2016-04-16 16:34] #914 closed

[2016-04-16 16:36] #1089 closed

[2016-04-16 16:37] gantian127 commented on #1065
@mjstealey This has been fixed. I will close it thanks.

[2016-04-16 16:37] #1065 closed

[2016-04-16 16:40] pkdash commented on #941
Additional requirements and discussion related to credit attribution can be found https://github.com/hydroshare/hydroshare/issues/647

[2016-04-16 16:47] pkdash commented on #941
@horsburgh and @dtarb Some additional question related to requirements of this feature:

Does every creator/contributor needs to have at least one role specified?
Are these role information need to be encoded in resourcemetadata xml document? If so, give an example of encoding role information.

[2016-04-16 22:44] pkdash commented on #647
@dtarb  and @horsburgh If we still have a need for storing **arbitrary** key/value metadata at the resource level (these are not intended to be written to the resource metadata xml document), then I can work with either Mauriel or Drew to implement the front-end code. I have already implemented the backend code for this.

[2016-04-17 00:08] dtarb commented on #647
I'll let @horsburgh weigh in, but I think that if metadata is being added to a resource, it should be written to the resource metadata xml file.  The Resource Data Model is a design that preserves the full content of the resource in the bag for archival purposes.  It should be possible to reload the bag and get the complete content of the resource back.  Ultimately we need a function that does thi

[2016-04-17 01:18] horsburgh commented on #647
I agree with @dtarb - if users go through the trouble of creating metadata, it should be part of the metadata record and should go with the resource wherever it goes. It should get written to the resourcemetadata.xml file. @pkdash - do you have an idea about how to encode it in the RDF/XML, or do we need to create an example?

[2016-04-17 03:09] pkdash commented on #647
@horsburgh The reason for not writing the key/value metadata to xml document is I don't know how one would encode it. I guess this could be a possibility:

     <hsterms:additionalMetadata>
        <rdf:Description>
            <hsterms:key>key one</hsterms:key>
            <hsterms:value>value one</hsterms:value>
         </rdf:Description>
    </hsterms:additionalMetadata>
    <hsterms:additiona

[2016-04-17 23:53] horsburgh opened #1132 "Strange new App for Time Series"
When I view my time series resource, I can open it with a strange new app:

![image](https://cloud.githubusercontent.com/assets/3485902/14590953/0540aa4a-04c5-11e6-9d8d-83a37950c024.png)

The link takes me to www.danames.com. I know we've had this conversation before, but does there need to be some sort of review of Apps before they start showing up on the landing page for resources?

[2016-04-18 01:12] mjstealey commented on #1132
@horsburgh, Doh no! You've been **Ames'd**!!
This is definitely the next big internet meme.

I seem to recall this as one of the first Tool demos long ago for the time series resource. It pre-dated the "App" naming scheme if I remember correctly. Nonetheless, the fact that it made it to production means we overlooked something fairly big and need to address it.

I suspect we'll want to strip the r

[2016-04-18 02:13] horsburgh commented on #1132
Ha ha - "Ames'd"

[2016-04-18 02:24] horsburgh commented on #647
@pkdash - I spent some time studying some options, but I didn't come up with something better. What you have suggested would work. It would be nice if we could use a more compact form, but since we can't anticipate all of the arbitrary terms (keys) that users might want, we can't put them in a namespace. So I suggest we try what you've suggested.

I would probably go with something like "extendedM

[2016-04-18 04:18] yirugi commented on #299
@selimnairb I have checked modifying metadata by sending xml file worked.
I download resourcemetadata.xml file first, add some fields, then upload it via PUT.
One thing I found is the xml file contains a filed 'modified' which has modified time. Should I update the field as well?

[2016-04-18 05:04] pkdash commented on #647
@horsburgh I will then implement writing key/value metadata to xml document.

[2016-04-18 19:53] selimnairb commented on #299
@yirugi No, you don't need to worry about the modification time.  In fact, PUT /scimeta will ignore modification time on update (as it will set the modification time as a consequence of updating the resource metadata).

[2016-04-18 23:22] danames commented on #1039
Yes

On Sat, Apr 16, 2016 at 10:27 AM Pabitra Dash <notifications@github.com>
wrote:

[2016-04-19 01:59] #1039 closed

[2016-04-19 02:32] dtarb commented on #995
Re-opening as this did not propagate through to www.
![untitled](https://cloud.githubusercontent.com/assets/3456833/14625954/b23a6670-05a4-11e6-9945-33b40d1837e4.png)

[2016-04-19 03:03] pkdash commented on #995
@dtarb I assume this is a resource previously existed before the fix  was made. Could write a migration script to fix it for all the old resources.

[2016-04-19 11:44] dtarb commented on #995
Yes.  Depending on how hard this is, it may not be worth it for old resources.  However a related issue is that this shows up as "Untitiled" in Discover, which does need fixing.  @alvacouch and @xuezhaokun could comment on whether this will still be a problem in the new Discover they are working on, but it seems that there is a basic data model problem in that the same information seems to be stor

[2016-04-19 13:27] pkdash commented on #995
The title problem in discovery page can be fixed by using resource.metadata.title in place of resource. title

[2016-04-19 13:45] dtarb commented on #995
Since Discover pull request #1108 under review can you please make sure this gets into the Discovery deploy

[2016-04-19 14:32] xuezhaokun commented on #995
@dtarb I think I got it fixed in pull request #1108 by replacing resource.title with resource.metadata.title

[2016-04-20 18:06] xuezhaokun commented on #1107
These items have been fixed in PR #1108

[2016-04-20 18:06] #1107 closed

[2016-04-20 22:55] dtarb opened #1133 "Manual Pre-Deploy Check for 1.6.10"
This is the manual pre-deploy checklist for version 1.6.10.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://alpha.hydroshare.org

Please if you name is below check the box next to it when you have signed off on the functionality.

### Discovery
The discovery is the ma

[2016-04-20 23:07] dtarb opened #1134 "Session exception on 1.6.10 pre-release deploy"
Go to Discover.  Enter search term "Hand", click on the single resource found.  A session Exception results.  Note this is while not logged in.  This does not occur in www.

![untitled](https://cloud.githubusercontent.com/assets/3456833/14693242/617f87fc-071a-11e6-8f23-97f023d8f0c3.png)

[2016-04-20 23:09] dtarb commented on #1134
@hyi assigned to you as suspect an iRODS issue, but if not, assign to @xuezhaokun

[2016-04-20 23:18] dtarb opened #1135 "Filter by private shows 4 but finds no resources"
In alpha pre-release deploy when not logged in, I can Select Discover, then expand Filter by availability, then it shows 4 next to private.  This is incorrect as since not logged in there should be no private resources accessible.  If I select the private box 4 resources are shown.  Clicking on each of them shows that they are actually "Discoverable"

[2016-04-20 23:20] dtarb opened #1136 "Page not found error in alpha pre-release"
The following sequence when not logged in results in a page not found error in alpha pre release.

1. Discover
2. Expand Filter by availability.
3. Click on the word private (not the check box)

This appear to occur any time a word is clicked in the filter facets prior to selecting any check box.

[2016-04-20 23:31] dtarb opened #1137 "Unable to comment"
I tried to comment on the resource https://www.hydroshare.org/resource/0f3bcaee15b747308ceb74dde755e6d9/ and get the message, sorry an error occurred.

I wanted to ask @danames to delete the resource in the spirit of spring cleaning and to address #1132.

[2016-04-21 00:06] xuezhaokun commented on #1135
@dtarb Should I just remove private option from there?
@alvacouch Which is the correct way to index "discoverable" property?
[code]

or
[code]

[2016-04-21 00:17] pkdash commented on #1135
I don't think the 2nd option should be used

Sent from Outlook Mobile

On Wed, Apr 20, 2016 at 5:06 PM -0700, "Zhaokun Xue" <notifications@github.com> wrote:

@dtarb Should I just remove private option from there?
@alvacouch Which is the correct way to index "discoverable" property?
[code]

or
[code]

---
You are receiving this because you are subscribed to this thread.
Reply to this email directl

[2016-04-21 00:23] xuezhaokun commented on #1135
@pkdash Thanks! @dtarb Those four private resources are discoverable. Should I just show all public resources instead of all discoverable resources?

[2016-04-21 00:30] mohamedmorsy opened #1138 "SWATShare apps linked to the generic Model Instance resource type"
This app should be linked to the specific Model Instance resource type: SWAT Model Instance resource type only. As an example, for the Model Instance resource: https://alpha.hydroshare.org/resource/12d195906f2c41918cb24e11a5c3ab60/, there is a tab called "open with.." that has a drop list contains the SWATShare apps (see below)
![image](https://cloud.githubusercontent.com/assets/5543781/14694410/3

[2016-04-21 00:50] mohamedmorsy opened #1139 "The "Filter By Author" table on the discover page does not align with the other filter tables"
![image](https://cloud.githubusercontent.com/assets/5543781/14694738/6689d2d8-0739-11e6-8844-4d5e92a78fad.png)

[2016-04-21 00:53] xuezhaokun commented on #1139
@mohamedmorsy what browser are you using?

[2016-04-21 00:54] mohamedmorsy commented on #1139
@xuezhaokun  Google Chrome

[2016-04-21 00:57] xuezhaokun commented on #1139
@mohamedmorsy I don't have this problem in my chrome. I will double check the html layout. Thanks!

[2016-04-21 01:23] mohamedmorsy opened #1140 "Failed to create a new version for the Model Instance resource type when linked to a specific Model Program resource"
If a new Model Instance resource type is created with all metadata except the "ExecutedBy" metadata elements which links the Model Instance resource to a specific Model Program resource, the user would be able to create a new version of the resource. Once the user links the Model Instance with a Model Program by selecting the Model Program from the ExecutedBy drop list on the resource specific lan

[2016-04-21 01:33] mohamedmorsy commented on #1139
@xuezhaokun I found the problem. On my chrome, my default zoom is 125% (see below)

![image](https://cloud.githubusercontent.com/assets/5543781/14695352/492654ea-073f-11e6-8858-b71071a30a69.png)

Once I change it to 100% it works as expected (see below)

![image](https://cloud.githubusercontent.com/assets/5543781/14695376/7e0eb0ee-073f-11e6-98c9-fbf488a0b539.png)

[2016-04-21 01:36] xuezhaokun commented on #1139
@mohamedmorsy I see. I think it should work for zoom 125%. It is working well on my firefox for any zoom level. I am checking it on chrome.

[2016-04-21 03:27] mohamedmorsy opened #1142 "Unexpected results when searching for Model Instance resource through "Filter by Resource Type" table"
the search should show only one Model Instance resource, however it shows four resources (see below)

![image](https://cloud.githubusercontent.com/assets/5543781/14697306/744bc4dc-0750-11e6-877a-613bfdd3615e.png)

[2016-04-21 03:32] mohamedmorsy opened #1143 "Unexpected results when I search for Model Instance resource in the search box"
If I search for "model instance resource" in the search box I get the following results:

![image](https://cloud.githubusercontent.com/assets/5543781/14697232/e338f870-074f-11e6-89f2-a6f42844d840.png)

however, if I search for just "model instance" in the search box I get the following results:

![image](https://cloud.githubusercontent.com/assets/5543781/14697271/24483ede-0750-11e6-8de6-6bb46a4d8f

[2016-04-21 04:00] xuezhaokun commented on #1143
It is caused by a SOLR index issue. For resource type, I am trying to index the resource type's verbose name which could cause these two search issue. If I just index on resource_type property, when you want to search "model instance resource", you have to do "ModelInstanceResource". Trying to find a better way to solve it. @alvacouch Do you have any suggestion for this issue?

[2016-04-21 04:08] pkdash opened #1144 "Inactive users can be granted access permission to resource"
Using the Manage Access control panel one can find an inactive user and grant access permission to a resource. Happens both at www and alpha.  Should be an easy fix.

[2016-04-21 04:13] xuezhaokun commented on #1143
Is there any way I can get the resource type verbose name based on "resource_type" property?

[2016-04-21 04:16] dtarb commented on #1135
There is a discoverable category and those 4 resources should be part of that group.  They should not appear with the private group.

Private resources should only show if a user is logged in and if the user is owner or has been granted view or edit permissions.  If this is not feasible, I am OK with private resources not showing, as they appear on MyResources.

I am not sure what you are asking a

[2016-04-21 04:22] xuezhaokun commented on #1135
@dtarb I am going to hide private option in availability.

[2016-04-21 04:57] pkdash opened #1145 "Add to my resource icon appears on resource landing page when not logged in"
This icon should not appear on a resource landing page if the user is not logged in.

![image](https://cloud.githubusercontent.com/assets/2523434/14698342/0c1a7188-074b-11e6-943d-7340d64013f6.png)

[2016-04-21 05:13] pkdash opened #1146 "Unsharing self in manage access for resource shows error"
When trying to remove access permission of self (pkdash) in manage access control, shows error even though the unsharing actually successful (tested on alpha).

![image](https://cloud.githubusercontent.com/assets/2523434/14698581/6fc591d4-074d-11e6-9714-200732733459.png)

[2016-04-21 05:31] pkdash opened #1147 "Access control - self demoting to a lower access privilege shows error"
On alpha, when tried to change access permission for self from edit to view permission in Manage Access control panel, it showed the following error:

![image](https://cloud.githubusercontent.com/assets/2523434/14698839/d5d8da9c-074f-11e6-88aa-23544f5334a6.png)

[2016-04-21 05:36] horsburgh commented on #1135
I vote for simplifying if we can. The discovery page is for users to find out about what others are doing. If they want to see their own resources (and in particular their own private, non-discoverable resources), that's what the My Resources page is for.

I don't think private, non-discoverable resources should show up at all in searches on the discovery page (regardless of whether you are logged

[2016-04-21 06:38] xuezhaokun commented on #1142
It seems this happens for resource types' names have common part, like "Model Instance Resource" vs "SWAT Model Instance Resource" and "Time Series" vs "HS Referenced Time Series". I think this is caused by the way I am using to index resource type field. This is what I am having now:
[code]
It seems SOLR does not index and search for this correctly,
If I index the resource type as:
[code]
We will

[2016-04-21 11:57] dtarb commented on #1145
Instead of removing the Add to My resources button for users not signed in, consider having the behavior when it is clicked be a message that pops up saying "You need to be signed in to use this functionality" and take them to the sign in page.

[2016-04-21 12:42] rayi113 opened #1148 "Discover on Alpha not finding all owners"
I'm not able to sign-off on the #1133 manual pre-deploy checklist.  When I perform the Discovery operation "Filter by Owner" by selecting the checkbox next to my last name in the +Filter by Owner area on the Discover page on Alpha, it should discover this resource that I am an owner of, but it does not: https://alpha.hydroshare.org/resource/31acb0c0a66f4de08f541077bdf3e1d2/

Rather it appears to b

[2016-04-21 12:49] hyi commented on #1142
@xuezhaokun @alvacouch @ironfroggy I see the dilemma here, and wondering whether we can do "filter by resource type" via direct database filtering rather than via solr search filtering since resource type is uniquely defined with its verbose name not required to be unique. I think it is better to use resource type verbose_name for solr index so that it can find resources without requiring exact ma

[2016-04-21 13:25] hyi commented on #1137
@dtarb This is an issue I am aware of since it happened once in a while in a new deployment with www existing resources. The issue was primary key conflict when adding a comment to a resource. Somehow a new comment being added to a resource will have the same primary key with an existing comment with the same primary key ID. When you try to add comment again, the primary key will increase by 1. Af

[2016-04-21 13:33] hyi commented on #1134
@dtarb @mjstealey Just checked and found this resource exists on iRODS backend for www proxy account, but does not exist on iRODS backend for alpha proxy account, exactly as reported by the iRODS error. So it looks like a irsync issue when syncing www resources from www to alpha. I am reassigning it to @mjstealey for now.

[2016-04-21 13:45] mjstealey commented on #1148
@rayi113 - There is seemingly a rank/order in search by author vs owner which is not necessarily as we expect.

You'll readily find this resource if you first search by "Jiri" in the Search box (Who is the Author of this resource). Then once that search completes, look down at the facets and expand the one for "Owner", lo and behold the resource owned by "Ray" appears.

[2016-04-21 13:51] mjstealey commented on #1134
This is correct. This has also been mentioned in at least 3 of our team meetings. The irsync call from our www vault does not pull in all resources for reasons that are still unknown.

I suspect there is some clash between older resources and newer ones, and things somehow getting caught in-between. Our code long ago did not properly cleanup after itself when a resource was deleted, but instead le

[2016-04-21 14:11] dtarb commented on #1134
@mjstealey  if you are confident this is a quirk of the alpha and www iRODS differences and hence will not manifest when we deploy, then this can be taken as a non deploy blocking issue and closed once we deploy and validate this to not be a problem.

[2016-04-21 14:16] rayi113 commented on #1148
@mjstealey Thanks, this thread helped me find the real bug which is more nuanced.  If I go to the Discovery page and select "Show All" and then scroll to find my last name in the +Filter by Owner (without selecting any other Filter by criteria), it correctly finds all resources I am an owner of.  Then I select "Show All" to reset the search.  Then I type my last name into the search box at the bot

[2016-04-21 14:19] mjstealey commented on #1134
@dtarb - Yes, confident this is a quirk. It's occurred before and has been noted by other users as well in prior deploys (via HipChat conversations)

[2016-04-21 15:06] xuezhaokun commented on #1142
@hyi Do you know how can I access resource type verbose name from out database? If I can include the resource type verbose name filed in our basereource_text.txt template, we can make it searchable.  "obj.get_content_model()._meta.verbose_name" dose not acceptable by the text template. Is there any other way we can get the resource type verbose name?

[2016-04-21 15:09] hyi commented on #1142
@xuezhaokun You can get verbose name using obj._meta.verbose_name where obj is a resource object.

[2016-04-21 15:12] xuezhaokun commented on #1142
@hyi I tried this way, but  when I tried to do reindex, it told me that variables cannot start with underscores in the text template.

[2016-04-21 15:17] hyi commented on #1142
@xuezhaokun The verbose_name is one of the model meta option in Django, and I don't know any other way to access this verbose_name other than obj._meta.verbose_name. @pkdash @ironfroggy Any ideas or suggestions on @xuezhaokun 's question?

[2016-04-21 15:27] xuezhaokun commented on #1142
Basically, the reason why we have this issue is that we index and facet on resource_type verbose name, but we cannot have a proper way to make resource_type verbose name searchable. For now, we can only search resource_type field in the database not the verbose name in Meta class.
@mohamedmorsy When you tried to search "model instance resource", it actually did a full text search in other searchab

[2016-04-21 15:43] pkdash commented on #1142
Not sure I fully understand the issue from this threaded discussion. But if @xuezhaokun having problem using ```obj._meta.verbose_name```, then one can add a property ```verbose_name``` to the Resource class and use it as ```obj.verbose_name```

[2016-04-21 15:45] xuezhaokun commented on #1142
@pkdash I think if anyone can offer a help to add obj.verbose_name to Resource class, that would be great.

[2016-04-21 16:04] mohamedmorsy commented on #1142
@xuezhaokun I think you missplaced the text here. This should be related to issue#1143. For this issue I did not write anything in the search box but I used the filter table only.

[2016-04-21 16:18] xuezhaokun commented on #1142
@mohamedmorsy From my understand about SOLR and Haystack, I think these two issues are actually caused by the same problem. When you try to filter anything, that is actually a search query, sqs.filter(SQ(resource_type = "something")), which is a filter process just as what we do for search box. For search box, we actually do sqs.filter(content="something"). If we cannot get resource_type verbose n

[2016-04-21 16:22] pkdash commented on #1142
@xuezhaokun  add this code to BaseResource class:

    @property
     def verbose_name(self):
         return self._meta.verbose_name

[2016-04-21 16:22] mohamedmorsy commented on #1142
@xuezhaokun got it. Thanks.

[2016-04-21 16:25] gantian127 opened #1149 "NetCDF resource ncdump command doesn't work"
After a file is uploaded into HydroShare, the system should run "ncdump" command to generate the metadata header information text file. Currently, the backup python code is used to generate the text file.  Need to recover the ncdump command call.

[2016-04-21 16:51] mjstealey commented on #1149
@gantian127 try adding this to the [Dockerfile](https://github.com/hydroshare/hydroshare/blob/develop/Dockerfile) and verify that it does what you want on a rebuild.

[code]

[2016-04-21 17:13] gantian127 opened #1150 "Map search doesn't show the correct resource names"
I did the search and got the results in the graph below. The map doesn't show the resource names correctly. The "untitled resource" actually has a resource title.
![n6 eysxr5 a2b gado _mky](https://cloud.githubusercontent.com/assets/5016511/14718073/bd9e0896-07b1-11e6-9ff2-deb28851214b.png)
![image](https://cloud.githubusercontent.com/assets/5016511/14718079/c7241392-07b1-11e6-97f6-c99e95cc5584.pn

[2016-04-21 17:19] gantian127 commented on #1149
@mjstealey Thanks for commenting on this issue. I will try to do it.

[2016-04-21 17:24] xuezhaokun commented on #1150
@gantian127 fixed. Thanks for reporting!

[2016-04-21 17:32] xuezhaokun commented on #1142
@pkdash I add this code to BaseResource:
[code]

It seems that code you just provided can only return 'Generic'.

@mohamedmorsy Now, when you filtering on "Model Instance Resource", both will show four results, three for "SWAT Model Instance Resource" and one for "Model Instance Resource". I guess this is because we are doing SOLR full text search, it will show you all the results related to the s

[2016-04-21 18:22] zhiyuli commented on #1138
@mohamedmorsy

It was caused by partially matching the supported res type names with other res types names.
In this particular failing case, "ModelInstance" was mistakenly considered to match with "SWATModelInstance" because the common text "ModelInstance" in both.

Thanks for reporting this.

[2016-04-21 18:46] pkdash commented on #1142
@xuezhaokun Why you think it only return "Generic"?

[2016-04-21 18:57] dtarb commented on #1126
This is proposed as an incremental solution to avoid what seems to be big refactoring of existing resources to achieve this.  If we can achieve this for generic/all resources without an incremental approach I would support that, but this is an attempt to unbog what seems to be bogged down.

[2016-04-21 18:59] xuezhaokun commented on #1142
@pkdash I guess since we only add it in BaseResource, it only returns the verbose name for BaseResource class. If we  want to get it return verbose name for all kinds of resources, we need to include this code in all resources classes. I think that's why we want to do a get_content_model() first.

[2016-04-21 19:01] pkdash commented on #1142
@xuezhaokun All resource type classes inherit from BaseResource class. So the appropriate verbose_name for each resource type will be returned.

[2016-04-21 20:26] horsburgh opened #1151 "Time Series: Metadata (Re)Extraction Not Working Correctly"
Testing on alpha.hydroshare.org for release 1.6.10:

Previously when I deleted the SQLite file from the time series resource and then uploaded a new one the dialog asked me if I wanted it to re-extract metadata. This no longer happens, but should.  Not sure how it got lost.

[2016-04-21 20:30] horsburgh opened #1153 "Invalid File Message is not Very Helpful"
Testing on alpha.hydroshare.org for release 1.6.10:

When I try to upload a non-valid file for a time series resource, it notifies me that the file is invalid, but doesn't tell me what file type is valid.

![image](https://cloud.githubusercontent.com/assets/3485902/14723305/95616b40-07cd-11e6-997a-15567883e007.png)

I suggest the text should instead be something like:

Invalid file type: '.xxx'. T

[2016-04-21 20:44] pkdash commented on #1153
@horsburgh It says under the "Choose File'' button "Only the listed file types can be uploaded: ('.sqlite')".

[2016-04-21 20:48] xuezhaokun commented on #1142
@pkdash I tested your solution again. It still only returns "Generic". I cannot get other resource type. I am not sure why.

[2016-04-21 20:50] horsburgh commented on #1153
Fair enough. Thanks for pointing that out. I was transfixed by the very large red letters of the error message!  I think this is ok then.

[2016-04-21 20:50] #1153 closed

[2016-04-21 21:04] pkdash commented on #1142
@xuezhaokun can you show me the line where you using this?

[2016-04-21 21:04] zhiyuli opened #1155 "limit webapp icon size"
In some cases the webapp displays a very large icon. The css code used to limit the icon size is not applied due to recent re-arrangement of the html template structure in hs_core.

![image](https://cloud.githubusercontent.com/assets/10070599/14724146/a29ec9de-07d1-11e6-85e0-56118fda7355.png)

[2016-04-21 21:11] xuezhaokun commented on #1142
@pkdash [https://github.com/hydroshare/hydroshare/blob/discovery-issue-fix/hs_core/models.py#L1384-L1387](url)

[2016-04-21 21:34] pkdash commented on #1142
@xuezhaokun I mean where you using ```obj.verbose_name```

[2016-04-21 21:37] xuezhaokun commented on #1142
@pkdash sorry.https://github.com/hydroshare/hydroshare/blob/discovery-issue-fix/hs_core/search_indexes.py#L104-L105

[2016-04-21 21:47] gantian127 commented on #1149
@mjstealey I just tested the code and it works to call the ncdump command. Do you want me to add this line of code in the Docker file and merge it to develop branch or you want to update it directly in the hs_docker_base image? Thanks

[2016-04-21 21:59] shawncrawley opened #1156 "Failing when trying to download a resource's Zipped BagIt Archive"
Here is the error I'm receiving:
[code]
This was discovered when trying to retrieve the Zipped BagIt contents through the REST API, however the "Download" link itself on the resource landing page yields the same error. The resource in question is Public and Shareable. See it here: https://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b.

[2016-04-21 22:04] shawncrawley commented on #1156
@mjstealey @dtarb @hyi

[2016-04-21 22:04] pkdash commented on #1142
@xuezhaokun I can see the problem now. Your ```obj`` is always an instance of  ```BaseResource``` class. That's why you always get 'Generic'.

[2016-04-22 01:41] xuezhaokun commented on #1142
@pkdash Yes. I see the problem now. I think that's why I need to do get_content_model first.

[2016-04-22 03:31] pkdash commented on #1142
@xuezhaokun Do you get different value for ```obj.resource_type``` or always 'GenericResource`?

[2016-04-22 03:36] xuezhaokun commented on #1142
@pkdash I get different values.

[2016-04-22 03:40] pkdash commented on #1142
@xuezhaokun Then we may have a solution to this problem. In few minutes I will write some code for you to try.

[2016-04-22 03:41] xuezhaokun commented on #1142
@pkdash OK. Thanks!

[2016-04-22 03:53] pkdash commented on #1142
@xuezhaokun here is the code to try:

    from hs_core.hydroshare.utils import get_resource_types

    def prepare_resource_type(self, obj):
	   res_cls = None
	   for tp in get_resource_types():
		  if obj.resource_type == tp.__name__:
			res_cls = tp
			break
	  if res_cls is not None:
		res_obj = res_cls()
		return res_obj.verbose_name
	  else:
		return obj.verbose_name

[2016-04-22 04:00] xuezhaokun commented on #1142
@pkdash Thanks! Trying it...

[2016-04-22 04:20] xuezhaokun commented on #1142
@pkdash This can show verbose name correctly. But I just realize that in order to make verbose name searchable, we also need a way to access verbose name from object directly and include it in our text template file.  [https://github.com/hydroshare/hydroshare/blob/discovery-issue-fix/hs_core/templates/search/indexes/hs_core/baseresource_text.txt#L14](url) Sorry for missing this part.

[2016-04-22 04:26] xuezhaokun commented on #1142
@pkdash I think it is better to find a way to solve this in models.py, when we define the verbose name property.

[2016-04-22 04:36] danames commented on #1126
I tend to agree with Jeff on this. We need to articulate the use case for a
composite resource a bit better. In fact, in our current system, we can
write apps to read files out of resources and act on them. Shawn is
currently working to extend HydroShare GIS to open any resource type,
inspect it's contents, and load any known layer types. This will all work
with our current resources - just requir

[2016-04-22 04:37] pkdash commented on #1142
@xuezhaokun In that case change the code for ``prepare_resource_type``` as it was before. Then change the code for the property in BaseResource class as follows:

    from hs_core.hydroshare.utils import get_resource_types
    @property
    def verbose_name(self):
	  res_cls = None
	  for tp in get_resource_types():
		if self.resource_type == tp.__name__:
			res_cls = tp
			break
	 if res_cls is n

[2016-04-22 05:02] xuezhaokun commented on #1142
After moving this to models.py, when I try to rebuild or restart the containers, it gives me this error:
[code]

[2016-04-22 05:18] pkdash commented on #1142
@xuezhaokun Yeah it's a circular import problem. Move this import inside the property verbose_name

    @property
    def verbose_name(self):
         from hs_core.hydroshare.utils import get_resource_types

[2016-04-22 05:44] xuezhaokun commented on #1142
@pkdash It is working now. Thanks for help!

[2016-04-22 10:25] dtarb commented on #1156
This is due to the bug #1092.

[2016-04-22 10:33] dtarb commented on #1092
This cropped up again in #1156.  @mjstealey can you please make an assessment of how prevalent this problem is and what the strategy for resolving this is, then we can identify who on the team to assign this to, and its priority.  If it is just a few resources we could fix it by identifying the resources and manually recreating.  If it is systemic we need to fix the system issue.  Perhaps we need

[2016-04-22 10:46] mjstealey commented on #1149
Yes, please do.
When it's time to release 1.6.10 I'll migrate your code, as well as any other new Dockerfile code, into the base image. But until that time it should be in the Dockerfile so that anyone who pulls the develop branch has it.

[2016-04-22 11:01] dtarb commented on #1134
Closing as this is a staging platform quirk.

[2016-04-22 11:01] #1134 closed

[2016-04-22 11:03] dtarb commented on #1132
@danames @zhiyuli you guys need to take care of this.

[2016-04-22 11:53] dtarb opened #1157 "HydroShare GIS Suggestions"
@shawncrawley and @danames following are suggestions for the HydroShare GIS App resource based on current deployment at appsdev.
- [x] In modify symbology for a raster show the minimum and maximum data values to help in selecting colors.  (Unless this information can be found from the .tif or .vrt file this may require extending the raster resource data model to include minimum and maximum with he

[2016-04-22 12:04] dtarb opened #1158 "HydroShare GIS to support VRT raster resources"
HydroShare GIS needs to support the VRT raster model that has multiple .tif files representing a logical raster.  See https://www.hydroshare.org/resource/e3291fe5d437485d8376c9a08fb6bced/ for an example of a .vrt raster and https://www.hydroshare.org/resource/019ada01c9b04c66aa1d9194d6149e40/ for a map app that attempts to load this but only shows part of the resource (though after having created

[2016-04-22 14:18] dtarb commented on #1126
If we can get this done with existing resources I am all for it.  The immediate use case I want to support is that CyberGIS returns multiple TauDEM results in a single generic resource.  I want to be able to visualize these.  We could have CyberGIS return individual resources, but that requires an abstract and keyword for each - which seems overkill and loses the grouping of them together.

Also w

[2016-04-22 14:49] danames commented on #1126
Perhaps CyberGIS could output a single generic resource with all the
generated rasters AND a HydroShare GIS project file with the symbology,
ready for viewing in HydroShare GIS. - Dan

On Fri, Apr 22, 2016 at 8:18 AM David Tarboton <notifications@github.com>
wrote:

[2016-04-22 14:54] danames commented on #1132
I removed the offending app resource. By the way, this does raise some
questions. Right now we allow any user to create an app resource with any
name and associate it with any resource type and make it public which means
it shows up for everyone. I propose that we NOT allow them to make app
resources public until they have been reviewed by some HydroShare content
gatekeeper.

On Fri, Apr 22, 2016

[2016-04-22 15:00] horsburgh commented on #1132
I second the need for an apps gatekeeper.  It would actually be cool if there was a different designation for apps that enabled them to be approved for showing up on the landing pages for resources. Sort of like how one has to get an app approved by Apple before it's available in the App store.  I think anyone should be able to create and app and share it (potentially even publicly).  But, when it

[2016-04-22 16:45] #1149 closed

[2016-04-22 18:58] dtarb commented on #1132
I suggest using a mechanism similar to star on my resources for a user to mark apps that they want to activate.  We could overload "star" or "favorite" for this purpose if we want to stick with existing functionality on My Resources, or we could add another almost identical property for a user to mark apps they want to use.  This way there can be many apps shared publicly without restriction, but

[2016-04-22 19:01] dtarb commented on #1126
That would be cool.  It is certainly well within the realm of possibility once you get the GIS project figures out.

[2016-04-23 00:36] mtpain opened #1160 "login and password reset broken"
I went to log in to hydroshare and got this error message in the link below after I entered my credentials. I thought maybe this was just a bad error message for a wrong password, so I requested a change of password, and when I clicked on the link to reset my password, I arrived at a page with the same error message.

https://www.dropbox.com/s/rpklwlg46tkor8m/Screenshot%202016-04-22%2017.35.23.png

[2016-04-23 13:09] dtarb opened #1161 "Open with button to only show apps a user has selected"
To avoid the random appearance of any app any user has made public in HydroShare (that was a problem e.g. #1132) establish the following model for users to "activate" apps that they want to use.  Only apps a user has "activated" show up on the open with button presented to a user.
- The "Activate" feature for app resources should be similar to the "Favorite" feature for any resource.  The system s

[2016-04-23 13:10] dtarb commented on #1132
I am closing this as this specific issue has been addressed.  I am opening #1161 that describes the enhanced functionality to address app gatekeeping.

[2016-04-23 13:10] #1132 closed

[2016-04-23 15:41] gantian127 opened #1162 "Raster resource extended metadata needs max and min band value"
The raster band max, min, and no data values are required for the HydroShare GIS app to visualize the raster resource.

[2016-04-23 20:29] dtarb commented on #1094
I'd like to make any policy decision needed, but I do not understand the issues and consequences fully.  Can one of you @Castronova, @zhiyuli please explain in a bit more detail how this works, what the question is, and what options there are.  Alternatively, I'd be happy to listen to the recommendation of @alvacouch since it pertains to security.

[2016-04-25 15:01] hyi commented on #1067
@gantian127 @dtarb @mjstealey I pulled in the latest develop and tested it out in my local development environment but cannot reproduce this issue. Everything works as it should in my local dev env. According to @gantian127, it works as expected on www as well. Not sure why this issue happens on beta only, but I think rather than spending time to dig through the code to figure out why it happens o

[2016-04-25 22:09] shawncrawley commented on #1158
I could not find anything in GeoServer's documentation about VRT files, but most google searches with keywords: "geoserver" and "vrt" did return documentation regarding an ImageMosaic. I have implemented uploading VRT raster resources as an ImageMosaic, and it appears to work. However, since I could not find any mention of VRT files by GeoServer, I am skeptical that their upload algorithm is actua

[2016-04-25 22:28] #842 closed

[2016-04-25 22:28] #844 closed

[2016-04-25 22:35] shawncrawley commented on #1025
@gantian127, has this already been incorporated into the Raster resource? I can definitely incorporate a check for a visualization file into the HydroShare GIS app, but I cannot make much progress without an example raster resource to work with.

[2016-04-25 22:48] gantian127 commented on #1158
@shawncrawley Here is one example VRT dataset in HydroShare: http://www.hydroshare.org/resource/9439e7b98d334d7eaf9601a1a5bfa6c1

If you want know more about the VRT raster data you can have a look at this site. http://www.gdal.org/gdal_vrttut.html

[2016-04-25 22:54] gantian127 commented on #1025
@shawncrawley I think to create a JSON-formatted visualization configuration, stored in the visualization directory of the resource is not implemented.

[2016-04-25 22:58] dtarb commented on #1158
Here is a resource formatted as a raster that uses VRT.  https://www.hydroshare.org/resource/e3291fe5d437485d8376c9a08fb6bced/

[2016-04-26 14:46] alvacouch opened #1164 "Changes necessary for SOLR realtime updates"
@xuezhaokun @dtarb @rayi113 @hyi @pkdash

Turning on real-time updates in SOLR doesn't work at all. Neither do any of the patterns for queueing updates. Changes need to be made so that this will work properly.

Here is the crux of the problem as I see it now:

By default, RealtimeSignalProcessor.setup only schedules responders for the subclasses of SearchIndex that you register in haystack. Since

[2016-04-26 19:38] horsburgh commented on #1161
Another potentially much simpler option is to simply let anyone publish and share an app.  But we as the HydroShare team review them and put the best ones (and by "best" I mean working and doing something useful) in the list.

[2016-04-26 20:03] dtarb commented on #1161
I am trying to avoid a solution where "we" the hydroshare team have to moderate this as it limits scalability.  But as an initial solution, I would be happy to have an approved app list, especially if you are willing to be the moderator who reviews it.

[2016-04-26 20:17] horsburgh commented on #1161
If we had masses of app developers developing apps, I would worry more about scalability.  And, considering how much development time it would probably take to implement the system above - I think we have to consider other options, until scalability becomes an issue.

[2016-04-27 15:39] hyi opened #1165 "All buttons (except for Edit button) do not work on beta"
Just found an issue with our latest develop branch in my local dev env as well as beta as currently deployed with the latest develop branch that all buttons do not work except for Edit button. Tooltips show up and all buttons are enabled as expected, but once click one of those buttons, nothing happens. @mauriel133 Any idea what could have caused this issue?

[2016-04-27 15:43] mjstealey commented on #1165
@hyi - That sounds like the issue that should have been resolved by this: https://github.com/hydroshare/hydroshare/pull/1130

Please verify that your local copy of `theme/templates/resource-landing-page/modals.html` has the **hydroshare_tags** in it.

If not, then that is the issue.

[2016-04-27 15:47] hyi commented on #1165
@mjstealey Yes, you are exactly right. Adding hydroshare_tags in it fixed the issue in my local dev env. Now I remembered I actually +1'ed this PR. Thanks for the reminder. I am closing this issue now.

[2016-04-27 15:47] #1165 closed

[2016-04-27 18:38] jsadler2 opened #1166 "'Choose a type' for Swat Model Instance passed as metadata element"
In the extended metadata for SWAT model instance resources, 'Choose a type' from various drop down lists ("simulation type" and "model input") was being passed as an entry causing an error.

[2016-04-28 13:09] mjstealey opened #1169 "1.6.10 - solr rebuild_index / update_index error"
UPDATE:

@zhiyuli - Decided to scrap the database and start over with the copy of www database from Sunday which seemed to deploy as expected in regards to solr rebuild index and update index.

The issue denoted before was in regards to **drew collection 1**, of which there are two versions of. Neither would render as valid end points previously, they now seem to resolve on alpha.

---

Using copy

[2016-04-28 13:16] mjstealey opened #1170 "1.6.10 - missing migrations for hs_swat_modelinstance"
@mohamedmorsy, @Castronova - Could you verify that any necessary migrations are made available to be checked into the [release-candidate-1.6.10](https://github.com/hydroshare/hydroshare/tree/release-candidate-1.6.10) branch for hs_swat_modelinstance.

When **makemigrations** is run on alpha the following is observed (using the www database).

[code]

[2016-04-28 16:31] alvacouch commented on #1164
@dtarb @rayi @pkdash @jsadler2 @mjstealey

Status report on this issue:

We have correctly configured real-time delete using this method.

*Update still doesn't work* due to a much deeper problem.

When updating a single record using the haystack update API, haystack looks for -- and does not find -- fields in the AbstractResource class that is an abstract base class for BaseResource. Thus the upd

[2016-04-28 16:34] alvacouch commented on #1164
@jbradberry See the above.... what is your view on this bug?

[2016-04-28 16:34] mjstealey commented on #1170
resolved

[2016-04-28 16:34] #1170 closed

[2016-04-28 16:35] mjstealey commented on #1169
Closing as the error doesn't seem to be reproducible on a clean deploy of the environment.

[2016-04-28 16:35] #1169 closed

[2016-04-28 16:35] mjstealey commented on #1166
merged

[2016-04-28 16:35] #1166 closed

[2016-04-28 16:48] jbradberry commented on #1164
@alvacouch taking a look...

[2016-04-28 16:49] xuezhaokun commented on #1164
I pushed the latest changes for real time processor in PR: #1152 . And there are also some other fixed discovery issues in this PR.

[2016-04-28 16:59] jsadler2 commented on #1164
We got mixed up with issue numbers. So I am actually not part of this one. Sorry about the mix up.

[2016-04-28 17:01] #572 closed

[2016-04-28 17:01] jsadler2 commented on #572
has been merged to 1.6.10

[2016-04-28 18:22] mjstealey opened #1174 "Deployment Notes for 1.6.10"
Release Notes
- iRODS v 4.1.8
- Discovery page updates
- Bug fixes

[2016-04-28 18:28] dtarb commented on #1136
@mjstealey @xuezhaokun @alvacouch this bug still exists in the pre-release that was deployed today.  This is more general than the sequence above and can be created by opening Discover and immediately clicking on the top persons name link there.  It is thus in my mind a deploy blocking bug that needs to be fixed.

[2016-04-28 18:36] mjstealey commented on #1136
@xuezhaokun, @alvacouch - Is it possible that PR #1152 resolves this?

If the PR can be vetted by someone prior to the team call we can deploy and check against the release candidate.

[2016-04-28 18:39] mjstealey commented on #1136
What is interesting about the existing deploy is that clicking the linked Name will work after any check boxed item has been checked, and then unchecked.
There seems to be some kind of initialization that takes place where the links work as expected following a check / uncheck sequence. (Safari browser)

[2016-04-28 18:41] alvacouch commented on #1136
@mjstealey The behavior above is due to session caching.

The private button no longer exists in PR #1152

[2016-04-28 18:43] xuezhaokun commented on #1136
@dtarb It has been fixed in PR #1152 . Can anyone review that PR?

[2016-04-28 18:43] dtarb commented on #1136
@alvacouch I cleared my cache and the bug persists.  It is more general than first described.  It occurs whenever a Name link is first clicked prior to any check boxes.  (Sorry if this is expanding the issue, but my initial description was a bit focused).

[2016-04-28 18:44] alvacouch commented on #1136
@xuezhaokun See @dtarb 's explanation above. Is that fixed. I think so.....

[2016-04-28 18:52] alvacouch commented on #1164
Note: the final fix was a bit different than the above suggestion:
1. We left the events coming in from the various subclasses of BaseResource.
2. We cast the superclass instance to BaseResource and update or delete that subclass instance.

[2016-04-28 18:54] xuezhaokun commented on #1136
@alvacouch I fixed this issue in PR #1152.

[2016-04-28 18:57] mjstealey commented on #1136
@dtarb, @alvacouch, @xuezhaokun - Branch in question has been deployed to: https://park.hydroshare.org

Please verify

[2016-04-28 20:17] hyi opened #1175 "Adding files from iRODS not working from resource landing page"
Got page not found error when logging into iRODS from resource landing page when adding files from iRODS to an existing resource. This issue happens on current www deploy as well as the latest develop branch.

[2016-04-28 20:32] alvacouch commented on #1164
@dtarb @jbradberry @xuezhaokun @rayi113 @mjstealey
Suggestion from Jeff was that the super() call may be messing up Haystack due to the unusual way that super() is implemented. We tried omiting the super call to cast from proxy class to BaseResource and -- instead -- trust Haystack to descend into subclasses (the way it has been observed to do during testing). This did not work. Same symptoms as b

[2016-04-28 20:36] jbradberry commented on #1164
@alvacouch Doing a read immediately after a write in this manner is going to cause problems by intermittently giving the indexer stale data.  I recommend against taking this course of action.

[2016-04-28 21:07] alvacouch commented on #1164
@jbradberry We live in a very imperfect world and I must choose between undesirable alternatives. It is not practical -- at this time -- to redesign the BaseResource class so that the race does not exist. I could -- however -- skip the indexing the first time, knowing that the indexer will be called again upon raccess instantiation. This makes sense because the resource cannot be made public until

[2016-04-28 21:08] alvacouch commented on #1164
@xuezhaokun Please see note above. Trick would be to simply not call index unless hasattr for 'raccess' returns True.

[2016-04-29 14:05] alvacouch commented on #867
This has been in production for months. So it is closed.

[2016-04-29 14:05] #867 closed

[2016-04-29 14:08] alvacouch commented on #820
This issue was solved in PR #821

[2016-04-29 14:08] #820 closed

[2016-04-29 14:24] alvacouch commented on #1164
@dtarb @rayi113 @jbradberry @xuezhaokun @mjstealey

Current status report.

1. Real-time updates of resource metadata seem to be working now.
2. Real-time updates of public/discoverable flags are problematic and are not always logged. Even though the exact same object is used in both cases! Worse, it is possible to do this:

* change to discoverable.
* doesn't appear in discoverable list.
* change

[2016-04-29 15:56] zhiyuli opened #1178 "HIS RefTS -- UI drop down list bug"
This issue was raised by Liza (CUAHSI) recently. However, it is a leftover problem. The default value of the "Variable" dropdown list is its first record (in this case it is "Precipitation"). Currently the code to retrieve data from hydroserver can only be triggered by a "OnChange event" of the "Variable" dropdown list. When you select "Precipitation", the "Variable" dropdown list does not actuall

[2016-04-29 16:04] mjstealey opened #1179 "Deployment Notes for 1.6.11"
Release Notes:

Add your features/fixes here:

- Extended arbitrary key/value resource metadata

[2016-04-29 20:59] alvacouch commented on #1164
@mjstealey @dtarb @jbradberry @xuezhaokun @rayi113

By George, I think we've got it! Current PR #1152 contains a real-time harvester that works.

Solution and issues were truly bizarre. The super() problem (that there is no such thing as a real superclass in Django) bit us twice.

First, recall that we installed SOLR by indexing the BaseResource class of which all real resource classes are proxy s

[2016-04-29 21:13] alvacouch commented on #1164
Perhaps the proper way to do this is to insert a pre-delete signal. We can do that later. For now, it works properly.

[2016-04-30 02:23] dtarb commented on #1164
I truly appreciate your persistence.  Let's hope this fix holds.

[2016-04-30 13:52] alvacouch opened #1183 "Enhancements to discovery SOLR harvesting"
@xuezhaokun @dtarb @rayi113 @jbradberry

Now that real-time discovery harvesting works, we can start thinking about how it **should** work. I am putting this into a new ticket so that we can close the other one.

Here are some immediate thoughts. First I propose the following easy performance fixes:
1. don't index things at all that are neither public nor discoverable.
2. add a resource to the ind

[2016-04-30 14:37] mjstealey commented on #1164
@dtarb, @alvacouch - Took the latest updates to the [discovery-issue-fix](https://github.com/hydroshare/hydroshare/tree/discovery-issue-fix) branch and merged them with the release-candidate-1.6.10 branch.

This is running on: [https://alpha.hydroshare.org](https://alpha.hydroshare.org)

Results were the that merged branch passes all tests, but the PR to merge this into master failed one test. [Re

[2016-04-30 14:57] alvacouch commented on #1164
@xuezhaokun @dtarb @jbradberry @mjstealy

This is very, very weird. We don't change the resource at all...! All we do is to read from it....!  We don't execute a single save()...!

The DEBUG messages are all correct. The system is working properly from that standpoint.
The ERROR messages should probably be warnings: the resource is not indexed until it contains metadata.

[2016-04-30 15:11] mjstealey commented on #1164
The error comes from this [hs_core/tests/api/native/test_create_resource.py](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tests/api/native/test_create_resource.py)

Unsure as to the specifics of how this particular test operates, but that is what threw the error.

[2016-04-30 15:26] jbradberry commented on #1164
The specific assertion that fails is this one: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tests/api/native/test_create_resource.py#L82.  As an aside, using more specific assertion calls (in this case `assertEqual`) rather than wrapping a boolean expression in `assertTrue` will result in output that is more useful.

Tracing things over to the `create_resource` function, I find th

[2016-04-30 18:06] pkdash commented on #1164
@alvacouch @mjstealey Any idea how much time it to took for the real time update? I assume it's not more than a minute.

[2016-04-30 22:13] alvacouch commented on #1164
It takes about a second. We can make this faster by skipping indexing of non-public resources.

[2016-04-30 22:17] alvacouch commented on #1164
@jbradberry We certainly didn't call a new save. We've exposed a latent bug.

The indexer skips any resource that doesn't have metadata and/or access control. So It does nothing at all until metadata is defined. And then, it only reads.

I am puzzled.

[2016-04-30 22:24] alvacouch commented on #1183
I also **think** that it is possible to refine our signal registration to only receive updates for resources. I am not absolutely sure how, and this will take a little trial and error.

Note that we should also omit some of the massive logger.debug() postings that we added to understand the signal system, for performance reasons.

[2016-04-30 22:28] alvacouch commented on #1183
If we do the above, I am not sure we even need queueing. The processing will only be slow if someone changes a public resource.

[2016-04-30 22:28] pkdash commented on #1164
The failing test has a comparison of date string value up to the minute. If the indexing upon resource creation is less than a second then that should not cause the mismatch in the test leading to test failure.

[2016-04-30 22:45] alvacouch commented on #1164
@pkdash It takes about 5 seconds to create a new resource on our development instance. This includes indexing.

[2016-04-30 22:48] pkdash commented on #1164
@alvacouch Are you able to reproduce this test failure locally?

[2016-04-30 22:56] alvacouch commented on #1164
@pkdash No time to try right this second.

[2016-04-30 22:59] pkdash commented on #1164
I guess if I pull this branch, I should be able to reproduce it.

[2016-04-30 23:26] pkdash commented on #1164
I could not reproduce the error locally. I am not sure if the real time indexing happening locally.

[2016-05-01 00:59] alvacouch commented on #1164
@pkdash:

Hmm... It is possible that local indexing (with few resources) is faster!

I can prevent the error.... but I have zero time in the next two days to test the fix.... The fix is to avoid indexing new resources until discoverable or public is true, as in issue #1183. Then the time for initial resource build will drastically decrease.

[2016-05-01 01:53] pkdash commented on #1164
@alvacouch I used the discovery-issue-fix branch. Is that the right branch?

[2016-05-01 02:20] alvacouch commented on #1164
@pkdash: yes, discovery-issue-fix is the proper branch.

@xuezhaokun: See branch 1183-discovery-speed for some possible fixes. The basic algorithm is to delete anything that isn't public/discoverable from SOLR and to check whether it's there via a simple SOLR query:

`self.hydro_resource_is_present(resource)`

that queries SOLR by the base object id. I don't have time or energy to debug this. This

[2016-05-01 02:33] xuezhaokun commented on #1164
@alvacouch I will take a look and do some tests on that branch.

[2016-05-01 14:28] dtarb commented on #640
@hyi can you please evaluate whether this is still an issue.

[2016-05-01 15:39] dtarb opened #1184 "Public and Publish button interface"
It seems inconsistent to me that the "Publish" button in HydroShare is top right all the time on a resource landing page, but that the control to make a resource "Public" is only accessible in editing mode (buried).  It seem to me that the act of publishing (which is irreversible) needs to be more deliberate than just setting public access, so perhaps should be hidden a bit more and the ability to

[2016-05-01 15:46] dtarb opened #1185 ""Formally Published (DOI)" as a facet in Discover Filter by Availablility"
Please consider adding a facet "Formally Published (DOI) to the Filter by Availability facet in the Discover page.

[2016-05-01 15:58] dtarb opened #1186 "Fewer clicks to add and remove keywords"
When adding a subject keyword on a resource landing page it seems unnecessary to have to click add to add the keyword to the keyword list AND click save changes for this to take effect.  Clicking "Add" should be sufficient.  Similarly removing a keyword could be simplified to one click (with perhaps an undo to fix mistake) rather than having to "Save changes".  These are just part of an overall aw

[2016-05-01 16:12] dtarb commented on #1135
Fixed in 1.6.10 Candidate release.

[2016-05-01 16:12] #1135 closed

[2016-05-01 16:13] dtarb commented on #1136
Fixed in 1.6.10 Candidate release.

[2016-05-01 16:13] #1136 closed

[2016-05-01 16:34] alvacouch commented on #1164
@xuezhaokun one note:

It is possible that a delete of a non-existent SOLR record will not raise an exception, and that remove_object can safely be called without checking for existence first. This could be faster than checking for existence. I don't know.

[2016-05-01 16:40] dtarb commented on #1148
@rayi113 please see if this is still an issue.

[2016-05-01 16:42] dtarb commented on #1140
@mohamedmorsy please check if this is still an issue and if it is deploy blocking (i.e. not already a problem in www).  If it is not deploy blocking please set to a later milestone.

[2016-05-01 17:10] dtarb commented on #1139
@mohamedmorsy please check if this is still an issue in the current release candidate.

[2016-05-01 17:24] dtarb commented on #1150
@gantian127 please check if this is still an issue in the current candidate release and if not, close.  I am unable to reproduce this on the current candidate release.

[2016-05-01 17:43] dtarb commented on #1155
@zhiyuli please check if this is fixed, and if it is close.

[2016-05-01 20:41] pkdash commented on #1151
@mauriel133 Not sure how this functionality disappeared again.

[2016-05-02 05:20] xuezhaokun commented on #1164
@alvacouch I do not know why I cannot check out your 1183 branch. I just copied HydroRealtimeSignalProcessor.py and search_indexes.py to my branch for testing.
I fixed to a minor haystack syntax issue in HydroRealtimeSignalProcessor and did some tests on it. I think it works as we expect.

1. I created a new resource, and filled all the necessary metadata fields for making it discoverable. At this

[2016-05-02 05:22] horsburgh commented on #587
I just verified that this is still an issue on www.hydroshare.org.

[2016-05-02 10:53] mjstealey commented on #1164
Will need a tighter bounds on what **never** means.
Also, is there any negative effect to the `update_index` call? [Reference](https://github.com/hydroshare/hydroshare/blob/develop/hsctl#L330-L336)
I believe there is presently a nightly cron job that rebuilds the index using one or both of the above calls. (defer to @hyi for specifics)

The `rebuild_index` call is made twice during the `loaddb` po

[2016-05-02 12:27] jbradberry commented on #1164
The proper way to make sure that your indexing only pulls in the items that you want is to override `index_queryset`, using the exact filter statements necessary.  In this case it sounds like you would want something like

        def index_queryset(self, using=None):
            return self.get_model().objects.filter(discoverable=True)

[2016-05-02 12:29] jbradberry commented on #1164
Once you do this, running `update_index` or `rebuild_index` will be fine.

[2016-05-02 12:58] alvacouch commented on #1164
@xuezhaokun @mjstealey
I agree with Jeff. However, I think the statement you need is:

def index_queryset(self, using=None):
    return self.get_model().objects.filter(SQ(raccess__discoverable=True) | SQ(raccess__public=True))

[2016-05-02 13:03] alvacouch commented on #1164
@xuezhaokun
(You need to put the above code into your SearchIndex subclass.)

[2016-05-02 13:03] jbradberry commented on #1164
`SQ` -> `Q`

[2016-05-02 13:04] alvacouch commented on #1164
Fixed. Was writing queries in SOLR....!

[2016-05-02 13:37] hyi commented on #1164
@alvacouch @xuezhaokun @mjstealey Yes, a nightly running cron job is set up only for update_index call. Do we still need this nightly cron job after this real-time index update working for resource deletion and resource update?

[2016-05-02 13:56] hyi commented on #640
@dtarb It is still an issue, as shown here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/serialization.py#L280..L281
I believe this is a best practice issue as @ironfroggy advised when @selimnairb implemented bag ingestion.

[2016-05-02 13:56] alvacouch commented on #1143
@xuezhaokun

I have a strange response for you. When searching for "resources", "resource" is actually a stopword. It adds nothing to search results. So, adding "resource" to stopwords.txt in SOLR would actually address the issue....!

At a deeper level, If you have a resource object  r, then

`r._meta.verbose_name`

is what you want.

If you just have a model type name, then you're stuck, because

[2016-05-02 14:05] alvacouch commented on #1142
@xuezhaokun There are two different issues here.

1. the filtering on resource type as discussed in detail above.
2. whether filtering is exact or approximate based upon facets.

The original anomaly comes from clicking on a facet, expecting an exact match, and getting an approximate (rank order) match. This is a general problem. We should come up with a general solution to that problem, independe

[2016-05-02 14:07] alvacouch commented on #1047
This is addressed in issue #1164 (pending approval).

[2016-05-02 14:09] alvacouch commented on #960
Addressed by issue #1164 ... pending approvals.....

[2016-05-02 14:10] alvacouch commented on #755
See #1164, which supersedes this issue.

[2016-05-02 14:10] #755 closed

[2016-05-02 14:11] alvacouch commented on #630
Superseded by much discussion in other places.

[2016-05-02 14:11] #630 closed

[2016-05-02 14:12] alvacouch commented on #783
I believe these have been addressed by current discovery fixes.

[2016-05-02 14:15] alvacouch commented on #832
Most of these have been addressed.

[2016-05-02 14:18] alvacouch commented on #979
Seems to be addressed in current release.

[2016-05-02 14:20] alvacouch commented on #826
Seems to be addressed in current release.

[2016-05-02 14:33] alvacouch commented on #1164
@hyi @mjstealey @jbradberry @xuezhaokun

A facetious answer: We need to keep running the nightly indexes **only if we screwed up!**

If we did everything correctly, we will not have to update_index overnight ever again.

**The only open question** is whether what we are doing is going to be fast enough that queueing will not be necessary. The next step would be to queue anything we really need to

[2016-05-02 14:34] xuezhaokun commented on #1164
@alvacouch I edited the index_queryset function, and did couple tests on "rebuild_index". I think it works properly now. We only index the discoverable or public resources. I pushed the latest version.

[2016-05-02 15:07] alvacouch opened #1187 "Tuning SOLR indexing for discovery"
Most of #1164 and #1183 are addressed in #1152. One issue remains

Change the signal registration to invoke a pre-delete action rather than a post-delete action. This will make managing deletes easier by giving us a complete view of what is going to be deleted rather than a partially deleted view like we have now with the delete "in progress" before we get the signal...!

Right now, handle_delete

[2016-05-02 16:43] #1150 closed

[2016-05-02 16:58] gantian127 opened #1189 "Map search doesn't show all the List search results"
I got 14 items in the List and Map only shows 5 of them.But if this issue has been reported or this is working as expected, please close this issue.

![image](https://cloud.githubusercontent.com/assets/5016511/14960933/7e3ab8ba-1054-11e6-9afd-ce096f27776a.png)
![image](https://cloud.githubusercontent.com/assets/5016511/14960950/8e910124-1054-11e6-872d-e63df6fee33d.png)

[2016-05-02 17:02] xuezhaokun commented on #1189
@gantian127 Because not all resources have "box_coverage" or "point_coverage" fields. We create markers only for resources with "coverage" feature.

[2016-05-02 17:03] gantian127 commented on #1189
@xuezhaokun the 13 of the 14 items should have coverage information. Most of them are raster or netcdf resources.

[2016-05-02 17:05] xuezhaokun commented on #1189
@gantian127 How did you generate these results? I will take a look at it.

[2016-05-02 17:11] mjstealey commented on #1189
@xuezhaokun - I suspect she typed her last name "Gan" as the search criteria. The results may actually be correct, though somewhat misleading. It seems that for some of these, but coverages are identical and stack the results.

![screen shot 2016-05-02 at 1 10 03 pm](https://cloud.githubusercontent.com/assets/5332509/14961394/3740426e-1067-11e6-8399-df4240971ab9.png)

And a couple of the resources

[2016-05-02 17:17] xuezhaokun commented on #1189
@mjstealey @gantian127 Yes. Some resources have identical coverages, they are listed in the same marker. The numbers on the map just show the number of markers in that cluster. I am not sure about the iRODS issue. I remember we had this problem before. I though it has been fixed. @mjstealey Do you have any idea about it?

[2016-05-02 17:23] mjstealey commented on #1189
This is an irsync error in that the request to copy a resource fails when reading from www. Unsure why this is the case. The resources are all intact and viable on www, but the copies which are used by development deployments like alpha and beta are not 100% complete.
Hoping the v4.1.8 upgrade makes debugging this particular issue a bit easier.

[2016-05-02 17:23] mohamedmorsy commented on #1139
@dtarb it looks good to me now.

[2016-05-02 17:23] xuezhaokun commented on #1189
@mjstealey I see. Thanks for updating.

[2016-05-02 17:32] mohamedmorsy commented on #1140
@dtarb the issue still exists, and I can reproduce it on www (see below):

![image](https://cloud.githubusercontent.com/assets/5543781/14961888/070f2558-1051-11e6-8d77-22e5a00bf445.png)

[2016-05-02 17:55] gantian127 commented on #1189
@xuezhaokun @mjstealey  sorry for the late reply. I typed my full name to get the results.

[2016-05-02 17:57] mohamedmorsy commented on #1133
@Castronova @goodalljl @vmmerwade I tested the Model Program, Model Instance, and SWAT Model Instance resource types on https://alpha.hydroshare.org/, and they behave as expected except for issue #1140.

[2016-05-02 19:09] mauriel133 commented on #1133
**Testing Profile**

**3.1**
3) Failed account sign up: when account sign up fails, I got redirected to a non styled page with the previous form.
![capture](https://cloud.githubusercontent.com/assets/2448568/14963837/cd1dfc68-1062-11e6-8a79-78b21e27499c.PNG)

**3.3**
Reset password: when resetting the password I was taken to the old profile edit page (not sure if this is intended). The password fi

[2016-05-02 19:43] mauriel133 commented on #1133
The issues I listed above do not block any of the new functionality and the exist in www right now. I will address them in the upcoming future, but they shouldn't hold the new release.

[2016-05-02 20:03] mjstealey commented on #1133
New issue(s) should be generated for these.
Can be a single checklist, or independent issue threads depending on how you plan to address them.

[2016-05-03 12:48] dtarb opened #1190 "Improve add author or contributer entry form"
Better guidance and automated entry is needed for the fields in the Add Author or Add Contributor form in resource editing.  There should be a place to choose an existing HydroShare user (similar to manage access) that will fill in information from an identified users profile.  This should be the only way that  the field "HydroShare User Identifier (URL)" can be filled in, as right now it is uncle

[2016-05-03 15:39] dtarb commented on #1139
Closing as @mohamedmorsy has OK'd

[2016-05-03 15:39] #1139 closed

[2016-05-03 15:47] dtarb commented on #1164
Responding to the facetious answer only if we screwed up, it is almost impossible (and I hesitate to say almost) to get things perfectly right the first time in a system like this, so it seems like a periodic index rebuild is the conservative approach.  Perhaps it can be less frequent than nightly, but we need to figure out logging and system monitoring to stay on top of this.

[2016-05-03 15:55] zhiyuli opened #1191 "Error on creating a script res"
this error occurred in pre-deploy checks on alpha.

![image](https://cloud.githubusercontent.com/assets/10070599/14989386/ce1f3264-1114-11e6-9fb4-31652966cd73.png)

[2016-05-03 16:00] rayi113 commented on #1148
@dtarb This works on Alpha now.  Closing.

[2016-05-03 16:00] #1148 closed

[2016-05-03 16:35] rayi113 opened #1192 "Discovery on alpha not finding all authors"
I am an author (but not lead author) on this HydroShare resource: https://alpha.hydroshare.org/resource/dc52e6aa93154521af08522de27ec276/ .  When I type my last name in the Search box a the top of the Discover page on alpha, it apparently finds my name as one of the authors (actually the Discover operation is finding my name associated with the resource in any supported searchable capacity).  Then

[2016-05-03 16:42] alvacouch commented on #1192
@xuezhaokun Check that all authors are indexed. If so, check that search phrase is appropriate for author......

[2016-05-03 17:09] xuezhaokun commented on #1192
@rayi113 @alvacouch For the "author" field, we just index the "first_creator" of the resource. Therefore, in the "Filter by Author" panel, it only lists all "lead authors". The reason you can find this resource by entering your last name in search box is that we index all "creators" in SOLR. Your name should be one of the creators for this resource. On the resource page, I am not why your name is

[2016-05-03 17:22] rayi113 commented on #1192
@xuezhaokun re:  am not why your name is not linked with your URL - per the screen cap below, one can enter an additional author to a HydroShare resource with, or without, a HydroShare User Identifier (URL) (i.e. HydroShare User Identifier not a required field in adding an author).  I believe this is properly acknowledge and credit co-authors of HydroShare resources who are not registered in Hydro

[2016-05-03 17:28] rayi113 opened #1194 "On alpha, resource counter at bottom of Discover page remains "Showing 1 to 20 of 20 entries""
At the bottom of the Discover page on alpha, the resource counter remains "Showing 1 to 20 of 20 entries" regardless of where at.

![hs_discover_example_01](https://cloud.githubusercontent.com/assets/2846017/14992204/e897afcc-1132-11e6-84cd-b1e616fafd6a.png)

Should this instead be, for example, "Showing 21 to 40 of 452 entries" ?

Or another option, this is how Amazon does it:

![hs_discover_exam

[2016-05-03 17:29] jbradberry commented on #1164
I would like to know why we feel that the indexed resources should be obtained in their `BaseResource` form before indexing.  If these things are all proxies of `BaseResource`, they should all be exposing the same fields and should by-and-large be compatible in the indexer.  In order to support the multiple models using the same indexing code and logic, one would be able to do something like

[2016-05-03 17:31] alvacouch commented on #1192
@xuezhaokun @rayi113 We should be indexing all authors whether or not they have HydroShare login names. Since this might cause duplication we'll need to be a bit careful; the author name is filled in even if the login is blank.

[2016-05-03 17:38] horsburgh commented on #1192
Agreed. In HydroShare, "Author" and "Creator" are the same thing.  All Authors/Creators should be indexed.

[2016-05-03 17:40] alvacouch commented on #1164
This is pretty simple to explain:

1. There are 25+ of these now.
2. We expect 50+ by end of grant.
3. These are largely created by people without knowledge of the discovery system.
4. We don't want to make lots of updates to this file.

It is a software maintenance issue.

[2016-05-03 17:49] rayi113 opened #1195 "Add drop-down or auto-complete of known HydroShare User Identifiers when adding authors"
Suggest adding drop-down and/or auto-complete of known HydroShare User Identifiers when adding additional authors to HydroShare resources here:

![hs_add_author_screencap](https://cloud.githubusercontent.com/assets/2846017/14992784/b4e2a18e-1135-11e6-8c06-e295c13ca997.png)

[2016-05-03 18:07] xuezhaokun commented on #1192
@alvacouch @rayi113  I did some tests on faceting on all "creators". I found two main problems. First, we can only facet on creator names with URLs. Second we should have a way to formalize the format of names when we list creators on resource page. If you take a look at the example given by @rayi113,  we could notice those creators' names are not their actual full names. For example, Ray Idaszak

[2016-05-03 18:26] rayi113 commented on #1192
@xuezhaokun @alvacouch @horsburgh @dtarb What if we alphabetize the "+Filter by Author" list by last name such that "Jane Smith" would show up as both "Smith, Jane" and "Smith, J."  The idea is to get the user nicely zero'ed in on what they're searching for even if an exact match must remain necessarily ambiguous (i.e. if there is a "Joe Smith" also listed as "Smith, J." ... i.e. it would be diffi

[2016-05-03 18:48] xuezhaokun commented on #1194
@rayi113 This is an information provided by "DataTable" which is a library also used in "my-resource" page. I notice on "my-resource" page this information is just disabled. I disabled this information on Discover page as well for now. I will take a look whether the amazon pagination style is doable in haystack template.

[2016-05-03 18:57] rayi113 commented on #1195
I wasn't aware that @dtarb had already addressed this in #1190 and so please refer to that as the sole issue addressing this.

[2016-05-03 18:57] #1195 closed

[2016-05-03 18:59] xuezhaokun commented on #1192
@rayi113 @alvacouch @horsburgh @dtarb I do not think this is something easy to resolve. "Creator" class is a subclass of "Party". Creator's name is stored in the name field of "Party". If we split the name based on "space" in names and group them by last names, we cannot know which short names and full names should be grouped together in "Filter by Author". For example, if we have full names "Jane

[2016-05-03 19:23] horsburgh commented on #1192
The FULL name should be stored in the resource metadata, and IF it is shortened, it should only be shortened for display on the resource landing page.  It should be indexed as the FULL name. We can't stop people from entering their FULL name as "J. Smith".  If they do that, just list them as "J. Smith".  But, if their full name is "James Smith", list the full name, don't shorten.

If someone click

[2016-05-03 20:33] vmmerwade opened #1197 "SWATShare apps not working on alpha"
@yirugi @lanzh @dtarb  The "open with" SWATShare apps that are working on www do not work on alpha for some reason. I am not sure if this is deploy blocking or not.

[2016-05-03 21:55] yirugi commented on #1197
@vmmerwade 'alpha' means 'alpha.hydroshare.org'?
When we fetch data from Hydroshare, we use 'www.hydroshare.org'. If a resource only stored in alpha, not www, then it would not work.

[2016-05-04 03:59] pkdash commented on #995
@dtarb Should this be closed?

[2016-05-04 14:19] #1174 closed

[2016-05-04 14:20] #1133 closed

[2016-05-04 16:12] hyi commented on #1175
Verified it is working on the newly deployed release on www. Closing.

[2016-05-04 16:12] #1175 closed

[2016-05-04 16:18] hyi commented on #1116
immutable has been set for obsoleted resources, so I am closing this issue.

[2016-05-04 16:18] #1116 closed

[2016-05-04 16:20] hyi commented on #1067
@gantian127 Could you try this on the newly deployed www to see if the issue exists or not? If not, could you close this issue?

[2016-05-04 17:07] dtarb commented on #1189
@xuezhaokun @alvacouch, @gantian127 and I discussed this following the call today.  The following is what seems misleading to us. To a user the concept of the number of resources is meaningful, but the number of unique coverages is not.  Here is the example.

This suggests 5 resources at one spot and 2 at another.
![p1](https://cloud.githubusercontent.com/assets/3456833/15021950/a7022baa-11e6-11e6

[2016-05-04 17:26] gantian127 commented on #1067
@hyi I just tested on the www site and it works as expected now. I will close the issue. Thanks for working on this issue.

[2016-05-04 17:26] #1067 closed

[2016-05-04 17:53] alvacouch commented on #647
@pkdash A general comment. The way this is implemented in PR #1177 might not be the most powerful way. I looked at it as a general client of the library and asked myself whether it would do what I want. I decided that I want more similarity to the main metadata elements.

I would suggest looking at the object Reference type for HSTORE. I am concerned that we are redoing work that is already done f

[2016-05-04 19:51] zhiyuli commented on #1178
working as expected on www. closed

[2016-05-04 19:51] #1178 closed

[2016-05-04 19:52] zhiyuli commented on #1191
bug resolved on www. closed

[2016-05-04 19:52] #1191 closed

[2016-05-04 19:53] zhiyuli commented on #1155
resolved on www. closed

[2016-05-04 19:53] #1155 closed

[2016-05-04 19:55] zhiyuli commented on #1138
@mohamedmorsy  The bug should be fixed on www. Will you double check and close this issue? thanks

[2016-05-04 20:14] mohamedmorsy commented on #1138
I checked the issue and it has been solved on www

[2016-05-04 20:14] #1138 closed

[2016-05-04 23:04] horsburgh commented on #1189
Just to throw another option out there:  I've seen sites that use a "spiderfier" to explode multiple markers out of a single google map marker when clicked.  There's a demo here:

http://codepen.io/hellokatili/pen/BopYya

It starts as a cluster, but then as you zoom in it turns to a marker and then if you click on the marker it pops out multiple markers.

[2016-05-05 00:20] xuezhaokun commented on #1189
@dtarb @horsburgh Thanks for the suggestions! This "spiderifer" method is really impressive. I will discuss about it with Alva.

[2016-05-05 02:24] pkdash commented on #647
@alvacouch Not sure I fully understand your suggestion. Are you suggesting that we store all metadata using HSTORE? May be should have a call to discuss this.

[2016-05-05 05:08] dtarb commented on #995
Seems to be fixed.

[2016-05-05 05:08] #995 closed

[2016-05-06 15:08] alvacouch commented on #647
See PR #1177 for concrete suggestions. No time today to discuss. Happy to discuss Monday.

[2016-05-07 12:39] mjstealey commented on #863
@mauriel133 - Sort by Last Modified date on the Discover page isn't working as expected.

![screen shot 2016-05-07 at 8 39 40 am](https://cloud.githubusercontent.com/assets/5332509/15092137/1e21fd74-142f-11e6-96c0-8877b7714816.png)

[2016-05-07 13:30] dtarb commented on #863
The sorting seems to be  alphabetic based on the words of the date.  However I think it needs to work on Discover similar to My Resources where @mauriel133 worked hard to get date-time ordering paying heed to both date and time.  It may be a different challenge in Discover, as for My Resources I believe this in JS on the front end, but for Discover loading the entire resource listing to the front

[2016-05-07 13:40] mjstealey commented on #863
Yes, perhaps this is what we expected :wink:

Unsure if same methods can be applied to Discover page as the my resources page, but thought it worth  pointing out. (Sorry @mauriel133 for hijacking an old, but not yet closed issue)

[2016-05-07 17:13] mauriel133 commented on #863
I think the same method can be reused. I'll have a look.

[2016-05-09 11:11] dtarb opened #1203 "Discover page sometimes shows the blank page Discovery"
If I go to Discover, then click Next a few times at the bottom, then click on a name in a facet, I get the following page
![capture](https://cloud.githubusercontent.com/assets/3456833/15111479/848c6f60-15a4-11e6-9718-d4ffc941bc41.JPG)

[2016-05-09 14:31] xuezhaokun commented on #1203
@dtarb I  am taking a look at it.

[2016-05-09 15:18] yirugi commented on #299
I have confirmed the PUT /scimeta for SWATModelInstance is working fine on playground site. Can this be deployed to live site?

[2016-05-09 18:00] xuezhaokun commented on #1203
@dtarb fixed in PR #1204

[2016-05-09 21:58] dtarb commented on #1203
Thanks.

[2016-05-10 14:20] alvacouch opened #1205 "make pylint an effective substitute for human style review"
@dtarb @mjstealey @hyi @pkdash

As discussed yesterday, it is possible to tune pylint output so that it automatically reviews many quality aspects of code. At present, pylint is configured in a totally fascist mode; it enforces all of the PEP standards and overwhelms the programmer. It is possible to instruct pylint to concentrate on the important issues only. Then we can fix those issues in the c

[2016-05-10 18:51] dtarb commented on #1205
I am supportive of having pylint configured to flag the first group of issues as soon as is non disruptively possible.

[2016-05-11 15:08] jbradberry commented on #1205
Commenting here to put this on my radar.

[2016-05-11 15:31] #1203 closed

[2016-05-11 16:37] alvacouch commented on #1194
This has been disabled. Please verify that this is acceptable.

[2016-05-11 16:43] alvacouch commented on #1192
@xuezhaokun My suggestion is to:
1. facet all creators.
2. use the user fullname when a real HydroShare user exists.
3. use the fullname in the metadata -- whatever that is -- if no HydroShare user exists.
4. allow user full names to collide. This will happen.
5. allow user full names to differ for the same user. This is inevitable.

This solution:
1. encourages recall.
2. at the expense of precis

[2016-05-11 16:46] alvacouch commented on #1189
@dtarb @horsburgh

We have implemented spiderify and it would seem to address your concerns. Will do PR.

[2016-05-11 17:19] xuezhaokun opened #1206 "fail on building development environment"
@mjstealey @alvacouch
When I pulled the latest version from `develop` and merged it into my branch, I got this programming error:

And I retried to do `./hsctl rebuild`, it still gave me the same error from terminal.

[2016-05-11 17:23] zhiyuli opened #1207 "RefTS -- allow to reference any url that can return a wml file"
This is to assist the development of several NFIE apps. Some NFIE apps can produce urls that return wml files. By registering these urls into hydroshare as RefTS resources, other apps can access those series on hydroshare.

[2016-05-11 17:27] mjstealey commented on #1206
@xuezhaokun - On merges you might want to allow the database to rebuild as well, otherwise you can run into migration issues.

[code]

[2016-05-11 18:08] xuezhaokun commented on #1206
@mjstealey @alvacouch `./hsctl rebuild --db` solved the problem. Thanks!

[2016-05-11 18:08] #1206 closed

[2016-05-11 18:46] horsburgh commented on #1189
Cool - could this get deployed to one of the testing environments so we could try it out?

[2016-05-11 19:54] hyi commented on #1120
![create-irods-account](https://cloud.githubusercontent.com/assets/476302/15194293/331481ca-1790-11e6-9430-5724b0e745e7.png)
![delete_irods_account](https://cloud.githubusercontent.com/assets/476302/15194296/35f9eb78-1790-11e6-8881-a156c99baad5.png)
@dtarb See the screen capture above for the informational language I drafted when creating or deleting an iRODS account user for a HS user. Let me kno

[2016-05-11 20:06] xuezhaokun commented on #1189
@mjstealey Can you help us to deploy PR #1208 to one testing environment?

[2016-05-11 22:32] jbradberry commented on #1205
My thoughts:

Code flagged by the linter should not be reaching the stage of code
review.  The linter should be something that the programmer runs
along with the test suite, and deals with as they would a failing
test.

Looking through the output of pylint, I see a great many things in
here that I think _should_ be cleaned up.  Even many of these things
that can be described as personal taste issu

[2016-05-12 14:34] hyi commented on #1120
@rayi113 suggested to add a message on resource landing page informing users the resource is defunct if the referenced content files have been deleted from iRODS user zone outside HydroShare resulting in broken reference links to content files, which I think is a good idea and have implemented this. When a public or discoverable resource becomes defunct, we should at least make it private and not-

[2016-05-12 15:03] pkdash commented on #1120
@hyi Not sure how this is possible.

[2016-05-12 15:34] hyi commented on #1120
@pkdash @rayi113 @dtarb @alvacouch What I meant by "the user still be able to retrieve such defunct resources via REST API" is that the resource is still intact in HydroShare even some of its referenced content file links are broken (i.e., content files are deleted from user space). You can still download the bag, the "file not exist" exception only is raised when the user tries to retrieve the co

[2016-05-12 15:37] hyi commented on #1120
@pkdash @rayi113 @dtarb @alvacouch @mjstealey A supplemental info to the comment above: we only do the check when the resource has referenced files from user space and defunct flag is false whenever the resource is retrieved from REST API or resource landing page is hit.

[2016-05-12 15:51] pkdash commented on #1120
@hyi Got is as it relates to REST API being able to get the bag for a defunct resource. In the case of such a resource I assume we won't be displaying content file links (for broken links) for download or delete on resource landing page. I am wondering how the user be able to update the content files for such a resource then.

For sure it is going to add complexity to the workflow of managing reso

[2016-05-12 16:05] hyi commented on #1120
@pkdash Right, on resource landing page, although we should the broken link, we add informational message informing the user this link is broken and this defunct resource should be deleted, and download button is disabled with informational tooltip to inform users the reason. Other related functions such as deleting resource file will also be disabled or not available for the defunct resources. I

[2016-05-12 18:13] rayi113 commented on #1120
@pkdash The reason that this is not a quota issue is that one of the use cases that Dave @dtarb and I discussed at the NSF SI2 PI workshop was enabling users to bring their own (iRODS) disk space to HydroShare.  As a policy, we won't be federating these or adding these directly to hydroshareZone, so what we decided made the most sense was for users to federate or add these as iRODS resource server

[2016-05-12 18:17] pkdash commented on #1120
@rayi113 So why is then copying the file a problem if disk space is not an issue?

[2016-05-12 18:20] pkdash commented on #1120
@rayi113 If the requirement is to create reference to files outside the hydroshareZone, then copying is not an option.

[2016-05-12 18:22] rayi113 commented on #1120
@pkdash Disk space is actually the issue, but not from a quota standpoint, rather from the use case that necessitates a HydroShare user bringing their own disk space to HydroShare.  Whether we limit that user to 1TB or 10TB via a quota on HydroShare core disk space does not address this use case since the story here is how to technologically implement a HydroShare user bringing their own disk spac

[2016-05-12 18:29] pkdash commented on #1120
@hyi @rayi113 Where the bags for these resources would exist? Not in hydroshareZone?

[2016-05-12 20:20] mjstealey opened #1210 "Map not displaying on www"
Ideas?

![screen shot 2016-05-12 at 4 19 03 pm](https://cloud.githubusercontent.com/assets/5332509/15229083/627e46a8-185d-11e6-9be8-38c9a701775e.png)

[2016-05-12 20:23] xuezhaokun commented on #1210
@mjstealey it seems the library stops working...

[2016-05-12 20:24] mauriel133 commented on #1210
The following script is not loading:
https://google-maps-utility-library-v3.googlecode.com/svn/tags/keydragzoom/2.0.8/src/keydragzoom_packed.js

[2016-05-12 20:33] xuezhaokun commented on #1210
It seems all google map utility libraries on svn are broken.
https://code.google.com/p/google-maps-utility-library-v3/wiki/Libraries

[2016-05-12 20:34] xuezhaokun commented on #1210
Should we disable key draggable feature for now?

[2016-05-12 20:36] mauriel133 commented on #1210
Another option would be to serve the script ourselves.

[2016-05-12 20:37] xuezhaokun commented on #1210
@mauriel133 But we cannot get the source code now.

[2016-05-12 20:47] mjstealey commented on #1210
@xuezhaokun, @mauriel133 - Once the google map utilities are back online we should grab a copy and serve what we require locally.

Might be a good time to see what else we depend on third party's for and migrate to using local copies if at all possible.

[2016-05-12 20:53] xuezhaokun commented on #1210
@mjstealey agree. I just disabled key draggable feature on my local, but the markers cluster library still has some feature depends on Google `svn`. We need to wait for Google `svn` back.
![screenshot_2016-05-12_16-51-38](https://cloud.githubusercontent.com/assets/6678333/15230046/dba27460-1861-11e6-8f45-df73a34d4836.png)

[2016-05-12 21:32] hyi commented on #1120
@pkdash The bags for these resources exist in hydroshareZone, only content files are referenced from user zone. I intended to demo the bag content and resourcemap.xml for such resources with referenced content files in user zone, but did not get to it due to time limit. I plan to continue the demo at our next team call meeting. Also, @rayi113 brought up a good case above for 100TB of their own dat

[2016-05-12 21:40] pkdash commented on #1120
@hyi Does it mean then the bag won't have the content files for these kind of resources? Similar to collection resource bag.

[2016-05-13 02:09] xuezhaokun commented on #1210
@mjstealey @mauriel133 Made a possible solution in PR #1211

[2016-05-13 05:22] dtarb commented on #1194
Closing.  This is now acceptable, but please keep open the opportunity to improve in the future.

[2016-05-13 05:22] #1194 closed

[2016-05-13 13:26] hyi commented on #1120
@pkdash Right, the bag does not have the content files for these reference resources, but will have full reference path encoded as URI in resourcemap.xml, which is resolvable to download the referenced files if the files are smaller than 1GB, otherwise, if the files are larger than 1GB which cannot be handled well by http download any way, users will have to download the file via iRODS directly fr

[2016-05-13 14:19] pkdash commented on #1120
Sounds good

[2016-05-13 14:54] dtarb commented on #1120
@hyi, I have a concern that I think we need strict separation between files in bags that are part of resources and files that are in a place where a user has uploaded them and can work on and delete them.  The way this seems to be being built, a user can add a file to iRODS, create a resource, then delete the file and the resource is broken.  We do not want to do this.

I developed the model for i

[2016-05-13 17:45] #1210 closed

[2016-05-13 18:24] hyi commented on #1120
@dtarb Agreed that moving files from irods user space to hydroshare zone makes more sense. This way, we treat irods user space as a temporary staging area and once the HS resource is created successfully, the staging big files in the user space is moved to HydroShare zone. Since it is staging area, I think users should be able to accept the fact that their files are gone from their user space afte

[2016-05-13 19:19] hyi commented on #1120
@dtarb @rayi113 @alvacouch @pkdash @mjstealey I come up with a hopefully better approach from user perspective for this issue. Specifically, we still go with current implementation to create reference links to content files in irods user zone/space by default when creating a HS resource, however, we will make the content files in iRODS user zone read-only after the referenced HS resource is creati

[2016-05-13 19:33] dtarb commented on #1120
I think these suggestions seem generally good for within the HydroShare iRODS zone.

You mentioned several comments above the use case of a user (really organization) that brings their own disk.  This would be an organization like NCSA or National Water Model that is federating with HydroShare.  Will this approach work within a federated iRODS server that is under their control.  I suspect it may

[2016-05-13 19:44] hyi commented on #1120
@dtarb Yes, the suggestion above only works well and makes sense for hydroshare user zone/space within our control which is what I am currently implementing. Agreed it will not work well for the use case of an organization that brings their own disk to federate with HydroShare. I'll defer this use case to @rayi113 on how to best go about it on iRODS federation level, and we will have to handle it

[2016-05-13 23:40] ChristinaB opened #1212 "Can I really delete a public resource?"
This resource is public and someone else than me is the author.
https://www.hydroshare.org/resource/99a170544d2741ac983a1f25b2f38451/

When I click on edit, it gives me a trash can and edit permissions. HydroSahre let's me delete it and it's not mine!!
Aaaaahhhhhh!

[2016-05-13 23:42] ChristinaB opened #1213 "Report Inappropriate Comment"
Provide process for users to report inappropriate comments and allow owners/admins? to delete.

[2016-05-13 23:46] ChristinaB opened #1214 "Comment email is unclear - needs to be sent from HydroShare Support"
I think it's great to get emails when comments happen, but not when I am the one who makes the comment, I already know I made it.  Only the authors should receive notification.
when it comes from someone else rather than themselves.

I was confused by the email sender 'Support'  - New Comment by....   it should say 'HydroShare Support' otherwise it will junk up inboxes.

Wonderful! Amazing! I love

[2016-05-14 00:09] mjstealey commented on #1212
Out of curiosity, does it also give you the "manage access" option? (looks like a small blue lock)
It's possible that you may have been granted edit or owner access by the original author of the resource which would enable the options you mention.

[2016-05-14 14:07] dtarb commented on #1212
@ChristinaB, I too am curious as to what you are seeing.  The fact that you see the edit button means you must have edit permissions that the owner assigned.  You should be seeing the trash can next to files because editing allows you to delete files.  You should not be seeing the trash can top right next to the resource as a whole because editing should not allow you to delete the entire resource

[2016-05-16 13:45] hyi commented on #1214
@dtarb @ChristinaB brought up a good point: do we want to send the commenter the email? I seem to recall we decided to email both the commenter and the resource owners the comments at the time, but do see @ChristinaB has a point here. @dtarb want to confirm with you that it is better we don't send the commenter the notification email as @ChristinaB suggested before changing the behavior.

[2016-05-16 13:52] hyi commented on #228
This issue is the same as the newly created issue [#1213], so I am closing this one and use the other one [#1213] to keep track of this issue.

[2016-05-16 13:52] #228 closed

[2016-05-16 13:54] hyi commented on #1213
A user who makes a comment can delete or edit it later. No one else can edit a comment, except system administrator who can delete an inappropriate comment. - copying comments for the duplicate issue [#228] which was closed. This issue will be used to keep track of the problem.

[2016-05-16 13:58] hyi commented on #1205
@jbradberry I am assigning this issue to you to put it on your plate initially. You can work with @mjstealey as needed and reassign as appropriate as the work progresses.

[2016-05-16 13:59] hyi commented on #1197
this appears to be an issue that only happens on alpha as commented above. Closing it.

[2016-05-16 13:59] #1197 closed

[2016-05-16 14:08] hyi commented on #1183
@alvacouch Not sure whether this issue can be covered by [#1187] or you want to do more enhancements for solr harvesting in this issue.

[2016-05-16 14:08] jbradberry commented on #1205
@hyi Sounds good.  I have a reasonable idea of how to do most of what I've outlined.

[2016-05-16 14:09] hyi commented on #1164
@alvacouch @xuezhaokun I believe this issue can be closed. Please check it and close if it has been resolved.

[2016-05-16 14:13] hyi commented on #1161
@shawncrawley I am assigning this to you initially. Feel free to reassign if needed.

[2016-05-16 14:20] hyi commented on #1156
I am copying comments from this issue to issue [#1092] to consolidate issues since they are duplicate of each other, and closing this one.

[2016-05-16 14:20] #1156 closed

[2016-05-16 14:21] hyi commented on #1092
Info from issue #1156 to consolidate two issues into one:

Received status 500 Internal Server Error when accessing https://www.hydroshare.org/hsapi/resource/b7822782896143ca8712395f6814c44b/ with method GET and params None.
This was discovered when trying to retrieve the Zipped BagIt contents through the REST API, however the "Download" link itself on the resource landing page yields the same err

[2016-05-16 14:22] hyi commented on #1092
@mjstealey I am putting this issue on your plate for now. I can help with debugging and diagnosis if needed.

[2016-05-16 14:26] hyi commented on #1146
@alvacouch Assigning to you for initial investigation since it seems to be caused by access control. You can reassign as needed.

[2016-05-16 14:29] hyi commented on #1143
@xuezhaokun Please close this issue if it has been resolved.

[2016-05-16 14:30] hyi commented on #1142
@mohamedmorsy Please close this issue if it has been resolved.

[2016-05-16 14:32] xuezhaokun commented on #1164
I think we can close this issue.

[2016-05-16 14:32] #1164 closed

[2016-05-16 14:33] xuezhaokun commented on #1028
Already done.

[2016-05-16 14:33] #1028 closed

[2016-05-16 14:34] xuezhaokun commented on #1142
@hyi This issue has not been resolved. We need to find a way to do exact matching filter in Haystack.

[2016-05-16 14:35] xuezhaokun commented on #1143
@hyi @mohamedmorsy I think this one is resolved. We can close it.

[2016-05-16 14:36] #783 closed

[2016-05-16 14:36] #832 closed

[2016-05-16 14:36] #805 closed

[2016-05-16 14:38] hyi commented on #1137
@jbradberry I am putting this issue on your plate for an initial investigation to see whether it is something you can resolve quickly as @dtarb suggested. I have never got a chance to look into this due to other priorities, but know this issue would be a difficult non-traditional one, and could potentially be time-consuming to get to the bottom of it. See my comment above for a bit of detail regar

[2016-05-16 14:43] hyi commented on #1126
@pkdash I am putting this on your plate initially with a lower priority milestone. This needs more discussion before implementation.

[2016-05-16 14:43] #1143 closed

[2016-05-16 14:44] hyi commented on #1118
I believe this issue has been resolved. Closing.

[2016-05-16 14:44] #1118 closed

[2016-05-16 14:46] hyi commented on #1106
@alvacouch Now that map interface has been implemented and deployed, can this issue be closed?

[2016-05-16 14:50] hyi commented on #1099
@mauriel133 putting this on your plate initially with a low priority.

[2016-05-16 14:53] hyi commented on #1088
@pkdash Please close this issue if it has been resolved.

[2016-05-16 14:56] hyi commented on #1075
This has been resolved. Closing.

[2016-05-16 14:56] #1075 closed

[2016-05-16 14:56] dtarb commented on #1214
I think that the email to the commenter should be retained.  It serves as a record for the commenter, of the comment being written and confirmation that it occurred.  It can be easily deleted if they want.  It also provides a check in case someone else has broken into your account and started commenting in your name, then you learn about it.

I agree that it would be better to come from 'HydroShar

[2016-05-16 14:57] pkdash commented on #1088
@hyi and @mauriel133 This is still a problem on www.

[2016-05-16 15:55] pkdash commented on #729
@mjstealey I think it is still an issue.

[2016-05-16 16:04] dtarb commented on #1213
It seems that we need the following functionality

- The commentor can delete their own comment
- If an owner or anyone else does not like that comment they can not delete it but they can comment back
- If a comment is inappropriate a user (any user) can click a "report inappropriate" button that administrators will then review and act on.

[2016-05-16 18:34] hyi commented on #1074
@pkdash I am assigning to you for initial investigation. Feel free to reassign as needed.

[2016-05-16 18:37] hyi commented on #1073
@pkdash I am assigning to you initially to determine the next action, whether to make changes to make the message a bit more clear, or justify that it works reasonably well and can be closed.

[2016-05-16 18:46] hyi commented on #1057
@mjstealey Can you confirm whether this issue has been fixed by the PR #1078 and if so, close this issue?

[2016-05-16 18:48] hyi commented on #1050
Fixed by new discovery, closing.

[2016-05-16 18:48] #1050 closed

[2016-05-16 18:57] hyi commented on #1047
@alvacouch @xuezhaokun Did the issue #1164 solr real time index update address this issue as well? I don't think it does since the obsoleted public or discoverable resources will remain being public or discoverable, which means it will still show up in the discovery interface even though this resource is obsolete and has been superseded by a newer version. The resource version chain is established

[2016-05-16 19:00] hyi commented on #1041
@gantian127 I believe this has been resolved. Can you confirm and close if so?

[2016-05-16 19:02] hyi commented on #1038
@mjstealey I am assigning this to you for initial investigation to see what the next action should be for this.

[2016-05-16 19:04] hyi commented on #1037
@jbradberry Assigning this to you for initial investigation to evaluate what the next action should be. YOu can consult @ironfroggy for details. Looping in @mjstealey and @dtarb as well since they were involved in the discussion that triggered this issue during March all hands meeting.

[2016-05-16 19:07] hyi commented on #1034
@pkdash I am putting this on your plate iniitally since it is related to file type work you have been doing.

[2016-05-16 19:11] hyi commented on #1031
@alvacouch I am putting this on your plate initially based on info above.

[2016-05-16 19:16] hyi commented on #1009
@dtarb Can you verify and close if it has been fixed?

[2016-05-16 19:17] hyi commented on #1008
@dtarb Can you verify and close if fixed?

[2016-05-16 19:18] hyi commented on #998
@dtarb Can you verify and close if fixed?

[2016-05-16 19:20] hyi commented on #997
@mauriel133 @dtarb Is this still an issue or it has been fixed and can be closed?

[2016-05-16 19:21] hyi commented on #996
This should not be an issue any more since we went with the new THREDDS Server implementation.

[2016-05-16 19:21] #996 closed

[2016-05-16 19:23] hyi commented on #981
@mauriel133 I am putting this on your plate for initial investigation.

[2016-05-16 19:23] hyi commented on #980
This has been implemented and merged. Closing.

[2016-05-16 19:23] #980 closed

[2016-05-16 19:24] #979 closed

[2016-05-16 19:26] hyi commented on #977
@dtarb @mauriel133 now that Brian does not work on HydroShare any more, what should we do with this issue?

[2016-05-16 19:27] mauriel133 commented on #997
I haven't experienced this issue after the fix was merged.

[2016-05-16 19:28] hyi commented on #997
I am closing it then.

[2016-05-16 19:28] #997 closed

[2016-05-16 19:48] dtarb commented on #977
@mauriel133 can you please let @alvacouch know what back end API functions you think are needed to implement folders.  @alvacouch once you hear from @mauriel133 can you assess what it will take to have our landing pages be able to manage folders within resources.  Management likely involves all the usual operations like create, delete, move files between them etc.

[2016-05-16 20:06] dtarb commented on #998
This seems fixed.

[2016-05-16 20:06] #998 closed

[2016-05-16 20:07] dtarb commented on #1008
Fixed

[2016-05-16 20:07] #1008 closed

[2016-05-16 20:09] dtarb commented on #1009
OK

[2016-05-16 20:09] #1009 closed

[2016-05-16 20:25] #1041 closed

[2016-05-16 20:28] hyi commented on #970
@alvacouch assigned to you for initial follow up on the current status and what remains to be done next for this issue.

[2016-05-17 13:09] hyi commented on #960
This should have been addressed by real time solr index update. Closing.

[2016-05-17 13:09] #960 closed

[2016-05-17 14:13] hyi commented on #958
@dtarb @mjstealey @pkdash Not sure how we are going to do with this issue and whom to assign this issue to now that @ironfroggy does not work on HydroShare any more. It is definitely a good thing to remove duplicates and tighten up the codebase, but it will be a time-consuming undertaking.

[2016-05-17 14:16] hyi commented on #949
This is a subset of issue #958. I am assigning this to myself to look specifically on cleaning up ga_resources and ga_ows, but it'll be a low priority on my plate. If anyone else wants to look into this, please reassign.

[2016-05-17 14:19] hyi commented on #942
@mauriel133 Is this already done? Can this issue be closed?

[2016-05-17 14:20] hyi commented on #941
@pkdash Can this issue be closed now?

[2016-05-17 14:22] hyi commented on #940
Verified this has been implemented. Closing.

[2016-05-17 14:22] #940 closed

[2016-05-17 14:25] hyi commented on #934
@yirugi It appears this issue has been fixed. Please verify and close this issue if it has been fixed.

[2016-05-17 14:28] hyi commented on #909
It has been deployed. Closing.

[2016-05-17 14:28] #909 closed

[2016-05-17 14:41] hyi commented on #891
@pkdash Can this issue be closed now?

[2016-05-17 14:45] pkdash commented on #891
@hyi Closing.

[2016-05-17 14:45] #891 closed

[2016-05-17 14:47] pkdash commented on #941
@hyi This feature has yet to be implemented if it is still a requirement.

[2016-05-17 14:53] hyi commented on #851
@xuezhaokun @alvacouch Can you evaluate and see whether this issue has been resolved by your real-time solr index update upon resource deletion? If it has been resolved, you can close this issue unless there is more work to be done.

[2016-05-17 14:55] hyi commented on #848
@zhiyuli @rphooper Can you check on www.hydroshare.org and see if this issue has been resolved? If so, you can close this issue.

[2016-05-17 14:59] hyi commented on #826
@zhiyuli Can you verify on www and see if this issue has been resolved? If so, please close it.

[2016-05-17 15:00] hyi commented on #812
@alvacouch Has this issue been resolved by PR #820? If so, can this issue be closed?

[2016-05-17 15:02] hyi commented on #804
@dtarb I suggest to close this issue since it was filed 5 months ago that only happened on beta. I believe this issue has been covered by the new comments-related issues. I'll defer to you on what you want to do with this issue.

[2016-05-17 15:03] pkdash commented on #958
@hyi I am sure there is some duplicate code. But the above report is not a true reflection of the code duplication. It just indicates functions that might have duplicate code. I would probably put more priority on cleaning up unused code (there is quite a bit of that in the current code base)  than this issue.

[2016-05-17 15:05] hyi commented on #768
@horsburgh @mauriel133 I believe this has been implemented. Can you verify and see if this issue can be closed?

[2016-05-17 15:09] hyi commented on #958
@pkdash Agreed. I am putting this on your plate for now due to your cleanup work on API and test as a champion for code cleanup.

[2016-05-17 15:12] #762 closed

[2016-05-17 15:13] #761 closed

[2016-05-17 15:22] hyi commented on #758
@dtarb Can you check to see if the current behaviour is acceptable or not? It appears to be redirected to https://apps.hydroshare.org/apps after asking for authorization.

[2016-05-17 15:24] hyi commented on #756
Celery is now used in resource publication and RHEYSyS model file async unzipping. Closing this issue now.

[2016-05-17 15:24] #756 closed

[2016-05-17 15:27] hyi commented on #733
@pkdash assigning to you for initial investigation.

[2016-05-17 15:33] hyi commented on #702
@mjstealey Not sure whether this has any connection to the help page VM you set up for the team to collectively edit help pages, and not sure whether this is still in active state now.

[2016-05-17 15:34] hyi commented on #700
@alvacouch Has this issue been resolved?

[2016-05-17 15:35] hyi commented on #699
@mjstealey I am reassigning this to you and I can help with this if needed.

[2016-05-17 15:37] hyi commented on #698
@jbradberry Not sure whether this is still an issue, but since you are taking on REST API, I am putting this issue on your plate for now.

[2016-05-17 15:39] hyi commented on #696
@dtarb I believe this issue has been resolved. Can you verify and see whether there are still issues with email exposure or not?

[2016-05-17 15:42] hyi commented on #695
@mauriel133 I am initially assigning this to you since you are the champion for profile pages. Feel free to reassign it to me if needed.

[2016-05-17 15:44] hyi commented on #690
@pkdash I am assigning this to you, feel free to close or continue to work on metadata refactoring if you think there are still work to be done outlined in this issue.

[2016-05-17 15:48] hyi commented on #684
@jbradberry I am putting this on your plate since it is REST API related. I can help with iRODS part of things when we get to this issue. We will see whether a use case exists that can drive implementation of this issue.

[2016-05-17 15:55] hyi commented on #673
I am closing this issue since I agree with Calvin's assessment above that this was not a non-printable character issue in the first place but rather the original encoding was not handled correctly. ```--encoding UNICODE``` parameter was only added some time back in hsctl script for ```createdb``` call, so it is most likely some wrong encoding had crept into our database. Closing this for now, and

[2016-05-17 15:55] #673 closed

[2016-05-17 15:59] hyi commented on #647
@pkdash Can this issue be closed now?

[2016-05-17 16:03] hyi commented on #641
@mauriel133 I am putting this on your plate for now. Feel free to reassign as needed, but it seems to me you are the best person to champion for social functionality implementation.

[2016-05-17 16:10] hyi commented on #640
@jbradberry I am putting this on your plate for now since it is a very specific issue and I believe your expertise can address this quickly. This is low priority since this function has not been used in HydroShare production, but only used in a rush for manual migrations required by a big code refactoring. There is potential utility and use cases for this function to be used to recreate resources

[2016-05-17 16:11] hyi commented on #639
@pkdash I believe this has been addressed. See if you can close this issue now.

[2016-05-17 16:12] hyi commented on #624
@pkdash I am assigning this to you since I think this will be addressed when group functionality is deployed.

[2016-05-17 16:15] hyi commented on #619
@dtarb Can you assign someone to work on this issue and set the milestone as well? For bookkeeping, I am assigning this initially to you and set the milestone to 1.8 to start with.

[2016-05-17 16:21] pkdash commented on #624
@hyi This won't be fixed when we deploy group functionality. This problem with default group is related to mezzanine page permission. Not sure how to fix that.

[2016-05-17 16:23] mohamedmorsy opened #1216 "Lower the barrier for creating new specific Model Instance resource types"
Since there are so many hydrological models, and since currently it is very difficult to create a specific model instance resource type, we would like to do an easy methodology to implement a new specific Model Instance resource type. This way a HydroShare user could create a specific model instance type for their specific model in a simplified way. This could be implemented as the following:
1. T

[2016-05-17 16:23] pkdash commented on #639
@hyi Not yet addressed.

[2016-05-17 16:24] hyi commented on #624
@pkdash OK. I am reassigning it to myself then with a low priority to investigate further after group functionality is deployed.

[2016-05-17 16:33] hyi commented on #536
@rayi113 Is this already done and can be closed?

[2016-05-17 16:35] #534 closed

[2016-05-17 16:39] pkdash commented on #600
@horsburgh I assume we have decided to remove the 'Format' element from the science metadata document.

[2016-05-17 16:52] rphooper commented on #848
Works as expected. Closing issue.

[2016-05-17 16:52] #848 closed

[2016-05-17 17:11] pkdash commented on #524
We have already addressed this issue. I am closing this one even though there are still tests to be written in particular for views in hs_core.

[2016-05-17 17:11] #524 closed

[2016-05-17 17:36] hyi commented on #518
@mauriel133 I am putting this on your plate as it involves resource landing page. @pkdash or me can help to implement backend support if needed.

[2016-05-17 17:38] hyi commented on #517
@pkdash putting this on your plate for now. I can work with you on this as needed.

[2016-05-17 17:42] rayi113 commented on #535
This is completed.

[2016-05-17 17:42] #535 closed

[2016-05-17 17:59] cbev opened #1217 "Why can't I +1 Christina?"
Hello- I tried to "+1" a comment on a collection but an error occurred. Specifically, it took me to a new page that says "Error-- Sorry, an error occurred." This happens on multiple levels of the resource (the main resource page, inside the collection, etc.).

Thanks for looking into this!

[2016-05-17 18:06] hyi commented on #1217
@jbradberry This issue has the same cause as #1137 - primary key clash. After several erroneous trials, this error will go away. Assigning to you now so that we can verify the fix once you get a chance to look into it and get to the bottom of it. Feel free to reassign it to me as needed.

[2016-05-17 18:24] pkdash commented on #608
@gantian127 See if you can work on this issue.

[2016-05-17 18:33] mohamedmorsy commented on #608
@pkdash I think I was mistaken when I gave an example for "ExecutedBy" term as this is a _class_. With _classes_  the first letter of each word should be capitalized, even the for first word, while any other metadata _term_ underneath the class should follow the style as I explained above.

[2016-05-17 18:35] dtarb commented on #517
It would be good to get @horsburgh input on this.

[2016-05-17 18:45] dtarb commented on #619
I'll need to discuss this with David Maidment and @XingZheng.  I'll be meeting with Maidment next week and making a plan for this will be on the agenda.

[2016-05-17 18:51] hyi commented on #513
I am planning to clean it up as detailed in issue #949. I am consolidating them into one by closing this one and use #949 to keep track of the work on this issue.

[2016-05-17 18:51] #513 closed

[2016-05-17 18:53] #496 closed

[2016-05-17 18:59] dtarb commented on #696
Points 1 and 4 are OK.  Points 2 and 3 have still not been done.  I am OK to leave this on the backburner for now as we have higher priorities.

[2016-05-17 19:20] hyi commented on #486
@jbradberry Putting it on your plate for now, this is related to https://github.com/hydroshare/hydroshare/issues/640.

[2016-05-17 19:26] hyi commented on #417
@zhiyuli I am putting this on your plate for further investigation to see what remains to be done.

[2016-05-17 19:33] hyi commented on #408
@rayi113 I intend to assign this to Michael, but cannot do so since his username does not appear any more after typing @ (it used to appear, but started to disappear sometime today for reasons I don't understand). I am assigning it to you for bookkeeping, so you can reassign to Michael once his account shows up on github (at least we can talk to Michael next week to see whether he has ideas to mak

[2016-05-17 19:43] hyi commented on #348
This is related to https://github.com/hydroshare/hydroshare/issues/949

[2016-05-17 19:45] hyi commented on #329
@zhiyuli @jsadler2 What is the current status for this issue? Can it be closed now?

[2016-05-17 19:46] #326 closed

[2016-05-17 19:47] hyi commented on #324
@dtarb @gantian127 Can this issue be closed?

[2016-05-17 19:48] #318 closed

[2016-05-17 19:52] hyi commented on #299
@yirugi Can you test on www and see if this issue is now resolved? If not, what remains to be done?

[2016-05-17 19:54] #289 closed

[2016-05-17 19:55] hyi commented on #282
@zhiyuli Is this still an issue or can be closed?

[2016-05-17 19:57] hyi commented on #278
@dtarb I am assigning this to @zhiyuli for further investigation, but you may want to take a second look on this issue.

[2016-05-17 19:58] hyi commented on #178
@dtarb I am assigning it to you for re-delegating this now that Brian does not work on HydroShare.

[2016-05-17 20:00] hyi commented on #172
@dtarb @horsburgh @pkdash Can this issue be closed?

[2016-05-17 20:01] #150 closed

[2016-05-17 20:03] hyi commented on #132
@pkdash Do you think this capability is already available in REST API? If so, please close this issue. I am assigning it to @jbradberry for now if it is still an issue.

[2016-05-17 20:04] hyi commented on #129
@rayi113 @horsburgh @dtarb What is the current plan for this issue?

[2016-05-17 20:08] #60 closed

[2016-05-17 20:20] hyi commented on #21
@dtarb I am assigning this to you for re-delegating the task.

[2016-05-17 20:20] pkdash commented on #172
@hyi, @horsburgh and @dtarb I think this issue can be closed. When there is a need to allow the user to update the publisher element, we can make that change.

[2016-05-17 20:24] hyi commented on #12
@dtarb Reassign to you for re-delegate this issue.

[2016-05-17 20:25] hyi commented on #10
@dtarb Reassign to you to re-delegate this issue.

[2016-05-17 20:58] yirugi commented on #299
@hyi I have just tested, but this feature (scimeta) still does not work on www.

[2016-05-17 21:06] pkdash commented on #299
@yirugi Are you using the PUT /scimeta REST API?

[2016-05-17 21:08] yirugi commented on #299
@pkdash
Yes, I send a xml file via PUT.

[2016-05-17 21:13] pkdash commented on #132
@hyi Currently GET/POST/DELETE are supported for resource file. PUT yet to be implemented.

[2016-05-17 21:17] pkdash commented on #299
@hyi and @yirugi I am seeing there is a WIP pull request that was created by Brian related to this REST API endpoint. That indicates this API is not ready for use.

[2016-05-18 07:16] dtarb commented on #12
Closing.  Current plans are not to implement a specific River Geometry Resource type.  River hydraulic properties will be represented by adding a hydraulic properties table to a river network as a geographic feature.  River geometry beyond this will be accommodated as files that are part of a generic resource and/or specific model files such as HEC-RAS cross sections as part of a Model Instance Re

[2016-05-18 07:16] #12 closed

[2016-05-18 07:17] #172 closed

[2016-05-18 07:20] dtarb commented on #129
I am reassigning to @horsburgh for him to regroup on this issue.

[2016-05-18 07:23] #804 closed

[2016-05-18 15:16] pkdash commented on #1144
@hyi This has already been merged into develop. Once into go into next release, I will test it and then close this issue.

[2016-05-18 15:23] pkdash commented on #1074
@horsburgh and @dtarb Do you agree for this change suggested by @jsadler2 ?

[2016-05-18 15:27] pkdash commented on #1073
@horsburgh and @dtarb Any suggestion how to make this message more clear?

[2016-05-18 15:32] pkdash commented on #609
@horsburgh Do we need to make this change?

[2016-05-18 15:37] horsburgh commented on #1074
I think this is a pretty minor thing and the text is pretty clear as is.  But, maybe the following would be better:

[2016-05-18 16:17] pkdash commented on #1042
@horsburgh Here @mauriel133 has specified that only group owners can invite users to join group.

[2016-05-18 16:55] dtarb commented on #1042
Please refer to the access control design document at https://docs.google.com/document/d/1JMvn9-p6aLm9wTEnbakCwYGQHwuaP1uzma_6C_eiBhM/edit

It says the following about groups (on about page 4)

- View privilege for a group makes a user a member but they can not invite other members
- Change privilege for a group makes a user a member with the ability to add and remove members
- Owner privilege giv

[2016-05-18 17:01] dtarb opened #1218 "Empty Bag"
If I download all content as a zipped file for the following resource I get an empty zip file.

https://www.hydroshare.org/resource/27a7553d7b9f4d08a8d055c258cf6efa/

[2016-05-18 17:42] hyi commented on #1218
@dtarb It is fixed. You should be able to download the bag now. What I did is to set bag_modified to true so that the bag can be regenerated since the existing bag zip file is empty with 0 byte in size. I did not know how this happened in the first place, but this specific issue is resolved. I suggest to close this issue for now if bag download for this resource works now.

[2016-05-19 03:06] pkdash commented on #1216
@mohamedmorsy Would like to discuss this issue with you on HipChat.

[2016-05-19 03:08] mohamedmorsy commented on #1216
@pkdash Sure. We can do that.

[2016-05-19 15:32] horsburgh commented on #1042
@pkdash, @mauriel133, and @alvacouch  - is it possible now with our current access control implementation for group members to have one of 3 roles:

**Owner**:  Access to all group functionality, including inactivating a group (Dave's "Owner" privilege above)
**Editor**:  Access to editing group details, inviting new members, and accepting invitations along with all Member privileges (Dave's "chan

[2016-05-19 15:55] horsburgh commented on #609
@pkdash - It would be technically correct to make this change because @mohamedmorsy is correct - this term is not in the dcterms namespace.

[2016-05-19 16:26] horsburgh commented on #1073
I think the existing message is fine. The issue where you try to make it public before having content files is handled well. But, you could reword the text in question as follows:

[2016-05-19 16:31] pkdash commented on #1042
@horsburgh

Yes

Yes

Yes from access control point of view. However, I have not implemented as part of the group functionality to allow editors to invite or accept requests to join groups. This can be added easily as long as we allow user to join group with 'view' privilege only. Once a user joins a group, his/her privilege can be upgraded.

[2016-05-19 16:33] horsburgh commented on #129
@dtarb - I'm happy to revisit this over the next several months.  Three questions:

1. Are we for sure going to do this?
2. Are we going to do this ourselves? We had talked about partnering with someone else to get this functionality, but I don't think that relationship took off.
3. Assuming the answer to 2 is yes, which developer(s) can I work with to do the implementation?

I think this would be

[2016-05-19 16:33] pkdash commented on #609
@horsburgh Will make this change then.

[2016-05-19 16:59] rayi113 commented on #129
@horsburgh @dtarb I ran this past the DFC folks and they are open to meeting about it.  DFC has a DataOne member node as an update of my Feb 2015 comment in this thread above.

[2016-05-19 18:07] horsburgh commented on #1042
@pkdash - I think I'm OK with this:

But, I'm also OK with having only two roles - Owner, and Member.  The only permission reserved for Owner that Editor would not have is the ability to deactivate the group.

@dtarb - do we really need three roles, or can we go with just Owner and Member?

[2016-05-19 19:33] dtarb commented on #1042
I am OK with just owner and member (assuming multiple owners as was demoed).  I just want to make sure deviations from the original thinking are deliberate rather than oversights.  So if you have reasons (and I can see simplification as a reason) for just owner and member, then I am fine with that.  It may also be worthwhile looking at how other systems handle groups.

[2016-05-19 19:38] dtarb commented on #1073
"may still need to add content files" seems insufficiently specific.  Either they do need to add files or they do not.  There is no "may".  So if they "do" need to add files can we just say: "Content files need to be added to this resource before it can be made public, discoverable or published." and if they do not need to add files then just say "The content and metadata of this resource is suffi

[2016-05-19 19:43] pkdash commented on #1042
Access control already has implementation to support these 3 roles. It will be more work if we change it 2 roles.

[2016-05-19 19:43] dtarb commented on #129
@horsburgh can you please reassess where we stand on this issue and identify the best approach to getting DataOne member node functionality in the simplest way.  I do not mind whether we do it in partnership with DFC or independently.  This is still an important project goal.  We need to identify if there are API elements missing.  The API and RDM was designed with this in mind, so I am hoping tha

[2016-05-19 19:45] dtarb commented on #1218
OK. Closing for now.  We need to be vigilant as to why this happened and whether there is a systemic problem to address.

[2016-05-19 19:45] #1218 closed

[2016-05-19 19:46] #324 closed

[2016-05-19 20:20] horsburgh commented on #1042
@pkdash - maybe I misunderstood.  For some reason I thought you were going to have to do additional work to support the 3 roles.

2 roles or 3 - do whatever is easiest.  I think both models will work.  But, it seems a little silly to add an additional role just to differentiate between who can deactivate a group and who can't.  If you trust someone to edit all of the group details and membership,

[2016-05-19 21:04] pkdash commented on #1042
@horsburgh I think there is more difference between an owner and an editor of a group than just who can set the 'active' flag. The difference is very similar to that of an owner and editor of a resource.

[2016-05-19 21:33] horsburgh commented on #1042
@pkdash - what are the other differences?

[2016-05-19 23:24] pkdash commented on #1042
@horsburgh Here are the differences:

1. Owner can set resource flags(active, shareable, public). Editor can't
2. Owner can delete a group. Editor can't
3. Owner can remove member from the group. Editor can't.
4. Owner can grant user all level of access privilege. Editor can grant user maximum 'Edit' permission.
5. Owner can change access permission to any privilege of any member. Editor can't dow

[2016-05-20 16:51] pkdash opened #1220 "Time Series: Add support for uploading ODM2 SQLite file with multiple timeseries"
The timeseries resource currently supports SQLite file upload with only one timeseries in it. We need to support uploading SQLite file with multiple timeseries.

This would require changes to the extended metadata storage models in order to relate the set of extended metadata elements to a specific timeseries. Currently we have only one set of extended metadata elements for a timeseries resource.

[2016-05-20 21:57] mauriel133 commented on #1042
Pabitra, after discussing with @horsburgh we agree that we should go with an approach of two types of group members: Owners and Members. It is more intuitive from a user point of view. That means the person that creates the group will also have the same privileges as someone that has been granted Owner status.

Also, a group must have at least one Owner at all times.

[2016-05-20 22:16] horsburgh opened #1221 "Time Series: Add support for creating time series from CSV file"
This enhancement is part of Phase 2 of time series functionality and would involve creating a time series resource from a CSV file.  The CSV format would have one DateTime column and one or more DataValue columns. Each DataValue column would represent a different variable. Metadata would all be created via the Resource metadata editing form in the web user interface. This issue is dependent upon #

[2016-05-20 22:26] horsburgh commented on #1042
@pkdash - thanks for sending the list of differences.  In looking through them, the difference between an "owner" and "editor" are somewhat subtle. There's some complexity there that @mauriel133 and I didn't feel was needed.  If people have really strong feelings that we should keep the 3 roles, we can change the front end to support that, but we would like to simplify to have two roles - Owner an

[2016-05-21 17:13] alvacouch commented on #1042
@pkdash @mauriel133 @horsburgh
It is rather trivial to simply leave the editor role unused. I can delete it from access control later.

[2016-05-21 19:47] pkdash commented on #1042
I agree with @alvacouch suggestion. At this point we will not make any changes to access control. However, will make changes to view functions so that 'editor role' is not exposed to UI.

[2016-05-21 19:48] horsburgh commented on #1042
I was just thinking about this earlier today.  If we can leave it unused for now, we could see what users want and we would have the option to implement the third role later.  Let's implement the two roles on the front end (as it is now already nearly complete).

[2016-05-23 15:46] mjstealey commented on #1057
Issue resolved, closing

[2016-05-23 15:46] #1057 closed

[2016-05-23 15:55] mjstealey commented on #1092
@hyi - Using iRODS to set the **bag_modified** flag to **true**, a request is made to download the bag file and the following error is captured by **system.log**. After which **bag_modifed** is again **false**, but no zip file has been generated.

[code]

[2016-05-23 16:06] mjstealey commented on #1057
fixed

[2016-05-23 18:55] hyi commented on #1092
@mjstealey Yes, currently bag_modified uses lower-case true/false string as metadata values. I just created a PR that will fix the bug that bag_modified got reset to false after download failed, to make sure bag_modified AVU pair is only reset to false when on-demand bagging operation succeeds when downloading. However, for this specific resource, there is an issue with any data objects/file store

[2016-05-24 18:07] hyi commented on #1092
@mjstealey @dtarb @gantian127 After further investigation, I found I can actually iget resource content files such as logan.vrt and logan.tif, but cannot iget bagit.txt and manifest files generated by iRODS bagit rule. After looking into the physical vault, these bagit files don't exist in the vault, but somehow are listed in ils. After deleting these three "corrupt" non-physically-existent bag fi

[2016-05-25 14:21] mjstealey commented on #1179
@hydroshare/extension-developers - Please add your release notes for 1.6.11 up there ^^^^

[2016-05-25 16:38] mauriel133 commented on #1042
Here is an update on what has been accomplished and where we are going:

# HydroShare Groups Implementation

**Phase I**

- [x] Create group
- [X] Edit group
- [x] Request join group
- [x] Accept join request (only creators and owners can do this)
- [x] Invite user to group
- [x] Leave group
- [x] Promote member to owner (only owners and creators can do this)
- [x] Demote owner to member (only cre

[2016-05-26 16:43] gantian127 opened #1225 "Manual Pre-Deploy Check for 1.6.11"
This is the manual pre-deploy checklist for version 1.6.11.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.
**Due Date May 31th, 2016**

### New F

[2016-05-26 17:05] mauriel133 commented on #1225
@dtarb, @horsburgh, @gantian127  We are hoping to have PR https://github.com/hydroshare/hydroshare/pull/1224 ready for this release. It contains the group functionality. It is being reviewed right now.

[2016-05-26 17:11] gantian127 commented on #1225
@mauriel133 After #1224 is merged and deployed on Beta site, please add this new feature under "New features and enhancements" section and assign people to test it . Thanks~

[2016-05-26 19:22] pkdash commented on #929
This has been addressed. Closing.

[2016-05-26 19:22] #929 closed

[2016-05-26 19:54] pkdash commented on #1225
@mauriel133, @dtarb , @Horsburgh, @hyi PR #1224 is big. We may not have time to get it in the upcoming release.

[2016-05-26 20:11] pkdash commented on #937
@horsburgh See if this can be closed.

[2016-05-26 20:19] pkdash commented on #587
@horsburgh I am working to fix this issue now. How big the string we expect for the 'MethodCode'?

[2016-05-26 21:33] horsburgh commented on #587
@pkdash - it's a code, so 50 characters is sufficient and consistent with the ODM2 design.

[2016-05-26 22:04] pkdash commented on #587
@horsburgh Sounds good.

[2016-05-26 22:45] pkdash commented on #587
@horsburgh I have deployed the fix to this issue at riverdev.hydroshare.org in case you want to test.

[2016-05-26 22:54] pkdash commented on #609
@horsburgh I am working on this issue now. Want to know if we care to update the existing sciencemetadata xml file. That would require a custom migration script.

[2016-05-27 13:56] horsburgh commented on #937
@pkdash and @dtarb - I am closing this issue because it has been implemented and is live on www.hydroshare.org.  But, it doesn't address the further comments by @dtarb about credit mapping:

If we still want to do full credit mapping as described by Katz, a separate issue needs to be opened.

[2016-05-27 13:56] #937 closed

[2016-05-27 15:12] pkdash commented on #647
@hyi This issue is a broader issue that needs to be still addressed. However, the arbitrary key/value metadata using HStore has been implemented and can be tested now on beta. @dtarb You can test this feature at beta and then may close this issue.

[2016-05-27 15:24] pkdash commented on #941
@horsburgh , @dtarb If we still want this feature, I need answers to my questions above (dated Apr 16) so that I can start working on it.

[2016-05-27 23:48] dtarb commented on #647
If there is no extended metadata the extended metadata tab should not be displayed when not in edit mode.

[2016-05-28 00:19] dtarb commented on #941
Here are my suggestions
- Credit roles are not required for every creator/contributor
- Creators and contributors may have multiple credit roles
- Credit roles should be encoded in resourcemetadata.xml, I suggest as part of the creator/contributor element, such as

[code]

For visualization I suggest an attribution tab that is visible when editing and when credit attribution roles have been assign

[2016-05-28 04:51] horsburgh opened #1233 "Groups: Issues with Phase 1 Implementation"
I'm creating this issue to document problems with phase 1 of the Groups implementation:

 - [x] Table listing resources shared with a group does not spread the full width of the page using Firefox on Windows
![image](https://cloud.githubusercontent.com/assets/3485902/15625269/7764f0ce-245d-11e6-90b0-64c8d684e33d.png)

 - [x] Clicking on a member's name in the members part of the group page does no

[2016-05-31 13:43] hyi commented on #1225
@mauriel133 @pkdash While testing on beta, I found the recent change of simplifying Subject/keyword edit without clicking on "Save changes" button appears to have a couple of issues. First, after I click on "x" trying to remove the added subject, the subject does not seem to be removed, i.e., after I get to view mode, the keyword is still there. Second, the notification message regarding the resou

[2016-05-31 13:51] hyi commented on #1212
@ChristinaB When you get a chance, can you verify whether this is still an issue or not? Please refer to comments above from @dtarb and @mjstealey while you are verifying. If it is not an issue any more, please close this issue. If it is still an issue, please add a bit more details so that we can reproduce and look into the issue. Thanks.

[2016-05-31 13:54] alvacouch commented on #1216
@mohamedmorsy @pkdash
Could we delve into more details about this?
Could you give a sample spreadsheet and/or append it to this thread?

[2016-05-31 15:12] horsburgh commented on #609
@pkdash - do you have any idea how many resources this affects?

[2016-05-31 15:15] horsburgh commented on #587
@pkdash - I just tried this on riverdev.hydroshare.org.  I went to my one time series resource:

https://riverdev.hydroshare.org/resource/1a25b11fa1354773b6edb9495e754f4e/

I started editing and changed the MethodCode from "28" to "ODMTools" in the resource specific metadata.  It still throws an error when I try to save.

[2016-05-31 15:34] pkdash commented on #609
@horsburgh I have no idea how many resources will be affected. My guess would be maximum 10. I have already included custom migration to update the xml file for those resources.

[2016-05-31 16:02] pkdash commented on #609
@horsburgh In fact I know the number of resources that would need migration in order to update the xml file. When I deployed to test the custom migration it migrated 26 resources.

[2016-05-31 16:12] pkdash commented on #587
@horsburgh The code for this branch is no more running on riverdev. You can test it on dev.hydroshare.org

[2016-05-31 17:04] horsburgh commented on #609
@pkdash - OK.  Sounds like you've got this covered. I think fixing it is the right thing to do.

[2016-05-31 17:13] horsburgh commented on #587
@pkdash - I had to log in as admin to test because I never got an email notification to activate the account that I created, but this specific issue seems to be working OK now.

[2016-05-31 22:49] mauriel133 commented on #1225
@pkdash, @hyi  it seems there is a back end error when trying to remove the last keyword. This is the result object returned by the ajax call:

This error also happens in www

@hyi, I fixed the notification issue and will be creating a PR for it soon.

[2016-05-31 22:56] mauriel133 commented on #1233
@horsburgh, please verify if the issues checked above have been resolved as they appear at https://testservices.hydroshare.org/

Note: still working on #6

[2016-05-31 23:22] mauriel133 commented on #1225
Testing profile:
I noticed that phone numbers under contact information are shown to anonymous users. This seems wrong to me since we are not showing email addresses in this case. Is this what we want?

[2016-05-31 23:25] Maurier opened #1237 "Profile and Home Page follow up issues"
I will be addressing some problems that were discovered while going through the Pre-Deploy Checklist: https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#

- [x] when resetting the password I was taken to the old profile edit page (not sure if this is intended). The password field here requires at least 6 characters, but this constraint didn't exist during account

[2016-06-01 04:25] pkdash commented on #1216
@alvacouch From my discussion with @mohamedmorsy it seems developers like @mohamedmorsy find it most difficult as it relates to client side coding for developing a new resource type. I am not sure how we can make that easier.

[2016-06-01 16:28] alvacouch commented on #1216
@pkdash @mohamedmorsy Let me think about this a bit. Is the issue that there is substantive client-side code that it is necessary to write in order to fetch a specific metadata attribute on the client? Or is it that the catalog of available attributes is difficult to manage and remember?

[2016-06-01 16:47] pkdash commented on #1216
@alvacouch @mohamedmorsy  I don't think the difficulty is with fetching a metadata attribute. That's very simple to do. The difficulty is creating the form with necessary css and js for proper layout of metadata elements on the web page, dealing with repeatable metadata elements and making the UI elements responsive via js code. Now as I think about it, I think it can be made easier if snippets co

[2016-06-01 17:06] alvacouch commented on #1216
@pkdash Where is the client? In Tethys? Elsewhere?

[2016-06-01 17:30] pkdash commented on #1216
@alvacouch In Tethys

[2016-06-01 17:39] alvacouch commented on #965
@hyi @dtarb @rayi @danames
We discussed this on the call today. We understand the basic issue but don't really know what Dan needs.

But this has been on the back burner too long and I suggest a simple and expedient fix:

1. Expose the set of MIME types of files in a resource as metadata. This is multi-option checkbox that is set automatically by file type and is not edited by the user.
2. Let app

[2016-06-01 17:46] pkdash commented on #1233
The 'purpose' field has been implemented as ```TextField``` which allows large amount of text.

[2016-06-01 17:50] hyi commented on #1225
@pkdash Is there a reason why we don't allow the last keyword to be removed?

[2016-06-01 17:56] pkdash commented on #965
@alvacouch I did start on this path quite a while ago which you can find in this branch: https://github.com/hydroshare/hydroshare/tree/file-type-web-app
The only difference I see now is that in my implementation a specific app can register only one MIME type which can be easily changed.

[2016-06-01 19:20] ChristinaB commented on #1233
Hi Jeff/All,
I made a new group called Landlab Test Group.

I tried to invite someone, and when i put in the email, and clicked on invite, nothing happened.   I should be able to find Jeff or someone who is not currently a HydroShare user. Right?

I created a new resource, but it took too long to figure out how to share the resource with the group. Either I need a spend time asking someone how to

[2016-06-01 20:23] pkdash commented on #1225
@hyi Since the keyword is a required element we don't allow deleting all keywords. It is similar to 'title' or 'abstract'.

[2016-06-01 20:31] pkdash commented on #1220
@horsburgh I think I should asks the questions here so it would be easier for me track.

1. How we should be encoding extended metadata for each series? I assume there has to be a parent level 'series' element.
2. It seems from the example SQLite files, not all metadata elements will be repeated for each timeseries. For example, there can be one 'Site' element but more than one 'Variable' element

[2016-06-01 20:33] hyi commented on #1225
@pkdash OK. I see, it sounds to me there is a little inconsistency since initially when a resource is created, no keyword is provided, so there is no keyword metadata element. After a user provides a keyword, a keyword metadata element is created, at which point, the user cannot delete that keyword any more if it is the only keyword provided. I guess the user can add another keyword if they want t

[2016-06-01 20:38] pkdash commented on #1225
@hyi It should be easy to change at the backend if we change the UI for keywords how we do the UI for 'Creators'. However, that won't be very intuitive for editing keywords.

[2016-06-01 21:14] gantian127 commented on #1233
@pkdash The field actually now only allows user to enter a limited number of words. If the "purpose" field is expected to accept unlimited words, it may be better to fix the problem. Otherwise, it may be better to inform the user that the field requires a limited number of words. Thanks

[2016-06-02 06:28] horsburgh commented on #1220
@pkdash - answers to your questions below:

I think the right thing to do is to embed each time series within a "timeSeriesResult" element in the resourcemetadata.xml document and identify each one with the ResultUUID from the SQLite Results table.  This requires a little reorganization of a few elements we already had in the file, and addition of a couple of others that are now necessary because

[2016-06-02 14:32] #826 closed

[2016-06-02 15:21] pkdash commented on #1220
@horsburgh Another question related to 'keywords'. We generate keywords metadata elements from the Variables table. If there are more than one variable, do we need to track keywords by variable? If we don't track keywords by variable, then we won't be able to write the edited keywords back to the Variable table.

[2016-06-02 16:18] horsburgh commented on #1220
@pkdash - Extracting the variable names from the ODM2 database as keywords for the resource is something we should do as a convenience upon uploading an ODM2 time series database to HydroShare.  But, I wouldn't go the other direction.  A user could add keywords to the resource that are not variables (e.g., "Utah", "Little Bear River", etc.).  So, I wouldn't try to put keywords back into the databa

[2016-06-02 16:28] ChristinaB commented on #1212
This is still an issue.
I am not an  owner of Turbidity and Sediment Monitoring
https://www.hydroshare.org/resource/99a170544d2741ac983a1f25b2f38451/
This is a generic public shareable resource.
I can click on it to edit.  I can see the contents and am offered a red trash can.
I can click on the trash can and can delete.
You should be able to test this out as well and see the issue, since it is pu

[2016-06-02 16:47] mjstealey commented on #1212
@ChristinaB - Do you also see an icon that looks like this?
<img width="169" alt="screen shot 2016-06-02 at 12 45 57 pm" src="https://cloud.githubusercontent.com/assets/5332509/15753242/10e119a6-28c0-11e6-8395-f3dc4af8ebb9.png">

If so, please click it and post the corresponding dialogue box to this thread.

[2016-06-02 16:49] hyi commented on #1212
@ChristinaB Weird, I only have view privilege over this resource as expected, so I don't see edit or delete icons at all on resource landing page for this resource. Not sure why you can edit and delete this resource even when you are not listed as the owner. As @mjstealey suggested above, pasting the dialog box to this thread would be a great help to see the access control settings for this resour

[2016-06-02 16:58] zhiyuli opened #1238 "REST API for Referenced Time Series Res Type"
Looks like current rest api does not support CRUD operations on RefTS res type yet.

@alvacouch Please review current code base. We think changes to both sides (REST API and RefTS) are necessary to get them working together. We would like to work closely with you on this. Thanks

[2016-06-02 17:34] ChristinaB commented on #1212
Ok. I do see the lock so it seems I was given additional permissions. How
do I know my permissions for a particular resource.  I wasn't emailed this
info. If I "can edit" then I can delete?
Thanks! Mystery is getting closer to solved.
The author is out of the office this week, and she may not even remember
what permissions she gave me when she invited me to the resource.

I think the fundamental c

[2016-06-02 17:38] mjstealey commented on #1212
@ChristinaB - If you click that icon it should pop-up a dialogue with the kind of access that has been granted to you and/or other users.

Example:
<img width="593" alt="screen shot 2016-06-02 at 1 36 14 pm" src="https://cloud.githubusercontent.com/assets/5332509/15754647/25c96114-28c7-11e6-8d60-433e362547a5.png">

[2016-06-02 17:39] hyi commented on #1212
@ChristinaB Right, if you are only given a edit permission, you will not be able to delete it and should not see the trashcan icon. As detailed by @mjstealey above, if you paste the popup dialog after you click on the "lock" icon, it should show who has access to this resource with what kind of permission.

[2016-06-02 17:46] ChristinaB commented on #1212
The pop says I can edit. (Attached) But I am not owner or author.
(Attached)  I can delete it.

So my current understanding of the issue is that I am only given owner
permission but i should not be able to delete it.

Maybe the design is that if I can edit then I can delete?
C

On Thursday, June 2, 2016, Hong Yi <notifications@github.com> wrote:

--
Christina Bandaragoda
Civil & Environmental Engi

[2016-06-02 18:08] mjstealey commented on #1212
Looks like you are responding via email and Github does not post your attached images to the thread. You can follow the "view it on Github" link at the bottom of the email to add screenshots to your post.

Access options are:
- Can view - view only
- Can edit - modify content, cannot delete
- Is owner - all powerful do whatever you want

<img width="162" alt="screen shot 2016-06-02 at 2 03 00 pm"

[2016-06-02 18:48] mauriel133 opened #1240 "White space at bottom of page"
There is a white space at the bottom of the page caused by legacy code. (See: https://github.com/hydroshare/hydroshare/blob/develop/ga_resources/templates/includes/ga_editable_form.html)

See spacing between "FOLLOW" and the icons.

How it should look like:
![capture](https://cloud.githubusercontent.com/assets/2448568/15756792/058c5674-28c0-11e6-96a8-0d146954506b.PNG)

How it looks:
![capture](htt

[2016-06-02 18:58] mauriel133 commented on #1240
@mjstealey, I'm not sure how to fix this issue since the legacy code template doesn't seem to render in our beta deployment, but it renders on my local instance after signing in (causing the extra space seen above).

[2016-06-02 20:19] mauriel133 opened #1241 "Group and user permission on a resource overlapping"
Under "Manage Access" window, if I grant some access to a group, the permission level is also listed for each member of the group. This overlaps with the user's current permission level on the resource and causes errors when trying to change it.

![capture](https://cloud.githubusercontent.com/assets/2448568/15759596/8e8a4484-28cc-11e6-84bb-c0534e6cd8df.PNG)

[2016-06-02 20:23] mauriel133 commented on #1241
@pkdash, the objects 'view_users' and 'edit_users' should only return entries for which the access has been granted specifically to the user, and not through being members of a group.

https://github.com/hydroshare/hydroshare/blob/develop/theme/templates/resource-landing-page/modals.html#L945

[2016-06-02 20:36] pkdash commented on #1241
@mauriel133 Will work on this first then.

[2016-06-02 20:55] pkdash commented on #1241
@mauriel133 Question. So how are we going to show that a user has access to a resource through group membership?

[2016-06-02 20:57] mauriel133 commented on #1241
For that case we show the group entry only. We don't need to show that a specific member has access to the resource specifically through this interface.

[2016-06-02 23:18] pkdash commented on #1241
@mauriel133 I have fixed this now in branch '1241-user-access-only'. Can you pull this and test it from the UI?

[2016-06-03 04:10] pkdash opened #1242 "Allow Group 'active' status to be set"
This involves quite a bit of backend coding including unit tests.

[2016-06-03 04:13] pkdash commented on #1242
@Horsburgh, @mjstealey and @mauriel133 Want to make sure we want this feature to be added as a hotfix for release 1.7.

[2016-06-03 15:08] pkdash commented on #1242
@mauriel133 I assume the 'active' status be set from the group update interface.

[2016-06-03 15:46] horsburgh commented on #1242
@pkdash - this functionality is important.  It could probably wait for the next release, which should be next week right?

[2016-06-03 16:13] horsburgh commented on #1233
@ChristinaB - I'm going to create separate issues for the following:

1. Issuing invites to join a HydroShare group to someone that is not a HydroShare user
2. Make it easier to share resources with a group via the collaborate page
3. Consider changing the icon for "manage access" to something more intuitive

[2016-06-03 16:19] horsburgh opened #1243 "Groups: Issue Invitation to Join a Group to a non-HydroShare User"
It would be nice to be able to issue an invitation to a person who is not an existing HydroShare user to join a collaborative group in HydroShare.  The invitation would have to include instructions on how to create a HydroShare account and how to join the group. Submitted by @ChristinaB.

[2016-06-03 16:20] horsburgh opened #1244 "Groups: Make it Easier to Share Resources with a Group"
According to @ChristinaB -

[2016-06-03 16:23] horsburgh opened #1245 "Resource Landing Page: Consider Changing "Manage Access" Icon"
Submitted by @ChristinaB:

[2016-06-03 22:38] mauriel133 commented on #1242
I think this should be added as soon as possible. Deactivating or removing a group will be necessary if a user creates a group by mistake and wants to get rid of it.

[2016-06-03 22:41] pkdash commented on #1242
@mauriel133 But my question (see above) is the 'active' status be set using the group update interface?

[2016-06-03 22:43] mauriel133 commented on #1242
Either that or a link in the same page to deactivate the group, similar to how we deactivate profiles in the Profile page. I like the idea of an input field for it in the edit form.

[2016-06-03 22:44] ChristinaB commented on #1233
I uploaded a picture and it looked OK at first, but now it is displaying as below.  I don't know the design details on fussing with this kind of thing. Maybe tell the user what the picture size should be or just auto fix it?
![image](https://cloud.githubusercontent.com/assets/4108369/15794729/0930951e-29a2-11e6-86b9-e044fbe07c04.png)

[2016-06-06 23:43] ChristinaB commented on #1212
Hi Michael and Hong,
It seems that the issue is still there and we can summarize it as "someone with 'can edit' permission should not be allowed to permanently delete a resource.  Correct? is that the design?  If you want people who 'can edit' to be able to delete resources, then there is no issue.

Do you want me to make a test resource as an owner and give you edit permissions so you can test it

[2016-06-07 00:35] hyi commented on #1212
@ChristinaB Correct, only owners can delete a resource. It'd be very useful to get to the bottom of the issue if you can make a test resource as an owner and give us the edit permissions so we can look into it.

[2016-06-07 01:22] mjstealey commented on #1212
@ChristinaB, @hyi - Created a test generic resource in which you both were given "can edit" rights.
Please try to break the resource and report back if anything goes awry.

[https://www.hydroshare.org/resource/648be70b3e5649ec960b4825cc4e6712/](https://www.hydroshare.org/resource/648be70b3e5649ec960b4825cc4e6712/)

![screen shot 2016-06-06 at 9 20 19 pm](https://cloud.githubusercontent.com/assets/

[2016-06-07 17:20] hyi commented on #1212
@mjstealey @ChristinaB I tested this resource and I don't see the trashcan icon that allows me to delete this resource since I only have edit permission to this resource. Everything works as expected based on my testing on this resource. @ChristinaB Can you test also and let me know whether you see any unexpected behavior?

[2016-06-07 17:22] hyi commented on #1212
@ChristinaB Just to clarify, I see the trashcan for deleting a content file included in the resource, but I don't see the trashcan that allows me to delete the whole resource. Deleting a content file is expected for a user with edit permission as part of editing content for the resource, but only owners are allowed to delete the whole resource.

[2016-06-08 16:43] ChristinaB commented on #1212
I was not expecting to delete CONTENT of a resource. No, I can not delete the resource.

[2016-06-08 16:43] #1212 closed

[2016-06-08 16:58] mohamedmorsy opened #1249 "Query Model Program with the linked Model Instance"
Now for each Model Instance resource type it could be linked to a Model Program resource type that is used to execute this instance by using the metadata "Executedby" from the Model Instance resource side. It would be great if a method could be implemented in the Discover page to display all the Model Instance resources that are linked to a certain Model Program resource. This would be good if a u

[2016-06-08 17:35] dtarb opened #1250 "Improve Access Control Messages"
In the manage access panel change the text to:

Use this window to share your resource with specific HydroShare users. You can give other users the ability to view or edit this resource. You can also add additional owners who will have full permissions.

Owners can perform all operations on a resource and set whether a resource is Public, Discoverable, or Private and Shareable.  Resources that are

[2016-06-08 18:08] ChristinaB commented on #941
I think should be kept on the list as important and a priority.  Users hestitate to publish or share until they have the credits accurately reflected in the documentation.

[2016-06-08 18:15] ChristinaB opened #1251 "Add Author Add Contributor Autofill Needed"
If I give the name of a HydroShare user, it should auto fill their details.

[2016-06-08 18:56] dtarb opened #1252 "Attempt to removal access that is not allowed should generate error message"
The following front end access control inconsistency occurs.
User A creates a resource and it its owner
User A gives edit permissions to user B
User A gives edit permissions to user C
User B opens the manage access panel and has the option presented to delete the edit permissions given to user C.  User B deletes these permissions for user C in the interface and they disappear from the Manage acces