[2015-09-28 19:32] selimnairb opened #637 "hs_swat_modelinstance.ExecutedB uses a URL to express relationship with another resource"
hs_swat_modelinstance.ExecutedBy is incorrectly specified in that it uses a URL to express a relationship between two HydroShare resources, rather than using a foreign key reference.  Using a URL in this way can lead to unexpected behavior if in the future the hostnames of HydroShare instances change, and is an anti-pattern to be avoided.  In this case the error can easily be fixed by using hs_mod

[2015-09-28 19:38] mohamedmorsy commented on #637
Same as #548

[2015-09-28 22:28] zhiyuli commented on #635
@ironfroggy  @pkdash
Looks like this piece of code can cause a None content:
/hs_core/models.py,  Lines 1638 to 1644

def new_get_content_model(self):
    from hs_core.hydroshare.utils import get_resource_types
    content_model = self.content_model
    if content_model.endswith('resource'):
        rt = [rt for rt in get_resource_types() if rt._meta.model_name == content_model][0]
        return

[2015-09-29 04:04] ironfroggy commented on #635
@zhiyuli this is because the order of inheritance required made it impossible to override this method and we had to monkey patch it. We want to add specific behavior for resources different from all other Mezzanine pages, in order to load the resource of the right content type. I didn't intend to enforce a rule about this, but it seems like a fair course of action and consistent with all previousl

[2015-09-29 13:13] #528 closed

[2015-09-29 13:26] dtarb commented on #329
@danames please look at this issue and decide what needs to be done.

[2015-09-29 13:30] dtarb commented on #320
@mauriel133 @horsburgh can you please decide if this should be part of 1.6.0 release which is intended just to address access control and base class refactoring or should be deferred to 1.6.1 which is more general improvements.

[2015-09-29 15:54] zhiyuli commented on #329
@dtarb  We are having some problems on merging refts with new base model and new access control. Although this issue is related to old access control, we leave it for now and will come back to check it as soon as big merge is done.

[2015-09-29 16:11] hyi commented on #631
Adding a bug related to this admin's privilege for access control to this issue so that it will be fixed along with removal of admin attribute. Specifically, the privilege retrieved from get_combined_privilege() for a superuser in hs_access_control/models.py needs to be 1 rather than 4 as is now, so that superuser has full privilege over all resources.

[2015-09-29 16:18] dtarb commented on #329
@zhiyuli the big merge has already been done as far as the develop branch is concerned.  There is work to tranfer resources from the old system to the updated system.  But there is no need for you to wait.  You wan work right now on this issue using the develop branch code base.

[2015-09-29 16:48] zhiyuli commented on #329
@dtarb
Yes, we have been working on merging RefTS and Geographic Feature with latest dev since last Monday. We are having some problems and Pabitra and Calvin are helping us.

We chose to start from the geographic feature res type because its workflow is similar to other res types but we got issue 636 (more details see team mail list and hipchat).  Pabitra and I did a step by step debugging and fo

[2015-09-29 21:01] selimnairb commented on #569
@shawncrawley thanks for testing. I'll look at this after the 1.6.0 deploy.

[2015-09-29 23:09] horsburgh commented on #320
@mauriel133 thinks this is going to be pretty simple, so I say we do it quickly and get it into 1.6.0. I'll change the associated milestone.

[2015-09-30 05:40] pkdash commented on #506
@mjstealey - Test runner with coverage reporting has been working both in the development environment and on Jenkins. This issue should be closed.

[2015-09-30 05:45] pkdash commented on #171
@horsburgh and @dtarb Tomorrow during the dry run of the bag ingestion as part of resource migration we will know if the metadata element 'type' gets created in Django database as well as written to the xml file. If it does then this issue can be closed.

[2015-09-30 12:16] dtarb commented on #171
Have you identified some resources being migrated where it is that you can use to check.

[2015-09-30 14:28] hyi commented on #171
@dtarb Based on my check, the type element is included, at least present from the resourcemetadata.xml file, but @pkdash can double check to make sure, and we can do the extra check during migration dry-run.

[2015-09-30 14:56] selimnairb commented on #596
Duplicates #626, closing.

[2015-09-30 14:56] #596 closed

[2015-09-30 14:59] selimnairb commented on #345
Addressed in initial version of REST API.  Closing.

[2015-09-30 14:59] #345 closed

[2015-09-30 14:59] selimnairb commented on #342
Completed.  Closing.

[2015-09-30 14:59] #342 closed

[2015-09-30 15:04] selimnairb commented on #150
@ironfroggy This is an old issue that may already have been addressed.  (also, it may not have been related to the REST API, but to the internal API.)  Please close this issue and/or provide specific issues outlining the task to be completed.

[2015-09-30 15:04] selimnairb commented on #131
@ironfroggy This is an old issue that may already have been addressed.  (also, it may not have been related to the REST API, but to the internal API.)  Please close this issue and/or provide specific issues outlining the task to be completed.

[2015-09-30 15:05] selimnairb commented on #130
Implement OAuth authentication in REST API and in hs_restclient.

[2015-09-30 15:06] selimnairb commented on #127
@ironfroggy Has this been completed?

[2015-09-30 15:06] selimnairb commented on #126
@ironfroggy Has this been completed?

[2015-09-30 15:07] dtarb commented on #171
@hyi we need to check whether an old resource that currently does not have this metadata element gets it during the migration process.

[2015-09-30 15:09] zhiyuli opened #638 "How to remove a user from the Manage Access box?"
I can add a user into this box, but how to remove a user?

![image](https://cloud.githubusercontent.com/assets/10070599/10196977/c182e396-6752-11e5-8045-cb473081a8dc.png)

[2015-09-30 15:18] horsburgh commented on #638
This will be addressed with the new manage access panel that @mauriel133 has built. His goal is to finish that up this week.

[2015-09-30 15:19] #506 closed

[2015-09-30 15:22] ironfroggy commented on #638
Ctrl click on a selected user to remove them?

On Wed, Sep 30, 2015 at 11:18 AM, Jeff Horsburgh <notifications@github.com>
wrote:

--

*Calvin Spealman*Lead Front-end Developer

calvin@caktusgroup.com <calvin@caktusgroup.com>
www.caktusgroup.com

[2015-09-30 15:30] horsburgh commented on #638
Hopefully @mauriel133 can respond if there's a way to do it currently.

@mauriel133 demo'd the new access control panel again yesterday in our local programmer meeting.  He's consolidated to one box where you can add or remove specific users and explicitly set which permissions they have.  In the new interface, removal will be done by clicking on a delete button next to the permission that has bee

[2015-09-30 15:46] hyi commented on #579
I tested again and it works as expected on dev. Closing.

[2015-09-30 15:46] #579 closed

[2015-09-30 15:58] pkdash opened #639 "Add helper functions to set resource flags (public, active, discoverable etc)"
Similar to publish_resource() function in resource.py (hs_core)

[2015-09-30 16:28] selimnairb opened #640 "Refactor read_metadata_from_resource_bag() to use importlib instead of __import__ builtin"
read_metadata_from_resource_bag() uses **import** builtin, but should use importlib instead

[2015-09-30 16:50] dtarb commented on #549
Seems to be a quirk.  Not reproducible. Closing.

[2015-09-30 16:50] #549 closed

[2015-09-30 16:53] ironfroggy commented on #126
No. I'd like to get to it once post-migration pull requests are done.

[2015-09-30 16:53] ironfroggy commented on #127
yes

[2015-09-30 16:53] #127 closed

[2015-09-30 17:11] #458 closed

[2015-09-30 17:11] #495 closed

[2015-09-30 19:15] goodalljl commented on #488
@mohamedmorsy suggested a simpler solution. Can we just change "owner" to "HydroShare Owner" for all resources? Then we can have a place where we define terms: "HydroShare Owner is the user that manages the resource's metadata and access control within the HydroShare system." This makes it a bit clearer to users what we mean when we say "owner" and avoids the need to distinguish between replicated

[2015-09-30 19:26] dtarb commented on #488
I can agree to this, but we still need the how to cite to appear as

EPA, (2015), Storm Water Management Model (SWMM), Version 5.1.010 with Low Impact Development (LID) Controls, http://www2.epa.gov/water-research/storm-water-management-model-swmm, accessed 9/17/2015, replicated in HydroShare at: http://www.hydroshare.org/resource/2cddae40e9594c21b947fdbbe4225439

[2015-09-30 20:14] goodalljl commented on #488
I honestly think giving users the ability to input their own citation metadata (override the autogenerated version) is the simplest way to go. Then we can have a page with citation examples for folks to follow with the one you gave being our suggestion for "replicated resources."

I know Jeff disagrees with this approach. In that case, we could provide the logic for building this citation for a re

[2015-10-01 13:53] alvacouch opened #641 "social networking functionality"
We need basic social networking functionality, including basic things like
*	Reputation scores for a user.
*	Resources rated and/or commented upon by a user (#, identity)
*	Users interested in your resources.

But the long term goal is to be able to search for:
*	Users like me.
*	Resources like this.
*	Groups I might want to join.
*	Resources I might be interested in.

[2015-10-01 14:14] hyi commented on #621
Tested on dev and everything works as expected. Closing.

[2015-10-01 14:14] #621 closed

[2015-10-01 14:15] hyi commented on #611
@dtarb tested on dev and everything works as expected. Could you verify?

[2015-10-01 15:22] hyi commented on #611
@dtarb sorry, but please hold off to test this. Just found an issue with anonymous users looking at public resources. Will make a fix shortly and create a PR to be merged in before you test this.

[2015-10-01 15:56] ironfroggy commented on #641
I would consider this post from Stack Overflow and Discourse founder Jeff Atwood to be required reading before deciding on any social features you might add, especially ones that include elements users can learn to game: http://blog.codinghorror.com/because-reading-is-fundamental-2/

[2015-10-01 16:09] horsburgh commented on #488
@goodalljl - I'm not totally against this.  I'm just against a free-for-all that might result in lots of heterogeneity in citations. We might want to think through some use cases and how we should handle the citation for each:

1. A referenced resource where there is only metadata in HydroShare and the content is stored/hosted somewhere else
2. A resource with content files stored in HydroShare th

[2015-10-01 20:02] goodalljl commented on #488
@horsburgh - I think these are the three main use cases. We should just implement citations for these automatically and then cross the bridge of an override if/when we get to it. How can we help with implementing this? Or is it something you think your team can handle as long as the reference formats are defined.

One question is what metadata term should we use to distinguish between "reference,"

[2015-10-01 20:05] goodalljl commented on #488
Sorry for the close and reopen. I hit the wrong button.

[2015-10-01 20:20] pkdash opened #643 "Anonymous user can't download resource bag or files for public resources"
Throws error

[2015-10-02 00:29] hyi commented on #643
+1

[2015-10-02 03:40] dtarb commented on #641
I second Calvin's plea to read and think about that article.  We need to think about what we want to incentivize.  I think this includes

 * sharing high quality well organized data
 * giving proper credit for resources shared
 * having others use your work [measured by citations/references, though separating tangible from gratuitous is hard]

[2015-10-02 04:09] dtarb commented on #7
See Alfresco Specification written for this a while back https://my.alfresco.com/share/s/oYjgV71sQxejb8b3rWmNug

[2015-10-02 04:19] dtarb commented on #641
There is much development of ideas for social functionality for HydroShare in the following Alfresco documents:

Documents > System Design> Resources> AllResources >
 - HydroShare_Social_Metadata.docx (https://my.alfresco.com/share/s/P0aqkb4eRB2qItCws6D47Q)
 - Social Metadata 2.pptx (https://my.alfresco.com/share/s/kTbwN_39T22vJMFgh63QwA)
 - Social Metadata.pptx (https://my.alfresco.com/share/s/-K

[2015-10-02 15:23] horsburgh commented on #488
@goodalljl - I suspect that this is something that @mauriel133 could do with a little help from @pkdash. Mauriel has done the most work on the resource landing page, so it makes sense to have him work on it. For the three use cases, I think we need to decide what the "standard" citation should look like.  What we have right now covers case number 3.

To distinguish between the 3 cases, do we need

[2015-10-02 19:31] goodalljl commented on #488
@horsburgh - Here is @dtarb 's suggestion for no 2 (replicated resource):
[Authors], ([Year]), [Title], [Location], accessed [Update Date], replicated in HydroShare at: [Resource Landing Page URL]

For no 1 (referenced resource), the best example is Referenced Time Series resource. I think @danames  is leading that resource development and maybe he can suggest a citation format. Here's a starting

[2015-10-02 20:17] hyi commented on #611
@dtarb The type error for anonymous users when clicking on a public resource is resolved on dev, so it is ready for testing on dev. Things all work as outlined here for a logged in user. However, for anonymous users, when a resource is unrated, anonymous users can see "+1" button to +1 a resource, and upon clicking on +1, the anonymous users are taken to login screen to login, which ensures only l

[2015-10-02 21:34] hyi commented on #611
@dtarb After further testing, I found there are some inconsistencies with rating numbers if exposing +1 button and allow an anonymous user to rate a resource while taking the user to login screen first. The default rating.html template page only exposes rating button when user is logged in or the resource is never rated, so I think it is a good idea to keep this default logic in Mezzanine code. So

[2015-10-03 13:34] dtarb commented on #611
When a user is not logged in (for anonymous users) I think it would be good to have messages
"You need to be logged in to rate this" and "You need to be logged in to comment".  I think that these should be parenthetical comments that appear after the rating and commenting messages.

![untitled](https://cloud.githubusercontent.com/assets/3456833/10263143/c4bf94a6-699f-11e5-88b4-ebcebdd353c4.png)

I

[2015-10-03 14:10] dtarb commented on #488
I agree that we need a new attribute.  In early versions of HydroShare we had a more extended Dublin core module, that in addition to the required metadata elements allowed users to add optional metadata elements from a drop down.  We lost this as we went to our more structured data model.  I think we need to reinstate some of this functionality for base resources, perhaps using key value pairs to

[2015-10-03 15:13] dtarb opened #646 "Geographic feature clarify structure of zip files required."
I have a folder containing shapefile components.  I zipped this folder and tried to load it.  This did not load.  I was returned to the Create Resources page without any error message.  If it is required that shapefile components not be in a folder, then this needs to be documented and the system needs to generate an error message.

[2015-10-03 15:13] dtarb commented on #503
@zhiyuli based on testing of the presentation on park.hydroshare.org, I liked the functionality that I saw and only came across one small issue #646.

[2015-10-04 20:57] dtarb opened #647 "Extensible metadata"
There is quite a bit of functionality that requires the ability to add extensible metadata items to resources. This relates to model program resources where we need optional attributes to indicate replicated, and related to how to cite, see #488.  This also relates to geographic features and River geometry #619, where one approach is to represent river geometry using extensions of geometric featur

[2015-10-04 22:54] XingZheng commented on #647
I think this will work. We can add a special metadata namelist for river geometry data besides the general metadata elements for geographic features.

[2015-10-05 14:54] horsburgh commented on #647
@dtarb - the specification for the science metadata has a section in it about extensible metadata elements.  So, we anticipated it in the design, but I'm not sure about how hard it will be to support it given our current implementation. @pkdash may be able to weigh in on details.

One important note - I would not rely on extensible/optional metadata elements for things that you know you will need

[2015-10-05 15:19] zhiyuli commented on #646
@dtarb
Good point! Current implementation requires the shapefiles not be in a folder. We need to change it. Most users have their shapefiles stored in folders and then zip up the folder directly since shapefiles are multiple files. Thanks.

[2015-10-05 16:19] hyi opened #648 "free text search for resource filtering raises AttributeError on dev"
During migration dry-run process this morning, we found free text search for resource filtering raises AttributeError on dev, while working on www. You can reproduce this issue by typing in "error" into resource filter search box which produce 0 resources as expected on www, but generates Attribute Error on dev. Stack trace is copied below for reference:

Environment:

Request Method: GET
Request

[2015-10-05 18:46] hyi commented on #611
@dtarb after looking into the code more and giving this more thought, I found a confusion caused by exposing +1 button to anonymous users that we may want to avoid. Specifically, if we expose +1 button to anonymous users for a resource which has already been rated by user A and if this anonymous user presses this +1 button which will take the user to login screen, and this anonymous user happens t

[2015-10-05 19:43] dtarb opened #649 "Discoverable resources should have metadata accessible to all logged in users."
@zhiyuli reported this as a problem for the present staging park implementation.

I can see your "Discoverable" resources without signing in. But once I sign in with my account, I cannot see your "Discoverable" resources any more. I think a signed-n user should see "Discoverable" res because, at least, signed-in user should have higher permissions than anonymous users.

[2015-10-05 21:22] pkdash commented on #647
Current implementation allows any resource type to define any number of extensible metadata terms. However, it seems that we now have a need to allow the user to add arbitrary metadata terms using key/value data structure which is not supported in the current implementation. This can be addressed as part of the metadata refactoring task.

[2015-10-05 21:26] dtarb commented on #611
@hyi to avoid this confusion, I agree not to expose +1 button for users not logged in.  Instead show the messages above and make the words "logged in" in (You need to be logged in to rate this) a link that launches the log in screen and when logged in takes the user to the resource landing page with rating functionality activated.  Then it will be clear that they can +1, or if they have done so al

[2015-10-06 03:32] ironfroggy commented on #647
It is not clear to me, unfamiliar with the family of data you're concerned with, how consistent the structure and type of these extended metadata entries would be. Are they all plain text? Do some of them require being validated as dates? As time stamps or integrals or more complex types?

What about ambiguous names of metadata entries that might have different meanings for different resource type

[2015-10-06 13:57] hyi commented on #611
@dtarb While implementing this, found the default behavior in mezzanine ratings template for handling anonymous user is: if the resource has never been rated, the +1 button will show up for anonymous users which will not cause confusion aforementioned since no withdraw+1 is possible for an unrated resource; otherwise, if the resource has been rated, this button will not show up for anonymous users

[2015-10-06 15:59] selimnairb opened #651 "Relax existence check on resourcemap.xml during bag ingest"
os.path.isfile is failing for one resource when running bag ingestion from a FUSE mounted iRODS collection.  Refactor to os.path.exists instead.

[2015-10-06 16:14] hyi commented on #611
@dtarb I'll just go with keeping consistent rating presentation for now so +1 button will NOT show up for anonymous users regardless of whether the resource has been rated or not. Let me know if you prefer the other way as described above and I can change code pretty easily, but keeping consistent rating presentation for anonymous users appears preferable to me, so I'll just go with that for now.

[2015-10-06 16:32] dtarb commented on #611
@hyi yes, consistency is good.  Since you can not rate a resource without being logged in, it is consistent to not show the button.  We should however still show the information on how many ratings there are, and the statement saying you have to log in to rate the resource with a login link.

[2015-10-06 16:35] hyi commented on #611
@dtarb yes, agreed. Will implement this and create a PR to target for release 1.6.

[2015-10-06 18:47] hyi commented on #611
@dtarb Just created a PR for this to target for release 1.6. Want to point out one thing, though. I did not change anything on comments for anonymous users, but only addressed ratings reflected in this issue. So comments will behave in the same way as before, i.e., the comment button will show for anonymous users, and once clicked, anonymous users will be taken to login screen. Since the comments

[2015-10-06 19:08] dtarb commented on #611
@hyi I think it is fine to leave comments as they are, until we get more use and learn from feedback if any changes are needed.

[2015-10-07 05:02] pkdash commented on #171
@horsburgh and @dtarb I checked on riverdev where Michael has done a dry run of bag ingestion as part of the data migration, and I can see the 'type' metadata element in metadata xml document for resources that were created before we fixed this issue. This issue now can be closed.

[2015-10-07 13:05] dtarb commented on #171
@pkdash @selimnairb I checked the migration of 50fa9c5b3b5b4263bf4f1752a8b6723c by looking at its contents in both www.hydroshare.org and riverdev.hydroshare.org.  While there is now a type element I note the following problems.

1.  The type element is given as "NetcdfResource".  This is not the right name and not defined at https://www.hydroshare.org/terms/.  There is a document/issue that defin

[2015-10-07 13:23] dtarb opened #655 "Manual migration appears to be adding resource metadata content that it should not."
If you look at 0ae62cfb9f3347d29c8211564f8db515 on www.hydroshare.org you notice that the author does not have an organization specified.  If you look at the same resource on riverdev.hydroshare.org you notice that the author now has an organization "Brigham Young University" specified.  While this may be perceived as an improvement, it is not because the organization associated with a party who i

[2015-10-07 13:49] hyi commented on #611
@dtarb It is working as expected on dev now. Please test it on dev and raise any further issues if any.

[2015-10-07 13:59] selimnairb commented on #655
@dtarb The creator as listed in resourcemetadata.xml was:

    <dc:creator>
      <rdf:Description rdf:about="http://www.hydroshare.org/user/102/">
        <hsterms:name>Sarva Pulla</hsterms:name>
        <hsterms:creatorOrder>1</hsterms:creatorOrder>
        <hsterms:email>sarva@byu.edu</hsterms:email>
      </rdf:Description>
    </dc:creator>

In this case, using the organization from the user

[2015-10-07 14:14] dtarb commented on #655
In this case it is correct, and in this case it appears to be a test resource, but the general principle is that when a resource is loaded from a bag the content from the bag (and the bag only) should be replicated in the new resource, except for known deficiencies we are fixing like a missing type element.

[2015-10-07 15:00] selimnairb commented on #171
@dtarb See my comments for each item.

1. In the resourcemap.xml from www.hydroshare.org:

    <dcterms:type>NetcdfResource</dcterms:type>

The displayed resource type on both www. and riverdev. is: Multidimensional (NetCDF)

2. The owner of the original resource on www. is:

    <dc:creator>
      <rdf:Description>
        <hsterms:name>Tseganeh Z. Gichamo</hsterms:name>
        <hsterms:creatorO

[2015-10-07 15:33] hyi commented on #171
@selimnairb I think rather than doing post-processing to recreate bags in migration script, it is better to call utils.resource_modified() function at the end of your serialization function write_metadata_to_resource() to recreate bags and set bag_modified irods AVU accordingly as is currently done in hydroshare code base whenever metadata elements or resource files are changed. This will make sur

[2015-10-07 15:42] selimnairb commented on #171
@hyi I have just experimented with calling hs_core.hydroshare.hs_bagit.create_bag_files() after the resource metadata is created.  This seems to solve the problems of missing metadata.  Is this sufficient, or do we also call code to update the iRODS AVU?  (I'd rather not call resource_modified() as I don't want the modification date to change)

[2015-10-07 15:47] selimnairb opened #656 "Resource migration: Make sure metadata gets written back out after ingest"
At a minimum, call hs_core.hydroshare.hs_bagit.create_bag_files() after the resource metadata is created on ingest to ensure to that all metadata appear in the RDF+XML serialization of the resource for subsequent downloads post ingestion.

[2015-10-07 15:51] hyi commented on #171
@selimnairb I believe this is sufficient since hs_bagit.create_bag(resource), called by create_resource() which is called by your bag ingestion serialization function, sets irods AVU to mark resource dirty initially when resource is initially created. Yes, I think it is sufficient.

[2015-10-07 15:59] pkdash commented on #171
@dtarb and @horsburgh The resource class name is being used for the 'type' element. I think we need to use the resource 'verbose_name' instead which is also used in resource listing page. @selimnairb This change needs to be done before we do the final bag ingestion/resource migration.

[2015-10-07 15:59] selimnairb commented on #171
@hyi I believe this is sufficient as well because the bag I get back after calling create_bag_files() has the metadata that was missing when this function was not called after resource ingest.  See #657.

[2015-10-07 16:00] selimnairb commented on #171
@pkdash Will this change how the resource type is represented in resourcemap.xml, or just resourcemetdata.xml?

[2015-10-07 16:16] pkdash commented on #171
@selimnairb It will only change the resourcemetadata.xml. The resourcemap.xml will still have the resource class name for the type. I am not sure if that would be a problem as the type element will have different values between these two documents.

[2015-10-07 16:20] selimnairb commented on #171
@pkdash.  No this will not be a problem.  Currently I do not validate the type between the resource map and resource metadata.  I use the type in the resource map to determine the resource type; this happens before the resource metadata is even looked at.  This should have no affect on the ingest code.

[2015-10-07 16:29] pkdash commented on #171
@selimnairb I was thinking if @horsburgh or @dtarb would have any issues with the 'type' element having different values between the 2 documents.

[2015-10-07 16:47] selimnairb commented on #655
@dtarb You are right, and it is generally the case that the bag content has the last say.  The resource creator is a bit of a special case, wherein data from the user profile is used to populate this field on resource creation.  In this case, it's not clear to me that the metadata from the bag should win, as they may be out of date from the current user profile.  This also might apply to non-owner

[2015-10-07 18:00] selimnairb opened #658 "Encode sequences in science metadata as sequences in the RDF+XML representation."
In science metadata for a resource, subject keywords may appear in the RDF+XML as:

[code]

but when querying the RDF graph (using rdflib), the subject elements are returned in arbitrary order, such as:

[code]

(I don't believe there is a way to get rdflib to return triples in the order in which they appeared in the serialization, but I am new to the API and could of course be missing something.)

[2015-10-07 18:22] horsburgh commented on #171
The difference between the two encodings for the Resource Type element we were discussing on the call would be as follows:

Option1: <dcterms:type>TimeSeriesResource</dcterms:type>
Option2: <dcterms:type rdf:resource="http://www.hydroshare.org/terms/TimeSeriesResource"/>

Using Option 2 would require that we add a section to the page at https://www.hydroshare.org/terms/ that specifically defines e

[2015-10-07 18:39] selimnairb commented on #655
@dtarb As the ingest code stands now, when the first resource creator is a HydroShare user, the metadata for the owner will come from that user's current HydroShare profile, not from the science metadata in the resourcemetadata.xml from the bag contents.  For the the non-owner creators (i.e. all but the first creator by order), the metadata elements will come from the science metadata in the resou

[2015-10-07 18:51] selimnairb opened #659 "Update to defused XML packages"
All packages that parse XML should convert to using the [defused XML](https://docs.python.org/2.7/library/xml.html#xml-vulnerabilities) libraries to avoid a number of security exploits possible when parsing un-trusted XML documents.

[2015-10-07 18:56] mjstealey opened #660 "Update Dockerfile to freeze "RUN pip install coverage==3.7.1""
default coverage package moved to version 4.0 which breaks our test environment

[2015-10-07 19:05] pkdash commented on #171
@horsburgh I would prefer option2 as this would not affect our current migration work since the only change we have to make later is the metadata terms html page is to define the resource type terms.

[2015-10-07 19:15] horsburgh commented on #658
@selimnairb - We could add rdf collection containers or sequence containers (for collections where order matters) to the rdf documents.  I'm not sure we need it though.  And, I'm not sure whether the parsers you are using would interpret the sequence ordering correctly.

We already have an order prescribed to the authors - that is super important.  What do others think about this?  Here is an exam

[2015-10-07 19:17] horsburgh commented on #171
@pkdash - would you also add the additional RDF code that encodes the label for the term (the second bit of code in my post)?

[2015-10-07 19:44] pkdash commented on #171
@horsburgh I will include the 2nd bit of rdf. But I am not sure if it would be a nested element of the type element.

[2015-10-07 20:56] dtarb commented on #171
Getting back to @selimnairb 's point 2 above it is not right to say the "owner" is and then show an xml snippet that gives the "creator".  Owner and creator are not the same.  Owner is the HydroShare user that has access control rights over the resource in HydroShare.  Creator is Dublin Core metadata for the person responsible for the intellectual content - the author in more common terminology.

[2015-10-07 21:16] horsburgh commented on #171
@pkdash - it doesn't have to be nested with the type element.  Below is an example of how this would look in a Resource Map document. Unfortunately GitHub doesn't allow embedding of XML files.
[code]

[2015-10-07 21:16] dtarb commented on #655
@selimnairb I think that when we are importing from a zipped bag the assumption is that it was a properly formed resource in HydroShare so all science metadata should come from the resourcemetadata.xml from the bag contents. We are assuming that we want to preserve the contents as they were saved in the bag.  I do not think we need to try take any guesses about ownership, or other profile informat

[2015-10-07 21:33] selimnairb commented on #655
@dtarb We are not guessing who the user is.  From resourcemetadata.xml for [this](https://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b/) resource:

    <rdf:Description rdf:about="http://www.hydroshare.org/user/2/">
	<hsterms:name>David Tarboton</hsterms:name>
	<hsterms:creatorOrder>1</hsterms:creatorOrder>
	<hsterms:organization>Utah State University</hsterms:organization>
	<hster

[2015-10-07 22:46] pkdash commented on #171
@horsburgh Then I assume the changes are only for the resourcemap document and not science metadata document.

[2015-10-07 22:52] dtarb commented on #655
Email is the one exception of a field that may go stale.  For all other information we prefer to keep things like organization what they were at the time they were set in the resource, as the old organization still gets credit for the resource, even if the person moves to a new organization.  With email, if the person remains a HydroShare user we will support the functionality to send them a messa

[2015-10-07 22:58] dtarb commented on #171
I think that the label used for a resource type should be consistent between resourcemap and resourcemetadata document.

[2015-10-07 23:06] horsburgh commented on #171
@pkdash - can we make the same changes in both documents?

[2015-10-07 23:19] pkdash commented on #171
@horsburgh will make same changes to both documents. Once the bags are ingested, we will run a script to regenerate the xml documents to get these document in the new format.

[2015-10-08 01:58] mjstealey commented on #660
merged

[2015-10-08 01:58] #660 closed

[2015-10-08 12:59] dtarb commented on #611
Tested on dev.  Closing.

[2015-10-08 12:59] #611 closed

[2015-10-08 18:21] selimnairb commented on #171
@horsburgh @pkdash This is fine with me.  When we do this, we will need to also add an internal API call to map the pretty name (e.g. Time Series Resource) to the internal model class name (e.g. TimeSeriesResource).  This way code such as the bag ingest code can easily determine the class to load for deserialization without jumping through a lot of hoops.

[2015-10-08 18:23] selimnairb commented on #655
@dtarb Okay, I will update the ingest code so that after resource creation, we overwrite the owner's creator information for the resource with what was in the bag, rather than what is in the user profile.

[2015-10-09 02:56] dtarb commented on #647
I think the majority is plain text so the hstore approach is likely sufficient.  I do not think all the needs are worked out, and those that are worked out are in quite old documents that we need to refresh ourselves on.

[2015-10-09 04:02] pkdash opened #664 "Allow resource owners to set resource 'shareable' flag"
When a resource is created by default the 'shareable' flag is set true  meaning resource can be shared by any users who have some level of access permission to the resource. Only resource owners can set this flag. If 'shareable' is set to false, only resource owners can share the resource with other users.

Pabitra to implement backend support for this functionality
Mauriel to implement frontend s

[2015-10-09 04:21] mauriel133 commented on #664
By shareable do you mean the ability to grant permissions to other users?

[2015-10-09 04:29] pkdash commented on #664
Yes. When the resource is not shareable a user who has either 'edit' or 'view' permission on that resource can't give access to that resource to any other users. However, the resource owners can always give permissions to other users.

[2015-10-09 11:10] dtarb commented on #664
Following is the definition of the sharing attribute in the Access Control Policy

Shareable – Entities other than owners may grant access to the resource. If False, non-owners who receive access to the resource may not grant that access to others.

Sharing (extending access)
The boolean attribute ‘Shareable’ is intended to give resource owners control over who the resource may be distributed to,

[2015-10-09 17:38] mjstealey opened #665 "migration scripts"
aggregate the various components of migration from one system to another as a collection of scripts and instructions on how to use them

[2015-10-09 19:26] hyi commented on #170
@horsburgh I believe the new bagit workflow implementation had already resolved this issue. I checked on both www and dev and made sure the downloaded bag, once unzipped, had the base folder named with resource uuid rather than a date. Could you check (either on www or dev) and see whether this issue is resolved already?

[2015-10-09 19:47] horsburgh commented on #170
@hyi - I think we have addressed the technical elements of this issue, but not necessarily the title.  Versioning of resources is still an issue that I think we need to work through.  Should we close this issue and open a new one that more appropriately describes what is left to do with versioning?

[2015-10-09 19:52] hyi commented on #170
@horsburgh Yes, that is what I thought exactly. In fact, I am in the middle of picking up and replying an old email thread on bag versioning to layout breakdown of tasks for initial bag versioning implementation. It'd be great if you can create an issue on bag versioning adding/modifying my breakdown of tasks - email forthcoming shortly.

[2015-10-12 05:34] pkdash opened #668 "The text that shows (on resource landing page) what access permission a user has for a resource is not always correct"
If I create a resource and then remove myself from resource ownership, it still shows "You are the owner of this resource" on the resource landing page. If I have edit or view permission for a resource, it supposed to show "You have been given specific permission to edit this resource." or "You have been given specific permission to view this resource." However, it doesn't show that.

[2015-10-12 12:24] ironfroggy opened #669 "Remove 1.6.0 Migration Scripts"
Just a reminder about cleaning these out of the repository after they are no longer used.

[2015-10-12 14:07] dtarb opened #670 "Some migration issues remaining"
Following are issues remaining based on comparing alpha.hydroshare.org and www.hydroshare.org at this time.

1. Contributors may be repeated.  For example in https://alpha.hydroshare.org/resource/12d195906f2c41918cb24e11a5c3ab60/ Jon Goodall is repeated as a contributor, but appears only once in https://www.hydroshare.org/resource/12d195906f2c41918cb24e11a5c3ab60/

2.  The resource https://alpha.h

[2015-10-12 15:45] selimnairb commented on #670
@dtarb  For the [duplicate creators](https://alpha.hydroshare.org/resource/12d195906f2c41918cb24e11a5c3ab60/), I'm not seeing this in my test environment, but I know why this is happening during our migration dry run.  Working on the best way to handle this.  The problem is this resource depends on another, so we have to re-create some of the metadata after the resource it depends on is created, l

[2015-10-12 15:51] hyi commented on #670
@dtarb @selimnairb My updated LoadAccessControl script should be able to take care of No. 2 in the list since if admin is not in the owner list according to the old access control info, this admin will be removed from the owner/creator list. We will make sure this is addressed in another round of migration dry-run.

[2015-10-12 16:21] ironfroggy commented on #670
If this is happening with only a few resources and only a few issues, is it a more effective use of time to move forward and fix those issues by hand afterwards?

[2015-10-12 16:41] selimnairb commented on #670
@ironfroggy Agreed that we are rapidly reaching diminishing returns.  Unless there is another problem found affecting nearly all resources, this should be the last round of iteration on this (in my opinion).  We should correct the remaining problems by hand and move on.

[2015-10-12 18:48] dtarb commented on #670
Fair enough.  My checks were spot checks though so finding all the problems is hard, and there is always the probability that these issues are indicative of some more systemic problem that has been their cause that should be understood (and prioritized for being addressed based on its implications).

[2015-10-13 04:09] dtarb commented on #670
Tests on beta.hydroshare.org following new deploy by @mjstealey show that 1 and 3 appear to be fixed but 2 still remains as a problem.

The following resource has HydroShare (Admin) as first author.
https://beta.hydroshare.org/resource/2cddae40e9594c21b947fdbbe4225439/

This is also a problem for
https://beta.hydroshare.org/resource/50fa9c5b3b5b4263bf4f1752a8b6723c/

and for
https://beta.hydroshar

[2015-10-13 13:27] selimnairb commented on #670
@dtarb If this is the only outstanding problem, I believe we should fix it by hand.

[2015-10-13 13:29] hyi commented on #670
@dtarb My updated script only removes admin from owner list by calling unshare_resource_with_user(), but did not handle author list, which explains why admin remains in author list although it is removed from owner list if you compare beta and alpha. @pkdash is there a simple function to call to remove a user from author list? If there is, I can add that call into my script to remove it from autho

[2015-10-13 13:30] selimnairb commented on #670
@hyi I can pretty easily exclude the admin user (user id 1) from being added to contributors metadata, would this do the trick?

[2015-10-13 13:31] hyi commented on #670
@selimnairb I am not sure, have to look into the code, but it certainly helps if not work completely.

[2015-10-13 13:42] hyi commented on #670
@selimnairb @pkdash Looks like the admin user has to be removed from both contributors and creators metadata, remove() method of the Party class might do the trick, but @pkdash will have to advise on what is the best way to remove admin from both contributors and creators metadata.

[2015-10-13 13:44] selimnairb commented on #670
@hyi By doing this, I believe we would still need to remove admin as owner by hand, but admin would no longer appear as an author.

[2015-10-13 13:46] hyi commented on #670
@selimnairb My script will take care of removing admin from owner list, but we need to add method either in my post-processing load access control script or your bag ingestion code to remove admin from creators and contributors metadata after the resource is initially created.

[2015-10-13 13:49] dtarb commented on #670
I am OK if we remove these by hand, but I do not understand why admin needs to be added to authors in the first place.  It should just take the authors from the xml in github.  This may reflect a misunderstanding of how author (dublin core creator) information should really be added.  For the API and all interfaces when creating a resource, if the user provides author information that should take

[2015-10-13 13:55] hyi commented on #670
@dtarb @selimnairb @horsburgh @pkdash I believe the reason admin is used to initially create these few resources is that all creators stored in resourcemetadata.xml file are not Hydroshare users, and we don't store resource owners (which are part of access control) in the xml file currently, so @selimnairb's bag ingestion code does not have any valid hydroshare user to use to initially create the

[2015-10-13 14:17] dtarb commented on #670
I worry that I am being repetitive, but we have to get straight in our data model that authors = dublin core creators are different from owners.  The code initially entering a resource can use admin as the owner, but should use the creators from the XML who do not have to be hydroshare users.

[2015-10-13 14:29] selimnairb commented on #670
@dtarb Yes, we do need to get authors and creators straight.  As we don't currently store owner in the resourcemap or resourcemetadata, for resources whose authors are not HS users, there is no way to create a resource from bag ingestion unless we assign admin as the owner.  What I will do is exclude userID 1 from being included as an author in the resource metadata.

[2015-10-13 14:46] dtarb commented on #670
The owner problem is actually solved on beta.  It is the author problem that remains.

[2015-10-13 20:14] hyi commented on #670
@dtarb I have updated my post-processing script to remove admin from author and contributor lists as well as change resource creator and last_changed_by attributes to be the first valid owner according to the old access control info. I tested the updated script on beta and it appears to work for those troublesome resources you pointed out above with admin removed properly. Hopefully this updated s

[2015-10-14 14:40] mjstealey commented on #669
It may be useful to keep these files either in the hydroshare repository, or a separate repository as the basis for the reflector work.

In the past it has been proposed to have the ability to ingest resources directly from iRODS (side door). There is some need to define what this means exactly, but it wouldn't be too far fetched to think that recreating a full hydroshare site directly from a set

[2015-10-14 14:48] hyi commented on #669
I second @mjstealey's comment. These migration scripts may not be needed after this migration process, but will serve as useful reference and can be adapted for other uses in the future. Perhaps a separate repository makes more sense due to its reference nature, but we need to save them somewhere to be referenced in the future.

[2015-10-14 14:53] dtarb commented on #669
Yes agreed we need to save them.  We have discussed in the past whether the point of reference for data that is repeated between the XML files in iRODS and Django is iRODS or Django, and for some of it, it is iRODS, so the capability to re-populate the Django content from iRODS will likely be needed.

[2015-10-14 14:55] ironfroggy commented on #669
Is there a ticket for the side loading of resources that can be referenced?

[2015-10-14 16:19] #656 closed

[2015-10-14 16:20] #651 closed

[2015-10-14 16:20] selimnairb commented on #532
@pkdash Is there anything more to do on this?

[2015-10-14 16:21] selimnairb commented on #417
@pkdash @danames Pinging on this issue...  Setting for 1.6.1 milestone ...

[2015-10-14 16:25] selimnairb commented on #347
@horsburgh Issue #637 addresses this for the remaining resource type.  Close.

[2015-10-14 16:25] #347 closed

[2015-10-14 16:26] selimnairb commented on #268
@dtarb Assigning to you as we need to re-delegate this task.  This may be something @mauriel133 can work on as he is writing the client code.

[2015-10-14 19:33] selimnairb opened #673 "Non-printable characters can be entered into the abstract field for a resource"
There is (or was if you are reading this after migration from HS 1.5.3 to 1.6.0; this was fixed by hand in the database dump file) a resource:

    https://www.hydroshare.org/resource/a3beccbf7ba149bab3bb0b2902086a64/

That included a non-printable character in the abstract field.  The character appeared in this part of the abstract:

    Proximity raster layers were derived from features includin

[2015-10-14 19:45] pkdash commented on #673
@selimnairb I assume this can be an issue with the resource title or any other text type metadata fields also.

[2015-10-14 21:14] dtarb commented on #669
@ironfroggy probably not.  Not everything in the design is in tickets.  This was discussed extensively with @alvacouch during Oct 14 to Jan 15 related to the model for working with iRODS.

[2015-10-16 18:12] hyi commented on #457
@horsburgh verified it is working on the newly deployed www and dev - now it retrieves version number directly from github API without any manual intervention. Could you verify and close it if it indeed works as it should?

[2015-10-16 18:58] hyi commented on #565
We use Mezzanine's email template out-of-the-box as content of our registration signup verify email as shown here: https://github.com/stephenmcd/mezzanine/blob/280642c8d0e7e41b90398c974a15533f6df20049/mezzanine/accounts/templates/email/signup_verify.txt

If we can come up with a better content language for our registration verify email, I can try to override the default mezzanine email content tem

[2015-10-16 19:30] mjstealey opened #676 "nginx maintenance page"
Serve a maintenance page when work is being performed on www.hydroshare.org

[2015-10-17 02:15] dtarb commented on #565
Please use:
Welcome to HydroShare.  This email address was used to request an account on HydroShare.  If you originated the request, please use the link below to verify your email address and activate your account.  If you did not originate this request you may ignore this email and the account request will expire.

The HydroShare team.

[2015-10-18 04:45] ironfroggy commented on #565
The part about the request expiring is likely to be untrue. Unless you have some customization place I have not seen, Mezzanine's registration and account verification has no expiration. An unresponded verification email could remain valid forever.

[2015-10-18 10:45] dtarb commented on #565
OK.   Lets delete "and the account request will expire.".  I do think we need an expiry clean up process that runs say every 24 hours and deletes account requests older than 24 hours (so a request could persist 24 to 48 hours) because otherwise if a person makes a legitimate request but does not respond and loses the email that email address is locked out forever.

[2015-10-18 20:17] pkdash commented on #171
@horsburgh Please test this at www and close this issue if found to be resolved.

[2015-10-19 03:38] mjstealey commented on #669
removed from develop branch

[2015-10-19 03:38] #669 closed

[2015-10-19 03:39] #665 closed

[2015-10-19 03:40] #479 closed

[2015-10-19 03:42] #359 closed

[2015-10-19 03:42] #407 closed

[2015-10-19 03:43] #52 closed

[2015-10-19 12:00] dtarb commented on #633
@mohamedmorsy please check of model instance is working correctly with the 1.6.0 deploy and if so close this.  If not say what is still needed and set for 1.6.1 release.

[2015-10-19 12:05] dtarb commented on #564
Working in 1.6.  Closing.

[2015-10-19 12:05] #564 closed

[2015-10-19 12:09] dtarb commented on #532
Closing.  We have some level of testing, that needs to be continually improved.

[2015-10-19 12:09] #532 closed

[2015-10-19 12:10] dtarb commented on #457
Working, at least at 1.6.0

[2015-10-19 12:10] #457 closed

[2015-10-19 12:17] dtarb commented on #670
Appears correct in 1.6 deploy.

[2015-10-19 12:17] #670 closed

[2015-10-19 12:19] ironfroggy commented on #594
Why was this closed? @xuezhaokun is actively working on the first iteration, with my assistance.

[2015-10-19 14:11] mohamedmorsy commented on #633
Model Instance resource is working as expected with the 1.6.0 deploy.

[2015-10-19 14:11] #633 closed

[2015-10-19 16:00] goodalljl commented on #488
I think we have arrived at a solution for this as summarized below.

All resources can be either a "reference," "replicated," or "original" resource. The default should be "original."

CASE 1: If the resource is "original" then keep the citation structure as is.

CASE 2: If the resource is "reference" then the  citation structure should be:
[Authors], ([Year]), [Title], [Location], last accessed [

[2015-10-19 20:05] pkdash commented on #673
@selimnairb and @ironfroggy Should I be then filtering out non printing characters before saving to the database using something like this for filtering:

     my_str = ''.join(c for c in my_str if c in string.printable)

[2015-10-19 21:39] dtarb commented on #488
@goodalljl I think this is generally fine.  For replicated and reference resources there may need to be additional fields in the citation, for example organization in addition to location.  We need to figure out how to use extensible metadata to do this in a simple way.

[2015-10-19 23:28] horsburgh commented on #488
Because the citations will be automatically generated, it may be difficult to use "extensible" metadata.  I would lean toward metadata elements that **need** to appear in citations being required.

[2015-10-19 23:55] goodalljl commented on #488
@dtarb Sounds good. Should Hong start implementing this? We can refine the details of the citation format later as needed to get it just right.

[2015-10-20 00:08] ironfroggy commented on #673
@pkdash I do not recommend that *at all* as it will strip out all non-ASCII printable characters, like 99% of valid unicode and all non-english characters. That is not what you want and is not correct.

@selimnairb What yous how in the hexdump is inconsistent and I don't know why.

[code]

Shows `01` in the hexdump but `.` on the right, which is an ANSI 0x46 FULL STOP, which is just a period. Thsi

[2015-10-20 00:11] ironfroggy commented on #673
It seems less likely that this was ever a non-printable character in the first place and more that an original encoding was handled incorrectly, because this clearly looks like a simple period character.

[2015-10-20 00:48] dtarb commented on #488
Yes @hyi can start implementing.  I'd like some brief guidance from @ironfroggy for how best to do extensible metadata.  I differ a bit with @horsburgh in wanting to avoid extensible metadata.  I think we need to have the concept that a user can add  a field that may by default not be there and that the automatic citation generator should appropriately parse that conditional on it being present an

[2015-10-21 16:02] mjstealey opened #680 "log files"
Output log files to host file system rather than rely on console or in-container only storage.
- [x] Define in `settings.py`
- [x] Map log directory to be created on the host from the container(s): i.e.: `/home/hydro/log`
- [x] Rotate based on size (say 15 MB), keep 10 historical versions
- [x] System logs
    - [x] system.log (combination of all logs generated from HydroShare application)
    - [

[2015-10-21 18:26] dtarb commented on #655
Closing since our manual migration is done and the resource that triggered this is deleted.

[2015-10-21 18:26] #655 closed

[2015-10-21 18:56] selimnairb commented on #190
[WGS84 bounds](http://spatialreference.org/ref/epsg/wgs-84/)

[2015-10-22 01:37] mjstealey commented on #676
merged

[2015-10-22 01:37] #676 closed

[2015-10-22 20:28] #581 closed

[2015-10-22 22:49] mjstealey commented on #680
merged

[2015-10-22 22:49] #680 closed

[2015-10-23 17:18] hyi commented on #565
@dtarb @ironfroggy I have override default Mezzanine email verification content with the suggested one and also changed subject of email verification from "Activate your account" to "Activate your account in HydroShare". I also found out the verification link does expire in the same way as the password reset link since the token generated is time stamped and will expire in a time duration set up b

[2015-10-23 19:15] ironfroggy commented on #565
I think if you set the link to expire you should still leave the account. If they want back in they should be able to re-enable the account by a password reset.

[2015-10-23 20:16] hyi commented on #565
@ironfroggy OK. Sounds good, then I don't have to do anything extra and can create a PR for code review now.

[2015-10-23 22:29] pkdash commented on #664
@mauriel133 I have now fixed this issue(both front and backend). Can you make the necessary adjustment to the fontend styling may be? Branch:664-using-resource-shareable-flag. Once you are done, I can create the PR for it.

[2015-10-25 00:00] mauriel133 commented on #664
Sure, I will have a look.

[2015-10-26 16:38] #131 closed

[2015-10-26 19:55] selimnairb opened #684 "Add REST API call to ingest file already in iRODS"
Add REST API call to ingest file already in iRODS, in the same zone as HydroShare, but potentially residing on another resource server.

[2015-10-26 23:07] pkdash opened #685 "REST API not to expose resource contents for resources that are private and discoverable"
This includes resource content files, bag file, resourcemetadata.xml and resourcemap.xml. A resource that is private and discoverable, these files should not be accessible though the API.

[2015-10-26 23:07] mauriel133 commented on #664
This PR should wait for the new access control interface to be merged in order to avoid conflicts and working on it twice. Once the interface is merged I will bring this one up to speed.

It looks to me that this should be a toggle button. When enabled, view users should have access to the access panel when the resource is in view mode (since they are not allowed to go into edit view). This will m

[2015-10-26 23:23] #628 closed

[2015-10-26 23:30] pkdash commented on #664
@mauriel133 There is no PR for it at this point. Once you make the necessary changes to this branch, I can create a PR. If you think this should wait until the new access control interface gets merged then we will wait to create the PR until then.

[2015-10-27 00:07] mauriel133 opened #686 "Home page and sign up revamp"
I will be revamping the home page and the sign up form.

[2015-10-27 01:13] ironfroggy commented on #686
What is your process for doing this? While you are doing this revamp, I'm also preparing an updated UX Recommendations document, and I'll be including homepage and signup recommendations. I'll have this delivered by the end of the week. Will you taking those recommendations into consideration along with @dtarb in your revamp of these pages?

[2015-10-27 01:18] mauriel133 commented on #686
Jeff and I are still in the process of discussing it. We can wait for your recommendations.

[2015-10-27 15:08] horsburgh commented on #664
@mauriel133 @pkdash and @dtarb - this inconsistency seems complicated to me.  Do we really want the access control panel to show outside of edit mode for users that have view only access? We just moved this functionality to the edit page so that all editing is done consistently in one place. And, do we also want to allow view only users to actually edit the access control for a resource (e.g., to

[2015-10-27 15:10] horsburgh commented on #685
Should access to the resourcemetadata.xml document be restricted through the API for discoverable resources?  Wouldn't all of the metadata for discoverable resources be exposed anyway?

[2015-10-27 15:32] dtarb commented on #685
The metadata for discoverable resources should not be restricted.  Only access to the content files should be restricted.

[2015-10-27 15:41] dtarb commented on #664
@horsburgh we do want users with view permissions to be able to add new view users for resources for which "shareable" is set.  This is to encourage sharing, and was a policy decision made without considering how the functionality would be implemented.  I recognize that the choice to have access control on the edit page that is only accessible to users with edit permissions makes this complicated,

[2015-10-27 16:00] mjstealey opened #688 "Jenkins CI/CD with build.hydroshare.org"
- [x] Set up new HydroShare dedicated CI VM (ci.hydroshare.org)
    - Have run into many issues with jenkins.renci.org being in the edc cluster.
- [x] Create hydrobuild user across
    - [x] HydroShare VMs
    - [x] Jenkins
    - [x] Github
    - [x] Gmail
- [ ] Automate build / test on
    - [x] PR creation or update
    - [ ] New commits
- [ ] Provide feedback to PR / Issue with hooks from
    -

[2015-10-27 16:08] horsburgh commented on #664
@dtarb - I understand the desires behind the policy.  But, the current implementation would be overly complicated as it is now. We should make policy decisions with some consideration about how the functionality would be implemented.

Since the access control panel needs to be accessible outside of editing mode for view only users, I suggest we move it outside of editing mode for everyone.  If a u

[2015-10-27 16:13] hydrobuild commented on #688
Test message from Jenkins

[2015-10-27 16:28] dtarb commented on #664
Policy did not dictate that you had to implement on separate pages.  That was the choice that led to the complication.

[2015-10-27 16:54] ironfroggy commented on #664
Implementation and maintenance costs should absolutely be an important consideration in policy, both in terms of defining overall goals and in prioritizing what has a greater ROI to deliver sooner rather than later.

[2015-10-27 19:11] selimnairb opened #690 "Metadata refactor"
Currently, there is a lot of copy and paste duplication of code for implementing metadata schema and serialization between resource types.  To improve code maintenance and reliability and easy the ability to add new content types, we should push as much code as possible into base classes.

We are limited in our ability to do so because CoreMetaData objects do not have direct references to Abstract

[2015-10-27 21:21] hyi commented on #565
@dtarb @ironfroggy @mjstealey  Tested on dev and everything works as expected. However, this activation email is initially flagged as spam by gmail, and I have to remove the spam label initially to have it moved into inbox onward. Not sure what else we can change to make the email more legitimate without being flagged as spam by different email service providers.

[2015-10-28 04:48] pkdash commented on #690
Is 'AbstractMetaData' is a new class and different from 'AbstractMetaDataElement' class? Is it possible to define a foreign key that points to an abstract model class(foreign key from CoreMetaData to AbstractMetaData)? Is the relationship between BaseResource and CoreMetaData be defined using a foreign key?

[2015-10-28 15:04] ironfroggy commented on #690
i think it was just a typo @pkdash

[2015-10-28 15:04] ironfroggy commented on #565
That's always a difficult thing and there are not easy answers.

[2015-10-28 17:28] rayi113 opened #692 "Prep work for THREDDS and iRODS"
@hyi Using hsproxy iRODS account on hydrotest41, create iRODS FUSE mount to HydroShare resources (e.g. ./ifuse_hydrosharevault).   Write local script run on hydrotest41 that examines isPublic metatdata in iRODS for each resource in HydroShare and creates a linux symbolic link to only those HydroShare NetCDF resources that are public.  Put these links in their own linux directory (e.g. ./inetcdf_pu

[2015-10-28 18:19] hydrobuild commented on #688
ci.hydroshare.org - setup testing

[2015-10-28 19:56] pkdash opened #693 "Make content file required for resource to be public"
In addition to the required metadata elements, a resource must have content files where applicable before it can be made public.

[2015-10-28 20:16] hyi commented on #693
Should this at-least-one-content-file requirement be enforced for all resource types (i.e., not only for timeseries resources) before the resources can be made public?

[2015-10-28 21:25] pkdash commented on #693
I am not sure about the ref timeseries. Does it need any content file?

[2015-10-28 22:46] horsburgh commented on #693
Any resource types that by definition reference content stored elsewhere (including referenced time series) would not require content files for making them public.

[2015-10-29 00:03] shawncrawley opened #694 "not a real issue, just a test to learn the process"
not a real issue, just a test to learn the process

[2015-10-29 15:14] mjstealey commented on #694
@shawncrawley - feel free to close your own issue #694 when ready to.

[2015-10-29 17:00] horsburgh commented on #171
@pkdash - I just had a look at this one.  It appears that on www.hydroshare.org, the "type" element has been added to my existing public resource. I also created a new resource and made sure that it showed up for a newly created resource.  I had just a couple of observations:

* In my existing public resource, there was some extra indentation for the type element.  This was not an issue in my newl

[2015-10-29 21:05] #694 closed

[2015-10-29 23:20] pkdash commented on #171
@horsburgh When I tried to look at the resourcemap document for the same resource, I am not seeing the extra indenting problem:

![respourcemap](https://cloud.githubusercontent.com/assets/2523434/10834677/f22a2a48-7e60-11e5-91aa-a8d9138587f9.png)

[2015-10-30 03:55] dtarb opened #695 "Allowing Change of Email"
This supercedes #49 which I am closing.  The recommended email (per Caktus report) is:
- On registration, user verifies one email address and this is marked both as Verified and Primary.
- User can add any number of Secondary email addresses to their account, each of which is initially marked Unverified until they verify through a link to that e-mail address.
- User may change their Primary e-mail

[2015-10-30 03:56] dtarb commented on #49
Refer to #695 which supercedes this.  Closing.

[2015-10-30 03:56] #49 closed

[2015-10-30 04:05] dtarb commented on #686
This revamp should address the following concerns in report from @ironfroggy

* No clear navigation at registration. After registering, the user is still on the signup page with a small and easily ignorable message to check their email. There needs to be a clear navigation as part of registration.

* Registration gives no clear next step. After e-mail verification, the user is dropped back on the

[2015-10-30 04:09] dtarb commented on #475
Concern and recommendations from @ironfroggy report that should be addressed with this issue.

There is no way to see your own profile, only to update it.

Recommendations:

* Show your own profile when you click the “Profile” link on the top right menu
* Show a link to edit your profile from viewing your own profile

[2015-10-30 04:23] dtarb opened #696 "Eliminate inappropriate public exposure of emails"
Audit site for cases where email addresses are exposed publicly and resolve them.

1. ~~email addresses should not be publicly displayed on profile~~
2. a messaging system should be used to send messages to other hydroshare users
3. a user should have the ability to set in their profile that messages they receive in hydroshare get forwarded to one of their registered email addresses.
4. ~~email ad

[2015-10-30 04:27] dtarb opened #697 "Improve appearance of forbidden pages"
From @ironfroggy report.  Forbidden pages are a part of the platform to be expected to hit when some operations happen, like trying to access a resource that has been made private and to which you do not have access. Unfortunately, no information is given to the user about why they are seeing this error. It is likely the user had a typo the name of a resource, or forgot to log into the website fir

[2015-10-30 21:19] horsburgh commented on #171
@pkdash - I think the web browser uses a style sheet to render the XML, and so the extra spacing doesn't show up.  My screen shot is from a text editor.  Like I said, I don't think it really matters because it seems to be being interpreted just fine.  I'm going to close this one.

[2015-10-30 21:19] #171 closed

[2015-11-02 19:54] selimnairb opened #698 "Fix error with REST tests on develop"
Under CI, the following error is occurring:

    ERROR: test_create_get_delete_resource (test_live.TestGetResourceList)
    ----------------------------------------------------------------------
    Traceback (most recent call last):
      File "/home/hydrobuild/hydroshare/sampledata/tests/api/test_live.py", line 232, in test_create_get_delete_resource
        stream = hs.getResource(newres)

[2015-11-02 19:56] selimnairb opened #699 "Make sure all resource files are deleted for REST tests in CI"
REST tests on develop should delete all resource files, even resources for tests that fail.

[2015-11-02 21:36] pkdash commented on #693
@horsburgh Do we also need to apply content file(s) requirement for making a resource discoverable?

[2015-11-02 21:56] pkdash commented on #693
@horsburgh Also I assume we have to make a resource private in the event of user deleting content files of a resource that is public.

[2015-11-02 22:59] horsburgh commented on #693
Hmmmm...  I'm not sure.  I think we could go either way on this one @pkdash.  We have specified that a private resource can be discoverable.  In that case users can find a private resource without having access to the content files.  So, a discoverable resource to which content files have not yet been added seems somewhat analogous.  And, there are referenced resources that will not have content f

[2015-11-03 02:31] dtarb commented on #693
I think that the completeness rules for public and discoverable should be the same.  So the only resources for which files are not required to be discoverable or public are reference resources which do not have files as part of their content.

[2015-11-03 03:28] dtarb opened #700 "Manage access should not allow permissions to be set for stale inactive accounts"
I noticed when enabling access to a resource that two accounts came up for one person.  Looking into it I found that one was an inactive account (the user had lost the confirmation email and created another account).  One account was active for the email that had been validated, one was inactive.  Manage access should not allow granting access to inactive accounts, and should not offer these accou

[2015-11-03 18:45] mjstealey opened #702 "HydroShare about pages"
Create framework for Laura to add content for various semi-static pages related to HydroShare.

![screen shot 2015-11-05 at 11 11 16 am](https://cloud.githubusercontent.com/assets/5804626/10974019/03d5b742-83ae-11e5-92ef-b52b18d97766.png)

[2015-11-03 22:37] hyi opened #703 "Downloading public resource bag without logging in wrongly requires authentication"
This problem happens on www.hydroshare.org (release 1.6.1 newly deployed today) but works fine on the pre-release 1.6.1 deploy on beta.hydroshare.org (deployed yesterday afternoon). The only additional code brought in since yesterday afternoon after pre-release 1.6.1 was deployed on beta is the oauth-server branch which was merged into develop prior to 1.6.1 release deploy on www. So this problem

[2015-11-03 22:40] mjstealey commented on #703
This is also evident on https://alpha.hydroshare.org.
alpha is presently a parallel deploy of the same tag (1.6.1) that was used for www.

[2015-11-03 22:40] hyi commented on #703
![image](https://cloud.githubusercontent.com/assets/476302/10923992/e9a46c18-8251-11e5-9203-04ed96c2e080.png)

[2015-11-03 23:02] dtarb commented on #703
And can we figure out an automated test for this so it is caught before deploy in the future.

[2015-11-04 15:44] hyi opened #706 "Create test for resource bag downloading"
This issue is prompted by https://github.com/hydroshare/hydroshare/issues/703 with expectation to catch such errors early via unit testing.

[2015-11-04 15:45] hyi commented on #703
@dtarb Just created an issue to add unit test for bag downloading https://github.com/hydroshare/hydroshare/issues/706

[2015-11-04 15:47] dtarb opened #707 "Resource creation file validation peculiarity"
There is an unusual case that occurs in resource creation when files come from local disk and iRODS.  Multidimensional (netCDF) resources are supposed to only have one nc file.  However in creating one I selected a nc file from local disk.  I then realized that I actually wanted to load a file from iRODS so selected a file from iRODS.  I was unable to unselect the selection of the file from local

[2015-11-04 16:09] zhiyuli commented on #503
merged

[2015-11-04 16:09] #503 closed

[2015-11-04 16:14] mjstealey commented on #703
This error seen here requires a functional test definition, not a unit test.
Some workflows should be drawn up around the use cases here prior to implementation.

[2015-11-04 17:20] zhiyuli opened #708 "HISTimeSeries new design phase 2"
This issue is the second phase of RefTS new design (#502). Will focus on the following problems:

1)  remove outdated/redundant code; reformat non-standard code

2) bag problem: In Phase 1, RefTS only stores metadata (referenced url and etc.) in Django database and will download the most recent data (WaterML) on the fly when the user clicks download button. No metadata or resource files are stored

[2015-11-04 17:40] dtarb commented on #708
I think you still need a resourcemetadata.xml file in iRODS.  I think that this will then trigger a resourcemap.xml that gives the existence of the resourcemetadata.xml file and other bagit, manifest and tagmanifest files.  This may seem like a lot, but most of this is being automatically generated and I think it is required for consistency and machine readability across all our resources.

[2015-11-04 17:49] zhiyuli commented on #708
@dtarb @danames Also I think the requirement for a "generic referenced resource type" becomes more clear...it is different from "regular data resource type". The user does not need to upload any physical files. What is needed is just a link (URL). The HIS Time Series resource type and the App/Tool resource type are two specific cases and should inherit "generic referenced resource type". Maybe in

[2015-11-04 18:11] hyi commented on #708
Should RefTimeSeries resource type have all standard science metadata elements that all resource types have? If so, I think it can be viewed as a specific resource type (just like other resource types) with perhaps the reference URL encoded in Source metadata element, but does not have content files (although download needs special processing if on-the-fly download from referenced source needs to

[2015-11-04 18:29] dtarb commented on #708
@hyi yes it should have the same standard science metadata as generic resources, so is just a hopefully simple small extension of the base resource type.  Downloading of the bag does not need to do on the fly downloading of content from the referenced source.  However tools that operate on the resource may support downloading.  How this is implemented is up to the reference resource tool developer

[2015-11-04 19:01] dtarb opened #710 "Allow full set of files associated with shapefiles in geographic feature"
I encountered a shapefile that had a .cpg file.  This will not load.  See http://webhelp.esri.com/arcgisdesktop/9.3/index.cfm?TopicName=Shapefile_file_extensions.  This is a legitimate shapefile component.  It would be better to see if there is a more recent authoritative source for all these extensions, as the link above is 2008, and there may have been others since.

[2015-11-04 19:05] dtarb commented on #710
Clarification.  This limitation appears to only occur when the .CPG caps extension occurs (which was the case for the example I encountered)
![capture](https://cloud.githubusercontent.com/assets/3456833/10948745/5ee87880-82ec-11e5-8ffa-fbe02dad95dc.PNG)

[2015-11-04 19:06] zhiyuli commented on #710
@dtarb The cpg file is already allowed to upload. I can confirm it in the code:

    def get_supported_upload_file_types(cls):
        # See Shapefile format: http://resources.arcgis.com/en/help/main/10.2/index.html#//005600000003000000
        return (".zip", ".shp", ".shx", ".dbf", ".prj", ".sbx", ".sbn", ".cpg", ".xml", ".fbn", ".fbx", ".ain",
                ".aih", ".atx", ".ixs", ".mxs")

So

[2015-11-04 19:08] mjstealey commented on #710
Is your code case sensitive by chance? (.cpg vs .CPG)

[2015-11-04 19:17] zhiyuli commented on #710
@mjstealey I think you are right. Thanks. I will look into this.

[2015-11-04 19:19] goodalljl commented on #488
@hyi has agreed to take on this implementation task. She will let us know if there are questions. The milestone target is the AGU release.

[2015-11-04 19:46] pkdash opened #711 "Refactor metadata code for generic resource type"
Refer to geo feature class resource type for refactoring pattern.

[2015-11-04 19:47] pkdash opened #712 "Refactor metadata code for timeseries resource type"
Refer to geo feature class resource type for refactoring pattern.

[2015-11-04 19:50] pkdash opened #713 "Refactor metadata code for netcdf resource type"
Refer to geo feature class resource type for refactoring pattern.

[2015-11-04 20:10] pkdash opened #714 "Refactor metadata code for geo raster resource type"
Refer to geo feature class resource type for refactoring pattern.

[2015-11-04 21:32] zhiyuli commented on #636
already fixed in 1.6.1
closed

[2015-11-04 21:32] #636 closed

[2015-11-04 21:34] zhiyuli commented on #7
done in 1.6.1

[2015-11-04 21:34] #7 closed

[2015-11-04 23:56] dtarb opened #716 "User with edit permissions can remove ownership from a user in the case where there are multiple owners"
The following sequence demonstrates this:

- User A creates a resource
- User A assigns user C as Owner
- User A assigns user B as editor
- User B logs in and edits the resource
- User B enters manage access
- User B changes access level of user A to can view.  (This is an bug as user B should not be able to demote user A who is an owner)
- User A now only has view permissions so is no longer able

[2015-11-05 00:14] dtarb opened #717 "Manage access interface shows ability to delete owner for editors where there are multiple owners."
The following sequence illustrates this bug, which is a manage access appearance bug (not an actual access control bug)

1.	User A creates a resource
2.	User A assigns user C as Owner
3.	User A assigns user B as editor
4.	User B logs in and edits the resource
5.	User B enters manage access.  At this point the interface displays an X next to each owner giving the impression that they can be deleted

[2015-11-05 00:33] zhiyuli commented on #710
@dtarb @pkdash @hyi @mauriel133

I just find this issue also exists in GeoRaster and NetCDF. Upper case file extension causes check failure.
![image](https://cloud.githubusercontent.com/assets/10070599/10956509/7a5f0f0c-8319-11e5-80de-5e02bd29cc58.png)

[2015-11-05 14:47] dtarb commented on #703
Thanks.  I confirmed it worked, at least for one file.

[2015-11-05 14:47] #703 closed

[2015-11-05 21:13] mauriel133 commented on #717
I've made changes accordingly that disables parts of the interface for granting access that the current user doesn't have.

[2015-11-05 22:20] selimnairb commented on #706
I added a test to the [sampledata](https://github.com/hydroshare/sampledata/commit/abb21a3715cb86d3eb88910db7791180b10f9c82) repo to test for this.

[2015-11-05 22:20] #706 closed

[2015-11-06 19:00] selimnairb commented on #685
@pkdash The system currently works as @dtarb suggests.  Should this be changed?

[2015-11-06 19:37] selimnairb commented on #626
@vmmerwade I am able to create a SWATModelInstanceResource resource as follows.  First, I downloaded [this](https://www.hydroshare.org/resource/c96993478a59442ca9e1c167fe57bf3a/) resource, and unzip the bag contents.  Then use the following code:

    from hs_restclient import HydroShare, HydroShareAuthBasic
    auth = HydroShareAuthBasic(username='MYUSER', password='MYPASSWORD')
    hs = HydroSha

[2015-11-06 19:43] pkdash commented on #685
@selimnairb I was wrong about the access to the content files. Those are already restricted. It looks to me though an anonymous user will not be able to get the metadata file via REST API if the resource is private and discoverable. However, the same user can see the metadata for that resource on the web front-end. This may be another issue. The resource list api returning data for each resource t

[2015-11-06 19:56] selimnairb commented on #685
@pkdash The user is not able to download the bag for discoverable resources, so I don't think it hurts to include it.  I will change permissions so that the metadata documents are downloadable via REST API for users who do not have permissions on the resource.  @pkdash @dtarb Let me know if you want me to remove the bag URL for such users. (I don't have a strong opinion).

[2015-11-06 20:14] dtarb commented on #685
I discussed with @pkdash and we decided to leave as is for consistency.

[2015-11-06 20:18] pkdash commented on #685
@selimnairb @dtarb should we include the 'discoverable' attribute in returned resource list data?

[2015-11-07 04:52] dtarb commented on #685
The access control policy (see https://my.alfresco.com/share/s/WJuMf2ghRlyuty0oXrqe5g) specifies 5 sharing attributes that may be set for each resource: Shareable, Discoverable, Public, Published, Immutable.  If you are considering which should be returned with a resource list, and you are going to include some, why not include all.

[2015-11-07 06:08] pkdash commented on #685
Good point. We should include all those 5 attributes in resource data from the REST API. Probably the same should apply to the resource landing page. Currently we are not showing Published and Immutable on the landing page.

[2015-11-08 15:20] dtarb commented on #638
The new interface deployed at 1.6.1 resolves this.

[2015-11-08 15:20] #638 closed

[2015-11-08 15:24] dtarb commented on #554
Release 1.6.0 and 1.6.1 achieved this, so I am closing.  Any remaining issues should be filed as separate issues.

[2015-11-08 15:24] #554 closed

[2015-11-08 15:35] dtarb commented on #494
These have been resolved with the 1.6.0 and 1.6.1 deploy.

[2015-11-08 15:35] #494 closed

[2015-11-08 15:43] dtarb commented on #292
This is implemented in 1.6.0 and 1.6.1 deploys.

[2015-11-08 15:43] #292 closed

[2015-11-08 15:46] dtarb commented on #481
Resolved in 1.6.0/1.6.1 deploy.

[2015-11-08 15:46] #481 closed

[2015-11-08 15:47] dtarb commented on #405
Resolved 1.6.0/1.6.1 deploy.

[2015-11-08 15:47] #405 closed

[2015-11-08 15:52] dtarb commented on #320
This appears resolved in current 1.6.1 deploy.

[2015-11-08 15:52] #320 closed

[2015-11-08 16:00] dtarb commented on #447
This was deployed as part of 1.6.1

[2015-11-08 16:00] #447 closed

[2015-11-08 16:03] dtarb opened #720 "Resources listing does not persist filter when advancing to next page"
A user (me) has 21 resources owned.  If I click on owned by me on the resources listing, I see the bottom indicate.  Results 1-20 of 21.  However if I click on either the >> or >>| buttons to advance to see the next page (that should only be one resource) I get to a page that shows 21 to 40 of 104.  The filtering by owner has been lost.

[2015-11-08 16:07] dtarb commented on #668
Tested and seems to be working satisfactorily in version 1.6.1.

[2015-11-08 16:07] #668 closed

[2015-11-08 16:20] dtarb opened #721 "Resource title does not get updated on profile page when read from resource file"
If I create a resource (Multidimensional) from a netCDF file that has a title as part of its metadata and I do not specify a title at the create resource page, I end up with a resource that gets the title from the file uploaded (which is correct), but on the listing of resources on my profile page the title is "Untitled".

An example of this is https://www.hydroshare.org/resource/0bfc9ba00fbe400f8

[2015-11-08 18:06] pkdash commented on #720
The same problem exists for 'editable by me'.

[2015-11-08 18:14] pkdash commented on #631
@hyi can you test this and if you think the issue has been addressed then close it?

[2015-11-09 15:31] #631 closed

[2015-11-09 17:27] yirugi commented on #626
We are using REST API to create SWATModelInstanceResource resources, and it is working now.
And yes, we need to manually put some metadata, but it seems they do not provide the modifying resource-specific metadata API yet.

[2015-11-09 17:59] selimnairb commented on #626
@yirugi Thanks for clarifying.  Since you can create the resource, I will close this issue.  We can address the metadata modification in another issue.  Just out of curiosity, how are you setting the metadata now (e.g. using the HydroShare web interface)?

[2015-11-09 18:03] yirugi commented on #626
@selimnairb  For now, SWATShare exports GenericResource resource type instead of SWATModelInstaceResouce, since it cannot be published without those metadata.

[2015-11-09 19:10] selimnairb opened #723 "Implement updateScienceMetadata REST end point"
Implement [updateScienceMetadata](https://github.com/hydroshare/hydroshare/blob/master/docs/DesignDocs/API/index.md#hydroshareupdatesciencemetadatapid-sciencemetadata----pid) REST end point.

[2015-11-09 19:14] selimnairb commented on #626
@yirugi According to the [design document](https://github.com/hydroshare/hydroshare/blob/master/docs/DesignDocs/API/index.md#hydroshareupdatesciencemetadatapid-sciencemetadata----pid) for the API, you would need to update the SWAT-specific science metadata by calling updateScienceMetadat and passing in the new science metadata in XML format.  You would do this after creating a SWATModelInstanceRes

[2015-11-09 19:14] #626 closed

[2015-11-09 19:22] selimnairb commented on #723
Also fix GET /hsapi/scimeta to return properly serialized XML+RDF.  The current implementation returns an escaped string rather than raw UTF-8 XML:

    "
    <?xml version=\"1.0\"?>\n
    <!DOCTYPE rdf:RDF PUBLIC \"-//DUBLIN CORE//DCMES DTD     2002/07/31//EN\"\n\"http://dublincore.org/documents/2002/07/31/dcmes-xml/dcmes-xml-dtd.dtd\">\n
    <rdf:RDF
    xmlns:dcterms=\"http://purl.org/dc/terms/

[2015-11-09 19:33] yirugi commented on #626
@selimnairb I'm waiting for the implementation as well. Thank you for the issue number!

[2015-11-09 19:37] selimnairb commented on #685
@pkdash @dtarb Just to confirm, I will:

- Keep the science_metadata_url for discoverable resources; and
- Make it so that discoverable resources have world-readible system and science metadata; and
- Add shareable, discoverable, published, and immutable flags in the resource system metadata/resource list.

Anything else that needs doing for this issue?

[2015-11-09 20:10] mauriel133 opened #724 "Refactoring genericresource.html"
The genericresource.html file has been growing constantly with the addition of new functionality to the resource landing page. I will be refactoring this code into multiple .html and .js files.

I propose the HTML content for the resource landing page gets refactored into:
- Title and general info
- Subject
- How to cite
- Content
- Ratings and comments (already separated).

Note: *just similar to

[2015-11-10 17:29] zhiyuli opened #727 "Disable HIS Referenced Time Series in dev branch"
Current HIS referenced time series should be disabled as it is not stable. A new version is under development (see #708)

[2015-11-10 17:44] hyi commented on #488
@goodalljl @horsburgh @dtarb @pkdash  I want to leverage existing metadata element, specifically, Relation element, to indicate whether a resource is reference, replicated, or original, rather than creating a new attribute on the resource. By default, when the resource is created initially, "original" is assumed for the resource and the current citation format applies. Then the resource can be edi

[2015-11-11 17:07] zhiyuli commented on #727
merged to dev

[2015-11-11 17:07] #727 closed

[2015-11-11 17:12] zhiyuli commented on #710
merged and tested on dev

[2015-11-11 17:12] #710 closed

[2015-11-11 19:40] alvacouch commented on #716
Discussed with Pabitra and Dave via email. Suggested fix is to use the Owner privilege to override the offending privileges when authorized, using the "unshare" function. Then assert the appropriate protection. Later, we can put this inside "share_resource_with_user" but that will require significant changes to test suite, etc.

[2015-11-11 19:50] alvacouch commented on #716
Actually, I need further information to suggest a fix.  Could be a bug in access or a bug in the UI use of access.  It is most likely a bug in both. The key issue is that one should not be able to demote an owner as a non-owner. This should be stopped in the API itself, so that even if the UI allows it, the API won't. Then we work on the code that considers it possible and stop that.

[2015-11-11 19:54] alvacouch commented on #717
We need to change the API to avoid the ability to make the change.

[2015-11-11 20:02] pkdash commented on #716
I think it is a bug in the access control API. The API allows to demote any privilege of a user by a grantor as long as the grantor has a privilege which is => privilege the grantor is granting. It doesn't consider what privilege the user has currently before demoting.

[2015-11-11 20:09] selimnairb opened #729 "Refactor resource access permission checks"
All resource access control decisions should be evaluated using a single function, that being hs_core.views.utils.authorize().  For example, this method should be used in place a manual calls in (here)[https://github.com/hydroshare/hydroshare/blob/master/hs_core/page_processors.py#L48], and (here)[https://github.com/hydroshare/hydroshare/blob/master/hs_core/page_processors.py#L73].

Also, we need

[2015-11-11 20:24] pkdash commented on #717
I plan to make API change.

[2015-11-11 20:25] goodalljl commented on #488
@hyi I agree with leveraging existing metadata elements if possible. This would be my vote for how to do the relations. It would require custom relationship, but I think these are more logical than the existing relation types.
Reference --> use "is hosted by"  give URL when resource is located in an external system
Replicated --> use "is copied from" give URL when resource was copied from

[2015-11-11 20:48] #685 closed

[2015-11-11 22:07] hyi commented on #488
@goodalljl I like what you suggested relation types to add to represent reference and replicated cases. To be consistent with the existing relation types such as "Created By" I suggest we use "Hosted By" and "Copied From" for Reference and Replicated cases. @horsburgh @dtarb Could you chime in to let me know what you think? I can start to implement once I get your thumb up on this.

[2015-11-11 23:24] horsburgh commented on #488
For display in the "Relation type" drop down, the terms "Hosted By" and "Copied From" seem appropriate, but see below for other suggestions. When encoding these relationships in the Science Metadata XML document, you would want to use the right terms. For example "isVersionOf" is a formal term from the Dublin Core metadata "dcterms" namespace and so it would be encoded in the science metadata like

[2015-11-12 15:01] hyi commented on #488
@horsburgh @goodalljl @dtarb It looks to me "references" Dublin Core term fits our "reference" case well, so I think we should go with Dublin Core term rather than a customized term if possible. @goodalljl Let me know if you agree or not, and if you agree, that will be what I implement for "reference" case. isVersionOf could fit our "replicated" case as well but I am not so sure and need @goodallj

[2015-11-12 16:53] goodalljl commented on #488
@horsburgh @hyi @dtarb I generally like to use Dublin Core definitions if we can. I think the two Jeff suggested would work ok, but I feel "hosted by" and "copied from" are more exact relations for these resources. My vote would be to use these custom terms instead of the core Dublin Core terms unless there is a compelling reason not to (interoperability with other systems like DataOne, for exampl

[2015-11-12 17:04] hyi commented on #488
@goodalljl agreed "isVersionOf" is confusing to represent replicated case especially considering we will be using it for HydroShare resource versioning as well. I will wait for input from others especially from @horsburgh and @dtarb to get us all on the agreement before I start to implement.

[2015-11-12 17:10] horsburgh commented on #488
@goodalljl and @hyi - I think Jon's terms are fine as long as they are defined in our terms namespace.

[2015-11-12 17:31] hyi commented on #488
@horsburgh @goodalljl @dtarb OK. I will implement accordingly by defining our own customized terms with our own "hsterms" namespace.

[2015-11-12 21:02] hyi commented on #488
@goodalljl @horsburgh @dtarb These two relations "Hosted By" and "Copied From" should be mutually exclusive, right? In other words, we should not allow both relations be present for any single resource since a reference resource (i.e., with Hosted By relation) cannot be a replicated resource (i.e., with Copied From relation). This will ensure citing format will not be ambiguous as well. Want to co

[2015-11-12 21:14] horsburgh commented on #488
@hyi - Yes they are mutually exclusive.  "Copied from" implies that there is actual content in HydroShare. "Hosted by" implies that the content is hosted elsewhere.

[2015-11-12 21:21] mohamedmorsy commented on #488
@horsburgh @goodalljl @hyi Could we adjust the format of these two terms to be "copiedFrom", and "hostedBy" rather than "Copied from" and " Hosted by"?

[2015-11-12 21:25] hyi commented on #488
@mohamedmorsy the terms stored in the database will be "isCopiedFrom" and "isHostedBy" with human-friendly display names as "Copied From" and "Hosted By" to be consistent with other existing relation terms. I believe this also conforms to Dublin Core term definition formats, @horsburgh correct me if I am wrong on this Dublin Core term definition formats.

[2015-11-12 21:28] mohamedmorsy commented on #488
@hyi I got it. Thanks.

[2015-11-12 22:12] gantian127 opened #733 "When editing the spatial coverage information, the invalid value can be saved as metadata"
I just test to enter an invalid value for spatial coverage metadata as "Box" (See graph below). Although there is no bounding box shown in the map, the value can still be saved as metadata in the system.

![graph](https://cloud.githubusercontent.com/assets/5016511/11132835/ee7935ae-8957-11e5-809c-d4997938d93f.png)

[2015-11-13 00:36] dtarb commented on #488
I like the terms "Replicated from" and "Reference to".  We also need an attribute on the base resource that can be one of the following 3 values

- original
- reference
- replicate

An original resource is one where the source material is original.  A reference resource is one that points to a source somewhere else (like a model or data source on another web site).  The "Reference to" relationship

[2015-11-13 01:44] gantian127 commented on #713
@pkdash Would you please code review this? Thank you

[2015-11-13 03:37] hyi commented on #488
@dtarb I don't think we need an attribute on the base resource since for reference and replicate resources, we need to indicate the source from which the described resource is hosted by/reference to or replicated from in order to form the correct citation accordingly, and the current Relation metadata element fit this very well. We don't want the same information stored in two places, i.e., resour

[2015-11-13 15:17] dtarb commented on #488
OK.  Perhaps I am being too detailed in suggesting how this should be implemented.  So instead I've written what I think should be implemented as [use cases](https://docs.google.com/document/d/15x9QtzdP-ha2ErMeqMTJKzv9lbLhWZMcsNMRtZR4F_s/) and will leave it for you to implement this in the best way.

[2015-11-13 18:12] gantian127 commented on #733
Logic to check the bounding box:
1 North lat and South lat should be in [-90,90], North lat > South lat
2 East lon and West lon should be in [-180,180], East lon > West lon

[2015-11-13 23:44] mauriel133 opened #734 "Whitespace in resource specific tab"
There is a lot of white space in the resource specific tab of the resource landing page for some resource types.

I will be restyling the layout for some resource types to make better use of this space.

[2015-11-14 00:41] gantian127 commented on #714
@pkdash Would you please code review this one? Thanks

[2015-11-17 05:47] pkdash commented on #721
@dtarb This fix can be tested on dev.hydroshare.org

[2015-11-17 12:36] dtarb commented on #721
@pkdash @hyi I tried to test this but at this time I am unable to create an account to do so.  The button "Join HydroShare & start collaboration" is non responsive on the sign up page on dev.hydroshare.org.

[2015-11-17 17:32] hyi commented on #721
@dtarb @ironfroggy @pkdash dev is working again after I followed @mjstealey's guidance to change http to https for recaptcha URL (yes, @mjstealey has been keeping an eye on hydroshare issues during his special leave and we exchanged a couple of emails for this issue). I will create an issue next to change http to https in https://github.com/hydroshare/hydroshare/blob/develop/theme/templates/accoun

[2015-11-17 17:45] hyi commented on #721
@dtarb @ironfroggy @pkdash @mjstealey Verified the reason it works in my local dev env is because running ./hsctl restart call changes recaptcha url in _signup_form.html from https to http to correspond to my local dev env settings. So I decided not to create an issue to change initial setting for recaptcha url in _signup_form.html after all. Will see whether dev will rebuild correctly on its next

[2015-11-17 20:31] Maurier opened #741 "Profile page followup improvements"
- [x] We need to have the list of resources sorted by time (coming from the back end) to populate the recent activity list.
- [ ] Get a list of recent comments made by the profile user as well to add to the recent activity list.

Feel free to add any suggestions.

[2015-11-17 21:15] pkdash opened #742 "Remove UserAcess.active attribute"
The UserAcess.active attribute serves the same purpose as the Django User.is_active attribute.

[2015-11-17 23:32] dtarb commented on #721
I have now verified that this issue is fixed on the recently deployed beta.hydroshare.org, so closing.  The issue of the capcha and dev from comments above is separate.

[2015-11-17 23:32] #721 closed

[2015-11-18 00:19] mauriel133 opened #744 "New profile page minor issues"
- [x] Author names not linked to HydroShare not being displayed.
- [x] Profile page appears zoomed out on some mobile devices (as tested on my phone).

[2015-11-18 14:56] hyi opened #746 "Use relative Recaptcha URL to avoid http vs https issue"

[2015-11-18 20:35] mohamedmorsy opened #748 "Create Workflow Resource Type"

[2015-11-18 22:16] gantian127 commented on #734
@mauriel133 I just tested the netcdf and raster resource. I have the following suggestions and you may implement them if you think they make sense. Thank you.
1) For raster view mode layout, it may just set "spatial reference", 'cell information' 'band information in separate lines. The bandInformation may include multiple repeated elements so they can be managed as the way for netcdf "variable" e

[2015-11-19 17:35] mauriel133 commented on #734
Tian, I will implement both of your suggestions today.

[2015-11-20 21:14] selimnairb opened #752 "REST API Resource type in /hsapi/resourceList is BaseResource no matter the resource type"
Resource type returned by /hsapi/resourceList is BaseResource no matter the resource type.  The resource type returned by /hsapi/sysmeta reflects the actual resource type.

[2015-11-23 20:34] hyi commented on #565
@dtarb This has been deployed to www. You can test it out on either www or dev and see whether this issue can be closed. See the comment thread for this issue which provides context for the current implementation.

[2015-11-23 20:35] hyi commented on #615
This has been resolved on www. Closing.

[2015-11-23 20:36] #615 closed

[2015-12-03 00:20] shawncrawley opened #754 "SWAT Model - Deleting certain resource specific data on one resource also deletes them on all other SWAT Model resources"
Deleting certain resource specific data on one resource also deletes them on all other resources. I'll give a real example, which is how I found the bug. The following was done on both playground and dev:
I created a SWAT Model resource (swat 1) and added all seven of the Model Parameter options as seen below.

"swat 1":
![Screenshot 1](http://www.zimagez.com/miniature/screenshot2015-12-0219-00-33

[2015-12-03 02:10] shawncrawley commented on #754
It was a very simple fix, but I'll give an in-depth explanation for those who care.

##### Explanation of the root problem
If I understand it correctly, with **`models.ManytoManyField(AssociatedClass, **kwargs)`** Called within another class, InitialClass, the created instances of the AssociatedClass are shared between all of the instances of the class that declares the association (InitialClass).

[2015-12-03 13:27] #32 closed

[2015-12-03 13:29] ironfroggy opened #755 "Near Real-time Search Index Updates"
As a near-term solution the indexes in Solr for Haystack will be updated nightly. As a long term solution we must update the index selectively and on-demand as changes are made to resources.

[2015-12-03 14:07] ironfroggy opened #756 "Review and clean up celery configuration"
Celery is setup in the project but appears unused, so we need to make sure it works. This is a prerequisite for real time search index updates, but getting celery working cleanly will make it usable by developers for lots of things to improve performance. This is a low risk ticket.

[2015-12-03 14:07] ironfroggy commented on #755
Haystack uses Signal Processors to trigger updates when objects are changed, like on the `post_save` signal that is triggered when the saving of an object is complete. [1] These work out of the box for most uses, but I think we're going to find some customization is necessary because of the complicated nature of metadata in Hydroshare (more on that below). In addition, indexing can be costly and e

[2015-12-04 14:06] dtarb opened #758 "apps.hydroshare.org landing page meaningful content"
The apps.hydroshare.org landing page should have meaningful content on it or redirect to https://apps.hydroshare.org/apps/.  Even though the direct link from hydroshare is to the /apps page, browsers are likely to end up at the top page too so it needs to be properly handled.

[2015-12-04 15:08] danames opened #759 "The "Sign into IRODS" button needs to be explained (or removed)"
When  you are creating a new resource, there is a large green button instructing one to sign into iRODS. This is not part of the simple resource creation workflow and is a bit of an extra option. But it is sitting there glowing green at me making me feel like I really need to click it in order to properly create a resource.

I suggest we comment out this function for the AGU release and then come

[2015-12-04 15:12] danames opened #760 "If you try to create a user with a user name that is already taken then you get a hard crash"
Worse yet, it seems that the email to confirm the user is sent to the new address. So I might have an opportunity to hijack someone else's account by simply creating a new user with the same user name someone else has already use. I haven't tried this hack, but maybe we just need to avoid it by giving a clean error message for when a user name is re-used.

CAN THIS BE FIXED BY AGU?

This will real

[2015-12-04 15:20] dtarb commented on #759
Let's not remove.  It is useful functionality.  Lets figure out a clean clear label and explanatory text.

[2015-12-04 15:23] dtarb commented on #760
@danames Can you check the behavior on www.hydroshare.org (the 1.6.2. deploy).  It seems it was acceptable a while back, but may have regressed.  If it is acceptable now, we need to strive to keep the www behavior.

[2015-12-04 15:23] danames commented on #759
It's interesting functionality, but I have this feeling that 98% of the target audience won't know what to do it and won't have an iRODS account. So let's reduce it's presence? Maybe just blue hypertext that says,

"If you have a resource on an iRODS server, you can add browse to it by logging in here."

[2015-12-04 15:29] danames commented on #760
I just tested on www.

Creating an account with the same email address gives this error:

* email needs to be unique

and shows the sign up form again.

However if you use the same user name you don't get a hard crash (like on Beta) but you get an error that says:

"Error:
An error has occurred"

It's not a useful error, but it's not as bad on www as on beta. But this is a concern since what we se

[2015-12-04 15:31] dtarb commented on #759
Please suggest a specific color, label and perhaps adjacent text and then I think this is a simple interface change that could easily be made, by @hyi or @pkdash.  Maybe 98% of the target audience now will not be able to use this, but this is an important part of the strategy to work with big data "off the desktop" which is one of the capabilities I am talking about in presentations.

[2015-12-04 15:35] hyi commented on #760
Debug is set to True on beta while set to False on www to give more useful error message for diagnosis on beta. I am in the middle of doing resource id preservation testing on beta, after I am done with it, I will set Debug to False on beta and compare the behavior on beta with www for this issue to check whether there is any regression issue has been introduced in the latest code base.

[2015-12-04 15:43] dtarb commented on #760
It would be better if the "An error has occurred" said "That username is already in use, please select another", but this enhancement while desirable, is not a show stopper for 1.6.3 deploy.  @pkdash is this a message that could be easily added.

[2015-12-04 16:29] danames commented on #759
If you want to load a resource from an iRODS into HydroShare, you may do so by logging into your iRODS server here.

"here" should be blue and underlined and will be the link to log into the iRODS server.

[2015-12-04 17:53] horsburgh commented on #15
Details of the process and workflow for formally publishing a resource are available in the Google Doc at:

https://docs.google.com/document/d/1tNFStpEmbB_AC2ICppVSw-024-iTrnqGK9Np7Elw2OM/edit

The following are needed to complete formal publication of a resource:
- [ ] Add a "publish" button to the resource landing page
- [ ] Add code to validate that the required metadata elements are present an

[2015-12-04 18:23] horsburgh opened #761 "Resource Publication - Draft Data Publication Agreement"
Need text for a data publication agreement that users agree to when they choose to publish a resource.  Assigned to @dtarb but need contribution from @alvacouch.

See #15 for the main resource publication issue.

[2015-12-04 18:33] horsburgh opened #762 "Resource Publication - Map resource science metadata to Crossref deposit metadata"
In order to register a DOI with Crossref for resource publication, HydroShare must create a deposit XML document for submission to the Crossref API.  So, we need to map the HydroShare science metadata elements to the required Crossref elements so the deposit XML can be automatically generated.

* Crossref deposit metadata schema is here: http://help.crossref.org/deposit_schema
* Required, recommen

[2015-12-04 18:43] horsburgh commented on #15
CUAHSI's prefix for DOI's is set:  10.42111/<unique suffix>
Sample of an existing CUAHSI DOI:  http://dx.doi.org/10.4211/his-data-shalenetwork

It is up to HydroShare to generate a unique suffix for each DOI. One simple option for the suffix will be to simply use the HydroShare resource identifier, but I think we want a node in the suffix to uniquely identify HydroShare resources given that the pr

[2015-12-04 18:56] hyi commented on #760
@danames @dtarb Have changed DEBUG setting to be false on beta and tested this issue out. Beta now exhibits exactly same behaviour as www, so confirmed no regression has occurred since 1.6.2 release.

[2015-12-04 20:42] horsburgh commented on #223
I believe that this is working now on www.hydroshare.org, but replacing the profile picture is not.  I'll close this one and add a new issue.

[2015-12-04 20:42] #223 closed

[2015-12-04 20:43] horsburgh opened #764 "User Profile: Replace Profile Photo Doesn't Work"

[2015-12-04 20:44] horsburgh commented on #81
This is now part of the resource publication issue #15.  So, I'm going to close this one.

[2015-12-04 20:44] #81 closed

[2015-12-04 20:47] horsburgh commented on #16
Issue #129 is more specific than this.  So, I'm going to close this one.

[2015-12-04 20:47] #16 closed

[2015-12-04 20:48] horsburgh commented on #14
I think we should stick with all resource creation done at the individual user level.  Resources should then be shared with groups.  Groups cannot create resources.

[2015-12-04 21:00] horsburgh opened #765 "My Resources Page: Limit the List of Resources to My Resources"
In the transition to integrating the new Search/Discovery page, the My Resources page needs to be modified so that the list of resources the user sees contains only resources that meet the following criteria:
- Resources the user owns
- Resources that have been shared with the user (under any permission) by another HydroShare user
- Resources that the user specifically chose to add to their list o

[2015-12-04 21:08] horsburgh commented on #455
Based on our latest document, the following Filters are needed, with implementation as check boxes and numbers as described above:

* Owned by me
* Editable by me
* Shared with me

In a second round, we can add the following as filters that will require additional backend functionality to support:

* Favorites
* Following
* Recent

When the first three are complete, I suggest creating separate iss

[2015-12-04 21:18] horsburgh opened #766 "My Resources Page: Add Ability to Filter by Resource Type, Author, and Subject"
On the My Resources page it is currently somewhat unclear how to use the filtering functionality. This can be improved by providing a simple drop down on the search box that has some commonly used filters to help users construct the the right syntax for the filter in the Search box.

﻿
![untitled](https://cloud.githubusercontent.com/assets/3485902/11601665/d972684c-9a91-11e5-9928-7ad9648ba3c7.png)

[2015-12-04 21:20] horsburgh opened #767 "Discovery: Create Ability to Add a Discovered Resource to My Resources"
When a user discovers a resource they are interested in and want to keep track of there needs to be an option on the list of discovered resources and/or on the landing page for a resources to add it to the users list of My Resources.

[2015-12-04 21:29] horsburgh opened #768 "My Resources Page: Implement Marking Favorite Resources"
A user should be able to mark a resource as a favorite. This would make that resource appear in the list of the user's favorite resources.  This should be implemented in two places:

1. There should be a button on the resource landing page that a user can click to add a resource to their list of favorites
2.  There should be a button at the top of the My Resources page that would add whatever reso

[2015-12-04 21:33] pkdash commented on #767
I assume these are resources that either public or discoverable and the user doesn't have explicit access permission.

[2015-12-04 21:35] horsburgh opened #769 "My Resources Page: Implement Resource Labels"
The My Resources page will enable users to organize resources using labels. The following is needed to implement this:

- [x] Implement a label button on the My Resources page with a drop down from which labels can be selected for a selected resource
- [x] Implement the ability for the user to create new labels that show up in the drop down list
- [x] Implement the labels as a facet in the filter

[2015-12-04 21:43] horsburgh opened #770 "My Resources Page: Restyle Resource Listing and Add Resource Selection"
The listing of resources on the My Resources page needs some love. The following are needed:

- [x] Users need to be able to select resources on which they want to perform actions. This could be done by either adding a check box to the left column for each resource or by using a distinct selection color when a user clicks or shift-clicks on a resource.
- [x] It would be helpful to have some sort o

[2015-12-04 21:45] horsburgh opened #771 "My Resources Page: Additional Toolbar Functionality"
The following are suggested as global operations on whichever resources are selected in a user's list:

- [x] Delete - delete all of the selected resources
- [ ] Share - apply the same access control settings to a selected list of resources

[2015-12-04 21:57] horsburgh commented on #767
Correct @pkdash.

[2015-12-04 23:17] danames commented on #760
Excellent

On Fri, Dec 4, 2015 at 11:56 AM Hong Yi <notifications@github.com> wrote:

[2015-12-04 23:30] pkdash commented on #769
Are the 'labels' user specific?

[2015-12-04 23:37] horsburgh commented on #769
Yes - labels are user specific.  They are not the same as the keywords in the science metadata for a resource. They are effectively an organizational tool for users - think "virtual folders".

[2015-12-05 02:14] dtarb commented on #14
@horsburgh is correct.  Sorry if my title a year ago was ambiguous.  I've edited the title to be a bit better .  Users create resources.  Users also create groups.  Groups cannot create resources but resources can be shared with groups at either the edit or view level.  This is detailed in the access control document linked above.  I've also edited out the statements about iRODS rules and policy e

[2015-12-05 23:04] mauriel133 opened #773 "Resource type icons"
I will be adding resource type icons where necessary in the site. These are the ones I've come up with so far. Let me know your suggestions.

# Preview
#### Generic:
![generic96x96](https://cloud.githubusercontent.com/assets/2448568/11610713/d9c2af6e-9b68-11e5-85b3-521057b46dcb.png)

### Geographic Raster:
![geographic96x96](https://cloud.githubusercontent.com/assets/2448568/11610715/d9cd4a0a-9b68

[2015-12-06 22:23] pkdash opened #774 "Create an app to support user labeling resources in various ways (favorite, folder, lables etc)"

[2015-12-07 13:27] ironfroggy commented on #773
I think overall these look great, but I'm not sure what value is added by
the little dog ear on the top left. It doesn't help to distinguish any of
the icons and gives you less space for the artwork within it, especially on
the smallest sizes. And i'm pretty sure even the smallest here is larger
than will be needed in most places, so if removing the dog ear could help
compress this maybe its worth

[2015-12-07 15:40] horsburgh commented on #773
@mauriel133 - I agree with Calvin.  These look great.  Is it possible to get rid of the dog ear and make them more square than rectangular?

[2015-12-07 16:28] zhiyuli commented on #734
@mauriel133 The changes look great. One small suggestion, the attribute header text (like "Coordinate Reference System") shows in multiple lines. Can we give it more space to avoid this?
The value of the "Coordinate String" are always multiple lines, maybe we could try to align all headers and values to the top, so header-value's one to one relationship is more clear.

![image](https://cloud.githu

[2015-12-07 16:39] danames commented on #773
Nice work @mauriel133. For NetCDF, consider a stack of grids rather than
just a stack of white boxes. Also for model program, consider replacing the
checkmarks with line numbers or a combination of hashtags and line numbers.
I agree with Calvin and Jeff re the dogeared corner. Looks cool, but
probably isn't necessary. Great work though. - Dan

On Mon, Dec 7, 2015 at 8:40 AM Jeff Horsburgh <notific

[2015-12-07 17:15] mauriel133 commented on #773
Jeff, it is possible. I did these ones myself in photoshop. I will implement all the suggestions above today.

[2015-12-07 17:25] hyi commented on #759
@danames I have changed irods sign-in as you suggested and deployed it to sandbox.hydroshare.org. Please take a look and see whether it looks fine to you now. @dtarb Please take a look as well on sandbox. If you both think it looks fine now, I will create a PR for code review.

[2015-12-07 17:41] danames commented on #759
That works for me. Thanks Hong.

On Mon, Dec 7, 2015 at 10:25 AM Hong Yi <notifications@github.com> wrote:

[2015-12-07 17:45] danames opened #775 "Why do we click "My Resources" to see a list of all resources?"
When you click "My Resources" it takes you to a page that is called "Resources" that seems to show a list of ALL public resources. This seems wrong.

[2015-12-07 17:49] mauriel133 commented on #775
I'm addressing this issue in the revamp of this page that I am working on.

[2015-12-07 17:52] zhiyuli opened #776 "add oauth token life time setting to settings.py"
add oauth token life time setting to settings.py

[2015-12-07 17:55] dtarb commented on #775
The plan, and we hope it happens this week, is for Mauriel's revamp to get deployed that will be truly "My Resources" and for Alva and Zhaokun's "Discover" page to come between "My Resources" and "Apps" for discovery of other resources that can then be marked for putting on the "My Resources" page through a button on the Resource Landing Page.  I hope it all happens.

[2015-12-07 17:57] dtarb opened #778 "Correct spelling of Multidimensional on user profile contributions listing"
Correct Multidomensional to Multidimensional.  o to i.

[2015-12-07 18:07] dtarb opened #779 "OpenDAP service improvements"
The OpenDap service for multidimensional resources needs a bit of loving attention.  I suggest the following

 - Remove the statement "Tested on Netscape 5.61 and Internet Explorer 5.00 from the top.  These are embarrassingly obsolete browsers.
 - Host the service on a more proper URL.  I suggest thredds.hydroshare.org (not hydrotest41.renci.org)
 - Host the service on a standard port avoiding the

[2015-12-07 18:25] hyi commented on #759
@dtarb Can you take a look at sandbox also and let me know whether irods sign-in and browse appearance change looks OK to you or not?

[2015-12-07 18:39] horsburgh commented on #775
The "My Resources" link is viewable by unauthenticated users.  So, the default behavior for when unauthenticated users click on the "My Resources" link would be to take them to the "Sign in" page.

[2015-12-07 19:48] dtarb commented on #759
Looks good.  I suggest some small changes:
"If you want to load a **file** from an iRODS server into HydroShare, please do so by logging into **the** iRODS server here." Period at end.  I like punctuation.

[2015-12-07 19:52] dtarb commented on #759
Actually the above should read "files" as you can load more than one file for some resource types.

[2015-12-07 20:01] hyi commented on #759
@dtarb Have made the correction as you suggested above. Check out sandbox and see whether it looks good to you now.

[2015-12-07 20:20] hyi commented on #775
@horsburgh @danames @dtarb I can easily add a login required check for my resources page from admin, which would take unauthenticated users to "Sign in" page automatically. However, I think we should allow unauthenticated users to be able to view public resources, right? If so, how this work with "My resources" page? Should it just display public resources for unauthenticated users?

[2015-12-07 20:42] danames commented on #759
Looks good to me. Thanks Hong.

On Mon, Dec 7, 2015 at 1:01 PM Hong Yi <notifications@github.com> wrote:

[2015-12-07 20:51] horsburgh commented on #775
@hyi  - When the discovery page is completed, My Resources will be specific to the user.  So, there will be no viewing of resources on a My Resources page for unauthenticated users. Unauthenticated users can view public resources from the Discovery page.

When we make this next round of updates, users will have to sign in to use the My Resources page.

[2015-12-07 20:54] hyi commented on #775
@horsburgh OK. Got it. Once discovery page is integrated, I can easily change My Resources page to be login-required which will take unauthenticated users to the sign in page.

[2015-12-07 21:10] dtarb commented on #759
+1

[2015-12-08 03:03] mauriel133 commented on #734
Agree with your suggestions. I will implement them with the next changes.

[2015-12-08 14:55] hyi commented on #759
@danames @dtarb The fix has been merged and build on dev.hydroshare.org. You can test it out and close this issue if things are working on dev.

[2015-12-08 19:35] rayi113 commented on #779
Item #1: I changed Tested on Netscape 5.61 and Internet Explorer 5.00 to all dashes.
Item #2: Done - http://thredds.hydroshare.org/ points to http://hydrotest41.renci.org/
Item #3: Done via port forwarding in iptables

[2015-12-09 11:47] dtarb opened #783 "Discover page improvements"
Based on review of the implementation presently on beta I have the following suggestions

1.  Author and Creator are equivalent.  So only filter by one of them.  Perhaps one of them is Owner mislabeled.  I suggest the following people filters

  - Filter by Author
  - Filter by Owner

2.  Use singular/plural consistently.  I suggest singular (i.e. Author, not Authors) as even though a resource can

[2015-12-09 18:08] #759 closed

[2015-12-09 18:08] danames commented on #759
Just tested on dev.hydroshare.org. The new text and link look good. Closing this issue.

[2015-12-09 18:13] danames opened #785 "Clicking the button to add data from iRODS shows a form that needs some text edits."
Click to add a new resource
Click the new "here" button to add a resource from iRODS
The form that is displayed needs some text edits:
- [x] Top text: Change "Sign in" to "Sign in to an iRODS Server"
- [x] Change "Password" to "iRODS Password" so that they know not to use their HydroShare password here
- [x] Change "Username" to "iRODS Username" for the same reason
- [x] Move "Host" to above "Port

[2015-12-09 20:13] #547 closed

[2015-12-09 20:14] #546 closed

[2015-12-09 20:16] #548 closed

[2015-12-09 20:17] mohamedmorsy commented on #637
This has been addressed on issue #548

[2015-12-09 20:17] #637 closed

[2015-12-09 20:23] mjstealey commented on #783
Is the list of discovered items hard set to only return 20?
Example, from beta: https://beta.hydroshare.org/search/?q=GenericResource

Though there are 76 Generic Resource types found, the discovery page only displays 20 of them. Unsure if there is a paging mechanism that I'm missing, but I didn't see one present.

[2015-12-09 20:30] xuezhaokun commented on #783
I did a filter in the query to simplify the faceted results. I only show
the resources with faceted results count greater than 2.

Zhaokun

On Wed, Dec 9, 2015 at 3:23 PM, Michael J. Stealey <notifications@github.com

--
Best,
Zhaokun

[2015-12-09 20:50] xuezhaokun commented on #783
I think I can try to do the filtering stuff from the front-end instead of doing it in the query. I will take a look whether that works better.
Thanks for pointing out!

[2015-12-09 20:50] horsburgh commented on #783
On the My Resources page, we are trying out scrolling the resource list rather than paging.  We're still open to feedback on that, but now that you will be able to sort on each of the columns in the list I think this will work. I think we should be consistent with how the lists behave on both the My Resources and the Discover page.

[2015-12-09 21:18] hyi commented on #785
@danames This has been fixed and merged to develop, and beta has been updated with the latest develop. So you can test it out on beta and close the issue if it works as expected.

[2015-12-09 21:22] gantian127 opened #787 "Thredds service link layout update"
The Thredds service links will be shown on the resource landing page as a new section when the resource is set as a "public" resource.
The suggested section is shown as below. This can be refined with a better layout.
![16608891-c87e-4214-a6ed-b10a5a024300](https://cloud.githubusercontent.com/assets/5016511/11699139/58a67898-9e88-11e5-9fec-649a8f1160e7.png)

[2015-12-10 18:58] mauriel133 commented on #734
@zhiyuli, I aligned the headers and values to the top as suggested. This made things much clearer.

However, assigning a minimum width to the headers conflicts with the responsive layout we are trying to maintain. So this one I cannot do.

[2015-12-11 14:00] mjstealey opened #789 "non-interactive solr commands"
add commands for solr rebuild and update that don't require any user interaction

[2015-12-11 14:38] mjstealey opened #790 "Add blank line back to hydroshare-config.yaml"

[2015-12-11 20:34] mjstealey commented on #790
merged

[2015-12-11 20:34] #790 closed

[2015-12-12 00:02] pkdash opened #795 "Remove resource folder labeling feature from hs_labels app"

[2015-12-12 17:13] mauriel133 opened #798 "My Resources page improvements"
Issues found:

- [x]  For a resource for which a user has been given view permission, the “Add to my resources’ button is shown. This button should only appear if a user has not been given any permission at all.
- [x] The ‘Shared with me’ filter shows one occurrence, but when selected the table shows “no matching records found”
- [x] Getting different filtering results depending on the order that

[2015-12-12 17:19] dtarb opened #799 "Resource landing page does not open from Discover page on just deployed beta"
On the beta deployment just done I went to the site.  I did not sign in.  I clicked on Discover.  I did a search on the word "River".  A number of resources were discovered.  I clicked on the link for the first one.  I received the message "Sorry an error occurred".

[2015-12-12 17:42] hyi commented on #799
@dtarb @pkdash @xuezhaokun @mauriel133 I changed DEBUG to be true on beta, and here is the error stack trace copied below. Looks like it is caused by the new hs_labels model change although I have not looked into it further. @pkdash Please take a look and see if you can have a quick fix to this issue.
[code]

[2015-12-12 17:57] mauriel133 commented on #798
@pkdash, it seems that the 'is_mine' flag comes back as False for users who have view permissions on the resource. This flag needs to be set to True for users who have any kind of permission on the resource as those are included by default on My Resources page.

[2015-12-12 18:02] mauriel133 commented on #798
@horsburgh, @dtarb, @pkdash, if a user has some permission in a resource should they still see a button to add to or remove from My Resources page in the resource landing page?

[2015-12-12 18:13] xuezhaokun commented on #799
Got the same error here. Not sure why it is sensitive to login now. Where is the function for checking whether user login or not?

[2015-12-12 18:16] pkdash commented on #799
@hyi I am looking into this

[2015-12-12 18:25] pkdash commented on #798
@mauriel133 If a user has any of these permission (owner, edit, view) then that resource by default is in my resources. That means flagging a resource as 'mine' should be allowed for a resource that either public or discoverable and the user has no explicit permission for that resource (owner, edit or view).

[2015-12-12 18:27] mauriel133 commented on #798
Thanks. I used the other access level flags to hide the button when any of them is true.

[2015-12-12 18:32] dtarb commented on #798
I am OK with whatever is easiest right now.  A case could be made that a user may not want their my resources page cluttered with resources that have been shared with them, so should be able to unflag the resource as being in "My Resources". This could be supported by having the flag present, but default to "mine" when a resource is shared with them.  If this is done, then there is a need for a us

[2015-12-12 20:47] zhiyuli opened #800 "no icon showing up for web app resource type."
@mauriel133 @pkdash @shawncrawley @hyi
Just tried to create a web app resource on beta and found no icon showing up for it.
We just merged web app type yesterday (Friday), so maybe there is no particular icon designed for it. If possible, can we just give it a default icon (or anything) filling that blank for now?

![image](https://cloud.githubusercontent.com/assets/10070599/11763784/a6b3826c-a0d4

[2015-12-12 21:18] dtarb opened #801 "A link to a public resource fails on beta when not logged in"
This may be related to #799.  I received a link in email alerting me to a comment on a resource.  I clicked on it (with browser closed and hence not logged in) and received the error

TypeError at /resource/101f746de3ca4896a6d0f05206483766/

int() argument must be a string or a number, not 'SimpleLazyObject'

However if my browser is logged in, the link in the email works.

[2015-12-12 21:28] dtarb opened #802 "In Firefox label and star icons have gray background that does not look attractive"
In the pre-release beta deploy in Firefox the My Resources graphics have a gray background.
![p1](https://cloud.githubusercontent.com/assets/3456833/11763984/a2825b34-a0dc-11e5-96b9-3068fd7048cf.PNG)

[2015-12-12 21:40] dtarb opened #803 "Labels creation quirk with keyboard enter"
If I create a new label name by clicking Create New Label on the My Resources page, then entering text then hitting "Enter" on my keyboard (which seems the instinctive thing to do), rather than push the create button I get a page showing {"status": "success", "action": "CREATE", "label_type": "SAVEDLABEL", "resource_id": null} that makes it appear something has gone wrong.  Back, followed by refre

[2015-12-12 22:04] dtarb opened #804 "Comments and replies fail if there are too many (it seems) in current beta deploy"
In the resource https://beta.hydroshare.org/resource/101f746de3ca4896a6d0f05206483766/ @zhiyuli and I got into a discussion over no data.  My attempt to reply to his second comment generates the following error

Exception Type: IntegrityError at /comment/
Exception Value: duplicate key value violates unique constraint "django_comments_pkey"
DETAIL:  Key (id)=(15) already exists.

Full traceback be

[2015-12-12 22:11] dtarb commented on #785
Verified on pre-release beta.

[2015-12-12 22:11] #785 closed

[2015-12-12 22:12] dtarb commented on #775
Done in pre-release beta.

[2015-12-12 22:12] #775 closed

[2015-12-12 22:25] danames opened #805 "Confusing initial visit to the discover landing page"
When you click the Discover page, it starts with showing no resources. The empty table with headers and the color bar and the "Clear All" button seem out of place or daunting. I suggest the following changes for when a user first lands on the Discover landing page:

- [ ] Do not show the table headers "Title Type, First Author," etc.
- [ ] Do not show the "Clear All" button
- [ ] Do not show the c

[2015-12-12 23:19] mauriel133 commented on #800
I will upload new icons soon. I will add this one with the rest. Thanks.

[2015-12-12 23:24] xuezhaokun commented on #805
Thanks for the suggestions! Just made improvements on these items.

[2015-12-13 00:44] mauriel133 commented on #803
I fixed this error and made the textbox auto focus when the form appears. Pressing the Enter key now works as expected. Also added a check for empty string.

[2015-12-13 00:45] mauriel133 commented on #802
Changed the style to accommodate for this browser.

[2015-12-13 03:04] pkdash commented on #798
@mauriel133 I have been working to resolve the sub-issue (4th checkbox).

[2015-12-13 03:58] pkdash opened #810 "Fix bug with the access control api that returns resources with specific user permission"
This fix is needed for to fix a sub issue in #798

[2015-12-13 06:23] dtarb commented on #801
Verified that this is corrected on latest beta deploy.

[2015-12-13 06:23] #801 closed

[2015-12-13 06:24] dtarb commented on #799
Verified that this is corrected in latest deploy.

[2015-12-13 06:24] #799 closed

[2015-12-13 06:26] dtarb commented on #787
Satisfactorily implemented on resource specific tab in landing page.

[2015-12-13 06:26] #787 closed

[2015-12-13 06:36] dtarb commented on #783
There may inconsistency in the filtering due to confusion over Owner vs Author.  I changed the author of two resources to be the same name other than the owner and deleted the owner as an author.  The new name does not show up under the Filter by author facet, unless we have to wait for the solr refresh.

[2015-12-13 06:46] xuezhaokun commented on #783
There is a pagination setting for showing the results. The default set is
20 items per page. There is a 'Previous | Next' option can let users view
items on the other pages.

On Wed, Dec 9, 2015 at 3:23 PM, Michael J. Stealey <notifications@github.com

--
Best,
Zhaokun

[2015-12-13 18:38] alvacouch opened #812 "simplify API for user flagging"
The current pattern in user labeling is an API call like
    u.ulabels.favorite_resource(r)
It would probably be better to make the flag a parameter, e.g.,
    u.ulabels.flag_resource(r, FlagCodes.FAVORITE)
This requires only one set of calls for both flags.

Since the flagging system hasn't been in use for long, we could do this more easily now than later...

[2015-12-13 19:19] mauriel133 commented on #798
The fourth issue is now fixed as well as part of @pkdash's bug fix.

[2015-12-13 20:57] pkdash opened #813 "API support for cascade delete of resource assigned labels upon deletion of stored label"

[2015-12-13 22:44] mauriel133 commented on #773
These are the icons I came up with after the feedback. Please let me know your suggestions. I want to update the icons tonight so they are ready before AGU.

Multidimensional:
![multidimensional48x48](https://cloud.githubusercontent.com/assets/2448568/11769920/cb7c1506-a1af-11e5-9bd9-14fdf3e1cca9.png)
Time Series:
![timeseries48x48](https://cloud.githubusercontent.com/assets/2448568/11769925/cb7f2

[2015-12-13 22:52] horsburgh commented on #773
I think they look awesome. Thanks @mauriel133

[2015-12-13 23:21] zhiyuli commented on #773
@mauriel133  Nice work! I like them!

[2015-12-13 23:37] mohamedmorsy commented on #773
@mauriel133 are you going to keep the same one for the SWAT Model Instance? As I do not see the icon in the list.

[2015-12-14 01:27] mauriel133 opened #818 "Favicon missing"
The small icon that shows in the browser tab is missing. I will create and add one using the HydroShare logo in the home page.

[2015-12-14 01:34] dtarb commented on #803
Verified fixed.  Thanks!

[2015-12-14 01:34] #803 closed

[2015-12-14 01:35] dtarb commented on #802
Verified fixed.  Thanks!

[2015-12-14 01:35] #802 closed

[2015-12-14 06:11] pkdash opened #820 "Duplicate record problem in hs_labels app"

[2015-12-14 16:23] mjstealey opened #823 "remove http from curl in hsctl"
don't pre-designate http or https in the hsctl curl statements

[2015-12-14 17:01] mauriel133 opened #825 "Labels and Favorite flags do not persist after refreshing the page."
As deployed live on hydroshare.org right now.

Steps to reproduce:
*  Add a resource to My Resources from the discovery page.
* In My Resources page, add a label and tag the resource with it.
* Refresh the page.
* At this point, the label appears no longer applied to the resource.

Other users might not experience this as it was the case when testing on beta, but it keeps happening to me. I can't

[2015-12-14 17:12] mjstealey commented on #825
@mauriel133 - I can also replicate this behavior on www using the steps outlined.

Browser used: Safari - Version 9.0.1 (11601.2.7.2)

[2015-12-14 17:31] hyi commented on #825
@mauriel133 I can replicate this behavior on www as well. I also tried to create a resource, then followed the same steps and labels persist after refresh for the resources I created, but not persist after refresh from the resource I added from discovery page. So perhaps there are some underlying logic that clears the labels for resources added from discovery page?

[2015-12-14 17:48] mauriel133 commented on #825
While trying to reproduce this error I found another issue:
* Started with a clean database and created two users, user1 and user2.
* Created a resource with user1 and made it discoverable.
* Logged in with user2 and tried to find the resource in the discovery page, but it doesn't show up no matter what search string I use.
* Went to user1's profile and clicked on the resource from there.
* In the

[2015-12-14 17:56] hyi commented on #825
@mauriel133 This issue may be caused by the missing solr index update piece. I have already set up a cron job to be run every midnight to update solr index to make new resources created during the day discoverable from discovery page, but you will not be able to see the new resources created discoverable until the next day. I will investigate on-demand solr index update next after AGU, but this is

[2015-12-14 18:06] hyi commented on #825
@mauriel133 @alvacouch @dtarb On the other hand, apart from newly created resource cannot be discovered from discovery page, internal server error can still be fixed without on-demand solr index update when adding a resource to My Resources from resource landing page. If you can reproduce this error in your local development environment, can you see a more informative debug error message other tha

[2015-12-14 18:07] zhiyuli opened #826 "Discover page and landing page show different titles for the same resource."
When I created this resource https://www.hydroshare.org/resource/c813e5c26ba24222ba1b73f43943aca6/
 I named it "Raster 1". Later I changed its title to "Charles de Gaulle Airport, Paris".
Now on "My Resource" page and the resource landing page the title is correct. But discover page still shows old title.

![image](https://cloud.githubusercontent.com/assets/10070599/11789244/82f6c94a-a252-11e5-961

[2015-12-14 18:10] hyi commented on #826
@zhiyuli @dtarb @alvacouch This error is caused by non-on-demand solr index update as well. We are currently doing solr index update each midnight, which means new changes made will not get picked up by discovery page until the next day after solr index update is run. This will be resolved once on-demand solr index update is implemented which I plan to do after AGU.

[2015-12-14 18:12] mauriel133 commented on #825
For the issue trying to add the resource to My Resources, all the information I could gather is posted above.

The original issue of labels not persisting after page refresh, I still haven't found a way to reproduce it in my local environment.

[2015-12-14 19:44] shawncrawley opened #827 "WebApp Resource type should not store resource id's in its metadata database"
The WebApp is storing its own resource ID in the RequestURL class database object. This was a work-around that allows other resource's to check the publicity of the created WebApp before displaying the WebApp's button under the "Related Tools" tab. We need to find a different way to do this.

[2015-12-14 19:45] shawncrawley opened #828 "WebApp Resource type should not have the "Download Bagit" link on its landing page"

[2015-12-14 20:01] hyi commented on #825
@mauriel133 I can reproduce the label refresh issue in my local dev environment. Please use hsproxy irods account as set up by default in local_settings.py in our codebase and download http://distribution.hydroshare.org/public_html/www.deploy.sql to your hydroshare directory, and change the line to "HS_DATABASE: www.deploy.sql" in config/hydroshare-config.yaml to deploy in your local dev env. Then

[2015-12-14 22:26] pkdash commented on #825
@mauriel133 and @hyi I think I found the bug. If you look at this line (https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/__init__.py#L491) it is missing the ```discovered_resources``` in the for loop.

[2015-12-14 22:28] mauriel133 commented on #825
Good job! Can you make a PR for this and have @hyi deployed it on beta for testing?

[2015-12-14 22:31] pkdash commented on #825
Will do.

[2015-12-14 22:37] dtarb commented on #826
Would it be possible to run solr index more frequently (e.g every hour) during AGU to mitigate this

[2015-12-14 23:44] hyi commented on #826
@dtarb @alvacouch @zhiyuli Have just updated cron job on www to run solr index update every 30 minutes. Let me know if you notice any issues with it.

[2015-12-15 00:42] mauriel133 commented on #825
Confirmed fixed on beta and www.

[2015-12-15 13:24] dtarb commented on #826
There is still quirkiness that appears more than waiting for a solr update.  I just checked (5:20 am San Francisco time) and did a search on netcdf.  A resource created with Jon Pollak during AGU demos yesterday appears with the title untitled in the discover listing, but if you click in the link to it you see that its title is "Rapid Result".  This title was automatically populated when it was lo

[2015-12-15 13:26] alvacouch opened #831 "subclassing QuerySet to integrate resources, access control, and labels"
I have looked at how the new "my resources" page uses access control and labeling, and how the rest of the system uses these features. I conclude that there is a way to make this much easier to code. We need to be able to write complex filter chains combining access control, resource type, labels, and other things.

This came up when trying to combine queries for labels and access control. The bas

[2015-12-15 13:42] alvacouch commented on #820
This isn't solved. I have a new version of labeling that will expose the issue more directly, by raising an exception at time of request, rather than at time of subsequent request. This will protect the integrity of the labeling system while making discovery of the root cause easier. Will pursue after AGU rush is over.

[2015-12-15 13:44] alvacouch commented on #810
Tested by new test case. Possible to close.

[2015-12-15 13:45] dtarb opened #832 "Discover page counts and facets incorrect and confusing"
Following are issues identified during demo of the current discover interface at AGU:

 - [x] The numbers that appear next to filter facets in discover are sometimes incorrect.  Example, at present a search on the term "netcdf" results in a listing of 6 resources (not logged in) but the filter by resource type facet has netcdfResource 7.
 - [x] Show facets even if there is one entry.  A search may

[2015-12-15 14:36] hyi commented on #832
@dtarb @xuezhaokun @alvacouch @danames @horsburgh  How about if I add numbers and title to the color bar legend to make it something like this:
![colorlegendexample](https://cloud.githubusercontent.com/assets/476302/11813297/a0e4df70-a30e-11e5-8d80-eed36e23d617.png)
Perhaps it is clearer to only use five color band like in the image above rather than eight as being used currently. I think adding c

[2015-12-15 14:36] mjstealey commented on #789
merged into develop

[2015-12-15 14:36] #789 closed

[2015-12-15 14:37] mjstealey commented on #823
merged into develop

[2015-12-15 14:37] #823 closed

[2015-12-15 14:38] mjstealey commented on #688
completed - follow on tasks to be added as new issues

[2015-12-15 14:38] #688 closed

[2015-12-15 14:39] mjstealey commented on #594
merged into develop - follow on tasks should be added as new issues

[2015-12-15 14:39] #594 closed

[2015-12-15 15:04] mjstealey commented on #620
This is a permissions issue and is expected if trying to access admin pages as an unprivileged user.

On the production VMs with debug = FALSE you will not see the python error dump, but rather the friendlier "Sorry, an error occurred" page.

You would see a similar page if you try to navigate to a nonexistent page.
ie: https://www.hydroshare.org/this-page-does-not-exist/

[2015-12-15 15:04] #620 closed

[2015-12-15 15:06] mjstealey commented on #417
@selimnairb - is this still an issue?

[2015-12-15 15:06] mjstealey commented on #413
@selimnairb - is this still an issue?

[2015-12-15 15:08] mjstealey commented on #729
@selimnairb - is this still an issue?

[2015-12-15 15:08] alvacouch commented on #832
I approve of Hong's suggestions. @xuezhaokun and I will discuss these issues tonight.

[2015-12-15 15:22] xuezhaokun commented on #832
@alvacouch Sure. Talk to you later. I try to fix the above issue as much as possible now.

[2015-12-15 16:18] danames commented on #832
I think the color bar is unnecessary on this page.

On Tue, Dec 15, 2015, 8:22 AM Zhaokun Xue <notifications@github.com> wrote:

[2015-12-15 16:27] zhiyuli commented on #800
@mauriel133
verified on www.

[2015-12-15 16:27] #800 closed

[2015-12-15 16:38] xuezhaokun commented on #832
Following are issues identified during demo of the current discover interface at AGU:

 - [ ] The numbers that appear next to filter facets in discover are sometimes incorrect.  Example, at present a search on the term "netcdf" results in a listing of 6 resources (not logged in) but the filter by resource type facet has netcdfResource 7.
 - [ ] Show facets even if there is one entry.  A search may

[2015-12-15 16:40] xuezhaokun commented on #832
Following are issues identified during demo of the current discover interface at AGU:

 - [ ] The numbers that appear next to filter facets in discover are sometimes incorrect.  Example, at present a search on the term "netcdf" results in a listing of 6 resources (not logged in) but the filter by resource type facet has netcdfResource 7.
This does not happen to me when I did test on my local. I am

[2015-12-15 16:54] xuezhaokun commented on #832
I am not sure why I cannot commit my changes on branch 832-improvements-on-discovery. I pushed the changes, but it does not show up on github.

[2015-12-15 16:56] horsburgh commented on #832
I'm inclined to agree with @danames. Given that there are numbers in each of the bubbles, I don't think we need the color bar.

[2015-12-15 18:46] hyi commented on #832
Agreed given that there are numbers in each of the bubbles, the colorbar legend is not a must-to-have (although I think it is a nice-to-have) and may not be necessary on this search page as of now. If the consensus is to remove the colorbar legend for now, @xuezhaokun, could you remove it as part of your feature branch for this issue? You just need to remove <svg> drawing for color bar legend in s

[2015-12-15 18:52] hyi commented on #832
@xuezhaokun Also, I think we can reverse the colormap to make the lighter color to represent smaller numbers and darker color to represent larger numbers, which is more in line with the colormap convention like the image I copied above. The lighter background color in the bubbles make the white numbers on the bubble hard to see, so we can change the font color for number labels on the bubbles to b

[2015-12-15 19:16] dtarb commented on #832
I think that the consensus between @horsburgh @danames and me is to remove the color bar, but keep a color scale that goes from dark (many) to light (few).  Font and color adjustments suggested for readability are good.

[2015-12-15 19:28] hyi commented on #832
@xuezhaokun Looks like the consensus is to remove the color bar on search page and reverse the current color map from light (few) to dark (many) and adjust number label font and color accordingly. It should be a simple change to incorporate into your current feature branch for this issue. Let me know if you want me to help with this ASAP, since I will take off for holiday break starting this Thurs

[2015-12-15 19:37] xuezhaokun commented on #832
@hyi  I can finish it by tonight. I created a branch 832-improvements-on-discovery. I am not sure why i cannot commit my changes. It seems the changes were committed successfully, but the changes are not shown on github repository. Any idea?

[2015-12-15 19:39] hyi commented on #804
@dtarb I tried to reply to @zhiyuli second comment two times in an effort to reproduce this issue, but my comments were posted successfully without issues both times. @dtarb Can you still reproduce this issue on beta? I cannot reproduce this issue so far.

[2015-12-15 19:47] hyi commented on #832
@xuezhaokun What does "git status" show? It may give you some clue on what is happening. Not sure what is going on since it never happened to me before.

[2015-12-15 19:56] xuezhaokun commented on #832
@hyi it just said something like successfully pushed the changes. Just like the thing I got before when i commit and push my code. I will take a look at it. Thanks!

[2015-12-15 20:03] hyi commented on #832
@xuezhaokun Make sure when you push, you add "origin your_branch_name" to git push command to make sure it pushes to the branch you want. Good luck in finding the root of the problem soon.

[2015-12-15 22:08] hyi commented on #804
@dtarb and I have used the same account trying to figure out what is going on with this issue. I did initially see the issue, but after clearing the browser cache, I don't see the issue any more. @dtarb cannot reproduce this issue either even without clearing browser cache. Not sure what is going on, since the primary id is auto-generated, and should not clash with an existing id. Anyway, it appea

[2015-12-15 22:40] mjstealey commented on #832
@xuezhaokun - when in doubt, git status is your friend. Also, if you're working from a different machine or sometimes even a different network than you normally work from you may need to tweak the configuration of your git environment.

In general, you should be following a pattern similar to this (using branch 832 as an example):
[code]
You should be seeing some kind of output when you `git push`

[2015-12-16 04:16] dtarb commented on #804
OK closing.

[2015-12-16 13:44] alvacouch commented on #831
Update: I have prototyped this in my personal playground (with empty resource class to speed testing) and prognosis is excellent. The whole pattern above is practical. I had to override the Manager class as well, according to the "Custom Manager" pattern documented in Django.

I had a little difficulty with recursive imports; looking at stackoverflow, *everyone who tries this does!*

After playing

[2015-12-16 13:53] alvacouch commented on #820
It seems like the real solution is to enclose the get_or_create statements in a Django transaction block. If this doesn't work, _there is a bug in Django_. I am surprised that a transaction block might be necessary *for a single statement*, but "that's life". Worth a try for sure.

[2015-12-16 15:11] mjstealey opened #834 "Add missing migrations files for hs_model_program and hs_modelinstance"
It was discovered that the repo was missing two migrations files.

[2015-12-16 15:46] mjstealey commented on #834
merged into develop

[2015-12-16 15:46] #834 closed

[2015-12-16 15:50] mjstealey opened #836 "update pg.development.sql"
Summary:

- [x] delete stale content types
- [x] add hs_tool_* permissions into Hydrosphare Author group
- [x] change "Resources" to "My Resources"
- [x] add Discover page link
- [x] add Apps page link (linked to https://appsdev.hydroshare.org/apps)
- [x] change "Support" to "Help"
- [x] reorder top page links to be: My Resources, Discover, Apps, Help

[2015-12-17 01:25] ironfroggy commented on #836
Do you ever anticipate moving this initial setup out of this SQL file and into proper Django migrations? An initially migrated database should work out of the box, and the dependency on this SQL file signals some lacking in those migrations we could try to address.

[2015-12-17 01:29] ironfroggy commented on #831
This definitely sounds like the right direction with positive outcomes. I'd love to see what you have in progress. Can you share some of your work, even incomplete, so we can follow along and maybe you can get some early feedback on the pattern you're implementing?

[2015-12-17 13:52] mjstealey commented on #836
Ultimately yes, I would love to ditch the database as it can mask migrations issues from the user.

What's required however wouldn't be more migrations files but rather fixtures files for the initial data that populate the pages and links normally set up from the mezzanine admin page that get saved as database objects. Once the fixtures are established we would also need to add a "manage.py loadda

[2015-12-17 14:30] ironfroggy commented on #836
I would actually consider fixtures a lesser options to migrations. They
come from a time long before Django even had migrations, and given that
there are both schema and data migrations, i think its safe to consider
them largely deprecated. Where they really fail is that fixtures are
entirely unaware of migrations, and break when the schema changes with no
way to update them.

On Thu, Dec 17, 2015

[2015-12-17 16:40] mjstealey commented on #836
Interesting, I wasn't aware of data migrations in Django. Looks like a hybrid between a normal migrations file and Python functions.

I'll look into implementing this over the holiday break. Though in them meantime I'd like to being in the updated sql file to keep the develop branch up to date with what is deployed.

Also look like we could benefit from a Django update based on the new features si

[2015-12-17 17:03] mjstealey opened #838 "Use data migrations to replace pg.development.sql"
Since a pre-defined database can obscure potential migrations issues it's best practice to allow all migrations to run when instantiating the site and then use data migrations to populate necessary data.

Items that require data migrations

Content > Pages:
- [ ] Home page (Rich Text Page)
- [ ] My Resources page (Rich Text Page)
- [ ] Discover page (Rich Text Page)
- [ ] Apps link (Link Page)
- [

[2015-12-17 17:03] mjstealey commented on #836
@ironfroggy - new issue #838 created to address deprecation of pg.development.sql

[2015-12-18 01:00] selimnairb commented on #413
@mjstealey No, this issue is no longer valid.  Closing.

[2015-12-18 01:00] #413 closed

[2015-12-18 16:17] mjstealey commented on #836
merged with develop
Subsequent issue #838 created to implement data migration suggestions made by @ironfroggy

[2015-12-18 16:17] #836 closed

[2015-12-18 17:03] danames opened #839 "Create an initial "Collection" resource type"
We (BYU) are going to create an initial version of a "collection" resource type. It will include the following steps:

- [ ] Use the web app resource type as a template since it doesn't require uploading a file and neither will collection.
- [ ] The add a "resource specific meta data element" that is a list of resources (by GUID) that are grouped using this collection
- [ ] To create the resource,

[2015-12-18 17:20] dtarb opened #840 "Sign in to iRODS button on resource editing page needs made consistent with resource creation"
I suggest removing the green button "Sign in to iRODS" on the resource editing page and replacing it with the less prominent statement: "If you want to load files from an iRODS server into HydroShare, please do so by logging into the iRODS server here."

[2015-12-18 17:37] danames opened #841 "Creating a new resource - The list of resource types should be alphabetized!"

[2015-12-18 17:44] danames opened #842 "Web App Resource: On the "Web Apps" tab, show the icons for the web apps that can be launched"
We should show the user icons to launch apps from resources.

- [ ] When the user creates a Web App resource in HydroShare, they should have the option to 1) upload an icon of a specified size, or 2) link to an icon on an existing web page, or 3) if it is a Tethys app, we should be able to grab the icon dynamically from Tethys and propose it to the user as a potential icon to use.
- [ ] On the lan

[2015-12-18 17:45] mohamedmorsy commented on #841
It would be great if we can do two groups inside the list: one for the data resources and the other for the model resources. Then underneath each group we can arrange the resource types alphabetically

[2015-12-18 17:46] danames opened #843 "The Web Site Name for HydroShare should be spelled with an upper case "S""
Open HydroShare in Chrome and look at the name of the web site in the tab that appears. It is spelled "Hydroshare". I believe we should be consistent with the uppercase "S". Or a lowercase "s" if that is what is preferred, but I believe the current design protocol is uppercase "S".

[2015-12-18 17:52] danames opened #844 "New Resource Type: R Script"
We need to create an "R Script" resource type.
- [ ] user create a new resource type and selects "R Script" from the list of types
- [ ] user uploads one or more ".r" files
- [ ] user supplies metadata
- [ ] user launches web app to edit and/or run the script

This new resource type will eventually integrate with the CUAHSI R scripter Tethys app, allowing users to run R in the web.

[2015-12-18 17:57] danames commented on #841
Good idea, @mohamedmorsy. Let's start with just alphabetizing what is there, and then maybe we can find a better way. For example, there could eventually be two drop down lists, one for data and one for models...

[2015-12-18 18:25] horsburgh commented on #839
Seems like the much easier way to go about this for users would be to add a button to the My Resources page. Then, whichever resources are selected on the My Resources page would be added to a new resource that is a collection. Why not do that first?

Also - the list of resources aggregated into the collection should be set in the resource map document and not in the resourcemetadata.xml file.

An

[2015-12-18 18:35] danames commented on #839
We've discussed this first suggestion, and actually it is part of the list
of to do items on the issue (the last entry). However, it seems like it is
better to get the resource type built correctly first, and then work on
ways to build the resource. We have identified 3 ways: 1) user edits the
resource on the resource landing page. 2) user builds a map with various
data layers and other linked res

[2015-12-18 18:45] horsburgh commented on #839
I can talk to @mauriel133 about what we can do with the content section. It will be important to figure this out for both collections and "composite" resources (if we eventually want to support those).

[2015-12-18 18:50] danames commented on #839
What is the difference between a collection and a composite?

On Fri, Dec 18, 2015 at 11:50 AM Jeff Horsburgh <notifications@github.com>
wrote:

[2015-12-18 18:58] horsburgh commented on #839
Composite resources may have content files but also reference other resources.

[2015-12-21 16:46] hyi commented on #827
@shawncrawley I am a bit confused after I saw you assigned this issue to me as I thought you need to address this issue for WebApp Resources by referring to suggestions from @ironfroggy and @selimnairb to the PR for merging this WebApp resource type initially. I agree you don't need to store the resource ID, but you should be able to retrieve the resource object directly. See suggestion from @iron

[2015-12-21 16:50] yirugi opened #845 "'resource_type' filter on resourceList REST API"
It seems that the 'resource_type' filter is not working for getting resource list. (/resourceList/)

Here's an example.
https://www.hydroshare.org/hsapi/resourceList/?page=2&resource_type=GenericResource

I get the other resource types, such as TimeSeriesResource.

[2015-12-21 17:06] danames commented on #827
Hong et al. The issue here is that we need to retrieve the permissions for
the current web app so that we know whether or not to show it to a certain
user. We were self-storing the resource id for the current web app as a way
to then check the permissions. Can you please tell us the better more
correct way to find out the permissions on the current web app? I.e. we
need to know if the current user

[2015-12-21 17:25] shawncrawley commented on #827
@hyi If I understand correctly, the fix to this issue is no small task and has to do with possible flaws in HydroShare's core infrastructure. As I feel completely inadequate and am likely unauthorized to make core infrastructure changes, I do not feel this is an appropriate issue for me to resolve. I assigned the issue to you in hopes that you would know who is the more adequate candidate to re-as

[2015-12-21 17:37] shawncrawley commented on #827
@ironfroggy You seemed to have the best idea of how this issue could be addressed. You provided the following as an example in the #772 PR discussion:

`res = BaseResource.objects.get(object_id=metadata.id)`

I still do not completely understand how to begin to investigate and implement your above example, as I have little understanding of the hs_core components. So any additional direction would

[2015-12-21 21:26] #825 closed

[2015-12-21 21:26] mauriel133 commented on #818
Confirmed working.

[2015-12-21 21:26] #818 closed

[2015-12-21 21:27] mauriel133 commented on #798
All issues confirmed working.

[2015-12-21 21:27] #798 closed

[2015-12-21 21:27] mauriel133 commented on #773
All icons implemented now. Closing.

[2015-12-21 21:27] #773 closed

[2015-12-21 21:28] mauriel133 commented on #734
All suggestions addressed and confirmed working. Closing...

[2015-12-21 21:28] #734 closed

[2015-12-21 21:29] mauriel133 commented on #448
This is no longer an issue since the addition of the new My Resources page. Can we close it?

[2015-12-21 21:32] horsburgh commented on #448
Yes. I'm going to close it since it is not an issue with the new implementation of the My Resources page.

[2015-12-21 21:32] #448 closed

[2015-12-21 22:03] hyi commented on #827
@danames @shawncrawley If I understand this correctly, I think it all comes down whether you can retrieve the resource object from its metadata object. It looks to me like @ironfroggy's suggestion of using something along the line of "res=BaseResource.objects.get(object_id=metadata.id) is a good starting point to try out whether you can retrieve the resource object from a metadata object, i.e., yo

[2015-12-22 14:07] selimnairb commented on #839
@danames We should use foreign keys to refer to resources from within the HydroShare database, not GUIDS.

[2015-12-22 16:45] horsburgh commented on #839
Not sure about all of the details, but the resource map would use the full URL to the resources that are aggregated into the collection.

[2015-12-22 18:53] mjstealey opened #846 "update hs_base docker image"
Update the hs_base docker image so that the bulk of installation is pre-complied into the static docker image to reduce user build time.

[2015-12-23 12:35] rphooper opened #848 "Unable to create shape file resource"
I get an error (not specific) when either uploading multiple files creating a shape file resource or when uploading a zip file with all the files.
[canadwscmda_p_1m_v6-0_shp.zip](https://github.com/hydroshare/hydroshare/files/70758/canadwscmda_p_1m_v6-0_shp.zip)

[2015-12-23 13:00] dtarb commented on #848
I was able to reproduce this error when not specifying a title.  However if I enter a title, the resource is created.  This suggests checking the code related to assigning a title when a user does not initially input one.

[2015-12-23 13:03] rphooper commented on #848
But I did give the resource a title (“Canadian Watersheds”). I still get an error when uploading this zip file. The error simply states “Sorry, an error occurred.”

From: David Tarboton [mailto:notifications@github.com]
Sent: Wednesday, December 23, 2015 8:01 AM
To: hydroshare/hydroshare <hydroshare@noreply.github.com>
Cc: Rick Hooper <RHooper@cuahsi.org>
Subject: Re: [hydroshare] Unable to create

[2015-12-23 13:25] dtarb commented on #848
I tried again and right now am getting an error all the time, so something wrong is happening.

[2015-12-23 13:57] mjstealey commented on #848
Using Rick's file I was able to create a shapefile resource: https://www.hydroshare.org/resource/6ba5d65099d34be3aef233cf82d6d1cb/

Will need to look at server logs and see if anything out of the ordinary occurred to explain the error that you've been encountering.

[2015-12-23 14:56] mjstealey commented on #848
Attaching 12/23/2015 of system.log from www for debugging purposes.

[system-log-12-23-2015-only.txt](https://github.com/hydroshare/hydroshare/files/70903/system-log-12-23-2015-only.txt)

[2015-12-23 16:38] danames commented on #848
Thanks for sending the logs, Michael.

Drew, seems we have received a bug for Christmas! Please take a look and
let me know what you find out!

- Dan

On Wed, Dec 23, 2015 at 7:56 AM Michael J. Stealey <notifications@github.com>
wrote:

[2015-12-23 16:46] danames opened #849 "Create a new resource instance for a MODFLOW model program"
As per Rick Hooper email of 12/23/2015. This could (should?) be created using the existing model program resource type. However someone needs to determine which version of MODFLOW to include and needs to upload it with all it's requisite executable components, etc.

[2015-12-23 16:48] danames opened #850 "Create a new resource type for a MODFLOW model instance resource"
This should be a new resource type to hold the input and output files for a MODFLOW model. The MODFLOW program itself is stored in a separate resource.

[2015-12-23 17:07] mohamedmorsy commented on #849
@danames @goodalljl  We already could share MODFLOW (the engine) through HydroShare using the available version of the Model Program resource. There is a metadata term for the program version which allows the user to upload different versions of the model. I think, we do not need to create a new resource type for that. But I agree that maybe we need to create a specific Model Instance resource typ

[2015-12-23 17:41] danames commented on #849
Thanks Mohamed. I originally titled this issue "Create a new resource type"
but I changed it to "Create a new resource instance". Maybe that is still
the wrong wording. Basically someone needs to go into HydroShare as a user
and upload MODFLOW using your existing Model Program resource type...

On Wed, Dec 23, 2015 at 10:08 AM Mohamed M. Morsy <notifications@github.com>
wrote:

[2015-12-23 19:40] dtarb commented on #850
Similar to #849 here we should first try and populate a standard model instance resource with the files for a MODFLOW model instance.  This should be the default whenever a new kind of model program and instance is found.  The standard model program and model instances should only be extended by programming where there are pressing needs for extension due to them not being able to hold the content

[2015-12-28 18:30] zhiyuli commented on #848
i was able to create four resources on my local vm using Rick's file:
zip with title, zip without title, unzip with title, unzip without title.

from the log Michael sent, i can see some errors occurred at
create-resource phase but the traceback records didn't point to a specific
location in the feature app. Need some help from the team interpreting the
log deeply or reproducing the error locally.

[2015-12-28 19:42] mjstealey opened #851 "SOLR - update_index - deleted resources can desync the database and solr index and generate an error"
Oddly the search for *2015* appears to fail...

- Valid: https://www.hydroshare.org/search/?q=2013
- Valid: https://www.hydroshare.org/search/?q=2014
- **Error:** https://www.hydroshare.org/search/?q=2015 (resolved by rebuild_index)
- Valid: https://www.hydroshare.org/search/?q=2016

Update - 12/29 - Based on Ray's note of being the current year, the search term *dec* also fails

- Valid: https://

[2015-12-29 15:12] rayi113 commented on #851
Noting that 2015 s is the current year.  Further debug on Friday Jan 1 2016 to see if 2015 works and 2016 fails?  Also, should add check to see if entered year is greater than the current year.

[2015-12-29 15:36] mjstealey commented on #851
We probably do not want to exclude any search terms as they could be relevant to other data entered by the user. A future year for example could refer to an abstract note for future appearance/publication or even a value of something other than a date. (i.e. After taking 2020 samples of XXX it was discovered that...)

[2015-12-29 23:58] #713 closed

[2015-12-29 23:58] #714 closed

[2015-12-29 23:59] #712 closed

[2015-12-30 00:01] gantian127 commented on #711
@pkdash as this has been merged, I will close this issue.

[2015-12-30 00:01] #711 closed

[2015-12-30 00:14] gantian127 commented on #754
@pkdash would you please close this issue, if you think it has been fixed? Thanks

[2015-12-30 00:21] gantian127 commented on #632
@Castronova would you please close this issue if you think it is fixed? Thanks.

[2015-12-30 00:26] gantian127 commented on #716
@pkdash would you please close this issue if you think it is fixed? Thanks

[2015-12-30 00:27] #692 closed

[2015-12-30 00:32] gantian127 commented on #534
@rayi113 would you please close this issue, if you think it is fixed? Thanks

[2015-12-30 00:38] #211 closed

[2015-12-30 00:48] gantian127 commented on #496
@mjstealey @selimnairb would you please close this issue if you think it is fixed? Thanks

[2015-12-30 00:49] #435 closed

[2015-12-30 00:49] #393 closed

[2015-12-30 00:54] gantian127 commented on #565
@hyi @dtarb would you please close this issue if you think it is fixed? Thanks

[2015-12-30 00:57] gantian127 commented on #742
@pkdash would you please close this issue if you think it is fixed? Thanks

[2015-12-30 01:02] gantian127 commented on #488
@hyi would you please close this issue if you think it is fixed? Thanks

[2015-12-30 01:19] gantian127 commented on #190
@Castronova would you please close this issue if you think it is fixed? Thanks

[2015-12-30 01:39] gantian127 commented on #840
@dtarb would you please close this issue if you think it has been fixed? Thanks

[2015-12-30 01:46] gantian127 commented on #813
@pkdash would you please close this issue if you think it is fixed? Thanks

[2015-12-30 01:49] gantian127 commented on #810
@pkdash would you please close this issue if you think this is fixed? Thanks

[2015-12-30 01:51] gantian127 commented on #795
@pkdash would you please close this issue if you think it is fixed? Thanks

[2015-12-30 02:00] gantian127 commented on #783
@dtarb @xuezhaokun would you please close this issue if you think it is fixed? Thanks

[2015-12-30 02:00] #779 closed

[2015-12-30 02:02] gantian127 commented on #776
@zhiyuli would you please close this issue if you think it is fixed? Thanks

[2015-12-30 02:06] #774 closed

[2015-12-30 03:03] hyi commented on #488
The implementation for this has been deployed. Closing

[2015-12-30 04:21] #795 closed

[2015-12-30 12:41] dtarb commented on #488
In www.hydroshare.org the citation is currently
![capture](https://cloud.githubusercontent.com/assets/3456833/12050806/7d439b88-aeb7-11e5-8c8f-adc48b966bc6.PNG)

This is not appropriate in my opinion.  I think it should be
EPA, (2015), Storm Water Management Model (SWMM), Version 5.1.010 with Low Impact Development (LID) Controls, http://www2.epa.gov/water-research/storm-water-management-model-swm

[2015-12-30 12:59] dtarb commented on #783
I suggest the following

1.  Show filter facets with count > 0.  I find it confusing to see a resource with an author that is not on the facet list.  Also if the only occurrence of the resource is on one of the Next pages then when looking at the first page a user has no way of knowing there is anything by that author to select.

2.  I would prefer the color bar at the top to be removed, and the c

[2015-12-30 13:06] dtarb commented on #840
This has not yet been fixed.

![untitled](https://cloud.githubusercontent.com/assets/3456833/12051068/7aa371c4-aebb-11e5-959c-1c8a19dedeae.png)

[2015-12-30 13:17] dtarb commented on #565
@hyi please change the email as follows

Please check on the last issue.  @ironfroggy noted that the expiring is unlikely to be true. I think we should implement expiring when possible (a separate issue) but not state it in the email in case we are unable to.  Please add "The HydroShare Team" at the end.

[2015-12-30 13:53] dtarb commented on #488
See also the HEC-HMS resource I have created in HydroShare at [GIUD](https://www.hydroshare.org/resource/77c54c01ab99439abb263ea0e11b18c3/).  I am unable to make this public, as it has no resource files (I have added @horsburgh, @hyi, @mohamedmorsy, @mauriel133, as editors so you can see this.  I did not add @goodalljl as I can not find your account in HydroShare).  Issues to address include

1.

[2015-12-30 14:57] mohamedmorsy commented on #610
@Castronova Would you please close this issue?

[2015-12-30 16:58] zhiyuli commented on #776
already merged into dev. closed

[2015-12-30 16:58] #776 closed

[2015-12-30 17:08] zhiyuli opened #852 "Add comment sender name to Email notification"
Got an email notification saying I have a new comment on one of my resources. The email includes the comment content but no sender's name. I had to login HydroShare to find it out.

![image](https://cloud.githubusercontent.com/assets/10070599/12054062/a3a51598-aedc-11e5-9814-facffab3ad6c.png)

Having something like the HipChat's email notification would be awesome.

![image](https://cloud.githubus

[2015-12-30 17:14] zhiyuli commented on #804
Try to reply a comment on www but got an error.
https://www.hydroshare.org/resource/f88ad2b366524813a9103f0bab226a34

![image](https://cloud.githubusercontent.com/assets/10070599/12054164/eb0f48d0-aedd-11e5-83b8-b92b87dc2d27.png)

![image](https://cloud.githubusercontent.com/assets/10070599/12054168/fd6c7976-aedd-11e5-8bc4-45e2ee18ada5.png)

[2015-12-30 17:45] dtarb commented on #778
Validated now correct on www

[2015-12-30 17:45] #778 closed

[2015-12-30 17:50] dtarb commented on #459
Ordering is correct in www now.

[2015-12-30 17:50] #459 closed

[2015-12-31 16:06] mauriel133 commented on #766
Implemented and working on www.

[2015-12-31 16:09] mauriel133 commented on #768
Wouldn't the button in the landing page overlap with the functionality of the current button to add to My Resources.

[2015-12-31 16:12] mauriel133 commented on #769
Implemented and working on www.

[2015-12-31 16:14] mauriel133 commented on #717
Is this still an issue?

[2015-12-31 16:18] mauriel133 commented on #456
This has been implemented in the front end using javascript and it's working on www.

[2015-12-31 16:21] mauriel133 commented on #455
First four filters have been implemented and working on www.

[2015-12-31 16:22] mauriel133 commented on #151
Is this still an issue after the revamp of My Resources page?

[2016-01-01 13:36] dtarb commented on #766
Super!

[2016-01-01 13:36] #766 closed

[2016-01-01 13:41] dtarb commented on #769
Great!

[2016-01-01 13:41] #769 closed

[2016-01-01 14:46] dtarb commented on #717
This is fixed.

[2016-01-01 14:46] #717 closed

[2016-01-01 14:49] dtarb commented on #456
Wonderful!  Except, the Date column sorts the Date alphabetically using the Month first, so August is before January.  It would be more intuitive if date was ordered by date.

[2016-01-01 14:51] dtarb commented on #455
Good enough!

[2016-01-01 14:51] #455 closed

[2016-01-01 14:56] dtarb commented on #151
I am OK with this, but will leave for @horsburgh to close if it meets his pleasure.  The filters do still flip to the top on small windows and Mobile devices.

[2016-01-01 15:59] horsburgh commented on #151
This is functional, but still not my favorite.  Even at the resolution of half of my Macbook Pro retina display (e.g., browser window taking up half of the screen) it puts them at the top. I understand why you would put them at the top for a mobile browser, but I'm not sure why I would ever want them to flip to the top in a modern desktop browser.

@mauriel133 - if you have any thoughts about this

[2016-01-04 14:30] hyi commented on #488
@dtarb Check out the citation for the SWMM model on www.hydroshare.org now: https://www.hydroshare.org/resource/2cddae40e9594c21b947fdbbe4225439/ after I added "isCopiedFrom" relation. To change default citation to the desired citation for replicated SWMM model resource, "isCopiedFrom" relation has to be added. I implemented citation format as outlined by @goodalljl as detailed above in this issue

[2016-01-04 14:53] hyi commented on #565
@dtarb Expiring in 24 hours has already been implemented, so the statement "the account request will expire in 24 hours" is already true in our current implementation. See my detailed info above in this issue thread for details. So I will change email message slightly as you detailed above, i.e., replace HydroShare with www.hydroshare.org and add "The HydroShare Team" at the end while keeping the

[2016-01-04 15:19] dtarb opened #855 "Author names in citations to accommodate organizations, multiple first names and spaces in last names"
I created a resource for which the author is the U.S. Army Corps of Engineers.  See https://www.hydroshare.org/resource/77c54c01ab99439abb263ea0e11b18c3/.

The citation is stated as
Engineers, U.A. (2016). HEC-HMS Version 4.1, http://www.hec.usace.army.mil/software/hec-hms/, last accessed 1/4/2016.

This should rather be U.S. Army Corps of Engineers (2016). HEC-HMS Version 4.1, http://www.hec.usac

[2016-01-04 15:23] dtarb opened #856 "Reference Model Program resource to allow publication without content files"
The resource at https://www.hydroshare.org/resource/77c54c01ab99439abb263ea0e11b18c3/ is a reference to HEC-HMS.  This is needed in HydroShare so that a Model Instance can refer to it, but I do not want to store the HEC program in HydroShare as the US Army website is the authoritative site.  This resource type needs to be allowed to be made public/discoverable without content files.

Refer to #488

[2016-01-04 15:24] dtarb commented on #488
Thanks.  Closing.

[2016-01-04 15:24] #488 closed

[2016-01-04 15:24] dtarb commented on #855
Refer to #488 for additional background.

[2016-01-04 15:55] ironfroggy commented on #839
I want to make both an implementation recommendation and also raise concern about security and permission issues as they apply to this ticket. I'm making my implementation recommendation with the security and permission issues in mind, so hopefully if you like what I suggest we can address that concern.

First, in regards to the concern, we have to think about how the permissions of the collection

[2016-01-04 16:12] horsburgh commented on #855
Putting an organization name in the "LastName" field with a trailing comma seems a bit hokey to me.  How would users ever know how to do that?  Why not just implement the ability to enter an organization name that is parsed correctly?  For example, add a radio button?

* The author is a person
* The author is an organization

And then based on which one they pick you parse the input correctly?  Th

[2016-01-04 16:29] danames commented on #839
collection.

can't view because of permissions.

contents.

permissions to it.

Thanks for thinking through these issues. Sarva Pulla in my group is
working on a prototype of the collection and this is useful informatino for
him going forward.

[2016-01-04 16:48] ironfroggy commented on #839
If removing a user's permission to view a resource does not remove that resource from collections they have put it in, how would that resource be removed from the collection? The user who owns the collection would not have permission to see the resource in order to remove it.

[2016-01-04 16:58] danames commented on #839
Perhaps we always show the names of the resources in the list of resources
in a collection. If the person viewing or building the collection doesn't
have permission to view one of the collected resources, then he/she just
sees the name. If he/she is the creator of this collection he/she can
remove it by its name.

Does this violate any rules we've already created? I.e. do we have a rule
to not sho

[2016-01-04 17:08] hyi commented on #839
Just a quick comment on showing resource names. By resource names, I assume they mean resource titles. Since resource titles are not unique meaning multiple resources could end up with the same titles, revealing resource titles/names alone are not sufficient to distinguish resources.

From: Dan Ames [mailto:notifications@github.com]
Sent: Monday, January 4, 2016 11:59 AM
To: hydroshare/hydroshare

[2016-01-04 17:21] dtarb commented on #855
I was just pointing out how Endnote does it.  Any solution that works is OK.  Don't forget the multiple word last name "Sen Gupta" case.

[2016-01-04 17:25] ironfroggy commented on #839
Do any of these plans account for the need for other types of resources that aggregate other resources? Collections are kind of the generic form of this, but I understand there will also be some sorts of "composite" resource types. It would be really helpful for that stage to consider how implementation of collections can be reused for these composite types.

[2016-01-04 17:33] horsburgh commented on #839
As @ironfroggy states - it might be useful to think through "collection" versus "composite".  They might potentially be the same thing (or at least maybe one implementation could support both).

[2016-01-04 17:33] danames commented on #839
Here are a few use cases to help frame the discussion:

Use case 1: Group together different map/shape files associated with a map
for display in ArcMap. Download the group of files all at once directly
into ArcMap

Use case 2: Group together time series, maps, and models associated with a
specific engineering project. Share this group of resources with
stakeholders interested in the project. Stak

[2016-01-04 17:34] mjstealey commented on #843
Putting the big "S" back into HydroShare - verified on dev.hydroshare.org

<img width="710" alt="screen shot 2016-01-04 at 12 33 39 pm" src="https://cloud.githubusercontent.com/assets/5332509/12095852/84343d22-b2df-11e5-81d0-c3e4be9ac91d.png">

[2016-01-04 17:34] #843 closed

[2016-01-04 17:37] mjstealey commented on #565
Using a gmail account the following email was received when creating a new account.
Of note is that it was flagged as **spam**

<img width="1246" alt="screen shot 2016-01-04 at 12 31 08 pm" src="https://cloud.githubusercontent.com/assets/5332509/12095893/ba085820-b2df-11e5-9850-01f39686de16.png">

Still need to verify that the 24 hour timeout expiration is as advertised (will perform this on anoth

[2016-01-04 17:49] dtarb commented on #565
Even with expiry implemented I think we should delete the words "and the account request will expire in 24 hours." from the email.

With respect to SPAM, I receive emails sent to support@hydroshare.org.  A huge number of these are spam marketing better health and libido products.  I wish there was a way to stop them, but somehow this email address has gotten on a list that attracts these.  I do no

[2016-01-04 18:27] ironfroggy commented on #456
@dtarb is there a separate ticket for that?

[2016-01-04 18:28] ironfroggy commented on #421
Does not apply to new My Resource page

[2016-01-04 18:28] #421 closed

[2016-01-04 18:30] ironfroggy commented on #472
@dtarb Is this ticket still valid for the new My Resources page?

[2016-01-04 18:30] ironfroggy commented on #473
@mauriel133 has this testing been done on the current My Resources page?

[2016-01-04 19:06] shawncrawley commented on #842
@mauriel133 Do you have higher resolution image files for the resource-icons? I would like to use the webapp png, but a larger size than 48x48.

[2016-01-04 19:39] mauriel133 commented on #842
I do. I will post it here soon.

[2016-01-04 19:45] mauriel133 commented on #473
I have conducted filtering tests in the latest versions for Chrome, Firefox and Safari. The issues we found were fixed before the deployment of the new My Resources page.

I will test next for Internet Explorer.

[2016-01-04 20:07] mjstealey commented on #606
Update to **local_settings.py** to default to console as email backend.

Since Django is running in a daemonized docker container the user will need to attach back to the container to see the output.

Example:

[code]
Fill out new user info in your local development browser and click join
[code]

[2016-01-04 20:15] mjstealey commented on #851
Still see the same error pattern as before, so it doesn't seem to be associated with the current month or current year.

[2016-01-04 21:22] hyi commented on #840
tested on dev and it works now. @dtarb can you test on dev and close the issue if it works now?

[2016-01-04 21:58] dtarb commented on #840
I looked at dev.  The layout seems awkward.  I would be happy to close the issue, if changing is hard, but if it is possible to avoid sticking the new statement in between the download all button and learn more about bagit statement that it refers to, it would be better.  Is there a way to put the new text just below the Add file button, perhaps using a table construct.

[2016-01-05 01:08] dtarb commented on #472
This appears to be resolved in the new deploy, so closing.

[2016-01-05 01:08] #472 closed

[2016-01-05 01:15] dtarb commented on #456
@ironfroggy lump or split.  I did not create a new issue and I did not close this issue because for me sorting by date, is, well, sorting properly by date, and date is one of the attributes, so I left this open as not yet done.  But I am totally fine if you want to close this and create a separate ticket.

[2016-01-05 02:25] dtarb commented on #839
Collections/composite resources are described in the resource data model document (see https://docs.google.com/document/d/1_XY7J8hXQl-w24FWyuWs7YfRHw68px1ZOB_dQOU7sCQ/edit).  I have just migrated this to Google to make this (a bit) easier than locating in Alfresco.

We need to address whether the use cases demand inclusion by reference only, or inclusion by value only or both.  Inclusion by value

[2016-01-05 11:07] ironfroggy commented on #456
I'll leave this open and add a final checklist item to the description owing to the remaining fix needed.

[2016-01-05 15:44] hyi commented on #840
@dtarb @mauriel133 I have improved content section layout in resource landing page shown as screen capture below:
In non-edit mode:
![viewcontentsection](https://cloud.githubusercontent.com/assets/476302/12119298/e7c3e662-b398-11e5-935f-5000474a7c47.png)
In edit mode but before signing into iRODS for adding files:
![editcontentsection_1](https://cloud.githubusercontent.com/assets/476302/12119318/0

[2016-01-05 15:56] mjstealey commented on #840
@hyi - Would it make sense to always display both the **Add file** and **Add file from iRODS** buttons, with a small note next to the **Add file from iRODS** button that simply states "Requires additional iRODS sign-in"?

Perhaps the button could be a non-green color if the user isn't signed into an iRODS account, and then turn green once signed in.

Also, showing the "Signed in as xxx" is nice, b

[2016-01-05 15:59] hyi commented on #840
@mjstealey Add file from iRODS button is not displayed at all when a user is not signed into iRODS and will only show up after the user clicks "here" hyperlink and signed into an iRODS zone successfully. Let me know if the layout makes sense now. Thanks.

[2016-01-05 16:02] hyi commented on #840
@mjstealey OK. I understand your comment now. I will defer to @dtarb and others regarding which workflow they prefer, but I prefer not to show the Add file from iRODS until they signed in first.

[2016-01-05 16:07] mjstealey commented on #840
@hyi - I can see value in both approaches, but do think that the current blurb of "*If you want to add files from an iRODS server into HydroShare, please do so by logging into the iRODS server here.*" is a bit verbose.

It'd be nice to see the iRODS option with less verbosity.

[2016-01-05 16:09] hyi commented on #840
@mjstealey - Agreed. @dtarb @danames If you can help to make the blurb of "If you want to add files from an iRODS server into HydroShare, please do so by logging into the iRODS server here." more concise, it'd be great.

[2016-01-05 16:10] dtarb commented on #840
@hyi the layout is improved.  No changes are needed for the non-edit mode.
For the edit mode before signing into iRODS it is fine and no changes are needed.
For the edit mode after signing into iRODS it does not make sense to still have the statement "if you want to add files from iRODS... so I suggest suppress that statement and just put the statement "Signed in as ..." next to the Add file from

[2016-01-05 16:13] dtarb commented on #840
The iRODS wording can be shortened to "To add files from an iRODS server, log in to iRODS" with the words "log in to iRODS" the hyperlink.

[2016-01-05 16:25] mohamedmorsy commented on #856
@dtarb @Castronova @goodalljl Our idea behind creating the Model Program resource type is to preserve a specific version for a specific model so we can link it later with a specific Model Instance resource type to promote reproducible modeling results. If the Model Program resource were linked, whatever happens at the main website of that model would be reflected in the version stored in the Hydro

[2016-01-05 19:21] Castronova commented on #856
@mohamedmorsy Since Model Program resources cannot be made public without content files, we are unable to represent closed source models/applications within HydroShare.  Consider a script or model that is executed as a tool within ArcMap.  The creator of the Model Program resource cannot upload content to satisfy the **computational engine** or **software** metadata because it is not physically an

[2016-01-05 19:41] shawncrawley commented on #842
@mauriel133 Sorry to bother you again, but I'm just waiting on that higher-resolution webapp image.

[2016-01-05 19:45] hyi commented on #840
@dtarb Layout changes have been made exactly according to your suggestions here. Have created a PR and asked @mauriel133 and/or @ironfroggy to do code review to have it merged/deployed.

[2016-01-05 19:51] mauriel133 commented on #842
I will post it here tonight.

[2016-01-05 19:52] shawncrawley commented on #828
This issue would likely need to be resolved by adding a new django block to the genericresource.html in hs_core/templates/pages. @hyi @mauriel133 I noticed both of you have contributed the most to this file. Is this an issue that I can assign to one of you?

[2016-01-05 19:54] mauriel133 commented on #828
Yes, I can implement this.

[2016-01-05 20:03] dtarb commented on #840
Thanks.  I'll close once I can see a deployment (e.g. on dev)

[2016-01-05 20:05] zhiyuli commented on #839
@selimnairb @ironfroggy
About storing the GUIDs or using the Foreign Key, our quick test showed the we may use ManyToManyField in the models design like:
collection = models.ManyToManyField(BaseResource, null=True, blank=True)
A collection can have multiple member resources; A certain resource can be members of multiple collections.
One frontend, short_id (GUID) is the only identifier for a certai

[2016-01-05 20:16] mohamedmorsy commented on #856
@Castronova I agree totally with you that we need the metadata elements: Release Date, Version, and Operating System to be required to make the resource public or discoverable. But beside that I would like also the user to satisfy one of the following metadata elements: Computational Engine, or Software by uploading the related files.

[2016-01-05 20:40] danames commented on #839
If it's simple to implement, then there is no reason not to allow a
collection to hold other collections.

On Tue, Jan 5, 2016 at 1:05 PM Drew Li <notifications@github.com> wrote:

[2016-01-05 23:20] mauriel133 commented on #842
Here is the high resolution web app icon.

![webapp512x512](https://cloud.githubusercontent.com/assets/2448568/12130510/3d4e1704-b3c8-11e5-8cf0-1b8efdee6601.png)

[2016-01-05 23:54] mauriel133 commented on #828
Should I hide the entire content section for this type of resources?

[2016-01-06 02:44] jirikadlec2 opened #863 "Sorting ~~my resources~~ Discover by last modified date doesn't work"
I have resources on HydroShare and I want to sort my resources by the "last modified" date. However when I click on the 'last modified' column heading, the resources get sorted in a random order. Please see the screenshot. After I clicked on 'last modified' (sort descending) the first row should be the resource from Jan. 6, 2016, 2:22 a.m. Instead it's a random resource from 16th October.

![scree

[2016-01-06 14:08] hyi commented on #170
@horsburgh Should we close this issue since the technical elements of this issue has been addressed by the new bagit workflow implementation, and then recreate an issue specifically for resource versioning according to your design document? Alternatively, we can reuse this issue by adding specifics from your design document, whichever you think is more appropriate. Since resource publication imple

[2016-01-06 14:12] hyi commented on #565
@dtarb @mjstealey Could you test to see whether this issue has been addressed adequately for now and close if the answer is yes?

[2016-01-06 14:35] dtarb commented on #565
Verified

[2016-01-06 14:35] #565 closed

[2016-01-06 19:13] dtarb opened #864 "Expand website notification about email confirmation"
Please expand the website notification message that appears in HydroShare after a user has requested a new account to state: "A verification email has been sent with a link for activating your account.  If you do not receive this email please check your spam folder as sometimes the confirmation email gets flagged as spam.  If you entered an incorrect email address, please request an account again.

[2016-01-06 19:14] #632 closed

[2016-01-06 19:14] #190 closed

[2016-01-06 19:14] #610 closed

[2016-01-06 20:43] mjstealey commented on #851
@rayi113, @hyi, Out of curiosity I issued a rebuild_index call directly on www and that seemed to resolve our issue. I'm wondering if our current update_index is not sufficient in all cases, but rather a periodic rebuild_index is needed... Thoughts?

[2016-01-06 20:55] hyi commented on #851
@mjstealey @rayi113 I am not sure why rebuild_index is needed to fix this issue. Perhaps some scheduled update_index call failed to some degree, which leads solr index in a somewhat not completely correct state, and rebuild_index kinds of reset solr index to an initial correct state. Not sure, perhaps @alvacouch @xuezhaokun @ironfroggy can have better explanations.

[2016-01-06 21:00] mjstealey commented on #851
@hyi, @rayi113, I'm not up on solr / haystack enough to know when it's best to use rebuild_index vs update_index... rebuild_index strikes me as kind of a nuclear option when all else fails based on the warning it gives.

[code]

[2016-01-06 21:37] mjstealey commented on #851
@hyi - Adding snippet from hipchat with @ironfroggy for reference

<img width="552" alt="screen shot 2016-01-06 at 4 36 23 pm" src="https://cloud.githubusercontent.com/assets/5332509/12155544/bc738f52-b493-11e5-98bb-119688de9846.png">

[2016-01-06 21:47] shawncrawley commented on #828
Yes, that would be perfect

[2016-01-07 14:27] mjstealey commented on #851
@alvacouch, @y-lu - This is the issue referred to on the 1/6/16 team call. As noted a `rebuild_index` did the trick. Had a brief discussion with @ironfroggy which is summarized above ^^^

[2016-01-07 19:48] alvacouch commented on #812
Included in pull request #820

[2016-01-07 19:56] alvacouch opened #867 "Simplify access control structure"
The access control system needs a minor revision in which we:
* eliminate one join from each query.
* act directly in inner objects upon objects of class BaseResource, User, Group
This speeds up all queries of the access control system and -- in addition -- makes patterns easier to remember.

[2016-01-07 20:19] shawncrawley opened #869 "{% block extra_js %} and {% block extra_css %} scripts are being generated (and thus executed) twice"
It appears that any JavaScript code that is added to the `extra_js` django html block is getting generated twice somehow, and thus is executing twice. This will not only slow down rendering time, but it also created a problem for me when adding code to the `extra_js` of toolresource.html that dynamically creates a new html element (since two elements are being created, instead of just the one expe

[2016-01-07 20:20] shawncrawley commented on #869
@pkdash @mauriel133 Do either of you have any idea why this is happening and feel confident addressing it?

[2016-01-07 20:30] shawncrawley commented on #869
I did notice that it only happens with the JavaScript actually hard-coded directly in the .html file. If an external script is added to the `extra_js' block, then it is not generated twice. So one possible fix is creating a `.js` script for genericresource.html and requiring the same for all additional resource types (in the case that they need it).

[2016-01-08 14:14] hyi commented on #864
@dtarb This has been merged and deployed on dev. Could you verify on dev and close if it is working as expected?

[2016-01-08 14:50] dtarb commented on #864
Thank you.

[2016-01-08 14:50] #864 closed

[2016-01-08 15:13] hyi commented on #852
@zhiyuli The fix is merged and deployed to dev. You can test on dev and close the issue if it is working as expected now.

[2016-01-08 15:42] zhiyuli commented on #852
@hyi I just tested it on dev and it worked well. I am closing this issue now. Thanks!

[2016-01-08 15:42] #852 closed

[2016-01-08 16:00] horsburgh commented on #170
@hyi - I'm closing this one as the technical part of it is resolved. I will create a new issue to deal specifically with resource versioning according to our latest thinking in the document.

[2016-01-08 16:00] #170 closed

[2016-01-08 16:21] horsburgh commented on #768
@mauriel133 - "Add to My Resources" and "Add to My Favorites" are not the same action.
* "Add to My Resources" is implemented now and I believe has the desired functionality.
* "Add to Favorites" would be an additional star button on the resource landing page that would add the resource to My Resources, but would also apply the "Favorite" tag so it would show up when you click on that filter.

We

[2016-01-08 16:25] horsburgh commented on #767
@alvacouch - This has been implemented on www.hydroshare.org by adding an "Add to My Resources" button to the landing page for each resource.  This seems to be working.  I can also click on the resource again, go to it's landing page, and remove it from My Resources by clicking on a red version of the same button.

Unless we want to do batch "Add to My Resources" on the discover page by allowing u

[2016-01-08 17:01] horsburgh commented on #765
This has been completed.  The only two filters we have not implemented are "Following" and "Recent".

[2016-01-08 17:22] alvacouch commented on #767
We were planning on enabling batch from the discovery page, but Zhaokun is away until 18 Jan.

[2016-01-08 18:34] mjstealey opened #870 "Purge hsproxy iRODS resource files after N days (N=21)"
Because the hsproxy iRODS account is open for all developers the resources it holds can quickly become unnecessary.

Create a Jenkins task to periodically scan and purge
- Collections identified by a GUID with resource files older than N days
- Zip files within the bags directory older than N days

This script will be set to execute every Sunday evening.

[2016-01-08 18:41] mjstealey opened #871 "Automate the copying of production resources to the developer space"
There is a need to have "real" data to test against for various development purposes.

Create an automated workflow that can extract and copy production iRODS resources to another arbitrary iRODS instance.

This will also require the safe copying of the production database and re-registration of AVUs in order to fully replicate the production environment.

[2016-01-08 18:41] horsburgh commented on #767
OK.  I will leave this open then.

[2016-01-09 13:36] alvacouch opened #872 ""NFIE snapshot" resource type"
As discussed in the call on Wed 1/6, we need a "NFIE snapshot" resource type that encapsulates the idea of a NFIE regional flood forecast and gives it a real resource type so that visualizations can then be written for it. This will allow us to disambiguate between NFIE data instances, and will allow us to expose all of NFIE data as a collection rather than a simple resource. This in turn enables

[2016-01-11 02:03] #810 closed

[2016-01-11 02:04] #813 closed

[2016-01-11 02:06] #742 closed

[2016-01-11 02:08] #754 closed

[2016-01-11 16:36] pkdash commented on #720
@dtarb I think this issue has been resolved with the implementation of the new 'my resources' page. Please close this issue if this has been resolved.

[2016-01-11 16:42] pkdash commented on #716
@gantian127  Since this issue was opened by @dtarb I shouldn't be closing this. Though I have fixed it in the backend code, not sure how the UI is using the modified backend code. May be @mauriel133 can comment on this.