[2017-02-01 15:59] dtarb commented on #1652
I think this is OK.    I  think there is a need to take a look at relationship creation workflows and patterns holistically for versioning and copying and see if they all make sense.  @horsburgh is this something you would have time to do in the near (perhaps not immediate) future.

[2017-02-01 16:46] horsburgh commented on #1652
@hyi and @dtarb - I think this change is OK. Would this preclude us from adding a "isVersionOf" relationship to something outside of HydroShare - e.g., in the case that someone creates a resource in HydroShare that is a new version of something that lives elsewhere on the web?

[2017-02-01 16:51] dtarb commented on #1769
This change does not seem to have made it into www yet (nor any staging machine I can find).  Below is what I am suggesting, to just make the sentences complete.
![image](https://cloud.githubusercontent.com/assets/3456833/22516659/b4ac9084-e863-11e6-9b22-ef55b96923bb.png)
![image](https://cloud.githubusercontent.com/assets/3456833/22516707/e8714112-e863-11e6-8d83-484c7aeceaed.png)

[2017-02-01 17:07] hyi commented on #1652
@horsburgh Yes, "isVersionOf" option is not present in Add Relation dialog which has been done from the beginning when versioning was implemented. The proposed fix to this issue will not allow users to edit or remove isVersionOf relation value. I believe the current versioning implementation precludes users from adding "isVersionOf" relationship manually, so users will not be able to create a reso

[2017-02-01 17:09] jsadler2 opened #1815 "Model Program - 'Data Files' front end does not update with new version"
When a new version of a Model Program resource is created, the file names that have been assigned to the "Computational Engine", "Software", "Documentation," and "Release Notes," metadata terms are not reflected on the front end in edit mode when a new version is created.

![image 2](https://cloud.githubusercontent.com/assets/6943441/22517480/3bbae752-e877-11e6-8b18-1e9832d92cca.png)
![image](http

[2017-02-01 17:19] horsburgh commented on #1652
@hyi - I think the changes you have proposed are fine. The implication is just that we are consciously giving up the ability for HydroShare to express that specific versioning relationship to something outside of the system. I think this is OK for simplicity sake.

[2017-02-01 17:57] pkdash commented on #1764
This has been implemented. So closing.

[2017-02-01 17:57] #1764 closed

[2017-02-01 18:00] pkdash commented on #1770
@dtarb This seems to have been fixed. You can test it at dev.hydroshare.org

[2017-02-01 18:07] horsburgh commented on #1473
@pkdash - as part of the time series documentation, I wrote definitions of each of the metadata elements for the time series resource that could be used as hover/help text on the edit page for time series. See the Google Doc at:

https://docs.google.com/document/d/1Cte984eak5-jvksHgI8R6TKYCSgzN9S1u3AvpFvIxLg/edit

See the section titled: What do all of the resource specific metadata elements for T

[2017-02-01 18:07] hyi commented on #1769
@dtarb Sorry, I thought it had made into deploy, but apparently did not. You can test it on https://dev.hydroshare.org on which I have just tested and verified this language fix made it into dev. You do have to register for a new account on dev, though, since dev does not use production database for deploy. See if you can test on dev and close this issue if it works on dev to your satisfaction. Th

[2017-02-01 18:10] hyi commented on #1652
@horsburgh OK. Agreed.

[2017-02-01 18:31] pkdash commented on #1473
@horsburgh I will try to implement this soon.

[2017-02-01 18:38] pkdash commented on #1815
@jsadler2 Where did you do this test?

[2017-02-01 18:52] pkdash commented on #1771
@hyi I tried to add a unit test to see if this problem shows up in the test. However, it doesn't. Somehow in the local development environment I need to be able to add a file from user zone to an existing raster resource to be able to debug it.

[2017-02-01 19:39] jsadler2 commented on #1815
@pkdash this test was done on www

[2017-02-01 19:50] pkdash commented on #1495
@alvacouch I assume this has been implemented.

[2017-02-01 19:53] pkdash commented on #1310
@AmberSJones I think this has been addressed. Can you check?

[2017-02-01 19:56] pkdash commented on #1530
@mjstealey I believe this has been fixed.

[2017-02-01 20:00] mjstealey commented on #1530
resolved

[2017-02-01 20:00] #1530 closed

[2017-02-01 20:03] mjstealey commented on #1299
With the docker level iRODS option made available to the user the variables can stay as is.

[2017-02-01 20:03] #1299 closed

[2017-02-01 20:05] mjstealey commented on #1725
merged in #1729

[2017-02-01 20:05] #1725 closed

[2017-02-01 20:06] hyi commented on #1771
@pkdash I will try to see if I can reproduce this issue in my local dev env using dockerized irods containers, and see if I can fix this issue if I can reproduce it.

[2017-02-01 20:24] pkdash commented on #1771
Thanks @hyi . Just to let you know that I was running the unit test using local irods containers which did not reproduce the issue.

[2017-02-01 20:29] pkdash commented on #1815
@jsadler2 If it was on www, then my recent huge code cleanup did not introduce this bug.

[2017-02-01 21:23] hyi commented on #1771
@pkdash I can reproduce this issue in my local dev env using irods containers. Will see if I can find out the cause and make a fix.

[2017-02-01 21:53] pkdash commented on #1795
@mohamedmorsy I assume this has been fixed. Can you close it?

[2017-02-01 21:57] AmberSJones commented on #1310
Currently, there is functionality to add an Organization as an author. I have been using this- it's great. The original issue states that a HydroShare group should be able to be added as an author. I don't think this is implemented.

[2017-02-01 21:57] pkdash commented on #1777
@dtarb This should have been fixed and you can test on dev.

[2017-02-01 22:01] AmberSJones opened #1816 "Group Membership Request Link Invalid"
When a user requests to be a member of my Group, I receive an email with a link to confirm their membership. Sometimes when I click on the link, I receive a message that the link is no longer valid, and the user is not added to my group.

![image](https://cloud.githubusercontent.com/assets/5023186/22528133/27dbad94-e88f-11e6-98eb-8672b167c7a0.png)

[2017-02-01 22:06] pkdash commented on #1711
@zhiyuli Is this still need to be resolved?

[2017-02-01 22:09] pkdash commented on #1692
@shawncrawley The hs_restclient latest version (1.2.6) should support the above metadata update requirements. @shawncrawley or @zhiyuli Can one of you test it and then close this issue?

[2017-02-01 22:15] #1795 closed

[2017-02-01 22:35] pkdash commented on #1816
@AmberSJones There is a time limit during which the link is valid. Did you click the link as soon as you get the email?

[2017-02-01 23:01] AmberSJones commented on #1816
In this case, I clicked on it within a half hour.

[2017-02-01 23:10] pkdash commented on #1599
@alvacouch I believe this has been addressed. Should you close it then?

[2017-02-01 23:11] pkdash commented on #1524
@Castronova Should this be closed?

[2017-02-01 23:13] pkdash commented on #1484
@alvacouch I think this issues has been addressed. See if it needs to be closed.

[2017-02-01 23:21] pkdash commented on #1424
@dtarb It seems this issue has been resolved based on my testing. Let me know if I can close it.

[2017-02-01 23:22] pkdash commented on #1410
@zhiyuli Is this still an issue? Otherwise, close it.

[2017-02-02 05:27] #1424 closed

[2017-02-02 14:27] rayi113 opened #1818 "Upgrade HydroShare to use iRODS version 4.2"
Upgrade HydroShare to use iRODS version 4.2

[2017-02-02 16:14] pkdash commented on #1691
@gantian127 This has been fixed and can be tested on dev. Please close this issue if you find it resolved.

[2017-02-02 17:23] jsadler2 commented on #1815
@pkdash right. it has to do with making a new version of the _resource_ not the new, cleaned up version of the _code_

[2017-02-02 21:07] pkdash commented on #1473
@horsburgh This has been implemented now. You should be able to test it tomorrow on dev.hydroshare.org.

[2017-02-02 21:36] zhiyuli opened #1822 "Failed to create a ref_ts res on www"
We just noticed this error on www.
![image](https://cloud.githubusercontent.com/assets/10070599/22569447/ce9a1952-e954-11e6-92fe-a47f23afa22c.png)

[2017-02-02 22:51] hyi opened #1824 "Cannot delete a resource if adding files from user zone to an empty resource"
This issue is discovered while working on resolving https://github.com/hydroshare/hydroshare/issues/1771. Will create a PR to fix this issue and add proper unit tests to capture this case as soon as I can, since this is a regression issue, it'd be good to make a hotfix to it if we can.

[2017-02-03 13:05] mjstealey opened #1826 "Renew HydroShare SSL certificate - expires on 5/12/2017"
@dtarb - Our existing HydroShare SSL cert will expire on May 12, 2017.

![screen shot 2017-02-03 at 8 03 34 am](https://cloud.githubusercontent.com/assets/5332509/22592357/702b8c82-e9e7-11e6-90b6-2b9dcc229047.png)

[2017-02-03 16:29] dtarb commented on #1826
Should I renew this exactly as it is now or is there any reason for any changes (e.g. consolidate with domain name hosting at namecheap or something else) @rayi113

[2017-02-03 20:13] pkdash opened #1827 "Resource copy/new version not copying resource specific metadata for Timeseries resource"
Resource specific metadata doesn't get copied when creating a copy or a new version of a timeseries resource that has a CSV file.

[2017-02-03 20:15] pkdash commented on #1827
@hyi Would you look into this issue?

[2017-02-03 20:24] hyi commented on #1827
@pkdash Have you tested to see whether the same issue happens also when you create a new version of a time series resource?

[2017-02-03 20:28] pkdash commented on #1827
@hyi Yeah it is the same issue with creation of a new version.

[2017-02-03 20:38] #1524 closed

[2017-02-03 21:26] alexlemann commented on #1826
Have yall looked at using [Letsencrypt](https://letsencrypt.org/)? With it, renewals can be handled by a cronjob. It looks like HS is using a wildcard cert which [letsencrypt does not support](https://letsencrypt.org/docs/faq/#will-lets-encrypt-issue-wildcard-certificates), but like they say is not always the best option.

[2017-02-03 21:54] dtarb commented on #1770
Verified on dev.

[2017-02-03 21:54] #1770 closed

[2017-02-03 22:14] mjstealey commented on #1807
@alexlemann - initial requires.io changes are in branch [1807-requires-io](https://github.com/hydroshare/hydroshare/tree/1807-requires-io).
Badge is in the [README.md](https://github.com/hydroshare/hydroshare/blob/1807-requires-io/README.md) file

Makes use of a new [hs_docker_base:1.9.5](https://hub.docker.com/r/mjstealey/hs_docker_base/) image defined from [hs_docker_base](https://github.com/hyd

[2017-02-03 22:16] aphelionz commented on #1807
1.10.x might not be a bear to migrate to, only 2 versions behind and I'm
sure there's tools for that. Let me look at that in our next sprint

On Fri, Feb 3, 2017 at 5:14 PM Michael J. Stealey <notifications@github.com>
wrote:

--
Mark Henderson
978 328 4466
ricochet:phaifg665kozyntd

[2017-02-03 23:56] dtarb commented on #1777
Tested on dev

[2017-02-03 23:56] #1777 closed

[2017-02-03 23:57] dtarb commented on #1769
tested on dev

[2017-02-03 23:57] #1769 closed

[2017-02-05 21:17] mjstealey commented on #1797
work has been merged: #1821
robots.txt updates to www via django-robots admin panel once deployed, carried down to VMs from there.

[2017-02-05 21:17] #1797 closed

[2017-02-06 14:11] rayi113 commented on #1826
From Kelsey@RENCI: From: Kelsey Urgo
Sent: Monday, February 6, 2017 8:22 AM
Subject: Re: [hydroshare/hydroshare] Renew HydroShare SSL certificate - expires on 5/12/2017 (#1826)

As it stands, the domain is now registered at Namecheap, but is still pointing to Digital Ocean for hosting. Once I actually flip to hosting and DNS records also existing at Namecheap it looks like the GoDaddy SSL cert wil

[2017-02-06 16:17] alvacouch opened #1831 "Notifying users of future service outages and changes"
There needs to be some mechanism -- on the initial HydroShare page -- that notifies users of future events like downtime and releases.  The way this is typically done is as follows:
1. In an admin interface, someone like Michael writes a message with a start and end date, specifying the outage or change to be made. Most systems allow one to also specify a "posting date" so that one can write notif

[2017-02-06 16:42] alvacouch opened #1832 "Release strategy for third-party apps"
There needs to be a policy on how we release third party apps on our apps site in which the HydroShare core team has had no part.  Any strategy must balance user perception of the reliability of HydroShare against the capability advances that new apps can represent.

One proposed strategy is to label the app as "alpha", "beta" or "full release" as follows:
1. **An "alpha" release** is one in which

[2017-02-06 19:40] pkdash opened #1834 "REST API support for unzipping files"
We have an immediate need in our coordination with EarthCube geounit use of HydroShare for a REST API that enables unzipping of files, similar to the functionality on the UI.  Though it is not a requirement from  EarthCube, should this issue also address the zipping of files/folder which is currently supported on the UI?

[2017-02-06 20:12] pkdash commented on #949
@hyi I think you can close this issue.

[2017-02-06 20:13] pkdash commented on #729
This has been resolved. Closing.

[2017-02-06 20:13] #729 closed

[2017-02-06 20:20] #949 closed

[2017-02-06 20:40] pkdash commented on #1804
@mauriel133 Can you test this on dev and then close the issue if it got resolved?

[2017-02-07 01:35] dtarb opened #1835 "Improve formatting of reset password page."
When requesting a password reset the update profile page that you go to when clicking the reset email should be better formatted.  It should at least have margins so the fields do not bump into the sides.  Also I would prefer a reset password page not to show all profile update information - just reset the password.

[2017-02-07 19:20] hyi commented on #1827
@pkdash I cannot find a time series with csv file on www, so I cannot reproduce this issue. Can you create a time series resource on www and point me to it so that I can reproduce this issue or directly send me a csv file for me to create a time series resource trying to reproduce this issue?

[2017-02-07 19:23] horsburgh commented on #1827
@hyi - I just gave you owner access to this resource:

https://www.hydroshare.org/resource/5d952304c16d4955bdc36acf4e83d56e/

I believe it has a CSV file.

[2017-02-07 19:46] hyi commented on #1827
@horsburgh Thanks! I tested that resource and have not run into issues reported here with resource copying - specific resource type metadata are indeed copied over based on my testing. Can you do a quick test to see if you observe any issue with resource copy of this specific resource? Also, I tried to upload the single csv file in my local development environment and I don't get all specific meta

[2017-02-07 20:12] pkdash commented on #1827
@hyi This is the original timeseries resource (https://www.hydroshare.org/resource/fa7c6187144943168c5c751937512e4f/) that I have given you edit permission.

When you upload a CSV file no resource specific metadata is created. You have to enter resource specific metadata.

[2017-02-07 21:38] hyi commented on #1827
@pkdash I can reproduce the issue and debugged and it looks like https://github.com/hydroshare/hydroshare/blob/develop/hs_app_timeseries/models.py#L146 _create_site_related_cv_terms() does not create cv terms as expected. The pass in parameters, element and data_dict, all look correct, but cv terms may not get created correctly? The Site metadata elements appear to be all copied over and created c

[2017-02-07 21:49] mauriel133 commented on #1252
@dtarb, right now we are using "User has insufficient privilege to unshare". Is this the message you want to replace with "Action not allowed".

As I was testing in our most recent development branch this functionality works as expected. The message appears indicating that the action did not go through and the interface does not remove the row accordingly.

[2017-02-07 22:07] mauriel133 commented on #1099
@pkdash, the upload is handled by Dropzone. I've been reading and have not come up with a way to upload via ajax without breaking the functionality (mainly autoProcessQueue property, see [here](http://stackoverflow.com/questions/32082778/using-ajax-to-upload-files-from-dropzone-js-programatically)). In the meantime we could solve this by reloading the page and scrolling to the content section.

[2017-02-07 22:11] pkdash commented on #1827
@hyi I will look at this. Thanks for the initial debugging.

[2017-02-07 22:22] mauriel133 commented on #1503
@ChristinaB,  we currently have a simple list associating file types and file icons. I can add more items. Could you tell me the file type you want associated with this new file icon? For example, for the green Excel icon we use "xls", "xlt", "xml", and "csv".

[2017-02-07 22:26] pkdash commented on #1099
@mauriel133 For now probably we should try to keep the page in edit mode when the page reloads after the file upload.

[2017-02-07 23:52] pkdash commented on #1827
@hyi I have almost fixed the bug. Will be creating a PR soon.

[2017-02-08 15:48] mjstealey commented on #1818
Branch [1818-irods-4.2.0](https://github.com/hydroshare/hydroshare/tree/1818-irods-4.2.0) created as starting point for this work.

- MUST run using `irods/use-local-irods.sh` script in order to enable locally federated iRODS v.4.2.0 Docker containers.
- Example using the hydrodev VM

[code]

[2017-02-08 17:25] mjstealey opened #1838 "Resource cleanup in iRODS for unit tests"
Currently our unit tests do not fully clean up after themselves from the iRODS perspective.
This can be observed by using a local iRODS environment and issue the `./run-tests` call.

From users.local.org (3 GUID level dirs)

[code]
From data.local.org (607 GUID level dirs)

[code]

Most notably the resourcemap.xml and resourcemetadata.xml are never deleted.
Other resource types leave a variety of

[2017-02-08 17:37] pkdash opened #1839 "Manual pre-deploy checklist for version 1.9.5"
[beta.hydroshare.org](https://beta.hydroshare.org) last updated on: **Feb, 15th, 2017**

This is the manual pre-deploy checklist for version 1.9.5.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to

[2017-02-08 18:17] mjstealey commented on #1807
Merged.
Celery, and other updates to be revisited as new issues as required

[2017-02-08 18:17] #1807 closed

[2017-02-08 19:03] pkdash commented on #1838
@mjstealey It seems we have to call ```Resource.delete()``` explicitly in test ```teardown()```.

[2017-02-08 19:12] hyi commented on #1838
@mjstealey @pkdash Yes, I think either call ```Resource.delete()``` explicitly or call "delete_resource()``` explicitly. I will test in my local development environment to make sure proper resource deletion is included in test tear down.

[2017-02-08 20:31] ChristinaB opened #1841 "App testing: emerging process to communicate with developers, CUAHSI, and users on Help"
What we do now needs guidance from HydroShare leadership communicating with developers on expectations.
1. Developer posts App (some of these are live on main HS website, some are beta)
2.  Developer works with UW and CUAHSI in Google doc to draft help page for expert users which gets posted as a Help page.
3.  Ad-hoc testing with inner circle of App supporters occurs based on .... random set of i

[2017-02-08 20:43] alvacouch opened #1842 "Enable unlimited, bidirectional file transfer for apps"
Edit: Expanding this issue to cover all potential methods for file transfer.

The basic problem is that native REST -- no matter how much we might tune it -- is going to be limited in terms of file size to transfer. The real limit is the REST timeout, which defines -- in turn -- how big the file can be, regardless of platform.  Thus, to really solve this problem, some kind of out of band transfer

[2017-02-08 20:47] alvacouch opened #1843 "Release management and quality control for apps"
@ChristinaB This issue is a placeholder for my action item from today's call, which is to depict my proposed app release management strategy here for everyone's perusal. It will largely be the proposal I made on Monday in the PI call, with some background. I am not committed to this in any way, but I am committed to the **principles upon which it is based.** Any solution that obeys these principle

[2017-02-08 20:47] pkdash commented on #1842
@alvacouch Is this going to be only one way file transfer - from Hydroshare to user Irods server? The other way transfer would be great if we can do using hs_restclient.

[2017-02-08 20:56] dtarb opened #1844 "Raster coverage information not correctly harvested."
For the resource Bear Creek Spatial Reference https://www.hydroshare.org/resource/0601fbe2002b46df8c49c4840fe2294b/ the spatial reference information is incorrectly harvested from the tif file and the result is that coverage information places this in the ocean.

[2017-02-08 20:58] mjstealey commented on #1842
I would think yes, as there is no guarantee the user will want to generate a new resource from the manipulated output of their work. One-way high speed transfer to get the files onto the apps server.

Once the resource files are over at apps being consumed, manipulated, etc., wouldn't the existing mechanisms stay in place for generating a new resource, or appending to an existing resource from the

[2017-02-08 21:09] pkdash commented on #1842
@mjstealey

You mean the transfer over http? That would stay. But we again have the same problem. What if the user generates a big file (>1 GB)?

[2017-02-08 21:10] zhiyuli commented on #1842
Will this make the route of data transfer even longer?  hydroshare irods --> apps irods --> apps server

[2017-02-08 21:12] pkdash commented on #1842
The path may be long but it will behave like a super highway.

[2017-02-08 21:17] mjstealey commented on #1842
Could be treated in the same manner as large resources in the hydroshareuserZone, assuming the apps generated output gets registered into iRODS on the apps side.

Then on a "save to HydroShare" call the apps iRODS server could give the hydroshare iRODS server temporary credentials to iget the data from it. This would an analogous converse to the iput it had done to push data over there in the firs

[2017-02-08 21:26] dtarb opened #1845 "Raster Resource displays incorrectly in HydroShare GIS"
The resource https://www.hydroshare.org/resource/0601fbe2002b46df8c49c4840fe2294b/ displays tiled in HydroShare GIS and bound values are not set for symbology editing.

![image](https://cloud.githubusercontent.com/assets/3456833/22758111/7f4b0e1e-ee0a-11e6-8dea-dc68f1356eb5.png)

![image](https://cloud.githubusercontent.com/assets/3456833/22758101/71c1a672-ee0a-11e6-8b41-f458558dae45.png)

[2017-02-08 21:34] zhiyuli commented on #1842
after hydroshare irods server pushes a res to apps irods sever, how can apps access the res data? should apps use some credentials to access apps irods sever? Does access control at this point? How to prevent userA's app from accessing a res previously downloaded to apps irods server by userB's app?

[2017-02-08 21:35] hyi commented on #1652
@dtarb I have tested this on beta and the issue appears to be resolved based on my testing. It'd be great if you can test it on beta also and close this issue if it works on beta or you can wait until after the 1.9.5 deploy so you can test on www, whichever works better for you.

[2017-02-08 21:36] hyi commented on #1799
Tested on beta and it works as expected. Closing.

[2017-02-08 21:36] #1799 closed

[2017-02-08 21:36] dtarb opened #1846 "Enable automatic group joining"
@Lizabrazil asked that for workshops students should be able to join a public group without having to be approved by an owner.  To support this lets add a setting in group details that an owner can set "Automatically approve membership requests" that if checked will result in anyone who requests membership automatically being added.

@alvacouch to the extent that this involves access control can y

[2017-02-08 21:36] hyi commented on #1824
Tested on beta and it works as expected. Closing.

[2017-02-08 21:36] #1824 closed

[2017-02-08 21:38] hyi commented on #1771
@pkdash I have tested on beta and all appears to be working as expected now. I am leaving it up to you whether you want to close now or you want to do more testing before closing this issue.

[2017-02-08 21:38] hyi commented on #1800
Tested it on beta and it works, so closing.

[2017-02-08 21:38] #1800 closed

[2017-02-08 21:50] zhiyuli commented on #1845
@dtarb
Most time this kind of "tiled" issue was due to missing or incorrect Min/Max values.
Geoserver could not use global Min/Max values to render the whole raster, instead it renders each tile separately based on its local Min/Max values.

[2017-02-08 21:52] mjstealey commented on #1842
@zhiyuli - I would think about this in a different way.

Think of the apps server as being in control of the apps irods server, and work out the access control issues more generically. Whatever mechanism you use to prevent apps developers from doing malicious things to other peoples apps or data on local disk can be abstracted to iRODS calls or rules in some form or another.

Define how you'd want

[2017-02-08 21:52] pkdash commented on #1842
@mjstealey

That's what we need. The GeoTrust project team has a need to push very big files to Hydroshare.

[2017-02-08 22:05] alexlemann commented on #126
I checked-in with Calvin / @ironfroggy  about this, but have not heard back yet. I'll let you know if I get a response.

In general though, there could be some cleanup of files (views.py vs. api.py) and urls that mix API functions with user/frontend views. Likely not high priority.

[2017-02-08 22:05] ChristinaB opened #1848 "App-HydroShare I/O consistency and best practices"
The great thing about Apps is that they interact with HS data, it is currently a bit confusing because they all interact with HydroShare in different ways.  Some are initiated with data from My Resources (e.g. NWM Forecast Viewer button 'Add Watershed') and saved back to HydroShare (e.g. USGS/AHP does this perfectly!).   HydroGIS has a form that uploads data in a form within the App. But, for exam

[2017-02-08 22:18] zhiyuli commented on #1845
@dtarb
There is no resource-specific metadata stored in xml file. GIS app parses this xml file to know Min/Max values

![image](https://cloud.githubusercontent.com/assets/10070599/22759962/ac2d4562-ee11-11e6-9be1-d54cbf147b51.png)

[2017-02-08 22:44] zhiyuli commented on #1842
@mjstealey
Good points regarding the permission issues.

I agree that once res data has been delivered to apps server, it becomes apps/Tethys's responsibility to prevent any illegal access to locally stored res data.

This new architecture/changes we are working on should keep hydroshare access control integrity at every step before data is delivered to apps server. I am visioning the new changes

[2017-02-09 01:06] dtarb commented on #1845
Interesting.  That information is in the resource landing page.  So the bug is to fix the resource metadata file.
![image](https://cloud.githubusercontent.com/assets/3456833/22764665/42da1cee-ee29-11e6-8811-c2895a5fbf88.png)

[2017-02-09 01:27] dtarb commented on #1845
@pkdash @hyi do either of you know why this metadata is missing in the resource metadata xml file.  It used to be there.

[2017-02-09 01:35] dtarb commented on #1652
Tested on Beta.  OK.

[2017-02-09 01:35] #1652 closed

[2017-02-09 03:14] pkdash commented on #1845
@dtarb I will look into it and fix it.

[2017-02-09 11:43] alvacouch commented on #1842
@mjstealey @zhiyuli @pkdash The proposal will allow two way transfer but enabling correct access control without federating the apps server (which I really don't want to be necessary) requires a careful dance of protections. Under no circumstances should the apps server (or any apps server) be responsible for access control. That is a big mistake. Will post details now.

[2017-02-09 12:09] alvacouch commented on #1842
@pkdash @zhiyuli @mjstealey @hyi @dtarb The full plan for UDP Blast implementation is as follows.

* The Apps server will have an iRODs instance that is **not federated** with HydroShare. Federation is for permanent storage management; we want to act on files and not permanently store them.

* The REST interface will be used to tell HydroShare to "push" and "pull" files from the Apps server. **Thi

[2017-02-09 12:38] alvacouch commented on #1843
@ChristinaB @dtarb  First, any management strategy for apps should seek to **maximize signal to noise for users**. CUAHSI -- as an organization -- serves its members by providing content that they need without noise that they don't need. This should be the same for apps. Thus, we should manage apps in a way that
* avoids duplication of functions.
* clearly labels each app as to its potential quali

[2017-02-09 13:24] alvacouch commented on #1843
@ChristinaB @dtarb In the previous post, I described what is in essence an ideal strategy. No ideal strategy survives. Any strategy we sustain has to be based upon **human** motivation, and not just software quality. Thus our vetting process for apps has to be **humanly** sustainable.

Thus, we must design our vetting process so that the human tasks are in some sense self-justifying, and so that t

[2017-02-09 14:14] alvacouch commented on #1848
@ChristinaB @aphelionz It seems that we don't have the current machinery for a clear best practice. Yet. The reason that things are confusing is that there isn't a seamless way to bounce back and forth between HydroShare and apps, so I am dubious to recommend that we do that. Solving this problem is going to take a lot of thought. As well, I see no particular reason that an app should not input a

[2017-02-09 14:33] hyi commented on #1842
@alvacouch @mjstealey @rayi113 @zhiyuli @dtarb @pkdash I agree this proposal sounds promising, but there are concerns/issues we need to resolve before we even consider to go this route. Initial set of concerns/issues/comments are listed below:

- All REST irods file transfer requests only accomplish transferring files from hydroshare federated zone controlled by hydroshare irods server to an apps

[2017-02-09 15:48] alvacouch commented on #1846
@dtarb @mauriel133 @Lizabrazil There is no dependence upon whether the group is viewable/public.

I envision a flag that bypasses the approval process and pre-approves members, something like `approve`.  I would rather not couple this to access privileges -- e.g. public -- because it really has nothing to do with that.  There is a use case for pre-approval of membership in a private group, e.g., f

[2017-02-09 16:05] alvacouch commented on #1842
@hyi @mjstealey It is true that iput and iget issued from HydroShare put the resource file in the local iRODS zone, but the apps server has the flexibility to decide how that file is accessed. One can access it via local icommands that has no access to HydroShare zones, or one could expose the iRODS zone as a filesystem mount on the app server. The latter would be transparent to apps; it would not

[2017-02-09 16:10] alvacouch commented on #1842
@hyi  @mjstealey @rayi113 If the apps server contains credentials to the HydroShare zone, there is no measure or workaround that can make the solution secure. An app developer has control of the app server. Even the capability of issuing icommands from the apps server to the HydroShare iRODS server is a very bad idea.

[2017-02-09 16:18] hyi commented on #1842
@alvacouch @mjstealey @rayi113 Agreed having apps server to have credentials to HydroShare zone is a security issue and bad idea, but I believe @mjstealey has already set up a read-only iRODS account to hydroshare zone for apps server so that read-only iRODS separate account can be used to retrieve large files directly from hydroshare zone subject to access control by REST. This approach is only a

[2017-02-09 16:22] hyi commented on #1842
@alvacouch @mjstealey @rayi113 As for UDP blast, we are not currently using it for iget/iput although we can add the ```-Q``` option to use UDP transfer. I'd recommend to keep using the current default irods tcp-based parallel transfer without customized performance parameter tuning unless we ran into parallel transfer performance issues.

[2017-02-09 16:26] alvacouch commented on #1842
#hyi @mjstealey @rayi113 I've read over the docs again and here are my conclusions:

1. We do have to federate the apps server with the HydroShare zone.
2. We do not have to allow any access from the app server to the HydroShare zone. The federation can be one-way, from HydroShare to apps, and not the other way.
3. We can do everything via federated access from HydroShare to the app server.

This

[2017-02-09 16:31] alvacouch commented on #1842
@hyi @rayi113 @mjstealey The problem with the existing iRODS zone is that it completely bypasses access control. I have told Drew to keep using it but to watch for something better. If we keep providing that functionality, we will not be able to have untrusted app developers.

[2017-02-09 16:35] alvacouch commented on #1842
@hyi @rayi113 @mjstealey It is perfectly fine to develop this mechanism without UDP and then enable UDP at need. The Restart option alone justifies using iRODS transfer rather than REST transfer.

To listen to users, there's a need.

[2017-02-09 16:41] hyi commented on #1842
@alvacouch I agree with your conclusions - federation is required to enable parallel file transfers between irods servers in different zones. One way transfer from hydroshare to apps would simplify things a lot, but apps would not be able to post resources larger than 1GB back to hydroshare via REST, which may be a good thing for performance and policy consistencies.

[2017-02-09 18:01] pkdash commented on #1842
So are we going to support both pull and push or not?

[2017-02-09 18:23] alexlemann commented on #1848
Would it make sense to classify what we have now in terms of interactions in a matrix, @ChristinaB to determine if we see some commonalities that could be refined into best practices now that we have a few apps to consider? Getting input from the app developers would be useful as well. Obviously the best practices may change, but this would be a way to codify the emergent practices into recommenda

[2017-02-09 18:42] alvacouch commented on #1848
See related issue #1842 for the reason that some of the things we are doing now are a security nightmare and not best practices. The current way we are doing reads and writes in apps is badly broken. Large files are being transferred via apps that have read access to all of HydroShare, thus bypassing privacy and access control.

I have proposed a fix. This will become a best practice if implemente

[2017-02-09 18:44] alvacouch commented on #1832
Combined with #1841 #1843

[2017-02-09 18:44] #1832 closed

[2017-02-09 18:46] alvacouch commented on #1842
@pkdash Yes, we can support both push and pull by creating an iRODS federation connection with apps that is read/write on the apps side but has no privilege on the HydroShare side. This is different from a publication federation.

[2017-02-09 18:53] hyi commented on #1842
@alvacouch @pkdash There is more to it for a push from apps to hydroshare. Specifically, where to put files initially for resource creation or add files to existing resources if we bypass django? It can be put into the user's irods account in hydroshare user zone, but that depends on users already having an irods account in user zone, plus some other bits and pieces that need to be worked out.

[2017-02-09 18:56] alvacouch commented on #1842
@hyi @pkdash The problem of where to put pushes is solvable. Long term, we are going to need a holding area larger than /tmp and a systematic approach to temporary files. This is true whether or not the files are pushed or uploaded. Remember that in the proposed solution, HydroShare has complete control of where files are put and the app gets no say at all.

[2017-02-09 19:01] hyi commented on #1842
@alvacouch Agreed it is solvable, but we should leverage existing implementation as much as possible rather than adding new implementations. Currently, the resource can only be created from files uploaded to django server or from files in irods user zone from user's irods scratch space assuming the HydroShare user has already created a corresponding irods user in user zone. If we add another tempo

[2017-02-09 19:04] pkdash commented on #1842
@alvacouch @hyi Is it not possible to push the file to Hydroshare zone first and then link it to  ResourceFile object?

[2017-02-09 19:11] kelseyurgorenci commented on #1826
I just realized that the actual host (along with it the key) will not change with the Namecheap move. So this will actually not be a problem. SSL cert can just be renewed as usual on 5/12/2017.

[2017-02-09 19:11] hyi commented on #1842
@pkdash @alvacouch That is what is currently done for files coming from user zone. I think it can be done in the similar way also for files coming directly from a federated zone in apps irods server, but some bells and whistles need to be added into resource creation and add files to resources functions to make sure the path all set up correctly. I agree this is more direct and avoid an extra hop,

[2017-02-09 19:26] alvacouch commented on #1842
@hyi @pkdash Pushing to the HydroShare zone first -- just like for user-zone files -- is fine.

[2017-02-09 19:39] pkdash commented on #1846
@dtarb Do we need to send email notification to group owners on this auto approval of group membership?

[2017-02-09 19:52] pkdash commented on #1846
@alvacouch I assume if the group owner has set the flag for the group for auto approval to True, then we directly call the ```share_group_with_user()``` and no need to create membership request object. Who would be the share grantor in this case?

[2017-02-09 20:31] alvacouch commented on #1846
@pkdash Well, share_group_with_user remains unconditional. I could accomplish this more easily by simply trying to make a request for group membership and having it succeed immediately. This would require no changes anywhere. Thus, we call the same function from the UI and it knows what to do. I think this is easier.

[2017-02-09 20:37] hyi opened #1850 "Some tests are not run by run-tests-jenkins on Jenkins server"
I discovered this issue while working on https://github.com/hydroshare/hydroshare/issues/1838 to delete dangling resources in iRODS in unit tests. I found the test ```hs_core.tests.api.native.test_create_new_version_resource``` tests actually failed after @pkdash's changes to raster resource type as part of file type work, however the test failure was not caught by Jenkins since it gave green chec

[2017-02-09 21:03] pkdash commented on #1846
@alvacouch That too works. But still who is the grantor for this membership? Can we just pick any one owner of the group? In this case also we don't want to send emails to group owners for approval. So the view function needs some change. I can work on this and may be able to get this into release 1.9.5.

[2017-02-09 21:04] hyi commented on #348
This has been resolved by removal of ga_resources form hydroshare codebase, so closing.

[2017-02-09 21:04] #348 closed

[2017-02-10 03:38] pkdash commented on #1846
I have mostly implemented this feature now. Will be creating a PR tomorrow.

[2017-02-10 04:26] dtarb commented on #1846
Answering @pkdash question quite far up this chain, I think that when someone joins a group where approve is automatic, that it would be good to send the owner an email that says "X joined your HydroShare group Y".  However this is not a critical issue if it will require much additional work.

[2017-02-10 04:49] dtarb commented on #1252
@mauriel133.  I made the suggestion when the message was "User has insufficient privilege over resource" which was cryptic.  The present message "User has insufficient privilege to unshare" is much better and better than "action not allowed".  However I think the wording could be even better.  I suggest

"You do not have permission to remove this sharing setting"

[2017-02-10 13:42] dtarb commented on #1844
@hyi @zhiyuli I have looked into this problem with @pkdash and in offline testing find the problem occurs in https://github.com/hydroshare/hydroshare/blob/develop/hs_file_types/raster_meta_extract.py in the code in lines 165 to 200

Do any of you know the reason for the logic at lines 178 to 187?

For the raster file in the resource linked above that causes this error, line 165 gets the projection

[2017-02-10 14:07] hyi commented on #1844
@dtarb I don't know anything about the history of this code, but your suggestion to switch line 187 with lines 183-184 makes sense to me. It seems to me it makes more sense to try to ImportFromWkt of the original projection first to see if a spatial reference can be successfully set, if not, then try to call line 183-184 for another try. Just my two cents, @zhiyuli may know more about this and @ga

[2017-02-10 15:21] dtarb opened #1852 "Access control broken/leaking on beta."
If I go to the URL of a private resource in HydroShare without logging in the correct behavior is the "The resource you have attempted to access is private" as occurs on www
![image](https://cloud.githubusercontent.com/assets/3456833/22832020/abea9e8e-ef69-11e6-9033-2ac60f2ddcd6.png)

However in the beta test deploy the full landing page is shown with message that you do not have access to the fil

[2017-02-10 15:22] dtarb commented on #1839
#1852 is a must fix before 1.9.5 deploy

[2017-02-10 15:33] hyi commented on #1852
@dtarb @pkdash @mjstealey My preliminary investigation revealed that can_view() method on BaseResource class is never called automatically by Mezzanine any more. I suspect it might be caused by removal of ga_resources and ga_ows apps. @pkdash Can you take a look at this also since it looks like a deeper issue related to interplay of components, and the more people to investigate, the faster this i

[2017-02-10 16:33] pkdash commented on #1852
@hyi Looking into this. Yes, I am also seeing the can_view() is not called anymore.

[2017-02-10 16:42] hyi commented on #1852
@pkdash I found the reason why can_view() is not called. I believe can_view() was removed in Mezzanine version 4.1.0 which we are using now and can_move() was added into Mezzanine instead. So that can_view() code has not been called for some time since Mezzanine version was bumped up. However, can_add(), can_change(), can_delete() are all called when visiting a resource page from my resources page

[2017-02-10 16:43] pkdash commented on #1852
@hyi I think now I have single line fix. Testing now. Will be creating a PR soon.

[2017-02-10 16:44] alvacouch commented on #1852
@pkdash @hyi Yes, it should be fairly simple to fix. Remember that we actually override mezzanine in the ResourcePermissionsMixin.

[2017-02-10 16:51] alvacouch commented on #1842
@hyi @pkdash  It strikes me that we could prove this concept on the current App server, by giving the core HydroShare zone the permission to write or read anything in the app server zone, in the context of the existing federation.  We could keep the app server's read-only access but not use it for this experiment.
@mjstealey Could we make this change and try this out at the icommands level?

[2017-02-10 16:55] alvacouch commented on #1842
@mjstealey @hyi @pkdash @rayi113 One technical question: if we want to copy something from a federated zone to the app zone, do we need specific privilege for the federated zone or is the privilege of the hydroproxy user on the main zone sufficient? The latter would seem to be sufficient by the definition of federation but I cannot be sure.

[2017-02-10 16:55] mjstealey commented on #1842
There is no federation, there is no app server zone.
There is not an iRODS server installed on the apps server, only iCommands as far as I know
@zhiyuli may be able to better explain what's installed over there.

[2017-02-10 16:58] alvacouch commented on #1842
@mjstealey Are the app server icommands now enabled based upon a different user login than hydroproxy, with read-only access credentials?

[2017-02-10 17:01] hyi commented on #1842
@alvacouch Yes, if we want to copy something from a federated zone to the "hypothetical" app zone, we can set up permission to have hydroshare zone proxy user to "own" anything in the app server zone. As @mjstealey mentioned, nothing exists on apps server yet, so everything is hypothetical at this point.

[2017-02-10 17:03] alvacouch commented on #1842
@mjstealey What kinds of changes would have to be made on the app server to enable such a federation? How difficult would it be to maintain? How does it scale? These are the real questions that we need answered before we proceed with this proposal. CC: @rayi113 @hyi @pkdash

[2017-02-10 17:09] zhiyuli commented on #1842
apps.hydroshare.org server has NO irods server, irods zone or icommands installed currently. all apps are using hydroshare rest api (hs_restclient).

appsdev.hydroshare.org server (dockerized tethys) has icommands installed, and there is a script that compares performance of rest api and icommands for testing purpose. It downloads some resources via rest api first, and then downloads them again by

[2017-02-10 17:15] mjstealey commented on #1842
1. Install an iRODS iCAT server on apps (actually could be anywhere so long as its vault is reachable by apps).

2. Federate with hydroshareZone giving the wwwHydroProxy user full access in the new zone. There will be no access provided to any users from the appsZone in the hydroshareZone, so kind of a one-way street for push/pull from the hydroshareZone side exclusively.

3. Maintenance / scale c

[2017-02-10 17:24] alvacouch commented on #1842
@mjstealey If we give apps the ability to write into the federated app zone, and HydroShare proxy inherits access from federation, is this necessary?

[2017-02-10 17:30] alvacouch commented on #1842
Based upon the current discussion, it seems that there are two needs for the app iRODS zone:
1. some form of cache that stores copies of resources/files copied from HydroShare to iRODS.
2. some workspace that would be available to apps for the purpose of preparing an upload to HydroShare.
(1) would be managed by HydroShare, while (2) would be managed by apps.

[2017-02-10 17:49] alvacouch commented on #1846
@pkdash @dtarb Well, the actual choice of approving owner isn't all that important, as any owner can override any other owner's approvals. I would suggest an arbitrary but consistent choice, e.g., "first owner" as defined in the query order for retrieving owners.

[2017-02-10 17:58] mjstealey commented on #1842
I should clarify my thought a bit on this as it is tangential and pertained to a demo using a variant of HydroShare federated with an iRODS server within RADII for running models.

The workflow incorporated the desire to write model output data back to the hydroshareuserZone, and not the hydroshareZone. This was done to allow the user the opportunity to review the data in their personal iRODS stor

[2017-02-10 18:00] alvacouch commented on #1846
@pkdash Edited previous answer to show actual code to derive "first" owner.

[2017-02-10 18:37] alvacouch commented on #1842
@mjstealey So, to translate this to use cases, tickets might be necessary for transfers to the iRODS user zone on the HydroShare servers?

[2017-02-10 20:36] pkdash commented on #1846
@alvacouch Will make the above change. Is first owner is useful anywhere else? If its then I will make that as a property

[2017-02-10 21:11] pkdash commented on #1852
@dtarb Test on beta to see if got fixed.

[2017-02-10 22:10] zhiyuli commented on #1844
@dtarb @hyi @pkdash
from my understanding, the project string extracted on line 165 may be in different formats (esri style, ogc style or other 3rd party styles..) depending on the specific software/tools used to produce this raster file. So to make things easy, Tian uses line 183 to convert this original project string into OGC style projection string before proceeding coordinate system transform

[2017-02-10 23:53] dtarb commented on #1844
Thanks @zhiyuli.  I've worked on this with @pkdash and we have it figured out.  There will be a PR on this soon.

[2017-02-10 23:58] dtarb commented on #1852
It works.  Thanks.

[2017-02-10 23:58] #1852 closed

[2017-02-11 00:06] dtarb commented on #1846
I do not see a need/use for first owner to be a property to use anywhere else.  Much of our design is premised on all owners are equal.

[2017-02-11 13:29] dtarb opened #1856 "Mezzanine admin interface unable to list pages"
The Mezzanine admin interface is not able to list pages on current beta release candidate.  This is presumably due to dependency on geoanalytics code that was removed in the code cleanup.

On beta if you click on pages in the admin interface you get
![image](https://cloud.githubusercontent.com/assets/3456833/22854082/f096218e-f022-11e6-904e-f11e75147cec.png)

The probematic page appears to be the

[2017-02-11 13:32] dtarb commented on #1607
Received email from @Lizabrazil indicating that Crossref is unable to unregister the DOI's as they have already been indexed.  The DOI's point to:
https://www.hydroshare.org/resource/726781eb2bbc4839ad56eed73ba67e85/
https://www.hydroshare.org/resource/61dbf283189c457185ea16bc629d9db4/
which are HydroShare URL's that do not exist.

Options for addressing this include
A. Establish pages at the abov

[2017-02-11 20:29] pkdash commented on #1846
@dtarb and @ChristinaB This work has been deployed on testservices.hydroshare.org for testing. The create/update Group dialog box now has a checkbox (Auto approve membership). If this checkbox is checked, then any Hydroshare user can join the group without the need for the group owner approval.  All group owners will be notified via email indicating who is the user joined a specific group.

[2017-02-12 00:57] dtarb commented on #1846
+1  I tested and like the functionality.  I'll leave open so @ChristinaB can provide feedback if she wants to, but @pkdash feel free to submit the PR and get it merged once code review is done, and close this when you do this.

[2017-02-12 01:53] dtarb opened #1857 "Resource landing page has comment "wait for process to complete" at bottom"
The text "wait for process to complete" at the bottom of each resource landing page should be removed.

[2017-02-12 03:54] dtarb opened #1858 "Unable to load file greater than 1 GB from iRODS on beta"
I received the following error trying to load a file from iRODS into beta.hydroshare.org

![image](https://cloud.githubusercontent.com/assets/3456833/22859530/1f53a2ca-f09c-11e6-8cc7-1cc333c76252.png)

[2017-02-12 05:07] dtarb commented on #1843
See #1161.  I suggest the following:

I suggest HydroShare support apps at the various release levels as follows
Recommended.  These appear on the open with button for an associated resource or file type.
Full release.  These appear on the launch page from apps.hydroshare.org and in apps tab within resource landing pages.

Beta release.  These appear on the launch page from apps.hydroshare.org and

[2017-02-12 05:07] dtarb commented on #1841
Addressed in #1843

[2017-02-12 05:07] #1841 closed

[2017-02-12 15:28] dtarb opened #1859 "Establish or provide instructions (in help) for users to recover, change or reset iRODS password"

[2017-02-12 15:43] dtarb commented on #1858
This same error occurs on www.  I am testing with the following file in iRODS nfie.hydroshare.org
/nfiehydroZone/home/public/HAND/HUC6/030203.zip which is 1.2 GB.

[2017-02-12 15:53] mjstealey commented on #1858
@dtarb - This is expected behavior based on the requirements @hyi had implemented from. The only area from which files greater than 1 GB could be loaded from was the hydroshareuserZone. Anything else was limited to 1 GB, be it http/https/non-federated iRODS zones.

Based on this issue it would appear that you'd like files greater than 1 GB to be available from all iRODS zones, federated or otherwi

[2017-02-12 17:48] dtarb commented on #1784
Complete set of examples is

- Raster Example: https://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b/
- Second Raster Example: https://www.hydroshare.org/resource/877bf9ed9e66468cadddb229838a9ced/
- Multidimensional example https://www.hydroshare.org/resource/50fa9c5b3b5b4263bf4f1752a8b6723c/
- Time series example https://www.hydroshare.org/resource/1a25b11fa1354773b6edb9495e754f4e/

[2017-02-12 23:19] hyi commented on #1858
@dtarb As @mjstealey explained above, this is working as expected although the error handling could be made better. Let me know if you want to make this issue specifically targeted at better error handling, otherwise, this is working by design and could be probably closed.

[2017-02-12 23:39] hyi commented on #1607
@dtarb Options C and D involve crossref or CUAHSI, and options A and B can be done within HydroShare. Between options A and B, I prefer B over A. In fact, I am trying to see if I can retrieve the original referrer info from the redirect request from crossref to hydroshare landing page, if I can do that, I may just customize a 404 page to handle this special case, but so far, Django does not seem t

[2017-02-13 15:32] Lizabrazil commented on #1607
Hi,

Crossref support originally suggested option C. I'm not sure how hydroshare creates DOIs on the back end. For CUAHSI, we submit an XML that indicates the URL we want the DOI to point to. Whenever a change is needed, we can submit a new XML that includes the same DOI with a new URL.

[2017-02-13 15:41] dtarb commented on #1607
Let's go with option C then. @hyi lets discuss on call.  @Lizabrazil we'll send you the URL to the page when it is set up.

[2017-02-13 15:44] dtarb commented on #1858
If this is desired expected behavior then we can relegate this to a documentation issue.  However is there a good technical reason why we limit file sizes incoming from other iRODS systems.  I can see advantages in using other systems such as Cyverse, where a partnership with them would alleviate some of the burden on us and can also avoid the use of CyberDuck that is sometimes clumsy.  Further, i

[2017-02-13 15:45] hyi commented on #1607
@dtarb @Lizabrazil Option C is the easiest on HydroShare side, which means I don't have to customize the standard 404 page, but only create a page for crossref to redirect to.

[2017-02-13 15:46] mjstealey opened #1860 "ga_resources and ga_ows database tables"
@pkdash - Since the ga_resources and ga_ows Django apps have been removed, we should also take steps to purge the database tables from the system. FK references made to these tables can be problematic if not resolved.

[code]

[2017-02-13 15:56] hyi commented on #1858
@dtarb @mjstealey @rayi113 Only files from a federated iRODS zone with HydroShare zone can be leveraged for resource creation with files larger than 1GB, currently only hydroshare user zone is federated with hydroshare zone to handle large files larger than 1GB. Also, our design is that the federated zone will hold the hydroshare resources created from files coming from that federated zone, so tha

[2017-02-13 16:51] mjstealey commented on #1856
@dtarb - Once the "Alex Lemann" resource was removed, the "Pages" view from the admin panel will now resolve correctly on https://beta.hydroshare.org

[2017-02-13 17:19] pkdash commented on #1856
@mjstealey I am assuming that resource was related to ga_resource.

[2017-02-13 17:38] zhiyuli commented on #1822
@pkdash  @hyi

I could reproduce the error locally. Looks like something changed in hs_core broke it??? You know any recent changes may contribute to this?

Traceback (most recent call last):
  File "/hydroshare/ref_ts/views.py", line 199, in create_ref_time_series
    metadata=metadata)
  File "/hydroshare/hs_core/hydroshare/resource.py", line 426, in create_resource
    hs_bagit.create_bag(resou

[2017-02-13 17:48] zhiyuli commented on #1822
@hyi @pkdash
OK...I compared the get_xml() in Ref_TS code with other res_types' code, Ref_TS had a missing parameter "pretty_print=True" in get_xml(). I added it and seems it fixed this error.
Looks like that parameter had been missing in Ref_TS for a while until some recent changes finally exposed this issue.

[2017-02-13 19:25] alvacouch commented on #1774
@hyi I agree. But I have too much to do to make this happen right now.....

[2017-02-13 21:02] Lizabrazil commented on #1784
Great, thanks Dave. All examples are now included in their individual resource pages. I do not see a page for composite yet, but i am assume someone is working on it.
Christina, I'm not sure where to put this...can you add it in where it fits:
JAWRA paper on resource data model that should also be mentioned in the help as a place where you can learn more: Horsburgh, J. S., M. M. Morsy, A. M. Castr

[2017-02-13 21:23] mjstealey commented on #1860
Safest way to do this looks to be:

1. With site deployed using master branch and production resources (as found now on www)
    - zero migrate both ga_ows and ga_resources
        - $ python manage.py migrate ga_ows zero
        - $ python manage.py migrate ga_resources zero
2. Rebuild using the updated codebase (develop) where the ga_ows and ga_resources code and linkage has been removed from in

[2017-02-13 22:06] pkdash opened #1862 "Some unit tests are not executed by Jenkins"

[2017-02-13 22:31] pkdash opened #1863 "Admin panel to list resources by type"
This will help finding resources easier as well potentially avoid timeout issue when we have large number of resources and all getting loaded on to a single page.

[2017-02-14 14:40] alvacouch commented on #1842
@rayi113 @hyi @mjstealey @dtarb

I realize that there's a simpler approach for download. One can issue an access token via rest and then the app can use the token to transfer a file. This does not require federation.

This doesn't work as well for upload, though, because of the nature of upload. There is no straightforward way to learn in Django when the upload has been completed, because the uplo

[2017-02-14 14:48] mjstealey commented on #1842
Can there not be some form of signal passing wrapping the process that corresponds to the state of the transaction? Assuming we want file I/O to be asynchronous to begin with due to not knowing the state of the network or size of the file ahead of time.

[2017-02-14 14:54] alvacouch commented on #1842
@mjstealey Not practical. That is in the state of the app. We would have to enforce that at the app level.

We could write an iRODS rule that calls Django and tells it that the file has arrived and to index the file. But I don't know what the failure modes are and whether it is possible to write a rule that cleans up after a failure of transmission?

[2017-02-14 15:02] alvacouch commented on #1842
@mjstealey
(The filesystem is already littered with the results of software failures. Attempting to clean this up.)

[2017-02-14 15:06] mjstealey commented on #1842
👍

[2017-02-14 15:26] hyi commented on #1842
@alvacouch If we can really get around security issue with a token issued from HydroShare REST for apps download, I believe we should be able to use the same token for apps upload. In terms of notification of upload transfer status or transfer failure from apps to HydroShare, since apps issue icommands for file upload to HydroShare, apps know whether icommands succeed or raise exceptions and can a

[2017-02-14 15:56] hyi commented on #1858
@dtarb @rayi113 @mjstealey This is working as expected at this point based on my further investigation. Since NFIE irods zone is not federated with beta, so the size limit exception is expected on beta when loading files from nfie zone or cyberse. Although NFIE irods zone is indeed federated with hydroshare zone, the localHydroProxy irods account, which is a counterpart of hydroshare zone proxy ir

[2017-02-14 16:14] mjstealey opened #1864 "Register Permissions with the admin site"
@all - Thoughts on making the Permissions editable from the admin panel?

Add following to` admin.py`
[code]

We have left overs from prior apps lurking in our database. We could expose and control these via the admin panel if that is thought to be a good way to handle this.

For example: **ga_ows** and **ga_resources** permissions remain
<img width="882" alt="screen shot 2017-02-14 at 11 01 13 am

[2017-02-14 16:25] pkdash commented on #1864
@mjstealey This editing of permission needs to be done one time right?

[2017-02-14 16:33] mjstealey commented on #1864
@pkdash - In a perfect world, yes.
Should also take into consideration other leftovers like django_docker_processes:
[code]

Like everything else in the admin panel, things can go awry if buttons get pushed too hastily.

[2017-02-14 16:36] pkdash commented on #1864
@mjstealey I mean once you delete the ga related permissions using the Admin panel we can unregister Permission so that no one has access to it in the admin panel.

[2017-02-14 16:44] mjstealey commented on #1864
@pkdash - Correct. Could simply comment it out. Or check it into the codebase already commented out, and then uncomment it when needed.

[2017-02-14 16:48] pkdash commented on #1864
@mjstealey I think it should be possible to control whether the Permission menu appears or not from a parameter settings in settings.py

[2017-02-14 16:53] pkdash commented on #1842
I agree with @alvacouch that we should avoid cluttering our Hydroshare zone. It would be great we can use a scratch area in Hydroshare user zone for intermediate file upload. Then Django will be responsible for moving that uploaded file to Hydroshare zone - I assume this part of the workflow has already been implemented.

[2017-02-14 17:03] mjstealey commented on #1864
@pkdash - using beta as a test, have removed any permissions and/or database entries for ga_ows, ga_resources and django_docker_processes. The 2 lines of code were added manually, updates made, and then removed again. If no issues are discovered with beta, the same method can be used for production when the time comes and doesn't involve persisting any code.

[2017-02-14 17:14] hyi commented on #1842
@pkdash That is in line with my thinking, i.e., create an irods user account, say, apps_user, in hydroshare user zone as the scratch space for this, and yes, the functionality has already been implementation in resource creation and adding files to existing resources if we use the scratch space in hydroshare user zone to hold files coming from apps to be uploaded into hydroshare zone. As long as t

[2017-02-14 17:16] pkdash commented on #1864
@mjstealey Sounds good.

[2017-02-14 17:19] pkdash commented on #1842
@hyi

Apps still need iRODS server for file download - right?

[2017-02-14 17:22] hyi commented on #1842
@pkdash No, apps only needs icommands installed with no need for iRODS server as long as the credentials are addressed with token/tickets as @alvacouch mentioned above, which is the only thing I am not sure whether it can be done easily and securely.

[2017-02-14 17:42] pkdash commented on #1850
@hyi Should I delete this issue as I created a duplicate issue #1865 ?

[2017-02-14 18:12] hyi commented on #1850
Closing this as it has been addressed as part of issue #1865

[2017-02-14 18:12] #1850 closed

[2017-02-14 18:31] rayi113 opened #1866 "Add Message Of The Day MOTD"
Per @dtarb , @mauriel133 @mjstealey Need a notice on the HydroShare home page (probably a green banner notice in a style similar to what you get when you create a resource) that says (for example):
Planned HydroShare Maintenance.  HydroShare will be offline Friday February 17 from 8 am to 11 am Eastern US Standard time for system wide storage maintenance at the RENCI data center.  We apologize for

[2017-02-14 18:39] rayi113 opened #1867 "Email All Email Addresses in HydroShare User Profiles"
Per @dtarb , implement mechanism to email all email addresses in HydroShare User Profiles e.g. for when there is scheduled downtime.

[2017-02-14 19:16] dtarb commented on #1867
This could be as simple as extracting a list of the emails of all users from the admin page and sending email from a regular email client.

[2017-02-14 21:08] horsburgh opened #1869 "REST API: Add additional end points to support search/discovery"
The current REST API supports a **getResourceList** end point with filters for creator, owner, user, group, resource type, from date, and to date.  Details of existing functionality are at:

https://github.com/hydroshare/hydroshare/wiki/HydroShare-REST-API

Additional filters on **getResourceList** or additional end points that support the following are needed to support integration with other, ex

[2017-02-14 21:18] mauriel133 commented on #1866
@pkdash , @hyi could one of you take care of this one? I'll be traveling until Thursday and I'm unavailable in the meantime.

[2017-02-15 01:46] mjstealey commented on #1867
In the short term this will be the easiest route.

Longer term would want to look at a couple of options.
1. mass email package to manage this type of thing locally. Needs to be restricted to admin level accounts.
2. Sign up with a mailing service and use their APIs to maintain our email list. Advantages being the handling of unsubscribe requests, exclusion lists, etc. as well being less likely to

[2017-02-15 02:11] dtarb commented on #1607
The page https://www.hydroshare.org/removed/ has been created.  @Lizabrazil please change crossref for these resources to point to this page.

[2017-02-15 02:41] dtarb commented on #1858
@hyi I understand your comments that the way the system is built now you have the 1 GB limit.  However you did not give any technical reason why we can not have bigger than 1GB files be transferred between iRODS zones, even for non federated systems.  It seems that one of the reasons for iRODS is that these sort of file transfers are supposed to be possible.  I am OK if you want to close this issu

[2017-02-15 02:43] dtarb commented on #1784
@Lizabrazil the composite resource is the last bullet point two comments up.

[2017-02-15 06:11] pkdash commented on #1866
@rayi113 I am not sure about the requirements here. Is this going to be displayed automatically based on some conditions? Or we just have a place holder for the notification in the template that we enable and disable manually as we need?

[2017-02-15 06:58] pkdash commented on #1866
@mjstealey We can use the text of the ```content``` field of the Home page (which the Admin can edit in the admin interface) to dynamically display as the notification message on the home page.

[2017-02-15 12:37] mjstealey commented on #1866
@pkdash - The "Home" page in the admin panel is overridden by our present setup and is a placeholder. None of the content there will display to the site.
The only editable fields I've found are from the Theme settings for the information found at the footer regarding contact information, release status, etc.

Please do try this on dev if you think it can be done from the admin panel b/c I don't se

[2017-02-15 13:28] hyi commented on #1858
@dtarb You comments make me think more about loading files from non-federated iRODS zone, and I agree we may not need to put 1GB file size limit on it. Although the files transferred to Django server from a non-federated iRODS zone are wrapped into UploadedFile() object in Django for creating resources including metadata extraction, it is not subject to browser client limitation. Let's leave this

[2017-02-15 13:51] pkdash commented on #1866
@mjstealey I have tested it and it works.

[2017-02-15 14:13] hyi commented on #1866
@mjstealey @pkdash I have tried to edit content for home page from admin but it did not work for me. However, @mjstealey you may directly edit theme/templates/pages/homepage.html on www to insert the site maintenance message when needed.

[2017-02-15 14:28] rayi113 commented on #1866
@pkdash - Place holder for the notification in the template that we enable and disable manually as we need.

[2017-02-15 14:29] pkdash commented on #1866
Only editing in admin is not sufficient. The template needs to have code to display it.

[2017-02-15 14:30] mjstealey commented on #1866
@pkdash - Please implement for demo during today's call

[2017-02-15 14:32] hyi commented on #1866
@pkdash That makes sense, i.e., display content edited from admin in template page. Either doing that or directly editing homepage.html would work.

[2017-02-15 14:33] rayi113 commented on #1866
@pkdash @hyi what about editing theme/templates/pages/homepage.html  to put a motd under the text superimposed on the 3 rotating images on the landing page.  Would be very visible and easy to turn on and off.

[2017-02-15 14:34] rayi113 commented on #1866
Or is that what @hyi proposed just prior to this comment?

[2017-02-15 14:38] hyi commented on #1866
@rayi113 That is pretty much what I suggested since I took a look at homepage.html and it appears it is easy just to append a MOTD message there. But @pkdash may investigate to show content field that can be edited from admin panel in homepage.html, which is better in the sense that @mjstealey can just edit the content field without directly appending the message into homepage.html as needed.

[2017-02-15 14:40] rayi113 commented on #1866
@hyi Okay, thanks, sounds good.

[2017-02-15 15:19] aphelionz commented on #1867
@mjstealey I vote #2. Let's use mailchimp or something. It's not Hydroshare's job to send email newsletters to people.

[2017-02-15 16:34] mjstealey commented on #1866
Proposed MOTD on https://beta.hydroshare.org/

![screen shot 2017-02-15 at 11 32 50 am](https://cloud.githubusercontent.com/assets/5332509/22984199/9a3502bc-f372-11e6-9ddb-e61f9215893d.png)

[2017-02-15 16:36] pkdash commented on #1866
@mjstealey I assume you tested turning this message off.

[2017-02-15 17:01] rayi113 commented on #1866
@mjstealey Can this also display when a user is logged in since that status is cached for returning existing users?  I.e. There is the potential for a loggged-in HydroShare user to miss this message.

[2017-02-15 17:20] pkdash commented on #1866
@rayi113 Should be possible.

[2017-02-15 19:44] dtarb commented on #1856
Fixed by deleting culprit resources

[2017-02-15 19:44] #1856 closed

[2017-02-15 19:57] mjstealey commented on #1866
Message has been applied to https://www.hydroshare.org

[2017-02-15 20:12] mjstealey commented on #1867
02/15/2017 at 3 pm ET: Mass email has been sent to all users where "is_active" = true.
This implies they had logged into the HydroShare site at least once after signing up.

<img width="895" alt="screen shot 2017-02-15 at 3 09 57 pm" src="https://cloud.githubusercontent.com/assets/5332509/22993406/de0cbb74-f390-11e6-8ae0-90ebe440e890.png">

[2017-02-15 20:23] alvacouch opened #1871 "GeoTrust REST Endpoint Requests"
@aphelionz @pkdash The following REST endpoints are requested from GeoTrust (and incidentally, other users and app developers as well):

- [x] Unzip file (@aphelionz is working on it)
- [x] Upload file to a specific folder (@aphelionz is working on it)
- [x] Zip folder
- [x] Move file/folder
- [x] Add key/value resource level metadata
- [x] Set other resource flags, e.g. @alvacouch will discuss)
-

[2017-02-15 20:29] pkdash commented on #1871
@alvacouch and @aphelionz If we can implement in the order it is listed that would be great.

[2017-02-15 20:44] horsburgh commented on #1871
@alvacouch - also see issue #1869 for additional discovery based REST API endpoint requests.

* Pass in bounding box
* Pass in keyword

[2017-02-15 21:17] aphelionz commented on #1871
@pkdash @horsburgh @alvacouch roger that

[2017-02-15 21:49] pkdash commented on #1866
We can also add the feature where one can specify start date/time and end date/time during which the maintenance message should be displayed. Not sure how that would work with various time zones though.

[2017-02-15 21:55] alvacouch commented on #1842
@hyi @pkdash @mjstealey @rayi113

The token approach would have to be combined with an iRODS rule to notify Django to harvest metadata. The harvesting routine is already written.

@rayi113 Is this the way tokens work? Are we thinking correctly about them?

[2017-02-15 22:15] alvacouch commented on #1842
@horsburgh @pkdash @hyi @rayi113 @dtarb

I changed the issue title and expanded this issue so that the preface describes the design limits in any "unlimited", "asynchronous" file transfer.

The reason I am going to such trouble is to truly make transfer **"unlimited",** which is something I don't know how to do with REST.  No matter what, REST is limited by the timeout one sets. I don't know how t

[2017-02-15 22:22] alvacouch commented on #1842
The SCP solution that I indicated during the call is as follows:

1. Some entity (either the app or the core HydroShare server) reserves a directory and issues a credential that allows read/write access to that directory. This can be a password or a public/private key pair.
2. A REST request to HydroShare from the app serves as a credential exchange. Any credentials that HydroShare needs are part

[2017-02-15 22:23] pkdash commented on #1842
@alvacouch In the long run the file processing that we are doing (e.g. metadata extraction) on the Django server probably needs to happen somewhere else. Otherwise large file processing can also cause problem with the web server.

[2017-02-15 22:24] alvacouch commented on #1842
@pkdash Agreed. But the problem now is that we can't even upload "reasonable" files. "Unreasonable" files are reserved for future work:)

[2017-02-15 22:28] pkdash commented on #1842
@alvacouch As soon as you enable large file transfer, the file processing problem is more likely to happen. I know we don't have to worry about that now.

[2017-02-15 22:31] pkdash opened #1872 "Composite resource unit test failing"
Test programming logic error causes this failure.

[2017-02-16 03:43] dtarb commented on #1867
Removed priority and milestone as it was done for 1.9.5, but retaining as an issue to formalize the process.

[2017-02-16 16:31] mjstealey commented on #1860
completed on production

[2017-02-16 16:31] #1860 closed

[2017-02-16 16:38] mjstealey opened #1876 "MOTD - message of the day"
The MOTD should have the following characteristics.
1. Be a user closable sub-window that appears within the main page of the HydroShare site
2. Message content settable from the admin panel with
    - Message content
    - Enable / Disable "switch"
    - Date range to be displayed

Existing implementation is insufficient as it involves writing directly to the `homepage.html` file to enable/disabl

[2017-02-16 16:38] mjstealey commented on #1866
Implemented on production as disposable code

[2017-02-16 16:38] #1866 closed

[2017-02-16 16:40] mjstealey commented on #1473
presumed to be done

[2017-02-16 16:40] #1473 closed

[2017-02-16 16:40] mjstealey commented on #1691
presumed to be done

[2017-02-16 16:40] #1691 closed

[2017-02-16 16:40] mjstealey commented on #1804
presumed to be done

[2017-02-16 16:40] #1804 closed

[2017-02-16 16:41] mjstealey commented on #1771
presumed to be done

[2017-02-16 16:41] #1771 closed

[2017-02-16 16:41] mjstealey commented on #1839
1.9.5 deployed to production

[2017-02-16 16:41] #1839 closed

[2017-02-16 16:43] mjstealey commented on #1708
Resolved in #1821 and deployed to production

[2017-02-16 16:43] #1708 closed

[2017-02-16 16:44] mjstealey commented on #1864
deployed to production, manually updated, and removed.

[2017-02-16 16:44] #1864 closed

[2017-02-16 16:45] mjstealey commented on #1857
@dtarb - Is this still an issue?

[2017-02-16 16:48] mjstealey commented on #1838
Have migrated all automated build/tests for per commit, per PR and nightly to using iRODS docker containers.
This will no longer foul up our static iRODS deploys, but still remains an issue for anyone doing anything on their local machine, closing for now.

[2017-02-16 16:48] #1838 closed

[2017-02-16 18:32] pkdash commented on #1876
@mjstealey

Does this mean we don't want the message to be part of the homepage.html?

[2017-02-16 18:37] mjstealey commented on #1876
@pkdash - No, it means that whatever code winds up in `homepage.html` should enable/disable the message based on a value set by the user in the admin panel.

Current implementation requires commenting out the code in `homepage.html` to disable the display.

[2017-02-16 18:55] pkdash commented on #1876
@mjstealey

There is no need to comment out the template code. If you edit the Home page content to contain only the following text, it should not display that message.

Planned HydroShare Maintenance.

[2017-02-16 19:11] mjstealey commented on #1876
So our maintenance message can say anything other than **Planned HydroShare Maintenance.**
This seems kind of arbitrary.

A more formalized implementation would be preferred, will use the hack until that time.
As an aside the code for this was manually pasted onto www and is not in the repo.

[2017-02-16 19:24] pkdash commented on #1876
Initially I was trying to see if there is any text in that field then display it otherwise not. However, the content field does not allow it to be blank. That is the reason I had to use the above logic given the time I had yesterday to make it work.

We can easily add a new model Boolean field to the HomePage model and use that to turn on/off the message. That would obviously require migration fil

[2017-02-16 19:39] pkdash commented on #1876
@mjstealey I can also try having start date/time and end date/time settings during which the message will be displayed. I am not sure what that would to different time zone though.

[2017-02-17 16:21] hyi commented on #1842
@alvacouch The SCP solution you described above don't offer the parallel transfer capability iRODS offers, and it'd involve irods fuse or NFS mount to mount iRODS collections to local directory, then scp the large files without parallel transfer from hydroshare to apps or vice versa, which would be slow for large files. Hence I think installing icommands on apps purely for transferring files betwe

[2017-02-17 16:31] pkdash commented on #1842
@hyi Would this strategy work for any apps not hosted on our apps server?

[2017-02-17 16:33] hyi commented on #1842
@pkdash I think so, as long as the apps server know the temp_apps iRODS account credentials and have icommands installed, it should work. @alvacouch @mjstealey @rayi113 @dtarb

[2017-02-17 16:56] pkdash commented on #1842
@hyi We should start prototyping this soon. What others think?

[2017-02-17 19:05] horsburgh opened #1879 "Release 1.9.5: Coverage map is blank on resources"
In the newest release on WWW, the coverage map has been pulled out of the coverage metadata tab, but it's blank on the page. Tested just now on www in Chrome on my Mac.

![image](https://cloud.githubusercontent.com/assets/3485902/23079242/4c8e4a9e-f509-11e6-9616-1a2c69971ea6.png)

[2017-02-17 19:25] pkdash commented on #1879
@horsburgh Seems to be working on other browsers (FireFox and MS Edge).

[2017-02-18 00:08] mauriel133 commented on #1879
I was unable to reproduce this error. @pkdash, could you test on a Mac computer and report the error back to me?

[2017-02-18 00:14] mjstealey commented on #1879
Mac, Chrome, Little Bear resource:

![screen shot 2017-02-17 at 7 11 28 pm](https://cloud.githubusercontent.com/assets/5332509/23087786/07dbaa90-f545-11e6-8863-3dcff6ac5747.png)

@horsburgh - stale browser cache maybe?

[2017-02-18 06:28] mauriel133 commented on #1052
@danames, this has been deployed to www. Should be good to close now.

[2017-02-18 22:09] horsburgh commented on #1879
Well... It's working now. I didn't specifically clear my cache, but let's chalk it up to that. Crisis averted!

[2017-02-18 22:09] #1879 closed

[2017-02-19 14:35] mauriel133 commented on #975
@hyi, I have not worked much with the notification system. Would you be better fit to implement @dtarb's bullet points above?

[2017-02-20 14:53] hyi commented on #975
@mauriel133 I can take care of implementing the email notifications as described by @dtarb above. However, this is a medium priority item, and I will not plan to spend time implementing this until I get quota and other high priority items implemented first. In the meantime, @pkdash can implement this also if he has time. Otherwise, I'll implement this after I get other high priority items implemen

[2017-02-20 16:54] pkdash opened #1882 "Composite resource unit test failing"
Recent raster coverage related work seems to have broken this unit test.

[2017-02-20 18:23] Lizabrazil commented on #1846
Hi,
What is the status on this? I am preparing my activity instructions this week and need to have a final answer on if this will be implemented and how by this week.

Thanks,
Liza

[2017-02-20 18:31] pkdash commented on #1846
This has been implemented and will be available in the next release. You can test the functionality at dev.hydroshare.org

[2017-02-20 21:38] ChristinaB commented on #1843
@aphelionz
Hi Mark, the original list of things that UW -BYU are doing to test Apps is a simple list at the top of closed App testing: emerging process to communicate with developers, CUAHSI, and users on Help #1841[https://github.com/hydroshare/hydroshare/issues/1841]
You can see the rest of the conversation above, with a lot of good ideas and strategy.  We, however, are running around in circles

[2017-02-20 21:53] ChristinaB opened #1885 "Slack Channel to expand Developer, User, and Education Outreach"
@aphelionz
I love the idea of a Slack Channel =    hydroshare.slack.com

Are you thinking one thread? Or multiple?
The current groups I propose we start with are:
Developers (managed by you)
Education (managed by Liza)
Users (managed by Jon Pollack - I am on the CUAHSI user's committee so I would propose we take some conversations there, but it depends on the committee, and if we decide to expand

[2017-02-20 21:55] ChristinaB commented on #1885
On the backend, we should continue using Trello for collaborative task management and Github for issue management with developers.

[2017-02-20 22:07] aphelionz commented on #1885
@ChristinaB I created a slack channel https://hydroshare.slack.com, and I also registered the #hydroshare channel on freenode.irc.net so Non-Slack developer types can chat with me.

Any member of the hydroshare channel can invite people, so have at it!

[2017-02-20 22:10] aphelionz commented on #1871
Gonna start knocking items off this list starting tomorrow @pkdash @alvacouch

[2017-02-20 22:47] horsburgh commented on #1885
@ChristinaB - my developer group uses Slack daily for our messaging within our group. It works great for that.  And, I can recommend it to the HydroShare developers group.

But, I'm not sure I would recommend it for user support (at least for the user facing side). My main concern is that it's one more thing that users have to figure out - "what is this Slack thing?...I just want to report a bug..

[2017-02-20 23:14] dtarb commented on #1857
This is fixed on www.

[2017-02-20 23:14] #1857 closed

[2017-02-21 01:55] ChristinaB commented on #1885
For context: Here is a Footer design Google Doc [https://docs.google.com/document/d/1dkoZh6GgkeftP1gaNxbJA7g1PQBoDTXOustVKvYH6Tg/edit?usp=sharing]  where need to keep talking about Customer Service aspects of outreach and user interaction because we need to make sure we have the backend processes to support the 'Contact' links on the footer.

I don't think  hydroshare.slack.com was proposed direct

[2017-02-21 02:11] ChristinaB commented on #1885
I think if we want to go down the road of having users report a bug, we would do better to add on a LiveChat and keep that funded.  We sure aren't there, quite  yet...

[2017-02-21 04:21] pkdash commented on #1871
@aphelionz Sounds good. Thanks.

[2017-02-21 04:53] pkdash opened #1887 "Do we need coverage map for web app resource type?"
Currently we see the coverage map (with no coverage information) for any web app resource on the resource landing page. Is coverage map relevant to web resources? Otherwise, it would be good not to display it.

[2017-02-21 16:11] pkdash commented on #1609
@danames

Does our current implementation has the ability to associate a web app with a file type? If not then that needs to be implemented first before @mauriel133 can work on the front-end changes as needed by this issue.

[2017-02-21 16:42] mjstealey commented on #1876
@hyi, @pkdash - Maintenance is only one aspect of MOTD, but it's use cases go beyond that.
1. Maintenance: Hard to pin down an exact time, so leaving it on until it's manually switched off via some boolean is valid
2. Special Events:
   a. By the day: Conference, workshop, other event taking place at a daily granularity
   b. By the hour: Webinar, lecture, other event taking place at an hourly gra

[2017-02-21 17:37] pkdash commented on #1876
@mjstealey Do we then use a Boolean field to turn on/off message? The green/red message can be done with an addition Boolean attribute 'Maintenance' .

[2017-02-21 17:44] mohamedmorsy opened #1889 "Coverage issue after updating to the new interface"
I have a paper I am working on that includes a screenshot of the coverage landing page in the edit mode. I used the old interface for the figure when I submitted it. Now during reviewing the paper, I decided to update the figure with the new interface. I found the following for [this resource type](https://www.hydroshare.org/resource/12d195906f2c41918cb24e11a5c3ab60/):

In the old figure, the star

[2017-02-21 18:11] mjstealey commented on #1889
@mohamedmorsy - Neither set of dates looks to match up with the files themselves... Is that expected?

From "RBw simulation.rpt"
[code]

From "RBw simulation.inp"
[code]

[2017-02-21 18:21] mohamedmorsy commented on #1889
@mjstealey Yes, there are several simulations based on the storm event you can choose from included in the inp file. Based on the chosen storm event these dates changed, but still these files cover the start and end date I mentioned. The one you mentioned is for storm event started on FEB-04-2013 and ended on FEB-06-2013. Also here, we do not do automatic extraction for the dates.

[2017-02-21 18:24] mauriel133 commented on #1889
I think this has to do with the front end sending the dates in a different format string that the back end expects. Right now we display the dates using "mm/dd/yyyy" and send it like so. I like that as display date because it is widely common. I will try to find a way to keep displaying it like that, but send a string formatted as "yyyy/mm/dd" in the submission.

[2017-02-21 18:26] mjstealey commented on #1889
Ah, that is the key to the issue here then. So it's not an auto-extraction error, but rather your manually entered data was somehow changed without you doing it.

The most recent edit made to the resource was done by the HydroShare Admin account. This implies there was some type of migration done to this resource to migrate versions/formats and that may have reordered something improperly.

[2017-02-21 19:55] mauriel133 commented on #1889
There was an error in the front end causing wrong values for the dates. I just pushed a PR with the fix: https://github.com/hydroshare/hydroshare/pull/1890

[2017-02-21 21:03] #1723 closed

[2017-02-21 21:03] #1834 closed

[2017-02-21 21:04] aphelionz commented on #1806
@alexlemann Are you comfortable closing this in light of the work I've done in https://github.com/hydroshare/hydroshare/pull/1819

[2017-02-21 21:04] aphelionz commented on #1805
@alexlemann Are you comfortable closing this in light of the work I've done in https://github.com/hydroshare/hydroshare/pull/1819

[2017-02-21 21:06] aphelionz commented on #1885
@ChristinaB Ok to close this now that we've got a handful of poeple on the channel? We can discuss tomorrow.

[2017-02-21 21:06] hyi commented on #1827
@pkdash The fix to this issue should have made into 1.9.5 release, right? Can you test it out and close it if it works now?

[2017-02-21 21:09] #1885 closed

[2017-02-21 23:47] pkdash commented on #1827
@hyi On www it is working only partially. In the edit mode, the copied resource doesn't populate the CV terms. I thought I had fixed that. I guess I have to lookin into it again.

[2017-02-21 23:55] pkdash commented on #1827
@hyi It is working on dev though. May be it didn't make to 1.9.5.

[2017-02-22 12:16] mjstealey opened #1891 "1.9.6 release notes"
Add hotfix information here:

[2017-02-22 14:49] aphelionz commented on #1882
I think you can close this now, right?

[2017-02-22 15:25] pkdash commented on #1882
This has been fixed. So closing.

[2017-02-22 15:25] #1882 closed

[2017-02-22 15:27] pkdash commented on #1862
This has been fixed. Closing.

[2017-02-22 15:27] #1862 closed

[2017-02-22 15:27] aphelionz commented on #1889
I think we can close this now

[2017-02-22 15:28] pkdash commented on #1846
This feature has been added. Closing.

[2017-02-22 15:28] #1846 closed

[2017-02-22 15:29] pkdash commented on #1844
@dtarb I think you can close this now.

[2017-02-22 15:31] pkdash commented on #1822
@zhiyuli Should this be closed?

[2017-02-22 18:47] alvacouch opened #1892 "DataOne reference resource"
@dtarb @horsburgh @martinseul At the CUAHSI management review I had a great idea. We can't afford to store everything people want to publish but we have --  by far -- the easiest editing for metadata and we store everything in DataOne compliant form, suitable for publication on any DataOne node. We should be able to reference and index a DataOne bag. Then it won't matter where it is stored. Thus,

[2017-02-22 19:51] Castronova opened #1893 "Activity usage logs are not consistent"
The logs for activities of actions (visit, download, delete, login, etc) are not consistent.  This limits our ability to create meaningful metrics on Kibana.  For example, we can show action:visit based on university but not for action:login.

To address this, the hs_tracking app needs to log consistent messages for each of these actions.

[2017-02-23 15:33] rayi113 opened #1895 "Make Extended Metadata clickable when value is a URL"
Request to make the value in HydroShare resource Extended Metadata directly clickable in the UI when that value is a URL:

![hs_extmeta_url](https://cloud.githubusercontent.com/assets/2846017/23265717/7c6feb6a-f9b3-11e6-8dda-254c436647a8.png)

[2017-02-23 15:56] hyi commented on #1895
@rayi113 @mauriel133 I can easily add this enhancement with one line change. I am currently rebuilding my development environment with latest develop, but should be able to create a PR for this shortly.

[2017-02-23 16:52] hyi commented on #1895
@aphelionz While working on this issue, I found "Add new entry...``` popup is not displayed any more so I cannot really test whether my fix works or not. This is caused by your recent addition of content security since I can see the error on refusing to execute inline event handler because it violates the following content security plicy directive... triggered by this line: https://github.com/hydr

[2017-02-23 17:40] aphelionz commented on #1895
@hyi Ah, in that case we need to refactor to not use the inline event handler. Assign this ticket to me and I will take care of it.

[2017-02-23 17:45] hyi commented on #1895
@aphelionz Sounds good, just reassigned this ticket to you. There may be other cases of inline event handlers being used, looping in @mauriel133 and @pkdash to keep them informed as well.

[2017-02-23 17:47] hyi commented on #1895
@aphelionz BTW, this becomes a high priority item due to its regression nature.

[2017-02-23 18:00] pkdash commented on #1895
All most all metadata related forms have the inline even handler. Some in the html templates others (in particular resource/file type specific metadata) are in dynamically generated form classes.

[2017-02-23 18:36] alexlemann commented on #1806
Sounds okay to merge your CSP ( #1819 ) + CORS works. I added comments to your PR and updated this ticket's title to include CSP.

[2017-02-23 18:37] alexlemann commented on #1806
Oops... And given my previous comment, I'm comfortable closing this once the PR is merged.

[2017-02-23 18:44] alexlemann commented on #1805
@aphelionz In order to close this, input validation and output checking needs to be improved. Check out the call notes for specifics.

[2017-02-24 19:46] #1844 closed

[2017-02-28 12:32] mjstealey opened #1899 "Conflicting migrations detected - Tests will not run in this state"
@alvacouch, @pkdash, @hyi - Looks like we managed to put conflicting migrations into the develop branch.

Have not checked migrations since the 1.9.5 release. Generally the `makemigrations` call is not part of our scripts and is only done at release time. The `--merge` flag as suggested below has not been part of our process at all to this point.

Reference:
[code]

[2017-02-28 13:32] hyi commented on #1899
@alvacouch @pkdash @mjstealey It appears to me that this may be caused by two PRs that both involve migrations, and after one was merged, the other one rebased with develop, but did not run ```makemigrations --merge``` hence causes this conflicting migrations. @pkdash can you make a PR to fix this migration issue?

[2017-02-28 15:44] aphelionz opened #1900 "Onclick Refactor"
Mauriel and I will be spliiting this up. The goal here is to replace code like this:

`<a href="#" onclick="inlineFunctionCall('arg1', 'arg2')">click here</a>`

with:

[code]

Function calls with arguments can be handled via `data-*` attributes:

[code]

- [x] ./hs_modflow_modelinstance/forms.py
- [x] ./hs_app_netCDF/forms.py
- [x] ./hs_app_netCDF/page_processors.py
- [x] ./hydroshare/static/mezza

[2017-02-28 16:52] alvacouch commented on #1899
I am somewhat confused because I cannot reproduce the error on develop.
When I try to makemigrations --merge,  it reports there is nothing to merge.
Will check dependencies instead.

[2017-02-28 21:51] Castronova commented on #1871
In regards to the `Publish resource` API endpoint:

How automated do we want publishing to be? In December there was a discussion about publishing RHESSys models paraphrased below:

**Lorne Leonard**
How would I upload 100s of zip files (huc-12s) to hydroshare at one time?
Who is the best person to contact about automating the "publish with DOI"?

**Tony Castronova**
As long as the files aren't hu

[2017-03-02 02:41] alexlemann opened #1902 "Front-end tests: create user, login, create resource"
New selenium test cases:

- [ ] ~~create user~~ (this would require defeating recaptcha)
- [x] login
- [x] create resource
- [x] Hook these up to Jenkins

[2017-03-02 15:32] mjstealey commented on #1899
merged and tests are running again

[2017-03-02 15:32] #1899 closed

[2017-03-02 21:03] mjstealey opened #1905 "add USE_SECURITY boolean flag"
Add USE_SECURITY flag to enable/disable security settings and middleware.

[2017-03-06 16:03] yirugi opened #1910 "Metadata modification request for SWAT Model Instance Resource"
We, SWATShare team, are going to implement SWATShare model - HydroShare resource provenance feature to prevent creating several redundant resources / models on both system when user export / import resources.

In order to do this, we need two more metadata field on HydroShare side :
1. SWATShareModelID
Original SWATShare Model ID (32 length hash string) if this resource is imported from SWATShare.

[2017-03-07 16:29] pkdash commented on #1871
@aphelionz Have we already implemented an endpoint for adding key/value metadata at the resource level?

[2017-03-07 16:39] aphelionz commented on #1871
No... the check means I'm working on it :)

[2017-03-07 16:54] pkdash commented on #1871
Got it.

[2017-03-07 18:06] pkdash opened #1911 "File icon needed for NetCDF file"

[2017-03-07 18:09] pkdash commented on #1911
@gantian127 Can you put some description of netcdf file here to help @mauriel133 to create this icon? I am wondering if we can use the NetCDF resource icon also for NetCDF file.

[2017-03-07 19:52] aphelionz commented on #1871
@pkdash @alvacouch gonna need some guidance on how to update resource flags and where the code is. My fear is that it's all scattered around everywhere with no central function to call like the other endpoints. Am I wrong?

[2017-03-07 20:01] pkdash commented on #1871
@aphelionz This is the view function used by the UI for setting resource flags.
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/__init__.py#L601

The only flag that it does not set is the 'publish' which is set by the system when the resource gets published.

This view function probably can be refactored to server both rest endpoint and UI.

[2017-03-07 20:15] aphelionz commented on #1871
@pkdash thank you

[2017-03-07 20:32] jsadler2 commented on #1700
![image](https://cloud.githubusercontent.com/assets/6943441/23676454/be051906-034a-11e7-919c-7c56e1c5f86e.png)

@Castronova what do you think of this new layout especially:

1. the two columns instead of one
2. the "Data" heading changed to "Content Files"
3. the "General" and "Software" headings combined into the "Model Program Information" heading
4. the changed order of metadata fields under "M

[2017-03-08 04:03] dtarb commented on #1784
@gantian127 could you please write a composite resource description page.  It should go in https://docs.google.com/document/d/1K2QNfTYRQV7LBKtfh_XFLBpPS5z-gvBxxN2evgCy9wY/edit.  You can look at other resources documents in the same folder for examples on the content.  Please alert @ChristinaB  when you are done.

[2017-03-08 14:05] dtarb commented on #1887
I think the functionality as it is is correct.  If I go to a web app landing page in default (view) mode I do not see coverage.  This is because the resource does not have coverage.  For example see https://www.hydroshare.org/resource/9674a0af9f30410e9e02397c91284f54/

If I edit the web app instance I see coverage.  This allows an editor to set coverage.

Since web apps are a generic mechanism for

[2017-03-08 14:18] dtarb commented on #1867
@aphelionz can you be champion of finding a simple solution.  We do not need any email newsletters, but we do need functionality for a HydroShare admin to go some place and type in text to send announcements to all active users, such as announcements of system maintenance.  We may need two tiers of messages (1) that all users get that users cannot opt out of that are system critical level messages

[2017-03-08 14:24] aphelionz commented on #1867
@dtarb copy that. I'll discuss some options on the call today.

[2017-03-08 15:16] ChristinaB opened #1915 "Add Profile requirements to HydroShare new user steps"
Currently, new HydroShare users are only required to put their first and last name.   This leads to what I call the 'Empty Profile Problem' which makes social functions or use tracking severely limiting (see use tracking reporting by @Castronova ).

The Education & Outreach group has come to a consensus that adding the requirement to fill 'Institution' and 'Title' adds sufficient benefits without

[2017-03-08 15:31] alvacouch commented on #1761
iRODS is working during migrations now.

[2017-03-08 15:31] #1761 closed

[2017-03-08 15:39] alvacouch commented on #1630
This problem has evaporated. Probably due to upgrades.

[2017-03-08 15:39] #1630 closed

[2017-03-08 15:43] alvacouch commented on #1744
The feature has been merged and tested.

[2017-03-08 15:43] #1744 closed

[2017-03-08 15:46] alvacouch commented on #1613
@hy1 @mjstealey Currently, the dev environment is sufficient, but it will not be sufficient when we go to local iRODS for everything.

[2017-03-08 15:52] alvacouch commented on #1484
All has been addressed. Closing now.

[2017-03-08 15:52] #1484 closed

[2017-03-08 15:53] alvacouch commented on #1183
This has been addressed. (Users absolutely demanded real-time updates.)

[2017-03-08 15:53] #1183 closed

[2017-03-08 16:12] alvacouch commented on #812
Previously addressed.

[2017-03-08 16:12] #812 closed

[2017-03-08 16:51] yirugi commented on #1910
We are going to use extended metadata, instead of resource specific metadata for this purpose. I'll close this issue.

[2017-03-08 16:51] #1910 closed

[2017-03-08 17:22] aphelionz commented on #1871
@horsburgh @pkdash for the discovery endpoints... should I add those options to the resourceList endpoint??

[2017-03-08 18:10] aphelionz commented on #1599
@pkdash @alvacouch I now doubly believe this can be closed given the work in #1871

[2017-03-08 18:15] gantian127 commented on #1784
@dtarb @ChristinaB Yes, I will write a document for composite resource type. Thanks!

[2017-03-08 18:15] aphelionz commented on #1871
@pkdash nevermind, I see it now

[2017-03-08 20:05] ChristinaB commented on #1915
We also need to think about using controlled lists for the Title and Institution so it is more easy for Kibana and @Castronova  to do useful work with the Profile info.

Would also be nice to have an option where someone signing up at an event, or by referral , could volunteer the information, so that @Castronova can track where the users came from.

Thanks!
C

[2017-03-08 20:05] hyi commented on #1842
@alvacouch @zhiyuli @pkdash I assigned you all as well as myself for this PR so that we may work together soon to address this issue. I think my proposed solution above is the easiest approach we can implement within the next 2 or 3 months to meet our needs. It will involve work on iRODS, HydroShare, REST API, and apps.

[2017-03-08 20:11] pkdash commented on #1842
@hyi I am OK with prototyping your proposed solution. Would you start working on the internal api for this then?

[2017-03-08 20:13] hyi commented on #1842
@pkdash Yes, that is what I planned. You and/or @alvacouch can work on REST API and REST client parts.

[2017-03-08 20:28] pkdash commented on #1842
I can work on REST API on this.

[2017-03-08 20:51] rayi113 opened #1917 "Disable Right-Click Download Option HydroShare Resource files > 1GB"
A HydroShare user should not be offered the option to right-click "Download" a HydroShare resource file > 1GB via http, or the selecting that option for a file > 1GB via http should immediately resolve to a message pointing to the [Help ](https://pages.hydroshare.org/creating-and-managing-resources/uploading-large-files-into-hydroshare/) page on how alternately to do this.

Currently, right-clicki

[2017-03-08 21:07] hyi opened #1918 "iRODS federation for expanded storage"
Make sure the capability for institutions to add their own storage capacity and to federate with HydroShare using iRODS works as designed. Document this functionality so that third party institutions can easily follow along to add their own storage capacity as part of HydroShare resource storage.

[2017-03-08 21:13] aphelionz commented on #1917
Proposal. Make this display a message that says "your download will be emailed to you when its ready."

Then send an email with a link to the user that requested it

[2017-03-08 23:37] dtarb commented on #1842
@alvacouch indicated in our prioritization worksheet that transparent file access was higher priority than this.  I would like a bit more information from @alvacouch on the preferred sequencing before we jump in on this.

[2017-03-09 17:09] alvacouch commented on #1759
@xuezhaokun Please look at this and see if you can address it. The only function that works correctly is get_resources_with_explicit_access.

[2017-03-09 19:10] hyi commented on #1566
@dtarb @horsburgh @alvacouch Can one of you draft an email message for sending to users who have used up 90% or above of their allocated quota? I am close to get the first pass of quota implementation done on Django side. Then @mjstealey and I can work together to integrate @mjstealey's nightly script run with Django. I am writing an email_users management command to be called by @mjstealey's scri

[2017-03-09 20:47] pkdash commented on #1759
@xuezhaokun The problem is in the JS code if that would save time in debugging and fixing.

[2017-03-09 21:33] dtarb commented on #1784
@ChristinaB @Lizabrazil the composite resource help file in Google Docs is done.  Thanks @gantian127

[2017-03-10 15:19] rayi113 opened #1920 "Replicate Resoure Bag to iRODS User Zone isn't working"
The Replicate Resoure Bag to iRODS User Zone button and function isn't working on the HydroShare Resource landing page.  Both @dtarb and I @rayi113 verified this when trying to work with a shared file.

[2017-03-10 16:18] hyi commented on #1920
@rayi113 @dtarb Thanks for reporting this. I have hotfixed this issue by directly applying the one-line change on www since this issue is a regression caused by recent change of removing pickle from allowed format for celery tasks, which introduced change to create_bag_by_irods() celery task method signature. I will create a PR to fix this as well as adding an unit test to capture this since appar

[2017-03-10 17:10] hyi commented on #1920
@rayi113 @dtarb @mjstealey A PR https://github.com/hydroshare/hydroshare/pull/1923 has been created to fix this regression issue as well as add unit test case to cover this so this kind of regression will be captured by unit tests in the future. Have asked @pkdash to code review that PR. So you can close this issue after you verify the hotfix does work on www.

[2017-03-10 17:26] dtarb commented on #1566
I will write some text below.  But, I think we need an admin interface that allows administrators to change the texts of these emails.  The text should be pulled from a field in a database that is editable by an administrator, rather than in the code.  That way as policies and messaging changes, the text can be easily updated.

Message to be transmitted by email to user when their quota crosses th

[2017-03-10 19:47] hyi commented on #1920
@rayi113 @dtarb The fix to this issue along with added unit test case has been merged, so you can close this issue after you verify it works on www now with the same hotfix applied.

[2017-03-10 20:22] gantian127 opened #1924 "Metadata Editing for NetCDF Resource Type"
This function will write the resource science metadata stored in Django to the netCDF file in the NetCDF resource.

[2017-03-10 23:45] gantian127 opened #1926 "Manual pre-deploy checklist for version 1.9.6"
This is the manual pre-deploy checklist for version 1.9.6.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.

**Please finish checking before Mar. 1

[2017-03-11 03:48] rayi113 commented on #1920
@hyi It didn't work for this HydroShare resource https://www.hydroshare.org/resource/42a3edd700a749f1890b84d9f1a74fd2/ .  I added you as owner to the resource so you can replicate.  Basically it creates a bagit of metadata only, but not the 1.3GB data file itself.

[2017-03-11 13:19] dtarb opened #1927 "Replicate bag to iRODS does not work on RC 1.9.6"
In testing release candidate 1.9.6 on beta.hydroshare.org I get the following error if I attempt to replicate a resource to iRODS
![image](https://cloud.githubusercontent.com/assets/3456833/23823583/a6848674-0622-11e7-9df3-acd9ba7fdec3.png)

[2017-03-11 13:38] dtarb commented on #1926
See #1927 for an error I received in testing.  This may relate to #1920.

[2017-03-11 13:47] dtarb opened #1928 "Composite resource problems RC 1.9.6"
In testing for RC 1.9.6 I found the following problems (to fix before deploy) and quirks (not essential to address before deploy).

Problems

 - [x] Dragging a file into a folder results in an error
 - [x] If I have a zip file containing a tif file and attempt to set geo raster file type, I get the error below.  The tif file is OK as verified by setting the raster file after unzipping. [3/18/17 ed

[2017-03-11 14:29] mjstealey commented on #1927
@dtarb - Can't tell by your screenshot, but am guessing that you are using an existing account that was originally from www. There is going to be a disconnect between what beta / usersdev understands as linked iRODS user space as compared to what www / users does.

We presently do not attempt to replicate the iRODS hydroshareuserZone users across to the hydroshareusersdevZone due to password and s

[2017-03-11 14:46] dtarb commented on #1927
Yes I was using an existing account.  I was able to create a new account and the replicate completes without giving an error, however I am unable to get into iRODS to verify that the files were put there due to confusion over the right combinations of username, password, host and zone that beta is connected to.

[2017-03-11 14:51] dtarb opened #1929 "Change semantics of replicate to iRODS to copy"
Please change Replicate to Copy at locations indicated below.

![image](https://cloud.githubusercontent.com/assets/3456833/23824222/9627623a-062f-11e7-8044-c13128b9c525.png)

[2017-03-11 14:57] dtarb opened #1930 "iRODS connectivity enhancements"
I suggest the following

- [ ] Enable copying of individual files from a resource to an iRODS server (not only the entire bag as is the case now)
 - [ ] Enable copying to any iRODS server (not only the users.hydroshare.org iRODS server as is the case now).  We can load files from any iRODS server, so should be able to put files there too.
 - [ ] Enable storing of multiple iRODS server connection c

[2017-03-11 15:06] dtarb commented on #1858
Verified that I was able to load a 1.3 GB file from iplant into beta.hydroshare.org, so closing.

[2017-03-11 15:06] #1858 closed

[2017-03-11 15:47] mjstealey commented on #1927
@dtarb - The users zone for beta is as follows
- irods_host: **usersdev.hydroshare.org**
- irods_port: **1247**
- irods_zone: **hydroshareuserdevZone**
- irods_user: **YOUR_USER**
- irods_auth: **YOUR_AUTH**

That should land you in your home: **/hydroshareuserdevZone/home/YOUR_USER**

[2017-03-11 15:59] dtarb commented on #1927
Thanks.  I was able to get in and verify that these bags were copied, so will close this issue.

I was not getting the right combination of usersdev.hydroshare.org (users plural) and hydrohareuserdevZone (user singular) in my login attempts.

[2017-03-11 15:59] #1927 closed

[2017-03-11 18:38] pkdash commented on #1928
@dtarb

This problem is not specific to composite resource. It will happen with any resource type where such action is enabled. This is a bug with the recent work on REST API.

@aphelionz Would you look into it? The error comes as attribute error for accessing ```request.data``` ( https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_folder_hierarchy.py#L363). There may be o

[2017-03-11 18:49] pkdash commented on #1928
@dtarb

It seems the validation of the vrt file is failing. @gantian127 can you comment on this? (https://github.com/hydroshare/hydroshare/blob/develop/hs_file_types/models/raster.py#L411)

[2017-03-11 18:56] pkdash commented on #1928
@dtarb

 Unzip is only enabled upon right click
 Setting of a file type should create the file type in the current folder, not root level folder as it does now

Both these will be fixed as part of the NetCDF PR.

[2017-03-12 15:26] #1052 closed

[2017-03-12 18:45] pkdash commented on #1926
@alvacouch and @dtarb

I am testing access control mainly the undo functionality. Here are the results. I am not sure if this is the expected behavior:

User *A* (resource owner) granted view permission to user *B* and edit permission to user *C*. Then *C* granted edit permission to *B*. Now when *C* tries to change permission for *B* back to view, system does not allow that and says   **'Non-owne

[2017-03-13 13:37] alvacouch opened #1931 ""Reifying" matters of opinion in RDF"
I am concerned that we are being a bit sloppy in how we code things in RDF (in resourcemetadata.xml). The specific instance is when a user overrides metadata that was in fact derived from the physical resource file. In this case, the user is saying that the file isn't definitive. This is a claim, and not a fact, because it differs from the content of the file.

In RDF, **reification** is the proce

[2017-03-13 16:40] alvacouch commented on #1566
@dtarb @hyi We had a detailed discussion on the issue of quotas on the developer call.

1. Other current practical quotas (e.g., how Linux does things) leverage a "soft limit" above which one can create files for a short time, which is usually 7 days. This is called a "grace period". At the end of the 7 days, the soft limit becomes hard and one cannot create any more files until one goes beneath t

[2017-03-13 19:53] hyi commented on #1566
@alvacouch @dtarb I believe I have implemented everything @alvacouch mentioned above except for grace period in that PR. The underlying database schema takes into account the third party federated zone by making UserQuota class a foreignkey relationship to User class rather than OneToOne relationship so that more UserQuota records/instances can be added for a single User instance with each UserQuo

[2017-03-13 23:15] pkdash opened #1932 "REST endpoint for create resource missing post creation signal"
This endpoint needs to send the resource post creation signal.

[2017-03-14 03:12] dtarb commented on #1566
I agree with @alvacouch suggestions on softquotas and grace period.  With respect to resources stored on a federated zone I do not see a way to avoid some administrative burden, but agree we need to keep it practical and manageable.  Here are some suggestions

1. All resources and initial quota is by default in the HydroShare zone.
2. When an organization creates a federated resource they designat

[2017-03-14 03:24] dtarb commented on #1926
I found the same behavior as @pkdash and agree that it is inconsistent with our policy.  Since C granted edit permission to B, C should be able to remove this and have the permission revert back to the view permission granted by A.

[2017-03-14 03:55] pkdash commented on #1872
This has been fixed. So closing.

[2017-03-14 03:55] #1872 closed

[2017-03-14 12:54] hyi commented on #1566
@dtarb @alvacouch It appears grace period is desired, so I will try to implement grace period, which means we have to keep track of when the used quota starts reaching the soft limit so count down can be achieved. Also the user may clean up their storage so count down needs to be reset if the used quota falls below the soft limit after count down starts. It definitely introduces a lot of complexit

[2017-03-14 13:18] dtarb commented on #1566
Points 4 and 5 deal with where the information about what quota's are are stored and managed.  I am suggesting that instead of setting up separate mechanisms that only administrators can access, which seems complex to me and requires us to designate administrators who do this, and manage these administrators when we get to federated zones, that we instead just use what we have already developed wi

[2017-03-14 15:15] hyi commented on #1566
@dtarb Thanks for your clarification on points 4 and 5. I think my current implementation with UserQuota table with many-to-one relations with User table works well without much administrative burden. You can test it out when we have alpha ready for testing. I agree your point No. 6 is useful, but let's defer it to the next phase and keep this in mind in the design. On 7, I see your point, but als

[2017-03-14 16:00] aphelionz commented on #1871
@alvacouch @horsburgh How should I implement the discovery endpoint for bounding box? Anything WITHIN the bounding box? anything TOUCHING the bounding box?  Is there existing code for this already?

[2017-03-14 17:19] horsburgh commented on #1871
Initially - I would do anything intersecting the bounding box (within or touching). I'll let Alva answer the question about code because the current user interface (the Discover page) does have a Map Interface and presumably some filter on bounding box because it filters the list of resources at the bottom of the page.

[2017-03-14 17:23] zhiyuli opened #1933 "Store webapp icon file in db as base64 string"

[2017-03-14 17:41] aphelionz commented on #1871
@horsburgh That's fine. I was able to get the code help I need as well. Thanks!

[2017-03-14 21:00] dtarb commented on #1566
Owners have to work it out among themselves socially, not programmatically.  I would like the system to be simple.  An owner can delete a resource if they need to get it off their quota so if another owner forces it on to them against their will, they just delete it.  This has to be sorted out by owners talking among themselves, not us building complicated checks in the system.  You should not mak

[2017-03-15 00:12] gantian127 opened #1935 "Testing List for Issue #1900"
Please test the following items on https://park.hydroshare.org/. This test is to make sure that all the clickable elements (buttons, links etc) on the web page work as expected.

#### Resource metadata creation and update
- [x] Time series resource  [Pabitra] @pkdash
- [x] Generic resource [Tian] @gantian127
- [x] NetCDF resource [Tian] @gantian127
- [x] Raster resource [Tian] @gantian127
- [x] We

[2017-03-15 04:56] pkdash commented on #1911
This has been implemented. Closing.

[2017-03-15 04:56] #1911 closed

[2017-03-15 05:10] pkdash commented on #1926
@aphelionz Zipping of folder seems to be failing due to the same reason (attribute error on accessing ```request.data```)  as of renaming/moving of file or folder (issue #1928).

[2017-03-15 16:29] mjstealey commented on #1557
tested on beta

[2017-03-15 16:29] #1557 closed

[2017-03-15 16:37] gantian127 commented on #1935
@mauriel133 I found that the arrow beside each "creator" and "contributor" seems not working. When I click on them, there is no response. I don't know if that is expected or not. Thanks
![image](https://cloud.githubusercontent.com/assets/5016511/23959545/1480730e-096b-11e7-9740-789b54388bcb.png)

[2017-03-15 16:54] mauriel133 commented on #1935
@gantian127, are you clicking and dragging? These arrows are there only to indicate that the rows can be reordered by dragging and dropping. Perhaps it would be good to add a tooltip message.

[2017-03-15 16:55] gantian127 commented on #1935
@mauriel133 The file type metadata editing for generic file type and raster file type don't work. When I edit any metadata within "File Metadata" tab and click on "Save changes", there is no response. This is not working as expected.
![image](https://cloud.githubusercontent.com/assets/5016511/23960460/a96cc380-096d-11e7-8981-931af4b4d0b0.png)

[2017-03-15 16:58] gantian127 commented on #1935
@mauriel133 The dragging and dropping works. I once thought the arrow is used for clicking. But if it is used for indication, that will be fine. If you want to add tooltip message, it may be better to let user know the dragging and dropping function. Thanks

[2017-03-15 17:05] aphelionz commented on #1926
@pkdash @dtarb This is fixed in PR https://github.com/hydroshare/hydroshare/pull/1937. Waiting for jenkins and I will merge the approved pull request.

[2017-03-15 17:24] alexlemann commented on #1935
@mjstealey are the submodules in the correct state for testing? What's the plan for updating ``hs_docker_base``?

[2017-03-15 18:17] mauriel133 commented on #1935
@gantian127, I have found the problem and pushed a fix for the File Type metadata tab issue. I have started redeployment and will be ready for testing once it's finished.

[2017-03-15 19:11] hyi commented on #1935
@mauriel133 I have noted a couple of issues on the check list above regarding irods login and irods account creation and deletion from user profile page. There is no response once I clicked on the links. See above for details.

[2017-03-15 20:01] ChristinaB commented on #74
Nice work!
I suggest adding a small bit of help text near the Create Resource button such as "When you click Create Resource, the files will be uploaded to the HydroShare server. [Click here to learn more about next steps to share and formally publish your data.
](https://pages.hydroshare.org/sharing-and-privacy/formally-publishing-resources/)

Also, add a Create Resource button on the upper right

[2017-03-15 20:55] gantian127 commented on #1935
@mauriel133 Thanks for the update. I think the "save changes" button works now. But the Key/Value extended metadata within the "File Metadata" tab doesn't work. Would you please have a look at it? Thanks
![image](https://cloud.githubusercontent.com/assets/5016511/23970392/33730e38-098f-11e7-8fd1-0122fa5fefac.png)

[2017-03-16 03:23] pkdash commented on #1827
It has been addressed. Closing.

[2017-03-16 16:43] aphelionz commented on #1926
@dtarb tested my endpoints again - @hyi found a big but resolved it. However, that bug fix is in the quota PR. @hyi should we pull that fix out into its own PR so it can land in 1.9.6?

[2017-03-16 18:08] #1827 closed

[2017-03-16 18:10] pkdash commented on #484
This has been addressed. So closing.

[2017-03-16 18:10] #484 closed

[2017-03-16 18:12] pkdash commented on #1887
Seems not an issue as per @dtarb . So closing.

[2017-03-16 18:12] #1887 closed

[2017-03-16 18:48] pkdash opened #1940 "Add unit tests for internal view functions in hs_core"
Add unit tests for the following view functions (hs_core):
- [x] create_resource (TODO: using files from user zone)
- [x] update_key_value_metadata
- [x] add_metadata_element
- [x] update_metadata_element
- [x] delete_metadata_element
- [x] add files
- [x] delete_file
- [x] delete_multiple_files
- [x] delete_resource
- [x] copy_resource
- [x] new resource version
- [x] set_resource_flag
- [x] shar

[2017-03-16 18:58] horsburgh commented on #1926
@mauriel133 - I've just started testing 1.9.6 on beta.hydroshare.org. When I make my window narrow, there's some weird stuff happening with the sign in link. It ends up on a new line and then the horizontal divider crowds the text below.

Testing in Chrome on my Mac:

![image](https://cloud.githubusercontent.com/assets/3485902/24013797/2faee0f6-0a48-11e7-9f30-6674423afe00.png)

[2017-03-16 19:02] horsburgh opened #1941 "Resource Landing Page: Need to Display full Citation"
In the most recent versions, the citation has been reduced to a single line that does not wrap and part of the citation is not shown. The citation box should display the full citation, including the HydroShare URL and/or the DOI URL if the resource is published. The copy functionality is nice and should remain.

![image](https://cloud.githubusercontent.com/assets/3485902/24013946/afcc33d8-0a48-11e

[2017-03-16 19:13] hyi commented on #1926
@aphelionz I fixed a bug with REST test for deep unzipping in my quota PR. Is that what you meant by the bug I fixed? Since the fix is only for REST test, I am thinking it should not affect the actual endpoint functionality. Perhaps you meant something else?

[2017-03-16 19:21] mohamedmorsy commented on #1871
@aphelionz We would like to update the model instance, SWAT model instance, and MODFLOW model instances resource specific metadata element "includes_output" using REST api. This is a part of what we are doing in GeoTrust. This specific metadata element is important as its default value is "False" so once the model runs  and pushes back the output to the HydroShare we would like to update the "incl

[2017-03-16 19:25] aphelionz commented on #1871
@mohamedmorsy is `hs` in that code an instance of hs_restclient? If so then probably you will need to wait for the API updates I did to propagate down to the restclient. I haven't implemented them there yet.

[2017-03-16 19:26] aphelionz commented on #1926
@hyi Oh, ok. Thanks for the clarification. I guess I was confused. @dtarb All set here then.

[2017-03-16 19:31] pkdash commented on #1871
@aphelionz The existing endpoint for updating metadata supports only Dublin core metadata.  @mohamedmorsy is asking for updating resource specific metadata which is not part of the Dublin core. For this I don't think there is any thing needs to be changed in hs_restclient.

[2017-03-16 19:35] horsburgh opened #1942 "Time Series Phase 2"
The following web user interface changes and API support are needed to make Time Series Phase 2 complete. I'm collecting some thoughts in this issue so I can close the other time series issue (#559). These may eventually get split out into multiple issues for work:

**Phase 2 API Support**
- [x] 1. Ensure capability to upload and download time series resource files through API (I believe that this

[2017-03-16 19:36] aphelionz commented on #1871
Well, the endpoint I modified should cover that, then?

`set_metadata = "/hsapi/resource/%s/scimeta/custom/" % self.pid

        response = self.client.post(set_metadata, {
            "foo": "bar",
            "foo2": "bar2"
        }, format='json')
        self.assertEqual(response.status_code, status.HTTP_200_OK)`

[2017-03-16 19:37] horsburgh commented on #559
Phase 1 of time series is done, so I'm closing this issue. The Phase 2 stuff has been moved to a new issue - see #1942

[2017-03-16 19:37] #559 closed

[2017-03-16 19:54] pkdash commented on #1871
No. That only updates key/value metadata.

[2017-03-16 21:45] gantian127 opened #1943 "resource metadata xml file bug for netCDF resource and file type"
When there is no original spatial reference metadata, the xml file still shows the term "projection_name=". This is not working as expected.

![image](https://cloud.githubusercontent.com/assets/5016511/24019723/d0d527e0-0a5e-11e7-818c-f7062b0dc528.png)

[2017-03-16 21:47] gantian127 opened #1944 "file type metadata extended key/value pair metadata creation bug"
When a key/value pair metadata of the file type metadata is created, the system shows error about "key already exists"which should not show up.

[2017-03-17 16:11] alvacouch opened #1947 "Extend discovery to non-core metadata"
@dtarb @pkdash There are several metadata elements that are not part of `CoreMetaData` that need to be indexed, at least in a "catchall" fashion. This will allow us to discover things based upon the existence of this metadata. This metadata is dependent upon resource type and is stored in a typed metadata object. Currently, metadata from these objects is not harvested apart from their overlap with

[2017-03-17 16:14] alvacouch commented on #1947
From an implementation standpoint:
* "Variable" is a multi-valued facet (like subject).
* Ideally, the existence of sites means that you need multi-valued point coverages. A resource matches if any point is within the rectangle of interest. Show all points when the resource is chosen.
* Sites from a time series are all part of one "resource".

[2017-03-17 18:09] pkdash opened #1949 "Implement bulk update of resource specific metadata"
The ```CoreMetadata``` instance function ```update()```  needs to be extended by subclasses of ```CoreMetadata```.  This internal API change would then support REST endpoint for bulk update of metadata for any resource type including resource specific metadata.

Bulk update of resource specific metadata needs to be implemented for the following resource types
- [x] Model Instance Resource
- [x]  S

[2017-03-17 20:00] alexlemann opened #1950 "phantomjs is hanging on nightly builds"

[2017-03-18 18:15] dtarb opened #1953 "More issues with composite resources in 1.9.6 beta"
I created a composite resource.  I added some zip files to it and unzipped them.  One of the folders contained a tif file.  I set Georaster file type.  I then imported a netCDF file and set NetCDF file type.  This resource inherited a title and abstract (that I had not yet set) from the NetCDF file.  I then set a keyword.  This should be everything that I need to make the resource public.  However

[2017-03-18 19:56] dtarb commented on #1953
I looked into this some more.  The test file I am using is in this zip file
[SWE_time.zip](https://github.com/hydroshare/hydroshare/files/852697/SWE_time.zip).  Note that for the tests below I load directly the nc file out of this zip file.

- On www I know this file has worked before.  When I attempt to create a multidimensional resource with this file I get.  "Error - Sorry an error occurred"
-

[2017-03-18 22:23] pkdash commented on #1953
@dtarb

It seems www is giving that error today if one tries to create any resource type with or without files.

[2017-03-18 22:32] pkdash commented on #1953
@dtarb I did some debugging using the SWE_time.nc. It is not creating the Spatial coverage metadata element as there is no box information in the extracted metadata. Without the spatial coverage the file type metadata display fails. I have to work with @gantian127 to sort this out as I don't why the extracted metadata does not contain box information.

[2017-03-19 00:27] pkdash commented on #1953
@dtarb On www I tried to create a NetCDF resource using the SWE_time.nc file. I see the same issue - no coverage data and thus resource can't be made public.

[2017-03-19 02:03] dtarb commented on #1953
@pkdash yes I see the same on www.  So the problem is on www too.  But look at https://www.hydroshare.org/resource/392fc3a92ea54ad69f67728d13c9d919/.  This is the same netCDF file in a resource created earlier that has a bounding box and is public.  I believe that the March 1, 2017 date on this may be misleading, but cannot be sure.  I believe that this resource has existed for several months, but

[2017-03-19 02:06] dtarb commented on #1953
Note also that in the resource https://www.hydroshare.org/resource/392fc3a92ea54ad69f67728d13c9d919/ the only Author is Gichamo.  I believe that loading from the file superceded the owner.  Now however the author that comes from the file appears to be added.  I prefer to retain the previous behavior unless we deliberately decide on a change.

[2017-03-20 14:58] pkdash opened #1954 "Resources are not shown in my resource page if access to those resources is granted via group"

[2017-03-20 15:32] pkdash opened #1955 "Resource access control - undo probably not working"
The following observation was made during pre-deployment testing for 1.9.6:

User A (resource owner) granted view permission to user B and edit permission to user C. Then C granted edit permission to B. Now when C tries to change permission for B back to view, system does not allow that and says 'Non-owners can't decrease privilege of others'. If C tries to delete existing edit permission (click o

[2017-03-20 15:54] alvacouch opened #1956 "data/contents subpath does not belong in /hsapi/resource/{pk}/functions paths"
@pkdash @dtarb
Currently, the API functions that support the REST endpoints in `/hsapi/resource/{pk}/functions` take a full path like in iRODS. Since the application is not allowed to modify files in any subpath except `{pk}/data/contents`, `data/contents` should not be required to be part of that pathname. This means -- in turn -- that we need to transition apps using this code in the hs_restclie

[2017-03-20 15:56] alvacouch commented on #1956
This is also an integrity exposure, as the routines do not check currently whether the path is allowed or not. I have changed this in my debugging mode code, but in production, invalid requests are simply acted upon, writing files to forbidden areas in the resource.

[2017-03-20 16:39] pkdash commented on #1956
@alvacouch ```zip``` and ```unzip``` are not yet implemented in hs_restclient. So no existing apps using hs_resclient need any change.

[2017-03-20 17:40] mauriel133 opened #1959 "Sharing resources - autocomplete does not match correctly"
When sharing resources the autocomplete does not match any entries when the full name of the person is typed.

[2017-03-20 19:03] alvacouch commented on #1956
@pkdash It's a little weirder than that. The REST endpoints add data/contents to the path; the API functions don't. I will modify this if it is safe.

[2017-03-20 19:15] pkdash commented on #1956
@alvacouch Are you referring to Hydroshare internal API functions (view functions)? Any changes to those likely to break Hydroshare UI.

[2017-03-20 19:42] hyi commented on #1566
@dtarb @alvacouch I am currently adding grace period into quota implementation and will have to modify the default warning and enforcement messages. Note these messages can be edited from admin interface, so getting them right initially is not critically important, but it'd be nice to get the default messages approved by you initially. Below are the modified messages. Let me know if you want to ma

[2017-03-21 01:51] dtarb commented on #1566
@hyi, I think there needs to be a warning before the soft limit, a soft limit (that we call the quota) and a hard limit that is 125% of the quota.  I suggest the following messages.

Warning (when over 80% of quota)

Y GB, B% of your quota. Once your quota reaches 100% you will no longer be able to create new resources in HydroShare. To request additional quota, please contact support@hydroshare.o

[2017-03-21 12:44] hyi commented on #1566
@dtarb OK. I like your suggestions and will implement as such. The used percentage of quota (i.e., 80%) is editable from admin interface, but the 125% hard limit will be hard-coded (i.e., not editable from admin interface). Let me know whether this is OK with you. @alvacouch See if @dtarb's suggestion is in line with your thought.

[2017-03-21 13:45] hyi commented on #1566
@dtarb @alvacouch I decide to make hard limit 125% editable from admin interface in the similar way as the soft limit 80% as there may be needs to adjust these percentages over time.

[2017-03-21 14:56] mauriel133 commented on #1935
@gantian127, while fixing the Key/Value issue I found another error.

If I press the Enter key while adding keywords I get an error page:
![image](https://cloud.githubusercontent.com/assets/2448568/24153424/0cf687c4-0e14-11e7-8d61-ea7cceb739d6.png)
![image](https://cloud.githubusercontent.com/assets/2448568/24153448/1ec09a94-0e14-11e7-91e3-a0192144d81f.png)

Also, these form elements share the sam

[2017-03-21 15:58] alvacouch commented on #1955
@pkdash Undo is a different function than unshare. Undo is invariant of user privilege. One can invoke it even if one loses the privilege first.

[2017-03-21 16:03] pkdash commented on #1955
@alvacouch Is that means **unshare** should call **undo** internally from the UI perspective?

[2017-03-21 16:06] alvacouch commented on #1955
@pkdash There is actually no reasonable way to do that.

* undo_share reinstates the previous privilege you might not have granted. E.g., if you gave CHANGE, and someone else gave VIEW, undoing restores VIEW.

* unshare permanently unshares, in the sense that it does not reinstate any previous privilege granted by another. In the same situation, unshare would remove all privilege including VIEW.

[2017-03-21 17:05] alvacouch commented on #1955
@ pkdash The problem with combining the functions concerns only owners.

* Non-owners cannot unshare.
* Owners can unshare, which means removing all privilege.
* Non-owners can undo.

So, my simple question is: should an owner be able to undo?
* If so, undo and unshare are different UI buttons.
* If not, undo and unshare can be the same UI button.

[2017-03-21 18:07] mauriel133 commented on #1935
@hyi, I looked into the issues you mentioned. I fixed a few things and the events seemed to trigger now.

 The error with the modal not being dismissed was caused by the ajax response returning an empty string error, thus not triggering the if clauses. See below:

![image](https://cloud.githubusercontent.com/assets/2448568/24162983/e1962cb8-0e2e-11e7-873e-5800307b1bb0.png)

I changed it so that th

[2017-03-21 18:36] pkdash commented on #1955
@alvacouch Would it work then if we use the same button (x) but do different actions depending upon if the user is owner (remove all privileges) or non-owner (undo)?

[2017-03-21 18:50] hyi commented on #1935
@mauriel133 Thanks for debugging and finding this issue. I took a look at the backend code, and think this issue was caused by this line: https://github.com/hydroshare/hydroshare/blob/develop/theme/views.py#L348 where ex.message is empty for some reason. Can you change this line to the following
[code]
so that the failure message will be shown even if exception message is empty? If this one line c

[2017-03-21 18:55] hyi commented on #1935
@mauriel133 If the line as mentioned above is indeed the culprit for causing this issue, can you make another one line change similarly at the back end for create_irods_account() as well to prevent similar issue for creating an irods account? Specifically, change this line:
https://github.com/hydroshare/hydroshare/blob/develop/theme/views.py#L379
to the following:
[code]

[2017-03-21 19:17] alvacouch opened #1963 "MOPEX needs"
@dtarb @aphelionz @pkdash
After conferring with Rick Hooper (@rphtufts) and @Lizabrazil ,  there are several limitations of the current HydroShare that are preventing -- or at least greatly impeding -- publication of the MOPEX data through HydroShare. This is a multi-dimensional issue with deficiencies in three areas:

- [ ] Composite resource doesn't yet handle geographic features or referenced t

[2017-03-21 19:30] mauriel133 commented on #1935
@hyi, I have pushed this change. A few issues:

- This displays an error when the iRODS account creation fails in the Profile page, but a page refresh is issued right after and the message is only visible for a few seconds. We need to change the response in this case to not refresh the page.
- By looking at the code, we might have the same issue for errors when deleting iRODS accounts.

[2017-03-21 19:46] hyi commented on #1935
@mauriel133 Is the page refresh happened as a result of removing JavaScript inline event handlers? Since the request is made via AJAX, back end just returns success or error JSON response, so it is up to the front end to display the success or failure message and act accordingly. The old code just append success or failure message to irods-account-container div element without doing a page refresh

[2017-03-21 20:07] mauriel133 commented on #1935
@hyi, I disabled the page refresh at the end of this method. Although I'm still not sure what was causing it.

[2017-03-21 20:52] mauriel133 commented on #1671
This has been implemented and deployed to www.

[2017-03-21 21:01] mauriel133 commented on #1917
The original suggestion was implemented here: https://github.com/hydroshare/hydroshare/pull/1925 and it has been merged to www. Please verify.

@aphelionz, I think your idea is good. We need input from @dtarb and @horsburgh to see if we can push it forward and assign it a priority.

[2017-03-21 21:04] mauriel133 commented on #1889
This fix has been deployed to www.

[2017-03-21 21:05] mauriel133 commented on #1252
These changes have been deployed to www in the latest release. Please verify.

[2017-03-21 21:06] mauriel133 commented on #1323
This has been implemented and deployed to www.

[2017-03-21 21:06] mauriel133 commented on #943
This has been implemented and deployed to www.

[2017-03-21 21:08] mauriel133 commented on #1503
@ChristinaB, could you provide more details as to what needs to be done for this issue?

[2017-03-21 21:11] mauriel133 commented on #1876
@pkdash, let me know if/when you need my help on the front end of this.

[2017-03-21 21:14] mauriel133 commented on #1043
A fix for this has been deployed to www.

[2017-03-21 22:49] pkdash commented on #1876
@mauriel133 Thanks. At this point I am not sure about the requirements of this feature. There has been some talk about a full blown messaging system. That's why I stopped working on this PR.

[2017-03-22 13:54] mjstealey commented on #1905
merged

[2017-03-22 13:54] #1905 closed

[2017-03-22 13:55] #1891 closed

[2017-03-22 13:56] mjstealey commented on #1928
@aphelionz, @pkdash - Has this been verified on www?

[2017-03-22 13:56] mjstealey commented on #1926
deployed

[2017-03-22 13:56] #1926 closed

[2017-03-22 15:16] pkdash commented on #1928
@mjstealey The following seems to work on www:

- Unzip is enabled upon selection of zip file
- Dragging a file into a folder works without the above error

Setting a file type creates a new folder in the current folder on beta but not on www. I am not sure why I am seeing this difference.

[2017-03-22 15:35] pkdash commented on #1928
@mjstealey Ignore my comment related to file type setting and new folder creation. It works on www.

[2017-03-22 15:36] pkdash commented on #1928
@dtarb Can you test and close this issue?

[2017-03-22 15:56] alvacouch commented on #1963
@xuezhaokun We have some work to do on this one. The most obvious thing we can do is to boost text matching by placing all of the metadata from a collection or composite resource into the SOLR text field. This will make the collection naturally come up before the individual resources in SOLR order.

[2017-03-22 18:26] pkdash commented on #1572
@dtarb This can be closed now.

[2017-03-22 18:37] pkdash commented on #1495
@hyi I think this should be closed.

[2017-03-22 18:45] pkdash commented on #1618
@alvacouch and @hyi Wondering if this issue has been addressed?

[2017-03-22 18:48] pkdash commented on #1902
@alexlemann I think this can be closed.

[2017-03-22 18:54] pkdash commented on #1932
This has been addressed and pushed to develop.

[2017-03-22 18:54] #1932 closed

[2017-03-22 18:57] #1495 closed

[2017-03-22 18:58] mjstealey commented on #1826
New cert has been issued and is being migrated to all VMs

[2017-03-22 18:58] #1826 closed

[2017-03-22 19:00] hyi commented on #1618
@pkdash I think it has been addressed, but I may be wrong, so will leave it to @alvacouch to see whether it has indeed been addressed and can be closed.

[2017-03-22 19:00] danames commented on #1323
Done in 771

[2017-03-22 19:00] #1323 closed

[2017-03-22 19:01] #1586 closed

[2017-03-22 19:03] danames commented on #1310
We can use organizations instead of groups. So, given limited funding and time. I'm closing this. Let's reopen for HydroShare  2.0.

[2017-03-22 19:03] #1310 closed

[2017-03-22 19:07] pkdash commented on #1889
@mohamedmorsy Can you close this?

[2017-03-22 19:10] rayi113 commented on #1917
When testing on 1.9.6, I'm not see the #1925 behavior; this is what results for this resource: https://www.hydroshare.org/resource/23b0fbef0a1b4c4c8f128ef5ddeb7287/

![hs_error](https://cloud.githubusercontent.com/assets/2846017/24216193/b9a5bba4-0f11-11e7-84f7-365e032afecf.png)

[2017-03-22 19:28] pkdash commented on #1798
@mjstealey Should be this be closed?

[2017-03-22 19:29] mauriel133 commented on #1917
@rayi113, I can't replicate this issue. Could you double check by clearing the cache?

![image](https://cloud.githubusercontent.com/assets/2448568/24216921/9da82756-0f03-11e7-9487-77da708412cb.png)

[2017-03-22 19:29] pkdash commented on #1252
@dtarb Seems like this can be closed.

[2017-03-22 19:30] hyi commented on #1917
@rayi113 I also did a quick test on this resource, and the download is disabled from the right click popup menu, so I am not able to download this file. I used Chrome browser. Not sure how you get that "Failed-forbidden' to happen.

[2017-03-22 19:31] pkdash commented on #1568
@mauriel133 Hope this is an easy fix.

[2017-03-22 19:32] pkdash commented on #1550
@jsadler2 Should this be closed?

[2017-03-22 19:34] rayi113 commented on #1917
Yes, this is a browser cache issue, it now works successfully on both Chrome and Firefox.  Thanks very much.  Closing issue.

[2017-03-22 19:34] #1917 closed

[2017-03-22 19:35] pkdash commented on #1815
@jsadler2 What's the status on this issue?

[2017-03-22 19:38] pkdash commented on #1733
@mjstealey and @alexlemann What's the status on this issue?

[2017-03-22 19:38] mauriel133 commented on #1568
@dtarb, @pkdash  Could you elaborate on this one?

[2017-03-22 19:38] pkdash commented on #1659
@zhiyuli Can you test and close this issue?

[2017-03-22 19:51] #1902 closed

[2017-03-22 20:16] #1889 closed

[2017-03-23 13:14] hyi commented on #1566
@dtarb @alvacouch I have implemented allowing quota holder to change quota holder to another owner from resource landing page. However, if this quota holder owner is removed from access control by another owner, I assume the only reasonable action is to transfer the quota holder to this owner who is removing the quota holder owner. Do you agree?

[2017-03-23 13:32] jsadler2 commented on #1815
@pkdash still working on it

[2017-03-23 13:34] jsadler2 commented on #1550
This was resolved yes. Closing

[2017-03-23 13:34] #1550 closed

[2017-03-23 14:26] alvacouch commented on #1955
@pkdash It will work but that is exceptionally poor UI design.  An owner should still have the option of a simple undo. It really needs two buttons that appear when `can_unshare_*` and `can_undo_share_*` are true.

[2017-03-23 14:33] alvacouch commented on #1955
@pkdash If you must use one button, I recommend a button that makes "undo" the priority operation, so that:

* if `undo_share_*` is true, then it is labelled `undo share` and undoes the share when pressed (without necessarily wholly unsharing the resource if privileges were assigned by others).
* else if `unshare_*` is true (only for owners), then it is labelled `unshare` and unshares the resource

[2017-03-23 14:33] hyi commented on #1566
@dtarb @alvacouch I took my suggestion above back. I think it'd be more reasonable just to disallow owners to delete a quota holder owner from manage access panel, in the same way as the only remaining owner cannot be removed. This makes more sense to me, so I will go with that for implementation.

[2017-03-23 14:46] alvacouch commented on #1955
(remember that undo is limited to a single action, and that further undos are prohibited after the first one by the backend, even though the information is there.)

[2017-03-23 14:54] pkdash commented on #1955
@mauriel133 Can you work on the above UI changes (as suggested by Alva) in access control panel? Any backend changes you need, I can do.

[2017-03-23 15:08] pkdash commented on #1835
@mauriel133 Can you work on this?

[2017-03-23 15:10] mauriel133 commented on #1835
Yes, I'll take care of it.

[2017-03-23 15:14] pkdash commented on #1895
@aphelionz Was wondering if @mauriel133 should work on this.

[2017-03-23 15:15] mauriel133 commented on #1955
Yes, I'll work oj it.

[2017-03-23 15:16] pkdash commented on #1915
@aphelionz Should @mauriel133 work on this?

[2017-03-23 15:56] alvacouch opened #1965 "It would really help if stacked build requests in Jenkins were automatically cancelled"
@mjstealey Part of the delay in Jenkins now is that if I issue two "push" requests for the same PR, the test for the first must complete before the test for the second begins. I thus end up waiting for myself. Ideally, if I issue multiple "push" requests for the exact same branch, only the last one should run. At the least, intermediate tests should not even be run.

[2017-03-23 22:51] dtarb commented on #1566
I am OK with all of this and look forward to a demo.

[2017-03-23 22:56] dtarb commented on #1568
This had to do with the group layout looking irregular.  It is working nicely now on www, so was evidently fixed at some point and I will close.

[2017-03-23 22:56] #1568 closed

[2017-03-23 23:01] dtarb commented on #1252
Verified

[2017-03-23 23:01] #1252 closed

[2017-03-23 23:08] #1572 closed

[2017-03-24 03:43] pkdash commented on #1954
This has been fixed and pushed to develop. So closing.

[2017-03-24 03:43] #1954 closed

[2017-03-24 03:45] pkdash commented on #1943
@gantian127 Can test to see if this has been fixed and close this issue?

[2017-03-24 03:46] pkdash commented on #1929
@mauriel133 Can make this small fix?

[2017-03-24 03:52] pkdash commented on #1778
This has been fixed. So closing.

[2017-03-24 03:52] #1778 closed

[2017-03-24 04:06] pkdash commented on #1715
@zhiyuli Wondering if this has been fixed.

[2017-03-24 04:07] pkdash commented on #1714
@mauriel133 What's the status of this issue?

[2017-03-24 04:10] mauriel133 commented on #1714
This is pending discussion. I like Jeff's idea of moving them to the Help pages. However, I could fix the layout on this current pages in a very short time if needed.

[2017-03-24 04:19] pkdash opened #1966 "Google map interface for editing coverage metadata for file types and timeseries resource"
This needs to be implemented as a common html component (preferably as a modal dialog) that can be used in editing coverage metadata on multiple places on a single page.

[2017-03-24 04:33] pkdash commented on #1666
@mauriel133 I am assigning this to you for the front-end changes needed for this issue. I can do the back-end changes.

[2017-03-24 04:37] pkdash commented on #1639
@alvacouch Is this still an issue?

[2017-03-24 04:40] horsburgh commented on #1714
I still vote for moving this to pages.hydroshare.org

[2017-03-24 04:42] pkdash commented on #1622
@alvacouch Is this still an issue?

[2017-03-24 04:44] pkdash commented on #1620
@mjstealey This can be closed.

[2017-03-24 04:54] pkdash commented on #1523
@zhiyuli What's the status of this issue?

[2017-03-24 06:01] aphelionz commented on #1714
I can take this as part of my pages revamp

[2017-03-24 11:30] mjstealey commented on #1715
@pkdash - That is an artifact of using oauth as a sign in mechanism along side of standard sign in on Apps.
This would be the case for any site using both standard account creation along side of oauth from site XXX without some other kind of explicit user mapping.

In short, user **drew** is a different user than **drew6252fee7c0934e4c** from Apps point of view.

i.e.
- Sign in with USERNAME/PASSW

[2017-03-24 11:31] #1620 closed

[2017-03-24 17:53] alvacouch opened #1967 "Making release documentation accurate at release time"
@dtarb @martinseul @rphtufts

@Lizabrazil is taking the initiative to ensure that user documentation stays in sync with our releases.  She needs to be able to run, try out, and document the function of the release (including making screenshots) starting a couple of weeks **before** we might want to actually release it.

Our current release schedule has been much more rushed than this. The way thin

[2017-03-24 17:54] alvacouch commented on #1967
@mjstealey Your thoughts on the above?

[2017-03-24 18:23] pkdash commented on #1967
@mjstealey I assume item#2 and#3  above mostly what you currently do. Right?

[2017-03-24 18:56] gantian127 commented on #1943
@pkdash I tested it on Beta and it works. Thanks for fixing the bug!

[2017-03-24 23:14] dtarb commented on #1967
I like the idea of a beta release that is held longer for testing and documentation, and being predictable about it.

[2017-03-24 23:24] dtarb commented on #1928
The last check box at the top is still not done.  Setting of a file type should create the file type in the current folder, not root level folder as it does now on www.

[2017-03-25 18:32] mauriel133 commented on #1935
@zhiyuli, @mohamedmorsy, @Castronova, @vmmerwade, @xuezhaokun,

Coud you test the items in the checklist above and mark them if they are working as expected or report the issues here?'

[2017-03-27 15:00] dtarb commented on #1963
@danames can you let me know if your group can work on the reference time series and geographic feature file types.  @pkdash could give guidance.

[2017-03-27 17:42] alvacouch commented on #1566
@hyi @dtarb @pkdash @mseul @aphelionz

There is a generally better way to handle invitation/response than we are doing now. If we look at how Google Drive and DropBox do things, it should inspire us toward a different approach:

1. An invitation is emailed to the user. There is no automatic UI generated for responding to the invitation. The email is the only notification.
2. The email contains `ac

[2017-03-27 18:42] pkdash commented on #1566
@alvacouch

For group the above UI is what we have (buttons) currently.

[2017-03-28 13:29] alvacouch commented on #1566
@pkdash As I understand things, the responding user has to deal with a list of invitations. That is what I suggest we might do away with.

[2017-03-28 14:12] hyi commented on #1566
@alvacouch @dtarb I think invite/response model for changing quota holders introduces delayed action and thus may involve a lot of more work than it appears for our current quota implementation. Specifically, we allow any owner to change quota holder to another owner which is based on "owners should trust each other and can do anything" principle. If we introduce invite/response for changing quota

[2017-03-28 15:19] hyi commented on #1566
@dtarb @alvacouch I decided to only send email notification when a user has been changed to a quota holder for a resource, but not to send email notification when a user is added as an owner of the resource for the first pass for the sake of consistency. I think the notification for access control needs to be thought out as a whole including add an owner to a resource, demoting an owner, adding a

[2017-03-28 18:37] pkdash commented on #1967
@dtarb @mjstealey and @alvacouch

I think the following git branching model should work better for us:

![image](https://cloud.githubusercontent.com/assets/2523434/24421276/e6a3517a-13b2-11e7-9b71-4a7ec5d91b84.png)

[2017-03-28 21:23] dtarb commented on #1967
This seems good to me.  @aphelionz ?

[2017-03-29 13:56] jsadler2 commented on #1700
This has been merged. Closing

[2017-03-29 13:56] #1700 closed

[2017-03-29 14:45] zhiyuli commented on #1659
tested on www

[2017-03-29 14:45] #1659 closed

[2017-03-29 14:46] zhiyuli commented on #1822
fixed on www

[2017-03-29 14:46] #1822 closed

[2017-03-29 14:49] zhiyuli commented on #1318
I think this msg box is controlled by oauth server (hydroshare), not oauth client (tethys). Need more investigation. Moving to a future release...

[2017-03-29 17:14] ChristinaB commented on #1915
Hi All,
What is the timeline to update this feature?  Thanks!
Christina

[2017-03-29 17:55] ChristinaB opened #1973 "Add About to Header and Footer"
- [x] Add Link to About on the left after HELP, move HydroShare logo home page further right.
  - @ChristinaB - can you clarify this a bit (there is no on the left after help?)
- [x] Architecture
- [x] Metrics - link to Kibana website
- [x] Publications - add years tabs
- [x] Team - add years tabs
- [x] Governance
- [ ] Funding with @dtarb
- [x] Update links  in footer
- [x] Update design in foote

[2017-03-29 18:44] ChristinaB commented on #1973
Governance Notes
[Link to ongoing Discussion ](https://docs.google.com/document/d/1g1Z9jO-Q0HHg43MbngyN3N7m0nK9CC9HXW0EvpRqgQg/edit#)

Web page draft for Governance developed in Google Docs
 [Link to Draft Governance webpage](https://docs.google.com/document/d/17MAIpCNzojmoPCSD8lLYyVcSZ0g9G_iKZkTCi65PqyI/edit)

[2017-03-29 19:33] hyi commented on #1935
@mauriel133 I just did a quick test and found no popup dialog is displayed when clicking "Browse iRODS..." button after being logged in. I remember it used to work, but I am not 100% sure now. If you want to reproduce this, you can check your hydroshare/local_settings.py file to find credential for hsproxy iRODS user account, and login via hsproxy credential, and then you should click on "Browse i

[2017-03-29 19:52] ChristinaB commented on #1973
@mjstealey - this will be ready for you to add to the header once we get the checkboxes added.

[2017-03-29 20:04] ChristinaB commented on #1973
@aphelionz   -  jon pollack said he was on Github, but I'm not sure that he is added to this group. Is that something you can do?

This issue is for organizing the About pages needed, checking them off as they are ready, and then @mjstealey can do his magic on the header.   Do we need a different issue to work on adding tabs to years?  @mjstealey  Is this something that can be done in Mezzanine?

[2017-03-29 20:08] mauriel133 commented on #1929
Yes, I'll make this change.

[2017-03-29 21:51] pkdash commented on #1967
The above git branching model is explained here: http://nvie.com/posts/a-successful-git-branching-model/
I suggest hotfixes be merged only by one designated person (currently that's @mjstealey ).

[2017-03-30 13:23] alvacouch commented on #1566
@hyi @pkdash I would rather that all of the logic for quota were inside hs_access_control rather than depending on fields in *Resource.  So far, there are no dependencies in access control upon fields in other places. This would allow me to continue to debug access control without having to load the resource model to do so, and will keep access control a plug-in module that can be reused in other

[2017-03-30 13:46] hyi commented on #1566
@alvacouch I understand your point trying to keep access control "orthogonal" to the other systems, however, in this special quota case, accessing resource to retrieve quota holder is needed since the quota holder information is only kept as an AVU pair on the resource collection in iRODS, not in Django, which is intended to avoid duplicate information on Django and iRODS side. Since this quota ho

[2017-03-30 15:31] pkdash commented on #1566
@alvacouch and @hyi

I agree there may be some value using ```quota_user``` field in ResourceAccess class. However, if we move the responsibility of maintaining this field to access control that would create more coupling between access control and hs_core in particular unnecessary dependency  related to iRODS. I am also not sure about access control being responsible for email notification - more

[2017-03-30 15:47] pkdash opened #1975 "Show message for missing file type metadata"
Similar to the message that we show for missing resource level metadata. The file type message needs to include the path of the file type for which metadata is missing.

[2017-03-30 17:13] dtarb commented on #1953
In testing this I found that when setting multidimensional type, keywords in a netCDF file are not harvested.  They should be harvested and added to the keywords of the resource level metadata.

[2017-03-30 17:18] dtarb commented on #1953
Other issues have been resolved in my testing, so once this merges, it can be closed.

[2017-03-30 17:36] dtarb opened #1976 "Composite resource keywords added to file type should also be added to keyword list at resource level"
When a user or process adds keywords to a file type in a composite resource, the same keywords should also be added to the list of keywords of the resource, checking that there is not duplication.  This is to support the use case of a user adding a multidimensional file with keywords and other metadata that is ready for publication, but for the resource not to be ready for publication because it i

[2017-03-30 17:43] dtarb opened #1977 "Make composite resource the default resource type"
Lets make composite resource the default resource type, instead of generic, when content is being added to HydroShare.  This is part of the process of encouraging use of composite resource types more.

[2017-03-30 17:45] dtarb opened #1978 "On multidimensional resources message displaces location of Public/Discoverable/Private buttons"
Public/Discoverable/Private buttons should appear below, not next to a message in sharing status.
![image](https://cloud.githubusercontent.com/assets/3456833/24518201/6051c86c-153e-11e7-8639-2d9e4ea1c6de.png)

[2017-03-30 18:01] horsburgh commented on #1977
Do we have composite resource nailed?  If we are going to make this change, it better be ready for prime time.

[2017-03-30 18:05] pkdash commented on #1978
@mauriel133 Can you fix this?

[2017-03-30 18:06] alvacouch commented on #1566
@hyi @pkdash I am willing to settle for changes to the quota_user from outside, because that does indeed satisfy my concerns. My main concern is that the deep logic of access control needs to be based upon fields contained inside access control. It's difficult to debug future features if that control reaches outside the module.

However, there is an argument for having the state machines for vario

[2017-03-30 18:54] alvacouch commented on #1566
@hyi it is going to be quite difficult for me to move the quota_user from Resource to ResourceAccess after the fact. This will require a data migration involving a live iRODS.

[2017-03-30 20:05] hyi commented on #1978
@dtarb @gantian127 I think this message can be removed now that we do real-time on-demand update for OpeNDAP service rather than depending on a cron job that does update every 2 minutes. The real-time update is pretty quick, so I don't think this message is needed any more.

[2017-03-31 00:18] hyi commented on #1566
@alvacouch The current implementation does not have quota_user field on Resource model in Django, so there will not be data migration involved on Django side. I prefer to have quota user stored as AVU metadata on iRODS side, and retrieve quota user on Django side when needed to avoid duplication and to have single point of truth.

[2017-03-31 01:38] ChristinaB commented on #1915
Thanks Mauriel!!  Let me know if/when you want help with testing.
C

[2017-03-31 18:43] zhiyuli commented on #1935
@mauriel133
I didn't see issues in testing. Sorry for the late response to this request.

[2017-04-01 04:01] pkdash commented on #1571
@dtarb , @danames and @alvacouch I have noted the requirements (see above) for implementing this file type based on the discussion we had today. If I have missed any requirements please add/modify the note I have above.

[2017-04-01 16:15] mauriel133 commented on #1978
@dtarb, let me know how to proceed given @hyi's observation above.

[2017-04-01 16:28] mauriel133 commented on #1929
Should the change also be made to this message?

[2017-04-01 16:34] mauriel133 commented on #1915
@ChristinaB, do you have curated lists for Title and Organization or are these going to be self updating (by providing the option to input new values and adding to the list)?

[2017-04-01 17:54] mauriel133 commented on #1935
@hyi, I fixed the issue with the modal window. You can test now.

[2017-04-02 14:52] mauriel133 commented on #1966
Implemented. Putting documentation below for usage and future reference:

## Usage

### Include the HTML in your template:
`{% include "resource-landing-page/coordinates_picker.html" %}`

### Have a container with all the input fields.

This container should have:
- The class `"hs-coordinates-picker"` if the elements are to be instantiated on page load. Otherwise see below for how to instantiate d

[2017-04-02 18:06] hyi commented on #1935
@mauriel133 Did you redeploy your changes to park? I just checked on park and model dialog still does not show up when clicking on "Browse iRODS" button. I made sure I cleared up all browser cache to eliminate caching issue. So it looks like you may not have updated park? Anyway, it is still not working on park as of yet.

[2017-04-02 18:09] mauriel133 commented on #1935
@hyi, I had not. I have started redeployment at park.hydroshare.org now.

[2017-04-03 14:47] dtarb commented on #1978
If there is no hesitation when a user clicks Public, then it is OK to remove the message.  If there is hesitation due to the on demand updating that is more than 2 seconds, then I think we need the message.  Please test with some biggish files and decide.

[2017-04-03 14:58] hyi commented on #1978
@dtarb @mauriel133 @gantian127 Let's then keep the message for now as a precaution.

[2017-04-03 16:11] dtarb commented on #1953
Keyword issue in separate issue #1976 .  Other items done, so closing.

[2017-04-03 16:11] #1953 closed

[2017-04-03 16:15] #1943 closed

[2017-04-03 16:22] dtarb commented on #1928
Done.  Close if tests out on next candidate release.

[2017-04-03 16:39] dtarb commented on #1845
Tested and verified fixed on www for new resources created.  Old resources still may have a problem.  Leaving for users to fix if they encounter, so closing.

[2017-04-03 16:39] #1845 closed

[2017-04-03 16:50] dtarb commented on #1816
Unable to reproduce in testing between @pkdash and me.  Closing, but @AmberSJones feel free to reopen if you encounter this again (and check that the email has not somehow corrupted the link).

[2017-04-03 16:50] #1816 closed

[2017-04-03 16:52] dtarb commented on #1806
@alexlemann @aphelionz can this be closed, or is more needed.

[2017-04-03 16:53] dtarb commented on #1805
@alexlemann @aphelionz can this be closed or is more needed.

[2017-04-03 16:54] dtarb commented on #1798
Closing as this is done for beta.

[2017-04-03 16:54] #1798 closed

[2017-04-03 16:56] #1784 closed

[2017-04-03 17:00] dtarb commented on #1779
Tested OK on www

[2017-04-03 17:00] #1779 closed

[2017-04-03 17:06] pkdash commented on #1428
@jsadler2 Is this going to be part of release 1.10.0?

[2017-04-03 17:07] dtarb commented on #1763
Closing as appears to be due to user error and without access to the resource cannot replicate.  @ChristinaB enable access to the resource and re-open if you want this looked at.

[2017-04-03 17:07] #1763 closed

[2017-04-03 17:09] dtarb commented on #1733
Closing as my resources appears to be working @mjstealey or @alexlemann re-open if still an issue.

[2017-04-03 17:09] #1733 closed

[2017-04-03 17:09] pkdash commented on #1567
@Castronova Should this be closed?

[2017-04-03 20:13] jsadler2 commented on #1428
@pkdash we are first focusing on #1815 so I think we should plan on this going out on the next release.

[2017-04-03 21:31] AmberSJones commented on #1816
Sounds good, thanks for following up.

[2017-04-04 12:51] dtarb commented on #1571
Answers to questions, as I recall them from the phone call are:
1. Yes one json file
2. Yes validate that the json file has needed elements
3. No metadata editing except for file level keywords.  The json file is not edited as it reflects the contents of the reference resource that cannot be changed.  Keywords from the json file are copied into the Django file level keywords on initial load, but a

[2017-04-04 20:25] horsburgh commented on #1571
According to @alvacouch - the JSON file specification for referenced time series is in flux. So, that needs to be finalized.

[2017-04-05 15:58] mauriel133 commented on #1977
@dtarb, @pkdash

Could you confirm if the Composite Resource type is ready to be used as default?

[2017-04-05 16:57] dtarb commented on #1977
Confirmed.

[2017-04-05 18:40] alvacouch commented on #1618
This is a very complex issue that is only partly addressed. It is addressed enough for the purposes of release 1.10. It is not generally addressed quite yet. The main pain points have been coded, but there remain subtle differences between frontend and backend coding that have not been addressed.

* The part that has been addressed is that there are now capability flags in the resource template th

[2017-04-05 18:47] alvacouch commented on #1665
Resolved in a prior PR.

[2017-04-05 18:47] #1665 closed

[2017-04-05 19:12] rayi113 commented on #1920
It was discovered that the problem only existed for https://www.hydroshare.org/resource/42a3edd700a749f1890b84d9f1a74fd2/ so this HydroShare resource was deleted and a new verison created here: https://www.hydroshare.org/resource/2a5df6a9310c49a1abcd45fa9fa981b7/

[2017-04-05 19:14] alvacouch commented on #1618
I think I'll close this issue, as the main things are being handled, and open other issues for the subtleties, as needed.

[2017-04-05 19:14] #1618 closed

[2017-04-05 19:25] #1893 closed

[2017-04-05 19:26] hyi commented on #1920
@rayi113 I just tried with this new version, and found the same issue still persists. Have to look into what is special with this specific content zip file in this resource.

[2017-04-05 19:41] Lizabrazil opened #1984 "Improving interoperability between Hydroservers and HydroShare"
A user wanted to move her data sitting privately on her HydroServer over to HydroShare, while still keeping it private. The attachment goes into more details about the progress of this design strategy.

[2017-04-05 19:43] Lizabrazil commented on #1984
[RE discussion with HydroShare team about interoperability.txt](https://github.com/hydroshare/hydroshare/files/900622/RE.discussion.with.HydroShare.team.about.interoperability.txt)

[2017-04-05 20:36] rayi113 commented on #1859
I just created these instructions here: https://pages.hydroshare.org/creating-and-managing-resources/how-can-i-reset-or-change-my-irods-password/

[2017-04-07 15:07] jsadler2 commented on #1552
This has been resolved.

[2017-04-07 15:07] #1552 closed

[2017-04-10 13:52] jsadler2 commented on #1101
This issue was addressed in #1700. Closing

[2017-04-10 13:53] #1101 closed

[2017-04-10 14:13] jsadler2 commented on #1098
This looks good to me. Closing

[2017-04-10 14:13] #1098 closed

[2017-04-11 14:00] alvacouch opened #1987 "Strategies for storage reduction for highly repetitive metadata, including metadata for CUAHSI HydroServer time series."
@dtarb @danames @horsburgh @pkdash @Lizabrazil @martinseul

This issue came up because CUAHSI proposed initially to make reference resources for every HydroServer time series in HydroShare. This is currently impractical because of massive metadata duplication. Every textual metadata term is copied once for every time series. The metadata is much more structured than this, and can be stored much mo

[2017-04-11 14:05] alvacouch commented on #1987
Note that the Dublin core metadata is shared among lower levels of the hierarchy, because the server owner doesn't change for a specific time series, e.g.. We might have to work out the hierarchy better than the above to manage this.

[2017-04-11 14:25] jsadler2 commented on #545
This likely involves
1. Check if the model instance is "executed by" a model program. If so, show a "download model package" button
2. When button is clicked get the two resource bags via the rest api getResource method
3. Zip them together
4. Download

[2017-04-11 15:59] alvacouch commented on #1987
The only complexity that this adds to the UI is that deleting an upper instance will -- indeed -- delete all lower instances. As long as everything is owned by CUAHSI, there are no issues; harvesting proceeds automatically. When users try to deploy this pattern in other ways, we may want to limit this scheme to be applied to parent resources that the user already owns. However, applying it to any

[2017-04-12 03:31] pkdash opened #1988 "File icon for reference time series file"
This icon will be for files with extension .refts.

[2017-04-12 15:45] ChristinaB commented on #1973
@mjstealey  - I just wanted to re-ping you on this question of using tabs on the About pages.  My understanding is that we could make a new page for each year (for team and publication) and reorganize the dashboard to look like tabs.  If you have a better recommendation, please let me know.

[2017-04-12 18:16] alvacouch commented on #1984
See issue #1987 for a possible long-term fix to address this kind of pain.

[2017-04-13 14:43] alvacouch opened #1991 "We need to understand how RDF is created from Django"
@dtarb @pkdash @martinseul @horsburgh The discussion of referenced time series (issue #1571) yesterday exposed a rather important issue going forward. Of the team, only @horsburgh knows how RDF is generated from Django.  It would help greatly if the other parties involved (including myself, @pkdash, and @martinseul) know more about the algorithm for going from Django metadata to RDF.

@horsburgh:

[2017-04-13 17:17] pkdash opened #1993 "New REST endpoint for setting file type"
This REST endpoint is needed for setting various file types currently supported (NetCDF, GeoRaster, RefTimeSeries) with the Composite resource.

[2017-04-13 19:05] horsburgh commented on #1991
@alvacouch - I worked with @pkdash on the implementation. As we have worked on different resource types, I have given him examples of how to encode various metadata items in the resourcemetadata.xml file. First we worked out how to do the standard Dublin Core elements and then we worked out how to do resource specific stuff, etc. The examples are validated using an RDF/XML validator to make sure t

[2017-04-13 19:12] horsburgh commented on #1984
@alvacouch - #1987 doesn't address this use case because this particular HydroServer is not registered or cataloged with HIS Central. Also - this user wants to move the actual data to HydroShare and not just have references and metadata. So - we need a tool for moving data from an "unpublished/unshared" HydroServer (or really any other HydroServer) to HydroShare to meet this need.

I've put forth

[2017-04-13 19:54] pkdash commented on #1991
@alvacouch

Refer to following link to see how the RDF/XML gets generated for core metadata:
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L2852

Refer to the following link to see an example of how resource specific (e.g., time series)  RDF/XM gets generated:
https://github.com/hydroshare/hydroshare/blob/develop/hs_app_timeseries/models.py#L792

[2017-04-14 15:52] danames commented on #1984
Jeff, so the idea here is that your desktop python tool will extract data
from a HydroServer into a CSV file and upload the CSV file to HydroShare as
a new resource? If this is right, then it does open several questions. But
I'll hold the questions till I make sure I've correctly characterized the
workflow you are proposing... - Dan

On Thu, Apr 13, 2017 at 1:13 PM Jeff Horsburgh <notifications@gi

[2017-04-14 16:04] horsburgh commented on #1984
@danames - effectively yes. The use case @Lizabrazil has described has a couple of characteristics that make it challenging.  The HydroServer is private and not registered with HIS Central and, therefore, not available to the HydroClient.  I'm not sure whether they have a WaterOneFlow web service or not, but they don't want it to be public. They also want the resources created in HydroShare to be

[2017-04-14 19:18] danames commented on #1984
@horsburgh  OK I understand. Optimally these would go into a time series resource in an ODM file. Maybe this is a good time to propose something we've been thinking about here at BYU for a while.... expanding the time series resource to allow a few different file formats, namely: SQLite/ODM2, WaterML 1.1/2, TimeseriesML, CSV...  Though this should probably be saved for HydroShare 2.0.  @dtarb what

[2017-04-14 22:22] dtarb commented on #1984
@danames we need to be careful of scope creep with HydroShare 1.x.  We are at month 58 of a 60 month project and unless this is hardening, or you have additional resource you can use to do this it should wait to HydroShare 2.0.  Even at HydroShare 2.0 you would need to motivate that this is fundamentally required for advancing the objectives in our proposal.  Another thing to consider, is that we

[2017-04-15 19:04] mauriel133 commented on #1935
All items have been checked. Closing.

[2017-04-15 19:04] #1935 closed

[2017-04-15 22:16] mauriel133 opened #1996 "Small resolution in nav bar logo"
The logo in the navigation bar looks foggy.

[2017-04-16 22:07] dtarb opened #1998 "Discover interface shows older versions of resources"
The discover interface shows two versions of the same published resource
![image](https://cloud.githubusercontent.com/assets/3456833/25074675/62202390-22be-11e7-8a88-ab1b09599d9b.png)

The second is https://www.hydroshare.org/resource/03714a41e4594bb78b9d3f5c50ec8dec/ which has a new version as indicated.

![image](https://cloud.githubusercontent.com/assets/3456833/25074678/815d497c-22be-11e7-87c6

[2017-04-17 00:33] alvacouch opened #1999 "ResourceFile API doesn't create files properly for CompositeResource"
@dtarb @hyi

@pkdash reports that files aren't copied properly for composite resource. Bag file is not generated correctly.

Further, quick examination of the current version of `copy_resource_files_and_AVUs` in `hs_core/hydroshare/utils.py` shows some redundancy in file copying.

[2017-04-17 00:42] alvacouch commented on #1999
See branch 1999-ResourceFile-API-fix for initial comments. The copy routine definitely needs help. Will get to this asap. I have guests now.

[2017-04-17 01:03] alvacouch commented on #1999
Further investigation shows that AVUs are being set on the wrong element during the copy.  This is true for all copies.

[2017-04-17 14:10] hyi commented on #1998
@dtarb @alvacouch @xuezhaokun This issue is a duplicate of this issue https://github.com/hydroshare/hydroshare/issues/1047 which I created when I initially implemented resource versioning. It is currently on my plate, but I think it is better for @alvacouch and @xuezhaokun to work on. It is most likely a simple fix, just need to remove the old versioned resource from solr indexing. You can check m

[2017-04-17 14:11] hyi commented on #1047
closing this issue since it is a duplicate of the issue #1998

[2017-04-17 14:11] #1047 closed

[2017-04-17 15:32] yirugi opened #2001 "New REST API /scimeta/elements/ does not change resourcemetadata.xml"
Hi,

I have found that the new REST API, /scimeta/elements/, does not change resourcemetadata.xml file.
For example, after I change 'description' field using the API, I downloaded the xml file, but the 'abstract' field is the same.

[2017-04-17 15:42] yirugi opened #2002 "Resource file download failure"
Right after a new resource creation, if I try to download resource bag file using REST API, I got this error message:
{"bag_status": "Not ready", "task_id": "78c45101-290b-4f16-a09e-e8f63aa473a4"}

I guess that it needs time to prepare the bag file; however, sometimes, I get this error message even when I try to download old resources.
It happens not frequently, so I couldn't reproduce the problem

[2017-04-17 15:53] danames commented on #1984
@dtarb, I guess we need to reconcile this design philosophy with the a real world use case that @horsburgh has described where it seems that our approach doesn't work, so he is going to put time series data sets as CSV files in generic resources...

[2017-04-17 15:53] mjstealey commented on #2002
@yirugi - Bagging is an on-demand procedure that doesn't occur until a user requests it.
The life cycle of a zipped bag file is as follows.
1. New resource created - Zipped bag file does not exist until user requests a bag download
2. Bag download requested (1st time) - Starts an async process to generate the bag - in the UI the user is shown a message that the bag is being created, and it's downl

[2017-04-17 16:01] yirugi commented on #2002
@mjstealey Thank you for the explanation. This helps a lot in understanding the bagging system.
So, there is no way to know when the bag is ready using RESt API unless we try multiple times?

[2017-04-17 16:12] mjstealey commented on #2002
@hyi, @alvacouch - Could you help clarify @yirugi's question w.r.t. REST?

[2017-04-17 16:15] horsburgh commented on #1984
@danames - We developed the generic resource CSV functionality on the iUTAH project because users specifically asked for it.  They even specified to some degree the format of the CSV files they wanted. But, they are generic resources and so have no specific time series functionality. So - we have code now that can create generic resources containing formatted CSV files, and we could eventually add

[2017-04-17 16:20] hyi commented on #2002
@yirugi @mjstealey @pkdash The similar check for whether bag is ready is put to REST API side as well by @pkdash as documented below in REST API docs:
[code]
So it looks like your code that calls REST API can set wait_for_bag_creation to True if you want to wait until bag is created for you. @pkdash Feel free to chime in with more info as needed.

[2017-04-17 16:33] rayi113 opened #2003 "How to access HydroShare iRODS hydroshareuserZone from Linux VM"

[2017-04-17 16:35] rayi113 commented on #1859
Closing this issue; needs #2003 as next step.

[2017-04-17 16:35] #1859 closed

[2017-04-17 17:49] pkdash commented on #2002
```wait_for_bag_creation ``` is set to True by default.

[2017-04-17 18:00] pkdash commented on #2002
@yirugi

{"bag_status": "Not ready", "task_id": "78c45101-290b-4f16-a09e-e8f63aa473a4"}

From the above it seems you are calling the REST endpoint directly and are not using the hs_restclient. That is the expected behavior when using the REST endpoint directly.

There is a spate REST endpoint that you can call passing the task_id to get the status of the bag creation.

[2017-04-17 18:11] mauriel133 commented on #1835
@pkdash, do we have a template for this now?

[2017-04-17 18:20] mauriel133 commented on #1900
All items have been checked. We will open new tickets for future issues.

[2017-04-17 18:20] #1900 closed

[2017-04-17 18:25] pkdash commented on #2001
@yirugi This is a bug. Seems like a simple fix. @mjstealey I plan to make this as a hot fix on master if that's OK with you.

[2017-04-17 18:53] mauriel133 commented on #1915
The tracking for organization had already been implemented here:
https://github.com/hydroshare/hydroshare/pull/1303/commits/10738fa5c5a8fbeca2ed5d8c9325bd12f90d8f45

@jbradberry, it looks like this work didn't make it into development. Is it in some other branch?

[2017-04-17 19:54] zhiyuli commented on #1161
@danames @dtarb

To simplify this a little bit. can we directly use the existing "Add to my resource" button?

I am thinking the "Open With" dropdown should list the following webapp resources:
1) all webapp resources that appear on a user's "My Resource" page including
   a) webapps this user owns;
   b) webapps shared with this user;
   c) webapps this user discovered and added to his "My Resour

[2017-04-17 20:12] alvacouch commented on #1955
@mauriel133 @pkdash The functions `UserAccess.can_unshare_*_with_*` and `UserAccess.can_undo_share_*_with_*` tell whether a user can unshare and/or undo.

So, to emulate the behavior above, you would write
[code]

This undoes a share if possible, and otherwise unshares it if possible.

[2017-04-17 20:33] jbradberry commented on #1915
@mauriel133 According to https://github.com/hydroshare/hydroshare/pull/1303#issuecomment-270412686 , this work was copied elsewhere and merged.  However, I haven't been on this project for months now, so I have no first-hand knowledge that this is the case.

[2017-04-17 20:39] mauriel133 commented on #1915
@pkdash, it looks like this work (https://github.com/hydroshare/hydroshare/pull/1303) didn't make it into the development branch. Who would be a good candidate to bring these back end changes into our current development branch?

[2017-04-17 20:54] horsburgh commented on #1161
@zhiyuli - This is getting better (narrower), but still leaves the possibility that apps can appear in the "Open With" list for a resource where the app has no clue how to actually open that resource.

Or is your condition all apps that meet conditions 1 and 2 AND know how to actually open the resource? Is there a setting or attribute on Apps that designates which resource/file types they can oper

[2017-04-17 20:58] pkdash commented on #1915
@mauriel133 I guess @aphelionz or @hyi can help on this. Is this functionality needed for release 1.10? The RC for release 1.10 supposed to come out on Wednesday.

[2017-04-17 21:06] yirugi commented on #2002
@pkdash yes, we calls the REST API directly, instead of using hs_client.
Can you let me know the REST API for checking status of the bag creation?

[2017-04-17 21:10] mauriel133 commented on #1915
@pkdash,

Yes, this is needed for release 1.10. The work that was done in that PR implements the Organization field as a self-updating autocomplete list. It also implement other important constraints on tracked fields.

[2017-04-17 21:30] zhiyuli commented on #1161
@horsburgh
Currently the "file type" concept is not implemented in webapp yet. But we already have "supported resource type" concept implemented, so a webapp only shows up on resource landing pages of those supported types ("open with" dropdown and "webapp" tab page)

The above 2 conditions are to further limit which webapps should show up in the "open with" dropdown.

[2017-04-17 22:12] #1996 closed

[2017-04-17 22:39] pkdash commented on #2002
@yirugi The url pattern for the endpoint to check task status:

```www.hydroshare.org/hsapi/taskstatus/task id goes here/```

The response from the above call will return a json object with key 'status'. If 'status' has a value then it means the bag is ready.

[2017-04-17 22:55] yirugi commented on #2002
@pkdash Thank you so much!! I'll close this issue.

[2017-04-17 22:55] #2002 closed

[2017-04-18 01:08] horsburgh commented on #1161
Oh - sweet. This seems reasonable to me and uses our existing model for users adding things to their resources, which I think is consistent with what @dtarb suggested.

[2017-04-18 15:15] alvacouch commented on #1999
@pkdash @hyi @dtarb @martinseul PR #2000 merged. This should be fixed. This does **not** fix the problems with the REST API reported separately. They're on www, this was on develop.

[2017-04-18 17:04] hyi commented on #1920
@rayi113 I have done various experiments and it appears the word "zip" in the file name is not an issue. Specifically, for this troublesome resource https://www.hydroshare.org/resource/2a5df6a9310c49a1abcd45fa9fa981b7/, I renamed the file to remove "zip" word from the file name, but still the same problem, i.e., no content file is included in the zipped bag. For the other resource counterpart with

[2017-04-18 18:08] rayi113 opened #2006 "Update nwmZone and nfiehydroZone to iRODS 4.2.1"
Update nwmZone and nfiehydroZone to iRODS 4.2.0 when updating other production HydroShare iRODS servers to 4.2.0.

[2017-04-18 20:00] zhiyuli opened #2007 "Extra Metadata tab page is NOT working on current Dev branch"
Looks like Extra Metadata tab page is not working on current Dev branch. I was able to add a new extra metadata, but I was not able to save it.
It is working fine on current WWW though... Any recent changes may be related to this?

[2017-04-18 20:14] mauriel133 commented on #2007
@zhiyuli, I was unable to reproduce this error. Are you using the most recent version of the develop branch?

[2017-04-18 20:22] zhiyuli commented on #2007
@mauriel133
Thanks! It is working now....I am using latest dev. I thought the issue I saw just now was probably caused by some old javascripts cached in browser.  I am closing this issue....

[2017-04-18 20:23] #2007 closed

[2017-04-18 21:04] pkdash commented on #1940
This issue has already been addressed. So closing.

[2017-04-18 21:04] #1940 closed

[2017-04-18 21:06] pkdash commented on #1988
This has been implemented. So closing.

[2017-04-18 21:06] #1988 closed

[2017-04-19 13:14] hyi opened #2010 "bag_modified AVU needs to be set to false for copied and versioned resources"

[2017-04-19 13:20] mauriel133 commented on #1977
Included as part of Create Resource page revamp (https://github.com/hydroshare/hydroshare/pull/1957)

[2017-04-19 14:44] hyi commented on #2010
Closing this issue since it is covered by the PR https://github.com/hydroshare/hydroshare/pull/2012

[2017-04-19 14:44] #2010 closed

[2017-04-19 15:11] alexlemann opened #2013 "Make selenium tests work in Firefox"

[2017-04-19 15:12] alexlemann opened #2014 "Add tests for resource file drag and drop"

[2017-04-19 16:02] mjstealey commented on #1973
@ChristinaB - Adding questions here as well as inline with the original post.

What is the exact wording for the left hand nav bar:
Key: REQUESTED (CURRENT)
- About (About HydroShare) **?**
  - Architecture (Architecture)
  - Metrics (Usage Metrics) **?**
  - Publications (Publications)
  - Team (Team)
  - Governance (Policies) **?**

![screen shot 2017-04-19 at 11 55 48 am](https://cloud.githubus

[2017-04-19 16:20] ChristinaB commented on #1973
@mjstealey
I updated Usage Metrics to Metrics.
Governance is a new page, I have posted what I have ready now.  The new structure on Pages (pending further suggestions, but currently live) is:
![image](https://cloud.githubusercontent.com/assets/4108369/25190526/4f9e1e1e-24e1-11e7-8ef5-057a47a4c6df.png)

[2017-04-19 17:42] alexlemann opened #2016 "Discovery filter by Resource Type breakpoint display"
Notice the + sign to expand the Resource Type filter.

![discovery-resourcetype-breakpoint](https://cloud.githubusercontent.com/assets/46069/25193629/bf276db6-2505-11e7-8cde-c2dcf6616171.png)

[2017-04-19 18:36] rayi113 commented on #2006
nfiehydroZone iCat upgraded to 4.2 on 04/19/17.  Federation between hydroshareZone and nfiehydroZone verified.

[2017-04-19 18:44] ChristinaB commented on #1984
How I am designing my work to incorporate HydroShare and HydroServer is to use JupyterNotebooks and working with @Castronova to install packages that can grab data from the HIS and use the Rest Client to get data from HydroShare, and 'interoperate' on data in one Notebook.  This may not be the best solution for all cases, but one that @martinseul and @Castronova and I are going to be working on as

[2017-04-19 19:03] ChristinaB commented on #1973
Footer links have been moved to Pages for Statement of Privacy and Terms of Use.
SiteMap does not seem to be something we really need to include (at this time, in the current crazy long list format).

[2017-04-19 19:11] mjstealey opened #2017 "Update packages installed from requirements.txt"
Let's try to identify unused packages and remove them from the base image in the Docker Hub:
[code]
For random starters, none of these words appear in the codebase. In some less common cases the import statement doesn't match the package name, such as `PIL`, so let's make this actionable. Also, I think we're using Django Templates, not Jinja2...

Can we delete:
Jinja2==2.10
bcrypt==3.1.4
billiard=

[2017-04-19 19:18] horsburgh commented on #1973
Seems like the sitemap was there for search engine optimization purposes?

[2017-04-19 19:20] ChristinaB commented on #1973
@aphelionz and @mjstealey  - is the site map generating automatically from iRODS ? This link should stay were it is.  Statement of Privacy and Terms now live officially on Pages.

Is this a good time to change the name from Pages to Help?

[2017-04-19 19:26] mjstealey opened #2018 "Relocate text for - Terms of Use - Statement of Privacy - to pages site"
Extract text from hydroshare site and relocate to pages site.
- [Terms of Use](https://www.hydroshare.org/terms-of-use/)
- [Statement of Privacy](https://www.hydroshare.org/privacy/)

Update links for each within the code to point to the new location.

[2017-04-19 19:33] ChristinaB commented on #1973
I fixed up Publications and added an ALL page per @rayi113.
I added a Funding page but need more info from  @dtarb and others to finalize. Are we listing all projects that have contributed to HydroShare development? I think yes.

[2017-04-19 19:34] mjstealey commented on #1973
@ChristinaB - The sitemap should actually be updated. Currently the sitemap link on pages goes to the sitemap of HydroShare. The sitemap on HydroShare is a custom implementation that was put in place by a prior Caktus developer (Calvin).

Ideally we break the sitemap link between pages and www and allow them to both have their own sitemap for web crawlers to find.

Added #2018 to reference the Ter

[2017-04-19 19:54] mjstealey commented on #2018
@ChristinaB - Have updated the links on HydroShare and pages to reference your new Terms of Service and Statement of Privacy docs.

Feel free to close once verified

[2017-04-19 20:22] ChristinaB commented on #1973
I updated Team pages to be consistent with the fake tabs like Publication.  2017 needs a review, I'm not sure that the entire list is active. We can add new 2.0 people when funding is in place.

I need clarification on 2014  -- 1) do we want to include the following? if so, I need the first name and affiliation.

J. Coposky,
 K. Gustafson,
S. Jackson,
 H. Johnson,
Y. Kim,
T. Whitenack,
I. Zaslavsk

[2017-04-19 20:33] mauriel133 commented on #1959
Pull request has been merged.

[2017-04-19 20:33] #1959 closed

[2017-04-19 20:44] ChristinaB commented on #1973
@mjstealey
I think everything is ready to go on the Header and Footer updates.
This is the Footer update text and layout (maintain original color scheme)  that @aphelionz put together.
![image](https://cloud.githubusercontent.com/assets/4108369/25201288/0819c87a-2506-11e7-999d-570cd6ce6b88.png)

Contact Us Here (hyperlink) should go to support@hydroshare.org

In future work, we will work with @Liz

[2017-04-19 21:27] ChristinaB commented on #2018
Extracted  text from hydroshare site and relocated to pages site for:
Terms of Use
Statement of Privacy

[2017-04-19 21:27] #2018 closed

[2017-04-20 14:51] edwmorgan opened #2019 "Catalog CSDMS Models in Hydroshare"
- [ ] Wrote [script](https://github.com/uva-hydroinformatics-lab/CSDMS-to-Hydroshare) to pull metadata from CSDMS models and populate Hydroshare Model Programs through the REST API

- [ ] Uploaded any resource files/documentation for each model (manually)

- [ ] Listed correct authors for each resource, also through a script

[2017-04-20 16:58] alvacouch opened #2020 "signals are not consistently raised in file/folder operations"
1. pre-delete and post-delete signals are not consistently raised in the several routines that can delete a file or folder from iRODS in `hs_core/views/utils.py`. Different sets are called via the REST API and the UI.
2. It is not consistently checked whether a folder can be deleted before deleting it.

[2017-04-20 17:12] pkdash opened #2021 "Resource specific metadata should not be editable for Geographic feature resource type"

[2017-04-20 18:35] #1871 closed

[2017-04-21 12:44] dtarb opened #2023 "Track app status"
It appears bad when apps supported as part of the system do not work, or even open.  Two recent examples are the opendap app that acts on multidimensional resources/files, and Jupyterhub.   I suggest:
1. An "app heartbeat" function that periodically (e.g. daily) automatically attempts to open each app to verify that it is still up and if not reports this to administrators.
2. Use tracking function

[2017-04-21 12:59] rayi113 opened #2024 "Fix Large File Subsetting in HydroShare Hyrax"
Large file subsetting in http://hyrax.hydroshare.org/opendap/  does not work.  Recommend:

- [x] Restore previous HydroShare Hyrax to its limited operation
- [ ] Check for large files and preclude processing them in limited operational Hyrax
- [ ] Recreate problematic HydroShare Hyrax in Beta environment
- [ ] Replace iRODS Fuse mount of public HydroShare NetCDF resources with [NFS-RODS](https://g

[2017-04-21 13:39] alvacouch opened #2025 "File URLs incorrect in REST API after ResourceFile fix."
The URLs returned for file listing in the REST API are incorrect because they depend upon an old version of ResourceFile.url.

@mistealey @dtarb @pkdash  I am going to try to make this repair before 1.10.0.

[2017-04-21 19:05] pkdash opened #2028 "Bulk metadata update for Time Series Resource"
The ```TimeSeriesMetaData``` class needs to extend the base class ```update()``` to support resource specific metadata update. This ```update()```  function is used by REST api.

[2017-04-21 19:44] alvacouch commented on #2025
@pkdash @hyi @dtarb @mseul @aphelionz
Moving the discussion to this issue for archival purposes.

Everyone, I'm trying to squash a serious bug in the REST API before 1.10.0. Part of it was caused by the ResourceFile revision. Another part was exposed (but already not working properly).

The two bugs so far are:
1. The URL in the response to `resource/{pk}/list` is incorrect due to ResourceFile cha

[2017-04-21 19:57] hyi commented on #2025
@alvacouch Access control is indeed enforced in django irods download view function, so you cannot download any file if you don't have at least view permission. You will get a page that indicates ```You do not have permission to download this resource!```

[2017-04-21 20:01] #1947 closed

[2017-04-21 20:03] hyi commented on #2025
@alvacouch I think federated resource file download urls have the same pattern as unfederated counterparts since internally in the download view function, we check whether the resource is federated or not based on resource id and then serve files accordingly. Did you test and see it does not work? I am pretty sure it used to work.

[2017-04-21 20:04] pkdash commented on #2025
@hyi You are right on the access control as it relates to file download.

@alvacouch

Are you referring to the mapper view function? The mapper view function currently checks for access.

[2017-04-21 20:07] alvacouch commented on #2025
@hyi Ok I will check out django_irods for the protections. I didn't know to look there. Thanks!

The current code uses unfederated logic to invoke the mapping. E.g., `IrodsStorage().url(stuff)` rather than `IrodsStorage("federated").url(stuff)`. Is this appropriate?

[2017-04-21 20:08] pkdash commented on #2001
@yirugi Can you try REST endpoint call to see if this bug got fixed? Thanks.

[2017-04-21 20:17] hyi commented on #2025
@alvacouch The current code logic you indicated will work in production environment where IrodsStorage() and IrodsStorage("federated") actually refers to the same irods storage session object, however, it will not work in local development environment where federation is not set up or not set up correctly. Since we allow the same code base to work in both non-federated environment and federated en

[2017-04-21 20:19] zhiyuli opened #2029 "Got error when removing multiple folders from Composite resource"
I have a composite res that has multiple folders, and each folder contains multiple files (nc files). When I selected multiple folders and tried to remove them, a error message showed up. After refreshing the page, I found the folders I selected actually got removed. Looks like this is a 'fake' error message, or it is suggesting some other issues?
https://www.hydroshare.org/resource/271d64a09da946

[2017-04-21 20:20] pkdash commented on #2025
I think the following change in the mapper function should work (capture resource from call to the authorize function)

```istorage = resource.get_irods_storage()```

[2017-04-21 20:25] alvacouch commented on #2025
@hyi @pkdash There is one inconsistency that I do not understand how to resolve.

The way to build a URL for a file should be:
[code]
This puts in a trailing slash, because the pattern in resourcemap_urls.py is:
[code]
If I use `reverse`, tests not expecting that trailing slash fail.

Which should I return? Trailing slash or no trailing slash?

[2017-04-21 20:27] jsadler2 commented on #1815
Resolved and pulled into code base. Closing

[2017-04-21 20:27] #1815 closed

[2017-04-21 20:27] zhiyuli commented on #2029
OK, I found I could not download its bag any longer. I clicked "please click here" but nothing got downloaded...

https://www.hydroshare.org/resource/271d64a09da9460c919603b7bd5e9b29/

[2017-04-21 20:30] hyi commented on #2025
@alvacouch Since the url mapping defines the url with a trailing slash, I think it should return the url with trailing slash, otherwise, it will not work. Trailing slash makes a big difference, without it, the view function will not be mapped to according to the url RE mapping.