[2020-12-15 18:50] alvacouch commented on #3874
@martinseul I am currently exploring using a SOLR core to do this; it promises to be much faster than other services.

[2020-12-15 18:51] alvacouch commented on #3813
@martinseul It isn't really settled. The condition persists. I have not had the time to clean it up.

[2020-12-15 18:52] alvacouch commented on #3764
@martinseul I have forgotten where the mentions were. I think they were in Liza's version of search and concerned the advanced parser. I think that has been stripped out of SOLR. Am I correct?

[2020-12-15 18:53] alvacouch commented on #3753
I'm referring to search_indexes.py and harvesting and this has been fixed.

[2020-12-15 18:53] #3753 closed

[2020-12-15 18:54] alvacouch commented on #3736
@cuahsimarko I like your proposal.

[2020-12-15 18:55] alvacouch commented on #3718
I fixed this in a previous PR but then it popped up again and I am fixing it again in the next PR. I think it's safe to close this. I won't forget.

[2020-12-15 18:55] #3718 closed

[2020-12-15 18:55] cuahsimarko commented on #4005
@alvacouch I should refine my Oct 19 entry:

1. Title is temporarily sorting without the Index: https://github.com/hydroshare/hydroshare/blob/088186a6fe4a24dfac05128206531ea29b6f16b3/hs_discover/views.py#L170 .... Index-related code should be updated so that patterns can be used, similar to how other fields are being sorted. I'm open to changing anything in the frontend or view.py as needed. Here

[2020-12-15 18:56] alvacouch commented on #3623
This has been fixed. It's in essence too good, because it also mis-classifies all users who type their names in ALL CAPS as organizations, but that is a different story.

[2020-12-15 18:56] #3623 closed

[2020-12-15 18:57] alvacouch commented on #3612
Yes, we still need to change the encoding before stuffing the data into an HTML form.

[2020-12-15 18:57] alvacouch commented on #3606
This was a bug in old discover and is obsolete.

[2020-12-15 18:57] #3606 closed

[2020-12-15 18:59] alvacouch commented on #3600
The problem seems to be how the user is using the system, not how data is indexed. The files don't appear in aggregations because there is no reason to. The proposed request for "search by file suffix" will discover these.
I'll leave this open until that is implemented.

[2020-12-15 19:00] #3963 closed

[2020-12-15 19:02] cuahsimarko commented on #3937
@alvacouch why would it return results if you enter the letter "e" for example (many results with nonobvious pattern), but not the letter Á (zero results).

[2020-12-15 19:03] alvacouch commented on #3481
To my knowledge this was addressed in summer by1.24.3

[2020-12-15 19:03] #3481 closed

[2020-12-15 19:03] cuahsimarko commented on #4001
Moving discussion to https://github.com/hydroshare/hydroshare/pull/3952

[2020-12-15 19:04] alvacouch commented on #3293
@cuahsimarko I am not sure why this is happening. I have faceted Title, which may address the problem, in the current discovery PR. This enables -- among other things -- exact search.

[2020-12-15 19:06] alvacouch commented on #3047
@cuahsimarko If you search for hydrologic science without the quotes, it searches anywhere in the document. So hydrologic could be in the title and science in the abstract. You have to delimit the search via "hydrologic science" (in the query interface I wrote) to check for the whole phrase.

[2020-12-15 19:08] cuahsimarko commented on #3600
@martinseul or @alvacouch can you confirm the open action item here is to enable search for resources in Discover by file extension? If yes, let's deprecate this ticket https://github.com/hydroshare/hydroshare/issues/3600 and move the design conversation to https://github.com/hydroshare/hydroshare/issues/4073

[2020-12-15 19:09] alvacouch commented on #2464
@cuahsimarko I am not sure this is relevant to the new discovery interface. Are you using discover_parser.py?

[2020-12-15 19:11] cuahsimarko commented on #3293
@alvacouch can you add the Fixes https://github.com/hydroshare/hydroshare/issues/3293 line for all related Issues so they are automatically tracked by GitHub when the PR is merged?

[2020-12-15 19:14] cuahsimarko commented on #3047
@alvacouch @martinseul I think we should have a radio button for `exact, any, and natural language` with a default set to any (which would match partial letters. I'd update the frontend and the middle-tier, changes to the Indexing code would be minimal, if any

[2020-12-15 19:16] cuahsimarko commented on #2464
@alvacouch I am not using discover_parser.py

1. I am not using discover_parser.py
2. Can discover_parser.py be deleted? I started a cleanup branch at https://github.com/hydroshare/hydroshare/tree/discover-cleanup
3. Can this GitHub Issue be closed?

[2020-12-15 21:47] hyi commented on #3991
Deployed. Closing.

[2020-12-15 21:47] #3991 closed

[2020-12-16 15:31] Castronova commented on #1548
@sblack-usu can you please close this or act on it if needed?

[2020-12-16 15:34] Castronova commented on #1629
Stale

[2020-12-16 15:34] #1629 closed

[2020-12-16 15:35] Castronova commented on #1599
Resolved.

[2020-12-16 15:35] #1599 closed

[2020-12-16 15:39] Castronova commented on #1755
@cuahsimarko Is this still relevant given the recent changes to discovery?

[2020-12-16 15:41] Castronova commented on #1758
@jtpollak @AmberSJones Are there any plan to address this in HydroShare documentation?

[2020-12-16 15:43] Castronova commented on #1724
@hyi @alvacouch Has this issue been resolved?

[2020-12-16 15:45] Castronova commented on #1598
@sblack-usu Is this still relevant given your work on DSAW? If not, please close.

[2020-12-16 15:48] #1787 closed

[2020-12-16 15:50] Castronova commented on #1942
@horsburgh is this still relevant? If not, please close.

[2020-12-16 15:51] Castronova commented on #2019
@goodalljl Is this still relevant? If not please close.

[2020-12-16 18:27] horsburgh commented on #4074
@danames - the extensions are shown in the file grid view if the filename is short.

![image](https://user-images.githubusercontent.com/3485902/102389323-2f84b980-3f90-11eb-9eb9-ed1b64b9dce8.png)

Also, you can switch to list view and see the extensions if the file names are longer.

![image](https://user-images.githubusercontent.com/3485902/102389362-3d3a3f00-3f90-11eb-88c3-0d92b3452706.png)

Fin

[2020-12-16 18:44] horsburgh commented on #4075
@danames - I think this is a good idea for an enhancement. The metadata pane at the right is typically used to display content aggregation-specific metadata. If a file doesn't belong to an aggregation, no metadata are shown because there isn't any aggregation metadata. However, as you state, we do know at least the name and type of the file, so we could make that the default display for files that

[2020-12-16 19:13] danames commented on #4075
Following up on this, the information that is displayed during hover over a file could be displayed in the metadatabox when the item is clicked. Looks like it includes the full file name, file type, and file size. Though I think we can use more friendly names than "vnd.openxmlformats-officedocuments.shpreadsheetml.sheet". Maybe we can just interpret this as "Microsoft Excel Spreadsheet" for displa

[2020-12-16 19:20] danames commented on #4074
Apparently I didn't see the file extensions since they were being cut off in all the display modes I was using. Also the geotiff's weren't showing extensions because they were aggregations not just a single geotiff.

Let's leave this issue open though so that we can improve the shortening method so that it follows the MacOS approach as @horsburgh noted.

[2020-12-16 19:45] hyi commented on #1724
@Castronova It looks to me this issue can be closed, but will defer to @alvacouch on whether this can be closed or not.

[2020-12-17 00:36] dtarb commented on #4035
@alvacouch I do not think it is worth doing lastname/first initial to attempt to resolve this.  I would vote for closing this now, but putting as a discussion item more thoroughly addressing the representations for people and organizatoin names, aka party's or the party model.

Here are some ideas.
1. It is the responsibility of resource creators and editors to make sure that information for the a

[2020-12-17 00:55] dtarb commented on #4030
Closing.  I suspect this may be due to arbitrariness in the way ties are resolved sorting by last modified date.  But as hard to document an error am closing.

[2020-12-17 00:55] #4030 closed

[2020-12-17 01:18] martinseul commented on #1711
Close: stale @alvacouch please re-open if its still an issue

[2020-12-17 01:18] #1711 closed

[2020-12-17 01:19] martinseul commented on #1722
Close:Stale

[2020-12-17 01:19] #1722 closed

[2020-12-17 01:27] martinseul commented on #1765
@alvacouch is this still relevant or has been resolved?

[2020-12-17 01:33] martinseul commented on #1590
@hyi is this still relevant or can it be closed?

[2020-12-17 01:35] martinseul commented on #1645
@alvacouch is this still relevant or has been resolved?

[2020-12-17 01:40] martinseul commented on #2058
Close: stale

[2020-12-17 01:40] #2058 closed

[2020-12-17 01:48] martinseul commented on #2099
@alvacouch I'm closing this as the migration to composite resources has completed, please reopen if you disagree.

[2020-12-17 01:48] #2099 closed

[2020-12-17 01:59] martinseul commented on #2146
@Castronova is this still relevant or can it be closed?

[2020-12-17 02:00] martinseul commented on #2164
Close: Stale

[2020-12-17 02:00] #2164 closed

[2020-12-17 02:06] martinseul commented on #2292
@sblack-usu can you please close this or act on it if needed?

[2020-12-17 02:59] dtarb commented on #1482
@sblack-usu can this be closed.  Likely handled by bag ingestion.

[2020-12-17 03:00] dtarb commented on #1507
Stale.  These resource types deprecated.

[2020-12-17 03:00] #1507 closed

[2020-12-17 03:14] dtarb commented on #1848
Stale.

[2020-12-17 03:14] #1848 closed

[2020-12-17 03:29] dtarb commented on #2023
@Castronova Can we close this.  It is not repository role to track apps.

[2020-12-17 03:33] dtarb commented on #2593
3rd party App.  @martinseul  is CUAHSI maintaining this.

[2020-12-17 03:34] dtarb commented on #2471
Stale.  Scidas team left RENCI.

[2020-12-17 03:34] #2471 closed

[2020-12-17 03:35] dtarb commented on #2332
Stale.  Being deprecated.

[2020-12-17 03:35] #2332 closed

[2020-12-17 03:36] dtarb commented on #2472
Essentially implemented.

[2020-12-17 03:36] #2472 closed

[2020-12-17 03:42] dtarb commented on #1956
@sblack-usu Is this still relevant given your work on hsapi.

[2020-12-17 03:48] dtarb commented on #2017
@sblack-usu Is this still relevant.  Close or act on.

[2020-12-17 04:03] dtarb commented on #2313
[PrivateLinkSharingThread.pdf](https://github.com/hydroshare/hydroshare/files/5706904/PrivateLinkSharingThread.pdf)

@pkdash Can you take a look at this during down times in modeling work.

[2020-12-17 04:10] dtarb commented on #2563
@pkdash what is status.  Last comment is in progress 2019.  @horsburgh Can you assess if there are remaining issues in this and perhaps identify them as separate issues for either @pkdash or @sblack-usu to address.

[2020-12-17 04:12] dtarb commented on #2020
@alvacouch is this still an issue.

[2020-12-17 04:13] dtarb commented on #2025
@alvacouch is this still an issue.

[2020-12-17 04:14] dtarb commented on #2028
@pkdash is this still an issue given composite resource work.

[2020-12-17 04:16] dtarb commented on #2030
@sblack-usu is this still an issue?

[2020-12-17 04:21] dtarb commented on #2104
@hyi @alvacouch is this still an issue.  I think we no longer have federated and user resources.

[2020-12-17 16:42] Castronova commented on #1775
Stale.

[2020-12-17 16:42] #1775 closed

[2020-12-17 16:45] horsburgh commented on #2563
Based on the checklist in this issue, the only remaining thing to do was #2575. That's a separate issue that is still open (although might be able to be closed). Given that, I'm going to close this one.

@sblack-usu should be able to comment on whether #2575 is complete or not.

[2020-12-17 16:45] #2563 closed

[2020-12-17 20:17] hyi commented on #2104
@dtarb @alvacouch I believe this issue still applies even though we no longer have federated and user resources. The reason is that I kept the federation storage and file field code intact for potentially handling future federation use cases although there is no longer federation path present among all HydroShare resources in the database. Not sure it is worth the effort at this point to tackle th

[2020-12-17 20:24] hyi commented on #1590
Already addressed. Closing.

[2020-12-17 20:24] #1590 closed

[2020-12-17 22:29] dtarb commented on #2080
Reviewing this as part of the old issue clean up, I would like to implement the warning message approach.  @pkdash can we work together on this once your workload on model aggregations subsides.

[2020-12-18 12:35] cuahsimarko commented on #1755
@dtarb I think sufficient time has passed and with the most recent changes to Discover a clean process for Maps enhancements might be appropriate. Thoughts?

[2020-12-18 13:16] dtarb commented on #1755
@cuahsimarko @Castronova I do not think we are done with the mapping part of Discover, but do not have the capacity to address more right now.  I am going to create a new label "Discover map" and use this for all issues that give ideas on this so that when we do have capacity to address it, they can be referred to in a fresh approach.  I'll also leave the label "design phase needed" as these are i

[2020-12-18 13:20] dtarb commented on #2609
See also#1755

[2020-12-18 14:20] cuahsimarko commented on #1755
@dtarb I have a label, geo and maps that has been used to identify those areas across all the GH Issues... can we reuse that?

[2020-12-18 14:33] martinseul commented on #1755
@dtarb @cuahsimarko I also don't think we're done with the mapping part of discover and using the new label for Discover map will work to separate out discover map issues the "geo and maps" has non discover issues as well

[2020-12-18 14:37] cuahsimarko commented on #1755
@dtarb @martinseul I just looked again and it appears as though all the Issues labeled `geo and maps` have been closed, except for one. I'm more inclined to remove that label and go with the new Discover map label. The Discover label should also apply.

[2020-12-18 14:42] cuahsimarko commented on #1755
@dtarb @martinseul @Castronova I don't think we are done with the Mapping part of Discover. It would be nice to capture Discover map enhancements in a new workflow, with design discussion and collaboration, similar to how the Citations work was outlined. Early involvement of the person, who will implement the work is also a good idea. The conversation should start with requirements, use cases and

[2020-12-18 14:45] cuahsimarko commented on #1755
@dtarb I had created the `geo and maps` label to capture all relevant topics. Adding a `Discover` label complements that label, in this case. I had spent a lot of time finding all `geo and maps` Issues and labeling them. Would you be ok with applying the 'Discover" label to this Issue and deleting the new `Discover map` label? The final state would show the Discover label and geo and maps to ident

[2020-12-18 20:15] dtarb commented on #1755
I suggest lets not machinate too much over which labels are right.  The "design phase needed" keeps this in a group to consider holistically when we design new functionality.  The "Discover map" says it has ideas for the map part of discover.  Discover is OK because it also refers to discover.  As @martinseul there are a lot of non discover issues related to geospatial information where geo and ma

[2020-12-21 16:54] dtarb commented on #4028
@alvacouch see this

[2020-12-21 17:12] cuahsimarko commented on #1755
I think we should have some conventions, though. I like having geo and maps, as I had intended to include Discover Maps but also more than just Discover Maps. I'm ok with creating the third "Discover Maps" label.

[2020-12-21 20:23] alvacouch commented on #4028
@sblack-usu This is not surprising. A number of integrity checks like this one are not made or repaired. My new PR #4017 works around this by checking for existence and ignoring any version that is declared and that got deleted.

[2020-12-23 16:30] #4018 closed

[2020-12-30 20:27] amabdallah opened #4078 "Add buttons to export citations to EndNote"
It would be really handy for researchers to have a button with a function that exports the citation file ready to use for a few commonly used software like Endnote with an extension .enw and Zotero etc. Right now, it's frustrating to manually create a citation reference in Endnote out of the citation text in HydroShare.

![image](https://user-images.githubusercontent.com/3268971/103379275-6257a300

[2020-12-30 20:43] dtarb commented on #4078
We appreciate the suggestion.  It is a good idea.  This was actually considered early on #97, but time, effort, money, priorities etc. have so far precluded us being able to do this.  Perhaps this time the suggestion is a charm.

[2020-12-31 15:47] amabdallah commented on #4078
There are always improvements to make and features to add. I think it is really worth it given that HydroShare is encouraging its users to cite "data" and "models".  So adding such a button relates to the core mission of HydroShare.

[2021-01-03 23:26] amabdallah commented on #3890
I was about to post a new issue but luckily found this one. We live in a forgiving virtual environment where they're always ways to "recover" deleted files at least for a period of time. It's like a standard these days. So users expect this from HydroShare as well. I just deleted a resource that had a nice abstract. I wish I could recover it to copy that abstract :(

![image](https://user-images.g

[2021-01-04 15:34] sblack-usu opened #4079 "Release Checklist 1.40"
### Issues in Release
- [x] #3767 "How to cite" @cuahsimarko
- [x] #4040 Node fix - for Jenkins errors @dan-palmer1
- [x] #4044 Bump highlight.js from 9.18.1 to 9.18.5 in /hs_discover @cuahsimarko
- [x] #3928 Bag ingestion @sblack-usu
- [x] #4059 Fix for local development solr schema @dan-palmer1
- [x] #4040 Node fix - for Jenkins errors @dan-palmer1
- [x] #4081 async - default username to empty,

[2021-01-04 15:52] cbcunc commented on #2674
Exists on Thredds and decommissioning Hyrax.

[2021-01-04 15:52] #2674 closed

[2021-01-04 15:54] cbcunc commented on #2538
I experience problems with blanks and parenthesis in file names for purposes of harvesting files for publication on Thredds.

[2021-01-04 15:56] cbcunc commented on #2534
Now handled by Nagios.

[2021-01-04 15:56] #2534 closed

[2021-01-04 15:57] cbcunc commented on #2340
Decommissioning Hyrax.

[2021-01-04 15:57] #2340 closed

[2021-01-04 16:10] #2214 closed

[2021-01-04 16:12] Castronova commented on #2143
@hyi Have you made any progress on this? If not, do you have any plans to work on it?

[2021-01-04 16:14] Castronova commented on #2171
@alvacouch Can you please review this and close/comment as necessary?

[2021-01-04 16:16] Castronova commented on #2251
Closing. No longer relevant due to re-design into composite resource type.

[2021-01-04 16:16] #2251 closed

[2021-01-04 16:21] Castronova commented on #2321
@sblack-usu Is this still relevant given the recent work you're doing on the API? Please comment and close.

[2021-01-04 16:26] Castronova commented on #2385
@zhiyuli Has this issue been resolved?

[2021-01-04 16:28] #2544 closed

[2021-01-04 16:35] Castronova commented on #2604
@sblack-usu will this be possible with the planned changes to the API?

[2021-01-04 16:38] Castronova commented on #2697
stale.

[2021-01-04 16:38] #2697 closed

[2021-01-04 16:39] Castronova commented on #2666
@zhiyuli is the documentation for the NWM viewer app up-to-date? If so, please close.

[2021-01-04 16:41] Castronova commented on #2580
`hs_metrics` is being used to record HydroShare actions. These "actions" are used to generate usage reports via Jenkins and ELK-stack.

[2021-01-04 16:41] #2580 closed

[2021-01-04 16:43] Castronova commented on #2579
@zhiyuli what is the status of this? Please close or comment.

[2021-01-04 16:45] Castronova commented on #2177
@alvacouch Is this still an issue? Please comment or close.

[2021-01-04 16:45] #2189 closed

[2021-01-04 16:46] Castronova commented on #2235
stale, closing

[2021-01-04 16:46] #2235 closed

[2021-01-04 16:48] Castronova commented on #2237
@sblack-usu Can you please review this ticket. Is this something that is currently possible or something that we're planning to implement. This should be closed if we don't plan to implement it.

[2021-01-04 17:02] hyi commented on #2143
@Castronova No, I have not done anything on this. With the current implementation, unzipping depends on iRODS ibun operation which only supports tar, gzip, bzip2, and zip data types. I'd suggest to close this issue for now unless we have specific use case that requires support of other compressed file formats.

[2021-01-04 17:16] aufdenkampe commented on #2237
This would be a helpful feature for the [WikiWatershed / Model My Watershed](https://github.com/WikiWatershed/model-my-watershed) team to more fully leverage the HydroShare catalog in the future, which is in the works with funding that is on its way. I urge you to implement this feature.

[2021-01-04 17:30] dtarb commented on #2237
@aufdenkampe I am curious as to what additional leveraging of the HS catalog you have in the works.

[2021-01-04 17:43] #2143 closed

[2021-01-04 17:46] aufdenkampe commented on #2237
William Penn Foundation (WPF) is funding another round of development to the Delaware River Watershed Initiative (DRWI) tools, although at a much more limited level than expected a year ago due to their prioritizing funding to COVID. I think the current plans are to increase the same uses/integrations that you and Jeff helped us to develop. The DRWI Technical User Group has recognized the value of

[2021-01-04 18:11] sblack-usu commented on #2237
Implementing this feature would be more involved than simply adding the filter as suggested.  HydroShare breaks some conventions like renaming fields on output.  Also,  currently sorting by creator wouldn't sort by name, it'd sort by id.  We can work around these limitations if we scope out what to sort by.  My suggestion is to only allow sorting by `date_created` and `date_last_updated`.  All oth

[2021-01-04 18:25] sblack-usu commented on #2321
You can't add funding agencies at resource creation, but you can add them after by hitting the `​/hsapi​/resource​/{id}​/scimeta​/elements​/` endpoint.  The equivalent call on hs_restclient would be `updateScienceMetadata()`.  And yes, the hs_rdf work allows you to update funding agencies in an object oriented manner.  We're aiming for the first hs_rdf release to happen this month.

[2021-01-04 18:25] #2321 closed

[2021-01-04 18:35] sblack-usu commented on #2604
This already exists and should have been closed earlier.  From hs_restclient readthedocs.
[code]
[code]

The hs_rdf work will also allow you to read/update the aggregation metadata in an object oriented manner.

[2021-01-04 18:35] #2604 closed

[2021-01-04 18:59] danames commented on #2666
We have deprecated the NWM Viewer app based on discussions with @martinseul  and @dtarb. We're going to try to pull out the key capabilities - like subsetting - and put them in a separate module. So the NWM Viewer documentation just needs to be removed from the help file, then this issue can be safely closed in my opinion.

[2021-01-04 19:11] rajadain commented on #2237
This is from some time ago, and the only request for sorting I can find is https://github.com/WikiWatershed/model-my-watershed/issues/2115#issuecomment-334850162. If the HydroShare results are not automatically sorted for recency, it may be that adding those two sorts may be enough to bring the behavior in line with the other catalogs MMW works with.

[2021-01-04 19:31] rajadain commented on #2237
MMW adds filtering and sorting on the client side: https://github.com/WikiWatershed/model-my-watershed/blob/19626d37d99ea480ec48857ce07b8291592202ae/src/mmw/apps/bigcz/clients/hydroshare/search.py#L173-L183

I don't think the API offered the ability to filter results within a date range at the time. I don't know if such functionality is now available.

[2021-01-04 19:36] #3919 closed

[2021-01-04 19:36] #3920 closed

[2021-01-04 19:36] #3925 closed

[2021-01-04 19:36] #4029 closed

[2021-01-04 19:36] #4058 closed

[2021-01-04 19:36] #4072 closed

[2021-01-04 19:36] #3918 closed

[2021-01-04 19:36] #4034 closed

[2021-01-04 19:48] Castronova commented on #2666
@danames If this app is deprecated, it should also be removed from https://www.hydroshare.org/apps/

[2021-01-04 20:07] cuahsimarko commented on #4035
@dtarb @alvacouch I support the idea of a Unique ID, perhaps not something entered by the user, such as an underlying uuid4 (random identifier) much like the database best practice with an auto incrementing/generated index. Respective systems could then use the UID for retrieval. The final step would be providing a method for resource creators and editors to consolidate their accounts under one UI

[2021-01-04 20:08] cuahsimarko commented on #4033
@Castronova @martinseul  I think the widened version performs no function, other than making it harder to read which integer counter goes with which checkbox and label. Motion to close this.

[2021-01-04 20:11] cuahsimarko opened #4080 "Misaligned Menu"
When window size causes the hamburger menu to appear, clicking to open the menu spawns text on the side opposite of the action. Dynamic elements should be positioned closer/aligned with the element that the user is interacting with. In this case, the menu text for navigation should be right-aligned.

![image](https://user-images.githubusercontent.com/45397838/103575081-17bd9880-4e9f-11eb-832d-aa6f

[2021-01-04 20:12] danames commented on #2666
Correct. Let's confirm this with @martinseul and @dtarb first.

[2021-01-04 20:18] cuahsimarko commented on #2464
@alvacouch @martinseul I think this can be closed, if I'm following the thread in enough detail.

[2021-01-04 20:30] cuahsimarko commented on #4060
One of the dozens of includes relies on a global location and breaks linting:

![image](https://user-images.githubusercontent.com/45397838/103576806-b64af900-4ea1-11eb-82f6-0beacabde687.png)

[2021-01-04 20:31] sblack-usu commented on #2237
There is the ability to filter by date range.  There is a from_date and to_date parameter.

[2021-01-04 20:53] Castronova commented on #4033
@cuahsimarko When the browser size is decreased below the responsive "large" level, the resource table is pushed off the screen and a large blank space is displayed next to the facets. The responsive design for the discover page should remain consistent with the way we're resizing other pages on HydroShare, for example the "My Resources" page.

[2021-01-04 21:09] cuahsimarko commented on #4033
@Castronova Here is the behavior across HydroShare
![image](https://user-images.githubusercontent.com/45397838/103579627-9b2eb800-4ea6-11eb-90ce-0e5af1cae537.png)

I don't think this adds any value and even makes the page less readable. This example only has a few fields, but there are many more in Discover, so the problem would be magnified. I am of the opinion that the version on Discover is mor

[2021-01-04 21:33] horsburgh commented on #4033
I have to agree with @Castronova on this one. I think it's unacceptable to have totally different responsiveness behavior across the small number of pages on our site. Leaving the huge white space to the right of the discover facets just looks like a bug. Users will not know that they need to scroll to see something. It looks like the page didn't load. It's hard to make a page less readable than i

[2021-01-04 22:30] horsburgh commented on #4035
I vote against trying to do additional disambiguation of things like Authors based on some sort of additional identifier. Authors that are HydroShare users already have a unique identifier in the system, but not all authors are users. The real problems are with authors that are not HydroShare users because their information does not get copied from their profile (or their information gets copied a

[2021-01-05 01:49] martinseul commented on #2499
Closing, automated uploads are available through the API

[2021-01-05 01:49] #2499 closed

[2021-01-05 01:51] martinseul commented on #2510
@alvacouch is this still an issue or can it be closed.

[2021-01-05 02:00] martinseul commented on #2518
closing, retested an works fine now

[2021-01-05 02:00] #2518 closed

[2021-01-05 02:02] martinseul commented on #2530
closed, implemented or stale

[2021-01-05 02:02] #2530 closed

[2021-01-05 02:08] martinseul commented on #2548
@sblack-usu @pkdash is this still relevant or can be closed?

[2021-01-05 02:10] martinseul commented on #2551
@sblack-usu @pkdash is this still relevant or can be closed?

[2021-01-05 16:13] sblack-usu commented on #2548
It can be closed.  The other extent fields are displayed and the longitude/latitude are no longer displayed in netcdf aggregations.

[2021-01-05 16:13] #2548 closed

[2021-01-05 20:12] martinseul commented on #2123
Stale, close

[2021-01-05 20:12] #2123 closed

[2021-01-05 20:41] martinseul commented on #2557
Close, take no further action at this time

[2021-01-05 20:41] #2557 closed

[2021-01-05 20:42] martinseul commented on #2575
@sblack-usu and @horsburgh review and act as needed

[2021-01-05 20:46] martinseul commented on #2592
Close, part of recommendations

[2021-01-05 20:46] #2592 closed

[2021-01-05 20:56] martinseul commented on #2610
@alvacouch review and act as needed

[2021-01-05 21:02] dtarb commented on #2636
Closing.  I no longer see merit in devoting resources to this.

[2021-01-05 21:02] #2636 closed

[2021-01-05 21:06] martinseul commented on #4008
closing will be addressed ongoing dev work

[2021-01-05 21:06] #4008 closed

[2021-01-05 21:08] martinseul commented on #4020
@sblack-usu closing this as it has been deployed

[2021-01-05 21:08] #4020 closed

[2021-01-05 21:18] cuahsimarko commented on #4070
Just discovered this is a problem with the user sign-up process and profile edit, not the RLP

[2021-01-05 21:19] cuahsimarko commented on #4070
Adding an author via RLP gives expected results:

![image](https://user-images.githubusercontent.com/45397838/103699980-c29e8700-4f71-11eb-9e3c-52f8055ddecb.png)

[2021-01-05 22:34] #2575 closed

[2021-01-05 22:49] sblack-usu commented on #2030
I don't know of any work done to resolve this issue and it appears to persist.

[2021-01-05 22:51] #2017 closed

[2021-01-05 22:57] #1482 closed

[2021-01-05 22:58] #2292 closed

[2021-01-05 22:59] sblack-usu commented on #1598
fixed in #3928

[2021-01-05 22:59] #1598 closed

[2021-01-05 23:08] sblack-usu commented on #1548
`/resource/{resource-id}/data/{filename}` and `/resource/{resource-id}/data/contents/{filename}` today, are the same thing and really is `/resource/{resource-id}/{filename}` where `/data/contents/` is included in filename.  We need to include `data/contents` in the path to access files such as `data/resourcemetadata.xml`

#3928 enables api download with authentication for for the resourcemap urls,

[2021-01-05 23:08] #1548 closed

[2021-01-06 18:09] Castronova commented on #2019
Closing, no longer relevant as per @goodalljl .

[2021-01-06 18:09] #2019 closed

[2021-01-07 20:02] cuahsimarko commented on #3608
Will be prioritized by stakeholders/PI

[2021-01-07 20:10] cuahsimarko commented on #4065
Sometimes creating and deleting just 1-2 files can result in an infinitely spinning pinwheel on macOS / Chrome

[2021-01-07 21:50] horsburgh opened #4087 "Cannot delete spatial coverage from a resource when it is a box coverage"
Once a spatial coverage for a resource is set to a box, it cannot be deleted. This is problematic as the spatial coverage gets automatically set when some types of aggregations are added to a resource, but the user may intentionally NOT want to have a spatial or temporal coverage. I tried going into edit mode and just deleting the box/point coordinates, but HydroShare throws an error when I click

[2021-01-09 01:20] hydrocheck opened #4089 "Resource legends are out-of-sync between Discover and My Resources"
The updated legend in Discover is not reflected in My Resources.  For example, the "Script Resource" is missing in My Resources, and the "Pending publication" capitalization differs between the two.
<img width="1149" alt="discover" src="https://user-images.githubusercontent.com/43424907/104078822-fab1fe00-51ed-11eb-9c16-6e5e9610b71e.png">
<img width="952" alt="my-resources" src="https://user-image

[2021-01-09 01:20] hydrocheck opened #4090 "Contribution counts are not always consistent between interfaces"
Contribution counts in the author preview do not always match contribution counts in the user profile.  This appears to be a difference of totaling by name (non-unique) vs. totaling by user ID (unique).
Example preview modal (click on the owner link) with 2 contributions shown:
https://beta.hydroshare.org/resource/7b3396eebe0e4efdbcf6c866461aeb89/
Example profile page (click on contributions tab)

[2021-01-09 01:20] hydrocheck opened #4091 "My Resources page does not consistently load"
After 10 seconds of attempted loading, the my-resources page will bring up a Django error.  Even on a gigabit internet connection, this is relatively repeatable for a setup of ~200 resources and ~30 GB total resource quota usage.  It feels like a timeout as the page slowly loads.

<img width="1509" alt="my-resources-loading" src="https://user-images.githubusercontent.com/43424907/104078974-c25eef8

[2021-01-09 01:20] hydrocheck opened #4092 "Styling inconsistencies in Comment interface"
"Reply" and "delete" use different fonts and icon styles.

<img width="312" alt="comment" src="https://user-images.githubusercontent.com/43424907/104079016-e8848f80-51ee-11eb-8b23-73891616be30.png">

[2021-01-09 01:21] hydrocheck commented on #4079
* https://github.com/hydroshare/hydroshare/issues/4089
* https://github.com/hydroshare/hydroshare/issues/4090
* https://github.com/hydroshare/hydroshare/issues/4091
* https://github.com/hydroshare/hydroshare/issues/4092

[2021-01-09 01:34] hydrocheck opened #4093 "Profile edit fields do not align"
On Chrome v86, the profile edit fields are not consistently sized/aligned.

<img width="616" alt="profile-edit-fields" src="https://user-images.githubusercontent.com/43424907/104079324-74e38200-51f0-11eb-87b3-562f157b6a8b.png">

[2021-01-10 05:33] hydrocheck commented on #4079
Nothing to add from hotfix testing

[2021-01-11 19:19] martinseul commented on #1762
@alvacouch is this still relevant or has been resolved?

[2021-01-11 19:20] martinseul commented on #1931
@sblack-usu Is this still relevant given your work on DSAW? If not, please close.

[2021-01-11 19:51] sblack-usu commented on #1931
I haven't considered "Reifying" opinions in RDF, it is not part of the DSAW work.  The link in the description is broken.

[2021-01-12 16:15] sblack-usu commented on #4079
`regenerate_xml_files_composite_resource` https://new-hs-ci.hydroshare.org/view/02-Deployment/job/Production-Deployment/job/prod-hsctl-command/98/console

[2021-01-12 17:02] Castronova commented on #2639
Stale, closing. This will also be deprecated with the `hsrdf` library

[2021-01-12 17:02] #2639 closed

[2021-01-12 17:04] Castronova commented on #2657
No longer relevant since the migration to composite resource.

[2021-01-12 17:04] #2657 closed

[2021-01-12 17:08] Castronova commented on #2658
resolved

[2021-01-12 17:08] #2658 closed

[2021-01-12 17:10] Castronova commented on #2659
resolved. If the raster cannot be processed, an aggregation is not set.

[2021-01-12 17:10] #2659 closed

[2021-01-12 18:00] martinseul commented on #2734
@Alva this is part of async framework, closing this please reopen if needed

[2021-01-12 18:00] #2734 closed

[2021-01-12 18:12] martinseul commented on #2737
close, fix is implemented with #3586

[2021-01-12 18:12] #2737 closed

[2021-01-12 18:20] martinseul commented on #2756
close - fixed as part of  https://github.com/hydroshare/hydroshare/pull/3369

[2021-01-12 18:20] #2756 closed

[2021-01-12 18:23] martinseul commented on #2787
closing fixed

[2021-01-12 18:23] #2787 closed

[2021-01-12 18:33] martinseul commented on #2790
close, fixed

[2021-01-12 18:33] #2790 closed

[2021-01-12 18:37] Castronova commented on #2805
This has been resolved.

[2021-01-12 18:37] #2805 closed

[2021-01-12 19:07] Castronova commented on #2793
Passing basic authentication through `wget` does not currently work.

[code]

[2021-01-12 20:23] Castronova commented on #2662
I will create a jupyter notebook that demonstrates the HS <-> iRods interaction.

[2021-01-12 20:25] dtarb commented on #2705
@horsburgh what is the recommendation here from a resource data model perspective.  Do we need this.

[2021-01-12 20:27] Castronova commented on #2712
related to #2743

[2021-01-12 20:30] dtarb commented on #2714
This is inactive.  Closing.

[2021-01-12 20:30] #2714 closed

[2021-01-12 20:36] dtarb commented on #2753
Stale - closing.

[2021-01-12 20:36] #2753 closed

[2021-01-12 20:42] dtarb commented on #2804
2 years later is no longer an issue.  Appears to have been fixed somewhere along the way.  Closing.

[2021-01-12 20:42] #2804 closed

[2021-01-12 20:48] Castronova commented on #2854
resolved

[2021-01-12 20:48] #2854 closed

[2021-01-12 21:19] Castronova commented on #2910
related to #2895

[2021-01-12 23:46] horsburgh commented on #2705
I don't think a web app resource has any context outside of HydroShare. If we are worried about the integrity of the web app resource metadata, which I presume is stored in the Django database, then we might want to consider working on this so that the metadata is also stored in the resourcemetadata.xml file.  However, there is no download functionality for a web app resource and so the only way t

[2021-01-12 23:46] #2705 closed

[2021-01-13 13:18] alvacouch opened #4095 "enable nginx heartbeat queries for outer and inner proxies"
In determining what is causing the site to fall down, it is necessary to be able to query the status of the NGINX outer and inner server statuses. This should be done in http, so that the servers can be queried directly instead of via the proxy chain.

[2021-01-13 15:18] cuahsimarko commented on #3487
Covered by https://github.com/hydroshare/hydroshare/issues/3929 the person working 3929 should look at the larger picture and see that the file needs to be separated out and cleaned up.

[2021-01-13 15:18] #3487 closed

[2021-01-13 15:19] cuahsimarko commented on #3238
Covered by https://github.com/hydroshare/hydroshare/issues/3929 the person working 3929 should look at the larger picture and see that the file needs to be separated out and cleaned up.

[2021-01-13 15:19] #3238 closed

[2021-01-13 15:20] cuahsimarko commented on #4050
Also while working on Groups bugs, resolve CZO Group visibility when logged in. Resource lists that are visible when not logged in should be visible when logged in.

[2021-01-13 15:24] sblack-usu commented on #4079
`set_bag_dirty` https://new-hs-ci.hydroshare.org/view/02-Deployment/job/Production-Deployment/job/prod-hsctl-command/99/console

[2021-01-13 16:57] martinseul opened #4097 "profile page email editing does not save changes"
A user pointed to a problem with the profile page.

Editing the email address and saving does not save the changes. This seems to be a regression.

@hyi @sblack-usu could you coordinate and take a look at it?

[2021-01-13 17:58] #4079 closed

[2021-01-13 18:07] sblack-usu commented on #4097
I verified I could change my email as well.  A notification at the top tells me to click the verification email.  The email address does not update until I do so.  If I attempt with an email that is already in use, I get a notification at the top telling me the email is in use already.  Are you having trouble changing your email address @martinseul ?

[2021-01-19 16:09] cuahsimarko opened #4105 "Show Public Group Resources when Logged In"
Resolve CZO Group visibility when logged in. Resource lists that are visible when not logged in should be visible when logged in.

[2021-01-19 23:39] sblack-usu opened #4106 "Release Checklist 1.41"
### Issues in Release
- [x] Add watchdog URLs in http mode to outer and inner nginx proxies #4096 @alvacouch
- [x] turn off TaskNotification creation for api downloads #4098 @sblack-usu
- [x] url encode resourcemap urls #4099 @sblack-usu
- [x] Fix botch in adding resources to collections #3932 @sblack-usu
- [x] updated vocab schema.org url to be compatible with DataONE #4101 @hyi
- [x] add missing

[2021-01-20 15:13] cuahsimarko commented on #2793
This worked for me on macOS

`wget https://www.hydroshare.org/resource/db867dfcdd7d43b79e4ff4b8bd012800/data/contents/requirements.txt --http-user=mobrien@cuahsi.org --http-password=$ENV_HS_PASSWD --keep-session-cookies --auth-no-challenge`

[2021-01-20 15:14] cuahsimarko commented on #2793
Note that if you enter your password in the command line it will appear in your OS history. Environment variables are a slightly better practice for this, though use your judgement, none of it is a secure approach.

[2021-01-20 15:45] Castronova commented on #2793
Thanks @cuahsimarko, I'll test this.

[2021-01-21 00:01] cuahsimarko opened #4108 "Navbar Behavior"
Some undesirable behavior in the navbar has beend detected in Chrome latest on macOS:

1. At certain widths the Create button jumps on Discover (Figure 1)

![image](https://user-images.githubusercontent.com/45397838/105255450-90844c00-5b51-11eb-9cae-aaf259e05f4d.png)
Figure 1: Create button misaligned

[2021-01-21 17:27] cuahsimarko commented on #3520
Tested on beta

[2021-01-21 17:27] #3520 closed

[2021-01-22 14:42] hyi commented on #3839
@Castronova I believe this issue can be closed.

[2021-01-22 14:46] hyi opened #4109 "Put resource versioning into async task framework"
Put resource versioning into async task framework, while trying to fix the issue #4028.

[2021-01-25 16:04] Castronova commented on #2914
Closing. Profile information is public by default.

[2021-01-25 16:04] #2914 closed

[2021-01-25 16:16] Castronova commented on #2984
This has been resolved.

[2021-01-25 16:16] #2984 closed

[2021-01-25 16:19] #2987 closed

[2021-01-25 16:20] Castronova commented on #2991
@sblack-usu has this functionality been "turned off"?

[2021-01-25 16:35] sblack-usu commented on #2991
Sort of.  If you attempt to create a deprecated resource type, it will create a Composite.  The justification for this is is that the resource types have been migrated to aggregations and you can get the same functionality from the type as an aggregation within a composite resource.

[2021-01-25 16:39] #3020 closed

[2021-01-25 17:47] sblack-usu commented on #4078
@amabdallah - Could you point to the documentation for each of the formats you would like to be made available?  Would you like to copy the citation formats directly into the clipboard?

[2021-01-25 18:10] martinseul commented on #3048
Fixed. Closing issue

[2021-01-25 18:10] #3048 closed

[2021-01-25 18:16] martinseul commented on #3049
@ndebuhr. This seems to be fixed or NA as the implementation has changed. Closing, please reopen if still needed

[2021-01-25 18:16] #3049 closed

[2021-01-25 18:19] martinseul commented on #3050
@ndebuhr. This seems to be fixed or NA as the implementation has changed. Closing, please reopen if still needed

[2021-01-25 18:19] #3050 closed

[2021-01-25 18:23] martinseul commented on #3051
@ndebuhr. This seems to be fixed or NA as the implementation has changed. Closing, please reopen if still needed

[2021-01-25 18:23] #3051 closed

[2021-01-25 18:38] martinseul commented on #3059
completed, Closing

[2021-01-25 18:38] #3059 closed

[2021-01-25 19:24] martinseul commented on #2997
@alvacouch review and act as needed

[2021-01-25 19:25] martinseul commented on #2921
@alvacouch review and close if resolved

[2021-01-25 19:26] martinseul commented on #3023
Fixed, closing

[2021-01-25 19:26] #3023 closed

[2021-01-25 19:29] martinseul commented on #3061
@alvacouch tagging you as it part of large file handling and async

[2021-01-25 19:46] #3128 closed

[2021-01-25 19:47] Castronova commented on #3129
@pkdash what is the status of this?

[2021-01-25 19:50] Castronova commented on #3146
This has been resolved

[2021-01-25 19:50] #3146 closed

[2021-01-25 19:50] dtarb commented on #3146
Close - refer to #2991

[2021-01-25 19:50] #2991 closed

[2021-01-25 19:52] cuahsimarko commented on #3916
This is Discover on 2650 x 1140
![image](https://user-images.githubusercontent.com/45397838/105758212-ffc8ba00-5f1c-11eb-9f04-6c6705c5233a.png)

[2021-01-25 19:53] cuahsimarko commented on #3916
Appears to be same width on sides as Resource Landing Page
![image](https://user-images.githubusercontent.com/45397838/105758332-2129a600-5f1d-11eb-9481-89bceb3279e4.png)

[2021-01-25 19:56] martinseul commented on #3186
Stale and in large part completed, closing

[2021-01-25 19:56] #3186 closed

[2021-01-25 20:00] sblack-usu commented on #3129
There's quite a bit of stale code that needs to be cleaned up.  Not all of it is straightforward to identify and remove.

[2021-01-25 20:00] martinseul commented on #3194
@cuahsimarko closing this one here, we can readdress tis as part of the DOI work with a more actionable ticket.

[2021-01-25 20:00] #3194 closed

[2021-01-25 20:01] cuahsimarko commented on #4035
@dtarb @martinseul @horsburgh @alvacouch I would like to close this, per Dave's vote, if others agree. Where can we capture any necessary information that needs to be carried forward? Can a stakeholder please action this?

[2021-01-25 20:03] cuahsimarko commented on #3937
The original title of this ticket suggested searching foreign characters does not work. Searching foreign characters works. The issue here is that partial string matching is not active. Can a stakeholder please close this is that is the intended policy or further discuss if it's a gray area?

[2021-01-25 20:17] cuahsimarko commented on #4087
Related to https://github.com/hydroshare/hydroshare/issues/4009

[2021-01-25 20:17] cuahsimarko commented on #4009
Related to https://github.com/hydroshare/hydroshare/issues/4087

[2021-01-25 20:20] cuahsimarko commented on #4069
I have a path forward for this, starting with Communities work, script and styling cleanup, code consolidation, includes optimization, Django reduction (exchanged for VueJS conditional rendering). I have started clearing out some libraries as items are consolidated and performed the extensive QA of all the workflows.

[2021-01-25 20:20] #4069 closed

[2021-01-25 20:23] cuahsimarko commented on #4036
I no longer have a need for this. DevOps has their own methods for handling this across environments.

[2021-01-25 20:23] #4036 closed

[2021-01-25 20:25] cuahsimarko commented on #3964
This was for Discover Feature Parity. I no longer have a need for it, as we are using pagination.

[2021-01-25 20:25] #3964 closed

[2021-01-25 20:29] cuahsimarko commented on #3929
Effort to ensur import order is also observed should be made. In PyCharm this can be accomplished automatically
![image](https://user-images.githubusercontent.com/45397838/105762104-f42bc200-5f21-11eb-8f68-2bd9b8f55bc6.png)

Otherwise research will be required to manually put in place. As you know, extensive testing will be appropriate after such changes.

[2021-01-25 20:30] cuahsimarko commented on #3926
Going with Title Case

[2021-01-25 20:33] cuahsimarko commented on #3875
Chrome latest macOS this actually appears for me, but there is a slide bar that a user might miss. Extending the length of the menu won't guarantee a result, as the window might be smaller. I recommend closing without further action
![image](https://user-images.githubusercontent.com/45397838/105762680-b1b6b500-5f22-11eb-9240-7c39720553dd.png)

[2021-01-25 20:38] cuahsimarko commented on #3704
Hong let's please discuss and also include Scott later, when the time comes as a part of cleanup work I've started.

[2021-01-25 20:40] cuahsimarko commented on #4050
Possibly relate https://github.com/hydroshare/hydroshare/issues/3699

[2021-01-25 20:40] cuahsimarko commented on #3699
possibly related https://github.com/hydroshare/hydroshare/issues/4050

[2021-01-25 20:44] cuahsimarko commented on #3449
This is a problem in the Profile page, too for the iRODS setup

[2021-01-25 20:45] cuahsimarko commented on #3610
Related
https://github.com/hydroshare/hydroshare/issues/3608
https://github.com/hydroshare/hydroshare/issues/3700

[2021-01-25 20:45] cuahsimarko commented on #3700
Related
https://github.com/hydroshare/hydroshare/issues/3608
https://github.com/hydroshare/hydroshare/issues/3610

[2021-01-25 20:45] cuahsimarko commented on #3608
Related
https://github.com/hydroshare/hydroshare/issues/3700
https://github.com/hydroshare/hydroshare/issues/3610

[2021-01-25 20:48] cuahsimarko commented on #4050
Related https://github.com/hydroshare/hydroshare/issues/3688

[2021-01-25 20:54] cuahsimarko commented on #3612
Related to https://github.com/hydroshare/hydroshare/issues/4070

[2021-01-25 20:54] cuahsimarko commented on #4070
Related to https://github.com/hydroshare/hydroshare/issues/3612

[2021-01-25 20:56] Castronova commented on #3147
One way to do this is by wrapping the "fb-file-name" span in an expandable div:

[code]

[2021-01-25 20:57] cuahsimarko commented on #3488
This is prevalent across all of HS

[2021-01-25 21:00] sblack-usu commented on #3929
I think import sorting is different enough from circular imports that it requires its own issue.  I'd support an effort to set up import sorting standards and a PR that sorts all of our imports.  To avoid a dependency on PyCharm, I suggest using isort.

[2021-01-25 21:08] cuahsimarko commented on #3194
@martinseul yes, I have it linked in my index of old documentation for the project that I'm collecting.

[2021-01-25 21:17] cuahsimarko commented on #2368
Limitations here are shared by the Communities resources page, which are being fixed with ongoing Communities/Indexing work. At a future date, the option for My Resources to reuse patterns in Communities work will be a solid option.

[2021-01-25 22:48] hyi commented on #3929
We followed an import order suggestion in Hydroshare suggested by Caktus experts as follows: import generic python modules, followed by Django modules, followed by other modules dependent on Django such as Mezzanine, then at last by HydroShare specific modules. In other words, the import order starts from more generic modules to more specific modules. I like this import order since it is easy to i

[2021-01-25 22:55] hyi commented on #3704
@cuahsimarko Sounds good. If we remove resource landing page from being a Mezzanine page in the cleanup work you've started, this issue will be taken care of as the part of the cleanup.

[2021-01-26 00:54] pkdash commented on #3938
@cuahsimarko This should be closed.

[2021-01-26 17:01] cuahsimarko commented on #2298
Moving to design document in google docs

[2021-01-26 17:01] #2298 closed

[2021-01-26 17:37] cuahsimarko commented on #4019
Related https://github.com/hydroshare/hydroshare/issues/4015 (obsoleted resources)

[2021-01-26 18:28] alvacouch commented on #3953
This has been addressed.

[2021-01-26 18:28] #3953 closed

[2021-01-26 19:48] amabdallah commented on #4078
@sblack-usu - So if you create the HydroShare citation in .enw format, then users can download it to EndNote effortlessly. EndNote then prepares the citation format (italic, bold, order of authors etc) based on the selected journal style.

I made it before for one of my conference papers ( I forgot how I did it). See here:
https://github.com/WamdamProject/WaMDaM_Publications/blob/master/Files/WaMD

[2021-01-26 21:23] horsburgh commented on #4078
The .enw file format is an EndNote import file. EndNote is just one of several reference management software programs we may want to support. Others include Mendeley, Zotero, etc. There are other citation export formats that may more generally support reference managers:

The RIS File Format: https://en.wikipedia.org/wiki/RIS_(file_format)
BibTeX Format: http://www.bibtex.org/

I looked at several

[2021-01-27 14:58] cuahsimarko commented on #2293
This has been indexed alongside over 20 related GH Issues, and relevant information extracted into a growing design document, and reorganized beneath major topics. Areas for meeting/presentation/async viewing by stakeholders, meetings and discussion/action items are also designated. This is WIP.

[2021-01-27 14:58] #2293 closed

[2021-01-27 15:04] cuahsimarko commented on #2295
This has been indexed alongside 25 related GH Issues, and relevant information extracted into a growing design document, and reorganized beneath major topics. Areas for meeting/presentation/async viewing by stakeholders, meetings and discussion/action items are also designated.

[2021-01-27 15:04] #2295 closed

[2021-01-27 15:11] cuahsimarko commented on #2294
This has been indexed alongside related GH Issues, and relevant information extracted into a growing design document, and reorganized beneath major topics. Areas for meeting/presentation/async viewing by stakeholders, meetings and discussion/action items are also designated.

[2021-01-27 15:11] #2294 closed

[2021-01-27 15:13] cuahsimarko commented on #2296
This has been indexed alongside related GH Issues, and relevant information extracted into a growing design document, and reorganized beneath major topics. Areas for meeting/presentation/async viewing by stakeholders, meetings and discussion/action items are also designated.

[2021-01-27 15:13] #2296 closed

[2021-01-27 16:18] cuahsimarko commented on #3905
After reviewing https://github.com/hydroshare/hydroshare/issues/3866 the outstanding action items appear to be possibly improving documentation at https://help.hydroshare.org/creating-and-managing-resources/connecting-your-resource-data-with-your-publication/ with improved instructions for versioning DOI in journal publication workflows. Reposting the original publication of concern: https://www.s

[2021-01-27 16:20] cuahsimarko commented on #3905
This has been linked to the DOI Policy Enforcement documentation, to be determined if it is in scope or not, alongside another DOI-related GH Issue.

[2021-01-27 19:16] cbcunc commented on #2104
Adding self as participant.

[2021-01-27 19:17] cbcunc commented on #1930
Adding self as participant.

[2021-01-27 19:17] cbcunc commented on #1657
Adding self as participant.

[2021-01-28 17:00] #3938 closed

[2021-01-29 20:13] hyi commented on #2343
There is not a real use case at this point for this, so closing the issue for now.

[2021-01-29 20:13] #2343 closed

[2021-02-01 14:36] cuahsimarko commented on #4057
The prior functionality was "clicking on a subject keyword on the Resource Landing Page brought the user to Discover, with the results list filtered by that exact subject". I can restore that.

[2021-02-01 16:15] Castronova commented on #3196
Closing, this appears to be resolved.

[2021-02-01 16:24] Castronova commented on #3208
Closing, cannot replicate and original resource does not exist for testing. @gopalam please re-open if you're still encountering this issue.

[2021-02-01 16:24] #3208 closed

[2021-02-01 16:31] Castronova commented on #3271
@martinseul is this something that you want to implement. If not, please close.

[2021-02-01 16:37] Castronova commented on #3319
Resolved.

[2021-02-01 16:37] #3319 closed

[2021-02-01 16:39] Castronova commented on #3336
@cuahsimarko has this been resolved?

[2021-02-01 17:29] cbcunc commented on #2104
Closed per @alvacouch

[2021-02-01 17:29] #2104 closed

[2021-02-01 18:05] cuahsimarko commented on #3336
Beta now matches prod to the best of my knowledge. This was old and tied to perhaps some CZO activity when beta and prod were out of sync.

[2021-02-01 18:05] #3336 closed

[2021-02-01 18:32] cuahsimarko opened #4118 "Clicking Confirmation to Delete a Resource a Second Time Fails"
To Recreate:

- Delete resource
- While still processing, click Delete a second time

on beta, there is a debug screen. On Prod there is a message:

![image](https://user-images.githubusercontent.com/45397838/106502019-d4504d00-6491-11eb-9722-a8c9c317196f.png)

In the frontend, disable the Delete button after being activated by click, tab/spacebar or return/enter keypress

[2021-02-01 18:41] cuahsimarko commented on #3469
Duplicated by https://github.com/hydroshare/hydroshare/issues/4035

[2021-02-01 18:41] #3469 closed

[2021-02-01 18:51] cuahsimarko opened #4119 "In Progress Dialog Styling"
The informational dialog for adding Additional Metadata to a file is inconsistent with HS styling:

Click to Add metadata:

![image](https://user-images.githubusercontent.com/45397838/106504189-999be400-6494-11eb-9624-f8a2eab4c868.png)

Receive odd-looking dialog

![image](https://user-images.githubusercontent.com/45397838/106503967-50e42b00-6494-11eb-8432-2a053c5a9e9b.png)

[2021-02-01 18:52] cuahsimarko commented on #3526
![image](https://user-images.githubusercontent.com/45397838/106504282-b6d0b280-6494-11eb-8083-b7cdd69bbae6.png)

issue is not resolved. Also, dragging the cursor within the window causes it to close.

[2021-02-01 19:15] dtarb commented on #3261
@horsburgh we are looking at this as part of issue review.  Please review and act as needed.

[2021-02-01 19:19] dtarb commented on #3346
@cuahsimarko given async work that may have addressed this, is there still a reproducible error that occurs.  If so, please document the error, if not, please close.

[2021-02-01 19:21] dtarb commented on #3408
Given that model instance resource type will be deprecated in favor of model instance in composite resource, lets close.

[2021-02-01 19:21] #3408 closed

[2021-02-01 19:24] cuahsimarko commented on #976
@hyi I believe the navbar notifications area could be used for this. If people still like the idea of Collaborators being notified upon their name being added to a resource, I can look into it.

[2021-02-01 19:29] cuahsimarko commented on #3346
Between async work completed and a related ticket (https://github.com/hydroshare/hydroshare/issues/3549), this should be closed.

[2021-02-01 19:29] #3346 closed

[2021-02-01 19:32] dtarb opened #4120 "Remove resource type facets from resource listing on profile page"
With the consolidation of resource types to just 3 (Resource, Web app connector and collection) the resource facets on a users profile contributions page is no longer meaningful.  A users profile page should just list all of the resources from that user.  This would also resolve #3412 (which is closed as no longer relevant).

[2021-02-01 19:32] dtarb commented on #3412
Closing - see #4120.

[2021-02-01 19:32] #3412 closed

[2021-02-01 19:36] dtarb commented on #3414
No longer applicable with current create process.

[2021-02-01 19:36] #3414 closed

[2021-02-01 19:38] dtarb commented on #3415
Fixed, when resource create was updated.

[2021-02-01 19:38] #3415 closed

[2021-02-01 19:41] dtarb commented on #3424
@sblack-usu is this still an issue.  Please close or act on (if work is priority, bring up at dev call)

[2021-02-01 19:44] dtarb commented on #3426
This should not be limited to resources, but should also include adding file from 3rd party storage or saving files to 3rd party storage.

[2021-02-01 19:50] dtarb commented on #3436
@cbcunc is this still a concern.   If so, please prioritize at a developer call.  If not, please close.

[2021-02-01 19:56] hyi commented on #4118
@cuahsimarko I did this in my PR https://github.com/hydroshare/hydroshare/pull/4116 to disable resource versioning button after it is clicked, so can take care of this issue in the same way. Feel free to assign it to me if you want me to replicate the same logic for versioning to handle the delete case.

[2021-02-01 20:00] dtarb commented on #3451
The problem is really that you need to specify both a start and end date and the end date needs to be not before the start date.  This bug is that if end date is blank (not filled in) a more descriptive error message needs to be written (e.g.  "Missing end date").  The same occurs if a user only enters an end date, in which case the message should be "Missing start date".

[2021-02-01 20:41] cuahsimarko commented on #3549
Note to developer (or me if participating in design) https://github.com/hydroshare/hydroshare/issues/3415 ensure there are no backend remnants as a part of canceling resource creation.

[2021-02-01 20:43] cuahsimarko commented on #4118
Sounds great! For the button disable, if you can avoid jQuery, please do. I'm happy to help via email if it saves you any time. VueJS might give you an option or a plain JS document.getElementById is always reliable and simple.

[2021-02-01 20:48] cuahsimarko commented on #3451
Various ways of handling this might be:

a) Start Date is entered, today's date automatically populates the End Date; user should know they can change that to an earlier date but this signifies a date is necessary (auto behavior may not be expected)
b) End Date is entered and Start Date of oldest resource automatically populates Start Date (probably bad idea)
c) End Date is entered and current dat

[2021-02-01 20:49] cuahsimarko commented on #3451
@dtarb ^^^

[2021-02-02 04:14] hydrocheck commented on #4049
Behavior was not originally browser or configuration dependent.  No longer reproducible and closing as resolved.

[2021-02-02 04:14] #4049 closed

[2021-02-02 15:43] cuahsimarko commented on #3693
The title is missing from macOS chrome latest on the Groups page
![image](https://user-images.githubusercontent.com/45397838/106624235-6d8b6c00-6543-11eb-915d-b25d4bec2bc4.png)

[2021-02-02 15:58] cuahsimarko commented on #4033
@Castronova @horsburgh I think both look out of place and suspect a third option will feel more natural and be more readable than both. The problem would be the difference between Discover and the rest of HS. I can code anything, but perhaps this warrants re-thinking. If someone wants to make a decisive move, let me know and I'll update. If we match Discover to the rest o HS, what should the date

[2021-02-02 16:04] cuahsimarko commented on #2599
@alvacouch @martinseul I think we can close this. The design of current Discover caps at a set quantity of authors.

[2021-02-02 16:04] #2599 closed

[2021-02-02 16:08] cuahsimarko commented on #3937
Closing https://github.com/hydroshare/hydroshare/issues/2610 and consolidating into this ticket for partial matching. Right now, partial matching, starts with, wildcard searching are not active. A consensus is needed for design requirements.

[2021-02-02 16:09] cuahsimarko commented on #2610
Covered by partial string matches GH Issue at https://github.com/hydroshare/hydroshare/issues/3937

[2021-02-02 16:09] #2610 closed

[2021-02-02 17:17] cuahsimarko commented on #4035
Closing per thread and can be reopened if deemed necessary.

[2021-02-02 17:22] cuahsimarko commented on #3916
@hydrocheck what do you have in mind here? Is this perhaps not an issue with Discover and could be tagged somewhere else, as it may apply across all of HydroShare and be part of another responsive design thread I am navigating with Jeff and Tony. Let me know.

[2021-02-02 17:46] horsburgh commented on #4033
@cuahsimarko - I'm not sure which two options you are referring to? I suspect the reasons why the date options were not originally in the facets panel is specifically because it would cause responsiveness problems. They didn't have to go there, but they were moved there. Yes, paging controls would drop lower to stay with the list of results.

I think it's a mistake to say that HydroShare does not

[2021-02-02 18:02] cuahsimarko commented on #4033
@horsburgh My understanding from conversations with Neal and Martin was that HydroShare does not officially support mobile. I have a refreshed perspective on the matter now.

Perhaps when resizing to the typical HS width that causes content to drop below, then paging controls could align vertically with the Temporal Coverage Filter, then the remaining filters could be displayed. Beneath that, the

[2021-02-02 18:09] cuahsimarko commented on #4033
Using My Resources as an example of how HS resizes. Perhaps it would be a good idea to introduce alternating backgrounds (gray to white as in the resource table) to support the unusual gap between the integers and the items when on an iPad or initial breakpoint for resizing:

![image](https://user-images.githubusercontent.com/45397838/106643504-d4b31b80-6557-11eb-8a2d-79ee43f7e1be.png)

[2021-02-02 18:18] cuahsimarko commented on #4033
We could also more closely match the older behavior and put the date selectors back with the resource rows and have it just leave a gap. It would not look too awkward.

[2021-02-02 20:05] danames commented on #3992
I just tested copying an >800MB resource, https://www.hydroshare.org/resource/9572eb7fa8744807962b9268593bd4ad/. It succeeded in 2 minutes with no time out. This issue can be closed.

Side note: it would be good if the notification that shows completed copy would provide a link "View the new resource here".

[2021-02-02 20:05] #3992 closed

[2021-02-02 20:51] cuahsimarko commented on #3990
This does not meet the traditional functionality of what is referred to as a site map. Also, it appears to list every resource, which isn't scalable. @alvacouch @sblack-usu we discussed that pages in HS shouldn't list hundreds of resources, let alone "all of them". This page could be re-thought.

[2021-02-03 14:16] dtarb commented on #3451
I am not sure what ^^^ means.  I think that automatically filling in the dates is a bad idea.  This is consistent with comments following (a), (b) and (c) above.  Dates need to be deliberately chosen and consistent (start <= end).  Thus my recommendation is just to clarify the messaging to do this.

[2021-02-03 15:03] cuahsimarko opened #4121 "Hamburger Menu Design"
Currently, when in a small window or on a phone or tablet, the hamburger menu is activated an all navbar options are put inside. Some items should remain outside the hamburger menu, as there is room and the current items in the hamburger menu are not intuitive and have buggy behavior.

![image](https://user-images.githubusercontent.com/45397838/106765462-d2f46100-6606-11eb-919c-ff5ab6dfcfb8.png)

[2021-02-03 16:22] danames commented on #3992
Do I need to create a new github issue for the notification to make it more
informative and useful?
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
Past-President, International Environmental Modelling & Software Society
Editor-in-Chief, Environmental Modelling

[2021-02-03 18:57] ghost opened #4122 "Swagger Docs for New Discover"
Add detail for proper Swagger display of the new Discover API and also generate a google doc for less technical usage instructions with helpful examples for devs, but also students and even less technical HydroShare users.

[2021-02-03 19:43] hyi commented on #3992
@danames Sure, creating an issue will be good so this does not get lost. It'd be great to create a generic message that is informative for all async resource operation tasks such as file zipping/unzipping, resource copy, resource versioning, resource deletion, etc. so we don't have to customize notification message for each task individually.

[2021-02-03 20:18] danames opened #4123 "Better notification needed upon completion of resource copy task"
I copied a resource and when the copy was complete, I received a the following notifications:

![image](https://user-images.githubusercontent.com/3472628/106803887-e7922280-6621-11eb-9659-c4663f6360c6.png)

Note that the second notification was probably left over from a copy task I did yesterday. It is not intuitive to have it still displayed today.

The second operation (today's) completed as fol

[2021-02-03 20:19] danames commented on #3992
Done. Issue https://github.com/hydroshare/hydroshare/issues/4123
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
Past-President, International Environmental Modelling & Software Society
Editor-in-Chief, Environmental Modelling & Software
<http://ceen.et.byu.edu

[2021-02-03 23:21] cuahsimarko commented on #3451
@dtarb I forgot to @mention your name and was unsure if editing my comment and adding the @mention would generate the necessary email notification, so I made an additional comment with a shorthand for "scroll up". Next time, I can be more formal and delete the old message, copy-paste into a net new comment, with the appropriate @mention. Noted, that's the direction I was leaning towards, providing

[2021-02-03 23:23] cuahsimarko commented on #3451
More specifically, I was thinking italicized text in red, beneath the date inputs with the message "Both a Start Date and End Date are required if providing temporal information"

[2021-02-03 23:24] cuahsimarko commented on #3451
Clearing both dates or entering both dates causes the error message to go away and the Save button to be enabled.

[2021-02-03 23:25] cuahsimarko commented on #4033
I have coded something for this and will be deploying for discussion. It's either all good or very close.

[2021-02-04 13:22] hydrocheck commented on #3916
@cuahsimarko

Agreed.  I have nothing more in mind.

[2021-02-04 15:33] cuahsimarko commented on #4035
I will link this to the other duplicate name, facets, first/last/organization issues so stakeholders can consolidate, perhaps.

[2021-02-04 15:41] cuahsimarko commented on #4035
Possibly related https://github.com/hydroshare/hydroshare/issues/1774 "insufficient metadata to sort creators by last name"

[2021-02-04 16:07] cuahsimarko commented on #4123
I have also experienced this. It would be good to get clarity if these notifications appear after such actions as closing/reopening the same browser, navigating to a different page, or remaining on the Resource Landing Page, but being in edit mode, instead of View mode. Based on the actions taken by the user since the one that initiated the async process that eventually results in the notification

[2021-02-04 18:58] dtarb commented on #3451
@cuahsimarko no worries.  Yes - text below the dates would be great, and messaging more descriptive than just "failed to update" if a user does not get it right.

[2021-02-04 20:40] horsburgh commented on #3990
With regard to HydroShare's site map, there are some broader implications that we need to consider. We want HydroShare resources to be discovered and cataloged by Google Dataset Search. We are also in talks to have our published resources discovered and harvested by DataONE. HydroShare's site map could play a role in both of these.

Our DataONE colleagues pointed us at the following:

https://www.

[2021-02-05 16:34] cuahsimarko commented on #3990
I see now. I skimmed google's documentation and see references to schema.org, JSON-LD, and RDFa. Guessing people have thought about this and haven't prioritized the integration. Whenever folks revisit this, I'm happy to participate in the technical architecture.

[2021-02-05 21:45] cuahsimarko commented on #3916
The requirements for mobile phones, tables, ultra-wide monitors, old square monitors should be split into use cases and manufacturers/models, and rough priority assigned to which use cases will be handled. Then a comprehensive responsive design can be applied to HydroShare, its modals and perhaps shared with the other App developers, such as JupyterHub.

[2021-02-10 16:38] hyi commented on #3899
@valentinedwv I have verified that this issue has been fixed. Could you please verify as well and close the issue if it is fixed?

[2021-02-10 16:42] hyi commented on #1404
Deployed. Closing.

[2021-02-10 16:42] #1404 closed

[2021-02-10 18:24] #3825 closed

[2021-02-10 20:56] cuahsimarko commented on #3757
@martinseul we won't make this change.

[2021-02-10 20:56] #3757 closed

[2021-02-10 22:59] hyi opened #4127 "Move resource deletion into async task framework"
Move resource deletion into async task framework and need to make sure discovery still works after doing so.

[2021-02-11 15:39] cuahsimarko commented on #3937
Discuss possible designs for radio buttons and allowing partial string search.

[2021-02-11 17:11] cuahsimarko opened #4128 "Notifications Bell Styling"
Consider matching the color styling of the notifications bell in the navbar to the profile coloring. Subsequently, the hover/mouse over behavior should inherit the light blue coloring for active (hover/mouseover) elements on the Discover page. A close icon within the notifications dialog should be available, currently the only way to exit is to click outside the popup which is not best practice; "

[2021-02-11 17:57] martinseul commented on #4128
I'm open to a new icon to align the styling and agree to the need for a closing option . Hong did the implementation please keep her in the loop on the changes you propose.

[2021-02-11 19:28] cuahsimarko commented on #4073
@danames I am emailing you and Tony about this right now.

[2021-02-12 00:03] danames commented on #4073
This addresses the issue as I see it! Looks great. I think @Castronova  can close this one now.

[2021-02-12 16:08] martinseul commented on #3667
@alvacouch please review and close if no longer an issue

[2021-02-12 16:43] martinseul commented on #3461
Fixed on pages, @ndebuhr can you verify

[2021-02-12 17:01] martinseul commented on #3470
Fixed, can't reproduce in prod anymore, @ndebuhr please confirm and close

[2021-02-12 17:04] Castronova commented on #4073
@danames It's not clear to me that this issue is addressed in #4072 which enables search by aggregation type.

[2021-02-12 17:40] cuahsimarko commented on #4057
@martinseul @hydrocheck What is the expectation here, when a person shares a URL that specifies a subject, such as `/search/?subject=boulder` but then starts taking other actions in the UI? At what point has the user decided that they are no longer concerned with just keyword boulder? Presumably, any action taken would assume there should be a filter for keyword boulder unless 1) the user removed

[2021-02-12 17:47] cuahsimarko commented on #4073
I think there is a subtle point here and Discover allows filtering by Content Type but not by file extension. Alva and I are aware of this and will work this GItHub Issue after several other priority items are handled in Q1/Q2.

[2021-02-12 18:39] eclark-cuahsi commented on #3413
@jtpollak please address as part of your review user documentation review and close when finished. Thanks!

[2021-02-12 19:13] martinseul commented on #3479
@horsburgh @hyi Did we address this in our latest update to schema.org if so please close

[2021-02-12 19:22] martinseul commented on #3488
Works as expected, no action needed for now.

[2021-02-12 19:22] #3488 closed

[2021-02-12 19:32] dtarb commented on #3460
Find an out of the box component to indicate password strength.

[2021-02-12 19:35] Castronova commented on #3493
![Uploading request-sent-icon.png…]()

[2021-02-12 19:36] dtarb commented on #3493
Bigger fish to fry.

[2021-02-12 19:36] #3493 closed

[2021-02-12 19:38] Castronova commented on #3502
resolved.

[2021-02-12 19:38] #3502 closed

[2021-02-12 19:45] dtarb commented on #3505
@cbcunc is this still an issue

[2021-02-12 19:48] dtarb commented on #3513
@sblack-usu is this still an issue.  Do you have a recommendation for how/whether to address this.

[2021-02-12 20:43] sblack-usu opened #4130 "File based aggregation metadata - view only"
This issue tracks progress and discussion around implementing the view forms of file-based aggregation metadata.  Other issues will follow for metadata updates and removing the aggregation Django models.

Pull hsmodels into HydroShare's hs_dock_base Docker image.  An initial build can be found here https://pypi.org/project/hsmodels/.  This build does not include title/description on the metadata m

[2021-02-12 20:50] sblack-usu commented on #4130
Given we're moving to a file-based system for aggregation metadata, we'll have to eventually ditch the ids that the endpoint currently uses in favor of a path.  @hyi - not sure if it needs to happen now or can be updated later, but I think it makes sense to go ahead and include that change with the changes to the endpoint here.

[2021-02-12 22:25] hyi commented on #4130
@sblack-usu Yes, agreed that it makes sense to go ahead to replace the id with a path to the endpoint since the id will not be used. Thanks for pointing it out and I'll include this change to the endpoint.

[2021-02-13 00:29] danames commented on #4073
Yes I only checked content type, not file type.

On Fri, Feb 12, 2021 at 10:47 AM cuahsimarko <notifications@github.com>
wrote:

--
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
Past-President, International Environmental Modelling & Software Society
Editor-i

[2021-02-14 17:31] dtarb opened #4131 "Discover does not filter when dashes are part of the search term"
Many model my watershed resources use the keyword “model-my-watershed” as this was part of the design of HydroShare Model My Watershed interoperability.  However "model-my-watershed" and model-my-watershed (with and without quotes) does not filter to these resources.

[2021-02-14 17:36] horsburgh commented on #3479
@martinseul - I just looked at this and verified that we are using the citation element to list related resources. So, I'm going to close this issue.

I think another review of our schema.org implementation is probably in order based on the announcement of the latest guidelines from Science-on-schema.org: https://github.com/ESIPFed/science-on-schema.org/. I think we can do that in the context of o

[2021-02-14 17:36] #3479 closed

[2021-02-15 15:20] martinseul commented on #4131
@cuahsimarko, could you please take a look

[2021-02-15 16:10] cuahsimarko commented on #4131
Related to or duplicated by https://github.com/hydroshare/hydroshare/issues/3293

[2021-02-15 16:10] cuahsimarko commented on #3293
Related to or duplicated by https://github.com/hydroshare/hydroshare/issues/4131

[2021-02-15 16:11] cuahsimarko commented on #4131
@martinseul this is a known limitation and is congifured in SOLR/Haystack and associated Indexing code. Alva can update this.

[2021-02-15 16:49] ghost opened #4132 "Support for special characters"
Resource Landing Page, Discover integration could be improved to support double quotes, moustache and % `" {{ }} %` which are all specialty characters for various parts of the architecture SOLR/Haystack, Django and URL encoded text.

[2021-02-16 16:38] #4057 closed

[2021-02-16 16:38] #4067 closed

[2021-02-16 16:38] #2855 closed

[2021-02-16 17:04] cuahsimarko commented on #4108
Moving create, profile, sign out to side of hamburger

[2021-02-16 17:04] cuahsimarko commented on #4080
Moving create, profile, sign out to side of hamburger

[2021-02-16 22:13] cuahsimarko commented on #4052
@hyi you had mentioned HayStack upgrades possibly fixing other problems you can link your issues here or comment

[2021-02-16 22:17] cuahsimarko commented on #4128
When clicking on the bell to see messages, then clicking on it again to hide... losing focus does not reset the coloring scheme as expected.

[2021-02-16 23:04] sblack-usu commented on #4128
I wouldn't call that a bug, by clicking the bell to close it, the bell is the focus as it was the last thing clicked.

[2021-02-16 23:59] hydrocheck commented on #3461
@martinseul The issue persists on Chrome:
1. Bullet 4 is offset by an image that should presumably be between bullets 3 and 4
2. Line spacing is not consistent across bullets.

![Screen Shot 2021-02-16 at 6 57 16 PM](https://user-images.githubusercontent.com/43424907/108136911-eb459080-7088-11eb-994a-d227eedc6d83.png)

[2021-02-17 00:07] hydrocheck commented on #3470
Closing as resolved

[2021-02-17 00:07] #3470 closed

[2021-02-17 16:33] cuahsimarko commented on #4128
I have different behavior in my branch. Clicking the bell, then clicking off the bell was not removing the highlight. Basically, the only way to remove the highlight was to click the bell again. At least it's not an issue in production, but I'm leaving the comment to ensure it as a QA point for me and Neal to guard against regressions and ensure the desirable behavior is understood.

[2021-02-17 18:59] cbcunc commented on #3505
Modified robots.txt on pages.hydroshare.org to the most restrictive possible: https://pages.hydroshare.org/robots.txt
[code]

[2021-02-17 20:42] jcalhoon96 opened #4133 "GeoServer Not Automatically Updating for Removed Content"
When using the new OGC web services feature through GeoServer, if the contents of the resource change or are removed then the resource needs to be made private and then public again before the changes will carry over to GeoServer. GeoServer seems to update automatically when new data is added but not when data is removed.

Here is the public resource https://www.hydroshare.org/resource/ff3cdc42641

[2021-02-18 20:29] cuahsimarko commented on #4128
notifications app javascript file causes supported browsers to crash. Thread and videos are here: https://github.com/hydroshare/hydroshare/pulls will fix as part of that PR since it impacts Discover

[2021-02-19 16:39] Castronova commented on #3806
Pasting a template that we discussed in a separate document:

**Subject:** Request to join HydroShare group: \<group name\>

[2021-02-19 16:52] sblack-usu opened #4134 "Inactive user in sharing permissions causes resource to return 403 for all requests"
If a user is given access permissions for a resource and later the user is inactivated, it causes a 403 to be returned for all users, (anonymous, owner, and even admin).  This is caused by the page permission processor checking for users who can undo share resource with user access and returning a 403 when a user with the access is inactive.

https://github.com/hydroshare/hydroshare/blob/develop/h

[2021-02-19 22:25] cbcunc opened #4135 "ibun atop existing archive file into replication resource leaves zero-length replicas"
Reference: irods/irods#5426

A patch for a hotfix is needed until iRODS delivers either a custom plug-in fix or release 4.2.9.

The patch deletes an existing bag before repaving.

[2021-02-19 22:52] hyi commented on #4052
@cuahsimarko It turns out we are using the latest HayStack version 2.8.1 that works with our current outdated django version 1.11. The next HayStack version only works with Django 2.2 or above, so upgrading HayStack is not an option for us. But it appears discovery actually works in my local development environment now although I cannot explain what I did to make it work.

[2021-02-20 22:47] dtarb commented on #2313
Add a button "Generate private link" (in edit mode) that then shows the link.  Adjacent to the displayed link have button "Disable link" to turn it off.

[2021-02-20 23:05] dtarb commented on #2080
Message to add to confirm files deletion box if the file is the last one being deleted and is going to revert sharing status to private.  “Deleting this file will set the resource sharing status to private.”

[2021-02-20 23:25] dtarb opened #4138 "Manage access does not let a resource be shared as edit or view with an admin user when there is only one owner"
To reproduce this create a resource.
Open manage access.
select a user with admin permissions (e.g. pkdash or dtadmin)
Leave access level as can view
Click add
The following error occurs
![image](https://user-images.githubusercontent.com/3456833/108611081-38cb4180-7398-11eb-981b-4ae4b50b197b.png)

[2021-02-22 17:13] martinseul commented on #3529
@cuahsimarko is this still on your agenda?

[2021-02-22 17:48] martinseul commented on #3555
closing as agreed above

[2021-02-22 17:48] #3555 closed

[2021-02-22 17:57] martinseul commented on #3570
closing

[2021-02-22 17:57] #3570 closed

[2021-02-22 17:59] martinseul commented on #3587
@alvacouch did this get implemented in the backend?

[2021-02-22 18:05] martinseul commented on #3600
agreed closing here and retain in #4073

[2021-02-22 18:05] #3600 closed

[2021-02-22 19:10] martinseul commented on #3533
@hyi is this issue part of async and complete?

[2021-02-22 19:13] martinseul commented on #3549
Upon review with the group, this is as designed closing

[2021-02-22 19:13] #3549 closed

[2021-02-22 19:14] Castronova commented on #3608
![image](https://user-images.githubusercontent.com/4822372/108757740-3db6ff00-7518-11eb-84c0-3fc5dafc1537.png)

[2021-02-22 19:21] Castronova commented on #3608
After discussing this ticket during our review, we decided that focus of this ticket should be narrowed down to address only the same user id appearing multiple times. Other edge cases should not be addressed, e.g. multiple non-hs users with the same name, multiple hs user accounts with the name name, etc.

Suggested fix:
- check author and owner ids are unique

[2021-02-22 19:31] eclark-cuahsi commented on #3610
Team discussed that this functionality was acceptable if sufficient documentation exists. I will review that documentation exists. I will review existing documentation, request updates as needed, and then close.

[2021-02-22 19:32] Castronova commented on #3612
This has been resolved

[2021-02-22 19:32] #3612 closed

[2021-02-22 19:40] dtarb commented on #3614
Change the label to "Learn more about Bagit"
Include in our documentation a page about Bagit that is the page linked to rather than wikipedia.

[2021-02-22 19:55] #3650 closed

[2021-02-22 20:05] Castronova commented on #3656
resolved.

[2021-02-22 20:05] #3656 closed

[2021-02-22 22:36] hyi commented on #3533
@martinseul Unzipping has been moved to async and deployed, so part of this issue is addressed by async, but file uploading is not part of async yet. Looping @alvacouch in since he is working on file upload and may have ideas to add async in as part of his big file upload work.

[2021-02-23 13:20] cuahsimarko commented on #3529
Yes, but changes to Resource Landing Page are all undergoing scrutiny and prioritization.

[2021-02-23 13:21] cuahsimarko commented on #3529
12 of the 70 Resource Landing Page items are 'on my agenda' so I remember to discuss them with people and combine the work into sensible pull requests.

[2021-02-23 13:23] cuahsimarko commented on #4073
Additional info from deprecated https://github.com/hydroshare/hydroshare/issues/3600#issuecomment-783563230

[2021-02-23 13:30] cuahsimarko commented on #3612
This is not resolved, but covered by a separate ticket
![image](https://user-images.githubusercontent.com/45397838/108850400-54f5fb00-75b1-11eb-8c88-7a74fde1dda6.png)

[2021-02-24 03:48] hydrocheck opened #4140 "Content browser right-click context menu persists longer than expected"
1. Right click a file or files in the content browser
2. Left click outside the content browser
3. Observe the right click context menu does not go away
<img width="1237" alt="001" src="https://user-images.githubusercontent.com/43424907/108942725-83152280-7625-11eb-955c-545d2182b045.png">

[2021-02-24 03:48] hydrocheck opened #4141 "The delete icon is not styled like the other icons in the content browser"
The delete icon is taller and styled differently from the other icons in the content browser controls

<img width="1114" alt="002" src="https://user-images.githubusercontent.com/43424907/108943249-6b8a6980-7626-11eb-8f77-d78664466465.png">

[2021-02-24 03:49] hydrocheck opened #4142 "For organization accounts, having two entries in the profile creates an unintuitive author name"
The resource landing page shows semicolon-delimited organizations, with no space between the organizations.  This is a bit unintuitive, and also looks cluttered because of the spacing.  Perhaps multiple organizations for an organization account should be prohibited?

![004](https://user-images.githubusercontent.com/43424907/108943350-9ffe2580-7626-11eb-8156-81e5e6acca35.png)

[2021-02-24 03:49] hydrocheck opened #4143 "Edit overwrites are possible on the resource landing page"
If you edit spatial data, then save a different part of the resource data edits, then the spatial data is cleared with a generic error

![005](https://user-images.githubusercontent.com/43424907/108943420-c6bc5c00-7626-11eb-8e3b-24a5fc17efd1.png)

[2021-02-24 03:49] hydrocheck opened #4144 "Drag-and-drop graphic/watermark inconsistency"
The drag and drop upload watermark/graphic does not consistently come up when dragging in the file on Chrome 88.

https://user-images.githubusercontent.com/43424907/108943821-84474f00-7627-11eb-82e7-211d0b30f5a4.mov

![006](https://user-images.githubusercontent.com/43424907/108943775-71347f00-7627-11eb-9c1f-93a62458d7f5.png)

[2021-02-24 03:49] hydrocheck opened #4145 "Support for multiple markdown files"
In other similar repository/store systems like GitHub, multiple languages are accommodated by being able to view multiple README markdown files.  There are also parts of a repository that have their own README files.  The current Hydroshare implementation might feel limiting and strongly English-only leaning for some users.

[2021-02-24 03:49] hydrocheck opened #4146 "Clicking the license link during a resource download opens in the same tab"
This is possibly disruptive to the download flow, and could seemingly benefit from a shift to opening in a new tab.

![008](https://user-images.githubusercontent.com/43424907/108944017-e607b900-7627-11eb-87ef-4c9aeb2c4970.png)

[2021-02-24 03:49] hydrocheck opened #4147 "The multi-select "Preview" consistently opens up a blank tab and does nothing"
![009-01](https://user-images.githubusercontent.com/43424907/108944042-f9b31f80-7627-11eb-81c1-7165992ad2be.png)
![009-02](https://user-images.githubusercontent.com/43424907/108944044-fae44c80-7627-11eb-8317-2d842b7ec1d6.png)

[2021-02-24 03:49] hydrocheck opened #4148 "The "Add" for file metadata keyword addition is typically hidden out of view"
![010-01](https://user-images.githubusercontent.com/43424907/108944067-09caff00-7628-11eb-9070-299c7f223fb9.png)
![010-02](https://user-images.githubusercontent.com/43424907/108944069-0a639580-7628-11eb-981e-652da2642a1f.png)
![010-03](https://user-images.githubusercontent.com/43424907/108944071-0afc2c00-7628-11eb-93cd-4c8270e7a8e5.png)

[2021-02-24 03:50] hydrocheck opened #4149 "The "All required fields are completed" publication message repeatedly arises"
1. Add a file to a resource that is otherwise publishable
2. Observe the publication message
3. View, then edit the same resource
4. Add a file and observe the same _the resource is now publishable_ message
   5. This is a bit misleading, as adding the 10th file to a resource, for example, does not actually change it's publishability

![011](https://user-images.githubusercontent.com/43424907/10894

[2021-02-24 03:50] hydrocheck opened #4150 "File deletes run a hard page reset after deletion"
This is a bit jarring and could be disruptive to the user's resource editing workflow

![Screen Shot 2021-02-23 at 10 40 58 PM](https://user-images.githubusercontent.com/43424907/108944138-3717ad00-7628-11eb-9e6a-7922f2c371cb.png)

[2021-02-24 03:50] hydrocheck opened #4151 "Cutting and pasting a file in the same folder results in a cryptic error message"
![013](https://user-images.githubusercontent.com/43424907/108944187-45fe5f80-7628-11eb-909b-1738ebc41067.png)

[2021-02-24 03:50] hydrocheck opened #4152 "Unzipping in place creates an extra nesting of folders"
Unzipping data.zip creates a folder and subfolder (e.g., `data/data/`) instead of the expected single folder (e.g., `data/`).  This is true both for plain folders and zipped aggregation-ready data (e.g., upload zip, unzip it in place, and an extra folder is created).
![014](https://user-images.githubusercontent.com/43424907/108944270-6d552c80-7628-11eb-85c3-516fdcce43c2.png)
[014.zip](https://gith

[2021-02-24 03:50] hydrocheck opened #4153 "The spatial data deletion icon is somewhat unintuitively positioned"
A clearer delete mechanism, around where the Save Changes button appears, could be more intuitive for users.  The temporal metadata deletion icon is similarly positioned.

![015-01](https://user-images.githubusercontent.com/43424907/108944330-84941a00-7628-11eb-9ed2-802052a90bfd.png)
![015-02](https://user-images.githubusercontent.com/43424907/108944335-865ddd80-7628-11eb-9e10-6116bff97367.png)

[2021-02-24 03:50] hydrocheck opened #4154 "No mechanism for column size adjustment in file list view"
Without a mechanism for adjusting column widths, it's common to encounter situations where there is large amounts of whitespace, but yet lots of field truncation.

![016](https://user-images.githubusercontent.com/43424907/108944373-970e5380-7628-11eb-9784-32aa83a486e4.png)

[2021-02-24 03:51] hydrocheck opened #4155 "Duplicate file upload results in a non-user-friendly error message"
![017](https://user-images.githubusercontent.com/43424907/108944402-a8576000-7628-11eb-90fa-46b703afe3be.png)

[2021-02-24 03:51] hydrocheck opened #4156 "Adding just a Place/Area name in the file metadata generates a generic error"
A more specific, actionable error could help folks more easily resolve the issue

![019](https://user-images.githubusercontent.com/43424907/108944447-c1f8a780-7628-11eb-8d09-5fb13eb5ff86.png)

[2021-02-24 03:51] hydrocheck opened #4157 "Previewing folders generates a Django error page - SessionException"
![020-01](https://user-images.githubusercontent.com/43424907/108944469-ce7d0000-7628-11eb-958c-2cb17b9d4b5e.png)
![020-02](https://user-images.githubusercontent.com/43424907/108944475-d046c380-7628-11eb-8a08-1b63bc5beb58.png)

[2021-02-24 03:51] hydrocheck opened #4158 "Positioning of the "Set spatial coverage from folder contents" button"
For the File Set aggregations

The button is shifted slightly out of the visible frame (to the left)

![021](https://user-images.githubusercontent.com/43424907/108944542-eeacbf00-7628-11eb-87df-ea481b47c256.png)

[2021-02-24 03:51] hydrocheck opened #4159 "Content browser operations do not parallelize as expected"
For example, upload a file and then do a zip-in-place while the upload runs.  Where parallel operations are not supported, the user should probably be informed or the interface blocked.

[2021-02-25 03:54] cuahsimarko opened #4163 "Long Titles Not Handled Properly"
Long titles exist in HydroShare, such as with underscores and other long words. The title display should use an ellipsis and the Citations area should not overflow in an unusual manner.

![image](https://user-images.githubusercontent.com/45397838/109100510-17998680-76f3-11eb-958f-107377015d97.png)
![image](https://user-images.githubusercontent.com/45397838/109100522-1f592b00-76f3-11eb-8947-514e614

[2021-02-25 16:42] eclark-cuahsi commented on #3610
@jtpollak can you incorporate into the user documentation review?

[2021-02-25 18:49] horsburgh commented on #4163
I created a resource in HydroShare with a long title and it did not overflow as shown above.

The resource landing page is the place where metadata are displayed for consumption by the users. Given this, we should display the metadata and not truncate using ellipsis or other mechanisms. We should handle long titles in a way that enables their display. It's OK if titles occupy multiple lines of tex

[2021-02-25 18:51] horsburgh commented on #4163
Ahhh... It's probably because the title you tested is one very long word with no spaces.

[2021-02-25 19:39] cuahsimarko commented on #4163
I have a real-world solution ready. If we don't implement, then a single resource can force different layouts around HydroShare and cause odd behavior. When the updates to Discover go live, you will have something to compare with. Definitely an edge case, but I can put in the proper guard rails.

[2021-02-25 19:41] cuahsimarko commented on #4163
I'll fix My Resources listings to account for this and other nice-to-haves...

[2021-02-26 15:35] martinseul opened #4164 "public resource without content"
Started with a public resource with multiple geographic features copy of https://www.hydroshare.org/resource/1c8ffe88d6ec46bca853fd836bd2948e/ when I delete the folders one by one I can delete all files in the content manager and the resource is still public, this is not an allowed state as all public resources need content.

[2021-02-26 18:41] Castronova commented on #3684
Just tested this and it appears that once an iFrame is added as a label, there's no way to remove it.

[2021-02-26 18:42] Castronova commented on #3685
related to #3684 and #3683

[2021-02-26 18:43] Castronova commented on #3684
related to #3685  and #3683

[2021-02-26 18:43] Castronova commented on #3683
related to #3684 and #3685

[2021-02-26 18:46] Castronova commented on #3691
Appears to be resolved, closing.

[2021-02-26 18:46] #3691 closed

[2021-02-26 19:39] Castronova commented on #3702
@cbcunc Is this issue still relevant or should it be closed?

[2021-02-26 19:49] Castronova commented on #3736
@cuahsimarko I agree with your proposal.

[2021-02-26 19:51] Castronova commented on #3744
@hyi Is this ticket still relevant or should it be closed?

[2021-02-26 19:53] Castronova commented on #3748
@alvacouch is this ticket still relevant or can it be closed?

[2021-02-26 19:57] Castronova commented on #3783
Closing as resolved.

[2021-02-26 19:57] #3783 closed

[2021-02-26 20:14] hyi commented on #3744
@Castronova Yes, I updated the title to capture what needs to be done more accurately.

[2021-03-01 14:55] #3698 closed

[2021-03-01 14:55] #3926 closed

[2021-03-01 14:55] #4033 closed

[2021-03-01 16:09] Castronova commented on #3839
@hyi I believe that correcting existing user types has not yet been resolved.

[2021-03-01 16:12] Castronova commented on #3876
Appears to not affect other users, closing.

[2021-03-01 16:12] #3876 closed

[2021-03-01 17:46] martinseul commented on #3931
Released in 1.39

[2021-03-01 17:46] #3931 closed

[2021-03-01 18:11] martinseul commented on #3949
@alvacouch is this ticket still relevant or can it be closed?

[2021-03-01 18:13] martinseul commented on #3975
@hyi Is this ticket still active or should it be closed?

[2021-03-01 18:18] martinseul commented on #3988
@cuahsimarko  is this ticket still relevant or can it be closed?

[2021-03-01 18:52] cuahsimarko commented on #3988
This is a probem, we need to address and is only complicated by the need for API versioning, as we have old API clients and student code and other apps that rely on endpoints that will likely change as a part of HSRDF work. If anything, the scope of this ticket should be expanded. There are probably historical endpoints that need to be moved to _hsapi that are not part of HSRDF or Discover, too.

[2021-03-01 18:54] cuahsimarko commented on #4122
Related to https://github.com/hydroshare/hydroshare/issues/3988#issuecomment-788163271

[2021-03-01 19:06] cuahsimarko commented on #3988
One of many opinions out there... https://medium.com/@petertboyer/learn-restful-api-design-ideals-c5ec915a430f

[2021-03-01 19:10] Castronova commented on #3687
![send-invitation-button-styling-ie11](https://user-images.githubusercontent.com/4822372/109546184-d8bf5400-7a97-11eb-9475-57909a85bb6b.png)

[2021-03-01 19:10] Castronova commented on #3687
Closing because IE11 is no longer supported.

[2021-03-01 19:10] #3687 closed

[2021-03-01 19:18] Castronova commented on #3693
appears to be resolved.

[2021-03-01 19:18] #3693 closed

[2021-03-01 19:21] Castronova commented on #3695
Closing because IE11 is no longer supported

[2021-03-01 19:21] #3695 closed

[2021-03-01 19:24] martinseul commented on #3697
leave as is, no action needed

[2021-03-01 19:24] #3697 closed

[2021-03-01 19:28] dtarb commented on #3716
Closing as was checked in release 1.30.  Re-open in case this is appears again.

[2021-03-01 19:28] #3716 closed

[2021-03-01 19:43] Castronova commented on #3827
Closing because the GIS app is no longer a CUAHSI verified app.

[2021-03-01 19:43] #3827 closed

[2021-03-02 00:36] hyi commented on #3975
@martinseul Yes, I believe this has been fixed with the async tasks, but will leave it to @Castronova to test and close if it indeed works now.

[2021-03-02 11:38] alvacouch opened #4166 "Delete of a discoverable resource corrupts SOLR"
It was recently "discovered" that if you delete a discoverable or public resource, SOLR gets corrupted, because the Haystack mechanism for removing the resource fails. The fix is to make the resource undiscoverable before deleting it.

[2021-03-03 13:51] alvacouch commented on #4134
@dtarb @martinseul It looks like the root of all evil is throwing an exception and stopping all processing when a user is inactive. The fix seems to be to simply return False for requests instead. This indicates that the permission to undo is not granted, but that the request itself is not in error. The same fix would apply to inactive groups.

The original logic behind throwing an exception was t

[2021-03-04 18:42] #4108 closed

[2021-03-04 19:32] cuahsimarko opened #4170 "Button clickable when should be grayed out"
In a new resource with no files, bagit should be disabled:

![image](https://user-images.githubusercontent.com/45397838/110019407-6bf5c500-7cf6-11eb-9ea9-0bac04bafec2.png)

[2021-03-04 19:56] cuahsimarko opened #4171 "Navbar CSS and JS"
Now that the navbar has been modularized, the CSS needs to be more explicitly defined and less susceptible to inheritance, such as bootstrap versions, hydroshare_core.css, <style> tags across any number of Django templates as well as other {% includes %} and inline styles. Making navbar more self-sufficient in this regard can clean up other code and lock-in the desired navbar, while making future

[2021-03-05 00:17] hyi commented on #4170
@cuahsimarko I believe this works by design - the resource bag not only includes content files, but also include metadata files along with other bagit specification files. So even if a resource does not contain any file, download bag button should still be enabled to allow users to download the resource bag. Looping in @horsburgh to confirm about it.

[2021-03-06 17:22] horsburgh commented on #4170
@hyi is correct. There is no need to disable this. It's working as designed.

[2021-03-06 17:22] #4170 closed

[2021-03-08 14:49] Castronova commented on #4024
Downloading this bag appears to work now.

However I'm leaving this ticker open because the error message, specifically the text and the message box color, still needs to be improved.

[2021-03-08 14:55] Castronova commented on #4043
Duplicate of #4012

[2021-03-08 14:56] Castronova commented on #4012
Duplicate of #4043

[2021-03-08 16:33] alvacouch opened #4172 "Speed up SOLR ingestion process"
Because we no longer use hydro-realtime-signal-processor for resource deletion, we are wasting cycles exercising the hook. SOLR can be reconfigured so that unneeded SOLR hooks are not called.

[2021-03-08 18:13] martinseul commented on #4037
@alvacouch please review and close/consolidate

[2021-03-08 18:25] martinseul commented on #4046
Retested and could not reliably reproduce issue, closing for now

[2021-03-08 18:25] #4046 closed

[2021-03-08 19:35] dtarb commented on #4012
Closing as duplicate but refer to #4043

[2021-03-08 19:35] #4012 closed

[2021-03-08 19:36] martinseul commented on #4043
@cuahsimarko what is the status of this?

[2021-03-08 19:40] martinseul commented on #4019
@alvacouch please review and is this part of a current fix

[2021-03-08 19:42] martinseul commented on #4015
@alvacouch please review in connection wit 4019

[2021-03-08 21:19] cbcunc opened #4175 "Release Checklist 1.42"
### Pull Requests in Release
- [ ] ~~Limited editing of published resource #3969 @pkdash~~
- [x] Change from UNC addresses to RENCI addresses #4112 @alvacouch
- [x] get versioning moved to async #4116 @hyi
- [x] Resource Landing Page and Discover Linked Functionality #4117 @cuahsimarko
- [x] Allow dev deployments to survive network interruption #4129 @cuahsimarko
- [x] 4127 res delete async - disc

[2021-03-08 21:49] cuahsimarko commented on #4043
@martinseul I'm waiting for Resource Landing Page changes to be authorized and prioritized. There are currently 80-90 open issues... my understanding is changes are being made to Resource Landing page very sparingly and selectively, given stakeholder priority.

[2021-03-08 21:51] cuahsimarko commented on #4043
There are perhaps other issues that would be appropriate to clear out and make this easier, as Content Manager needs a lot of work. Digging deeper into the problems list, before handling prerequisite issues is not advised.

[2021-03-15 15:16] Castronova commented on #4050
I'm also experiencing this issue. In addition, pending requests do not disappear when "Cancel Request" is selected.

![image](https://user-images.githubusercontent.com/4822372/111176577-d670f580-857f-11eb-9994-d73bd512dbce.png)

[2021-03-15 15:18] Castronova commented on #4052
@hyi Given that HayStack cannot be upgraded and discovery is working, should this issue be closed?

[2021-03-15 15:20] Castronova commented on #4055
This appears to be resolved, closing.

[2021-03-15 15:20] #4055 closed

[2021-03-15 15:32] Castronova commented on #4164
I tested this by cloning your resource and deleting all its contents. At the top of the resource landing page it indicated that the resource was still "public" even though all its data was removed. However when I exited edit mode, the status was changed to private as expected.

[2021-03-15 15:32] #4164 closed

[2021-03-15 15:38] hyi commented on #4052
@Castronova I'll defer this to @alvacouch to see if this issue can be closed or not.

[2021-03-15 17:56] Castronova commented on #4159
I uploaded a large file and while it was uploading selected a folder to be zipped. Once the folder zip operation completed, the resource landing page was refreshed to display the new *.zip file. However the upload progress bar disappeared. Several minutes later the uploaded content appeared. It appears that parallel operations are happening but this is not conveyed to the user.

[2021-03-15 18:03] Castronova commented on #4155
Adding a option to replace an existing file would be really nice.

[2021-03-15 18:08] martinseul commented on #4048
@Neal can you retest with the upcoming release it has changes to the delete process

[2021-03-17 19:33] soumyapurohit commented on #4087
@horsburgh
Hi, I am trying to fix this issue. Can you point to a resource that I can use to reproduce the issue?
Thanks!

[2021-03-18 14:30] cuahsimarko commented on #4009
Also, once coordinates are added, it's not possible to remove them by clearing out the values from input boxes. Having a "remove" button may be clearer.
![image](https://user-images.githubusercontent.com/45397838/111643019-fbaa7180-87d4-11eb-9d91-a87296f3294b.png)

[2021-03-18 14:46] horsburgh commented on #4087
Hi @soumyapurohit - here's some steps to reproduce this. You can just create a new resource that will show this:

1. Create a new resource
2. Set the spatial coverage by clicking on the box icon at the top of the google map and drawing a box coverage.
3. Click the "Save Changes" button to apply the spatial coverage
4. Exit edit view by clicking the view resource button at the top of the page (left

[2021-03-19 23:13] hyi commented on #4130
@sblack-usu I pretty much get this working, but did not clean up to replace file type id with a path since the id is used to get the logical file object, which is then further used to get the resource object, check its access status, and get the metadata object for getting html forms when it is in edit mode. Since we are only working on the view only mode to get it working first before going to su

[2021-03-21 21:35] program-- opened #4178 "SSL Certificate Chain Incomplete"
Hi! 👋

I'm accessing resources on HydroShare using a R client that I built: [HSClientR](https://github.com/program--/HSClientR). Recently, I've been getting the cURL error:
[code]

Similarly, with `wget`:
[code]

After some digging, I found that the `hydroshare.org` certificate chain is incomplete, and requests an additional CA certificate download for the **GeoTrust TLS DV RSA Mixed SHA256 2020 C

[2021-03-22 14:49] alvacouch opened #4179 "Discovering composite resources"
It has recently come to my attention that most of the discovery values for a resource are now blank, because all resources have been migrated to composite form!  This is probably why discovery functions so poorly in other issues. Much of the metadata currently associated with discovery has been moved into composite file types.  Thus, the searchable fields for discovery need to be re-engineered for

[2021-03-22 16:00] cbcunc commented on #4175
Limited editing of published resource #3969 @pkdash was withdrawn from this release.

[2021-03-22 16:09] martinseul commented on #4118
@hyi, is this bug part of the async delete functionality

[2021-03-22 16:10] martinseul commented on #4109
@hyi, is this bug part of the async functionality if so can this be closed

[2021-03-22 16:17] hyi commented on #4118
@martinseul Yes, it is part of the async delete functionality. @cuahsimarko You can test it out once the next release is out and see if this issue is fixed and can be closed.

[2021-03-22 16:17] hyi commented on #4109
Deployed, so closing.

[2021-03-22 16:17] #4109 closed

[2021-03-22 16:45] martinseul commented on #4095
@alvacouch is this ticket still relevant or can it be closed?

[2021-03-22 16:51] martinseul commented on #4093
@ndebuhr I checked on beta and this seems fixed, please retest and close if resolved

[2021-03-22 18:22] horsburgh commented on #4179
@alvacouch - even though other resource types have been migrated to composite resources, all resources, regardless of type had the standard Dublin Core metadata at the resource level. That metadata was preserved in any migrations to composite. So, primary focus for discovery would first be all of the resource-level metadata, followed by aggregation-level metadata - if we can enable that.

Number 1

[2021-03-22 18:26] martinseul commented on #4089
Script  Resources are obsolet need to be removed from legend on discover

[2021-03-22 18:48] martinseul commented on #4065
@ndebuhr can you check this with the 1.42 release and comment

[2021-03-22 21:37] program-- commented on #4178
After reviewing this today at [SSL Labs](https://www.ssllabs.com/ssltest/analyze.html?d=hydroshare.org), it looks like this issue is fixed 😄.

[2021-03-22 21:37] #4178 closed

[2021-03-23 16:25] eclark-cuahsi commented on #4105
This is issue is not limited to CZO Group visibility. For example, I am not a member of the group “2018 CUAHSI NSG for Hydrology Workshop” If I try to access this group when logged in, I see the message “You are not a member of this group” and cannot see any additional information.  When logged out, I can see four public/discoverable resources associated with that group and a list of the users tha

[2021-03-23 19:39] horsburgh opened #4181 "Update Schema.org implementation"
Our current Schema.org implementation needs a few updates to be consistent with the v1.2.0 release from the ESIP Science-on-Schema.org group. I've provided detailed discussion and examples at: https://github.com/horsburgh/hs_schema.org.

[2021-03-23 19:47] hyi commented on #3899
@valentinedwv I am closing this issue since both @horsburgh and I have verified this issue, but feel free to reopen if otherwise.

[2021-03-23 19:47] #3899 closed

[2021-03-25 16:07] #1481 closed

[2021-03-25 17:03] sblack-usu commented on #3513
and this will have to be done on the frontend for some scenarios.

[2021-03-25 17:08] sblack-usu commented on #3762
We have not seen problems caused by this since and the move towards [file-based aggregations](#4130) will  change this behavior.

[2021-03-25 17:08] #3762 closed

[2021-03-29 10:52] alvacouch commented on #1483
This is a deep issue that remains to be addressed.  As commented in later issues, the generation of URLs remains inconsistent between production and beta deployments, and is inconsistently implemented.

[2021-03-29 10:53] alvacouch commented on #1724
Can be closed.

[2021-03-29 10:53] #1724 closed

[2021-03-29 10:54] alvacouch commented on #1645
This issue is still relevant. The resource model remains inadequate to model constraints.

[2021-03-29 10:55] alvacouch commented on #1762
This issue was resolved via implementation of CompositeResource.

[2021-03-29 10:55] #1762 closed

[2021-03-29 10:56] alvacouch commented on #1765
This issue has largely been resolved by the implementation of CompositeResource.

[2021-03-29 10:56] #1765 closed

[2021-03-29 10:57] alvacouch commented on #2020
There have been many changes since this was pointed out. Largely this disappears with the implementation of asynchronous tasks.

[2021-03-29 10:57] #2020 closed

[2021-03-29 10:59] alvacouch commented on #2025
Substantive changes to the REST API obsolete this issue.

[2021-03-29 10:59] #2025 closed

[2021-03-29 11:01] alvacouch commented on #2095
Substantive changes in file upload and the UI obsoleted the need for this change.

[2021-03-29 11:01] #2095 closed

[2021-03-29 11:02] alvacouch commented on #684
Made irrelevant by strategic changes to IRODS use.

[2021-03-29 11:02] #684 closed

[2021-03-29 11:03] alvacouch commented on #831
We've done without it enough that it is not a priority.

[2021-03-29 11:03] #831 closed

[2021-03-29 11:03] alvacouch commented on #890
Done in prior pull requests.

[2021-03-29 11:03] #890 closed

[2021-03-29 11:04] alvacouch commented on #920
Obsolete due to update of REST API.

[2021-03-29 11:04] #920 closed

[2021-03-29 11:05] alvacouch commented on #2147
This was completed but not used ... can delete issue ...

[2021-03-29 11:05] #2147 closed

[2021-03-29 11:06] alvacouch commented on #2177
I am unaware of any fix of this problem. I have reviewed the REST API and its relationship with the UI in the more recent past, but this needs to be checked upon again.

[2021-03-29 11:07] alvacouch commented on #2510
There remains an ongoing issue, but this is not the center of it. Closing because other issues cover the problems.

[2021-03-29 11:07] #2510 closed

[2021-03-29 11:07] alvacouch commented on #2921
Addressed in prior pull requests.

[2021-03-29 11:07] #2921 closed

[2021-03-29 11:08] alvacouch commented on #2997
Remains an issue. There is currently no comprehensive "repair" for composite resources that get out of sync with their IRODS files.

[2021-03-29 11:09] alvacouch commented on #3061
Addressed via asynchronous operations.

[2021-03-29 11:09] #3061 closed

[2021-03-29 11:10] alvacouch commented on #3426
Ongoing work by Manish Aryal.

[2021-03-29 11:11] alvacouch commented on #3587
This eventually made it into the back-end.

[2021-03-29 11:11] #3587 closed

[2021-03-29 11:11] alvacouch commented on #3667
Retuning the number of Django and PostgreSQL workers addressed the problem.

[2021-03-29 11:11] #3667 closed

[2021-03-29 11:12] alvacouch commented on #3949
To my knowledge this has not been addressed.

[2021-03-29 11:13] alvacouch commented on #4015
Addressed in recent PRs.

[2021-03-29 11:13] #4015 closed

[2021-03-29 11:14] alvacouch commented on #4019
Addressed via backend changes in pending PR.

[2021-03-29 11:14] #4019 closed

[2021-03-29 11:14] alvacouch commented on #4037
Completed in recent NGINX re-architecting.

[2021-03-29 11:14] #4037 closed

[2021-03-29 11:15] alvacouch commented on #4095
Done.

[2021-03-29 11:15] #4095 closed

[2021-03-29 11:15] alvacouch commented on #4134
Addressed in recent PR.

[2021-03-29 11:15] #4134 closed

[2021-03-29 11:18] alvacouch commented on #1515
Addressed via REST API changes.

[2021-03-29 11:18] #1515 closed

[2021-03-29 11:18] alvacouch commented on #1657
Addressed by migrating file operations to CompositeResource.

[2021-03-29 11:18] #1657 closed

[2021-03-29 11:33] dtarb commented on #2177
@sblack-usu can you please look at this and comment or close if not needed or addressed.

[2021-03-29 17:18] hyi commented on #4127
Tested on beta and working as expected. Closing.

[2021-03-29 17:18] #4127 closed

[2021-03-29 17:20] hyi commented on #4028
@dtarb You can test this on beta or test on production after the next release to see if this issue is resolved.

[2021-03-29 17:33] horsburgh opened #4184 "Fix Invalid JSON in Schema.org"
The DataONE group has reviewed our Schema.org implementation and has found some errors caused by invalid JSON. This resource is an example:

https://www.hydroshare.org/resource/8161a96a08474d12bba219852409be61/

In this resource, there is a custom license that has been entered by the HydroShare user. The text of that license makes the JSON-LD invalid because it contains unescaped line breaks (shou

[2021-03-29 17:44] horsburgh commented on #1472
I'm going to say this is pretty low priority right now and can be closed. It's a convenience functionality and shouldn't affect existing functionality if we don't  get it.

[2021-03-29 17:44] #1472 closed

[2021-03-29 22:09] amabdallah opened #4186 "Support a search filter by Country"
Simple question, show me a map for all the data in HydroShare in the USA (cluster points are fine) or any other selected country (e.g., Eygpt) if any. The discover filters don't seem to support this search.

I typed "United States" in the search bar but it seems to exclude so much data from the US and there is a dataset for "Western Sahar." So the search seems to probably work if the author has a

[2021-03-29 22:19] amabdallah commented on #4186
A potential simple solution would be in adding a Spatial Coverage Filter. So the user would draw a box around the area of their interest to limit the search to that boundary. The Country filter can be tricky if users do not provide it as metadata. Trying to intersect data sites with countries on the fly or in the backend, may take a lot of time to build.

I guess, the country could be less interes

[2021-03-30 04:52] hydrocheck opened #4187 "User popup message cannot be cleared"
The profile completion message cannot be cleared like most of the HydroShare warnings/info/error messages (no "x", no close-via-click-outside,...).  Further, the message persists for a considerable amount of time.  I'm not sure if this is a regression or intentional.  This behavior might be somewhat annoying to users, but perhaps that's by design to strongly encourage the profile completion.

<img

[2021-03-30 04:52] hydrocheck opened #4188 "The Matlab Online app no longer uses a secure https connection"
HTTPS times out, but HTTP connections can be made.  Steps to reproduce:
1. Open a resource
2. "Open With" Matlab Online

<img width="702" alt="004" src="https://user-images.githubusercontent.com/43424907/112935662-332cee00-90f2-11eb-98fa-8eb3e3a2830b.png">

[2021-03-30 04:53] hydrocheck commented on #4175
👍
No blockers

[2021-03-30 14:20] alvacouch commented on #4179
@horsburgh I have already checked that Dublin core metadata is working. The aggregation metadata, however, leaves much to be desired. I have harvested the concept of "variable" from several of the underlying aggregation types. I am also working on a mystery, which is how the file "keywords" become resource-level Dublin-core "subjects" in harvesting. I know this happens because I recently tested it

[2021-03-30 15:42] #4175 closed

[2021-03-30 18:39] cbcunc opened #4191 "check_irods_files Identifies too many resources"
@alvacouch The check_irods_files management command misidentifies resources as not in sync between iRODS and Django as a result of including meta.xml and resmap.xml files in results. The command may also end in a non-zero exit code when detecting any inconsistencies between iRODS and Django. Thus when the command is used in a Jenkins job, it always appears to fail. We need this command to work for

[2021-03-30 19:00] alvacouch commented on #4179
@Castronova I am actively working on this and have scheduled a discussion of the issues involved in design for the stakeholder call tomorrow.

[2021-03-31 13:35] sblack-usu commented on #4191
I can look into this and try to work it out. There is a check for aggregation XML files, but it doesn't look like it's working.  https://github.com/hydroshare/hydroshare/blob/develop/hs_core/management/utils.py#L261

[2021-03-31 21:21] sblack-usu commented on #4184
I don't think we can make that assumption. You may not be able to enter a newline through the web UI, but I'm not seeing anything restricting it through the API and the database.

[2021-03-31 21:46] hyi commented on #4184
@sblack-usu Good point. I just made a commit to escape funding agency name and relation value as well just on the safe side.

[2021-04-01 18:04] alvacouch opened #4196 "search for filenames during discover"
An obvious upgrade to discovery is to be able to search for resources containing a given filename. That way, if a researcher remembers a filename but not the resource, a list can be generated.

[2021-04-03 00:36] hydrocheck commented on #4048
Closing as resolved

[2021-04-03 00:36] #4048 closed

[2021-04-03 00:36] hydrocheck commented on #4128
I could not identify a clear, major bug here.  All the previous commentary about the design still stands though.

[2021-04-03 00:39] hydrocheck commented on #4093
Issue is reproducible across all tested Chrome configurations.

Chrome v89 on Windows 10
<img width="984" alt="chrome89-windows10" src="https://user-images.githubusercontent.com/43424907/113463352-46da9c00-93f3-11eb-9e4f-6618c8ac9cdc.png">

Chrome v89 on MacOS 10.15
<img width="996" alt="chrome89-mac10 15" src="https://user-images.githubusercontent.com/43424907/113463358-4d691380-93f3-11eb-98fc-41

[2021-04-06 19:33] hyi opened #4197 "HydroShare iRODS quota microservice does not account for the number of replicas in the data zone"
@martinseul asked me to look into over-reported quota for a user. While investigating the quota issue, I have found a wide spread over-reported quota issue by the iRODS quota microservice which does not account for 2 replicas in the data zone, so the size reported for a resource is always doubled compared to the real resource size. I verified that this is the case using my own user and the user wi

[2021-04-07 19:09] sblack-usu opened #4198 "Update local-dev to build indexes dymamically instead of inside the prebuilt docker image"
Currently anytime solr indexes are changed a new docker image has to be built.  The solr indexes are not a heavy lift and we should have the ability to update them dynamically just like hsctl. Update local-dev-first-start-only.sh to build the schema dynamically.  Once this is done the prebuilt image will be irrelevant and the repository may be removed.

https://github.com/hydroshare/hs-solr/

The

[2021-04-08 00:47] alvacouch commented on #4198
I think this will help normal mortals update SOLR.

[2021-04-08 17:54] jcalhoon96 opened #4199 "Consolidating the OGC Web Services WMS and WCS URL endpoints to match the WFS endpoint"
When using the the current WCS URL in QGIS, the result will pull every resource that contains an available WCS endpoint. regardless of the resource ID used. The URL change will fix this issue. The WMS URL change makes no difference for the final output but is being doing to keep the URL endpoints uniform.

The current code for the web service endpoints as used in the hydroshare/models.py at line 5

[2021-04-09 18:48] horsburgh opened #4200 "Copying citation includes a bunch of unnecessary spaces and line breaks"
If you click the button to copy the citation on a resource's landing page, it copies the citation to the clipboard, but includes a bunch of leading spaces and line breaks as well as some trailing spaces and line breaks. The result is that when you paste it somewhere, you have to go back and delete the cruft. Not sure why they are there, but they shouldn't be. Example after pasting into Microsoft W

[2021-04-09 20:04] sblack-usu commented on #4200
Here is the relevant code, it's a bit of a mindbender, but a trim() on the target textContent should resolve the issue.  https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/copyToClipboard.js#L12

[2021-04-12 15:01] sblack-usu opened #4201 "Release Checklist 1.43"
### Issues in Release
- [ ] #4181 scheme org update @hyi
- [ ] #4087 delete box update @soumyapurohit
- [ ] #4191 meta xml file check fix for check_irods_files @sblack-usu
- [ ] #4184 schema org bug @hyi
- [ ] #4179 discover logical file attributes @alvacouch
- [ ] #4195 Bump y18n from 4.0.0 to 4.0.1 in /hs_discover @sblack-usu
- [ ] #3936 discovery backend improvements @alvacouch

### Beta Deploy

[2021-04-12 15:16] cbcunc commented on #3436
Current release is 1.13.

[2021-04-12 15:16] #3436 closed

[2021-04-12 15:20] cbcunc commented on #4135
Fixed in Hotfix 1.41.1

[2021-04-12 15:20] #4135 closed

[2021-04-12 15:22] cbcunc commented on #3505
Pages no longer appears in Google search: https://www.google.com/search?as_q=&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=&cr=&as_qdr=all&as_sitesearch=pages.hydroshare.org&as_occt=any&safe=images&as_filetype=&tbs=

[2021-04-12 15:22] #3505 closed

[2021-04-12 17:39] Castronova commented on #2146
Closing because there has been no action and no planned action on this.

[2021-04-12 17:39] #2146 closed

[2021-04-13 17:27] sblack-usu opened #4202 "Create bag ingestion management command"
Metadata xml file ingestion with https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hs_rdf.py

Implement a management command to take a zipped bag archive of a resource, unpack it, add the files to a resource and ingest the metadata files.

[2021-04-20 17:37] dtarb commented on #3271
This is by design

[2021-04-20 17:37] #3271 closed

[2021-04-20 19:36] #4202 closed

[2021-04-20 19:36] #4198 closed

[2021-04-23 18:49] eclark-cuahsi opened #4211 "Group"

[2021-04-23 18:57] eclark-cuahsi commented on #4211
@martinseul  can you take a look at this please?

[2021-04-26 15:22] martinseul commented on #3196
still an issue

[2021-04-27 00:20] hydrocheck opened #4214 "If the user has not yet completed their profile, profile pic uploads will not work"
Profile picture upload looks like it should, but the images don't actually save/register to the new user.

https://user-images.githubusercontent.com/43424907/116166763-af542a80-a6cc-11eb-896c-dc5a680450bd.mov

[2021-04-27 00:20] hydrocheck opened #4215 "User popup message cannot be cleared"
The profile completion message cannot be cleared like most of the HydroShare warnings/info/error messages (no "x", no close-via-click-outside,...).  Further, the message persists for a considerable amount of time.  I'm not sure if this is intentional.  This behavior might be somewhat annoying to users, but perhaps that's by design to strongly encourage profile completion.

https://user-images.gith

[2021-04-27 00:22] hydrocheck commented on #4201
Small issues from initial testing:
https://github.com/hydroshare/hydroshare/issues/4214
https://github.com/hydroshare/hydroshare/issues/4215

Will do final regression testing within the next couple of days, as discussed with the team.

[2021-04-27 17:30] #2872 closed

[2021-04-27 17:39] eclark-cuahsi commented on #4211
Note: Resources with 'Discoverable' access are discoverable through the Discover page whether a user is logged in or not.

[2021-04-28 14:10] #4087 closed

[2021-04-28 14:10] #4181 closed

[2021-04-28 14:10] #4191 closed

[2021-04-28 14:11] #4184 closed

[2021-04-28 14:11] #4179 closed

[2021-04-28 15:49] martinseul opened #4219 "Users unable to reset password"
We had several users contact help with the issue that they can't reset their passwords using the reset pw functionality, They can successfully request a link that is send to their mailbox but upon clicking they get an undescriptive message that an Error occured, see below.
![pw error](https://user-images.githubusercontent.com/5427742/116433187-40cfb380-a817-11eb-8fd5-3c616c204e54.png)

This does n

[2021-04-28 15:51] cbcunc commented on #2538
I recently encountered a resource (https://www.hydroshare.org/resource/699227b982f5498281709e3d23a8cfce/), since corrected, with these two sibling folder names in contents

Content Analysis
Content_Analysis

So replacing the space in the first folder would result in a name collision with the second folder and fail. In the THREDDS harvester, I changed it to replace the space with dunder for a stopg

[2021-04-28 16:00] sblack-usu commented on #4219
Here is a hint to what is going on in the logs.
[code]

[2021-04-28 16:02] sblack-usu commented on #4219
I see multiple tries for this.  My guess would be that the user requested multiple password resets and then clicked the link on a previous request which is expired by the new request.  We could probably update the password reset logic to just resend the same link each time.  Pretty sure we've gone around this issue before.

[2021-04-28 16:58] hyi commented on #4197
Fixed and deployed. Closing.

[2021-04-28 16:58] #4197 closed

[2021-04-28 16:59] hyi commented on #4118
This has been fixed as part of moving resource deletion to async. Closing.

[2021-04-28 16:59] #4118 closed

[2021-04-28 17:57] cbcunc opened #4220 "Aggregation correctly detects extents but fails to correctly display map"
https://www.hydroshare.org/resource/f203458dcdde4cc8982a4a02aec9de8f/

[2021-04-29 11:56] dtarb commented on #4219
@sblack-usu if you are able to make a change that would satisfy this user without too much trouble, I'd appreciate it.  I am happy to discuss options that might involve reusing the same link, or having an error message that explains that the link expired, and if it is because the user requested a new one indicating when a new one was sent (and maybe resending).

[2021-04-29 15:22] sblack-usu commented on #4219
My theory about the older links expiring with new password reset requests is incorrect.  The last login time of the user is baked into the token so all the links are valid for 7 days or until one of the links is clicked which updates the user login time and invalidates the other links.

If you look at the screenshot above, you can see Anne is logged in.  I believe she clicked a link and then click

[2021-04-30 14:35] #4219 closed

[2021-05-03 15:32] dtarb commented on #3067
@martinseul given the down time today, I would like to make another plug for doing this.  Is this easy to do.  Could @hyi do this?

[2021-05-03 18:11] dtarb commented on #2942
@horsburgh Please comment or follow up as needed.

[2021-05-04 20:30] eclark-cuahsi commented on #4105
Also note that the current help documentation at https://help.hydroshare.org/participation-and-collaboration/group-visibility/ states that for Public Groups:

- "Any HydroShare user can view the list of group members
- The list of resources shared with the group is only visible to group members"

So, there are a few inconsistencies here. IMO, public resources should be visible on a Public Group La

[2021-05-06 20:50] hyi commented on #3826
A mockup google doc for how to implement this can be found [here](https://docs.google.com/document/d/1VkVzEeifTGqGJ3maD_X4qJVe3HxjeUn_G83U-H_1hyY/edit)

@dtarb @horsburgh @danames I have created a PR for implementation of adding THREDDS web service links and asked @sblack-usu to code review. I am pasting a couple of screen captures to show you what the UI looks like below:
![image](https://user-im

[2021-05-07 18:03] #4200 closed

[2021-05-07 18:22] hyi commented on #3826
@dtarb Here are the updated screen captures to address your comments:
![image](https://user-images.githubusercontent.com/476302/117490401-b7b62c00-af3c-11eb-9c28-75d57382c31f.png)
![image](https://user-images.githubusercontent.com/476302/117490462-ca306580-af3c-11eb-85dd-97c7d38ec768.png)

I also changed the title "Data Services" to "OGC Web Services."

As you can see, I did not add "copy" button

[2021-05-07 21:09] danames commented on #3826
@Hong Yi ***@***.***>  when you say that you changed "Data Services"
to "OGC Web Services" I'm assuming you mean in the header here:
[image: image.png]

I don't like that change because the idea was to have one major heading
("Data Services") with a number of different types of data services. So the
idea would be that "THREDDS Data Server" would be at the same level as "Web
Coverage Service". Obvi

[2021-05-07 21:38] hyi commented on #3826
@danames Yes, I meant to change the text in the header to address the comment from @dtarb as shown in the thread above in this issue, when Dave asked me to change title on current services to "OGC Web Services" with a screenshot. I may have misunderstood Dave's comment, though. I definitely get your point and agree with you. The WMS, WFS, and WCS OGC services will not appear together with the THRE

[2021-05-07 21:53] hyi commented on #3826
@dtarb @horsburgh @danames Looks like we need a bit more design decision on how we should add the new THREDDS data server section on resource landing page in conjunction with the existing OGC web services under Data Services section. Taking into account the comments above from Dan and Dave, I did the mockup below. Let me know what you think so that I can finalize the implementation.
![image](https

[2021-05-07 21:59] hyi commented on #3826
@dtarb @danames @horsburgh Need more thoughts on where the description below "Data Services" need to go. With addition of THREDDS data server section, the description does not apply as a general statement under "Data Services" any more. We can add a "OGC Services" under "Data Services" above the description so that "OGC Services" are at the same hierarchical level as "THREDDS Data Server." Let me

[2021-05-08 01:20] danames commented on #3826
Your new markup is much better. That way we have a generic data services
header. We can adjust the descriptions as needed. I suppose we could have
one resource with some shapefiles and some net CDF files so in that case
all of the services would be available for some portion of the resource.

On Fri, May 7, 2021 at 4:00 PM Hong Yi ***@***.***> wrote:

--
*******************************************

[2021-05-08 15:01] dtarb commented on #3826
I do not think THREDDS data services are OGC services.  This motivated my suggestion of two sections "OGC Web Services" and "THREDDS Data Server"  Please also note that THREDDS as two D's and one E.  Some places above it appears as THREEDS which is not correct.

[2021-05-10 18:21] sblack-usu opened #4229 "Release Checklist 1.44"
### Issues in Release
- [x] #4219 Users unable to reset password @sblack-usu
- [x] #3702 Replace update_index with solr_update in hsctl @cbcunc
- [x] #4199 Consolidating OGC URL Endpoints @jcalhoon96
- [x] #4200 Copying citations includes whitespace @sblack-usu
- [x] #4222 Add support for metadata on logical files @sblack-usu
- [x] #4228 Bump lodash version @sblack-usu
- [x] #4227 Bump url-parse v

[2021-05-11 19:34] hyi commented on #3826
@danames It appears that the image.png was not uploaded to github in your comment above. I'd love to see your example image for subtexts while I am working on the UI to implement this, so it'd be great if you could upload the image again. Thanks.

[2021-05-11 20:08] hyi commented on #3826
@danames Yes, the uploaded image works this time and looks great. I'll implement the UI as shown in your mockup image and incorporate any further comments from others if any. Thanks.

[2021-05-12 01:30] hyi commented on #3826
![image](https://user-images.githubusercontent.com/476302/117904658-c46db380-b29f-11eb-82c9-52ab0f13f33a.png)

@danames See the screen capture from the latest implementation following your mockup image suggestions. Let me know any further suggestions you have. @dtarb @horsburgh Let me know any further suggestions you have for the latest UI implementation.

[2021-05-12 05:08] danames commented on #3826
Looks good to me.

On Tue, May 11, 2021 at 7:30 PM Hong Yi ***@***.***> wrote:

--
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
Past-President, International Environmental Modelling & Software Society
Editor-in-Chief, Environmental Modelling & Software
<http

[2021-05-12 15:04] hyi commented on #3826
@danames @dtarb @horsburgh Have done a little bit further update, i.e., urlized THREDDS data service link to make it clickable to be consistent with the other OGC web service links. Here are updated screenshots including the OPeNDAP service link display on the netCDF aggregation level. I'll just go with this and ask @sblack-usu to do a final round of code review for the PR to merge it. If we need

[2021-05-12 17:18] danames commented on #3826
I like this approach a lot. It opens the door to easily add other services
that may come along.

I'd like to hear from others though on one point... since we are mentioning
Open Geospatial Consortium in the text, it seems redundant to have it
repeated 3 times in the sub headers. This is how I did it in my mock up but
now looking at it, I feel like we should just simplify it back to "Web Map
Servic

[2021-05-12 17:42] hyi commented on #3826
@danames I definitely see your point. We can do as you suggested, or if we want to keep OGC there for clarity, perhaps we could use OGC Web Map Service, OGC Web Feature Service, OGC Web Coverage Service as the sub-headers. If OGC abbreviation itself needs to be clarified, we could add the abbreviation in parenthesis in the sub-text, i.e., _...via Open Geospatial Consortium (OGC) Web Services_. Let

[2021-05-12 18:38] hyi commented on #3826
@danames given that we want to slate this PR into the upcoming release, I have updated the PR to go as you suggested, i.e., remove OGC from sub-headers. I'll ask @sblack-usu to approve the PR again so it can be merged and Scott can update beta with it to be tested for the upcoming release next week. If we need to tweak UI further, we can always update UI iteratively later. It'd be good to get this

[2021-05-12 18:45] #3826 closed

[2021-05-17 01:41] hydrocheck commented on #4187
Closing as duplicate of https://github.com/hydroshare/hydroshare/issues/4215

[2021-05-17 01:41] #4187 closed

[2021-05-17 03:56] hydrocheck opened #4232 "A required state field for user profiles may not make sense for some countries"
If you go to the profile page, you'll note that state is a required field.  It may benefit usability to remove the requirement.

https://www.quora.com/Is-there-any-country-without-states

<img width="621" alt="006-02" src="https://user-images.githubusercontent.com/43424907/118430129-5b23e100-b6a1-11eb-9b09-4288646ff6c0.png">

<img width="339" alt="006" src="https://user-images.githubusercontent.co

[2021-05-17 03:56] hydrocheck opened #4233 "Extra "machine text" is shown for a temporal coverage update error"
Edit a resource, and set the start and end dates out of order.

The error message is unusual in that it:
* Has an extra period below the content
* Uses a bullet list formatting
* Has string quoting and brackets, along with an extra "end" at the beginning

<img width="1219" alt="007" src="https://user-images.githubusercontent.com/43424907/118430285-c66db300-b6a1-11eb-8804-e44896eea88f.png">

[2021-05-17 03:56] hydrocheck opened #4234 "Matlab Online instance provisioning fails"
Across multiple test accounts, Matlab Online instance provisioning fails.
1. Open Matlab Online from the Hydroshare home page (after login)
1. Authorize
1. Observe error message

<img width="1503" alt="008" src="https://user-images.githubusercontent.com/43424907/118430394-fcab3280-b6a1-11eb-8b84-9c34b1ff649f.png">

[2021-05-17 03:56] hydrocheck opened #4235 "Country codes are not considered in profile phone number validation, so ambiguous phone numbers are possible"
I believe it's possible to have ambiguous phone numbers, given the current HS phone number validation strategy.  This arises if we don't know if the user specified a country code or not (seemingly the case).  For example: 3655410945 could be interpreted as a valid Budapest, Hungary number (+36 30 901 820) or a valid Toronto, Canada number (+1) 363 090 1820

https://github.com/google/libphonenumber

[2021-05-17 03:56] hydrocheck opened #4236 "Metadata editing inconsistency for published resources"
Based on the specification in https://github.com/hydroshare/hydroshare/issues/2559, spatial and temporal metadata should probably be editable and deletable post-publication.  This metadata is editable, like unpublished resources.  However, it is not deletable, like unpublished resources.

[2021-05-17 03:57] hydrocheck commented on #4229
1. https://github.com/hydroshare/hydroshare/issues/4232
1. https://github.com/hydroshare/hydroshare/issues/4233
2. https://github.com/hydroshare/hydroshare/issues/4234
3. https://github.com/hydroshare/hydroshare/issues/4235
4. https://github.com/hydroshare/hydroshare/issues/4236

[2021-05-17 22:49] #2829 closed

[2021-05-18 13:53] alvacouch opened #4238 "SOLR overwhelmed via REST API resource updates"
The SOLR subsystem gets overwhelmed by a stress test of the REST API. This results in failed updates to resource records in SOLR. This is due to the realtime signal processor updating for every small change in a resource. Since the REST API is capable of driving thousands of these per second, the SOLR subsystem goes down.

The solution is to queue updates and then do at most one update per resourc

[2021-05-18 14:54] dtarb commented on #4236
@horsburgh please evaluate if a change is needed.  This is being assigned to you as a trial of our new approach to working with issues among Tony, Emily, Martin and me.

[2021-05-18 21:12] #4229 closed

[2021-05-19 18:00] hyi opened #4240 "Remove model program and model instance related items from Create pull down menu"
This issue needs to be addressed for the next release that includes model program and model instance aggregations.

[2021-05-20 17:15] sblack-usu opened #4243 "Release Checklist 1.45"
### Issues in Release
- [x] #3792 Model Instance and Model Program Aggregation Types @pkdash
- [x] #2829 When rating resource and not logged in, system doesn't redirect after login @hyi
- [x] #3196 profile media file @hyi

### Beta Deployment
- [x] Diff RC to master to identify and manually make changes in the following files:
  * hsctl
  * config/hydroshare-config.yaml
  * nginx/config-files/hydr

[2021-05-21 18:18] horsburgh opened #4244 "Update HydroShare Terms Page"
With recent changes to HydroShare to deprecated legacy resource types and instead move toward content type aggregations within the Composite resource type, the HydroShare Terms page at http://www.hydroshare.org/terms needs to be updated. The modified terms after review and editing are contained in this Google Doc:

https://docs.google.com/document/d/168FEc5rqp44seOUT31RUHuj9uPz0i7k_gnNURH3SL50/edi

[2021-05-24 13:09] hydrocheck opened #4248 "Model instance aggregation "Schema Based Metadata" does not use consistent styling"
The styling can be a bit hard to follow in the "Schema Based Metadata" section - notably, the placement of buttons and whitespace.  In the attached example, the "Collapse" and "Object Properties" for "SWAT Model..." wrap in a somewhat unintuitive way.  On very large width metadata windows, it looks great, however, the default sizing (or similar - up to about 2x the default width) has a lot of wrap

[2021-05-24 13:09] hydrocheck opened #4249 "Buttons styling issue in "Schema Based Metadata" rows (model instance aggregation)"
For a model instance aggregation, "row" metadata has two buttons side-by-side with no spacing.  "Add row" and "Delete Last row".  Adding spacing would probably be nicer, stylistically, but perhaps more importantly the buttons do not have borders so they visually fuse into a single super-button (could be confusing to users)

<img width="1127" alt="002" src="https://user-images.githubusercontent.com

[2021-05-24 13:09] hydrocheck opened #4250 "Inconsistent capitalization of buttons in Model Instance aggregation Schema Based Metadata"
Buttons labels include "Add row", "Delete Last row", and "Object Properties" - all of which use a different capitalization strategy.  A consistent approach could significantly improve aesthetics.

<img width="1157" alt="003" src="https://user-images.githubusercontent.com/43424907/119352377-9b6dfb00-bc6f-11eb-8889-d0758207af23.png">

[2021-05-24 13:09] hydrocheck opened #4251 ""mp_file_types" charcter limit error when setting file types in Model Program aggregation"
https://beta.hydroshare.org/resource/213a2ec4fcf249d8b178b116de83c32d/ "Aggregations" aggregation.

Updating the content file types in the aggregation metadata (seemingly any file to any file type) raises a rather cryptic mp_file_types error.

<img width="1918" alt="004" src="https://user-images.githubusercontent.com/43424907/119352416-a9238080-bc6f-11eb-9609-01aac3dc9ef8.png">

[2021-05-24 13:09] hydrocheck opened #4252 "Button label accuracy in JSON schema hide/show for model instance/program aggregations"
After "Show Model..." to see the JSON schema, it's not clear how to hide the JSON.  It looks like the standard mechanism for that is clicking "Show..." again, but changing it to "Hide..." would make that more clear.

<img width="1131" alt="006" src="https://user-images.githubusercontent.com/43424907/119352465-b93b6000-bc6f-11eb-91b0-01a9f76fc031.png">

[2021-05-24 13:10] hydrocheck commented on #4243
1. https://github.com/hydroshare/hydroshare/issues/4248
2. https://github.com/hydroshare/hydroshare/issues/4249
3. https://github.com/hydroshare/hydroshare/issues/4250
4. https://github.com/hydroshare/hydroshare/issues/4251
5. https://github.com/hydroshare/hydroshare/issues/4252

[2021-05-24 13:29] hydrocheck commented on #4249
There are a few places where this shows up.  Overall, this "row" area may have some opportunities for style improvement.  The "row" title at the top may be unnecessary and a number of the buttons get merged

<img width="777" alt="Screen Shot 2021-05-24 at 9 27 35 AM" src="https://user-images.githubusercontent.com/43424907/119354803-7cbd3380-bc72-11eb-8bc0-b0e7af91b200.png">

[2021-05-26 21:50] imanmaghami commented on #4251
I was able to reproduce the same error when the sum of the characters of the uploaded content files names + the selected file types characters (e.g., Computational Engine) for all uploaded content files exceeded 255 characters.

[2021-05-28 12:36] alvacouch opened #4255 "Celery needs an upgrade"
In trying to get asynchronous SOLR updates running, I found that our current celery instance is really messed up.

1. Workers run as root. Fortunately we haven't asked them to create files, which would create havoc.
2. Logging is messed up enough that simply trying to log a message will stop a celery scheduled task.
3. When celery tasks abort, there is no logged message to that effect.
4. Logged m

[2021-05-28 13:29] alvacouch opened #4256 "Communities back-end: updates needed"
To implement the new version of communities, there need to be several upgrades to the back end, notably:

1. The ability to **share a resource with a community.** Right now, that's not supported.
2. The ability to turn on sharing all group resources with a community, as a **non-default option**.

My intern shows up next week and this needs to be completed before he can start work on the UI for man

[2021-06-02 20:40] martinseul commented on #4186
Adel,

thank you for your suggestion and we are looking into extending the ability for users to search spatially. It's a bit tricky as you said as the quality of spatial information depends on the publisher and can vary.
We do have some ability to search via the API (https://www.hydroshare.org/hsapi/ ) where you can specify a location or an extend unfortunately not via geojson.
I've added your ide

[2021-06-02 20:40] #4186 closed

[2021-06-08 14:23] martinseul commented on #4199
closing is part of 1.44

[2021-06-08 14:23] #4199 closed

[2021-06-09 18:53] danames opened #4260 "GeoServer Services need to be updated when data are added to an existing resource"
GeoServer Services need to be updated when data are added to an existing resource. When you add data to an existing resource the new data are not automatically registered in GeoServer. The resource has to be made private then public again. This should

[2021-06-10 01:01] martinseul opened #4261 "DOI's not activating"
There seems t be an issue with the publishing process. The process does not complete and the status is stuck on pending we had 2  user point out that their resources are still waiting for a DOI.

https://www.hydroshare.org/resource/6d6216f4973c45b6be80b3ce5e3e6764/
and
(https://www.hydroshare.org/resource/a2f0d5fd10f14cd189a3465f72cba6f3/)

We also received a message from crossref yesterday pointi

[2021-06-10 21:01] hyi commented on #4261
@martinseul @dtarb @sblack-usu I have fixed all the pending publication resources noted above. One resource as noted in ```Published resource DOI https://doi.org/10.4211/hs.https://doi.org/10.4211/hs.cb522bbb0f6449ac9d6ca2c189e5c604 is not yet activated with request data deposited since 12/14/2020.``` is caused by a bug which only occurs when the first time crossref metadata deposition failed, and

[2021-06-11 12:42] alvacouch opened #4264 "counts between solr and django seem to disagree"
**Description of the bug**
The counts as generated from resource listing and the counts of resources in discover differ for the various kinds of resources.

Steps to reproduce the bug:
1. List resources in REST API.
2. Count discoverable, public, published resources.
3. Go to discover
4. Count the same resources in facets.
5. The number differ

**Expected behavior**
The numbers should be the same.

[2021-06-12 18:56] pkdash opened #4266 "Update model schema template json files"
Iman reported the issue with the current template files.

He suggested some changes such as not accepting negative values for some metadata elements where it makes sense (e.g., Watershed Area metadata in the SWAT JSON schema), which requires adding a new keyword "minimum" and set its value to "0" which specifies a minimum acceptable value of "0" for such cases. There are some typos n the current s

[2021-06-12 22:34] pkdash opened #4268 "Better formatting of model schema based metadata validation error messages"
@imanmaghami requested to make this change.

[2021-06-13 06:46] imanmaghami opened #4269 "Fix the namespace used for the "modelSpecificMetadata" and its children metadata"
The newly added term for the model instance aggregation type (i.e., modelSpecificMetadata) is not a hsterm in a meta.xml file for a model instance aggregation but rather a different namespace (i.e., xmlns:default# = 'resource url', where default# is the name of the namespace, # is a number and resource url is the url for the HydroShare resource url that hosts the model aggregation) is considered f

[2021-06-13 06:50] imanmaghami opened #4270 "Remove "includesModelOutput" and "executedByModelProgram" metadata from the "modelSpecificMetadata" in a meta.xml file for a model instance aggregation"
modelSpecificMetadata is Metadata specified based on a JSON schema file but in a meta.xml file it not only includes the aforementioned JSON-based metadata but also includes the two terms, includesModelOutput and executedByModelProgram, which are not obviously based on a JSON (shown with orange box in the attached screenshot):

![image](https://user-images.githubusercontent.com/33031286/121798067-2

[2021-06-13 06:53] imanmaghami opened #4271 "Current MODFLOW JSON Schema provided by HydroShare has a serious issue"
Even if the metadata values for the model properties studyArea, and outputControlPackage are provided by the user, these metadata and their values are not shown in the meta.xml file as well as in the HydroShare beta UI (in view mode). But, if the user goes back to edit mode they can see the values for the two metadata are there!

[2021-06-13 06:55] imanmaghami opened #4272 "Putting an invalid character in spatial coverage gets it stuck on saving changes without reporting an error"
Putting an invalid character in spatial coverage gets it stuck on saving changes without reporting an error.
![image](https://user-images.githubusercontent.com/33031286/121798176-cd310c80-cbf2-11eb-9fa1-a0ed2bfef0b8.png)

[2021-06-13 07:50] imanmaghami opened #4273 "Putting in symbols in the metadata fields messes up the value in the xml file by adding some stuff to the sides"
Putting in symbols in the textboxes messes up the value in the xml file by adding some stuff to the sides. It seems to apply to all metadata fields where they can be inputted and occurs in both MODFLOW and SWAT schema.

![image (6)](https://user-images.githubusercontent.com/33031286/121799484-716a8180-cbfa-11eb-9efe-0d0c700a7469.png)

[2021-06-13 07:52] imanmaghami commented on #4273
Reported by Kevin Chen (@kevinc0223)

[2021-06-13 07:54] imanmaghami commented on #4272
Reported by Kevin Chen (@kevinc0223)

[2021-06-14 03:05] pkdash commented on #4269
@imanmaghami Locally I could not produce this error:

[2021-06-14 16:25] alvacouch opened #4277 "logging and celery messed up."
**Description of the bug**
There are multiple things messed up about logging and celery.
1. Celery crashes whenever its (django) tasks log anything.
2. NGINX periodically CHOWNs system.log to user irods to suit its fancy.
3. Celery is running as the wrong user.
4. Celery is 3 major versions behind current (5.x vs 2.x)
5. Logging -- in general -- has a confusing setup. Things are logged in two plac

[2021-06-14 19:34] imanmaghami opened #4279 "Improving the error message when model instance metadata schema is invalid"
When an uploaded JSON schema is invalid, the error message shown can be improved and be more specific. I present two examples here:

1- If a comma is missing after one of the schema fields the following error is shown:

"Error! metadata failed to update [{"schema_name":Not a valid JSON string"}]"

Is it possible to tell the user which line is problematic? If not, can HydroShare use a more informat

[2021-06-15 14:47] eclark-cuahsi commented on #4260
Adding @Castronova as well as Product Category owner for Linked Data Services

[2021-06-15 14:50] eclark-cuahsi commented on #4264
Adding @martinseul for review of Discover Page issues

[2021-06-16 17:20] alvacouch commented on #4277
This is really messed up. I cannot get celery to work correctly. Inspect routines have been down for a while. logger routines still don't work. Only way to log is to print to STDOUT or STDERR. Such printing goes to the appropriate logfile.

Celery flower is down (because the celery inspect routines it uses are down).

In short, I have successfully redirected logs but celery is probably too messed

[2021-06-16 17:51] alvacouch commented on #4005
This has been addressed.

[2021-06-16 17:51] #4005 closed

[2021-06-16 17:53] alvacouch commented on #4172
This has been done.

[2021-06-16 17:53] #4172 closed

[2021-06-16 17:55] alvacouch commented on #4238
Partially addressed via PR#4239. Problems traced to Celery framework. Remaining work relative to #4277.

[2021-06-16 17:55] #4238 closed

[2021-06-17 17:42] eclark-cuahsi commented on #4266
Adding @horsburgh as this falls under the Resource Model category.

[2021-06-17 17:44] eclark-cuahsi commented on #4268
Adding @horsburgh for reviews as this falls under the Resource Model category.

[2021-06-17 17:46] eclark-cuahsi commented on #4269
Adding @horsburgh and @goodalljl as this falls under the Resource Model and Model Aggregation category.

[2021-06-17 17:53] eclark-cuahsi commented on #4270
Adding @horsburgh and @goodalljl as this falls under the Resource Model and Model Aggregation category.

[2021-06-17 17:55] eclark-cuahsi commented on #4271
Adding @horsburgh and @goodalljl as this falls under the Resource Model and Model Aggregation category.

[2021-06-17 17:59] eclark-cuahsi commented on #4272
Adding @Castronova  and @horsburgh for review as this pertains to the Pages and General Components/ Resource Landing Page categories.

[2021-06-17 18:09] eclark-cuahsi commented on #4273
Adding @Castronova and @horsburgh for review as this pertains to the Pages and General Components/ Resource Landing Page categories. Is this a bug?

[2021-06-17 18:17] eclark-cuahsi commented on #4279
adding @horsburgh as this pertains to the Resource Model Category.

[2021-06-18 13:58] martinseul commented on #2949
tested on latest edge browser and Chrome, I can't reproduce the issue, older dates <1900 save correctly, closing

[2021-06-18 13:58] #2949 closed

[2021-06-18 15:47] martinseul commented on #4261
released with hotfix 1.44.2

[2021-06-18 15:47] #4261 closed

[2021-06-21 15:12] #3702 closed

[2021-06-21 15:13] hyi opened #4283 "File based aggregation metadata - enable edit on resource landing page"
This is a follow up work to its counter part issue the view only issue #4130 to enable file based aggregation metadata edit as well.

[2021-06-21 15:31] eclark-cuahsi commented on #4105
Related to issue 3736.

[2021-06-21 16:04] hyi commented on #4240
The PR has already been merged and it will become part of the coming release. Closing.

[2021-06-21 16:04] #4240 closed

[2021-06-23 18:00] sblack-usu commented on #485
Workflows with hsclient and czhub create a resource without uploading files.  Files are uploaded and unzipped after creation.  This functionality is no longer needed.

[2021-06-23 18:00] #485 closed

[2021-06-23 18:04] sblack-usu commented on #486
We do not have a specific use case for an API endpoint for ingestion.  There currently exists a management command for this functionality.  The code for the management command can be reused to create an API endpoint if the need arises.

[2021-06-23 18:04] #486 closed

[2021-06-28 03:13] kjlippold commented on #4133
HydroShare isn't sending update requests to GeoServer when files are deleted. There was already a signal for this action, so it just needed to be set up to trigger the GeoServer update task.

PR with the fix: https://github.com/hydroshare/hydroshare/pull/4290/commits/d1e4e600a6c05f1024ad02a459d07e13479b0532

[2021-06-28 17:58] eclark-cuahsi commented on #4070
Adding @Castronova and @horsburgh for review as this issue pertains to the Resource Landing Page.

[2021-06-28 18:00] eclark-cuahsi commented on #1483
@alvacouch should we address this issue as a bug or is it an enhancement?

[2021-06-28 18:04] eclark-cuahsi commented on #2030
adding @sblack-usu as well as this issue pertains to HS Core Services. @sblack-usu and @alvacouch is this an issue that should be addressed as a bug and pursued at this time?

[2021-06-28 18:07] eclark-cuahsi commented on #2080
adding @dtarb as this pertains to Access and Control.

[2021-06-28 18:13] eclark-cuahsi commented on #2103
@martinseul please test to confirm this is still an issue or not.

[2021-06-28 18:18] eclark-cuahsi commented on #2122
Adding @sblack-usu  as this pertains to HS Core Services. @alvacouch  and @sblack-usu  is this truly a bug or is it an enhancement/improvement?

[2021-06-28 18:21] martinseul commented on #2171
closing this, @alvacouch please feel  reopen if you think it's necessary.

[2021-06-28 18:21] #2171 closed

[2021-06-28 18:24] eclark-cuahsi commented on #2177
adding @sblack-usu as this pertains to HS Core Services. Please review and comment or close if not needed or addressed.

[2021-06-28 18:28] eclark-cuahsi commented on #2266
@martinseul please review and follow up.

[2021-06-28 18:29] eclark-cuahsi commented on #4283
@hyi can you please provide additional information about what this issue will entail?

[2021-06-28 19:12] martinseul commented on #2266
@alvacouch @sblack-usu can we close this ticket as it's a fairly old, some or all aspects have been addressed or don't apply anymore. If any aspects still need to be addressed I'd suggest opening a new ticket? Please advise or close.

[2021-06-28 19:47] eclark-cuahsi commented on #4128
Removing bug label per @hydrocheck's comment.  @Castronova I believe this falls under Pages and General HS Components. Can you please review or let me know if this belongs in a different Product Category.  Thank you!

[2021-06-28 20:00] eclark-cuahsi commented on #4121
@Castronova adding you as I believe this pertains to the Pages and General HS Components category. Can you please review and verify if this is a bug? If not, please update the label accordingly. Thank you.

[2021-06-28 20:21] #4283 closed

[2021-07-01 02:33] kevinc0223 opened #4291 ".OVA File Link Not Working"
**Description of the bug**
There is a link for a .OVA file in the README.md. However, this link does not go to a website that can be reached.

Steps to reproduce the bug:
1. Go to HydroShare GitHub
2. Scroll down to the README.md
3. Under the "Install" section there is a "Simplified Installation Instructions" with the first step being to "download the latest .OVA file here"
4. When clicked, it giv

[2021-07-01 14:46] eclark-cuahsi commented on #4291
This will be addressed with PR4281. @martinseul I'm assigning this to you per our discussion. Thanks.

[2021-07-03 21:51] aaraney commented on #4109
@hyi can you ref the pr(s) that resolved this?

[2021-07-06 14:40] hyi commented on #4109
@aaraney Here is the PR https://github.com/hydroshare/hydroshare/pull/4116 that resolved this.

[2021-07-07 18:53] martinseul commented on #3196
Closing, fixed with Release 1.45; PR https://github.com/hydroshare/hydroshare/pull/4254

[2021-07-07 18:53] #3196 closed

[2021-07-07 19:13] martinseul commented on #4291
The developer setup using a OVA file has been deprecated and is superseded by a new setup. The setup process outlined on the landing [page ]((https://github.com/hydroshare/hydroshare))for the repository  has been updated with the new instructions.  [PR# ](https://github.com/hydroshare/hydroshare/pull/4281)

[2021-07-07 19:13] #4291 closed

[2021-07-08 21:22] imanmaghami opened #4292 "Providing information on the number of content files"
I think HydroShare can benefit from having a more informative UI by providing the number of the content files in the next two cases:

1- When a user is uploading several files, a real-time report on the number of files that have been uploaded can be really helpful, in particular for the cases when the user is uploading a huge number of files. Also, a related comment on this item is that HydroShare

[2021-07-09 18:51] #2266 closed

[2021-07-10 03:04] imanmaghami opened #4293 "HydroShare terms page to be updated"
The HydroShare terms page is currently outdated and needs to be updated using the html file we provided the HydroShare developers with. This html file is focused on updating data and (mainly) model aggregations metadata as well as removing the metadata for obsolete resource types.

However, there is still a need to double check some of the metadata terms for a few of the data aggregation types and

[2021-07-12 17:34] #4279 closed

[2021-07-14 15:03] horsburgh opened #4297 "Update HydroShare Landing Page"
**Describe the feature you'd like and what it will do**
A clear and concise description of what you want to happen.

We want to update the main HydroShare landing page to include new information about how HydroShare can support research and who is using HydroShare.

**Why is this feature important?**
A short description of the importance of this feature and what it will help you achieve.

This wil

[2021-07-14 15:19] horsburgh commented on #4236
I think this is an oversight that needs to be fixed. Given that we have made the spatial and temporal coverage metadata editable after publication, they should be both editable and deleteable.

[2021-07-14 15:52] horsburgh commented on #2942
To resolve this issue, I suggest a check on the SQLite file when the Time Series content type is removed to see if the SQLite file would validate as a Time Series content type aggregation. If the answer is yes, remove the content type aggregation as the user has requested. If the answer is no, we should alert the user that they are removing the Time Series content type aggregation and that their S

[2021-07-14 16:01] horsburgh commented on #2536
I don't think that an abstract length limitation to 5000 characters is unreasonable. Users can upload content files to the resource, and they can write whatever they want in a readme file. The Abstract doesn't need to be a book. However, if there is a length restriction, it should be indicated on the page in edit mode so users can clearly see it when they are editing the resource.

@dtarb - I'm in

[2021-07-14 16:19] horsburgh commented on #658
I think what is suggested in this issue is a technically more correct way of encoding our RDF/XML to give/preserver order to sequences of things. However, I think the only sequence that really matters in our metadata is the order of authors, and we have already handled that via another mechanism. I'm going to close this issue because, while it might be nice to do this, it really won't change any f

[2021-07-14 16:19] #658 closed

[2021-07-14 17:14] sblack-usu commented on #4042
No longer an issue with async resource deletion.

[2021-07-14 17:14] #4042 closed

[2021-07-14 17:22] horsburgh commented on #3614
This can be a really simple fix. I like the text "Learn more about the BagIt download" to make it clear that information pertains to the download. I can provide the content for the help page if someone can change the link text and URL.

I suggest we add the text about the BagIt format to this existing HydroShare help page:
https://help.hydroshare.org/creating-and-managing-resources/view-and-downlo

[2021-07-14 20:05] cbcunc opened #4298 "Investigate zero length replicas"
Devise a pipeline of scripts to investigate if there are replicas in the data zone with incorrect data size in the ICAT database compared to the replica size on disk.

Here is a sample fix:

`iadmin modrepl logical_path /hydroshareZone/home/wwwHydroProxy/24b5cf862e7040d7939578742d819f2e/data/contents/date_of_annual_maximum_swe_PRE.nc replica_number 0 DATA_SIZE 39461979`

[2021-07-19 15:02] sblack-usu opened #4299 "Release Checklist 1.46"
### Issues in Release
- [x] #2080 file delete confirmation message change @pkdash
- [x] #4279 Readable error message for metadata schema validation @pkdash
- [x] #4244 Update HydroShare Terms Page with Model Program/Instance @sblack-usu
- [x] #4277 split celery logging @alvacouch
- [x] #4133 Update GeoServer when deleting files @sblack-usu

### Beta Deployment
- [x] Diff RC to master to identify a

[2021-07-20 21:35] #4293 closed

[2021-07-26 11:49] dtarb commented on #2536
The instance that triggered this was a real NSF project summary.  We should avoid arbitrary limiting restrictions.  If it is technically possible to have a field type with flexible or unlimited length, I would prefer that.  If this is not technically feasible, I am OK with imposing a maximum length and indicating this on the edit page.  I suggest the limit be longer than 5000 characters.  I sugges

[2021-07-26 13:34] sblack-usu commented on #2536
It is not difficult to increase the abstract length and currently the only limitation is in the form, not the database.  If we remove the limit from the form, no other changes should be necessary.  Relevant code below.
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L679
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/forms.py#L810

[2021-07-26 14:49] horsburgh commented on #2536
@alvacouch - can you confirm whether there are any implications for very long abstract text on metadata cataloging and discovery performance? If not, I guess we can make this change.

I still don't think it's necessary, though. The purpose of an Abstract is to provide a complete, but **concise** statement about the content of the resource. Many journals limit this to 150 -250 words. I think this e

[2021-07-26 15:12] hydrocheck opened #4300 "Inconsistency in public resource prerequisites removal"
* Removing the last keyword on a public resources makes the resource private, and a warning is displayed to the user
* Removing the last file on a public resources makes the resource private, and a warning is displayed to the user
* Removing the abstract on a public resources is not possible

It seems there's a bit of an inconsistency here, and abstract removal should be possible (after a warning

[2021-07-26 15:12] hydrocheck commented on #4299
* https://github.com/hydroshare/hydroshare/issues/4300

[2021-07-26 21:39] horsburgh opened #4302 "Cannot edit geographic feature aggregation metadata"
**Description of the bug**
A clear and concise description of what the bug is.

I cannot see or edit the aggregation level metadata for a geographic feature aggregation (shapefile) within a resource. This is a regression - this used to work fine. Here is a screenshot of the error that I receive.

![image](https://user-images.githubusercontent.com/3485902/127062210-34557fb3-2085-47e9-99f4-612481c90

[2021-07-26 22:20] sblack-usu commented on #4302
This error was introduced with the [model program/instance merge](https://github.com/hydroshare/hydroshare/blame/develop/hs_file_types/views.py#L1218).

That line previousl did not pass in a user parameter and the geofeature metadata method for get_html_forms does not have a user parameter defined.  The other aggregations included a `**kwargs` parameter with the merge.  It looks like GeoFeature wa

[2021-07-29 15:41] #4302 closed

[2021-08-03 16:40] eclark-cuahsi commented on #3461
Need to confirm if this issue still exists and either close or fix. Test in different browsers.

[2021-08-03 16:46] Castronova commented on #3378
Discussion between @dtarb @Castronova @martinseul @eclark-cuahsi

Any link that takes you out of www.hydroshare.org should open in a new tab.

[2021-08-03 16:53] eclark-cuahsi commented on #3736
Related to #4105

[2021-08-03 18:24] danames opened #4306 "Handle case of missing projections in GeoServer"
**Describe the feature you'd like and what it will do**
We need the GeoServer to handle cases of missing projections using some notification to the user.

(from @martinseul )
In regards to the projections as you said geoserver already supports a fairly large set of projections, what would be helpful to manage expectations from a user, as now the system fails silently, would be to provide an error

[2021-08-04 17:10] #4133 closed

[2021-08-04 19:47] eclark-cuahsi commented on #3764
@alvacouch will this be addressed with your current work on comunities?

[2021-08-04 20:14] eclark-cuahsi commented on #3429
@Castronova I believe this falls under the Pages and General HS Components Category

[2021-08-04 20:18] eclark-cuahsi commented on #3077
@Castronova does this fall under Pages and General HS Components? If so can you please add the Pages label and review the Bug/Cosmetic labeling? I don't think an issue can be both a bug and a cosmetic per our discussions.

[2021-08-04 20:20] eclark-cuahsi commented on #2910
@horsburgh I believe this falls under the Resource Model Category; adding this label but please feel free to reassign if there is a better fit.

[2021-08-04 20:25] eclark-cuahsi commented on #2827
@horsburgh I believe this falls under the Resource Model category but please let me know if it should be assigned elsewhere.

[2021-08-04 20:26] eclark-cuahsi commented on #2824
@Castronova I believe this falls under the Pages and General HS Components category. Please feel free to relabel if incorrect.

[2021-08-04 20:27] eclark-cuahsi commented on #2821
@Castronova I believe this falls under Pages and General HS Components. Can you please review and reassign if needed.

[2021-08-04 20:30] eclark-cuahsi commented on #2806
@Castronova I believe this falls under Pages and General HS Components. Please review and relabel if needed.

[2021-08-04 20:48] eclark-cuahsi commented on #3975
@Castronova can you please test and confirm that this works now?

[2021-08-05 13:11] eclark-cuahsi commented on #4300
@Castronova and @horsburgh I believe this has to do with the Resource Landing Page. Can you please review and label as a bug or enhancement, or let me know if it should be assigned to another category. Thanks!

[2021-08-05 13:18] eclark-cuahsi commented on #4249
@horsburgh and @goodalljl I believe this falls under Resource Model -> Model Instance aggregation. Labeling as an enhancement as it pertains to styling.

[2021-08-05 13:20] eclark-cuahsi commented on #4248
@horsburgh and @goodalljl I believe this falls under Resource Model -> Model Instance aggregation. Labeling as an enhancement as it pertains to styling.

[2021-08-05 13:21] eclark-cuahsi commented on #4250
@horsburgh and @goodalljl I believe this falls under Resource Model -> Model Instance aggregation. Labeling as an enhancement as it pertains to styling.

[2021-08-05 13:22] eclark-cuahsi commented on #4252
@horsburgh and @goodalljl I believe this falls under Resource Model -> Model Instance aggregation. Labeling as an enhancement as it seems to pertain to styling.

[2021-08-05 13:24] eclark-cuahsi commented on #4251
@horsburgh and @goodalljl I believe this falls under Resource Model -> Model Instance aggregation. Can you please review and determine if this is a bug or an enhancement and label accordingly. Thank you.

[2021-08-09 14:06] sblack-usu commented on #3890
After receiving another support issue about an accidentally deleted resource, I decided to get the ball moving on this issue again.  I've updated the Confirm button to be disabled unless a user types "DELETE" into the new textbox.  I would like help with messaging and formatting, if @horsburgh or someone else can give me some guidance on what the new confirmation box should say, I can make the cha

[2021-08-09 14:08] #4299 closed

[2021-08-09 20:27] sblack-usu opened #4308 "hsapi /scimeta/elements endpoint errors with no authentication"
**Description of the bug**
/scimeta/elements hsapi endpoint responds with a system error when no authentication credentials are provided.

Steps to reproduce the bug:
1. Go to https://www.hydroshare.org/hsapi/resource/16b27156f2b1483099f09d3b688e43fb/scimeta/elements/
1. See error

**Expected behavior**
API endpoints should handle requests that do not provide authentication.  Unauthenticated reque

[2021-08-09 21:57] sblack-usu opened #4309 "API endpoint /scimeta/custom currently requires edit permissions to GET"
**Description of the bug**
[update_key_value_metadata_public](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/__init__.py#L390) handles both the POST and GET.  The authorization scope for POST is correct and requires edit permissions.  The authorization scope for GET also requires edit permissions but it should only require view permissions.

Steps to reproduce the bug:
1. curl

[2021-08-09 21:58] sblack-usu commented on #4309
@horsburgh - I believe this is a programming error but I'd like you to confirm that viewing additional metadata via the API should only require VIEW permissions and not EDIT permisssions.

[2021-08-10 12:54] eclark-cuahsi commented on #4235
@Castronova I believe this is an issue related to the User Profile.

[2021-08-10 12:59] eclark-cuahsi commented on #4233
@Castronova @horsburgh I believe this is an issue related to the Resource Landing Page. I've labeled it as an enhancement as it appears to be related to error message text. Please review and update if needed. Thanks.

[2021-08-10 14:23] horsburgh commented on #4309
@sblack-usu - I'm with you. I think viewing metadata via the API should only require VIEW permissions. I realize that this question is only about the "additional metadata" elements, but I think is generally true of the all of the metadata.

[2021-08-10 19:44] sblack-usu commented on #4308
Note that this is only a problem if you make the request in the browser, curl works fine.  It's annoying but probably a low priority.

[2021-08-10 19:51] sblack-usu commented on #4308
This may be remedied by implementing create/update methods on the CoreMetadataSerializer class.  BaseSerializer does not implement those methods.

[2021-08-10 23:01] kjlippold commented on #4306
I've made a first pass at the issue here: https://github.com/hydroshare/hydroshare/pull/4311

There's a few ways to do this, but this is probably the simplest. This just compares the native projection of each resource aggregation to a list of supported GeoServer projections and displays a notification to the user if one or more aggregations are using unsupported projections and directs them to Geo

[2021-08-11 21:35] horsburgh commented on #3890
I would like to see the following text messaging on this form:

Move the "DELETE" text box down below the text.

[2021-08-12 06:05] #4243 closed

[2021-08-12 14:29] eclark-cuahsi commented on #3910
@martinseul can you please review as the product owner for the dashboard/home page.

[2021-08-16 20:55] #4270 closed

[2021-08-16 20:56] #4266 closed

[2021-08-17 13:38] eclark-cuahsi commented on #4122
@martinseul can you please review and determine if this is still needed?

[2021-08-17 13:59] eclark-cuahsi commented on #3377
@martinseul is this issue still relevant?

[2021-08-18 18:28] horsburgh commented on #3890
@sblack-usu - don't forget that we have delete capability on the resource landing page, but also the bulk resource delete on the My Resources page. Messaging and styling should be consistent across both dialogs.

[2021-08-19 16:38] sblack-usu commented on #3890
@horsburgh - would you like the messaging to be different on the my-resources page?

[2021-08-19 17:08] danames commented on #2593
I believe this can be closed. The newly updated Data Rods Explorer linked here https://www.hydroshare.org/apps/ doesn't exhibit any of these issues... I'm closing this issue but if someone can duplicate any of these errors feel free to re-open. I can duplicate it.

[2021-08-19 17:08] #2593 closed

[2021-08-19 18:53] sblack-usu commented on #3890
I updated the messaging for my-resources a bit.  These changes are deployed to beta, please check it out and give me any messaging/styling or functional updates.

[2021-08-19 21:02] horsburgh commented on #3890
I just checked this on beta.  I suggest the following text for the bulk delete from the My Resources Page:

[2021-08-20 20:38] #4271 closed

[2021-08-20 21:17] #4269 closed

[2021-08-21 02:32] imanmaghami commented on #545
@goodalljl Do we still need to have this "Model Package" button given that in the new model design, the model program aggregation and the model instance aggregation(s) being linked to it must sit in the same composite resource?

In the new design, the user can use "Download All Content as Zipped Bagit Archive", and download all the model instance aggregation(s) and model program aggregation(s) inc

[2021-08-21 02:47] imanmaghami commented on #2959
I believe this issue should be closed as we implemented the changes discussed above in release 1.45.

One considerable change from the originally proposed design is that in the deployed design, we only let model instance aggregation(s) to be linked to a model program aggregation if only if they live in the same composite resource.

[2021-08-21 02:47] #2959 closed

[2021-08-21 04:34] #4251 closed

[2021-08-21 11:29] goodalljl commented on #545
No we don’t need it for the reasons you described. Please close it. Thanks!

On Fri, Aug 20, 2021 at 10:32 PM imanmaghami ***@***.***>
wrote:

[2021-08-21 17:12] #545 closed

[2021-08-21 23:51] imanmaghami commented on #4249
@pkdash This behavior is not seen anymore when using the SWAT_Schema_1.0.0.json provided by HydroShare. The "Model Parameters" field has now a few boolean and one string children fields and does not require user to use "Add row" to add the model parameters. But, I am not sure if this behavior can be reproduced if the users upload a new schema that has field with a specific field type that enables

[2021-08-21 23:52] imanmaghami commented on #4250
@pkdash This behavior is not seen anymore when using the SWAT_Schema_1.0.0.json provided by HydroShare. The "Model Parameters" field has now a few boolean and one string children fields and does not require user to use "Add row" to add the model parameters. But, I am not sure if this behavior can be reproduced if the users upload a new schema that has field with a specific field type that enables

[2021-08-23 15:27] hydrocheck commented on #3653
Closing as resolved

[2021-08-23 15:27] #3653 closed

[2021-08-23 16:27] #3669 closed

[2021-08-23 16:40] sblack-usu commented on #2177
Both the UI and API endpoints use [resource_file_add_process](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/utils.py#L891) which includes the noted post-process signal with a file add.  For file delete, both the UI and API endpoints use [delete_resource_file](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/resource.py#L858) which includes the pos

[2021-08-23 16:40] #2177 closed

[2021-08-23 16:45] sblack-usu commented on #1709
This is a "nice to have" but has not been communicated as a priority and we are unlikely to get to it with our current backlog.

[2021-08-23 16:45] #1709 closed

[2021-08-23 21:07] imanmaghami opened #4317 "Broken link between the model instance and model program aggregation file/folder titles and "Title" content metadata after updating"
If the user changes the name of a file- or folder-based Model Instance (or model program) aggregation in the contents panel on HydroShare, the "Title" field of the Model Instance (or model program) Content Metadata in the right panel of HydroShare, doesn't automatically change (and vise versa). If this behavior is not intentional, it needs to be addressed, otherwise I am interested to know why thi

[2021-08-24 00:03] #3890 closed

[2021-08-24 13:54] sblack-usu commented on #3685
I did some investigation on this and it revealed a couple of things.  The iframe is only showing when in edit mode.  At some point, the javascript removes the html and attempts to save it, even if the sanitized key results in an empty string.  The backend will accept and save the key/value with an empty string key and respond with a 200.  The empty string key doesn't appear to actually be saved in

[2021-08-24 16:52] #4309 closed

[2021-08-24 17:45] horsburgh commented on #4317
@imanmaghami - There's some interesting behavior here. I tried this with a geographic feature aggregation to investigate the pattern of behavior with renaming. For a geographic feature aggregation, the metadata title is initially set to the name of the aggregation. I can change the metadata title, and that does not change the name of the aggregation. But, if I change the name of the aggregation, i

[2021-08-24 19:34] horsburgh commented on #2028
This issue is old, and I don't know whether it is still relevant. I'm going to close it as stale.

[2021-08-24 19:34] #2028 closed

[2021-08-24 19:43] horsburgh commented on #1942
Closing this issue as old and stale.

* Capability to get/edit time series metadata through the API has been implemented.
* I suggest that we address capability to create a time series aggregation from an advanced/template upload be future functionality that not be tied to prior time series work. Here I'm thinking about CSV on the Web as an enabler https://www.w3.org/TR/tabular-data-primer/
* I th

[2021-08-24 19:43] #1942 closed

[2021-08-24 19:53] horsburgh commented on #1518
@dtarb and @gantian127 - did this work ever get done? Can this issue be closed?

[2021-08-24 20:04] horsburgh commented on #1399
@dtarb - I suggest that we close this issue from 2016. Perhaps we could work on a consistent implementation of a party model, but we have working implementations for adding people and organizations to resources in the context of owners, authors, and contributors. This issue doesn't explain what actual problems exist or how to fix them.

I'm also confused by the link to issue #1221 - that's a long

[2021-08-24 20:43] horsburgh commented on #4163
@Castronova - I'm not sure whether to label this one a bug, an enhancement, or just close it since it seems unreasonable for someone to input a title like the example.

[2021-08-24 20:45] horsburgh commented on #4157
I think this is a bug. Does the "Preview" item work at all for anything in the file browser?

[2021-08-24 21:09] horsburgh commented on #4066
I don't think this has anything to do with external content or the number of folders. I created a single folder and then just deleted it without putting anything in it. After deleting the folder, I hover the cursor over the file browser toolbar or file path area and the spinny wheel next to the cursor appears as if something is still happening. The delete of the folder appears to be complete.

[2021-08-25 01:17] dtarb commented on #1399
Agreed.  I find myself also not clear on the #1221 link.  It may have been related to ODM2 implementation of a formal representation for metadata, but if work is to be done there needs to be an impetus that there is not at present.

[2021-08-25 01:17] #1399 closed

[2021-08-25 01:50] dtarb commented on #1518
I'd like @sblack-usu to take a quick look.  The metadata in question is now within composite resources and may have been sorted out in the metadata work associated therewith.  The first and third points seem to be resolved based on testing today.  The second point may not be completely resolved.  I tested in
https://www.hydroshare.org/resource/e758191eb1ab4dc0942a4cca3dcc34ff/
In geographic raster

[2021-08-25 04:08] kieutuandungtlu opened #4319 "Add more language to site"
I want to develop a site with 2 languages, a default one, my native language and an optional English. I plan to have my domains as such:

www.mydomain.com/vi/
www.mydomain.com/en/

How I can develop it in Hydroshare?

[2021-08-25 14:42] sblack-usu commented on #1518
The bag ingestion and hsclient work normalized the terms for spatial reference and coverage across all types.  As @dtarb pointed out, 1 and 3 have been resolved.

I do not know how to resolve 2, I did make a [note](https://github.com/hydroshare/hsmodels/blob/f5f186330a09d9ed1ea12e7491e7f0ade3b567a5/hsmodels/schemas/fields.py#L779) in the code that projection and projection_name likely should be jo

[2021-08-25 15:45] horsburgh commented on #4097
Closing this issue given that neither @hyi  or @sblack-usu could duplicate it.

[2021-08-25 15:45] #4097 closed

[2021-08-25 15:54] horsburgh commented on #4093
The layout of the profile editing page is now different than the screen shots in the issue. I can't reproduce this issue in Chrome, Firefox, or Safari browsers. Closing.

[2021-08-25 15:54] #4093 closed

[2021-08-25 16:58] sblack-usu opened #4320 "Release Checklist 1.47"
### Issues in Release
- [x] #4309 API endpoint /scimeta/custom currently requires edit permissions to GET @sblack-usu
- [x] #4316 Bump url-parse from 1.5.1 to 1.5.3 in /hs_discover @sblack-usu
- [x] #4314 Bump color-string from 1.5.3 to 1.6.0 in /hs_discover @sblack-usu
- [x] #4312 Bump path-parse from 1.0.6 to 1.0.7 in /hs_discover @sblack-usu
- [x] #4318 update his central url to https @sblack-u

[2021-08-25 17:02] dtarb opened #4321 "Delete should navigate away from resource landing page. Bulk delete should refresh page."
**Description of the bug**
If I delete a resource from its landing page the landing page remains open displaying resource content, even though the resource is asynchronously deleted.  Attempts to interact with the resource (e.g. switch to edit mode or manage access) then fail.

Steps to reproduce the bug:
1. Go to a resource you want to delete
2. Click on the delete (trash can symbol)
3. Confirm D

[2021-08-26 15:10] eclark-cuahsi opened #4322 "Add MicroSurvey Pop Up to Discover Page to Support HydroShare User Experience Evaluation"
**Describe the feature you'd like and what it will do**
Add a microsurvey pop-up for users after they visit the discover page. The survey has been created using Typeform and the embed code is provided below.

**Why is this feature important?**
Supports the HydroShare User Experience Evaluation being conducted by the TACC team.

**Is your feature request related to a problem? Please describe.**
No

[2021-08-29 03:17] hydrocheck opened #4323 "No information on the initially-disabled "Show Map" button (Discover)"
The "Show Map" button is somewhat predominantly featured on the Discover page.  Upon first interaction with Discover, users may not understand what the button does or why it's disabled.  Neither of these questions has in-app answers/help.

<img width="1440" alt="001" src="https://user-images.githubusercontent.com/43424907/131237081-318d02ad-9f30-4083-996d-2d801fe52dd6.png">

[2021-08-30 15:15] Castronova commented on #3685
![image](https://user-images.githubusercontent.com/4822372/131362270-63e455ac-d7bc-42fe-b70f-746d8b1aef11.png)

[2021-08-31 14:36] #4320 closed

[2021-08-31 15:33] sblack-usu commented on #4319
HydroShare does not host websites, it is a repository for uploading and sharing hydrology data.

[2021-08-31 20:57] horsburgh opened #4324 "Readme.md files rendered with inconsistent fonts"
**Description of the bug**
A clear and concise description of what the bug is.

If a readme.md file is added to a resource that does not have resource level coverage information, the readme.md file is rendered with multiple, inconsistent fonts. The headings are rendered with one font and text is rendered in another font. Readme.md files for resources that have resource level coverage are rendered

[2021-09-08 12:02] dtarb commented on #2559
@horsburgh I tested this on beta with a published resource and all seems good to me.  It may be worth you giving this a once over, and then closing if you think it is done.

[2021-09-08 15:18] eclark-cuahsi commented on #4234
@Castronova is this still an issue or has it been addressed?

[2021-09-08 15:23] eclark-cuahsi commented on #4188
@Castronova has this already been addressed?

[2021-09-08 15:27] eclark-cuahsi commented on #4171
Discussed with @martinseul and we are closing this issue.

[2021-09-08 15:28] #4171 closed

[2021-09-08 15:29] eclark-cuahsi commented on #4106
Discussed with @martinseul and we are closing this issue.

[2021-09-08 15:29] #4106 closed

[2021-09-08 15:30] eclark-cuahsi commented on #4080
@martinseul please review and confirm if this is still an issue and categorize and label appropriately.

[2021-09-08 15:31] dtarb commented on #3519
Closing.  Anything new related to model aggregations needs to be a new issue.

[2021-09-08 15:31] #3519 closed

[2021-09-08 15:36] eclark-cuahsi commented on #3988
@sblack-usu is this something we should consider or should we close the issue if we're not going to pursue?

[2021-09-08 16:03] Castronova commented on #4188
matlab.cuahsi.org does not currently support https. This should be implemented though.

[2021-09-08 16:14] Castronova commented on #4065
@martinseul Is this still an issue or has it been resolved?

[2021-09-08 16:36] martinseul commented on #4028
@hyi I was looking at this issue and tested on beta with this resource https://beta.hydroshare.org/resource/edbd2f01b855451d96c8e49c58101f15/ , I did notice an unexpected behaviour when clicking throught  the older versions.
What I did was create 3 new versions of the resource and when clicking through the older versions the link changed to reference a version on prod
![image](https://user-images.

[2021-09-08 18:11] eclark-cuahsi commented on #4319
Hi @kieutuandungtlu, I'm going to close this issue HydroShare does not host websites, per Scott's comment above. Please feel free to reach out to help@cuahsi.org if you have any additional questions about using HydroShare.

[2021-09-08 18:11] #4319 closed

[2021-09-09 00:34] dtarb opened #4325 "Error reported attempting to open resources found in Discover"
**Description of the bug**
Attempts to open specific resources found in Discover result in the following error

Steps to reproduce the bug:
1. Go to hydroshare.org/search
2. enter 'garousi' in the search bar and enter
3. Click on the second resource on the list with title "Notebooks for post-processing ..."
4. See error

![image](https://user-images.githubusercontent.com/3456833/132603162-f75f4a77

[2021-09-09 15:55] sblack-usu commented on #3988
I have figured out how to version the API and am currently working on API endpoints using hsmodels for metadata GET/PUT.  This work is being done for the Data Submission Portal but will be made available to all.  The new API version will be expanded as hsmodels gains more functionality.  I have been doing this work along with @hyi's work in #4130.  We can generate issues for work needed as this ne

[2021-09-09 15:55] #3988 closed

[2021-09-09 16:00] sblack-usu commented on #4325
Here is the error generated in the logs.

[code]

[2021-09-09 16:03] sblack-usu commented on #4325
The error occurs because python is trying to convert `0\n1297064500\n` to a float.  That string should be the file size from  irods commands.  We need to figure out why irods is giving us that a value with newlines and how to handle or correct it.

[2021-09-09 19:23] sblack-usu commented on #3685
This is image is relevant to #3684, not this issue.

[2021-09-10 15:12] sblack-usu commented on #4325
I am including more information from the owner of the resource.  I looked at the database and noticed there were two ResourceFile entries for `1b66a752b0cc467eb0f46bda5fdc4b34/data/contents/NWM_FSNO.csv` in the resource.  One of them correctly created the file size, the other did not.  This bad database state likely occurred when the files were moved.  I went ahead and removed the duplicate Resour

[2021-09-10 15:12] #4325 closed

[2021-09-13 04:27] imanmaghami opened #4328 "Additional text to be added to the error message when model instance metadata schema is invalid"
I have two comments  to improve the current error messages for two different cases when model instance metadata schema is invalid:

1- Currently, when the JSON schema string is a valid JSON but has attributes/fields that don’t meet the HydroShare requirements, the users see an error message targeting that specific field. A current example of error message for this case is this:

`**Error**! Metada

[2021-09-13 12:49] alvacouch opened #4329 "BuPuSa community changes"
Create a community for BuPuSa manually, in preparation for community management commands.

[2021-09-13 14:12] hyi commented on #4028
@martinseul The url issue is an artifact of the resource copy for testing from www to beta. Since the original resource to be versioned was copied over from production to beta, its identifier as part of metadata stored in database has production site url in it, hence the new versioned resource created on beta points to the original resource on www which was copied over from production. This url is

[2021-09-13 18:58] sblack-usu commented on #4322
Below is an email chain outlining the progress made on this issue.

[code]

[2021-09-13 19:12] martinseul opened #4332 "Improve issue identify"
**Describe the feature you'd like and what it will do**
We should
1. Implement additional test and safeguards to identify
	i. corrupt resources that don't render
	ii. resources where the bag creation fails and are not downloadable

2. implement an easier way to inform the development/user support team that a critical error e.g. a 500 error occured

3. implement an easier way for a user to provide

[2021-09-13 19:14] martinseul commented on #4332
@dtarb, @alvacouch @Castronova as discussed I opened this issue please add comments and suggestions.

[2021-09-14 14:24] eclark-cuahsi commented on #4322
Hi @sblack-usu,

The team is happy with the new version of the survey. I would like to proceed with getting it into production, using the behavior outlined below, but I think we should still test #2 and #3 below in beta as we haven’t done this yet, correct?

Please let me know next steps.

1)	The survey appears on the side bar when a user opens Discover.
2)	The survey tab expands after one minute

[2021-09-14 15:36] eclark-cuahsi commented on #3907
@sblack-usu can you please verify with @alvacouch if this is still an issue that needs to be addressed?

[2021-09-14 15:41] eclark-cuahsi commented on #3647
@sblack-usu is additional action need on this issue or has it been resolved?

[2021-09-14 15:44] sblack-usu commented on #3907
The 504 timeout issue can still occur if a user uploads several files at once, especially if there is a lot of extra processing required from extracting metadata.  There are other issues discussed here that seem to be more about building the resource than the HydroShare application.

Large file upload could limit the potential for the 504 timeout, but we could also implement some lower hanging fru

[2021-09-14 15:49] sblack-usu commented on #3647
I tested this on production and "download zipped" of a single file aggregation includes the metadata XML files.  This issue got fixed somewhere along the way without this issue being closed.

[2021-09-14 15:49] #3647 closed

[2021-09-14 16:00] eclark-cuahsi commented on #3907
@sblack-usu thanks for the quick review. Should this be classified as a bug or an enhancement?

[2021-09-14 17:32] martinseul commented on #1645
@horsburgh @sblack-usu looking at this issue it looks like it could already be or will  be addressed as part of the DSAW/File based metadata project, if so we would not need to track it here as well and close it here as it is a fairly general issue, What do you think?

[2021-09-14 18:54] horsburgh commented on #1645
@martinseul - the work being done by @hyi using hsmodels instead of the Django models should address some of this issue by moving us closer to a file-based metadata management solution. But, I don't think her current work will entirely move us a way from the Django models and so it is probably a partial solution. @sblack-usu or @hyi can probably add more detail.

[2021-09-14 18:55] #4272 closed

[2021-09-15 13:41] pkdash opened #4336 "Tests based on pytest are not executed as part of PR build"
**Description of the bug**
This seems like a regression error. Generation of coverage report by pytest has a dependency on module `pytest-cov` and this module is currently missing. Installing this module should allow running the pytests.

Steps to reproduce the bug:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wha

[2021-09-15 14:15] hyi commented on #1645
@martinseul I agree with @horsburgh. The metadata model will be still needed after my file-based metadata view/update work is completed and merged. We will have to remove all dependency to the metadata model in HydroShare including discovery before we can remove or greatly simplify the metadata model.

[2021-09-15 14:29] martinseul commented on #1645
Thanks @horsburgh and @hyi for your input. So part of the issue that is raised in here has been addressed but other parts need to be done, @hyi would it be possible to create a separate follow on issue describing what we need to do and close this one as it is very broad?