[2014-11-10 20:44] mjstealey opened #1 "django 1.7 upgrade"
## Upgrade hydroshare container to use django v 1.7
### Django 1.6 to 1.7 Notes from 10/31/2014
1. Create a snapshot of running instance
2. Backup database
3. Bring down services
4. Alter database docker and rename to postgres
   1. grant all on postgres
   2. set owner to postgres
5. Backup database postgres **again** and export from container
6. Clone new hydroshare using django17 branch
7. Copy

[2014-11-14 21:55] #1 closed, assigned to mjstealey

[2014-12-08 16:26] dtarb opened #3 "Develop metadata editing for generic resource."
Metadata editing on generic resource landing page with science metadata consistent with spec.

The resource landing page should appear after a resource is created.  This functionality to serve as a template that can be encapsulated in the pages for specific resource types which will have additional metadata elements added.

[2014-12-09 15:21] dtarb opened #4 "Improve sharing functionality on resource landing page"
See Hydroshare2 Issue #37.  Also use email names to disambiguate the specific user account rather than user name as email is more universally recognizable.
![untitled](https://cloud.githubusercontent.com/assets/3456833/5359672/1c3c7fe4-7f8d-11e4-852f-12b8a6058766.png)

[2014-12-09 15:42] dtarb opened #5 "Implement time series resource phase 1"
This involves

1.  [x] 1. Settle the resource content model.  This implies specification of the name for the resource type and documentation of the storage format.  The detail of the documentation is case specific.  Specify the scientific metadata.

2. [x] 2. Add capability to upload and download resource files that are already in the specified storage format through web interface.  Edit metadata

[2014-12-09 15:45] dtarb opened #6 "Implement raster resource phase 1 functionality"
This involves
1. Settle the resource content model. This implies specification of the name for the resource type and documentation of the storage format. The detail of the documentation is case specific. Specify the scientific metadata.
2. Add capability to upload and download resource files that are already in the specified storage format through web interface. Edit metadata through web interface

[2014-12-09 15:48] dtarb opened #7 "Implement feature resource phase 1 functionality"
This involves
1. Settle the resource content model. This implies specification of the name for the resource type and documentation of the storage format. The detail of the documentation is case specific. Specify the scientific metadata.
2. Add capability to upload and download resource files that are already in the specified storage format through web interface. Edit metadata through web interface

[2014-12-09 15:52] dtarb opened #8 "Implement space-time resource step 1 functionality"
This involves
1. Settle the resource content model. This implies specification of the name for the resource type and documentation of the storage format. The detail of the documentation is case specific. Specify the scientific metadata.
2. Add capability to upload and download resource files that are already in the specified storage format through web interface. Edit metadata through web interface

[2014-12-09 15:57] dtarb opened #9 "Implement reference time series resource phase 1 functionality"
This involves
1. Settle the resource content model. This implies specification of the name for the resource type and documentation of the storage format, which may in this case simply be a field that contains the web service endpoint URL.
2. Add capability to create the resource through web interface. Since no file is part of the resource all that has to be specified is the endpoint URL.  Edit met

[2014-12-09 16:03] dtarb opened #10 "Implement RHESSys resource step 1"
This involves
1. Settle the resource content model. This implies specification of the name for the resource type and documentation of the storage format. This may simply be listing of all the files needed by RHESSys and their hierarchical structure.  Specify the scientific metadata. This does not need to be the full content of the files.  It should just be that content we want to store separately

[2014-12-09 16:07] dtarb opened #11 "Initial implementation of use tracking"
The use tracking specification is in Alfresco at https://my.alfresco.com/share/s/qg6hiagfQpuNnYW34Dyvng.

[2014-12-09 16:13] dtarb opened #12 "Implement River Geometry Phase 1 functionality"
This involves
1. Settle the resource content model. This implies specification of the name for the resource type and documentation of the storage format.  Specify the scientific metadata.  Initial implementation should focus only on the river geometry aspects of the HY_features model, with links to other elements to be done later.
2. Add capability to upload and download resource files that are al

[2014-12-09 16:17] dtarb opened #13 "Add a discovery page"
This should implement search over resource metadata in iRODS.  The intention is to use off the shelf elasticSearch functionality supported by iRODS

[2014-12-09 16:21] dtarb opened #14 "Add capability for users to create groups and share resources with groups"
Group functionality is outlined in the Access Control Policy document in Alfresco https://my.alfresco.com/share/s/WJuMf2ghRlyuty0oXrqe5g.

[2014-12-09 16:25] dtarb opened #15 "Resource Publication: Publish Resource with Assigned DOIs"
Implement the capability to have HydroShare resources permanently published with DOIs once their metadata meets the requirements in the Formal Publication Specification Document https://my.alfresco.com/share/s/wqJISdf_TQS5lJs32OoYZw.  This should be coordinated with CUAHSI working with Rick Hooper

[2014-12-09 16:27] dtarb opened #16 "Establish HydroShare as a DataOne member node"
This should expose all formally published resources through HydroShare to DataOne and establish a degree of interoperability between HydroShare and DataOne.

[2014-12-09 16:54] dtarb opened #17 "iRODS basics"
Establish and document the procedures for HydroShare to use iRODS for resource storage.  This comprises
1.  Setting up a HydroShare iRODS server (operating system selection and software stack setup script)
2.  Setting up a HydroShare iRODS datagrid zone (iCAT server)
3.  Documenting procedure for HydroShare iRODS server to join HydroShare iRODS datagrid zone.
4.  Documenting procedure for configur

[2014-12-09 22:14] hyi opened #18 "New metadata implementation of "Coverage" need to include Projection and Unit as sub-elements"
Currently, core science metadata implementation of "Coverage" does not include Projection and Unit as sub elements, and they need to be included as sub-elements of spatial coverage. Pabitra said it will be an easy fix and asked me to file a bug on this issue.

[2014-12-10 05:12] dtarb opened #19 "Develop capability for resources to be stored in iRODS using a non proxy user account"
6.  [x]  1. Set up development HydroShare iRODS server and datagrid

6.  [x]  2. Set up development Django instance to participate in this datagrid

6.  [ ]  3. Modify account creation capability to create account in iRODS

6.  [ ]  4. Modify resource creation capability to store resources under the originators account

[2014-12-10 19:24] selimnairb opened #20 "Capability to create resource via REST API from content specified by http URL"
Allow for the creation of a new resource using the REST API where the resource file content is not uploaded as part of the POST request, but instead the POST contains an http URL from which the resource content should be downloaded.

[2014-12-11 16:03] ironfroggy opened #21 "Suggestion: Put docs/ in an online readable format"
When potential contributors are looking at at the repository on Github, the docs/ folder is very opaque. They can't see anything without checking out the repo first or grabbing specific files in flat formats. This is why most development documentation for a project is usually in a format like Markdown where they'd be able to read through documentation right on the repo to know if it is something t

[2014-12-12 15:48] mohamedmorsy opened #22 "Create General Model Instance Resource"
Step No.1:

The Model Instance resource describes data for a general hydrological model input and output files for a specific time and place. It includes the core extra metadata that is required for describing the input and output data for any hydrological model. A spreadsheet containing our proposed core metadata for a Model Instance resource was uploaded on Alfresco: https://my.alfresco.com/shar

[2014-12-30 18:29] jsadler2 opened #25 "'ascii' codec can't encode character u'\xe1' in position 59: ordinal not in range(128)"
When I put in this string "tanec kráva" for the title of my resource, I get the "'ascii' codec ..." error.

[2014-12-31 18:25] ironfroggy opened #26 "Authorized Comments"

[2014-12-31 19:22] ironfroggy opened #27 "Improved verification e-mail security"

[2015-01-01 14:26] ironfroggy opened #29 "Verification Resend is not Functional"
http://beta.hydroshare.org/hsapi/_internal/resend_verification_email/

[2015-01-01 17:54] ironfroggy opened #30 "Setup Haystack"

[2015-01-01 21:55] ironfroggy opened #31 "requirements.txt isn't used"
The requirements.txt file lists dependencies, but the Dockerfile only installs a few specific Python packages, instead. Does requirements.txt need to be added to the Dockerfile? It is the standard way to define Python dependencies for a project and a convention that will help any prospective or new developers find their way around the infrastructure.

[2015-01-01 21:57] ironfroggy opened #32 "Adding elasticsearch to docker setup"
There will need to be a new Docker container defined to install, run, and manage an ElasticSearch instance to perform content indexing and search queries.

[2015-01-01 23:57] hyi commented on #31
Just want to add a note that requirements.txt file is used in hs_docker_base sub-directory when most (if not all) required packages are installed into hs_base container for use by hydroshare. There is no requirements.txt being used in the hydroshare root directory, though.

[2015-01-02 13:26] ironfroggy commented on #31
In the interests of continuing the discussing in a single location, here was Michael's follow up:

As Hong mentioned, make reference to the requirements.txt and Dockerfile found in hydroshare/hs_docker_base

In general the Dockerfile defines install components at the OS level (for example apt-get or yum) and requirements.txt defines the Python packages installed using pip.
You will however notice

[2015-01-02 13:29] ironfroggy commented on #31
I did not notice the other Dockerfile in hs_docker_base, I was only looking at the root Dockerfile and that requirements.txt and wondering why they weren't connected. I was however not basing this only on the contents of the files, but on the haystack package I added to requirements.txt not being installed when I rebuilt my containers, until I added them to that root Dockerfile.

Can you explain w

[2015-01-02 20:51] mjstealey commented on #32
I'd think the stock dockerfile/elasticsearch image should suffice... no?
https://registry.hub.docker.com/u/dockerfile/elasticsearch/

Would need to add something like this to the fig.yml file after the rabbitmq declaration.

elasticsearch:
  image: dockerfile/elasticsearch
  ports:
    - "9200:9200"
    - "9300:9300"

[2015-01-03 22:48] dtarb opened #33 "Box needed around text elements that are large to know where they end"
This is based on testing of alpha.hydroshare.org version 1.2.1.  The abstract for a resource can be quite long and on a resource landing page it is unclear where it ends and other resource metadata starts.  A box to separate text elements that can be large, such as is illustrated below would be good.
![p1](https://cloud.githubusercontent.com/assets/3456833/5604014/f8936d0a-935f-11e4-9f29-4e2a943a0

[2015-01-03 22:50] dtarb opened #34 "Download sizes and resource size are inconsistent"
This is based on testing of alpha.hydroshare.org version 1.2.1.

See image below for inconsistencies in sizes displayed for the same resource.
![p2](https://cloud.githubusercontent.com/assets/3456833/5604018/33f9e2a2-9360-11e4-9dac-cea672b45c00.JPG)

[2015-01-03 22:52] dtarb opened #35 "Geographic raster resource metadata incomplete with errors"
The science metadata in resourcemetadata.xml should have coverage, band, variable and method information.  Also the identifier URL's are incorrect, missing a "/"
![p3](https://cloud.githubusercontent.com/assets/3456833/5604028/7976c412-9360-11e4-97ad-cd2b7cfc07d3.JPG)

[2015-01-03 22:54] dtarb opened #36 "Create geographic raster resource without file fails"
This is from testing alpha.hydroshare.org version 1.2.1

If I click Create Resource then set the resource type to “Geographic Raster Resource” then click Describe Resource without browsing for a file, I get an error.  This does not seem to be a problem with Generic resources or RHESSys resources.  It only occurs with Geographic rasters. We need to be able to support the use case where a resource i

[2015-01-03 22:57] dtarb opened #37 "Resources in inconsistent state"
This is from testing alpha.hydroshare.org version 1.2.1

If an error occurs during resource creation the system can end up in an inconsistent state such as illustrated.
![p4](https://cloud.githubusercontent.com/assets/3456833/5604044/26394602-9361-11e4-8411-b25b54097b88.JPG)

I am unable to delete this resource, despite being its owner.

Also resources in this complete state do not show up in the

[2015-01-03 23:03] dtarb opened #38 "Suggestions to improve the presentation of geographic raster resources"
From testing alpha.hydroshare.org version 1.2.1

Coverage name is unclear
Projection name is not sufficiently specific
Units should use US spelling or draw content from the file
Band and variable names should be improved per the following images

![p5](https://cloud.githubusercontent.com/assets/3456833/5604058/f988a764-9361-11e4-86b9-0bcef8bd59f1.JPG)
![p6](https://cloud.githubusercontent.com/asse

[2015-01-03 23:05] dtarb opened #39 "Geographic raster resource comments longer than 50 characters should be allowed"
Testing alpha.hydroshare.org version 1.2.1

I obtained the following error trying to create a resource.  Comments longer than 50 characters need to be allowed.
![p1](https://cloud.githubusercontent.com/assets/3456833/5604066/6ab4e2c2-9362-11e4-9949-dc257bde4cff.JPG)

[2015-01-03 23:08] dtarb opened #40 "Geographic raster resource should only allow one raster file to be saved."
Testing on alpha.hydroshare.org version 1.2.1

It is possible to add arbitrary files to a geographic raster resource.  This should not be allowed as non raster files are not part of the geographic raster data model.

[2015-01-03 23:10] dtarb opened #41 "Landing page naming "placeholder-title-n""
Testing on alpha.hydroshare.org version 1.2.1.

The URL's for all resource landing pages seems to now be placeholder-title-n.  This seems odd and undesirable.

[2015-01-03 23:13] dtarb opened #42 "Clarify delete file warning"
The wording on the warning about deleting the resource file needs to be changed.

I suggest.
“Confirm file deletion.
This will delete the file from the resource.  Consider saving a copy if it is important to you.”

![capture](https://cloud.githubusercontent.com/assets/3456833/5604085/55a43e54-9363-11e4-920f-0ca79b7fc04c.JPG)

It is not true to say that a copy is not retained by HydroShare.  Right

[2015-01-03 23:16] dtarb opened #43 "Export all functionality and saving versions"
Testing on alpha.hydroshare.org version 1.2.1

Clicking on the left part of Export all should export the most recent version.  Right now it does nothing.

![p7](https://cloud.githubusercontent.com/assets/3456833/5604098/be5ad14c-9363-11e4-97f6-a6f396319e8d.JPG)

One can only export resources by clicking on the right drop arrow and picking a version.  We also do not need a new version that repeats

[2015-01-04 04:02] mjstealey commented on #34
This may simply be due to a difference in how the files are stored by different OS platforms. UNIX uses a single Line Feed (LF) to signify a new line, Windows uses a Carriage Return/Line Feed (CRLF) and Mac uses just a CR. This would apply to text based files only, not binary files.

The calculations are as they should be at the file source on CentOS (Linux)

The single file
`-rw-------  1 irods i

[2015-01-04 14:20] ironfroggy opened #44 "Decide and clarify on public/private information"
Two parts here:
- [x] What information in a profile is public versus private?
- [x] Clarify in the profile editing screen what is public versus private so the user knows when deciding to check the Public checkbox

A point of clarification:
- [x] If the user can fill out a profile with information they mark as private, then why are they entering that information? If no one would see it, maybe there

[2015-01-04 14:23] ironfroggy opened #45 "Multiple alternative names"

[2015-01-04 14:24] ironfroggy opened #46 "User Type as a field on profiles"
University Faculty,
University Professional or Research Staff,
Post-Doctoral Fellow,
University Graduate Student,
University Undergraduate Student,
Commercial/Professional,
Government Official,
School Student Kindergarten to 12th Grad,
School Teacher Kindergarten to 12th Grade,
Other,
Unspecified.
When a user is initially created the default is "Unspecified".  "When a user selects Other, there sho

[2015-01-04 14:26] ironfroggy opened #47 "Add full address as a profile fieldset"

[2015-01-04 14:37] ironfroggy opened #48 "Option to delete your account"

[2015-01-04 14:55] ironfroggy opened #49 "Verification for changed e-mail addresses"
Verifying a new e-mail address for an existing profile is a very different thing from verifying the initial e-mail when registering that account.

- The first e-mail leaves the account inactive until verification, but new addresses require the account remain active
- The first e-mail can be stored in the profile, but new addresses need to be stored separately and only assigned to the profile when

[2015-01-04 15:07] dtarb commented on #44
Good point.  It is not required for users to provide information so lets put a statement on the page that "Information entered here may be publicly visible" and leave it for users to provide it or not as they wish. (I also do not think that our original mockup said anything about keeping info private, but someone added it sometime)

I would like to have the following information required for each

[2015-01-04 15:36] dtarb commented on #49
I agree with the idea of a *temporary* removal (or greying out or locking) of the e-mail field to protect integrity.

Following are email rules that we established (from UsernameEmailRUles1.8 document in Alfresco) that pertain here.  I believe that 3.7 to 3.9 address some of the concerns about cancelling, although the point of being able cancel/revoke email change requests from the profile page as

[2015-01-05 00:52] horsburgh commented on #35
Seems like the URLs should also have a path that indicates the type of "object" that is being referenced.  For example, resources could have "resources" in the URL, users could have "users", groups could have "groups", etc.  Mostly we need to have a little thought about URL patterns throughout the site.

[2015-01-05 00:54] horsburgh commented on #33
My preference would be to have space be the delimiter rather than having lots of boxes or lines. But, agreed that things run together a bit right now.

[2015-01-05 00:58] horsburgh commented on #38
This could be solved with help text on metadata elements that explain what content should go in each field.  I've seen this done a number of ways: making the name of the element a link that goes to a description, hover text that expands with a description (this can get annoying), etc.

For fields that we expect to have a precise definition (e.g., Projection) - we should probably give them a list t

[2015-01-05 05:37] gantian127 commented on #38
The "projection" and "unit" information is extracted from the raster file using the GDAL functions.  I will look into the code to see how to get more projection info.

[2015-01-05 13:38] dtarb commented on #38
Some of the needed information is in the GDAL metadata stored in GDAL tiff tags, but figuring out how to read it best may be a challenge.

In reading this in TauDEM we referred to.  This may be a place to start looking.
See http://www.awaresystems.be/imaging/tiff/tifftags/private.html.

and specifically
http://www.awaresystems.be/imaging/tiff/tifftags/geoasciiparamstag.html
http://www.awaresystems

[2015-01-05 17:29] hyi commented on #42
Fixed and changed wording exactly as suggested. Fix pushed into github AGU branch, to be merged into master and reflected in alpha. Closing issue for now for later verification.

[2015-01-05 18:32] hyi commented on #40
Fixed this issue by adding the logic to remove "Add file" button if it is geographic raster resource. Fixed pushed into AGU branch. Closing this issue now for follow-up verification once it makes into alpha.

[2015-01-05 18:48] hyi commented on #36
I fixed the initial error that requires a file to be browsed initially for geographic rasters. However, since all those raster specific metadata fields such as rows, columns, etc. are all required fields, the final create-resource will raise errors indicating these fields are required for geo-raster resource. What is the best way to handle this case? Need guidance to proceed with further fix to th

[2015-01-05 19:04] hyi commented on #39
This issue fixed and the fix pushed to AGU branch. Closing it for follow-up verification once it makes into alpha.

[2015-01-06 03:43] dtarb commented on #36
Fields that are read and populated from the raster file should not be required to be populated for the existence of a resource, or should be populated with sensible null results.  E.g. rows = 0, columns = 0, CellSizeXValue = Unknown.  Then when a file is loaded these should be read from the file and updated.  If the file is deleted then they should go back to the sensible null results.  If the fil

[2015-01-07 01:06] hyi commented on #39
Reopen the issue and attach a "Ready to test" label as Dave suggested.

[2015-01-07 01:07] hyi commented on #40
Reopen the issue and attach a "Ready to test" label as Dave suggested.

[2015-01-07 01:08] hyi commented on #42
Reopen the issue and attach a "Ready to test" label as Dave suggested.

[2015-01-08 00:06] mjstealey opened #51 "Create Reference Generic URI"
### Extends generic resource by:

- uses base generic resource metadata
- no file upload is expected
- single field needed to hold URL
- landing page should reference something like "click this link" to view

[2015-01-08 00:15] valentinedwv opened #52 "Lump/spiltter argument aka Code Cleanup"
Are the standards lumping or splitting?
Presently seems to be lumping, but splitting is possible;
Examples. Models.py could be a folder with an init and models separated.

Why... can be hard to dive in?
I was looking at the my-resources page to look into searching.
 I looked for a my-resources class in hs_core, and a my-resources path in urls.py

Finally did a search. It's tagged as a processor fo

[2015-01-08 15:54] valentinedwv commented on #12
Geometry Examples
* NFIE examples are being uploaded by Tim Whiteacker
* Map of resources on arcGIS online (link TBD)

Identifiers:
* need to develop a pattern so that when data is extracted, identifiers are transfered

Cross Sections and ratings from NFIE
* Loading cross sections will initially use a simple CSV files
* DM suggests
 * ratings and guagings standard for exposing the cross sections a

[2015-01-08 16:18] mjstealey opened #53 "creating a new branch based on issue number"
demonstation

[2015-01-08 16:21] Castronova opened #54 "Create Model Program Resource"
Create a HS resource for hydrologic model programs

[2015-01-08 17:17] mjstealey commented on #53
created for demo purposes

[2015-01-08 17:17] #53 closed

[2015-01-09 21:19] pkdash opened #57 "Implement UI for resource core metadata editing"

[2015-01-12 16:16] hyi commented on #41
Moved "title" field from the second resource-description page to the first resource-selection page so that users get a chance to input a title at the beginning as part of the work for the new resource creation workflow as decided in the resource creation workflow working group at all-hands meeting. The default title is "Untitled resource" if users don't input a title for their resource. As a resul

[2015-01-12 16:23] hyi commented on #38
Band and variable names have been improved as suggested and the changes are in AGU branch to be merged into develop branch. Coverage name and projection are being investigated by Tian to be more clear.

[2015-01-13 15:00] selimnairb opened #60 "Debug running RHESSys model instances in Docker process"
Ensure we are able to run RHESSys model instances in Docker process, with results posted back to HydroShare and visible within the original resource.

[2015-01-13 19:26] hyi commented on #38
Integrated Tian's fix to raster metadata extraction and added further fixes to other related issues and pushed changes to a new branch; created a pull request to have the new branch merged into develop. Tag it to be ready for testing.

[2015-01-14 16:23] hyi opened #62 "Implement new resource creation workflow as decided in all-hands meeting"
Implement new resource creation workflow as decided in all-hands meeting at Logan to have resources created immediately after a resource type is selected with optional file upload and title input. Details below copied from Jeff H.'s note from all-hands meeting:
----------
**What is the state of HydroShare at each step in the resource creation sequence?**
1. User Clicks “create new” to create a new

[2015-01-14 20:00] selimnairb opened #63 "Fix resource URL scheme"
Resource URLs are currently of the form:
    http://www.hydroshare.org/my-resource-slug/
where "my-resource-slug" is based on the title of the resource, and the URL is immutable.  This has numerous problems, including:
 - resources without titles will get stuck with a URL of .../untitled-resource-N/
 - users can create URLs at the base of the hydroshare.org namespace (which could result in e.g. hy

[2015-01-14 21:24] mjstealey opened #64 "View Resource Owner - 'NoneType' object has no attribute 'lower'"
When attempting to view resource owner profile infromation from the resource listing page under the Owner column link, it errors with type: 'NoneType' object has no attribute 'lower'

using alpha.hydroshare.org as an example: http://alpha.hydroshare.org/user/admin/

![screen shot 2015-01-14 at 4 23 48 pm](https://cloud.githubusercontent.com/assets/5332509/5747913/c270e66e-9c09-11e4-8943-3e79c4f6a4

[2015-01-15 00:34] horsburgh commented on #63
We also discussed this at the Logan meeting last week and agreed upon the following patterns:

http://hydroshare.org/resource/{id} ---> Goes to a resource’s landing page
http://hydroshare.org/user/{id} ---> Goes to a user’s profile page
http://hydrohare.org/group/{id} ---> Goes to a group’s profile page

[2015-01-15 14:42] dtarb commented on #40
This issue may be partly resolved, but the resource creation flow that is involved with this still has trouble.  I wanted to see what happened with respect to when it allowed files to be loaded and not loaded so I did the following:
1. Create New Resource
2. Select Type as Geographic Raster (no file selected)
3. Describe resource
4. Fill Abstract and Fill Keyword.
An internal validation error occu

[2015-01-15 14:51] dtarb commented on #42
Thanks for this change.  Closing.

[2015-01-15 14:51] #42 closed

[2015-01-15 15:08] dtarb opened #66 "Delete resource warning message needs changing"
Following is the warning that is given when a resource is deleted.
![capture](https://cloud.githubusercontent.com/assets/3456833/5759769/f3392178-9c9d-11e4-947f-b4a25c9e686f.JPG)

It should not be labeled "Submit Resource for Publication"

I suggest: "Delete Resource".
"This is a permanent action that will delete the resource entirely.  Keep a copy if you still need this information."

Do not say

[2015-01-15 15:17] dtarb opened #67 "The delete resource button is missing for a geographic raster resource"
This is in alpha.hydroshare.org on 1/15/15.

[2015-01-15 15:22] dtarb commented on #41
URLs that end up "Untitled Resource" are just as unclear as "Placeholder".  See issue #63.  Following is how landing page URL's should be done.

http://hydroshare.org/resource/{id} ---> Goes to a resource’s landing page
http://hydroshare.org/user/{id} ---> Goes to a user’s profile page
http://hydrohare.org/group/{id} ---> Goes to a group’s profile page

[2015-01-15 15:29] dtarb commented on #39
This error still exists for method.  Please think through what the length of all fields should be.  50 characters is insufficient for method, just as it was insufficient for comment.

[2015-01-15 15:35] dtarb commented on #38
The resource landing page is now missing projection information. It is also missing Place/Area Name.

[2015-01-15 16:38] rayi113 opened #68 "Update Profile on Alpha does not work"
Update Profile on Alpha does not work.  When selecting the "Update Profile" button at the bottom of the page after updating one's profile, the page erases one's email address and requests that the issue be corrected, but it cannot be since the email field is not editable.

[2015-01-16 17:06] mjstealey opened #69 "Minor code clean up and reference clean up"
File reference and code clean up to better apply to generic development and not a specific developer or machine

[2015-01-16 19:17] mjstealey commented on #69
updates to fig files, Dockerfile files, and local_settings

[2015-01-16 19:17] #69 closed

[2015-01-16 20:52] hyi commented on #38
mark this issue as "Fix pushed to github." Now the fix has been merged into develop branch. Once it makes its way into alpha, will mark it as ready for testing.

[2015-01-16 20:53] hyi commented on #64
mark this issue as "Fix pushed to github." Now the fix has been merged into develop branch. Once it makes its way into alpha, will mark it as ready for testing.

[2015-01-16 21:38] hyi commented on #18
Verified the fix and closing the issue.

[2015-01-16 21:38] #18 closed

[2015-01-16 22:41] hyi commented on #66
FIx pushed to github, pull request created to be merged into develop.

[2015-01-16 22:42] hyi commented on #39
FIx pushed to github, pull request created to be merged into develop.

[2015-01-17 06:00] dtarb opened #72 "Sign in versus log in"
Establish consistent semantics for entering and leaving HydroShare.  I suggest
Sign in
Sign out
Join HydroShare

[2015-01-18 16:06] dtarb commented on #66
Verified in test VM.  Closing.

[2015-01-18 16:06] #66 closed

[2015-01-18 16:20] dtarb opened #74 "Browsing for files to add to resources"
When browsing to add multiple files to a resource, the file names selected should be listed when there is more than one file.

![capture](https://cloud.githubusercontent.com/assets/3456833/5793070/fc16087a-9f03-11e4-8290-900e1cac735e.JPG)
List files selected rather than just indicating 2 files selected.

If a user browses again the files they select should be added to the list, rather than the lis

[2015-01-18 16:40] dtarb opened #75 "Gracefully handle user entry of text fields that exceed length limits"
If a user enters a variable name for a geographic raster resource that is longer than the allowable limit (50 characters) the following error occurs:

![capture](https://cloud.githubusercontent.com/assets/3456833/5793084/fc90e396-9f04-11e4-8c06-e79be81107d4.JPG)

I suggest the following changes:
1.  Increase the limit to 100 characters.  50 characters may  be too small.  We need to consistently ac

[2015-01-18 16:46] dtarb commented on #39
Tested on development VM.  Both long methods and long comments now work.  Closing this issue.  There is a related issue #75 just opened related to gracefully handling all over limit user entries.

[2015-01-18 16:46] #39 closed

[2015-01-18 16:50] dtarb commented on #38
Tested on development VM.  Closing.

[2015-01-18 16:50] #38 closed

[2015-01-18 16:53] dtarb commented on #64
In my testing this appears to be resolved, but I do not know exactly what Michael did to generate this error, so leave it for @mjstealey to test and close.

[2015-01-18 17:21] dtarb opened #76 "Only allow user editing of some geographic raster metadata"
The following geographic raster metadata fields should be user editable
- coverage place/area name
- name
- variable
- units
- method
- comment

The following geographic raster metadata fields should be read from the geographic raster file and never be user editable.  User editing of these would result in an inconsistency between the file and the metadata which should be avoided.
- rows
- columns

[2015-01-18 17:31] dtarb opened #77 "Geographic raster resource creation fails if the geotiff file has some metadata missing"
The following error results if a geographic raster resource is created that does not have projection metadata.

![capture](https://cloud.githubusercontent.com/assets/3456833/5793338/aea064e6-9f0d-11e4-9d93-6516b16d8d6b.JPG)

The file that generates this error is at http://beta.hydroshare.org/r/32ae0f96058e4651bde9095166525f65/ as a generic resource.

HydroShare should gracefully handle a file with

[2015-01-19 02:07] dtarb commented on #27
It is still possible to have multiple accounts with the same name.  Full details of the desired email rules are in docs/DesignDocs/UserNameEmailRules.md on branch 72-sign-in-and-sign-out that should be merged in due course.

This is part of the process to migrate design documents from Alfresco to github on an as needed basis.

[2015-01-20 06:18] pkdash commented on #62
Not all of the requirements have been implemented yet. We may have to break issue#62 to a number of sub-issues.

[2015-01-20 19:34] valentinedwv opened #78 "Downloads. Reference to Hydroshare lost"
When I download a file, what I get is the file. This loses the any reference to the hydroshare.

IMHO, default download should be a bag/package with the metadata.

[2015-01-20 20:01] dtarb commented on #78
If you click on Export All for a resource you get the entire bag.  If you click on download on a file, you get just the file.  So both options are there.  When a resource has multiple files a user may want to just download one file and this functionality supports this use.

Now perhaps the semantics could be changed to make it more apparent that Export All gives the bag and Download gives individu

[2015-01-20 20:12] hyi commented on #77
This involves two sub-issues. First, this error was caused by a Django file upload default behavior. Specifically, by default, Django holds the uploaded file in memory if the uploaded file size is less than 2.5mb, otherwise, django writes uploaded file to a temporary location on disk. In this case, the uploaded geotiff file size is ~850K, which is less than 2.5mb, hence the file was held in memory

[2015-01-20 20:17] hyi commented on #75
I changed this field to be text field rather than char field with a hardcoded length limit so users will not run into this "exceeding limit" error. I think this approach is better for all fields whose hardcoded length could be exceeded rather than adding logic to inform users the limit they have to stick to gracefully. Fix pushed to github to be merged into develop.

[2015-01-20 20:19] valentinedwv commented on #78
Worked on the NFIE file.

Suggest the first option should be to Download the resource.
Change "Export All"  to "download resource"
    Show a list of files in the resource with a label "Downloads a package with these files from this resource"

Below this have an Section: labeled "Download Individual Files"

[2015-01-20 23:27] dtarb commented on #78
I like these suggestions for renaming and labeling the buttons.

Dave

On 1/20/2015 3:19 PM, David Valentine wrote:

[2015-01-21 17:52] horsburgh opened #81 "Users should agree to a data publication agreement"
Related to the new resource creation workflow described in #62 - the default is now that resources are by default private. When a user chooses to make a resource public OR when a user decides to formally publish a resource, they should agree to a data publication agreement where they certify that they have the right to make their content public and that they are not violating any copyright agreeme

[2015-01-23 13:58] hyi opened #82 "Modify Raster Resource Type app to use new metadata implementation"
Modify raster resource type app to use Pabitra's new metadata implementation to get ready for the next step to convert it to use the new resource creation workflow.

[2015-01-23 20:51] mjstealey opened #83 "Docker iRODS container for development (hydrodev) environment"
Create an iRODS iCAT server that can be deployed as a Docker container for use in the development environment.

- This is a first step towards unifying the development and production environments so that both initially use a single proxy iRODS user.
- Eliminates the need for separate hs_base images (hs_base vs. hs_base_irods)
- iRODS proxy credentials will be defined in local_settings.py

[2015-01-23 23:04] shaunjl opened #84 "Create Tools Resource Type"
## Purpose

* designed to link the resource to an external tool that will use the HS external API to expand on the resource through visualization, etc.

## Extends generic resource by:

* uses base generic resource metadata
* extends resource metadata with
    * URI that can take post requests
    * Costs / Fees
    * tool license
    * tool version number
    * list of resource types that can use

[2015-01-26 14:50] mjstealey commented on #68
Calvin, this is likely a quick fix. Could you take a look at this?

[2015-01-26 15:01] mjstealey commented on #31
Resolved via discussion by email of usage

[2015-01-26 15:01] #31 closed

[2015-01-26 15:02] mjstealey commented on #34
Resolved via discussion

[2015-01-26 15:02] #34 closed

[2015-01-26 15:10] rayi113 commented on #17
- [x] Setting up a HydroShare iRODS server (operating system selection and software stack setup script)
- [x] Setting up a HydroShare iRODS datagrid zone (iCAT server)
- [ ] Documenting procedure for HydroShare iRODS server to join HydroShare iRODS datagrid zone.
- [ ] Documenting procedure for configuring HydroShare Django instance to use HydroShare iRODS grid as a network file system.

[2015-01-26 15:10] #64 closed

[2015-01-26 15:18] rayi113 commented on #45
HydroShare Profile Issues in GitHub: #44, #46, #47, #48, #49, #68

[2015-01-26 15:19] rayi113 commented on #44
HydroShare Profile Issues in GitHub: #44, #46, #47, #48, #49, #68

[2015-01-26 15:19] rayi113 commented on #46
HydroShare Profile Issues in GitHub: #44, #46, #47, #48, #49, #68

[2015-01-26 15:20] rayi113 commented on #47
HydroShare Profile Issues in GitHub: #44, #46, #47, #48, #49, #68

[2015-01-26 15:20] rayi113 commented on #49
HydroShare Profile Issues in GitHub: #44, #46, #47, #48, #49, #68

[2015-01-26 15:20] rayi113 commented on #68
HydroShare Profile Issues in GitHub: #44, #46, #47, #48, #49, #68

[2015-01-26 15:26] rayi113 commented on #3
HydroShare Generic Resource Issues in GitHub: #3, #57, #75

[2015-01-26 15:26] rayi113 commented on #57
HydroShare Generic Resource Issues in GitHub: #3, #57, #75

[2015-01-26 15:26] rayi113 commented on #75
HydroShare Generic Resource Issues in GitHub: #3, #57, #75

[2015-01-26 15:29] rayi113 commented on #62
HydroShare Resource Creation Workflows Issues in GitHub: #37, #62, #81

[2015-01-26 15:31] rayi113 commented on #37
HydroShare Resource Creation Workflows Issues in GitHub: #37, #62, #81

[2015-01-26 15:31] rayi113 commented on #81
HydroShare Resource Creation Workflows Issues in GitHub: #37, #62, #81

[2015-01-26 15:32] rayi113 commented on #41
HydroShare Resource Creation URL Issues in GitHub: #41, #63

[2015-01-26 15:32] rayi113 commented on #63
HydroShare Resource Creation URL Issues in GitHub: #41, #63

[2015-01-26 15:37] danames commented on #63
Also what if two resources have the identical title?

On Wed Jan 14 2015 at 1:00:30 PM Brian Miles <notifications@github.com>
wrote:

[2015-01-26 15:41] horsburgh commented on #63
Shouldn't matter since the title would not be used in the URL.

[2015-01-26 15:46] danames commented on #63
I'm looking at alpha.hydroshare.org and the resource landing pages do use
the title, so it is critical to change this to the new pattern before the
next release..

For example these links work but shouldn't...

http://alpha.hydroshare.org/ponies/
http://alpha.hydroshare.org/random-dmv-form/

On Mon Jan 26 2015 at 8:41:51 AM Jeff Horsburgh <notifications@github.com>
wrote:

[2015-01-26 15:48] horsburgh commented on #63
Yeah - I think that's what inspired this issue originally.

[2015-01-26 15:51] pkdash opened #85 "Wrong file gets deleted from a resource"
When a resource has multiple files listed and one tries to delete any file other than the first one from the list, it deletes the first one.

[2015-01-26 16:22] pkdash opened #86 "Resource filtering on my resource is page not working"
The existing resource filtering based on resource metadata is not working since the filter is based on the old metadata implementation.

[2015-01-26 17:59] pkdash commented on #86
Remove filtering from my resource page for the January release as suggested by Dave T.

[2015-01-26 23:10] ironfroggy commented on #68
I will look at this tomorrow morning and get a fix up as soon as I can.

[2015-01-27 03:19] ironfroggy commented on #68
I believe I understand the problem, and unfortunately it looks like the only way to force a properly readonly (and not disabled) field is to replace the generic profile form mezzanine provides, so I've started that. Unfortunately, I don't know the state of merges. Can someone let me know what branch is currently deployed to alpha that I need to submit a fix against?

[2015-01-27 05:24] dtarb opened #88 "Clarify wording on Create Resource page"
The current (Sandbox - see below) Create Resource Labeling needs to be changed

The title and URL for this page should be "Create Resource"
The bullets should read
- Files you upload here will be grouped together into a "Resource"
- File size is limited to 10 GB per file
Delete the 3rd and 4th bullet

![untitled](https://cloud.githubusercontent.com/assets/3456833/5913930/6b3d6452-a5ba-11e4-87e1-a0

[2015-01-27 20:54] hyi commented on #85
Fix pushed to github and a pull request is created to be merged into develop.

[2015-01-27 21:36] hyi commented on #41
It turns out all resource pages and urls are managed by Mezzanine. All resource pages are Mezzanine pages and Mezzanine's function get_absolute_url() returns url slug for a Mezzanine page object. Will investigate more trying to override Mezzanine's default behavior for our desired resource url mapping, but it may not be as easy to achieve what we want.

[2015-01-28 01:27] dtarb commented on #41
Would it be possible to at creation pass the guid as the name of the
resource.  Then it gets that URL right from the beginning.  The resource
creation workflow can then change the title to untitled, and allow the
user to change the title to whatever they want, but the GUID is locked in.

On 1/27/2015 4:36 PM, hyi wrote:

[2015-01-28 05:29] pkdash opened #90 "Remove all references to 'dublincore' submodule in hs_core"

[2015-01-28 06:24] pkdash commented on #88
This has been fixed in the latest '62-resource-creation-new-workflow' branch. Initial testing can be done on the sandbox server (once deployed).

[2015-01-28 15:08] hyi commented on #41
Looked into Mezzanine code and fixed this issue by adding one line to call set_slug() function on a resource page. Fix pushed to github and a pull request to merge the fix into develop branch is created. However, not sure whether we need to change user and group URLs to use the IDs rather than names. I guess for consistency, it makes sense to use IDs for user and group URLs as well, but for legibi

[2015-01-28 15:32] horsburgh commented on #41
For users and groups it's really the same issue as with resources.  If we allow users to change user or group names, either the URLs for users or groups will change (breaking any links to them) or they will stay the same but no longer be consistent with name of the user or group.

Our discussion at the Logan meeting settled on resources, users, and groups having persistent identifiers that are not

[2015-01-28 16:36] pkdash opened #92 "Make generic resource landing page template easily extensible"
Add more template blocks to genericresource.html which can be then easily replaced by other resource types for their landing page requirements if needed.

[2015-01-28 17:10] Castronova opened #93 "Add support for get resources by type"
Need to extend the hydroshare API (hydroshare/users.py) **get_resource_list** function to support filtering by resource type.  This is necessary to discover existing resources during the creation phase (e.g. linking *model instance* with a *model program*).  I anticipate that this functionality will also be useful for other resources in the future.

I believe that this can be accomplished by modif

[2015-01-28 21:08] hyi commented on #41
I am seeking input from the team on where user and group urls are displayed from Hydroshare web interface. The only place I can find user url currently is from the user link in Owner column from my-resources page, such as http://beta.hydroshare.org/user/dtarb/, which is managed automatically by a Mezzanine template tag called contact. I cannot find group url anywhere from hydroshare web interface.

[2015-01-28 21:11] dtarb commented on #41
I do not think it has been possible to create groups yet.  Jefferson may
have started on functionality but it was never finished/operational so I
do not thing group urls are visible on any current hydroshare pages.

On 1/28/2015 4:08 PM, hyi wrote:

[2015-01-28 22:45] hyi commented on #41
Finally found the right place I can make changes to make user url to use user id rather than user name. The template filter "contact" is not a mezzanine or django tag, but a hydroshare tag implemented in hydroshare_tags.py. After I figure this out, the fix is simple. Now both resource and user urls are displayed as decided. Group urls are not implemented in Hydroshare yet, but need to follow the u

[2015-01-29 16:00] hyi commented on #63
Same fix to issue [#41] applies to this issue as well.

[2015-01-30 02:20] dtarb opened #96 "Password reset is missing entry box"
If I select reset your password on the login page the password reset page that comes up has no box to enter username or email.  This is a problem with both dev and alpha as currently deployed.  However for beta.hydroshare.org there is a reset box that works if the entry matches one account.

[2015-01-30 16:02] pkdash opened #97 "Export resource citation information in RIS format"
Refer to Section#7 of https://my.alfresco.com/share/hydroshare.org/page/site/HydroShare/document-details?nodeRef=workspace://SpacesStore/eab512e6-89df-48b8-a98a-2923083f6660 for requirements.

[2015-01-30 22:16] dtarb commented on #97
Someone suggested to me to also support machine readability of citations by systems such as zotero.  See https://www.zotero.org/support/dev/exposing_metadata

[2015-02-02 22:22] pkdash opened #99 "Remove form elements for displaying science metadata when not in edit mode"

[2015-02-04 05:21] pkdash opened #102 "Provide service(s) in hs_core that can be used by other resource types to detect resource display mode"
Resource possible display modes are 'edit' and 'view only'. In order for other resource types to use most of the code provided by the generic resource in relation to displaying resource metadata either in display mode or edit mode, these resource types need to know resource display mode so that they can  prepare the 'context' object appropriately for the resource landing page template.

[2015-02-04 17:41] rayi113 opened #105 "1.4GB file upload on Alpha failed"
In Release 1.3.0.rc0, tried to upload 1.4GB file (located here on beta: http://beta.hydroshare.org/r/2f49df41c89b401389a023db70563ac4/ ).  Failed with the following error:

IOError at /hsapi/_internal/create-resource/do/
[Errno 2] No such file or directory: '/tmp/hydroshare/5074c7c520a84e6a884ba44a40a4b4ac.zip'
Request Method:	POST
Request URL:	http://alpha.hydroshare.org/hsapi/_internal/create-re

[2015-02-04 17:41] danames opened #106 "Alpha release suggestions"
- [x] \(**merged into develop**) When signing in, the sign in page header says, "LOG IN" it should say "SIGN IN".
- [x] \(**merged into develop**) When signing in, I enter my user name and password and there is a large green button that says "Log in". It should say, "Sign in".
- [x] \(**merged into develop**) [#111]Font of all editable text boxes on the resource landing page (in edit mode) is tiny

[2015-02-05 14:14] hyi opened #107 "Add logic into new resource creation workflow view to handle special case such as reference time series resource"
After discussion during development call and some follow-up email exchanges, it is decided to reinstate the previous logic for handling special case such as reference time series resource in the effort to get reference time series resource to work with the latest develop branch with the new resource creation workflow. Jeff/Shaun have already got reference time series resource to work with the prev

[2015-02-05 15:54] hyi commented on #85
Ready for testing on alpha.

[2015-02-05 16:19] mjstealey commented on #106
Modified Dan's list to be checkbox items that can reflect the state of completion
- [ ] unchecked - not yet done. If in progress add the issue [#106] reference
- [x] checked - has been completed and should have some reference to an issue [#106] or commit

[2015-02-05 16:26] pkdash commented on #106
- [ ] Use placeholder for the 'Title' element on resource creation page

[2015-02-05 16:57] pkdash opened #109 "Metadata update takes for ever when the resource has a large file"
I uploaded a file of size 1.4 GB. Then in resource editing page when I tried to update any metadata fields it felt like nothing is happening. It took quite a long time for the update success message to show up.

[2015-02-05 16:58] twhiteaker commented on #12
# File Format -- why CSV
My first thought was to look at a HEC-RAS file as a starting point, to see how hydraulic software might store cross sections. With x-y pairs appearing in two columns, it didn’t seem like a very interoperable solution to me. On 2015-01-08, Dave Valentine suggested initially using comma separated values (CSV) files for cross sections, and I now agree with that approach. It’s

[2015-02-05 17:00] rayi113 commented on #105
Related to #109

[2015-02-05 17:00] rayi113 commented on #109
Related to #105

[2015-02-05 17:51] mauriel133 opened #110 "General UI style/grammar changes from issue [#106]"
I will be addressing some of the suggestions addressed in #106

[2015-02-05 18:59] pkdash opened #111 "Fix some of the items from issue[#106]"

[2015-02-05 19:01] mjstealey commented on #110
@mauriel133 - Could you please update the checkbox items in issue #106 to reflect the items that you will be working on in this branch? We can then divide the remaining items into other developers branches that will also be looking at these.

As an example, adding your branch number to the checkbox item that will be addressed.

- [ ] \(Next Release) [#110] Select latitude and longitude from a map

[2015-02-05 19:03] dtarb commented on #86
Done in alpha release candidate

[2015-02-05 19:03] #86 closed

[2015-02-05 19:05] dtarb commented on #99
Done in alpha release candidate

[2015-02-05 19:05] #99 closed

[2015-02-05 19:15] mauriel133 commented on #110
Understood. Could you please add me to the repository so I can make those changes?

[2015-02-05 19:16] twhiteaker commented on #12
Example files: http://beta.hydroshare.org/r/7f6b50d620ae4ee3b405cdf4fb08e80a/

[2015-02-05 23:26] jsadler2 opened #112 "Alpha release suggestions"
* If your metadata is insufficient it should list why. I know it's highlighted when the page first loads but the missing elements should be listed next to the 'Incomplete' status.

* The user shouldn't have to refresh the page to end the 'editing' session. I think that having a 'Finish Edits' or 'Save Edits' would be better

[2015-02-06 03:13] dtarb commented on #106
I added comments tagged DGT to the list resolving items flagged as needing discussion.  I think that all items on this list should be implemented.  However ones that cannot be quickly and easily implemented should be deferred to next release.

[2015-02-06 11:43] dtarb commented on #96
Tested

[2015-02-06 11:43] #96 closed

[2015-02-06 12:21] dtarb commented on #12
I suggest starting initial implementation based on this model, with a recognition that there may need to be adjustments as use practices and issues arise.

Some questions and comments:
1. Each resource is intended to be complete in some sense so it can stand alone as a published entity, with title, abstract, list of creators, coverage and eventually DOI.  Single cross sections are quite fine grain

[2015-02-06 15:04] dtarb commented on #88
Tested and approved

[2015-02-06 15:04] #88 closed

[2015-02-06 15:06] dtarb commented on #85
Tested and approved

[2015-02-06 15:06] #85 closed

[2015-02-06 15:09] dtarb commented on #78
A better solution implemented in Alpha.

[2015-02-06 15:09] #78 closed

[2015-02-06 15:12] dtarb commented on #63
Implemented for Alpha

[2015-02-06 15:12] #63 closed

[2015-02-06 15:13] dtarb commented on #62
Implemented in Alpha for v 1.3 deployment

[2015-02-06 15:13] #62 closed

[2015-02-06 15:14] dtarb commented on #57
Tested and approved Alpha v1.3 deployment

[2015-02-06 15:14] #57 closed

[2015-02-06 15:16] dtarb commented on #41
Implemented and testec Alpha v 1.3

[2015-02-06 15:16] #41 closed

[2015-02-06 15:17] dtarb commented on #37
Presumed to be resolved by new resource creation workflow.

[2015-02-06 15:17] #37 closed

[2015-02-06 15:20] dtarb commented on #3
Implemented and tested at Alpha v1.3

[2015-02-06 15:20] #3 closed

[2015-02-06 16:05] pkdash opened #116 "Multiple resource bag files on disk - there should be only one bag file on disk per resource"
The current implement does not delete the exiting bag file before creating a new one. However, this problem doesn't affect the user.

[2015-02-06 17:54] mjstealey commented on #116
pull request merged into develop [reference: pull 117](https://github.com/hydroshare/hydroshare/pull/117)

[2015-02-06 23:15] shaunjl opened #118 "ResourceFileCRUD bug fix"
The resource-api.py/ResourceFileCRUD calls f.resource_file.url whereas it should call f.url.

[2015-02-07 21:08] dtarb opened #120 "Bounding Box Latitude and Longitude Mislabed"
In Alpha version 1.3 Box geographic coordinate labels should be corrected to say "South Latitude" and "West Longitude"

[2015-02-08 00:19] shaunjl commented on #112
On your first bullet by "when the page first loads" do you mean the first redirect after clicking on "create resource?" If so I agree. Maybe a quick fix would be to add some logic next to that status that says something like {% if not keywords %) ...

[2015-02-08 00:30] shaunjl opened #121 "Alpha Release Suggestions"
It's strange that there is a placeholder for the Coverage metadata term. Not all have this, and it's optional so maybe it shouldn't have any.

I feel less strongly about this one, but the language one might benefit from being the same way. I just threw up some python code as my resource to play around and realized that it's not really language specific. So I put "No linguistic content: not applica

[2015-02-09 20:06] mauriel133 opened #124 "Resource landing page UI"
I will be changing the style/layout of the resource details page and some other general UI changes.
- [x] Move abstract to the top.
- [x] Restyle "Content" field.
- [x] Create Keywords container and remove the old field from the table.
- [x] Reposition citation
- [x] Reposition Rights and URL
- [x] Organize the rest of the fields into the following tabs: Contact, Coverage, Related Resources, Resou

[2015-02-09 23:04] pkdash commented on #106
Can't reproduce item 5 and 6 from the above list.

[2015-02-10 00:09] pkdash opened #125 "Database migration code to migrate existing resources to use new metadata elements"
Test migration code on resources on dev.hydroshare.org

[2015-02-10 03:11] ironfroggy opened #126 "Relabel non-API views"

[2015-02-10 03:11] ironfroggy opened #127 "Remove existing non-functional or non-compliant API"

[2015-02-10 03:11] ironfroggy opened #128 "Remove TastyPie"
- [ ] Remove references from pg.hs_init_db.sql (is there a way to generate a new version of this?)
- [ ] Remove unused imports
- [ ] Remove/empty all api modules
- [ ] Remove requirements and remove from any images
- [ ] Remove settings
- [ ] Remove tastypie-swagger
- [ ] Remove from hs_bagit
- [ ] Remove API tests

Open questions:
- [ ] What is hs_core/hydroshare/resource.py lines 56-57 referenci

[2015-02-10 03:16] ironfroggy opened #129 "DataONE Tier 1 (Read-Only) Compatible API"

[2015-02-10 03:16] ironfroggy opened #130 "API Authentication"

[2015-02-10 03:17] ironfroggy opened #131 "Non-public Resource read-access via API"
Requires #130

[2015-02-10 03:18] ironfroggy opened #132 "files/ APi for resource data access"
GET or PUT individual files, ranges of files, or append to a file

[2015-02-10 13:45] mjstealey commented on #106
@pkdash / @danames - For the time being I've put a try/except around the get_citation function on alpha. This is **NOT** in any of the branches, just on the alpha VM itself. It is gross error checking in that it passes or fails as a chunk, and does not validate at each attribute level of the citation, which is what should be done.

At present if it fails you get a "**something_bad_happened_here**"

[2015-02-10 17:31] jsadler2 opened #134 "Broken links in "Support" tabs"
The "sign in" links in the 'Support' tabs are broken

[2015-02-10 18:57] mjstealey commented on #110
Will need to modify the production database directly in order to accommodate any fixes that were submit as part of pg.hs_init_db.sql as that database only resides in the development environment.

[2015-02-10 22:32] mauriel133 commented on #134
Referenced this issue by mistake, corrected it on the correct issue [#124].

[2015-02-10 23:32] dtarb opened #136 "Revise help pages to be consistent with existing functionality"

[2015-02-11 12:41] ironfroggy commented on #128
@mjstealey can you give some direction on my first bulletpoint here: removing tastypie from pg.hs_init_db.sql? Do you have a way to regenerate that file when the schema changes?

[2015-02-11 13:47] ironfroggy opened #137 "Question: What becomes of the Users API?"
We discussed the problematic Resources API and the non-TastyPie Internal API, but there is also a Users API (the url mappings are below for reference) which handles several things separate entirely from anything under the umbrella of DataOne compliance, so I'm wondering what to do with it. I don't know if this is used, functional, correct, or some combination of the three. The plan was to remove T

[2015-02-11 15:11] mjstealey commented on #136
Duplicate of #134
Fix has been merged into develop branch #135

[2015-02-11 15:15] mjstealey commented on #121
Requires discussion

[2015-02-11 15:18] mjstealey commented on #118
Merged with pull request #119

[2015-02-11 15:19] mjstealey commented on #112
Requires discussion

[2015-02-11 15:38] pkdash opened #138 "Missing required metadata elements are not being shown in resource landing page in view mode in alpha release"

[2015-02-11 15:40] dtarb commented on #137
Perfectly fine to assign to me.  Lets also have @horsburgh and @selimnairb involved in the discussion.  We definitely need a user API.  I am not aware of anything that actually uses the user API yet so given the changes to underlying user profile it is likely not working.  There may be one or more unit tests for this API that were written sometime April-June 2014.  @rayi113 may be able to troll th

[2015-02-11 17:11] twhiteaker commented on #12
I reviewed Arc River, Arc Hydro, RiverML, and Hy_Features to see how the information in the XS resource relates to those information models. I discussed with Maidment how the resource structure fits the NFIE use case. Maidment desires a more geographic approach, storing geospatial coordinates of each station along the cross section. Whereas the initial XS resource is more tailored to modeling, spe

[2015-02-11 17:14] selimnairb commented on #137
Unless we have immediate use cases for these API calls, I suggest we remove them for now, leaving them unimplemented.

[2015-02-11 17:20] danames commented on #106
I deleted all the un-done bullets on this list and I am moving them to a new issue for working on the next release.

[2015-02-11 17:24] danames opened #140 "Alpha testing feedback"
- [ ] \(YES)[#110] Suggestion: Don't use concatenated words like "don't." For example on the log in/sign in page the text should read, "If you don't have an account you can join HydroShare now. You can also reset your password if you've forgotten it." Consider replacing "don't" and "you've" with "do not" and "you have".
- [ ] \(Maybe) DGT suggests after logging in to go directly to the Resources p

[2015-02-11 23:44] pkdash opened #142 "Delete resource on alpha crashes if the resource has file(s)"
This bug got introduced as part of trying to cleanup bags and files and associated directories. This fails since iRODS doesn't have a concept of folder for storing files (just learned this morning and saw it in action now).

[2015-02-12 17:05] pkdash opened #146 "Crash in citation generation for some resources on alpha"
"string index out of range" error seems to be in parsing creator name that consists of spaces only.

[2015-02-13 01:01] dtarb commented on #146
Well done tracking this down.

[2015-02-13 14:28] rayi113 commented on #129
See: https://docs.google.com/document/d/1WL4s1EL1Yg0omuHgO6pb4haKetVyszpWZ2HzLV7d-0s/edit

[2015-02-13 15:17] ironfroggy commented on #137
Resolution: Remove.

[2015-02-13 15:17] #137 closed

[2015-02-13 15:18] ironfroggy opened #150 "Users API"
Plan first, get back with team on next steps

[2015-02-13 16:32] horsburgh commented on #33
This is addressed by the new edits that Mauriel is making to the Resource landing page.  The new layout will make things more clear.  The layout has changed significantly enough that I am going to close this issue.

[2015-02-13 16:32] #33 closed

[2015-02-13 16:36] horsburgh opened #151 "My Resources Page: Anchor Default Filter Menu"
On the "My Resources page", the default filter menu (e.g., Owned by me, Editable by me, Viewable by me) pops up above the table of resources when the browser window gets narrow.  I think we need to anchor it to the left of the table because the area to the top of the table will eventually be used by additional filtering options.

![myresources](https://cloud.githubusercontent.com/assets/3485902/61

[2015-02-13 17:21] mauriel133 opened #152 "Resource landing page UI - suggestions"
I will be addressing recent suggestions made by Dave and Jeff on the modifications I've made to the resource landing page. This changes are running in the sandbox at http://sandbox.hydroshare.org/

Dave's:
* [x] {This will be done via the download button}It should be possible to download the file itself by clicking on it, in addition to download all
* [x] The Sharing information seems to belong ne

[2015-02-13 23:07] rayi113 opened #153 "New HydroShare account request with pre-existing user name needs more descriptive error message"
When going to main HydroShare landing page to sign-up for new account, if details are entered such that new user requests a user name that is already taken, the error message is simply: Account cannot be created.

This error message should be more descriptive additionally stating that the user name is already taken.

[2015-02-16 14:40] dtarb opened #154 "Correct bag-info.txt"
resourcemap.xml (Issues about resource maps moved to Issue #169 by Jeff)
- refers to resourcemetadata.json should point to XML
- resource slugs need to be corrected to GUIDs
- resolve domain's hydroshare.org that do not point to anything

bag-info.txt
- fix incorrect slug.  Should be gUID

[2015-02-17 17:00] ironfroggy opened #157 "Question: Is serialize_science_metadata_xml() used or needed?"
It is defined in `hs_core/hydroshare/utils.py` and was written in October of 2014, but is only used in a single test case which does not actually assert *any* conditions. This function uses the User API that is being removed, but only in a minor way. I've disabled those bits for the time being with comments to fix when the User API is replaced.

However, if this isn't used, I'd like to know the st

[2015-02-17 19:02] pkdash commented on #157
It is no more needed.

[2015-02-17 22:21] hyi commented on #36
This issue is now fixed and the fix is pushed to my feature 82-raster-resource-new-workflow branch with a pull request already created to be merged into develop. If no file is initially selected when creating raster resource, sensible null results are created for raster extended metadata elements. After a file is added into the resource later, the metadata elements will be extracted from the added

[2015-02-17 22:30] hyi commented on #75
Revert VariableName field max_length to be 100 (rather than text field) and enforce the text box input to be at most 100 characters (i.e., users will not be able to enter any characters after they have already entered 100 characters). This GUI text box input enforcement to comply with model definition works for other fields with a max_length restriction as well.

[2015-02-17 22:35] hyi commented on #40
This issue as described should be fixed in my 82-raster-resource-new-workflow feature branch as part of the fix to issue [#36], which is to be merged into develop and deployed for testing soon.

[2015-02-17 22:40] hyi commented on #35
This issue is fixed in my 82- feature branch as part of transition to the new resource creation workflow which incorporated new metadata serialization code by Pabitra.

[2015-02-18 00:14] hyi commented on #76
Editing for the selected extended metadata elements for raster resource type is implemented as indicated in this issue (i.e., noDataValue and all subelements of BandInformation are editable), which is pushed to my 82-raster-resource-new-workflow feature branch. The only issue is with coverage northlimit, southlimit, westlimit, and eastlimit, which are currently editable as implemented in hs_core a

[2015-02-18 16:00] pkdash commented on #109
In the current workflow, a bag for a resource is created any time there is an update to the resource. The bag creation process can be very time consuming process when the resource has large amount of data. We need to optimize the bag creation workflow.

[2015-02-19 14:58] hyi commented on #67
I believe this problem is caused by raster-related permissions not being added for the HydroShare Author group in the initial database we populate. This can be fixed either by manually adding these specific resource type related permissions to the HydrShare Author group from the admin interface, or adding them into the initial database we populate. This will apply for all specific resource types.

[2015-02-19 19:59] mjstealey commented on #105
Files of this size do upload, however there is a separate issue with bagit file creation and handling. Closing as this is unrelated to this release.

[2015-02-19 19:59] #105 closed

[2015-02-20 00:02] pkdash opened #162 "Hotfix for develop branch"
check_resource_mode() function is missing in hs_core due to merge with release branch. Other resource types depend on this function.

[2015-02-20 22:26] mauriel133 opened #165 "Resource edit page"
I will be restyling the resource edit page. The goal is to make it look more compact and organized.

[2015-02-23 14:03] mjstealey commented on #51
BYU - Initiated work as branch [51-URI-resource-phase-1](https://github.com/hydroshare/hydroshare/tree/51-URI-resource-phase-1)

[2015-02-24 01:40] mjstealey commented on #162
hotfixes merged

[2015-02-24 01:40] #162 closed

[2015-02-24 17:59] horsburgh opened #168 "Automatically populate Creator information on resource creation"
When creating a new resource, the current user is automatically set as the first creator.  All of the user's available profile information should be copied into the metadata editing form, but isn't currently.  For example, the HydroShare User Identifier (URL) field is left blank as is the Organization and Address.

Where they have not been set by the user, they cannot be copied, but where they hav

[2015-02-24 18:13] horsburgh commented on #154
Our packaging specification document states that we will not be using the following optional files from the BagIt specification:

bag-info.txt
tagmanifest-md5.txt

However, if these will be useful, they have already been implemented and we could keep them.  Right now, some of the information in bag-info.txt is semantically incorrect.  For example, my HydroShare user name and email is listed as the

[2015-02-24 18:15] horsburgh commented on #154
I'm going to split this into two issues. One about the bag-info.txt (this issue #154) and one about the resourcemap.xml.

[2015-02-24 18:16] horsburgh opened #169 "Correct URIs in resourcemap.xml"
The URIs in the resourcemap.xml are created incorrectly.  I tested both generic resource and time series resource and both had problems.

Testing on dev.hydroshare.org.  See this generic resource for reference:

 http://dev.hydroshare.org/resource/26973647d27d46b58be3dcd1d889f6bb/

The URI to the content file was created with what looks like a relative path:

/tmp/hydroshare/26973647d27d46b58be3dc

[2015-02-24 18:52] horsburgh opened #170 "Need to address versioning in resources"
Right now, the structure of a resource bag that I download from HydroShare contains a folder that I am assuming is named to represent the version.  For example, the file I just downloaded for this resource (http://dev.hydroshare.org/resource/f5e4c6083e8d4e91be216295f7b6282e/) was named f5e4c6083e8d4e91be216295f7b6282e.zip.  So, the zip file is named with the GUID for the resource.  This is fine.

[2015-02-24 19:16] horsburgh opened #171 "Science Metadata XML Document Missing Dublin Core Type Element"
I created two resources on dev.hydroshare.org.

Time Series Resource: http://dev.hydroshare.org/resource/f5e4c6083e8d4e91be216295f7b6282e/
Generic Resource:  http://dev.hydroshare.org/resource/26973647d27d46b58be3dcd1d889f6bb/

When I download either one, the Dublin Core Type element is missing from the science metadata document.  It should be something like:

Time Series Resource:  <dc:type rdf:r

[2015-02-24 19:18] horsburgh opened #172 "Science metadata XML document for publicly shared resource missing Publisher element"
Our science metadata specification document states that the Publisher element is required for publicly shared or formally published resources.  Neither of the resources that I just publicly shared in dev.hydroshare.org have a Publisher element in the science metadata XML document.

[2015-02-24 19:27] horsburgh opened #173 "Time Series Resource: incorrect element labels in resourcemetadata.xml"
Testing on dev.hydroshare.org.  See resource: http://dev.hydroshare.org/resource/f5e4c6083e8d4e91be216295f7b6282e/

There are a couple of issues in the resourcemetadata.xml created for a time series resource:

1.  The "UnitsAbbreviation" element is incorrectly encoded as UnitsType.  The content of the element is correct, it is just the name of the element that is incorrect.
2.  The "AggregationSta

[2015-02-25 02:13] hyi commented on #19
This enhanced functionality is completed and the enhancement is pushed to github feature branch 19-res-proxy-user-irods branch. When a user signs up, a corresponding iRODS account is created. When a user changes password, the password for the corresponding iRODS account is changed accordingly. When a user signs in and creates a resource, the resource will be stored under the corresponding iRODS ac

[2015-02-25 17:28] twhiteaker commented on #12
# File Format - Shapefiles

Shapefiles would include CrossSectionLine and CrossSection2DPoint which must have their coordinate system defined. CrossSectionLine and CrossSection2DPoint are based on the definition from the Arc River GIS data model, but with fewer required attributes, and picking up the CSCode attribute from the Arc Hydro GIS data model (upon which Arc River is largely based).

**Cro

[2015-02-25 17:42] twhiteaker commented on #12
Need to figure out how to indicate vertical datum and units for Elevation. Maybe those will be required metadata elements for cross section resource.

I left out some attributes like ReachCode which were included in the CSV version of the resource. My motivation was to keep things simpler. Users could include ReachCode if they have it. The Mississippi example data that I used did not.

[2015-02-25 21:29] hyi commented on #82
This feature branch has been merged into develop and deployed to dev. My testing on dev reveals everything works as expected, so closing this issue.

[2015-02-25 21:29] #82 closed

[2015-02-25 21:31] hyi commented on #107
Verified it works, closing the issue.

[2015-02-25 21:31] #107 closed

[2015-02-25 21:49] gantian127 opened #176 "file type and numbers of file validation for specific resource type"
This issue is related to the netCDF resource which requires the user to upload just one file in ".nc" format. It may need some modifications for the "resource creation page" and the "resource landing page" to implement the file validation function.

This issue may also affect the other resource types such as raster or time series which requires the user to upload data in specific file formats.

[2015-02-26 20:46] selimnairb opened #178 "Integrate RHESSys model resource instance with new resource metadata model"
Re-implementation of #60 on top of version of develop with new resource metadata model.

[2015-02-26 21:56] ironfroggy opened #180 "Organization not required to register, but to update profile"

[2015-02-26 21:58] ironfroggy opened #181 "Mail from developer setups"
Developer set ups should **not** be allowed to or configured by default to send outgoing mail. This is dangerous, especially as you gain real world users and run into problems that require tests on local versions of the database. Recommend disabling this and using a test email server locally when outgoing mail has to be captured.

[2015-02-26 22:30] selimnairb opened #182 "Add helper method for serializing metadata elements to xml"
Descendants of hs_core.models.CoreMetaData have to use a lot of code in get_xml() to serialize their metadata elements to XML.  This also makes the process more error prone than it needs to be.  There should be a "one line" helper method to codify serialization.

[2015-02-27 11:47] #157 closed

[2015-02-27 13:53] dtarb commented on #181
I am not sure I understand the danger here.  It seems that we need developer instances to send email so that developers can create accounts and test functionality.  It also seems better to have developer deployments exactly the same as the intended production deployment so that testing is as close to the same as the real thing as possible.  The databases and resource files on developer and product

[2015-02-27 14:39] ironfroggy commented on #181
I am just documenting a general practice. There are lots of ways to handle testing mail. We either use the test server (a SMTP server that comes with Python and outputs outgoing mail to the terminal for inspection) or a developer-only enabled middleware that reroutes all outgoing mail to the developers own address or a mailing list (this one is also used on staging environments).

If you never use

[2015-02-28 04:53] dtarb commented on #181
Thanks.  At present I think that outgoing email is only used to validate account requests.  We should use it in the future to validate email change requests and may use it to send system triggered notifications.  Certainly I can see that for these we do not want emails from development instances to go to users who registered on the deployment instance, so that erring on the side of caution is good

[2015-03-01 09:28] mtpain opened #184 "join HydroShare link took me back to index with url http://beta.hydroshare.org/?next="
After I clicked on the "SIGN IN" tab I tried to click 'join HydroShare', but was just redirected to the main splash page.

[2015-03-01 13:08] mjstealey commented on #184
@mtpain - The main splash page contains the minimal required elements to join HydroShare {First Name, Last Name, Email, Username, Password}. Once the required fields are filled in and the "Join HydroShare & start collaborating" button is pressed a verification email will be sent to the email address provided in the form.

![joinhs](https://cloud.githubusercontent.com/assets/5332509/6430834/d07d557

[2015-03-02 15:36] mjstealey commented on #184
Is presently the expected behavior of HydroShare

[2015-03-02 15:36] #184 closed

[2015-03-02 21:20] mjstealey opened #185 "bagit restructuring"
Checklist (partial)
- [ ] implement flat file storage hierarchy (local)
- [ ] implement flat file storage hierarchy (iRODS)
- [ ] on demand zipping (local)
- [ ] on demand zipping (iRODS)

Restructure the bagit workflow such that all files do not need to be moved from iRODS each time an modification to the resource is made.

[2015-03-02 21:58] dtarb opened #186 "Comments and Ratings"
Simplify the comments and ratings part of the resource landing page.  See resource details mockup in Alfresco release 1 mockups from 10 months ago.  This was developed by @horsburgh.  Comments should be identified by the first and last name of the person who made them followed by the comment. The commenter has to be a hydroshare user so the functionality to add a comment should only appear if the

[2015-03-02 22:38] mtpain commented on #184
This does make sense.

I should have posted a screenshot as well. I wasn't seeing the registration form before. Thanks!

[2015-03-03 00:18] horsburgh opened #187 "Reference Time Series: Preview plot should exclude NoData values"
When I put in a REST URL to retrieve a referenced time series during the resource creation process, there is a button to validate the URL and preview the time series.  A plot is created, but if there are NoData values in the time series, it isn't that interesting.  NoData values should not be plotted. See the example below

![screenshot](https://cloud.githubusercontent.com/assets/3485902/6453871/3

[2015-03-03 00:21] horsburgh opened #188 "Reference Time Series: Error on Create Resource"
I tried to create a referenced time series on dev.hydroshare.org.  I used the following URL:

http://data.iutahepscor.org/RedButteCreekWOF/REST/waterml_1_1.svc/datavalues?location=iutah:RB_ARBR_C&variable=iutah:AirTemp_Avg/methodCode=1/sourceCode=1/qualityControlLevelCode=0&startDate=&endDate=

I clicked the button to validate the REST URL and preview and it retrieves the data and creates a plot.

[2015-03-03 15:25] mohamedmorsy commented on #184
Hi Michael,

Now, I am working on my modifications for Model Instance resource on the
new branch model-instance-update. During test the resource parsed metadata
included in the downloaded parcel (resourcemetdata.xml), I found that the
temporal coverage metadata gives the wrong date which is constant for any
created resource even if it is generic resource or model instance resource.
The value of th

[2015-03-03 16:49] Castronova opened #190 "Tool for Defining Spatial Coverage"
Rather than manually filling out bounding box fields, provide a few functions to automate this process.

1. A map where the user can draw a bounding box, or select a point of interest
2. The ability to search for locations would enable users to select a city nearby their site
3. The ability to load a shape file or csv file and parse the spatial coverage
4. An interactive map that enables users to

[2015-03-03 16:57] mohamedmorsy opened #191 "Linking Model Instance resource with a Model Program resource"
Linking the Model Instance resource by a Model Program resource using the executedBy element metadata created in Model Instance resource.

[2015-03-03 22:10] mohamedmorsy opened #192 "Bug in the temporal coverage metadata"
During testing the model instance resource parsed metadata which is included in the downloaded parcel (resourcemetadata.xml), I found that the temporal coverage metadata gives the wrong dates which are constant for any created resource even if this resource is generic resource or model instance resource. The value of the temporal coverage is <rdf:value>start=2015-01-01T00:00:00+00:00; end=2015-01-

[2015-03-03 22:19] jirikadlec2 opened #193 "Error in Creating Referenced Time Series"
The following REST URL's cause an error:
http://hydrodata.info/chmi-h/cuahsi_1_1.asmx/GetValues?location=CHMI-H:89&variable=CHMI-H:PRUTOK&startDate=2015-01-01&endDate=2015-03-01&authToken=

http://hydrodata.info/chmi-h/cuahsi_1_1.asmx/GetValuesObject?location=CHMI-H:89&variable=CHMI-H:PRUTOK&startDate=2015-01-01&endDate=2015-03-01&authToken=

[2015-03-03 22:41] horsburgh commented on #193
I suspect this may be the same as #188

[2015-03-04 15:27] twhiteaker commented on #12
I read the WaterML ratings and gaugings spec. Aside from the stage-discharge tuples, it seems to me that these are the only required elements for the simplest case:
* vertical datum (Conversions/datums-for-stage requirement)
* start date of period of application (Conversions/start-periods requirement)
* link to a monitoring point (Conversions/keys requirement)

The inputProperty and outputProperty

[2015-03-04 18:46] hyi commented on #76
Removed ready for testing label - more work is needed to make noDataValue not editable when it is extracted from the uploaded file, and only editable when no value is extracted.

[2015-03-04 21:43] jsadler2 opened #194 "Error when referenced time series is created without valid parameters"
Error when referenced time series is created without valid parameters. For example, if the user clicks "Create Resource" in the RefTs resource creation page without a valid URL, and/or Site or Variable (when using SOAP) it throws an ugly error

[2015-03-04 22:13] twhiteaker commented on #12
As Dave V. pointed out to me, if we publish a profile of WaterML that relaxes the monitoring point constraint, then we can associate each rating with a cross section instead of a monitoring point.

[2015-03-05 15:51] pkdash opened #195 "Resource type specific upload file validation"
When creating a resource only file the file types supported by that resource type should be allowed to be uploaded. The number of files (possibilities are: zero, one and multiple) that can be uploaded for a resource type also needs to be applied at the time of creating a resource. When adding a file to an existing resource, file type as well as the number of files allowed for that resource type ne

[2015-03-05 22:38] gantian127 opened #197 "fix the bugs for add_files_to_resource() and delete_file()"
fix the bugs for the two functions in hs_core/__init__.py.
This is related to making the signals of pre_delete_file_from_resource and pre_add_files_to_resource to work as expected.
When sending the pre_delete_file_from_resource or pre_add_files_to_resource signals, the "sender" parameter value is not the resource class and just empty string, which will make receiver functions not to work as expect

[2015-03-05 22:46] selimnairb commented on #197
@gantian127 Could you briefly describe these bugs?  This will help when the eventual pull request is evaluated.  Thanks.

[2015-03-05 23:07] gantian127 opened #199 "Allow existing coverage metadata to be deleted"
This function is used for deleting old coverage metadata info when user replaces the old resource file with a new resource file for an existing resource. Currently, the coverage metadata can't be deleted and can only be updated if the resource has the coverage metadata information.

[2015-03-06 21:42] twhiteaker commented on #12
# Cross Section Resource Type
Here's my current thinking, using shapefile and an optional CSV file to implement. The resource includes up to three files.
* **Cross section points, i.e., stations (required)**
* **Cross section cut lines (required)**
* Stage-discharge conversions

Each file may include data for more than cross section. A CSCode attribute relates each feature or row in a table to a c

[2015-03-06 22:44] mauriel133 opened #200 "Remove name, Email and website from 'New Comment' section when user is signed in"
Name, Email and website input fields should not appear on the comment section when the user has already signed in. This information is already given in the user profile.

[2015-03-06 22:46] mauriel133 opened #201 "On edit access list, the auto-complete text should be "[Name] - [Email]""
Right now it lists only the Email, but since some emails are abbreviations of the name, sometimes is not very clear.

[2015-03-09 13:21] hyi commented on #200
This new comment section comes directly from Mezzanine code. This issue is part of issues detailed in #186 which I am currently working on to address as the first phase of implementation for issue #186. @mauriel133 Let me know if you have other ideas in mind for addressing this issue.

[2015-03-09 14:26] mjstealey commented on #67
Hydroshare Author permissions update solves this

[2015-03-09 14:26] #67 closed

[2015-03-09 14:27] #106 closed

[2015-03-09 14:27] #110 closed

[2015-03-09 14:28] #111 closed

[2015-03-09 14:28] #116 closed

[2015-03-09 14:28] dtarb commented on #199
For resource types that have a single file that contains coverage and resource type specific metadata information, when that file is deleted a subset of metadata should be retained and a subset reset to default values.  When a new file is read the type specific metadata should be populated from the new file.

@gantian127, @hyi, and @pkdash please develop lists of the metadata for netcdf and raster

[2015-03-09 14:28] #118 closed

[2015-03-09 14:29] #120 closed

[2015-03-09 14:29] #125 closed

[2015-03-09 14:39] mjstealey commented on #182
Branch has been merged

[2015-03-09 14:39] #182 closed

[2015-03-09 14:45] horsburgh commented on #200
This was at the end of a longer list of things that Mauriel was working on. He was done with everything else in that list, so we moved this one to a new issue. It overlaps with #186. So, I'm closing this one.

[2015-03-09 14:45] #200 closed

[2015-03-09 14:45] mjstealey commented on #199
Related to #176

[2015-03-09 15:41] hyi commented on #199
As Dave suggested, I am putting a list of metadata sub-elements for raster resource type here for bookkeeping:
When the raster file is deleted, the following happens:
1. Spatial Coverage is reset to default values (units and projection are reset to "Unnamed" with other limit values are set to 0.
2. CellInformation is reset to default values (either 0 or "Unnamed")
3. All band information from the

[2015-03-09 19:35] pkdash opened #205 "Cleanup code in hs_core/forms.py"

[2015-03-09 22:45] gantian127 opened #206 "Need new signal post_add_files_to_resource()"
This signal is needed for netCDF resource. The use case is for the situation that for an existing resource, user adds a new netcdf file to replace the old netcdf file as the resource file, then the post_add_files_to_resource() signal is sent to create the netcdf ncdump text file and add the text file to the resource.

[2015-03-10 10:41] dtarb commented on #172
I do not think that Publisher should be required for a resource to be made public.  Publisher should only be required for formally published resources (i.e. ones that are assigned a DOI).

[2015-03-10 11:15] dtarb opened #209 "Metadata editing button not present for raster resource types for new landing page layout"
Testing on alpha I am unable to edit a raster resource type due to the edit button not being present on the landing page

[2015-03-10 11:16] dtarb commented on #152
I have reviewed these changes in sandbox.hydroshare.org and am happy to approve the layout.  @horsburgh can close when he approves.  However see #209.

[2015-03-10 11:24] dtarb commented on #146
Unable to reproduce in dev so appears fixed.  @pkdash please close if it resolves the error you originally identified.

[2015-03-10 11:27] dtarb commented on #142
Closing.  Was able to successfully delete a resource with files on Alpha.

[2015-03-10 11:27] #142 closed

[2015-03-10 11:29] dtarb commented on #140
Closing.  Many of these issues have been addressed with beta and new alpha deployments.  Perhaps not all.  @danames feel free to re-raise items that are not addressed when reviewing the alpha 1.4 deployment.

[2015-03-10 11:29] #140 closed

[2015-03-10 11:31] dtarb commented on #138
Appears fixed.  @pkdash feel free to raise again if there are still issues in the 1.4 alpha.

[2015-03-10 11:31] #138 closed

[2015-03-10 11:36] dtarb commented on #136
Even on dev help pages are significantly out of sync with functionality.  For example mentions of groups and my-resources pages.  @rayi113 we need to identify a person to help with this.  Pushing back to milestone 1.5 to not hold up 1.4 deploy.

[2015-03-10 11:41] dtarb commented on #134
@jsadler2 can you please check if these links are still broken when the 1.4 release candidate is deployed.  If fixed, close the issue.  If not work with @mauriel133 to resolve or push to 1.5 deploy so as not to hold up 1.4

[2015-03-10 11:48] dtarb commented on #124
@horsburgh can you please check these in the 1.4 release candidate when it is deployed, then close if satisified.

[2015-03-10 11:51] dtarb commented on #121
@shaunjl closing for now.  See new layout in 1.4 release candidate when it is deployed and re-raise if still a concern.

[2015-03-10 11:51] #121 closed

[2015-03-10 11:53] dtarb commented on #112
Closing for now.  @jsadler2  and @shaunjl see the 1.4 release candidate and re-raise issues if needed.

[2015-03-10 11:53] #112 closed

[2015-03-10 11:57] dtarb commented on #92
@pkdash has this been addressed with recent work.  Close if you think so.

[2015-03-10 11:58] dtarb commented on #90
@pkdash has this been addressed.  Close if you are happy.

[2015-03-10 12:08] dtarb commented on #77
@hyi I still get an error when loading the mawhefel.tif file.  This time a different error.
![capture](https://cloud.githubusercontent.com/assets/3456833/6574546/a450549e-c6fc-11e4-93a8-4f4826b9c34a.PNG)

The file that triggers this is at http://beta.hydroshare.org/resource/a0f2108074444ff3a9480c33eb39c106/

[2015-03-10 12:10] dtarb commented on #77
Reopened - I pushed the wrong button

[2015-03-10 12:12] dtarb commented on #72
OK for now.  Closing

[2015-03-10 12:12] #72 closed

[2015-03-10 12:13] dtarb commented on #43
Resolved with UI enhancements

[2015-03-10 12:13] #43 closed

[2015-03-10 12:22] dtarb commented on #40
I just tested on dev and was able to create a raster resource containing two files by selecting both files in the initial browse.  The browse dialog initiated from create-resource when the type is a raster resource should only allow one file to be selected.

[2015-03-10 12:27] dtarb commented on #36
Tested.  Closing

[2015-03-10 12:27] #36 closed

[2015-03-10 12:32] dtarb commented on #35
Tested.  Closing

[2015-03-10 12:32] #35 closed

[2015-03-10 13:51] hyi commented on #209
@dtarb Do you mean you tested it on dev since raster resource type is not present on alpha yet? I am able to see edit button for raster resource type and able to edit it as expected. Can you elaborate a bit on how I can reproduce the issue you are seeing as I cannot reproduce the problem?

[2015-03-10 13:56] hyi commented on #209
@dtarb Just realized you might have tested it on sandbox since the permissions for raster resource type have not been added for HydroShare Author group on sandbox yet. If this is indeed the case, you can test on sandbox again. It should work now after I assigned these raster resource type specific permissions to the group.

[2015-03-10 14:14] hyi commented on #77
@dtarb I got a 403 forbidden when accessing the resource link on beta, so I am not able to see the exact error with this particular resource. But looking at the error you pasted here, it looks like it comes from the metadata extraction function that uses osr.py that is written by Tian. So Tian might need to look into this issue once we can see the exact error with the test data you are using.

[2015-03-10 14:14] dtarb commented on #209
Yes I tested on sandbox (sorry for the slip).  It is working on sandbox now.

[2015-03-10 14:21] hyi commented on #199
@pkdash Is this something that needs to be addressed at your hs_core level since coverage core metadata is managed at the hs_core level? If this is true, can you reassign this issue to yourself to address it? You may discuss this with Tian to see what is the exact issue. For raster resource type, I think updating/resetting coverage to default values will suffice when replacing an old file with a n

[2015-03-10 14:29] dtarb commented on #77
You should be able to see the resource link on beta now.  I had
forgotten to make public.

Dave

On 3/10/2015 10:14 AM, hyi wrote:

[2015-03-10 14:43] dtarb opened #210 "Add file coordinate system coverage to resource specific metadata"
We have decided for uniformity to have the generic resource spatial coverage element always use WGS 84 geographic coordinates.  This simplifies mapping of multiple resources.  However the resource file may have data in a projected coordinate system.  Conversion from the coordinate system of the file to WGS 84 is done when a file is loaded.  However there is a need to also expose the coverage metad

[2015-03-10 14:47] pkdash commented on #199
Currently once a coverage metadata element is created it can't be deleted. I can change that.

[2015-03-10 15:16] pkdash commented on #90
This cleanup yet to be done.

[2015-03-10 15:31] hyi commented on #77
This issue is caused since ors.CoordinateTransformation() returns None. Fixed this issue by adding check for None and use original coverage if wgs84 coverage cannot be obtained due to missing coordinate system info or other issues. Will post the fix to this issue into the 186-branch which I am currently working on for comments to be merged together into develop soon when ready.

[2015-03-10 19:51] valentinedwv opened #211 "Space-time resource step 1 Net CDF Services"
Task (make NetCDF available via services):
* Expose NetCDF via Irods:
  * replicate to an irods server and implement a software stack to publish as a WCS for a raster
* On to a landing page, add publish as a web coverage service
* only public data

Iterations:
* check against vocabulary for netcf or CSDMS terms
* my file uses CF concentions, CSDMS conventions\.
* Checks to see if netcdf follows ap

[2015-03-10 19:52] valentinedwv commented on #211
Resources to look at:
* https://github.com/irods/irods_netcdf
* https://wiki.irods.org/index.php/NETCDF
   * not in irods 4.x, but is an example of what might be done

[2015-03-10 21:06] rayi113 commented on #136
Updated support page when this pull request goes live on dev: https://github.com/hydroshare/hydroshare/commit/94c27cb1af4fbd80dc8630802d18d9b4537d1d68

[2015-03-11 03:38] pkdash commented on #92
This has not been addressed yet.

[2015-03-11 03:41] pkdash commented on #146
This has been fixed.

[2015-03-11 03:41] #146 closed

[2015-03-11 13:32] hyi commented on #76
finished additional work needed for making noDataValue not editable when it is extracteed from the uploaded file and only editable when no value is extracted. Fix pushed into github and a pull request has been created to merge into develop. One issue remains to make Coverage northlimit, southlimit, westlimit and eastlimit not editable for Raster resource type, which needs further discussion with P

[2015-03-11 13:33] hyi commented on #77
Fix pushed to github and a pull request has been created to merge it into develop.

[2015-03-11 13:50] hyi commented on #186
First phase of implementation for this issue is pushed to github and a pull request has been created to merge it into develop. The following items have been implemented/fixed:
* Only logged-in users can make comments and ratings. Although anonymous users can see comments and ratings section, when they submit their comments, they will be asked to log in first. After they log in, their comments and

[2015-03-11 14:02] dtarb commented on #186
We want +1.  We do not want a 1-10 scale.

[2015-03-11 14:03] hyi commented on #186
OK. Will revert it to +1 then.

[2015-03-11 15:25] hyi commented on #186
Have reverted it back to +1. Also added functionality for email notifications. In summary, only comment deletion by commenter and email notification customization in user profile are yet to be implemented. Others have been implemented for the first phase with further improvements to be done in the second phase when needed. See updated list above for details regarding what have been implemented and

[2015-03-11 18:52] selimnairb opened #214 "Account sign-up not visible under iOS"
Under iOS the [home page](http://dev.hydroshare.org/) for un-authenticated users does not display the user sign-up form.  This occurs under both Safari and Chrome on an iPhone and iPad (both running iOS 8.2).

[2015-03-11 20:20] mjstealey commented on #214
@selimnairb - Is this only for dev? or for all hydroshare instances (alpha, beta, etc.)?

[2015-03-12 03:35] horsburgh commented on #214
This is also an issue when normal desktop browser windows are made narrow. At a certain point the user sign up form just disappears.

I may be unpopular for suggesting this again, but could we move the user sign up to a separate page?

[2015-03-12 21:05] mauriel133 opened #217 "Abstract not showing up after merge on new resource landing page"

[2015-03-12 21:18] hyi commented on #40
This issue is fixed now after adding file validation code. Fix posted in github and a pull request has been created to merge it into develop. Will add ready for testing label back once the fix is deployed to dev or alpha.

[2015-03-12 21:25] hyi commented on #186
Further fixed email notification to ensure the email is sent to the resource owners, and if a comment is for another comment, the email is also sent to the original commenter this comment replies to. Also fixed a couple of formatting and styling issues so the nesting comment hierarchy should be displayed on resource landing page. The fix has been pushed to github with a pull request created to mer

[2015-03-13 22:15] hyi commented on #210
This has been addressed for raster resource type. Added fix pushed to github label for tracking purpose.

[2015-03-14 03:02] dtarb opened #222 "Resourcemap.xml not correct in alpha release candidate 1.4.0 rc0"
resourcemap.xml returned with a resource needs updating.  It still refers to resourcemetadata.json in places and has several url's that do not work embedded in it.  For example  http://hydroshare.org/resources/1.4.0 - Logan DEM/resourcemetadata.json and /tmp/hydroshare/6e3ffe34505e4510990e48c25ce0609b/2015.03.13.19.34.08/contents/logan.tif

[2015-03-14 03:25] dtarb opened #223 "Profile photo adding not working"
When I tried to add my photo to my profile it came in huge.  I clicked update, and it was not accepted due to the organization entry not being filled in.  After filling in organization the photo could be added, but is still too big.  This is part of the whole profile clean up needed related to #68

[2015-03-14 03:47] dtarb commented on #77
Fixed in alpha 1.4.0 rc0

[2015-03-14 03:47] #77 closed

[2015-03-14 03:51] dtarb opened #224 "Add file to raster resource should be disabled when file already there"
In alpha 1.0.0 rc0 it is possible to add a file to a raster resource.  This results in two files in a raster resource which is inconsistent with the data model.

[2015-03-14 04:19] dtarb opened #225 "Raster resource metadata editing and defaults"
Following are suggestions for better managing raster resource metadata
Within Spatial Coverage
- Place/Area Name should be editable
- Coordinate System/Geographic Projection should be WGS 84
- Box or Point Longitude and Latitudes should be WGS84 coordinates computed from bounding box and projection in the file if possible.  Should be editable.  This is to accommodate cases where this information i

[2015-03-15 05:13] pkdash commented on #224
This bug seems to be a result of conflicts resolution of template file (conflicts due to me and Mauriel working on the same html page). I saw this bug in my working branch (timeseries) when I pulled the latest develop branch on last Friday. I have now fixed that in my working branch. @hyi if you want I can make a hotfix once we have a alpha release branch.

[2015-03-15 05:17] pkdash commented on #222
This bug has been there since release 1.0. Do we have to fix this for 1.4.0 release? I can take a look at it.

[2015-03-15 11:11] dtarb commented on #222
This could wait for 1.5.

[2015-03-15 12:52] hyi commented on #224
@pkdash It'd be great if you can make a hotfix. I fixed this a while ago in my local branch in genericresource.html, which must have been lost due to merging conflict. If you already have a fix, it'd be great to make a hotfix. I am assigning this to you then, Pabitra.

[2015-03-16 11:55] mjstealey opened #226 "Release 1.4.0 - Checklist"
High level checklist for issues that are required to be addressed prior to publishing Release 1.4.0 on beta.hydroshare.org

- [x] [#199] - Tian/Hong - Allow existing coverage metadata to be deleted/updated
- [x] [#194] [#193] [#188] [#187] [#9] - BYU - Reference Time Series Error handling
- [x] [#186] - Hong - Comments and Ratings Update
- [x] [#169] - Pabitra - XML for resource map is incorrect
-

[2015-03-16 14:23] dtarb commented on #201
Are you going to be able to fix this for 1.4 release.  Looking at what is in 1.4 rc0 the functionality is awkward.   I suggest the following
- user real names and emails for display.  Never display a username
- dont collapse manage access on update so a user can see what is going on
- use a different approach for removing access.  The having to select all and update is confusing
- make it clear th

[2015-03-16 14:34] dtarb commented on #199
@pkdash will it be possible to do this for 1.4.  Then @hyi can coordinate the raster resource type changes with what you do

[2015-03-16 14:36] rayi113 commented on #134
Should be fixed now - see http://dev.hydroshare.org/help/

[2015-03-16 14:37] rayi113 commented on #136
Should be fixed now - see http://dev.hydroshare.org/help/

[2015-03-16 14:39] horsburgh commented on #201
I would rather just fix the whole thing once with the new styling we discussed for the whole "manage access" panel.  I suspect that will push it to 1.5.

[2015-03-16 14:43] dtarb commented on #186
Tested and works well enough to close.  Commenter ability to delete their comments to be made a separate issue.

[2015-03-16 14:43] #186 closed

[2015-03-16 14:43] pkdash commented on #226
@mjstealey We need a 'alpha release 1.4.0' branch to start working on these hot fixes.

[2015-03-16 14:45] mjstealey opened #227 "Release 1.5.0 - Checklist"
High level checklist for issues that are required to be addressed prior to publishing Release 1.5.0 on beta.hydroshare.org

- [ ] [#201] - Mauriel - Manage Access: auto-complete text should be "[Name] - [Email]"
- [ ] [#171] - Pabitra - XML for science metadata is incorrect
- [ ] [#165] - Mauriel - Resource landing page work
- [x] [#90] - Pabitra - Remove references to old key/value dublin core me

[2015-03-16 14:46] dtarb commented on #171
@pkdash will you be able to address this for 1.4 or should we put off to 1.5.  @horsburgh please help Pabitra with specific format of type element if he needs.

[2015-03-16 14:48] dtarb commented on #165
@mauriel133 @horsburgh is this still viable for 1.4 or does it have to be put to 1.5

[2015-03-16 14:50] dtarb commented on #152
@horsburgh is this ready to close

[2015-03-16 14:57] pkdash commented on #199
@dtarb, @hyi and @gantian127 It seems there is a way to delete coverage metadata elements. In fact, I have done that in my branch '5-time-series-resource-phase-1'. The following line of code will delete all coverage elements of a resource:

resource.metadata.coverages.all().delete()

[2015-03-16 15:13] hyi opened #228 "Allow commenters to delete their own comments"
A user who makes a comment can delete or edit it later. No one else can edit a comment, except system administrator who can delete an inappropriate comment.
This is the outstanding issue from the issue #186 to be slated for release 1.5.

[2015-03-16 15:13] pkdash commented on #171
@horsburgh and @dtarb We don't have these 'type' specific URI endpoints implemented yet. Not sure what would be the content of each of these endpoints. I suggest we implement this in 1.5.

[2015-03-16 15:17] hyi commented on #224
@pkdash Do you already have hotfix available locally to be pushed? If yes, could you push it in? If not, I can make a fix specific to raster resource type.

[2015-03-16 15:21] hyi commented on #40
The only outstanding issue that should disable Add files button when there is already a file uploaded is covered in issue #224 @dtarb Could you make sure this is the case and close this issue?

[2015-03-16 15:23] pkdash commented on #224
@hyi I don't have hotfix that can be pushed. I fixed this bug in my timeseries branch which we can't push to the alpha. We have to make a separate hotfix for this.

[2015-03-16 15:28] hyi commented on #224
@pkdash OK. I will add my old fix in then as part of my pending current pull request pertaining specifically to raster resource type for release 1.4 then.

[2015-03-16 16:01] hyi commented on #199
@pkdash Can you point where in your time series branch you deleted coverage metadata? Currently, Coverage class remove() method raises validation error indicating coverage cannot be deleted. I am trying to replace my current logic to reset coverage to default values with deleting coverage element, and try to find out whether I need to modify anything in the hs_core Coverage class implementation to

[2015-03-16 16:17] hyi commented on #199
@pkdash Please disregard my earlier comment. I realized I can simply delete the object by using delete() and have tried that and everything works for me at my local branch, so this issue has been resolved.

[2015-03-16 17:31] pkdash commented on #169
@horsburgh Should the URL for the content file be (added 'data' sub path):

http://dev.hydroshare.org/resource/26973647d27d46b58be3dcd1d889f6bb/2015.02.24.18.03.01/data /contents/TWDaniels_Temperature.csv

[2015-03-16 17:47] mauriel133 commented on #165
This is not quite ready yet and should be put to 1.5

[2015-03-16 18:21] hyi commented on #224
Fix pushed to github and a pull request has been created to merge it into release-candidate-1.4.0.

[2015-03-16 18:23] hyi commented on #199
Fix pushed to github and a pull request has been created to merge it into release-candidate-1.4.0.

[2015-03-16 18:54] hyi commented on #224
Tested it on alpha and it is working now. Adding ready for testing label.

[2015-03-16 18:56] hyi commented on #210
Tested it on alpha and it is working now. Adding ready for testing label. Original coverage info cannot be edited for release 1.4. Will tackle coverage metadata editing in release 1.5.

[2015-03-16 18:58] hyi commented on #199
Tested it on alpha and it is working now for raster resource type. Adding ready for testing label. @gantian127 You can take a look at raster resource type code on release 1.4.0 branch to see how coverage metadata is deleted when a file is deleted.

[2015-03-16 19:02] hyi commented on #76
Tested it on alpha and metadata editing is working now except for Coverage metadata editing. Adding ready for testing label. Coverage metadata editing is captured in another issue #225, so suggest to close this issue if other metadata editing (except for Coverage) works.

[2015-03-16 19:03] hyi commented on #40
Tested it on alpha and it is working now. Adding ready for testing label.

[2015-03-16 19:39] horsburgh commented on #169
Yes, because that URI should resolve directly to the file. I am assuming we have resolved for sure that we are versioning via a timestamp in the URL?

[2015-03-16 21:19] pkdash commented on #169
You mean we need the timestamp as shown above for the content file URI?

[2015-03-16 22:20] #134 closed

[2015-03-17 01:27] dtarb commented on #169
I think that having the time stamp in the URL may be awkward and I am not sure how feasible it is.  @mjstealey please comment on how you suggest we resolve this.  At present a URL like @pkdash wrote above resolves to a 404 error and the pattern for retrieving a single file from a resource is different.

[2015-03-17 03:51] horsburgh commented on #169
I think the timestamp in the URL is a hold-over from when HydroShare was creating a new bag every time an edit was made to the metadata.  Our documentation about identifiers and formal publication of HydroShare resources states that HydroShare will create a new unique identifier (and hence a new resource) for all subsequent versions of a resource.  So, if we stick with that, versioning shouldn't b

[2015-03-17 04:15] pkdash commented on #169
In addition to URI issues (as described above) there are many other issues with the generation of the resourcemap.xml document. I think I have fixed all the URI issues now. The other issues may take a while as I have to learn how the tool used for creating this xml document works.

[2015-03-17 04:21] pkdash opened #232 "Missing client side file type validation when adding a file to an existing raster resource on alpha"

[2015-03-17 04:35] horsburgh commented on #222
I think this is essentially the same as #169.

[2015-03-17 14:28] hyi commented on #29
Fix pushed to github and a pull request has been created to merge into release-candidate-1.4.0 branch.

[2015-03-17 18:46] gantian127 opened #237 "Need file validation for pre_add_files_to_resource signal function"
This is needed for netCDF resource. When a new file is added for the netCDF resource, the netcdf_pre_add_files_to_resource receiver function is running. So there is a need to check if the netCDF file stores valid netCDF data (This is for the condition that when a file is in "XXX.nc" format but is not real netCDF data set).

[2015-03-17 19:13] hyi commented on #153
Fix pushed to github and a pull request has been created to have it merged into release-candidate-1.4.0 branch.

[2015-03-17 19:13] jsadler2 opened #240 "Snotel HydroServer not validating"
The SNOTEL URL does not validate even though it should...

http://worldwater.byu.edu/interactive/snotel/services/index.php/cuahsi_1_1.asmx/GetValuesObject?location=SNOTEL:823&variable=SNOTEL:WTEQ&startDate=2014-10-01&endDate=2015-03-17

[2015-03-17 20:33] hyi opened #241 "ValidationError is raised when adding/deleting a generic resource and a raster resource in succession"
This issue was originally noted by Pabitra, and is a bit tricky to reproduce. It can be reproduced when adding or deleting a file for a generic resource and then do the same operation for raster resource type. Has found a fix and will push the fix for others especially Pabitra to verify.

[2015-03-18 13:30] hyi commented on #241
Both Pabitra and I cannot reproduce the issue after the fix deployed on alpha. Closing the issue.

[2015-03-18 13:30] #241 closed

[2015-03-18 13:36] hyi commented on #153
It is working and ready for testing on alpha.

[2015-03-18 13:37] hyi commented on #29
It is working and ready for testing on alpha.hydroshare.org now.

[2015-03-18 17:40] gantian127 commented on #199
I just test that on local dev for netCDFand it works now. Thanks for the work.

[2015-03-18 18:15] jsadler2 opened #245 "Fix RefTS workflow"
* Problem: The current workflow is flawed. The user can create a RefTS resource without the reference metadata terms but does not have the option of adding that metadata in the resource landing page. The only place to add the reference metadata (e.g. URL) is in the RefTS creation page.

* Solution: the user is still sent to the same custom RefTS creation page but the resource is not created until

[2015-03-18 18:31] pkdash commented on #169
Will be implementing these additional changes as suggested by Jeff.

Pabitra,

What you have now as 'ore:isDocumentedBy' should be 'citoterms:isDocumentedBy'.  This just needs to be relabeled.

Also, perhaps we should bag the hsterms xmlns.  We are only using one term in the resource maps – "hydroshareResourceType" and I'm not sure it warrants using a separate namespace for one term.  As it turns

[2015-03-18 22:18] dtarb commented on #240
I tried and it did not work.  What am I doing wrong
![capture](https://cloud.githubusercontent.com/assets/3456833/6720642/1f693462-cd9b-11e4-833f-6e185ec16c51.PNG)

[2015-03-19 00:59] valentinedwv commented on #240
URL ideally should be: http://worldwater.byu.edu/interactive/snotel/services/index.php/cuahsi_1_1.asmx
or
http://worldwater.byu.edu/interactive/snotel/services/index.php/cuahsi_1_1.asmx?wsdl

it's the PHP clone.

WaterMLNamespace missing:
<?xml version="1.0" encoding="utf-8" ?><timeSeriesResponse xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

needs at least a targetNamespace="http://www.c

[2015-03-19 01:43] jsadler2 commented on #240
David, try the same URL with the REST option. It should work that way

On Wed, Mar 18, 2015, 4:18 PM David Tarboton <notifications@github.com>
wrote:

[2015-03-19 01:55] jirikadlec2 commented on #240
I've just tried it on sandbox.hydroshare.org.
When I choose the REST option and enter the url: http://worldwater.byu.edu/interactive/snotel/services/index.php/cuahsi_1_1.asmx/GetValuesObject?location=SNOTEL:823&variable=SNOTEL:WTEQ&startDate=2014-10-01&endDate=2015-03-19

I get the preview graph, but then when I click "Create Resource" there is an error:
![image](https://cloud.githubusercontent.co

[2015-03-19 02:06] jirikadlec2 commented on #240
Creation of the SNOTEL resource works on: http://dev.hydroshare.org using the REST URL. I successfully created one resource for the Cascade Mountain SNOTEL site:
http://dev.hydroshare.org/resource/7fc68cfc085c4063b2ad0be5fb30c9be/

[2015-03-19 02:23] jirikadlec2 opened #248 "Error creating resource with non-ascii characters and accents"
I tried to create a "Referenced Time Series" resource. I entered the resource title: "Temperature at Žatec". Immediately I get an error:

'ascii' codec can't encode character u'\u017d' in position 47: ordinal not in range(128)

![image](https://cloud.githubusercontent.com/assets/4144642/6723327/f42a8038-cdab-11e4-9b50-36c7ef3dd495.png)

![image](https://cloud.githubusercontent.com/assets/4144642/6

[2015-03-19 15:01] selimnairb opened #250 "Add API documentation to source tree"
Add markdown-based API documentation to source tree

[2015-03-19 15:01] dtarb commented on #240
I tested on alpha.hydroshare.org and got a bit further, but still not working fully
![capture](https://cloud.githubusercontent.com/assets/3456833/6733246/50734994-ce27-11e4-8d7a-b7de9d6b8005.PNG)

[2015-03-19 16:20] vmmerwade commented on #12
I wonder if you need a field for cross-section points to indicate whether the elevations are actually measured or extracted from another resource (eg. DEM, TIN or topographic map). How about information on the accuracy of the elevations. Should this be part of metadata?

Do you also want to define the polyline type or point type for these features? is cross-section cut line always going to be poly

[2015-03-19 18:14] twhiteaker commented on #12
I could see elevation source and accuracy as optional metadata elements. Horizontal and vertical accuracy are required if applicable according to CSDGM. I think the best CSDGM fit for elevation source is "Lineage." I suggest seeing if equivalent terms already exist for other HydroShare resource types, and then reusing them, and/or adding them for cross sections.

Do hydraulic models and typical GI

[2015-03-19 20:41] jirikadlec2 commented on #240
This was a bug in the SOAP web service on worldwater.byu.edu. The service didn't return any data when the startDate or endDate was empty. Now I fixed it, and if startDate and endDate are blank, the service returns all available data values. Successfully tested on dev.hydroshare.org with url: http://worldwater.byu.edu/interactive/snotel/services/index.php/cuahsi_1_1.asmx?WSDL

[2015-03-19 20:49] dtarb commented on #240
The site where we are testing the release candidate is alpha.hydroshare.org.  Can you please test it there.

[2015-03-19 20:52] jsadler2 commented on #240
I just pushed a little fix on our end as well. I think it should work now.

[2015-03-20 15:46] jsadler2 opened #253 "Home URL overwritten by RefTS code"
The GUID that was stomped overtop of the URL value for “home” was  1173171ea834460d8bc5f57ded5aea50.
Home’s URL should always be “/“, and it is being written over somehow when the ref_ts resource is being created.
This is the same GUID as found in the SNOTELBevansCabin resource

[2015-03-20 20:43] jsadler2 opened #255 "Not correct GUID...old URL method"

[2015-03-21 20:07] pkdash opened #257 "Remove metadata migration code"

[2015-03-23 11:22] dtarb opened #258 "Migrate/regenerate resource metadata documents"
resourcemap.xml and resourcemetadata.xml for old resources need to be regenerated to make consistent with the updated way we are representing content in these.

[2015-03-23 11:26] dtarb opened #259 "Establish URL mapping so that links in metadata documents work"
The metadata documents contain a lot of links of the form
http://<hydroshare url>/resource/<GUID>/data/resourcemap.xml
http://<hydroshare url>/resource/<GUID>/data/resourcemetadata.xml
These give a 404 error.  I think they should be made to work.

[2015-03-23 11:27] dtarb commented on #169
There is still repetition between dc and dcterms.  Perhaps this is OK.  @horsburgh if you are happy with this you can close.  I've written a new issue #258 for migration of old resources to be consistent with this, and a new issue #259 to make URL's work.

[2015-03-23 11:42] dtarb commented on #240
Works - closing

[2015-03-23 11:42] #240 closed

[2015-03-23 11:43] dtarb commented on #253
Tested after creating a new refts resource and the site remains up.

[2015-03-23 11:43] #253 closed

[2015-03-23 11:46] dtarb commented on #245
Tested by verifying that metadata can be edited after the resource is created.

[2015-03-23 11:46] #245 closed

[2015-03-23 11:52] dtarb commented on #232
Tested by validating that it rejects attempting to upload a non .tif file.

[2015-03-23 11:52] #232 closed

[2015-03-23 11:54] dtarb commented on #9
Tested by being able to create a refts resource

[2015-03-23 11:54] #9 closed

[2015-03-23 11:55] #152 closed

[2015-03-23 11:56] #124 closed

[2015-03-23 11:57] dtarb commented on #6
Tested by being able to create geographic raster

[2015-03-23 11:57] #6 closed

[2015-03-23 12:08] dtarb commented on #40
Tested by creating raster resource.  I am able to delete a file, then browse to add a file and select more than one file and save changes and the result is a resource with two files that is not supposed to happen.  See http://alpha.hydroshare.org/resource/56b567d4cfe44174845f97dd88a137df.  This is not release blocking so I am going to relabel as 1.5

[2015-03-23 12:09] dtarb commented on #29
Tested by creating an account and verifying that the resend email works.

[2015-03-23 12:09] #29 closed

[2015-03-23 12:15] dtarb commented on #199
Tested by deleting a file from a raster resource and adding another one and the metadata is reset properly

[2015-03-23 12:15] #199 closed

[2015-03-23 12:16] dtarb commented on #226
Based on testing and closing issues release 1.4 is ready to deploy.

[2015-03-23 12:16] #226 closed

[2015-03-23 12:20] dtarb commented on #224
Tested by adding a file to a raster resource.  The add button is not present when there is a file in the resource so the issue is fixed.

[2015-03-23 12:20] #224 closed

[2015-03-23 12:21] dtarb commented on #194
I was able to create a reference time series resource.

[2015-03-23 12:21] #194 closed

[2015-03-23 12:22] dtarb commented on #193
I was able to create a reference time series resource.

[2015-03-23 12:22] #193 closed

[2015-03-23 13:54] dtarb commented on #255
@jsadler2 Is this fixed.  Does 1.4.0 need to wait for this.  I am not sure what this refers to.

[2015-03-23 14:01] dtarb commented on #188
I have been able to create reference time series, but the URL above does not work for me.  @horsburgh are sure the above URL is correct.  Closing this issue for 1.4.0 release but refts will need ongoing improvement.

[2015-03-23 14:01] #188 closed

[2015-03-23 14:03] dtarb commented on #187
@horsburgh please test this and close if it works.

[2015-03-23 14:06] dtarb commented on #136
I reviewed the help pages.  They are good to go but will need continued updating as new features get added, like explaining how to use the new resource types.

[2015-03-23 14:06] #136 closed

[2015-03-23 15:52] horsburgh commented on #187
I just tested on alpha.hydroshare.org with the following REST URL:

http://data.iutahepscor.org/RedButteCreekWOF/REST/waterml_1_1.svc/datavalues?location=iutah:RB_ARBR_AA&variable=iutah:WaterTemp_EXO/methodCode=56/sourceCode=1/qualityControlLevelCode=0&startDate=&endDate=

I first got an error button stating that "This is not a valid HIS REST Url".  It seems weird that the error comes back as a cl

[2015-03-23 16:05] pkdash commented on #259
This depends on the implementation of #185

[2015-03-23 16:59] jsadler2 commented on #187
Yeah. I think we should put a more descriptive fail message. That's a good
idea. Also, I will look into this "DataError" bug. I've never seen that
before.... Thanks for the testing and feedback Jeff.

On Mon, Mar 23, 2015 at 9:52 AM Jeff Horsburgh <notifications@github.com>
wrote:

[2015-03-23 21:50] jsadler2 commented on #255
As far as I am aware, this is fixed. @mjstealey, do you know if this is still a problem?

[2015-03-24 15:26] #93 closed

[2015-03-24 15:28] Castronova opened #262 "Get resource list should check if the "types" input is provided"
The following line in hs_core.hydroshare.users.py does not check if **types** is provided as an input.
[code]

This line should be changed to
[code]

[2015-03-25 16:14] Castronova opened #264 "Duplicate migrations created for Model Program"
This seems like something that shouldn’t get generated each time a migrations call is made…. perhaps a better way to define it so that it doesn’t keep piling on a new migration file could be found.

[code]

Currently a new migrations file gets generated each time the instance is brought up and makemigrations is run since datetime will always be marching forward.

I can infinitely apply the "$ pyth

[2015-03-25 20:39] jsadler2 opened #265 "RefTS improvements"
- [x] [#187](https://github.com/hydroshare/hydroshare/issues/187) (needs testing)
- [x] Alphabetize Site and Variable Lists
- [x] Display URL in resource landing page (make it a metadata term)

[2015-03-27 16:51] jirikadlec2 opened #267 "Error adding Reference TS with Czech Characters"
I tried to add the reference time series of snow depth at "Labská Bouda" site. I used the REST service option with the following REST URL: http://hydrodata.info/chmi-d/cuahsi_1_1.asmx/GetValuesObject?location=CHMI-D:1&variable=CHMI-D:SNIH&startDate=2014-11-01&endDate=2015-03-27&authToken=

The preview is shown correctly, but when I try to save the resource, I get an error: 'ascii' codec can't enco

[2015-03-27 17:15] valentinedwv opened #268 "Initial Setup of Automated UI Testing"
Choose UI test framework to so some automated UI testing of the interface.

Choices:
- https://saucelabs.com/
- python robotframework web driver http://robotframework.org/

Use in Jenkins

[2015-03-27 17:25] rayi113 opened #269 "Owner in bag-info.txt needs to be updated when owner in HydroShare resource is changed"
When a user changes the owner of a HydroShare resource in Django, the corresponding owner information in the bag-info.txt information within the HydroShare resource bag is not updated, but should be.

[2015-03-27 19:27] valentinedwv commented on #268
add id to web page elements for testing
especially buttons.

[2015-03-27 21:44] mjstealey opened #270 "jenkins deployment scripts"
Create the scripts necessary for full tear down and rebuild via jenkins issued job
- [x] Backup database and media files
- [x] Backup relavant deployment files
- [x] Purge all docker related containers / images (dockerPurge.sh)
- [x] Remove entire hydroshare directory
- [x] Restore hydroshare repository with clean clone and deployment files in place
- [x] Deploy HydroShare application (deploy-hs)

[2015-03-28 00:13] jirikadlec2 commented on #25
this issue still exists in alpha.hydroshare.org!

[2015-03-29 01:14] jsadler2 opened #272 "Refts simplify creation"
No more "search buttons"
No more "rest/soap dropdown"

[2015-03-30 18:31] hyi commented on #40
After reviewing the JavaScript code in genericresource.html, I am assigning this to Pabitra who added this file validation code and will be most appropriate to quickly fix it. @pkdash The bug only occurs when supposedly adding one geotiff file via Add File button from the resource landing page. Currently, the file browser triggered from Add File button allows users to select more than one geotiff

[2015-03-30 18:36] hyi commented on #153
The fix to this issue is already included in release 1.4, and ready for testing on beta.

[2015-03-30 18:45] hyi commented on #168
Briefly looked at this issue hoping for a simple fix, but looks like not so since those profile information is not available in the page content model currently. It takes some investigation on retrieving these needed profile information managed by Mezzanine to populate into page content model for the landing page to use. Suggest to move the milestone for this issue to 1.6 since I will need to work

[2015-04-01 00:47] valentinedwv opened #278 "Geospatial Services"
Use geoserver to expose geospatial data types

Phase 1:
* use gsconfig to push data files onto a geoserver via a task

Phase 2:
* option 1: Write resource driver to read directly from irods
* option 2: Use new fuse being developed to directly access files

Phase 3:
* access control: make geoserver use irods as the access control source

Phase 1 task:
* install geoserver (done)
* write tasks for (r

[2015-04-01 14:14] dtarb commented on #269
@hyi can you please address this as part of your being in charge of users/groups/entities.  This issue may be a bit deeper than just this bug as some of the owner changing functionality does not work right and I think you need to review this holistically starting from the data structures used for users.  It may be easier to address this using @alvacouch access control functionality than trying to

[2015-04-01 14:22] hyi commented on #269
@dtarb Does this issue need to be addressed for release 1.5? If so, it is not possible to tie this with Alva's access control functionality since the access control will not be available for release 1.5. I can look at this issue trying to address it in Django if it is important to include this fix in 1.5. Otherwise, I'd suggest to address this for release 1.6 together with access control revamp. L

[2015-04-01 14:23] dtarb commented on #264
@Castronova can you discuss this with @mjstealey .  I do not understand why we need code that embeds specific dates you have above.  It seems like there needs to be a simpler way to do it.  These issues are not cropping up for other resource types.  A model program is just another kind of file.  What am I missing.

[2015-04-01 14:34] dtarb commented on #258
@pkdash can you please take a look at this.  It seems to me that we need two utility functions
1.  To generate resourcemetadata.xml from the contents in Django model
2.  To read resourcemetadata.xml and load the contents in to Django model
These will depend on resource type.  They will be used to maintain consistency between the Django model content and files in iRODS.

[2015-04-01 14:36] dtarb commented on #257
@mjstealey has this been pulled in to dev.  How can we test it (as it is a test for a negative).

[2015-04-01 14:40] dtarb commented on #255
The title is not sufficiently descriptive for me to know what the problem was in the first place, so I am unable to test this.  @danames can you please test this (with @jsadler2 if necessary) and close if it meets your satisfaction.

[2015-04-01 15:06] dtarb commented on #269
I would prefer doing this right (once) in a structured way, to band aid fixes.  It seems to me that @alvacouch database and API are the right way to do this.  Is it possible to do this using Alva's database to hold and manage ownership content, but not enforce it in iRODS yet.  This would actually exercise the implementation and useability of this database before building a strong dependency on it

[2015-04-01 15:31] hyi commented on #269
It is possible to use Alva's database and API for Django access control without iRODs backend support, but the following has to be decided/done to get it into production:
1. Where to put Alva's Access control database? locally together with Django server or remotely on iRODS server? It is designed to put together with iCAT on iRODS server, so latter might be preferable. If we go with latter, we ha

[2015-04-01 15:36] dtarb commented on #248
Same as #267

[2015-04-01 15:42] dtarb commented on #222
This also relates to #258

[2015-04-01 15:44] dtarb commented on #217
Appears to be fixed.  Abstracts have been showing up in my use of the system.

[2015-04-01 15:44] #217 closed

[2015-04-01 15:46] dtarb commented on #214
This is part of overall UI appearance that @mauriel133 will work on with @horsburgh

[2015-04-01 15:48] dtarb commented on #210
This has been working in demos on beta.hydroshare.org.  Closing.

[2015-04-01 15:48] #210 closed

[2015-04-01 17:39] mjstealey commented on #270
Running successfully on jenkins --> dev.hydroshare.org

[2015-04-01 17:39] #270 closed

[2015-04-01 17:41] mjstealey commented on #83
opted for VirtualBox instance of iRODS as denoted here: https://github.com/hydroshare/hydrodev-irods

[2015-04-01 17:41] #83 closed

[2015-04-01 20:36] hyi commented on #225
Fix has been deployed to dev.renci.org and everything works as expected according to my testing. Setting it to ready for testing. Note that bounding box info is not disabled for editing even when they are extracted from the uploaded file, which has merits in my opinion, to provide the flexibility for users to update bounding box info when needed and write back to geotiff file as needed. The part o

[2015-04-01 23:26] jsadler2 opened #280 "Variables appear multiple times refts"
With http://icewater.usu.edu/littlebearriver/cuahsi_1_1.asmx?WSDL URL variables show up multiple times:
![image](https://cloud.githubusercontent.com/assets/6943441/6954893/1a5b35de-d894-11e4-9f31-c66c7f7b5afd.png)

[2015-04-01 23:29] jsadler2 opened #281 "If user presses Enter, refts creation form can be submitted prematurly"

[2015-04-01 23:32] #255 closed

[2015-04-01 23:36] jsadler2 opened #282 "Timeout in refts creation"
When trying to add time series with a large amount of data (for example http://data.iutahepscor.org/RedButteCreekWOF/REST/waterml_1_1.svc/datavalues?location=iutah:RB_ARBR_AA&variable=iutah:WaterTemp_EXO/methodCode=56/sourceCode=1/qualityControlLevelCode=0&startDate=&endDate= ) the website times out

[2015-04-01 23:37] jsadler2 commented on #282
The original problem has been solved. There is a new problem now, [issue #282](https://github.com/hydroshare/hydroshare/issues/282)

[2015-04-01 23:38] jsadler2 commented on #187
The original problem is fixed. There is a new problem now, issue #282

[2015-04-01 23:39] jsadler2 opened #283 "Provide List of HIS Central s"

[2015-04-01 23:39] jsadler2 opened #284 "Provide List of HIS Central Services in RefTS creation"

[2015-04-02 01:51] horsburgh commented on #280
Jeff - how are you populating the list of variables?  FYI - in the Little Bear River Database, there are multiple versions of some time series with the same variable (e.g., QualityControlLevel 0 versus 1) and some variables are measured at multiple depths (each depth has a different Method).  Since the "normal" WaterOneFlow calls include only a SiteCode and VariableCode, for some WaterOneFlow web

[2015-04-02 15:06] pkdash opened #285 "REST API Phase-1"
Implement services for supporting CRUD operations for resource.
- [x]  Create resource
- [x] Delete resource
- [x] Get a resource bag
- [x] Get a list of resources based on filter query parameters (resource type, owner/creator, date range)
- [x] Get resource science metadata
- [x] Add a file to a resource
- [x] Delete a file from a resource

[2015-04-02 21:34] gantian127 commented on #237
This issue has been solved and merged back to the develop branch

[2015-04-06 18:56] twhiteaker commented on #12
Revised based on comments from vmmerwade.

# Cross Section Resource Type

Here's my current thinking, using shapefile and an optional CSV file to implement. The resource includes up to three files.
* **Cross section points, i.e., stations (required)**
* **Cross section cut lines (required)**
* Stage-discharge conversions

Each file may include data for more than cross section. A CSCode attribute r

[2015-04-06 19:31] dtarb commented on #283
incomplete duplicate of 284 so closed

[2015-04-06 19:31] #283 closed

[2015-04-06 19:37] dtarb commented on #225
@gantian127 can you please test this in Dev then if you are happy note this here.

[2015-04-06 19:42] #206 closed

[2015-04-06 19:44] dtarb commented on #205
Working as part of 1.4.0

[2015-04-06 19:44] #205 closed

[2015-04-06 19:46] dtarb commented on #197
Working in 1.4.0

[2015-04-06 19:46] #197 closed

[2015-04-06 19:49] dtarb commented on #195
Deployed and working in 1.4.0

[2015-04-06 19:49] #195 closed

[2015-04-08 14:37] hyi commented on #269
While looking at bag-info.txt generation to fix this issue, I have two questions to get confirmation from the team:

1. Currently, only the first owner is written to bag-info.txt. We can write all owners with no problem. Want to confirm the format for multiple owner case. Should we write multiple owners in the following format:

author: user1
author: user2
...

just to list all owners, or we shoul

[2015-04-08 20:44] jsadler2 opened #289 "Message Block in Resource Landing Page"

[2015-04-08 22:46] dtarb commented on #269
@horsburgh can you please provide input on what is right to do for DataOne OAI-ORE consistency, and given our model of multiple owners and creators.  We also need a solution that is consistent with the semantics of owner and creator being different.  Please resolve whether this bagit-info.txt file is supposed to contain Owners or Creators.

Owners are HydroShare users who "own", in the permissions

[2015-04-08 23:19] horsburgh commented on #269
In the resource packaging document (https://my.alfresco.com/share/hydroshare.org/page/site/HydroShare/document-details?nodeRef=workspace://SpacesStore/d197689a-338e-4cb2-8a99-5b489ed83a33) it states:

"HydroShare will not use optional elements of the BagIt specification.  BagIt optional elements include:
1. Tag Manifest: tagmanifest-<algorithm>.txt
2. Bag Metadata: bag-info.txt
3. Fetch File: fetc

[2015-04-09 04:54] horsburgh opened #290 "Modify Delete File Message"
When I delete a file from a resource, I get a message telling me to save the file if I want to keep a copy.  This text should probably be changed to "Consider saving a copy of the file before you delete it if it is important to you."

This would make it more clear that a user should make a copy of the file before deleting.

[2015-04-09 10:01] dtarb opened #291 "Ownership changes do not propagate to Owner displayed for a resource"
If I change the owner of a resource this does not propagate to the owner(s) displayed for a resource.  For example for the following resource I created it as user David (UNC) Tarboton, then added David Tarboton and Ray Idaszak as owners and removed David (UNC) Tarboton.  Owner is still listed as "David (UNC) Tarboton" in the resources landing and listing pages.
![untitled](https://cloud.githubuser

[2015-04-09 10:27] dtarb opened #292 "Use Firstname Lastname, Organization (username) as display names for managing access"
In the access management interface use the users real name followed by email in parentheses to identify users.  See illustration
![untitled](https://cloud.githubusercontent.com/assets/3456833/7064989/4e865030-de81-11e4-8b8e-3afa519b6634.png)

[2015-04-09 10:33] dtarb opened #293 "Resource listing only lists one owner"
The resources listing page only lists one owner, even if a resource has multiple owners.  I suggest the heading be modified to indicate "Primary Owner" and that the data structure for holding ownership be extended to include "Primary Owner" for each resource.

[2015-04-09 13:01] ironfroggy commented on #292
This makes all users email addresses public. I think you should strongly reconsider this. Most users will (rightly so) consider this an egregious privacy violation.

[2015-04-09 17:09] horsburgh commented on #292
This will get addressed with the redesign of the sharing interface.  But, we should make sure we address any privacy concerns before we implement something.

[2015-04-09 19:17] #187 closed

[2015-04-09 19:19] jsadler2 opened #294 "RefTS updating the files"
When the resource landing page is loaded HydroShare should access the reference url to get the latest data

[2015-04-10 01:02] dtarb commented on #294
Be careful about this.  If the web service is not responding you may build in a vulnerability.  Avoid anything that would prevent landing page opening.  Consider options that either use a static visualization or a visualization that does not block and perhaps gradually fills in.

[2015-04-10 01:33] dtarb commented on #292
Is there an alternative that better respects privacy.  @alvacouch what do you think?  I thought quite hard about this while writing the document about usernames and emails that is at https://github.com/hydroshare/hydroshare/blob/master/docs/DesignDocs/UserNameEmailRules.md.  We need a way for someone wanting to share a resource with someone to be able to identify and find them.  In the document I

[2015-04-10 14:01] danames opened #296 "Create Resource page - Change text indicating file size limit"
The create resource page says there is s 10GB limit to file uploads. This is apparently a falsehood. Change this text to 1GB (or other tested value?)

[2015-04-10 14:48] ironfroggy opened #297 "Email Host Password Exposed"
https://github.com/hydroshare/hydroshare/blob/master/hydroshare/local_settings.py#L128

[2015-04-10 14:48] ironfroggy opened #298 "Secret Key Exposed"
https://github.com/hydroshare/hydroshare/blob/master/hydroshare/local_settings.py#L14

[2015-04-10 15:46] dtarb commented on #292
Lets use Firstname Lastname, organization (username) as the identifier string in all places on this interface consistently and not display emails.

Other recommendations
- Avoid the multi-select.
- List with check boxes for the permissions being given (owner, change, view)
- Have a definitive remove icon for removing users
@ironfroggy  will post a mockup

[2015-04-10 19:58] dtarb opened #299 "REST API functions needed for SWATShare implementation"
- [ ] GET /search/{queryType}/{query}
- [x] GET /scimeta/{pid}
- [x] GET /resource/{pid}
- [x] POST /resource
- [ ] PUT /scimeta/{pid}

[2015-04-11 22:27] pkdash commented on #299
We should consider implementing the  API GET /search/{queryType}/{query} only after 'haystack' is integrated into HydroShare.

[2015-04-12 02:01] dtarb commented on #299
These were based on a list Venkatesh sent.  I do not know why they want search.  Perhaps it is just to identify the resources of type SWAT that a user has access to.  I'll ask him to clarify and perhaps we can simplify.

[2015-04-12 02:41] ironfroggy commented on #299
It would be good to know if the kinds of criteria they require are the same
kind of criteria we'll be allowing filtering by for the Filtering page. If
so, we might have opportunities for code reuse.

On Sat, Apr 11, 2015 at 10:01 PM, David Tarboton <notifications@github.com>
wrote:

--

*Calvin Spealman*Lead Front-end Developer

calvin@caktusgroup.com <calvin@caktusgroup.com>
www.caktusgroup.com

[2015-04-12 05:06] ironfroggy opened #300 "ReCaptcha Must be Verified by Server"
Right now, the ReCaptcha implementation is ineffective at deterring automated signups. The server never verifies the racaptcha result, it is only handled within the browser. This is not secure because you do not have control within the browser, and any automation attack would not be likely be done via a browser anyway, but making a registration request to the appropriate URL directly.

[2015-04-12 05:09] ironfroggy opened #301 "Registration does not verify email address"
It allows me to register with an email address that is not valid and which could never receive the verification email.

[2015-04-12 10:07] dtarb commented on #301
Thanks for pointing this and #300 out.  Can we have a concerted push/sprint to fix these.  Problems with our sign ups and sign ins have gone on too long and are frankly embarrassing.  @ironfroggy I hate to be reassigning priorities all the time but can you please make it a high priority to sort this out.

[2015-04-12 21:59] horsburgh commented on #300
I think the ReCaptcha should go away entirely.

[2015-04-13 17:29] pkdash commented on #222
The fix to resoursemap.xml generation that we did as part of issue #169 in release 1.4 generates the document correctly for any resource created after we applied this fix. The older resources will still have the wrong resourcemap.xml document until the bag is regenerated.

[2015-04-13 18:33] dtarb commented on #281
@danames Can you please test this and if it is working close.

[2015-04-13 20:21] pkdash commented on #171
@horsburgh Is this resource 'type' URI should point to a web page for each specific resource type?

[2015-04-13 22:03] dtarb commented on #222
I think that it is best to resolve this after @mjstealey completes bagit restructuring #185. At that point since the folders will be a bit different all resources will need to get moved from the old structure to the new structure.  That seems like a good time to regenerate these metadata documents in a consistent way.

[2015-04-14 12:15] ironfroggy commented on #171
Does this refer to the XML generated by `serialize_science_metadata_xml()`? If so, that is being removed in my API purge branch, based on confirmation that it was not in use. Perhaps while this was true, it was not the complete story and it *should* be used and I need to update my purge to keep it?

[2015-04-14 12:16] ironfroggy commented on #171
Reference to its removal in my pull request:

https://github.com/hydroshare/hydroshare/pull/252/files#diff-739dd5e04e836fb8447f3556c16a7075L131

[2015-04-14 13:34] hyi commented on #171
@pkdash correct me if I am wrong, but I am pretty sure serialize_science_metadata_xml() is not used and replaced by new method written by Pabitra, and it is safe to remove it.

[2015-04-14 14:05] pkdash commented on #171
@hyi and @ironfroggy The 'serialize_science_metadata_xml()' method is no more used. It is safe to purge it.

[2015-04-14 15:05] pkdash commented on #289
@jsadler2 I think we can use django messaging framework (https://docs.djangoproject.com/en/1.8/ref/contrib/messages/) to display messages and our base.html already includes code to display messages from this framework.

[2015-04-14 16:01] mohamedmorsy opened #303 "Implement SWAT Model Instance resource type"
SWAT Model Instance resource type is a specific Model Instance resource type for a specific hydrological model (SWAT.) It is an extension of the generic Model Instance resource type (issue #22 .) The SWAT Model Instance resource type will be implemented by extending the core metdata used to describe the generic Model Instance resource type by a specific metadata elements required for SWAT model. T

[2015-04-14 21:46] dtarb commented on #299
@vmmerwade can you please weigh in on this issue

[2015-04-14 22:08] horsburgh commented on #171
This comes down to whether and how we are going to have any controlled vocabularies.  My original suggestion that we have terms expressed as URIs assumed that we would formally define terms that we are using in controlled vocabularies and that they would be defined somewhere in the HydroShare domain (see my example above) and that they would have formal URIs.

But, if we are not going to do this,

[2015-04-14 22:27] dtarb commented on #171
@horsburgh which option do you think is best for a user?  I do not want to create formal vocabularies just for the sake of creating them, but if they are something that is best for a user then we should do it.  Can we list the advantages and disadvantages of each approach from the perspective of a user and use these to decide?

[2015-04-15 03:26] lanzh commented on #299
David was right. We would need to query hydroshare and find the SWAT model resources that a user can access using GET.

[2015-04-15 14:02] vmmerwade commented on #299
I think the list that we provided was based on the information in the API documentation. If there is a simple way to access the SWAT model instance on hydroshare without implementing search, it should be fine. I am imagining search would be necessary to filter resources at least based on access (public or private).

[2015-04-15 14:28] dtarb commented on #299
With this discussion (and I'll include @selimnairb, @horsburgh and @danames  here) we are trying to temper the idealism of the document by the realism of focused and practical use cases.  If you can frame REST API calls (ideally in the form of tests) that SWATShare needs to do its work then we can have coordinated test and purpose driven development around precisely defined intermodule interfaces.

[2015-04-15 14:31] pkdash commented on #299
Using the resource-list api it is possible to get a list of resources that are of specific resource type. The user who is making the request using this api will always get the resources that are viewable by him/her which includes resources created by the user (may be private) any resources shared with the user (public).

[2015-04-15 14:36] vmmerwade commented on #299
It seems that, at least to me, the list api should work for what we are trying to do. I will have to talk to Lan to confirm if we need anything more than this. @lanzh  can you comment?

[2015-04-15 14:38] lanzh commented on #299
Yes, the resource-list api does what we need.

[2015-04-15 14:39] danames commented on #299
I'd like to see this simplified to

GetResource(FilterBy)
PutResource()

Where FilterBy is in the form of a URL Query String like:
"attribute_name=attribute_value&attribute_name=attribute_value"

For example

GetResource("ID=123456")
GetResource("Type=Time_Series&Creator=DanAmes")

On Wed, Apr 15, 2015 at 8:31 AM Pabitra Dash <notifications@github.com>
wrote:

[2015-04-15 15:07] selimnairb commented on #299
I think we should use different syntax for filtering.  In general, it's not a good idea to allow the HTTP implementation details to leak into the Python client API.  Instead, it should be something like:

    GetResource(ID="123456")
    GetResource(Type="Time_Series", Creator="DanAmes")

We'll let the client API translate between Python syntax and HTTP syntax.

[2015-04-15 15:10] selimnairb commented on #299
@lanzh Could you clarify the resource-list API end point you are referring to?

[2015-04-15 15:22] lanzh commented on #299
I was referring to the resource-list Pabitra mentioned in this thread. According to what Pabitra described, it can do what we need.

[2015-04-15 15:22] pkdash commented on #299
@selimnairb 'resource-list' is the GET /resourceList in the specification.

[2015-04-15 15:24] danames commented on #299
I suggested the http querystring syntax because it would allow the
GetResource() function to have a single overload that only requires one
string parameter. This would is extensible in the future to new filter
parameters that may come up. So in other words, shouldn't "ID" and "Type"
qualifiers be part of the string?

GetResource("ID=123456")
GetResource("Type=Time_Series", "Creator=DanAmes")

Of c

[2015-04-15 17:44] jsadler2 opened #305 "Tools Phase 1 continued"
- [ ] continue with tools phase 1
- [ ] implement ref_ts viewer tool

[2015-04-16 02:21] horsburgh commented on #299
@danames - What would the two GetResource() function calls you list return? Seems like the first would return a resource, but what about the second?  What if there are multiple resources of type "time series" with "danames" as the creator?

Since we are doing all of our access control, cataloging, etc. at the resource level, I think there should be a 1:1 match between a get request and a resource

[2015-04-16 03:27] horsburgh commented on #171
From a user perspective, I think what is needed is a list of terms to choose from. These would be static terms with no links to definitions when displayed in selection dialogs or menus throughout the site, We need to agree on the list of terms and use it consistently (e.g., everywhere we use the resource type terms, they need to be the same - drop down lists, encoded in science metadata, URL query

[2015-04-16 04:23] pkdash commented on #171
I have done some work to have a web page for each resource type to describe the resource type. For example, I have the "type-timeseriesresource.html" to describe the 'Time series resource". For now I have taken some content out of the time series content model specification document to show in this web page. The url for this web page is  /timseriesresource. This will be the url pattern for other r

[2015-04-16 11:26] dtarb commented on #171
I think this is a good solution.

[2015-04-16 14:35] dtarb commented on #12
Here are some further things to think about.

This resource will inherit metadata attributes from the generic resource that include temporal coverage start date and end date.  If you add start date of period of application to this you will need to work to make sure that users know the differences between all these dates.  I suspect that the start date of period of application concept is intended t

[2015-04-16 14:44] danames commented on #299
Looks like the "listResources" method will do what I'm wanting - return a
list of resources that meet some set of filter requirements...

On Wed, Apr 15, 2015 at 8:21 PM Jeff Horsburgh <notifications@github.com>
wrote:

[2015-04-16 14:47] hyi opened #307 "Error raised when uploading a bad tif file for raster resource type"
This issue results from raster resource type testing by Tian who found error being raised when uploading a bad tif file for raster resource type. Have added validation to address this issue. Will create a pull request shortly to have my fix merged into develop.

[2015-04-16 17:34] twhiteaker commented on #12
Start date of period of application concept is intended to apply to stage discharge conversions (ratings) that may be adjusted over time. I included it because I think WaterML Part 2 requires it. I think using the generic resource Start and End Date for this is fine. Yes, it will apply to the whole dataset.

I reused the term "lineage" from CSDGM. I try to reuse before inventing. Since the raster

[2015-04-16 17:54] dtarb commented on #12
I like "ReachCode".  Date semantics are a bit more troublesome.  "Start date of period of application" and temporal coverage "Start Date" do not immediately mean the same thing to me, suggesting that we likely need additional words explaining things which may take away from rather than add to clarity so a bit more thought is needed here, I think.

[2015-04-16 18:02] twhiteaker commented on #12
@valentinedwv can start date of period of application be left out of a valid ratings and gaugings response? The only reason I'm requiring it or even including it for this resource type is because it's my understanding that ratings and gaugings requires it, and we're trying to support ratings and gaugings.

If it's not required, I'm inclined to leave it out of the resource level metadata. It should

[2015-04-16 18:08] valentinedwv commented on #12
Go ahead and leave it out.
Really creating a model results profile/extension

On Thu, Apr 16, 2015 at 11:02 AM, Tim Whiteaker <notifications@github.com>
wrote:

[2015-04-16 18:09] dtarb commented on #12
Also, being curious about CSDGM and lineage I looked it up and see that Lineage has two elements, Source_information and Process_Step, that seem to correspond to source and method.  I agree about avoiding inventing terms so use your judgment as to what is best here.

[2015-04-16 19:27] valentinedwv opened #310 "add django-jenkins to hs_base requirements"
django-jenkins

[2015-04-16 20:03] twhiteaker commented on #12
Xing Zheng, Maidment's masters student, independently created a data model for river geometry in GIS for his work in NFIE. I uploaded it as a HydroShare resource. It's similar to the design in this GitHub issue, but with some differences arising from specific use of NHD in NFIE and attribute names desired by David Maidment. http://beta.hydroshare.org/resource/15b72b4a857c425497c8de54382a608b

[2015-04-17 17:32] zhiyuli opened #312 "experimental hydroserver resource type"
build a  hydroserver resource type for learning and training. However it may prove to be useful.

[2015-04-20 14:09] dtarb commented on #173
@pkdash is this ready for 1.5.0 release.  If it would be a distraction from your current work please indicate whether (a) time series can be included as is without this fix in 1.5 or (b) whether we should withhold time series from 1.5 until this is fixes.  Change the milestone based on your choice.

[2015-04-20 14:13] dtarb commented on #237
@gantian127 based on your comment above I am closing.  Reopen if you think this still needs work.

[2015-04-20 14:13] #237 closed

[2015-04-20 14:16] dtarb commented on #267
@danames can you please test this on dev and if it is working close the issue.

[2015-04-20 14:17] dtarb commented on #265
Based on this already being merged I am closing.

[2015-04-20 14:17] #265 closed

[2015-04-20 14:19] dtarb commented on #248
Closing this.  Will resolve this with #267

[2015-04-20 14:21] dtarb commented on #40
Tested on dev.

[2015-04-20 14:21] #40 closed

[2015-04-20 14:25] dtarb commented on #176
Tested.  Behavior seems correct now.

[2015-04-20 14:25] #176 closed

[2015-04-20 14:27] dtarb commented on #225
Tian indicated in email that this was working, and it seems to be working based on my testing, so closing.

[2015-04-20 14:27] #225 closed

[2015-04-20 14:40] #250 closed

[2015-04-20 14:46] pkdash commented on #173
@dtarb and @horsburgh I missed it as it was not in the 1.5 release check list. It is a small fix and I think I should fix it today so that time series resource can be included in release 1.5.

[2015-04-20 14:47] horsburgh commented on #173
I would hate to put it off if it is something small.  Thanks Pabitra.

[2015-04-20 17:07] pkdash commented on #171
@horsburgh and @dtarb This issue is currently part of the release 1.5. If we just want a valid url for the 'type' element I can get it done today however, except for 'TimeSeriesResource' for all other resource types it will point to a page that just shows resource type name. I am not sure if other resource type developers will have time to put resource type content to these pages for release 1.5.

[2015-04-20 18:08] pkdash commented on #173
@horsburgh I have now fixed this. I think you should be able to test it on dev.hydroshare.org sometime tomorrow after tonight's build. Then you can close this if see it being fixed.

[2015-04-20 18:24] danames commented on #267
Is there a reason dev.hydroshare.org isn't sending confirmation emails for
new accounts? I'm not able to get in with my old account so I tried
creating a new one, but no confirmation email...

On Mon, Apr 20, 2015 at 8:16 AM David Tarboton <notifications@github.com>
wrote:

[2015-04-20 18:53] dtarb commented on #267
@mjstealey please comment on the confirmation email.  There have been changes related to the "secrets" getting secured.  Also Michael will shortly (possibly in process already) be updating dev with code improvements from Calvin that better secure the email handling so some things will be changing there anyway.

[2015-04-20 19:33] dtarb commented on #171
It is fine to create placeholder pages for the other resource types.  Please as you do it, include at least a sentence saying what the resource type is (i.e. more than just a name) and then create an issue assigned to the resource champion for the other resources to fill out the content (that is for a deploy later than 1.5)

[2015-04-20 19:46] danames commented on #267
Just verified this is fixed in dev.hydroshare.org.

[2015-04-20 19:46] #267 closed

[2015-04-20 19:54] danames opened #315 "Creating a new resource - feels like an error when it's not..."
1) Create a new resource (I tried both referenced time series and geotiff)
2) You are greeted with RED BOLD messages that give the sense that you have done something wrong on in some way failed badly. The messages say, "Data for the following required elements are missing..."

It would be better to greet the user with a nice green "Congratulations! Your resource has been created. Next steps: Add t

[2015-04-20 19:58] danames opened #316 "After creating new resource it is not clear how to edit the abstract"
1) Create a new resource (I just did a geotiff).
2) You are instructed that the abstract is missing.
3) There is no additional information on how you should go about adding an abstract.
4) You are stuck.

(then you discover the edit pencil button but only because you saw it in a demo.)

There should be some more obvious way to edit the abstract. At a minimum, add a line under "Last updated:" that

[2015-04-20 20:00] danames opened #317 "Go to metadata edit mode. How to get out of it?"
1) On a resource landing page, hit the pencil "edit" button.
2) View the metadata editor page.
3) Try to go back to the landing page.
4) Get stuck.

There should be a button on the metadata landing page that says, "Return to Resource View" or something like this. The only way I could get out was to click the main Resources button and then go to the resource again.

[2015-04-20 20:02] danames opened #318 "Geographic resources (geotiff) in desperate need of a thumbnail view"
The geographic resource (geotiff) needs a thumbnail view. This should be easy to do in the case of GeoTiff since it is an image format by default.

[2015-04-20 20:11] jsadler2 commented on #248
This issue is separate from #267 which was dealt with locally in the ref_ts app. This issue deals with the more global problem, accented characters in the title. The solution to #267 does not directly apply to this one.

[2015-04-20 20:28] danames opened #319 "Email addresses should not be scrapable"
1) Do not log in
2) View a resource
3) Click the creators name
4) Hover over the creator's name and you can scrape their email address.

Easy/quick fix: Only show the "Email: Send email to Dan" link for users that are logged in. For visitors who are not logged in show: "Email: (log in to send email)"

[2015-04-20 20:31] danames opened #320 "Don't show resource links to visitors who are not logged in"
1) Don't log in
2) Browse to a user profile page
3) See the list of their resources
4) Click on one of their private resources
5) See an un-informative "403 Forbidden" page (https://www.youtube.com/watch?v=UNyyjf6L1j4)

HydroShare should not show the names/links of private resources to people who do not have access to those resources.

[2015-04-20 20:32] dtarb commented on #248
@jsadler2 or @danames can you test if this is then still an issue with other resource type titles.  Also check with @hyi.  There was work to have the storage of all fields unicode and to remove generation of the optional bagit file that triggered this issue.

[2015-04-20 20:34] danames opened #321 "Change name of "Multidimensional Space and Time Data Resource""
Can we change this to something simple like "Multidimensional NetCDF"?

Can we put the file type in parentheses in the "Select a resource type" drop down box:

"Geographic Raster (GeoTiff)"

Can we remove the word "Resource" from our resource names?

[2015-04-20 20:45] horsburgh commented on #171
Another option would be to have separate URIs that all resolve to the same page.  For example, see:

http://purl.org/dc/terms/abstract and http://purl.org/dc/terms/contributor

Both of these take you to:

http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=terms

So, we could maintain one page that has all of our terms and definitions on it.

[2015-04-20 20:47] hyi commented on #248
Yes, I did run into this issue initially and fixed it in my new access control branch by setting up database with unicode UTF-8 and remove title field from bag-info.txt file. So you may test this to make sure this issue is fixed for all resource types once my new branch is deployed to dev.

[2015-04-20 20:53] hyi commented on #171
I like this option to have separate URIs all resolve to the same page that has all of our terms and definitions. Specific resource type URI can then directly jump to the relevant resource type description and terms by query string in the request.

[2015-04-20 21:10] jsadler2 commented on #248
Okay. Will do. Thanks Hong.

On Mon, Apr 20, 2015 at 2:47 PM Hong Yi <notifications@github.com> wrote:

[2015-04-21 02:52] horsburgh commented on #315
I like this suggestion.  And, it could also solve issue #316 if the message directed them to the Edit button. User's only really need to be directed to the edit button once.

[2015-04-21 09:35] dtarb commented on #321
For consistency how about
"Multidimensional (NetCDF)"
"Geographic Raster (GeoTiff)"

[2015-04-21 11:40] ironfroggy commented on #248
I'd like to note that reading the bagit library it clearly is expected to support UTF-8 for those txt files it generates, so it should be possible to resolve this without changing the data you create.

[2015-04-21 11:43] ironfroggy commented on #320
Does it matter if they aren't logged in? If the resource is private should *anyone* see it?

[2015-04-21 12:26] dtarb commented on #320
Private in this context means not public (not completely private).  It means that the resource should be seen by anyone or any group with which it has been explicitly shared (to view or to change) according to the sharing model.  There is also the concept of discoverable which is a resource sharing attribute that can be set for a resource that enables access to the metadata but not the resource da

[2015-04-21 13:20] hyi commented on #248
I believe the bagit problem was caused by our use of earlier version of bagit library which probably did not support UTF-8 fully, hence the error when saving a title with special characters into bag-info.txt. Since we are planning to revamp bagit workflow to have bagit done on iRODS side that does not create optional bag-info.txt (we have decided we don't need bag-info.txt), so it should be fine j

[2015-04-21 15:42] danames commented on #321
Yes. It's brief and informative. I like these two names.

On Tue, Apr 21, 2015 at 3:35 AM David Tarboton <notifications@github.com>
wrote:

[2015-04-21 15:45] danames commented on #320
Correct. Links to private resources shouldn't' be visible to anyone.

On Tue, Apr 21, 2015 at 5:43 AM ironfroggy <notifications@github.com> wrote:

[2015-04-21 15:54] danames commented on #320
David's point is important. Anyone with access to the resource (shared with them or because it's public) should see the links... Anyone else shouldn't.

[2015-04-21 16:36] gantian127 commented on #320
It may be better to make the "403 Forbidden" page more informative if this is possible to be implemented (e.g providing detailed info why that is "forbidden" to the people who doesn't have the access to the resource).
The reason is that as long as the link is visible even to a small group of people, there is possibility that  people who are not familiar with the access control of HydroShare  may u

[2015-04-21 16:56] gantian127 commented on #321
The geographic raster may support other raster file formats in the future, so not so sure if we need to include the file format info in the resource type name. Besides, in the initial plan, HydroShare will provide webpages to introduce each of the resource type and it may include the detailed info for supported file formats and the resource creation page also shows the supported file format extens

[2015-04-21 17:58] jsadler2 opened #322 "tool resource fixes"
- [x] no files needed
- [x] should not load tool into landing pages without a tool url
- [x] text box for relevant resource types should be smaller
- [x] available resource types should be listed
- [x] editing the metadata throws error when there are no tools

[2015-04-21 19:31] ironfroggy commented on #320
My was mostly that it isn't necessarily important if the viewer is logged in or not, but their specific permissions on each individual resource on this list.

That makes caching kind of problematic, of course.

[2015-04-22 01:41] dtarb opened #324 "Support any tiff file and gracefully handle missing geotiff data"
If a tiff file without geotiff tags is loaded the latitude and longitude are filled with the number of rows and columns.  They should rather be filled with NA and eventually allow user editing to fill them in.

[2015-04-22 09:45] dtarb opened #326 "Roadmap for transition to Oauth based authentication"
The following sequence was suggested by Calvin.

1.  The new DRF-based API needs to land first, and I think using unauthenticated / public requests and standard Django auth at Day One is fine.
2.  Get tools.hydroshare.org on to this new API
3.  Add a simple Token auth option, just so the method of tracking the session via token is more clearly documented as part of the API documentation
4.  Finish

[2015-04-23 00:32] dtarb commented on #291
@ironfroggy this is an example of a ticket about ownership

[2015-04-23 00:48] dtarb opened #328 "Access control does not prevent access to files in private resources from unauthenticated user"
The URL pattern for downloading a resource is http://beta.hydroshare.org/django_irods/download/?path=4da5255ad5ec44c682f90cd7dc5932d9/Untitledresource-4_20_2015.csv.  This specific resource is private but this URL results in the file being downloaded.

[2015-04-23 00:57] dtarb opened #329 "For reference time series it is not possible to add users to access control. The interface element is missing"
![capture](https://cloud.githubusercontent.com/assets/3456833/7288600/379cc564-e932-11e4-8483-fa9997d0203f.PNG)

[2015-04-23 00:58] dtarb opened #330 "For reference time series there are two download all buttons (that display different sizes)"
![capture](https://cloud.githubusercontent.com/assets/3456833/7288607/4ea5b234-e932-11e4-9e4b-a92affd08606.PNG)

[2015-04-23 01:13] hyi commented on #291
I have addressed this issue in my access control branch, which is actually a resource landing page display issue, i.e., it only displayed the first owner, not all owners. I have fixed landing page template to display all owners in my access control feature branch, which can be viewed on playground now.

[2015-04-23 04:29] ironfroggy commented on #328
The view for download does not check permissions in anyway.

It also reads the **entire** file contents into memory before responding. This is extremely expensive and quite possibly dangerous.

[2015-04-23 04:29] ironfroggy commented on #328
I would recommend looking into a solution that utilizes the X-Sendfile header to pass the instruction along to the webserver directly to handle the response of the file contents more efficiently, upon verification of the requester being authorized.

[2015-04-23 15:14] rayi113 commented on #185
iRODS team identified bug in zip support within iRODS.  Entered here on GitHub/iRODS: https://github.com/irods/irods/issues/2613

[2015-04-23 21:36] hyi commented on #324
Fix pushed to my feature branch with a pull request created.

[2015-04-24 15:18] hyi commented on #324
Tested on dev and everything works as expected now. Set ready for testing label to be tested on dev.

[2015-04-25 17:25] pkdash opened #333 "Reference to tastypie still exists"
```hs_core/hydroshare/users.py``` still has reference to tastypie

[2015-04-27 14:18] ironfroggy commented on #333
You'll need to be more specific. I have a fresh checkout of develop and all references in that module have been removed. Perhaps you're looking at master, where the purge branch has not been merged yet?

[2015-04-27 16:48] solomonvimal opened #334 "Error! Metadata update failed - why does this happen?"
![abstract edit - error](https://cloud.githubusercontent.com/assets/2102394/7352681/9dd6d818-ecdb-11e4-9b9f-a0085fa19601.jpg)

[2015-04-27 16:52] solomonvimal opened #335 "OS error - this screen appeared after a 300 mb zip file was uploaded (create resource)"
![upload error 300mb file oserror at hsapi_internalcreate-resourcedo](https://cloud.githubusercontent.com/assets/2102394/7352702/db18d334-ecdb-11e4-9b2b-190ddb6cc163.jpg)

[2015-04-27 16:59] ironfroggy commented on #335
If you click the link there "Switch to copy-and-paste view" and copy and paste the information it gives you into this ticket, that would be very helpful.

[2015-04-27 20:24] hyi commented on #291
Fix pushed to github and a pull request has been created to have it merge into develop and built on dev for testing.

[2015-04-28 04:33] pkdash commented on #333
I am referring to line#282 to 286 in ```hs_core/hydroshare/users.py```.  I am assuming those are tastypie related.

[2015-04-28 11:56] ironfroggy commented on #333
The function in question doesn't seemed to be invoked from anywhere. Do you know if it will need to be used or if it can be removed?

[2015-04-28 13:57] hyi commented on #291
Tested on dev.hydroshare.org and things work as expected. I created three test users: testuser1, testuser2, and testuser3, and assigned the ownership of a resource I created to testuser1, read-write permission to testuser2, and read-only permission to testuser3, and logged in as each test user and performed operations as specified by the access control they were assigned as expected. Set it to rea

[2015-04-28 14:01] mjstealey commented on #291
@hyi - The resource you've been denoting is private and cannot be seen unless logged in as one of the test users with rights on the resource or as admin...

May want to perform tests on resources that can be observed by others without having to log in as a specific user or as admin.

[2015-04-28 14:06] hyi commented on #291
@mjstealey Good idea. I have made the resource public: http://dev.hydroshare.org/resource/8728319dfb5f45bfa1f0113651d5f453/
However, you will have to log in as each individual test user to test the permissions they are assigned for this resource. Let me know if you need to know these testusers' passwords to look into them, but I thought you may want to test in your own way.

[2015-04-28 17:16] solomonvimal commented on #335
Though this error appears, the file seems to have been uploaded.
The contents of copy-and-paste view are pasted below:

Environment:

Request Method: POST
Request URL: http://beta.hydroshare.org/hsapi/_internal/create-resource/do/

Django Version: 1.7.1
Python Version: 2.7.6
Installed Applications:
(u'mezzanine.boot',
 u'django.contrib.auth',
 u'django.contrib.contenttypes',
 u'django.contrib.redi

[2015-04-28 18:18] hyi commented on #328
Fix to this is pushed to github and a pull request is created to be merged into dev for testing.

[2015-04-28 21:14] hyi opened #338 "Implement iRODS file browser for ingestion of files from iRODS into HydroShare"
To support NFIE use case in particular, an iRODS file browser needs to be implemented to allow browsing and selecting files in another iRODS zone to create resources in HydroShare, which is needed for NFIE demo in CUAHSI Hydroinformatics conference this July.

[2015-04-29 14:20] rayi113 commented on #338
Per @dtarb , a NFIE summer camp starts June 1 that precedes the CUAHSI Hydroinformatics conference in July, so June is when it needs to be ready.

[2015-05-01 19:57] horsburgh opened #340 "Time Series: MethodCode should be validated as text string"
On the Resource Specific metadata tab I try to edit the "MethodCode" element to be a string.  It looks like I am only allowed to enter a number into this field.  Although my use case example used a number for the MethodCode, it should be treated as a string.

[2015-05-01 19:59] horsburgh opened #341 "Time Series: Implement Metadate Edits in Underlying SQLite Database"
Eventually we need to reflect any changes to the metadata made in the HydroShare metadata editing form into the underlying SQLite database for the time series.

[2015-05-01 20:00] ironfroggy commented on #341
What SQLite database does this refer to?

[2015-05-01 20:04] horsburgh commented on #341
The time series data are stored in a SQLite file that is the content of the resource.  Pabitra has programmed automated metadata extraction from an uploaded time series SQLite file, but then you can edit the metadata in HydroShare.  I don't think we have added code to reflect metadata changes made in the HydroShare web user interface back into the SQLite file.

The time series resource uses ODM2 a

[2015-05-01 20:48] twhiteaker commented on #335
I just experienced this error for a 224 MB netCDF file upon creating a resource (beta.hydroshare, Firefox, Windows 7).  Here's my version of the traceback in case that helps.

Environment:

Request Method: POST
Request URL: http://beta.hydroshare.org/hsapi/_internal/create-resource/do/

Django Version: 1.7.1
Python Version: 2.7.6
Installed Applications:
(u'mezzanine.boot',
 u'django.contrib.auth',

[2015-05-04 13:40] mjstealey commented on #298
Resolved once release-candidate branch is merged into develop

[2015-05-04 13:40] mjstealey commented on #297
resolved once release-candidate branch is merged with develop

[2015-05-04 13:48] ironfroggy commented on #297
Are you also changing the passwords and keys in that file everywhere? They'll still be in the repository history here.

[2015-05-04 14:07] mjstealey commented on #297
Yes, changes will be made to all previously exposed data.

[2015-05-04 15:48] selimnairb opened #342 "Add authentication to REST API, phase 1"
Add BASIC and session authentication to REST API.

[2015-05-04 18:09] mjstealey opened #344 "HydroShare Certificates"
get certificates for hydroshare.org and subdomains

[2015-05-04 18:14] mjstealey commented on #344
Conversation thus far

Request:
[code]
Response:
[code]
Follow on:
[code]
Additional information:

 - Universities don’t generally act as certificate authorities, except for in rare cases.  If USU has a partnership with a particular CA to provide low-cost certs, by all means go through the local IT department to purchase one.  Otherwise, you’ll have to get it from a trusted commercial authority li

[2015-05-04 18:18] ironfroggy commented on #344
StartSSL also offers certificates for free, verified through domain e-mail without human intervention. LetsEncrypt, the EFF/Mozilla initiative to make certificates easier to obtain, should also be launching soon. Both may be alternatives to the university red tape.

[2015-05-04 21:13] selimnairb opened #345 "REST API refactor to support client"
There will be (are) some small changes to the REST API implementation that will be needed to support the Python-base HydroShare climate.  This issue and a corresponding pull request will serve to summarize those changes.

[2015-05-05 14:37] selimnairb opened #347 "Resource URL handling in science metadata"
At resource creation (and perhaps at other times), we are storing a URL to each resource in that resource's science metadata in prepare_resource_default_metadata(), which can be found at hs_core.hydroshare.utils:308.  In general, we should not be storing URLs to HydroShare resources in the HydroShare database.  When URLs to resources are needed, they should be generated dynamically at request time

[2015-05-05 14:44] horsburgh commented on #347
Or - we should just finally get http://www.hydroshare.org released!

[2015-05-05 14:58] selimnairb commented on #347
But in test environments, the hostname will not be www.hydroshare.org ...

[2015-05-05 15:11] horsburgh commented on #347
Yeah - but I think we want to get to the point where we are not migrating resources from testing environments to the production environment.  I think we make a bit of a contract with users that we will support what they create in our production system. I don't think we want to make that contract with our testing environments.  We will, of course, have to decide what to do with everything that is i

[2015-05-05 15:18] selimnairb commented on #347
Ignore what I said about migrating resources.  Always storing URLs to resources as beginning with http://www.hydroshare.org/... will make it impossible to fully test things in development environments.

[2015-05-05 16:19] selimnairb opened #348 "get_user import"
get_user() should be imported from hs_core.models directly, not from ga_resources.utils, which just does:

[code]

[2015-05-05 16:34] mjstealey opened #349 "NFIE iRODS Zone"
Multi-(iRODS)users will be implemented directly in separate stand-alone NFIE iRODS Zone, and these resources will be accessed via a browser interface implemented as part of HydroShare NFIE Release 1.5.1
- NFIE iRODS student users who make their NFIE iRODS resources public will be accessible by HydroShare accounts, otherwise not

[2015-05-05 16:36] mjstealey opened #350 "NFIE Filtering"
For NFIE, Filtering will be moved from 1.6 to 1.5.1 NFIE Release

- It is n​ot​expected to be a problem to get a form of filtering done by NFIE summer camp June 1
- However, completing this by NFIE is only possible if no changes to underlying access control
are made (i.e. must keep single-user iRODS proxy-user approach in order to have filtering done by June 1)

[2015-05-05 16:38] mjstealey opened #351 "NFIE iRODS Zone File Browsing"
For NFIE Release, iRODS zone file browsing and bagit workflows are priorities

- It is n​ot​expected to be a problem to implement file browsing of HydroShare, NFIE, or
generally any iRODS zone by NFIE summer camp June 1

[2015-05-05 16:39] mjstealey opened #352 "NFIE Bagit Workflow"
For NFIE Release, iRODS zone file browsing and bagit workflows are priorities

- It is n​ot​expected to be a problem to implement file browsing of HydroShare, NFIE, or
generally any iRODS zone by NFIE summer camp June 1

[2015-05-05 18:50] selimnairb opened #354 "Upload filename limited to 50 characters for hs_geo_raster_resource"
Creation of new hs_geo_raster_resource resources fails when the uploaded filename is greater than 50 characters in length; this restriction is not in place for generic resources (not sure what the limit is there). We should probably allow filenames to be ~255 characters.  However:

    getconf NAME_MAX /

on a HydroShare container yields 242.  There may also be some iRods-imposed limit to consider

[2015-05-05 19:46] hyi commented on #354
Increased max length for name field to 500 for both CellInformation and BandInformation metadata classes (populated automatically with the file name being uploaded) to be consistent with hs_core filename max length. Fix pushed to github and a pull request was created to be merged into release-candidate-1.5.0 branch.

[2015-05-05 21:02] alvacouch commented on #350
Note: NFIE principals were quite specific that the ability to filter resources by file name (or part thereof) is important. For us, this becomes the resource title.

Alva L. Couch, Ph.D.
Senior Architect, CUAHSI Water Data Center
http://wdc.cuahsi.org
+1 339 221 5400 x 203

From: Michael J. Stealey<mailto:notifications@github.com>
Sent: ?Tuesday?, ?May? ?5?, ?2015 ?12?:?36? ?PM
To: hydroshare/hydr

[2015-05-06 01:27] dtarb commented on #351
Can you please explain what the account/access control approach planned is, noting that #350 plans to retain a single proxy user.  File browsing has to be limited to content for which the user has access.  I suggest that iRODS have the following accounts
1.  Proxy account that holds only properly formed HydroShare resources. There is no access to this directly from any iRODS client other than Djan

[2015-05-06 10:45] ironfroggy commented on #351
Based on our discussions about timelines so far, I don't think option two there is viable. There are plenty of other things to squeeze in before NFIE and, as far as I am aware, no work has yet begun to sync users from Hydroshare to iRODS. That isn't something you want NFIE to depend on without more time to test and work out any bugs, either.

It was my understanding that there would be some iRODS

[2015-05-06 11:55] alvacouch commented on #351
Ray and I met with NFIE modeling principals on Monday and they complained about filtering not being present. They considered this a show-stopper for use of HydroShare on June 1. But their filtering needs are quite minimal. They have a naming convention and want to be able to select "files" with the appropriate "names". Basically, they need an "ls"/"dir" command that they can tell people about and

[2015-05-06 13:36] dtarb opened #356 "Change return email address on email verification email"
Change the return email address on system generated email's sent during account creation to support@hydroshare.org, not the general team email list hydroshare@hydroshare.org.

[2015-05-06 13:53] mjstealey commented on #297
Working with Will Beeler for an alternative to hostgator which is being migrated away from. Until then password to be changed for all environments making use of the smtp server

[2015-05-06 16:05] hyi commented on #354
tested on alpha.hydroshare.org and things work as expected now. Set it to ready for testing.

[2015-05-06 16:14] hyi commented on #351
This is the same issue as the issue [#338] I opened earlier when I started to work on it. A branch 338-irods-file-browser was also created for addressing this issue.

[2015-05-06 17:25] pkdash commented on #258
Suggest we move this to release 1.6

[2015-05-06 17:45] ironfroggy opened #357 "My Resources Filtering: Search by Filenames"

[2015-05-06 18:20] selimnairb commented on #354
Tested and verified that this is now fixed.  Closing.

[2015-05-06 18:20] #354 closed

[2015-05-06 18:21] rayi113 commented on #269
Since bag-info.txt is not necessary, it will be omitted from the bagit workflow and thus this issue will be fixed by the NFIE Release.

[2015-05-06 18:47] selimnairb opened #358 "NFIE REST API"
For NFIE, REST and Python client APIs need to support
- [x] resource CRUD
- [x] resourceList with simple filtering described in API design document

[2015-05-07 14:50] ironfroggy opened #359 "Concrete Base Resource Model"
These plans are a work in progress. Some things to address:

- [ ] The relationship between resources and CoreMetaData. Why is it a generic relationship if CoreMetaData is a concrete model already and this is always a reference to a CoreMetaData object?

[code]

- [ ] All resource types already share a common concrete model, but is the wrong one: Page. We need to add a BaseResource that inherits f

[2015-05-07 14:54] mjstealey commented on #227
Some elements moved to later release (NFIE or 1.6.0)

[2015-05-07 16:33] Castronova opened #360 "Model Instance Foreign Key Cannot be None"
Save fails if the executed-by model program is set to **Unknown**, which causes the foreign key object to be None.  However, the foreign key object is set to accept null values.  One possible solution to this may be:

http://stackoverflow.com/questions/16589069/foreignkey-does-not-allow-null-values

[2015-05-08 13:56] hyi commented on #328
Tested on alpha and it is working now. Set it to ready for testing and assign milestone 1.5.0 since it is already included on alpha and working.

[2015-05-08 19:56] mjstealey commented on #297
Updated all public facing servers to use new configuration.
No longer use hostgator.

[2015-05-09 12:36] dtarb commented on #356
Verified fixed on alpha.

[2015-05-09 12:36] #356 closed

[2015-05-09 12:46] dtarb commented on #328
Tested on alpha.  Closing.

[2015-05-09 12:56] dtarb commented on #324
Incorrect and invalid north latitude and east longitude were still filled in on my test.  These should be NA.
![untitled](https://cloud.githubusercontent.com/assets/3456833/7550277/782b301e-f618-11e4-88bf-52b8c78f02ef.png)

[2015-05-09 13:01] dtarb opened #363 "Add word "zipped" to Download All button"
The following image shows different sizes for downloading a single file versus all files.  This is a potential source of user confusion as all  files should be bigger than just one file.  Add the word zipped to the interface to avoid potential user confusion.

![untitled](https://cloud.githubusercontent.com/assets/3456833/7550292/11c6721a-f619-11e4-8673-9609ce1a22d9.png)

[2015-05-09 13:04] dtarb commented on #321
Tested in alpha

[2015-05-09 13:57] dtarb commented on #201
I think that the same text should be used in the listing of users as in the add user element.  This should include organization.  The basis for this is that the same disambiguation may need to be applied when seeing a name on a list as when picking from an auto-complete element.  See below.
![untitled](https://cloud.githubusercontent.com/assets/3456833/7550463/023ac474-f621-11e4-8d2d-ee46ffddc7c9.

[2015-05-09 14:10] dtarb commented on #301
I think this issue is fixed.  @ironfroggy can you please check it and if you agree close this. I am not sure exactly what you did to register with an invalid email.

[2015-05-09 14:21] dtarb commented on #293
This is only partly resolved. Now the resource listing identifies "First Author" but the First author content is not populated correctly.  For example on alpha the 3rd resource lists First Author as "David (UNC) Tarboton" who was the user who originated the resource.  However editing of the creator has changed this.  It is not reflected in the listing.

Following is resource listing
![untitled](ht

[2015-05-09 14:29] dtarb commented on #292
See #201.  @mauriel133 this relates to the branch you are working on

[2015-05-09 14:41] dtarb commented on #291
Tested.  Working correctly on Alpha.  Presentation of manage access still needs to be improved but is addressed in other issues.

[2015-05-09 14:41] #291 closed

[2015-05-09 15:13] dtarb opened #364 "In manage access panel change full permission label to owners"
Change the label below to "Owners with full permissions to do anything on this resource"
![untitled](https://cloud.githubusercontent.com/assets/3456833/7550765/a06a4af2-f62b-11e4-9dc2-765877b79241.png)

[2015-05-09 15:25] dtarb commented on #153
Tested in alpha.

[2015-05-09 15:25] #153 closed

[2015-05-09 16:18] dtarb commented on #180
This issue is the tip of the iceberg of a bigger problem.  We have to implement use tracking as specified in the use tracking document written in 2013 - see https://my.alfresco.com/share/s/qg6hiagfQpuNnYW34Dyvng.  This requires knowing the following for each user
* Type (from a list University Faculty, Student etc - see doc)
* Institution
* State (e.g. Utah, Texas)
* Country (e.g. US, France)
* Da

[2015-05-09 17:21] dtarb commented on #347
With respect to generating the resources science metadata XML file I think that the code should generate this based on the platform URL, so in testing on sandbox the URL generated would be sandbox.hydroshare.org.  This is OK since as Jeff noted we should not be moving resources across platforms.

With respect to migration from beta to production when we are ready, I suggest that www.hydroshare.org

[2015-05-09 17:28] dtarb commented on #335
I think that this is related to bagit restructuring and should be resolved once #185 is resolved.

[2015-05-09 17:30] dtarb commented on #334
This is also I believe related to bagit restructuring #185

[2015-05-09 17:32] dtarb commented on #330
@jsadler2 is this still a problem?

[2015-05-09 17:34] dtarb commented on #329
@jsadler2 is this still a problem.

[2015-05-09 17:43] dtarb commented on #315
@horsburgh please coordinate with @mauriel133 to work this into interface improvements

[2015-05-09 17:46] dtarb commented on #307
@gantian127 please test on alpha.hydroshare.org and close if fixed

[2015-05-09 17:50] dtarb commented on #300
@ironfroggy please recommend what needs to be done to resolve this.

[2015-05-09 17:52] dtarb commented on #296
Bagit restructuring #185 is supposed to fix the problems currently experienced with small file sizes.  Lets evaluate the real limits after this is done.

[2015-05-09 17:52] mauriel133 commented on #315
Sounds good, I'll have this implemented today.

[2015-05-09 17:53] dtarb commented on #294
@jsadler2 what are your plans for resolving this?

[2015-05-09 17:55] dtarb commented on #290
@horsburgh please check this on alpha.hydroshare.org and close if the message is to your satisfaction

[2015-05-09 17:58] dtarb commented on #284
@danames can you please test this in HydroShare 1.5 release candidate on alpha.hydroshare.org, and if agreed close.

[2015-05-09 17:58] dtarb commented on #282
@danames can you please test this in HydroShare 1.5 release candidate on alpha.hydroshare.org, and if agreed close.

[2015-05-09 17:59] dtarb commented on #281
@danames can you please test this in HydroShare 1.5 release candidate on alpha.hydroshare.org, and if agreed close.

[2015-05-09 17:59] horsburgh commented on #347
The way @dtarb describes this is what I had in mind.  The URIs in the science metadata (and the Resource Map) should actually be resolvable to what they point at.  This is easiest if the URLs are encoded.

[2015-05-09 17:59] dtarb commented on #280
@danames can you please test this in HydroShare 1.5 release candidate on alpha.hydroshare.org, and if agreed close.

[2015-05-09 17:59] dtarb commented on #272
@danames can you please test this in HydroShare 1.5 release candidate on alpha.hydroshare.org, and if agreed close.

[2015-05-09 18:02] dtarb commented on #228
@hyi what is the status of this issue.  It should be either in 1.5.1 or 1.6.

[2015-05-09 18:06] horsburgh commented on #290
Looks good to me.

[2015-05-09 18:06] #290 closed

[2015-05-09 18:18] dtarb commented on #92
@pkdash has this now been addressed.  Should it be added to a milestone?

[2015-05-09 18:20] dtarb commented on #90
How to test whether this is done?  @ironfroggy or @mjstealey please close this issue if you think it is done, otherwise indicate what is still outstanding.

[2015-05-09 18:32] dtarb commented on #81
We have a terms of use http://beta.hydroshare.org/terms-of-use/, but I agree we should set up a separate page that addresses publication.  I suggest the following work to do this.
1.  @rayi113 please come up with draft text for this - looking at examples from the systems involved with the data and software publication and citation workshop you have been involved with (and perhaps DataOne/SEAD).  I

[2015-05-09 19:02] mauriel133 commented on #315
![screenshot - 05092015 - 03 01 00 pm](https://cloud.githubusercontent.com/assets/2448568/7551600/52d0b354-f65c-11e4-8f48-3fb7e4f30610.png)

Would this work?

[2015-05-09 19:09] mauriel133 commented on #201
I can't access any of the resources on sandbox right now. I get an error screen. Is somebody else experiencing the same problem?

[2015-05-09 19:12] horsburgh commented on #315
Yes - this is better.  My only question is whether you want to add the "Edit this resource" button or just direct them to click on the existing edit resource button (the pencil icon). One of the original comments from @danames was that it is isn't readily apparent right away that you need to use the pencil button to go into edit mode.

[2015-05-09 19:16] horsburgh commented on #201
Same for me. It may have broken while I was trying to create a referenced time series resource earlier.

[2015-05-09 19:29] mauriel133 commented on #315
![neweditmessage](https://cloud.githubusercontent.com/assets/2448568/7551674/1fba0ce6-f660-11e4-9211-238b363bb366.png)
How about this?

[2015-05-09 19:30] horsburgh commented on #315
I like it.

[2015-05-09 19:56] dtarb commented on #315
I like it too.  Is there a way to indicate that those metadata elements are required to make the resource public.  There are other metadata elements that can be added in editing. Perhaps something like
Congratulations! Now that your resource has been created click on the edit button below to add additional metadata.
The following metadata are still required before you can make the resource public

[2015-05-09 20:13] mauriel133 commented on #315
That is much better. I'll try to implement it. @pkdash, is there a way to know when a resource has just been created once in the resource landing page?

[2015-05-09 20:26] dtarb commented on #324
Also the labeling of resource specific coordinates is incorrect.  The terms latitude and longitude should not be used to refer to projected quantities.  See the following suggested edits.
![untitled](https://cloud.githubusercontent.com/assets/3456833/7551900/556adca2-f657-11e4-8a6f-ed1b392ee083.png)

[2015-05-09 21:04] pkdash commented on #315
@mauriel133 I am not sure I understand your question. As per @dtarb suggestion to show dynamically what required metadata elements are still missing data, I think that's is already in place. Any time a resource page is refreshed, it should always show if there are still required metadata elements missing data.

[2015-05-09 21:18] pkdash commented on #92
@dtarb This has not been addressed. This never got to the priority list. I have also not yet seen from any resource type developer the need for this template to be more extensible. It seems like we don't have an immediate need to implement this. We can push it to may be release 1.7 or later.

[2015-05-09 21:28] dtarb commented on #324
See following Alfresco document for details on editable fields for raster resource https://my.alfresco.com/share/s/DeXkAhEgS8GjrgTWOSpp0w

[2015-05-09 21:30] dtarb commented on #76
See following Alfresco document for details on editable fields for raster resource https://my.alfresco.com/share/s/DeXkAhEgS8GjrgTWOSpp0w

[2015-05-09 21:32] dtarb commented on #75
Appears resolved based on my testing

[2015-05-09 21:32] #75 closed

[2015-05-09 21:36] pkdash commented on #90
@dtarb Recently I realized that my cleanup work for removing dependency on 'dublincore' submodule did not completely remove all references. I need to fix that. But I think we don't have time to do that for release 1.5. Since 'dublincore' is taken out of the list of installed apps in the settings.py file, if we are able to create and edit each of the supported resource types and don't see any error

[2015-05-09 21:40] dtarb commented on #47
See #180

[2015-05-09 21:52] dtarb commented on #92
@pkdash this is an enhancement that you suggested.  What would be it's benefit.  If no one is crying out for it, should be just decide not to implement and close out, rather than indefinitely pushing down the road?

[2015-05-09 21:55] dtarb commented on #90
@pkdash OK.  I'll put this on the 1.5.1 (NFIE) milestone then.

[2015-05-09 22:00] dtarb commented on #26
Closing because a user now has to be signed in to make a comment

[2015-05-09 22:00] #26 closed

[2015-05-09 22:02] dtarb commented on #25
Tested and a resource with that title can be created on alpha with changes to date

[2015-05-09 22:02] #25 closed

[2015-05-09 22:06] dtarb commented on #8
We now have the Multidimensional (NetCDF) Resource

[2015-05-09 22:06] #8 closed

[2015-05-09 22:06] dtarb commented on #4
Closing this issue.  There are later issues that address this in greater detail

[2015-05-09 22:06] #4 closed

[2015-05-09 22:14] dtarb commented on #27
While we now check for duplicate usernames, it is still possible to create a new account with an email address the same as an existing account.  Thus this is a bug that we should sort out for release 1.6.

[2015-05-09 22:43] pkdash commented on #92
@dtarb Closing it. When there comes a need for it we can create this issue again for implementation.

[2015-05-09 22:43] #92 closed

[2015-05-09 23:00] mjstealey commented on #201
@mauriel133, @horsburgh - access to resources should be good again. The error that I saw was a reference to being unable to retrieve files size from iRODS. Not sure why the connection to iRODS was failing as the server is running as expected and was available using the sandbox credentials via command line. I restarted the hydroshare instance on sandbox and all appears to be working as expected aga

[2015-05-09 23:02] mauriel133 commented on #201
Thanks for taking care of that, Michael.

Maurier Ramírez
Cel: 407 520 4585

On Sat, May 9, 2015 at 5:00 PM, Michael J. Stealey <notifications@github.com

[2015-05-10 15:51] danames commented on #315
I also like it. Much better. Thanks. - Dan

On Sat, May 9, 2015 at 1:31 PM Jeff Horsburgh <notifications@github.com>
wrote:

[2015-05-11 04:24] gantian127 commented on #307
It works without showing error info page. The system recognizes the bad tif file as an incomplete tif file and populate the metadata with "NA" value.

[2015-05-11 04:24] #307 closed

[2015-05-11 11:52] ironfroggy opened #365 "Comment Reply Emails Unnecessary for Your Own Replies"
If you leave a reply to a comment, the original comment's creator gets an e-mail. If you reply to your own comment, that e-mail should be skipped.

Related: Recommend a "Backburner" label to organize tickets like this that you want to remember but should be explicitly understood as "not right now"

[2015-05-11 12:13] ironfroggy commented on #90
The actual submodule must be removed, so that any remaining references will
cause an error if they are overlooked.

On Sat, May 9, 2015 at 5:55 PM, David Tarboton <notifications@github.com>
wrote:

--

*Calvin Spealman*Lead Front-end Developer

calvin@caktusgroup.com <calvin@caktusgroup.com>
www.caktusgroup.com

[2015-05-11 12:33] ironfroggy commented on #300
I'd like to fix this as soon as I can push filtering through. What is needed is for the backend, after submitting the reCAPTCHA and the form, to validate that the user did, indeed, pass the reCAPTCHA. There is a Python library from the reCAPTCHA project that can do that. reCAPTCHA sends challenge/response fields back to your server and you pass these along to reCAPTCHA to confirm they match. Unfor

[2015-05-11 14:00] rayi113 commented on #350
@ironfroggy : @alvacouch , @hyi , @mjstealey , @rayi113  met on this Monday May 11 morning and decided do a simple hack to get this working by June 1, then afterwards we'll address refactoring.

[2015-05-11 14:24] alvacouch commented on #350
The simple hack is to filter each resource subtype separately, and make a list of all matching resources of each type on the filtering page, rather than trying for a master list of resources of all types. This'll get us through NFIE and then we can refactor for making polymorphic lists of resources possible.

Alva L. Couch, Ph.D.
Senior Architect, CUAHSI Water Data Center
http://wdc.cuahsi.org
+1