[2016-06-08 19:53] pkdash commented on #1220
@horsburgh Need to know what editing (which CRUD operations) operations are allowed for each of the following timeseries specific metadata elements. Also need to know which table(s) in SQLite file needs to be updated as part of editing each of these elements.

Site
Variable
Method
Processing_Level
Timeseries_Result

[2016-06-09 11:54] dtarb commented on #1092
Closing as this appears to be fixed with recent upgrades.

[2016-06-09 11:54] #1092 closed

[2016-06-09 14:52] horsburgh commented on #1220
@pkdash - Here's the tables that will be touched in the ODM2 database when editing:

**Site:**
- Sites
- SamplingFeatures

**Variable:**
- Variables

**Method:**
- Methods

**ProcessingLevel:**
- ProcessingLevels

**TimeSeriesResult:**
- Results
- Units
- TimeSeriesResults

**NOTE:** For all of the fields in these tables that are CVs (e.g., SamplingFeatureTypeCV, VariableTypeCV, VariableNameCV, et

[2016-06-09 18:28] pkdash commented on #1220
@horsburgh I have implemented initial code to extract metadata from SQLite file with one ore more timeseries. I used the 3 test SQLite files you provided to test my metadata extraction code. The xml for the extended metadata for timeseries is also generated as per the sample you have provided above.  I still have to work on editing of extended metadata. At this point if you would like I can deploy

[2016-06-09 20:52] horsburgh commented on #1220
@pkdash - I can take a look if you want me to.

[2016-06-09 22:34] ChristinaB opened #1253 "Discovery Page - adjustments needed for search bar and mobile view"
Hi Muriel - great work! One issue is that for about a month I thought that the discovery page only consisted of the left column filters.  In that view, the search bar is at the bottom and needs to be moved to the top.  It wasn't until I talked to David that he explained its a screen width issue.  Maybe put a message at the top of the screen informing the user with something like 'You are viewing t

[2016-06-09 23:15] pkdash commented on #1220
@horsburgh How should we be displaying the resource specific metadata? Should it be by each timeseries?

[2016-06-10 15:11] horsburgh commented on #1220
@pkdash - yes.  Right now we've got it laid out on the "Resource Specific" tab for a single time series.  We just need the ability to flip through all of the time series.  The metadata display for each can be the same, we just need some way of selecting which one to look at.  You could list them one after another and just scroll the whole thing, but that would get really long (especially if there

[2016-06-10 15:20] pkdash commented on #1220
@horsburgh For each time series I only keep track of the 'ResultUUID' to identify a specific timeseries. I am not sure if the user would like to select a timeseries by this UUID to see the corresponding metadata. I will do some basic layout for displaying/editing of metadata. Then we should ask @mauriel133 to work on the desired layout for displaying/editing timeseries metadata.

[2016-06-10 15:25] horsburgh commented on #1220
@pkdash - Yes, the ResultUUID is going to uniquely identify each one and should be used as the key.  But, one could create a label for each one that is a concatenation of a few of the metadata elements that should serve to let the user differentiate between them in a list (say in a table or in a drop down list).

[2016-06-10 17:59] pkdash commented on #1220
@horsburgh I have deployed my current work at riverdev.hydroshare.org. I think the best way to test if the metadata extraction for multiseries SQLite file upload works is to see the resourcemetadata.xml file. You can also see all the resource specific metadata  on resource landing page both in view and edit mode. But the elements are not yet well organized on the landing page.

[2016-06-10 18:57] zhiyuli opened #1254 "Hide "Extended Metadata" tab in view mode if there is no extended metadata"
This issue was mentioned in #647:
"dtarb commented 14 days ago
If there is no extended metadata the extended metadata tab should not be displayed when not in edit mode."

[2016-06-10 21:00] #1162 closed

[2016-06-10 21:01] gantian127 commented on #1117
This fix won't be needed. The current no data value is OK for visualization.

[2016-06-10 21:01] #1117 closed

[2016-06-10 21:03] gantian127 commented on #1086
This has been resolved. Just close

[2016-06-10 21:03] #1086 closed

[2016-06-10 21:05] mjstealey opened #1256 "test_resourcemeta_sax_parsing fails a lot in CI testing"
The [line](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tests/serialization/test_resourcemeta_sax_parsing.py#L118) is flagged frequently in CI (PR or commit builds) and generates the following error.

**Error Message**
[code]
**Stack trace**
[code]

@pkdash, @hyi, @jbradberry - It does not always fail, but fails often enough to warrant a look.

[2016-06-11 19:19] hyi opened #1257 "Raster resource validation error when uploading zip file on dev"
This is a regression error due to the latest merge of raster issues branch. When uploading a zip file to create a raster resource type, it raises file validation error: ```Raster validation error. The uploaded files should contain only one .vrt file and .tif files referenced by the .vrt file.```. This can be reproduced on dev as well as in my local dev env after I merge my irods user zone branch w

[2016-06-11 19:37] gantian127 commented on #1257
@hyi I deployed raster-issue branch on playground yesterday and it worked to create the VRT raster resource. The link here is the VRT raster resource created yesterday for testing on playground.hydroshare.org.
http://playground.hydroshare.org/resource/01b51b81d9ce4a3bb323beff12c978b1

But this morning the playground won't allow the creation of VRT raster resource. Is it possible that the backend s

[2016-06-11 19:44] hyi commented on #1257
@gantian127 Hmmm, it does not look like an iRODS backend issue since the file validation error is raised in pre-create-resource action before the resource is created, i.e., before the resource even gets to irods backend yet. Can you reproduce this in your local dev env? The error seems to come from this code block https://github.com/hydroshare/hydroshare/blob/develop/hs_geo_raster_resource/receive

[2016-06-11 19:49] gantian127 commented on #1257
@hyi Thanks for the info. I will test on the local dev and try to find out the bug.

[2016-06-11 20:48] pkdash commented on #1220
If we allow the user to add their own terms, are those terms need to written to the appropriate CV table in the SQLite file?

[2016-06-12 13:11] dtarb opened #1259 "Save map project as HydroShare resource does not work"
From apps.hydroshare.org if I select the "Save as..." button to save map project as HydroShare resource I get the error "An unknown/unexpected error was encountered.  Project not saved."

This is somewhat critical because this is live on the operational site and a sort of obvious thing that a user may want to do.

[2016-06-12 13:52] shawncrawley commented on #1259
The issue has been fixed. Behind the scenes it was a "Referencing an undefined variable" error. That was a foolish mistake on my part, because I had tested everything as thoroughly as I could (including the Save as button) and it was working. However, last second before pushing the changes I thought "instead of hard-coding that variable in multiple places, I'll give it a variable name and define/a

[2016-06-12 13:52] #1259 closed

[2016-06-12 16:38] pkdash commented on #1259
Preferably issue creator should close issue after testing to see if the issue has been resolved.

[2016-06-12 16:48] pkdash commented on #403
This issue is same as #1190

[2016-06-12 16:52] pkdash commented on #1190
@mauriel133 Wondering if the new view function that I added, meets your need for adding existing users as creator/contributor?

[2016-06-12 16:53] pkdash commented on #1241
@mauriel133 See if you can close this issue?

[2016-06-12 17:00] pkdash commented on #1144
This has been resolved. Closing.

[2016-06-12 17:00] #1144 closed

[2016-06-12 17:06] pkdash opened #1260 "User group functionality phase-2"
**Phase-2 should include the following features as it relates to groups:**
- [ ] Start a discussion
- [ ] Delete a discussion
- [ ] Comment on a recent activity or discussion.
- [ ] Get recent activity list (additional items): comments, discussion posts, user joined the group.
- [ ] Dynamic/on demand loading in Find Groups and Recent Activity.
- [ ] Ability for members outside of a group to share

[2016-06-12 17:09] pkdash commented on #733
@gantian127 See if this can be closed.

[2016-06-12 17:10] pkdash commented on #609
@mohamedmorsy See if this can be closed.

[2016-06-12 17:11] pkdash commented on #574
@mohamedmorsy See if this can be closed.

[2016-06-12 17:12] pkdash commented on #605
@horsburgh See if this can be closed.

[2016-06-12 17:14] pkdash commented on #587
@horsburgh See if this can be closed.

[2016-06-12 17:19] pkdash commented on #1042
Refer to issue #1260 for phase-2

[2016-06-12 22:59] dtarb opened #1261 "View attribute table fails to load in HydroShare GIS App"
I tried to view attribute table in the following Geographic Raster resource https://www.hydroshare.org/resource/93f49ab913fd4c639c98ab4a070d20e0/ using the GIS app and get a perpetual Loading spinning wheel.

[2016-06-12 23:14] dtarb opened #1262 "CUAHSI Time series viewer app cannot open HIS referenced time series resource type"
The CUAHSI Time series viewer app is on apps.hydroshare.org.  www.hydroshare.org has a HIS referenced time series resource type.  How do I open a specific HIS referenced time series resource with the apps viewer.  There is no Open with ... option for this.

[2016-06-12 23:29] dtarb opened #1263 "Collection resource coverage"
When resources with coverage metadata (either spatial or temporal) are added to a collection the collection spatial or temporal coverage metadata should be extended (or initially written if empty) to the superset of the coverage of the resources being added with the coverage already there.

[2016-06-13 00:24] dtarb opened #1264 "HydroShare GIS App unable to display new raster resource"
I created the following raster resource https://www.hydroshare.org/resource/b2595adde0fd46cc969b8e86117018e5/.  The HydroShare GIS app appears unable to display it.  Loading wheel has spun for 30+ minutes.  It is only 73 MB so should be well within capability.  It is unclear whether the problem is related to the fact that this is a new resource and the app may be pointing to an old irods collectio

[2016-06-13 01:24] dtarb opened #1265 "Referenced time series HTML header not synchronized with resource title"
The following screen shot for a HIS referenced time series resource shows that the HTML header is out of sync with the Resource title.

![untitled](https://cloud.githubusercontent.com/assets/3456833/15995152/3b269b4e-30d3-11e6-9020-765cd97010c1.png)

This is the same as #995 that was fixed and closed for other resource types.

[2016-06-13 03:24] horsburgh commented on #587
Verified working on www.hydroshare.org.

[2016-06-13 03:24] #587 closed

[2016-06-13 03:25] horsburgh commented on #605
Looks good on www.hydroshare.org.

[2016-06-13 03:25] #605 closed

[2016-06-13 03:31] horsburgh commented on #1220
@pkdash - technically, yes, we should do that.  SQLite doesn't have to enforce referential integrity of tables in the database, but the most complete and correct option would be to add it to the CV table and then add it to the table where it is used.  The two required fields in the CV tables are "term" and "name".  The "term" is a URI friendly version of the term using Camel Casing, and the name i

[2016-06-13 03:43] pkdash commented on #1265
@dtarb and @zhiyuli This resource was created prior to the fix for issue #995 which did not include a custom migration to update title of the existing resources.

[2016-06-13 04:10] dtarb commented on #1265
OK.  I guess we can ignore it then or @zhiyuli can recreate the resource or edit the title to see if it fixes it.  @zhiyuli once you have done this, feel free to close the issue.

[2016-06-13 15:40] #574 closed

[2016-06-13 15:42] #609 closed

[2016-06-13 17:59] mauriel133 commented on #1190
Yes, it worked. I'm setting up the front end and will have a PR soon.

[2016-06-13 18:04] #1241 closed

[2016-06-13 18:05] shawncrawley commented on #1261
@dtarb This issue should be fixed.

[2016-06-13 20:37] dtarb commented on #1110
Tested on beta.

[2016-06-13 20:37] #1110 closed

[2016-06-13 22:21] pkdash commented on #1220
@horsburgh  -  What metadata elements should I use for creating a label for each timeseries?

[2016-06-14 15:20] alvacouch commented on #1262
AFAIK, this is because the REST API for referenced time series does not yet exist, as discussed on the call last Monday.

[2016-06-14 17:21] pkdash commented on #1220
@hyi As part of the functionality in this issue, the uploaded SQLite file needs to be updated when the user updates the timeseries specific metadata. I assume this would require copying the SQLite from irods over to Django to update this file. Then delete the same file from irods and add the updated file as new file to the resource. There may be some performance issue with this strategy. If I have

[2016-06-14 18:21] dtarb opened #1269 "GIS App issues"
Based on testing of the GIS app following are outstanding issues

- [x] Unable to modify symbology
- [x] When a raster resource is opened it does not automatically zoom to (resulting in a big white screen with impression of no data)
- [x] Loading an exsiting map saved (as a generic resource) seems to result in an indefinitely spinning loading symbol.

[2016-06-14 18:33] hyi commented on #1220
@pkdash If I understand this correctly, I don't think copying SQLite file to Django is needed in order to update SQLite file. You can just call a function in irods storage class to update file directly if you already have updated file locally ready to iput to iRODS backend storage. However, if you need to retrieve the original file in order to update it, you will have to retrieve it first. All the

[2016-06-14 19:27] dtarb commented on #1261
Tested.  OK.

[2016-06-14 19:27] #1261 closed

[2016-06-14 19:54] shawncrawley commented on #1269
@dtarb Unfortunately there are a few things that do not behave the same on appsdev as they do on apps. In those cases, I have to do a bit more "testing" on apps, rather than on appsdev. It looks like you just happened to be using the app at the exact same time as I was doing a bit of testing on apps. It should all be resolved now.

[2016-06-14 21:27] pkdash commented on #1220
@hyi In order to update the file I have to first retrieve it from iRODS. Should I be then looking at the ```django_irods``` module for api to retrieve file from IRODS and putting the file back into IRODS?

[2016-06-14 21:30] dtarb commented on #1269
Thanks.  It is working now.

[2016-06-14 21:30] #1269 closed

[2016-06-14 21:32] hyi commented on #1220
@pkdash You can use this function https://github.com/hydroshare/django_irods/blob/b8a4b6ae5fec9355bc16867c01bf3c941c3e7712/storage.py#L42 to retrieve file, and this function https://github.com/hydroshare/django_irods/blob/b8a4b6ae5fec9355bc16867c01bf3c941c3e7712/storage.py#L121 to save file.

[2016-06-14 22:31] pkdash commented on #1220
@hyi Got it. Thanks.

[2016-06-15 13:49] #1225 closed

[2016-06-15 13:53] #1179 closed

[2016-06-15 13:54] mjstealey opened #1270 "1.7.2 - Release Notes"
Add your work here
- use tracking
- iRODS user space in hydroshareuserZone and federation with local hydroshareZone
- geo filtering in discovery
- heartbeat monitor
- updates to groups
- use existing users as creators/contributors
- other updates and bug fixes

[2016-06-15 14:04] dtarb opened #1271 "Show local times"
A user has indicated that times presented in UTC are difficult to interpret.  Figure out a way to show local times, where times are presented in HydroShare.

Defining what "local" time is, for the internet may be a challenge.  If possible could we have local time keyed to the time zone associated with the location of their IP address.  Perhaps the time zone should be displayed in parentheses after

[2016-06-15 14:52] horsburgh commented on #1220
@pkdash how about something like this for starters:

SamplingFeatureCode:SamplingFeatureName, VariableCode:VariableName, UnitsName, ProcessingLevelCode, MethodName

Yes, it will be very long in some cases. So, I would fix the width of the drop down and make it so the user can over over the elements of the list and have a tool-tip text that pops up with the whole string.

In most interfaces where w

[2016-06-15 16:06] pkdash commented on #1220
@horsburgh I did implement labeling each time series with a set of metadata (not with what you have suggested now) yesterday. I will later change it the format you have suggested. The current status of work you can test at riverdev.hydroshare.org.

[2016-06-15 17:10] pkdash commented on #1220
@hyi I noticed some performance issue when trying to update the SQLite file every time a metadata element gets updated even with using the djang-irods api for retrieving the file from irods and saving it back to irods. I think I should go for bulk update of the SQLite file which can be activated by the user (a button on the UI to update the SQLite file) or at the time of bag download. Your thought

[2016-06-15 17:47] alvacouch commented on #1263
I presume that the coverage will remain a box?

[2016-06-15 17:49] hyi commented on #1220
@pkdash Yes, definitely some performance impact especially for large files, and on-demand file update is the way to go to make sure file is only updated when needed. You can use similar approach as on-demand bag downloading/updating to update the SQLite file when that content file is downloaded or when the bag is downloaded. When metadata is changed, bag_modified iRODS AVU for the resource gets se

[2016-06-15 18:11] alvacouch commented on #1238
As mentioned in the call today, I need much more data to act.

There are two REST APIs: one inside ref_ts and one outside ref_ts. To which are you referring? Or, are there functions in the exterior one that aren't in the interior one, or vice versa?

You noted on the call that the REST create call isn't working. Are you referring to the one inside ref_ts?

Please give more details. I am confused a

[2016-06-15 18:15] alvacouch commented on #1238
@zhiyuli @pkdash @dtarb Is part of the problem that the science metadata -- handled for non-ref_ts resources by Brian's code -- is not handled by the ref_ts REST interface?

[2016-06-15 18:42] alvacouch commented on #1238
@zhiyuli @pkdash @dtarb I've reviewed the two REST interfaces.
* `ref_ts/urls.py` (branch develop) currently contains only `_internal` calls.
* the other (exterior) REST contains the "rest" of the REST interface (pun intended).

Am I looking at the proper branch?

If so, then the problem is that we have `_internal` REST for `ref_ts` but it doesn't link properly to external REST in `hs_core`?

Am I

[2016-06-15 18:49] zhiyuli commented on #1238
@alvacouch @pkdash
I apologize I didnt make it clear on the call.
Currently user is able to create a RefTS resource from the UI by providing:
1) hydroserver url + site code + variable --> backend makes soap call to get the wml
or
2) a rest url to hydroserver that returns a wml --> backend querys this rest url to get the wml

The frontend and backend are all working. Now we need to expose them as R

[2016-06-15 18:52] zhiyuli commented on #1238
@alvacouch
yes, from my understanding we should somehow expose the urls in ref_ts/urls.py as external rest apis, or expose those view functions as external rest apis.

[2016-06-15 19:12] alvacouch commented on #1238
Actually, I suggest something different.

1. Leave the current REST functions internal.
2. Wrap them in compliant REST endpoints, e.g., POST /resource/...., GET /resource/{uuid}, PUT /resource/{uuid}, etc.

Now I understand a lot more about the situation.
* Brian's calls are all "REST compliant" in the sense that the nouns and verbs are used properly.
* The proper create call for a thing is of the

[2016-06-15 19:19] alvacouch commented on #1238
It's no wonder that the python client can't read a resource.... it is trying GET /resource/.... and we aren't servicing that endpoint for ref_ts.

[2016-06-15 19:28] zhiyuli commented on #1238
@alvacouch I think you already hit the point. Then what is the best way to fix it? I could make changes to refts code once you and @pkdash have a plan.

[2016-06-15 19:36] alvacouch commented on #1238
@zhiyuli @pkdash @dtarb Methinks the best way to start is for me to review the current REST wrapper for `ref_ts` and put in a new hook that instantiates science metadata by using your current `_internal` calls. This hook will take a json string (specification of a service) and will call your `_internal` REST endpoints.

* At this point, leave the `_internal` calls alone and I will try to use them.

[2016-06-15 19:41] zhiyuli commented on #1238
@alvacouch The plan sounds good to me, thanks!

[2016-06-15 19:43] horsburgh commented on #1263
Yes - I think coverage should be a box for collections unless the collection contains a single resource (say a time series) with a single point coverage.  Not sure why one would create a collection with a single time series in it though.

[2016-06-15 19:45] alvacouch commented on #1238
@zhiyuli @pkdash @dtarb Actually, a post_create/post_update hook might be the easiest for this. That way, the metadata describing the referenced service will have been stored already. I won't have to pass it an argument. We just read the reference metadata and update the science metadata from it.

This hook can be used for other analogous tasks as well; anything that requires metadata to be insert

[2016-06-15 19:54] pkdash commented on #1238
@alvacouch @zhiyuli To make things less confusing I won't classify or treat any ```_internal``` endpoints as REST endpoints because they are not designed to be so.

As I understand the issue, the existing REST endpoint for creating a resource needs to be modified so that the additional parameters needed for creating a ref timeseries can be passed when calling this endpoint.

[2016-06-15 19:56] pkdash commented on #1238
Obviously this change to the create resource endpoint would also require appropriate changes to the REST client library.

[2016-06-15 19:58] mjstealey opened #1274 "Delete User functionality - cascade across all databases"
Need to implement a cascading delete user function so that accounts that have not been activated within 24 hours can be properly released by the system.
- Prevents account limbo - user creates an account, doesn't use emailed link in time, cannot create a new account using the same username/email.
- Prevents orphaned accounts - user creates an account and never uses it
- Needs to remove any informa

[2016-06-15 20:34] pkdash commented on #1274
@mjstealey @alvacouch Since the ```User``` object is used in hs_access always as a ForeignKey, I assume deleting a user will do the cascade delete automatically. However, at this point we lack a unit test in hs_access to prove this.

[2016-06-15 20:56] dtarb commented on #1263
Just thinking outside the box a bit, a collection of resources all at the same point in space, i.e. time series of different variables could have a point for coverage.  Similarly not all resources have spatial coverage (e.g. generic files or documents) so where they are in a collection, perhaps only one resource in the collection has spatial coverage, and perhaps it is a point.  So there do seem t

[2016-06-15 21:12] goodalljl opened #1275 "Save button on user profile page not working"
Using Fire Fox, I edited my user profile to try and add my organization, but when I hit save changes, nothing happens. When I exit out of this page, my organization is still blank.

[2016-06-15 21:13] mauriel133 commented on #1275
Thanks for reporting this. I'll have a look and have it fixed asap.

[2016-06-16 05:11] horsburgh commented on #1220
@pkdash - I just had a look on riverdev.hydroshare.org.  Here's some things that I think need to be modified:

* [ ] Modify the contents of the drop down box with the format suggested above.  Let's not do multiple drop down boxes.
* [ ] Modify the label that says "Select a time series to see corresponding metadata:" to extend all the way across the tab and then move the drop down box under that la

[2016-06-16 05:37] pkdash commented on #1220
@horsburgh I will fix the problem with xml generation. I was aware of all the UI problems you have listed. I just implement the minimum UI functionality so that I can test the backend-code. I will work with @mauriel133 to finalize the UI issues.

[2016-06-16 14:38] hyi opened #1276 "REST API needs to support iRODS federation zone for resource creation and adding files to resources"
Creating this issue as @pkdash suggested during his code review for iRODS federation work. This is the second phase functionality after the iRODS federation work is deployed. REST API needs to add support for resource creation and adding files to existing resources from a federated zone by exposing functionalities to REST API end points. @alvacouch I am assigning it initially to you, but feel free

[2016-06-16 15:42] mohamedmorsy opened #1277 "Broken links for the group members"
If I would like to know some information about a specific member of a group by clicking on the member name, nothing happen except for the group owner. You can reproduce this issue through the "HydroShare Developers" group.

![image](https://cloud.githubusercontent.com/assets/5543781/16122914/0b6571b4-33b7-11e6-9437-4151678ce561.png)

[2016-06-16 16:25] pkdash commented on #1220
@horsburgh

Not sure about 'not doing multiple drop down boxes'.

[2016-06-16 16:31] horsburgh commented on #1220
@pkdash - just go with this in one drop down box:

SamplingFeatureCode:SamplingFeatureName, VariableCode:VariableName, UnitsName, ProcessingLevelCode, MethodName

Multiple drop down boxes (e.g., one for site and one for variable, etc.) would complicate things.

[2016-06-16 17:15] pkdash commented on #1220
@horsburgh Got it.

[2016-06-16 18:54] xuezhaokun opened #1279 "Date formats are inconsistent in period coverage resources"
When I work on filtering period coverages, I noticed that we have inconsistent date formats for "start" and "end" property in period coverage resources. Some of them are stored as "01/31/2008", some are stored as "1979-01-01 06:00:00", some are stored as "2015-05-24T13:00:00Z", and some are stored as "1985-10-01".  This inconsistency is really inconvenient for parsing date strings into date object

[2016-06-16 20:00] mauriel133 commented on #1277
Fix has been applied to www

[2016-06-16 20:40] mauriel133 commented on #1184
@dtarb, I agree with exposing more the ability to change the resource access. However, I think the act of publishing is already deliberate enough since the user is shown a popup window with a message and a checkbox to confirm before they can submit the action.

[2016-06-16 21:04] mauriel133 commented on #1145
The icon is now hidden if the user is not signed in. Please confirm and close if it works as desired.

[2016-06-16 21:27] mauriel133 commented on #1073
@pkdash, the main ajax used to submit most of the metadata elements is the one that returns the flag variable used to display this message. Can you add a check for content files to this flag?

See https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/resourceLandingAjax.js#L334

[2016-06-16 21:46] mauriel133 commented on #1099
@pkdash, this has to be done in the ajax call. It should refresh the page instead of redirecting.

[2016-06-17 04:39] pkdash commented on #1099
@mauriel133 Do you know how to upload a file via ajax? Otherwise, it is also easy to get the page reloaded but keep the edit mode.

[2016-06-17 04:42] pkdash commented on #1073
@mauriel133 Will do.

[2016-06-17 15:12] mjstealey opened #1283 "Implement heartbeat monitor to restart site if it is down"
Initially add simple heartbeat monitor to determine if www is down
- Check every 5 mins
- If site is down
  - email support@hydroshare.org
  - attempt to restart site

[2016-06-17 18:57] mjstealey commented on #1256
Perhaps relevant as pointed out by @jbradberry in hip chat: [https://stuartsierra.com/2008/05/08/stop-your-java-sax-parser-from-downloading-dtds](https://stuartsierra.com/2008/05/08/stop-your-java-sax-parser-from-downloading-dtds)

[2016-06-17 19:33] jbradberry commented on #1256
https://docs.python.org/2/library/xml.sax.reader.html#xml.sax.xmlreader.XMLReader.setEntityResolver
https://docs.python.org/2/library/xml.sax.handler.html#xml.sax.handler.EntityResolver

[2016-06-17 20:00] mauriel133 commented on #14
This has been implemented and deployed to www. Please confirm and close.

[2016-06-17 20:02] mauriel133 commented on #46
@horsburgh, is this still an issue?

[2016-06-17 20:29] horsburgh commented on #46
I think this has been addressed.

[2016-06-17 20:29] #46 closed

[2016-06-17 20:38] pkdash commented on #1220
@horsburgh In order to provide dropdowns for CV related fields when editing metadata elements, I am assuming only values for the 'Term' and 'Name' fields of the CV table would be sufficient. The dropdowns will be listing the values for the 'Term' field.

[2016-06-17 20:51] horsburgh commented on #1220
If you look at them the values in the "Term" field are URI friendly camel cased terms.  So, they can be the keys for the drop down items, but you want to display for users the "Name".  Also, the primary key/foreign key relationships in the ODM2 database are on the "Name" field in the CV table.  I can tell you all about why that is if you want to know.

[2016-06-17 20:54] horsburgh commented on #14
Just tested on www.  Working.

[2016-06-17 20:54] #14 closed

[2016-06-17 21:05] mauriel133 commented on #1088
@pkdash, this fix has been pushed to www. Could you confirm and close?

[2016-06-17 21:14] mauriel133 commented on #981
The HTML with link for each resource is actually rendered, but the tab is inaccessible without bootstrap.js. Wouldn't search browsers still find it in the HTML?

[2016-06-17 21:15] mauriel133 commented on #942
This has been implemented and can be closed.

[2016-06-17 21:17] pkdash commented on #1220
@horsburgh Do I have to worry about PK/FK as it relates to these CV tables and metadata editing?

[2016-06-17 21:20] horsburgh commented on #1220
As long as a term is already in the SQLite database (e.g., its already in the CV table), it should show up in the dropdown list.  If they choose from the list, no problem.  If they want to use a term that is not in the list (i.e., not already in the database), it would be technically correct to add the term to the corresponding CV table in the database first and then use it in the related table.

[2016-06-17 21:26] pkdash commented on #1220
I should be able to maintain the referential integrity in case of new terms are added by the user.

[2016-06-18 04:30] dtarb commented on #1184
@mauriel133 I am OK for you to just take my comment as point for consideration.  It you think things are good the way they are this could be closed.  This comment may have come up in a discussion with @christinab so it would be good to have her thoughts on this too, from a user experience perspective.

[2016-06-20 15:49] alvacouch opened #1289 "ubuntu VirtualBox VM should have flake8 installed in host OS for convenience"
@mjstealey I am currently manually installing flake8 at the top level of the Ubuntu vm so that syntax checking doesn't require actually running the HydroShare container. This saves time.

[2016-06-20 16:42] pkdash commented on #1220
@horsburgh I have now deployed the current work for this issue at riverdev.hydroshare.org.

The new work includes:

- Metadata editing with dropdowns listing data for the corresponding CV tables. At this point the feature to add new terms has not been implemented.
- A specific timeseries is identified with the suggested metadata from that series (with tooltip for the full text).
- The bug in xml g

[2016-06-20 16:43] mjstealey opened #1290 "hydrodev VM - release update"
Update the hydrodev VM to better coincide with hydroshare development needs
- flake8 installed at OS level for linting [#1289]
- hydro-service account for Docker use and permissions enforcement in shared volumes

[2016-06-21 12:41] hyi opened #1292 "Add unit tests for iRODS federation zone work detailed at issue [#1120]"
Add unit tests for iRODS federation zone work detailed at issue https://github.com/hydroshare/hydroshare/issues/1120

[2016-06-21 16:47] pkdash commented on #1220
@horsburgh For the user to add a new term what data needs to be entered by the user? term and name?

[2016-06-21 16:56] horsburgh commented on #1220
@pkdash - yes, term and name are required.  You could write a little function to construct the term from the name so they only have to enter the name.  The function would remove spaces between words, lower case the first word, and upper case the first letter of any subsequent words.  See the examples at http://vocabulary.odm2.org.

[2016-06-21 16:58] pkdash commented on #1220
@horsburgh Sounds good.

[2016-06-21 21:18] shawncrawley opened #1294 "HydroShare GIS app - more efficient way to access cumulative size of resource files"
I brought this up during a HydroShare call a few weeks ago. There is a button allowing users to add a resource file from HydroShare to their current GIS project. Thus, the app must generate a list of all resources available to them. It is beneficial to include the cumulative size of each resource's files so users can have an idea of wait time when adding the file. The problem is, the way that the

[2016-06-21 21:41] hyi opened #1295 "Need to retrieve files from federation zone to a random subdir under /tmp to avoid clash"
Need to retrieve files from federation zone to a random subdir under temp directory to avoid potential file name clash, and also clean up afterwards. Also look into other temp file left-overs that could be cleaned up, e.g., empty resource ID directories under /tmp/hydroshare, and duplicate irods_environment.json files in different sub-directories.

[2016-06-21 23:20] shawncrawley commented on #1294
@alvacouch @pkdash @hyi Do any of you have any leads on this?

[2016-06-22 04:43] pkdash commented on #1294
I am suspecting to obtain the size of a file that's on iRODS. Django might be copying the file which is an expensive operation. Once we implement file level metadata this won't be a problem.

[2016-06-22 11:19] mjstealey commented on #1294
Can be done with iCommands using the -l or -L flag.
Reference: [https://docs.irods.org/4.1.8/icommands/user/#ils](https://docs.irods.org/4.1.8/icommands/user/#ils)

[2016-06-22 11:56] hyi commented on #1294
Yes, we currently do use icommand ils to obtain the size of a file stored in iRODS in our code, and it looks like the method being called by REST API in HS is doing the right thing: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L62. However, I am not sure whether REST python client inadvertently download the file as well when getting the resource file lis

[2016-06-22 18:49] zhiyuli commented on #1263
A collection updates its coverage metadata only when new resources get added into (or existing contained res get removed from) this collection. To avoid breaking access control rules, if a contained res changes its coverage or gets removed from hs system, the collection WILL NOT re-calculate its coverage. That means in some cases the coverage of the collection may not accurately reflect the overal

[2016-06-22 19:57] alvacouch commented on #1274
It is only safe to delete a user who is not mentioned in resource metadata. I suggest that we modify `BaseResource` so that deleting a user who appears in resource metadata is impossible. It is an easy fix and affects nothing except the new code for user cleanup. .

[2016-06-22 20:00] alvacouch commented on #1238
Actually, note to self: there are five places that need to be modified for any change in the REST API:
1. The API code itself.
2. The REST Client.
3. The Wiki page with overview documentation.
4. The ReadTheDocs documentation on the REST API.
5. The test suite.

[2016-06-22 20:04] alvacouch commented on #1263
@zhiyuli @pkdash This is a misconception. Access control was not intended to prevent such updating. Since the coverage box for a collection is a computed quantity that is a deterministic function of its content, if the content changes, the box should change. This is not the same thing as adding a file or a resource to a collection. These are things that users do.

The only reason that I would not

[2016-06-22 20:13] alvacouch commented on #1263
@zhiyuli @pkdash In general, we have provided for this with a very flexible model of access control. My library defines what a user should be able to do. Meanwhile, all users actually have complete access to the iRODS repository and the data models. It is our software that mediates. Thus, there is nothing preventing auto-magical update of computed resource metadata based upon peripheral changes, e

[2016-06-22 20:37] zhiyuli commented on #1263
@alvacouch I got your point. Your access control code will not block any "auto-magical update".

I was thinking the user who can change a contained res may not have any permission over the collection. In addition, when any change happens to a res, the bag should log which user did the last change. In this case, "auto-magical update" will bring trouble determining the "last change user".

[2016-06-22 20:43] pkdash commented on #1263
As @zhiyuli mentioned that's the issue with auto update the ' last change user'.

[2016-06-23 03:23] alvacouch commented on #1263
@zhiyuli @pkdash This is a matter of carefully defining semantics. The "last change user" is the user who made the last change to this particular collection resource, i.e., adding or removing an element. It is not the user who made a change to an element of a collection. That is at a different level of the system and is recorded there, in the other resource. And it is definitely not a user whose a

[2016-06-23 05:14] horsburgh commented on #1263
The use case we are talking about requires that a user has created a collection resource that contains resources that they do not have sole control over. Given this - they have to know that this situation is a possibility.

I would be OK with not automatically updating the coverage element for the collection resource if a resource in the collection is removed or modified (i.e., changes that the ow

[2016-06-23 06:27] horsburgh commented on #942
This is implemented on www.hydroshare.org. Closing.

[2016-06-23 06:27] #942 closed

[2016-06-23 10:33] alvacouch commented on #1263
@horsburgh But I can guarantee that for referenced time series, users are going to want periodic updates of the time coverage.

[2016-06-23 15:36] zhiyuli commented on #1263
@horsburgh @alvacouch I will add a "update coverage button" on collection landing page allowing collection owners/editors to manually re-calculate coverage.

[2016-06-23 17:35] mjstealey opened #1297 "update development database"
Bring development database up to date with codebase
- Adds collaborate page
- include any missing migrations files

[2016-06-23 18:20] mjstealey opened #1299 "update variable definitions for federated iRODS environments"
The variable definitions for the two federated iRODS instances should be better disambiguated.
- iRODS for site based resources (generally wwwHydroProxy settings)
- iRODS for users and user held resources (generally hsuserproxy settings)

[2016-06-23 18:25] mjstealey commented on #1297
merged in PR #1298

[2016-06-23 18:25] #1297 closed

[2016-06-23 20:07] horsburgh commented on #1263
@alvacouch - I think you are right about people potentially wanting automatic updates of the time coverage for referenced time series resources.  I don't think we ever really settled on which actions constitute an update of the resource/metadata versus which ones could be done by the system but not necessarily be reflected in the update dates in the metadata.

Let's say we created reference time s

[2016-06-23 21:42] horsburgh commented on #768
Implemented and working on www.hydroshare.org.  Closing.

[2016-06-23 21:42] #768 closed

[2016-06-23 21:45] horsburgh opened #1300 "After adding a resource to My Resources, I can't remove it"
I click on the button to add a resource that I have discovered to "My Resources". After doing this, I visit the landing page for that resource and click the button to remove it from My Resources.  The button changes color, but the resource is still in the list of My Resources when I go back to that page.

[2016-06-23 21:53] horsburgh commented on #517
I don't have an issue with there being a readme.txt file in the bag.  However, if it is an automatically generated file that is created when the resource bag is created (which I think it should be), it needs to be kept simple and static.  I don't think we want to be doing any sort of dynamic updates on this text file as the contents of the resource change (if they do change).  I think a plain text

[2016-06-23 22:03] horsburgh commented on #129
@dtarb - after listening to the discussion on the call yesterday, it didn't sound like there is an immediate/readily available pathway for HydroShare to get DataONE compatibility through DFC.  I think it could be feasible in the relatively near future though.

Given this, I think the best route for us to go is to first investigate the existing DataONE Generic Member Node implementation.  It is Pyt

[2016-06-23 23:16] mauriel133 commented on #1300
@horsburgh, I tried to replicate this issue with no success. Could you link me the resource with this problem?

[2016-06-24 01:15] horsburgh commented on #1300
It's this one:

https://www.hydroshare.org/resource/da7973a47a0849798be5ae5a1110c1c0/

It's the first one in the list when you go the search page.  It's a bit weird because it still shows up in my list of resources, but the button to add it to my resources is green and when I hover over it, it says "Add to My Resources".  If I click the button, it turns red, but the tool-tip text still says "Add t

[2016-06-24 13:56] alvacouch commented on #1263
@horsburgh @zhiyuli @pkdash @dtarb At the Water Data Center we update the time coverages weekly.

[2016-06-24 18:51] pkdash commented on #1220
@horsburgh Here is an issue related to deleting/adding SQLite file to a resource.  When the user deletes the SQLite file we don't delete the extracted metadata (that has been the case since the phase-1 of the timeseries resource type implementation). When the user adds a SQLite file to an existing resource, we provide the option (check box) for extracting metadata from the uploaded file. If the us

[2016-06-24 23:15] jbradberry commented on #1275
I just figured out what's going on with this.  Firefox is autofilling the first password field, hidden under "Change password", but not the second password field, so it's failing validation.  These fields do have `autocomplete="off"` set, but it seems FF is not respecting it.

[2016-06-25 23:22] pkdash commented on #1042
Closing as this feature has already deployed.

[2016-06-25 23:22] #1042 closed

[2016-06-26 21:13] pkdash commented on #1220
@horsburgh Currently we store the uploaded SQLite file even if it fails ODM2 schema  validation. Not sure how the metadata editing need to work when the resource contains an invalid SQLite file.

[2016-06-26 22:35] dtarb commented on #1220
I suggest we should not store a file known to not be valid.  With other resource types we reject the files if they are not compliant with the resource type requirements.  (Although I do recognize that the requirements are less stringent with other resource types).  That said, it may not be possible to ensure that the file is always right and when metadata editing encounters a problem it should gra

[2016-06-27 15:14] pkdash commented on #915
@Castronova Has there been any progress on this?

[2016-06-27 15:50] horsburgh commented on #1220
@pkdash - Answers to your questions:

1.  _What to do about extracting metadata from a new uploaded file_:  Perhaps we just need to couple metadata extraction tighter than we did before.  Given that we have now added the capability to have multiple time series in a time series resource, and users could delete a SQLite file containing only a single time series but then upload a SQLite file containi

[2016-06-27 16:27] pkdash commented on #1220
@horsburgh Another question. If the user creates a timeseries resource with no SQLite file uploaded what should we doing with metadata editing? Should we be allowing adding/updating metadata to the resource when there is no SQLite file?

[2016-06-27 20:05] pkdash commented on #1220
@horsburgh I assume we delete metadata if the SQLite file is deleted.

[2016-06-27 21:33] pkdash commented on #1220
@horsburgh As part validation of the uploaded SQLite is it necessary to check that there is data in all of the CV lookup tables that are being used (dropdown list) for metadata editing?

[2016-06-27 22:04] horsburgh commented on #1220
@pkdash - I think it is unnecessary to delete the metadata if the SQLite file is deleted.  We already have functionality for hiding resources without content files (e.g., removing their public status if they were public).  And, the current plan is to re-extract/update metadata upon uploading a new file.  So, I would just leave the metadata as is until they upload a new file.

For CV validation - i

[2016-06-28 04:47] pkdash commented on #1220
@horsburgh Will keep the metadata upon SQLite file deletion. As it relates to missing CV lookup tables, I prefer option#1 at least initially. May be later I assume we have to do option#2 when we allow uploading CV file as timeseries.

[2016-06-28 15:24] pkdash commented on #1220
@horsburgh As part of the SQLite file validation I am checking that the following CV tables exist and there is at least one record in each of these CV tables:

CV_VariableType
CV_VariableName
CV_Speciation
CV_SiteType
CV_ElevationDatum
CV_MethodType
CV_UnitsType
CV_Status
CV_Medium
CV_AggregationStatistic

[2016-06-28 18:03] zhiyuli opened #1304 "download all resources contained in one collection"
@dtarb @danames @horsburgh @alvacouch
The requirement for downloading all resources contained in a collection was raised during the 1st phase development of collection res type. At that time it had lower priority, so several related issues that may affect the implementation have not been discussed in details (see below). About two weeks ago @dtarb mentioned CUAHSI brought up the requirement for do

[2016-06-28 18:29] zhiyuli commented on #1265
a new refts res is created here: https://www.hydroshare.org/resource/7be4a9c2f43b407f85aaf1154612d6a3/
the HTML header shows up correctly
closing

[2016-06-28 18:29] #1265 closed

[2016-06-28 18:32] zhiyuli commented on #294
this issue does not exist any longer. current refts only retrieves latest data upon user request.
closing

[2016-06-28 18:32] #294 closed

[2016-06-28 18:43] zhiyuli commented on #282
tested on www. res created at  https://www.hydroshare.org/resource/3f81c2b3b7844532b6b2d6e9901c5214/
P.S. This is relatively a big time series data (17mb wml) .
closing

[2016-06-28 18:43] #282 closed

[2016-06-28 18:45] zhiyuli commented on #604
old issue. no seen this issue in the refts new design
closing

[2016-06-28 18:45] #604 closed

[2016-06-28 20:23] horsburgh commented on #1220
@pkdash - this seems like a reasonable plan.

[2016-06-29 16:19] alvacouch commented on #1304
@dtarb @danames @horsburgh @zhiyuli
The key to downloading collections is to have a consistent directory structure. This limits what one can do. Also, it is fairly obvious that loop detection is important. Might I suggest:
[code]
This is recursive, in the sense that resource that are collections go into subdirectories.

With this convention in hand, the question is what users want.

[2016-06-29 16:22] alvacouch commented on #1304
@dtarb @zhiyuli @horsburgh @danames
Also, since the titles of resources aren't unique, we need to add some disambiguator to the directories of resources. Might I suggest a simple prepended count (e.g., 0001-{existing title}, 0002-{existing title}, .....
to make sure that titles are unique?

[2016-06-29 16:57] horsburgh commented on #1304
@alvacouch - Resource titles could be quite long, not guaranteed to be unique, and likely won't be suitable for directory names.  One could slugify them to shorten and prepend a number as you suggest. Another option is to just use the resource identifiers as the directory names.

[2016-06-29 18:07] zhiyuli commented on #1304
@horsburgh @alvacouch @danames @dtarb
collection is a res in hs, how about we continue using existing bag structure for collection.

currently if user downloads a collection zip bag, he got something like this:
5b9a87d8aae74198bf244ee394d45c17  <-- root folder
 .\bagit.xt
 .\manifest-md5.txt
 .\tagmanifest-md5.txt
 .\data\
 .\data\resourcemap.xml
 .\data\resourcemetadata.xml

We could add a "conte

[2016-06-29 18:22] horsburgh commented on #1304
@zhiyuli - I really like the suggestion of just sticking with the BagIt packaging scheme for our resource data model and nesting "Collected" resources within the "Contents" folder of the collection resource.  It makes a lot of sense.  Some of these could get quite large...

[2016-06-29 18:38] zhiyuli commented on #1304
@horsburgh a second thought: Will users like to download a very big collection zip bag, unzip it, go to a deep folder, unzip several other zip bags, then go to deeper folders to see the res files....

[2016-06-29 19:46] danames commented on #1304
@zhiyuli let's try for simplicity. When a user downloads a collection they
get a master zip file. In it are contained all of the bags of the collected
resources. Very simple..

On Wed, Jun 29, 2016 at 12:38 PM Drew Li <notifications@github.com> wrote:

[2016-06-29 19:52] horsburgh commented on #1304
@danames - the BagIt format and the capability of the resource data model to express relationships among objects in a resource (e.g., within the collection) would be lost.  One might eventually conceive of a structured collection containing a specific set of resources related in specific ways.

A collection is a resource.  All of our resources conform to the resource data model.  I get the simplic

[2016-06-29 20:32] mauriel133 opened #1307 "Discover Page - Discoverable filter"
Under Filter By Availability, it seems that the item 'Public' works as a superset of the item 'Discoverable'. For example, if I check 'Discoverable' all public resources in the search still show up together with the discoverable ones.

 I think this should be changed to filter only their corresponding sharing status, either 'Public' or 'Discoverable', but not both when 'Public' is checked.

[2016-06-29 20:36] xuezhaokun commented on #1307
@mauriel133 I agree. It is a reasonable change. As previous discussion with Alva, probably we will remove this filtering option or we can do the change as you suggested. I will take a look at this problem.

[2016-06-29 20:55] zhiyuli commented on #1304
@horsburgh @alvacouch @danames @dtarb
In addition to discussing "collection bag structure",
I think a bigger issue is what the workflow of downloading a collection looks like?
Current policy is that user may download a res bag from landing page which is less than 1GB. For res larger than 1GB, user should download it from irods. A collection is much easier to become larger than 1GB compared to regu

[2016-06-29 22:12] Castronova opened #1309 "API Create resource doesn't set dublin core metadata"
In `hs_core/views/resource_api.pi` (line 210), the create_resource function parses a `dublin_metadata` dictionary, but these values don't seem to be saved correctly in `hs_core/hydroshare/resource.py` (line 496)

Test by using the following dictionary for `dublin_metadata`:

[code]

[2016-06-29 22:34] AmberSJones opened #1310 "Group Creator/Contributor Functionality"
We need the functionality to enable Hydroshare groups to be creators or contributors of resources (but not owners- ownership should be retained by an individual).

[2016-06-30 03:18] horsburgh commented on #1304
@zhiyuli - if the resulting collection bag is going to be really large, we could move to a staging/queuing system where the resource is staged somewhere (perhaps in iRODS) and then an email is sent to the user with a link or instructions for how to download.  Ultimately, if the user asks to download a very large collection resource (say multiple GB) they need to be notified that it is very large a

[2016-06-30 04:28] pkdash commented on #1310
@horsburgh Here are my assumptions related to making a group as creator/contributor:

- The science metadata document needs to list all members of that group as creators/contributors. Also anytime group membership changes we have to update the xml document.

- If group 'A' is made creator of a resource then group 'A' can't be made contributor of that same resource.

- There is no need to check for

[2016-06-30 05:22] horsburgh commented on #1310
@pkdash - I think it's even more simple:

* False - Groups should be treated exactly the same as people when it comes to being a Creator or Contributor.  A "Group" may be a HydroShare group, or potentially a group outside of HydroShare. The Science Metadata document need only list the group name as the creator or contributor and the group URL if the group is an actual HydroShare group or if an ext

[2016-06-30 15:30] pkdash commented on #1221
@horsburgh Can you outline the workflow for creating the SQLite file and populating it with data both from the uploaded CSV file as well as the metadata filled in by the user? Basically I am looking for the sequence of things that need to happen in order to have a valid SQLite file from the uploaded CSV file.

[2016-06-30 15:46] horsburgh commented on #1304
@zhiyuli - to answer your question about zips within zips - consistent with the BagIt packaging specification, I think only the entire collection should be zipped for transport, but the contents of the resource should not be zipped.

[2016-06-30 16:46] mjstealey opened #1311 "Large file download - files greater than 1 GB"
Once release 1.7.2 goes into production, the 1 GB upload/download enforcement will be in place.
Reference in [django_irods](https://github.com/hydroshare/django_irods/blob/7af184bb7f26425a457a23a1c0c42df0ae843e2b/views.py#L105)

With the advent of collections, and just big files in general, we need to be able to enable large file download via more than just iRODS clients...

For example, how are l

[2016-06-30 16:55] zhiyuli commented on #1304
just had a chat with @mjstealey. A new issue #1311 was created for researching how to download big file/res. Although issue #1311 is not specific to collection, its research result would highly contribute to resolving this issue.

[2016-07-01 15:25] horsburgh commented on #1304
@zhiyuli - for an initial implementation, I don't think I would depart from the existing resource data model specification. A collection is a logical group of resources. I wouldn't name any of the resource folders within the collection differently - I would name each of them using their identifier (regardless of whether it's a sub-collection resource, a time series resource, or any other type of r

[2016-07-01 15:58] horsburgh commented on #1221
@pkdash - It should look something like this:

1. User clicks "Create new" button to create a new resource
2. User selects "Time Series" as the resource type
3. User clicks the "Choose File" button to select either a SQLite or correctly formatted CSV file
4. User clicks the "Create Resource" button to create the resource

    a. If the user has selected a SQLite file, use the process we already ha

[2016-07-01 17:08] pkdash commented on #1221
@horsburgh I need to see some examples of correctly formatted CSV files for timeseries. I am wondering how would I determine depending on the data in the uploaded CSV file, which extended metadata terms we allow to be repeatable or not (e.g. one 'site' element or multiple of 'site' elements).

I would prefer to create the SQLite file only when enough metadata (not sure how we determine if we have

[2016-07-01 18:07] pkdash commented on #1034
@alvacouch If you have made any progress in implementing a prototype for raster resource type, let me know. I may have time to implement it.

[2016-07-01 18:08] pkdash commented on #1034
@dtarb Is there any requirement type document for implementing file type metadata?

[2016-07-01 20:13] pkdash opened #1313 "REST API for creating a resouce needs capability to pass all valid metadata appropriate for a specific resource type"
Currently a resource can be created using the REST API that allows only passing data for the following three metadata terms:

Title
Abstract
Keywords

This endpoint needs to be changed so that data for all valid metadata terms including the resource specific metadata terms can be passed when calling this endpoint.

Related issue: #1309

[2016-07-01 20:45] mjstealey opened #1314 "1.7.3 Release Notes"
Release 1.7.3
- MODFLOW Model Instance Resource type
- iRODS user zone updates
- Code cleanup / Bug fixes

[2016-07-01 20:45] #1270 closed

[2016-07-01 22:37] mauriel133 commented on #1300
@pkdash, it seems that the context variable 'cm.is_mine' in genericresource.html is not being populated. Could you look into this?

I'm working on this branch: https://github.com/hydroshare/hydroshare/tree/1300-add-to-my-resources-button

[2016-07-01 22:44] pkdash commented on #1238
Note to self.

1. Include a new parameter 'extra_data' to resource create REST API endpoint which can be used to pass optional data as json string.
2. The pre_resource_create signal needs to take an additional parameter 'extra_data'.
3. The ref_ts resource type needs to change its pre_resource_create handler function to be able to use the additional data passed as 'extra_data' and generate the met

[2016-07-01 22:51] pkdash commented on #1300
@mauriel133 What value you see for 'cm.is_mine'?

[2016-07-01 22:52] mauriel133 commented on #1300
When I try to output the value it's just empty.

[2016-07-01 23:01] pkdash commented on #1300
I think it probably never worked before. I have to add a new context variable 'resource_is_mine'. So where you are currently using 'cm.is_mine' you have to replace it with 'resource_is_mine'. Let me know when I can pull your branch to make the change.

[2016-07-01 23:03] mauriel133 commented on #1300
I updated the branch with the new context variable name. It is being used here: https://github.com/hydroshare/hydroshare/blob/1300-add-to-my-resources-button/theme/templates/resource-landing-page/top-right-buttons.html#L9

[2016-07-03 11:30] dtarb commented on #1034
@gantian127 developed a design powerpoint in www.hydroshare.org/resource/e8cd813e376347c5b617deb321227a36 that I commented on.  I do not think this was ever put into a design doc, but @gantian127 could confirm if it was.  I also listed suggestions in #1126.  These were in the context of a composite resource as a separate resource type.  Based on comments in that issue, rather than establishing a s

[2016-07-03 18:00] gantian127 commented on #1034
@pkdash @dtarb There isn't a specific design doc currently. The resource listed above contains the recent discussion of the file type metadata design.

[2016-07-04 14:14] dtarb opened #1315 "Improve the EPA WATERS Services HydroShare App"
This comment relates to the EPA WATERS Services app available on https://apps.hydroshare.org/apps/watershed-delin/
- Is there a way to have the Welcome box that opens at the start and provides instructions moveable to position elsewhere on the screen and refer to while following the instructions.
- In step 4 in the instructions please remove the word "permanent".  The resource in HydroShare are no

[2016-07-05 21:57] shawncrawley commented on #1264
@dtarb I finally was able to figure out what was going on. You can see it working now on appsdev:
https://appsdev.hydroshare.org/apps/hydroshare-gis/?res_id=b2595adde0fd46cc969b8e86117018e5

The problem was that it appeared that this particular resource had both incomplete and unknown coordinate system info with regard to what GeoServer recognizes/requires. This was brought to my attention through

[2016-07-06 00:07] shawncrawley commented on #1051
When a user created a Web App resource, they are able to input an image URL themselves, which is then saved as resource metadata. In the case that this metadata is not specified, the default Web App icon is used. The problem is that this metadata is not required in order to make the resource public. Thus, it is likely that valid web app resources will not have their appropriate icon if the user di

[2016-07-06 13:13] mjstealey commented on #1283
Implemented

[2016-07-06 13:13] #1283 closed

[2016-07-06 13:14] mjstealey commented on #1277
Implemented

[2016-07-06 13:14] #1277 closed

[2016-07-06 13:21] danames commented on #1051
I prefer to just show a default icon if the user doesn't supply one, rather
than trying to scrape for one.

On Tue, Jul 5, 2016 at 6:07 PM shawncrawley <notifications@github.com>
wrote:

[2016-07-06 16:02] alvacouch commented on #1238
A suggestion: what I was going to do was to completely populate metadata with no files, and then use the post-create and post-update hooks to call up the REST call and populate the "rest" (pun intended) of the metadata.

[2016-07-06 16:11] gantian127 commented on #1264
@shawncrawley @dtarb  I found out that VDATUM refers to vertical datum and VERTCS refers to vertical coordinate system. It seems these tags are valid in the coordinate system wkt string but are not recognized in geoserver. So I suggest either find a version of geoserver to recognize these elements (not sure if there is one ) or have a way to show the detailed error info to the users to let them kn

[2016-07-06 17:32] dtarb opened #1317 "Geographic feature create failing on www for single point shapefile"
When I try create a geographic feature resource using the attached shapefile on www it fails.  This is reproducible on beta where debug is on and generates the error below.  Since this is a point file with a single point this suggests the error may be due to the north latitude being equal to the south latitude (not strictly greater than).  The system should be tolerant of such instances.

[LoganOu

[2016-07-06 17:49] dtarb opened #1318 "Improve clarity of app authorization message"
At the bottom is a screen grab of our current app authorization message.  I suggest it be edited to read

"The external website <URL> <name> is requesting permissions to interact with your contents on HydroShare.  The following permissions are requested:

 - Reading.  This allows the external website to read your HydroShare resources and is typically used for visualization of HydroShare resource c

[2016-07-06 18:20] #1257 closed

[2016-07-06 19:56] pkdash commented on #1317
@dtarb The following line of code causing the above error:

[code]

[2016-07-06 20:38] zhiyuli commented on #1317
@pkdash @dtarb
Current Feature res type does not take this "single point" case into account. It creates "box coverage" metadata for any shapefiles regardless of its geometry type or feature count. In this particular "single point" case, it should create a "point coverage" instead.

But I think changing the "<= " to "<" still makes sense. If we have a shapefile contains only two points (or one sing

[2016-07-06 21:27] zhiyuli opened #1320 "script res type landing page error when linked with a webapp"
This issue is reported by Matthew Bayles (a BYU developer who is working on CUAHSI apps).

The script res type works fine by itself. After linking a webapp with script res type, that script res landing page shows an error.

![image](https://cloud.githubusercontent.com/assets/10070599/16635091/f90c402e-438d-11e6-9023-35ec4ed74f8b.png)

[2016-07-07 10:48] dtarb commented on #1317
Thanks.  I agree it makes sense to use <= in both N-S and E-W tests.  Unless it will cause problems elsewhere, I am OK for the coverage to always be box (a point is a box with equal N, S and E,W bounds), however if setting this as point when both are equal is easy we should do so.

[2016-07-07 11:20] dtarb commented on #1264
Unless we are very sure that the dataset is somehow deficient and that the change we make to its projection through the gdal_translate mentioned by @shawncrawley is 100% correct we should not be changing the users file.  (I do not think we understand these issues well enough to be sure).  Also showing this sort of error to users and saying their data can't be visualized is not acceptable in this c

[2016-07-07 13:54] mjstealey opened #1322 "Remove iRODS user information from public view"
The iRODS user information should only be visible to the user and not to the public.
Presently iRODS user state, including username, is visible to all once they are logged in...

Example: logged in as **mjstealey** I can see my own information which is acceptable.

![screen shot 2016-07-07 at 9 46 40 am](https://cloud.githubusercontent.com/assets/5332509/16655313/b917a7e8-4427-11e6-90c1-f5de0dbd5a

[2016-07-07 14:24] yanliu-chn opened #1323 "delete multiple resources"
Hi,

Is there a way to delete multiple resources in portal without getting into each one and confirm? I think that will be useful.

Thanks,
Yan

[2016-07-07 15:18] horsburgh commented on #1323
This is covered by Issue #771

The plan would be to add a "Delete" button to the My Resources page that would delete any resources that are selected on the page (check boxes for those resources are checked).

[2016-07-07 17:09] horsburgh commented on #1221
@pkdash - I've attached three example CSV files that correspond to the 3 SQLite database examples I gave you.  You should just assume that every data column in these files (e.g., every column except for the date/time column) is a separate time series. In the resulting HydroShare resource, each time series should have a full set of metadata (site, variable, method, etc.) - so, to answer your questi

[2016-07-07 21:50] pkdash opened #1326 "Randomly failing unit test"
The following unit test can fail randomly:
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tests/api/views/test_get_user_data.py#L186

[2016-07-08 15:48] zhiyuli commented on #1294
@shawncrawley @hyi @pkdash @mjstealey
I created two generic res to test this issue. One has only one res file, the other has 50 res files. On my end it takes less than 1 sec to open the first landing page, but about 9 seconds to open the second.

If I understand it correctly, when the landing page is about to show up, the backend make separate query against irods for each res file to retrieve file

[2016-07-08 16:07] mjstealey commented on #1294
@zhiyuli - You'll need to provide us all access to the referenced resources if you want us to view them.

[2016-07-08 17:31] pkdash commented on #1294
@zhiyuli To get the file size icommand (ils) is used for each file. Not sure how expensive is that command. @hyi may know that. I would assume storing the file size in db would improve performance.

[2016-07-08 19:39] pkdash commented on #1238
@zhiyuli Once my PR #1328 gets merged, you should be able to  pass metadata for any of the ref_ts specific metadata elements using the 'metadata' parameter.

[2016-07-09 16:50] dtarb opened #1330 "Manage access autocomplete fails for geographic Feature resources"
This is a quirky bug.  On www I have created a geographic Feature resource.  I want to add access for another user and click the manage access button.  However when I try enter a name, it does not autocomplete, and as a result I am not able to add access for anyone else.  The manage access works fine for other resource types I have worked with (generic and geographic raster).  To provide access to

[2016-07-09 16:59] pkdash commented on #1330
@dtarb The problematic resource you have provided seems to be of type geographic feature.

[2016-07-09 17:03] zhiyuli commented on #1330
@dtarb hmmm...it is weird...the auto-complete works in EDIT mode, not VIEW mode for Feature res.

[2016-07-09 20:15] dtarb commented on #1330
Pabitra, thanks for noticing the typo in the title and Drew thanks for fixing.

[2016-07-11 00:51] hyi commented on #1294
@zhiyuli @pkdash Yes, the file size is dynamically generated using iRODS ils command which is very fast, but for a 50-file resource, the accumulative times for iRODS size query for each resource file is not negligible. Agreed storing the file size in db would improve performance in this case. Since the discussion of file-level metadata is still ongoing, this issue can be taken into account in the

[2016-07-11 21:04] pkdash commented on #1034
As it relates to having folders in a resource in particular in generic resource, we need more information on the folder management (CRUD operations) by the user. Here are my assumptions:

- There is a logical file grouping at least for some file types which needs to be preserved during folder and file operations by the user.
- The logical file group to be presented as a folder to the user. System

[2016-07-11 21:29] pkdash commented on #1034
As it relates to resource level metadata and file type metadata for a generic resource,  here are my assumptions:

- For supported file types, the 'format' core metadata element will be part of the file metadata
- For unsupported file types, the 'format' core element will be part of the resource metadata
- The 'coverage' core element will remain as part of the resource level metadata and the cover

[2016-07-11 21:33] pkdash commented on #1034
As it relates to existing generic resources that contain supported file types, I assume we don't have to worry about migrating those to make them enhanced generic resource type.

[2016-07-12 02:27] dtarb commented on #1034
Some documents and slides related to this issue have been posted by @gantian127 in [Google Drive](https://drive.google.com/folderview?id=0B0l1a655y5oTbGd3bVFfak5IWDQ&usp=sharing).

Addressing @pkdash questions above I agree with not migrating supported file types in existing resources.  Rather I suggest we add a button next to each logical file (a logical file may be a folder in case of multiple f

[2016-07-12 22:33] shawncrawley commented on #1051
@danames Well in that case, this issue is already resolved. If you are satisfied, you may close it.

[2016-07-12 23:09] shawncrawley commented on #1158
@dtarb As I already let you know, it appears that GeoServer does not recognize or do anything with .vrt files. They do, however, allow for multiple rasters to be uploaded as one composite raster with an ImageMosaic option (see http://docs.geoserver.org/2.7.0/user/data/raster/imagemosaic.html). The image mosaic will work great for the most basic VRT case (where the .vrt file really only specifies w

[2016-07-13 01:59] dtarb commented on #1158
Lets use the image mosaic option and when this is working (which it is not now for the resource https://www.hydroshare.org/resource/317c2643c0c84512b9b32492c08ec7d5/) then we can close this.  Lets limit our raster data model to only tiff files that comprise a mosaic (i.e. do not overlap).  @gantian127 please document this as part of the raster data model.

[2016-07-13 09:16] #1051 closed

[2016-07-13 10:05] horsburgh commented on #1034
First, given the use case described in Tian's slides - we need to be **sure** that the answer to this use case is **not** to use our existing functionality to just create two resources, one for the watershed DEM and one for the Snow Water Equivalent data and then group them together using a collection resource. This functionality exists and can support the use case as stated.

If we decide to go d

[2016-07-13 12:58] alvacouch commented on #1034
I am looking at this as an enhancement to all resources, not just generic ones (though the generic ones will benefit the most).

[2016-07-13 13:01] alvacouch commented on #1034
I think it is easy to decide what is science metadata and what is file metadata. The file metadata is mainly to benefit apps that need to interact at the file level. It is OK to have duplication between science metadata and app metadata. They serve different use cases.

[2016-07-13 13:42] alvacouch commented on #1034
I've discussed this problem in detail with @dtarb while he is here at CUAHSI. I have a proposed architecture for the file metadata. I need to check some things out via prototyping to ensure that the design is practical. The design allows us to pull code out of the one-file resources to feed the file metadata for multi-file resources. It relies upon generic relations in Django; file metadata has a

[2016-07-13 20:30] dtarb opened #1335 "HydroShare GIS unable to display certain raster resources"
Shale CZO LIDAR DEM. https://www.hydroshare.org/resource/211fae34ae7b4d51a9b441fcdd1405ac/.   It has the following problems displaying in HydroShare apps

- HydroShare GIS.  Just does not load.
- Raster viewer.  Is displayed at a location in the middle of Lake Ontario.

This raster displays correctly when loaded into ArcGIS.

Shaver Creek DEM.  https://www.hydroshare.org/resource/af6d865598fd41a69

[2016-07-14 20:03] alvacouch commented on #1034
@pkdash I have started a branch 1034-file-metadata. In this branch, you might want to check out hs_app_netCDF/models.py for my basic approach to reusing single-file resource metadata code. I convert the metadata class methods to a mixin, and mix that mixin into both a Resource Metadata class and a File Metadata class. Comments welcome.

[2016-07-14 20:47] alvacouch commented on #1034
@pkdash @dtarb In creating AbstractFileMetaData, I find I have an implicit decision to make. The class CoreMetaData generates XML to library standards, with RDF tuple instantiation and references.

I think -- but need some assurance -- that this is not what I want to do for file metadata. I think the generated XML and JSON should be as simple as possible. Do you agree?

[2016-07-14 20:47] pkdash commented on #1034
@alvacouch The mixin approach looks good. I assume this won't create any migration issues for existing NetCDF resources.

[2016-07-14 20:51] alvacouch commented on #1034
I’m staying away from any code motion that moves data around. Moving methods around shouldn’t cause migrations.
.

[2016-07-14 22:47] pkdash commented on #1034
@alvacouch I am not sure on this. Probably this is a question for @horsburgh . If the purpose of having file metadata is to meet the need for HydrpShare apps only then I would prefer JSON over XML. for file metadata.

[2016-07-15 03:16] dtarb commented on #1034
Is it possible to give an example of what the metadata would look like.  It is hard to venture an opinion based on just this discussion.  Also, while I recognize the efficiency of JSON, I worry that having some metadata XML and other JSON may be confusing.

[2016-07-15 18:05] pkdash commented on #1276
@alvacouch I can work on this issue. Let me know.

[2016-07-15 18:11] pkdash commented on #1276
@hyi Not sure how I can write unit tests for updated REST endpoints that involve federated iRODS zone.

[2016-07-15 18:46] mjstealey opened #1336 "Better enforcement of the file download cap of 1 GB"
@hyi, @pkdash - Presently the code still appears to attempt to download any sized file (singleton or bag) even when exceeding our 1 GB cap.

The browser hangs on what should be a quick and simple call to determine the size of the requested file and rapidly display the message:
**File larger than 1GB cannot be downloaded directly via HTTP.**
**Please download the large file via iRODS clients.**

Te

[2016-07-15 18:58] pkdash opened #1337 "Increase the data size for the 'value' in key/value extended metadata"
This change in size is an UI issue only. This change was requested by iUTAH.

[2016-07-15 19:50] hyi commented on #1276
@pkdash I suggest to just mock it in the similar way as you mock other irods-related operations for REST API endpoint tests. I will add tests for irods-related operations including irods federations as part of issue https://github.com/hydroshare/hydroshare/issues/1292.

[2016-07-15 19:51] pkdash commented on #1336
@mjstealey It seems from the code that the file size is retrieved first and only if the size is within the limit we get file from irods ('iget'), otherwise display the message. I think the delay may be happening if the bag has been modified and we need to re-create the bag before we can determine the size.

[2016-07-15 20:07] pkdash commented on #1276
@hyi Another question. How can I test it manually (not unit test)? I have to have an IRODS account right.

[2016-07-15 20:12] mjstealey commented on #1336
@pkdash - This does appear to be the case. Tested using: https://dev.hydroshare.org/resource/126bb28f05224636a8bc8b3d1bdad6b5/

This singleton file does generate the appropriate tool tip message:
<img width="1326" alt="screen shot 2016-07-15 at 3 54 41 pm" src="https://cloud.githubusercontent.com/assets/5332509/16886857/9d804dfe-4aa4-11e6-8a48-551606db09eb.png">

On the first click of the bag down

[2016-07-15 20:12] #1336 closed

[2016-07-15 20:35] hyi commented on #1336
@mjstealey @pkdash Yes, that is exactly what happened. We did not have download size check before, and I added this check and tooltip notification in a haste as part of irods federation work. I agree with @mjstealey this notification interface can definitely be improved. Perhaps @mauriel133 can work on this to make this notification more user-friendly as part of UIUX improvement.

[2016-07-15 21:28] mjstealey opened #1339 "iRODS user zone - create account short circuited by "Save Changes" button"
If you Create an iRODS user account and then hit the "Save Changes" button, the account is created but Django does not retain the correct state for the iRODS account.

Re-opening the profile page will again show "Create an iRODS account" but the user will be unable to because the account was already created.

![screen shot 2016-07-15 at 5 27 11 pm](https://cloud.githubusercontent.com/assets/533250

[2016-07-18 13:37] mjstealey opened #1340 "Release 1.7.3 - Checklist"
This is the manual pre-deploy checklist for version 1.7.3.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.
**Please finish checking before July 20

[2016-07-18 14:31] hyi commented on #1322
@mjstealey Fixed this issue together with the issue #1339 in the PR #1341. After they are merged, you can test to make sure both issues will be resolved by that PR.

[2016-07-18 18:21] dtarb opened #1342 "Reply not working"
I just tried to reply to a comment on the following resource https://www.hydroshare.org/resource/93f49ab913fd4c639c98ab4a070d20e0/.  Clicking on reply below the comment does nothing, so I had to respond with a new comment.

[2016-07-19 17:23] hyi opened #1343 "Implement create_bag_by_irods() function as a celery task"
For large files including files greater than 1GB limit, create_bag_by_irods() needs to happen regardless of file size to get bag file up to date when downloading or replicating resource bag to iRODS user zone on-demand. Downloading via https has a size limit of 1GB, but create_bag_by_irods() needs to happen to get bag file updated even for files bigger than 1GB so that users can download from iROD

[2016-07-19 17:24] zhiyuli opened #1344 "1.7.3 Beta: popup window does not show up when deleting a mandatory file from Feature Res"
bug found on 1.7.3 Beta:
popup window does not show up when deleting a mandatory file from Feature Res

[2016-07-20 00:37] gantian127 opened #1346 "Failed to delete the resource content files for NetCDF resource"
The netcdf header information file is created with a temporary file name, which is not expected. Moreover, when user deletes one of the resource content files, the system will show the following error.
This bug also exists on www site.

![image](https://cloud.githubusercontent.com/assets/5016511/16971303/d71617c2-4ddf-11e6-939e-f872393f46d7.png)

![image](https://cloud.githubusercontent.com/assets

[2016-07-20 01:26] hyi commented on #1346
@gantian127 get_resource_file_name() is in resource.py, not in utils.py, so it looks like this issue can be fixed if you call get_resource_file_name() from resource.py module, not utils.get_resource_file_name().

[2016-07-20 04:34] pkdash commented on #733
@gantian127 Should this be closed?

[2016-07-20 05:11] pkdash commented on #1221
@horsburgh I am thinking of keeping a blank SQLite file (with data for the CV tables) as part of the hs_app_timeseries Django app as a template to populate later when the user uploads the CSV file.  Was wondering if you can give me such a blank SQLite file.

[2016-07-20 19:01] gantian127 commented on #1346
@hyi Thanks for letting me know. I will change the code to see if this will fix the issue.

[2016-07-20 19:08] gantian127 commented on #733
@pkdash I just tested on www site. It seems that when I enter 0 value in any of the fields, the system won't save the value.
![image](https://cloud.githubusercontent.com/assets/5016511/16999402/ff531e7e-4e7a-11e6-93e2-9b88a67d8c5c.png)

[2016-07-21 13:43] AmberSJones opened #1349 "Author Name Hyperlinked to HydroShare Account of Resource Creator"
I have created a resource and re-assigned to a different author who is not a HydroShare user. However, that author's name is hyperlinked to my HydroShare account. The hyperlink on the author's name should be removed.
![image](https://cloud.githubusercontent.com/assets/5023186/17024888/c6fdce9c-4f16-11e6-8467-385ee3fb382d.png)

[2016-07-21 14:33] horsburgh commented on #1349
To be clear - "Elizabeth Ogata", the author's name, is linked to the profile page for the "iUTAH Data Manager" HydroShare user. "Elizableth Ogata" is not a HydroShare user.

@AmberSJones - I'm assuming that when you originally created this resource, you did it under the "iUTAH Data Manager's" account and that you then removed "iUTAH Data Manager" as the author and then added "Elizabeth Ogata" and

[2016-07-21 14:47] AmberSJones commented on #1349
Yes, @horsburgh is correct. Thanks for clarifying.

[2016-07-21 16:48] dtarb opened #1350 "Allow formatting in group description field"
The description of a group should allow line endings and text indenting to permit basic formatting.  Better yet, allow rich text.  See https://www.hydroshare.org/group/9 for where this is needed.

[2016-07-21 17:20] jbradberry commented on #1217
@hyi @mjstealey My prediction was that this was caused by destroying and then reconstructing the database during deployments.  I believe that we've fully switched over to using a persistent volume for the database at this point; have these errors gone away?

[2016-07-21 17:23] dtarb opened #1351 "Inviting to group is either slow or broken on www"
I am trying to invite participants to a group on www.  I click send invitation.  Nothing happens.  I click close. The box goes away.  I click invite people again, the box comes back.  If I wait about 20 min (two phone calls) and click invite again, it indicates it was sent.  But we really need to speed this up.

[2016-07-21 17:23] jbradberry commented on #1205
#1226 was merged on June 10, making it in to release 1.7.2 if I'm not mistaken.  I believe we can close this ticket.

[2016-07-21 17:23] #1205 closed

[2016-07-21 18:03] hyi commented on #1217
@jbradberry I think your prediction was very possible to be the cause of this issue. I am not sure whether we've fully switched over to using a persistent volume for the database at this point, I'd say it probably has not happened yet, but will defer to @mjstealey for the final words and details.

[2016-07-21 18:37] mjstealey commented on #1322
verified on beta

[2016-07-21 18:37] #1322 closed

[2016-07-21 18:40] mjstealey opened #1353 "Release Notes 1.7.4"
Release Notes
- sax parsing test fixed
- bug fixes

[2016-07-21 18:40] mjstealey commented on #1344
@zhiyuli - can you verify this on beta

[2016-07-21 19:11] zhiyuli commented on #1344
it works on beta. thanks

On Thu, Jul 21, 2016 at 12:41 PM, Michael J. Stealey <
notifications@github.com> wrote:

[2016-07-21 22:13] pkdash opened #1355 "Timeseries resource type migration error"

[2016-07-21 22:16] horsburgh commented on #1221
ODM2 SQLite file with CVs populated:

[ODM2.sqlite.zip](https://github.com/hydroshare/hydroshare/files/377089/ODM2.sqlite.zip)

[2016-07-22 20:31] gantian127 commented on #1335
The reason that the spatial coverage box is not created is because the wkt info from the Shaver Creek DEM file is esri wkt. This esri wkt can't be recognized by the Proj4 library for projection transformation. The solution is to first convert the esri wkt to ogc wkt and then do the transformation.

[2016-07-25 15:54] dtarb opened #1360 "Enable hydroshare groups and organizations as authors (creators) and contributors of a resource"
If you look at https://www.hydroshare.org/resource/fe1f1b565cbe40b3a57c845a0a55e460/, it is a resource where I intended to have the HydroShare Developers team represented by the group https://www.hydroshare.org/group/2 as an author.  The following enhancements are needed to facilitate this
- [ ] Allow selection of a group when an Author or contributor is added.  Right now we only allow selection o

[2016-07-26 16:08] xuezhaokun opened #1361 "Improvements on discovery map-view interface"
The succinct summary of these changes is as follows:
- [ ] - Don’t list the resource titles of coverages on the right. If possible, expand the map into that area. Instead, we will list them in a different way. See below.

- [ ] -  Don’t display centers of coverages. See below.

Then, implement a new mechanism for coverages as follows:
- [ ] -  Allow users to choose a specific rectangle to bound th

[2016-07-26 20:01] dtarb opened #1362 "Add capability to send all members of a group a message"
Develop capability to send an email or other form of message to all members of a HydroShare group

[2016-07-26 21:55] zhiyuli opened #1363 "Fail to download Private RefTimeSeries via rest api"
A "401 Unauthorized access" error occurs when retrieving a private RefTS resource via rest client after logging in through either basic authorization or OAuth.

@pkdash Looks like this change I made does not work for RefTS.  Any suggestion? thanks
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L264

[2016-07-27 01:05] pkdash commented on #1363
@zhiyuli Try not including ```site_url``` when you generating ```bag_url``` for the ref timeseries (the above line in the link you have provided)

[2016-07-27 13:27] alvacouch commented on #1361
There is another approach being discussed here.

1.  Get rid of the right box and extend the map there.
2.  In the map view, replace the facets box with a coverage list with abbreviated resource titles in alphabetical order.

    a. eliminate articles: "a", "the", etc.
    b. truncate the title to a few words.
    c. alphabetize after that elimination.

3. Split coverage resources into two types:

[2016-07-27 13:29] horsburgh commented on #1362
More generally, I think we need notifications. So, if we added a discussion thread to groups, the user could create a discussion in the group and all of the group members would get a notification about the discussion.

[2016-07-27 14:03] alvacouch commented on #1362
I like the way GitHub does it. Notifications remain a matter of record in the discussion. Emails just document that. If you lose an email you still have the record. Isn't a group message just like a discussion message on an issue?

[2016-07-27 14:03] horsburgh commented on #1360
Is this a duplicate of #855? Can we consolidate to one issue?

[2016-07-27 14:06] horsburgh commented on #1362
@alvacouch - Yes, that's what I was suggesting. The functionality should be to keep discussions in HydroShare, but send notifications via email when something happens (e.g., new discussion, replies, etc.).

[2016-07-27 14:07] alvacouch commented on #1362
Generalizing that, skype has the same feature for messaging to other members. The message is a matter of record. So, a basic idea that a message is contained on HydroShare and incidentally emailed seems a good metaphor overall.

[2016-07-27 14:49] xuezhaokun commented on #1361
@alvacouch
1. Do we have to show anything when we firstly initialize the map?
2. If we initialize the map with markers clusters, when hover over a resource title, do we want to zoom in the cluster to show the corresponding symbol? Or do we just stay on current map view to show the symbol?
3. Do we automatically update the titles list as the map's bound changed?

[2016-07-27 15:17] alvacouch commented on #1361
Initialization stays the same.

- Clusters indicate point resources.
- Lists of coverages are all coverages matching the extent (globally)
- we don't want to zoom when hover. We do want to be able to click on a coverage title and get a popup that allows us to zoom or visit the resource.

We do automatically update the titles as the map changes.

[2016-07-27 15:18] alvacouch commented on #1361
@xuezhaokun This modification still assumes that we add buttons for limiting the search. Zooming does not change the search. It does change the coverages that are included, excluding the ones that don't overlap the current view region.

[2016-07-27 15:24] xuezhaokun commented on #1361
![image](https://cloud.githubusercontent.com/assets/6678333/17181042/a1ada02e-53ec-11e6-8405-28fc02906246.png)

For example, if hover over resource "random point" which is a point resource inside this cluster, do we want to show a marker above the cluster symbol?

[2016-07-27 15:27] alvacouch commented on #1361
@xuezhaokun We should do what we always did with point resources:
a) no listing in the master directory above.
b) a popup that describes the resources that is exposed when we get to a single resource.
c) zooming to resolve clusters.

[2016-07-27 15:30] xuezhaokun commented on #1361
@alvacouch OK. That's clear. Since in the mockup figure, the instruction says we want to list all resources including point resources, it makes me feel some confused on how to deal with point resources.

[2016-07-27 15:35] alvacouch commented on #1361
@xuezhaokun I think it's a bit of overkill to do point resources in the list. We might do it eventually, but for now, let's do the point resources the way we always did. The open problem is how to deal with the coverages.

[2016-07-27 15:36] xuezhaokun commented on #1361
@alvacouch Got it!

[2016-07-27 16:10] zhiyuli commented on #1363
@pkdash I tried the change you suggested and it is still not working.....
 https://github.com/hydroshare/hydroshare/commit/50014b11e05441c23fca1c8fc577b3ee0c3611f4

I deployed the change on park and shared a private refts res with you
https://park.hydroshare.org/resource/ce943b09e93e4dea84d3e3d521c538fc/

[2016-07-27 16:12] zhiyuli commented on #1363
@pkdash the code I used for testing is here:
from hs_restclient import HydroShare, HydroShareAuthBasic
hs_hostname = "park.hydroshare.org"
auth = HydroShareAuthBasic(username='**USER_NAME**', password='**USER_PASSWORD**')
hs = HydroShare(auth=auth, hostname=hs_hostname)
hs.getResource("ce943b09e93e4dea84d3e3d521c538fc", destination="/tmp", unzip=True)

[2016-07-27 20:40] jsadler2 commented on #850
Phase one of this has been completed. Closing issue.

[2016-07-27 20:40] #850 closed

[2016-07-27 20:44] jsadler2 opened #1364 "Add "Log in with Google" functionality"
I think it would be a lot more convenient if people didn't have to create an entirely separate account with HydroShare but could log in with their Google credentials (as is a common practice these days).

[2016-07-27 22:16] gantian127 opened #1365 "Suggestions for web app resource type"
These suggestions are based on the use cases of the OPeNDAP web app resource
http://www.hydroshare.org/resource/32902798f88040edb4d15f975852afdb

- [ ] Enable the App URL to include the NetCDF file name

- [ ] Enable the web app to show up only when the resource is public or private

- [ ] Change the "App URL" as "App URL Pattern" and change the link as text string, because it is not a real URL li

[2016-07-28 00:21] pkdash commented on #1363
Can you try using this decorator ```@api_view(['GET'])``` for the ref_ts fie download view function? Also, add the ```site_url``` if you removed as I suggested previously. Here is a reference  if you need how this decorator has been used.
https://github.com/hydroshare/django_irods/blob/911eee0ee7a57001273255286c19e4f308322373/views.py#L23

[2016-07-28 17:49] zhiyuli commented on #1363
@pkdash adding @api_view(['GET']) works! I deployed the change on park.

I found one thing: rest api cannot be properly tested on my local hs vm.
I wrote a simple python script using hs_restclient to test against my local hs vm first. When trying downloading private generic and refts resource bags, I got 401 error on both.
But when running the same script against park, it works on both.
I am not s

[2016-07-28 22:37] shawncrawley commented on #1335
@dtarb This issue should be resolved. Let me know if you find otherwise.

[2016-07-28 22:40] shawncrawley commented on #1335
@dtarb Actually, my claim to issue resolution was a bit premature. I did not realize that the Shale Hills Lidar is displayed at a location in the middle of Lake Ontario, just like the Raster Viewer is doing. I'll look into this aspect of the issue.

[2016-07-29 13:52] shawncrawley opened #1367 "Raster zipped VRT upload issue"
When attempting to create a Raster resource from a zipped folder containing a VRT files and its associated TIFs, I kept getting the following error:

'The .tif files provided are inconsistent (e.g. missing or extra) with the references in the .vrt file.'

I checked my VRT file and it seemed that everything was fine, although I noted that each SourceFilename had a filename path relative to the curr

[2016-07-29 16:13] Castronova opened #1368 "Sync HydroShare irods userspace on JupyterHub notebook server"
Currently the JupyterHub notebook server uses the HydroShare REST API for both downloading data for analysis and uploading it back into HydroShare.  I would like to update this approach to leverage the HydroShare irods userspace and `icommands` for: (1) faster upload and download speeds, (2) syncing with irods userspace, (3) enabling all JupyterHub data to be accessed from the **Create Resource**

[2016-07-29 16:22] gantian127 commented on #1367
@shawncrawley Thanks a lot for reporting the bug. I will fix it.

[2016-07-29 17:50] dtarb commented on #1368
A couple of refinements I would like to suggest.

At step 2 when the resource content is copied to the iRODS userspace only the contents folder in the heirarchy <GUID>/data/contents needs to be copied.  I suggest they be copied into a folder <jupyter_sessionDateTime>.  There needs to be a way for a user to see and manage files in this userspace.  I suggest a special userspace resource that lets th

[2016-07-29 18:49] pkdash commented on #1221
@horsburgh Is there a possibility of having timeseries data in a file for multiple sites and multiple variables?

[2016-07-29 20:23] gantian127 commented on #1367
@shawncrawley Would you please test the fix on playground.hydroshare.org. If you find any problem, please let me know. Otherwise, I will make a pull request. Thank you.

[2016-07-29 21:22] zhiyuli commented on #1365
@gantian127 An  implementation has been deployed on riverdev.hydroshare.org. Please check it out to see if it fits your basic requirements.
Notes:
1) the new term added for url pattern is ${HS_NETCDF_FILE_NAME}, which represents the full name of the .nc file
2) all webapp resources support any sharing status (Published, Public, Discoverable and Private) by default. user could change it in edit mod

[2016-07-29 22:43] gantian127 commented on #1365
@zhiyuli I just tested the functions. They work as expected. Thanks a lot for your work.

[2016-07-30 02:38] dtarb commented on #1365
@zhiyuli I think that the functionality needed is a bit different from standard sharing status.  What is needed is for the open with app to only open when the resource is public even if the resource has been shared privately.  The reason for this is that the netCDF functionality only works for public resources.  This is a special case of other instances where there may be functionality only associ

[2016-07-30 04:16] gantian127 commented on #1365
@dtarb I think what Drew has implemented allows the situation that when the netCDF resource is shared as "public" and also shared privately with other users, the web app will show up in the resource landing page for that resource.  Here is an example.
https://riverdev.hydroshare.org/resource/50fa9c5b3b5b4263bf4f1752a8b6723c/

The four options listed (Discoverable, Public, Private and Published) is

[2016-07-30 17:22] dtarb commented on #1365
Thanks.  I tested on riverdev and the functionality is correct.  Good work.

[2016-08-01 02:00] horsburgh commented on #1368
@dtarb - why would we only copy the stuff in the content folder?  What if you need to do something with the manifest of files, or you want to traverse the resource map - and is it ever a good idea to separate the data content from the metadata? The resource is a package - why not just copy the whole package?  You couldn't do a "Save as" that copies metadata for a resource if you only copy the reso

[2016-08-01 04:23] horsburgh commented on #1221
@pkdash - do you mean a single CSV file that has **BOTH** multiple sites and multiple variables in the same file?

If so, I think that use case would probably be rare, but could happen. I know of some instances where people have done data collection with a single datalogger that measures sensors installed at multiple physical locations that one might consider different sites. The output from the d

[2016-08-01 13:40] dtarb commented on #1368
The reason I suggested only expose the contents folder is that I do not think users working in a Jupyter notebook environment should change the bagit or metadata files.  If they appear in the directory that has been replicated in the users working environment they are exposed to changing or deleting, thereby corrupting the resource.  I was writing from the assumption that the content files are the

[2016-08-01 13:59] hyi commented on #1362
@pkdash Assigned this issue to you. Feel free to reassign or modify milestone as needed.

[2016-08-01 14:06] hyi commented on #1360
I believe #855 is a main subset of this issue. Since #855 has a thread of discussions on the citation for groups/organizations, I will not consolidate them for now, but note the relationship between the two issues, so that they can be managed together. Assigning it to @pkdash for now, who may assign to others as needed.

[2016-08-01 14:08] hyi commented on #1355
@pkdash I believe this has been resolved since the work has been merged and deployed. Closing it now.

[2016-08-01 14:08] #1355 closed

[2016-08-01 14:09] hyi commented on #1351
@pkdash I am assigning this to you for initial investigation.

[2016-08-01 14:14] hyi commented on #1344
@zhiyuli Can this issue be closed? If so, please close it.

[2016-08-01 14:19] hyi commented on #1137
Adding description from the issue #1342 to this one since they have the same root cause and hence can be treated as duplicate: I just tried to reply to a comment on the following resource https://www.hydroshare.org/resource/93f49ab913fd4c639c98ab4a070d20e0/. Clicking on reply below the comment does nothing, so I had to respond with a new comment.

[2016-08-01 14:19] hyi commented on #1342
The underlying cause for this issue is the same as https://github.com/hydroshare/hydroshare/issues/1137 - primary key conflict which happens intermittently from time to time as detailed in that issue. So I am closing this one but copy the description for this issue there instead.

[2016-08-01 14:19] #1342 closed

[2016-08-01 14:22] hyi commented on #1339
@mjstealey I am closing this issue since I believe I have verified with you that this worked after applying my fix. If you see any follow-up issues with this, feel free to reopen it or create a new one.

[2016-08-01 14:22] #1339 closed

[2016-08-01 14:23] hyi commented on #1337
@pkdash Is the fix to this issue merged? Can this issue be closed?

[2016-08-01 14:25] hyi commented on #1330
@dtarb Can you verify and close if it works now?

[2016-08-01 14:26] hyi commented on #1326
@pkdash Is the fix merged? Can this issue be closed?

[2016-08-01 14:28] hyi commented on #1320
@zhiyuli Can this issue be closed?

[2016-08-01 14:29] hyi commented on #1318
@zhiyuli I assigned this issue to you initially. Feel free to reassign to others as needed.

[2016-08-01 14:30] hyi commented on #1317
@pkdash Can this issue be closed now?

[2016-08-01 14:31] dtarb commented on #1330
Tested on www.  Closing.

[2016-08-01 14:31] #1330 closed

[2016-08-01 14:32] hyi commented on #1313
@pkdash Can this issue be closed now?

[2016-08-01 14:36] dtarb commented on #1317
Tested on www.  Closing.

[2016-08-01 14:36] #1317 closed

[2016-08-01 14:43] hyi commented on #1311
@mjstealey @jbradberry I am putting this issue on my plate for now, but feel like since we have issue https://github.com/hydroshare/hydroshare/issues/1343 created (which I will work on when I have time) to delegate large file download to a celery task, there is no additional work needed to tackle this at least for the short term. Delegating to iRODS client for large file downloading is enabled by

[2016-08-01 14:45] dtarb commented on #1137
@hyi can you test this out on https://www.hydroshare.org/resource/7ca4a9c95d344825b68e868ec446c8ca/.  I do not want to clutter up comments on the resource first mentioned, which is public and cited, with testing.  If you write a comment on the Logan Outlet resource, I will try write a reply.  Once we are done I will delete the resource.

[2016-08-01 14:47] #1314 closed

[2016-08-01 14:47] #1340 closed

[2016-08-01 14:48] hyi commented on #1137
@dtarb Done. You can try to reply my comment and see whether it works.

[2016-08-01 14:49] hyi commented on #1310
I believe this is covered by issue https://github.com/hydroshare/hydroshare/issues/1360. @pkdash I'll leave it to you whether you want to consolidate them into one or leave them open and linked as reference.

[2016-08-01 14:51] dtarb opened #1369 "Add capability to edit and delete comments"
Add capability to delete comments and replies on a resource.  Comments should be deletable by the original commentor and the owner of the resource.  If a comment is deleted, any replies associated with that comment get deleted too.  A user deleting a comment that also deletes replies should be warned that this is the going to happen.  +1 associated with comments or replies deleted, also get delete

[2016-08-01 14:51] hyi commented on #1309
@Castronova I believe this functionality has been added to REST API by @pkdash recently. Can you test and close this issue if it works now?

[2016-08-01 14:52] pkdash commented on #1313
Closing as this functionality has been implemented.

[2016-08-01 14:52] #1313 closed

[2016-08-01 14:54] pkdash commented on #1326
Closing as this has been addressed.

[2016-08-01 14:54] #1326 closed

[2016-08-01 14:55] pkdash commented on #1337
Closing as this has been resolved.

[2016-08-01 14:55] #1337 closed

[2016-08-01 14:57] dtarb commented on #1137
It appears to be working, at least for today.  Has anything changed to increase the reliability. @jbradberry suggested something related to persisting the database.  Has this been done.  If we think this issues has been fixed, I would be happy to close this, but I would like @jbradberry and @mjstealey to weigh in.

[2016-08-01 15:00] hyi commented on #1369
This is kind of a duplicate of #1213, but will keep both open and linked for now. Assigning it to me for now, but may not be able to work on this until other higher priority items get resolved first.

[2016-08-01 15:01] horsburgh commented on #1362
@pkdash - I suggest we modify this issue to express ideas for all group messaging functionality.  That is - we may want a more inclusive issue that includes all of our ideas for group messaging functionality, including this one.

[2016-08-01 15:21] hyi commented on #1295
Fixed and merged. Closing.

[2016-08-01 15:26] hyi commented on #1294
@alvacouch I am assigning this to you initially since it is related to file level metadata (especially on file size) which you are leading, feel free to reassign as needed.

[2016-08-01 15:37] hyi commented on #1289
@mjstealey Can this issue be closed?

[2016-08-01 15:38] hyi commented on #1279
@pkdash Assigning this to you for initial investigation.

[2016-08-01 15:40] horsburgh commented on #1368
@dtarb - if the actions in the Jupyter Notebook modify the resource files in any way, then the bagit manifest, the resource map document, and the science metadata may also have to be updated because the manifest, dates, and checksums will be changed.  If this is all handled by the "save" call to the API, then that works too.

[2016-08-01 15:41] hyi commented on #1275
@goodalljl Looks like this issue has been fixed. Can you verify and close this issue if it works?

[2016-08-01 15:44] hyi commented on #1274
@mjstealey @alvacouch Can this issue be closed?

[2016-08-01 15:49] hyi commented on #1256
@jbradberry @mjstealey Has this issue been fixed? I remember seeing a PR for it.

[2016-08-01 15:50] mjstealey commented on #1274
Functions as expected for tests run

[2016-08-01 15:50] #1274 closed

[2016-08-01 15:51] jbradberry commented on #1256
@hyi I have a fix for it that I produced on Friday, but haven't produced the PR for it yet.  Expect it later today.  cc @mjstealey

[2016-08-01 15:53] pkdash commented on #1221
@horsburgh Yes, I was referring to a single CSV file. Initially, I won't bother about this scenario then. I am also assuming we are not considering more than one CSV file for timeseries resource.

Another question: Which ODM2 table contains the timeseries data? Is it the 'Results' table?

[2016-08-01 16:03] horsburgh commented on #1221
@pkdash - I think it is reasonable to limit CSV upload to a single file per resource.

The actual time series values and their date/time stamps are stored in the TimeSeriesResultValues table.  Many of the metadata attributes of a time series are stored in the Results and TimeSeriesResults tables, but the values themselves are in TimeSeriesResultValues.

[2016-08-01 16:58] hyi commented on #1368
@horsburgh @dtarb Yes, the "save" call to the API will update manifest, dates, and checksums. However, the resource bag zipfile will not be immediately updated but only with bag_modified flag set to True, so the bag zip file is only updated when the bag is being downloaded.

[2016-08-01 17:33] hyi commented on #1254
@zhiyuli Can this issue be closed? Please close it if the fix has already been merged and works.

[2016-08-01 17:36] hyi commented on #1250
@dtarb Can you verify and close the issue if it works now?

[2016-08-01 17:39] hyi commented on #1243
@pkdash Assigning it to you initially, feel free to reassign as needed.

[2016-08-01 17:41] hyi commented on #1242
@pkdash Is this issue already fixed? Can you check and see if it can be closed?

[2016-08-01 17:43] hyi commented on #1240
Verified it is fixed on www.hydroshare.org. Closing.

[2016-08-01 17:43] #1240 closed

[2016-08-01 17:47] hyi commented on #1220
@pkdash Can this issue be closed now?

[2016-08-01 17:54] hyi commented on #1190
@dtarb Can you verify to see whether this issue is resolved?

[2016-08-01 17:56] hyi commented on #1189
@gantian127 Can you verify to see whether this issue has been resolved and close if yes?

[2016-08-01 17:57] hyi commented on #1186
@dtarb Can you verify and close this issue if it works now?

[2016-08-01 18:02] hyi commented on #1184
@christinab Can you chime in on this from a user experience perspective? If you think the way the user interface for publishing a resource is currently implemented is sufficient, please close this issue.

[2016-08-01 18:03] jbradberry commented on #1137
I believe that this is fixed by persisting the database.  +1 to close.

[2016-08-01 19:27] goodalljl commented on #1275
It now works for me. Thanks for fixing this! Closing ...

[2016-08-01 19:27] #1275 closed

[2016-08-01 19:28] zhiyuli opened #1371 "bugs in multiple checkbox of SWAT res type"
@mohamedmorsy @jsadler2
We first found this bug in WebApp res type. Initially some code of the multiple checkbox implementation was copied from the SWAT res type, so we suspect SWAT is having the same bug, and looks like it does.

The bug is: 1) user first checks a model objective and clicks "Save",
2) then un-checks all options and clicks "Save",
3) then checks some options and clicks "Save", an

[2016-08-01 19:31] hyi commented on #1371
@jsadler2 Assigning to you initially, feel free to reassign as needed.

[2016-08-01 21:49] pkdash commented on #1221
@horsburgh Let me know if the following approach for editing metadata for CSV upload would work:

1. The user will be able to select a specific series from a dropdown list that lists the column headings from the data columns of the uploaded CSV file.
2. For each resource specific metadata elements, initially (when there is no data exists for a specific element type, e.g., "Site")  there would be a

[2016-08-01 22:12] horsburgh commented on #1221
@pkdash - my preference would be for the metadata to contain a full description for each series (e.g., one "Site" element should not describe multiple series, rather each series should have its own "Site" element).  In the editing form you could just add a button that says "Copy from Previous" or something like that so if you enter the "Site" information for the first series and don't want to have

[2016-08-01 22:33] dtarb commented on #1137
@mjstealey is the database now persisted.

[2016-08-01 22:35] dtarb commented on #1186
This is fixed.

[2016-08-01 22:35] #1186 closed

[2016-08-01 22:40] dtarb commented on #1189
Map discovery is being worked over as noted in #1361 and I think these comments are obsolete, so I am closing.

[2016-08-01 22:40] #1189 closed

[2016-08-01 23:05] pkdash commented on #1221
@horsburgh There is no problem in creating each element associated with only one timeseries from  backend data models point of view. The "copy option" that you have suggested basically is to minimize data entry on the part of the user.

However, I am not clear on always creating an element associated with only one timeseries. In the case of the example dataset, One_Site_Multiple_Series, I was crea

[2016-08-02 03:21] pkdash commented on #1242
This issue has been addressed. Closing.

[2016-08-02 03:21] #1242 closed

[2016-08-02 13:49] hyi commented on #1295
Reopen this issue since although the main issue has been addressed, a side issue is yet to be addressed regarding duplicate irods_environment.json files in different sub-directories in /tmp needing to be cleared up.

[2016-08-02 13:51] hyi commented on #1120
Closing this issue since irods user file space has been implemented and deployed. Remaining issues to be worked on are created as #1295 and #1292

[2016-08-02 13:51] #1120 closed

[2016-08-02 15:25] horsburgh commented on #1221
@pkdash - the SQLite file is relational. So, the records in the "SamplingFeatures" and "Sites" table should be unique. If there are multiple time series in the database that use the same site, they should use only one record in the sites table in the SQLite database.

Maybe I'm misunderstanding what you mean by "element".  I was assuming you were meaning XML elements in the metadata file. In the R

[2016-08-02 15:56] pkdash commented on #1221
@horsburgh I am using 'element' to refer to a record/row in Django database. When I say "Site" element I am referring to a record in the Site table in the Django database. When the user is editing say one Site element on the landing page, either a new record is being created or updated in the Site table in Django database.

I think we should meet to discuss the metadata editing issues which I am s

[2016-08-02 16:08] hyi commented on #1350
@mauriel133 I am reassigning this issue to you since although I found a way to fix it, but think you are at a better position to apply the fix just to make sure it does not cause regression issues to other relevant pages/tables. Here is what I found how to resolve this issue. First, due to this code snippet https://github.com/hydroshare/hydroshare/blob/develop/theme/static/js/hs_resource_table.js#

[2016-08-02 16:40] zhiyuli opened #1374 ""http" or "https" in the url of "How to cite"?"
A random question raised from one of our students who just started learning to use HydroShare.
Why the landing page url in browser address bar shows http**_s_**://www.hydroshare.org/resource/97add6638f7841278c73519e7192b252/,
while in "How to cite" the url starts with "http" instead of "https"
![image](https://cloud.githubusercontent.com/assets/10070599/17336759/d59cf1e6-589c-11e6-8af5-2c739b9ad6a

[2016-08-02 17:07] hyi commented on #1374
@zhiyuli @mjstealey @pkdash @jbradberry @dtarb The citation url protocol is retrieved here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/utils.py#L475. Since we don't set MY_SITE_PROTOCOL variable in our settings, the default http is used. Our hydroshare website is set up to redirect http automatically to https (@mjstealey can confirm if needed), so both http and https

[2016-08-02 17:11] #1256 closed

[2016-08-02 17:22] jbradberry commented on #1374
Is the full citation url being rendered and then stored?  We ought to be relying on the MY_SITE_PROTOCOL setting instead in the citation card shown above.

[2016-08-02 17:36] hyi commented on #1374
@jbradberry Agreed we should be relying on the MY_SITE_PROTOCOL setting instead. The code does so with a fallback default to ```http```, so we should add MY_SITE_PROTOCOL in production environment to set it to ```https``` which can then be picked up by code to form an url identifier for new resources being created. Yes, the resource url is stored in Identifier metadata element for each resource al

[2016-08-03 13:25] shawncrawley commented on #1367
@gantian127 It appears to be fixed. Good work.

[2016-08-03 19:31] dtarb commented on #1374
Since @hyi asked, I do not think that much time and effort should be spent on this.  This ambiguity is all over the internet.  We are sometimes advertising the site as www.hydroshare.org which does not say which of http or https is valid.  As long as any references with http get redirected to https then I am OK with things as they are.  That said, we should be following industry website developmen

[2016-08-03 19:37] hyi commented on #1374
@dtarb Agreed. I added Backburner label to this issue without assigning anyone with no milestone at this point as I don't think anyone would have time to devote effort on this by end of next June given that http gets redirected to https anyway.

[2016-08-04 17:06] zhiyuli commented on #1304
@hyi
I will continue working on the "download collection" functionality. This feature is related to "user irods zone" and "async downloading". About 3 weeks ago we had a preliminary plan in a weekly call. Since you were absent from that call, before we start implementing this, I would like have some suggestions from you to make sure the plan is doable and will not conflict with your planned change

[2016-08-04 20:26] hyi commented on #1304
@zhiyuli Thanks for the update. I will work on making https://github.com/hydroshare/django_irods/blob/dc76b07605a5287af8640d1c603bd8ff63b2992f/views.py#L86 call asynchronously so that it will not hold up the main web thread which may result in timeout and shutdown web server for large files that takes a long time to create the zip bag file. This requires to write front-end JavaScript code to notif

[2016-08-04 20:44] dtarb commented on #1304
I am not sure exactly what the question for me is.  I think that if the total collection is less than the size that can be downloaded (1 GB) the user should just click download and get the zipped collection.  If the total collection is greater than the size that can be downloaded the direct download button should be disabled with a hover over message indicating too big to download suggesting they

[2016-08-04 20:50] hyi commented on #1304
@dtarb OK. That answered my question and is what is currently being implemented with slight variation for bag download due to on-demand bagging. Since the bag may not exist until being requested to download, we don't know the size of the bag until the bag is created, so we cannot disable download button in advance until the user clicks on it to request bag creation. So if after the bag is created

[2016-08-04 20:55] zhiyuli commented on #1304
@hyi Currently the collection resource bag stored on hydroshare irods (main zone) is just a very small (almost empty) bag as it only has some xml files (metadata of this collection res) in it. When user clicks the "download button" on a collection resource landing page, this small/empty bag will be zipped up and delivered to user just like downloading other res types. We don't want to change the f

[2016-08-04 21:00] zhiyuli commented on #1304
@hyi
If I understood correctly, your changes will make the "download buttons" on all resource landing pages work asynchronously?

[2016-08-04 21:06] hyi commented on #1304
@zhiyuli OK. Got it. It is a separate function than the generic download function that apply to all bags then. Currently I am only planning to make create_bag_by_irods() run asynchronously so that it will not block the main web thread especially for big files. The large files (larger than 1GB) will not be downloaded via http but return response that informs the user to replicate large files to the

[2016-08-04 23:49] shawncrawley opened #1376 "Certain download buttons lack action/info when either filesize or resource size > 1GB"
I happened upon the bug(s) regarding attempting to download resource bag files and/or individual resource files. There are two resources that will help me illustrate the bug(s). Here is the first:

https://www.hydroshare.org/resource/126bb28f05224636a8bc8b3d1bdad6b5/

This resource is storing one file of 1.6GB.  If I click the "Download All Contents as Zipped BagIt Archive" a page immediately load

[2016-08-05 02:19] hyi commented on #1376
@shawncrawley Thanks for reporting this. I am assigning it to myself and will take a look at this issue.

[2016-08-05 17:05] mauriel133 commented on #1300
@horsburgh, the fix for this issue has been deployed to www. Could you verify and close?

[2016-08-05 17:19] mauriel133 commented on #1253
@ChristinaB, I made some layout changes that have now been deployed to www. Could you verify if this issue is fixed now?

[2016-08-05 17:27] mauriel133 commented on #1251
The autocomplete has been implemented and deployed to www. Could you verify and close?

[2016-08-05 17:32] mauriel133 commented on #1244
A toggle to share resources with a group or a user was added to the Manage Access window.

![image](https://cloud.githubusercontent.com/assets/2448568/17445026/2c5c0ee4-5b00-11e6-9db7-4b655de0aa21.png)

[2016-08-05 17:34] mauriel133 commented on #1184
The button to share resources is now exposed to the top of the page.

[2016-08-05 17:34] mauriel133 commented on #1151
This fix has been deployed to www. Please verify and close.

[2016-08-05 17:35] #1128 closed

[2016-08-05 17:36] mauriel133 commented on #1074
The text has now been adjusted according to the suggestions above.

[2016-08-05 17:37] mauriel133 commented on #1073
@pkdash, has this check been implemented?

[2016-08-05 17:44] mauriel133 commented on #1032
Looks like the spacing has been fixed.

![image](https://cloud.githubusercontent.com/assets/2448568/17445346/b8d5a348-5b01-11e6-9680-0f04c76bde44.png)

Is there anything else I could change?

[2016-08-05 17:45] mauriel133 commented on #1021
Have we reached any conclusion on this issue?

[2016-08-05 17:49] pkdash commented on #1073
@mauriel133 Not yet.

[2016-08-05 17:52] pkdash commented on #1151
@mauriel133 This option has been removed for next release (1.7.4).

[2016-08-05 17:53] mauriel133 commented on #897
I think the table has enough space to accommodate these columns. Although, I'm not sure if we are tracking statistics at this point. @pkdash do you know if any statistics are available?

If we are going for consistency on both pages, should we list owners or authors?

[2016-08-05 17:55] mauriel133 commented on #863
Sorting has been mapped correctly and is deployed at www. Please verify and close.

[2016-08-05 18:02] mauriel133 commented on #403
This has been implemented and deployed to www. Please verify and close.

[2016-08-05 20:12] jsadler2 commented on #1371
@zhiyuli thanks for pointing this out. lines 85-86 delete the object if there is nothing in the object. This way, if the user unselects all of the boxes, an empty the metadata term won't appear in the "Resource Specific" page and in the metadata xml document. But that doesn't seem to be happening with the webapp resource type so I will check it out with SWAT.

[2016-08-05 23:00] horsburgh commented on #1074
I think this is OK. Closing.

[2016-08-05 23:00] #1074 closed

[2016-08-05 23:07] horsburgh commented on #1032
@mauriel133 - I think the fix to the spacing between author names should address this.

@danames - adding "Last accessed" and then a date to the citation would say to me that we expect resources in HydroShare to be fleeting and that they might disappear at any time. I don't think that's the message we want to convey.  What do you think?

[2016-08-05 23:09] horsburgh commented on #1021
@mauriel133 - @dtarb wouldn't have brought it up if it didn't seem weird to sort by first name. I would vote for sorting by last name first.

@dtarb - what do you think.  We should put this one to bed.

[2016-08-06 05:57] horsburgh commented on #1300
Appears to be fixed on www.hydroshare.org. Closing.

[2016-08-06 05:57] #1300 closed

[2016-08-06 12:45] dtarb commented on #1021
I feel that sorting by last name is more logical.  In conjunction with this it may be more logical to present the names as Tarboton, David.  Yildirim, Ahmet A.  However I'd like to delegate to you @mauriel133 with guidance from @horsburgh to think through the problem holistically and do whatever seems best stylistically and is feasible given the constraints and edge cases.

Edge cases to deal with

[2016-08-06 12:58] dtarb commented on #1190
OK.  Closing.

[2016-08-06 12:58] #1190 closed

[2016-08-06 13:02] dtarb commented on #1250
Super!.  Closing.

[2016-08-06 13:02] #1250 closed

[2016-08-06 13:18] dtarb commented on #1032
See [owl.english.purdue.edu/owl/resource/747/08/](https://owl.english.purdue.edu/owl/resource/747/08/).  Accessed 8/6/16.  Having the date a web resource is accessed seems to be part of standard citations for web resources.  However I would go with just the word "Accessed" rather than "Last Accessed".  This may alleviate a bit the fleeting message @horsburgh is concerned about.

Also note that MLA

[2016-08-06 13:20] dtarb commented on #403
OK. Closing

[2016-08-06 13:20] #403 closed

[2016-08-06 13:22] dtarb commented on #863
Seems correct now.

[2016-08-06 13:22] #863 closed

[2016-08-06 13:27] dtarb commented on #897
I suggest a column "First Author", not "Owner" on both Discover and My Resources for consistency.

[2016-08-06 13:29] dtarb commented on #1244
Good.  Closing.

[2016-08-06 13:29] #1244 closed

[2016-08-06 14:41] horsburgh commented on #1032
@dtarb - we designed the citation using the DataCite standard. So modifying it as suggested might deviate from an accepted standard. I would like to promote a culture where high quality data products are encouraged and promoted as permanent research products. Adding an access date just says to me that this is a random web resource that could disappear at any point so I need to tell people when I l

[2016-08-07 12:50] dtarb commented on #1032
@horsburgh - please do review the DataCite standard.  I am OK not having accessed date in our how to cite box if it is consistent with that standard.  I was merely noting that accessed date is part of other standards, and since it is part of other standards, I do not interpret it as a statement that the resource is fleeting.

[2016-08-08 13:47] hyi commented on #1376
@dtarb @mjstealey @rayi113 I have added a popup "Download Alert" message box being displayed when the user clicks on Download button trying to download a file larger than 1GB as shown below:

![download_warning](https://cloud.githubusercontent.com/assets/476302/17481811/e2afa34c-5d4c-11e6-9bff-05be804e808b.png)
Let me know if you want to modify the alert message to make it more informational for u

[2016-08-08 15:51] pkdash commented on #1221
@Horsburgh When I am trying to write data to the blank SQLite file in the case of CSV file upload, is there an ordering issue in terms of which table be filled out in what order?

[2016-08-08 16:30] gantian127 opened #1378 "Release 1.7.4 - Checklist"
This is the manual pre-deploy checklist for version 1.7.4.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.
**Please finish checking before Aug 10t

[2016-08-08 16:55] pkdash commented on #1378
@Horsburgh As part of testing the timeseries, you may want to delete the SQLite file for the one time series resource that you have and upload the file back to the same resource. However, this file may not be a valid file anymore if it does not contain CV terms data.

[2016-08-08 19:12] zhiyuli commented on #1378
@gantian127 will you please check this fix: #1365 Web app resource changes for NetCDF resource? thanks

[2016-08-08 19:32] zhiyuli opened #1379 "[1.7.4 beta] newly created webapp crashes in edit mode"
A newly created webapp on beta crashes when switching to edit mode.
This issue does not affect existing webapps
The same issue is NOT observed on riversdev.hydroshare.org which is supposed to run the same code of webapp.

![image](https://cloud.githubusercontent.com/assets/10070599/17493051/e04aadda-5d6b-11e6-9a69-670e176eb0ef.png)

[2016-08-08 21:04] mauriel133 commented on #1350
@dtarb I have added basic text formatting to these inputs.

@hyi, any ideas how we can support rich text formatting as well?

[2016-08-08 21:21] hyi commented on #1350
@mauriel133 supporting rich text formatting needs more work, which probably needs to bring in additional package such as https://github.com/aljosa/django-tinymce. Mezzanine supports tinymce and already has tinymce integrated into admin interface  and its page editing, and I remember I got Mezzanine's tinymce-based rich text editing box in for abstract field editing a long time ago, but it requires

[2016-08-08 21:22] mauriel133 commented on #1350
I see. I have created a PR with the basic formatting which should fix the current problem. In the future we can look into implementing rich text formatting as an improvement.

[2016-08-08 21:24] hyi commented on #1350
@mauriel133 Agreed.

[2016-08-08 21:25] gantian127 commented on #1378
@zhiyuli I will test that. Thanks

[2016-08-08 21:48] horsburgh commented on #1349
@AmberSJones - @mauriel133 and I discussed this, and here's our approach for a fix. We had made a decision earlier that we would not allow people to modify the URL of the HydroShare user's profile. So, the immediate fix for you is to add a new author that has the name you want (HydroShare user or not) and then delete the iUTAH Data Manager user as an author.  Don't try to modify the iUTAH Data Man

[2016-08-08 21:59] ChristinaB commented on #1251
Wonderful! Thanks!

[2016-08-08 21:59] #1251 closed

[2016-08-08 22:00] ChristinaB commented on #1253
This seems great now. It has to be cell phone narrow to lose the right side results now, great!
Thanks Mauriel.
C

[2016-08-08 22:00] #1253 closed

[2016-08-08 22:13] ChristinaB commented on #1213
Please let me know if/when you would like me to test this. Thanks!

[2016-08-08 22:17] ChristinaB commented on #1214
This may be personal opinion, but I would consider making it Hydroshare that users see in the inbox versus lower case hydroshare.   In lower case I think it is spam automatically, even though I know it's Hydroshare!

[2016-08-08 22:53] zhiyuli commented on #1379
@pkdash
I used debugger to step through the code and I found a weird thing (at least weird to me) that causes this issue:
Say a webapp is just created, by switching to Edit mode:
This line returns a **None** to variable supported_res_types_obj :
https://github.com/hydroshare/hydroshare/blob/develop/hs_tools_resource/page_processors.py#L70
**supported_res_types_obj** = content_model.metadata.suppor

[2016-08-08 23:03] zhiyuli commented on #1379
@pkdash A "try....except....." statement was wrapped outside the above "if statement" before, but we removed it in the code review phase.

I just tried adding the "try...except " statement back and that could "fix" this issue.

[2016-08-08 23:43] mauriel133 commented on #977
@hyi, how are we storing the files?  I'm looking at this that plugin takes care of navigating the hierarchy if we can get access to the entire file: https://www.abeautifulsite.net/jquery-file-tree

I could easily further improve this to add folder creation and uploading to a specific folder.

[2016-08-09 03:51] pkdash commented on #1379
@zhiyuli  If an instance of a model is passed then self.instance is set to that model object. Otherwise, the ModelForm initialization creates a new model of that model and assigns to self.instance. That's why self.instance is never None.

[2016-08-09 14:01] hyi commented on #977
@mauriel133 We store the files in iRODS. All files for an individual resource are stored under a root named with resource uuid with folder structure as shown below:
![resource_bag_1](https://cloud.githubusercontent.com/assets/476302/17518468/04df8b84-5e16-11e6-9a1b-4263594c5336.png)
Under data directory, the structure is shown below:
![resource-data](https://cloud.githubusercontent.com/assets/4763

[2016-08-09 15:16] horsburgh commented on #1378
@pkdash - In testing the time series, I found the following issues:

* [ ] CV term lists in drop downs should be alphabetized
* [ ] Need to modify the text label to correct spacing at the top of the Resource Specific Metadata tab. It should read "Select a time series to see corresponding metadata (Number of time series: 1):"
* [ ] This one is more of an observation - Variable names in an ODM2 data

[2016-08-09 15:25] pkdash commented on #1378
@Horsburgh I will fix the above issues in current phase-2 implementation.  I am getting a 403 error when I try to access your timeseries resource on beta.

[2016-08-09 15:27] horsburgh commented on #1221
I believe the default of SQLite is to NOT enforce referential integrity.  But, you might avoid some issues if you stick to a general order that creates things before they get referenced in other tables.  So, the following order should be helpful:

1. SamplingFeatures
2. SpatialReferences
3. Sites
4. Methods
5. Variables
6. Units
7. ProcessingLevels
8. People
9. Organizations
10. Affiliations
11. A

[2016-08-09 15:35] mjstealey commented on #1378
Due to PRs beta was rebuilt this morning, so it's possible that the resource was destroyed if it were created prior to then.

[2016-08-09 15:46] pkdash commented on #1378
@Horsburgh Yes I can access it now.

[2016-08-09 16:09] horsburgh commented on #1032
@dtarb - short story - the **best** way to do citations might be as follows:.

- For unpublished resources:  follow the preferred DataCite format, but add the access date (because there is no guarantee that the resource will persist or ever be published)
- For formally published resources:  follow the preferred DataCite format without the access date (because there should be a reasonable expectati

[2016-08-09 16:10] horsburgh commented on #1151
Given that this option has been removed for the next release, I'm going to close this one.

[2016-08-09 16:10] #1151 closed

[2016-08-09 16:19] AmberSJones commented on #1349
@horsburgh This sounds good, and we will work to modify the author info on the datasets that we have added. I'll leave the issue open until you address the question of not allowing the edit button to change the author metadata for an existing HydroShare user- unless you have that documented elsewhere.

[2016-08-09 17:26] mjstealey opened #1384 "supervisord control for gunicorn"
Let supervisord manage the running of gunicorn so that the process can be restarted if it is killed.
- gunicorn_start has been linked to PID 1 which shuts down the hydroshare container if that PID is killed
- need to be able to restart gunicorn master if the process is ever killed (cascading timeouts seem to do this)

[2016-08-09 17:52] pkdash commented on #1221
@Horsburgh I am using the 'code' attribute of various metadata elements (e.g., site_code, variable_code etc) to ensure that duplicate elements are not created in Django database. There is not an equivalent 'code' attribute for the 'TimeSeriesResult' element. The attributes for this element are the followings:
units_type
units_name
units_abbreviations
status
sample_medium
value_count
aggregation_st

[2016-08-09 18:52] dtarb commented on #1032
There are already two issues #855 and #1360 that address the way organizations are presented in the citation.  I am OK either way on access date.

[2016-08-09 18:56] dtarb commented on #977
I think that as far as the interface is concerned the bagit structure and data and contents folders should not be exposed to the user.  I think that what we are looking at here is for users to be able to organize their content that is in the content folder into subfolders using any structure that they deem fit for the organization of the data.

[2016-08-09 18:58] hyi commented on #977
Agreed with @dtarb

[2016-08-09 19:21] ChristinaB opened #1386 "Collections"

[2016-08-09 19:21] #1386 closed

[2016-08-09 19:25] ChristinaB opened #1387 "Collections mapping and viewing resource relationships"
When viewing a resource that is in a collection, it would be helpful to know the relationships. Is this part of a collection? How many collections is a part of?

[2016-08-09 19:56] horsburgh commented on #1032
@dtarb - in the interest of spending time on the issues that we really need to fix, let's let this one go and fix the issues with organizations in the citation.  Closing for now.

[2016-08-09 19:56] #1032 closed

[2016-08-10 16:30] hyi commented on #977
@dtarb @horsburgh @mauriel133 What Brian initially stated in this issue to work on is essentially to create hierarchical view of resource content that is loaded on demand to avoid overwhelming resource landing page load for a resource with hundreds of files. It assumes resource (i.e., RHESSyS) zip already unzipped with folder structures preserved (which is yet to be done in HydroShare) and does no

[2016-08-10 16:35] pkdash commented on #977
I agree that we initially implement view of the resource folder hierarchy on the resource landing page. Then we can move to folder and file management.

[2016-08-10 19:46] mjstealey commented on #1384
merged

[2016-08-10 19:46] #1384 closed

[2016-08-10 19:50] mjstealey commented on #1376
@hyi - I think once we have proper pages.hydroshare.org documentation for exactly how to use iRODS clients we'll be able to update the text you have with links to the how-to information. Otherwise I think it looks fine.

For how-to's:
- How to create an iRODS user account from your profile page
- How to use Cyberduck to connect to your iRODS user account

[2016-08-10 19:53] rayi113 commented on #1376
For the "How to use Cyberduck to connect to your (HydroShare) iRODS user account"  how-to, there's a start here: https://pages.hydroshare.org/accessing-hydroshare-irods-from-a-windows-pc-or-mac/

[2016-08-11 05:44] dtarb commented on #977
It surprises me how hard this is.  I'll write up what I think the functionality should be from a complete perspective, then we can decide to perhaps only implement part or implement in phases.

Is surprises me that unzipping is so much work.  It should be a single command.  It strikes me that if we were working with an NFS or FUSE interface to iRODS then it would be just one command.  It is this s

[2016-08-11 13:32] hyi commented on #977
@dtarb You are right on the point that it is not hard to unzip or zip files, which just takes one command or one function. The hard part is the user interface UIUX to best serve use cases including how to handle performance issue for big file unzipping and zipping in conjunction with web server timeout limitations. We need to use celery task to do unzipping and zipping asynchronously for large fil

[2016-08-11 16:01] gantian127 opened #1389 "Rest API for creating key-value pair resource extended metadata elements"
Need rest api to support the creation of key-value pair extended metadata, so that the Tethys app can create model instance resource for UEB model inputs with additional metadata elements.

[2016-08-11 16:08] danames commented on #1361
I'm experimenting with the current release on playground. Nice work implementing this, Zhaokun. This is very much what Alva and I discussed at the CUAHSI meeting. I do have a fairly large workflow modification request and a couple of smaller suggestions:

1) The workflow needs to be updated to be a bit more natural for the user. I've explained the updated workflow together with what it would look

[2016-08-11 17:07] xuezhaokun commented on #1361
@danames Thanks for your suggestions, Dan! There are two things I am worried about this design.
1. If we show all the boxes on the map, there might be a lot overlapping rectangles. It might make the map look messy.
2. For resources coverage the same area, we will have two exactly overlapping boxes in that area. When users click the box, it would be confused to decide which popup window should be s

[2016-08-11 18:02] zhiyuli commented on #1387
@horsburgh @ChristinaB @pkdash
The relationships between collections and resources are stored in django db. Bi-directional look-up can be performed: "collections -> resources" and "resources --> collections"

However, users can only see one-directional relationship in the resourcemap.xml file of Collection bags that can answer: which resources are collected by this specific collection?

An "ideal

[2016-08-11 18:07] dtarb commented on #1361
Here is an idea that may help.  If there are overlapping boxes (be they exactly overlapping or not) in the display and a user clicks in the overlap area, rather than show just the top one (as Dan suggested) pop up a box that shows up to 5 that overlap at the click point with a more option to open a window that shows all similar to the windows used for selecting resources for some of our apps (Hydr

[2016-08-11 18:14] dtarb commented on #1361
Zoom controls need adjusting.  If I go to playground and select discover and then my name in the Filter by owner facet, I get one red dot in the middle of a blue area.  It looks like the middle of the ocean.  However after zooming out a few levels I find I am in the middle of a small reservoir.  It should not have zoomed in so much.

Also when using drag zoom mode, keep it turned on until the user

[2016-08-11 18:45] xuezhaokun commented on #1361
@dtarb
- For the overlapping concern, for example, if we have 3 exactly overlapping resources, there would be only "one box" (three overlapping boxes) shown on the map. I think this might be confused for users. Users might see 3 resources from the list view, but on the map, they just see 1 box. They may think the display on map is wrong. The number of boxes on map does not match the number of resu

[2016-08-11 19:14] dtarb commented on #1361
For exactly overlapping resources, I think that having one box that you can click on to see the 3 resources listed is better than having no box and having to find the resource in a list at the top.

For zoom control, I understand your explanation.  I just think that the level to which it automatically zooms in should not be so small.

[2016-08-11 19:18] xuezhaokun commented on #1361
@dtarb Yes. I agree with the suggestion on overlapping problem. I will take a look at the zoom control issue to see if there is any proper modification I can make on it.

[2016-08-11 19:42] hyi commented on #1376
@mjstealey @rayi113 @dtarb Have added the how-to link for Cyberduck and icommands link, so the popup notification looks like the following now:
![download_alert](https://cloud.githubusercontent.com/assets/476302/17602272/ecb2c9fc-5fd9-11e6-956a-889044347319.png)
After we have the how-to link for how to create iRODS user account in user space, I will add that link then. Let me know if there are any

[2016-08-11 20:16] hyi commented on #1295
Verified on the newly deployed www that this issue has been fixed. Now /tmp directory only includes default_session and federated_session - the two irods session directories which can be reused throughout without any extra tmp irods environment sessions left over. Closing this issue.

[2016-08-11 20:16] #1295 closed

[2016-08-11 21:56] #1378 closed

[2016-08-12 02:31] dtarb commented on #977
@horsburgh @mauriel133 @hyi @pkdash
See https://docs.google.com/document/d/1HMnrX1HKNk8MMqLzfQzRr2O-Vj8ICQMx5mn2rTmuoOs/edit# where I have drafted functional requirements for folders within resources, as a follow up to the teleconference 8/10/16 where we discussed this.  My sense is that this is more than what @horsburgh wanted to implement with folders, so I am open to trimming where possible, or

[2016-08-12 15:15] pkdash commented on #1221
@horsburgh As part of validating the uploaded CSV file I am not allowing duplicate column headings. The reason for that is I am using data column headings as identifier for series selection when editing metadata. Is that an acceptable validation?

[2016-08-12 15:25] zhiyuli commented on #1363
tested on www

[2016-08-12 15:25] #1363 closed

[2016-08-12 15:26] zhiyuli commented on #1344
tested on www

[2016-08-12 15:26] #1344 closed

[2016-08-12 15:27] zhiyuli commented on #1320
tested on www

[2016-08-12 15:27] #1320 closed

[2016-08-12 15:27] zhiyuli commented on #1263
tested on www

[2016-08-12 15:27] #1263 closed

[2016-08-12 15:28] zhiyuli commented on #1262
tested on www

[2016-08-12 15:28] #1262 closed

[2016-08-12 15:28] zhiyuli commented on #1254
already merged and tested on www

[2016-08-12 15:28] #1254 closed

[2016-08-12 15:29] zhiyuli commented on #1207
this issue had been fixed and merged

[2016-08-12 15:29] #1207 closed

[2016-08-12 15:30] zhiyuli commented on #1379
tested on www

[2016-08-12 15:30] #1379 closed

[2016-08-12 16:34] horsburgh commented on #1221
@pkdash - yes. This seems like a very reasonable restriction.

[2016-08-12 17:03] mjstealey opened #1393 "hydroshare system level service account"
Modify hydroshare to use a service account for running it's processes.
- hydro-service system level account
- storage-hydro system level group

[2016-08-12 20:34] jbradberry commented on #1311
@hyi I had some ideas that I haven't really been able to follow up on recently, that would result in something like bittorrent in the browser.

[2016-08-12 20:38] pkdash commented on #1221
@horsburgh When creating records for the 'Sites' table in the blank SQLite file, it seems if there are more than one record to be written to that table, we can only populate 'Latitude' and 'Longitude' columns for one record since we have only one 'Coverage' element of spatial type (box or point).

[2016-08-12 21:03] jbradberry commented on #1183
@alvacouch @hyi @dtarb @rayi113 I strongly suggest that Hydroshare does not need real-time updates of the search engine.  A queuing system where writes to Solr happen every 5 or 10 minutes would be, I think, reasonable and would cut down on the churn of writes to the Solr server.

That said, points 1 through 3 seem to be reasonable and correct criteria.

[2016-08-12 21:36] horsburgh commented on #1221
@pkdash - I see the issue. Could we expose latitude and longitude as attributes of the site under the resource specific metadata so they could be entered and edited for each time series (if they use a different site)?

[2016-08-12 22:03] jbradberry commented on #1350
@hyi It should be quite possible to reuse Mezzanine's rich-text editing without privilege limitations.  Generally such constraints are in the view logic, and a quick look at the model field and form widget classes seem to confirm.

https://github.com/stephenmcd/mezzanine/blob/master/mezzanine/core/fields.py#L40
https://github.com/stephenmcd/mezzanine/blob/master/mezzanine/core/forms.py#L40

[2016-08-12 22:08] pkdash commented on #1221
@horsburgh Yes we can do that. At least initially we won't keep any dependency between the lat/lon in site element and that of the resource level coverage element.

[2016-08-12 22:09] dtarb commented on #977
@danames @shawncrawley @zhiyuli  could you please also take a look at the Folders functionality requirements as I think that some of it will impinge on what apps can do, and there are comments about business rules for the files comprising a shapefile in a folder within a resource with other content.

[2016-08-12 22:16] horsburgh commented on #1221
@pkdash - That's fine with me.

[2016-08-12 22:16] dtarb commented on #1183
From a user perspective I agree with @jbradberry.  Resources do not need to be immediately discoverable.   I do not have a basis for opining on whether it is more efficient to just add to Solr when the public action is taken, or have a queue do writes every 10 min.  That is an implementation detail I am happy to leave to the Discovery coders.

[2016-08-15 14:27] hyi commented on #1311
@jbradberry Can you elaborate a bit on your ideas? I have not heard anything about bittorrent, and currently we just delegate download and upload of files larger than 1GB to iRODS clients (which are not web-based).

[2016-08-15 15:54] mjstealey opened #1395 "HIS Referenced Time Series - hydroshare.log entries are exceedingly long."
Don't believe we need to write all of this to the **hydroshare.log** file for HIS Referenced Time Series resources.

For example, from our current production log files:

[code]

Actually hit the Github threshold when trying to c/p this information:
**There was an error creating your Issue: body is too long (maximum is 65536 characters).**

[2016-08-15 16:15] zhiyuli commented on #1395
@mjstealey did the log say which function (or line number) outputs this?
another question: I found different statements on initializing the logger in code base:
logger = logging.getLogger(__name__)
and
logger = logging.getLogger("django")
Which one should be used in resource-specific code?

[2016-08-15 16:29] mjstealey commented on #1395
Copy of log files as: [log-8-15-16.tar.gz](http://distribution.hydroshare.org/public_html/log-8-15-16.tar.gz)

The specified call such as `logger = logging.getLogger("django")` is definitive to a targeted log.
Using `logger = logging.getLogger(__name__)` will default to the [catch-all](https://github.com/hydroshare/hydroshare/blob/develop/hydroshare/settings.py#L552-L557) of **hydroshare.log**, an

[2016-08-15 18:41] pkdash commented on #1221
@horsburgh It seems now that I have to track when some of the core metadata gets updated in order to know if the SQLite file is out of sync. As part of the multi timeseries SQLite upload I was tracking updates only for the resource specific metadata. For example, if the users adds/updates creators/contributors then we have to know to update the People table in SQLite file. Is that a correct assump

[2016-08-15 19:18] pkdash commented on #1221
@horsburgh For populating the "Organization' table we have data only for the "OrganizantionName' column. "OrganizationCode' column is a required field and I am not sure what can be put there. Can I put the same number as OrganizationID for OrganizationCode?

[2016-08-15 19:28] horsburgh commented on #1221
@pkdash - for people, it would be great if you could just add all of the creators and contributors to the People table. You will also have to add their organization and affiliation. The ActionBy table will have to have a record for each person affiliating them with the Action that created the Result.

For the Organization table - you could use the OrganizationID as the OrganizationCode, which migh

[2016-08-15 19:52] zhiyuli opened #1397 "Failed to upload a file to user irods space using CyberDuck"
Got an error in CyberDuck when trying to upload a file to my irods user space.

![image](https://cloud.githubusercontent.com/assets/10070599/17677316/824bf7e6-62ef-11e6-9423-fc294e30ff08.png)

[2016-08-15 19:55] rayi113 commented on #1397
Have you used Cyberduck successfully in the past, or is this error first time you tried to use it?

[2016-08-15 20:00] zhiyuli commented on #1397
@rayi113
Just now when I opened the cyberduck a pop-up showed up saying "a newer version is available". So I updated my cyberduck and then found uploading does not work (downloading still works).

I vaguely remember I could download and upload before.

[2016-08-15 20:06] rayi113 commented on #1397
Default resource might be misnamed - see here: https://github.com/irods/irods/issues/2553  Did you try using this for your CyberDuck profile: https://www.hydroshare.org/resource/87f5341f93b944a7bb6e21c0745cb167/

[2016-08-15 20:10] zhiyuli commented on #1397
@rayi113 I will redo the configuration following this instructions: https://pages.hydroshare.org/accessing-hydroshare-irods-from-a-windows-pc-or-mac/

will keep you updated on this. thanks

[2016-08-15 20:16] zhiyuli commented on #1397
@rayi113 OK, it is working now. I thought I was using an old profile file that has some deprecated settings.
I am going to close this issue. Thanks.

[2016-08-15 20:20] #1397 closed

[2016-08-15 22:18] gantian127 opened #1398 "Create new resource with coverage box metadata using REST API"
When a new resource is created using the rest api, it will show error info if this new resource is created with coverage box metadata.

[2016-08-15 23:16] dtarb opened #1399 "Improve consistency in working with people and organizations"
This suggestion is motivated by #1221 where there is work on a model for people and organizations, by suggestions from @ChristinaB for automatically selecting authors/contributors in resource creation from from other authors/contributors in the system who may not be HydroShare users and from the concepts in the original party model (a brief description of which is in http://academicworks.cuny.edu/

[2016-08-16 05:46] pkdash commented on #1221
@horsburgh The Affiliations table has a column "AffiliationStartDate" which is a required field. I am using the current date to fill this field.

[2016-08-16 15:33] pkdash commented on #1221
@horsburgh What value can be used for the 'ActionTypeCV' column (required field) of the Actions table?

[2016-08-16 17:09] horsburgh commented on #1221
@pkdash - your plan for AffiliationStartDate seems reasonable because we won't know that information at the outset.

For the ActionTypeCV just use the generic term "Observation". Since we don't know what they are giving us in the CSV file and whether it resulted from an instrument deployment or some other process, let's just use this generic term for the CSV uploads.

[2016-08-16 17:30] pkdash commented on #1221
@horsburgh I am trying to create records for the 'ActionBy' table. What should be the logic to determine the value for the column 'AffiliationID'? At this point I have populated the 'Actions', 'Organizations', 'People', and 'Affiliations' tables.

[2016-08-16 17:52] dtarb commented on #1351
Closing this as with current deploy does not seem to be a problem.  Presuming that infrastructure upgrades resolved.

[2016-08-16 17:52] #1351 closed

[2016-08-16 21:36] pkdash commented on #1221
@horsburgh The number of records that needs to be created for the 'SamplingFeatures' table depends on what? Is that depends on the number of sites?

[2016-08-16 21:41] horsburgh commented on #1221
@pkdash - yes. A site IS A SamplingFeature. So, in the ODM2 database, each Site record should have a corresponding SamplingFeature record.

[2016-08-16 21:54] pkdash commented on #1221
@horsburgh I asked that question related to writing records to the "FeatureActions' table. How would I determine the value for the column "SamplingFeatureID" in this table? I am looping over the records in the Action table to create records for the FeatureActions table.

[2016-08-16 21:57] pkdash commented on #1221
@horsburgh Is the value for the "ResultDateTime" in the Results table be coming from the DateTime column of the CSV file?

[2016-08-16 22:28] pkdash commented on #1221
@horsburgh  It seems the DateTime value from CSV goes to the TimeSeriesResultValues table. I guess then I will use current date time for the ResultDateTime column of the Results table.

[2016-08-17 01:44] horsburgh commented on #1221
@pkdash - the FeatureActions table is a bridge table that links an Action to the SamplingFeature where it occurred.  So, the Site is the SamplingFeature at which an "Observation" Action occurred.  Create the SamplingFeature for the Site and get its SamplingFeatureID, then create an "Observation" Action for the Time Series Result and get its ActionID, and then link the two together in the FeatureAc

[2016-08-17 05:14] pkdash commented on #1398
@gantian127 I think this can be closed now.

[2016-08-17 05:16] pkdash commented on #1309
@Castronova Test and see if this can be closed.

[2016-08-17 05:18] pkdash commented on #1220
This has been implemented. This functionality is now available on www. So closing.

[2016-08-17 05:18] #1220 closed

[2016-08-17 14:10] mjstealey commented on #1353
released

[2016-08-17 14:10] #1353 closed

[2016-08-17 14:48] mjstealey opened #1401 "Release Notes 1.7.5"
Release 1.7.5
- async bag download
- REST fixes
- system service account
- script updates
- bug fixes / code cleanup

[2016-08-17 14:49] mjstealey opened #1402 "1.7.5/1.8.0 - Release Checklist"
This is the manual pre-deploy checklist for version 1.7.5.  Refer to the [Google Doc](https://docs.google.com/document/d/1iHySO-5Kpfp1sBgixWj-Hv0yFy95WUVPvsmg2JmURaU/edit#) for items to check in each group. This deploy is staged on http://beta.hydroshare.org

Please if your name is below check the box next to it when you have signed off on the functionality.
**Please finish checking before Sept. 7

[2016-08-17 17:02] pkdash commented on #1221
@horsburgh It seems the only columns that I can fill out for the "TimeSeriesResults" table are the columns "ResultID" and "AggregationStatsticCV".

[2016-08-17 17:25] zhiyuli commented on #1304
@hyi @rayi113 @pkdash @mjstealey

I added some background to this issue.

On the hydroshare Zone, the bag of a collection resource has metadata only (no contained resource bag is stored in it), so it is kind of a "empty bag". We won't move/change this "empty bag".

When user wants to download a collection bag with all contained resources in it (we call this collection bag "big bag"), we need to as

[2016-08-17 17:30] pkdash commented on #1221
@horsburgh What value I should be using for the following required columns/fields of the "TimeSeriesResultValues" table?

CensorCodeCV
QualityCodeCV
TimeAggregationInterval
TimeAggregationIntervalUnitsID

[2016-08-17 17:40] #1398 closed

[2016-08-17 17:40] #1367 closed

[2016-08-17 17:40] #1346 closed

[2016-08-17 17:41] #1365 closed

[2016-08-17 18:03] horsburgh commented on #1221
@pkdash - Yes - the TimeSeriesResults table will be sparsely populated because that information will not be in the simple CSV file. It's not required.  Your approach is fine.

Here's what to do with the other fields in the TimeSeriesResultValues table:

CensorCodeCV:  Set to "Unknown"
QualityCodeCV:  Set to "Unknown"
TimeAggregationInterval:  This one is a little tricky.  It may or may not be equa

[2016-08-17 20:43] dtarb commented on #1304
I think that option B above is better.  The main reason is that the contents of the "big bag" are user dependent, because the user downloading the collection may not have rights on all the resources in the collection, with resources without rights to hold a README.txt file as @alvacouch suggested above.  Thus I do not see a viable option for big bag reuse.

I suggest the button be labeled "Copy re

[2016-08-17 20:48] dtarb opened #1403 "Relationships need to be automatically created for a collection."
When a resource is added to a collection the collection needs a relationship: dcterms:hasPart that points to the resource added to the collection.  (see http://purl.org/dc/terms/hasPart)

The resource being added to the collection should also have a relationship added dcterms:isPartOf.  Adding this term requires edit permissions on the resource, which the collection editor may not always have.  So

[2016-08-17 21:42] zhiyuli commented on #1403
@dtarb @horsburgh @pkdash
The bi-directional relationship between collections and resources are stored as ManyToManyFiled in django db. It is not stored under the "Relation" attribute of a resource.

Currently, user can see this relationship at two places:
1) Collection landing page, listing all contained resources
2) The "resourcemap.xml" file in collection bag, describing this relationship using

[2016-08-17 22:07] zhiyuli commented on #1304
@dtarb Good point. The contents of the "big bag" are indeed user dependent.

[2016-08-18 04:12] pkdash commented on #1221
@horsburgh In terms number of data rows in CSV file, how big we expect it to be? In case of too many records we may have to write the records to the blank SQLite file in a background task.

[2016-08-18 04:24] horsburgh commented on #1221
@pkdash - how big is too big?  Some of the time series we are working with now are 100,000+ records.

[2016-08-18 04:42] pkdash commented on #1221
@horsburgh It is not the number of records but number of data values. The maximum data values that I have in one of the sample CSV files you provided is about 35, 000. I need to use a much bigger CSV file to know how what we can handle without a background task.  Writing data to the 'TimeSeriesResultValues' table can be expensive in terms of time taken to write.

[2016-08-18 05:29] horsburgh commented on #1221
@pkdash - here's an example CSV file with more than 100,000 records. It is a single time series.  Will this help?
[LR_WaterLab_AA_EXO_Temperature_QC0.csv.zip](https://github.com/hydroshare/hydroshare/files/424198/LR_WaterLab_AA_EXO_Temperature_QC0.csv.zip)

[2016-08-18 17:26] pkdash commented on #1221
@horsburgh What value I should be using for columns 'DatasetTypeCV' and 'DatasetCode' in table 'Datasets'?

[2016-08-18 19:44] hyi opened #1404 "Put bag replication to iRODS user zone to async task framework"
This is a follow-up issue to issue #1343 and will be tackled after the PR #1392 is deployed which makes`create_bags_by_irods` a celery task that can be executed asynchronously with bag download view function calling this celery task to run it asynchronously.

[2016-08-18 20:34] horsburgh commented on #1221
@pkdash

DatasetTypeCV - Use the term "Multi-time series"
DatasetCode - This is arbitrary. You could use either the DataSetID or the DatasetUUID as a simple option. Another option is to use the HydroShare identifier for the resource.  Actually, I like the HydroShare identifier option the best.

[2016-08-18 20:39] pkdash commented on #1221
@horsburgh Will use HS resource ID for DatasetCode then.

[2016-08-18 20:58] horsburgh commented on #1403
@zhiyuli - there are a couple of issues here.

1. I'm glad we got the resource map worked out. But, that's mainly for a computer to traverse the structure of a resource. I don't expect a lot of users to spend a lot of time viewing the resource maps. So, we should consider whether having the relationships there is enough.  For the resource map, we should keep the specific semantic terms "aggregates

[2016-08-18 21:04] horsburgh commented on #1304
@zhiyuli - I had a a related discussion with @dtarb yesterday.  One way to simplify this is to only allow collections of public and/or published resources. That removes the user dependency of the "big bag" because all of the contents would be available to all users regardless because they are public or published.

If users want to group private resources, they should probably be using tags and/or

[2016-08-18 21:31] pkdash commented on #1221
@horsburgh In case of SQLite file upload, I have been updating only the following tables (as per the deployed code base):

Variables
Methods
ProcessingLevels
Sites
SamplingFeatures
Units,
TimeSeriesResults
Results
And all the CV related tables that we expose to the user interface

I am now including the update of the 'Datasets' table. Any other tables we need to update incase if SQLite file upload

[2016-08-18 22:18] zhiyuli commented on #1403
@horsburgh
OK, I think I got mixed up about Dublin core terms and OAI-ORE terms.
So the Dublin core terms are used in resourcemetadata.xml; The OAI-ORE terms are used in resourcemap.xml.
Can you please elaborate a bit more about the connection and difference between the two? thanks

[2016-08-18 23:45] zhiyuli commented on #1403
@dtarb @horsburgh @pkdash
I listed four scenarios that relate to this issue, please let me know if I ignore anything.

1) Add a new resource to a collection:
   collection creates a "Has Part" Relation to this resource
   resource creates a "Part Of" Relation to this collection

2) Remove a resource from a collection:
   collection removes "Has Part" Relation to this resource
   resource removes "

[2016-08-19 04:54] pkdash commented on #1221
@horsburgh How should we be encoding the new 'Lat' and 'Lon' attributes of the 'Site' element in science metadata xml document?

[2016-08-19 05:15] pkdash commented on #1403
@zhiyuli The above actions related to relationship between resource and a collection seem correct to me. However, it may not be always possible to remove a relationship ('Has Part', 'Part Of') due to permission issue. That could create broken links in the xml document.

[2016-08-19 15:05] horsburgh commented on #1403
@zhiyuli and @pkdash - First, I suggest another major simplification to collections - unless there is a major driving use case, I think we should NOT allow collections to contain other collections. That should simplify some logic.

Then:

* A collection should point to all of it's collected resources using a "hasPart" relationship.
* A collected resource should point to the collection that it is a

[2016-08-19 16:24] zhiyuli commented on #1403
@dtarb  @horsburgh @pkdash

A) **"NOT allowing collections to contain other collections"** will definitely simplify current implementation and several future works. Also I am thinking a combination usage of  the upcoming "folder" and "file type" features can meet similar purpose of "collection holds collections".
But it seems @ChristinaB group is already using "collection holds collections " to or

[2016-08-19 17:51] ChristinaB commented on #1403
Regarding A) I am in the middle of getting NFIE summer projects as a Collection Use case onto HydroShare.  They have a Group, and they have a Collection of Projects for 2016.  In the current implementation, each project will be a Collection, where each group will load their project resources.   For projects with multiple students, such as NFIE innovators, I think Collections of Collections works g

[2016-08-19 17:58] mjstealey opened #1405 "RefTimeSeriesResource has no raccess - RelatedObjectDoesNotExist error on www"
Noticed this on www when trying to access the pages screen from the django/admin panel.
Replicated on dev.hydroshare.org with the following traceback.

[code]

[2016-08-19 21:11] zhiyuli commented on #1405
https://www.hydroshare.org/resource/9882c9bbf68c47489ecff011273ee213/

[2016-08-19 22:01] horsburgh commented on #1403
@ChristinaB - can you elaborate on the "collection of collections" part so I'm sure we understand it? Don't all the projects have multiple students? Why does this require a collection of collections?

[2016-08-20 14:05] dtarb commented on #1403
@zhiyuli @ChristinaB @horsburgh is seems like there is a bit of sorting out to do.  I've put this on the agenda for the call on Wednesday.  Please in preparation for the call organize and sort out the issues and use cases to support.

In the project Google Drive folder in System Design there is a folder for Collection Resource.  Right now it only contains a document on Collection permission rules.

[2016-08-20 18:24] dtarb opened #1406 "Change Contact to Authorship"
The term Contact on resource landing pages has long bothered me as it suggests entities to contact related to the resource which is not really the right connotation.  The sub entries are Author and Contributor, which are concepts related to intellectual ownership.  Here is a suggestion for a fix to this semantic presentation issue

1. Change the tab "Contact" to "Authorship"
2. After Authors that

[2016-08-20 18:38] dtarb opened #1407 "isCopiedFrom missing in terms list"
The term hsterms:isCopiedFrom is missing in https://www.hydroshare.org/terms/ but is used in metadata of at least one model program resource.  I thought all hsterms were supposed to be defined on this page (or am I missing something).  This came up when reviewing paper by @mohamedmorsy that uses this term.

[2016-08-21 05:16] horsburgh commented on #1407
@dtarb - If it's being used, it just needs to be added to the namespace document along with a definition.

@pkdash - is this something you can quickly add?

[2016-08-21 05:40] horsburgh commented on #1406
@dtarb - perhaps there has been some confusion. The Authors' names are listed near the very top of the resource landing page along with the Owner. Indeed, the section at the bottom lists contact information for both authors and contributors, which is why we created that section and called it "Contact".

If someone wanted to contact a person about the content of a resource, wouldn't they want to co

[2016-08-21 05:40] horsburgh commented on #1406
@dtarb - I just reassigned this to @mauriel133 because I think it would take him him just a couple of minutes to do these changes.

[2016-08-21 05:58] horsburgh commented on #1403
@dtarb - I still think users should be required to have at least edit permissions on a resource to be able to add it to a collection.  As a HydroShare user, I don't personally feel like just anyone should be able to add my resources to a collection.  For instance, what would stop me from creating a new resource called "The top 10 worst HydroShare resources ever" and then adding a couple of your pu

[2016-08-21 21:13] dtarb commented on #1406
I agree with @horsburgh suggestions.  Let's get it implemented.

[2016-08-21 21:17] dtarb commented on #1403
No one has permission to edit a published resource so points 2 and 3 above are in conflict and would preclude ever adding a published resource to a collection.

[2016-08-21 21:49] horsburgh commented on #1403
@dtarb - yes, we may still have to enable editing of relationships for published resources if we want to enable users to be able to add them to collections. Or - we just don't copy relationships to published resources. We have to choose.

We can check with the access control team, but I don't think publishing a resource affects who has edit permissions. The resource becomes immutable but the acces

[2016-08-21 22:39] dtarb commented on #1403
OK.  So your suggestion is that they have to have edit permissions, but these are not used to edit the resource, only to evaluate whether the resource can be added to the collection.  Somewhat obscure, but could work.  We would have to check whether there is still capability to give someone edit permissions to enable this after a resource is published. I do worry that this is a bit of a roundabout

[2016-08-22 00:11] pkdash commented on #1403
I assume this specific relationship is set by the system and not by the user directly. In that case it is not hard to by pass access rules. However, in case of a published resource is it okay to have an update date that's after the publish date?

[2016-08-22 01:03] pkdash commented on #1221
@horsburgh
I have now finished the initial implementation of time series phase-2 (CSV upload)
I am aware of some issues that I still need to resolve. However, it would be good to start testing what I have implemented so far. The work of this branch has been deployed at: **park.hydroshare.org**.

**Summary of CSV upload functionalities to Test:**

1. Time Series resource can be created now by uploa

[2016-08-22 04:52] pkdash commented on #1221
@horsburgh I uploaded the the big CSV file you provided (100,000+ records) for creating a timeseries resource at park.hydroshare.org and it seems to not cause any problem in terms of time taken to process this file..

[2016-08-22 18:05] zhiyuli commented on #1405
https://beta.hydroshare.org/resource/0b6f031b3b5c4a4fb825eb0f1cef56c9/

[2016-08-22 18:13] xuezhaokun commented on #1361
@dtarb @danames I am not sure whether we still want to keep working on the new design. Based on my implementation so far, it looks really messy. This is the view when we initialize the map:
![image](https://cloud.githubusercontent.com/assets/6678333/17865831/0fa33334-6872-11e6-8f43-30d4b31c5041.png)
If we zoom to the United States, it looks awful. I think the overlapping boxes just make the map-vi

[2016-08-22 19:23] mjstealey commented on #1405
RefTimeSeriesResource 9882c9bbf68c47489ecff011273ee213 and 0b6f031b3b5c4a4fb825eb0f1cef56c9 had wound up in an odd state.
- iRODS resource data did not exist in the vault (presume deleted)
- had no resource-specific metadata obj
- landing page persisted in database, but unreachable due to missing required elements

Working theory:
[code]

Unable to recreate issue in development.
With the original

[2016-08-22 19:23] #1405 closed

[2016-08-22 20:17] dtarb commented on #1361
I think that a softer color, like light blue, light green or light orange would be better than the glaring red.  Dont make it darker and darker as you get more overlaps.

Also I think that one of Dan's suggestions was to only show boxes that fit completely within the view.  This could be extended to boxes that have their center within the view.

And I would consider showing clustered point resourc

[2016-08-22 20:39] xuezhaokun commented on #1361
I am not sure whether we could find a way to avoid the boxes get darker and darker as they overlap. I will try to see what I can do here. For now, we are not showing the centers of boxes. I am not quite sure whether people want to get the centers back.

[2016-08-22 20:58] horsburgh commented on #977
@mauriel133 - based on the feedback from the call last week, I told you that I would note a couple of outcomes. We decided that in phase 1 of folders we wanted to make sure to support the following:

* [ ] List view
* [ ] Icon view
* [ ] Download of selected files/folders (selection is zipped and then downloaded as a single zipped file)
* [ ] Sorting of icons and list by name, type, size, and last

[2016-08-22 20:59] ChristinaB commented on #1403
Collection of Collections: two examples of how it is on the verge of being used now.
1. Nathan Chaney publishes his POLARIS soil database in Hydroshare as a Collection that holds geographic subsets of the databse. No one wants to download the entire thing for the CONUS, so as people ask for subsets, he adds them to his Collection.  That way, I can do a modeling project collection, and add his reso

[2016-08-22 20:59] ChristinaB commented on #1403
Whoops. 1. and 2. above.

[2016-08-22 21:00] ChristinaB commented on #1403
If these use cases can be met with other functions or steps, I just need to know what they are/will be so that I can explain to users (and myself) how to organize, share and build on work.

[2016-08-23 04:11] horsburgh commented on #1403
@ChristinaB - thanks for posting more details.  Some thoughts:

**Use Case 1**:  If you were to use a subset of the POLARIS data in your resource, that subset would be a resource in its own right. It would have to be a resource on its own to be part of the POLARIS collection and for you to reference it in your collection. Given this, you have a couple of options:

1. Add the POLARIS subset resourc

[2016-08-23 21:15] ChristinaB commented on #1403
I think for Use Case 1, simple works fine.
For Use Case 2, let's sort out the simplest plan for the users and developers. NFIE summer institute is a good use case because it is very similar to academic resaerch groups where multiple projects with various collaborators are coordinated by one group/professor.

The current plan with existing functionality is to have this years Collection of projects

[2016-08-23 21:35] horsburgh commented on #1403
@ChristinaB - the document I shared a link to today allows for collections of collections per your use case. Let's see what people say when they've had a chance to read it.

[2016-08-24 18:56] zhiyuli opened #1408 "Async downloading impacts on RefTimeSeries"
@hyi  I just talked to @pkdash  about the changes needed for REST client to fit async downloading . And I  just realized the RefTimeSeries code on hydroshare side needs to change as well. This is because RefTS is using a different way to download its bag. When a RefTS res is created, an "empty" bag is created on irods with only metadata (xml) in it (like collection). When a user clicks the "downlo

[2016-08-24 19:19] dtarb opened #1409 "Group resources landing page message says no resources shared when a resource has been shared."
I shared a resource with a group.  It shows up on the group resources list.  But the page still indicates no resources shared with the group.

![untitled](https://cloud.githubusercontent.com/assets/3456833/17944509/4793eac2-69fd-11e6-9bc8-7ccfe6a331fe.png)

[2016-08-24 19:25] zhiyuli opened #1410 "Got the "Invalid publisher name" error when Publishing a Collection"
A reminder: the "Publish" feature on Collection res needs more debugging and testing.

[2016-08-24 21:43] pkdash commented on #1408
@zhiyuli I think this needs to be done in a higher priority.

[2016-08-24 21:47] zhiyuli commented on #1408
@pkdash I already checked with @hyi , she will add the sync call back to django_irods.download() as an option ASAP.

[2016-08-24 22:04] hyi commented on #1408
@zhiyuli @pkdash Will work on this tomorrow morning.

[2016-08-25 14:51] horsburgh commented on #1221
@pkdash - here's the results from my first round of testing on CSV upload for time series:

* [ ] 1. Temporal coverage should be set based on the begin date and end date of the time series in the CSV file.
* [ ] 2. On the coverage tab, I can't type in a place/area name or coordinates, but I can click a point on the map using the marker tool or draw a rectangle on the map using the rectangle tool.

[2016-08-25 14:59] horsburgh opened #1411 "Resource Landing Page Edit Mode: Required Metadata Message Persists Too Long"
When I first create a resource, I am taken to the resource landing page and I get a green message at the top listing any required metadata elements that I am missing. Then, I go into edit mode.  The message at the top of the page is the same, but it turns yellow.  Then, I can specify all of the required elements in edit mode, click their respective save buttons, and I even get the green message th

[2016-08-25 15:36] pkdash commented on #1221
@horsburgh

I assume the date value in the first data row column is the start date and the last row value is end date for temporal coverage.

[2016-08-25 15:43] horsburgh commented on #1221
@pkdash - correct.

[2016-08-25 17:04] pkdash commented on #1221
Notes for @pkdash:

1. Temporal  coverage should be set based on the begin date and end date of the time series in the CSV file. DONE

[2016-08-25 19:41] pkdash commented on #1221
@horsburgh

Can the number of data values be different for each series?

[2016-08-25 19:56] horsburgh commented on #1221
@pkdash - all series coming from a single CSV file should have the same number of data values because the CSV file is a flat table.

That said, I do anticipate that someone might want to use a file where one of the series has data that starts before or after the others. There's two options there:

1. We tell them to pad the beginning or ending of the time series with nodata values so all of the ce

[2016-08-25 20:44] pkdash commented on #1221
@horsburgh

How would I differentiate between a nodata value from the rest of the data values?

[2016-08-25 21:16] xuezhaokun commented on #1361
@dtarb After some discussion with Martin, we still think it is better to keep the list-view and map-view tabs. Instead of combining them together, we add a similar grid under the map, which shows all box resources overlap current map bound. If we combine these two views in one tab, users always have to do a filter action when they want to display the mappable results on the list view. We now alway

[2016-08-26 03:56] pkdash commented on #1221
@horsburgh

I am hard coding a specific value that I consistently found in all example files. How should I then determine this value?

[2016-08-26 03:59] pkdash commented on #1221
@horsburgh

Until the Sqlite file is synced with the metadata changes that are in django database, this button will appear on the resource edit mode when ever the user goes there.

[2016-08-26 04:03] pkdash commented on #1221
@horsburgh

I can do hover text. Provide me the help text for each of resource specific metadata fields.

[2016-08-26 04:11] pkdash commented on #1221
@horsburgh

Each time a site element is saved/updated the coverage is recalculated and saved at the backend. However, the recalculated coverage value is not updated on the web page until a page refresh.

[2016-08-26 04:44] pkdash commented on #1221
@horsburgh

CHECKSUM FILENAME
"...where FILENAME is the pathname of a file relative to the base directory and CHECKSUM is a hex-encoded checksum calculated according to _algorithm_ over every octet in the file. The hex-encoded checksum MAY use uppercase and/or lowercase letters. The slash character ('/') MUST be used as a path separator in FILENAME. One or more linear whitespace characters (spaces

[2016-08-26 05:36] horsburgh commented on #1221
@pkdash - some responses to your comments/questions:

No Data Values:  One of the attributes of the variable for a time series is called "No Data Value". It is a numeric value inserted into the time series as a placeholder, and usually means - there should be a data value here, but there is not for some reason. Typically, the No Data Value is something way out of the range of the observations (e.g

[2016-08-26 13:06] dtarb commented on #1361
OK.  @mjstealey can deploy for you or tell you the instructions for you to deploy yourself on one of the test VMs.

[2016-08-26 13:41] mjstealey commented on #1361
@xuezhaokun, @dtarb - deployed to [https://playground.hydroshare.org](https://playground.hydroshare.org)

Branch [discovery-add-geocoder-with-new-style](https://github.com/hydroshare/hydroshare/tree/discovery-add-geocoder-with-new-style) using copy of production resources

[2016-08-26 15:37] pkdash commented on #1221
@horsburgh

The current implementation of CSV validation will fail if the cell is left blank. I suggest we keep it that way. No blank data cell is allowed.

Assuming that the UTC offset input is only needed for the CSV upload case, I can add one input field for the user to enter this value. How should I be validating this value? I assume also this will be a required metadata field.

Do we need to

[2016-08-26 15:48] zhiyuli opened #1413 "RefTS: a "rest_call" parameter is needed in RefTS download() function"
Reminder: a "rest_call" parameter is needed in RefTS download() function to be consistent with other res types.

Quote from @hyi @pkdash in #1412

pkdash added a line comment 12 hours ago
@hyi Since this line from REST API (https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L271)redirects to this view function, we are missing the setting for rest_call.

hyi ad

[2016-08-26 19:09] pkdash commented on #1221
@horsburgh

If the organization information is in creator/contributor table then it would populate the Organization with that value. The system has no relation between creator/contributor and the Hydroshare user.

[2016-08-26 19:11] pkdash commented on #1221
@horsburgh

If the phone information is in creator/contributor table then it would populate the Affiliation table with that value.

[2016-08-26 19:14] pkdash commented on #1221
@horsburgh

Does the above refer to TimeSeriesResult element?

[2016-08-26 20:43] zhiyuli opened #1414 "Error msg should show up when uploading multiple shapefiles to create one Feature res"
Currently, when user uploads multiple shapefiles to create one Feature res, backend just takes the first shapefile to extract metadata and treats other shapefiles as regular files attached to the first shapefile.
This will confuse users who think one Feature res supports multiple shapefiles.

[2016-08-26 21:45] shawncrawley commented on #1335
@dtarb The issue with Shale Hills Lidar is that the EPSG code is not recognized by GeoServer. The reason it doesn't fail load completely is because it does not lack an EPSG code. I'm currently looking into how to fix this. The suggested reference made in the past by @gantian127 (http://geoserver.geo-solutions.it/edu/en/adv_gsconfig/crs_handling.html) seemed like the best option, but I cannot get i

[2016-08-27 18:40] danames commented on #1335
If a file doesn't have a needed projection code to display it properly in
HydroShare GIS, the best thing to do would be to have the HS GIS GUI ask
for a projection. code. If the user doesn't provide one then we can't
display the data.

The real question is...once we have received the code through the GUI, how
can we make it a permanent part of the resource. I don't think we can do
that for publish

[2016-08-27 23:09] pkdash commented on #1221
@horsburgh As implemented now, system auto updates the SQLite file prior to downloading of bag or any content file if it finds the SQLite file is out of sync. I am now thinking that the system shouldn't do the this auto update. What do you think?

[2016-08-28 01:01] dtarb commented on #1335
This is a gnarly problem.  The root cause seems to be geoserver not recognizing the spatial reference information that is there, whereas ArcGIS does (not sure what QGIS or Mapwindow GIS does, but if either of those get it write looking at the code that they use may help us).

One thing to check is that the problem is not due to the VRT wrapping that HS has done.  See of geoserver will properly dis

[2016-08-29 01:50] danames commented on #1335
OK so there is definitely a problem with Geoserver not extracting this info
correctly. Shawn, let's discuss early this week.

On Sat, Aug 27, 2016 at 7:01 PM David Tarboton <notifications@github.com>
wrote:

[2016-08-29 05:55] horsburgh commented on #1221
@pkdash - some notes on the above comments:

**UTCOffset** - This should be a user input field. The user gives you one date/time column in the CSV file, and the UTCOffset value they give you should be used to populate the UTCOffset fields. This disambiguates what the time actually means. You don't do any math or calculations on the date/time values they give you, you just record them with the UTCO

[2016-08-29 16:41] pkdash commented on #1404
@hyi Can this be closed now?

[2016-08-29 16:50] pkdash commented on #1343
@hyi Can this be closed?

[2016-08-29 17:04] dtarb commented on #1304
Added low priority in a pass over issues to prioritize because I think that bulk downloads should be implemented not specific to collection resource but to any set of selected resources on discover or my resources page.  Then selecting the resource in a collection could be a special case of that functionality.  However I will await possible changes as collections are discussed further.

[2016-08-29 17:07] pkdash opened #1416 "Bulk download of multiple resources"
User selects multiple resources to be downloaded. A single zip file needs to be downloaded containing bag files for each of the selected resources.

[2016-08-29 18:11] pkdash commented on #1221
@horsburgh I assume the user input for NoData value is optional.

[2016-08-29 18:18] hyi opened #1418 "Bag checksum compliance issues"
@horsburgh noticed the following two bag checksum compliance issues when validating new implementation of time series:
1. checksum algorithm used should match what is in the file name
2. The order in each line of the checksum files should be reversed to comply with bagit specification in the format of "CHECKSUM FILENAME"

Will modify the iRODS bagit rule to resolve the two compliance issues above.

[2016-08-29 19:46] shawncrawley commented on #1335
So this issue has actually been resolved. The EPSG code that gdalinfo identifies for the tif file is 9003. That code is not part of GeoServer's standard codes. However, I found about three other codes that declare an essentially identical wkt projection info: 102729, 2272, and 6874.

http://www.spatialreference.org/ref/esri/nad-1983-stateplane-pennsylvania-south-fips-3702-feet/html/
http://spatial

[2016-08-29 20:41] horsburgh commented on #1221
@pkdash - NoDataValue is a required attribute of a variable. So, it shouldn't be optional as an input.

[2016-08-29 20:45] horsburgh commented on #1418
@hyi - one other thing that I noticed was that there is a string "SHA2:" prepended onto each of the checksum values in the file. Is that part of the checksum? Can you check the text of the BagIt spec to see if this is allowed?

https://tools.ietf.org/html/draft-kunze-bagit-05#section-2.1

There's some technical language in there that I wasn't completely sure about("CHECKSUM is a hex-encoded checks

[2016-08-29 21:01] hyi commented on #1418
@horsburgh Good point. The checksum string including "SHA2:" is created from the iRODS microservice directly. I will have to dig into the microservice source code to verify this. Will confirm tomorrow.

[2016-08-29 22:48] zhiyuli commented on #1410
@pkdash
I would like to check with you about the design before fixing this bug. Is the following statement correct?

Under NO circumstances may users add/edit/remove this "Publisher" metadata directly.
HS system creates this metadata automatically when a res gets published. The value of publisher "name" is always 'Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI)'

[2016-08-29 23:26] zhiyuli opened #1421 "Feature Res Type: Extract metadata from xml file attached with ESRI shapefile"
Extract metadata from xml file attached with ESRI shapefile

Quote from @dtarb
"Add capability to geographic feature typed files to harvest metadata from xml files.  Using this data as an example, of you look at the item description in ArcMap, it holds considerable metadata extracted from the XML files.  This needs to be harvested in HydroShare to avoid users needing to re-enter this."

https://ww

[2016-08-30 00:05] dtarb commented on #1335
Thanks for hounding this down.  I'll close then as I verified that it does display in what at least visually is near to the right place.

I wonder of a define projection rather than reproject would be better.  Reproject can be expensive for large datasets.  Define projection essentially changes the projection metadata rather than changing the data.  See http://gis.stackexchange.com/questions/14632

[2016-08-30 00:05] #1335 closed

[2016-08-30 03:38] horsburgh commented on #1410
@zhiyuli - I would say that your statement is true as long as HydroShare and CUAHSI are the publisher (which is the only option right now). In the event that HydroShare partners with another publisher, there might be another option, but the user should not be editing the "Publisher" element - it should get set automatically.

[2016-08-30 04:11] pkdash commented on #1410
@zhiyuli Currently if the resource to be published  has content files then CUAHSI can only be the publisher. If a resource to be published has no content files, it is possible to programmatically set  anyone else as the publisher for that resource. That's the current logic of the ```create``` function of the Publisher element.

[2016-08-30 04:42] pkdash opened #1423 "REST API for resource metadata update"
The rest endpoint that we have currently for updating science metadata takes an XML document as input for updating metadata. I am not sure how useful this rest endpoint for updating metadata for users of the REST API. There is no rest endpoint to update a single metadata element of a resource using json data as input..

[2016-08-30 05:51] pkdash commented on #1221
@horsburgh I think I have now addressed all the issues that you found during the 1st round of testing. The only one that I have not implemented is the feature to reuse the  'Units' which I am not clear on the implementation. Let me know if that feature is critical for release. The new work is deployed at park.hydroshare.org for you to test.

[2016-08-30 14:17] hyi commented on #1418
@horsburgh I have scanned through relevant iRODS code for checksum generation and found the checksum string we currently get is base64 encoded sha256 checksum prefixed with "SHA2:" I have emailed iRODS folks with some questions regarding this, and will modify the rule accordingly after I receive response from them. In the meantime, I want to run by you whether we need to change the file names to b

[2016-08-30 14:47] horsburgh commented on #1418
@hyi - yes, let's be specific. If it's "sha256" then lets call it "manifest-sha256.txt".

[2016-08-31 14:12] hyi commented on #1418
@horsburgh I have not received response from iRODS folks, but I have dig into their code and understand how checksum is computed by the microservice. After hex-encoded checksum is computed, the iRODS microservice explicitly base64-encode the checksum, then prepend the "sha2:" prefix to it. I can easily remove "sha2:" prefix, but to recover the original hex-encoded checksum, base64-decoding has to

[2016-08-31 14:51] alvacouch commented on #1361
@xuezhaokun @danames @horsburgh @dtarb

Keep in mind that we are trying to solve an open research problem. There is a new version that does some of what you suggest.

I would suggest that we stop when this is "good enough" and go on to other pressing issues:
a) discovery based upon file metadata.
b) user discovery
c) group discovery
We can always come back to this later. Methinks there is no easy

[2016-08-31 15:50] felherc opened #1424 "Spanish accents not supported"
I created a HydroShare account and my last name has a Spanish accent: Hernández. I would get an error every time I wanted to see a resource I had created. I removed the accented character on my account name and now I can access resources I create after that, but I still cannot access those created before the change. These special characters should be supported throughout the entire system.

[2016-08-31 15:57] pkdash opened #1425 "REST API to retrieve resourcemap xml document"

[2016-08-31 16:38] xuezhaokun commented on #1361
@mjstealey I fixed some bugs on this branch. Can you help me to deploy the latest version of this branch to playground? @dtarb Can you just let people to test it and leave comments on it?

[2016-08-31 17:00] mjstealey commented on #1361
@xuezhaokun - This has been redeployed to playground.

[2016-08-31 17:08] xuezhaokun commented on #1361
@mjstealey Thanks!

[2016-08-31 21:01] jsadler2 opened #1428 "Modflow Model Instance Phase 2"
Phase 2 for implementing the Modflow Model Instance resource type.

The main enhancement for this phase is the automatic completion of some metadata fields based on uploaded file content. Other enhancements may include reorganizing metadata layout in edit view.

[2016-09-01 02:27] dtarb commented on #1361
Looking at on Playground the first thing that puzzled me was I see a map with 18 resources centered over Utah, 11 over NC both orange and two over Germany, red dot, but the list below lists 94.  18+11+2 != 94.

There is no indication of this on the page, but I figure out by clicking on items on the list below that they represent box coverages.  I can click on list items one at a time to get the bo

[2016-09-01 02:32] dtarb commented on #1424
@mauriel133 are you able to address this?

[2016-09-01 05:37] pkdash commented on #659
@alvacouch Was wondering if you would like to resolve this issue.

[2016-09-01 07:14] horsburgh commented on #1221
@pkdash - I just did some testing. I created a new resource from a CSV file. I typed in a title and an abstract and then tried to save them by clicking the "save" buttons and I got this error when I tried to save the abstract:

![image](https://cloud.githubusercontent.com/assets/3485902/18156744/c08d0b6a-6fd5-11e6-8221-e775b2653927.png)

Next, when I looked at the landing page in HydroShare, there

[2016-09-01 13:12] AmberSJones commented on #1411
I have experienced a related issue. I am editing an existing resource and adding/removing subject keywords. Every time I make a change, the green message appears telling me that the metadata are sufficient to share/make public. I don't need to see the message in this case nor with this frequency. Let me know if this should be posted as a separate issue.

[2016-09-01 15:35] xuezhaokun commented on #1361
@dtarb OK. I will discuss about it with Alva and see what we can do from that point.

[2016-09-01 19:48] pkdash commented on #1221
@horsburgh

I am adding the form for the offset below the Series Result form. The form submission for series results is independent of the offset form submission.

[2016-09-01 19:50] alvacouch commented on #1361
I really don't like just having markers for the extents. The marker can be off the page, so that one has no indication that there is an extent. One option I have discussed with @xuezhaokun is to draw the borders of the extents without shading. This indicates that something is there even if the marker for the extent is off the screen.

[2016-09-01 19:54] pkdash commented on #1221
@horsburgh

What value should I display by default? The display "----" only indicates that no value has been entered for that field. The field itself indicates whether data is required or not. For a required field if the user leaves the selection as "-----" the form submission will throw validation error.

[2016-09-01 19:58] pkdash commented on #1221
@horsburgh

Are you referring to the label show below? There is a space already.

![image](https://cloud.githubusercontent.com/assets/2523434/18182157/e6c35976-704b-11e6-932e-ff181523ef0d.png)

[2016-09-01 20:04] horsburgh commented on #1221
@pkdash - the location of the UTC Offset below the Time Series Result is fine.

For default values of required elements - if you can display the "----" initially, but require them to select a value, that might be ideal. Just can't let them get away without setting required elements.

For the label - yes, it looks like you now have a space in the right place.

[2016-09-01 22:13] zhiyuli commented on #1403
@dtarb @horsburgh @ChristinaB @danames
We will be implementing the changes to collection in different phases
The first implementation has been deployed on riverdev.hydroshare.org
which includes:
1) new permission logic:
A resource can be added to a collection if
a) resource is Shareable and user has at least View permission over it
or
b) user is resource Owner

2) "hasPart" metadata of collection:

[2016-09-02 00:18] dtarb commented on #1403
Thanks.  @pkdash may be able to give you guidance on writing migration code to add the hasPart relationships to existing collections.  I think that the term "is Collected" might be clearer if it was labeled "Belongs to Collections".  In the Relations tab, consider making the URL a link.  I think it is not a big drawback that content does not update till the page is reloaded.

[2016-09-02 03:23] pkdash commented on #1403
@zhiyuli The page refresh problem is a general problem for most of the resource types. With a bit of JS code it may not be that hard to solve it in for all resource types. But it's a lower priority issue to address.

[2016-09-02 04:15] horsburgh commented on #1403
@dtarb, @pkdash, and @zhiyuli - the right semantic relationship type is "hasPart". The way the relation element should work in the Science Metadata is that it stores an RDF triple. So, it should read like a sentence - this resource (the collection resource) "hasPart" <the member resource URL>.

While that's how it should be encoded in the science metadata document because it is RDF/XML, there's no

[2016-09-02 13:02] hyi commented on #1343
implemented and merged, and can be tested on dev, closing.

[2016-09-02 13:02] #1343 closed

[2016-09-02 13:11] hyi commented on #517
@dtarb @horsburgh Creating a bag readme.txt when the bag is downloaded is easy to implement. The question is what the content in readme.txt would be. If you can outline what the readme.txt would include, or better yet, give me an example of a mock-up readme.txt file for our resource bag, I can get it implemented relatively quickly.

[2016-09-02 14:50] xuezhaokun commented on #1361
@dtarb  I will try to see whether there is some easy way to implement @alvacouch idea on google map. For this idea, I am still not quite sure whether we will have the same performance issue as we had on showing all rectangles on the map. It seems one of the main issues here is whether we want to show box coverages' centers on the map. If not, how can we indicate users that we have box coverage res

[2016-09-02 17:03] dtarb commented on #1361
I think that having to click on a list to show a coverage is a bit clumsy.  My first preference would be to try what I suggested above with box centers in a different color, like it is on www right now and then only see the box when a user clicks on the center point.  @alvacouch does not like this due to box centers out of the extent shown not being able to be discovered.  One way to overcome this

[2016-09-02 19:40] alvacouch commented on #1361
@dtarb Your suggestion to "expand to show resources whose coverage overlaps the domain" does not make logical sense. Since the domain is the displayed region, this will change the domain. Thus, recursively, you'll end up with the whole world.

There is something more elegant that takes a bit more time to do. I have seen GIS apps that deal with overlapping domains by shading either the inside or ou