[2021-09-15 18:49] hyi commented on #1645
@martinseul Agreed, but I am looping in @alvacouch to get his input on this.

[2021-09-15 20:35] pkdash commented on #2942
@horsburgh I am working on this issue. I came across another related issue. After removing the timeseries content type (which was originally created from an uploaded CSV file), if the user tries to again create a timeseries aggregation from the  CSV file, it will fail since there is already a SQLite file in the same directory.

![image](https://user-images.githubusercontent.com/2523434/133504970-7

[2021-09-15 20:41] horsburgh commented on #2942
@pkdash - If there's a way to know whether the SQLite file was created by the system, I think your suggestion works here. Is this only an issue if the SQLite file and the CSV file share the same name? In other words - how does adding the content type after removing it know to fail if there is an existing SQLite file? Is it based on file name?

I think there needs to be a warning (perhaps there is

[2021-09-15 20:59] pkdash commented on #2942
@horsburgh This related issue is not due to the shared file name for CSV and SQLite. Since there is already a SQLIte.sqlite file created by the system when originally the timeseries aggregation was created, at the time of recreation of the content type from CSV system tries to create another SQLite.sqlite file in the same directory which obviously fails.

At the time of content type removal we wou

[2021-09-15 21:07] horsburgh commented on #2942
@pkdash - OK. I think your approach seems fine. My concern about the SQLite file was that if there are other SQLite files hanging about they might get deleted by mistake, but from your explanation that would not be an issue. The message on the "Remove content type" dialog is what I wanted, so I think that covers my concerns.

[2021-09-17 20:29] pkdash commented on #2788
@alvacouch I am not able reproduce this issue locally. I created a file with filename containing non-english character. If I use that file on prod/beta I can see the issue. However, the same file I can download locally. One thing to note that locally I am not running nginx. I have not yet been able to run nginx locally. Do you think nginx may be causing this file download issue?

[2021-09-20 17:46] sblack-usu opened #4342 "Release Checklist 1.48"
### Issues in Release
- [x]  #4340  @pkdash
- [x] #3685 @sblack-usu
- [x] #3684 @sblack-usu
- [x] #3683 @sblack-usu
- [x] #4331 @pkdash
- [x] #4333 @pkdash
- [x] #4335 @sblack-usu
- [x] #4070 @pkdash
- [x] #4272 @sblack-usu
- [x] #4322 @sblack-usu
- [x] #4329 @alvacouch
- [x] #4336 @pkdash
- [x] #2942 @pkdash

### Beta Deployment
- [x] Diff RC to master to identify and manually make changes in the

[2021-09-20 18:42] aaraney opened #4344 "Inconsistencies in authors and creator field formats in /hsapi/resource/ endpoint"
There are formatting Inconsistencies in the `authors` and `creator` fields when querying the `/hsapi/resource/` endpoint. Notice that in one case the authors field contains a list of strings following the `first last` naming convention, likewise in this record the `creator` field also follows this convention. Conversely, in the following resource record, the `authors` and `creator` fields appear t

[2021-09-20 20:46] sblack-usu commented on #4344
Did you create those two resources in different ways (API for one, Webpage for the other?)

[2021-09-20 22:58] aaraney commented on #4344
They were both created via the webpage.

[2021-09-21 13:28] dtarb opened #4345 "Remove link to Kabana Metrics from Metrics Help page"
**Description of the bug**
On https://help.hydroshare.org/about-hydroshare/usage-metrics/ there is a link to http://usagemetrics.hydroshare.org/ that is broken.  This is due to usagemetrics.hydroshare.org now being inside a firewall.

**Expected behavior**
There should not be a broken link.

@Castronova should work with @claracogswell on updating this text.

[2021-09-21 14:08] dtarb commented on #3413
@srclemens I started checking the fixes you indicated above, but started running into quite a few problems and was not seeing what you were referring to in some cases.  Here is how far I got, but lets work through this together.

On https://help.hydroshare.org/introduction-to-hydroshare/frequently-asked-questions/
![image](https://user-images.githubusercontent.com/3456833/134185953-b00d01a4-4d5d-4

[2021-09-22 16:49] ClaraCogswell commented on #3378
What is the status of implementing this in  the help pages? Currently most of the links redirect the current page, which is difficult if you still need to reference the page.
Example: https://help.hydroshare.org/introduction-to-hydroshare/getting-started/upload-data-and-models-and-share-with-others/
But in a learning environment I agree opening in a new tab is better.

[2021-09-22 17:10] dtarb commented on #3378
@ClaraCogswell this is something you can do in Mezzanine.  You just need to use the target=top or target=new html in the link.  You can probably find an example that does open a new page to see exactly the syntax.

[2021-09-23 17:29] ClaraCogswell commented on #4089
What is the status of updating the legend?

[2021-09-23 18:24] horsburgh commented on #4089
We should probably fix this comprehensively. There are also legends at the bottom of the group and community resource listings that need to be fixed. I'm not sure how modular those are, but if we could fix it once as part of the group/community work and then copy to the other pages, it would be great.

[2021-09-23 20:36] srclemens commented on #3413
@dtarb
On https://help.hydroshare.org/introduction-to-hydroshare/frequently-asked-questions/
Link to https://help.hydroshare.org/hydroshare-resource-types/ needs to be fixed to https://help.hydroshare.org/hydroshare-resources/. Also strive to use relative html links so that on pages the links are to pages and on help they are to help.

Also update the wording to avoid the term “resource types”
**J

[2021-09-24 17:10] Castronova opened #4349 "Users cannot leave groups"
**Describe the feature you'd like and what it will do**

Once a user is admitted to a group there is no way for them to leave. Owners of the group can "expel" group members, but currently there is no way for a member to leave on their own accord.

On the group page, there should be a button that allows group members to "leave" the group.

**Why is this feature important?**

This is necessary to al

[2021-09-24 17:16] horsburgh commented on #4349
@Castronova - There's a little hand icon at the top right of the group page that enables users to leave.

![image](https://user-images.githubusercontent.com/3485902/134714951-65d6e4f9-11d7-4986-8e60-1267913238bd.png)

I realize that this isn't super obvious and so I've turned this into a big button in the revised groups/communities functionality mockups.

[2021-09-24 17:32] Castronova commented on #4349
Thanks @horsburgh. I was messing with this yesterday and could not figure out how to leave a group. It's not very obvious, but the functionality does exist...thanks for pointing it out :)

I'm closing this issue.

[2021-09-24 17:32] #4349 closed

[2021-09-26 18:13] pkdash commented on #2942
@horsburgh This has been fixed as part of next release 1.48. You can test it on beta.

[2021-09-27 13:58] martinseul opened #4353 "adding new and editing existing Model Instance metadata"
From Zendesk:
I am having problems in both adding new and editing existing Model Instance metadata in a resource I am currently working on:
https://www.hydroshare.org/resource/0a7735b121f845f7ab0d1ac6348d9980/

When I set the content type of either a file or folder as "Model Instance" I get the following error:
Failed to set the selected aggregation type
list index out of range

However, the icon

[2021-09-27 14:16] sblack-usu opened #4354 "Incorrect RDF/XML entry for raster aggregation spatial reference"
**Description of the bug**
The rdf/xml of the spatial reference entry in a geographic raster aggregation is written incorrectly with an extra rdflib BNode.  Hsclient is unable to parse it, resulting in null value.

Steps to reproduce the bug:
1. Go to an aggregation rdf/xml
2. Right click on the aggregation
3. Click Download zipped
4. Open the _meta.xml file and compare the structure of spatial re

[2021-09-27 14:22] sblack-usu opened #4355 "Model Program/Instance RDF/XML ingestion"
**Describe the feature you'd like and what it will do**
Model Program and Instance currently do not support ingestion from the rdf/xml to the django models.

**Why is this feature important?**
This is needed for the models to be used in hsclient.  It is also needed for the file based aggregation work for model program/instance types.

**Is your feature request related to a problem? Please describe

[2021-09-27 15:20] #4329 closed

[2021-09-27 16:54] #4354 closed

[2021-09-27 20:09] ClaraCogswell opened #4357 "Legend incorrect in discover, my resources, and help"
**The legend of Hydroshare symbols is out of date**
The legends that appear under My resources, in Discover, and in the help pages are different, contain outdated resource types, and are missing content types. It's missing the "mappable"/"has geographic coverage" icon we introduced in discover. I know we're already aware of this issue but I'd like to track it's progress here so that I know where w

[2021-09-28 19:38] #3683 closed

[2021-09-28 19:38] #3684 closed

[2021-09-28 19:38] #4322 closed

[2021-09-28 19:38] #3685 closed

[2021-09-29 20:01] sblack-usu opened #4359 "SOLR index is not removed when a public resource is deleted through the API"
**Description of the bug**
A clear and concise description of what the bug is.

Steps to reproduce the bug:
1. Create a public resource
2. DELETE `/hsapi/resource/{id}` (use the swagger interface)
3. Find your deleted resource in discover

**Expected behavior**
The deleted resource should not show in discover

[2021-09-29 20:36] pkdash opened #4361 "Model aggregation should not be allowed to be created from files that are part of another aggregation"
**Description of the bug**
The UI provides option to create model aggregation from a file that is part of another aggregation. Model aggregation should be allowed to be created from a file that is not part of any aggregation or part of the fileset aggregation. Currently the UI provides option to create model aggregation from a file that is part of either a raster or netcdf aggregation. Creating a

[2021-09-30 14:00] alvacouch opened #4363 "Using original names for images in group, community, and profile pages creates filename collision problem."
**Description of the bug**
Group, community, and profile images are uploaded with their original filenames. If two users upload images with the same name, they will collide.

**Expected behavior**
Image filenames should be made unique through hashing.  This is a trivial patch.

[2021-10-01 19:17] cbcunc opened #4364 "PR Builds are failing to create hydroshare container"
**Description of the bug**
The PR build Jenkins job is failing to create the hydroshare container with the following error:

`ERROR: for hydroshare  Cannot create container for service hydroshare: b'invalid IP address in add-host: ""'`

Steps to reproduce the bug:
1. Build a PR
2. Look in the console log for the job.

**Expected behavior**
A clean build.

**Additional information**
~~Apparently so

[2021-10-04 16:23] sblack-usu opened #4368 "Update UserDetails endpoint to accept usernames"
**Description of the bug**
`/hsapi/userDetails/{user_identifier}` currently only accepts digits in the urls.py file.  If this is updated to allow characters, then a username can be used an identifier.  The code can already resolve a username to a user, so we only need a change in the urls.py

Steps to reproduce the bug:
1. Go to '/hsapi'
2. Navigate to /hsapi/userDetails
3. Enter a username and cl

[2021-10-04 16:42] zhiyuli opened #4369 "Some fields in user profile are not returned by REST API"
**Description of the bug**
A clear and concise description of what the bug is.
The user profile page shows more info than that is returned by rest api call.

Steps to reproduce the bug:

For example, Jeff S's profile page has "Subject Area" (Hydrology, Water quality, Hydroinformatics), "Position/Title"(Associate Professor), User Type (University Faculty). But they are not in rest api response.

![

[2021-10-04 18:37] martinseul commented on #2788
in 1.48

[2021-10-04 18:37] #2788 closed

[2021-10-04 19:14] pkdash commented on #3737
Has been fixed as per testing on prod.

[2021-10-04 19:14] #3737 closed

[2021-10-04 19:22] pkdash commented on #4214
Has been fixed as per testing on prod.

[2021-10-04 19:22] #4214 closed

[2021-10-04 19:58] pkdash commented on #4070
Has been fixed as per test on prod.

[2021-10-04 19:58] #4070 closed

[2021-10-04 19:58] pkdash commented on #4336
This has been fixed.

[2021-10-04 19:58] #4336 closed

[2021-10-04 20:05] pkdash commented on #2942
This has been fixed as per testing on prod.

[2021-10-04 20:05] #2942 closed

[2021-10-04 20:06] #4342 closed

[2021-10-04 20:50] horsburgh opened #4372 "Communities and Groups 2.0"
**Describe the feature you'd like and what it will do**
A clear and concise description of what you want to happen.

This issue provides an overall checklist for new and revised functionality for HydroShare Groups and Communities. We'll call this Communities and Groups 2.0.

## TODO Items for Groups and Communities 2.0

### Create a Group
- [x] Add the following metadata elements to groups and the

[2021-10-05 13:27] pkdash commented on #4236
This has been fixed - tested by @horsburgh  on prod.

[2021-10-05 13:27] #4236 closed

[2021-10-05 13:32] pkdash commented on #4138
@dtarb Not sure what should be the expected behavior. An admin always has owner role on any resource though it is not displayed in the manage access dialog box. I currently have a fix for this issue where this error is not displayed and the admin can be assigned  any of the roles (view, edit, owner). Once the admin is assigned one of these roles, admin is listed in the manage access panel as one o

[2021-10-05 14:39] dtarb commented on #4138
@pkdash yes this seems to be good behavior to have as the desired behavior.  I think we should end up with the following
- Admin user always is able to act on a resource as if they are owner.
- If a user assigns a role to an admin user, then this role shows up in the manage access dialog listing
- If a user removes a role from an admin user, then the role is removed from the listing in manage acce

[2021-10-05 15:53] pkdash commented on #4138
@dtarb Sounds good.

[2021-10-05 19:11] sblack-usu commented on #3529
It looks like it fell off the radar after Mark left.  This is not a big change to make, but we do need to know what the new maximum length of a source should be, if any.  I also don't know how high of a priority this is today.

[2021-10-05 19:21] pkdash commented on #4317
@horsburgh & @imanmaghami  The sync between the aggregation name and title only happens for aggregations that are based on virtual folder (.e.g., Geofeature, NetCDF). It's not really a sync rather we are using the title to display the virtual folder name. When you changed the title for geofeature aggregation the virtual folder name seems not to change which is a refresh problem. If you refresh the

[2021-10-05 19:51] pkdash commented on #4297
@horsburgh and @dtarb I think @Maurier can implement this UI work much quicker than me.

[2021-10-05 21:03] Maurier commented on #4297
@pkdash Right, I'll take this one.

[2021-10-06 11:45] dtarb commented on #2080
Verified - closing.

[2021-10-06 11:45] #2080 closed

[2021-10-06 12:09] dtarb opened #4374 "Edit users should not receive messages about making a resource public since they are unable to act on them."
**Description of the bug**
When the metadata for a resource is completed to where it is sufficient to be made public, the following message appears.  However if the user is an edit user (not an owner), the message is irrelevant as the user is unable to set the resource to public.
![image](https://user-images.githubusercontent.com/3456833/136199040-4a3787f2-74df-476a-b645-30af610ff37a.png)

Steps t

[2021-10-06 12:19] dtarb opened #4375 "Manage access should not display Public or Discoverable buttons as active for an edit user who can not change sharing status"
**Description of the bug**
The manage access window shows the following to an edit user for a resource where content is sufficient to be made public.  It looks like the user can click on these buttons.  But since the user does not have permissions to change the public/discovrable setting, clicking on these buttons results in nothing happening.  These buttons should be greyed out and appear inactiv

[2021-10-06 18:54] ClaraCogswell commented on #4357
![Legend4](https://user-images.githubusercontent.com/90924476/136265457-9bd07ca6-7a92-4154-b193-24e199b971b1.png)
New legend

[2021-10-08 00:52] #4364 closed

[2021-10-11 15:15] sblack-usu opened #4381 "Release Checklist 1.49"

[2021-10-12 14:20] pkdash opened #4383 "Reference timeseries test file needs update to use urls for sites that have high availability"
**Description of the bug**
Tests for ref timeseries fails time to time if the urls used for any of the sites is down. Using url for google in the test file would have much less chance of test failure due to site being down.

Steps to reproduce the bug:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Once the reftimeseries test data file is updated to

[2021-10-14 19:48] imanmaghami opened #4386 "Missing copy of schema in a model instance aggregation in a resource copied from an original resource under specific condition"
Resource A holds a model instance aggregation with populated schema based metadata and the the linked model program is deleted after the schema based metadata is populated. Then, resource B is copied from resource A. However, unlike resource A, resource B does not hold a copy of schema as part of the bag download which makes editing the schema based metadata in resource B impossible. Resource B ne

[2021-10-19 17:52] sblack-usu opened #4390 "File-based json metadata API endpoints"
**Describe the feature you'd like and what it will do**
Add API endpoints for read/update of resource and aggregation metadata in json.  Use hsmodels to build out the json-schema used in OpenAPI and for reading/writing the rdf/xml files.

**Why is this feature important?**
File-based metadata.  This will be used by the Data Submission Portal

**Is your feature request related to a problem? Please

[2021-10-25 14:56] sblack-usu opened #4393 "Remove deprecated resource types from Web App Connector"
**Description of the bug**
The Web App Connector still includes deprecated resource types.  Remove them while looking over the web app connector model for other places to clean up

Steps to reproduce the bug:
1. Create Web App Connector Resource
2. Observe the long list of resource types

**Expected behavior**
The Web App Connector should only have two resource types, composite and collections.  W

[2021-10-25 16:23] sblack-usu opened #4394 "Update resource file listing to be only file-based"
**Describe the feature you'd like and what it will do**
Listing of files in a resource currently depends on the database and the files on disk.  Investigate what it would take to list files only by what is on disk.  Alternatively, look into listing files by the resourcemap.xml.

**Why is this feature important?**
The db often gets corrupted which breaks the resource and requires manual interventio

[2021-10-25 20:03] ClaraCogswell opened #4398 "Metadata Ingestion issue with geographic rasters in Hydroshare"
**Description of the bug**
A user has added a large number of geographic rasters to a resource, but hydroshare has not extracted any Metadata from them, and she is unable to make the resource public to share her data.

Steps to reproduce the bug:
1. Go to https://www.hydroshare.org/resource/8efb0f7e743f4a11a4da8b045a37165b/
2. go to the contents section and try to view metadata.
3. See error

**Ex

[2021-10-25 23:22] martinseul opened #4399 "Update production Geoserver to latest version"
The current deployment for Geoserver on production is using an outdated codebase https://github.com/CUAHSI-APPS/his_geoserver. It needs to be updated to use then latest codebase https://github.com/hydroshare/hs_data_services.

This requires an update to the code and a re-ingestion of the current registered public spatial resources.

[2021-10-26 14:23] sblack-usu opened #4400 "Mount the folder containing solr indexes"
**Describe the feature you'd like and what it will do**
Update the docker-compose file to mount the folder which holds the solar indexing.  This will persist the solar indexing when the solr container rebuilds and will decrease deploy time.  Solr indexes will only have to be rebuilt when the indexes change.  A deploy without index changes will only have to build indexes for resources that were mad

[2021-10-26 14:48] #4321 closed, assigned to hyi

[2021-10-27 14:57] pkdash opened #4401 "Unnecessary queries in resource landing page"
Currently we are executing 125 queries (one query for each group in HydroShare) but the query results are not used in resource landing page. Removing these queries should improve page load time.

[2021-10-27 17:59] sblack-usu opened #4405 "Geographic Raster failed validation creates an aggregation without metadata"
**Description of the bug**
When a .tif file with incorrect longitude is uploaded, the auto-aggregation fails and leaves the aggregation in a dirty state without a metadata object.

Steps to reproduce the bug:
1. Download [NA_CORDEX_25yr_SWE_Mid_9model_ensemble_sd.tif.zip](https://github.com/hydroshare/hydroshare/files/7428294/NA_CORDEX_25yr_SWE_Mid_9model_ensemble_sd.tif.zip)
2. Upload the uncompr

[2021-10-27 19:51] #4383 closed, assigned to pkdash

[2021-10-27 20:24] #4386 closed, assigned to pkdash

[2021-11-01 14:16] martinseul commented on #4398
same as Geographic Raster failed validation creates an aggregation without metadata  https://github.com/hydroshare/hydroshare/issues/4405,
closing

[2021-11-01 14:16] #4398 closed

[2021-11-01 19:48] pkdash commented on #4405
@dtarb Form the example longitude ranges, it seems any value in the range of -360 to 360 is a valid value for longitude. Is that right?  Once it's a valid value then we need to adjust the value if needed based on the rules you have provided above.

[2021-11-03 17:04] Maurier commented on #3529
@sblack-usu The layout changes are implemented here: https://github.com/hydroshare/hydroshare/pull/4408
These are not breaking changes, so you can create another PR with the constraint removal.

[2021-11-03 20:47] pkdash opened #4410 "Model instance aggregation meta xml file is not getting updated when the linked model program aggregation name changes"
**Description of the bug**
The value for **executedByModelProgram** attribute in meta xml file of the model instance does not get updated when the file/folder name of the linked model program aggregation gets changed.

Steps to reproduce the bug:
1. Create a resource. Create a model instance and a model program aggregation in that resource
2. Edit the metadata for model instance aggregation to set

[2021-11-04 16:08] sblack-usu opened #4411 "API Endpoint for JSON values using RDF/XML"
**Describe the feature you'd like and what it will do**
Create an API endpoint that accepts an RDF/XML resource/aggregation metadata file and converts the values to JSON using the schemas provided in hsmodels.  There should also be an endpoint that can accept the JSON values and generate the RDF/XML metadata file.

**Why is this feature important?**
This will allow applications outside of HydroSha

[2021-11-08 08:50] kratzert opened #4414 "Data not listed under Content, but available from "Download content as zipped Archiv""
Hi all,

I was contacted by someone, who wanted to download the data from one of my publications that I stored on HydroShare. He said that he only sees the README.md file. Going to the [hydroshare repository](https://www.hydroshare.org/resource/83ea5312635e44dc824eeb99eda12f06/) I could validate his observation but also saw that the storage size is given with `Storage: The size of this resource is

[2021-11-08 14:43] dtarb opened #4415 "The landing page for a resource that is private should display versioning relationships."
**Description of the bug**
There may be situations where, with versioned resources we have
V1 is private
V2 is public
V3 is private
V4 is public
Currently it is not possible to follow links from V4 back to V2.  We need to have the newer and older version links on the limited access page displayed for private resources, so that when a user gets to V4 they would have a way to go back to V2.

Steps t

[2021-11-08 15:43] sblack-usu commented on #4414
The debug page shows the DB entry is missing for that file.  https://www.hydroshare.org/debug/resource/83ea5312635e44dc824eeb99eda12f06/

I also checked beta, the resource renders correctly with the file.  The check_irods_files management command should remedy the problem but I'm not sure why beta has the db entry while production does not.  Some investigation is needed before running the manageme

[2021-11-08 16:09] sblack-usu opened #4416 "Release Checklist 1.50"
### Issues in Release
- [x] #4368 @sblack-usu
- [x] #4369 @sblack-usu
- [x] #4147 @pkdash
- [x] #4157 @pkdash
- [x] #4401 @pkdash
- [x] #4355 @sblack-usu
- [x] #4357 @Maurier
- [x] #4322 @sblack-usu
- [x] #4149 @pkdash
- [x] #4347 @pkdash

### Beta Deployment
- [x] Diff RC to master to identify and manually make changes in the following files:
  * hsctl
  * config/hydroshare-config.yaml
  * nginx/

[2021-11-08 16:11] Maurier commented on #4357
@ClaraCogswell This work has now been merged into development. Changes will need to be made in the help pages as you describe.

[2021-11-08 16:27] ClaraCogswell commented on #4357
Thank you!

[2021-11-08 16:27] #4357 closed

[2021-11-08 16:56] dtarb opened #4418 "Increase length of text field for derived from reference (and perhaps other references)"
**Description of the bug**
It is not possible to fit a desired reference in derived from.  For example a user had to write
Derived from:
Newman, A.J., et al., 2015. Development of a large-sample watershed-scale hydrometeorological dataset for the contiguous USA: dataset characteristics and assessment of regional variability in hydrologic model performance. HESS, 19, 209-223, http://doi.org/10.5194

[2021-11-08 20:52] kratzert commented on #4414
Thanks for looking at it. If there is any additional info you need from my side, lmk. I am pretty sure that it did work not a long time ago.

[2021-11-09 00:07] sblack-usu commented on #4414
I misread the debug message. The file is in the db, it is NOT in iRODS.  @hyi - could you check iRODS to see if you can figure out what happened to the file?  I saved a copy of the resource from beta in case we need to restore it.

I do not see any modifications on the django side.

[2021-11-09 16:15] hyi commented on #4414
@sblack-usu I looked into iRODS in both data zone and user zone including the iRODS vaults and trash, but don't see this zip file anywhere in production iRODS. @cbcunc it'd be good if you could look into this as well to see if you could see any hints for this missing zip file in iRODS.

[2021-11-09 20:50] sblack-usu commented on #4416
Full example resource for model program json schema: 54f02a2a1a4b4aeaa78f80a2ae2785c2

[2021-11-11 15:47] pkdash commented on #4105
@dtarb  I am fixing this as part of my work on #4211

[2021-11-11 15:50] pkdash commented on #3736
@dtarb I am fixing this as part my work on #4211

[2021-11-11 17:21] sblack-usu commented on #4414
It appears the file went missing sometime between Sunday (11/7) and Monday (11/8).  We know this because the file is still in the data copy from Sunday night and the issue was reported Monday.

I found this in the logs several times.  I don't think it's related to this issue since it was back at the end of September.  Pasting it here in case I need it later.
[code]

[2021-11-11 17:32] sblack-usu commented on #4414
I'm not seeing anything in the access logs indicating a transform on the resource with an API call, both internal and through hsapi.

[2021-11-11 19:18] cbcunc commented on #4414
File was not in Sunday data copy:
[code]

[2021-11-11 21:15] sblack-usu commented on #4414
The bag was generated March 1, 2021.  Because the file is in the bag, we know the file wasn't missing at least up until then.

[2021-11-12 16:55] sblack-usu commented on #4414
I have restored the file to the resource from the file that was in the bag.  The file shows up in the resource now and I was able to download the file and unzip it.  The resource appears to be restored.  I was not able to determine what caused this specific issue but am running a sweeper to check other resources for the same symptoms.  If we see more resources with this problem, it will help us fi

[2021-11-12 16:55] #4414 closed

[2021-11-12 17:17] dtarb commented on #3736
Addressed in PR #4419

[2021-11-12 17:18] dtarb commented on #4105
Addressed in PR #4419

[2021-11-12 17:36] dtarb commented on #3634
@pkdash please follow up with Irene and ask her to check if she thinks there is still a problem with this resource that can be easily stated.  If not, ask her to delete this resource and lets close this issue.  While we are not sure, we think that the async and other stabilization improvements made since this was filed should have resolved the root causes, though this resource may still be in an i

[2021-11-12 20:11] hydrocheck opened #4420 ""Ask to join" requests are slow and the loading/in-progress state is not communicated to the user"
**Describe the feature you'd like and what it will do**
A suggestion is to add a loading indicator for "Ask to Join" group requests

**Why is this feature important?**
Users may believe the application is broken, click away (and disrupt client-side script execution),...

**Is your feature request related to a problem? Please describe.**
No

**Additional context**
https://user-images.githubusercont

[2021-11-16 14:36] cbcunc commented on #3513
Reference PR #4347

[2021-11-17 15:05] imanmaghami opened #4422 "Missing hyphen in the compound adjective "Schema Based""
In the metadata panel of a model instance aggregation, "Schema Based Metadata" should be changed to "Schema-based Metadata".

[2021-11-17 20:29] horsburgh commented on #4297
@Maurier - here is a list of URLs for the icons at the bottom of the page:

Under Who Uses HydroShare?
* iUTAH: https://www.hydroshare.org/group/6
* CZNet: https://www.criticalzone.org/ (we'll eventually change this when the CZ Net community goes live in HydroShare
* CZO: https://www.hydroshare.org/community/1/
* Logan River Observatory: https://www.hydroshare.org/group/138

Under Trusted By the S

[2021-11-17 22:36] Maurier commented on #4297
The new content can be seen here: https://new-testservices.hydroshare.org/

[2021-11-18 17:14] aaraney opened #4424 "/hsapi/userDetails return 404 not found for valid users"
@aaraney Thanks for the quick fix. We just tested it and ran into a new error for the following users
christinabandaragoda
jbeaulieu
paulfloury
linnea
rstrauch
gantian
stella
jpally
zzoo
kortney09
branhoff
scicommsadie
sohsaid
tonycastronova
gokulanand
github_zyli2004
uillinois_zhiyul
zhiyuli
uillinois_zhiyul@illinois.edu
laurencejnote
nicoleta
bechir
marti_nogues
ashlingj
maram
lgraup
motasem
kev

[2021-11-18 17:16] aaraney commented on #4424
For context, @zhiyuli found an issue with a method in `hsclient` that exposes the `/hsapi/userDetails` endpoint. In his testing, he also found that some valid users (see above) return `404` responses.

[2021-11-18 18:12] sblack-usu opened #4425 "FileSet metadata Ingestion fails"
**Description of the bug**
A clear and concise description of what the bug is.

Steps to reproduce the bug:
1. Run `tests/test_functional.py::test_aggregation_fileset[files0]` in hsclient
2. Observe [this](https://github.com/hydroshare/hydroshare/blob/develop/hs_file_types/utils.py#L318) error is raised

**Expected behavior**
The test should pass

[2021-11-18 18:25] sblack-usu commented on #4424
Just looking at the first one and the username doesn't match because they are case-sensitive.  https://www.hydroshare.org/user/259/

christinabandaragoda -> ChristinaBandaragoda

We may be able to make the usernames case-insensitive, provided we currently don't have any username conflicts with that change.  We will also need to know if that is change we that others support.

[2021-11-18 18:27] sblack-usu commented on #4424
Immediately after writing the above response, I tried logging in with my account, and logging in currently isn't case-sensitive.  I'll take a look at that code and if I'm satisfied then I'll go ahead and make the userDetails endpoint case-insensitive.

[2021-11-18 18:33] sblack-usu commented on #4424
haha, 3 years ago I implemented the backend to allow usernames to be case-insensitive.  https://github.com/hydroshare/hydroshare/issues/2781

I'll go ahead and update the userDetails endpoint.

[2021-11-18 19:03] #4368 closed

[2021-11-18 19:03] #4369 closed

[2021-11-18 19:23] sblack-usu commented on #4355
Bags have been regenerated.
https://new-hs-ci.hydroshare.org/view/02-Deployment/job/Production-Deployment/job/prod-hsctl-command/167/console

[2021-11-18 19:23] #4355 closed

[2021-11-18 21:22] aaraney commented on #4424
Awesome! Thanks for weighing in on this @sblack-usu! Given that you've refed #4424 here, I will go ahead and close this.

[2021-11-18 22:21] sblack-usu commented on #4424
let's keep it open.  I'll use it to make sure it gets deployed

[2021-11-19 17:03] pkdash commented on #4401
This has been fixed in 1.50 release - so closing

[2021-11-19 17:03] #4401 closed

[2021-11-19 17:05] pkdash commented on #4149
This has been fixed in 1.50 release - tested on prod. So closing.

[2021-11-19 17:05] #4149 closed

[2021-11-19 17:06] pkdash commented on #4147
This has been fixed in 1.50 - tested on prod. So closing.

[2021-11-19 17:06] #4147 closed

[2021-11-19 17:07] pkdash commented on #4157
This has been fixed in 1.50 - tested on prod. So closing.

[2021-11-19 17:07] #4157 closed

[2021-11-19 17:08] #4416 closed

[2021-11-22 21:23] imanmaghami opened #4431 "Allow for linking Model Programs by a Model Instance Aggregation within another resource or outside HydroShare"
To allow for more flexibility in the design, the users should no longer be limited to have the Model Program (MP) in the same resource as the Model Instance (MI) aggregation to so that they can link the MP by the MI through "executed_by" relation.

When the users edit a MI aggregation, they should see a drop down menu or radio button underneath _Model Program Used for Execution_ which asks them wh

[2021-11-22 22:59] martinseul commented on #4414
@kratzert Hi Frederik, thanks for pointing the issue out to us, we looked into and think we solved the issue and closed the ticket. Please let us know if you encounter additional issues or the problem persists.

Thanks
Martin

[2021-11-23 00:50] sblack-usu opened #4432 "Constrain ResourceFile to one per file"
**Description of the bug**
ResourceFile currently allows more than one entry to be made for a single file.  This causes bugs in the code when dealing with the file as the code usually expects only one entry.

Steps to reproduce the bug:
I don't know what action causes multiple ResourceFile entries to be created for a single file.  It likely has to do with an interrupted process.  The management co

[2021-11-23 12:01] kratzert commented on #4414
Hi @martinseul (and others, especially @sblack-usu )

thanks for being responsive and solving this issue that quickly. The data is again visible for me on HydroShare and for all of my other repositories I do not see any problem. No further problem/issue from my side.

Thanks again for your time/work, really appreciated.

[2021-11-23 18:12] dtarb opened #4434 "You do not have permission should say an Owner not Authors"
**Description of the bug**
When a resource is Discoverable, users without specific access rights see a message "You do not have permission to see these content files.  Please contact the Authors if you wish to obtain access".

This is incorrect as Authors can not change permissions on a resource, only Owners (or certain editors) can.

Change the message to
"You do not have permission to see these

[2021-11-23 18:38] dtarb commented on #4211
@pkdash I tested this on beta as deployed now and believe it is all correct according to the [group access rules](https://docs.google.com/spreadsheets/d/12rve0oe7Q3n0p7C3LpcGOdmpn7AinytslcbvUcuBCVw/edit?usp=sharing) we developed.

[2021-11-23 23:01] pkdash commented on #4024
@Castronova and @dtarb

It seems the error message has been moved to download notification area and a different error message is displayed there. See if this issue can be closed.

[2021-11-24 19:12] dtarb commented on #4024
Closing on the basis of the above.  I am not able to check this because the bag downloads correctly.

[2021-11-24 19:12] #4024 closed

[2021-11-24 19:57] dtarb commented on #4297
@horsburgh I'd like to make sure that all the links we have under "Under trusted" are justifiably legitimate.

1. What is the basis for listing Springer Nature.  If I search at that URL for hydrology, or hydroshare, I do not find anything about hydroshare.
2. What legitimizes JGR Biogeosciences over any other AGU Journal?  As JGR is published by AGU, I think we should only mention AGU and not JGR.

[2021-11-24 20:11] horsburgh commented on #4297
@dtarb - I dug into the recommended repositories by both of those journals, and both mention HydroShare.

For Springer Nature, go here: https://www.springernature.com/gp/authors/research-data-policy/recommended-repositories then click on "Earth, Environmental and Space Sciences", then click on "Broad Scope Earth and environmental sciences". HydroShare is listed there.

For JGR BioGeosciences, go t

[2021-12-02 21:22] dtarb commented on #4300
In my opinion this is cosmetic and does not warrant being indicated as bug in "no bug" approach.  If others disagree, feel free to reset to bug.

[2021-12-06 20:10] sblack-usu opened #4439 "Release Checklist 1.51"
### Issues in Release
- [x] #4297 @Maurier
- [x] #3529 @sblack-usu
- [x] #4434 @pkdash
- [x] #4156 @pkdash
- [x] #4424 @sblack-usu
- [x] #4211 @pkdash
- [x] #3529 @Maurier
- [x] #4322 @sblack-usu
- [x] #4410 @pkdash
- [x] #4405 @pkdash
- [x] #4390 @sblack-usu

### Beta Deployment
- [x] Deployed to Beta
- [x] Review the search and discovery pages
- [x] Create a new user and update profile
- [x] Cre

[2021-12-08 19:34] aaraney opened #4441 "HydroShare Slogan Ideas"
@ClaraCogswell and I are seeking a HydroShare slogan! Below are some ideas, but we would love to hear more. Please add them below. A vote for a slogan will be taken at the next HydroShare Teleconference (Jan 5. 2022).

The below enumeration is only for identification. The enumeration does not relate to any slogan favoritism.

1. HydroShare:  A CUAHSI Water Data Service
2. HydroShare: create, share

[2021-12-08 19:37] aaraney commented on #4441
@hydroshare/developers
@hydroshare/extension-developers
@hydroshare/infrastructure-admins
@hydroshare/infrastructure-customers
@hydroshare/irodssharedev

[2021-12-10 17:30] dtarb commented on #3261
There is a question in the Google Doc mentioned above as to whether the relationship dcterms:IsPartOf should be saved in resourcemetadata.xml.  I suggest it should as this is part of the general trend towards all metadata being file based.  But @horsburgh suggested to check with @sblack-usu.  Thinking about this though does raise a policy question we need to consider.  At present user A can perman

[2021-12-11 00:20] dtarb commented on #3634
Working with @pkdash we've tested and determined that to the best of our knowledge async work has resolved this.  I deleted the problematic resource.

[2021-12-11 00:20] #3634 closed

[2021-12-13 16:19] #4273 closed

[2021-12-23 19:43] dtarb commented on #4066
In discussion with @pkdash he volunteered to investigate, and may be able to fix, but if it turns out to be systemic in many places may ask @Maurier for input on more general strategy for resolving.

[2021-12-23 20:11] dtarb commented on #3875
As cuahsimarko indicated the sign out is accessible by scrolling in the hamburger window, which makes this not a bug.  There could be improvement in the size of the hamburger menu that opens, but this does not deserve "bug" priority.

[2021-12-23 20:19] dtarb commented on #2385
Tested 12/23/21 and found that open with does not appear for me on a discoverable resource so changes above appear to have resolved.

[2021-12-23 20:19] #2385 closed

[2022-01-03 04:29] hydrocheck opened #4443 "Inconsistent capitalization is used across legend items in My Resources and Discover"
Recommendation is to change "Pending publication" to "Pending Publication", so that title case is consistently used
<img width="1125" alt="003" src="https://user-images.githubusercontent.com/43424907/147899776-284c764f-0164-44d8-b9b9-58dc49c0291a.png">

[2022-01-03 04:30] hydrocheck opened #4444 "The colored text over white background on the landing page is hard to read (and doesn't meet accessibility guidelines)"
The contrast ratio is very low for the colored text over the white background.  This causes readibility issues (and accessibility issues), particularly for small and low weight text (e.g., the "indable" in the FIND acronym image).  It appears as though this contrast issue spans multiple components (e.g., also on https://help.hydroshare.org/ and the Home page)
<img width="999" alt="004" src="https:

[2022-01-03 04:31] hydrocheck opened #4445 "Existing group checks are late in the group creation process, which could create frustrating rework"
If a user creates a new group (and possibly spends considerable time on the Purpose and About information, without saving/copying it elsewhere), they will need to rewrite this information from scratch if the group name already exists.

https://user-images.githubusercontent.com/43424907/147899856-aec358de-059d-4b6d-8121-9bc658372f78.mov

[2022-01-03 04:32] hydrocheck opened #4446 "The MATLAB Online "Featured App" links to a Group page"
The MATLAB Online featured app on the home page links to a Hydroshare Group page.  It seems as though users will not understand why they're being linked to a Group page, instead of the app itself.  Instructions on how to get to the app itself and how the HS Group is relevant would be ideal.

https://user-images.githubusercontent.com/43424907/147899873-37243b39-0ca4-4508-bc77-a561c728b484.mov

[2022-01-03 04:35] hydrocheck commented on #4439
1. https://github.com/hydroshare/hydroshare/issues/4446
2. https://github.com/hydroshare/hydroshare/issues/4445
3. https://github.com/hydroshare/hydroshare/issues/4444
4. https://github.com/hydroshare/hydroshare/issues/4443

[2022-01-03 10:20] MxNl opened #4447 "Show quota warning before publishing"
**Describe the feature you'd like and what it will do**
Before beeing able to publish a ressource: show a message or warning that informs the user that the ressource beeing published is going to exceed the quota. This can be a warning, a hint or maybe even reject the publication.

**Why is this feature important?**
According to my personal user experience when publishing data 7 months ago: I did n

[2022-01-03 21:07] dtarb opened #4449 "Correct reference terms"
**Description of the bug**
If I create a copy of a resource and download its bag, I see hsterms:isDerivedFrom in resource Metadata.xml.  However at https://www.hydroshare.org/terms/ isDerivedFrom is missing and there is a term isCopyOf.

I think hsterms should be changed to indicate isDerivedFrom.  This may be part of #3261 but reporting separately so it does not get lost.

Please @hyi and @pkdash

[2022-01-03 21:31] eclark-cuahsi commented on #4089
@ClaraCogswell and @Maurier -- this issue was duplicated by #4357 which has now been completed and closed. Can this issue be closed as well? Thanks!

[2022-01-03 22:00] ClaraCogswell commented on #4089
It can be closed as far as I am concerned!

[2022-01-03 23:41] dtarb opened #4450 "Copying creates incorrect versioning chain"
**Description of the bug**
If you copy a resource that has a previous version then incorrect version chains result.

Our versioning model supposed to be
A -> B -> C where -> indicates isReplacedBy
And
A <- B <- C where <- indicates isVersionOf

Steps to reproduce the bug:
1. Create a new resource (I did this for A https://www.hydroshare.org/resource/8dbd221006f34c918f48c72a51d6d9e3/)
2.  Create a

[2022-01-04 00:25] dtarb commented on #4297
@horsburgh Fair enough.  But, I just think that what is currently featured is not what resonates with, at least my perception of the HydroShare resources.  WRR is the AGU hydrology section journal.  If we are to list any AGU journal it should be WRR.   Perhaps we should put the AGU logo since we are listed under data.agu.org.

Under research organizations, much as I like iUtah, this is a project t

[2022-01-04 00:40] horsburgh commented on #4297
@dtarb - I took the content I was given by Jon Pollak and put it on the page. I honestly can't remember now whether I added additional things to what he originally gave me or not. If you want us to change something, just tell us what you want.

With regard to featuring iUTAH - sure that project is over, and we can remove it if you want. But, so are the CZO projects. The corpus of CZO data that now

[2022-01-04 15:48] #4390 closed

[2022-01-04 15:49] #4424 closed

[2022-01-04 15:49] #3529 closed

[2022-01-04 16:15] eclark-cuahsi commented on #4445
@martinseul can you please review and label as a bug or enhancement and add to appropriate project board column.

[2022-01-04 16:15] pkdash commented on #4405
This has been fixed in 1.51.1 - so closing.

[2022-01-04 16:15] #4405 closed

[2022-01-04 16:16] pkdash commented on #4434
This has been fixed in 1.51.1 - so closing.

[2022-01-04 16:16] #4434 closed

[2022-01-04 16:16] pkdash commented on #4156
This has been fixed in 1.51.1 - so closing.

[2022-01-04 16:16] #4156 closed

[2022-01-04 16:44] pkdash commented on #3736
This has been fixed in 1.51.1 - so closing.

[2022-01-04 16:44] #3736 closed

[2022-01-05 17:02] pkdash commented on #4418
@dtarb This should be fixed as part of my current work on issue #3261.

[2022-01-05 19:33] danames commented on #4441
Don't repeat "share" or "hydrology" since those are implicit in "HydroShare".

[2022-01-05 19:34] aaraney commented on #4441
If you would rather contribute outside of GitHub, here is a [google doc](https://docs.google.com/document/d/1pIA2a0YbPMB1piDnpabbHK55DBYaZ2MHPVpM05R7KsM/edit?usp=sharing)!

[2022-01-05 19:34] sblack-usu commented on #4441
HydroShare: Discover, collaborate, publish

[2022-01-05 20:12] dtarb commented on #4441
Here is a bunch in my priority order (to the degree I can decide)

- Working together to create knowledge by sharing
- Sharing hydrologic data [concise and says it all.  But it does repeat the share and hydro which may be a drawback]
- Sharing hydrologic data and models
- Community data and model sharing [The word community is nice if we can weave it in]
- Share your data and models with colleague

[2022-01-05 21:15] eclark-cuahsi commented on #4089
Looks like the inconsistent capitalization on 'Pending publication' and 'Not shareable' still persists. This is also now noted in #4443.

[2022-01-05 21:17] eclark-cuahsi commented on #4443
This was noted in #4089 as well. "Not shareable" should also be changed to "Not Shareable" to follow the same title case capitalization.

[2022-01-07 18:11] horsburgh commented on #4441
HydroShare: Do more with your research.

Implies that we all can and should do more with the products of our research. Thus, it embeds a core value. Implies that HydroShare supports this with functionality that is more than what we have had before. Doesn't constrain us to just data or just repository functions as HydroShare and linked systems are more. Enables us to keep innovating.

[2022-01-07 18:47] danames commented on #4441
+1 for the general idea of @horsburgh which I would characterize as "don't try to be so specific about exactly what HydroShare does, but rather give the bigger vision statement in the tagline!"

So that vision statement could be:

"Do more with your research"
"Make your research matter"
"Do more with your research through collaboration"
"Collaborative Water Research"
"Collaboration makes the world

[2022-01-07 18:52] #4449 closed

[2022-01-13 16:35] eclark-cuahsi commented on #4447
@martinseul this falls under the 'quota functionality' category. Can you please review?

[2022-01-13 20:45] sblack-usu commented on #3513
After trying to debug what the effects of this patch on jupyterhub (with @aaraney), we learned that a forward slash does not need to be URL encoded in a query parameter.

https://en.wikipedia.org/wiki/Percent-encoding#Reserved_characters

It only needs to be encoded if in a path parameter

So... what is the original issue that prompted the creation of this issue?  @kjlippold @dtarb @pkdash

[2022-01-13 21:00] aaraney commented on #3513
I just tracked down the log message. The issue has to do with `nbfetch`. Specifically,  `jinja2.exceptions.TemplateNotFound: hstatus.html` in the [`nbfetch.handlers.HSHandler.get`](https://github.com/hydroshare/nbfetch/blob/ec3fce949bcb4655673c1cf4a2356f3d5d3f15aa/nbfetch/handlers.py#L395) method.

[2022-01-16 21:58] dtarb commented on #3513
I do not know what the original issue was.  Mentioning @danames in case @kjlippold is not able to respond.

[2022-01-18 14:56] Castronova opened #4456 "Pending Group Request from Inactive Account"
**Description of the bug**

Below is a summary of the issue and discussion from an email between Dave T, Tony C, and Martin S.

(Dave)
I clicked on the user name [of a pending request in the HS group 156 landing page] to see more, which I do before considering accepting and get “Sorry an error occurred”. I then logged in as admin and see that the account is not active.  Did someone block this acco

[2022-01-18 15:46] dtarb commented on #4456
There is a deactivate account link in user profile. Perhaps the user decided against using HydroShare and de-activated their account.  I suggest that fixing this bug should just involve messaging.  Rather than "an error occurred" the message should be "This user account has been de-activated."

[2022-01-18 18:23] danames commented on #3513
I believe that the issue is that HS_FILE_PATH and HS_AGG_PATH can potentially pass strings that have forward slashes or other symbols which are legal in a file path but illegal as URL query string parameters. @sblack-usu it looks like you tested this a bit. Do you know how other web services handle such encodings? I assume that they use url codes like %20 in place of the actual characters. @dtarb

[2022-01-18 18:31] sblack-usu commented on #3513
The ticket is asking for url encoded forward slashes in the query parameters.  That is something that is not necessary for query parameters, it is not a bug.

I'd like to know what prompted this issue to be created before I close this to help resolve the root problem.

[2022-01-19 21:58] pkdash commented on #4456
@dtarb and @Castronova If the user account is not active, I think we should not be displaying a pending request from that user.

[2022-01-20 16:14] martinseul commented on #3413
according to Clara this has been completed, closing this. the page is still outdated and does need updating

[2022-01-20 16:14] #3413 closed

[2022-01-21 17:37] dtarb commented on #4393
Assigned to @pkdash as part of resource consolidation work.

[2022-01-21 17:39] dtarb commented on #3129
Moved to selected next for development as part of resource consolidation wrap up.

[2022-01-24 16:31] sblack-usu opened #4458 "Release Checklist 1.52"
### Issues in Release
- [x] #4449 @hyi
- [x] #4450 @hyi
- [x] #4028 @hyi
- [x] #3261 @pkdash
- [x] #4457 @hyi
- [x] #4415 @hyi

### Beta Deployment
- [x] Diff RC to master to identify and manually make changes in the following files:
  * hsctl
  * config/hydroshare-config.yaml
  * nginx/config-files/hydroshare-ssl-nginx.conf.template
  * scripts/templates/docker-compose.template
- [x] Deployed to

[2022-01-25 18:00] Castronova commented on #4234
This should be in the MATLAB GitHub issue tracker. It has since been resolved, closing.

[2022-01-25 20:34] martinseul commented on #4394
This is too big to be actionable, Scott will provide a more detailed implementation

[2022-01-25 20:43] martinseul commented on #3770
@sblack-usu is this still an issue?

[2022-01-26 18:52] dtarb commented on #4394
Scott indicated that more preparation is needed before this is actionable.

[2022-01-26 18:56] sblack-usu commented on #4411
duplicates #4390

[2022-01-26 18:56] #4411 closed

[2022-01-26 18:57] dtarb commented on #4255
Alva indicates he has done this.

[2022-01-26 18:57] #4255 closed

[2022-01-26 19:00] dtarb commented on #1806
Alva reported entire nginx has been updated since this, so closing.

[2022-01-26 19:00] #1806 closed

[2022-01-26 19:02] dtarb commented on #659
Stale so closing.

[2022-01-26 19:02] #659 closed

[2022-01-26 19:04] dtarb commented on #1483
Scott indicated that URLs in resource map are being used successfully, so suggests closing.

[2022-01-26 19:04] #1483 closed

[2022-01-26 19:07] dtarb commented on #2030
After conferring with Alva and Scott, sense was that it is fixed and working.

[2022-01-26 19:07] #2030 closed

[2022-01-26 19:09] dtarb commented on #2103
Closing as was an issue with usage tracking and may have been fixed.  In any event no longer an issue.

[2022-01-26 19:09] #2103 closed

[2022-01-26 19:11] dtarb commented on #2122
Folded into large file handling.  No need to track this as an issue here as this is being fixed elsewhere.

[2022-01-26 19:11] #2122 closed

[2022-01-26 19:13] dtarb commented on #2280
@pkdash please confirm if an issue, and if so document, otherwise close

[2022-01-26 19:19] dtarb commented on #2538
Design phase is assigned to @alvacouch.  Until there is an actionable recommendation, keep this on hold.

[2022-01-26 19:20] dtarb commented on #2579
Close as no raster resources any more

[2022-01-26 19:20] #2579 closed

[2022-01-26 19:21] #4439 closed

[2022-01-26 19:22] sblack-usu commented on #2710
#4390 enables the API to modify the rights url.

[2022-01-26 19:22] #2710 closed

[2022-01-26 19:24] dtarb commented on #2789
@martinseul to retest and assess

[2022-01-26 19:25] dtarb commented on #2538
See https://docs.google.com/document/d/1G7KHstXs6AqCHWHayhLI0A0SCU8QURkAwRnVZwmWvk4/edit#heading=h.sram8htt4ndg

[2022-01-26 19:28] dtarb commented on #2793
@Castronova check this out and provide documentation information to @ClaraCogswell if you arrive at the solution being documentation

[2022-01-26 19:36] sblack-usu commented on #2806
Some constraints are made to prevent html injection.  #3684

[2022-01-26 19:38] martinseul commented on #2806
@ndebuhr could you please retest this? Scott mentioned that the injection issue is fixed and assess if this is still a bug?

[2022-01-26 19:40] dtarb commented on #2821
Closing as styling work has been done.

[2022-01-26 19:40] #2821 closed

[2022-01-26 19:43] dtarb commented on #2824
Related to #4363

[2022-01-28 16:13] eclark-cuahsi commented on #3770
Moved to backlog after meeting on 1.26; additional assessment needed.

[2022-01-28 16:14] eclark-cuahsi commented on #4001
Moved to backlog after discussion on 1.25.22.

[2022-01-28 16:14] eclark-cuahsi commented on #3937
Moved to backlog after discussion on 1.25.22

[2022-01-28 16:32] eclark-cuahsi commented on #2603
Moved to backlog after discussion 1.25.22

[2022-01-31 16:53] sblack-usu opened #4461 "Place Solr indexing in a named volume"
**Describe the feature you'd like and what it will do**
Currently, a deployment requires a complete reindexing of all HydroShare resources.  This takes over an hour to do and will have linear growth as the number of resources continues to increase.  Create a named volume at the location the solr indexes are stored to persist existing indexes between deployments.

@alvacouch - please document here

[2022-01-31 19:22] dtarb commented on #2979
@horsburgh can you please as part of landing pages categories lead discussion to decide what functionality should be related to zipping and unzipping of files in aggregations and what should be expected with auto aggregation or not behavior.

[2022-02-01 14:55] pkdash commented on #4410
This has been fixed in release 1.51 so closing.

[2022-02-01 14:55] #4410 closed

[2022-02-01 20:54] hyi commented on #4415
@dtarb I tested on production and verified this issue has been fixed.I am closing it, but feel free to test it yourself and reopen it if you still see any issues.

[2022-02-01 20:54] #4415 closed

[2022-02-01 20:57] hyi commented on #4450
@dtarb I verified that this issue has been fixed on production. I am closing it, but feel free to reopen it if you still see any issues with it.

[2022-02-01 20:57] #4450 closed

[2022-02-01 21:15] hyi commented on #4028
@dtarb production is ready for you to test all resources with versioning fix now.

[2022-02-01 22:06] pkdash commented on #3513
@sblack-usu There seems to be potential other issues with encoding of web app launch url. Here are some examples:

App URL pattern: `https://www.hydrolearn.org/${HS_RES_ID}/${HS_AGG_PATH}`

For the above pattern, HydroShare generates this: `https://www.hydrolearn.org/49a9db8fc3c74e93b68b9b7d9546d76e/folder-with-space/netcdf_valid.nc`
The actual aggregation path: `folder with space/netcdf_valid.nc`

[2022-02-02 14:35] pkdash opened #4466 "Cleanup Source metadata class and Relation metadata deprecated types"
In release 1.52, source metadata has been migrated to relation metadata and deprecated relation metadata types have been migrated to other relation types. Now we can remove the Source db model class and remove all the deprecated Relation types.

[2022-02-02 14:51] pkdash commented on #4418
@dtarb I did test this issue on production and it seems to have been fixed - so closing this issue.

[2022-02-02 14:51] #4418 closed

[2022-02-02 14:58] pkdash commented on #3261
@dtarb and @horsburgh I did test this issue on production and it seems to be working -so closing it for now. Feel free to re-open if you see something is not working.

[2022-02-02 14:58] #3261 closed

[2022-02-02 16:18] devincowan commented on #2895
Will also allow upload of images, not just URL

[2022-02-04 17:37] dtarb commented on #2275
Refer to https://github.com/hydroshare/hydroshare/issues/3806#issuecomment-782191510 where the email text needed is given.  Implement this at #3806 as one issue.

[2022-02-04 22:49] pkdash opened #4471 "Allow Web App Connector to work at Aggregation level using 'appkey' extended metadata"
**Describe the feature you'd like and what it will do**
Currently we have the ability to associate a resource with a web app using 'appkey' as extended metadata. However, this is not possible at the aggregation level. Using 'appkey' extended metadata, user should be able to associate an aggregation with a web app so that the 'Open With' works at the aggregation level based on appkey.

**Why is thi

[2022-02-07 13:36] dtarb opened #4472 "Do not update last changed date when a new version is created"
**Description of the bug**
If I create a new version of a resource (with say a 2020 date on it) in 2022 the last updated date for the original resource is changed to the present time.  This is incorrect as the last updated date is what is used in the citation of the original resource and should remain unchanged.

Steps to reproduce the bug:
1. Go to a resource that was last updated previously (e.g

[2022-02-07 13:37] dtarb commented on #4028
Closing as this appears correct.  However there is a problem with dates - see #4472

[2022-02-07 13:37] #4028 closed

[2022-02-07 14:43] dtarb opened #4473 "Version fixes through management command have changed last updated date. These need fixing."
**Description of the bug**
The management command developed in #4397 fixed broken versioning chains.  However the last updated date for resources fixed was changed.  This should not have been done, as it changes the how to cite information.

A specific example
A https://www.hydroshare.org/resource/02cb57b77819407a9ac29c6cc1dd7995/ which has new version
B https://www.hydroshare.org/resource/c29c9af

[2022-02-07 16:28] #2910 closed

[2022-02-07 17:13] devincowan opened #4474 "Allow local image file upload in addition to URL for tools resource"
Currently the tools resource only allows icon to be added via URL.
We will also allow image file upload

[2022-02-07 17:32] devincowan commented on #3614
@horsburgh I am modifying the link to say "Learn more about the BagIt download" and point to the URL you suggested. Do you have text to add to https://help.hydroshare.org?

[2022-02-07 19:03] pkdash opened #4475 "Aggregations are not created as part of resource copy and version"
**Description of the bug**
If a resource has folder based aggregations (fileset, model instance or model program) and the folder representing the aggregation is empty, then copying or creating a new version of the resource creates a resource that doesn't contain the aggregation. However, the empty folder can be found in the new resource.

Steps to reproduce the bug:
1. Create a resource
2. Create

[2022-02-07 22:39] horsburgh commented on #3614
This text should be added to the following page at https://help.hydroshare.org:

https://help.hydroshare.org/creating-and-managing-resources/view-and-download-a-resource/

**The BagIt File Format**

BagIt is a set of hierarchical file layout conventions designed to support storage and transfer of arbitrary digital content. A BagIt "bag" consists of a directory containing the payload files (the con

[2022-02-08 15:06] devincowan commented on #3614
@ClaraCogswell can you get @horsburgh's text added to the help.hydroshare.org page?

[2022-02-08 15:23] #4466 closed

[2022-02-08 15:25] ClaraCogswell commented on #3614
Done: https://help.hydroshare.org/creating-and-managing-resources/view-and-download-a-resource/

[2022-02-08 20:34] aaraney opened #4478 "As a User, I want to view the top viewed and downloaded resources and published resources on HydroShare aggregated over some timescale"
## Description

@ClaraCogswell and I want a view (page or inset in existing page) that lists the top `n` viewed and top `n` downloaded resources over the past event timescale. A filter should be present for selecting to view publish resources or (inclusive or) published resources. The view likely would take the form of two tables or one table with two columns. At the top of the table, a user could

[2022-02-09 19:26] devincowan commented on #3745
@horsburgh perhaps this was resolved some time in the last 2 years. Does this look okay to you now? thx

https://www.hydroshare.org/resource/1a116e5460e24177999c7bd6f8292421/
![image](https://user-images.githubusercontent.com/17934193/153273545-4b458765-18d5-4746-9cfc-dda7efa28e02.png)

[2022-02-09 20:29] pkdash commented on #3745
@devincowan This was fixed as part of #3261 and deployed in the latest release 1.52. I think we can close it.

[2022-02-09 20:30] #3745 closed

[2022-02-10 17:34] sblack-usu opened #4484 "Cannot redeem group memebership requests with inactive users"
**Description of the bug**
When a user requests access to a group and then deletes (inactivates) their account, the group membership request cannot be redeemed.

Steps to reproduce the bug:
1. Create a test user
2. Request to join a group with the test user
3. Deactivate the test user account
4. As a group owner, attempt to accept/reject the group membership request from the test user
5. Observe t

[2022-02-10 19:56] #2895 closed

[2022-02-11 18:21] dtarb commented on #4484
This is essentially the same as #4456, but the additional code location information Scott added here is good.

[2022-02-11 19:15] hyi commented on #4473
@dtarb The database backup snapshot file I initially copied over just before the last release deployment somehow has the same updated time as the current production, so I had to try a one-day-earlier database backup snapshot to get the old updated date for those resources affected by running this management command. I extracted updated date for these resources affected and created a csv file with

[2022-02-14 16:45] cbcunc commented on #4399
Adding myself as an assignee to keep my eyes on it.

[2022-02-15 16:42] #4474 closed

[2022-02-15 16:44] #2824 closed

[2022-02-15 17:18] #4324 closed

[2022-02-16 14:50] devincowan opened #4493 "responsive display issue with left margins on hs-tools icon"
**Description of the bug**
Left margins are negative and the icon preview for hs-tools hangs off the left side of the screen.
While resolving #4474 in PR #4479, I accidentally introduced this problem

![image](https://user-images.githubusercontent.com/17934193/154289326-fdc609f3-e1f1-45cb-960a-fdc16582c5cc.png)

Steps to reproduce the bug:
1. Edit a web-app resource
2. Reduce your browser window s

[2022-02-16 15:40] ClaraCogswell commented on #1758
This is resolved.

[2022-02-16 15:40] #1758 closed

[2022-02-16 18:15] #4493 closed

[2022-02-16 19:31] ClaraCogswell opened #4495 "Unable to remove related resource"
**Description of the bug**
A user added two related resources to the following resource: [https://www.hydroshare.org/resource/3b13760174174c31988120baeb84e2e8/](url)

And it now unable to delete the first related resource:
![image](https://user-images.githubusercontent.com/90924476/154341184-22ece9f8-ac62-4d61-8419-dfcb34de1684.png)

Steps to reproduce the bug:
I was unable to reproduce the bug

*

[2022-02-16 19:51] horsburgh commented on #4495
The "is part of" relationship cannot currently be created by the user using the add related resource dialog. It doesn't appear as a choice in the drop down.  Is this resource new or old?

I think the "is part of" relationship is automatically created when a resource is added to a collection. Is it possible that this resource was added to a collection and then the collection was deleted? Maybe the

[2022-02-16 19:54] devincowan commented on #3652
@horsburgh and @Castronova

It is true that, if address and homepage are entered on the user profile
![profile](https://user-images.githubusercontent.com/17934193/154343530-e2275689-51c6-4adf-b39b-78da37a97b7d.png)

and that user is added as an author for a resource, then the address, homepage, phone, etc show blank in the modal on the resource page:
![blank_author_resource](https://user-images.gi

[2022-02-16 20:43] Castronova commented on #3652
My general thought is that the profile information displayed on the resource landing page should directly reflect the metadata stored in the HydroShare user profile. If it doesn't, there are some strange edge cases we may encounter such as a resource displaying contact information that is no longer valid even after the user has updated their profile, e.g. a deactivated student email address. It wo

[2022-02-16 20:45] pkdash commented on #4495
**'is part of**' relation is automatically created for a resource only when the resource is added to a collection. This relation should have the citation of the collection to which the resource was added. Not sure why for this resource the **'is part of**' relation doesn't have the citation.

[2022-02-16 21:15] horsburgh commented on #3652
The current functionality of freezing author information in the resource's metadata at the time it is created was by design. When you publish a journal paper, your contact information is captured at the time of publication, and after that doesn't change. We designed the system to adopt that model. You can edit/change author information all the way up to resource publication. After publication, the

[2022-02-16 21:28] Castronova commented on #3652
@horsburgh Thanks for clarifying the design. I understand that user profile metadata should be frozen when a resource is formally published, but it's not clear to me why that would be the case for non-published, mutable resources. Do we run the risk of this information becoming inaccurate by doing so? I wonder how many people ever edit authorship metadata on non-published resources, and how many u

[2022-02-17 13:54] devincowan commented on #3652
Thanks to both of you for the info and background (and sorry if I should be asking elsewhere, I started with you since you were already on this ticket).

I see what @horsburgh is saying re the desired functionality--right now this is indeed broken: the initial sync from the profile metadata into the author info on the resource is broken for address, homepage, and other fields. So I can fix that in

[2022-02-17 14:15] #4475 closed

[2022-02-17 18:20] pkdash commented on #4495
@martinseul I assume we want fix this with a hotfix.

[2022-02-17 19:19] devincowan commented on #3652
Walking back what I said earlier today. The desired functionality that @horsburgh mentioned actually is functioning. That is to say that, when an author is first added to a resource, said author's profile info is used to populate the resource's author info (to the extent that the added author's profile contains information). So I believe this issue is actually a non-issue...

[2022-02-17 19:21] #3652 closed

[2022-02-17 20:07] martinseul commented on #4495
@pkdash yes, I would think so thanks

[2022-02-17 21:18] pkdash opened #4496 "After deleting a collection resource any resource that's part of the collection can't be viewed"
**Description of the bug**
After deleting a collection resource that has other resources, it's not possible to view any of the resources that were part of the deleted collection resource.  Though those resources are listed on my resources page, selecting any of the resources gives 'Not Found' error.

Steps to reproduce the bug:
1. Create a Collection resource
2. Create a Resource and make the reso

[2022-02-17 21:43] martinseul opened #4498 "update "How to cite" messaging"
The messaging on the resource landing page "how to cite" need updating.

![image](https://user-images.githubusercontent.com/5427742/154575429-dc0b1850-65ae-4344-8917-708de427f990.png)

the reminder text is incorrect as you can edit parts of the resource.

[2022-02-18 00:04] sblack-usu opened #4502 "No documentation for /resource/{id}/functions/move-or-rename/"
**Description of the bug**
The endpoint works but there is no documentation in OpenAPI for request parameters `source_path` and `target_path`

Steps to reproduce the bug:
1. Go to [hsapi](https://hydroshare.org/hsapi
2. See lack of documentation around the `/resource/{id}/functions/move-or-rename/` endpoint

**Expected behavior**
Provide documentation of the input parameters along with a descripti

[2022-02-18 12:47] devincowan commented on #3652
@Castronova one additional though on this that gets at some of your suggestions:
Like I said, initial population of author info from profile is functional already.
But perhaps we should entertain the following:
- When profile info is added or modified
- All _unpublished_ resources on which the updated profile is an author are updated with the new info, so long as they haven't already been custom e

[2022-02-18 15:07] #3072 closed

[2022-02-18 15:38] martinseul commented on #4495
@pkdash circling back to the initial issue, on Hydroshare I can't find a collection the resource  https://www.hydroshare.org/resource/3b13760174174c31988120baeb84e2e8/ the user initially reported is part of, could you check the back-end and see if it's connected to a collection and if which one?

[2022-02-18 17:58] dtarb commented on #4495
@horsburgh and @martinseul  Following the 1.51 release users can not create the isPartOf relationship, but prior to that users could create the isPartOf relationship, and it appears there were legitimate uses.  For example I created the resource https://www.hydroshare.org/resource/873072d7c4ed45af86091f877bf5d1da/ that was slides I presented in an EPA webinar series and created an isPartOf relatio

[2022-02-20 02:58] horsburgh commented on #4495
@dtarb - We chose to reserve the use of "isPartOf" relationships for HydroShare collections. @pkdash should weigh in here about how hard it would be to support and manage "isPartOf" relationships for both HydroShare collections and other, user-defined relationships. "isPartOf" is an official Dublin Core term (http://purl.org/dc/terms/isPartOf), and, as much as we can, I think we should stick with

[2022-02-20 03:15] horsburgh commented on #3652
@devincowan and @Castronova - I think we should exercise care here to not do something that is going to require sifting through large numbers of resources regularly. For example, if a HydroShare user updates their profile, do we really want to sift through all HydroShare resources and test to see if the user is an author of the resource and check to see whether the Author's information needs to be

[2022-02-20 15:32] dtarb commented on #4495
I was meeting with @pkdash when I wrote the above.  He asked for input on how to address this.  He indicated that managing different kinds of isPartOf relationships would be awkward because of the conditions involved - some can be edited, some not.  This awkwardness is symptomatic of trying to do this being poor design.

Looking in to this more, it may be helpful to refer to https://docs.google.co

[2022-02-20 17:53] devincowan commented on #3652
@horsburgh I have little experience but the idea of a button that allows for deliberate update of author info on unpublished resources seems to me a good way to go.

[2022-02-20 22:09] horsburgh commented on #4495
@dtarb - your suggested approach seems reasonable. I agree that it is redundant to have a whole section about collections on the landing page and then have separate "isPartOf" relationships displayed in the "Related Resources" section. And, I agree that it would be difficult to try and manage two different kinds of "isPartOf" relationships.

I'm not sure at what point this started being a problem.

[2022-02-21 16:53] dtarb commented on #2313
Refer to discussion notes https://docs.google.com/document/d/1ReqmZ66MZnWwAaqRLIGWWP46b7x_tTpHo6vYbKWBDEE/edit

[2022-02-21 16:54] dtarb commented on #2313
@martinseul Refer to discussion notes https://docs.google.com/document/d/1ReqmZ66MZnWwAaqRLIGWWP46b7x_tTpHo6vYbKWBDEE/edit

[2022-02-21 19:53] devincowan commented on #4374
### Believe this has been fixed:
![image](https://user-images.githubusercontent.com/17934193/155018209-2ce6ff94-dc30-4c62-abd6-f207d7be430f.png)
![image](https://user-images.githubusercontent.com/17934193/155018314-814767a5-f963-4aef-8add-bca4bebe3529.png)

[2022-02-21 21:32] aaraney opened #4505 "As a User, I want the ability to export citations for published resources in serveral formats"
**Describe the feature you'd like and what it will do**

On a published resource's HydroShare page, I want an export citation feature that allows me to export a citation in a specified  style (e.g. apa, mla, bibtex). Specifically, I want a drop down near "How to Cite" that allows me to select an output citation format. Once selected, the content below the "How to Cite" subheader should populate wi

[2022-02-21 22:12] aaraney opened #4507 "HydroShare minted DOIs do not include author information in DOI metadata"
**Description of the bug**

DOIs minted with the prefix, `10.4211/hs.` (HydroShare minted DOIs) do not contain author information. This has several unintended consequences (that I can think of off hand):

1. Trackers cannot link a person's work stored on HydroShare to a person's collection of work (google scholar, etc.) using only a DOI.
2. DOIs minted by HydroShare do not contain enough informati

[2022-02-21 22:14] aaraney commented on #4498
related to #4505 and #4507

[2022-02-21 23:04] horsburgh commented on #4505
See #4708 and #97

[2022-02-22 14:47] horsburgh commented on #4507
The metadata schemas of DOI registrars provide the opportunity to deposit quite a lot of metadata. Doing so could be important for people (or applications) who may be interested in getting metadata for HydroShare resources using only the DOI. Yes, you can resolve the DOI and then go to HydroShare and harvest metadata, but the DOI registrars are now starting to provide standardized metadata across

[2022-02-22 15:46] devincowan commented on #4089
Closing because it looks like #4443 covers this now

[2022-02-22 15:46] #4089 closed

[2022-02-22 16:58] aaraney commented on #4507
Thanks for providing history and context @hyi!

[2022-02-22 17:18] sblack-usu commented on #4507
Looks like we can resubmit and they encourage it. https://www.crossref.org/blog/open-abstracts-where-are-we/

[2022-02-22 17:19] aaraney commented on #4505
Thanks for linking the related issues, @horsburgh!

[@dtarb's quoted comment from #4078](https://github.com/hydroshare/hydroshare/issues/4078#issuecomment-752752324)

We appreciate the suggestion. It is a good idea. This was actually considered early on #97, but time, effort, money, priorities etc. have so far precluded us being able to do this. Perhaps this time the suggestion is a charm.

To @dt

[2022-02-22 17:30] horsburgh commented on #4507
@aaraney - Yes, I think this can be staged. DOI metadata is meant to be updated, and I think doing it in stages while focusing on the highest value metadata (e.g., author information) seems reasonable.

[2022-02-22 17:32] devincowan commented on #4374
related to #4375

[2022-02-22 21:39] #3785 closed

[2022-02-23 00:35] #3608 closed

[2022-02-23 00:48] sblack-usu opened #4513 "Release Checklist 1.53"
### Issues in Release
- [x] #3070 @pkdash
- [x] #3071 @pkdash
- [x] #4464 @hyi
- [x] #2824 @devincowan
- [x] #4466 @pkdash
- [x] #3614 @devincowan
- [x] #2895 @devincowan
- [x] #2827 @devincowan
- [x] #4486 @devincowan
- [x] #4474 @devincowan
- [x] #2910 @devincowan
- [x] #4324 @devincowan
- [x] #4472 @hyi
- [x] #4473 @hyi
- [x] #4493 @devincowan
- [x] #4475 @pkdash
- [x] #4488 @sblack-usu
- [x] #

[2022-02-23 13:19] #4471 closed

[2022-02-23 16:47] sblack-usu commented on #4513
I'm still putting together this release checklist.  The PRs are currently linked and need to be updated to issues.  Sorry, lots of things in flight right now and working on this as I get the time.  Thanks for bringing those issues to my attention.

[2022-02-23 17:51] #3378 closed

[2022-02-23 17:52] #4443 closed

[2022-02-23 21:28] #4496 closed

[2022-02-24 15:42] devincowan commented on #3449
@horsburgh @Maurier seems like this has been resolved:

https://user-images.githubusercontent.com/17934193/155557132-69fbd3f1-85b4-4a7a-a5c8-a080e25d5244.mov

[2022-02-24 15:42] #3449 closed

[2022-02-24 18:29] devincowan commented on #3534
@sblack-usu you're envisioning two separate sections within the modal, one listing groups with access and the other listing users?

[2022-02-28 19:46] #3526 closed

[2022-03-01 13:39] #4140 closed

[2022-03-01 15:42] hyi commented on #4472
@dtarb I have tested on the newly released production and verified last changed date did not get changed after a new version is created, so I am closing this issue.

[2022-03-01 15:42] #4472 closed

[2022-03-01 15:47] hyi commented on #4363
@alvacouch I verified this has been fixed on production, so I am closing it, but feel free if you notice any further issues.

[2022-03-01 15:47] #4363 closed

[2022-03-02 16:29] devincowan commented on #2793
related to #4491 2313

[2022-03-02 18:26] devincowan commented on #2275
@Castronova here are the items that will be added to the email:
- Last name
- Organization
- Country
- State
- Email
- Title (if available)

[2022-03-02 20:11] #2313 closed

[2022-03-03 17:23] pkdash opened #4524 "Message to update file should not be displayed after creating a netcdf aggregation or timeseries aggregation"
**Description of the bug**
When a user creates a netcdf (multi-dimensional)  aggregation a message to update netcdf file is displayed.
When a user creates a timeseries aggregation, a message to update the SQLite file is displayed.

Steps to reproduce the bug:
1. Create a resource
2. Upload netcdf file. A multi-dimensional aggregation will be created. Go to the resource view mode. You will see this

[2022-03-03 19:47] martinseul opened #4527 "extend width of Hydroshare content area"
**Describe the feature you'd like and what it will do**
Extend the content area where Hydroshare UI elements are rendered to give each element more room if the device supports.

**Why is this feature important?**
Hydroshare content feels condensed and is often not easy to read especially long text in tables while there is a lot of whitespace available  left and right of the page. Content area for

[2022-03-04 14:44] devincowan commented on #3077
@martinseul do we want to delete resources when a user account is made inactive (but not deleted)?
As it stands now, anyone attempting to access a resource that is owned by an inactive user sees our `PermissionDenied` page (below). This is true even for public and even published resources. You can see that the "owners" don't populate even though the owner still technically exists...

![image](http

[2022-03-04 17:39] devincowan commented on #4066
Will take a gander!

[2022-03-04 17:40] dtarb commented on #4091
@martinseul @hydrocheck is this still an issue.  @pkdash and I were reviewing bugs.  Loading My Resources is slow - granted - but we do not get a Django error on my page that has 200+ resources.

[2022-03-04 21:39] pkdash opened #4530 "Migrate Script Resources to Composite Resource"
This is needed before we can delete this deprecated resource type  as required in #3129

**Migration Rules:**
Migrate resource type specific metadata to resource level as extended metadata. No aggregation needs to be created as part of the migration:

**Here is an example of script resource specific metadata:**

Programming Language: Python
Programming Language Version: Python 3
Script Version: 1.

[2022-03-05 22:15] pkdash opened #4531 "Fix tests for rest api based on hsmodels"
**Description of the bug**
With the latest version of hsmodels, some tests for hs_rest_api2 are failing.

Steps to reproduce the bug:
1. Locally run this test `hs_rest_api2/tests/test_file_json_metadata.py`
2. You should see the above test fails.

**Expected behavior**
The above test should pass.

**Additional information**
Add any other context about the problem here such as screenshots, software

[2022-03-07 15:02] shantanubhide opened #4533 "Unable to access Data Rods Explorer (DRE) web portal"
https://apps.hydroshare.org/apps/data-rods-explorer/

[2022-03-07 15:45] devincowan commented on #2806
My simple injection attempts were prevented:
![image](https://user-images.githubusercontent.com/17934193/157067414-e267e974-5558-400b-ac2a-4232cea819ed.png)
However LONG labels still create formatting issues and whitespace gives an error that doesn't make sense.
I will fix those...

[2022-03-07 16:34] devincowan commented on #3806
Discussed today we will add additional UI for group admin:
checkbox whether justification should be required for requests
Then add associated justification during request submit

[2022-03-07 16:49] devincowan commented on #2793
@Castronova apologies I thought I had pinged you on this one but didn't. No code review required, just make sure the above messages are accurate for your request? Thanks

[2022-03-07 19:02] pkdash opened #4535 "Remove NetCDF resource type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to #3129

[2022-03-07 19:33] #2275 closed

[2022-03-07 20:08] pkdash commented on #3070
The management command for migrating model instance resources has been deployed as part of release 1.53. However, the migration command has not be executed on production. This issue will be closed once we run the management command to migrate model instance resources on prod.

[2022-03-07 20:09] pkdash commented on #3071
The management command for migrating model program resources has been deployed as part of release 1.53. However, the migration command has not be executed on production. This issue will be closed once we run the management command to migrate model program resources on prod.

[2022-03-07 20:47] devincowan commented on #3429
discussed today: The title on this issue is a bit misleading now.

- We will continue to redirect non-logged-in users to the login page.
- Will restore redirect after login, back to the resource landing page
- Users who are logged in but don't have access to a private resource will be able to see the owner and title info
- Published resources will be publicly available

[2022-03-07 21:54] devincowan opened #4537 "Non-users see resource info instead of redirect to login"
**Description of the bug**
If not logged in, a user visiting published, public OR DISCOVERABLE resources is NOT redirected to login.
Instead, user is shown all of the resource info except for the content (they can see Related Resources, Comments, How to Cite, authors, etc).
For example, try viewing this on a private/logged out browser: https://www.hydroshare.org/resource/844209cb8da943d5bec4cfa76f

[2022-03-07 22:01] devincowan commented on #4537
@dtarb this is the opposite problem from your original issue #3429.
Here browsers not logged into HS are NOT redirected to login when navigating to a resource that is public or discoverable.
Instead, they can see many of the details about the resource (not just the title and owner)

[2022-03-07 22:31] horsburgh commented on #4537
Doesn't public mean public? Shouldn't unauthenticated users be able to see the details of a public or discoverable resource? Isn't this by design?

[2022-03-07 23:13] #4458 closed

[2022-03-07 23:14] #4513 closed

[2022-03-08 01:13] devincowan commented on #4537
@horsburgh indeed, it was my thinking that public meant _public_ as in even unauthenticated users should be able to see the details of a public/discoverable resource. However today in discussion with the development team, I learned this is not the case (unless I misunderstood).

[2022-03-08 02:29] sblack-usu commented on #4537
I think there is a misunderstanding.  Unauthenticated users should be able to view a resource.

[2022-03-08 02:43] devincowan commented on #4537
Thanks for the correction Scott. I guess I crossed the wires.

[2022-03-08 02:43] #4537 closed

[2022-03-08 15:14] #4531 closed

[2022-03-08 16:13] pkdash opened #4538 "Remove Raster resource type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-03-08 19:10] devincowan commented on #3975
@martinseul and @Castronova I tested manually and also added to [a PR for our QA suite](https://github.com/CUAHSI/QA-AutomationEngine/pull/58/) and can confirm that this works now

[2022-03-08 19:10] #3975 closed

[2022-03-08 20:11] cbcunc opened #4540 "Update PostGIS"
### Abtract

This issue requests an upgrade of the PostGreSQL version used for Hydroshare's Django database server to the latest agreeable version.

### Action Items

- [ ] Agreement should be reached in the Monday morning HS developer conference call concerning the latest agreeable version of PostGreSQL {see [Version](#version)}.
- [ ] Consider in the developer call moving the project to the orga

[2022-03-08 22:39] #3073 closed

[2022-03-09 15:30] pkdash opened #4541 "Authenticated user should see content files for private resource that has private link sharing enabled"
**Description of the bug**
**TODO**: Update the nature of the bug.

An authenticated user doesn't see resource content files of a private resource if the resource has private link sharing enable and the users don't have access permission for the resource.

Steps to reproduce the bug:
1. Use the following steps to reproduce this bug.
2. Create a resource. Upload a file to the resource. Enable priva

[2022-03-09 15:34] devincowan commented on #4541
related to #3077

[2022-03-09 18:41] eclark-cuahsi commented on #2280
@sblack-usu and @pkdash  to review. thanks!

[2022-03-09 18:44] sblack-usu commented on #2280
Relevant code https://github.com/hydroshare/hydroshare/blob/develop/hs_core/hydroshare/users.py#L360-L391

[2022-03-09 19:16] eclark-cuahsi commented on #2789
Related to #2538

[2022-03-09 19:17] eclark-cuahsi commented on #3024
Related to #2538 and #3024

Discussed that this is a complex issue that would need to be carefully worked out.

[2022-03-09 19:18] eclark-cuahsi commented on #2538
Related to #2789 and #3024

Discussed that this is a complex issue that would need to be carefully worked out.

[2022-03-09 21:45] devincowan commented on #3077
@dtarb current production shows the following when someone navigates to a resource (be it private, discoverable, or public, or even published) that is owned by a user that has been inactivated:
![image](https://user-images.githubusercontent.com/17934193/157540774-32b52db8-22f2-488e-940d-0af334771e24.png)

I have pushed some proposed changes so that the page no longer shows a blank "owners" field a

[2022-03-10 12:19] dtarb commented on #4541
@pkdash @devincowan either I misunderstand what you are suggesting or I disagree.  If a resource has private link sharing enabled then anyone with the link, be they anonymous (the browser does not have an authenticated user logged in) or a logged in user, should be able to see the full contents of the resource.  Them having been given the link provides them access.  If we do not do this, it would

[2022-03-10 12:24] devincowan commented on #4541
@dtarb right that is what I was pointing out when I noticed the discrepancy (seeing LESS info when logged in vs not) here:
https://github.com/hydroshare/hydroshare/pull/4491#issuecomment-1062271972
I agree that logged-in users should be able to see _at least as much info_ as anonymous users

[2022-03-10 12:52] dtarb commented on #3077
@devincowan In general, accounts for SPAM users should be deleted, not made inactive.  Inactive accounts can be re-activated by the user through the password reset process but a deleted account is gone.  When an account is deleted, all its associated resources are deleted, resolving the problem as to what to do with them.  This is the preferred action for accounts we have definitively determined t

[2022-03-10 12:53] dtarb commented on #3429
@devincowan @martinseul There has been work to redirect users attempting to access private resources to login, under the assumption that when logged in they may have access to the resource.  I do not think we should do this as the assumption that the logged in user will have access is not always the case.  I think that instead we should change the messaging on the page display for private users

C

[2022-03-10 12:55] dtarb commented on #4537
See https://github.com/hydroshare/hydroshare/issues/3429#issuecomment-1064024149

[2022-03-10 13:17] devincowan commented on #3077
@dtarb I am supportive of your solution and appreciate your detailed explanation. Planning on revising accordingly...

[2022-03-10 17:21] pkdash commented on #4541
@dtarb and @devincowan I have made the changes based on today's comments. Both authenticated user and anonymous user will see the same information for a resource which has private link sharing enabled. This is deployed at new-testservices.hydroshare.org if you would like to test.

[2022-03-10 18:18] devincowan commented on #4541
@pkdash I just tested and it worked great! No longer a discrepancy between what an anonymous vs logged in user can see on a resource that has link-sharing enabled

[2022-03-11 16:57] devincowan commented on #3464
I believe this is fixed as of [1.53](https://github.com/hydroshare/hydroshare/releases/tag/1.53)
![image](https://user-images.githubusercontent.com/17934193/157912440-2c152b1b-b23b-48fc-8a9b-d98ac08afb14.png)

[2022-03-11 17:47] devincowan commented on #3464
Actually, looking closer it appears this styling hasn't been updated since before this ticket was created. It just appeared that it had been resolved because many of the group profiles have been filled substantially since this ticket creation.

I would suggest that we reduce the height devoted to the the Group Descriptions from 250px to something closer to 100px. Here is a sample of what that chan

[2022-03-11 18:30] #4066 closed

[2022-03-11 19:15] henrichsen commented on #4533
DRE is now up and running again.

The file (enddate_bounds.py) that updates the temporal and spatial bounds of the datasets failed for Grace for a few days. This means that that no values were inputted for Grace. I manually put in the bounds for Grace and the app started working again. There has been no issues with updating the bounds the last few days. I couldn't figure out why the file now runs

[2022-03-11 21:26] hyi commented on #4473
@dtarb I used an earlier database dated Jan. 16, 22 and tried to retrieve updated dates for those resources. Although dates looked better, I still see some similar issues for some resources. After looking into the database, I realized I was using ```updated``` field on resource object to retrieve updated date which appears to change more often than the real resource last updated date. So I updated

[2022-03-12 17:59] dtarb commented on #4473
@hyi I spot checked and the problem resources I was aware of appear to be fixed.  I am closing.  I do find myself wondering why there appear to be separate fields "Updated" and "date modified" with the date modified one evidently being what is displayed on the resource landing page.  I would encourage documenting this and the different purposes for these different fields in the code to avoid this

[2022-03-12 17:59] #4473 closed

[2022-03-12 21:53] dtarb commented on #3806
@devincowan @Castronova @martinseul sorry to just be bringing this up now while this is in review, but it may have been brought up before.  I would like to discuss setting reply to addresses associated with the emails that are sent from HydroShare.  I was reminded of this need, because I just received an email from someone who had been admitted to the CUAHSI compute group saying thank you.  This e

[2022-03-14 12:18] devincowan opened #4546 "setting reply to addresses associated with the emails that are sent from HydroShare"
I would like to discuss setting reply to addresses associated with the emails that are sent from HydroShare. I was reminded of this need, because I just received an email from someone who had been admitted to the CUAHSI compute group saying thank you. This email was sent to [hydroshare@cuahsi.org](mailto:hydroshare@cuahsi.org). It would have been better if it had gone to the person who approved th

[2022-03-14 12:20] devincowan commented on #3806
@dtarb makes sense to me I propose we address as a separate issue? Created one here:
#4546

[2022-03-14 12:25] devincowan commented on #4546
@Castronova @martinseul @dtarb I'm no email "expert" but one approach would be to continue to have emails generated by the Hydroshare ecosystem default with FROM = hydroshare@cuahsi.org but then set the REPLY TO = appropriate email for the user who should receive contact. This avoids the case where emails generated by the Cuasi domain would have a header indicating a FROM email with a different do

[2022-03-14 13:45] hyi commented on #4473
@dtarb I spent some time looking into this "updated" field on HydroShare resource model and found it is defined in a TimeStamped model which was inherited by Displayable model which was linked to Mezzanine pages. Since HydroShare resources are Mezzanine pages, all HydroShare resources have this updated field. For some reason, this updated field is updated more often that when HydroShare was really

[2022-03-14 15:52] devincowan commented on #3806
@ClaraCogswell I'm requesting your help for some messaging related to this issue.
I have an open PR here: #4544
Right now it requests "JUSTIFICATION" text when a user asks to join a group. The dev team suggested that you might have good suggestions for better messaging. Perhaps "explanation" or similar instead of "justification?"
![image](https://user-images.githubusercontent.com/17934193/15821013

[2022-03-14 16:03] ClaraCogswell commented on #3806
I agree this language is not welcoming/ does not suggest the collaborative environment that the groups functionality tries to promote. Maybe instead of "this group requires you to submit a justification" it could be "This group (requires/requests) an explanation of interest in membership, prior to membership request approval" and instead of "Justification" as the pop-up header, it can say "Explana

[2022-03-14 16:09] devincowan commented on #2313
@ClaraCogswell this Private Link Sharing feature will be included in our next release of HS. We need to update the documentation to include this info. This is Pabitra's implementation but I've done some testing around it so I'm familiar and would be happy to show you so that you can document? Thanks!

[2022-03-14 16:47] devincowan commented on #3806
thanks @ClaraCogswell that looks great to me!
I updated the wording: https://github.com/hydroshare/hydroshare/pull/4544/commits/fd2c94c60020da911f8e66363736a5b1af423621

[2022-03-14 18:11] hyi commented on #4473
@dtarb OK. I decided to check in the management command for future reference and added detailed comment about the difference between updated field and resource metadata dates to indicate updated field cannot be used to retrieve resource last updated date, and resource metadata dates should be used to retrieve that info instead. Have created a PR #4547 and asked @sblack-usu to code review to get it

[2022-03-14 23:10] #3053 closed

[2022-03-14 23:10] #4090 closed

[2022-03-14 23:11] #3451 closed

[2022-03-15 12:26] #2793 closed

[2022-03-15 14:21] ClaraCogswell commented on #4478
We think this feature addition would have several benefits, the feature would:
Display, by proxy, which resources the community is currently most interested in.
Highlight high impact content stored in HS.
Exhibit community engagement via HS.
Implicitly showcase a benefit to publishing content on HS (i.e. free community advertising of resources that are receiving attention).
Enhance the HS resource

[2022-03-17 02:10] mfergus1 opened #4548 "As a developer, I want to manage our postgres versions and preserve config"
Currently, the postgis container image is built from an existing hydroshare image. Currently, there is no way to build the existing image from scratch, which will allow future upgrade texting, and preserve/use the pg.development.sql seed as well as the configuration logic stores in hydroshare/conf_postgres.

Anticipated deliverables:
- local-dev.yml (dockercompose) includes build instructions for

[2022-03-18 13:37] aaraney commented on #4478
This feature could be integrated into the hydroshare ecosystem without introducing a large amount of code into the code base. The diagram below shows, at a high level, how this feature could fit in the existing ecosystem.

[code]

In this design, the top published resources service would be placed behind HydroShare's nginx http server via proxy. This would allow HydroShare, the website, to treat b

[2022-03-18 15:36] horsburgh commented on #4478
I think this functionality could be appropriate for the Home page, but I would vote for it not getting added to the My Resources page - or at least not as mocked up above.

I interact a lot with the My Resources page, and I don't want to have to wade through a section at the the top that I would rarely use to get to the actual functionality of the page. If we added functionality like this to the M

[2022-03-18 18:52] #3534 closed

[2022-03-18 18:53] #2806 closed

[2022-03-18 20:22] hyi commented on #4152
When looking into the test failures, I start to question whether we want to keep the current behavior with an extra nesting of folders since when creating a new folder to put unzipped files in, we have code to make sure the newly created folder is unique meaning it will not override any existing folder. If we remove this extra folder and directly unzip files in the same folder, the unzipped files

[2022-03-19 03:23] #4535 closed

[2022-03-21 13:07] devincowan commented on #4456
@dtarb @Castronova: we can either:
1. set group requests from deactivated users to `GroupMembershipRequest.redeemed=True` as @sblack-usu suggested on #4484
2. Or we can leave the requests open in the database but filter them based on `user_to_join_group.is_active`

The second option would ensure that re-activated accounts would still have their group requests, so those users would not have to re-r

[2022-03-21 14:01] Castronova commented on #4456
@devincowan Regarding option 1, would this mean that a user would be able to:

1.  request access to the group
2. deactivate their account
3. upon reactivation, they would now be a member of the group even through they were never formally admitted.

If so, I can see this being a potential issue.

[2022-03-21 14:06] devincowan commented on #4456
@Castronova **NO** a user would not be able to gain membership to a group after reactivation without approval.
Rather the flow would be:
1. request access to the group
2. request is pending with the group owner
3. deactivate their account
4. request is still pending in the db, but it does not show in the UI as an active request
5. upon reactivation, _the request is still pending with the group own

[2022-03-21 15:23] dtarb commented on #4530
@sblack-usu here is the google doc of Pabitra and my discussion of this https://docs.google.com/document/d/1Lc8VCkMf5FJPnZ15GtpJQgkbxlZ5gPTqR8pbCDYl9YU/edit

[2022-03-22 15:19] #4533 closed, assigned to danames

[2022-03-22 15:44] devincowan opened #4552 "group-containers display with variable width on small screens"
**Description of the bug**
For screens narrower than ~750px, cards displaying each group on the /groups/ page show with different widths depending on content.

Steps to reproduce the bug:
1. Navigate to [https://www.hydroshare.org/groups](https://www.hydroshare.org/groups)
2. Shrink your browser window until it is less than 750px wide
3. Scroll down the list until you find a group that doesn't hav

[2022-03-22 16:10] martinseul opened #4553 "Moving files or aggregations can leave resource in inaccessible state"
**Description of the bug**
we have had regular issues reported from user (Abby Lute) moving files around using the content browser. After initiating a move the resource becomes inaccessible and needs to be manually fixed by a developer.

**Scott** comment: An aggregation was moved but a file associated with the aggregation was not moved with it.  The process likely got interrupted before finishing

[2022-03-22 20:43] sblack-usu opened #4554 "Release Checklist 1.54"
### Issues in Release
- [x] #2806 @devincowan
- [x] #4473 @hyi
- [x] #4535 @pkdash
- [x] #4524 @pkdash
- [x] #3526 @devincowan
- [x] #4140 @devincowan
- [x] #4374 @devincowan
- [x] #2313 @pkdash
- [x] #2275 @devincowan
- [x] #4531 @pkdash
- [x] #3073 @pkdash
- [x] #4520 @sblack-usu
- [x] #3053 @devincowan
- [x] #4090 @devincowan
- [x] #3451 @devincowan
- [x] #2793 @devincowan
- [x] #4541 @pkdash
-

[2022-03-23 14:14] ClaraCogswell commented on #2313
What is the final decision on how quickly the link will expire? I need to know for documentation purposes. Once it is rolled out I can add screen shots of the button placement to the documentation

[2022-03-23 14:43] ClaraCogswell commented on #2313
The page is updated and ready to be deployed, I can either deploy it now or deploy it on Tuesday morning with the release, is there a preference?

[2022-03-23 15:43] #4530 closed

[2022-03-23 17:11] aaraney commented on #4478
@horsburgh, I should have noted that the mock-ups are purely proofs of concept; They are by no means set in stone. We hoped they could be used to get others on the same page when it came to this feature addition. I agree that we do not want to crowd the "My Resources" page. What are your thoughts on including the feature on the "My Resources" page in a collapsible panel that is by default collapse

[2022-03-23 17:29] martinseul commented on #4478
I agree with Jeff sentiment and also see the issue of adding additional elements to the current existing pages. This idea fits more into a concept we had discussed before and that we called "browsing" instead of "discovery", the use case for discovery is I'm searching for something specific while browsing is more show me what you have sorted by some form of criteria e.g. most downloaded or most re

[2022-03-23 18:53] devincowan commented on #3429
@dtarb this issue came up during private link sharing demo on today's HS call
Still in process, will be included in 1.55

[2022-03-23 19:01] dtarb commented on #3429
@devincowan thanks.  I recalled having discussed it and thought it may be in this release, but then did not see it and worried it have been in a previous release and regressed.  Good to know we are still on track.

[2022-03-24 17:03] devincowan opened #4556 "long lables overflow from "Manage Labels""
**Description of the bug**
Labels longer than ~65char overflow from the "Manage Labels" modal

Steps to reproduce the bug:
1. Go to My Resources
2. Add a label that is more than 65 char long
3. "Manage labels" and you will see that the label overflows its container
![image](https://user-images.githubusercontent.com/17934193/159971069-feaf2648-04da-494d-8fe5-27c014a543cc.png)

**Expected behavior**

[2022-03-24 18:32] pkdash commented on #4554
@sblack-usu Checklist item `4390 file based json api` should not be me to verify.

[2022-03-24 18:33] devincowan commented on #4554
@pkdash that was my bad, I thought it was your issue not one of @sblack-usu

[2022-03-24 19:31] sblack-usu commented on #4554
That one shouldn't even be in the release checklist, it was part of an earlier release.  It got picked up because the branch name in https://github.com/hydroshare/hydroshare/pull/4529 had a typo #4406->#4066

It is removed, sorry for the confusion.

[2022-03-28 12:58] devincowan opened #4559 "app tiles should have different responsive preakpoints"
**Describe the feature you'd like and what it will do**
For screens <1000px wide, the apps page shows only one app tile per row. This leaves a bunch of dead whitespace.
We should be able to fit two tiles and only scale to one tile when the screen width is smaller
<img width="895" alt="app" src="https://user-images.githubusercontent.com/17934193/160402819-7e1ea6b1-eb7e-40b6-aa74-29c5fa3e1973.png">

[2022-03-28 22:30] #3699 closed

[2022-03-28 22:30] #3464 closed

[2022-03-28 22:30] #3531 closed

[2022-03-28 22:30] #3806 closed

[2022-03-28 23:21] devincowan commented on #4527
@martinseul I've staged a draft of these modifications on [https://new-riverdev.hydroshare.org/](https://new-riverdev.hydroshare.org/) and requested review from Mauriel

[2022-03-29 02:04] hydrocheck opened #4560 "Private link sharing constrains/disrupts possible resource sharing scenarios"
**Description of the bug**
The static, unchangeable nature of private links creates some constraints for advanced access management.  Example scenarios:

1. User A makes a resource Public
2. Anyone on the internet bookmarks the page
3. User A makes the resource Private
4. User A now cannot use private link sharing, unless they accept the possibility of anyone on the internet having access

1. User

[2022-03-29 02:05] hydrocheck commented on #4560
This may be more of a "feature request", since QA of these potential workflows/scenarios uncovered no functional issues, but the results are seemingly suboptimal.

[2022-03-29 02:05] hydrocheck opened #4561 "Sharable link does not follow existing Editor role conventions"
**Description of the bug**

According to this definition, it should probably be possible for Editors to create and distribute a private sharing link, for Sharable resources.

Steps to reproduce the bug:
1. Create a resource
2. Make the resource sharable
3. Add an Editor
4. Login as the Editor and notice the lack of private sharing link option

**Expected behavior**
Editors can create and distribut

[2022-03-29 02:06] hydrocheck commented on #4554
1. https://github.com/hydroshare/hydroshare/issues/4561
2. https://github.com/hydroshare/hydroshare/issues/4560

[2022-03-29 14:38] #4456 closed

[2022-03-29 14:38] #4484 closed

[2022-03-29 17:31] hyi commented on #4553
The plan for fixing this issue is to add file/folder/aggregation move operation into async framework so that the move operation will not be interrupted. I'll work on adding the move operation into async framework for resolving this issue.

[2022-03-29 19:21] hyi opened #4565 "Handling file/folder name override properly for file/folder move operation"
Currently, if the destination folder to move file/folders to has the same file or folder name as the file/folder to be moved, iRODS will raise an exception of CAT_NAME_EXISTS_AS_DATAOBJ and the move operation will fail. There is not a flag to iRODS imv command that allows to override files/folders with same names, so we will have to handle this on Django side. Here is what I think we can do to han

[2022-03-29 22:06] martinseul opened #4566 "Integration with Geoconnex reference collections"
HydroShare aims to make Data FAIR (Findable, Accessible, Interoperable and reusable), The Findability depends on how well data is attributed with meaningful metadata. Currently the subject field is an open text field and the geography picker is limited to simple features like a point, line or bounding box. It has been a goal of the HS team to increase the quality of the metadata by providing a mor

[2022-03-30 16:21] devincowan opened #4568 "typo when editing published resource"
**Description of the bug**
![image](https://user-images.githubusercontent.com/17934193/160883188-0eb3334c-c88c-4fbd-b07b-c578291b9aad.png)

Steps to reproduce the bug:
1. Publish a resource
2. Edit the resource that you just published

**Expected behavior**
No typo

[2022-03-30 16:21] devincowan commented on #4568
related to #4498

[2022-03-30 16:23] devincowan commented on #4498
Updating to bring in line with our other messaging
![image](https://user-images.githubusercontent.com/17934193/160883844-c075a053-d583-4930-a545-6b1956cf9d6a.png)

[2022-03-30 17:07] devincowan opened #4570 "CZO controlled vocabulary Subject Keywords don't populate"
**Description of the bug**
The controlled vocabulary from http://vocabulary.odm2.org/ used to make type-ahead recommendations for Subject Keywords when editing a resource doesn't add the keyword when selected.
This occurred while demoing with @martinseul on production, I could not reproduce it on v.1.54 local dev setup.

Steps to reproduce the bug:
1. Login as a member of one of the CZO groups
2.

[2022-03-30 17:30] devincowan commented on #4570
Deemed lower priority and unable to reproduce so moving to backlog

[2022-03-30 20:15] devincowan opened #4571 "cache busting to prevent broken JS and styles on clients"
**Describe the feature you'd like and what it will do**
While looking into #4570 I noticed we perhaps don't have any frontend build pipeline.

**Why is this feature important?**
We might consider using a build process on the frontend to increase performance (by minimizing js and css and by setting long retention periods) and also to prevent js/html/css cache issues.

**Is your feature request rela

[2022-03-30 23:59] devincowan commented on #4570
@martinseul I just ran most recent versions of browsers and OS on Browserstack. All of them populate keywords for https://www.hydroshare.org/resource/5949aec47b484e689573beeb004a2917/
I still believe this is a cache issue. I created #4571 earlier today addressing--will add some more comments to that ticket
Screenshots:
<img width="1904" alt="osx_firefox" src="https://user-images.githubusercontent.

[2022-03-31 02:52] pkdash commented on #4524
This has been fixed in release 1.54 - so closing.

[2022-03-31 02:52] #4524 closed

[2022-03-31 03:00] pkdash commented on #4541
This has been fixed in release 1.54 - so closing.

[2022-03-31 03:00] #4541 closed

[2022-03-31 03:03] pkdash commented on #4554
@sblack-usu Verified and closed #4524 and #4541.

[2022-03-31 03:20] pkdash opened #4572 "Remove Geographic Feature Resource Type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-03-31 15:27] #4554 closed

[2022-03-31 15:36] dtarb commented on #4560
This relates to policy associated with Private Link Sharing.  See #2313 and #4561.  I do not see these examples as problems.

First example.  When the user made the resource public, it was open for anyone to access, or even download, and for those who did, it can not be retracted.

Second example.  This is similar.  User A did share the resource with user B, so they could have copied.

Third examp

[2022-03-31 15:40] sblack-usu commented on #4571
#3621 tackled this at one point but was later removed.  I'm not sure why.

[2022-03-31 16:03] martinseul commented on #3376
we don't support IE11 anymore, closing

[2022-03-31 16:03] #3376 closed

[2022-03-31 16:16] martinseul commented on #3056
I looked into this again for review and encountered an issue with deletion of an account:
![image](https://user-images.githubusercontent.com/5427742/161101871-ec5a9706-0d59-490a-9acf-16a7fe7e8a6d.png)
@hyi could you please take quick look at the account

[2022-03-31 16:17] aaraney commented on #4441
Yes, good catch, @martinseul. Sorry, I should have closed this earlier.

[2022-03-31 16:17] #4441 closed

[2022-03-31 16:22] #2662 closed

[2022-03-31 16:24] martinseul commented on #2641
looking at the recent discussions regarding the NWM Viewer this seems to be not relevant anymore, please re-open if I'm mistaken.

[2022-03-31 16:29] martinseul commented on #2023
closing this, it is stale we can reopen if needed

[2022-03-31 16:29] #2023 closed

[2022-03-31 16:30] martinseul commented on #1987
as the HIS system undergoes a modernization this does not apply anymore, closing

[2022-03-31 16:30] #1987 closed

[2022-03-31 16:38] martinseul commented on #1956
stale, closing

[2022-03-31 16:38] #1956 closed

[2022-04-01 13:23] devincowan commented on #4571
yes looks like django Freshly was creating issues [#3675](https://github.com/hydroshare/hydroshare/issues/3675)
it was removed in [#3678](https://github.com/hydroshare/hydroshare/pull/3678) and looks like the Freshly folks are no longer supporting
We could explore a different solution. I've only ever used build tools to accomplish this but the idea of a Django package is nice.
Looks like even our

[2022-04-01 15:04] devincowan commented on #4570
we are leaning toward not prioritizing this as a hotfix and solving the underlying cache issue instead

[2022-04-01 19:26] devincowan commented on #4571
we could consider [pipline](https://django-pipeline.readthedocs.io) for minification, but requires django > 1.11

[2022-04-01 19:41] horsburgh commented on #4566
This is a cool idea. I'm assuming this would be a new metadata element that we would need to sort through how to encode in the metadata and present on the landing page rather than overloading keywords or spatial reference, which, as you point out are not well suited for storing this type of specific feature information.

[2022-04-04 14:46] dtarb commented on #1930
@martinseul I'd like @hyi, @wclenhardt and @cbcunc to work out an overall iRODS plan.  A decision needs to be made as to whether we deprecate the  hydroshareuserZone at data.hydroshare.org or sustain and fill out its capability.  I think that once large file uploads are possible from systems like Box, Google Drive etc, that it could be deprecated.  I think there is still merit in having capability

[2022-04-04 14:53] dtarb commented on #4152
@hyi @martinseul Extra nesting of folders is really an inconvenience for users and sometimes results in resource corruption.  I think you should try and avoid it if at all possible.  As we have discussed I think there are better ways to handle name conflicts, like just cancelling or blocking the action and letting the user address the problem via renaming.  To inconvenience 98% of the use by extra

[2022-04-04 15:29] hyi commented on #4152
@dtarb @martinseul @sblack-usu The problem is mainly with looking into zip file to get file/folder listing has performance issues especially with large zip file with large amount of files/folders. It is a matter whether we want to look into zip files twice, once for file listing and once for unzipping which definitely has performance implications for the large zip file.

[2022-04-04 15:42] dtarb commented on #4152
How long does looking into it for listing only take.  I expect it could be quick.

[2022-04-04 15:54] hyi commented on #4152
It will depend on the zip file mainly on how many nested folders it will have and how many files in each nested folder. I can do some benchmarking using some big files if needed.

[2022-04-04 16:10] martinseul commented on #4566
@horsburgh I initially had thought we can reuse the place/area name field to keep changes to the data model at a minimum, but i'm open to a new metadata element if that is required. It would also depend on how we want to enable search for this as this enables better spatial discovery, also tagging @dtarb here as discussed.

[2022-04-04 16:18] martinseul opened #4580 "Hydroshare footer youtube link incorrect"
**Description of the bug**
clicking on the you tube link on the Hydroshare footer sends you to a index page
![image](https://user-images.githubusercontent.com/5427742/161587224-cb33ba06-7816-499b-84b1-21545847175b.png)

**Expected behavior**
the link should send you to a CUAHSI page, I would think it would be https://www.youtube.com/user/CUAHSI

**Additional information**
@ClaraCogswell if this is

[2022-04-04 16:33] hyi commented on #4152
@dtarb @martinseul @sblack-usu I just realized after our meeting that the zip file is stored in iRODS and iRODS does not provide ability to list files/folders recursively for a zip file. This means if we want to list files/folders recursively for a zip file, we will have to transfer zip file to Django server in order to do it which is definitely not a good idea due to the potential big size of the

[2022-04-04 16:39] hyi commented on #1930
@dtarb @martinseul @wclenhardt @cbcunc I agree if we have large file upload working to meet our requirement, we can deprecate iRODS HydroShare user zone and keep the iRODS browser functionality that allow users to browser files from another iRODS server such as Cyverse.

[2022-04-04 17:33] dtarb commented on #1930
@hyi part of this issue was the suggestion to download single files or the resource bag as a whole to another iRODS instance, such as Cyverse.  If this was possible, then we have all the functionality wanted with Cyverse and the enhancements in this issue would be met.  Is this possible.  What would it take?

[2022-04-04 17:36] dtarb commented on #4152
@hyi does iRODS provide the capability to non recursively just list the top level files in a zip file.  I'd be happy to do just a check on these and block unzipping  (or at the users option authorize unzipping with overwrite) if any one of those conflicted.  If there were no conflicts, then the unzip should just proceed silently.

[2022-04-04 17:51] dtarb commented on #4566
@martinseul  @horsburgh I am happy for you guys to figure this out, especially if another project is going to pay for this.  Here are some considerations

1. Should this be metadata at the resource level or the aggregation level.  It may be most sensibly associated with aggregations that are geospatial (rasters, features, multidimensional)
2. Should this be part of the spatial coverage element or

[2022-04-04 18:14] hyi commented on #1930
@dtarb What we will need to get single files or resource bag copied to another iRODS instance such as Cyverse is the iRODS credential and Cyverse iRODS info such as iRODS host, port, zone name, similarly to what we have for logging into iRODS. So we will need to have a iRODS login first before copying files or resource bag to another iRODS instance.

[2022-04-04 22:24] hyi commented on #4152
@dtarb Confirmed with Terrell that iRODS does not provide this capability. This is response from Terrell: ```iRODS does not know about things inside a zipfile - there are some codepaths that are aware of some types of files - but pretty sure there are limited/no tests around that.```

[2022-04-04 23:03] dtarb commented on #1930
@hyi yes.  Just as we can log in to iRODS to get files, I would imagine a similar approach to login to iRODS to put files.

[2022-04-04 23:29] dtarb commented on #4152
@hyi I am not the linux guru but looking a few things up what about unzip -l to list the files.  You could strip the front part off the names (before /) and get a unique set to get top level names or just get all the names and check for a name conflict.  Now I guess the problem is that the files are behind irods so this may require an irods rule, but really it does not seem this should be so hard.

[2022-04-06 20:44] horsburgh opened #4581 "Message authors and owners when they are added to a resource"
**Describe the feature you'd like and what it will do**

In our discussions with CZ Net data managers today, one of the data managers asked whether HydroShare can send a message to anyone that is added as an author or owner of a resource in HydroShare. Another option might be that people are notified when a resource is made public or when a resource is published. Not sure about when the right time

[2022-04-08 13:19] dblodgett-usgs opened #4582 "Intermitent 403 in cran checks?"
**Description of the bug**
In a CRAN package I maintain, a link to a hydroshare resource gets flagged as returning a 403 (Forbidden) intermittently. I have no way of reproducing this but am wondering if there is a more stable URL that a link checker will always get a 200 response from?

The resource URL in question: https://www.hydroshare.org/resource/6092c8a62fac45be97a09bfd0b0bf726/

CRAN check

[2022-04-08 14:32] #4498 closed

[2022-04-08 15:36] devincowan commented on #4566
@dtarb regarding examples of other systems that use Geoconnex, I found this list of publications:
https://github.com/internetofwater/geoconnex.us#geoconnexus-related-presentations-and-publications
which had me hopeful that maybe one of the other Internet of Water Hubs might be using Geoconnex. But I wasn't able to find any actual implementation.
Looks like @Castronova has contributed to the Geocon

[2022-04-08 15:44] martinseul commented on #4566
@devincowan there is the selfie project that Tony was involved in https://opengeospatial.github.io/SELFIE/demo/internet_of_water.html, Also adding a geographic term is especially useful for non geographic resources as many of our resources don't have geographic extent but still relate to a geographic unit so I would think the metadata term would be not just apply to geospatial aggregation but for

[2022-04-08 15:55] devincowan commented on #4566
Thanks @martinseul these use cases provide some good examples:
https://docs.ogc.org/per/20-067.html#DomainUseCases

And I see what you're saying about adding a geoconnex term even for resources that lack geographic extent, thanks

[2022-04-08 15:58] Castronova commented on #4566
@devincowan Take a look at this basic website I create as part of the SELFIE project. https://selfie.cuahsi.org/

[2022-04-08 17:11] horsburgh commented on #4566
If there is a way to use Geoconnex to add a place name to the geographic coverage element that could be useful. Alternatively, multiple place names could also be added as keywords.

@dtarb - makes a good point about whether these associations should be at the Resource or the Aggregation level. We should sort that out.

But, I would suggest that we avoid overloading the Keywords and Spatial Coverag

[2022-04-08 17:42] #4559 closed

[2022-04-08 17:54] devincowan commented on #4527
@martinseul this extended width is not deployed to https://beta.hydroshare.org

[2022-04-11 14:12] martinseul commented on #4566
I don't think there is a place in Geoconnex for geographic names but there is https://www.usgs.gov/faqs/what-geographic-names-information-system-gnis as well as google place API or https://www.geonames.org/ that would be options.

[2022-04-11 15:42] dtarb commented on #4527
Look at https://beta.hydroshare.org/apps/ - there is grey space around the App tiles that some may not like.

[2022-04-11 15:46] dtarb commented on #4527
In groups - also a style issue, but group tiles seem pretty big. https://beta.hydroshare.org/groups

[2022-04-11 15:51] devincowan commented on #4527
@dtarb re grey space:
thanks looks like the grey space around app tiles is true on production as well:
https://www.hydroshare.org/apps/
![image](https://user-images.githubusercontent.com/17934193/162779230-df543c92-9dbc-449a-962a-2830c79d51b6.png)
but you're right that the space becomes more noticeable as we stretch to greater width.
Luckily, this spacing is fixed in a separate PR that I just merg

[2022-04-11 16:08] devincowan opened #4587 "New deepdiff version causes build fail"
**Description of the bug**
@alvacouch noticed that develop is failing to build

Steps to reproduce the bug:
Publish a branch to HS github and you will see that CI build fails
Example:
http://ci.hydroshare.org:8080/job/hydroshare-pull-requests/5137/console

**Expected behavior**
Build should not fail

**Additional information**
Deepdiff upgraded on 4/10/22
https://github.com/seperman/deepdiff/commi

[2022-04-11 17:57] pkdash opened #4588 "Deleting a folder with the same name as an aggregation deletes the aggregation"
**Description of the bug**
When a folder is deleted it also deletes an aggregation if the aggregation name begins with the name of the folder that got deleted.

Steps to reproduce the bug:
1. Create a composite resource.
2. Add a text (e.g., test.txt) file. Make the file as a single file aggregation.
3. Create a folder (e.g., test) with the same name as the file you uploaded.
4. Delete the folder.

[2022-04-11 18:42] #4587 closed

[2022-04-11 22:15] dtarb commented on #4527
Re group tiles it was the overall size that struck me.  It does not seem a very efficient way of listing, but I am not necessarily a good judge.  It is not wrong, it really comes down to an issue of taste.  And the person with artistic flair is not me.  There are other style things that I do not like, now that I look at it more.  I am not sure if you want to hear about these, embedded scroll bars

[2022-04-12 12:57] #4552 closed

[2022-04-12 14:32] hyi commented on #4152
@dtarb @martinseul I chatted with Terrell about using iRODS iexecmd to run ```unzip -l``` to look into a zip file beforehand for potential file conflicts, and confirmed it can be done if we put unzip binary under ```/var/lib/irods/msiExecCmd_bin``` directory on the iRODS server. We chatted more on the use case and he advised against looking into zip file beforehand and suggested just go ahead to u

[2022-04-12 14:46] dtarb commented on #4152
I am happy for you to take this approach.

[2022-04-12 16:11] hyi commented on #4152
@martinseul Yeah, I am thinking to leverage the async notification we currently have since unzip and move operations will be done asynchronously.

[2022-04-12 18:18] devincowan opened #4590 "Group tiles have embedded scroll bars with white space below"
**Describe the feature you'd like and what it will do**
Use space within Group Tiles more efficiently

**Why is this feature important?**
It is difficult to find and learn about groups

**Is your feature request related to a problem? Please describe.**
@dtarb noticed that our use of space on Group Tiles is not very efficient
There are cases where a group has a long description with few members. Th

[2022-04-12 18:21] devincowan commented on #4527
@dtarb thank you I agree that the Group tiles are not optimal and created a separate issue #4590

[2022-04-15 14:12] pkdash opened #4592 "Improvements to NetCDF aggregation spatial coverage"
**Describe the feature you'd like and what it will do**
The following changes are needed:

- There are use cases where a netCDF file does not have to have spatial coverage so we should enable a resource to be made public without spatial coverage in netcdf aggregation.
- There are two coverage elements spatial reference and spatial coverage.  Spatial reference (CF convention) is the coordinate syst

[2022-04-15 15:45] pkdash opened #4593 "Remove Timeseries Resource Type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-04-15 16:39] devincowan opened #4594 "Release checklist 1.55"
### Issues in Release
- [x] #4553 @hyi
- [x] #2280 @pkdash
- [x] #2979 @pkdash
- [x] #4557 @sblack-usu
- [x] #4588 @pkdash
- [x] #4552 @devincowan
- [x] #4587 @devincowan
- [x] #4559 @devincowan
- [x] #4498 @devincowan
- [x] #4568 @devincowan
- [x] #4456 @devincowan
- [x] #4484 @devincowan
- [x] #3806 @devincowan
- [x] #3531 @devincowan
- [x] #3699 @devincowan
- [x] #3464 @devincowan
- [x] #4066 @

[2022-04-15 19:51] #2979 closed

[2022-04-20 00:49] #2280 closed

[2022-04-20 15:22] Maurier opened #4596 "Add new grant to list in footer"
**Describe the feature you'd like and what it will do**
As a request from @ClaraCogswell, the grant `1849458` needs to be added to the list of grants in the footer. This also needs to be updated for the footer used in the help pages.

[2022-04-20 19:02] henrichsen opened #4597 "Web App Connector cannot add Home page url"
**Description of the bug**
When creating or editing a web app connector, you cannot change the App Home Page URL field
Steps to reproduce the bug:
1. Create a new Web App Connector (name does not matter)
2. Type a valid URL into the metadata field "App Home Page URL"
3. Click on the Save Changes button
4. See error

**Expected behavior**
Saves metadata and Save successful message appears on top of

[2022-04-21 16:36] martinseul commented on #4580
@devincowan could you please look into this should be very easy.

[2022-04-21 16:38] ClaraCogswell commented on #4580
this is the correct place for it to link out to, the cuahsi youtube

[2022-04-21 17:21] dtarb commented on #3513
@pkdash it seems your Feb 1 comment is outlining a separate issue.  If that is the case, and since we have not heard specifics from @kjlippold , I suggest this issue be closed and the new items you raised be put in a new issue.  If there are still issues related to this issue, @kjlippold or @danames could re-open.

[2022-04-21 17:40] martinseul commented on #2602
@ClaraCogswell could you please check if this is still an issue or can be closed

[2022-04-21 17:44] ClaraCogswell commented on #2602
This can be closed. Some of the apps listen in the original post are no longer on https://www.hydroshare.org/apps/ but all apps on that page have help documentation.

[2022-04-21 17:44] #2602 closed

[2022-04-21 17:50] dtarb commented on #3550
Curious about status.  @Maurier would like to discuss on Developer call.  Potentially assign to @devincowan

[2022-04-21 18:11] devincowan commented on #4580
@ClaraCogswell you meant this right?
https://www.youtube.com/user/CUAHSI

[2022-04-21 18:18] martinseul commented on #4260
adding and update here from the email conversation:
Chris requested a new server from ACIS and worked with Ken to set up a new geoserver instance and configured it to be tied to beta. I went through testing and it behaves correctly (https://geoserver-beta-test.hydroshare.org/geoserver/web/) . Now we need to plan role out, which requires a registration of all spatial resources with the new server,

[2022-04-21 18:27] devincowan commented on #4566
Geoconnex API issue:
https://github.com/internetofwater/geoconnex.us/issues/156
has been resolved, so I think we are good to proceed with this.

I'm staging a prototype combobox here:
https://new-riverdev.hydroshare.org/
it only shows up on resource landing page when in edit mode.

For now I've just added this as a single element at the resource level--you will see it below the Spatial Coverage se

[2022-04-21 18:55] ClaraCogswell commented on #4580
yes!

[2022-04-21 19:07] devincowan commented on #4580
@ClaraCogswell this parameter is set in Mezzanine, should be located here:
https://www.hydroshare.org/admin/theme/siteconfiguration/1/change/#id_youtube_link
I don't think I have admin priv for mezzanine on production (or if I do, I didn't know it), but I think you do?

[2022-04-21 19:37] ClaraCogswell commented on #4580
I do! In that case I can fix it

Clara Cogswell (she/her)

Community Support Hydrologist, CUAHSI 

www.cuahsi.org<http://www.cuahsi.org/>  

Sign for CUAHSI news here<https://docs.google.com/forms/d/e/1FAIpQLSfGq_mSXeoCZh0dViLKG6M2GMUBblNEwjg9xeoQA3O7Ny_C8A/viewform?c=0&w=1>! 

________________________________
From: Devin Cowan ***@***.***>
Sent: Thursday, April 21, 2022 3:07 PM
To: hydroshare/hyd

[2022-04-21 20:09] #4580 closed

[2022-04-21 20:18] devincowan opened #4599 "long title overflows containers in groups"
**Description of the bug**
Creating a group title with a long string causes the string to overflow the container on both the group landing page and the groups explorer page.

Steps to reproduce the bug:
1. Create a new group with a title ~75char
2. Navigate to the group landing page and the Groups page
3. In both cases, the text overflows the containers
![image](https://user-images.githubuserconte

[2022-04-21 21:38] horsburgh commented on #4566
The screen shot is cut off, so I can't see how the user would interact with the landing page or how the information would be displayed. How does a user select Geoconnex features to add to their resource? Again - I think this information belongs under related resources. It isn't the same thing as spatial coverage. We could have a section on the landing page called "Related Geospatial Features" or s

[2022-04-22 13:35] martinseul commented on #4399
adding and update here from the email conversation:
Chris requested a new server from ACIS and worked with Ken to set up a new geoserver instance and configured it to be tied to beta. I went through testing and it behaves correctly (https://geoserver-beta-test.hydroshare.org/geoserver/web/) . Now we need to plan role out, which requires a registration of all spatial resources with the new server,

[2022-04-22 13:41] devincowan commented on #4566
@horsburgh thanks for the feedback! Here is a video of some interactions with the element:
https://user-images.githubusercontent.com/17934193/164724579-ca0f470c-2d74-43e5-a1e3-b0f592e89dcc.mov
You are correct that we are talking about "related geo features" and we are referencing them by the Geoconnex URI. I indicated those URIs and how they resolve in the video.

Really good question about the ul

[2022-04-25 14:28] devincowan commented on #4590
moving this to the backlog as it might be resolved with the work on #4372

[2022-04-25 14:34] #4599 closed

[2022-04-25 15:29] Maurier commented on #3550
I am in the process of rewriting this logic inside a Vue component which will make it more maintainable and easier to extend. So I will implement this change soon after.

[2022-04-25 15:37] devincowan commented on #4597
![image](https://user-images.githubusercontent.com/17934193/165123582-3cac80dd-7810-4890-94a5-eebd9ad770bd.png)

[2022-04-25 18:16] devincowan commented on #4597
@henrichsen can you verify that this is the error you encountered? Thanks
![image](https://user-images.githubusercontent.com/17934193/165123582-3cac80dd-7810-4890-94a5-eebd9ad770bd.png)

[2022-04-25 18:20] henrichsen commented on #4597
Yes this is the error encountered

On Mon, Apr 25, 2022 at 12:16 PM Devin Cowan ***@***.***>
wrote:

--

Neither a lofty degree of intelligence nor imagination nor both together go
to the making of genius. Love, love, love, that is the soul of genius.

-Wolfgang Amadeus Mozart

[2022-04-25 18:39] devincowan commented on #3996
On production, Firefox v99.0, the map clusters don't even render correctly in the first place, in addition to poor expansion
![image](https://user-images.githubusercontent.com/17934193/165152552-08c60740-126f-4a8d-95a3-4896eb13c7e9.png)

Also I don't see any "streamflow" hits in Tennessee (or anywhere East of Kansas for that matter) but perhaps that due to those resources not being shared with me

[2022-04-25 21:54] pkdash commented on #4592
@dtarb, @horsburgh and @Castronova Let me know if the changes listed above related to netcdf aggregation coverage metadata  seem reasonable. Here is a google doc that contains some additional notes about these changes:
https://docs.google.com/document/d/1wzofoyZREzucFrv_yYAYwTJqAnZdWLBHLb_0xA_JEdE/edit?pli=1

[2022-04-26 19:14] devincowan commented on #4065
@martinseul @Castronova I just reproduced this on production v1.54

[2022-04-26 20:46] devincowan commented on #4344
@aaraney I think it's because these Creator and Author names are mutable
They initially populate from the HS User Profile (with a comma)
But they can later be changed on the resource. See video:

https://user-images.githubusercontent.com/17934193/165389283-ef1ab0e8-a871-4034-9092-f08e0f82c4d5.mov

I'm told this is by design, so that the Author/Creator info on a given resource can be modified to fi

[2022-04-26 21:12] devincowan commented on #4344
@aaraney sorry, initial video got clipped. just edited it. LMK if this explanation fits what you observed and I will close

[2022-04-26 21:26] aaraney commented on #4344
Thanks for the explanation and demo, @devincowan! I concur with your example that this is likely what is happening. Given that of the 5149 resources I checked, 1928 resources contain a comma in the creator field and 3221 do not contain a comma, I suspect that at some point in time the behavior was the creator field did not include a comma by default. Either way, its a mild annoyance, but thanks fo

[2022-04-27 12:27] devincowan commented on #4344
Good point @aaraney I suspect the same thing. In fact, looking at the JSON you provided I optimistically thought we might be able to pin the change in default behavior to Jun/Jul 2019 but when I looked at the `date_created` I didn't see a consistent point where the format changed. Suppose it doesn't matter much at this point...
I guess one could use the [https://www.hydroshare.org/hsapi/userDetail

[2022-04-27 12:27] #4344 closed

[2022-04-27 12:54] devincowan commented on #4091
@dtarb @martinseul I don't get a timeout over a gigabit connection but loading 185 resources on production takes ~10sec which does feel like a long time.
Here is a performance profile:
https://share.firefox.dev/3EV5AwU
I don't have much experience reading these but there is jank slowing things up in our JS--specifically it looks like jQuery spends a lot of time building the table for the resources

[2022-04-27 13:36] dtarb commented on #4091
@devincowan I've put this on the agenda for a brief discussion on the call today.  It would be good for you, @Maurier, @sblack-usu, @alvacouch and @pkdash to put heads together and assess whether there is low hanging fruit to improve these performance issues.

[2022-04-27 13:52] #4597 closed

[2022-04-27 19:00] #4538 closed

[2022-04-27 19:10] devincowan commented on #4091
it is a good point that @alvacouch and others made that while there are some [slowdowns with the JS](https://share.firefox.dev/3KtD0Uw) our biggest issue is the delay in response before js even gets to work. Sounds like we might be able to make gains with the postgres queries/[annotations](https://github.com/hydroshare/hydroshare/blob/d633226430fd5a4f93d6aa137cb95ec7bbb088ad/hs_core/views/utils.py

[2022-04-27 22:37] pkdash commented on #4091
@devincowan  A long time ago (six months or so) I did some testing where I noticed there were about 14 queries per resource. So if we are listing 200 resources that would be 2800 queries.  At that time I did some code change for the purpose of testing and I was able to reduce the number of queries from 14 to  6 per resource. But I noticed only minor improvement to page load time.

[2022-04-28 19:34] devincowan commented on #4566
related to #3874

[2022-04-28 21:00] dtarb commented on #4592
See #2995 and address together

[2022-04-28 21:04] eclark-cuahsi commented on #3478
@martinseul to review per discussion on 4/28.

[2022-04-28 21:14] eclark-cuahsi commented on #4345
@ClaraCogswell can you please remove the  link to http://usagemetrics.hydroshare.org/ that is broken. Please connect with @martinseul  if you have questions.

[2022-04-28 21:33] eclark-cuahsi commented on #3056
@martinseul to provide an update per 4/28 meeting

[2022-04-29 12:56] ClaraCogswell commented on #4345
done

[2022-04-29 13:31] eclark-cuahsi commented on #4345
thanks @ClaraCogswell - can this be closed?

[2022-04-29 13:36] ClaraCogswell commented on #4345
Unless there is something you'd like the link replaced with, I think it can be closed

[2022-04-29 13:54] martinseul commented on #3056
@hyi so the deletion is not executed because the user has files in his account, this is not communicated to the user. Can we change the message that to either inform the user why the deletion was not executed or put up a warning that deletion of the account will also remove all related files and then delete diles and account. I prefer the second pathway to simplify deletion. It is common practice

[2022-04-29 14:02] martinseul commented on #3478
I doublechecked https://datasetsearch.research.google.com/ for entries referring to any dev-hs* machines that were there before and they seem to have all disappeared so I'm closing this ticket

[2022-04-29 14:02] #3478 closed

[2022-04-29 15:55] eclark-cuahsi commented on #4260
Moving from Selected Next for Development per discussion on 4/21. @martinseul to follow up with Dan.

[2022-04-29 17:33] eclark-cuahsi commented on #2368
Options should be investigated for how to resolve this, per issue review meeting on 4/28.

[2022-05-02 14:00] pkdash opened #4602 "Remove Reference Timeseries Resource Type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-05-02 14:51] devincowan opened #4603 "we should regularly check to ensure that our jsonld is compliant with schema.org"
**Description**
Schema.org updates their schemas (frequently?). We should make sure that we are still compliant.

Steps to reproduce:
1. Inspect the #schemaorg tag in the `<head>`

**Additional information**
Ideally we would do this on a regular recurring basis. Maybe quarterly?

[2022-05-02 14:59] horsburgh commented on #4603
@devincowan - this is by design. According to Schema.org, the citation element should contain "A citation or reference to *another* creative work, such as another publication, web page, scholarly article, etc.

https://schema.org/citation

It may seem counterintuitive, but we are using the citation element as Schema.org has specified it.

[2022-05-02 15:01] devincowan commented on #4603
got it thanks @horsburgh, I see now...

[2022-05-02 15:36] horsburgh commented on #4603
I know you closed this, but I think it's good to be looking closely at our Schema.org implementation. There are elements that are changing with Schema.org. In particular, I think I have recently seen some movement related to how funding information is expressed. It's important to make sure we keep our implementation current.

[2022-05-02 20:37] ClaraCogswell opened #4604 "Embed "How to" videos on the resource landing page to ease access"
**Describe the feature you'd like and what it will do**
This feature would create a minimal and unobtrusive but accessible link to the HydroShare how to videos

**Why is this feature important?**
This feature provides an accessible help option for those who either have trouble finding the help pages, or are visual learners and would prefer to watch short videos.

**Is your feature request related

[2022-05-02 20:50] martinseul commented on #4604
@ClaraCogswell we typically assign developers once it has been prioritized and is schedule to be worked on not when the issue is created so I removed assignments for now. It would also help if we can get a list of videos and the appropriate pages/UI elements to link to so we can keep track.

[2022-05-02 20:59] martinseul commented on #4603
@devincowan this is a good idea to keep track of this as it is changing.  There is a ESIP group https://wiki.esipfed.org/Schema.org_Cluster  involved in this  and they have a Github repo  https://github.com/ESIPFed/science-on-schema.org/blob/master/README.md maybe something to keep an eye out for. Do you have other suggestions on what else to do to keep informed? Can we have an automated test for

[2022-05-02 21:00] ClaraCogswell commented on #4604
I'll compile a list of relevant videos and placements and we can discuss on Wednesday

[2022-05-02 21:27] horsburgh commented on #4603
What would be really nice is if the ESIP group (or anyone else) had some validation tools that we could use. Right now, you sort of embed your Schema.org metadata in your pages and then cross your fingers and hope the major search providers are crawling it effectively.  I haven't checked recently to see if they have something like that.

[2022-05-02 21:31] martinseul commented on #4603
google has one https://developers.google.com/search/docs/advanced/structured-data

[2022-05-02 22:11] horsburgh commented on #4603
Yeah - the is useful. It will extract the schema.org metadata, present you with a view of it, and tell you if you have errors or warnings. I just tried it again and was happy that it shows 0 errors and 0 warnings for a HydroShare landing page. What it doesn't tell you is - does your Schema.org metadata conform to the ESIP SOSO recommendations or whether the way you have implemented the elements is

[2022-05-03 13:37] hyi commented on #4603
Here is another validation tool from DataONE https://github.com/datadavev/sonormal which I used for validation when implementing schema.org for HydroShare.

[2022-05-03 20:22] ClaraCogswell opened #4605 "Resource Landing page reports that a DOI is pending for 2 weeks, but the DOI is active."
**Description of the bug**
A user published a resource 2.5 weeks ago, and since then the "Note that the DOI will not be available until it has been registered and activated" message has remained. I have checked the DOI, it is registered and active. The pending publication message also still appears at the end of the generated citation/

Steps to reproduce the bug:
1. Go to https://www.hydroshare.o

[2022-05-03 20:41] martinseul commented on #4605
@devincowan could you please take a look at it. Please reach out to Hong if you have questions as she did the initial implementation I believe.

[2022-05-04 13:20] ClaraCogswell commented on #4605
Thank you Hong!

[2022-05-04 20:18] ClaraCogswell commented on #4604
![Mockuplandingpage](https://user-images.githubusercontent.com/90924476/166805501-0d44974c-3c1e-4551-88b8-b58f17551fd1.png)

Video Links:
Upload files: https://help.hydroshare.org/hydroshare-resources/content-types/time-series/
Change Sharing status: https://www.youtube.com/watch?v=_zfeUpyk0to&list=PLPG5Ed5L1SY664Lj7dQFBnVMTOrjO0cqa&index=7

Will make:
All about publication
Authors and owners
Open

[2022-05-04 21:10] horsburgh opened #4607 "Data Series Viewer App fails to open resource containing time series content"
**Description of the bug**
The Time Series Viewer App fails to open the time series aggregation in this resource:

https://www.hydroshare.org/resource/a849e17d66884e9b9cfe39b51a0d05d5/

It eventually just times out, but this leads me to wonder if there are maybe some rules that I don't know about related to how the App can open time series aggregations. Questions that come to mind:
1. Do time seri

[2022-05-04 22:09] pkdash commented on #4607
@horsburgh

I did some testing and it seems the Data Series Viewer app works in each of the above 3 cases.  For the case 3, though it displayed the data, I am not sure which timeseries aggregation it used.

[2022-05-04 23:39] devincowan commented on #4605
From what I can see, the[ celery task ](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tasks.py#L97) seems to be functioning. Martin and I were thinking that maybe this particular resource got skipped due to the power outage. But the celery task runs nightly at midnight so I don't see why it wouldnt have resolved the next night...

I thought just to be sure, we could find a pending

[2022-05-05 00:20] devincowan commented on #2637
I will add a filesize limit for the images. However I am inclined to agree with @sblack-usu. This[ performance profile](https://share.firefox.dev/383AVRS) for revisit load of https://www.hydroshare.org/groups shows some of the delays he mentioned

[2022-05-05 14:03] ClaraCogswell commented on #4605
I'm fine with closing!

[2022-05-05 17:24] pkdash commented on #4607
@horsburgh I was testing with a new resource. I too used the same SQLIte file in the new resource and did not see any issues with the data viewer app. I also tested the data viewer app with the resource you provided and was able to see the problem.

[2022-05-05 20:47] ClaraCogswell commented on #4604
That icon is just a mockup that I took form powerpoint, we'll likely need to make our own little video icon or use the youtube logo.

[2022-05-06 16:04] martinseul commented on #4604
agree to the icon change and I like the youtube icon idea this would be easily recognized. One think to consider is if we want to add a direct link to the appropriate page in the help documentation as we had mentioned through an icon we'd be adding more icons to the page.
In general we have an inconsistent way of providing information to users. we have

- this Info button
 ![image](https://user-im

[2022-05-06 20:09] #4588 closed

[2022-05-08 13:51] dtarb opened #4610 "Geoserver does not work for some shape files"
**Description of the bug**
For this public resource https://www.hydroshare.org/resource/615d426f70cc4346875c725b4b8fdc59/  the wfs and wms map services links return a 404 error
![image](https://user-images.githubusercontent.com/3456833/167299257-8817eb9b-2d8a-4a83-983e-2252e1b7ae05.png)

However for https://www.hydroshare.org/resource/cd0bc6f5a2e54247927128a85bc10c8a/ they work.

Steps to reproduc

[2022-05-08 19:21] martinseul commented on #4610
@dtarb I took a peak at it and it seems this resource did not get properly registered with the geoserver not sure why, there is a way through a jupyter notebook (part of the repo) to manually register it, so I got the necessary creds from HS and registered it. First time i did this, so I think everything is now as expected please take look and let me know if this works for you

[2022-05-08 22:43] dtarb commented on #4610
@martinseul thanks.  It did something.  I am able to click the WFS links but when I try load the data into ArcGIS pro the server is added but when I try add the data to a map I get the following error

<img width="570" alt="image" src="https://user-images.githubusercontent.com/3456833/167318833-a3c95b49-854b-4d98-a2f6-8d4cc1c538a6.png">

[2022-05-08 23:00] dtarb commented on #4610
On ArcGIS.com I get the following.  The layer loads but the table has 0 records.
<img width="480" alt="image" src="https://user-images.githubusercontent.com/3456833/167319378-ed4bd414-e709-4e1c-bd15-2e40a449e725.png">

[2022-05-09 15:28] ClaraCogswell opened #4611 "(time sensitive) User not able to make resource public despite fulfilling all requirements"
**Description of the bug**
This resource https://www.hydroshare.org/resource/6f3386bb4bc945028391cfabf1ea252e/ has all of the needed metadata and files be be made public but the public option is greyed out in the sharing status panel.

Steps to reproduce the bug:
1. Go to https://www.hydroshare.org/resource/6f3386bb4bc945028391cfabf1ea252e/
2. use the admin account to try to change the sharing sta

[2022-05-10 13:26] ClaraCogswell commented on #4611
I tried disabling private link sharing before submitting the ticket, sorry for not clarifying, and it dod not change the ability to make it public

[2022-05-10 13:32] devincowan commented on #4590
@dtarb what browser were you using?
I took a look at our Groups page (production v1.54) in Browserstack and don't see this issue:
![win10_ie11](https://user-images.githubusercontent.com/17934193/167640215-0d236cfe-0bff-455c-afb9-027557890735.png)
![edwin10_edge101](https://user-images.githubusercontent.com/17934193/167640295-91447973-6b59-49ac-bdc4-173000e3686c.png)

I'm not sure how it came to be

[2022-05-10 14:35] martinseul commented on #4611
Thanks @pkdash , what would be an appropriate statement for this license type (@ClaraCogswell please chime in here) and what is the purpose of the "statement" and does it need to be mandatory?

[2022-05-10 14:38] pkdash commented on #4611
@martinseul Some text from this link may work for the statement.
https://mit-license.org/?msclkid=b18d9718d06e11ecb5c2b5003264ae46

[2022-05-10 14:39] horsburgh commented on #4611
The purpose of the rights statement is so that people can specify their own license under which the content is released. This is the case when they select "Other" under "Select a license". If they select "Other", it means they don't want to use one of the Creative Commons licenses. When they select "Other", the statement should be mandatory because it is the license statement under which the resou

[2022-05-10 15:03] hyi commented on #4611
This all makes sense to me and agreed the statement should be mandatory when "Other" is selected for license. I now remember when I implemented schema.org to expose HydroShare for structured data search, I used statement or url to expose the license since statement could be empty. I remember at the time I looked at the code and found either statement or url is required, but not both. So code chang

[2022-05-10 20:32] ClaraCogswell commented on #4611
What is the timeline on being able to let the user know what has occured?

[2022-05-10 20:47] martinseul commented on #4611
As far as I understand the issue: if the user adds a statement e.g. https://mit-license.org/?msclkid=b18d9718d06e11ecb5c2b5003264ae46 it can be made public, this would get the user unstuck, we'll need to add a notification to inform the user that a statement is mandatory if you select "other" as a license to close the ticket

[2022-05-10 22:06] #4572 closed

[2022-05-11 12:54] devincowan commented on #4553
resolved in PR #4598

[2022-05-11 12:54] #4553 closed

[2022-05-11 13:59] #4594 closed

[2022-05-11 19:33] devincowan commented on #4566
@horsburgh thanks for the SchemaOrg info!
A [Thing](https://schema.org/Thing) can't be [About](https://schema.org/about) just any generic [Thing](https://schema.org/Thing).
Rather:
A [Thing](https://schema.org/Thing) can only be [About](https://schema.org/about) a [Thing](https://schema.org/Thing) this is an [Event](https://schema.org/Event), [CreativeWork](https://schema.org/CreativeWork), or [Co

[2022-05-11 20:51] horsburgh commented on #4566
@devincowan - I would prefer the "about" property rather than "citation" because it doesn't conflate GeoConnex features with other related resources like papers. Semantically, "about" makes more sense than "citation" too - the resource provides some information "about" the GeoConnex feature.

I think this statement isn't quite right:

Instead it should be:

In other words - a GeoConnex feature (Th

[2022-05-11 22:31] devincowan commented on #4566
@horsburgh thanks for the clarity and correction--that makes sense. Yes it would be nice to add more nuance than a generic `place` but I'm not sure how difficult it will be to coerce the Geoconnex types into corresponding Schema.org Places...

[2022-05-12 18:54] ClaraCogswell commented on #4604
All of the videos required for this have now been completed. They should be up on youtube in the next day or so.

[2022-05-13 15:47] ClaraCogswell opened #4620 "Publication attempt resulting in an error, on a very normal resource."
**Description of the bug**
Resource http://www.hydroshare.org/resource/d2a724a994b34fa3880ca21562912788 is unable to be published. The resource contains 1 rather small file and all needed metadata, but publication attempt results in the following page.
<img width="425" alt="Screen Shot 2022-05-13 at 11 44 45 AM" src="https://user-images.githubusercontent.com/90924476/168319654-12e5354f-3755-402b-a

[2022-05-13 19:23] #4590 closed

[2022-05-13 23:18] #4065 closed

[2022-05-15 21:06] dtarb commented on #4611
I see that this resource is now public.  For future reference a more direct answer would have been to have the user select one of the creative commons licenses.  The cc-by license is default, so the user likely created the issue by incompletely changing the license.  However how the user did this is still an issue as just trying a bit now I am unable to reproduce.  If I change the license to "othe

[2022-05-15 21:10] dtarb commented on #4610
Here is another resource where the WMS link fails https://www.hydroshare.org/resource/6f3386bb4bc945028391cfabf1ea252e/

[2022-05-16 12:22] ClaraCogswell commented on #4611
Dave, I will ask the user if they created it using the API

[2022-05-16 14:08] ksonda commented on #4566
We've recently become much more flexible in our JSON-LD generation and can add additional types to these reference features. For most hydrologic concepts we'd like to begin moving over to [HY_features defintions](https://defs.opengis.net/vocprez/object?uri=https%3A//www.opengis.net/def/schema/hy_features/hyf ). For census/administrative geographies I'm open to other things, maybe schema:Adminstrat

[2022-05-16 14:21] martinseul commented on #4610
I tried to manually re-register it and it throws an error and can't register the resource, it might have to do with it having nested structure a shp folder in a shp file, we'll need to investigate.  @kjlippold any insight here?

[2022-05-16 14:31] ClaraCogswell opened #4621 "Unable to take any action on a resource, cannot add authors, delete the resource, or share."
**Description of the bug**
After I changed the username of an account for a user who is turning over the account, she went to try to edit a resource the already existed, but found that all authors and owners were gone and she could not add any new ones. The content is not loading and in edit mode this occurs:
<img width="566" alt="Screen Shot 2022-05-16 at 10 27 38 AM" src="https://user-images.git

[2022-05-16 14:53] dblodgett-usgs commented on #4566
I would look at these contexts as a guide. https://opengeospatial.github.io/ELFIE/contexts/elfie-2/

If the thing we are documenting (a hydroshare item) is a dataset, then we are talking about creating landing/data content for a dataset in the context of [figure 2 here](https://docs.ogc.org/per/20-067.html#img_architecture) Looking above -- the NIR in this case is a digital object identifier -- bu

[2022-05-16 15:13] sblack-usu commented on #4620
Logs
[code]

[2022-05-16 15:31] sblack-usu commented on #4620
We most likely need to update urllib3.  We are currently on 1.24.3 which was released on May 2, 2019.  The current version is 1.26.9 and released on March 16, 2022
https://pypi.org/project/urllib3/1.24.3/#history

[2022-05-16 22:19] #3077 closed

[2022-05-16 22:19] #3429 closed

[2022-05-17 00:31] sblack-usu commented on #4620
A patch to fix this issue has been pushed to production.  Please try publishing the resource again.

[2022-05-17 13:01] ClaraCogswell commented on #4611
@dtarb the resource was created directly, not through the API

[2022-05-17 14:10] sblack-usu commented on #4621
Relevant console logs
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/35820390/168829186-eedea2d6-c3a3-427b-96ed-96c847cebf91.png">

I can see USERS_JSON defined on the page.
[code]

[2022-05-17 18:29] #4593 closed

[2022-05-17 19:17] pkdash commented on #4611
@dtarb

You can save the license providing only the url. Once the license is created this way, it won't be possible to make the resource public. This is a bug.  In metadata update logic we check the user has provided a value for either the url or the statement. However, when checking for metadata requirements for making the resource public, it checks that the license has a value for the statement.

[2022-05-18 13:43] dtarb commented on #4611
@pkdash Thanks for working out.  Can you please work with @ClaraCogswell to fix and settle on clear wording, error messaging and policy.  I suggest that when the license "other" is selected, that the Statement should be required, but URL optional.  The rationale for this is that a user may just want to add a statement giving the license that may not be associated with a URL somewhere, but if it is

[2022-05-18 13:50] dtarb opened #4624 "Remove redundant horizontal scroll bar below additional metadata on resource landing page"
The scroll bar below on each resource landing page is redundant and should be removed.

![image](https://user-images.githubusercontent.com/3456833/169055695-354ebcca-6754-4ed8-be18-948ddacf7810.png)

[2022-05-18 16:44] #4620 closed

[2022-05-18 18:15] horsburgh commented on #4566
Initial feedback about the implementation in the landing page shown in the demo today:

* We now have a Google Map element for spatial coverage and a leaflet map for the geoconnex features. Do we need to be using both on the same page?
* The section uses a lot of vertical real estate on the page, which means more vertical scrolling. Could we condense it so that the list of features shows up on the

[2022-05-20 20:02] ClaraCogswell commented on #4604
All videos are now up on the youtube channel

All about publication: https://youtu.be/vlVnWN5aUOk

Authors and owners: https://youtu.be/5rYQjvnRXlI

Open with: https://youtu.be/DNHmDDRH9nY

How to upload files: https://youtu.be/wTPGJY9-k18

How to change sharing status: https://youtu.be/_zfeUpyk0to

[2022-05-23 14:41] pkdash opened #4626 "REST endpoints needed for model aggregation"
The need for these additional endpoints were requested by the SWATShare app development team to make the SWATShare app to work at the model aggregation level. However, these endpoints should meet requirements of any new Web app that needs to work at the model aggregation level in the future.

Need the following three endpoints related to metadata template schema:
1. Get a list of model program met

[2022-05-23 14:54] martinseul commented on #4607
@danames can we discuss next steps in our next meeting

[2022-05-24 10:36] dtarb commented on #4621
@ClaraCogswell @martinseul there is no interface to change username in the user profile editing page.  I suspect this is by design because the system is not designed to support changes of username.  Did you change the username as an administrator in Mezzanine.  If you did this and this is what caused the problem, then we should not do this. I think you should change it back and we should inform al

[2022-05-24 10:41] dtarb commented on #4621
The way an account can be "turned over" if the new user does not like the old username should be to create a new account with the new name, transfer ownership of the resources to the new account, then delete the old account.  This is a few steps, rather than just 1, but it is a rare event so should not be onerous.  I think username is used as a unique account identifier pretty deeply throughout th

[2022-05-24 13:08] ClaraCogswell commented on #4621
I did change the username on Mezzanine, I was unaware that it had never been attempted. It is a changeable field, so I assumed it could be changed safely, since the actions you take to change it are the same as email or password. I will try changing the username back. I will need to inform the user first though as it may break any new resources she has made on the account since the username change

[2022-05-24 19:55] martinseul commented on #4561
after discussing this we decided on a policy as outlined [here ](https://docs.google.com/document/d/1d_m_ZfoF-kvELhpBhsRdfK8orrwaAO6ZYMBD1ADy7Gc/edit#heading=h.maxeeqwagsxo) that allows link sharing only at the owner level

[2022-05-24 19:55] #4561 closed

[2022-05-24 19:57] martinseul commented on #4560
after discussing this we decided on a policy as outlined [here ](https://docs.google.com/document/d/1d_m_ZfoF-kvELhpBhsRdfK8orrwaAO6ZYMBD1ADy7Gc/edit#heading=h.maxeeqwagsxo) that allows link sharing only at the owner level.

[2022-05-25 13:45] martinseul commented on #4605
This issue has reappeared and is now affecting additional resources going back to early May this is critical, @hyi, @devincowan could you please coordinate and look into a solution asap.

[2022-05-25 15:54] sblack-usu commented on #4605
https://github.com/hydroshare/hydroshare/pull/4628 - addresses the issue and should be deployed as a hotfix today.  There is a nightly job that looks at all pending resources and sets them as published after querying crossref.  The query to crossref fails.  This is NOT a call to publish the resource, it runs a GET to crossref to ensure the resource is published before setting the resource status f

[2022-05-25 16:57] devincowan opened #4630 "Geoserver update_web_services async task is failing"
**Description of the bug**
`update_web_services` Celery task is failing (and seems to have been for a while).
This function sends a resource id to the HydroShare web services manager
    application. Seems there is a key error and the Geoserver is not returning a json response

Steps to reproduce the bug:
Navigate to the celery worker task UI on production and search for the update_web_services ta

[2022-05-25 18:48] devincowan opened #4631 "better logging and monitoring for asychronous tasks"
**Describe the feature you'd like and what it will do**
We've had a few issues related to failing async tasks, like:
#4630
#4605
Celery tasks are failing but it seems there is inadequate logging and no monitoring/notification other than the Flower dashboards that we have to manually visit.
We should consider some sort of notification for failed async tasks so that we are aware of them.

**Why is t

[2022-05-26 14:31] #4611 closed

[2022-05-26 14:32] #3554 closed

[2022-05-27 18:56] devincowan commented on #4566
thanks @dblodgett-usgs and @ksonda for your comments/suggestions--very exciting to be collaborating on this.

Some of these will have to be implemented as part of a "phase 2" but I've attempted to address items that fall within current scope, as well as recommendations from @horsburgh in my next draft.

Deployed [here](https://new-riverdev.hydroshare.org/) it's a dev machine so you won't be able t

[2022-05-28 01:26] dblodgett-usgs commented on #4566
Mae my day with this one! So so happy to see this happening.

[2022-05-28 04:30] ksonda commented on #4566
Wow this is awesome.

[2022-05-31 00:26] dtarb opened #4633 "Version messages are incorrect for some published resources"
**Description of the bug**
The following resources have incorrect version messages.  I suspect this may relate to the changes/hotfix done to address #4605

Go to
https://www.hydroshare.org/resource/24f8275d882e4d40809ba901258c17ad/
At the top it says "An older version of this resource **DOI for this published resource is pending activation. is available**."  This makes no sense.  How can a resourc

[2022-06-01 20:46] devincowan commented on #4633
@dtarb thanks for this. Seems our problem is that the citation for a Related resource (including in this case, copies of a given resource) is set at the time that the resource is copied. So if that resource was pending publication at the time that it was copied/re-versioned, the "DOI pending publication..." string is permanently written into the relation. This isn't ever updated once the DOI is no

[2022-06-02 13:51] #4633 closed

[2022-06-02 23:59] devincowan commented on #4633
@dtarb thanks for checking, yes the [migration](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/migrations/0063_auto_20220601_2014.py) will handle the old resources in the db

[2022-06-03 13:10] devincowan commented on #4630
@martinseul and I took a look at this,
confirmed that the [update_web_services](https://github.com/hydroshare/hydroshare/blob/develop/hs_core/tasks.py#L634) function is indeed failing...

[2022-06-03 15:57] pkdash opened #4640 "Remove Script Resource Type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-06-03 16:22] martinseul commented on #4548
is related to https://github.com/hydroshare/hydroshare/issues/4540 closing

[2022-06-03 16:22] #4548 closed

[2022-06-04 20:47] dtarb opened #4641 "Deprecated resource types need to be removed from Contributions tab in profile"
The profile page contributions tab depicts the following

![image](https://user-images.githubusercontent.com/3456833/172024892-19230976-d544-4557-91a3-c8b9103b2da2.png)

All resource types except Composite, Collection and Web App are deprecated.  The following changes are needed
- Rename "Composite resource" to "Resource"
- Change filters to identify resources that hold valid aggregation types
- C

[2022-06-06 15:26] cbcunc commented on #4399
Migration plan: https://docs.google.com/document/d/1Qn75mYarTEnS_mQolJZci-WRPaQnF9kiqi-AaRhWD0k/edit?usp=sharing

[2022-06-06 15:50] devincowan opened #4642 "Release Checklist 1.56"
### Issues in Release
- [x] #4527 @devincowan
- [x] #4538 @pkdash
- [x] #3429 @devincowan
- [ ] #4571 @devincowan
- [x] #3077 @devincowan
- [x] #4572 @pkdash
- [x] #4593 @pkdash
- [x] #3554 @pkdash
- [x] #4590 @devincowan
- [x] #4065 @devincowan
- [x] #4611 @pkdash
- [x] #4633 @devincowan
- [x] #2637 @devincowan

### Beta Deployment
- [x] Diff RC to master to identify and manually make changes in

[2022-06-07 20:41] ClaraCogswell commented on #4446
I can easily enough go in and change the voiceover to indicate that if they are launching for the first time, they will be asked to join the group. I am confused by the context of this issue, is he referring to the open with video and that is where it is not clear?

[2022-06-07 22:30] #2637 closed

[2022-06-08 17:18] devincowan opened #4646 "Firefox doesn't show Discovery map clusters"
**Description of the bug**
![image](https://user-images.githubusercontent.com/17934193/172677636-425c6f6f-8513-4aa1-b973-f22be8694307.png)
Numbers are shown without cluster images on the Discover map, for recent (> v99.0 were tested) Firefox.
Related to #3996

Steps to reproduce the bug:
1. Using Firefox, open Discover and zoom around --note that the numbers for clusters show, but the images dont.

[2022-06-08 17:19] devincowan commented on #3996
I opened a new issue for the Firefox bug #4646

[2022-06-08 19:45] horsburgh opened #4648 "Add "similarTo" to the list of relationship types for related resources"
**Describe the feature you'd like and what it will do**
A clear and concise description of what you want to happen.

A data manager for one of the CZNet projects has requested that we add a new relationship type to the list of relationship types for adding related resources. Here is the term we need:

Term: similarTo
Human Readable: The content of this resource is similar to

Unfortunately, I don'

[2022-06-09 15:52] devincowan commented on #4566
Brief progress update:
I've implemented query of Geoconnex collection items based on Hydroshare Resource spatial extent--this finds Geoconnex items that overlap with our point/box coverage and populates both a selection list and a map. Selected Geoconnex items populate HS metadata and are displayed on the resource page.

Next step: prototyping different proposed mechanisms for HS users to select s

[2022-06-09 17:42] Castronova commented on #1774
related to #1021

[2022-06-09 17:50] imanmaghami commented on #4422
@pkdash Verified. Closing.

[2022-06-09 17:50] #4422 closed

[2022-06-09 17:55] Castronova commented on #2369
same as #1271

[2022-06-09 18:03] eclark-cuahsi commented on #975
Closing per backlog review on 6/9. Overlaps with #976

[2022-06-09 18:03] #975 closed

[2022-06-09 18:05] eclark-cuahsi commented on #1304
closing per backlog review meeting on 6/9/22. stale.

[2022-06-09 18:05] eclark-cuahsi commented on #1555
Closing per backlog review meeting on 6/9/22. stale.

[2022-06-09 18:06] eclark-cuahsi commented on #1645
Closing per backlog review meeting on 6/9/22. in progress through other work.

[2022-06-09 18:06] #1645 closed

[2022-06-09 18:07] eclark-cuahsi commented on #1755
Closing per backlog review discussion on 6/9/22. discovery work is happening has part of the CZ Net work. this can be revisited if needed.

[2022-06-09 18:07] #1755 closed

[2022-06-09 18:11] eclark-cuahsi commented on #1842
Closing per backlog review discussion on 6/9/22. Large file upload should address this in a different way. This issue can be reopened if needed.

[2022-06-09 18:11] #1842 closed

[2022-06-09 18:12] eclark-cuahsi commented on #1931
Closing per backlog review meeting on 6/9/22. Reopen if needed.

[2022-06-09 18:12] #1931 closed

[2022-06-09 18:13] eclark-cuahsi commented on #1984
closing per backlog review meeting on 6/9/22. a work around is downloading the data and uploading it to hydroshare.

[2022-06-09 18:13] #1984 closed

[2022-06-09 18:14] eclark-cuahsi commented on #2120
closing per backlog review meeting on 6/9/22. can address wording in specific error messages individually.

[2022-06-09 18:14] #2120 closed

[2022-06-09 18:16] eclark-cuahsi commented on #1213
closing per discussion in backlog review meeting on 6/9/22. resource owners can delete comments if needed, and comments can also be reported to help@hydroshare.org. additional functionality to report comments will not be prioritized at this time as the comments are not a highly used feature.

[2022-06-09 18:16] #1213 closed

[2022-06-09 21:03] ClaraCogswell commented on #4604
what is still required for this is an icon for the videos, we have been discussing whether we want to create our own icon or use the youtube logo.
@horsburgh do you know what was entailed in using the youtube logo at the bottom of the page?

[2022-06-09 21:59] pkdash opened #4650 "Bag download is not working for Collection resource"
**Description of the bug**
Clicking the button to download the bag for a collection resource, redirects to a new page with some download progress information in the case where the bag file needs to be regenerated.

Steps to reproduce the bug:
1. Create a collection resource. Add a resource to the collection.
2. Click on the button "Download All Content as Zipped Bagit Archive"
4. See you are re-di

[2022-06-10 12:43] hyi commented on #3929
I am closing this issue since the refactoring effort for this is big and we also have efforts toward hsmodels based approach ongoing in parallel which makes this refactoring effort not worthwhile.

[2022-06-10 12:43] #3929 closed

[2022-06-10 12:45] hyi commented on #3704
This refactoring effort is not worthwhile due to the ongoing efforts for hsmodels based approach. Closing.

[2022-06-10 12:45] #3704 closed

[2022-06-10 13:49] pkdash opened #4652 "Remove Model Program Resource Type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-06-10 13:50] pkdash opened #4653 "Remove Model Instance Resource Type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-06-10 13:52] pkdash opened #4654 "Remove SWAT Model Instance Resource Type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-06-10 13:52] pkdash opened #4655 "Remove MODFLOW Model Instance Resource Type"
This a deprecated resource type which needs to be removed from the code base. This issue is related to https://github.com/hydroshare/hydroshare/issues/3129

[2022-06-10 14:52] ksonda commented on #4566
This is great. LMK if you run into performance issues on any of the reference features, I can look into it.

[2022-06-10 16:42] dtarb opened #4656 "Tighten wording on group membership request"
**Description of the bug**
The wording "Require members to provide explanation when requesting membership" should be changed to just "Require explanation when requesting membership" on the group details page.

![image](https://user-images.githubusercontent.com/3456833/173112437-87382ee1-9665-4f9f-abe6-23b825a9576a.png)

A person requesting membership is not yet a member, so as it stands this is lo

[2022-06-12 21:49] aaraney commented on #4610
The services for these resources are not work either. Im sure that I missed some, these are just (most) resources that have type `Geographic Feature (ESRI Shapefiles)`, so they should all have a wfs endpoint:

- [9034fa75324d46299984b681c54218e9](https://hydroshare.org/resource/9034fa75324d46299984b681c54218e9)
- [fc396f95ca8f40659161c16773d7a538](https://hydroshare.org/resource/fc396f95ca8f406591

[2022-06-13 03:36] hydrocheck commented on #3916
Closing with https://github.com/hydroshare/hydroshare/issues/4527

[2022-06-13 03:36] #3916 closed

[2022-06-13 12:04] hydrocheck commented on #3457
Other fields in the signup form also cause the whole form to be cleared upon failed validation (e.g., email field)

[2022-06-13 12:24] hydrocheck opened #4658 "The "SWATShare_old" Web App is prominently positioned, and detracts from a clean, professional apps page"
On https://www.hydroshare.org/apps/ and https://beta.hydroshare.org/apps/, "SWATShare_old" is the very first Hydroshare-approved web app.  Yet, the "_old" perhaps begs the question "where is the new one?", suggests a lack of maintenance, and contributes to a somewhat unprofessional apps page appearance.  Replacing with the new https://beta.hydroshare.org/resource/ff0b7076a37941e1af496e320d61ae31/,

[2022-06-13 12:25] hydrocheck opened #4659 "Whitespace reduction suggested on Home screen "Featured Apps" and "Additional CUAHSI Water Data Services""
Given the newer wider hydroshare container, the home page is exceptionally sparse around the "Featured Apps" and "Additional CUAHSI Water Data Services".  These could now seemingly be combined into a single row, or otherwise revised to reduce whitespace.

<img width="1440" alt="Bildschirmfoto 2022-06-12 um 11 37 20 PM" src="https://user-images.githubusercontent.com/43424907/173275072-e6a3c437-1ec4

[2022-06-13 12:25] hydrocheck opened #4660 "Reduce tab sprawl for Apps"
Clicking on "Apps" from the main menu opens a new tab, then each app on that page opens it's own new tab.  So, for example, opening any app creates three browser tabs.  Historically, clicking on "Apps" in Hydroshare did not open a new tab (before and after this click, you're still in Hydroshare) - so this proposal is effectively reverting a change (unknown regression?).  The new tab for clicking a

[2022-06-13 12:25] hydrocheck opened #4661 "Logging in for private resource viewing does not redirect to the desired resource"
Using the new private resource access workflow, logging in does not redirect to the desired resource.  This is a regression compared to previous behavior.  Creating a new account suffers from the same issue (seemingly due to the email verification workflow breaking the "?next=" query parameter workflow).  Aside - I would suggest adding an article to "Log in or create account" so that it becomes "L

[2022-06-13 12:26] hydrocheck commented on #4642
* https://github.com/hydroshare/hydroshare/issues/4658
* https://github.com/hydroshare/hydroshare/issues/4659
* https://github.com/hydroshare/hydroshare/issues/4660
* https://github.com/hydroshare/hydroshare/issues/4661

[2022-06-13 12:58] devincowan commented on #4660
Looks like navbar **Apps** is hard linked to production Hydroshare:
[navbar.html](https://github.com/hydroshare/hydroshare/blob/develop/theme/templates/includes/navbar.html#L294)
So it is possible that the 2nd tab will only be an issue observed on Beta?

[2022-06-13 13:03] #4656 closed

[2022-06-13 13:45] devincowan commented on #4661
#4662 resolves the "Login" redirect issue. @hydrocheck is correct: our email verification workflow prevents redirect after "Signup"

[2022-06-13 14:18] devincowan commented on #4659
Keeping the text and icons the same size:
![image](https://user-images.githubusercontent.com/17934193/173373973-1aabf6a3-f816-41c0-b79c-7b7ed65a9cd6.png)

Shrinking icons so that that everything can populate a single row:
![image](https://user-images.githubusercontent.com/17934193/173374327-c479cd81-526c-4bdc-85cd-e30085e0f233.png)

[2022-06-13 14:36] martinseul commented on #4610
Thanks Austin,
I looked through some of them and see that the list contains several "discoverable" resources for those the geoserver functionality is not available as, for now, only public/published resources have this functionality enabled as geoserver needs access to the content files. We do have a known issue for nested folders but others that should work do have an issue and we'll need to inve

[2022-06-13 15:29] devincowan commented on #4604
@ClaraCogswell here are some guidelines
https://www.youtube.com/howyoutubeworks/resources/brand-resources/#logos-icons-and-colors

[2022-06-13 16:51] devincowan opened #4665 "Download doesn't wait for rights statement confirmation"
**Description of the bug**
If a resource has "Require agreement to rights statement before downloading" checked, when a user attempts to download a bagit zip, a modal is shown with the rights statement. However, the download proceeds even without the user accepting the statement.

Steps to reproduce the bug:
1. Create a resource with some files
2. Check the "Require agreement to rights..." checkbo

[2022-06-13 16:52] devincowan commented on #4650
Related to https://github.com/hydroshare/hydroshare/issues/4665

[2022-06-13 18:19] #4659 closed

[2022-06-13 19:29] #4646 closed

[2022-06-13 20:04] #4661 closed, assigned to devincowan

[2022-06-14 03:01] horsburgh commented on #4604
@ClaraCogswell - I think @Maurier should be able to set us up with an icon to use for this.

[2022-06-14 03:10] Maurier commented on #4604
Noted. I'll work on this some time this week.

[2022-06-14 15:53] pkdash commented on #4091
Thanks @devincowan. We should get at least 30%-40% improvement in page load time for my resources. I am also applying the same optimization to resource listing in profile page.

[2022-06-15 04:35] devincowan commented on #4660
I stand corrected. At least as of v1.56, selecting navbar "Apps" does indeed open a new tab even on production

[2022-06-15 14:52] devincowan commented on #4571
we found issues with this during 1.56 deploy, so reopeneing

[2022-06-15 18:18] #4592 closed

[2022-06-16 12:28] #4642 closed

[2022-06-17 18:18] pkdash opened #4674 "Group listing performance improvements"
Currently it takes about 10 secs to list 130 groups. As more groups are added, the page load time will get worse. It seems there are opportunities to minimize number of queries needed for listing groups and hence improve page load time.

[2022-06-17 19:01] #4602 closed

[2022-06-17 19:03] devincowan commented on #4674
Related to #2637
PR https://github.com/hydroshare/hydroshare/pull/4672

[2022-06-17 20:37] devincowan opened #4676 "blank user profile images"
**Description of the bug**
I noted that there are some users for whom our templates attempt to load a profile picture that no longer exists.
Examples:
https://www.hydroshare.org/user/11139/
https://www.hydroshare.org/user/741/
https://www.hydroshare.org/user/4138/
https://www.hydroshare.org/user/4733/

![image](https://user-images.githubusercontent.com/17934193/174645178-e9f32fa6-dba0-4335-af9e-46

[2022-06-17 20:40] devincowan commented on #4676
related to #2637 and PR #4672
@hyi do you think these dangling images could be caused by [cleanup_profile_media_files](https://github.com/hydroshare/hydroshare/blob/develop/theme/management/commands/cleanup_profile_media_files.py)?

Or potentially related to recent collectstatic modifications...

[2022-06-17 20:42] devincowan commented on #4676
@Castronova have you noticed that [your profile image](https://www.hydroshare.org/user/11/) is blank before, or is this a recent development?

@ClaraCogswell I already asked you but LMK if you think [this changed ](https://www.hydroshare.org/user/11139/)recently...thanks!

[2022-06-17 21:06] Castronova commented on #4676
I've had several issues with my profile picture over the last couple of years. First it was rotated upside down. I replaced it with a different image, then one day it was just blank. I kind of just gave up on it because I figured the issue was only isolated to me. I'll replace my image again and let you know if something else happens.

[2022-06-17 21:10] devincowan commented on #4676
Sorry to hear the image woes @Castronova, almost sounds like someone was pranking. Appreciate the info, good to know that this likely popped up before our 1.56 release

[2022-06-20 16:43] martinseul commented on #4676
@devincowan Thanks, so seems no urgent need for a hotfix we'll role it out in a regular release

[2022-06-21 20:46] horsburgh opened #4679 "Incorrect display of message about authors"
**Description of the bug**

When I create a resource having only author(s) that are not HydroShare user(s), HydroShare does not display the author information but instead displays the following message:

![image](https://user-images.githubusercontent.com/3485902/174893230-e8bdf38c-0a4e-4d25-8897-4d4ea8e3da3a.png)

As the owner of the resource, I should be able to see the author information regardl

[2022-06-22 19:42] #4676 closed

[2022-06-22 20:21] devincowan commented on #2368
Related to @pkdash work on #4091

[2022-06-27 12:11] devincowan opened #4683 "use Django cached loader to store template content in memory"
**Describe the feature you'd like and what it will do**
We should consider using [Django's cached template loader](https://docs.djangoproject.com/en/3.2/ref/templates/api/#django.template.loaders.cached.Loader) to improve template loading performance.

Also https://docs.djangoproject.com/en/3.2/topics/cache/

**Why is this feature important?**
Using cache will reduce the backend burden when render

[2022-06-27 12:52] #4674 closed

[2022-06-27 14:27] devincowan commented on #4679
I'm to blame, introduced in PR #4576

[2022-06-27 15:14] #4660 closed

[2022-06-27 18:42] #4648 closed

[2022-06-27 19:52] devincowan commented on #4679
See related recommendations from previous issue that predated this regression:
https://github.com/hydroshare/hydroshare/issues/3077#issuecomment-1064022663

@horsburgh @zhiyuli thanks for flagging this issue--I've fixed the behavior
@horsburgh FYI I didn't fully remove the logic behind the message because there is a case where we need it: **when all of the authors of a resource are HS users whose

[2022-06-27 23:37] devincowan commented on #4679
@horsburgh thanks! I've allowed deactivated HS accounts to remain as authors. This required removing all links to their profiles and only showing the non-hs-specific author info after account deactivation.

[2022-06-28 14:51] horsburgh commented on #4679
@devincowan - that sounds like the right approach. Thanks!

[2022-06-29 17:36] martinseul commented on #1271
closing refers to https://github.com/hydroshare/hydroshare/issues/2369

[2022-06-29 17:36] #1271 closed

[2022-06-29 18:23] ClaraCogswell commented on #3067
Did this get done? @martinseul It seems like it has been done

[2022-06-29 18:39] ClaraCogswell commented on #3200
Check, are we compliant with cookie policies in Europe by not having this. CUAHSI will likely never monetize the site.

[2022-06-29 19:41] martinseul commented on #3067
I don't think so, @devincowan would you please take a looks should be straight forward

[2022-06-30 15:39] #4640 closed

[2022-06-30 20:02] horsburgh commented on #2368
@devincowan - I don't think making the search work only on the 40 resources on the current page makes sense. So, I wouldn't vote for that.

The Search box on the My resources page should search within the set of resources that appear on the My Resources page (if paginated, search should work within all of the pages). If there are filters set, then the search should work within the filtered resourc

[2022-06-30 23:20] #4571 closed

[2022-07-05 15:48] #4626 closed

[2022-07-05 16:38] ClaraCogswell commented on #4610
@ClaraCogswell Just want to keep track of this ticket so that I know when it has been resolved, was thinking of giving a fall webinar on this feature.

[2022-07-05 19:00] devincowan opened #4689 "Release Checklist 1.57.1"
### Issues in Release
- [x] #4699 @devincowan
- [x] #4571 @devincowan
- [x] #4626 @pkdash
- [x] #4679 @devincowan
- [x] #4648 @devincowan
- [x] #4660 @devincowan
- [x] #4676 @devincowan
- [x] #4661 @devincowan
- [x] #4646 @devincowan
- [x] #4659 @devincowan
- [x] #4565 @hyi
- [x] #4602 @pkdash
- [x] #4656 @pkdash
- [x] #4640 @pkdash
- [x] #4674 @pkdash
- [x] #4091 @pkdash
- [x] #4592 @pkdash
- [x]

[2022-07-05 19:42] pkdash opened #4690 "Web App Connector specific metadata editing UI is missing"
**Description of the bug**
When editing a web app connector, it's not possible to edit the metadata that are specific to web app connector like app url. The metadata editing UI doesn't show UI needed to edit the specific metadata. This is a regression bug.

Steps to reproduce the bug:
1. Create a Web App Connector.
2. In the edit mode of the Web App Connector, you will see the "Resource Specific'

[2022-07-05 21:26] devincowan opened #4692 "Supported aggregation types on Tool Resources are jumbled together"
**Describe the feature you'd like and what it will do**
![177413340-dcbbb74c-1f1f-4ed0-b995-931099531102](https://user-images.githubusercontent.com/17934193/177419019-087bb3f9-03fd-477d-9e89-7a4e03536271.png)

Related to #4690

When in VIEW mode, Supported aggregation types on Tool Resources are jumbled together when there are more than one.

**Why is this feature important?**
The aggregation type

[2022-07-05 23:24] #4690 closed

[2022-07-06 23:41] devincowan commented on #4689
@pkdash just running 3.1-3.3 on Beta took over 2hrs 45min.  3.4 and 3.5 took an additional hour
I think it's safe to say that the management commands in this release are going to take 3-4hrs to run
We can run them as a batch so that no one has to sit and watch them run. But you said we need maintenance page up. 4hrs is a long time... not sure what that will mean for our desired deployment time. I'

[2022-07-07 13:02] devincowan commented on #4689
@pkdash I also had the realization that we need to run the db migrations _AFTER_ we run the management scripts, don't we?

[2022-07-07 17:02] dtarb commented on #4689
I am OK with early morning ET.  I am also surprised by the length of time, but it is what it is.  4 hrs 5 am to 9 am is OK with me.

[2022-07-07 21:50] pkdash opened #4693 "Web App Connector URL patterns for aggregation and file need encoding of pattern key values"
**Description of the bug**
URL patterns used at aggregation and file level using keys such as `${HS_FILE_NAME}, ${HS_AGG_PATH}, ${HS_MAIN_FILE}, and ${HS_FILE_PATH}` currently the values used for these keys are not being encoded.
**Example**:
App Aggregation URL Pattern: `https://www.hydrolearn.org/${HS_RES_ID}?aggr-path=${HS_AGG_PATH}`

Aggregation path: `folder with space/netcdf_valid.nc`

For t

[2022-07-08 17:05] dtarb commented on #4693
This supersedes #3513.  Once this issue is closed, also close #3513 with a note that the creators can re-open if there are any remaining problems.

[2022-07-08 17:05] dtarb commented on #3513
See #4693.  If it has been closed it means this issue is ready to be closed too.

[2022-07-08 20:03] aaraney commented on #4610
@martinseul, sorry for the slow response. [Here](https://colab.research.google.com/drive/1zhMEr0r7Smb6vxydeY2mXu6ucIytvVBz?usp=sharing) is the google colab notebook that I put together to naively test if a resource has a working wfs link.

[2022-07-09 15:54] JianWangUSU opened #4695 "(BUG) Author order changed after clicking the view botton"
See screenshots below. It works fine when I only have 5 authors, but this time I have 12 authors. I use "drag and drop" to rearrange the author order in the editing mode, but after clicking the view button, the order changed. Tested in Chrome and MS Edge multiple times.

![1](https://user-images.githubusercontent.com/49882529/178112886-f8011d59-3d88-4f6e-ad26-c17ea12ba92c.png)
![2](https://user-im

[2022-07-10 17:35] JianWangUSU commented on #4695
Update: Now the author's order at the beginning and in the "How to Cite" section are different.

Link:   https://www.hydroshare.org/resource/59175cf99a58462f901cdf56ec79ddbe/

![Capture](https://user-images.githubusercontent.com/49882529/178155660-82b19641-a0b2-4c06-8a85-e4387c7c023c.PNG)

[2022-07-10 20:53] dtarb commented on #4131
@pkdash I tested this on https://cuahsi-dev-2.hydroshare.org/ where the PR is deployed and it appears to work correctly.

[2022-07-10 21:07] dtarb commented on #4610
@aaraney I tried this notebook, but get the following
![image](https://user-images.githubusercontent.com/3456833/178162123-1128e084-b6c6-4f46-8004-bb606c5fd976.png)

What am I missing?

[2022-07-10 21:24] aaraney commented on #4610
@dtarb, the script is pretty "as is". I just updated the notebook so it is now functional without finagling.

[2022-07-10 22:34] dtarb commented on #4610
@aaraney Thanks.  It works now.  I was looking at it as an example of a notebook processing resources because I have a list of model program/instance resources to check for the migration to composite resources and was looking at code to interrogate resource attributes.

[2022-07-11 13:10] devincowan commented on #4695
When I open [the resource](https://www.hydroshare.org/resource/59175cf99a58462f901cdf56ec79ddbe/) right now, the order of the two sections matches:
<img width="727" alt="image" src="https://user-images.githubusercontent.com/17934193/178271375-1ad80a16-2478-433e-8708-c38baa52e8ff.png">

<img width="713" alt="image" src="https://user-images.githubusercontent.com/17934193/178271435-12c194bd-a390-4e22

[2022-07-11 13:17] dtarb commented on #4695
The particular resource mentioned here is fixed, because I fixed it manually (at @JianWangUSU s request) by deleting authors then adding them in the order needed, and because they need to publish this resource in a hurry.  But the systemic problem that leads to the occurrence of this remains.

[2022-07-11 13:25] pkdash opened #4696 "Remove the Name field for Model Program Aggregation"
The 'Name' field which has a default value of 'Uknown Model Program' or 'Unknown Model Instance' is kind of redundant field as we also have the 'Title' field.

**NOTE**: This change will require a corresponding change in **hsmodels**

**Deployment Note**: The following management command needs to be executed:
`set_aggregations_dirty  --aggr_type  ModelProgramLigicalFile`

[2022-07-11 13:32] devincowan commented on #4695
Thanks @dtarb that's what I suspected, good to have confirmation. I'm looking into this...
Related to #4679 which is slated for fix in [1.57](https://github.com/hydroshare/hydroshare/tree/rc-1.57)

[2022-07-11 13:47] dtarb commented on #4695
Owner order is not a concept that we have to date attributed meaning to.  What is the reason for there needing to be an order in owners.

[2022-07-11 14:02] JianWangUSU commented on #4695
I got it. Thanks.

[2022-07-11 15:16] JianWangUSU commented on #4695
We have published all related resources. Thanks for your help again.

[2022-07-11 15:56] devincowan commented on #4689
## Our plan for deploy
1. We will run deploy of 1.56.1 with data_update Beta on Monday morning 7/18/22
2. We will take a snapshot of that beta deploy in v-sphere. We try to have this around "for a while" so that if issues crop up, we can compare (this is not meant to restore, this is a manual process)
3. On 7/19/22 pm ET, we will put up the maintenance page on production and snapshot production in

[2022-07-11 17:35] devincowan commented on #4689
[code]

[2022-07-11 18:32] devincowan opened #4699 "changing the order of authors breaks HS profile links"
**Description of the bug**
Changing the order of authors using drag/drop UI breaks HS profile links

Steps to reproduce the bug:
1. Create a new resource
2. Add a non-hs author to the resource
3. Use drag/drop to change the order of authors
4. The links to the HS profile for the original author will be broken

**Expected behavior**
Link shouldn't break

**Additional information**
Regression introd

[2022-07-11 20:34] devincowan commented on #4699
related to #4700 4695

[2022-07-11 23:58] #4699 closed

[2022-07-13 03:21] hydrocheck opened #4701 "Working image types, outside of the allowlisted file extensions, throws a generic error"
**Description of the bug**
When using an image that appears to work, but falls outside the allowlisted file extensions (e.g., .webp), the error handling is unusual.  The error thrown is "Error! Metadata failed to update "Could not parse the error message"", rather than the usual "Error! Failed to update metadata element 'toolicon'. ['Supported icon image types are png, gif, jpeg, ico, and svg']."

[2022-07-15 17:43] ClaraCogswell commented on #2489
Closing, stale, covered in other initiatives

[2022-07-15 17:43] #2489 closed

[2022-07-15 17:43] ClaraCogswell commented on #2591
closing, addressed

[2022-07-15 17:43] #2591 closed

[2022-07-15 17:44] ClaraCogswell commented on #2678
closing: stale, cosmetic, unlikely to allocate resources to this

[2022-07-15 17:44] #2678 closed

[2022-07-15 17:45] ClaraCogswell commented on #2706
Closing, stale

[2022-07-15 17:45] #2706 closed

[2022-07-15 17:46] ClaraCogswell commented on #2707
Closing, stale

[2022-07-15 17:46] #2707 closed

[2022-07-15 17:50] ClaraCogswell commented on #3052
Close: duplicate

[2022-07-15 17:50] #3052 closed

[2022-07-15 17:54] ClaraCogswell commented on #3147
Closing: cosmetic, low priority

[2022-07-15 17:54] #3147 closed

[2022-07-15 17:55] ClaraCogswell commented on #3322
Closing: not super feasible, low impact, much work ongoing on communities and groups, may be addressed or quickly become defunct giving ongoing work on communities.

[2022-07-15 17:56] ClaraCogswell commented on #3227
closing: stale, resolved

[2022-07-15 17:56] #3227 closed

[2022-07-15 18:01] ClaraCogswell commented on #3263
Closing: implemented

[2022-07-15 18:01] #3263 closed

[2022-07-15 18:02] ClaraCogswell commented on #3272
Closing: this is typical behavior, low impact

[2022-07-15 18:02] #3272 closed

[2022-07-15 18:03] ClaraCogswell commented on #3363
Closing, cosmetic, low impact

[2022-07-15 18:03] #3363 closed

[2022-07-18 15:39] Maurier opened #4704 "[Help pages] Update title of grid card"
We have a grid card that reads "Creating and Managing Resources", but the heading on the page itself reads “Uploading and Publishing Data and Models”.

@ClaraCogswell has requested that the card title be updated to "Uploading and Publishing Data".